<div class="nj_blogsidebar_control">
	<span class="nj_full_view" title="Full Page View">Full Page View</span>
</div>
<div class="njohn_blogsidebar_label" style="display: block;">
	<span>Search</span><a href="javascript:void(0);" nj="full-screen" title="Full Page View">Full Page View</a>
</div>
<div class="njohn_block-underline">
  <div class="njohn_blog_search_field">
	<form action="/search" method="get">
		<input type="hidden" name="type" value="article" />
		<input type="text" name="q" id="search" value="" maxlength="128" placeholder="SEARCH ARTICLE..">
		<button type="submit" title="" class="icon icon-search"></button>
	</form>
  </div>
</div>

{% assign blogs_name = settings.sidebar_blogs | split: ',' %}
{% if blogs_name.size > 0 and settings.sidebar_show_blogs %}
<div class="njohn_blogsidebar_label">
	<span>Lookbooks and News</span>
	<a href="/pages/lookbooks-and-blogs-table-of-contents" nj="toc"><span class="icon icon-list"></span></a>
</div>
<div class="njohn_block-underline">
  <ul nj-blog-list>
    {% for str in blogs_name %}
    {% assign word = str | strip | downcase %}
    <li>
    	<a href="{{ blogs[word].url }}">{{ blogs[word].title }} ({{ blogs[word].articles_count }})</a>
     </li>
    {% endfor %}
  </ul>
</div>
{% endif %}



{% if settings.sidebar_show_tags %}
<div class="njohn_blogsidebar_label">
	<span>{{ settings.sidebar_tags_title }}</span>
</div>
<div class="njohn_block-underline">
  
<!--   <div nj-search-tags>
  	<input type="text" placeholder="Search Tags">
  </div> -->
	<ul nj-tag-list>
	{% for tag in blog.all_tags %}
		<li>
          <a href="/blogs/{{ blog_handle }}/tagged/{{ tag.handle }}">{{ tag }}</a>
        </li>
	{% endfor %}
	</ul>
</div>
{% endif %}


{% if settings.sidebar_show_recent_blog %}


<div class="njohn_blogsidebar_label">
	<span>{{ settings.sidebar_recent_blog_title }}</span>
</div>

<div class="njohn_article_recentpost_container">
	{% for article in blog.articles limit: 60 %}
	<div class="njohn_article_recentpost_row">
		<div class="njohn_article_recentpost">
			<div>
				<a href="{{ article.url }}">
					<img alt="{{ article.title }}" src="{{ article.image.src | img_url: 'medium' }}" alt="">
				</a>
			</div>
			<div>
				<div>
					<a href="{{ article.url }}">{{ article.title }}</a>
				</div>
				<div>
					<div>
						<span class="material-icons">create</span> <span>{{ article.author }}</span>
					</div>
					<div>
						<span class="material-icons">access_time</span> <span>{{ article.published_at | date: "%B %d, %Y" }}</span>
					</div>
					<div>
						<a href="{{ blog.url }}"><span class="material-icons">folder</span> <span>{{ blog.title }}</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}