{{ 'blog.float.nav.css' | asset_url | stylesheet_tag }}
<nav class="cd-vertical-nav">
    <ul>
      <li><a href="javascript:void(0)"><span class="label">Full Page View</span></a></li>
      <li><a href="#"><span class="label">Shop Now</span></a></li>
      <li><a href="javascript:void(0)" nj-class="search_article_modal"><span class="label">Search Lookbooks/Blogs</span></a>
          <form action="/search" method="get" style="visibility: hidden;">
              <input type="hidden" name="type" value="article">
              <input type="text" name="q" id="search" placeholder="Search for Article" maxlength="128">
              <button type="submit">Search</button>
          </form>
      </li>
      <li>
        <a href="javascript:void(0)" nj-class="search_product_modal"><span class="label">Search for Products</span></a>
          <form action="/search" method="get" style="visibility: hidden;">
              <input type="hidden" name="type" value="product">
              <input type="text" name="q" id="search" placeholder="Search for Product" maxlength="128">
              <button type="submit">Search</button>
          </form>
      </li>
<!--       <li><a href="#"><span class="label">Show Tags</span></a></li> -->
      <li><a href="/pages/lookbooks-and-blogs-table-of-contents"><span class="label">Table of Contents</span></a></li>
    </ul>
  </nav><!-- .cd-vertical-nav -->


  <button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button>
  {{ 'blog.float.nav.js' | asset_url | script_tag }}