{% unless template == 'index' or template == '404' or template == 'search'%}
		{% include "njohn_wishlist_row" %}
          {% if template contains 'product' %}
		 <section class="breadcrumbs">
      	 <div class="container{% unless settings.show_line %} breadcrumbs-no-line{% endunless %}">
         <ol class="cd-breadcrumb triangle pull-left">
           <li><a href="/"><i class="simple-icon simple-icon-home"></i></a></li>
           {% comment %}
              {% if collection %}            
                  {% if collection.handle %}
                      {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
         			  <li><a href="{{ url }}">{{ collection.title }}</a></li>
                  {% endif %}
              {% endif %}

          	 <li class="current"><em>{{ product.title }}</em></li>
		  {% endcomment %}
           
           
           
           {% include "moto_breadcrumb" %}
           
           
           {% comment %}
          {% elsif template contains 'collection' and collection.handle %}
          <section class="breadcrumbs">
      	  <div class="container{% unless settings.show_line %} breadcrumbs-no-line{% endunless %}">
          <ol class="cd-breadcrumb triangle pull-left">
           <li><a href="/"><i class="simple-icon simple-icon-home"></i></a></li>
            
              {% if current_tags %}
                  {% capture url %}/collections/{{ collection.handle }}{% endcapture %}
          		  <li>{{ collection.title | link_to: url }}</li>
              {% else %}
          		  <li class="current"><span>{{ collection.title | capitalize }}</span></li>
              {% endif %}
		 {% endcomment %}
          {% elsif template == 'article' %}
          <section class="breadcrumbs">
      	  <div class="container{% unless settings.show_line %} breadcrumbs-no-line{% endunless %}">
          <ol class="cd-breadcrumb triangle pull-left">
          <li><a href="/"><i class="simple-icon simple-icon-home"></i></a></li>
            
              <li><a href="{{ blog.url }}">{{ blog.title }}</a></li>
              <li><span>{{ article.title }}</span></li>
          {% endif %}
           {% comment %}
          {% elsif template contains 'customers' and template != "customers/account" %}
          <section class="breadcrumbs">
      	  <div class="container{% unless settings.show_line %} breadcrumbs-no-line{% endunless %}">
          <ol class="cd-breadcrumb triangle pull-left">
           <li><a href="/"><i class="simple-icon simple-icon-home"></i></a></li>
          	  {% assign account = 'customer.account.title_main' | t %}
          	  <li>{{ account | link_to: "/account" }}</li>
          	  <li><span>{{ page_title }}</span></li>
      
          {% elsif template contains 'page' %}
           <li><a href="/"><i class="simple-icon simple-icon-home"></i></a></li>
          	  <li><span>{{ page.title }}</span></li>
		 
          {% else %}
              <li><span>{{ page_title }}</span></li>
          {% endif %}
           
          {% endcomment %}
        </ol>

      </div>
    </section>
  {% endunless %}