
{{ 'lightgallery.js' | asset_url | script_tag }}
{{ 'lightgallery-fullscreen.js' | asset_url | script_tag }}
{{ 'lightgallery-thumbnail.js' | asset_url | script_tag }}
{{ 'lightgallery-video.js' | asset_url | script_tag }}
{{ 'lightgallery-autoplay.js' | asset_url | script_tag }}
{{ 'lightgallery-zoom.js' | asset_url | script_tag }}
{{ 'lightgallery-hash.js' | asset_url | script_tag }}
{{ 'lightgallery-pager.js' | asset_url | script_tag }}

<!-- CONTENT section -->

  <div class="container">				
    <!-- title -->
    <div class="title-box">
      <h1 class="text-center text-uppercase title-under home_title">{{ 'cart.general.title' | t }}</h1>
    </div>
    <!-- /title -->
    {% assign countTires = 0 %}
    {% assign installDateShow = 0 %}
            {% for item in cart.items %}
                <script>console.log({{ item.product.type | json }});</script>
                {% assign tags_of_cartProd = item.product.tags | downcase %}
                   {% comment %}
                    {% if tags_of_cartProd contains '"accessories tires"' or tags_of_cartProd contains '"tires"'%}
                         {% assign countTires = countTires | plus: 1 %}
                    {% endif %}
                   {% endcomment %}  
                   
                   
                    {% if item.product.type == "Tires"%}
                         {% assign countTires = countTires | plus: 1 %}
                    {% endif %}  
            {% endfor %}
             <script>console.log({{ countTires }});</script>
    <form action="/cart" method="post" novalidate>    
      <!-- Shopping cart table -->
      <div class="container-widget">
        <div class="clearfix shopping-cart-btns">
          <a class="btn btn--ys pull-right btn-right" href="/">{{ 'cart.general.continue_shopping' | t }} <span class="icon icon-keyboard_arrow_right"></span></a>
          <a class="btn btn--ys pull-right btn-right" href="/cart/clear">{{ 'cart.general.clear_cart' | t }}</a>
        </div>
        <table class="shopping-cart-table">
          <thead>
            <tr>
              <th>{{ 'cart.label.product' | t }}</th>
              <!--                   <th>&nbsp;</th> -->
              <th>&nbsp;</th>
              <th>{{ 'cart.label.price' | t }}</th>
              <th>{{ 'cart.label.quantity' | t }}</th>
              <th>{{ 'cart.label.total' | t }}</th>
              <!--                   <th>&nbsp;</th> -->
            </tr>
          </thead>
          <tbody>
			
            {% assign has_pickup = false %}
            {% for item in cart.items %}
            {% assign inv_man = item.variant.inventory_management %}{% assign inv_qua = item.variant.inventory_quantity %}{% unless inv_man %}{% assign inv_qua = 100000 %}{% endunless %}{% if item.variant.available and inv_qua == 0 %}{% assign inv_qua = 100000 %}{% endif %}
            <tr id="item{{forloop.index}}">
              <td>
                <div class="shopping-cart-table__product-image">
                  <a href="{{ item.url }}">
                    <img class="img-responsive" src="{{ item | img_url: 'medium' }}" alt="{{ item.alt | escape }}"/>
                  </a>
                </div>
              </td>
              <td>
                {% if settings.pickup_sku_list contains item.sku %}
                <div class="line_info"><span class="eligible-pickup">Eligible for Pickup  <a href="javascript:void(0)" data-toggle="modal" data-target="#pickupCartModal"><i class="simple-icon simple-icon-info" style="vertical-align: middle;"></i></a></span></div>
                {% assign has_pickup = true %}
                {% endif %}
                {% if settings.pickup_only_sku_list contains item.sku %}
                <div class="line_info"><span class="pickup-only">Pickup Only  <a href="javascript:void(0)" data-toggle="modal" data-target="#pickupCartModal"><i class="simple-icon simple-icon-info" style="vertical-align: middle;"></i></a></span></div>
                {% assign has_pickup = true %}
                {% endif %}
                <h5 class="shopping-cart-table__product-name text-left text-uppercase">
                  <a href="{{ item.url }}">{{ item.product.title }}</a>
                </h5>
                <p>SKU: {{ item.sku }}</p>
                <div>Color: {{ item.variant.option1 }}</div>
                <div>Size: {{ item.variant.option2 }}</div>
                  {% if item.product.type == "Accessories Tires" or item.product.type == "Tires"%}
                        {% if countTires > 0 and installDateShow == 0 %}
                                <div class="divider divider--lg-1"></div>
                                {% render 'tire-installation-date' %} <!-- RENDER SNIPPET (tire-installation-date) FOR ADDING TIRE INSTALLATION DATE ON CART PAGE -->
                                {% assign installDateShow = installDateShow | plus: 1 %}
                        {% endif %}
                  {% endif %}  
                <ul class="shopping-cart-table__list-parameters">
                  <li class="visible-xs">
                    <span>{{ 'cart.label.price' | t }}</span>
                    <span class="price-mobile">{{item.price | money}}</span>
                  </li>
                  <li class="visible-xs">
                    <span>{{ 'cart.label.quantity' | t }}</span>
                    <span class="shopping-cart-table__input">
                      <input type="text" name="updates[]" id="updates_{{ item.id }}" data-id="{{ item.id }}" data-line="{{ forloop.index}}" class="form-control input-mobile" value="{{ item.quantity }}" min="1" max="{{ inv_qua }}">
                    </span>
                  </li>
                  <li class="visible-xs">
                    <span>{{ 'cart.general.subtotal' | t }}</span>
                    <span class="price-mobile">{{item.line_price | money}}</span>
                  </li>
                </ul>	
                <p></p>
                <div class="cart-item-option">
                  <a class="shopping-cart-table__delete pull-left" href="/cart/change?line={{ forloop.index }}&quantity=0"><b>Remove</b></a>
                  <span class="pull-left">&nbsp;&nbsp;<b>|</b>&nbsp;&nbsp;</span>
                  <a class="move-to-wishlist pull-left" href="javascript:void(0)"><b>Move To Wishlist</b></a>
                </div>
              </td>
              <td class="visible-xs">
                <a class="shopping-cart-table__delete icon icon-delete visible-xs" href="/cart/change?line={{ forloop.index }}&quantity=0"></a>
              </td>
              <td>
                <div class="shopping-cart-table__product-price unit-price">
                  <b>{{item.price | money}}</b>
                </div>
              </td>
              <td>
                <div class="shopping-cart-table__input">
                  <input type="number" name="updates[]" id="updates_{{ item.id }}" data-id="{{ item.id }}" data-line="{{ forloop.index}}" class="form-control input-desktop" value="{{ item.quantity }}" min="1" max="{{ inv_qua }}" title="{% if inv_qua < 100000 %}{{inv_qua}} {{ 'products.product.in_stock' | t }}{% else %}{{ 'products.product.many_in_stock' | t }}{% endif %}">
                </div>
              </td>
              <td>
                <div class="shopping-cart-table__product-price subtotal">
                  <b>{{ item.line_price | money }}</b>
                </div>
              </td>
              <!--                   <td>
<a class="shopping-cart-table__delete icon icon-clear" href="/cart/change?line={{ forloop.index }}&quantity=0"></a>
</td> -->
            </tr>
            {% endfor %}

          </tbody>
        </table>
      </div>
      <!-- /Shopping cart table -->
      
      
      <div class="divider--md"></div>
      <div class="row">
        
        {% if settings.shipping_calculator %}
        <div class="col-md-3">
          <div class="card card--padding">
            {% include 'shipping-calculator' %}
          </div>
        </div>
        <div class="divider--md visible-sm visible-xs"></div>
        {% endif %}
        
        <div class="col-md-{% if settings.shipping_calculator %}4{% else %}7{% endif %}">
          <div class="">
            <h4 class="offset-1">{{ 'cart.label.note' | t }}</h4>
            <p>{{ 'cart.label.note_text' | t }}</p>
            <textarea id="note" name="note" class="form-control" rows="4" style="max-width:100%;">{{ cart.note }}</textarea>
          </div>
        </div>
        
        <div class="divider--md visible-sm visible-xs"></div>
        <div class="col-md-5">
          <div class="checkout-details">
            <h5>Order Summary</h5>
            <table class="cart-table">
              <tbody>
                <tr id="subtotal">
                  <td class="text-left">{{ 'cart.general.subtotal' | t }}</td>
                  <td class="text-right">{{ cart.total_price | money }}</td>
                </tr>
<!--                 <tr id="tax">
                  <td class="text-left">{{ 'cart.general.shipping_total' | t }}</td>
                  <td class="text-right">{{ 0 | money }}</td>
                </tr> -->
              </tbody>
              <tfoot>
                <tr id="grandtotal">
                  <th>{{ 'cart.general.total' | t }}</th>
                  <th class="text-right">{{ cart.total_price | money }}</th>
                </tr>
              </tfoot>
            </table>
            <a href="/checkout" id="shipit" class="btn btn--ys btn--full btn--xl" style="display:none;">{{ 'cart.general.checkout' | t }}</a>
            <a href="javascript:void(0)" id="proceed-ship" class="btn btn--ys btn--full btn--xl">SHIP ORDER</a>
            {% if has_pickup == true %}<a href="javascript:void(0)" id="proceed-pickup" style="background-color:#fa6b6b;" class="btn btn--ys btn--full btn--xl">PICKUP ORDER</a>{% endif %}
          </div>
        </div>
      </div>
      
      
    </form>
  </div>

    <style>
      .pickupButton-pickupAndShipItems,
      .shipButton-pickupAndShipItems{
        display:none;
      }
    </style>
<!-- Pickup Confirm Modal -->
  <div class="modal fade" id="pickupConfirmModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="pickupButton pickupButton-pickupAndShipItems">
            <h5 class="modal-title" id="">Pickup Only</h5>
          </div>
          <div class="shipButton shipButton-pickupAndShipItems">
            <h5 class="modal-title" id="">Ship Only</h5>
          </div>
        </div>
        <div class="modal-body h5">
          <div class="text-center">
            <div class="nopickup">
              <h3>Hi! Your Cart doesn't have item(s) for PICKUP.</h3>
              <p>Please add some eligible for pickup items in your cart first.</p>
            </div>
            <div class="pickupButton-pickupAndShipItems">
              <h3>Hi! Your Cart contains item(s) for SHIPPING ONLY.</h3>
              <p>Hi.  Shipping Only Items will be Excluded from this Checkout and will Remain in Your Cart.</p>
              <p>Your Pickup Items in Fullerton Will be Processed</p>
            </div>
            <div class="noship">
              <h3>Hi! Your Cart doesn't have item(s) for SHIPPING.</h3>
              <p>Please add some eligible for shipping in your cart first.</p>
            </div>
            <div class="shipButton-pickupAndShipItems">
              <h3>Hi! Your Cart contains item(s) for PICKUP ONLY.</h3>
              <p>The PICKUP ONLY items won't be included in this order but will remain in your cart.</p>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="pickupButton-pickupAndShipItems text-center">
              <button id="proceedPickup" type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size: 1em; padding: 7px 20px;">Yes! I Understand.</button>
          </div>
          <div class="shipButton-pickupAndShipItems text-center">
              <button id="proceedShip" type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size: 1em; padding: 7px 20px;">Yes! I Understand.</button>
          </div>
          <div class="noship nopickup text-center">
              <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size: 1em; padding: 7px 20px;">Close.</button>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    {% include 'pick-up-in-store' %}