{% assign tags = settings.shopby_price_filter | split: ',' %}{% assign array = '' %}{% assign tag_lang = '' %}{% for tag in tags %}{% if tag contains '__' %}{% assign value = tag | split: '__' | first %}{% assign array = array | append: ',' | append: value %}{% assign value = tag | split: '__' | last | strip %}{% assign tag_lang = tag_lang | append: ',' | append: value %}{% else %}{% assign array = array | append: ',' | append: tag %}{% assign tag_lang = tag_lang | append: ',' | append: '_empty_' %}{% endif %}{% endfor %}{% assign tags = array | split: ',' %}{% assign tag_lang = tag_lang | split: ',' %}

{% assign open = '' %}{% if opentabs contains index %}{% assign open = 'open' %}{% endif %}

{% if settings.show_shopby_price_filter_open %}
	{% assign open_tab_now = "open" %}
{% endif %}

<div class="collapse-block {{ open_tab_now }} open price-filter-block" style = "display:none">
  <div class="collapse-block__content">
    <ul class="filter-list price-filter">
      <li>
        <a href=""></a>
      </li>
    </ul>
  </div>
</div>
{% for tag in tags %}
  {% if current_tags contains tag %}
  	{% assign pricetag = tag %}
  {% endif %}
{% endfor %}
<div class="collapse-block {{ open_tab_now }} open price-filter-block" data-collection-id = "{{collection.id}}">
  <h4 class="collapse-block__title ">{{ 'collections.sidebar.filter_price_title' | t }}</h4>
  <span id="price-tag-container"><a href="{{pricetag | replace: "$", ""}}"></a></span>
  <div class="collapse-block__content">
    <input type="text" class="js-range-slider moto_jslider" style = 'display:none' name="my_range" value="" data-min="0"/>
  </div>
</div>