{% assign open = '' %}
{% if opentabs contains index %}
	{% assign open = 'open' %}
{% endif %}

{% comment %}
{% assign name_collection = settings.sidebar_collection %}
{% endcomment %}

{% assign selected_collection = collections[name_collection].products %}
<!-- featured block -->

{% if settings.show_sidebar_collection_open %}
	{% assign open_tab_now = "open" %}
{% endif %}

<!-- <div class="collapse-block {% comment %} {{ open_tab_now }} {% endcomment %}coll-products-js"> //-->
  
<div class="collapse-block coll-products-js open">
  <h4 class="collapse-block__title">
    	{{ collection_name }}
    {% comment %}
    	{{ settings.show_sidebar_customhtml_label }}
    {% endcomment %}
  </h4>
  <div class="collapse-block__content coll-gallery"></div>
  <div class="coll-gallery-clone" style="display:none">
    <div class="vertical-carousel vertical-carousel-2 offset-top-10">
      {% if name_collection == blank %}
      	  "select collection"
        {% else %}
          {% for product in selected_collection limit: settings.sidebar_collection_display_number %}
           {% include 'product_small_item' %}
          {% endfor %}
      {% endif %}
    </div>
  </div>
</div>