<div class="collapse-block type-filter-block">
  <h4 class="collapse-block__title ">My Wishlist</h4>
  <div class="collapse-block__content">
			<div class="nj_wishlist_sidebar_list">
				<table>
					<tbody nj-empty style="display:none;">
						<tr>
							<td colspan="2">There are no items in your wish list.</td>
						</tr>
						<tr>
							<td colspan="2">To add an item, browse for a product and choose Add to Wish List.</td>
						</tr>
						<tr>
							<td>
								<a href="/">Return Home</a>
							</td>
							<td>
								<a href="/collections/whats-new">Shop Now</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
  </div>
</div>