{% assign tags = "Gender Men, Gender Women, Gender Girls, Gender Boys, Gender Adult, Gender Youth" | split: ',' %}
{% assign array = '' %}
{% assign tag_lang = '' %}
{% for tag in tags %}
{% if tag contains '__' %}
{% assign value = tag | split: '__' | first %}
{% assign array = array | append: ',' | append: value %}
{% assign value = tag | split: '__' | last | strip %}
{% assign tag_lang = tag_lang | append: ',' | append: value %}
{% else %}
{% assign array = array | append: ',' | append: tag %}
{% assign tag_lang = tag_lang | append: ',' | append: '_empty_' %}
{% endif %}
{% endfor %}
{% assign tags = array | split: ',' %}
{% assign tag_lang = tag_lang | split: ',' %}


{% assign open = '' %}{% if opentabs contains index %}{% assign open = 'open' %}{% endif %}

{% if settings.show_shopby_tags_filter_open %}
	{% assign open_tab_now = "open" %}
{% endif %}
<div class="collapse-block {{ open_tab_now }} open tags-filter-block">
  <h4 class="collapse-block__title">Gender</h4>
  <div class="collapse-block__content">
    <ul class="tags-list tag-filter filter-popup options-swatch--gender">
        
        {% assign tag_size = 0 %}
        {% for t in tags %}
          {% assign tag = t | strip | downcase %}
          {% assign all_tags = collection_all_tags %}
          {% assign checktag = '"' | append: tag | append: '"' %}
          {% if all_tags contains checktag %}
            {% assign size = 0 %}
      		{% if current_tags %}
      		{% assign totalProduct = collection.products_count %}		
      		{% paginate collection.products by totalProduct %}		
            {% for product in collection.products %}
              {% assign prod_tags = product.tags | downcase %}
              {% if prod_tags contains checktag %}		
                  {% assign size = size | plus: 1 %}	
              {% endif %}		
            {% endfor %}		
      		{% endpaginate %}
      		{% else %}
      			{% assign size = size | plus: 1 %}
      		{% endif %}
            {% if size > 0 %}
              {% assign tag_size = tag_size | plus: 1 %}
              {% assign cur_tags = current_tags | downcase %}
              {% capture class %}{% if cur_tags contains checktag %}active{% endif %}{% endcapture %}
              <li class="{{ class }}">
                {% capture string %}{% if tag_lang[forloop.index0] != '_empty_' %}{{ tag_lang[forloop.index0] | capitalize }}{% else %}{{ tag | capitalize }}{% endif %}{% endcapture %}
				<span class="filter-title">
                  {% if string == "Gender men" %}
                  {{ "Mens" | capitalize}}
                  {% elsif string == "Gender women" %}
                  {{ "Womens" | capitalize }}
                  {% elsif string == "Gender girls" %}
                  {{ "Youth Girls" | capitalize }}
                  {% elsif string == "Gender boys" %}
                  {{ "Youth Boys" | capitalize }}
                  {% elsif string == "Gender adult" %}
                  {{ "Unisex Adult" | capitalize }}
                  {% elsif string == "Gender youth" %}
                  {{ "Unisex Youth" | capitalize }}
                  {%endif%}

                </span><a href="{{ tag | handle }}"{% if class != '' %} class="clear-tag"{% endif %}>                 
                  {% if string == "Gender men" %}
                  {{ "Mens" }}
                  {% elsif string == "Gender women" %}
                  {{ "Womens" }}
                  {% elsif string == "Gender girls" %}
                  {{ "Youth Girls" }}
                  {% elsif string == "Gender boys" %}
                  {{ "Youth Boys" }}
                  {% elsif string == "Gender adult" %}
                  {{ "Unisex Adult" }}
                  {% elsif string == "Gender youth" %}
                  {{ "Unisex Youth" }}
                  {%endif%}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
          <script class='tag-filter-js-2'>
            jQuery(function ($) {
              if($( ".tags-filter-block .active" ).length > 0) {
                $(".tags-filter-block").addClass('open');
                $(".tags-filter-block").find(".collapse-block__content").show();
              }
              $('.tag-filter-js-2').remove();
            });
          </script>
        {% if tag_size == 0 %}
          <script id='tag-filter-js'>
            jQuery(function ($) {
              if($('.tag-filter').length > 0) {
                $('.tags-filter-block').hide();
              }
              $('.tag-filter-js').remove();
            });
          </script>
        {% else %}
          <script id='tag-filter-js'>
            jQuery(function ($) {
              if($('.tag-filter').length > 0) {
                $('.tags-filter-block').show();
              }
              $('.tag-filter-js').remove();
            });
          </script>
        {% endif %}
    </ul>
  </div>
</div>