{% assign pagination_limit_const = settings.pagination_limit | times: 1 %}{% assign supercollection = collection.products %}
{% capture collection_grid %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design == "left-right-sidebar" %}col-md-6 col-lg-6 col-xl-8{% else %}{% if settings.listing_page_design != "disable-sidebar" and settings.listing_page_design != "closed-sidebar"  %}col-md-8 col-lg-9 col-xl-9{% else %}col-md-12 col-lg-12 col-xl-12{% endif %}{% endif %}{% endcapture %}
{% capture product_grid %}		
{% case settings.products_in_column %}		
{% when 'three' %}col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-4		
{% when 'four' %}col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-3		
{% when 'fifth' %}col-xs-6 col-sm-4 col-md-6 col-lg-4 col-xl-one-fifth		
{% when 'six' %}col-xs-6 col-sm-4 col-md-4 col-lg-3 col-xl-2		
{% when 'nine' %}col-xs-6 col-sm-4 col-md-3 col-lg-2 col-xl-one-nine		
{% endcase %}		
{% endcapture %}
<div style = "display:none">{{collection.title}}</div>
<div class="container davz_width">
  <div class="row">

    {% if settings.listing_page_design != "disable-sidebar" %}
    <aside class="{% if settings.listing_page_design == "left-right-sidebar" %}col-md-3{% else %}col-md-4{% endif %} col-lg-3 col-xl-3 collection-list{% if settings.listing_page_design == "closed-sidebar" %} without-left-col{% endif %}" id="leftColumn">
      {% if settings.listing_page_design != "right-sidebar" %}<div class="move-height"></div>{% endif %}
      {% if settings.listing_page_design == "left-sidebar" or settings.listing_page_design == "closed-sidebar" %}{% include "collection-sidebar" %}{% endif %}
      {% if settings.listing_page_design == "left-right-sidebar" %}{% include "collection-sidebar-left" %}{% endif %}
    </aside>
    {% endif %}

    <aside class="{{ collection_grid }}" id="centerColumn">
      {% comment %}
      <div class="title-box"><h2 class="text-center text-uppercase title-under">{{ collection.title }}</h2></div>
      {% endcomment %}
      <div class="title-box">
        {% include "moto_collection_banner" %}
      </div>
      {% if settings.show_collection_description %}{{ collection.description }}{% endif %}
      {% paginate collection.products by 16 %}

      <div id="listing-point"></div>

      {% include "collection-tollbar" current_grid: 16 %}

      <!-- /filters row -->
      <div id="centerCol">
        <div class="product-listing row">
          {% if collection.products.size > 0 %}{% for product in collection.products limit: 16%}
          <!-- <div id="njohn_product_grid" class="col-xs-12 col-sm-4 col-md-6 col-lg-4 col-xl-one-fifth"> //-->
          <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
            {% include "njohn-product-grid-item" %}
          </div>
          {% endfor %}




          <style>
            .collection_products_display .title-box {
              display: none;
            }

            .collection_products_display .njohn-label_header .collection_label {
              font-weight: 800;
              font-size: 20px;
              color: black;
            }

            .collection_products_display .njohn-label_header {
              border-top: 1px solid #e5e5e5;
              margin: 70px 16px 0px 16px;
              padding: 20px 0px 30px 0px;
            }

            /* Collection Button */

            .collection-show-more-link a {
              border: 2px solid black;
              border-radius: 0;
              width: 300px;
              height: 50px;
              padding-top: 9px;
              background: black;
              border-radius: 4px
            }

            .collection-show-more-link a:hover {
              background: white;
              transition: .3s;
            }

            .collection-show-more-link a:hover span {
              color: black;
            }

            .collection-show-more-link a span {
              color: white;
              font-size: 15px;
            }
            .collection-show-more-link a span:after {
              font-family: "Material Icons";
              line-height: 29px;
              content: "\e409";
              position: absolute;
              font-size: 20px;
            }


            .collection-show-more-link {
              text-align: center;
              margin-top: 30px;
            }


          </style>
        </div> <!-- /product-listing row -->
      </div>
      {% else %}

      <!-- featured products -->

      <h3 class="text-center">Sorry, This Collection is Currently Empty</h3>

      <section class="content">


        {% assign collection_label = "Other products you might like:" %}

        <div class="njohn_product_grid_label" style="text-align: center; border-top: 1px solid #999; padding-top: 20px; margin-top: 20px;">
          <span>{{ collection_label }}</span>
        </div>


        {% include "home-product-grid" name_collection: 'whats-new' length: 20 access: 'true' %}
        <div class="text-center"><a href="collections/whats-new" class="btn btn--ys btn--xl obs_show_more_btn">Shop This Collection</a></div>


      </section>
      <!-- end featured products -->

      {% endif %}

      <div class="infinitybutton">
        {% if settings.enable_infinite_scroll %}
        {% if paginate.next %}
        <div class="show-more">
          <a href="{{ paginate.next.url }}" class="btn btn--ys btn--xl btn-custom1">
            {{ 'collections.toolbar.button_show_more' | t }}
          </a>
        </div>
        {% else %}
        {% if paginate.previous %}
        <div class="show-more" >
          <a class="btn btn--ys btn--xl disable btn-custom1">
            {{ 'collections.toolbar.button_show_more_disabled' | t }}
          </a>
        </div>
        {% endif %}
        {% endif %}
        {% endif %}
      </div>
      {% if settings.enable_infinite_scroll %}
      <div class="divider--lg visible-xs"></div>
      {% endif %}
      {% endpaginate %}
    </aside>

    {% if settings.listing_page_design != "disable-sidebar" %}
    {% if settings.listing_page_design == "right-sidebar" or settings.listing_page_design == "left-right-sidebar" %}
    <aside class="{% if settings.listing_page_design == "left-right-sidebar" %}col-md-3{% else %}col-md-4{% endif %} col-lg-3 col-xl-2 hidden-xs hidden-sm collection-list" id="rightColumn">
      <div class="move-height"></div>
      {% if settings.listing_page_design == "right-sidebar" %}<div class="sidebar-content">{% include "collection-sidebar" %}</div>{% endif %}
      {% if settings.listing_page_design == "left-right-sidebar" %}<div class="sidebar-content">{% include "collection-sidebar-right" %}</div>{% endif %}
    </aside>
    {% endif %}{% endif %}

  </div>
</div>

{% if false %}
<script>
  $j( document ).ready(function(){
    if($j(".collection-list").length == 0 ) {
      return false;
    }

    setTimeout(calcSidebarPosition, 300);
    window.onscroll = function() {
      if(window.innerWidth < 992 ) {
        $j(".move-height").css('height', 0);
        return false;
      }
      calcSidebarPosition();
    }
    $j(window).resize(calcSidebarPosition);
    function calcSidebarPosition() {
      if(window.innerWidth < 992 ) {
        $j(".move-height").css('height', 0);
        return false;
      }
      var scrolled = window.pageYOffset || document.documentElement.scrollTop;
      var start = $j(".collection-list").position().top;
      var last = $j("#listing-point").position().top;
      var stuckHeight = $j(".stuck-nav").height();
      var delta = Math.max(scrolled - start + stuckHeight + 20, 0);
      delta = Math.min(delta, last);
      $j(".move-height").css('height', delta);
    }
  });

  var refresh_handler = function(e) {
    window.addEventListener('scroll', refresh_handler);
    window.addEventListener('load', refresh_handler);
   console.log(window.addEventListener('load', refresh_handler));
      var elements = document.querySelectorAll("*[data-holder]");
      elements.setAttribute("id", "thisworks");
      elements.setAttribute("style","display:block; visibility:visible;");
      elements.setAttribute("style","opacity:1;");
      window.addEventListener('scroll', refresh_handler);
      window.addEventListener('load', refresh_handler);
    
  }
</script>
{% endif %}