{% assign tags = settings.shopby_vendor_filter | split: ',' %}
{% assign array = '' %}
{% assign tag_lang = '' %}
{% for tag in tags %}

{% if tag contains '__' %}
{% assign value = tag | split: '__' | first %}
{% assign array = array | append: ',' | append: value %}
{% assign value = tag | split: '__' | last | strip %}
{% assign tag_lang = tag_lang | append: ',' | append: value %}
{% else %}
{% assign array = array | append: ',' | append: tag %}
{% assign tag_lang = tag_lang | append: ',' | append: '_empty_' %}
{% endif %}
{% endfor %}
{% assign tags = array | split: ',' %}
{% assign tag_lang = tag_lang | split: ',' %}

{% assign open = '' %}
{% if opentabs contains index %}
{% assign open = 'open' %}
{% endif %}

{% if settings.show_shopby_vendor_filter_open %}
	{% assign open_tab_now = "open" %}
{% endif %}

<div class="collapse-block {{ open_tab_now }} open vendor-filter-block">
  <h4 class="collapse-block__title ">Brands</h4>
  <div class="collapse-block__content">
    <ul class="filter-list vendor-filter">
        
      		{% assign totalProduct = collection.products_count %}
      		{% paginate collection.products by totalProduct %}
        {% assign tag_size = 0 %}
        {% for vendor in collection.all_vendors %}
      	  {% assign tag = vendor | strip | downcase %}
          {% assign checktag = '"' | append: tag | append: '"' %}
            {% assign size = 0 %}
      		{% if current_tags %}
            {% for product in collection.products %}
              {% assign prod_tags = product.tags | downcase %}
              {% if prod_tags contains checktag %}
                  {% assign size = size | plus: 1 %}
              {% endif %}
            {% endfor %}
      		{% else %}
      			{% assign size = size | plus: 1 %}
      		{% endif %}
      		
      		{% comment %}
            {% assign vendors = "'" | append: tag | append: "'" %}
            {% assign vendo = vendors | handleize %}
            {% assign total_coll = collections[vendo].all_products_count %}
      		{% endcomment %}
      
            {% if size > 0 %}
            {% assign tag_size = tag_size | plus: 1 %}
      		{% assign cur_tags = current_tags | downcase %}
              {% capture class %}{% if cur_tags contains checktag %}active{% endif %}{% endcapture %}
              <li class="{{ class }}">
                <span> {{ page.url }} </span>
                {% if class != '' %}
                {{ tag | capitalize }}<a href="{{ tag | handle }}" class="clear-tag icon icon-clear icon-to-right"></a>
				{% else %}
                	<a href="{{ tag | handle }}">{{ tag | capitalize }}</a>
                {% endif %}
              </li>
            {% endif %}
        {% endfor %}
      		{% endpaginate %}
          <script class='vendor-filter-js-2'>
            jQuery(function ($) {
              if($( ".vendor-filter-block .active" ).length > 0) {
                $(".vendor-filter-block").addClass('open');
                $(".vendor-filter-block").find(".collapse-block__content").show();
              }
              $('.vendor-filter-js-2').remove();
            });
          </script>
        {% if tag_size == 0 %}
          <script class='vendor-filter-js'>
            jQuery(function ($) {
              $('.vendor-filter-block').hide();
              $('.vendor-filter-js').remove();
            });
          </script>
        {% else %}
          <script class='vendor-filter-js'>
            jQuery(function ($) {
              $('.vendor-filter-block').show();
              $('.vendor-filter-js').remove();
            });
          </script>
        {% endif %}
    </ul>
  </div>
</div>
