{% if settings.listing_page_design == "closed-sidebar" %}<a href="#" class="slide-column-close"><span class="icon icon-chevron_left"></span>{{ "general.menu.button_back" | t }}</a>{% else %}<a href="#" class="slide-column-close visible-sm visible-xs"><span class="icon icon-chevron_left"></span>back</a>{% endif %}

<div class="filters-block visible-xs">
  <div class="filters-row__select">
    <label>{{ 'collections.toolbar.sort_by_title' | t }}</label>
    <div class="select-wrapper">
      <select class="select--ys sort-position sort-select">
        <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
        <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
        <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
        <option value="created-ascending">{{ 'collections.sorting.date_ascending' | t }}</option>
        <option value="created-descending">{{ 'collections.sorting.date_descending' | t }}</option>
        <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
        <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
        <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
      </select>
    </div>
  </div>
  <div class="filters-row__select">
    <label>{{ 'collections.toolbar.grid_amount_title' | t }}</label>
    <div class="select-wrapper">
      <select class="select--ys">
        <option>{{ pagination_limit_const }}</option>
        <option {% if current_grid == 16 %}selected{% endif %}>16</option>
        <option {% if current_grid == 32 %}selected{% endif %}>32</option>
        <option {% if current_grid == 50 %}selected{% endif %}>{{ 'collections.toolbar.all' | t }}</option>
      </select>
    </div>
  </div>
  <a href="#" class="icon icon-arrow-down active"></a><a href="#" class="icon icon-arrow-up"></a> 
</div>

{% assign opentabs = settings.sidebar_opened_tabs %}
{% assign collection_all_tags = collection.all_tags | downcase %}
{% assign get_current_tags = current_tags | downcase %}
{% if settings.show_shopby_vendor_filter %}{% include "new-collection-sidebar-filter-vendor" with index:'5' %}{% endif %}
{% comment %}
{% if settings.show_shopby_type_filter %}{% include "collection-sidebar-filter-category" with index:'1' %}{% endif %}
{% endcomment %}
{% if settings.show_shopby_tags_filter %}{% include "collection-sidebar-filter-tags" with index:'6' %}{% endif %}

{% if settings.show_shopby_size_filter %}{% include "new-collection-sidebar-filter-size" with index:'3' %}{% endif %}
{% if settings.show_shopby_color_filter %}{% include "collection-sidebar-filter-color" with index:'4' %}{% endif %}
{% include "new-collection-sidebar-filter-category" %}
{% include "collection-sidebar-filter--gender" %}

{% if settings.show_shopby_price_filter %}{% include "collection-sidebar-filter-price" with index:'2' %}{% endif %}
{% include "njohn_collection-sidebar-recently-veiwed" %}

{% if settings.show_sidebar_collection %}
  {% assign collection_label = settings.show_sidebar_customhtml_label %}
  {% assign collection_select = settings.sidebar_collection %}
    {% if collection.handle == "hot-sales" or collection.title == "Hot Sales" %}
            {% include "collection-sidebar-poducts" with index: "7" name_collection: "whats-new" collection_name: "WHATS'S NEW!" %}
    {% else %}
            {% include "collection-sidebar-poducts" with index: "7" name_collection: collection_select collection_name: collection_label %}
    {% endif %}
{% endif %}

{% if settings.show_sidebar_customhtml %}{% include "collection-sidebar-customhtml" with index: "8" %}{% endif %}