{% assign open = '' %}{% if opentabs contains index %}{% assign open = 'open' %}{% endif %}

{% if settings.shopby_color_filter_border_open %}
	{% assign open_tab_now = "open" %}
{% endif %}

<div class="collapse-block {{ open_tab_now }} open color-filter-block">
  <h4 class="collapse-block__title">{{ 'collections.sidebar.filter_color_title' | t }}</h4>
  <div class="collapse-block__content">
    <ul class="options-swatch options-swatch--color options-swatch--lg color-filter filter-popup">
        {% assign tags = settings.shopby_color_filter | split: ',' %}
        {% assign tag_size = 0 %}
        {% for t in tags %}
          {% assign tag = t | strip | downcase %}
          {% assign all_tags = collection_all_tags | downcase %}
          {% assign checktag = '"' | append: tag | append: '"' %}
          {% if all_tags contains checktag %}
            {% assign size = 0 %}
      		{% if current_tags %}
      		{% assign totalProduct = collection.products_count %}		
      		{% paginate collection.products by totalProduct %}		
            {% for product in collection.products %}
              {% assign prod_tags = product.tags | downcase %}
              {% if prod_tags contains checktag %}		
                  {% assign size = size | plus: 1 %}	
              {% endif %}		
            {% endfor %}		
      		{% endpaginate %}
      		{% else %}
      			{% assign size = size | plus: 1 %}
      		{% endif %}
            {% if size > 0 %}
              {% assign tag_size = tag_size | plus: 1 %}
              {% assign cur_tags = current_tags | downcase %}
              {% capture class %}{% if cur_tags contains checktag %}active{% endif %}{% endcapture %}
              <li class="{{ class }}">
                <span class="filter-title">{{ tag | handle | camelcase }}</span><a href="{{ tag | handle }}"{% if class != '' %} class="clear-tag"{% endif %}><span class="swatch-label color-{{ tag | handle }}"></span></a>
              </li>      
            {% endif %}
          {% endif %}
        {% endfor %}
          <script class='color-filter-js-2'>
            jQuery(function ($) {
              if($( ".color-filter-block .active" ).length > 0) {
                $(".color-filter-block").addClass('open');
                $(".color-filter-block").find(".collapse-block__content").show();
                
              } else {
              	$('.color-filter-js-2').remove();
                return false;
              }
              
              $( document ).ready(function(){
                $(window).on("resize", placeTextColor);
                placeTextColor();
              });
              function placeTextColor() {
                var $block = $(".color-filter-block").find(".active");
                var $filter =  $block.find(".filter-title");
                var x = $block.position().left;

                $filter.css('position', 'relative');
                var textWidth = $filter.innerWidth();
                $filter.css('position', 'absolute');
                if(textWidth > $( ".color-filter-block .active a").width()) {
                  var w = x + textWidth;
                  w > $( ".color-filter-block").width() ? $filter.css('left', 'auto') : $filter.css('left', '0');
                }
              }
            });
          </script>
        {% if tag_size == 0 %}
          <script class='color-filter-js'>
            jQuery(function ($) {
              $('.color-filter-block').hide();
              $('.color-filter-js').remove();
            });
          </script>
        {% else %}
          <script class='color-filter-js'>
            jQuery(function ($) {
              $('.color-filter-block').show();
              $('.color-filter-js').remove();
            });
          </script>
        {% endif %}
    </ul>
  </div>
</div>