{% assign tags = settings.shopby_type_filter | split: ',' %}
{% assign array = '' %}
{% assign tag_lang = '' %}
  {% for tag in tags %}
    {% if tag contains '__' %}
      {% assign value = tag | split: '__' | first %}
      {% assign array = array | append: ',' | append: value %}
      {% assign value = tag | split: '__' | last | strip %}
      {% assign tag_lang = tag_lang | append: ',' | append: value %}
    {% else %}
      {% assign array = array | append: ',' | append: tag %}
      {% assign tag_lang = tag_lang | append: ',' | append: '_empty_' %}
    {% endif %}
  {% endfor %}
{% assign tags = array | split: ',' %}
{% assign tag_lang = tag_lang | split: ',' %}

{% assign open = '' %}{% if opentabs contains index %}{% assign open = 'open' %}{% endif %}

{% if settings.show_shopby_type_filter_open %}
	{% assign open_tab_now = "open" %}
{% endif %}

<div class="collapse-block {{ open_tab_now }} open type-filter-block">
  <h4 class="collapse-block__title ">Category</h4>
  <div class="collapse-block__content">
    <ul class="filter-list type-filter">
        
        {% assign tag_size = 0 %}
        {% for t in tags %}
      	
          {% assign tag = t | strip | downcase %}
          {% assign all_tags = collection_all_tags | downcase %}
          {% assign checktag = '"' | append: tag | append: '"' %}
      	
          {% if all_tags contains checktag %}
            {% assign size = 0 %}
      		{% if current_tags %}
      		{% assign totalProduct = collection.products_count %}		
      		{% paginate collection.products by totalProduct %}		
            {% for product in collection.products %}
              {% assign prod_tags = product.tags | downcase %}
              {% if prod_tags contains checktag %}		
                  {% assign size = size | plus: 1 %}	
              {% endif %}		
            {% endfor %}		
      		{% endpaginate %}
      		{% else %}
      			{% assign size = size | plus: 1 %}
      		{% endif %}
            {% if size > 0 %}
              {% assign tag_size = tag_size | plus: 1 %}
              {% assign cur_tags = current_tags | downcase %}
              {% capture class %}{% if cur_tags contains checktag %}active{% endif %}{% endcapture %}
              <li class="{{ class }}">
                {% capture string %}{% if tag_lang[forloop.index0] != '_empty_' %}{{ tag_lang[forloop.index0] | capitalize }}{% else %}{{ tag | capitalize }}{% endif %}{% endcapture %}
                {% if class != '' %}
                {{ string }}<a href="{{ tag | handle }}" class="clear-tag icon icon-clear icon-to-right"></a>
				{% else %}
                	<a href="{{ tag | handle }}">{{ string }}</a>
                {% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
     
          <script class='type-filter-js-2'>
            jQuery(function ($) {
              if($( ".type-filter-block .active" ).length > 0) {
                $(".type-filter-block").addClass('open');
                $(".type-filter-block").find(".collapse-block__content").show();
              }
              $('.type-filter-js-2').remove();
            });
          </script>
        {% if tag_size == 0 %}
          <script class='type-filter-js'>
            jQuery(function ($) {
              $('.type-filter-block').hide();
              $('.type-filter-js').remove();
            });
          </script>
        {% else %}
          <script class='type-filter-js'>
            jQuery(function ($) {
              $('.type-filter-block').show();
              $('.type-filter-js').remove();
            });
          </script>
        {% endif %}
    </ul>
  </div>
</div>
{%assign collectiontags = collection.tags %}
