{% assign tags = settings.show_sub_category_list | split: ',' %}{% assign array = '' %}{% assign tag_lang = '' %}{% for tag in tags %}{% if tag contains '__' %}{% assign value = tag | split: '__' | first %}{% assign array = array | append: ',' | append: value %}{% assign value = tag | split: '__' | last | strip %}{% assign tag_lang = tag_lang | append: ',' | append: value %}{% else %}{% assign array = array | append: ',' | append: tag %}{% assign tag_lang = tag_lang | append: ',' | append: '_empty_' %}{% endif %}{% endfor %}{% assign tags = array | split: ',' %}{% assign tag_lang = tag_lang | split: ',' %}

{% assign open = '' %}{% if opentabs contains index %}{% assign open = 'open' %}{% endif %}
<div class="collapse-block sub-category-filter-block open">
  <h4 class="collapse-block__title ">{{ 'collections.sidebar.filter_sub_category_title' | t }}</h4>
  <div class="collapse-block__content">
    <ul class="filter-list sub-category-filter">
        
        {% assign tag_size = 0 %}
        {% for t in tags %}
          {% assign tag = t | strip | downcase %}
          {% assign all_tags = collection_all_tags %}
          {% assign checktag = '"' | append: tag | append: '"' %}
          {% if all_tags contains checktag %}
            {% assign size = 1 %}
            {% if size > 0 %}
              {% assign tag_size = tag_size | plus: 1 %}
              {% assign cur_tags = current_tags | downcase %}
              {% capture class %}{% if cur_tags contains checktag %}active{% endif %}{% endcapture %}
              <li class="{{ class }}">
                {% capture string %}{% if tag_lang[forloop.index0] != '_empty_' %}{{ tag_lang[forloop.index0] | capitalize }}{% else %}{{ tag | capitalize }}{% endif %}{% endcapture %}
                {% if class != '' %}
                {{ string }}<a href="{{ tag | handle }}" class="clear-tag icon icon-clear icon-to-right"></a>
                {% else %}
                    <a href="{{ tag | handle }}">{{ string }}</a>
                {% endif %}
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
          <script class='sub-category-filter-js-2'>
            jQuery(function ($) {
              if($( ".sub-category-filter-block" ).find(".active").length > 0) {
                $(".sub-category-filter-block").addClass('open');
                $(".sub-category-filter-block").find(".collapse-block__content").show();
              }
              $('.sub-category-filter-js-2').remove();
            });
          </script>
        {% if tag_size == 0 %}
          <script class='sub-category-filter-js'>
            jQuery(function ($) {
              $('.sub-category-filter-block').hide();
              $('.sub-category-filter-js').remove();
            });
          </script>
        {% else %}
          <script class='sub-category-filter-js'>
            jQuery(function ($) {
              $('.sub-category-filter-block').show();
              $('.sub-category-filter-js').remove();
            });
          </script>
        {% endif %}
    </ul>
  </div>
</div>

