{% form 'contact' %}

<style type="text/css">
    ul.dealer_grid {
        list-style: none;
        padding: 0;
        -webkit-columns: 4 10px;
        -moz-columns: 4 10px;
        columns: 4 10px;
    }

    ul.dealer_grid li {
        display: inline-block;
        vertical-align: top;
        border: 1px solid #908d8d;
        margin: 10px 0;
    }

    ul.dealer_grid li p {
        background: #000;
        margin: 0;
        padding: 5px;
        color: #fff !important;
        text-align: center;
        font-size: 0.90em;
    }

    .dealer_grid_div {
        max-width: 1050px;
        width: 100%;
    }

    .dealer_grid_row {
        max-width: 1050px;
        width: 100%;
        margin: 0 auto;
    }

    .mover_img1 {
        float: right;
    }

    .motorcycle-mover-col {
        display: inline-block;
        vertical-align: top;
    }

    .mover_ul ul li {
        color: #777777 !important;
        font-weight: normal !important;
    }

    .mover_p {
     /*   max-width: 950px;
        width: 100%;*/
        margin: 0 auto;
    }

    .mover_p p {
        color: #777777 !important;
        font-weight: normal !important;
    }

    .mover_height {
       /* height: 560px;*/
    }

    .mover-take-5 {
        margin-top: 40px;
    }

    p.mover_time_clock {
        margin-top: 1px !important;
    }

    @media (max-width: 990px) {
        ul.dealer_grid {
            list-style: none;
            padding: 0;
            -webkit-columns: 2 10px;
            -moz-columns: 2 10px;
            columns: 2 10px;
        }

        .mover_img1 {
            float: none;
        }

        .mover_img1,
        .mover_img2 {
            margin: 0 auto;
        }

        .mover_height {
            height: auto;
        }

        p.mover_time_clock {
            margin-top: 0 !important;
        }

         .mover-take-5 {
            margin-top: 0;
        }
    }

    @media (max-width: 500px) {
        ul.dealer_grid {
            list-style: none;
            padding: 0;
            -webkit-columns: 1 10px;
            -moz-columns: 1 10px;
            columns: 1 10px;
        }
    }
</style>



<div class="container moto_pages" style="max-width: 1440px; width: 100%;" >
    <div class="row">
    <div class="col-sm-12 col-md-12 ">
     
      
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-service2-032420.jpg?v=1585011165" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-service3-032420.jpg?v=1585011166" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="mmsr-title">
          <div class="mmsr-title-cont">
         <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
         <ul>
          <li>Our certified mechanic can service most European and Japanese bikes.</li>
          <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
          <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
          <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
        </ul> 
          </div>
        </div>
        
        <div class="clear"></div>
    </div>

</div>
<div class="divider divider--lg"></div>

    <div class="jg_custom_pages">

     {% include "page.motorcycle-service-menu-all" %}             

    <div class="divider divider--lg"></div>

   
     <h3 class="text-center home_title">MOTORHELMETS MOTORCYCLE SHIPPING SERVICES</h3>

    <div class="divider divider--lg"></div>

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">

            <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-img2.1.jpg?17434868425422391008" title="Motorhelmets Motorcycle Shipping Services" alt="Motorhelmets Motorcycle Shipping Services"></p>

            <div class="divider divider--lg hidden-xs"></div>

            <center><h4><b>WE TRANSPORT ALL MOTORCYCLE TYPES</b></h4></center>

            <div class="dealer_grid_div">
                <ul class="dealer_grid">
                    <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-stanadard.jpg?15128579061809591496" title="Standard" alt="Standard"><p><b>STANDARD</b></p></li>
                    <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-sport-bike.jpg?13386810998942185257" title="Sportbike" alt="Sportbike"><p><b>SPORTBIKE</b></p></li>
                    <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-cruiser.jpg?13386810998942185257" title="Cruiser" alt="Cruiser"><p><b>CRUISER</b></p></li>
                     <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-custom.jpg?13386810998942185257" title="Custom" alt="Custom"><p><b>CUSTOM</b></p></li>
                    <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-touring.jpg?13386810998942185257" title="Touring" alt="Touring"><p><b>TOURING</b></p></li>
                    <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-off-road.jpg?13386810998942185257" title="Off-Road" alt="Off-Road"><p><b>OFF-ROAD</b></p></li>
                    <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-sport-touring.jpg?13386810998942185257" title="Sport Touring" alt="Sport Touring"><p><b>SPORT TOURING</b></p></li>
                    <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-honda-trike.jpg?13386810998942185257" title="Trike" alt="Trike"><p><b>TRIKE</b></p></li>
                </ul>
            </div>

        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">

            <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-img3.jpg?4326765144943361565" title="Motorhelmets Motorcycle Shipping Services" alt="Motorhelmets Motorcycle Shipping Services"></p>

            <div class="divider divider--lg hidden-xs"></div>

            <center><h4><b>WE TRANSPORT ALL MOTORCYCLE BRANDS</b></h4></center>
          <div class = "divider divider--lg hidden-xs hidden-sm"></div>
          	<div class ="col-sm-12 col-md-12 col-lg-12">

              <div class ="col-sm-12 col-md-6 col-lg-4 transport-motorcycle-brands-holder">
              <span class ="text-center transport-motorcycle-brands" style = "color:#c83138;" >HONDA</span>
              </div>
              <div class ="col-sm-12 col-md-6 col-lg-4 transport-motorcycle-brands-holder">
                <span class ="text-center transport-motorcycle-brands" style = "color:#62c930">KAWASAKI</span>
              </div>
              <div class ="col-sm-12 col-md-6 col-lg-4 transport-motorcycle-brands-holder">
                <span class ="text-center transport-motorcycle-brands" style = "color:#053ba5">YAMAHA</span>
              </div>

              <div class = "divider divider--lg hidden-md hidden-sm hidden-xs"></div>
  
              <div class ="col-sm-12 col-md-6 col-lg-4 transport-motorcycle-brands-holder">
                <span class ="text-center transport-motorcycle-brands" style = "color:#58abdd">BMW</span>
              </div> 
              <div class ="col-sm-12 col-md-6 col-lg-4 transport-motorcycle-brands-holder">
                <span class ="text-center transport-motorcycle-brands" style = "color:#e8df00">SUZUKI</span>
              </div>
              <div class ="col-sm-12 col-md-6 col-lg-4 transport-motorcycle-brands-holder">
                <span class ="text-center transport-motorcycle-brands" style = "color:#a70008">DUCATI</span>
              </div>
              <div class = "divider divider--lg hidden-md hidden-sm hidden-xs"></div>

              <div class ="col-sm-12 col-md-6 col-lg-4 transport-motorcycle-brands-holder">
                <span class ="text-center transport-motorcycle-brands" style = "color:#b71b05">VICTORY</span>
              </div>
              <div class ="col-sm-12 col-md-6 col-lg-4 transport-motorcycle-brands-holder">
                <span class ="text-center transport-motorcycle-brands" style = "color:#00">CAN-AM</span>
              </div>
                <div class ="col-sm-12 col-md-12 col-lg-4 transport-motorcycle-brands-holder">
                  <span class ="text-center transport-motorcycle-brands" style = "color:#d87119;">HARLEY DAVIDSON</span>
                </div>
          	</div>
          <!-- <div class="dealer_grid_div">
                <ul class="dealer_grid">
                <li><span class ="text-center motorcycle-brands" >HONDA</span></li>
                <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/harley-353-261.png?4473771371937066642" title="Harley Davidson" alt="Motorhelmets Motorcycle Shipping Services"><p><b>HARLEY DAVIDSON</b></p></li>
                <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/kawasaki-353-261.png?4473771371937066642" title="Kawasaki" alt="Kawasaki"><p><b>KAWASAKI</b></p></li>
                <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/bmw-353-261.png?4473771371937066642" title="BMW" alt="BMW"><p><b>BMW</b></p></li>
                <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/suzuki-353-261.png?4473771371937066642" title="Suzuki" alt="Suzuki"><p><b>SUZUKI</b></p></li>
                <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/honda-353-261.png?4473771371937066642" title="Honda" alt="Honda"><p><b>HONDA</b></p></li>
                <li><span class ="text-center honda-text" >HONDA</span><p><b>HONDA</b></p></li>
                <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/ducati-353-261.png?4473771371937066642" title="Ducati" alt="Ducati"><p><b>DUCATI</b></p></li>
                <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Victory-logo.png?8596123391885440624" title="Victory" alt="Victory"><p><b>VICTORY</b></p></li>
                <li><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/canam-logo.png?8596123391885440624" title="Can-An" alt="Can-Am"><p><b>CAN-AM</b></p></li>
                </ul>
                </div> -->

        </div>
    </div> <!-- End Row//-->

    <div class="divider divider--lg"></div>
    
    <div>
        <center><h3 style="font-size: 1.6em;"><b>TRUST YOUR NEXT MOTORCYCLE TRANSPORTATION SERVICE TO MOTORHELMETS</b></h3></center>

        <!-- <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-img4.jpg?15441445769165949884" title="Motorhelmets Motorcycle Shipping Services" alt="Motorhelmets Motorcycle Shipping Services" style="max-width: 1440px; width: 100%; margin: 0 auto;"></p> //--> 
    </div>

    <div class="divider divider--md"></div>

    <div class="moto_box">

        <div class="moto_box_title">
            <h2><b>Highest Standard of Service</b></h2>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 mover_ul">
                <ul style="list-style-type: square; padding: 0 20px;">
                    <li style="font-weight: normal !important;">We offer a Higher Standardized Level of Service</li>
                    <li style="font-weight: normal !important;">Precise care in the Loading and Delivery process.</li>
                    <li style="font-weight: normal !important;">Each motorcycle is safely tied down, covered and contained.</li>
                    <li style="font-weight: normal !important;">Drivers use a customized ramped skid specially designed for motorcycles.</li>
                    <li style="font-weight: normal !important;">Each wheel is positioned and secured.</li>
                    <li style="font-weight: normal !important;">Your motorcycle is secured at multiple points for maximum safety.</li>
                    <li style="font-weight: normal !important;">Each bike is individually covered.</li>
                    <li style="font-weight: normal !important;">Your motorcycle is secured from other products in the transportation process.</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 mover_ul">
                <ul style="list-style-type: square; padding: 0 20px;">
                    <li style="font-weight: normal !important;">You will receive a pre-call 24 hours prior to pickup and delivery.</li>
                    <li style="font-weight: normal !important;">Our team can pick up and deliver your motorcycle at your door or at one of our strategic Distribution Centers located throughout the United States.</li>
                    <li style="font-weight: normal !important;">Fully Licensed and Bonded Transportation.</li>
                    <li style="font-weight: normal !important;">Personal service from Team Motorhelmets (800-288-0640 M-F 10-7pm PST)</li>
                </ul>

                <code>* Additional Insurance is available for about <b>$35</b></code> <br>
                <code>* Save by picking up or dropping off at our designated Distribution Centers.  <br>(Inquire about Locations throughout the USA and Canada)</code>
            </div>
        </div>
    </div> <!-- End DIV//-->

    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6 mover_ul">
            <div class="moto_box">
                <div class="moto_box_title">
                    <h2>WE PROVIDE MOTORCYCLE MOVING SERVICES TO AND FROM:</h2>
                </div>
                <ul class="motorcycle-mover-col">
                    <li>Lower 48 States in the USA</li>
                    <li>Hawaii</li>
                    <li>Alaska</li>
                    <li>Puerto Rico</li>
                    <li>Canada</li>
                </ul>
                <p class="motorcycle-mover-col"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorcycle_transportation_map.jpg?1882802817487584669" title="Motorhelmets Motorcycle Shipping Services" alt="Motorhelmets Motorcycle Shipping Services" style="margin: 0 auto; max-width: 430px; width: 100%;"></p>
            </div>
        </div>

        <hr class="hidden-lg hidden-sm">

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="moto_box mover_height">
                <div class="moto_box_title">
                    <h2>HOW LONG DOES IT TAKES TO SHIP A MOTORCYCLE?</h2>
                </div>
                <p style="color:#777777 !important; font-weight: normal !important;">When shipping a motorcycle, transit times vary depending on the distance of transportation. Typical times apply to US &amp; Canada shipments and are listed by distance group below.</p>

                <div class="divider divider--md"></div>

                <div class="row">
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <div class="table_responsive" style="overflow: auto;">
                            <table class="table table-bordered table-striped">
                            <tbody>
                                <tr>
                                    <td><b>Short Distance</b></td>
                                    <td>0 - 600 miles</td>
                                    <td>1 - 3 Days</td>
                                </tr>
                                <tr>
                                    <td><b>Medium Distance</b></td>
                                    <td>600 - 1,300 miles</td>
                                    <td>3 - 5 Days</td>
                                </tr>
                                <tr>
                                    <td><b>Long Distance</b></td>
                                    <td>1,300 - 2,300 miles</td>
                                    <td>5 - 7 Days</td>
                                </tr>
                                <tr>
                                    <td><b>Cross Distance</b></td>
                                    <td>2,300 - 3,300 miles</td>
                                    <td>7 - 9 Days</td>
                                </tr>
                            </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <p class="mover_time_clock"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-img6.jpg?18060384226103985363" title="Motorhelmets Motorcycle Shipping Services" alt="Motorhelmets Motorcycle Shipping Services" style="margin: 0 auto;"></p>
                    </div>
                </div>
            </div> <!-- End Row//-->
        </div>
    </div> <!-- End Row//-->

    <div class="moto_box">
        <div class="moto_box_title">
            <h2>More Information</h2>
        </div>
      
            <h3 style="margin-bottom: 10px;">Call 800-288-0640 or email us at shipmybike@motorhelmets.com</h3>
            <h3>M-F 10am-7pm PST</h3>
        

        <div class="divider divider--xs"></div>

        <div class="mover_p">
            <p style="margin: 0; font-weight: normal !important;">Ship Your Motorcycle through Motorhelmets.</p>
            <p style="margin: 0; font-weight: normal !important;">Anywhere in the USA.  Our partner carrier will deliver to most cities.</p>
            <p style="margin: 0; font-weight: normal !important;">We can ship almost any motorcycle(s).  Save with multiple bikes.  Save by having your motorcycle dropped off or picked up from an <br>Authorized Transport Center.  We have locations throughout the USA.</p>
            <p style="font-weight: normal !important;">All motorcycles are inspected and confirmed at time of pickup and delivery.</p>
        </div>
    </div>

    <div class="divider divider--md"></div>

    <hr>
<div class="motor-menu-cont">
      <div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-mover-img7.jpg?18228029102753533872" title="Motorhelmets Motorcycle Shipping Services" alt="Motorhelmets Motorcycle Shipping Services" style="margin: 0 auto;"></p>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 mover-take-5">
                <h4 style="color: #333333 !important;"><b>HERE'S HOW IT WORKS:</b></h4>
                <ol>
                    <li>Request a Quote Below</li>
                    <li>Book your Shipment</li>
                    <li>Schedule a time to drop off your bike or have it picked up at the location of your choice.</li>
                    <li>Your motorcycle is safely inspected packed and delivered</li>
                    <li>Pickup your motorcycle at the assigned destination location</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="divider divider--lg"></div>
    <div>
        <h1 style="color: #134172; margin: 0; text-align: center;"><b>BEGIN WITH STEP 1 REQUEST A QUOTE</b></h1>
    </div>

    <div class="divider divider--xs"></div>
  
        {% if form.posted_successfully? %}
        <div>
          <p class="moto_success_send" style="color: rgb(138, 221, 138) !important;">{{ 'contact.form.post_success' | t }}</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div>
          <p  class="moto_error_send">{{ 'contact.form.post_error' | t }}</p>
          {% for field in form.errors %}
          <p>{{ 'contact.form.post_field_error_html' | t: field: field, error: form.errors.messages[field] }}</p>
          {% endfor %}
        </div>
        {% endif %}
  
    
    <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">

    <input value="contact" name="form_type" type="hidden">
    <input name="utf8" value="✓" type="hidden">
    <input value="https://motorhelmets.com/pages/{{ page.handle }}" name="contact[{{ page.name }} Form]" type="hidden">


    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputPickup">Pickup Zip Code</label>
                <input name="contact[pickup zip code]" class="form-control" id="inputPickup" type="text" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputDestination">Destination Zip Code</label>
                <input name="contact[destination zip code]" class="form-control" id="inputDestination" type="text" required>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputYearModel">Motorcycle Year</label>
                <input name="contact[motorcycle year]" class="form-control" id="inputYearModel" type="text" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputMake">Motorcycle Make</label>
                <input name="contact[motorcycle make]" class="form-control" id="inputMake" type="text" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputModel">Motorcycle Model</label>
                <input name="contact[motorcycle model]" class="form-control" id="inputModel" type="text" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
               <label for="inputPickupDate">Motorcycle Pickup Request Date (approx)</label>
                <input name="contact[motorcycle pickup request date (approx)]" class="form-control" id="inputPickupDate" type="text" required>
               <label><code>* We will try to schedule your date closely matching your date.</code></label>
            </div>
        </div>
    </div>
      
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputInsurance">Do you want (additional) insurance?</label> <br>
                <label><code>* $7000.00 Insurance already included</code></label><br>
                <label><code>* Note – Your insurance company may already have you covered.</code></label><br>

                <input type="radio" id="inputInsurance" value="Yes" name="contact[do you want (additional) insurance?]" required> Yes
                <input type="radio" id="inputInsurance" value="No" name="contact[do you want (additional) insurance?]" required> No

                <div class="divider divider--xs"></div>

                <label for="inputInsuranceValue">Please Enter Your Bike Value for Additional Insurance</label>
                <input name="contact[please enter your bike value for additional insurance]" class="form-control" id="inputInsuranceValue" type="text" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputWeight">Approximate Weight of Your Motorcycle</label>
                <input name="contact[approximate weight of your motorcycle]" class="form-control" id="inputWeight" type="text" required>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="inputShippingDropOff">DO YOU WANT DOOR TO DOOR SERVICE OR ARE YOU WILLING TO DROP OFF OR PICKUP FROM AN <br> AUTHORIZED DISTRIBUTION CENTER (IF AVAILABLE)? <code>Select Below</code></label>

                <div>
                     <input type="radio" name="contact[do you want door to door service or are you willing to drop off or pickup from an authorized distribution center (if available)?]" value="Door to Door Service" required> Door to Door Service <br>
                     <input type="radio" name="contact[do you want door to door service or are you willing to drop off or pickup from an authorized distribution center (if available)?]" value="My Door to a Distribution Center" required> My Door to a Distribution Center <br>
                     <input type="radio" name="contact[do you want door to door service or are you willing to drop off or pickup from an authorized distribution center (if available)?]" value="Distribution Center to My Door" required> Distribution Center to My Door <br>
                     <input type="radio" name="contact[do you want door to door service or are you willing to drop off or pickup from an authorized distribution center (if available)?]" value="Distribution Center to Distribution Center" required> Distribution Center to Distribution Center<br>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label for="inputPickupDrop">Would you like to pickup or drop off your motorcycle at Motorhelmets in Fullerton California?</label>
            <div>
                 <input type="radio" name="contact[would you like to pickup or drop off your motorcycle at motorhelmets in fullerton california?]" value="Yes" required> Yes
                 <input type="radio" name="contact[would you like to pickup or drop off your motorcycle at motorhelmets in fullerton california?]" value="No" required> No
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label for="inputName">Full Name</label>
            <input name="contact[full name]" class="form-control" id="inputName" type="text" required>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label for="inputEmail">Email Address</label>
            <input name="contact[email]" class="form-control" id="inputEmail" type="email" required>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <label for="inputNumber">Your Mobile Number (We can text you)</label>
            <input name="contact[mobile number]" class="form-control" id="inputNumber" type="tel" required>
        </div>
    </div>

    <div class="divider divider--md"></div>

    <div class="row">
        
        <div class="col-md-3">
            <div class="form-group">
                <label>Verification Question <sup>*</sup></label>
               <input class="form-control" type="text" id="njohn_contact_question" readonly disabled>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label>Your Answer <sup>*</sup></label>
                <input class="form-control" type="tel" id="njohn_contact_answer" required>
            </div>
        </div>
    </div>
    <button class="btn btn--ys btn--xl btn-top" type="submit" >Send Message</button>

    </form>
       
    <div class="divider divider--lg"></div>

<!--     <div>
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Motorhelmets-Transportation-logo.jpg?14467931675778648309" title="Motorhelmets Motorcycle Shipping Services" alt="Motorhelmets Motorcycle Shipping Services" style="margin: 0 auto;max-width: 700px;width: 100%;"></p>
        <center><p>Call 714-879-8180 for more information | Email: shipmybike@motorhelmets.com</p></center>
    </div> 
     -->
         <div class="divider divider--sm"></div>
    <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-transpo-032420.jpg?v=1585012009" title="Motorhelmets Motorcycle Shipping Services" alt="Motorhelmets Motorcycle Shipping Services" style="margin: 0 auto;max-width: 700px;width: 100%;"></p>

    <center>
        <h4 style="margin: 0;font-size: 16px;margin-top: 10px;"><b>Your Motorcycle from and to anywhere in the USA at the lowest prices</b></h4>
        <p style="color: #777777 !important;">Call 714-879-8180 for more information | Email: shipmybike@motorhelmets.com</p>
    </center>

    {% include "page.motorhelmets-service-footer" %}
</div>
</div>

{% endform %}