{% form 'contact' %}


<div class="row">
  <div class="divider divider--lg"></div>
  <h3 class="text-left title-under uppercase_txt home_title">{{ page.title }}</h3>
  <div class="col-md-6">
  <p>For International shipping quotes, please use our Int'l Shipping Quote Request Form Use the form below if you need to know the exact shipping cost before placing your order for all domestic USA shipments.  </p>
  <p>This is mostly applicable for very large or complicated shipments. For our normal shipping rates and information, review our Shipping Information page.</p>
  </div>
</div>

<div class="divider divider--md"></div>

<div class="row">
<div class="col-lg-12">
<h3 class="text-left title-under uppercase_txt home_title">Fill Below Fields</h3>
  
  
        {% if form.posted_successfully? %}
        <div>
          <p class="moto_success_send">{{ 'contact.form.post_success' | t }}</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div>
          <p  class="moto_error_send">{{ 'contact.form.post_error' | t }}</p>z
          {% for field in form.errors %}
          <p>{{ 'contact.form.post_field_error_html' | t: field: field, error: form.errors.messages[field] }}</p>
          {% endfor %}
        </div>
        {% endif %}
  
  
  
  
<form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">

<input value="contact" name="form_type" type="hidden">
<input name="utf8" value="✓" type="hidden">
<input value="https://motorhelmets.com/pages/{{ page.handle }}" name="contact[{{ page.name }} Form]" type="hidden">


<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputName">Full Name <sup>*</sup></label>
            <input name="contact[full name]" class="form-control" id="inputName" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputEmail">Your Email <sup>*</sup></label>
            <input name="contact[email]" class="form-control" id="inputEmail" type="email" required>
        </div>
    </div>

</div>
  
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputAddress">Address <sup>*</sup></label>
            <input name="contact[address]" class="form-control" id="inputAddress" type="tel" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputTelephone1">Telephone (1)</label>
            <input name="contact[telephone1]" class="form-control" id="inputTelephone1" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
           <label for="inputTelephone2">Telephone (2)</label>
            <input name="contact[telephone2]" class="form-control" id="inputTelephone2" type="text" required>
        </div>
    </div>
</div>
  
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputCity">City</label>
            <input name="contact[city]" class="form-control" id="inputCity" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
           <label for="inputState">State</label>
            <input name="contact[state]" class="form-control" id="inputState" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputZip">Zip</label>
            <input name="contact[zip]" class="form-control" id="inputZip" type="tel" required>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label for="inputPaymentMethodDesired">Method of Payment Desired</label>
            <select name="contact[method of payment desired]" class="form-control" id="inputPaymentMethodDesired">
                <option>Money Order/ Cashier's Check/ Check</option>
                <option>Bank Wire Transfer</option>
              	<option>Credit Card</option>
            </select>
        </div>
    </div>
</div>  

  
<div class="row">
    <div class="col-md-12">
       	<div class="form-group">
          <label for="textareaListProductsOrdering">List Products You Are Ordering Here</label>
          <textarea name="contact[list products ordering]" class="form-control" rows="12" id="textareaListProductsOrdering"></textarea>
        </div>
    </div>
</div>
  


<div class="row">
		<div class="col-md-4">
        <div class="form-group">
            <input type="checkbox" id="termsConditions" name="termsConditions"/> I agree to <a class="text_underline text_color_red" href="/pages/ordering-store-policy">Motorhelmets Ordering &amp; Store Policy</a>
			<label style="float: none;" for="termsConditions" class="error" generated="true"></label>
  
        </div>
 		</div>
   
</div>
<div class="divider divider--md"></div>
<div class="row">
    
    <div class="col-md-3">
        <div class="form-group">
            <label>Verification Question <sup>*</sup></label>
           <input class="form-control" type="text" id="njohn_contact_question" readonly disabled>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Your Answer <sup>*</sup></label>
            <input class="form-control" type="text" id="njohn_contact_answer" required>
        </div>
    </div>
</div>
<button class="btn btn--ys btn--xl btn-top" type="submit">Send Message</button>

</form>

  
</div>
</div>
{% endform %}