{% form 'contact' %}


<div class="row">
<div class="col-md-12">
<div class="divider divider--lg"></div>
<h3 class="text-left title-under uppercase_txt home_title">{{ page.title }}</h3>

  
  
  
  
  
  
  
        {% if form.posted_successfully? %}
        <div>
          <p class="moto_success_send">{{ 'contact.form.post_success' | t }}</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div>
          <p  class="moto_error_send">{{ 'contact.form.post_error' | t }}</p>
          {% for field in form.errors %}
          <p>{{ 'contact.form.post_field_error_html' | t: field: field, error: form.errors.messages[field] }}</p>
          {% endfor %}
        </div>
        {% endif %}
  
  
  
  
<form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">

<input value="contact" name="form_type" type="hidden">
<input name="utf8" value="✓" type="hidden">
<input value="https://motorhelmets.com/pages/{{ page.handle }}" name="contact[{{ page.name }} Form]" type="hidden">

  
<div class="row">
     <div class="col-md-4">
        <div class="form-group">
            <label for="inputPostedPublicly">Would you like your thoughts posted publicly?</label>
            <select name="contact[thoughts posted publicly?]" class="form-control" id="inputPostedPublicly">
                <option>YES</option>
                <option>NO</option>
            </select>
        </div>
    </div>
</div>
  
<div class="row">
    <div class="col-md-9">
       	<div class="form-group">
          <label for="textareaComments">Comments<sup>*</sup></label>
          <textarea name="contact[comments]" class="form-control" rows="12" id="textareaComments"></textarea>
        </div>
    </div>
</div>

<div class="row">
     
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputName">Full Name <sup>*</sup></label>
            <input name="contact[full name]" class="form-control" id="inputName" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputEmail">Your Email Adress <sup>*</sup></label>
            <input name="contact[email]" class="form-control" id="inputEmail" type="email" required>
        </div>
    </div>
   <div class="col-md-3">
        <div class="form-group">
            <label for="inputAddress">Address <sup>*</sup></label>
            <input name="contact[address]" class="form-control" id="inputAddress" type="tel" required>
        </div>
    </div>


</div>
  

  
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputCity">City</label>
            <input name="contact[city]" class="form-control" id="inputCity" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
           <label for="inputState">State</label>
            <input name="contact[state]" class="form-control" id="inputState" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputZip">Zip</label>
            <input name="contact[zip]" class="form-control" id="inputZip" type="tel" required>
        </div>
    </div>
</div>

<div class="divider divider--md"></div>
<h3 class="text-left uppercase_txt home_title">To help us improve the site, feel free to comment below. This section will remain confidential.</h3>
<div class="divider divider--lg"></div>
  
<div class="row">
     <div class="col-md-6">
        <div class="form-group">
            <label for="inputOnlineOrderedBefore">Have you ordered motorsports supplies online before?</label>
            <select name="contact[Ordered Online Before]" class="form-control" id="inputOnlineOrderedBefore">
                <option>YES</option>
                <option>NO</option>
            </select>
        </div>
    </div>
  <div class="col-md-6">
        <div class="form-group">
            <label for="inputOurPrices">How are our prices?</label>
            <select name="contact[our prices]" class="form-control" id="inputOurPrices">
                <option>Very Competitive</option>
                <option>They're Okay</option>
                <option>Your Prices Are Too High!</option>
            </select>
        </div>
    </div>
</div>
  
<div class="row">
    <div class="col-md-6">
          <div class="form-group">
              <label for="inputProductsSelection">What do you think about the selection of our products?</label>
              <select name="contact[products selection]" class="form-control" id="inputProductsSelection">
                  <option>Your selection is too small</option>
                  <option>They're okay</option>
                  <option>The widest selection of products I've ever seen!</option>
                  <option>Very good!</option>
              </select>
          </div>
      </div>
   <div class="col-md-6">
          <div class="form-group">
              <label for="inputRateAppearanceSite">How would you rate the presentation and appearance of the site?</label>
              <select name="contact[rate site appearance]" class="form-control" id="inputRateAppearanceSite">
                  <option>Looks beautiful!</option>
                  <option>It's okay</option>
                  <option>Pretty Good</option>
                  <option>The site looks ugly and difficult for my eyes to endure!!</option>
              </select>
          </div>
      </div>
</div>

<div class="row">
    <div class="col-md-6">
       	<div class="form-group">
          <label for="textareaAddFuture">What products or services would you like us to add in the future?</label>
          <textarea name="contact[add in the future]" class="form-control" rows="12" id="textareaAddFuture"></textarea>
        </div>
    </div>
   <div class="col-md-6">
       	<div class="form-group">
          <label for="textareaLookingVisited">What were you looking for when you visited Motorhelmets?</label>
          <textarea name="contact[looking for when you visited Motorhelmets]" class="form-control" rows="12" id="textareaLookingVisited"></textarea>
        </div>
    </div>
</div>
  

  
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="inputComeBackAgain">Do you plan on coming back again?</label>
			  <select name="contact[coming back again]" class="form-control" id="inputComeBackAgain">
                  <option>No, this place is horrible!</option>
                  <option>I might come back</option>
                  <option>Yes, for sure I will return and tell all my friends about this place!</option>
              </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
           <label for="inputFavoriteOnlineStores">Your Favorite Online Stores?</label>
            <input name="contact[favorite online stores]" class="form-control" id="inputFavoriteOnlineStores" type="text" required>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="inputHowFindBestOnline">How Do You Find the Best Deals Online?</label>
			  <select name="contact[how do you find the best deals online]" class="form-control" id="inputHowFindBestOnline">
                  <option>Check Magazine Ads</option>
                  <option>Search Yahoo</option>
                  <option>Search Google</option>
                  <option>Search MSN</option>
                  <option>Facebook</option>
                  <option>Ask Friends</option>
                  <option>Compare Prices w/ My Top Favorite Online
                      Dealers</option>
                  <option>Other</option>
              </select>
        </div>
    </div>
</div>

<div class="divider divider--lg"></div>
<div class="row">
		<div class="col-md-4">
        <div class="form-group">
            <input type="checkbox" id="termsConditions" name="termsConditions"/> I agree to <a class="text_underline text_color_red" href="/pages/ordering-store-policy">Motorhelmets Ordering &amp; Store Policy</a>
			<label style="float: none;" for="termsConditions" class="error" generated="true"></label>
  
        </div>
 		</div>
   
</div>
<div class="divider divider--md"></div>
<div class="row">
    
    <div class="col-md-3">
        <div class="form-group">
            <label>Verification Question <sup>*</sup></label>
           <input class="form-control" type="text" id="njohn_contact_question" readonly disabled>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Your Answer <sup>*</sup></label>
            <input class="form-control" type="text" id="njohn_contact_answer" required>
        </div>
    </div>
</div>
<button class="btn btn--ys btn--xl btn-top" type="submit">Send Message</button>

</form>

  
</div>
</div>
{% endform %}