{% form 'contact' %}


<div class="row">
  <div class="col-lg-6">
    <div class="divider divider--lg"></div>
    <h3 class="text-left title-under uppercase_txt home_title">{{ page.title }}</h3>

    <p>Do you have a product still covered by our warranty that you need servicing. Submit your request below. In some cases, we may suggest that you contact the manufacturer directly. </p>
    <p>For the complete list of manufacturer's, (such as HJC, Fox Racing, Shoei, ThorMX, Alpinestars, Oneal and more!!) and contact information, review our Manufacturer Contact List for phone numbers, email contacts and street addresses.</p>
    <div class="divider divider--md"></div>
  </div>
</div>


<div class="divider divider--lg"></div>

<div class="row">
<div class="col-lg-12">
<h3 class="text-left title-under uppercase_txt home_title">Fill Below Fields</h3>
<div class="divider divider--md"></div>
  
  
  
  
  
  
  
        {% if form.posted_successfully? %}
        <div>
          <p class="moto_success_send">{{ 'contact.form.post_success' | t }}</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div>
          <p  class="moto_error_send">{{ 'contact.form.post_error' | t }}</p>
          {% for field in form.errors %}
          <p>{{ 'contact.form.post_field_error_html' | t: field: field, error: form.errors.messages[field] }}</p>
          {% endfor %}
        </div>
        {% endif %}
  
  
  
  
<form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">

<input value="contact" name="form_type" type="hidden">
<input name="utf8" value="✓" type="hidden">
<input value="https://motorhelmets.com/pages/{{ page.handle }}" name="contact[{{ page.name }} Form]" type="hidden">


<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputName">Full Name <sup>*</sup></label>
            <input name="contact[full name]" class="form-control" id="inputName" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputEmail">Your Email <sup>*</sup></label>
            <input name="contact[email]" class="form-control" id="inputEmail" type="email" required>
        </div>
    </div>

</div>
  
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputAddress">Address <sup>*</sup></label>
            <input name="contact[address]" class="form-control" id="inputAddress" type="tel" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputTelephone1">Telephone (1)</label>
            <input name="contact[telephone1]" class="form-control" id="inputTelephone1" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
           <label for="inputTelephone2">Telephone (2)</label>
            <input name="contact[telephone2]" class="form-control" id="inputTelephone2" type="text" required>
        </div>
    </div>
</div>
  
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputCity">City</label>
            <input name="contact[city]" class="form-control" id="inputCity" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
           <label for="inputState">State</label>
            <input name="contact[state]" class="form-control" id="inputState" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputZip">Zip</label>
            <input name="contact[zip]" class="form-control" id="inputZip" type="tel" required>
        </div>
    </div>
</div>

  
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputPlaceofPurchase">Place of Purchase</label>
            <input name="contact[place of purchase]" class="form-control" id="inputPlaceofPurchase" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputDateofPurchase">Date of Purchase <sup>*</sup></label>
            <input name="contact[date of purchase]" class="form-control" id="inputDateofPurchase" type="text" required>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="inputSalesInvoice">Do you have a sales invoice?</label>
            <select name="contact[sales invoice]" class="form-control" id="inputSalesInvoice">
                <option>YES</option>
                <option>NO</option>
            </select>
        </div>
    </div>
      <div class="col-md-3">
        <div class="form-group">
            <label for="inputInvoiceNumber">Invoice Number (If Purchased Here)</label>
            <input name="contact[invoice number]" class="form-control" id="inputInvoiceNumber" type="text" required>
        </div>
    </div>

</div>

  
<div class="row">
    <div class="col-md-12">
       	<div class="form-group">
          <label for="textareaDescribe">Please Describe <sup>*</sup></label>
          <textarea name="contact[Describe]" class="form-control" rows="12" id="textareaDescribe"></textarea>
        </div>
    </div>
</div>
  


<div class="row">
		<div class="col-md-4">
        <div class="form-group">
            <input type="checkbox" id="termsConditions" name="termsConditions"/> I agree to <a class="text_underline text_color_red" href="/pages/ordering-store-policy">Motorhelmets Ordering &amp; Store Policy</a>
			<label style="float: none;" for="termsConditions" class="error" generated="true"></label>
  
        </div>
 		</div>
   
</div>
<div class="divider divider--md"></div>
<div class="row">
    
    <div class="col-md-3">
        <div class="form-group">
            <label>Verification Question <sup>*</sup></label>
           <input class="form-control" type="text" id="njohn_contact_question" readonly disabled>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label>Your Answer <sup>*</sup></label>
            <input class="form-control" type="text" id="njohn_contact_answer" required>
        </div>
    </div>
</div>
<button class="btn btn--ys btn--xl btn-top" type="submit">Send Message</button>

</form>

  
</div>
</div>
{% endform %}