{% form 'contact' %}


<section class="container moto_pages">
<div class="row">
<h3 class="text-center title-under uppercase_txt home_title">{{ page.title }}</h3>
</div>  
  
<div class="row" >
<iframe src="//www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.747665785044!2d-117.9645149847897!3d33.87039338065578!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2a37d98a5c59%3A0xd7e77be0f6a99892!2s1871+W+Commonwealth+Ave%2C+Fullerton%2C+CA+92833!5e0!3m2!1sen!2s!4v1461640494891" style="border:0" allowfullscreen="" frameborder="0" height="355" width="100%"></iframe>
</div>
  <div class="row">
  
      
        {% if form.posted_successfully? %}
        <div>
          <p>{{ 'contact.form.post_success' | t }}</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div>
          <p>{{ 'contact.form.post_error' | t }}</p>
          {% for field in form.errors %}
          <p>{{ 'contact.form.post_field_error_html' | t: field: field, error: form.errors.messages[field] }}</p>
          {% endfor %}
        </div>
        {% endif %}
        
        
<div class="njohn_contact_all">
<div class="njohn_contact_info">

<div>
<h4><b>ONLINE SALES &amp; CUSTOMER SERVICE DEPARTMENT</b></h4>
<ul>
<li>Tel: 800-288-0640 or 714-879-8882</li>
<li>Email: support@motorhelmets.com</li>
<li>Office Hours: M-F 10am-7pm PST</li>
</ul>
</div>

<div class="divider divider--lg"></div>

<div>
<h4><b>MOTORCYCLE PARTS / ACCESSORIES &amp; BIKE SERVICE CENTER</b></h4>
<ul>
<li>1871 W. Commonwealth Ave., Fullerton CA 92833 USA</li>
<li>Tel: 714-879-8180</li>
<li>Email: team@motorhelmets.com</li>
<li>Service Dept SMS Txt: 657-217-3988</li>
<li>Sales Dept SMS Txt: 657-217-6457</li>
<li>Store Hours: M-F 10am-7pm | Sat 11am-6pm PST</li>
<li><a href="https://www.picktime.com/motorhelmets" style="font-weight:bold;text-decoration:none;color:#c83138!important;">Schedule My Service</a></li>
</ul>
</div>

<div class="divider divider--lg"></div>

<div>
<h4><b>ORDER INQUIRIES</b></h4>
<ul>
    <li><a href="/pages/ordering-information">Ordering Information</a></li>
    <li><a href="/pages/ordering-store-policy">Ordering and Store Policy</a></li>
    <li><a href="/pages/order-cancellations">Order Cancellations</a></li>
    <li><a href="/pages/order-status-request">Order Status Request</a></li>
    <li><a href="/pages/faq">FAQ</a></li>
    <li><a href="/pages/international-ordering-information">Int'l Ordering Information</a></li>
<!--     <li><a href="/pages/contact-the-ceos-office">Contact The CEO's Office</a></li> -->
  </ul>
</div>

<div class="visible-xs divider divider--lg"></div>

</div>
<div class="njohn_contact_form">
    <span class="njohn_contact_form_label">Have a Question or want to place an order? E-mail Us</span>
    <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8">
    <input value="contact" name="form_type" type="hidden">
    <input name="utf8" value="✓" type="hidden">
    <input value="https://motorhelmets.com/pages/{{ page.handle }}" name="contact[{{ page.name }} Form]" type="hidden">
    <div class="njohn_contact_fields">
        <input name="contact[name]" id="inputName" required placeholder="Name" type="text" >
    </div>
    <div class="njohn_contact_fields">
        <input name="contact[email]" id="inputEmail" required placeholder="E-mail" type="email" >
    </div>
    <span class="njohn_contact_form_label">Subject</span>
    <div class="njohn_contact_fields">
        <select name="contact[subject]">
            <option>Returns and Exchange</option>
            <option>Order Cancellation Request</option>
            <option>Order Status Request</option>
            <option>Price Match Request</option>
            <option>Item Availability</option>
            <option>Other Request</option>
        </select>
    </div>
    <div class="njohn_contact_fields">
        <textarea name="contact[message]" rows="12" id="textareaMessage" placeholder="Message" required="true"></textarea>
        
    </div>
<div class="njohn_contact_fields">
  <input type="text" id="njohn_contact_question" readonly>
  <input type="text" id="njohn_contact_answer" placeholder="Your answer" required>
<button class="btn btn-default" type="submit"><span>SEND</span></button>
</div>
</form>
</div>
</div>
</div>                  
</section>
{% endform %}