<div class="link-inline toggle-menu for_account-cart_icon {{ class_off }} {{ class_on }}" alt="My Account" title="My Account">
  <span class="davz--account simple-icon-user"></span>
  <span class="visible-mobile-menu-off jubs-icon-name">My Account</span>
  <ul class="dropdown-menu " role="menu">
    <li class='li-col-full'>
      <span class="close icon-clear pull-right" data-dismiss="modal"></span>

    </li>
    <li class='li-col list-user-menu'>									 
      <h4 class="megamenu__subtitle"><span>{{ 'general.menu.toggle_account' | t }}</span></h4>		
      <ul>
        {% if shop.customer_accounts_enabled %}<li><a href="/account">{{ "layout.customer.account" | t }}</a></li>{% endif %}
        <li><a href="/checkout">{{ "layout.customer.checkout" | t }}</a></li>
        {% if shop.customer_accounts_enabled %}
        {% if customer %}<li><a href="/account/logout">{{ "layout.customer.log_out" | t }}</a></li>
        {% else %}<li><a href="/account/login">{{ "layout.customer.sign_in" | t }}</a></li>
        {% if shop.customer_accounts_optional %}<li><a href="/account/register">{{ "layout.customer.register" | t }}</a></li>{% endif %}
        {% endif %}
        {% endif %}
        <li><a href="/pages/support-originboardshops-help-page">Support Page</a></li>
      </ul>
    </li>
  </ul>
</div>