<div class="link-inline davz-burger-menu">
  <span class="simple-icon-menu"></span>									
  <ul class="dropdown-menu " role="menu">
    <li class='li-col-full'>
      <span class="close icon-clear pull-right" data-dismiss="modal"></span>

    </li>
    <li class="li-col">									 
      <h4 class="megamenu__subtitle"><span>My Account</span></h4>		
      <ul>
        <li><a href="/account">Account</a></li>
        <li><a href="/pages/wishlist">Wishlist</a></li>
        <li><a href="/checkout">Checkout</a></li>
        <li><a href="/account/login">Sign In</a></li>
        <li><a href="/account/register">Register</a></li>


      </ul>
    </li>

    <li class="li-col currency">
      <h4 class="megamenu__subtitle"><span>Need Support?</span></h4>									  
      <ul>

        <li><a href="/pages/returns-and-exchanges">RETURNS/EXCHANGE</a></li>
        <li><a href="/pages/ordering-information">ORDERING</a></li>
        <li><a href="/pages/shipping-information">SHIPPING &amp; DELIVERY</a></li>
        <li><a href="/pages/motorhelmets-sizing-chart">SIZING GUIDE</a></li>
        <li><a href="/pages/information-guide">INFO GUIDE</a></li>
        <li><a href="/pages/about-us">ABOUT</a></li>
        <li><a href="/pages/contact-us">CONTACT</a></li>


      </ul>
    </li>
  </ul>
</div>