<div class="mobile-collapse">
  <h4 class="text-left  title-under  mobile-collapse__title">{{ settings[title] }}</h4>
  <div class="v-links-list mobile-collapse__content">
    <ul>
      {% for link in linklists[footerLinks].links %}
      {% if link.title == "Photoblog" %}
      <li><a href = "{{link.url}}" target = "_blank">{{ link.title }}</a></li>
      {%elsif link.title == "Motorcycle Service and Repair Specials"%}
     	<li><a href = "{{link.url}}" target = "_blank">{{ link.title }}</a></li>
      {%else%}
         <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {%endif%}
      
      
   
      {% endfor %}
    </ul>
  </div>
</div>