  {% if template != "page.motorhelmets-newsletter" %}
  {% unless template contains "page.home-page_layout" %}
<section style="background-attachment: relative; background-size: 100%;  background-position: 50% -288.868px; margin-top:0px;background-color: #1d1d1d;position: relative;overflow: hidden;"  data-img-width="1600" 
data-img-height="1064" data-diff="100">
<div class="foot-motologo">
  <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-logo-footer.svg?v=1593157875" alt="">

</div>
<div class="davz_NL_footer" data-holder="">
<div class="container davz">


<div class="row">
  <div class="col-md-3">
    <a href="/pages/free-shipping-promotions" style="text-decoration: none;"><h1 style="color: #ef4449;"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/footer-freeshiping.png?v=1593155955" alt=""></h1></a>
   </div> 
<div class="col-md-9">
<div class="davz-haus-newsletter-page text-center davz_nl_footer">
<div class="modal-dialog white-modal center-center" id="mc_embed_signup">
<div class="modal-content" style="background-color: transparent;padding: 0;">

<div class="modal-block">
<div class="modal-newsletter text-center">

<div></div>
<form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form validate" target="_blank" novalidate="" action="//motorhelmets.us10.list-manage.com/subscribe/post?u=ff8716194950b6d4e7426ca81&amp;id=12fe6611a1">
<div class="row-subscibe">
  <input name="EMAIL" placeholder="Sign up for our Online Newsletter" type="text" class="davz_motoNewsLetter_page_input"> 
  <button type="submit" class="btn btn--ys btn--xl davz_motoNewsLetter_page_button">subscribe</button>
</div>
</form>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display: none;"></div>
<div class="response" id="mce-success-response" style="display: none;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
</div>
</div>
</section>


<style>
  #mce-responses #mce-error-response {
    color: red; 
  }
  #mce-responses #mce-success-response {
    color: white; 
  }
</style>



{% comment %}
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">// <![CDATA[
  (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
  // ]]></script>
    <!--End mc_embed_signup-->
{% endcomment %}


 {% endunless %}
  {% endif %}




<!-- FOOTER section -->
<footer class="layout-4" data-holder = "">
    
<!--   <center style="padding: 15px 10px; background: black; margin: 0 0 20px 0;"><a href="/pages/free-shipping-promotions" style="text-decoration: none;"><h1 style="color: #ef4449; margin: 0;">FREE SHIPPING <span style="color: #736a6a;">OVER</span> $100</h1></a></center>
   -->
  <!-- footer-data -->
  <div class="container">
    

    <div class="row" >
      {% if settings.showfooternewsletter == false and settings.show_footer_soc_but == false %}
      {% include "footer-column-links" %}
      {% else %}
      
      {% if settings.tabBlockAll %}
      {% assign all = false %}{% assign grid = 0 %}{% for i in (1..3) %}{% assign access = 'tabBlock' | append: forloop.index %}{% if settings[access] %}{% assign grid = grid | plus: 1 %}{% endif %}{% endfor %}

      {% if grid > 0 %}
      {% if grid == 3 %}
      {% assign class = "col-sm-4 col-md-4  col-lg-4" %}
      {% endif %}
      {% if grid == 2 %}
      {% assign class = "col-sm-6 col-md-6  col-lg-4" %}
      {% endif %}
      {% if grid == 1 %}
      {% assign class = "col-sm-12 col-md-12  col-lg-6" %}
      {% endif %}
      {% endif %}
      
      {% if grid > 0 %}
      {% for i in (1..3) %}
      {% assign access = 'tabBlock' | append: forloop.index %}
      {% if settings[access] %}
      {% assign title = 'blockName' | append: forloop.index %}
      {% assign footerLinks = 'footer-links-' | append: forloop.index %}
      <div class="{{ class }}">{% include "footer-links" %}</div>
      {% endif %}{% endfor %}{% endif %}
    {% endif %}
      
      {% assign grid = grid | plus: 1 %}
      {% if settings.showfooternewsletter and grid > 1 or settings.show_footer_soc_but and grid > 1 %}<div class="divider divider--lg visible-sm visible-md"></div>{% endif %}
      {% if settings.showfooternewsletter or settings.show_footer_soc_but %}<div class="{% if settings.tabBlockAll and grid > 1 %}col-sm-12 col-md-12 col-lg-{{ 12 | divided_by: grid }}{% else %}col-sm-12 col-md-12 col-lg-12{% endif %}">
        
      {% comment %}
      {% if settings.showfooternewsletter %}<div class="subscribe-box">
          <div class="mobile-collapse">
            {% if settings.mailchimp_form_action != "" %}
            <h4 class="text-left  title-under  mobile-collapse__title">{{ "newsletter.general.title" | t }}</h4>
            <div class="mobile-collapse__content">
              <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline">
                <input type="text" name="EMAIL" class="subscribe-form__input">
                <button type="submit" class="btn btn--ys btn--xl">{{ "newsletter.general.button" | t }}</button>
              </form>
            </div>
            {% else %}
            <strong><u>Add newsletter redirect link in Newsletter / MailChimp form action URL</u></strong>
            {% endif %}
          </div>
        </div>{% endif %}
      
      {% if settings.shownewslettertext_design4 %}<div class="divider divider--md hidden-xs"></div>
      <!-- address -->
      <div class="subscribe-box">
        <div class="mobile-collapse">
          <h4 class="text-left text-uppercase visible-xs  title-under  mobile-collapse__title">{{ settings.newslettertitle_design4 }}</h4>
          <div class="mobile-collapse__content">{{ settings.newslettertext_design4 }}</div>
        </div>
      </div>{% endif %}
      
      
        {% if settings.show_footer_soc_but %}<!-- social-icon --><div class="divider divider--md"></div>
        <div class="social-links social-links--large social-links-layout-02 ">
          <ul>{{ settings.footer_soc_but }}</ul>
        </div><!-- /social-icon -->{% endif %}
      {% endcomment %}
      </div>{% endif %}
      {% endif %}
    </div>
    
    <hr class="hidden-xs">
    {% if settings.contentBlockAll_design4 %}
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <!--  -->
        <div class="mobile-collapse">
          <h4 class="text-left text-uppercase  title-under  mobile-collapse__title">MOTO RESOURCES</h4>
          <div class="v-links-list mobile-collapse__content">
           <div class="social-links--large social-links-layout-02 moto_resourcesLinks">
           <ul>
      <li><a href="/pages/motorhelmets-brands-wall">Store Wall</a></li>
            <li><a href="/blogs/lookbook">Lookbook</a></li>
             <li><a href="/blogs/news">Blog</a></li>
            <li><a href="/pages/free-stickers">Free Stickers!</a></li>
            <li><a href="/pages/motorhelmets-motorcycle-resource-page">Resources</a></li>
            <li><a href="/pages/calendar">Calendar</a></li>
            <li><a href="http://library.motorhelmets.com/">Archive Library</a></li>



          </ul>
          </div>
          </div>
        </div>
        <!-- / -->
      </div>
      <div class="col-sm-6 col-md-4">
        <!--  -->
        <div class="mobile-collapse">
          <h4 class="text-left text-uppercase  title-under  mobile-collapse__title">Follow Us</h4>
          <div class="v-links-list mobile-collapse__content">
            <div class="social-links social-links--large social-links-layout-02">
            <ul><li><a class="icon fa fa-facebook" href="//www.facebook.com/Motorhelmets" target = "_blank"></a></li>
                <li><a class="icon fa fa-yelp" href="//www.yelp.com/biz/motorhelmets-fullerton-2" target = "_blank"></a></li>
                <li><a class="icon fa fa-twitter" href="//twitter.com/wwwMotorhelmets" target = "_blank"></a></li>
                <li><a class="icon fa fa-instagram" href="//instagram.com/wwwmotorhelmets/" target = "_blank"></a></li>
                <li><a class="icon fa fa-youtube-square" href="//www.youtube.com/user/motorhelmets" target = "_blank"></a></li>
<!--                 <li><a class="icon fa fa-google-plus" href="//plus.google.com/103110207031205214358/posts" target = "_blank"></a></li> -->
        <li><a class="icon fa fa-pinterest" href="//www.pinterest.com/wwwmotorhelmets/" target = "_blank"></a></li>
                <li class = "hidden-lg"><a class="icon google-icon" href="https://www.google.com/search?rlz=1C1CHFX_enUS695US695&ei=G1szWrbEEdDijwP4j6roCw&q=motorhelmets&oq=motorhelmets&gs_l=psy-ab.3..0i67k1j0l9.5068.6407.0.6651.10.10.0.0.0.0.96.659.9.9.0....0...1c.1.64.psy-ab..1.9.659...38j0i22i30k1.0.G4H2Rd0Q51M#lrd=0x80dd2a37daf37419:0xf7c7a0537531c541,1,,," target = "_blank"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/google-local-business-logo_large2-final.png?18387247093947814607" style="width:52px;height:52px;"></a></li>
                <li class = "hidden-lg"><a class="icon facebook-local" href="//www.facebook.com/MotorhelmetsOC/?ref=br_rs" target = "_blank"><img src ="https://cdn.shopify.com/s/files/1/1223/6434/files/facebook-local-new2_072965c0-0a89-49c1-a718-f76fa93945d5.png?4400731164478678893" style ="width:100%; padding-bottom:7px;padding-left:0px;padding-right:0px"></a></li>
                <li class = "hidden-lg"><a class="icon instagram-local" href="//www.instagram.com/motorhelmets/" target = "_blank"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/instagram8.png?13153640461335711602" style = "width:100%;padding-bottom:7px; padding-left:0px;padding-right:0px;"></a></li>
              
              {% comment %}
                  <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMotorhelmets&amp;width=450&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=672974122777635" style="border:none;overflow:hidden" scrolling="no" allowtransparency="true" frameborder="0" height="80" width="100%"></iframe>
              <li class = "hidden-lg"><a class="icon photoblog" href="/photoblog"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/pb-logo-65x53.jpg?18331923508000778447" style = "width:75%;padding-bottom:7px; padding-left:0px;padding-right:0px;"></a></li>
              {% endcomment %}
              </ul>
              <ul>
        <li class = "hidden-xs hidden-sm hidden-md"><a class="icon google-icon" href="https://g.page/Motorhelmets/review?gm" target = "_blank"><img class = "b-lazy" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/google-local-business-logo_large2-final.png?18387247093947814607" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" style="width:52px;height:52px;"></a></li>
                <li class = "hidden-xs hidden-sm hidden-md"><a class="icon facebook-local" href="//www.facebook.com/MotorhelmetsOC/?ref=br_rs" target = "_blank"><img class = "b-lazy" data-src ="https://cdn.shopify.com/s/files/1/1223/6434/files/facebook-local-new2_072965c0-0a89-49c1-a718-f76fa93945d5.png?4400731164478678893" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" style ="width:52px;height:55px; padding-bottom:7px;padding-left:2px;padding-right:2px"></a></li>
                <li class = "hidden-xs hidden-sm hidden-md"><a class="icon instagram-local" href="//www.instagram.com/motorhelmets/" target = "_blank"><img class = "b-lazy" data-src ="https://cdn.shopify.com/s/files/1/1223/6434/files/instagram8.png?13153640461335711602" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" style ="width:52px; height: 47px; padding-bottom:7px;padding-left:2px;padding-right:2px"></a></li>
                    </ul>
              
          </div>
          </div>
        </div>
        <!-- / -->
      </div>
      <div class="divider divider--lg visible-sm"></div>
      <div class="col-sm-6 col-md-4">
        <!-- -->
        <div class="mobile-collapse">
          <h4 class="text-left text-uppercase  title-under  mobile-collapse__title text-uppercase">Payment Methods</h4>
          <div class=" mobile-collapse__content">             
          <div class="social-links social-links--large social-links-layout-02 payment_method">
                          <ul>
                              <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/files/visa-card.png?16909175108022165238" alt="Visa" title="Visa"></li>
                              <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/files/master-card.png?16909175108022165238" alt="MasterCard" title="MasterCard"></li>
                              <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/files/american-exp-card.png?16909175108022165238" alt="American Express" title="American Express"></li>
                              <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/files/paypal-card.png?16909175108022165238" alt="Paypal" title="Paypal"></li>
                              <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/files/discover-card.png?16909175108022165238" alt="Discover" title="Discover"></li>
                          </ul>
             </div>    
            
          </div>
        </div>
        <!-- / -->
        
        <!-- -->
        <div class="mobile-collapse davz_moto_footer_nl">
            <h4 class="text-left text-uppercase  title-under  mobile-collapse__title text-uppercase">Great Deals! Every Week!</h4>
            <div class=" mobile-collapse__content">
                <div class="social-links social-links--large social-links-layout-02 payment_method">
                    <form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form validate" target="_blank" novalidate="" action="//motorhelmets.us10.list-manage.com/subscribe/post?u=ff8716194950b6d4e7426ca81&amp;id=12fe6611a1">
                        <div>
                            <input name="EMAIL" placeholder="Sign Up and Get Online Deals" type="text" class="davz_moto_footer_nl_input">
                            <button type="submit" class="btn btn--ys btn--xl davz_moto_footer_nl_btn"><i class="icon icon-send"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- / -->
        
      </div>
    
    </div>
    
    {% endif %}
    
    
  </div>
  
  <!-- footer-copyright -->
  <div class="container footer-copyright">
    <div class="row">{{ settings.footer_address }}</div>
  </div>
  <!-- /footer-copyright --> 
<!--   <a href="#" class="btn btn--ys btn--full visible-xs" id="backToTop">Back to top <span class="icon icon-expand_less"></span></a> 
 -->


</footer>
<!-- END FOOTER section -->