

 
<div id="footer" style="background-image: url('https://cdn.shopify.com/s/files/1/1223/6434/files/footerbanner4-min.jpg?557275379250429074');background-attachment: relative; background-size: 100%; background-position: 50% -288.868px;    border-top: 20px solid white;" data-img-width="1600" data-img-height="1064" data-diff="100">
	<div style="height: 250px; background-color: rgba(0, 0, 0, 0.35);">
		<div class="njohn-footer">
			<div class="njohn-row">
				<div class="njohn-footer-inside">
					<div class="njohn-mymail-form">
						<form action="//motorhelmets.us10.list-manage.com/subscribe/post?u=ff8716194950b6d4e7426ca81&id=12fe6611a1" method="post" name="mc-embedded-subscribe-form" target="_blank">
							<div class="njohn-mymail-wrapper">
								<input class="njohn-inputs njohn-input njohn-input-style" name="EMAIL" placeholder="Don't Forget to Sign Up for Our Newsletter" spellcheck="false" type="email">
							</div>
							<div class="njohn-mymail-wrapper njohn-mymail-submit-wrapper">
                              <button class="njohn-inputs njohn-button" name="submit"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/footer-mail-icon.png?13026570410720708650"></button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- FOOTER section -->
<footer class="layout-3">
  <!-- footer-data -->
  <div class="container inset-bottom-60">
    {% if settings.showfooterlogo_design3 or settings.showfooternewsletter %}
    <div class="row">
      <div class="col-sm-12 text-center">
        
        {% comment %}
        {% if settings.showfooterlogo_design3 %}
        <div class="footer-logo hidden-xs">
          <!--  Logo  --> 
          <a class="logo" href="{{ shop.url }}"> <img src="{{ "footerlogo.png" | asset_url }}" alt="{{ shop.name }}"> </a> 
          <!-- /Logo --> 
        </div>
        {% endif %}
        {% endcomment %}
        
        
        {% comment %}
        {% if settings.showfooternewsletter %}
        <div class="divider divider-md"></div>
        {% comment %}
        <div class="divider divider-lg visible-xs"></div>
        {% endcomment %}
        <!-- subscribe-box -->
        <div class="subscribe-box subscribe-box-row offset-top-20">
          <div class="mobile-collapse">
            {% if settings.mailchimp_form_action != "" %}
            <h4 class="mobile-collapse__title text-left">{{ "newsletter.general.title" | t }}</h4>
            <div class="mobile-collapse__content">
              <form action="{{ settings.mailchimp_form_action }}" method="post" name="mc-embedded-subscribe-form" target="_blank" class="form-inline">
                <input type="text" name="EMAIL" class="subscribe-form__input" placeholder="Your E-mail">
                <button type="submit" class="btn btn--ys btn--xl">{{ "newsletter.general.button" | t }}</button>
              </form>
            </div>
            {% else %}
            <strong><u>Add newsletter redirect link in Newsletter / MailChimp form action URL</u></strong>
            {% endif %}
          </div>
        </div>
        <!-- /subscribe-box -->
        {% endif %}
        {% endcomment %}
        
      </div>
    </div>
    <div class="divider divider-md hidden-xs"></div>
    {% endif %}

    {% if settings.contentBlockAll_design3 %}
    <div class="row">					
      {% if settings.tabBlockAll %}{% assign all = false %}
      {% assign grid = 0 %}
      {% for i in (1..4) %}
      {% assign access = 'tabBlock' | append: forloop.index %}
      {% if settings[access] %}
      {% assign grid = grid | plus: 1 %}
      {% endif %}
      {% endfor %}
      {% if grid > 0 %}
      {% if grid == 4 %}
      {% assign all = true %}
      {% endif %}
      {% assign gridsm = 12 | divided_by: grid %}
      {% assign gridmd = 9 | divided_by: grid %}
      {% endif %}
      {% if grid > 0 %}
      {% for i in (1..4) %}
      {% assign access = 'tabBlock' | append: forloop.index %}
      {% if settings[access] %}
      {% assign title = 'blockName' | append: forloop.index %}
      {% assign footerLinks = 'footer-links-' | append: forloop.index %}
      <div class="col-sm-{{ gridsm }} col-md-{{ gridmd }}">
        {% include "footer-links" %}
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
      <div class="clearfix visible-sm divider divider-lg "></div>
      {% endif %}
      {% comment %}
      <div class="col-sm-9 col-md-2">
        <h4 class="text-left  title-under mobile-collapse__title">FOLLOW US</h4>
        <div class="mobile-collapse">
          <h4 class="text-left  title-under  mobile-collapse__title text-uppercase visible-xs visible-sm">
            {{ settings.footercontenttexttitle_design3 }}
          </h4>
          <div class="mobile-collapse__content">
            {% if settings.showfootercontenttext_design3 %}
           	 {{ settings.footercontenttext_design3 }}
            {% endif %}
            {% if settings.show_footer_soc_but %}
            <div class="social-links social-links--large social-links-layout-02">
              {{ settings.footer_soc_but }}
            </div>{% endif %}
          </div>
        </div>
      </div>
      {% endcomment %}
      
          <div class="col-sm-9 col-md-2">
            <div class="mobile-collapse">
            <h4 class="text-left title-under mobile-collapse__title">FOLLOW US</h4>
              <div class="mobile-collapse__content">
                <div class="social-links social-links--large social-links-layout-02">
                    <ul>{{ settings.footer_soc_but }}</ul>
                </div>
               </div>
            </div>
          </div>
      
          <div class="col-sm-9 col-md-2">
            <div class="mobile-collapse">
            <h4 class="text-left title-under mobile-collapse__title">PAYMENT METHODS</h4>
              <div class="mobile-collapse__content">
                <div class="social-links social-links--large social-links-layout-02">
                    <ul>
                        <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/t/4/assets/icon-cc-visa.png?12962311897297949581" alt="Visa" title="Visa"></li>
                        <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/t/4/assets/icon-cc-mastercard.png?12962311897297949581" alt="MasterCard" title="MasterCard"></li>
                        <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/t/4/assets/icon-cc-american-express.png?12962311897297949581" alt="American Express" title="American Express"></li>
                        <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/t/4/assets/icon-cc-paypal.png?12962311897297949581" alt="Paypal" title="Paypal"></li>
                        <li><img class="payment_methods-icons" src="//cdn.shopify.com/s/files/1/1223/6434/t/4/assets/icon-cc-discover.png?12962311897297949581" alt="Discover" title="Discover"></li>
                    </ul>
                </div>
               </div>
            </div>
          </div>
    </div>
    {% else %}
	  {% if settings.tabBlockAll %}
        <div class="row">
           {% include "footer-column-links" %}
        </div>
      {% endif %}
    {% endif %}
  </div>
  <!-- /footer-data --> 
  <div class="divider divider-md visible-sm"></div>

  <!-- footer-copyright -->
  <div class="container footer-copyright">
    <div class="row">{{ settings.footer_address }}</div>
  </div>
  <!-- /footer-copyright --> 
  <a href="#" class="btn btn--ys btn--full visible-xs" id="backToTop">Back to top <span class="icon icon-expand_less"></span></a> 
</footer>