{% assign array = '' %}

{% for tag in _tags %}
	{% if tag contains '__' %}
		{% assign value = tag | split: '__' | first %}
		{% assign array = array | append: ',' | append: value %}
	{% else %}
		{% assign array = array | append: ',' | append: tag %}
	{% endif %}
{% endfor %}

{% assign array = array | remove_first: "," | split: ',' %}
{% assign tag_size = 0 %}

{% for t in array %}
	{% assign tag = t | strip | downcase %}
	{% assign all_tags = collection.all_tags | downcase %}
	{% assign checktag = '"' | append: tag | append: '"' %}
	{% if all_tags contains checktag %}
		{% assign size = 0 %}
		{% for product in collection.products %}
			{% assign prod_tags = product.tags | downcase %}
			{% if prod_tags contains checktag %}
				{% assign size = size | plus: 1 %}
			{% endif %}
		{% endfor %}

		{% if size > 0 %}
			{% assign tag_size = tag_size | plus: 1 %}
			{% assign cur_tags = current_tags | downcase %}
			{% if cur_tags contains checktag %}
				{{ tag | downcase }}
				{% break %}
			{% endif %}
		{% endif %}
	{% endif %}
{% endfor %}
