


<script src="{{ 'jquery.plugin.min.js' | asset_url}}" ></script>
<script src="{{ 'jquery.history.js' | asset_url}}" ></script>
<script src="{{ 'jquery.magnific-popup.min.js' | asset_url}}" ></script>
<script src="{{ 'jquery.parallax-1.1.3.js' | asset_url}}" ></script>
<script src="{{ 'jquery.colorbox-min.js' | asset_url}}" ></script>
<script src="{{ 'jquery.countdown.min.js' | asset_url}}" ></script>
<script src="{{'slick.min.js' | asset_url}}" ></script>
<script src="{{ 'bootstrap.min.js' | asset_url }}" ></script>
<script src="{{ 'doubletaptogo.js' | asset_url }}" ></script>
<script src="{{ 'resposnivemultimenu.js' | asset_url}}" ></script>
<script src="{{ 'bootstrap-select.min.js' | asset_url }}" ></script>
<script src="{{'imagesloaded.pkgd.min.js' | asset_url }} " ></script>

<script src="{{ 'custom.js' | asset_url}}" ></script>
<script src="{{ 'instafeed.min.js' | asset_url}}" ></script>
<script src="{{ 'instagram_custom.js' | asset_url}}" ></script>

<!-- AUTO HIDE NAV -->
{% comment %}
{{ 'auto-hide-nav.js' | asset_url | script_tag }}
{% endcomment %}
{% if settings.product_item_show_wishlist %}
	{{ 'wishlist.js' | asset_url | script_tag }}
{% endif %}

{% if template == "index" or template contains "page.home-page_layout" %}
<script src="{{ 'jquery.themepunch.tools.min.js' | asset_url}}" async></script>
<script src="{{ 'jquery.themepunch.revolution.min.js' | asset_url}}" async></script>
{% if settings.home_page_layout == 'home-page_layout-6' or template == "page.home-page_layout-6" %} <script src="{{ 'revolution-layout6.js' | asset_url}}" defer></script>
{% elsif settings.home_page_layout == 'home-page_layout-7' or template == "page.home-page_layout-7" %}<script src="{{ 'revolution-layout7.js' | asset_ur }}" defer></script>
{% elsif settings.home_page_layout == 'home-page_layout-4' or template == "page.home-page_layout-4" %}<script src="{{ 'revolution-layout4.js' | asset_url}}" defer></script>
{% elsif settings.home_page_layout == 'home-page_layout-2' or template == "page.home-page_layout-2" %}<script src="{{ 'revolution-layout2.js' | asset_url}}" defer></script>
{% else %}{{ 'revolution-default.js' | asset_url | script_tag }}
{% endif %}
{% endif %}


{% comment %}Layouts{% endcomment %}
<script>
  productCarousel($j('.megaMenuCarousel_js'),1,1,1,1,1);
  mobileOnlyCarousel();
</script>
{% if template == "index" or template contains "page.home-page_layout" %}
<script>
  $j( document ).ready(function(){

    /*l1*/
    bannerCarousel($j('.banner-carousel'));
    bannerCarousel($j('.category-carousel')); //page_container 1

    {% if settings.home_page_layout != 'home-page_layout-2' and template != 'page.home-page_layout-2' %}productCarousel($j('#postsCarousel'),2,3,3,2,1);{% endif %}
    blogCarousel($j('.slider-blog'),1,1,1,1,1);
    brandsCarousel($j('.brands-carousel'));

    /*l2*/
    productCarousel($j('.fead-prod-l2 .carousel-small'),5,3,3,2,1);
    if($j(".prods-l2-js .carousel-small").length > 1) {
      productCarousel($j(".prods-l2-js .carousel-small").first(),3,2,2,2,2);
      productCarousel($j(".prods-l2-js .carousel-small").last(),2,1,2,2,2);
    }
    else {
      productCarousel($j('.prods-l2-js .carousel-small'),5,2,3,2,1);
    }
    //aside
    bannerAsid($j('.bannerAsid'),1,1,1,1,1);//banner
    testimonialsAsid($j('.testimonialsAsid'),1,1,1,1,1);//TESTIMONIALS
    {% unless settings.home_page_layout != 'home-page_layout-2' and template != 'page.home-page_layout-2' %}productCarousel($j('#postsCarousel'),1,1,1,1,1);{% endunless %}
    bannerCarouselShort($j('.category-carousel-l2'));
    
    /*l3*/
    productCarousel($j('.banner-slider'),1,1,1,1,1);
    productCarousel($j('.fead-prod .carousel-small'),5,5,3,2,1);
    productCarousel($j('.fead-prod1 .carousel-small'),5,5,3,2,1);
    productCarousel($j('.fead-prod2 .carousel-small'),5,5,3,2,1);
    /*l4*/
    productCarousel($j('.banner-carousel-1'),4,4,3,2,1);
    /*l6*/
    productCarousel($j('.carousel-small-2'),4,2,1,1,1);
    if(!$j('.slider-blog-layout1').hasClass("no-slick")) {
      blogCarousel($j('.slider-blog-layout1'),3,2,1,1,1);
    }
    /*l8*/
    productCarousel($j('#carouselHeader'),4,4,3,2,1);
    /*l10*/
    productCarousel($j('.bannerCarousel'),4,3,3,2,1);
    productCarousel($j('#postsCarousel10'),2,2,2,2,1); // 3 - xl, 3 - lg, 3 - md, 2 - sm, 1 - xs
    /*$j('.carouselTab').each(function(){
      
    });*/
    /*l9*/
    productCarousel($j('.bannerOneProduct'),1,1,1,1,1);
    /*full*/
    if($j(".newsale-js .carousel-small").length > 1) {
      $j('.newsale-js .carousel-small').each(function(){
        productCarousel($j(this),2,2,3,2,1)
      })
    }
    else {
      productCarousel($j('.newsale-js .carousel-small'),4,4,3,2,1);
    }

  });
</script>
{% endif %}

{% comment %}Product Page{% endcomment %}
{% if template == "product" %}
{{ 'jquery.elevatezoom.js' | asset_url | script_tag }}
<script>
  $j(document).ready(function() {

    $j('.video-link').magnificPopup({
      disableOn: 767,
      type: 'iframe',
      removalDelay: 160,
      preloader: false,			
      fixedContentPos: false
    });

    // Init All Carousel			
    thumbnailsCarousel($j('.product-images-carousel ul'));
    productCarousel($j('#carouselRelated'),6,4,4,2,1);
    productCarousel($j('#carouselVendor'),6,4,4,2,1);
    productCarousel($j('#mobileGallery'),1,1,1,1,1);

    elevateZoom();
    
    productBigCarousel($j('.bigGallery'),3,3,3,2,1);
    elevateZoom1();
    sliderNoZoom();
  })
</script>
{% endif %}

{% comment %}Collection Page{% endcomment %}
{% if template == "collection" %}
{{ 'isotope.pkgd.min.js' | asset_url | script_tag }}
<script>
  $j(document).ready(function() {

    listingModeToggle();

  })
</script>
{% endif %}

{{ 'collection-filtres.js' | asset_url | script_tag }}

{% comment %}Contact Page, Map{% endcomment %}
{% if template == "page.contact" %}{% capture map %}{% include "get-content-with-key" content: page.content key: "[map]" %}{% endcapture %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script type="text/javascript">
// When the window has finished loading create our google map below
google.maps.event.addDomListener(window, 'load', init);

function init() {
	// Basic options for a simple Google Map
	// For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
	var mapOptions = {
		// How zoomed in you want the map to start at (always required)
		zoom: 11,

		// The latitude and longitude to center the map (always required)
		center: new google.maps.LatLng({{ map }}),

		// How you would like to style the map. 
		// This is where you would paste any style found on Snazzy Maps.
		styles: [{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#d1d1d1"}]},{"featureType":"transit","stylers":[{"color":"#808080"},{"visibility":"off"}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"on"},{"color":"#d1d1d1"}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#d1d1d1"}]},{"featureType":"road.local","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ffffff"},{"weight":1.8}]},{"featureType":"road.local","elementType":"geometry.stroke","stylers":[{"color":"#d7d7d7"}]},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#ebebeb"}]},{"featureType":"administrative","elementType":"geometry","stylers":[{"color":"#d1d1d1"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"road.arterial","elementType":"geometry.fill","stylers":[{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"visibility":"on"},{"color":"#fafafa"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#d6d6d6"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#bfbfbf"}]},{"featureType":"poi","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"geometry.stroke","stylers":[{"color":"#d6d6d6"}]},{"featureType":"road","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{},{"featureType":"poi","elementType":"geometry.fill","stylers":[{"color":"#f1f1f1"}]}]
	};

	// Get the HTML DOM element that will contain your map 
	// We are using a div with id="map" seen below in the <body>
	var mapElement = document.getElementById('map');

	// Create the Google Map using our element and options defined above
	var map = new google.maps.Map(mapElement, mapOptions);

	// Let's also add a marker while we're at it
	var marker = new google.maps.Marker({
		position: new google.maps.LatLng({{ map }}),
		map: map,
		title: 'Snazzy!'
	});
}
</script>
{% endif %}

{% if settings.enable_rtl %}{{ 'rtl.js' | asset_url | script_tag }}{% endif %}








{% if template contains 'page.size-chart' %}
  	{{ 'size_chart-jquery.mobile.custom.min.js' | asset_url | script_tag }}
	{{ 'size_chart_js.js' | asset_url | script_tag }}
{% endif %}


<!-- START BOOTSTRAP QTY BUTTON -->

{{ 'bootstrap-number-input.js' | asset_url | script_tag }}


<script>
// Remember set you events before call bootstrapSwitch or they will fire after bootstrapSwitch's events
jQuery("[name='checkbox2']").change(function() {
	if(!confirm('Do you wanna cancel me!')) {
		this.checked = true;
	}
});

jQuery('#after').bootstrapNumber();
jQuery('#colorful').bootstrapNumber({
	upClass: 'plus',
	downClass: 'minus'
});
jQuery('#colorful2').bootstrapNumber({
	upClass: 'plus',
	downClass: 'minus'
});
  
jQuery('#colorful3').bootstrapNumber({
	upClass: 'plus',
	downClass: 'minus'
});
</script>


<!-- moto remodal plugin -->

{{ 'remodal.js' | asset_url | script_tag }}



