{% if template == 'index' %}
<div class="nj_wishlist_row_list" style="visibility:hidden; position: absolute;">
{% include "njohn_wishlist_row" %}
</div>
{% endif %}

<header id="header" class="moto_top_header">

		<!-- <div class="cd-primary-nav"> //-->
  
        <div class="container moto_main_menu">
          <div class="row">
            <div class="col-sm-4 col-md-4 col-lg-3 col-xl-3">

              {% comment %}
              <!-- logo start --> 
              <a href="/">
                <img class="logo img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/logo-1440-min.png?457335009631203994" alt="Motorhelmets.com" title="Motorhelmets.com"/>
              </a> 
              <!-- logo end --> 
              {% endcomment %}

            </div>
            <div class="pull-right col-sm-9 col-md-9 col-lg-9 text-right">

              <!-- account menu start -->
              <div class="account-row-list pull-right mobile-menu-off">
                <ul class="moto-top-link">
                  <li><a href="/pages/contact-us">Contact Us</a></li>
                  <li><a href="/pages/about-us"> About Us</a></li>
                  <li><a href="/pages/store-location"> Store Location</a></li>
                  <li><a href="/pages/help-page"> Help</a></li>
                  <li><a href="/blogs/news" > Blog </a></li>
                  <li><a href="#FreeFreightExchanges"> Free Returns/Exchanges </a></li>
                </ul>
              </div>
            </div>
          </div>
		</div>
		
		<div class="stuck-nav">
          
          <div class="jubs-nav">
            <div class="container">
              <div class="row">
                      <div class="pull-left col-sm-3 col-md-3 col-lg-3">
                          <!-- logo start --> 
                          <a href="/">
                              <img class="logo img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/logo-1440-min.png?457335009631203994" alt="Motorhelmets.com" title="Motorhelmets.com"/>
                          </a> 
                          <!-- logo end -->            
                        
                      </div>
                      <div class="pull-right col-sm-9 col-md-9 col-lg-9 text-right">
                          <div class="text-right moto_search_scroll">
                            
                          {% include "menu-search" %}
                            
                          <!-- ACCOUNT ICON FOR DESKTOP ONLY-->
                          <div class="link-inline toggle-menu for_account-cart_icon visible-mobile-menu-off davz_new_account_icon">
                          	<span class="simple-icon simple-icon-user" title="MY ACCOUNT" alt="MY ACCOUNT"></span>
                            <span class="visible-mobile-menu-off jubs-icon-name" title="MY ACCOUNT" alt="MY ACCOUNT" ></span>
                            
                            <ul class="dropdown-menu " role="menu">
                              <li class='li-col-full'>
                                <span class="close icon-clear pull-right" data-dismiss="modal"></span>

                              </li>
                              <li class='li-col-full list-user-menu davz_li_col_full'>									 
                                <h4 class="megamenu__subtitle"><span>{{ 'general.menu.toggle_account' | t }}</span></h4>		
                                <ul> 
                                  {% if shop.customer_accounts_enabled %}
                                  <li><a href="/account">{{ "layout.customer.account" | t }}</a></li>
                                  {% endif %}
                                  <li><a href="/checkout">{{ "layout.customer.checkout" | t }}</a></li>
                                  {% if shop.customer_accounts_enabled %}
                                  {% if customer %}
                                  <li><a href="/account/logout">{{ "layout.customer.log_out" | t }}</a></li>
                                  {% else %}
                                  <li><a href="/account/login">{{ "layout.customer.sign_in" | t }}</a></li>
                                  {% if shop.customer_accounts_optional %}
                                  <li><a href="/account/register">{{ "layout.customer.register" | t }}</a></li>
                                  {% endif %}
                                  {% endif %}
                                  {% endif %}
                                  <li><a href="/pages/help-page">Support Page</a></li>
                                  <li><a href="/pages/wishlist">Wishlist</a></li>
                                  <li><a href="/pages/compare-product-page">Compare Page</a></li>
                                </ul>
                              </li>
                            </ul>
                          </div>
                          
                           
                           {% comment %}
                            
                           <!-- COMPARE ICON FOR DESKTOP ONLY-->
                           <div class="link-inline toggle-menu visible-mobile-menu-off jubs-n_compare_product" alt="COMPARE PRODUCTS" title="COMPARE PRODUCTS" id="jubs-n_mobile">
                              <a href="/pages/compare-product-page">
                                <span class="davz--comparison origin-icon-arrow-compare"></span>
                                <span class="visible-mobile-menu-off jubs-icon-name"></span>
                             </a>
                           </div>
                            
                           <!-- WISHLIST ICON FOR DESKTOP ONLY-->
                           <div class="link-inline for_account-cart_icon visible-mobile-menu-off davz_new_account_icon">
                             <a href="/pages/wishlist"><span class="simple-icon simple-icon-heart" title="WISHLIST" alt="WISHLIST"></span></a>
                           </div>
							
                           {% endcomment %}

                           {% include "menu-cart" %}

                          </div>      
                      </div>
                  </div>
              </div>
           	</div>
          
			<div class="container moto_main_menu">
				<div class="row">
					<div class="pull-left">
						{% include "main-menu" %}
                        <div class="davz_moto_icon link-inline visible-mobile-menu-on">
                          <a href="https://motorhelmets.com/">
                            <span class="moto-m-moto"></span>
                          </a>
                        </div>
                      
                      	{% include "menu-customer" %}
                      	{% include "menu-comparison" moto_top_links_class: "hidden mobile-menu-on" %}
                      	{% include "menu-mobile-wishlist" %}
                      </div>
                  
                  	<div class="pull-left col-md-1">
                      	{% include "menu-mobileclick-search" %}
                      	{% include "menu-cart" cart_class: "visible-mobile-menu-on" %}
                  	</div>
				</div>
			</div>

          
        </div>
 
  <!-- </div> //-->

</header>