{{ 'slick.css' | asset_url | stylesheet_tag }}
{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
{{ 'magnific-popup.css' | asset_url | stylesheet_tag }}
{{ 'bootstrap-select.css' | asset_url | stylesheet_tag }}

{{ 'settings.css' | asset_url | stylesheet_tag }}

{{ 'style.css' | asset_url | stylesheet_tag }}


<!-- MOTO CUSTOM STYLES -->
{{ 'moto_custom_style.css' | asset_url | stylesheet_tag }}

{{ 'davz-mobile-view.css' | asset_url | stylesheet_tag }}

{{ 'moto_breadcrumb_style.css' | asset_url | stylesheet_tag }}


{{ 'font.hurme.css' | asset_url | stylesheet_tag }}
{{ 'fonts.futurapt.css' | asset_url | stylesheet_tag }}


{{ 'auto-hide-nav.css' | asset_url | stylesheet_tag }}


{% if template contains 'page.size-chart' %}
  	{{ 'size_chart_css.css' | asset_url | stylesheet_tag }}
{% endif %}

{{ 'remodal.css' | asset_url | stylesheet_tag }}
{{ 'remodal-default-theme.css' | asset_url | stylesheet_tag }}

<!-- END -->



{% comment %}
{% if settings.enable_custom_fonts %}
  	{{ 'style-override-fonts.css' | asset_url | stylesheet_tag }}
{% endif %}
{% endcomment %}

{{ 'css-liquid.css' | asset_url | stylesheet_tag }}
{{ 'stylefont.css' | asset_url | stylesheet_tag }}
{% if settings.enable_rtl %}
{{ 'style-rtl.css' | asset_url | stylesheet_tag }}
{% endif %}


<!-- for latest google material icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">


 {% if template contains 'search' or template contains 'cart' %}
	<style>
     #pageContent {
  		padding-top: 3%;
	 }
  
	</style>
  {% endif %}


