{% if access %}

{% if name_collection == blank %}
{% assign name_collection = "all" %}
{% endif %}

{% assign selected_collection = collections[name_collection].products %}
{% if thispage == "oakley-store-wall"  or thispage == "troy-lee-designs-store-wall" or thispage == "fox-racing-store-wall" or  thispage == "troy-lee-designs-store-wall" or  thispage == "fox-racing-store-wall" or thispage == "bell-store-wall" or thispage == "hjc-store-wall" or thispage == "scorpion-store-wall" or thispage == "shoei-store-wall" or thispage == "alpinestars-store-wall" or thispage == "shift-racing-store-wall" or thispage == "arai-store-wall" or thispage == "icon-store-wall" or thispage == "klim-store-wall" or thispage == "thor-mx-store-wall" %}
{% assign selected_collection = collections[name_collection_2].products %}
{% endif %}
{% assign _lenght = length | plus: 0 %}
{% assign counter = 0 %}


<div class="divider divider--lg"></div>
<!-- /title -->
<div class="product-listing row">
  {%comment%}
  {% if thispage == "oakley-store-wall"  or thispage == "troy-lee-designs-store-wall" or thispage == "fox-racing-store-wall" or  thispage == "troy-lee-designs-store-wall" or  thispage == "fox-racing-store-wall" or thispage == "bell-store-wall" or thispage == "hjc-store-wall" or thispage == "scorpion-store-wall" or thispage == "shoei-store-wall" or thispage == "alpinestars-store-wall" or thispage == "shift-racing-store-wall" or thispage == "arai-store-wall" or thispage == "icon-store-wall" or thispage == "klim-store-wall" or thispage == "thor-mx-store-wall" %}
  {% for product in selected_collection %}
  {%if product.vendor == 'Fox Racing' %}
  <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
    {% include "njohn-product-grid-item" %}
  </div>
  {% if counter == 20 %}
  {% break %}
  {% else %}
  {% assign counter = counter | plus:1 %}
  {{counter}}
  {% endif %}
  {% endif %}
  {% endfor %}
  {%else%}



  {% for product in selected_collection limit: _lenght %}
  <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
    {% include "njohn-product-grid-item" %}
  </div>
  {%endfor%}
  {%endif%}
  {%endcomment%}


  {% for product in selected_collection limit: _lenght %}
  <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
    {% include "njohn-product-grid-item" %}
  </div>
  {%endfor%}
  {%endif%}
  
</div>
