
{{ 'grid-custom-style.css' | asset_url | stylesheet_tag }}





<div class="divider divider--md visible-xs"></div>
<section class="lazysections moto_banner midban container_fluid container" style = "display:hidden">
  <div class="row">
    <div class ="middle-collection-banners">
      <!-- col-middle -->
      <div class ="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class = "row">
          <a href="/collections/hot-sales/sunglasses" class="banner zoom-in moto_banner midban">
            <span class="figure buttononhover">
              <img class = "img-responsive b-lazy" src= "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?9390713222228783414" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/sunglasses-2020.jpg?v=1596085963" alt="Street Collections" width="647" height = "820">
<!--               <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title size40">Street</span>
                    <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                  </span>
                </span>
              </span> -->
            </span>
          </a>
          

        </div>
      </div>
    </div>



    <div class ="middle-collection-banners">
      <!-- col-middle -->
      <div class ="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class = "row">
          <a href="/collections/100/goggles" class="banner zoom-in moto_banner midban">
            <span class="figure buttononhover">
              <img class = "img-responsive b-lazy" src= "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?9390713222228783414" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/Group_6.jpg?v=1596085964" alt="100percent Goggles - Lenses" width="647" height = "820">
<!--               <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title size40">Mens</span>
                    <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                  </span>
                </span>
              </span> -->
            </span>
          </a>

        </div>
      </div>
    </div>


  </div>
</section>