


{% if settings.layout6_show_block1 and settings.layout6_block1 != '' %}{{ settings.layout6_block1 }}{% endif %}


<!-- HOME MAIN SLIDERS -->

{% include 'moto-hero-slider' %}


{% comment %}

{% include "moto_home_grid_banners"%}

{% endcomment %}

<!-- END HOME MAIN SLIDERS -->


<!-- HOME GRID -->
	<div class="divider divider--md visible-xs"></div>
	{% include "home_category_grid"%}

	{% include "home_collections_grid"%}

<!-- HOME GRID -->
<div class="divider divider--xs"></div>

{% assign collection_label = "MOTO GEAR SALES" %}
{% assign collection_handle = "moto-gear-sale" %}
{% assign collection_length = 10 %}
{% assign counter2 = 0 %}
{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}

<div class="container featured_products">
  <div class ="product-holder" style="margin-top: 18px;">
  
  <h2 class="text-uppercase product_single_line">
    <span class="moto_saletitle"><a href="/collections/hot-sales">On Sale Items</a></span>
    <span class="moto_viewMoreBtn"><a href="/collections/hot-sales"> View More <i class="simple-icon-arrow-right"></i></a></span>
  </h2>
  <div class="divider divider--lg"></div>
  
  <div class="product-listing row">
	{% for product in selected_collection %}
    {% if counter2 ==  collection_length %}
    {% break %}
    {% endif %}
    {%if product.available and counter2 != 10%}
    <p style ="display:none">{{ product }}</p>
    {% assign counter2 = counter2 | plus:1%}
	 <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
		{% include "njohn-product-grid-item" %}
	</div>
    {%endif%}
	{% endfor %}
  </div>
  </div>
</div>



{% include "home-mid-banner" %}




<div class="divider divider--xs"></div>
{% assign collection_label = "NEW ARRIVALS PRODUCTS" %}
{% assign collection_handle = "moto" %}
{% assign collection_length = 10 %}
{% assign counter = 0 %}
{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}

<div class="container featured_products">
  
  <h2 class="text-uppercase product_single_line">
    <span class="moto_saletitle"><a href="/collections/whats-new">New Arrivals</a></span>
    <span class="moto_viewMoreBtn"><a href="/collections/whats-new"> View More <i class="simple-icon-arrow-right"></i></a></span>
  </h2>
  <div class="divider divider--lg"></div>
  
  <div class="product-listing row">
    {% for product in selected_collection %}
    {% if counter ==  collection_length %}
    {% break %}
    {% endif %}
    {%if product.available and counter != 10%}
    {% assign counter = counter | plus:1%}
    <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
      {% include "njohn-product-grid-item" %}
    </div>    
    {%endif%}
    {% endfor %}
  </div>
</div>



{% comment %}

<!-- END HOME GRID-->

	{% include "home_riding_style"%}

<!-- FEATURED RIDING STYLE-->
{% endcomment %}


<!-- HOME BRANDS -->
{% include "home_brands"%}


{% include "mobile_brand_slider" mobile_brand_slider_class: "hidden mobile-menu-on" %}



{% comment %}
<!-- featured products -->
<section class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-xl-12">
        <!-- title -->
        {% include "home-product-grid" title: settings.defaulthome_productgridtitle name_collection: settings.defaulthome_productgrid length: settings.defaulthome_productgridlength access: settings.show_defaulthome_productgrid %}
     
      
      </div>
      {% if settings.layout1_show_block2 %}
        <!-- lookbook -->
        <div class="col-xl-4 visible-xl">
          {{ settings.layout1_block2 }}
        </div>
        <!-- /lookbook -->
      {% endif %}
    </div>
  </div>
</section>
<!-- end featured products -->
{% endcomment %}


<div class="divider divider--xs"></div>




{% comment %}
{% if settings.show_layout6_slider1 %}
<section>
  <div class="container" style="max-width: 1240px;">
    {% if settings.layout6_collection_banner1 != '' %}
    {% include "home-small-slider-2" title: settings.layout6_slidertitle1 name_collection: settings.layout6_slider1 length: settings.layout6_sliderlength1 access: true collection_banner: settings.layout6_collection_banner1 %}
    {% else %}
    <div class="fead-prod1">{% include "home-small-slider" title: settings.layout6_slidertitle1 name_collection: settings.layout6_slider1 length: settings.layout6_sliderlength1 access: true %}</div>
    {% endif %}
  </div>
</section>
{% endif %}
{% endcomment %}


{% if settings.show_layout6_slider2 %}
<section>
  <div class="container" style="max-width: 1240px;">
    {% if settings.layout6_collection_banner2 != '' %}
    {% include "home-small-slider-2"
        title: settings.layout6_slidertitle2
        name_collection: settings.layout6_slider2
        length: settings.layout6_sliderlength2
        access: true
        collection_banner: settings.layout6_collection_banner2 %}
    {% else %}
    <div class="fead-prod2">
      {% include "home-small-slider"
      title: settings.layout6_slidertitle2
      name_collection: settings.layout6_slider2
      length: settings.layout6_sliderlength2
      access: true %}</div>
    {% endif %}
  </div>
</section>
{% endif %}

{%comment%}
{% include "why_buy_from_moto"%}
{% include "newsletter-popup" %}
{%endcomment%}

{% include "home-instagram"%}  

<!-- <section class="content separator-section"><div class="container"><hr></div></section> -->

{% if settings.layout6_show_block2 and settings.layout6_block2 != '' %}{{ settings.layout6_block2 }}{% endif %}



{% if settings.show_layout6_slider3 %}
<section class="content">
  <div class="container">
    {% if settings.layout6_collection_banner3 != '' %}
    {% include "home-small-slider-2" title: settings.layout6_slidertitle3 name_collection: settings.layout6_slider3 length: settings.layout6_sliderlength3 access: true collection_banner: settings.layout6_collection_banner3 %}
    {% else %}
    <div class="fead-prod">{% include "home-small-slider" title: settings.layout6_slidertitle3 name_collection: settings.layout6_slider3 length: settings.layout6_sliderlength3 access: true %}</div>
    {% endif %}
  </div>
</section>
{% endif %}



{% if settings.show_layout6_blogslider1 %}
{% assign name_collection = settings.layout6_blogslider1 %}
{% assign length = settings.layout6_blogsliderlength1 %}
{% if name_collection == blank %}{% assign name_collection = "all" %}{% endif %}{% assign selected_blog = blogs[name_collection] %}
{% assign custom_count = 0 %}
<!-- blog slider -->
<section class="content">
  <div class="container">
    <h2 class="text-center text-uppercase title-under">{{ settings.layout6_blogslidertitle1 }}</h2>
    <div class="row">
      <div class="slider-blog-layout1 ">
        {% for article in selected_blog.articles %}
        {% if article.excerpt contains "[blogsliderbig]" %}
        {% if custom_count == length %}{% break %}{% endif %}
        {% assign custom_count = custom_count | plus: 1 %}
        {% capture _article %}{% include "get-content-with-key" content: article.excerpt key: "[blogsliderbig]" %}{% endcapture %}{% capture _title %}{% include "get-content-with-key" content: _article key: "[title]" %}{% endcapture %}{% capture image %}{% include "get-content-with-key" content: _article key: "[image]" %}{% endcapture %}{% capture content %}{% include "get-content-with-key" content: _article key: "[content]" %}{% endcapture %}{% if _title == '' %}{% assign _title = article.title %}{% endif %}
        <!-- slide-->
        <a href="{{ _article.url }}" class="link-hover-block">
          <div class="slider-blog__item">
            <div class="col-md-12">
              <div class="box-foto">
                {{ image }}
              </div>
              <div class="box-data">
                <p>{{ content }}</p>
                <h6>{{ _title }}</h6>
              </div>
            </div>
          </div>
        </a>
        {% endif %}
        <!-- /slide-->
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endif %}



{% if settings.layout6_show_block3 and settings.layout6_block3 != '' %}{{ settings.layout6_block3 }}{% endif %}

