{{'home_brand-slider-custom.css' | asset_url  | stylesheet_tag }}
<section class="container white_background no_margin_top mobile-menu-off">
  <div class="content-fill" data-holder= "">

    <h2 class="text-uppercase product_single_line"><span> SHOP OUR TOP BRANDS </span></h2>




    <div class="divider divider--xs"></div>
    <div class ="brand-holder col-lg-12">


      <div class="logo-holder col-md-3 col-lg-2">
        <a href="/collections/troy-lee-designs"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/tld-353x261.png?13764375359243502022" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Troy Lee Designs" title="Shop Troy Lee Designs" style = "width:70%;"></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
        <a href="/collections/shift-racing"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/shift-racing-353x261-min.png?1067959905750695344" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Shift Racing" title="Shop Shift Racing" style = "width:70%;" ></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
       <a href="/collections/fox-racing"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1299/2659/files/fox-353x261.png?12782684585668825672" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Fox Racing" title="Shop Fox Racing" style = "width:70%; " ></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
        <a href="/collections/thor-mx"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/thor-353-261.png?992230107821188671" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Thor Racing" title="Shop Thor Racing" style = "width:70%;"></a>

      </div>
      <div class="logo-holder col-md-3  col-lg-2">
        <a href="/collections/alpinestars"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/alpine-star-353x261.png?13764375359243502022" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Alpinestars" title="Shop Alpinestars" style = "width:70%;"></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
        <a href="/collections/answer-racing"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/answer-racing-353x261.jpg?1067959905750695344" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Answer Racing" title="Shop Answer Racing" style = "width:70%;"></a>
      </div>
      
    </div>
    <div class ="brand-holder col-lg-12">
      <div class="logo-holder col-md-3  col-lg-2">
         <a href="/collections/shoei"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-353x261-min.jpg?9863732759479188142" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Shoei" title="Shop Shoei" style = "width:70%;"></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
        <a href="/collections/arai"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/arai-353-261.png?992230107821188671" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Arai" title="Shop Arai" style = "width:70%;"></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
        <a href="/collections/hjc"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/hjc-353-261.png?992230107821188671" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop HJC" title="Shop HJC" style = "width:70%;"></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
       <a href="/collections/icon"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-353x261-min.png?1067959905750695344" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Icon" title="Shop Icon" style = "width:70%;"></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
        <a href="/collections/bell"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/bell-353-261.png?296320832266869252" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Bell" title="Shop Bell" style = "width:70%;"></a>
      </div>
      <div class="logo-holder col-md-3  col-lg-2">
        <a href="/collections/speed-and-strength"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/ss-353x261.jpg?1067959905750695344" class="home-brand-logo img-responsive center-block b-lazy" alt="Shop Speed And Strength" title="Shop Speed And Strength" style = "width:70%;"></a>
      </div>



    </div>
  </div>


</section>