{% include "header-design_layout-2" %}

<div id="pageContent">
<div class="container">
  <!-- two columns -->
  <div class="row">
    <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-3 col-xl-2 ">
      {% if settings.layout2_asidetitle != "" %}<h4 class="title-aside-wrapper text-uppercase  mobile-menu-off">{{ settings.layout2_asidetitle }}</h4>{% endif %}
      {% include "main-menu-vertical" %}
      
      {% if settings.layout2_banners_block_html %}{{ settings.layout2_banners_block_html }}{% endif %}
      {% if settings.layout2_banners_block_html2 %}<div class="divider divider--lg"></div>{{ settings.layout2_banners_block_html2 }}{% endif %}
      
      {% if settings.show_layout2_blogslider1 %}
        {% assign name_collection = settings.layout2_blogslider1 %}
        {% assign length = settings.layout2_blogsliderlength1 %}
        {% if name_collection == blank %}{% assign name_collection = "all" %}{% endif %}{% assign selected_blog = blogs[name_collection] %}
        <div class="divider divider--lg hidden-sm hidden-xs"></div>
        <!--======= testimonials =======-->
        <div class="fill-bg-custom aside-inner color-white testimonial-color-l2">
          <h4 class="text-center text-uppercase color-white mega">{{ settings.layout2_blogslidertitle1 }}</h4>
          <div class="testimonialsAsid nav-dot nav-dot-invert">
            {% assign custom_count = 0 %}
            {% for article in selected_blog.articles %}
            {% if article.excerpt contains "blogsliderbig" %}
            {% if custom_count == length %}{% break %}{% endif %}
            {% assign custom_count = custom_count | plus: 1 %}
            {% capture _article %}{% include "get-content-with-key" content: article.excerpt key: "[blogsliderbig]" %}{% endcapture %}{% capture _title %}{% include "get-content-with-key" content: _article key: "[title]" %}{% endcapture %}{% capture image %}{% include "get-content-with-key" content: _article key: "[image]" %}{% endcapture %}{% capture content %}{% include "get-content-with-key" content: _article key: "[content]" %}{% endcapture %}{% if _title == '' %}{% assign _title = article.title %}{% endif %}{% if author == '' %}{% assign author = article.author %}{% endif %}
             <a href="{{ article.url }}" class="link-hover-block">
            <!-- slide-->
            <div class="text-center">
              {{ image }}
              <p><span class="icon"></span>{{ content }}</p>
              <p>{{ _title }}</p>
            </div>
            <!-- /slide-->
            </a>
            {% endif %}{% endfor %}
          </div>
        </div>
        <!--======= /testimonials =======-->
      {% endif %}
      
      {% if settings.show_layout2_blogslider2 %}
        {% assign name_collection = settings.layout2_blogslider2 %}
        {% assign length = settings.layout2_blogsliderlength2 %}
      	{% if name_collection == blank %}{% assign name_collection = "all" %}{% endif %}{% assign selected_blog = blogs[name_collection] %}
        <div class="divider divider--lg"></div>
        <!--======= carousel-new =======-->
        <!-- title -->
        <h4 class="text-uppercase mega">{{ settings.layout2_blogslidertitle2 }}</h4>
        <!-- /title -->
        <div class="carousel-products row layout-none-xl" id="postsCarousel">
          {% for f_article in selected_blog.articles limit: length %}{% if f_article.excerpt contains "blogslidersmall" %}{% capture _article %}{% include "get-content-with-key" content: f_article.excerpt key: "[blogslidersmall]" %}{% endcapture %}{% capture _title %}{% include "get-content-with-key" content: _article key: "[title]" %}{% endcapture %}{% capture author %}{% include "get-content-with-key" content: _article key: "[author]" %}{% endcapture %}{% capture image %}{% include "get-content-with-key" content: _article key: "[image]" %}{% endcapture %}{% capture content %}{% include "get-content-with-key" content: _article key: "[content]" %}{% endcapture %}{% if _title == '' %}{% assign _title = f_article.title %}{% endif %}{% if author == '' %}{% assign author = f_article.author %}{% endif %}
          {% if f_article.comments.size > 0 %}{% assign comment_url = f_article.url | append: '#comments' %}{% else %}{% assign comment_url = f_article.url | append: '#addcomment' %}{% endif %}
          <!-- slide-->
          <div class="col-sm-3 col-xl-6">
            {% include "blog-slider-item2" %}
          </div>
          <!-- /slide -->
          {% endif %}{% endfor %}
        </div>
        <div class="carousel-products__button button-bottom carousel-products__button_aside">
          <span class="btn-prev"></span>
          <span class="btn-next"></span>
        </div>
        <!--======= /carousel-new =======-->
      {% endif %}
      <div class="divider divider--lg visible-xs"></div>
      
    </aside>
    
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-9 col-xl-10" id="centerColumn">

      {% if settings.layout2_show_block1 %}
      <div class="divider divider--lg visible-sm visible-xs"></div>
      <section class="offset-top-0" id="slider">{{ settings.layout2_block1 }}</section>
      {% endif %}
      
      {% if settings.layout2_show_block2 %}
      <div class="divider divider--sm visible-sm visible-xs"></div>
      <div class="content-md">
        <div class="row">{{ settings.layout2_block2 }}</div>
      </div>
      {% endif %}
      
      {% if settings.layout2_productsliderblock1 %}
      <div class="content-sm fead-prod-l2">
      {% include "home-small-slider" title: settings.layout2_slidertitle1 name_collection: settings.layout2_slider1 length: settings.layout2_sliderlength1 access: true disable_title_underline: true %}
      </div>
      {% endif %}

      {% if settings.layout2_productsliderblock2 %}
      <hr class="hr-md">
      <div class="content-sm">
        <div class="row prods-l2-js">
          {% if settings.show_layout2_slider2 %}
          <div class="{% if settings.show_layout2_slider3 %}col-sm-12 col-md-8 col-xl-7{% else %}col-sm-12 col-md-12 col-xl-12{% endif %}">
            {% include "home-small-slider" title: settings.layout2_slidertitle2 name_collection: settings.layout2_slider2 length: settings.layout2_sliderlength2 access: settings.show_layout2_slider2 disable_title_underline: true %}
          </div>
          {% endif %}
          {% if settings.show_layout2_slider3 %}
          <div class="{% if settings.show_layout2_slider2 %}col-sm-12 col-md-4 col-xl-5{% else %}col-sm-12 col-md-12 col-xl-12{% endif %}">
            {% include "home-small-slider" title: settings.layout2_slidertitle3 name_collection: settings.layout2_slider3 length: settings.layout2_sliderlength3 access: settings.show_layout2_slider3 disable_title_underline: true %}
          </div>
          {% endif %}
        </div>
      </div>
      {% endif %}

      {% if settings.layout2_show_block3 %}
      {% if settings.layout2_show_block1 or settings.layout2_show_block2 %}<hr>{% endif %}
      <div class="content section-indent-bottom{% unless settings.layout2_show_block1 and settings.layout2_show_block2 %} offset-top-0{% endunless %}"><div class="row">{{ settings.layout2_block3 }}</div></div>
      {% endif %}

    </div>

  </div>
</div>
</div>

{% include settings.footer_design %}

{% include 'popup_cart' %}
{% include 'popup_wishlist' %}
{% include 'popup-newsletter' %}
{% if template != "page.wishlist" %}{% include 'popup-quickview' %}{% endif %}

{% include 'preloader-ajax' %}