
{{ 'grid-custom-style.css' | asset_url | stylesheet_tag }}





<div class="divider divider--md visible-xs"></div>
<section class="lazysections moto_con_banner moto_banner container_fluid" style = "display:hidden">
  <div class="row">
    <div class ="collection-banners">
      <!-- col-left -->
      <div class ="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class = "row">
          <a href="/pages/street-collection" class="banner zoom-in moto_banner">
            <span class="figure buttononhover">
              <img class = "img-responsive b-lazy" src= "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?9390713222228783414" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/helmets-072120.jpg?v=1595299148" alt="Street Collections" width="647" height = "409">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title size40">Street</span>
                    <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
          <a href="/pages/offroad" class="banner zoom-in moto_banner">
            <span class="figure buttononhover">
              <img class = "img-responsive b-lazy" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?9390713222228783414" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-072120.jpg?v=1595299148" alt="Offroad Collections" width="647" height = "410">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title size40">Offroad</span>
                    <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class ="middle-collection-banners">
      <!-- col-middle -->
      <div class ="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class = "row">
          <a href="/collections/street-helmets-sale" class="banner zoom-in moto_banner">
            <span class="figure buttononhover">
              <img class = "img-responsive b-lazy" src= "https://cdn.shopify.com/s/files/1/1223/6434/files/street-helmets-sale_b02c6e29-8131-4f98-836f-11db6b98639c.jpg?v=1615880379" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-helmets-sale_b02c6e29-8131-4f98-836f-11db6b98639c.jpg?v=1615880379" alt="Mens Collection" width="647" height = "820">
<!--               <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title size40">Mens</span>
                    <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                  </span>
                </span>
              </span> -->
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class ="middle-collection-banners">
      <!-- col-middle -->
      <div class ="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class = "row">
          <a href="/collections/off-road-helmets-sale" class="banner zoom-in moto_banner">
            <span class="figure buttononhover">
              <img class = "img-responsive b-lazy" src ="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-helmets.jpg?v=1615880379" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-helmets.jpg?v=1615880379"  alt="Womens Collection" width="647" height = "820">
<!--               <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title size40">Womens</span>
                    <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                  </span>
                </span>
              </span> -->
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class ="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class = "row">
        <a href="/pages/cruiser-collection" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive b-lazy" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?9390713222228783414" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser-072120.jpg?v=1595299148"  alt="Cruiser Collections" width="647" height = "410">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Cruiser</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
        <a href="/pages/snow-gear-collection" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive b-lazy" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?9390713222228783414" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-072120.jpg?v=1595299148"  alt="Snow Collections" width="647" height = "409">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Snow</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
  </div>
</section>