<section class="moto_con_banner container-fluid box-baners resize-js-1480549975216" data-section-id="1480549975216" data-section-type="resize-section">
  <div class="row">
    
    
    <!-- col-left -->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <!-- banner -->
      <a href="" class="banner zoom-in">
        <span class="figure">
          
            <img src="//cdn.shopify.com/s/files/1/1621/6521/files/img01-skin09_1024x1024.jpg?v=1480549989" alt="">
            
          
          <span class="figcaption">
            <span class="block-table">
              <span class="block-table-cell">
                <span class="block font-size82 font-bold text1-1">15% OFF</span>
                <span class="block font-size26 font-medium text2-1 empty-style">YOUR FIRST PURCHASE</span>
                
                	<em class="link-btn-20 main-font btn-color-1">Shop now! <span class="icon icon-navigate_next"></span></em>
                
              </span>
            </span>
          </span>
        </span>
      </a>
      <!-- /banner -->
    </div>
    
    <!-- col-left -->
    <div class="col-md-6 col-sm-6 col-xs-12">
      <!-- banner -->
      <a href="" class="banner zoom-in">
        <span class="figure">
          
            <img src="//cdn.shopify.com/s/files/1/1621/6521/files/img02-skin09_1024x1024.jpg?v=1480549994" alt="">
            
          
          <span class="figcaption text-left">
            <span class="block-table">
              <span class="block-table-cell">
                <span class="block font-size82 font-bold text1-2">NEW</span>
                <span class="block font-size26 font-medium text2-2 empty-style">SEASON ESSENTIALS!</span>
                
                	<em class="link-btn-20 main-font btn-color-2">Shop now! <span class="icon icon-navigate_next"></span></em>
                
              </span>
            </span>
          </span>
        </span>
      </a>
      <!-- /banner -->
    </div>
    
    
  </div>
</section>