<style type="text/css">
	.moto_catagory ul li:before {
	    display: inline;
	    vertical-align: middle;
	    float: left;
	    color: black;
	    font-family: 'Material Icons';
	    -webkit-font-feature-settings: 'liga';
	    content: "\e019";
	    font-size: .80em;
	    transition: all .5s ease 0s;
	    position: relative;
	    top: 7px;
	}

	.moto_catagory ul li a {
	    text-transform: uppercase;
	    font-size: .80em;
	    color: #222;
	    letter-spacing: .110em;
	    display: block;
	    width: 100%;
	    transition: all .5s ease 0s;
	    padding: 5px;
	    margin-left: 18px;
	}


	.moto_catagory h4.davz_wall_collection_title {
	    margin-bottom: 0.50em !important;
	    padding: 10px 5px 10px 5px;
	    background-color: #000;
	}

	.moto_catagory h4.davz_wall_collection_title a {
	    color: white;
    	font-size: .80em;
	}

	.moto_catagory h4.davz_wall_collection_title:before {
	    color: white;
	    top: 10px;
	    right: 5px;
	}

	.moto_catagory {
		border: none;
	}

</style>

<section class="container visible-xs">
	<div class="container">
	    <div class="row">
	      <div class="col-lg-12">

	      	 <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">Dirt Bike</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/off-road-body-armor">Body Armor</a></li>
	                     <li><a href="/collections/off-road-boots">Boots</a></li>
	                     <li><a href="/collections/off-road-gloves">Gloves</a></li>
	                     <li><a href="/collections/off-road-helmets">Helmets</a></li>
	                     <li><a href="/collections/off-road-jackets">Jackets</a></li>	
	                     <li><a href="/collections/off-road-jerseys">Jerseys</a></li>
	                     <li><a href="/collections/off-road-pants">Pants</a></li>
	                     <li><a href="/collections/off-road-rain-gear">Rain Gear</a></li>
	                     <li><a href="/collections/off-road-socks">Socks</a></li>
	                  </ul>
	              </div>
	        </div>

	        <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">Cruiser</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/cruiser-boots">Boots</a></li>
	                     <li><a href="/collections/cruiser-gloves">Gloves</a></li>
	                     <li><a href="/collections/cruiser-helmets">Helmets</a></li>
	                     <li><a href="/collections/cruiser-jackets">Jackets</a></li>
	                     <li><a href="/collections/cruiser-pants">Pants</a></li>
	                     <li><a href="/collections/cruiser-rain-suits">Rain Suits</a></li>
	                     <li><a href="/collections/cruiser-vests">Vests</a></li>
	                  </ul>
	              </div>
	        </div>

	        <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">Street</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/street-body-armor">Body Armor</a></li>
	                     <li><a href="/collections/street-boots">Boots</a></li>
	                     <li><a href="/collections/street-gloves">Gloves</a></li>
	                     <li><a href="/collections/street-helmets">Helmets</a></li>
	                     <li><a href="/collections/street-jackets">Jackets</a></li>
	                     <li><a href="/collections/street-pants">Pants</a></li>
	                     <li><a href="/collections/street-race-suits">Race Suits</a></li>
	                     <li><a href="/collections/street-rain-suits">Rain Suits</a></li>
	                     <li><a href="/collections/street-socks">Socks</a></li>
	                     <li><a href="/collections/street-vests">Vests</a></li>
	                  </ul>
	              </div>
	        </div>

	        <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">MTB</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/mtb-body-armor">Body Armor</a></li>
	                     <li><a href="/collections/mtb-helmets">Helmets</a></li>
	                     <li><a href="/collections/mtb-gloves">Gloves</a></li>
	                     <li><a href="/collections/mtb-jackets">Jackets</a></li>
	                     <li><a href="/collections/mtb-jerseys">Jerseys</a></li>
	                     <li><a href="/collections/mtb-shorts">Shorts</a></li>
	                     <li><a href="/collections/mtb-pants">Pants</a></li>
	                  </ul>
	              </div>
	        </div>

	        <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">BMX</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/bmx-body-armor">Body Armor</a></li>
	                     <li><a href="/collections/bmx-helmets">Helmets</a></li>
	                     <li><a href="/collections/bmx-gloves">Gloves</a></li>
	                     <li><a href="/collections/bmx-jackets">Jackets</a></li>
	                     <li><a href="/collections/bmx-jerseys">Jerseys</a></li>
	                     <li><a href="/collections/bmx-shorts">Shorts</a></li>
	                  </ul>
	              </div>
	        </div>

	         <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">SNOW</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/snow-body-armor">Body Armor</a></li>
	                     <li><a href="/collections/snow-balaclavas">Balaclavas</a></li>
	                     <li><a href="/collections/snow-bibs">Bibs</a></li>
	                     <li><a href="/collections/snow-boots">Boots</a></li>
	                     <li><a href="/collections/snow-goggles">Goggles</a></li>
	                     <li><a href="/collections/snow-gloves">Gloves</a></li>
	                     <li><a href="/collections/snow-helmets">Helmets</a></li>
	                     <li><a href="/collections/snow-jackets">Jackets</a></li>
	                     <li><a href="/collections/snow-pants">Pants</a></li>
	                     <li><a href="/collections/snow-socks">Socks</a></li>
	                     <li><a href="/collections/snow-vests">Vests</a></li>
	                  </ul>
	              </div>
	        </div>

	        <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">SKATEBOARD</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/complete-skateboards">Complete</a></li>
	                     <li><a href="/collections/skateboard-decks">Decks</a></li>
	                     <li><a href="/collections/skateboard-wheels">Wheels</a></li>
	                     <li><a href="/collections/skateboard-trucks">Trucks</a></li>
	                  </ul>
	              </div>
	        </div>

	        <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">WATER SPORTS</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/boardshorts">Boardshorts</a></li>
	                     <li><a href="/collections/watercraft-suits">Suits</a></li>
	                     <li><a href="/collections/swimwear">Swimwear</a></li>
	                  </ul>
	              </div>
	        </div>

	        <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">SPORTSWEAR</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                     <li><a href="/collections/casual-belts">Belts</a></li>
	                     <li><a href="/collections/dresses">Dresses</a></li>
	                     <li><a href="/collections/casual-footwear">Footwear</a></li>
	                     <li><a href="/collections/casual-jackets">Jackets</a></li>
	                     <li><a href="/collections/casual-pants">Pants</a></li>
	                     <li><a href="/collections/rompers">Rompers</a></li>
	                     <li><a href="/collections/shirts">Shirts</a></li>
	                     <li><a href="/collections/casual-shorts">Shorts</a></li>
	                     <li><a href="/collections/casual-socks">Socks</a></li>
	                     <li><a href="/collections/sweatshirts">Sweatshirts</a></li>
	                     <li><a href="/collections/swimwear">Swimwear</a></li>
	                     <li><a href="/collections/underwear">Underwear</a></li>
	                     <li><a href="/collections/luggage">Luggage</a></li>
	                  </ul>
	              </div>
	        </div>

	         <div class="mobile-collapse moto_catagory">
	          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
	           <a href="//motorhelmets.com/collections/fox-racing-mens-collection">EYEWEAR</a></h4>
	            <div class="v-links-list mobile-collapse__content">
	                  <ul class="davz_wall_collection_list">
	                    <li><a href="/collections/off-road-goggles">Off-Road Goggles</a></li>
	                    <li><a href="/collections/snow-goggles">Snow Goggles</a></li>
	                    <li><a href="/collections/accessories-goggles">Goggles Accessories</a></li>
	                    <li><a href="/collections/eyeglasses">Eyeglasses(RX)</a></li>
	                    <li><a href="/collections/sunglasses">Sunglasses</a></li>
	                  </ul>
	              </div>
	        </div>
	        
	      </div>
      </div>
  </div>
</section>