{{ 'instafeed.min.js' | asset_url | script_tag }}
{{ 'instagram_custom.js' | asset_url | script_tag }}


<div class ="modal fade" id = "instaModal" aria-hidden = "true">
  <div class="modal-dialog white-modal modal-md">
    <div class = "modal-body">
      <div class ="modal-content">
        <span class = "follow-instagram">Follow <a class ="instagram-link" href = "https://www.instagram.com/wwwmotorhelmets/" target="_blank">@wwwmotorhelmets</a></span>
        <button type = "button" class = "close" data-dismiss="modal" aria-hidden="true"><span class = "icon icon-clear"></span></button>
          <div class = "row" style ="overflow:hidden">
            <div class = "col-xs-7">
              <div id = "instagram-image">
             	<img src="">
              </div>
           	 </div>
          	<div class = "col-xs-5">
              <div class = "instaContent">
                <p class = "instaDescription"></p>
              </div>
              
          	</div>
            <div class = "modal-footer">
                <a class = "insta-link" href ="">View on Instagram  <span class ="fa fa-instagram"></span></a>
    		</div>
          </div> 
        
      </div>
    </div>

  </div>	
</div>

<!-- /brands-carousel -->
<section class="content fullwidth hidden-xs hidden-sm">
  <div class="container" data-holder=""footer>
    <div class="row">
      <div class="instafeed-wrapper">
        <!-- <h3 class="title-vertical"><span>{{ "general.feed.instagram_title" | t }}</span></h3> //-->
        <h3 class="title-horizontal text-center title-under"><span>@wwwmotorhelmets</span></h3>
        <div id="instafeed" class="instafeed col-md-12 col-lg-12" style = "padding:0px"></div>
      </div>
    </div>
  </div>
</section>

<script>
(function($) {
$(document).on("click", '.instafeed a', function(e){
jQuery('#instaModal').modal("toggle");
 
var modalInstaImage = $(this).children().css("background-image");
var modalInstaDesc = $(this).children().attr('insta-desc');
var modalInstaLink = $(this).children().attr("insta-link");

console.log(modalInstaLink);


modalInstaImage = modalInstaImage.replace('url("','');
modalInstaImage = modalInstaImage.replace('")','');


$("#instaModal #instagram-image img").attr('src', modalInstaImage);
$("#instaModal .instaContent p").text(modalInstaDesc);
$("#instaModal .modal-footer .insta-link").attr('href',modalInstaLink);
});
})(jQuery);
</script>