<div class="divider divider--lg"></div>

<!-- FEATURED RIDING STYLE-->

<div class="container featured_products">
  <div class="row">
    <h2 class="text-uppercase product_single_line">
      <span class="moto_saletitle"><a href="/collections/hot-sales">Shop By Riding Style</a></span>
      <span class="moto_viewMoreBtn"><a href="/collections/hot-sales"> View More <i class="simple-icon-arrow-right"></i></a></span>
    </h2>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 col-md-3 col-lg-3">
			<a href="/collections/snow" class="banner zoom-in moto_banner">
	          <span class="figure buttononhover">
	            <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road.jpg?16525613892089921020" alt="Snow">
	            <span class="figcaption">
	              <span class="block-table">
	                <span class="block-table-cell">
	                  <span class="banner__title size40">Off-Road</span>
	                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
	                </span>
	              </span>
	            </span>
	          </span>
	        </a>
		</div>

		<div class="divider divider--sm visible-xs"></div>

		<div class="col-sm-6 col-md-3 col-lg-3">
			<a href="/collections/snow" class="banner zoom-in moto_banner">
	          <span class="figure buttononhover">
	            <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/street.jpg?16525613892089921020" alt="Snow">
	            <span class="figcaption">
	              <span class="block-table">
	                <span class="block-table-cell">
	                  <span class="banner__title size40">Street</span>
	                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
	                </span>
	              </span>
	            </span>
	          </span>
	        </a>
		</div>

		<div class="divider divider--sm visible-sm visible-xs"></div>

		<div class="col-sm-6 col-md-3 col-lg-3">
			<a href="/collections/snow" class="banner zoom-in moto_banner">
	          <span class="figure buttononhover">
	            <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser.jpg?16525613892089921020" alt="Snow">
	            <span class="figcaption">
	              <span class="block-table">
	                <span class="block-table-cell">
	                  <span class="banner__title size40">Cruiser</span>
	                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
	                </span>
	              </span>
	            </span>
	          </span>
	        </a>
		</div>

		<div class="divider divider--sm visible-xs"></div>

		<div class="col-sm-6 col-md-3 col-lg-3">
			<a href="/collections/snow" class="banner zoom-in moto_banner">
	          <span class="figure buttononhover">
	            <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow.jpg?16525613892089921020" alt="Snow">
	            <span class="figcaption">
	              <span class="block-table">
	                <span class="block-table-cell">
	                  <span class="banner__title size40">Snow</span>
	                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
	                </span>
	              </span>
	            </span>
	          </span>
	        </a>
		</div>
	</div>
</div>