<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/interphone">
<img src="//cdn.shopify.com/s/files/1/1223/6434/files/interphone-120x120.jpg?6914" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div class="_readmore">
<p>In 2005, Cellularline launches on the market the first Interphone ®Bluetooth Cellularline, revolutionizing communication between bikers: instead of the old wired transmission systems, obsolete and unsafe, Interphone ensured convenience and reliability more than ever before.</p>  
<p>Since then our path has been marked by the pace of continuous innovation that allowed us to gain the trust of bikers and interphone become their ideal travel partner in both urban and suburban more challenging contexts.</p>  
<p>Every day we reaffirm the Interphone brand by improving our range of products and thanks to a constant dialogue with our public, participating at the world's top motorcycle trade fairs and through our specialists operating every day on customer care.</p>

</div>
</div>
</div>