{% assign getTotalCount = blogs['lookbook'].articles_count %}
{% paginate blogs['lookbook'].articles by 9 %}
{% for article in blogs['lookbook'].articles %}

<div class ="col-12 col-sm-12 col-md-4 col-lg-4 lookbook-grid">
  <a href = "{{ article.url }}" title = "{{ article.title | escape }}">
    <div class ="lookbook-image">
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'img-responsive center-block' }}
    </div>
    <div class ="lookbook-title text-center">
      <h4>{{ article.title }}</h4>
    </div>
  </a>
</div>


{% endfor %}
{% if paginate.pages > 1 %}
<div class="njohn_blog_pagination lookbook-paginator" style="text-align: center; padding: 10px 0;">
  {% include 'pagination_buttons' %}
</div>
{% endif %}
{% endpaginate %}
