<style type="text/css">
  .two-col-tires .icon-chevron-right
  {
    display: none!important;
  }

  .two-col-tires li::marker
  {
    display: none!important;
  }

  .two-col-tires a::after
  {
    display: none!important;
  }

</style>


{% assign array_key = "|$big_array$|" | downcase %}
{% assign menu_data = settings.submenu_type_and_list_1 | downcase | handle %}
{% assign value = settings.submenu_type_and_list_2 | downcase | handle %}
{% assign menu_data = menu_data | append: array_key | append: value %}
{% assign value = settings.submenu_type_and_list_3 | downcase | handle %}
{% assign menu_data = menu_data | append: array_key | append: value %}
{% assign value = settings.submenu_type_and_list_4 | downcase | handle %}
{% assign menu_data = menu_data | append: array_key | append: value %}
{% assign value = settings.submenu_type_and_list_5 | downcase | handle %}
{% assign menu_data = menu_data | append: array_key | append: value %}

{% assign sub_type3 = settings.submenu_type3 | downcase %}

{% if settings.menu_icon_hot != '' %}{% assign hotArray = settings.menu_icon_hot | split: ',' %}{% assign newa = '' %}{% for a in hotArray %}{% assign a1 = a | strip | downcase %}{% assign newa = newa | append: '__' | append: a1 | append: ',' %}{% endfor %}{% assign hotArray = newa %}{% else %}{% assign hotArray = '' %}{% endif %}
{% if settings.menu_icon_new != '' %}{% assign newArray = settings.menu_icon_new | split: ',' %}{% assign newa = '' %}{% for a in newArray %}{% assign a1 = a | strip | downcase %}{% assign newa = newa | append: '__' | append: a1 | append: ',' %}{% endfor %}{% assign newArray = newa %}{% else %}{% assign newArray = '' %}{% endif %}

<nav class="navbar {{ class }}">
  <div class="responsive-menu mainMenu">

    <div class="col-xs-2 visible-mobile-menu-on">
      <div class="expand-nav compact-hidden">
        <a href="#off-canvas-menu" id="off-canvas-menu-toggle">
          <div class="navbar-toggle"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </div>
        </a>
      </div>
    </div>    
    
    <ul class="nav navbar-nav">
      <li class="dl-close"></li>
      
      {% comment %}
      	<li class="dropdown dropdown-mega-menu pull-right moto_fixed_logo">
      		<a href="/" alt="{{ shop.name }}" title="{{ shop.name }}"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/helmet.png?11376462146865207968"  alt="{{ shop.name }}" title="{{ shop.name }}"></a>
      	</li>
      {% endcomment %}
      
      
      {% for link in linklists.main-menu.links %}

  		{% assign submenu_type = "" %}
        {% assign page_handle = "" %}
      
        {% capture return %}{% include "get_linklist_dropdown", customlink: link %}{% endcapture %}
        {% assign return = return | split: "%%" %}
        {% assign has_drop_down = return | first | strip %}
        {% assign child_list_handle = return | last | strip %}
  
		{% comment %} Check submenu type {% endcomment %}
  		{% assign title = child_list_handle %}
  		{% if menu_data contains title %}
			{% assign current_menu_data = menu_data | split: array_key %}
  			{% for data in current_menu_data %}
  				{% if data == title %}
                    {% assign current_menu_data = title %}
      				{% assign submenu_type = "type2" %}
      				{% assign count_type2 = forloop.index %}
                    {% break %}
  				{% endif %}
  			{% endfor %}
    	{% else %}
      		{% assign check = 'item' | append: forloop.index %}
      		{% capture cur_item %}{% if sub_type3 contains check %}{{ check }}{% else %}{{ link.title | downcase }}{% endif %}{% endcapture %}
    		{% if sub_type3 contains cur_item %}
    			{% assign current_menu_data = sub_type3 | split: ";" %}
                {% for data in current_menu_data %}
                    {% if data contains cur_item %}
                        {% assign temp = data | split: ',' %}
                        {% assign page_handle = temp[1] | strip %}
                        {% assign temp = temp[0] | strip %}
                        {% if temp == cur_item %}
                            {% assign submenu_type = "type3" %}
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
    		{% endif %}
  		{% endif %}
      
		{% comment %} Check selected mein menu item {% endcomment %}
          {% assign select_item = false %}
          {% if link.active %}
          	{% assign select_item = true %}
          {% endif %}

		  {% unless select_item %}
                {% assign level_2 = linklists[link.handle] %}
                {% unless level_2.empty? %}
					{% for child_level_2 in level_2.links %}
          				{% if child_level_2.active or select_item %}
          					{% assign select_item = true %}
          					{% break %}
          				{% else %}
                          	{% assign level_3 = linklists[child_level_2.handle] %}
                          	{% unless level_3.empty? %}
                                {% for child_level_3 in level_3.links %}
                                    {% if child_level_3.active %}
                                        {% assign select_item = true %}
                                        {% break %}
                                    {% endif %}
                                {% endfor %}
                          	{% endunless %}
          				{% endif %}
          			{% endfor %}
          		{% endunless %}
          {% endunless %}

      
		{% comment %} Main Menu {% endcomment %}
       	{% assign level_2 = linklists[child_list_handle] %}
      
      <li class="dropdown dropdown-mega-menu{% if submenu_type != "type2" and submenu_type != "type3" %}{% if level_2.links[0].handle contains "two_column" or level_2.links[0].handle contains "three_column" %} dropdown-two-col{% else %} dropdown-one-col{% endif %}{% endif %}">
         {% if link.title == "nj-wishlist" %}
            <div class="nj_menu_wishlist visible-mobile-menu-off">
                 <a href="{{ link.url }}" class="dropdown-toggle" >
                   <i class="material-icons" title="WISH LIST" nj-trigger>favorite</i>
                   <span nj-count="" class="badge badge--cart-new bigcounter">0</span>
                  </a>
            </div>
        	
        	{% elsif link.title == "wishlist-bar" %} 
        		{% unless template == "index" or page.handle contains "wishlist" %}
        			<div class="nj_wishlist_row_label visible-mobile-menu-off">
                      <i nj-trigger="" class="material-icons" title="HIDE/SHOW WISHLIST" nj-click="active">reorder</i>
                    </div>
        		{% endunless %}
            
        
        
           {% elsif link.title == "compare" %} 
            <div class="jubs-n_compare_product">
               <a href="/pages/compare-product-page" >
                <span class="davz--comparison origin-icon-arrow-compare" title="COMPARE PRODUCT"></span>
               
                  </a>
            </div>


        
        
           {% elsif link.title == "Sale" %} 
             <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown"><span class="act-underline" style="color:#fa6b6b;font-weight: bold;">
              {% assign check_title = link.title | strip | downcase %}
              {% assign check_title = '__' | append: check_title %}
              {% if newArray contains check_title %}<span class="badge badge--menu">{{ "general.menu_icons.new" | t }}</span>{% endif %}
              {% if hotArray contains check_title %}<span class="badge badge--menu badge--color">{{ "general.menu_icons.sale" | t }}</span>{% endif %}
              {{ link.title }}</span>
            </a>

        
            {% else %}
        
        
        <a href="{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown"><span class="act-underline">
          {% assign check_title = link.title | strip | downcase %}
          {% assign check_title = '__' | append: check_title %}
          {% if newArray contains check_title %}<span class="badge badge--menu">{{ "general.menu_icons.new" | t }}</span>{% endif %}
          {% if hotArray contains check_title %}<span class="badge badge--menu badge--color">{{ "general.menu_icons.sale" | t }}</span>{% endif %}
          {{ link.title }}</span>
        </a>
        
        
            {% endif %}
        
 		{% if submenu_type != "type2" and submenu_type != "type3" %}
          {% unless level_2.empty? %}
           <!-- NAVIGATION MENU: TIRES -->
            {% if level_2.links[0].handle contains "two_column_tires" %} 
                <ul class="dropdown-menu megamenu dl-submenu {% if level_2.links[0].handle contains "two_column_tires" %}two-col-tires{% endif %}" role="menu">
                  {% capture start %}{% if level_2.links[0].handle contains "two_column_tires"%}1{% else %}0{% endif %}{% endcapture %}

                  {% for child_level_2 in level_2.links offset: start %}
                  <li class="col-sm-6">
                    <a href="{{ child_level_2.url | downcase }}" class="megamenu__subtitle" >
                      <span style="font-weight:800!important;font-size:12px!important;">{{ child_level_2.title }}</span>
                    </a>
                    {% capture return %}{% include "get_linklist_dropdown", link: child_level_2 %}{% endcapture %}
                    {% assign return = return | split: "%%" %}
                    {% assign has_drop_down2 = return | first | strip %}
                    {% assign child_list_handle2 = return | last | strip %}

                    {% if has_drop_down2 == "true" %}
                      {% assign level_3 = linklists[child_list_handle2] %}
                      {% unless level_3.empty? %}
                      <ul class="megamenu__submenu">
                        {% for child_level_3 in level_3.links %}

        {% assign countingcollection = child_level_3.url | remove: '/collections/' %}
        {% if collections[countingcollection].all_products_count > 0 %}
            <li class="level2">
              <a class="visible-xs" href="{{ child_level_3.url | downcase }}" {% if child_level_3.title == "view all tires" %}style="color:rgb(204, 10, 10)!important;font-weight: bold!important;"{% endif %}>{{ child_level_3.title | remove: '_' }}</a>
              <a class="hidden-xs" href="{{ child_level_3.url | downcase }}" {% if child_level_3.title == "view all tires" %}style="color:rgb(204, 10, 10)!important;font-weight: bold!important;"{% endif %}>
              {% if child_level_3.title == "Dunlop" %}
                      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/dunlop-new-nav.png?v=1615605396" alt="Dunlop" style="width:70%;margin:0 auto;padding:0;" />
                      {% elsif child_level_3.title == "Michelin" %}
                      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/michelin-new-nav.png?v=1615605396" alt="Michelin" style="width:70%;margin:0 auto;padding:0;"/>
                      {% elsif child_level_3.title == "Bridgestone" %}
                      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/bridgestone-new-nav.png?v=1615605396" alt="Bridgestone" style="width:70%;margin:0 auto;padding:0;"/>
                      {% elsif child_level_3.title == "Pirelli" %}
                      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/pirelli-new-nav.png?v=1615605396" alt="Pirelli" style="width:70%;margin:0 auto;padding:0;"/>
                      {% elsif child_level_3.title == "Shinko" %}
                      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/shinko-new-nav.png?v=1615605396" alt="Shinko" style="width:70%;margin:0 auto;padding:0;"/>
                      {% elsif child_level_3.title == "Maxxis" %}
                      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/maxxis-new-nav.png?v=1615605396" alt="Maxxis" style="width:70%;margin:0 auto;padding:0;"/>
                      {% else %}
                      {{ child_level_3.title | remove: '_' }}
                      {% endif %}
                    </a>
              </li>
        {% endif %}
                        {% endfor %} <!-- END for child_level_3 in level_3.links -->
                      </ul>
                      {% endunless %} <!-- END of unless level_3.empty? -->
                      {% endif %}  <!-- END of if has_drop_down2 == "true" -->
                  </li> <!-- END of col-sm-6 -->
                  {% endfor %} <!-- END for child_level_2 in level_2.links -->
                </ul>

            {% else %}   <!-- ELSE IF NOT NAVIGATION MENU: TIRES -->

                  <ul class="dropdown-menu multicolumn {% if level_2.links[0].handle contains "two_column" %}two-col{% elsif level_2.links[0].handle contains "three_column" %}three-col{% endif %}" role="menu">
                    <li class="dl-back"><a href="#"><span class="icon icon-chevron_left"></span>{{ "general.menu.button_back" | t }}</a></li>
                    {% capture start %}{% if level_2.links[0].handle contains "two_column" or level_2.links[0].handle contains "three_column" %}1{% else %}0{% endif %}{% endcapture %}
                    {% for child_level_2 in level_2.links offset: start %}
                      <li>
                        <a href="{{ child_level_2.url | downcase }}" {%if child_level_2.title == "Specials"%} target="_blank" {%endif%}{% if child_level_2.title == "View All Brands" %}style="color:rgb(204, 10, 10)!important;font-weight: bold;"{% endif %}>{{ child_level_2.title }}</a>
                        {% assign level_3 = linklists[child_level_2.handle] %}
                        {% unless level_3.empty? %}
                        <ul class="megamenu__submenu">
                          {% for child_level_3 in level_3.links %}
                          <li><a href="{{ child_level_3.url | downcase }}">{{ child_level_3.title }}</a>
                            {% assign level_4 = linklists[child_level_3.handle] %}
                            {% unless level_4.empty? %}
                              <ul><!--  class="popup-left" -->
                                {% for child_level_4 in level_4.links %}
                                <li><a href="{{ child_level_4.url | downcase }}" >{{ child_level_4.title }}</a></li>
                          	  {% endfor %}
                              </ul>
                            {% endunless %}
                          </li>
                          {% endfor %}
                        </ul>
                        {% endunless %}
                      </li>
                    {% endfor %}
                  </ul>


                   {% endif %}
          {% endunless %}
  		{% endif %}
      
      
       <!--  NAVIGATION MENU: PARTS -->
        {% if submenu_type == "type2" %}{% unless level_2.empty? %}{% if has_drop_down == "true" %}
        <ul class="dropdown-menu megamenu" role="menu">
          {% assign imgs_key = "submenu_images_" | append: count_type2 %}
          {% assign imgs = settings[imgs_key] %}
          {% if imgs != "" %}{% assign imgs = imgs | split: ',' %}{% endif %}
          
          {% assign grid = "submenu_type_and_list_grid_" | append: count_type2 %}
          {% assign grid = settings[grid] %}
          
          {% for child_level_2 in level_2.links %}
          <li class="col-sm-{{ grid }}">
            <a href="{{ child_level_2.url | downcase }}" class="megamenu__subtitle" >
              <span >{{ child_level_2.title }}</span>
              {% if imgs != "" %}{% if imgs[forloop.index0] != "" %}
              <span class="megamenu__category-image hidden-xs"><img class="img-responsive" src="{{ imgs[forloop.index0] | strip }}" alt=""/></span>
              {% endif %}{% endif %}
            </a>
            
            {% capture return %}{% include "get_linklist_dropdown", link: child_level_2 %}{% endcapture %}
            {% assign return = return | split: "%%" %}
            {% assign has_drop_down2 = return | first | strip %}
            {% assign child_list_handle2 = return | last | strip %}

            {% if has_drop_down2 == "true" %}
              {% assign level_3 = linklists[child_list_handle2] %}
              {% unless level_3.empty? %}
              <ul class="megamenu__submenu">
                {% for child_level_3 in level_3.links %}

{% assign countingcollection = child_level_3.url | remove: '/collections/' %}
{% if collections[countingcollection].all_products_count > 0 %}
    <li class="level2"><a href="{{ child_level_3.url | downcase }}" {% if child_level_3.title == "view all parts" %}style="color:rgb(204, 10, 10)!important;font-weight: bold!important;"{% endif %}>{{ child_level_3.title | remove: '_' }}</a>
{% endif %}
                
                  
                  {% capture return %}{% include "get_linklist_dropdown", link: child_level_3 %}{% endcapture %}
                  {% assign return = return | split: "%%" %}
                  {% assign has_drop_down3 = return | first | strip %}
                  {% assign child_list_handle3 = return | last | strip %}

                  {% if has_drop_down3 == "true" %}
                    {% assign level_4 = linklists[child_list_handle3] %}
                    {% unless level_4.empty? %}
                    <ul class="megamenu__submenu">
                      {% for child_level_4 in level_4.links %}
                      <li class="level3"><a href="{{ child_level_4.url | downcase }}">{{ child_level_4.title }}</a>
                        
                        {% capture return %}{% include "get_linklist_dropdown", link: child_level_4 %}{% endcapture %}
                        {% assign return = return | split: "%%" %}
                        {% assign has_drop_down4 = return | first | strip %}
                        {% assign child_list_handle4 = return | last | strip %}
                        
                        {% if has_drop_down4 == "true" %}
                          {% assign level_5 = linklists[child_list_handle4] %}
                          {% unless level_5.empty? %}
                          <ul class="megamenu__submenu">
                            {% for child_level_5 in level_5.links %}
                            <li class="level4"><a href="{{ child_level_5.url | downcase }}">{{ child_level_5.title }}</a></li>
                            {% endfor %}
                          </ul>
                          {% endunless %}
                        {% endif %}
                      </li>
                      {% endfor %}
                    </ul>
                    {% endunless %}
                  {% endif %}
                </li>
                {% endfor %}
              </ul>
              {% endunless %}
            {% endif %}
          </li>
          {% endfor %}
          
          {% assign key = "submenu_showcollection_" | append: count_type2 %}
          {% if settings[key] %}
          	{% assign key = "submenu_collectiontitle_" | append: count_type2 %}
          	{% assign titleLink = "submenu_collectiontitlelink_" | append: count_type2 %}
            <li class="col-sm-{{ grid }} hidden-xs">
              <a href="{{ settings[titleLink] }}" class="megamenu__subtitle"><span>{{ settings[key] }}</span></a>
              
              {% assign key = "submenu_collection_" | append: count_type2 %}
              {% assign key = settings[key] %}
              {% if key == blank %}{% assign key = "all" %}{% endif %}
              {% assign selected_collection = collections[key].products %}
              {% assign key = "submenu_collectionlength_" | append: count_type2 %}
              {% assign _lenght = settings[key] | plus: 0 %}

              <div class="carousel-products megaMenuCarousel_js">
                {% for product in selected_collection limit: _lenght %}
                {% comment %}<!-- IF SALE -->{% endcomment %}
                {% if product.compare_at_price_min > product.price_min %}
                {% assign sale_on = true %}
                {% else %}
                {% assign sale_on = false %}
                {% endif %}
                {% comment %}<!--/ IF SALE -->{% endcomment %}
                <div>
                  <!-- product -->
                  <div class="product">
                    <div class="product__inside">
                      <!-- product image -->
                      <div class="product__inside__image">
                        {% if sale_on %}
                        <div class="product__label product__label--right product__label--new"><span>On Sale</span></div>
                        {% endif %}
                        
                        <a href="{{ product.url | within: collection }}"> <img src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"> </a>
                      </div>
                      <!-- /product image --> 
                      <!-- product name -->
                      <div class="product__inside__name">
                        <h2><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h2>
                      </div>
                      <!-- /product name --> 
                      <!-- product price -->
                        <!-- MSRP/PRICE -->
                        <div class="njohn_product_grid_msrp">
                        {% if sale_on %}
                          {% if product.price_min == product.price_max %}
                            <span class="njohn_product_grid_new_price">{{ product.price_min | money }}</span>
                          {% else %}
                            <span class="njohn_product_grid_new_price">{{ product.price_min | money }} - {{ product.price_max | money }}</span>
                          {% endif %}
                          {% if product.compare_at_price_min == product.compare_at_price_max %}
                            <span class="njohn_product_grid_new_old_price">{{ product.compare_at_price_min | money }}</span>
                          {% else %}
                            <span class="njohn_product_grid_new_old_price">{{ product.compare_at_price_min | money }} - {{ product.compare_at_price_max | money }}</span>
                          {% endif %}
                        {% else %}
                          {% if product.price_min == product.price_max %}
                            <span class="njohn_product_grid_new_regular_price">{{ product.price_min | money }}</span>
                          {% else %}
                            <span class="njohn_product_grid_new_regular_price">{{ product.price_min | money }} - {{ product.price_max | money }}</span>
                          {% endif %}
                        {% endif %}
                        </div>
                        <!--/ MSRP/PRICE -->
                      <!-- /product price --> 
                    </div>
                  </div>
                  <!-- /product -->
                </div>
                {% endfor %}
              </div>
              <!-- /carousel -->
              
            </li>
          {% endif %}
          
          {% assign key = 'submenu_customhtml_' | append: count_type2 %}{% if settings[key] != "" %}<li class="col-sm-12 hidden-xs">{{ settings[key] }}</li>{% endif %}
          
        </ul>
  		{% endif %}{% endunless %}{% endif %}
        
        {% if submenu_type == "type3" %}
          <ul class="dropdown-menu megamenu image-links-layout" role="menu">
            {% include "get-page-content" name: page_handle access: "true" %}
          </ul>
  		{% endif %}

      </li>
      {% endfor %}
    </ul>
    
  </div>
</nav>