<!-- search start hmm-->
	<div class="search link-inline visible-mobile-menu-on text-right" id="clickable_search">
  	<a href="#" class="search__open"><span class="simple-icon simple-icon-magnifier"></span></a>
  	<div class="search-dropdown">
    <form action="/search" method="get" class="my_search_bar">
    <div class="input-outer">
    <input type="hidden" name="type" value="product" />
    <input type="text" name="q" class="search_field" value="" maxlength="128" placeholder="{{ 'general.search.place_holder' | t }}">
    <button type="submit" title="" class="simple-icon simple-icon-arrow-right"></button>
    </div>
    <a href="#" class="search__close"><span class="icon icon-close"></span></a>									
    </form>
  	</div>
	</div>
<!-- search end -->