	<div class="link-inline for_account-cart_icon visible-mobile-menu-on davz_new_account_icon">
 
	   <a href="/pages/wishlist">
         	<span class="simple-icon simple-icon-heart"></span>
            <span nj-count="" class="badge badge--cart-new bigcounter">0</span>
      </a>
                          
	</div>