<!-- account menu start -->
<div class="account link-inline toggle-menu top_icon nj_customer visible-mobile-menu-on">
  <div class="dropdown text-right">
    <a class="dropdown-toggle" data-toggle="dropdown">
     <span class="simple-icon simple-icon-user moto_account"></span>
     <span class="visible-mobile-menu-off">MY ACCOUNT</span>
    </a>
    <ul class="dropdown-menu" role="menu">
      
      <li class='li-col-full'>
      	<span class="close icon-clear pull-right" data-dismiss="modal"></span>
    	</li>
      
    	<li class='li-col list-user-menu'>									 
        <h4 class="megamenu__subtitle"><span>{{ 'general.menu.toggle_account' | t }}</span></h4>	
          
        <ul>
          {% if shop.customer_accounts_enabled %}<li><a href="/account">{{ "layout.customer.account" | t }}</a></li>{% endif %}

          <li><a href="/checkout">{{ "layout.customer.checkout" | t }}</a></li>

          {% if shop.customer_accounts_enabled %}
          {% if customer %}<li><a href="/account/logout">{{ "layout.customer.log_out" | t }}</a></li>
          {% else %}<li><a href="/account/login">{{ "layout.customer.sign_in" | t }}</a></li>
          {% if shop.customer_accounts_optional %}<li><a href="/account/register">{{ "layout.customer.register" | t }}</a></li>{% endif %}
          {% endif %}
          {% endif %}

          <li><a href="/pages/help-page">Support Page</a></li>
          <li><a href="/pages/wishlist">Wishlist</a></li>
          <li><a href="/pages/compare-product-page">Compare Page</a></li>
      </ul>
    </li>
     
    </ul>
  </div>
</div>
<!-- account menu end -->