	



	 <!-- DESKTOP SEARCH -->
		<div class="search-outer visible-mobile-menu-off moto_plain_search {{ haus_fixed_search_class }}" id="plain_search">
          <form id="search__form" action="/search" method="get" class="my_search_bar">
            <div class="input-outer">
              <input type="hidden" name="type" value="product" />
              <input type="text" name="q" id="search" value="" maxlength="128" placeholder="Search ..">
              <button type="submit" title="" class="simple-icon simple-icon-magnifier"></button>
            </div>
          </form>
        </div>



	  {% comment %}
      <!-- MOBILE SEARCH -->
      <div class="search link-inline {{ search_class }}" id="clickable_search" >
        <a href="#" class="search__open"><span class="simple-icon simple-icon-magnifier"></span></a>
        <div class="search-dropdown">
          <form action="/search" method="get" class="my_search_bar">
            <div class="input-outer">
              <input type="hidden" name="type" value="product" />
              <input type="text" name="q" class="search_field" value="" maxlength="128" placeholder="{{ 'general.search.place_holder' | t }}">
              <button type="submit" title="" class="simple-icon simple-icon-arrow-right-circle"></button>
            </div>
            <a href="#" class="search__close"><span class="icon icon-close"></span></a>									
          </form>
        </div>
      </div>
      {% endcomment %}
