   			<div class="account link-inline {{ moto_top_links_class }} nj_customer_info">

              <a href="/pages/products-comparison"><span class="davz--support-page origin-icon-arrow-compare"></span></a>

         	</div>