
{% if template != "cart" %}
{% assign cursorStyle = '' %}{% if cart.item_count == 0 %}{% assign cursorStyle = ' style="cursor:default;"' %}{% endif %}
<!-- shopping cart start -->
<div class="cart link-inline header-cart for_account-cart_icon {{ cart_class }} {{ haus_fixed_cart_class }}">
  <div class="dropdown text-right">
    <a class="dropdown-toggle"{{cursorStyle}}>
      <span class="moto-cart-icon-cart-new" title="CART" alt="CART"></span>
      <span class="badge badge--cart bigcounter">{{ cart.item_count }}</span>
    </a>
    <div class="dropdown-menu dropdown-menu--xs-full cart_dropdown-davz cart-group-1" role="menu">
      <div class="container" id="cart-menu-container" data-pickuponly="{{settings.pickup_only_sku_list}}">

          <div class="cart__top">{{ 'cart.header.title' | t }}</div>
          <div class="cart__top_empty">Your Cart is Empty</div>
          <a href="#" class="icon icon-close cart__close"></a>
        
            {% assign hide_checkout = false %}
        <ul>{% for item in cart.items limit:20 %}
            {% if settings.pickup_only_sku_list contains item.sku %}
            {% assign hide_checkout = true %}
            {% endif %}
            {% include "menu-cart-item" %}
            {% endfor %}
        </ul>
          <div class="cart__bottom">
              <a href="/checkout" {% if hide_checkout %}style="display: none"{% endif %} id="menu-checkout" class="checkout" nj-click><em>Checkout - <span class="moto-cartdropdown-price">{{ cart.total_price | money }}</span></em></a>
            <a href="/cart" class="cart_dropdown-viewCart">{{ 'cart.header.view_cart' | t }}</a>
          </div>
       

      </div>
    </div>
  </div>
</div>
<!-- shopping cart end -->

<script defer>
  jQuery(function ($) {
    
	cartDropDown();
  
  $(document).on("click", '#search__form #search, .toggle-menu, .davz-burger-menu, header .cart .dropdown-toggle', function(event) { 
    if($(this).hasClass('toggle-menu')) {
    	$("header .cart .dropdown").removeClass('open');
        $( '.search-results' ).hide();
      	$(".davz-burger-menu .dropdown-menu").slideUp();
    }
    else if($(this).hasClass('dropdown-toggle')) {
    	$(".toggle-menu .dropdown-menu").slideUp();
      	$(".davz-burger-menu .dropdown-menu").slideUp();
        $( '.search-results' ).hide();
    }
    else if($(this).hasClass('davz-burger-menu')) {
    	$(".toggle-menu .dropdown-menu").slideUp();
        $( '.search-results' ).hide();
      	$("header .cart .dropdown").removeClass('open');
    }

    
    else if($(this).is('#search')) {
    	$(".toggle-menu .dropdown-menu").slideUp();
      	$(".davz-burger-menu .dropdown-menu").slideUp();
    	$("header .cart .dropdown").removeClass('open');
    }
    

    
	});
    
    

    
//       $(".moto_fixedSearch_dropDown_hover").hover(
//         function () {
//           $(this).hasClass('davz-burger-menu .dropdown-menu').slideUp();
//         },
//         function () {
//           $(this).hasClass('header .cart .dropdown')removeClass('open');
//         }
//       );
    
    

    
  });
</script>

{% endif %}

