<div class="account link-inline top_icon nj_wishlist_header">
	<div class="moto_menu_wishlist text-right">
		<a class="nj_wishlist_header_trigger" href="/pages/wishlist" title="My Wishlist" >
			<span class="simple-icon simple-icon-heart"></span>
		</a>
	</div>
</div>