{% comment %}
{% if template != "cart" %}
{% assign cursorStyle = '' %}{% if cart.item_count == 0 %}{% assign cursorStyle = ' style="cursor:default;"' %}{% endif %}
<!-- shopping cart start -->
<div id="mobileCart">
		<a href="/cart" {{cursorStyle}}>
		  <img src="//cdn.shopify.com/s/files/1/1299/2659/files/cart-new.svg?17429227930658888582">
          <span class="badge badge--cart bigcounter">{{ cart.item_count }}</span>
		</a>
</div>
{% endif %}
{% endcomment %}