{{'home_brand-slider-custom.css' | asset_url  | stylesheet_tag }}
<section class="content section-indent-bottom {{ mobile_brand_slider_class }}">
  <div class="content-fill">
    <div class="row">
      <h2 class="text-uppercase product_single_line"><span> SHOP OUR TOP BRANDS </span></h2>
      <div class="col-lg-12 col-xs-12">

        <div class="brand-lg-list">

          <div class="divider divider--xs"></div>
          <div class="row-item">

            <a href="/collections/fox-racing"><img src="//cdn.shopify.com/s/files/1/1299/2659/files/fox-353x261.png?12782684585668825672" class="img-responsive center-block" alt="Shop Fox Racing" title="Shop Fox Racing" ></a>

            <a href="/collections/shift-racing"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/shift-racing-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Shift Racing" title="Shop Shift Racing"></a>

            <a href="/collections/troy-lee-designs"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/tld-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Troy Lee Designs" title="Shop Troy Lee Designs"></a>

            <a href="/collections/alpinestars"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/alpine-star-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Alpinestars" title="Shop Alpinestars"></a>

            <a href="/collections/thor-mx"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/thor-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop Thor Racing" title="Shop Thor Racing"></a>

          </div>
          <div class="row-item">

            <a href="/collections/icon"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/icon-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Icon" title="Shop Icon"></a>

            <a href="/collections/arai"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/arai-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop Arai" title="Shop Arai"></a>

            <a href="/collections/hjc"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/hjc-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop HJC" title="Shop HJC"></a>

            <a href="/collections/shoei"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/shoi-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop Shoie" title="Shop Shoie"></a>

            <a href="/collections/bell"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/bell-353-261.png?296320832266869252" class="img-responsive center-block" alt="Shop Bell" title="Shop Bell"></a>

          </div>             
        </div>
      </div>
    </div>
  </div>
</section>