<section class="content section-indent-bottom {{ mobile_brand_page_slider_class }}">
<div class="container">
  <h3 class="text-center title-under uppercase_txt home_title"> SHOP OUR TOP BRANDS</h3>
<div class="row">
<div class="brands-page-carousel">
<div><a href="/collections/fox-racing"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-logo-120x120.jpg" alt="" /></a></div>
<div><a href="/collections/shift-racing"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/shift-logo-120x120.jpg" alt="" /></a></div>
<div><a href="/collections/troy-lee-designs"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/troy-lee-designs-logo-120x120.jpg" alt="" /></a></div>
<div><a href="/collections/alpinestars"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-logo-120x120.jpg" alt="" /></a></div>
<div><a href="/collections/thor-mx"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/thor-mx-logo-120x120.jpg" alt="" /></a></div>
<div><a href="/collections/icon"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/icon-logo-120x120.jpg" alt="" /></a></div>
<div><a href="/collections/arai"><img src="//cdn.shopify.com/s/files/1/1299/2659/files/arai-120-120.png?15353485861783079777" alt="" /></a></div>
<div><a href="/collections/hjc"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/hjc-logo-120x120.jpg" alt="" /></a></div>
<div><a href="/collections/shoei"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/shoei-logo-120x120.jpg" alt="" /></a></div>
<div><a href="/collections/bell"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/bell-logo-120x120.jpg" alt="" /></a></div>
</div>
</div>
</div>
</section>


<script>
  
 jQuery(function($) {
      $j('.brands-page-carousel').slick({
	        infinite: false,
	        dots: false,
	        slidesToShow: 6,
	        slidesToScroll: 10,
	        responsive: [{
				breakpoint: 1770,
				settings: {
	                slidesToShow: 6,
	                slidesToScroll: 6
					}
				},{
				breakpoint: 1199,
				settings: {
	                slidesToShow: 3,
	                slidesToScroll: 3
					}
				},{
				breakpoint: 768,
				settings: {
	                slidesToShow: 2,
	                slidesToScroll: 2
					}
				}, 
				{
	            breakpoint: 480,
	            settings: {
	                slidesToShow: 1,
	                slidesToScroll: 1
	            }
	        }]
  		});
   
   });
  
</script>