<section class="content offset-top-0" id="slider">

<section class="container-fluid box-baners">
<div class="row">
<!-- col-left -->
<div class="col-xs-12 col-sm-12 col-md-6">
<!-- banner-slider -->
<div class="banner-slider banner-slider-button">

  <div>
    <a href="/collections/sunglasses-sale" class="banner zoom-in font-size-responsive">
      <span class="figure">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-sunglasses-50_-off.jpg?7630998263392557632" alt="Sunglasses Sale 50% Off"/>
        <span class="figcaption text-center">
          <span class="block-table">
            <span class="block-table-cell">
             
              <span class="block text-uppercase font-size100 font-bold"></span>
              <span class="moto_slide_caption_btn_link">Shop Now</span>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
  
  <div>
    <a href="/collections/shift-racing-white-label" class="banner zoom-in font-size-responsive">
      <span class="figure">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shift-racing.jpg?16988703724381542149" alt="Shift Racing White Label Collection"/>
        <span class="figcaption text-center">
          <span class="block-table">
            <span class="block-table-cell">
             
              <span class="block text-uppercase font-size100 font-bold"></span>
              <span class="moto_slide_caption_btn_link">Shop Now</span>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
  
   <div>
    <a href="/collections/agv" class="banner zoom-in font-size-responsive">
      <span class="figure">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/agv-moto.jpg?1710788492033684280" alt="AGV Helmets" title="TLD Liberty"/>
        <span class="figcaption  text-center">
          <span class="block-table">
            <span class="block-table-cell">
              <span class="moto_slide_caption_btn_link">Shop Now</span>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div> 

  <div>
    <a href="/collections/troy-lee-designs" class="banner zoom-in font-size-responsive">
      <span class="figure">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-troy-lee.jpg?3282556596983787440" alt="TLD Liberty" title="TLD Liberty"/>
        <span class="figcaption  text-center">
          <span class="block-table">
            <span class="block-table-cell">
              <span class="moto_slide_caption_btn_link">Shop Now</span>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div> 

  <div>
    <a href="/collections/oakley" class="banner zoom-in font-size-responsive">
      <span class="figure">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-oakley.jpg?6081019395008283096" alt="Motorhelmets Oakley Collection"/>
        <span class="figcaption text-center">
          <span class="block-table">
            <span class="block-table-cell">
             
              <span class="block text-uppercase font-size100 font-bold"></span>
              <span class="moto_slide_caption_btn_link">Shop Now</span>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>

</div>
<!-- /banner-slider -->
</div>
<!-- /col-left -->
<!-- col-right -->
<div class="col-xs-12 col-sm-12 col-md-6">
<div class="row">
  <div class="col-sm-6 col-md-6">
    <a href="/collections/off-road" class="banner zoom-in moto_banner">
      <span class="figure buttononhover">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-helmet-moto.jpg?11386916573206169618" alt="Motorhelmets Off Road Collection"/>
          <span class="figcaption">
          <span class="block-table">
            <span class="block-table-cell">
                <span class="banner__title size40">Off-Road</span>
                <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>

  <div class="col-sm-6 col-md-6">
    <a href="/collections/street" class="banner zoom-in moto_banner">
      <span class="figure buttononhover">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-moto-helmet.jpg?5856712433178831152" alt="Motorhelmets Street Collection"/>
          <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                 <span class="banner__title size40">Street</span>
                 <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
              </span>
              </span>
            </span>
      </span>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-sm-6  col-md-6">
    <a href="/collections/snow" class="banner zoom-in moto_banner">
      <span class="figure buttononhover">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-moto-helmet.jpg?5856712433178831152" alt="Motorhelmets Snow Collection"/>
    <span class="figcaption">
          <span class="block-table">
            <span class="block-table-cell">
              <span class="banner__title size40">Snow</span>
              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
  <div class="col-sm-6  col-md-6">
    <a href="/collections/cruiser" class="banner zoom-in moto_banner">
      <span class="figure buttononhover">
        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser-helmet-moto.jpg?11386916573206169618" alt="Motorhelmets Cruiser Collection"/>
          <span class="figcaption">
          <span class="block-table">
            <span class="block-table-cell">
              <span class="banner__title size40">Cruiser</span>
               <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
            </span>
          </span>
        </span>
      </span>
    </a>
  </div>
</div>
</div>
<!-- /col-right -->
</div>
</section>
<!--=== /box-baners ===-->

</section>