{% assign tags_of_products = product.tags | downcase %}
{% if tags_of_products contains '"accessories"' and tags_of_products contains '"accessories adhesive"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-adhesive">Adhesive</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories atv graphic"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-atv-graphic">ATV Graphic</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories arm sleeves"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-arm-sleeves">Arm Sleeves</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories atv tool & supply"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-atv-tool-supply">ATV Tool & Supply</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories lanyards"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-lanyards">Lanyards</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories axle block"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-axle-block">Axle Block</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories banner"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-banner">Banner</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories battery charger"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/battery-charger">Battery Charger</a></li>
{% elsif tags_of_products contains '"health care"' and tags_of_products contains '"hand sanitizer"' %}
<li><a href="/collections/health-care">Health Care</a></li>
<li><a href="/collections/hand-sanitizer">Hand Sanitizer</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories belts"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-belts">Belts</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories body armor"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-body-armor">Body Armor</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories boot"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-boots">Boots</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories pedal"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/motorcycle-pedal">Motorcycle Pedal</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories camera"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-camera">Camera</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories chain"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-chain">Chain</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories wristbands"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-wristbands">Wristbands</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories communication head set"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-communication-head-set">Communication Head Set</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories cover"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-cover">Cover</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories electric apparel controllers and miscellaneous"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-electric-apparel-controllers-and-miscellaneous">Electric Apparel Controllers and Miscellaneous</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"offroad"' and tags_of_products contains '"footpegs"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/footpegs">Footpegs</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"street"' and tags_of_products contains '"footpegs"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/footpegs">Footpegs</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories finger guard"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-finger-guard">Finger Guard</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories goggles"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/goggles">Goggles</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories headlights"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/headlights">Headlights</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"saddlebags accent"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/sadlebag-accent">Saddle Bag Accent</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories gift card"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-gift-card">Gift Card</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"gps mounts"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/gps-mounts">GPS Mounts</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories graphic kit"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-graphic-kit">Graphic Kit</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"gps cases"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/gps-cases">GPS Cases</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories handlebar"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-handlebar">Handlebar</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories handlebar clamps"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-handlebar-clamps">Handlebar Clamps</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories handlebar remote"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-handlebar-remote">Handlebar Remote</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories hand grips"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-hand-grips">Hand Grips</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories hand guards"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/hand-guards">Hand Guards</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories headphone"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-headphone">Headphone</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories health product"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-health-product">Health Product</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories heated apparel controllers and miscellaneous"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-heated-apparel-controllers-and-miscellaneous">Heated Apparel Controllers and Miscellaneous</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories helmets"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-helmets">Helmets</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories hitch cover"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-hitch-cover">Hitch Cover</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories jacket"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-jacket">Jacket</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories keychain"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-keychain">Keychain</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories lever"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-lever">Lever</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories lubricant/oil"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-lubricant-oil">Lubricant/Oil</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories luggage"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-luggage">Luggage</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories media"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-media">Media</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle cover"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-cover">Motorcycle Cover</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle navigator"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-navigator">Motorcycle Navigator</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle cable"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-cable">Motorcycle Cable</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle vent hose"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-vent-hose">Motorcycle Vent Hose</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle fuel line"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-fuel-line">Motorcycle Fuel Line</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle fuel valve"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-throttle">Motorcycle Fuel Valve</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle lever"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-lever">Motorcycle Lever</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories shifter"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-shifter">Motorcycle Shifter</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"motorcycle gps"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/motorcycle-gps">Motorcycle GPS</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories tool"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-tool">Tools</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle gauge"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-gauge">Motorcycle Gauge</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories motorcycle throttle"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-motorcycle-throttle">Motorcycle Throttle</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories ornament"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-ornament">Ornament</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories patch"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-patch">Patch</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories phone"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-phone">Phone</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"motorcycle pipes"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-pipe">Pipe</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"motorcycle exhausts"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-exhausts">Exhaust</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories school supply"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-school-supply">School Supply</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories seat cover"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-seat-cover">Seat Cover</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"tires"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-tires">Tires</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories wheels"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-wheels">Wheels</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories security lock"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-security-lock">Security Lock</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories skateboard"' and tags_of_products contains '"wheels"'%}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/skate-parts">Skate</a></li>
<li><a href="/collections/wheels">Wheels</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories skateboard"' and tags_of_products contains '"trucks"'%}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/skate-parts">Skate</a></li>
<li><a href="/collections/trucks">Trucks</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories skateboard"' and tags_of_products contains '"decks"'%}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/skate-parts">Skate</a></li>
<li><a href="/collections/skateboard-decks">Decks</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories skateboard"' and tags_of_products contains '"bolt"'%}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/skate-parts">Skate</a></li>
<li><a href="/collections/skate-bolts">Bolts</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories skateboard"' and tags_of_products contains '"complete skate"'%}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/skate-parts">Skate</a></li>
<li><a href="/collections/complete-skate">Complete</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories skateboard"' and tags_of_products contains '"skateboard grip tape"'%}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/skate-parts">Skate</a></li>
<li><a href="/collections/skate-grip-tape">Grip Tape</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories skateboard"' and tags_of_products contains '"cruiser grip tape"'%}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/skate-parts">Skate</a></li>
<li><a href="/collections/skate-grip-tape">Grip Tape</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories skateboard"' and tags_of_products contains '"longboard grip tape"'%}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/skate-parts">Skate</a></li>
<li><a href="/collections/skate-grip-tape">Grip Tape</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories snowboard"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-snowboard">Snowboard</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories stand"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-stand">Stand</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories sunglass"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-sunglass">Sunglass</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories swingarm"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-swingarm">Swingarm</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories tiedown"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-tiedown">Tiedown</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories tool"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-tool">Tool</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories toy"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-toy">Toy</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories umbrella"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-umbrella">Umbrella</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories water bottle"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-water-bottle">Water Bottle</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories survival kit"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-survival-kit">Survival Kit</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"accessories suspenders"' %}


<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/accessories-suspenders">Suspenders</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx body armor"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/body-armor">Body Armor</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx gloves"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/gloves">Gloves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx footwear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/footwear">Footwear</a></li>

{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx jackets"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/jackets">Jackets</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx jerseys"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/jerseys">Jerseys</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx pants"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/pants">Pants</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx shorts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/shorts">Shorts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx socks"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/socks">Socks</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual bandannas"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/bandannas">Bandannas</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual belts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/belts">Belts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual dresses"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/dresses">Dresses</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual eyeglasses"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/eyeglasses">Eyeglasses</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual footwear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/footwear">Footwear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual hats"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/hats">Hats</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cycling cap"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual\</a></li>
<li><a href="/collections/cycling-cap">Cycling Cap</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual headbands"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/headbands">Headbands</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual headwear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/headwear">Headwear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual jackets"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/jackets">Jackets</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual jerseys"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/jerseys">Jerseys</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual pants"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/pants">Pants</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual playwear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/playwear">Playwear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual rompers"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/rompers">Rompers</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual shirts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/shirts">Shirts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual onesies"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/onesies">Onesies</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual shorts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/shorts">Shorts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual scarfs"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/scarves">Scarves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual skirts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/skirts">Skirts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual socks"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/socks">Socks</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual sunglasses"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/sunglasses">Sunglasses</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual sweatshirts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/sweatshirts">Sweatshirts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual swimwear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/swimwear">Swimwear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual ties"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/ties">Ties</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual towels"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/towels">Towels</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual underwear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/underwear">Underwear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual wallets"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/wallets">Wallets</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"casual"' and tags_of_products contains '"category casual watches"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/casual">Casual</a></li>
<li><a href="/collections/watches">Watches</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser balaclavas"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/balaclavas">Balaclavas</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"balaclavas"' and tags_of_products contains '"category balaclavas"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/accessories">Accessories</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser boots"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/boots">Boots</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser chaps"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/chaps">Chaps</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser compression sleeves"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/compression-sleeves">Compression Sleeves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser dickies"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/dickies">Dickies</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser goggles"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/goggles">Goggles</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser face masks"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/face-masks">Face Masks</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser gloves"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/gloves">Gloves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser headwear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/headwear">Headwear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser jackets"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/jackets">Jackets</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser neck gaiters"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/neck-gaiters">Neck Gaiters</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser pants"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/pants">Pants</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser rain suits"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/rain-suits">Rain Suits</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser vests"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/vests">Vests</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb body armor"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/body-armor">Body Armor</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb gloves"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/gloves">Gloves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb goggles"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/goggles">Goggles</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb jerseys"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/jerseys">Jerseys</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb pants"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/pants">Pants</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb shorts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/shorts">Shorts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb jackets"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/jackets">Jackets</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb vests"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/vests">Vests</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb socks"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/socks">Socks</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb footwear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/footwear">Footwear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"Balaclavas"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/balaclavas">Balaclavas</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road body armor"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/body-armor">Body Armor</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road boots"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/boots">Boots</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road boots accessories"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/off-road-boots-accessories">Boots Accessories</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road goggles"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/goggles">Goggles</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road gloves"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/gloves">Gloves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road jackets"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/jackets">Jackets</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road jerseys"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/jerseys">Jerseys</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road pants"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/pants">Pants</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road rain gear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/rain-gear">Rain Gear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road shorts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/shorts">Shorts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road socks"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/socks">Socks</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road vests"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/vests">Vests</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road race suits"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/race-suits">Race Suits</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road rain suits"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/off-road-rain-suits">Rain Suits</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow balaclavas"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/balaclavas">Balaclavas</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow bibs"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/bibs">Bibs</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow body armor"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/body-armor">Body Armor</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow boots"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/boots">Boots</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow goggles"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/goggles">Goggles</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow face masks"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/face-masks">Face Masks</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow gloves"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/gloves">Gloves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow jackets"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/jackets">Jackets</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow jerseys"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/snow-jerseys">Jerseys</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow neck gaiters"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/neck-gaiters">Neck Gaiters</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow neck warmers"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/neck-warmers">Neck Warmers</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow pants"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/pants">Pants</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow race suits"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/socks">Race Suits</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow socks"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/socks">Socks</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow sweatshirts"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/sweatshirts">Sweatshirts</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow vests"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/vests">Vests</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow wrist gaiters"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">Snow</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street rain gear"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/rain-gear">Rain Gear</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street bibs"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/bibs">Bibs</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street body armor"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/body-armor">Body Armor</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street boots"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/boots">Boots</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street boots accessories"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/street-boots-accessories">Boots Accessories</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street goggles"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/gogggles">Goggles</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street gloves"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/gloves">Gloves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street jackets"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/jackets">Jackets</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street neckgaiters"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/neckgaiters">Neckgaiters</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street pants"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/pants">Pants</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street race suits"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/race-suits">Race Suits</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street rain suits"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/rain-suits">Rain Suits</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street socks"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/socks">Socks</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street vests"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/vests">Vests</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street neck gaiters"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/neck-gaiters">Neck Gaiters</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street balaclavas"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/balaclavas">Balaclavas</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"street"' and tags_of_products contains '"category street jerseys"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/jerseys">Jerseys</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb bibs"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/snow">MTB</a></li>
<li><a href="/collections/bibs">Bibs</a></li>


{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category brake accessories"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/brake-accessories">Brake Accessories</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category master cylinder"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/master-cylinder">Master Cylinder</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category hub adapter"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/hub-adapter">Hub Adapter</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category brake lines"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/brake-lines">Brake Lines</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category brake fluid"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/brake-fluid">Brake Fluid</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category brake tubing"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/brake-tubing">Brake Tubing</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category caliper bracket"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/caliper-bracket">Caliper Bracket</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category caliper bracket kit"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/caliper-bracket-kit">Caliper Bracket Kit</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category caliper"' %}
<li><a href="/collections/parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/caliper">Caliper</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category caliper adapter"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/caliper-adapter">Caliper Adapter</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category brakes"' and tags_of_products contains '"sub category banjo bolt"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/brakes">Brakes</a></li>
<li><a href="/collections/banjo-bolt">Banjo Bolt</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category subframe"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/subframe">Subframe</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category triple clamp"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/triple-clamp">Triple Clamp</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category subcage"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/subcage">Subcage</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category rear sets & pegs"' and tags_of_products contains '"sub category hinge kit"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/rear-sets-pegs">Rear Seats & Pegs</a></li>
<li><a href="/collections/hinge-kit">Hinge Kit</a></li>
{% elsif tags_of_products contains '"vehicles parts"' and tags_of_products contains '"street"' and tags_of_products contains '"category parts accessories"' and tags_of_products contains '"sub category mirror block offs"' %}
<li><a href="/collections/vehicles-parts">Parts</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/parts-accessories">Accessories</a></li>
<li><a href="/collections/mirror-block-offs">Mirror Block Offs</a></li>
{% elsif tags_of_products contains '"motorcycle tie down"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/motorcycle-tie-down">Tie Down</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"carry bags"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/carry-bags">Carry Bags</a></li>


{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"watercraft"' and tags_of_products contains '"category watercraft boots"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/watercraft">Watercraft</a></li>
<li><a href="/collections/boots">Boots</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"watercraft"' and tags_of_products contains '"category watercraft gloves"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/watercraft">Watercraft</a></li>
<li><a href="/collections/gloves">Gloves</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"watercraft"' and tags_of_products contains '"category watercraft suits"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/watercraft">Watercraft</a></li>
<li><a href="/collections/suits">Suits</a></li>
{% elsif tags_of_products contains '"apparel"' and tags_of_products contains '"watercraft"' and tags_of_products contains '"category watercraft vests"' %}
<li><a href="/collections/apparel">Apparel</a></li>
<li><a href="/collections/watercraft">Watercraft</a></li>
<li><a href="/collections/vests">Vests</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"auto"' and tags_of_products contains '"category auto helmets"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/auto">Auto</a></li>
<li><a href="/collections/helmets">Helmets</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"bmx"' and tags_of_products contains '"category bmx helmets"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/bmx">BMX</a></li>
<li><a href="/collections/helmets">Helmets</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser combos"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/combos">Combos</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"category auto helmets"' and tags_of_products contains '"category auto helmets"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/auto">Auto</a></li>
<li><a href="/collections/helmets">Helmets</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"cruiser"' and tags_of_products contains '"category cruiser helmets"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/cruiser">Cruiser</a></li>
<li><a href="/collections/helmets">Helmets</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"mtb"' and tags_of_products contains '"category mtb helmets"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/mtb">MTB</a></li>
<li><a href="/collections/helmets">Helmets</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road combos"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/combos">Combos</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"off-road"' and tags_of_products contains '"category off-road helmets"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/off-road">Off-Road</a></li>
<li><a href="/collections/helmets">Helmets</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"snow"' and tags_of_products contains '"category snow helmets"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/snow">Snow</a></li>
<li><a href="/collections/helmets">Helmets</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"street"' and tags_of_products contains '"category street combos"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/combos">Combos</a></li>
{% elsif tags_of_products contains '"gear"' and tags_of_products contains '"street"' and tags_of_products contains '"category street helmets"' %}
<li><a href="/collections/gear">Gear</a></li>
<li><a href="/collections/street">Street</a></li>
<li><a href="/collections/helmets">Helmets</a></li>
{% elsif tags_of_products contains '"luggage"' %}
<li><a href="/collections/luggage">Luggage</a></li>
{% elsif tags_of_products contains '"hardware"' and tags_of_products contains '"tools"' %}
<li><a href="/collections/hardware">Hardware</a></li>
<li><a href="/collections/tools">Tools</a></li>
{% elsif tags_of_products contains '"headwear"' and tags_of_products contains '"category accessories"' and tags_of_products contains '"face mask"'%}
<li><a href="/collections/headwear">Headwear</a></li>
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/face-mask">Face Masks</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"bulb"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/bulb-accessories">Bulb Accessories</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"gloves"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/gloves">Gloves</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"hydration"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/hydration-accessories">Hydration</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"hand guards"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/hand-guards">Hand Guards</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"mounts"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/mounts">Mounts</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"heatshields"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/heat-shields">Heat Shields</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"windshields"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/windshields">Windshields</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"luggage rack"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/luggage-rack">Luggage Racks</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"highwaybars"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/highway-bars">Highway Bars</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"fenders"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/fenders-1">Fenders</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"spotlights"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/spotlights">Spotlights</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"forks"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/forks">Forks</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"reflectors"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/reflectors">Reflectors</a></li>
{% elsif tags_of_products contains '"accessories"' and tags_of_products contains '"cowls"' %}
<li><a href="/collections/accessories">Accessories</a></li>
<li><a href="/collections/cowls-1">Cowls</a></li>

{% endif %}

{% if tags_of_products contains '"gender toddler"' %}
<li class="current"><a href="/collections/toddler">Toddler</a></li>

{% elsif tags_of_products contains '"gender infant"' %}
<li class="current"><a href="/collections/infant">Infant</a></li>

{% elsif tags_of_products contains '"gender unisex"' %}
<li class="current"><a href="/collections/unisex">Unisex</a></li>

{% elsif tags_of_products contains '"gender adult"' %}
<li class="current"><a href="/collections/adult">Adult</a></li>

{% elsif tags_of_products contains '"gender boys"' %}
<li class="current"><a href="/collections/youth-boys">Youth Boys</a></li>

{% elsif tags_of_products contains '"gender girls"' %}
<li class="current"><a href="/collections/youth-girls">Youth Girls</a></li>

{% elsif tags_of_products contains '"gender youth"' %}
<li class="current"><a href="/collections/youth">Youth</a></li>

{% elsif tags_of_products contains '"gender kids"' %}
<li class="current"><a href="/collections/kids">Kids</a></li>

{% elsif tags_of_products contains '"gender women"' %}
<li class="current"><a href="/collections/women">Women</a></li>

{% elsif tags_of_products contains '"gender men"' %}
<li class="current"><a href="/collections/men">Men</a></li>

{% endif %}