

<div class="moto_home_slides slider moto_home_slide_dots">
  
<div>
  <a href="/collections/hot-sales">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/holiday-sale-blue.jpg?4029469446031983057" title="Holiday Sale" alt="Holiday Sale"/>
  </a>
</div>
  
<div>
  <a href="/collections/sunglasses-sale">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/sunglasses-50_-off.jpg?16459047893790559468" title="Sunglasses On Sale" alt="Sunglasses On Sale"/>
  </a>
</div>
  
  
<div>
  <a href="/collections/casual-shoes-sale">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-shoes-sale.jpg?14352313314455288132" title="Shoes Sale" alt="Shoes Sale"/>
  </a>
</div>
  
  
{% comment %}
  
<div>
  <a href="/collections/oakley-radar-sunglasses">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-oakley.jpg?14809635199246918386" title="Oakley Radar SUnglasses" alt="Oakley Radar SUnglasses"/>
  </a>
</div>

  
<div>
  <a href="/collections/fox-racing">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-fox-racing.jpg?16418238395123005270" title="Shop for Fox Racing" alt="Shop for Fox Racing"/>
  </a>
</div>

  
<div>
  <a href="/collections/hjc">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-hjc.jpg?6851613572560758394" title="HJC RPHA 70st Helmets" alt="HJC RPHA 70st Helmets"/>
  </a>
</div>
  
<div>
  <a href="/collections/shoei">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-shoei.jpg?14562718636941227110" title="Shop forShoei Hlemets" alt="Shop forShoei Hlemets"/>
  </a>
</div>
  
{% endcomment %}
  
  
<div>
  <a href="/collections/skate">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-skateboard.jpg?16352939812559295036" title="Shop for Skateboard" alt="Shop for Skateboard"/>
  </a>
</div>
  
  
</div>


<style>
  

  
.moto_home_slides {
 	width:100%;
  	display:none;
}
  

.slider div img {
  width:100%; 
}
  
.moto_home_slides .slick-arrow {
  opacity:0;
  
}
  
.moto_home_slides:hover .slick-arrow {
  opacity:1;
  
}
  
</style>

<script>
 jQuery(function($) {
      $j('.moto_home_slides').slick({
        dots: true,
        infinite: true,
        speed: 500,
        draggable: true,
        arrows: true,
        autoplay: true,
        autoplaySpeed: 5000,
        pauseOnHover: true,
        cssEase: 'linear'
      });
   $j('.moto_home_slides').show();
   
   
   });
</script>

