
<div class="remodal" data-remodal-id="FreeGroundShippingOrders" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" style="max-width:1000px">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
   <h3 class="text-center">Free Shipping Terms &amp; Conditions</h3>
      <h5 class="text-center grey-text">Use Promo Code: <code>freeshipping99</code></h5>
    <hr>
      <ul class="list-group text-left">
                <li class="list-group-item">Enter promotional code <code>freeshipping99</code> during checkout.</li>
                <li class="list-group-item">Minimum order of $99 required (Valid for Helmets, Apparel and Luggage only. Hard Parts, Body Parts, Oils, Tires, Batteries and Oversized items excluded).</li>
                <li class="list-group-item">Free Standard Ground Shipping offers are limited to the continental 48 US States only. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day).</li>
                <li class="list-group-item">Applies only to orders shipping to a single address.</li>
                <li class="list-group-item">All oversized and additional shipping charges still apply.</li>
                <li class="list-group-item">Not valid with any other offer.</li>
                <li class="list-group-item">You can only use one coupon at a time during check out.</li>
                <li class="list-group-item">Delivery times may vary. Orders are processed and delivered during the business week (Monday – Friday) only and do not guarantee delivery by a specific date or time.</li>
                <li class="list-group-item">If you return items purchased using this offer, and your order drops below the threshold, then you may be charged a shipping fee.</li>
                <li class="list-group-item">Order cancellations or returns are subject to our cancellation fees.</li>
                <li class="list-group-item">Order cancellations or orders resulting in non receipt of merchandise is subject to our minimum shipping charges.</li>
                <li class="list-group-item">All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items.</li>
                <li class="list-group-item">Check our <a class="service-links" href="service-shopping-policies.htm">Shopping Policies</a> page for additional information.</li>
       </ul>

  </div>
  <br>

  
</div>




<div class="remodal" data-remodal-id="SecureOnlineShopping" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
   <h3 class="text-center">Secure Online Shopping</h3>
      
    <hr>
      <ul class="list-group text-left">
          <li class="list-group-item">Shop securely online.</li>
          <li class="list-group-item">Checkout securely with 256-Bit SSL encryption Technology.</li>
          <li class="list-group-item">We never sell or give out your information to 3rd parties.</li>
          <li class="list-group-item">Check our <a style="text-decoration:underline;" href="/pages/shopping-policies">Shopping Policies</a> page for additional information.</li> 
    </ul>
  </div>
  <br>

  
</div>


<div class="remodal" data-remodal-id="FreeFreightExchanges" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" style="max-width:1000px">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
   <h3 class="text-center">Free Freight on Exchanges</h3>
      
    <hr>
      <p style="text-align: justify; font-size: 1.2em;">Valid for <code>helmets</code> &amp; <code>apparel</code> only. Boots, luggage, hard parts, body parts, oils, tires, batteries and
                    oversized items do not apply. We will pay for shipping back to us for all exchanges, and then back to you.
                    So you never have to worry about shipping charges! Free freight does not apply to Returns or returns for refunds
                    (only for exchanges). Free freight only applies to ground shipping. Expedited shipping is not allowed.
                    Shipping only applies to M-F. Shipping freight must be properly packed and shipped insurance pre-paid.
                    Items lost in shipment or damaged in shipment is the responsibility of the customer. All original tags, paperwork,
                    stickers and accessories must be included. All original manufacturer boxes must be in new condition. You have 7 days to
                    request an exchange. Exchanged merchandise must be in New and Resaleable condition. All used helmets will be rejected.
                    Any scratches or signs of use will void your exchange. Any washed merchandise is void of exchange.
                    All returns must be accompanied by an order number, all original packaging materials and paperwork.
                    <b style="color: red;">All Hot Sale items cannot be returned for exchange or refund. This item sale is final because it's a limited sale item.</b>
                    Free Shipping Exchange does not cover Boots (Street, Offroad and Cruiser). Free exchange policy applies to ONE time use only.
                    Customer agrees to pay for all returns and shipments thereafter. Check our <a style="text-decoration:underline;" href="/pages/shopping-policies">Returns and Exchanges</a> page for additional information.
      </p>
  </div>
  <br>

  
</div>


<div class="remodal" data-remodal-id="FreeInternational999" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" style="max-width:1000px">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
   <h3 class="text-center">FREE INT'L SHIPPING ON ORDERS OVER $999</h3>
      
    <hr>
    <p style="text-align: justify; font-size: 1.2em;">Free international shipping applies to helmets and apparel only. Hard Parts, body parts, oils, tires, batteries and oversized items do not apply. Free standard shipping only applies for orders shipping outside the USA. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day). <a style="text-decoration:underline;" target="_BLANK" href="/pages/shipping-information"> Please see this page for more info.</a></p>
  </div>
  <br>

  
</div>


<div class="remodal" data-remodal-id="FreeShipping100" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" style="max-width:1000px">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
   <h3 class="text-center">FREE GROUND SHIPPING ON ORDERS OVER $100</h3>
      
    <hr>
      <ul style="text-align: left;">
        <li>Minimum order of $100 required (Valid for <code>Helmets</code> and <code>Apparel</code> only. Boots, Luggage, Hard/Body Parts, Oils, Tires, Batteries and Oversized items excluded).</li>
        <li>Free Standard Ground Shipping offers are limited to the continental 48 US States only. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day).</li>
        <li>Applies only to orders shipping to a single address.</li>
        <li>All oversized and additional shipping charges still apply.</li>
        <li>Not valid with any other offer.</li>
        <li><b><span style="color: #ff0000;" color="#ff0000">You can only use one coupon at a time during check out.</span></b></li>
        <li>Delivery times may vary. Orders are processed and delivered during the business week (Monday – Friday) only and do not guarantee delivery by a specific date or time.</li>
        <li>If you return items purchased using this offer, and your order drops below the threshold, then you may be charged a shipping fee.</li>
        <li>Order cancellations or returns are subject to our cancellation fees.</li>
        <li>Order cancellations or orders resulting in non receipt of merchandise is subject to our minimum shipping charges.</li>
        <li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items.</li>
        <li>Check our <a style="text-decoration: underline;" href="/pages/shopping-policies">Shopping Policies</a> page for additional information.</li>
      </ul>
  </div>
  <br>

  
</div>


<div class="remodal" data-remodal-id="LowesPriceGuaranteed" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" style="max-width:1000px">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
   <h3 class="text-center">LOWEST PRICE GUARANTEED!</h3>
      
    <hr>
    <p>We guarantee to have the lowest price online from any legitimate authorized reseller. We'll refund the difference if you can prove that another reseller is advertising a lower price.</p>
  </div>
  <br>

  
</div>


<div class="remodal" data-remodal-id="AuthorizedMerchandise" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc" style="max-width:1000px">
  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
  <div>
   <h3 class="text-center">AUTHORIZED MERCHANDISE DEALER</h3>
      
    <hr>
    
    <div class="AuthorizedMerchandise_ul_li">
      <ul>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-logo-120x120.jpg" alt="Alpinestars">Alpinestars</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/arai-logo-120x120.jpg" alt="Arai">Arai</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/bell-logo-120x120.jpg" alt="Bell">Bell</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/billabong-logo-120x120.jpg" alt="Billabong">Billabong</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/cortech-logo-120x120.jpg" alt="Cortech">Cortech</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/dc-logo-120x120.jpg" alt="DC">DC</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-logo-120x120.jpg" alt="Fox Racing">Fox Racing</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/hjc-logo-120x120.jpg" alt="HJC">HJC</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/icon-logo-120x120.jpg" alt="Icon">Icon</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/klim-logo-120x120.jpg" alt="Klim">Klim</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/oakley-logo-120x120.jpg" alt="Oakley">Oakley</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/oneill-logo-120x120.jpg" alt="O'Neill">O'Neill</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/metal-mulisha-logo-120x120.jpg" alt="Metal Mulisha">Metal Mulisha</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/neff-logo-120x120.jpg" alt="Neff">Neff</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/quiksilver-logo-120x120.jpg" alt="Quiksilver">Quiksilver</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/reef-logo-120x120.jpg" alt="Reef">Reef</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/rip-curl-logo-120x120.jpg" alt="Rip Curl">Rip Curl</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/roxy-logo-120x120.jpg" alt="Roxy">Roxy</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/saxx-logo-120x120.jpg" alt="SAXX">SAXX</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/scorpion-logo-120x120.jpg" alt="Scorpion">Scorpion</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/shift-racing-logo-120x120.jpg" alt="Shift Racing">Shift Racing</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/shoei-logo-120x120.jpg" alt="Shoei">Shoei</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/smith-optics-logo-120x120.jpg" alt="Smith Optics">Smith Optics</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/troy-lee-designs-logo-120x120.jpg" alt="troy Lee Designs">Troy Lee Designs</li>
          <li><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/thor-mx-logo-120x120.jpg" alt="Thor">Thor</li>
          
          
          
        </ul>
    </div>
    
    <hr>
    
    <div>
      <ul style="text-align: left;">
        <li>We are an Authorized Dealer for every brand we sell.</li>
        <li>We buy direct from the manufacturer and not from grey market dealers. Every item has full Manufacturer's warranty protection and is guaranteed to be 100% Authentic.</li>
        <li>We are fully authorized by Oakley, Fox, Billabong, Quiksilver, Roxy, DC Shoes, Rip Curl, Shoei, Bell, Troy Lee Designs and many more.</li>
      </ul>
     </div>
  </div>
  <br>

  
</div>