{% comment %}
{% if collection.handle == "sunglasses-accessories" or collection.title == "Sunglasses Accessories" %}
<div class="obs_brand_collection_banner slider">
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_oakley_sunglass_accessories.jpg?11897652417613073693" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>



{% elsif collection.handle == "billabong" or collection.title == "Billabong" %}
<div class="obs_brand_collection_banner slider">
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-billabong.jpg?8312121294870526091" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-billabong2.jpg?8312121294870526091" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "quiksilver" or collection.title == "Quiksilver" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-quiksilver.jpg?14090941157176477923" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-quiksilver2.jpg?14090941157176477923" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "roxy" or collection.title == "Roxy" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-roxy.jpg?3499031539933646770" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-roxy2.jpg?3499031539933646770" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>


{% elsif collection.handle == "dc" or collection.title == "Dc" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>



{% elsif collection.handle == "alpinestars" or collection.title == "Alpinestars" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/alpinestar-coll-banner.jpg?9018767539785853647" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>


{% comment %}
{% elsif collection.handle == "arai" or collection.title == "Arai" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>
{% endcomment %}


{% elsif collection.handle == "hjc" or collection.title == "HJC" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>



{% elsif collection.handle == "joe-rocket" or collection.title == "Joe Rocket" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>



{% elsif collection.handle == "one-industries" or collection.title == "One Industries" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "shift-racing" or collection.title == "Shift Racing" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "speed-and-strength" or collection.title == "Speed and Strength" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "troy-lee-designs" or collection.title == "Troy Lee Designs" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "answer-racing" or collection.title == "Answer Racing" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "fox-racing" or collection.title == "Fox Racing" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/fox-coll-banner.jpg?10426623412792534044" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "icon" or collection.title == "Icon" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/icon-banner.jpg?15977107044437183188" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "oakley" or collection.title == "Oakley" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "shoei" or collection.title == "Shoei" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "thor-mx" or collection.title == "Thor MX" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "agv" or collection.title == "AGV" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>


{% elsif collection.handle == "airhole" or collection.title == "Airhole" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>



{% elsif collection.handle == "alias" or collection.title == "Alias" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>



{% elsif collection.handle == "axo" or collection.title == "Axo" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "bell" or collection.title == "Bell" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "bolle" or collection.title == "Bolle" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "cortech" or collection.title == "Cortech" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "creature" or collection.title == "Creature" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "crocs" or collection.title == "Crocs" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "crocs-&-castles" or collection.title == "Crocs & Castles" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "dragon-alliance" or collection.title == "Dragon Alliance" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "electric" or collection.title == "Electric" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "etnies" or collection.title == "Etnies" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>







{% elsif collection.handle == "famous-stars-and-straps" or collection.title == "Famous Stars and Straps" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "firstgear" or collection.title == "FirstGear" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% comment %}
{% elsif collection.handle == "fly-racing" or collection.title == "Fly Racing" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>
{% endcomment %}



{% elsif collection.handle == "fmf" or collection.title == "FMF" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "independent" or collection.title == "Independent" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>







{% elsif collection.handle == "jansport" or collection.title == "JanSport" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "klim" or collection.title == "Klim" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "kr3w" or collection.title == "Kr3w" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "leatt" or collection.title == "Leatt" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "loss" or collection.title == "Loss" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "lrg" or collection.title == "LRG" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "metal-mulisha" or collection.title == "Metal Mulisha" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>







{% elsif collection.handle == "neff" or collection.title == "Neff" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>







{% elsif collection.handle == "o'neal-racing" or collection.title == "O'neal Racing" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "o'neill" or collection.title == "O'neill" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "puma" or collection.title == "Puma" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "quicksilver" or collection.title == "Quicksilver" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "reff" or collection.title == "Reff" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "scorpion" or collection.title == "Scorpion" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "scott" or collection.title == "Scott" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "sector-9" or collection.title == "Sector 9" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "seven" or collection.title == "Seven" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>







{% elsif collection.handle == "sixsixone" or collection.title == "SixSixOne" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "smith-optics" or collection.title == "Smith-Optics" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "spy-optic" or collection.title == "Spy Optic" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "stance" or collection.title == "Stance" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>





{% elsif collection.handle == "suomy" or collection.title == "Suomy" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>




{% elsif collection.handle == "supra" or collection.title == "Supra" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>






{% elsif collection.handle == "tour-master" or collection.title == "Tour Master" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>







{% elsif collection.handle == "vega" or collection.title == "Vega" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>









{% elsif collection.handle == "vonzipper" or collection.title == "VonZipper" %}
<div class="obs_brand_collection_banner slider">  
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc2.jpg?6531163466393917136" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
<div><img src="//cdn.shopify.com/s/files/1/1299/2659/files/collection_banner-dc.jpg?5170480990844020122" title="Shop {{ collection.title }} @ Motorhelmets" alt="{{ collection.title }} @ Motorhelmets"/></div>
</div>









{% else %}

<h3 class="margin_top-50 text-center text-uppercase title-under moto_title">{{ collection.title }}</h3>

{% endif %}

{% endcomment %}


<h3 class="margin_top-50 text-center text-uppercase title-under moto_title">{{ collection.title }}</h3>



<style>
  
  
  
  
.slider div img {
  width:100%; 
}
  
.obs_brand_collection_banner .slick-arrow {
  opacity:0;
  
}
  
.obs_brand_collection_banner:hover .slick-arrow {
  opacity:1;
  
}
  
</style>

<script>
 jQuery(function($) {
      $j('.obs_brand_collection_banner').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        draggable: false,
        arrows: true,
        autoplay: true,
        autoplaySpeed: 5000,
        pauseOnHover: true,
        cssEase: 'linear'
      });
   });
</script>