 <!--  --------------------------------------------------------------------- START ----------------------------------------------------------------- -->
{%comment%}
<!--  ---------------- Created By Christine Jane Kudera (April 01 2021) ------------- -->
<!--  ---------------- This is a snippet for the functions to be used in TEMPLATE (page.moto-parts-acc-search.liquid) ------------- -->
{%endcomment%}

{%comment%}<!-- assign all the Manufacturer Names in a variable (ADD MORE MANUFACTURERS HERE IF THERE ARE NEW - REMOVE SPACES ON COMMAS) -->{%endcomment%}
{% assign allManufacturers = "Honda,Kawasaki,Suzuki,Yamaha,Harley-Davidson,Husaberg,KTM,Husqvarna" | split: ',' %}

{%comment%}<!-- assign all the Honda Model Names in a variable (ADD MORE HONDA MODELS HERE IF THERE ARE NEW - REMOVE SPACES ON COMMAS) -->{%endcomment%}
{% assign allVehicleModelsHONDA = "Africa Twin,CB1000R,CB600F 599 Hornet,CBR1000RR,CBR1000RR ABS,Africa Twin DCT,CB1000,CB300F,CB500F,CB900F 919,CBR1000F Hurricane" | split: ',' %}

{%comment%}<!-- create a variable to put all the year range for models (1930, 1931, 1932.. up to currentYear) -->{%endcomment%}
{% assign allVehicleYears = ''  %}

{%comment%}<!-- assign the currentYear (2021) in a variable -->{%endcomment%}
{% assign currentYear =  'now' | date: "%Y" %}

{%comment%}<!-- assign the start year (1930) in a variable. I based this year from Revzilla's own Moto Parts Search Database, 1930 is their starting year for searching Vehicle Models -->{%endcomment%}
{% assign startYear =  1930 %}


{%comment%}
<!-- create a function to get the year Range for Vehicle Models (1930, 1931, 1932.. up to currentYear) -->
{%endcomment%}

{%comment%}<!-- if the startyear(1930) is not equal to currentYear(2021) --> {%endcomment%}
{% if startYear != currentYear %}

    {%comment%} <!-- create a loop to increment the year starting from startYear (1930) to currentYear(2021) --> {%endcomment%}
	{% for ax in (startYear..currentYear) %}

        {%comment%}<!-- remove all underscores if there are -->{%endcomment%}
		{% if ax contains '__' %}
		{% assign value = ax | split: '__' | first %}

        {%comment%}<!-- add the year value to the allVehicleYears variable after the underscore is removed, and add a comma (,) -->{%endcomment%}
		{% assign allVehicleYears = allVehicleYears | append: ',' | append: value %}

        {%comment%}<!-- else if the year value has no underscore --> {%endcomment%}
		{% else %}

        {%comment%}<!-- add the year value to the allVehicleYears variable, and add a comma (,) -->{%endcomment%}
		{% assign allVehicleYears = allVehicleYears | append: ',' | append: ax %}

		{% endif %}
        {%comment%}<!-- after all that, the year value will be incremented (1931, 1932, 1933... and so on) and will continue to loop until it becomes the currentYear (2021), that's when the loop stops --> {%endcomment%}
	
	{% endfor %}

{% endif %}

{%comment%}
<!-- after the funtion above created a year range (starting from 1930 to 2021), the year values are put inside the allVehicleYears variable -->
<!-- assign a new variable to put the year values of allVehicleYears variable to VehicleYears variable, separated by a comma (,) and remove the first comma (,) since it's blank -->
{%endcomment%}

{% assign VehicleYears = allVehicleYears | remove_first: "," | split: ',' %}

 <!--  --------------------------------------------------------------------- END ----------------------------------------------------------------- -->
