<!-- account menu start -->
<div class="account link-inline {{ moto_top_links_class }} nj_customer_info">
  <div class="dropdown text-right">
    <a class="dropdown-toggle" data-toggle="dropdown">
      <span class="simple-icon simple-icon-info"></span>
    </a>
    <ul class="dropdown-menu dropdown-menu--xs-full">
      <li><a href="/pages/about-us"> About Us</a></li>
      <li><a href="/pages/store-location"> Store Location</a></li>
      <li><a href="/pages/contact-us"> Contact Us</a></li>
      <li><a href="/pages/motorhelmets-com-sizing-chart"> Sizing Chart</a></li>
      <li><a href="http://library.motorhelmets.com/" target="_blank"> Library </a></li>
      <li><a href="#FreeFreightExchanges"> Free Returns/Exchanges </a></li>
      <li class="dropdown-menu__close"><a href="#"><span class="icon icon-close"></span>{{ 'general.menu.button_close' | t }}</a></li>
    </ul>
  </div>
</div>
<!-- account menu end -->