{{ 'moto-home-slider-style.css' | asset_url | stylesheet_tag }}
{{ 'modernizr.js' | asset_url | script_tag }}

	<section class="davz-hero">
		<ul class="davz-hero-slider autoplay">
          
            <!--     FIRST SLIDER      	 -->
			<li class="selected">
				<div class="davz-bg-video-wrapper">
                  <a href="/collections/hot-sale-gears"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-sale.jpg?14232339664377398458"></a>
				</div> <!-- .davz-bg-video-wrapper -->
				<div class="davz-full-width">
					<a href="/collections/hot-sale-gears" class="davz-btn">Shop Now</a>
				</div> <!-- .davz-half-width -->
			</li>
			
          
          	<!--     2ND SLIDER      	 -->
			<li>
<!--               <div class="davz-slider-overlay"></div> -->
				<div class="davz-bg-video-wrapper">
                  <a href="/collections/oakley-radar-sunglasses"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-oakley.jpg?15473560909195879208"></a>
				</div> <!-- .davz-bg-video-wrapper -->
				<div class="davz-full-width">
					<a href="/collections/oakley-radar-sunglasses" class="davz-btn">Shop Now</a>
				</div> <!-- .davz-half-width -->
			</li>

          
          
          	<!--     3RD SLIDER      	 -->
			<li>
				<div class="davz-bg-video-wrapper">
                  <a href="/collections/fox-racing"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-fox-racing.jpg?981767629926568018"></a>
				</div> <!-- .davz-bg-video-wrapper -->
				<div class="davz-full-width">
					<a href="/collections/fox-racing" class="davz-btn">Shop Now</a>
				</div> <!-- .davz-half-width -->
				
			</li>

          
          	
          	<!--     4TH SLIDER      	 -->
			<li class="davz-bg-video">
				<div class="davz-full-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
					<a href="#0" class="davz-btn">Learn more</a>
				</div> <!-- .davz-full-width -->

				<div class="davz-bg-video-wrapper">
					<img src="assets/slider12.jpg" alt="tech 2">
				</div> <!-- .davz-bg-video-wrapper -->
			</li>

          
          
          	<!--     5TH SLIDER      	 -->
			<li>
				<div class="davz-full-width">
					<h2>Slide title here</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, explicabo.</p>
					<a href="#0" class="davz-btn">Start</a>
					<a href="#0" class="davz-btn secondary">Learn More</a>
				</div> <!-- .davz-full-width -->
			</li>
        
          
		</ul> <!-- .davz-hero-slider -->
		
		<ul class="davz-slider-navigation" style="display: none;">
			<li><a href="#0" class="next-slide">Next</a></li>
			<li><a href="#0" class="prev-slide">Prev</a></li>
		</ul> <!-- .cd-slider-navigation -->
      
      
		<div class="davz-slider-nav">
			<nav>
				<span class="davz-marker item-1"></span>
				
				<ul>
					<li class="selected"><a href="#0"></a></li>
					<li><a href="javascript:void(0);"></a></li>
					<li><a href="javascript:void(0);"></a></li>
					<li><a href="javascript:void(0);"></a></li>
					<li><a href="javascript:void(0);"></a></li>
				</ul>
			</nav> 
		</div> <!-- .davz-slider-nav -->
	</section> <!-- .davz-hero -->


{{ 'moto-home-slider-script.js' | asset_url | script_tag }}