{{ 'moto-hero-slider-style.css' | asset_url | stylesheet_tag }}
{{ 'moto-home-page-styles.css' | asset_url | stylesheet_tag }}


<section class="moto-cd-hero">

  <div class = "row">
    {%comment%}
    <div class ="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class = "left-banner-holder">
        <div class ="row">
          <a href="/collections/street" class="banner zoom-in-banner moto_banner_main_banner">
            <span class="figure buttononhover">
              <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sept-street-new-arrivals-min.jpg?9823021643137718204" alt="Street New Arrivals" width="1295" height = "820">
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class ="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class = "row">
        <a href="/collections/veterans-day-off-road-gears-collection" class="banner zoom-in-banner moto_banner_main_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/veterans-day-banner-min.jpg?5310285080656457267" alt="Veterans Day Sale" width="1295" height = "820">
          </span>
        </a>
      </div>
    </div>
    {%endcomment%}
    <div class ="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class = "left-banner-holder">
        <div class ="row">
          <a href="/collections/street-gear-new-arrival" class="banner zoom-in-banner moto_banner_main_banner">
            <span class="figure buttononhover">
              <picture>
<!--                 <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-gear-christmas-sale-2_72060966-f9f4-4ed3-9316-1cd0fee7af17.webp?63811"> -->
                <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/street-gear-new-arrival-2021.jpg?v=1615796657">
                <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-gear-new-arrival-2021.jpg?v=1615796657" alt="Street Gear New Arrival" width="1295" height = "820">
              </picture>
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class ="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class ="row">
        <a href="/collections/off-road-gear-new-arrival" class="banner zoom-in-banner moto_banner_main_banner">
          <span class="figure buttononhover">
            <picture>
              <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-gear-new-arrival-2021.jpg?v=1615878957">
              <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-gear-new-arrival-2021.jpg?v=1615878957" alt="Off-Road Gear New Arrival" width="1295" height = "820">
            </picture>
          </span>
        </a>
      </div>
      <!--       <div class = "row">
<a href="/collections/hot-sales" class="banner zoom-in-banner moto_banner_main_banner">
<span class="figure buttononhover">
<picture>
<source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/best-sellers.webp?15910">
<source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/best-sellers.jpg?10236">
<img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/best-sellers.jpg?10236" alt="Spring 2019 Best Seller" width="1295" height = "820">
</picture>
</span>
</a>
</div> -->
    </div>
  </div>
  <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class ="row">
      <a href="/collections/motorcycle-gear-2021-closeout-sale" class="banner zoom-in-banner moto_banner_main_banner">
        <span class="figure buttononhover">
          <picture>
<!--             <source type="image/webp" media="(min-width: 1024px)" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/holiday-gift-guide-banner-3.webp?62797" />
            <source type="image/webp" media="(max-width: 1023px)" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/holiday-gift-guide-banner-mobile.webp?62797" /> -->
            <source type="image/jpeg" media="(min-width: 1024px)" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-2021.jpg?v=1610604446" />
            <source type="image/jpeg" media="(max-width: 1023px)" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-2021.jpg?v=1610604446" />
            <!--[if IE 9]></video><![endif]-->
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-2021.jpg?v=1610604446" alt="Off-Road Sale Banner">
          </picture>
        </span>
      </a>
    </div>
  </div>


</section> <!-- .moto-cd-hero -->
