{% assign tags = settings.shopby_type_filter | split: ',' %}
{% assign class =  '' %}
{% assign link =  '' %}
{% assign use_collection = collection_all_tags %}
{% assign size = 0 %}
<div class="collapse-block {{ open_tab_now }} open type-filter-block">
  <h4 class="collapse-block__title ">Category</h4>
  <div class="collapse-block__content">
    <ul class="filter-list type-filter">
      {% for get_tags in tags %}
      {% assign get_downcase_tags = get_tags | downcase %}
      {% if current_tags %}
		{% assign use_collection = collection.tags | downcase %}
      {% else %}
      	{% assign use_collection = collection_all_tags %}
      {% endif %}
        {% if use_collection contains get_downcase_tags %}
      		{% assign proper_format = get_downcase_tags | remove: '"' %}
      		{% assign cat_link = proper_format | handleize %}
      		{% assign get_current_tag_size = current_tags | size %}
      		{% assign compare_current_tags = get_current_tags | split: "," | handleize%}
      		{% if get_current_tag_size == 1 %}
              {% if compare_current_tags contains cat_link %}  
              {% assign class = "active" %}
              {% assign link =  proper_format | append: "<a href='"|append:cat_link | append:"' class = 'clear-tag icon icon-clear icon-to-right'></a>" %}
              {% else %}
              {% assign class = "" %}
              {% assign link =  "<a href = '" | append: cat_link | append:"'>" | append: proper_format | append: "</a>" %}
              {% endif %}  
			{% else %}
              {% if compare_current_tags contains cat_link %}  
              {% assign class = "active" %}
              {% assign link =  proper_format | append: "<a href='"|append:cat_link | append:"' class = 'clear-tag icon icon-clear icon-to-right'></a>" %}
              {% else %}
              {% assign class = "" %}
              {% assign link =  "<a href = '" | append: cat_link | append:"'>" | append: proper_format | append: "</a>" %}
              {% endif %}  
      		{% endif %}
         <li class = "{{class}}">{{link}}</li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
