{% assign tags = settings.shopby_size_filter | split: ',' %}
{% assign class =  '' %}
{% assign link =  '' %}
{% assign use_collection = collection_all_tags %}
{% assign size = 0 %}
<div class="collapse-block {{ open_tab_now }} open type-filter-block">
  <h4 class="collapse-block__title ">Size</h4>
  <div class="collapse-block__content">
    <ul class="options-swatch options-swatch--size options-swatch--lg size-filter filter-popup">

      {% for get_tags in tags %}
      {% assign get_downcase_tags = get_tags | downcase %}
      {% assign handleize_tags = get_downcase_tags | handleize %}
      {% if current_tags %}
		{% assign use_collection = collection.tags | downcase %}
      	{% assign handleize_collection = use_collection | split: "," | handleize %}
      
      {% else %}
        {% assign use_collection = collection_all_tags %}
        {% assign handleize_collection = use_collection | handleize %}
      
      {% endif %}
        {% if use_collection contains get_downcase_tags %}
      		{% assign proper_format = get_downcase_tags | remove: '"' %}
      		{% assign compare_handle = get_downcase_tags | handleize %}
      		{% assign cat_link = proper_format | handleize %}
            {% assign compare_current_tags = current_tags  %}
      		{% for store_compare_tags in compare_current_tags %}
      		{% assign get_compare_tags = store_compare_tags | handleize %}
            {% if get_compare_tags == compare_handle %} 
            {% assign class = "active" %}
            {% assign link =  proper_format | upcase | append: "<a href='"| append:cat_link | append:"' class = 'clear-tag icon icon-clear icon-to-right'></a>" %}
            {% break %}
            {% else %}
            {% assign class = "" %}
            {% assign link =  "<a href = '" | append: cat_link | append:"'>" | append: proper_format | append: "</a>" %}
            {% endif %} 
      		{% else %}
      		{% assign class = "" %}
            {% assign link =  "<a href = '" | append: cat_link | append:"'>" | append: proper_format | append: "</a>" %}
      		{% endfor %}
      		
         <li class = "{{class}}">{{link}}</li>
        {% endif %}
      {% endfor %}

    </ul>
  </div>
</div>
