<style>
  
  #newsletter-modal{
    top: 40px; 
  }
  .newsletter-modal-header{
    border-bottom:1px solid transparent;
    padding:10px 0px 0px 10px;
  }
  .popup-modal{
    background-image: url(https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-bg-3.jpg?791035660329386707);
    background-size: cover;
    background-position-x: -90px;
    padding: 50px 15px 50px 15px;
    border-radius: 0px;
    border: none;
  }
  #newsletter-popup-input{
    background-color:white;
    color:black;
    width: 50%;
    height: 35px;
  }
  #newsletter-submit-btn{
    background-color: black;
    color: white;
    padding: 11px 24px;
    font-size: 0.7em;
    font-weight: 500;
    height: auto;
    top: -1.5px;
  }
  .newsletter-promo{
    color:white; 
    font-size:29px;


  }

  .newsletter-description{
    margin-top: 50px;
    color:white; 
    font-weight:400;
    font-size:20px;
  }
  .modal-footer{
    border-top:1px solid transparent;
  }

  .modal-title{
    color:white; 
  }
  .newsletter-modal-footer-social-links{
    background-color:white; 
  }
  #newsletter-popup-btn{
    opacity:.8;
    margin-top:-50px;
  }
  #newsletter-submit-btn-mobile{
    background-color: #000000;
    color: white;
    padding: 10px 36px;
    font-size: 1.1em;
    font-weight: 500;
    height: auto;
    margin-top: 10px;
    right: 86px;
  }
  .newsletter-form{
    margin-top:0px; 
  }
  .newsletter-modal-body{
    
     top: -25px;
    margin-bottom: -25px;
  }
  @media (max-width:425px){
    #newsletter-modal{
      top: 150px; 
    }

    #newsletter-submit-btn-mobile {
      background-color: #c74545;
      color: white;
      padding: 10px 104px;
      font-size: .7em;
      font-weight: 500;
      height: auto;
      margin-top: 10px;
      right: 34px;
    }
    #newsletter-popup-input {
      width: 80%;
    }
    .popup-modal{
      background-image: url(https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-bg-mobile.jpg?6137857007436222354);
      background-size: cover;
      background-position-x: 0px;
      padding: 50px 15px 50px 15px;
      border-radius: 0px;
      border: none;
    }



  }
  @media (max-width:375px){
    #newsletter-modal{
      padding: 10px 36px;
      margin-top: 10px;
      right: 0px;
    }
    #newsletter-popup-input {
      width: 90%;
      height: 35px;

    }
    #newsletter-submit-btn-mobile {
      background-color: #c74545;
      color: white;
      padding: 10px 99px;
      font-size: .7em;
      font-weight: 500;
      height: auto;
      margin-top: 10px;
      right: 15px;
    }
    .popup-modal{
      background-image: url(https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-bg-mobile.jpg?6137857007436222354);
      background-size: cover;
      background-position-x: 0px;
      padding: 50px 15px 50px 15px;
      border-radius: 0px;
      border: none;
    }


  }

  @media (max-width:325px){
    #newsletter-modal{
      padding: 10px 21px;
      margin-top: 10px;
      right: 18px;
    }
    #newsletter-popup-input {
      width: 100%;
    }
    #newsletter-submit-btn-mobile {
      background-color: #c74545;
      color: white;
      padding: 10px 77px;
      font-size: .7em;
      font-weight: 500;
      height: auto;
      margin-top: 10px;
      right: 0px;
    }
    .popup-modal{
      background-image: url(https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-bg-mobile.jpg?6137857007436222354);
      background-size: cover;
      background-position-x: -120px;
      padding: 50px 15px 50px 15px;
      border-radius: 0px;
      border: none;
    }
  }
</style>

<div class="modal fade" tabindex="-1" role="dialog" id = "newsletter-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content popup-modal">
      <div class="modal-header newsletter-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id = "newsletter-popup-btn"><span aria-hidden="true" style ="color:white">&times;</span></button>

      </div>
      <div class="modal-body newsletter-modal-body">
        <p class="newsletter-promo text-center h4" style ="font-size:39px;">Get The Latest Deals</p>
        <p class="newsletter-promo text-center h4">Directly In Your Inbox</p>
        <p class ="newsletter-description text-center">Subscribe To Our Newsletter</p>
        <form action="//motorhelmets.us10.list-manage.com/subscribe/post?u=ff8716194950b6d4e7426ca81&id=12fe6611a1" method="post" name="mc-embedded-subscribe-form" target="_blank" class="newsletter-form subscribe-form text-center">
          <div class="row-subscibe">                                         
            <input id = "newsletter-popup-input" class ="text-center" type="text" name="EMAIL" placeholder="Enter your Email">
            <button id = "newsletter-submit-btn" type="submit" class="btn btn--ys btn--xl hidden-xs">{{ 'newsletter.popup_newsletter.button' | t }}</button>
            <button id = "newsletter-submit-btn-mobile" type="submit" class="btn btn--ys btn--xl visible-xs" >{{ 'newsletter.popup_newsletter.button' | t }}</button>

          </div>
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<script>
  'use strict';

  
  var setCookie = (name,value) => {

    var date= new Date(),
        expires = "expires=";
    //     604800000
    date.setTime(date.getTime() + 604800000);
    expires += date.toGMTString();
    document.cookie = name + '=' + value + '; ' + expires;

  }

  var setpermanentCookie = (name,value) => {
    // 31536000000
    var date= new Date(),
        expires = "expires=";
    date.setTime(date.getTime() + 31536000000);
    expires += date.toGMTString();
    document.cookie = name + '=' + value + '; ' + expires;

  }

  var getCookie = (name)=> {
    var allCookies = document.cookie.split(';'),
        cookieCounter = 0,
        currentCookie = '';
    for (cookieCounter = 0; cookieCounter < allCookies.length; cookieCounter++) {
      currentCookie = allCookies[cookieCounter].trim();
      while (currentCookie.charAt(0) === ' ') {
        currentCookie = currentCookie.substring(1, currentCookie.length);
      }
      if (currentCookie.indexOf(name + '=') === 0) {
        currentCookie = currentCookie.substring(name.length + 1, currentCookie.length);
        return currentCookie;
      }

    }
    return currentCookie;


  }   




  //if checker is not able to find the cookieSet it shows the modal otherwise it will not  
  var checker = getCookie("status");

  setTimeout(function() {


    if(checker !== "cookieSet" && checker !== "permanentCookie")
    {
      jQuery('#newsletter-modal').modal("toggle");
    }
  }, 1000);

  $('#newsletter-modal').on('hidden.bs.modal', function (e) {
//     console.log("Modal is hidden");    
    //if ever the user close the modal without inputting any data then a cookie is set to re show the modal after 30 days
    //THIS STILL NEEDS A FUNCTION TO CHECK IF THE USER INPUTTING SOMETHING
    setCookie("status","cookieSet");

  });
  $('#newsletter-submit-btn').click(function(){
    setpermanentCookie("status","permanentCookie");
    
    
  });



</script>