<script>  
  jQuery(function ($) {
    //     	$('#nj_product_recently_view').data('flexslider').removeSlide(0);

    // tiny helper function to add breakpoints
    function getGridSize() {
      return (window.innerWidth <= 450) ? 1 :
      (window.innerWidth <= 480) ? 2 :
      (window.innerWidth <= 768) ? 3 :
      (window.innerWidth <= 992) ? 3 :
      (window.innerWidth <= 1024) ? 4 :
      (window.innerWidth <= 1760) ? 4 : 6;
    }
    $('#nj_product_recently_view').flexslider({
      animation: "slide",
      animationLoop: false,
      itemWidth: 285,
      itemMargin: 0,
      //      animationLoop: true,
      controlNav: false, // hide control navigator if 'false'
      slideshow: false, // disable auto play if 'false'
      minItems: getGridSize(), // use function to pull in initial value
      maxItems: getGridSize() // use function to pull in initial value
    });

    $('#nj_product_recently_view').data('flexslider').removeSlide(0);

    {% assign cookiename = 'nj_Product_recently_view' %}

    try {
      var item = '{{ product.handle }}';
      if(CheckExists($j.cookie('{{ cookiename }}'), item)) {
                               var values = item + '_' + $j.cookie('{{ cookiename }}');
                               $j.cookie('{{ cookiename }}', values, { expires : 7, path: '/' });
                               }
                               getItems($j.cookie('{{ cookiename }}'));
                               //console.log();
                               }
                               catch (err) {
                     console.log(err);
         } // ignore errors reading cookies

         function CheckExists(c, x) {
        var d_x = '';
        var d_r = String(c).split("_");
        for(var i = 0; i < d_r.length; i++) {
          if(d_r[i] != '') {
            if(d_r[i] == x) {
              d_x = false;
              break;
            }
            else {
              d_x = true;
            }
          }
          else {
            d_x = false;
          }
        }
        return d_x;
      }

      function getItems(c) {
        var cookies = [];
        var d_x = '';
        var d_r = String(c).split("_");
        var l = 20;
        for(var i = 0; i < d_r.length; i++) {
          if((l+1) > i) {
            if(d_r[i] != null && d_r[i] != 'null' && d_r[i] != '') {
              RecentListItem(d_r[i]);
              cookies.push(d_r[i]);
            }
          }
        }
        $j.cookie('{{ cookiename }}', cookies.join('_'), { expires : 7, path: '/' });
                  }

          function RecentListItem(item) {
          jQuery.getJSON('/products/'+item+'.js', function(product) {

            for (var i = 0; i < product.variants.length; i++) {
              if(!product.available) {
                var image = product.featured_image.replace(/\.jpg/,'_250x250\.jpg');
                break;
              }
              else {
                if(product.variants[i].available) {
                  var image = product.variants[i].featured_image.src.replace(/\.jpg/,'_250x250\.jpg');
                  break;
                }
              }
            }

            //var image = product.featured_image.replace(/\.jpg/,'_large\.jpg');
            var title = product.title;
            if(!(title.includes('Last Call Sale') || title.includes('LAST CALL SALE'))){
              title = title.replace(' - Used Like New', '');
              title = title.replace(' - Slightly Used', '');
              title = title.replace(' - Brand New', '');
            }
            var url = product.url;
            var handle = product.handle;
            var money1 = product.price_min;
            var money2 = product.compare_at_price_min;
            var id = product.id;


            // new product banner
            var date_added = new Date(product.created_at);
            var today = new Date();
            var diff = today - date_added;
            var date_diff = Math.abs((((diff / 60e3)/ 60)/ 24));

            var new_add = '';

            if(date_diff < 10){
              new_add = '<div class="new-prod-badge_n"><span>NEW</span></div>';
            } else {
              new_add = '';
            }

            // sale banner
            var sale = '';
            if (product.compare_at_price_min > product.price_min) {
              sale = '<div class="davz-onsale-badge"><span>ON SALE</span></div>';
            } else {
              sale = '';
            }

            //last call
            var lastcall = '';
            var product_tags = product.tags;
            //product_tags = product_tags.toLowerCase();

//             if (product_tags.includes('last call') || product_tags.includes('Last Call')) {
//               lastcall = '<div class="last-call-badge_n">' +
//                 '<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1324/9125/files/haus-lastcall-banner.PNG?14576137295436867839" style="margin: 0 auto;" /></div>'
//             } else {
//               lastcall = '';
//             }

            var my_total_color = product.options[0].values.length;

            var savedperc = ((money2 - money1) / money2)*100;
            if(money2 <= money1){
              savedperc = '';
            } else {
              savedperc = '<div class="jubs_amount_saved"><span>Save ' +Math.round(savedperc) + '%</span></div>';
            }

            if(my_total_color > 1){
              my_total_color = my_total_color + ' COLORS';
            } else {
              my_total_color = my_total_color + ' COLOR';
            }

            var images = [];
            for (var i = 0; i < product.variants.length; i++) {
              images.push('<li><img src="' + product.variants[i].featured_image.src.replace(/\.jpg/,'_thumb\.jpg') + '" class="'+handle+'" title="'+product.variants[i].option1+'" alt="'+product.variants[i].option1+'" /></li>');
            }
            images = '<ul class="slide">' + removeDupsArray(images).join('') + '</ul>';

            if (money2 == 0) {
              var money = '<span nj-regular-price>'+Shopify.formatMoney(money1, "${"+"{amount}}")+'</span>';
            }
            else {
              var money = '<span nj-new-price>'+Shopify.formatMoney(money1, "${"+"{amount}}")+'</span> <span nj-old-price>'+Shopify.formatMoney(money2, "${"+"{amount}}")+'</span>';
            }
            if(!product.available) {
              var quickview = '<li>'+
                  '<a href="javascript:void(0);">'+
                  '<span>SOLD OUT</span>'+
                  '</a>'+
                  '</li>';
            } else {
              var quickview = '<li class="added-wishbutton defbtn'+handle+'">'+
                  '<a class="add-in-wishlist-js" href="javascript:void(0);" my-handle="'+handle+'" title="ADD TO WISH LIST">'+
                  '<span class="icon icon-favorite_border"></span>'+
                  '</a>'+
                  '</li>'+
                  '<li class="added-wishbutton" style="display: none;">'+
                  '<a href="/pages/wishlist" title="Go to Wishlist">'+
                  '<span class="icon icon-favorite"></span>'+
                  '</a>'+
                  '</li>';
            }
            var wishlist = '<li class="icon-compare-n" id="icon-compare-n-mobile">'+
                '<a href="javascript:void(0);" nj="compare" handle="'+handle+'" title="Compare Product">'+
                '<span class="origin-icon-arrow-compare"></span>'+
                '</a>'+
                '</li>'+
                '<li>'+
                '<a href="javascript:void(0);" onclick="quiqview(\''+handle+'\')" title="QUICK VIEW">'+
                '<span class="simple-icon-eye"></span>'+
                '</a>'+
                '</li>';

            //           	var quickview = '<div class="nj_recently_view_qckvw">' +
            //                               '<a href="javascript:void(0);" onclick="quiqview(\''+handle+'\')" title="Quick View"><span class="davzicon-eye"></span></a>' +
            //                             '</div>';
            //           	var wishlist = '<div class="default-wishbutton defbtn'+handle+'">'+
            //                             '<a class="add-in-wishlist-js" href="javascript:void(0)" my-handle=\''+handle+'\' title="Add to Wishlist">'+
            //                                 '<span class="davzicon-heart-lined"></span> '+
            //                             '</a>'+
            //                         '</div>'+
            //                         '<div class="added-wishbutton" style="display: none;">'+
            //                            ' <a href="/pages/wishlist"  title="Go to Wishlist">'+
            //                                 '<span class="davzicon-heart-fill"></span>'+
            //                             '</a>'+
            //                         '</div>';

            var cus_review = '<a href="javascript:void(0);" class="shopify-product-reviews-badge" data-id="'+id+'"></a>';
            if(product.variants.length == 1) {
              var select_option = '<a href="javascript:void(0);" class="nj_select_option" onclick="Shopify.addItem('+product.variants[0].id+', 1); return false;">Add to Cart</a>';
            }
            else {
              var select_option = '<a href="'+url+'" class="nj_select_option" tabindex="0">Select Option</a>';
            }

            // 			console.log(product);
            if(product.available ==true){
            $('#nj_product_recently_view').data('flexslider').addSlide(
              '<li style ="width:267px">'+
              '<div>'+
              '<ul class="davz_prod_icons" style="padding: 0;">'+quickview+wishlist+'</ul>'+
              '<div class="prod-badge">'+ new_add + sale + lastcall + '</div>'+
              //               '<div class="nj_recently_view_btn">'+
              //               quickview+
              //               wishlist+
              //               '</div>'+
              '<div class="nj_recently_view_img">'+
              '<a href="'+url+'" title="'+title+'">'+
              '<img class="'+handle+'" src="'+image+'" title="'+title+'" alt="'+title+'" />'+
              '</a>'+
              '</div>'+
              '<div class="nj_recently_view_images"><div class="nj_recently_view_slider"><div class="nj_recently_view_flex">'+
              images+
              '</div></div></div>'+
              '<div class="njohn_product_grid_color_counts">' +
              '<span>'+ my_total_color +'</span>' + savedperc +
              '</div>' +
              '<div class="nj_recently_view_info">'+
              '<a href="'+url+'" title="'+title+'">'+title+'</a>'+
              '<div nj-money>'+money+'</div>'+
              '</div>'+
              '<div class="nj_recently_view_option">'+
              '<div class="nj_recently_view_option1">'+
              cus_review+
              '</div>'+
              '<div class="nj_recently_view_option2">'+
              select_option+
              '</div>'+
              '</div>'+
              '</div>'+
              '</li>');
            	}
            $(window).trigger("initWishlistNoCustomer");
          });
        }

        //Remove Duplicate in array
        function removeDupsArray(data) {
          return data.filter(function(nj,i,data){
            return i == data.indexOf(nj);
          });
        }

        $(document).on("mouseover", '.nj_recently_view_images ul li img', function (event) {
          var thisis = $(this).attr("class");
          //$(".nj_products_comparison_table tr td[class='"+getclass+"']").remove();
          var hoverimg =  $(this).attr('src');
          $('.nj_recently_view_img a img.' + thisis).attr("src",ThumbtoLargeImage(hoverimg));
        });

        function ThumbtoLargeImage(img) {
          img = img.replace(/\_thumb.jpg/g,'_245x245.jpg');//_small
          img = img.replace(/\_thumb.jpeg/g,'_245x245.jpeg');//_small
          return img;
        }
      });
     
</script>
<div class="container margin_top-50">
  <div class="title-with-button title-bottom-md">
    <h2 class="text-uppercase product_single_line"><span>Recently Viewed Products</span></h2>
  </div>
  <div class="nj_product_recently_view_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
    <div id="nj_product_recently_view" class="flexslider carousel">
      <ul class="slides">
        <li style ="width:267px"></li>
      </ul>
    </div>
  </div>
</div>