<script>  
  jQuery(function ($) {
  	{% assign cookiename = 'nj_Product_recently_view' %}
  
	try {
      if($j.cookie('{{ cookiename }}') != null && $j.cookie('{{ cookiename }}') != '') {
		var item = '{{ product.handle }}';
        if(CheckExists($j.cookie('{{ cookiename }}'), item)) {
			var values = item + '_' + $j.cookie('{{ cookiename }}');
			$j.cookie('{{ cookiename }}', values, { expires : 7, path: '/' });
		}
		getItems($j.cookie('{{ cookiename }}'));
		}
        else {
           $('.nj_recently_viewed').hide();
        }
	}
	catch (err) {
		console.log(err);
	} // ignore errors reading cookies
	
	function CheckExists(c, x) {
		var d_x = '';
		var d_r = String(c).split("_");
		for(var i = 0; i < d_r.length; i++) {
			if(d_r[i] != '') {
				if(d_r[i] == x) {
					d_x = false;
					break;
				}
				else {
					d_x = true;
				}
			}
			else {
				d_x = false;
			}
		}
      return d_x;
	}
	
	function getItems(c) {
      	var cookies = [];
		var d_x = '';
		var d_r = String(c).split("_");
      	var l = 20;
		for(var i = 0; i < d_r.length; i++) {
          if((l+1) > i) {
			if(d_r[i] != null && d_r[i] != 'null' && d_r[i] != '') {
 				RecentListItem(d_r[i]);
              	cookies.push(d_r[i]);
			}
          }
		}
      	$j.cookie('{{ cookiename }}', cookies.join('_'), { expires : 7, path: '/' });
	}
	
	function RecentListItem(item) {
		jQuery.getJSON('/products/'+item+'.js', function(product) {
          
          for (var i = 0; i < product.variants.length; i++) {
            if(!product.available) {
              var image = product.featured_image.replace(/\.jpg/,'_small\.jpg');
              break;
            }
            else {
              if(product.variants[i].available) {
                var image = product.variants[i].featured_image.src.replace(/\.jpg/,'_small\.jpg');
                break;
              }
            }
          }
          
          	//var image = product.featured_image.replace(/\.jpg/,'_large\.jpg');
          	var title = product.title;
          	var url = product.url;
          	var handle = product.handle;
          	var money1 = product.price_min;
          	var money2 = product.compare_at_price_min;
          	var id = product.id;
          
          var images = [];
          for (var i = 0; i < product.variants.length; i++) {
              images.push('<li><img src="' + product.variants[i].featured_image.src.replace(/\.jpg/,'_thumb\.jpg') + '" title="'+product.variants[i].option1+'" alt="'+product.variants[i].option1+'" /></li>');
          }
          		images = '<ul>' + removeDupsArray(images).join('') + '</ul>';
          
          if (money2 == 0) {
          	var money = '<span nj-regular-price>'+Shopify.formatMoney(money1, "${"+"{amount}}")+'</span>';
          }
          else {
          	var money = '<span nj-new-price>'+Shopify.formatMoney(money2, "${"+"{amount}}")+'</span> <span nj-old-price>'+Shopify.formatMoney(money1, "${"+"{amount}}")+'</span>';
          }
          	var quickview = '<div class="nj_recently_view_qckvw">' +
                              '<a href="javascript:void(0);" onclick="quiqview(\''+handle+'\')" title="Quick View"><span class="simple-icon simple-icon-eye"></span></a>' +
                            '</div>';
          	var wishlist = '<div class="default-wishbutton defbtn'+handle+'">'+
                            '<a class="add-in-wishlist-js" href="javascript:void(0)" my-handle=\''+handle+'\' title="Add to Wishlist">'+
                                '<span class="icon icon-favorite_border"></span> '+
                            '</a>'+
                        '</div>'+
                        '<div class="added-wishbutton" style="display: none;">'+
                           ' <a href="/pages/wishlist"  title="Go to Wishlist">'+
                                '<span class="icon icon-favorite"></span>'+
                            '</a>'+
                        '</div>';
          
          var cus_review = '<a href="javascript:void(0);" class="shopify-product-reviews-badge" data-id="'+id+'"></a>';
          if(product.variants.length == 1) {
       	   var select_option = '<a href="javascript:void(0);" class="nj_select_option" onclick="Shopify.addItem('+product.variants[0].id+', 1); return false;">Add to Cart</a>';
          }
          else {
       	   var select_option = '<a href="'+url+'" class="nj_select_option" tabindex="0">Select Option</a>';
          }
          
// 			console.log(product);
$('#nj_collection_product_recently_view').append(
  			'<li>'+
  			'<div nj-items>'+
//               '<div class="nj_recently_view_btn">'+
//               quickview+
//               wishlist+
//               '</div>'+
              '<div class="nj_recently_view_img">'+
              '<a href="'+url+'" title="'+title+'">'+
             	 '<img src="'+image+'" title="'+title+'" alt="'+title+'" />'+
              '</a>'+
              '</div>'+
//               '<div class="nj_recently_view_images">'+
//               images+
//               '</div>'+
              '<div class="nj_recently_view_info">'+
            	  '<a href="'+url+'" title="'+title+'">'+title+'</a>'+
            	  '<div nj-money>'+money+'</div>'+
              '</div>'+
              '<div class="nj_recently_view_option">'+
                  '<div class="nj_recently_view_option1">'+
                      cus_review+
                  '</div>'+
                  '<div class="nj_recently_view_option2">'+
                      select_option+
                  '</div>'+
              '</div>'+
             '</div>'+
			'</li>');
          $(window).trigger("initWishlistNoCustomer");
		});
	}
  
  	//Remove Duplicate in array
	function removeDupsArray(data) {
		return data.filter(function(nj,i,data){
			return i == data.indexOf(nj);
		});
	}
});
</script>

<!-- <div class="collapse-block open nj_recently_viewed"> //-->
<div class="collapse-block nj_recently_viewed">
  <h4 class="collapse-block__title ">
    RECENTLY VIEWED
  </h4>
  <div class="collapse-block__content">
    <ul id="nj_collection_product_recently_view">
    </ul>
  </div>
</div>