{% comment %}
<!-- 
TITLE: PRODUCT GRID SNIPPET
CREATED BY: NICHOLE JOHN
DATE: 07-28-2016

HOW: 
PASTE THIS CODE > THEME.LIQUID

STYLE:	
{{ 'njohn-product-grid-style.css' | asset_url | stylesheet_tag }}
{{ 'flexslider.css' | asset_url | stylesheet_tag }}

SCRIPT:	
{{ 'jquery.flexslider.js' | asset_url | script_tag }}
{{ 'njohn-product-grid-script.js' | asset_url | script_tag }}

PASTE THIS CODE > COLLECTION-FILTRES.JS.LIQUID 

find this > e(window).trigger('reinitSliderInProduct'); and e('#centerCol').trigger( "initWishlist" );

//Reload Flexslider Script
var head = document.getElementsByTagName('head')[0];
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = '{{ 'njohn-product-grid-script.js' | asset_url }}';
head.appendChild(script);


TO RUN THE CODE:

{% assign collection_label = "FEATURED PRODUCTS" %}
{% assign collection_handle = "hot-sales" %}
{% assign collection_length = 8 %}

{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}


<div class="container" style="max-width: 1240px;">
<div class="njohn_product_grid_label">
<span>{{ collection_label }}</span>
</div>
{% for product in selected_collection limit: collection_length %}
<div id="njohn_product_grid">
{% include "njohn-product-grid-item" %}
</div>
{% endfor %}
</div>

-->
{% endcomment %}


<!-- IF NEW CREATED -->
{% assign date_created = product.created_at | date:'%Y%m%d' %}
{% assign date_now = 'now' | date:'%Y%m%d' %}
{% assign date_difference = date_now | minus: date_created %}
{% if date_difference < 11 %}
{% assign newproduct = true %}
{% else %}
{% assign newproduct = false %}
{% endif %}


{% comment %}<!-- IF SALE -->{% endcomment %}
{% if product.compare_at_price_min > product.price_min %}
{% assign sale_on = true %}
{% else %}
{% assign sale_on = false %}
{% endif %}
{% comment %}<!--/ IF SALE -->{% endcomment %}

{% assign main_url_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

{% assign variant = product.selected_or_first_available_variant %}

{% comment %}<!-- IF SOLDOUT -->{% endcomment %}
{% unless product.available %}

{% assign soldout_class1 = ' njohn_product_sold_out' %}
{% assign soldout_condition = true %}
{% assign soldout_class2 = 'njohn_disabled' %}
{% assign soldout_hide = 'style="display:none;"' %}
{% else %}
{% assign soldout_class1 = '' %}
{% assign soldout_condition = false %}
{% assign soldout_class2 = '' %}
{% assign soldout_hide = '' %}

{% endunless %}
{% comment %}<!--/ IF SOLDOUT -->{% endcomment %}
{% if product.available%}
{% unless product.title contains "Last Call Sale" or product.title contains "LAST CALL SALE" %}
{%assign newProductTitle = product.title | replace: ' - Used Like New', '' | replace: ' - Slightly Used', '' | replace: ' - Brand New', ''%}
{%else%}
{%assign newProductTitle = product.title %}
{% endunless%}
<!-- NJOHN'S PRODUCT GRID -->
<div class="njohn_product_grid_column {{ soldout_class1 }}">


  <div class="njohn_product_grid_on_info1">

    {% comment %}
    <!-- ON SALE AND AVAILABILITY -->
    <div class="njohn_product_grid_onsale_soldout">
      {% if soldout_condition %}
      <span class="njohn_product_grid_soldout">SOLD OUT</span>
      {% else %}
      {% if sale_on %}
      <span class="njohn_product_grid_onsale" style="display:none;">SALE</span>
      {% comment %}
      <span class="njohn_product_grid_onsale">
        {{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}% OFF
      </span>
      {% endcomment %}
      {% endif %}
      {% endif %}
    </div>
    <!--/ ON SALE AND AVAILABILITY -->
    {% endcomment %}


    <!-- WISHLIST -->
    <div class="njohn_product_grid_wishlist">
      {% if soldout_condition %}
      <a href="javascript:void(0);" class="njohn_product_grid_soldout"> 
        <span class="icon icon-block"></span> 
      </a>
      {% else %}
      <div class="default-wishbutton defbtn{{ product.handle }}">
        <a class="add-in-wishlist-js" href='javascript:void(0);' my-handle='{{ product.handle | handleize }}' title="ADD TO WISH LIST">
          <span class="icon icon-favorite_border"></span> 
        </a>
      </div>
      <div class="added-wishbutton" style="display: none;">
        <a href='/pages/wishlist'  title="GO TO WISH LIST">
          <span class="icon icon-favorite"></span> 
        </a>
      </div>
      {% endif %}
    </div>
    <!--/ WISHLIST -->

    <!--PRODUCT COMPARISON -->
    <div class="icon-compare-n" id="icon-compare-n-mobile">
      <a href="javascript:void(0);" nj="compare" handle="{{ product.handle }}" title="COMPARE PRODUCT" alt="COMPARE PRODUCT">
        <span class="davz--comparison origin-icon-arrow-compare"></span> 
      </a>
    </div>
    <!--PRODUCT COMPARISON -->

    <!-- QUICKVIEW -->
    <div class="njohn_product_grid_qckvw">
      <!--         <a href="javascript:void(0);" nj="compare" handle="{{ product.handle }}" title="Compare Product">
<span class="icon icon-compare_arrows"></span> 
</a> -->
      <a href="javascript:void(0);" onclick="quiqview('{{ product.handle }}')" title="QUICK VIEW" alt="QUICK VIEW">
        <span class="simple-icon simple-icon-eye"></span>
      </a>
    </div>
    <!--/ QUICKVIEW -->


    <div class="prod-badge">
      {% if newproduct %}
      {% unless lastcall %}
      <div class="new-prod-badge_n">
        <span>NEW</span>
      </div>
      {% endunless %}
      {% endif %}


      {% if sale_on %}
      {% unless lastcall %}
      <div class="davz-onsale-badge">
        <span>ON SALE</span>
      </div>
      {% endunless %}
      {% endif %}
    </div>

  </div>

  <!-- MAIN IMAGE -->
  <div class="njohn_product_grid_img">
    <script>
      (function() {
        // Initialize
        var bLazy = new Blazy();
      })();
    </script>
    <a href="{{ product.url | within: collection }}">
      <img title="{{ newProductTitle }}" class="njohn_{{ product.handle }}" src="{{ main_url_image | product_img_url: '248x248' }}" alt="{{ newProductTitle }}">
    </a>
  </div>
  <!--/ MAIN IMAGE -->


  <!-- IMAGE THUMBS VARIANTS -->
  <div class="njohn_product_grid_img_thumbs">
    <div class="flexslider carousel">
      <ul class="slides">
        {% assign c = 1 %}
        {% assign d = 0 %}
        {% assign color_var = 0 %}
        {% for image in product.images %}
        {% for variant in image.variants %}
        {% assign color = variant.option1 %}
        {% assign img = image.src %}
        {% assign c = c | plus: 1 %}
        {% assign c1 = c | minus: 1 %}
        {% if product.variants[c1].image.src != img and product.variants[c1].option1 != color %}
        {% assign d = d | plus: 1 %}
        <li class="njohn_product_grid_img_thumbs_list">
          <img class="{% if d == 1%}njohn_product_grid_img_thumbs_active{% endif %}" src="{{ img | product_img_url: 'thumb' }}" url-id="njohn_{{ product.handle }}" id="njohn_{{ product.handle }}" image-data-large="{{ img | product_img_url: '248x248' }}" alt="{{ product.title | escape }}" title="{{ color }}" />
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <!--/ IMAGE THUMBS VARIANTS -->

  <!-- PRODUCT INFO -->
  <div class="njohn_product_grid_info2">

    <!-- COLOR COUNTS -->
    <div class="njohn_product_grid_color_counts">
      {% assign c = 1 %}
      {% assign color_var = 0 %}
      {% for image in product.images %}
      {% for variant in image.variants %}
      {% assign color = variant.option1 %}
      {% assign img = image.src %}
      {% assign c = c | plus: 1 %}
      {% assign c1 = c | minus: 1 %}
      {% if product.variants[c1].image.src != img and product.variants[c1].option1 != color %}
      {% assign color_var = color_var | plus: 1 %}
      {% endif %}
      {% endfor %}
      {% endfor %}
      <span>
        {{ color_var }} COLOR{% if color_var > 1%}S{% endif %}
      </span>


      {% comment %}
      <!-- ON SALE AND AVAILABILITY -->
      {% if sale_on %}
      <div class="davz-onsale-badge"><span>ON SALE</span></div>
      {% endif %}
      <!--/ ON SALE AND AVAILABILITY -->

      {% endcomment %}


      <!-- ON SALE AND AVAILABILITY -->
      {% if sale_on %}
      <div class="jubs_amount_saved">
        <span>
          (Save {{ product.compare_at_price_min | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_min | money_without_currency | times: 100 | remove: '.0'}}%)
        </span>
      </div>
      {% endif %}
      <!--/ ON SALE AND AVAILABILITY -->

    </div>

    <!--/ COLOR COUNTS -->

    <!-- TITLE -->
    <div class="njohn_product_grid_title">
      <span>
        <a href="{{ product.url | within: collection }}" title="{{ newProductTitle }}" alt="{{ newProductTitle }}">
          {% if thispage == "oakley-store-wall"  or thispage == "troy-lee-designs-store-wall" or thispage == "fox-racing-store-wall" or  thispage == "troy-lee-designs-store-wall" or  thispage == "fox-racing-store-wall" or thispage == "bell-store-wall" or thispage == "hjc-store-wall" or thispage == "scorpion-store-wall" or thispage == "shoei-store-wall" or thispage == "alpinestars-store-wall" or thispage == "shift-racing-store-wall" or thispage == "arai-store-wall" or thispage == "icon-store-wall" or thispage == "klim-store-wall" or thispage == "thor-mx-store-wall" %}
        {{ newProductTitle |replace: "Suspenders", "<br>Suspenders" |replace: "Survival Kit", "<br>Survival Kit" | remove: "Button Up" | remove : "Finger Guards" | remove : "Backpacks" | remove : "Carry" | remove : "Duffel" | remove : "Handbags" | remove : "Purse" | remove : "Roller" | remove : "Saddle" | remove : "Waist Packs" | remove : "Skateboard" | remove : "Cruiser" | remove : "Cruiser Wheels" | remove : "Cruiser" | remove : "Longboard" | remove : "Complete Skateboards" | remove : "Complete Cruisers" | remove : "Complete Longboards" | remove : "Hardware Bolt Packs" | remove : "Skateboard Wheels" | remove : "Skateboard" | remove : "Replacement Lens" | remove : "Leather" | remove : "Leather/Mesh" | remove : "Mesh/Textile" | remove : "Leather" | remove : "Leather/Textile" | remove : "Textile" | remove : "Leather/Denim" | remove : "Mesh/Leather" | remove : "Textile" | remove : "Leather" | remove : "Mesh" | remove : "Leather/Textile" | remove : "Leather/Denim" | remove : "Textile/Mesh" | remove : "Waterproof" | remove : "Denim" | remove : "Textile" | remove : "Denim" | remove : "Denim Vests" | remove : "Textile Vests" | remove : "Armored Vests" | remove : "Leather Vests" | remove : "Sports Bra, Fitness" | remove : "Tank, Fitness" | remove : "Leggings, Fitness" | remove : "Sandal Footwear" | remove : "Shoes Footwear" | remove : "Boots Footwear" | remove : "Flexfit Hats" | remove : "Flexfit Adjustable Hats" | remove : "Snapback Adjustable Hats" | remove : "Trucker Adjustable Hats" | remove : "Beanie Hats" | remove : "Bucket Hats" | remove : "Trapper Hats" | remove : "Adjustable Hats" | remove : "Brim Hats" | remove : "Straw Hats" | remove : "Denim" | remove : "Leather" | remove : "Varsity" | remove : "Denim" | remove : "Rompers" | remove : "Chino" | remove : "Jogger" | remove : "Legging" | remove : "Stretch" | remove : "Beach" | remove : "Corduroy" | remove : "Chino Stretch" | remove : "Short-Sleeve" | remove : "Button-Up Short-Sleeve" | remove : "Tank" | remove : "Long-Sleeve" | remove : "3/4-Sleeve" | remove : "Polo" | remove : "Button-Up Long-Sleeve" | remove : "Top" | remove : "Denim Long-Sleeve" | remove : "Hooded Long-Sleeve" | remove : "Boardshorts, Surf (for Men's)" | remove : "Hybrid" | remove : "Cargo" | remove : "Walkshorts" | remove : "Chino" | remove : "Sweatshorts" | remove : "Beach" | remove : "High Waisted" | remove : "Stretch" | remove : "Sweatshorts" | remove : "Denim" | remove : "Corduroy" | remove : "Fitness" | replace : "Asian Fit Sunglasses" , "Sunglasses" | replace : "Asian Fit Polarized Sunglasses" , "Sunglasses" | replace : "Asian Fit Sports Sunglasses" , "Sunglasses"| replace : "Sports Sunglasses" , "Sunglasses"| replace : "Sports Polarized Sunglasses" , "Sunglasses"| replace : "Lifestyle Sunglasses" | replace : "Lifestyle Polarized Sunglasses" | replace : "Polarized Sunglasses" | replace : "Aviator Sunglasses" | replace : "Aviator Polarized Sunglasses" , "Sunglasses"| replace : "Wireframe Sunglasses" , "Sunglasses"| replace : "Wireframe Polarized Sunglasses" , "Sunglasses"| replace : "Rectangular Sunglasses" , "Sunglasses" | remove : "Hoody Zip" | remove : "Hoody Pullover" | remove : "Cardigans" | remove : "Sweater" | remove : "Bottoms" | remove : "One Piece" | remove : "Three Piece" | remove : "Tops" | remove : "Two Piece" | remove : "Top Underwear" | remove : "Bottom Underwear" | remove : "Bodysuit Underwear" | remove : "Digital Watches" | remove : "Analog Watches" | remove : "Surf" | remove : "Surf" | remove : "Tank" | remove : "Short-Sleeve" | remove : "Long-Sleeve" | remove : "Short-Sleeve" | remove : "Long-Sleeve" | remove : "Short-Sleeve" | remove : "Sleeveless" | remove : "Spring" | remove : "Long-Sleeve Spring" | remove : "Sleeveless Spring" | remove : "Leggings" | remove : "Vest" | remove : "Wetsuit" | remove : "Wetsuit" |replace : "Helmet Accessories", "<br>Helment Accessories" | remove: product.vendor | replace: "Men's", "<br>Men's" | replace: "Women's","<br>Women's" | replace: "Youth", "<br>Youth" | replace: "Toddler" , "<br>Toddler" | replace: "Kids", "<br>Kids" | replace: "Adult", "<br>Adult"  | remove : "Flip Flops"  | remove : "Gore-Tex"  | remove : "Leather"  | remove : "Sandals"  | remove : "Shoes"  | remove : "Beanie"  | remove : "Fitted"  | remove : "Flexfit"  | remove : "Snapback"  | remove : "Mesh"  | remove : "Textile"  | remove : "Waterproof"  | remove : "Winter"  | remove : "Backpacks"  | remove : "Carry"  | remove : "Gear"  | remove : "Handbags"  | remove : "Kidney Belt"  | remove : "Rack"  | remove : "Saddlebags"  | remove : "Sissy Bar"  | remove : "Tool"  | remove : "Tool Packs"  | remove : "Denim"  | remove : "Kevlar Cargo"  | remove : "Kevlar Jeans"  | remove : "Mesh"  | remove : "Textile"  | remove : "Winter"  | remove : "Case"  | remove : "Earphones/Earbuds"  | remove : "iPhone"  | remove : "Phone"  | remove : "Phone Case"   | remove : "Back Protector"  | remove : "Elbow Guard"  | remove : "Face Masks"  | remove : "Knee Brace"  | remove : "Knee Guard"  | remove : "Neck Brace"  | remove : "Protective Suit"  | remove : "Protector"  | remove : "Roost Deflector"  | remove : "Shell"  | remove : "Shin Guard"  | remove : "Spine Guard"  | remove : "Vented"  | remove : "3/4 Sleeve"  | remove : "Button Up Long Sleeve"  | remove : "Button Up Short Sleeve"  | remove : "Tank"  | remove : "Long-Sleeve"  | remove : "Short-Sleeve"  | remove : "Polo"  | remove : "Vneck"  | remove : "Boardshorts"  | remove : "Cargo"  | remove : "Walkshort"  | remove : "Complete Cruisers"  | remove : "Complete Longboards"  | remove : "Complete Skateboards"  | remove : "Cruiser Deck"  | remove : "Cruiser Wheels"  | remove : "Cruiser"  | remove : "Cruiser Grip Tape"  | remove : "Custom"  | remove : "Longboard Deck"  | remove : "Longboard Grip Tape"  | remove : "Skateboard"  | remove : "Skateboard Bolt"  | remove : "Skateboard Deck"  | remove : "Skateboard"  | remove : "Skateboard Grip Tape"  | remove : "Skateboard"  | remove : "Skateboard Wheels"  | remove : "1-Piece"  | remove : "2-Piece"  | remove : "Undergarment"  | remove : "Wetsuit"  | remove : "Snow Race Suits"  | remove : "Chain"  | remove : "Classic"  | remove : "Cover"  | remove : "Drystar"  | remove : "Handlebar"  | remove : "Gore-Tex"  | remove : "Graphic Kit"  | remove : "Insulated"  | remove : "Leather"  | remove : "Mesh"  | remove : "Premium"  | remove : "Riding"  | remove : "Textile"  | remove : "Waterproof"  | remove : "Winter"  | remove : "Wired" | remove : "BMX" | remove : "MTB" | remove : "Off Road" | remove : "LS" }}

          {%else%}
          {{newProductTitle}}
         
          {%endif%}
        </a>
      </span>
    </div>
    <!--/ TITLE -->

    <!-- MSRP/PRICE -->
    <div class="njohn_product_grid_msrp">
      {% if sale_on %}
      {% if product.price_min == product.price_max %}
      <span class="njohn_product_grid_new_price">{{ product.price_min | money }}</span>
      {% else %}
      <span class="njohn_product_grid_new_price">{{ product.price_min | money }} - {{ product.price_max | money }}</span>
      {% endif %}
      {% if product.compare_at_price_min == product.compare_at_price_max %}
      <span class="njohn_product_grid_new_old_price">{{ product.compare_at_price_min | money }}</span>
      {% else %}
      <span class="njohn_product_grid_new_old_price">{{ product.compare_at_price_min | money }} to {{ product.compare_at_price_max | money }}</span>
      {% endif %}
      {% else %}
      {% if product.price_min == product.price_max %}
      <span class="njohn_product_grid_new_regular_price">{{ product.price_min | money }}</span>
      {% else %}
      <span class="njohn_product_grid_new_regular_price">{{ product.price_min | money }} - {{ product.price_max | money }}</span>
      {% endif %}
      {% endif %}
    </div>
    <!--/ MSRP/PRICE -->

    <div class="njohn_product_grid_buttons">

      <!-- CUSTOMER REVIEW -->
      <div class="njohn_product_grid_customer">
        <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
      </div>
      <!--/ CUSTOMER REVIEW -->
      <!-- ADD TO CART -->
      {% if product.available %}
      {% if product.variants.size > 1%}
      {% assign func = 0 %}
      {% else %}
      {% assign func = 1 %}
      {% endif %}
      {% endif %}  
      <div class="njohn_product_grid_add_to_cart">
        {% if func == 0 %}
        <a href="{{ product.url }}">   
          SELECT OPTION
          <!--             <span class="simple-icon simple-icon-arrow-right"></span> -->
        </a>
        {% else %}
        <a href="javascript:void(0);" onclick="Shopify.addItem({{ variant.id }}, 1); return false;" >
          <!--               <span class="icon icon-shopping_basket"></span> --> 
          ADD TO CART 
        </a>
        {% endif %}
      </div>
      <!--/ ADD TO CART -->
    </div>



  </div>
  <!--/ PRODUCT INFO -->

</div>
<!--/ NJOHN'S PRODUCT GRID -->

{%endif%}
