{% assign main_url_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

<div class="product-main-image">
	<div class="product-main-image__item">
		<img class="product-zoom" itemprop="image" id="bigImg" src='{{ main_url_image.src | product_img_url: 'master' }}' zoom-image="{{ main_url_image | product_img_url: '2048x2048' }}" alt="{{ main_url_image.alt | escape }}" title="{{ main_url_image.alt | escape }}" />
	</div>
	<div class="product-main-image__zoom"></div>
	<div class="nj_click_to_expand"></div>
  
</div>

{% comment %} assign the first product variant that's available into a variable: current_variantImg {% endcomment %}
{% assign current_variantImg = product.first_available_variant.featured_image | default: product.featured_image %}

{% if product.images.size > 1 %}
<div class="njohn_clr_var_selector carousel njohn_smallGallery">
	<ul class="slides">
	{% for image in product.images %}
		{% for variant in image.variants %}
			{% assign img_id = variant.option1 | md5 %}
		{% endfor %}
		<li id="njohn_{{ img_id }}" data-src="{{ image.src | product_img_url: 'master' }}" data-sub-html="<h4 style='color:white;'>{{ image.alt | escape }}</h4>">
			<img nj-click="{{ image.src | handleize }}" src="{{ image.src | product_img_url: 'small' }}" img-1024x1024="{{ image.src | product_img_url: 'master' }}" alt="{{ product.title | escape }}" title="{{ image.alt | escape }}" >
			<div class="product_thumb_label">
				<span id="njohn-arrow-{{ img_id }}">{{ image.alt }}</span>
			</div>
		</li>
	{% endfor %}
	</ul>
</div>


{% endif %}
	<ul style="display:none;" class="lookbook_gallery">
	{% for image in product.images %}
		<li nj-trigger="{{ image.src | handleize }}" data-sub-html="{{ image.alt | escape }}" data-src="{{ image.src | product_img_url: 'master' }}" data-sub-html="<h4 style='color:white;'>{{ image.alt | escape }}</h4>"><img src="{{ image.src | product_img_url: 'small' }}" /></li>
	{% endfor %}
	</ul>

<script>
jQuery(function($) {
//{{ main_url_image.alt }}
    $j('.njohn_smallGallery li#njohn_{{ main_url_image.alt | md5 }}').addClass('njohn_thumbs_active');
        
        // START FUNCTIONS added by Christine Jane Kudera (June 24, 2020)
        // The purpose of this function is to display the variant images once the page is loaded. No clicking of colors needed.
        // do this functions once the page is ready

        // var count_Images = 0;
        var num_Variants = 0; // count the number of variant images that one color has
        var num_Color_Variants = 0; // count the number of colors that one product has
        // var num_li_smallG = 0;
        var color_Array = []; // array to store the <li> ID of each color variants
        var this_imageID = ''; // variable to store the <li> ID of the FIRST AVAILABLE PRODUCT WITH MORE THAN ZERO (0) QUANTITY
        var flex_nav_turned_ON = false; // boolean to show/hide flexslider depending on the number of variant images

		$j(window).ready(function(){
				
				    //Assign a variable that will contain the current_variantImg's src
			        var firstAvail_src = "{{ current_variantImg.src | product_img_url: 'master' }}";
			        
			        // every <li> of the smallGallery
					$j('.njohn_smallGallery ul li').each(function() {
						
						// if this <li>'s data-src is equal to firstAvail_src
						if($j(this).attr('data-src') == firstAvail_src) 
						{
							//get the id of this <li>
							this_imageID = $j(this).attr('id');
						}

					}); //end of smallGallery <ul> <li> function

					// every <li> of the smallGallery
					$j('.njohn_smallGallery ul li').each(function() {

						//get the id of this <li> and compare it to the first <li> id: this_imageID
						if($j(this).attr('id') == this_imageID)
						{
							  $j(this).removeClass('njohn_thumbs_active'); //remove class "njohn_thumbs_active" first to avoid duplication of classes
							  $j(this).addClass('njohn_thumbs_active'); //add class "njohn_thumbs_active" to this <li> to display
						}
						// else if not the same ID
						else if($j(this).attr('id') != this_imageID)
						{
						   $j(this).removeClass('njohn_thumbs_active'); //remove class "njohn_thumbs_active" for it not to display
						}
						//check if this ID is already inside the "color_Array"
						if(jQuery.inArray($j(this).attr('id'), color_Array) == -1)
							{
								color_Array.push($j(this).attr('id')); // if not, push this ID inside
							}
  
					}); //end of smallGallery <ul> <li> function

					// store the number of <li> elements with the class "njohn_thumbs_active" in a variable
					num_Variants = $j('.njohn_thumbs_active').length;

						//if the product has less than 2 types of colors and more than 5 variant images
						if(num_Variants/2 > 5 && color_Array.length < 2) // divide numVariants to 2
				            {
				              flex_nav_turned_ON = true; // set the flexslider variable to "true" to show it
				            }
				        //else if the product has more than 2 types of colors and less than 5 variant images    
				        else if(num_Variants/2 < 5 && color_Array.length > 2) // divide numVariants to 2
				            {
							  flex_nav_turned_ON = false; // set the flexslider variable to "false" to hide it
				            }
				        // else if it doesn't fit to any criteria, the DEFAULT is:
				        else
				             {
							    flex_nav_turned_ON = false; // set the flexslider variable to "false" to hide it
				             }

				// CONSOLE.LOGS for debugging purposes only....
						// console.log('Value of count_Images = ' + count_Images/2); // for debugging purposes, here you can see that the total number of images is multiplied by 4
						// console.log('Value of firstAvail_src = ' + firstAvail_src);
						// console.log('Value of num_li_smallG = ' + num_li_smallG);
						
						// for(var aNum = 0; aNum < color_Array.length; aNum++)
						// {
						// 	console.log('#' + aNum + ': ' + color_Array[aNum]);
						// }

						// console.log('Length of njohn_thumbs_active = ' + $j('.njohn_smallGallery .njohn_thumbs_active').length/2);
						// console.log('Value of num_Variants = ' + num_Variants/2);
						// console.log('Value of this_imageID = ' + this_imageID);
						console.log('Value of flex_nav_turned_ON = ' + flex_nav_turned_ON);
						// console.log('Value of num_Color_Variants = ' + num_Color_Variants);

						if(flex_nav_turned_ON == true)
				            {
				              $j('.njohn_smallGallery ul.flex-direction-nav').css('display','block!important');
				              console.log('Flexslider VISIBILTY = Visible!');
				            }
				        else
				             {
				             	$j('.njohn_smallGallery ul.flex-direction-nav').css('display','none!important');
				             	console.log('Flexslider VISIBILTY = Hidden!');
				             }



			});  //end of onReady function

						
       // END FUNCTIONS
       
      $(document).on("click", '.njohn_clr_var_selector img, #add-item-form .njohn_clr_var_selector img', function(event) { 
          $('.zoomContainer .zoomLens').attr('nj-trigger',$(this).attr('nj-click'));

      });
      $(document).on("click", '.zoomContainer .zoomLens', function(event) { 
        var img_attr = $('.zoomContainer .zoomLens').attr('nj-trigger');
        if(typeof img_attr !== typeof undefined && img_attr !== false) {
      	  $('.lookbook_gallery li[nj-trigger='+$(this).attr('nj-trigger')+']').trigger('click');
        }
        else {
       	 $('.lookbook_gallery li[nj-trigger={{ main_url_image | handleize }}]').trigger('click');
        }
      });
  
          $j('.njohn_clr_var_image').click(function(){
            var numberOfViews = $('.njohn_thumbs_active').length;

            if(numberOfViews/2 > 5){
              $j('.njohn_smallGallery ul.flex-direction-nav').css('display','block!important');
              console.log('Flexslider VISIBILTY = Visible2!');
            }
            else{
  	          	$j('.njohn_smallGallery ul.flex-direction-nav').css('display','none!important');
            	console.log('Flexslider VISIBILTY = Hidden2!');
              }
          });
});
</script>