{{ 'popup-comparison-products.css' | asset_url | stylesheet_tag }}
<div class="modal fade" id="newCompareModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog compare-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
        <div class="compare-title">
          <h2 class="text-center text-uppercase">Product Comparison</h2>
        </div>
      </div>
      <div class="modal-body">

        <div class="text-center row carousel-row">
          <div class="append-item compare-carousel">
            <div>
              <div class="content-product-compare">
                {%comment%}
                <div class="comp-func">
                  <div class="default-wishbutton defbtndarkstar-amf-era-harley-davidson-8-0-skateboard-decks-10012543-mus-8-0">
                    <a class="add-in-wishlist-js" href="javascript:void(0)" my-handle="darkstar-amf-era-harley-davidson-8-0-skateboard-decks-10012543-mus-8-0" title="ADD TO WISHLIST">
                      <span class="icon icon-favorite_border"></span> 
                    </a>
                  </div>
                  <div class="added-wishbutton" style="display: none;"> 
                    <a href="/pages/wishlist" title="Go to Wishlist">
                      <span class="icon icon-favorite">
                      </span>
                    </a>
                  </div>
                  <div>
                    <a href="javascript:void(0);" onclick="quiqview('darkstar-amf-era-harley-davidson-8-0-skateboard-decks-10012543-mus-8-0')" title="QUICK VIEW">
                      <span class="simple-icon simple-icon-eye"></span>
                    </a>
                  </div>
                  <div> 
                    <a style="display:block;" href="javascript:void(0);" data-handle="darkstar-amf-era-harley-davidson-8-0-skateboard-decks-10012543-mus-8-0" nj="remove" title="REMOVE THIS PRODUCT">
                      <span class="icon icon-delete"></span>
                    </a>
                  </div>
                </div>
                <!-- <div class="comp-brand"><span>Darkstar</span></div> -->
                <div class="comp-img">
                  <a href="javascript:void(0);" data-dismiss="modal" title="QUICK VIEW" onclick="quiqview('darkstar-amf-era-harley-davidson-8-0-skateboard-decks-10012543-mus-8-0')">
                    <img src="//cdn.shopify.com/s/files/1/1299/2659/products/apparel-darkstar-amf-era-skateboard-decks-mustard_large.jpg?v=1514593204" title="Darkstar AMF Era Harley-Davidson  8.0 skateboard decks" alt="Darkstar AMF Era Harley-Davidson  8.0"></a>
                </div>
                <div class="comp-ptitle"><a href="javascript:void(0);" data-dismiss="modal" title="QUICK VIEW" onclick="quiqview('darkstar-amf-era-harley-davidson-8-0-skateboard-decks-10012543-mus-8-0')">Darkstar AMF Era Harley-Davidson  8.0" Skateboard Decks</a></div>
                <div class="comp-price"><b><span nj="reg">$49.95</span><b></b></b></div>
                <div class="comp-desc"><p>Darkstar AMF Era Harley-Davidson  8.0" Skateboard Decks</p>
                  <ul>
                    <li>Darkstar AMF Era Harley-Davidson  Mustard 8.0 Skateboard Deck</li>
                    <li>Resin Hybrid Maple Construction</li>
                    <li>Width: 8.0" / Length: 31.6" / Wheelbase: 14.0"</li>
                    <li>Full Concave / Steep Kick</li>
                    <li>Darkstar x Harley-Davidson  Collaboration</li>
                    <li>7-ply Hardrock and Canadian Maple blend with Epoxy Resin Glue</li>
                    <li>Single Deck Press (Same shape and concave every time)</li>
                    <li>Stronger than industry standard 7-ply</li>
                    <li>Available colors: Mustard</li>
                    <li>Available sizes: 31.6"L x 8.0"W</li>
                    <li>SKU: 10012543-MUS</li>
                  </ul></div>
                {%endcomment%}
              </div>
            </div>
          </div>

          <div class="comparison-empty" style="display: none;">
            <span>There are no items in your product comparison.</span>
            <span>To add an item, browse for a product and choose Compare Product.</span>
            <div class="col-sm-4 col-sm-offset-4">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-compare-icon.jpg?14082672630093497200" style="margin: 0 auto;">
              <!-- <a href="/collections/whats-new">Shop Now</a> -->
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div><!-- /modalCompare2 -->

{{ 'popup-comparison-products.js' | asset_url | script_tag }}