{% unless template contains "wishlist" or template contains "cart" %}
<div class="container">
<div class="nj_wishlist_row_list_divider"></div>
<div class="nj_wishlist_row_list">

  <div id="wishlist_slider" class="flexslider carousel">
    <ul class="slides">
      <li></li>
    </ul>
  </div>
  </div>
</div>
{% endunless %}


{% if template contains "wishlist" or template contains "cart"%}
<div class="container hidden">
<div class="nj_wishlist_row_list_divider"></div>
<div class="nj_wishlist_row_list">
<div class="nj_wishlist_row_label">
 <i nj-trigger="" class="material-icons" nj-click="active">reorder</i>
<a href="/pages/wishlist"><span>My Wishlist </span><span nj-count="">(0)</span></a>
  </div>
  <div id="wishlist_slider" class="flexslider carousel">
    <ul class="slides">
      <li></li>
    </ul>
  </div>
  </div>
</div>
{% endif %}

{% if template == "page.motorhelmets-newsletter" %}
<style>
  .nj_wishlist_row_list_divider {
	margin: 0;
}
</style>
{% endif %}