
	<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
        <li class="active"><a href="#Store-wall-SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
        <li><a href="#Store-wall-SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
    </ul>

  <div class="tab-content tab-content--ys Sbs_store-wall-sizechart">
  <div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartTab1">
   <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
      <li class="active"><a href="#Store-wall-MensSizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>
      <li><a href="#Store-wall-MensSizeChartTab7" role="tab"data-toggle="tab" class="text-uppercase">Outerwear</a></li>
      <li><a href="#Store-wall-MensSizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
      <li><a href="#Store-wall-MensSizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
      <li><a href="#Store-wall-MensSizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Headwear</a></li>
      <li><a href="#Store-wall-MensSizeChartTab6" role="tab"data-toggle="tab" class="text-uppercase">Snow</a></li>
      <li><a href="#Store-wall-MensSizeChartTab8" role="tab"data-toggle="tab" class="text-uppercase">Top</a></li>
      <li><a href="#Store-wall-MensSizeChartTab9" role="tab"data-toggle="tab" class="text-uppercase">Bottom</a></li>
      <li><a href="#Store-wall-MensSizeChartTab10" role="tab"data-toggle="tab" class="text-uppercase">Suits</a></li>
      <li ><a href="#Store-wall-MensSizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Accessories</a></li>
  </ul>


  <div class="tab-content tab-content--ys">
    <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab1">
       <div class="divider divider--md"></div>
       <h4>MEN'S BELT SIZE CHART</h4>
       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">SIZE</th>
                   <th scope="col">Inches</th>
                   <th scope="col">Centimeters</th>
                </tr>
             </thead>
             <tbody>
                <tr>
                   <td>X-Small</td>
                   <td>30 inches</td>
                   <td>75cm</td>
                </tr>
                <tr>
                   <td>Small</td>
                   <td>32 inches</td>
                   <td>80cm</td>
                </tr>
                <tr>
                   <td>Medium</td>
                   <td>34 inches</td>
                   <td>85cm</td>
                </tr>
                <tr>
                   <td>Large</td>
                   <td>36 inches</td>
                   <td>90cm</td>
                </tr>
                <tr>
                   <td>X-Large</td>
                   <td>38 inches</td>
                   <td>95cm</td>
                </tr>
             </tbody>
          </table>
          <h4><code>2.54 CM = 1 INCH</code></h4>
       </div>
       <!-- Responsive Table -->
       <div>
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/belt-img.jpg?4544470911550085425" alt="Oakley MEN'S Belts"></center>
       </div>
  </div> <!-- End Store-wall-MensSizeChartTab1 -->

  <div role="tabpanel" class="tab-pane active" id="Store-wall-MensSizeChartTab2">
        <div class="divider divider--md"></div>
           
      <h4>MEN'S APPAREL SIZE CHART</h4>
       <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <center>
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-image-men.jpg?14704309128810109135" alt="MEN'S APPAREL SIZE CHART">
         </center>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-9">
         <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
              <tr>
               <th scope="col"> </th>
               <th scope="col">X-SMALL</th>
               <th scope="col">Small</th>
               <th scope="col">Medium</th>
               <th scope="col">Large</th>
               <th scope="col">X-Large</th>
               <th scope="col">XX-Large</th>
              </tr>
             </thead>
             <tbody>
              <tr>
               <td>A | Chest</td>
               <td>36-37 inches</td>
               <td>38-39 inches</td>
               <td>40-41 inches</td>
               <td>42-44 inches</td>
               <td>45-47 inches</td>
               <td>48-51 inches</td>
              </tr>
              <tr>
               <td></td>
               <td>91-94cm</td>
               <td>96.5-99cm</td>
               <td>101.5-104cm</td>
               <td>107-112cm</td>
               <td>114-119cm</td>
               <td>122-129.5cm</td>
              </tr>
             </tbody>
             <tbody>
              <tr>
               <td>B | Waist</td>
               <td>28-29 inches</td>
               <td>30-31inches</td>
               <td>32-33 inches</td>
               <td>34-35 inches</td>
               <td>36-38 inches</td>
               <td>39-42 inches</td>
              </tr>
              <tr>
               <td></td>
               <td>71-74cm</td>
               <td>76-79cm</td>
               <td>81-84cm</td>
               <td>86-89cm</td>
               <td>91.5-96.5cm</td>
               <td>99-107cm</td>
              </tr>
             </tbody>
             <tbody>
              <tr>
               <td>C | Hip</td>
               <td>35-36 inches</td>
               <td>37-38 inches</td>
               <td>39-40 inches</td>
               <td>41-42 inches</td>
               <td>42-44 inches</td>
               <td>45-46 inches</td>
              </tr>
              <tr>
               <td></td>
               <td>89-91.5cm</td>
               <td>94-96.5cm</td>
               <td>99-101.5cm</td>
               <td>104-107cm</td>
               <td>107-112cm</td>
               <td>119-122cm</td>
              </tr>
             </tbody>
             <tbody>
              <tr>
               <td>D | Sleeve Length</td>
               <td>33 inches</td>
               <td>33.5 inches</td>
               <td>34 inches</td>
               <td>34.75 inches</td>
               <td>35.5 inches</td>
               <td>36.25 inches</td>
              </tr>
              <tr>
               <td></td>
               <td>84cm</td>
               <td>85cm</td>
               <td>86cm</td>
               <td>88cm</td>
               <td>90cm</td>
               <td>92cm</td>
              </tr>
             </tbody>
             <tbody>
              <tr>
               <td>E | Inseam</td>
               <td>31.5 inches</td>
               <td>32 inches</td>
               <td>32 inches</td>
               <td>32.5 inches</td>
               <td>32.5 inches</td>
               <td>33 inches</td>
              </tr>
              <tr>
               <td></td>
               <td>80cm</td>
               <td>81cm</td>
               <td>81cm</td>
               <td>82.5cm</td>
               <td>82.5cm</td>
               <td>85cm</td>
              </tr>
             </tbody>
          </table>
         </div>
        </div>
        <!-- End Tab -->
       </div>
  </div> <!-- Responsive Column-->

  <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab3">
       <div class="divider divider--md"></div>

        <div class="row">
          <h4>MEN'S SHOE SIZE CHART</h4>
          <div class="col-sm-2 col-md-2 col-lg-2">
            <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-iamge-017.jpg?9382122866121846083" alt="Oakley MEN'S SHOE SIZE CHART"></center>
          </div>

          <div class="col-sm-10 col-md-10 col-lg-10">
           <div class="table_responsive">
            <table class="table table-bordered table-striped">
               <tbody>
                <tr>
                 <td>Australia</td>
                 <td>3</td>
                 <td>3.5</td>
                 <td>4</td>
                 <td>4.5</td>
                 <td>5</td>
                 <td>5.5</td>
                 <td>6</td>
                 <td>6.5</td>
                 <td>7</td>
                 <td>7.5</td>
                 <td>8</td>
                 <td>8.5</td>
                 <td>9</td>
                 <td>9.5</td>
                 <td>10</td>
                 <td>10.5</td>
                 <td>11</td>
                 <td>11.5</td>
                 <td>12</td>
                 <td>12.5</td>
                 <td>13</td>
                 <td>14</td>
                 <td>15</td>
                 <td>16</td>
                 <td>17</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Brazil</td>
                 <td>34</td>
                 <td>34.5</td>
                 <td>35</td>
                 <td>35.5</td>
                 <td>36</td>
                 <td>36.5</td>
                 <td>37</td>
                 <td>37.5</td>
                 <td>38</td>
                 <td>38.5</td>
                 <td>39</td>
                 <td>39.5</td>
                 <td>40</td>
                 <td>40.5</td>
                 <td>41</td>
                 <td>41.5</td>
                 <td>42</td>
                 <td>42.5</td>
                 <td>43</td>
                 <td>43.5</td>
                 <td>44</td>
                 <td>45</td>
                 <td>46</td>
                 <td>47</td>
                 <td>48</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Europe</td>
                 <td>35</td>
                 <td>35.5</td>
                 <td>36</td>
                 <td>36.5</td>
                 <td>37.5</td>
                 <td>38</td>
                 <td>38.5</td>
                 <td>39</td>
                 <td>40</td>
                 <td>40.5</td>
                 <td>41</td>
                 <td>42</td>
                 <td>42.5</td>
                 <td>43</td>
                 <td>44</td>
                 <td>44.5</td>
                 <td>45</td>
                 <td>45.5</td>
                 <td>46</td>
                 <td>46.5</td>
                 <td>47</td>
                 <td>48</td>
                 <td>49</td>
                 <td>50</td>
                 <td>51</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Japan</td>
                 <td>21</td>
                 <td>21.5</td>
                 <td>22</td>
                 <td>22.5</td>
                 <td>23</td>
                 <td>23.5</td>
                 <td>24</td>
                 <td>24.5</td>
                 <td>25</td>
                 <td>25.5</td>
                 <td>26</td>
                 <td>26.5</td>
                 <td>27</td>
                 <td>27.5</td>
                 <td>28</td>
                 <td>28.5</td>
                 <td>29</td>
                 <td>29.5</td>
                 <td>30</td>
                 <td>30.5</td>
                 <td>31</td>
                 <td>32</td>
                 <td>33</td>
                 <td>34</td>
                 <td>35</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Korea</td>
                 <td>210</td>
                 <td>215</td>
                 <td>220</td>
                 <td>225</td>
                 <td>230</td>
                 <td>235</td>
                 <td>240</td>
                 <td>245</td>
                 <td>250</td>
                 <td>255</td>
                 <td>260</td>
                 <td>265</td>
                 <td>270</td>
                 <td>275</td>
                 <td>280</td>
                 <td>285</td>
                 <td>290</td>
                 <td>295</td>
                 <td>300</td>
                 <td>305</td>
                 <td>310</td>
                 <td>320</td>
                 <td>330</td>
                 <td>340</td>
                 <td>350</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>United States</td>
                 <td>3</td>
                 <td>3.5</td>
                 <td>4</td>
                 <td>4.5</td>
                 <td>5</td>
                 <td>5.5</td>
                 <td>6</td>
                 <td>6.5</td>
                 <td>7</td>
                 <td>7.5</td>
                 <td>8</td>
                 <td>8.5</td>
                 <td>9</td>
                 <td>9.5</td>
                 <td>10</td>
                 <td>10.5</td>
                 <td>11</td>
                 <td>11.5</td>
                 <td>12</td>
                 <td>12.5</td>
                 <td>13</td>
                 <td>14</td>
                 <td>15</td>
                 <td>16</td>
                 <td>17</td>
                </tr>
               </tbody>
            </table>
           </div> <!-- End table responsive -->
        </div> <!-- End Second Column -->
       </div>

      <div class="divider divider--md"></div>

       <div class="row">
       <h4>MEN'S SOCKS</h4>
          <div class="col-sm-2 col-md-2 col-lg-2">
              <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Oakley MEN'S SOCKS"></center>
          </div>

          <div class="col-sm-10 col-md-10 col-lg-10">
             <div class="table_responsive">
                <table class="table table-bordered table-striped">
                   <thead>
                    <tr>
                       <th scope="col"></th>
                       <th scope="col">Medium</th>
                       <th scope="col">Large</th>
                       <th scope="col">X-Large</th>
                    </tr>
                 </thead>
                   <tbody>
                      <tr>
                         <td>Sock Size</td>
                         <td>9 - 11</td>
                         <td>10 - 13</td>
                         <td>13 - 15</td>
                      </tr>
                      <tr>
                         <td>Shoe Size USA</td>
                         <td>7 - 9</td>
                         <td>8.5 - 12</td>
                         <td>12.5 - 16</td>
                      </tr>
                      <tr>
                         <td>Shoe Size Europe</td>
                         <td>36 - 42</td>
                         <td>42 - 46</td>
                         <td>47 - 50</td>
                      </tr>
                   </tbody>
                </table>
             </div>
             <!-- Responsive Table -->
          </div>
       </div>
       <!-- End Row Socks -->
            
     
  </div><!-- End Tab -->

  <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab4">
    <div class="divider divider--md"></div>
      <h4>MEN'S GLOVE DIMENSIONS</h4>
       <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
             <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-iamge-012.jpg?12838098960668709458" alt="MEN'S GLOVE SIZE CHART">
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
             <div class="table_responsive">
                <table class="table table-bordered table-striped">
                   <thead>
                      <tr>
                         <th scope="col">Size</th>
                         <th scope="col">A</th>
                         <th scope="col">B</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>XX-Small</td>
                         <td>18.5cm</td>
                         <td>9.5cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>X-Small</td>
                         <td>19cm</td>
                         <td>10cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>Small</td>
                         <td>19.5cm</td>
                         <td>10.5cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>Medium</td>
                         <td>20cm</td>
                         <td>10.8cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>Large</td>
                         <td>20.5cm</td>
                         <td>11.5cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>X-Large</td>
                         <td>21cm</td>
                         <td>11.8cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>XX-Large</td>
                         <td>21.5cm</td>
                         <td>12.1cm</td>
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
          <!-- End Tab -->
       </div>
       <!-- End Tab -->
       <div class="divider divider--md"></div>
       <h4>MEN'S MITT DIMENSIONS</h4>
       <div class="row">
          <div class="col-sm-3 col-md-3 col-lg-3">
             <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-iamge-013.jpg?12838098960668709458" alt="MEN'S MITT Gloves SIZE CHART">
          </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
             <div class="table_responsive">
                <table class="table table-bordered table-striped">
                   <thead>
                      <tr>
                         <th scope="col">Size</th>
                         <th scope="col">A</th>
                         <th scope="col">B</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>XX-Small</td>
                         <td>19cm</td>
                         <td>10cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>X-Small</td>
                         <td>19.5cm</td>
                         <td>10.5cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>Small</td>
                         <td>19.5cm</td>
                         <td>11m</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>Medium</td>
                         <td>20cm</td>
                         <td>11.5cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>Large</td>
                         <td>22.5cm</td>
                         <td>12cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>X-Large</td>
                         <td>23cm</td>
                         <td>12.5cm</td>
                      </tr>
                   </tbody>
                   <tbody>
                      <tr>
                         <td>XX-Large</td>
                         <td>24cm</td>
                         <td>13cm</td>
                      </tr>
                   </tbody>
                </table>
             </div>
          </div>
          <!-- End Tab -->
       </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab5">
    <div class="divider divider--md"></div>
         <div class="row">
          <div class="col-sm-4 col-md-4 col-lg-4">
           <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="MEN'S HELMETS SIZE CHART">
          </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
          <h4>MEN'S HELMETS SIZE CHART</h4>
           <div class="table_responsive">
            <table class="table table-bordered table-striped">
               <thead>
                <tr>
                 <th scope="col"> </th>
                 <th scope="col">Small</th>
                 <th scope="col">Medium</th>
                 <th scope="col">Large</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                 <td>Helmet Size</td>
                 <td>51-55cm</td>
                 <td>55-59cm</td>
                 <td>59-63cm</td>
                </tr>
               </tbody>
              <tbody>
                <tr>
                 <td></td>
                 <td>20-21 5/8 inches</td>
                 <td>21 5/8 - 23 1/4 inches</td>
                 <td>23 1/4 - 24 3/4 inches</td>
                </tr>
               </tbody>
            </table>
           </div>
           <!-- End Responsive Tab -->

           <h4>MEN'S STRETCH CAPS</h4>
           <div class="table_responsive">
                <table class="table table-bordered table-striped">
                   <thead>
                      <tr>
                         <th scope="col">SIZE</th>
                         <th scope="col">S/M</th>
                         <th scope="col">L/XL</th>
                      </tr>
                   </thead>
                   <tbody>
                      <tr>
                         <td>US</td>
                         <td>6 7/8" - 7 1/8"</td>
                         <td>7 3/8" - 7 5/8"</td>
                      </tr>
                      <tr>
                         <td>INT'L</td>
                         <td>55 CM - 57 CM</td>
                         <td>59 CM - 61 CM</td>
                      </tr>
                   </tbody>
                </table>
             </div> <!-- End Row stretch cap -->

            <div>
            <h4><code>* Measure the circumference</code></h4>
           </div>

          </div> <!-- End Column 1 -->
      </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab6">
    <div class="divider divider--md"></div>
        <div class="table_responsive">
            <div class="col-sm-4 col-md-4 col-lg-4">
               <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-iamge-003.jpg?9938347179775031625" alt="Oakley Outerwear Size Chart">
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
               <div>
                  <h3>MENS JACKETS</h3>
                  <p class="title-decimal" data-content="1">Back hood snap down</p>
                  <p class="title-decimal" data-content="2">Hood cinch systems</p>
                  <p class="title-decimal" data-content="3">Strategically placed vents or pit vents</p>
                  <p class="title-decimal" data-content="4">Internal waist storm gaiter system with logo gripper tape</p>
                  <p class="title-decimal" data-content="5">Pass pocket</p>
               </div>
               <div>
                  <h3>MENS PANTS</h3>
                  <p class="title-decimal" data-content="6">Custom front snap closure</p>
                  <p class="title-decimal" data-content="7">Internal waist band with silicone logo taping</p>
                  <p class="title-decimal" data-content="8">Waist tab adjustment</p>
                  <p class="title-decimal" data-content="9">Pass rivet</p>
                  <p class="title-decimal" data-content="10">Brushed, lined inside front hand pockets</p>
                  <p class="title-decimal" data-content="11">Mesh-backed inner thigh vents</p>
                  <p class="title-decimal" data-content="12">Ankle gusset</p>
                  <p class="title-decimal" data-content="13">Internal boot gaiters with custom gripper tape and boot clip</p>
               </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
               <div>
                  <h3>REGULAR FIT JACKET</h3>
                  <p>
                     The regular fit jacket takes inspiration from the street -- a bit longer, a bit leaner, bit still ensures you ahve enough room in the places that matter most for movement.
                  </p>
               </div>
               <div>
                  <h3>PARKA FIT JACKET</h3>
                  <p>
                     The parka fir jacket is basically our regular fit jacket with some added legth, a bit more room at the bottom opening and a drop tail in the back.
                  </p>
               </div>
               <div>
                  <h3>SLIM FIT PANT</h3>
                  <p>
                     Oakley slim fit, straight cut from thigh to ankle; it's tight but not gripper.
                  </p>
               </div>
               <div>
                  <h3>REGULAR FIT PANT</h3>
                  <p>
                     Oakley regular fit pant is just like your favoite pair of jeans - enought for movement and layering while keeping the vut and straight.
                  </p>
               </div>
            </div>
    
         <!-- Responsive Table -->
         <div class="divider divider--md"></div>
         <h4>EXTERNAL JACKET FEATURES</h4>
         <div class="table_responsive">
            <table id="table-point" class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th scope="col">FEATURE</th>
                     <th scope="col">CORE-TEX</th>
                     <th scope="col">FN DRY 15</th>
                     <th scope="col">FN DRY 15</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>3PT HOOD ADJ</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>2PT HOOD DJ</td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>D/C HOOD ADJ</td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>PITS VENTS + MESH</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>RFID POCKET</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>GUSSET POCKET</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- Responsive Table -->
         <div class="divider divider--md"></div>
         <h4>INTERNAL JACKET FEATURES</h4>
         <div class="table_responsive">
            <table id="table-point" class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th scope="col">FEATURE</th>
                     <th scope="col">CORE-TEX</th>
                     <th scope="col">FN DRY 15</th>
                     <th scope="col">FN DRY 15</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>FULLY TAPED SEAMS</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>CRITICALL TAPED SEAMS</td>
                     <td></td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>D/C HOOD ADJ</td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>GOGGLE POCKET + MICROCLEAR</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>ACC DUMP POCKET</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>TOUCH POCKET</td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>MEDIA COMPATIBLE</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>MESS WRIST GAITOR</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- Responsive Table -->
         <div class="divider divider--md"></div>
         <h4>EXTERNAL PANT FEATURES</h4>
         <div class="table_responsive">
            <table id="table-point" class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th scope="col">FEATURE</th>
                     <th scope="col">CORE-TEX</th>
                     <th scope="col">FN DRY 15</th>
                     <th scope="col">FN DRY 15</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>ELASTIC CINCH WAISTBAND</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></td>
                  </tr>
                  <tr>
                     <td>PASS RIVOT</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>THIGH VENTING</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>ANKLE GUSSET + ZIP</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>ANKLE GUSSET + SNAP</td>
                     <td></td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- Responsive Table -->
         <div class="divider divider--md"></div>
         <h4>INTERNAL PANT FEATURES</h4>
         <div class="table_responsive">
            <table id="table-point" class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th scope="col">FEATURE</th>
                     <th scope="col">CORE-TEX</th>
                     <th scope="col">FN DRY 15</th>
                     <th scope="col">FN DRY 15</th>
                  </tr>
               </thead>
               <tbody>
                  <tr>
                     <td>FULLY TAPED SEAMS</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>CRITICALLY TAPED SEAMS</td>
                     <td></td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>SILICONE GRIPPER WAIST BAND</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>LYCRA BOOT GAITER</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td></td>
                  </tr>
                  <tr>
                     <td>NON-LYCRA BOT GAITER</td>
                     <td></td>
                     <td></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                     <td>REIFORCED BOOT CUFF</td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                     <td><i class="fa fa-circle" aria-hidden="true"></i></td>
                  </tr>
               </tbody>
            </table>
            <!-- End Oakley Mens Outerwear -->
         </div>
      </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab7">
    <div class="divider divider--md"></div>
        <h4>MEN'S OUTERWEAR FIT GUIDE</h4>
         <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
                <center>
                  <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-outerwear-men.jpg?5244131506823929384" alt="Oakley Mens Outerwear" style="margin: 0 auto;" >
                </center>
            </div>
            <!-- End Oakley Mens Outerwear -->
            <div class="col-sm-9 col-md-9 col-lg-9">
               <div class="table_responsive">
                  <table id="table-point" class="table table-bordered table-striped">
                     <thead>
                        <tr>
                           <th scope="col">SIZE (US)</th>
                           <th scope="col">A | NECK</th>
                           <th scope="col">B | CHEST</th>
                           <th scope="col">C | WAIST</th>
                           <th scope="col">D | HIPS</th>
                           <th scope="col">E | SLEEVE LENGTH</th>
                           <th scope="col">F | INSEAM</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>2XS</td>
                           <td>14"</td>
                           <td>30" - 32"</td>
                           <td>23" - 25"</td>
                           <td>29" - 31"</td>
                           <td>32.5"</td>
                           <td>31.5"</td>
                        </tr>
                        <tr>
                           <td>XS</td>
                           <td>14.5"</td>
                           <td>33" - 35"</td>
                           <td>26" - 28"</td>
                           <td>32" - 34"</td>
                           <td>33"</td>
                           <td>31.5"</td>
                        </tr>
                        <tr>
                           <td>S</td>
                           <td>15.25"</td>
                           <td>36" - 38"</td>
                           <td>29" - 31"</td>
                           <td>35" - 37"</td>
                           <td>33.5"</td>
                           <td>32"</td>
                        </tr>
                        <tr>
                           <td>M</td>
                           <td>16"</td>
                           <td>39" - 41"</td>
                           <td>32" - 34"</td>
                           <td>38" - 40"</td>
                           <td>34"</td>
                           <td>32"</td>
                        </tr>
                        <tr>
                           <td>L</td>
                           <td>16.75"</td>
                           <td>42" - 44"</td>
                           <td>35" - 37"</td>
                           <td>41" - 43"</td>
                           <td>34.75"</td>
                           <td>32.5"</td>
                        </tr>
                        <tr>
                           <td>XL</td>
                           <td>17.5"</td>
                           <td>45" - 47"</td>
                           <td>38" - 40"</td>
                           <td>44" - 46"</td>
                           <td>35.5"</td>
                           <td>32.5"</td>
                        </tr>
                        <tr>
                           <td>2XL</td>
                           <td>18.5"</td>
                           <td>48" - 50"</td>
                           <td>41" - 43"</td>
                           <td>47" - 49"</td>
                           <td>36.25"</td>
                           <td>33"</td>
                        </tr>
                        <tr>
                           <td>3XL</td>
                           <td>19.5"</td>
                           <td>52" - 54"</td>
                           <td>45" - 47"</td>
                           <td>51" - 43"</td>
                           <td>37"</td>
                           <td>33"</td>
                        </tr>
                     </tbody>
                  </table>
                  <h4><code>2.54 CM = 1 INCH</code></h4>
               </div>
               <!-- Responsive Table -->
            </div>
            <!-- End Oakley Mens Outerwear -->
        </div> <!-- End Oakley Mens Row-->
  </div> <!-- End Tab -->
        
  <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab8">
    <div class="divider divider--md"></div>
      <h4>MEN'S TEE FIT GUIDE</h4>
       <div class="divider divider--md"></div>
       <div class="table_responsive">
          <div class="col-sm-6 col-md-6 col-lg-6">
             <div>
                <h2>TRI - BLEND COTTON</h2>
                <ul>
                   <li><strong>50% Polyester</strong></li>
                   <li><strong>38% Cotton</strong></li>
                   <li><strong>12% Rayon</strong></li>
                   <li><strong>153 GSM</strong></li>
                </ul>
             </div>
             <div>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-iamge-005.jpg?17439909281546166739" alt="Oakley Ohydrolix">
                <ul>
                   <li><strong>85% Polyester</strong></li>
                   <li><strong>15% Cotton</strong></li>
                   <li><strong>150 GSM</strong></li>
                </ul>
                <p>O Hydrolix technology maximizes comfort by wicking moisture away from the skin to keep you cool and dry.</p>
             </div>
             <div>
                <h2>50 / 50</h2>
                <ul>
                   <li>50% Polyester</li>
                   <li>50% Cotton</li>
                   <li>145 GSM</li>
                </ul>
                <p>50/50 blended tee offers soft hand feel and heathered fabric interest that combines comfort with styles.</p>
             </div>
             <div>
                <h2>COTTON</h2>
                <ul>
                   <li>30 Single</li>
                   <li>100% Cotton</li>
                   <li>140 GSM</li>
                </ul>
                <p>Combed cotton tees allow to soft hand feel, comfort and durability.</p>
             </div>
          </div>
          <!-- End First Column -->   
          <div class="col-sm-6 col-md-6 col-lg-6"><img class="img-responsive" src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley-Information-Mens-Tee-Fit-Guide.jpg?18050703407449019085" alt="Oakley TEE FIT GUIDE"></div>
          <div class="divider divider--md"></div>
          <div class="col-sm-6 col-md-6 col-lg-6">
             <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/Oakley-Information-Mens-Tee-Fit-Guide-2.jpg?10982372365025991427" alt="Oakley TEE FIT GUIDE">
          </div>
          <!-- End First Column -->   
          <div class="col-sm-6 col-md-6 col-lg-6">
             <div>
                <h2 style="margin: 0;">REGULAR FIT</h2>
                <p style="margin: 0;">ACROSS SHOULDER 18.5"</p>
                <p style="margin: 0;">ACROSS CHEST 22"</p>
                <p>HPS LENGTH 31"</p>
             </div>
             <div>
                <h2 style="margin: 0;">SLIM FIT</h2>
                <p style="margin: 0;">ACROSS SHOULDER 18"</p>
                <p style="margin: 0;">ACROSS CHEST 21"</p>
                <p>HPS LENGTH 30"</p>
             </div>
          </div>
          <!-- End Second Column -->   
       </div> <!-- End Responsive Table -->     
  </div>

  <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab9">
    <div class="divider divider--md"></div>
      <h4>MEN'S BOTTOM SIZE CHART</h4>
      <div class="row">
           <div class="col-sm-4 col-md-4 col-lg-4">
            <center>
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-men-short.jpg?13705351621422659929" alt="MEN'S Short SIZE CHART" style="margin: 0 auto;" >
            </center>
          </div>

           <div class="col-sm-8 col-md-8 col-lg-8">
               <div class="table_responsive">
                  <table class="table table-bordered table-striped">
                     <thead>
                        <tr>
                           <th scope="col"></th>
                           <th scope="col">XS</th>
                           <th scope="col">S</th>
                           <th scope="col">S</th>
                           <th scope="col">M</th>
                           <th scope="col">M</th>
                           <th scope="col">L</th>
                           <th scope="col">XL</th>
                           <th scope="col">XXL</th>
                           <th scope="col">XXL</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Australia</td>
                           <td>28</td>
                           <td>30</td>
                           <td>31</td>
                           <td>32</td>
                           <td>33</td>
                           <td>34</td>
                           <td>36</td>
                           <td>38</td>
                           <td>40</td>
                        </tr>
                        <tr>
                           <td>Europe</td>
                           <td>36</td>
                           <td>38</td>
                           <td>39</td>
                           <td>40.5</td>
                           <td>42</td>
                           <td>43</td>
                           <td>46</td>
                           <td>48</td>
                           <td>51</td>
                        </tr>
                        <tr>
                           <td>United States</td>
                           <td>28</td>
                           <td>30</td>
                           <td>31</td>
                           <td>32</td>
                           <td>33</td>
                           <td>34</td>
                           <td>36</td>
                           <td>38</td>
                           <td>40</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
           </div> <!-- End Table Responsive -->
           <h4><code>* Measure around natural waistline</code></h4>
      </div>

      <div class="divider divider--sm"></div>

      <hr>

      <div class="row">
           <div class="col-sm-4 col-md-4 col-lg-4"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-men-pants.jpg?8929358800065825942" alt="MEN'S BOTTOM SIZE CHART" title="MEN'S BOTTOM SIZE CHART" style="margin: 0 auto;" ></div>

           <div class="col-sm-8 col-md-8 col-lg-8">
               <div class="table_responsive">
                  <table class="table table-bordered table-striped">
                     <thead>
                        <tr>
                           <th scope="col">Size</th>
                           <th scope="col">28</th>
                           <th scope="col">30</th>
                           <th scope="col">31</th>
                           <th scope="col">32</th>
                           <th scope="col">33</th>
                           <th scope="col">34</th>
                           <th scope="col">36</th>
                           <th scope="col">38</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>Waist</td>
                           <td>28</td>
                           <td>30</td>
                           <td>31</td>
                           <td>32</td>
                           <td>33</td>
                           <td>34</td>
                           <td>36</td>
                           <td>38</td>
                        </tr>
                        <tr>
                           <td>Thigh</td>
                           <td>22 1/2</td>
                           <td>23 1/2</td>
                           <td>24</td>
                           <td>24 1/2</td>
                           <td>25</td>
                           <td>25 1/2</td>
                           <td>26 1/2</td>
                           <td>27 1/2</td>
                        </tr>
                        <tr>
                           <td>Knee</td>
                           <td>14 1/2</td>
                           <td>15</td>
                           <td>15 1/4</td>
                           <td>15 1/2</td>
                           <td>15 3/4</td>
                           <td>16</td>
                           <td>17</td>
                           <td>18</td>
                        </tr>
                        <tr>
                           <td>Leg Opening</td>
                           <td>12</td>
                           <td>12 1/2</td>
                           <td>12 3/4</td>
                           <td>13</td>
                           <td>13 1/2</td>
                           <td>14</td>
                           <td>15</td>
                           <td>16</td>
                        </tr>
                        <tr>
                           <td>Front Rise</td>
                           <td>10 1/4</td>
                           <td>10 1/4</td>
                           <td>11 5/8</td>
                           <td>11</td>
                           <td>11 1/4</td>
                           <td>11 1/2</td>
                           <td>11 3/4</td>
                           <td>12</td>
                        </tr>
                        <tr>
                           <td>Rear Rise</td>
                           <td>13 3/4</td>
                           <td>14</td>
                           <td>14 1/4</td>
                           <td>14 1/2</td>
                           <td>15</td>
                           <td>15 1/4</td>
                           <td>15 1/2</td>
                           <td>15 3/4</td>
                        </tr>
                     </tbody>
                  </table>
               </div>
           </div> <!-- End Table Responsive -->
           <h4><code>* All measure are in INCHES and are approximate.</code></h4>
         </div> 

  </div> <!-- End Table Tab-->

  <div role="tabpanel" class="tab-pane" id="Store-wall-MensSizeChartTab10">
       <div class="divider divider--md"></div>
      <div class="row">
          <h4>MEN'S RASHGUARD SIZE CHART</h4>
          <div class="col-sm-4 col-md-4 col-lg-4">
           <div>
              <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-men-rashguard.jpg?2262964098796761939" alt="Okaley Mens Rashguards Size Chart"></center>
           </div>
          </div>

          <div class="col-sm-8 col-md-8 col-lg-8">
           <div class="table_responsive">
              <table class="table table-bordered table-striped">
                 <thead>
                    <tr>
                       <th scope="col">SIZE</th>
                       <th scope="col">A</th>
                       <th scope="col">B</th>
                       <th scope="col">C</th>
                       <th scope="col">D</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>XX-Small</td>
                       <td>75</td>
                       <td>60</td>
                       <td>72.5</td>
                       <td>72.5</td>
                    </tr>
                    <tr>
                       <td>X-Small</td>
                       <td>80</td>
                       <td>65</td>
                       <td>75</td>
                       <td>60.5</td>
                    </tr>
                    <tr>
                       <td>Small</td>
                       <td>85</td>
                       <td>70</td>
                       <td>77.5</td>
                       <td>62.5</td>
                    </tr>
                    <tr>
                       <td>Medium</td>
                       <td>90</td>
                       <td>75</td>
                       <td>80</td>
                       <td>64.5</td>
                    </tr>
                    <tr>
                       <td>Large</td>
                       <td>95</td>
                       <td>80</td>
                       <td>82.5</td>
                       <td>66.5</td>
                    </tr>
                    <tr>
                       <td>X-Large</td>
                       <td>100</td>
                       <td>85</td>
                       <td>85</td>
                       <td>68.5</td>
                    </tr>
                    <tr>
                       <td>XX-Large</td>
                       <td>105</td>
                       <td>90</td>
                       <td>87.5</td>
                       <td>70.5</td>
                    </tr>
                 </tbody>
              </table>
            </div>
          </div>
       <!-- Responsive Table -->
      </div>

      <div class="divider divider--xs"></div>

      <hr>

      <div class="row">
          <h4>MEN'S WETSUITS SIZE CHART</h4>
          <div class="col-sm-4 col-md-4 col-lg-4">
            <div>
              <center>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-wetsuit-men.jpg?15473948977332526247" alt="Oakley MEN'S Belts"></center>
            </div>
          </div>

          <div class="col-sm-8 col-md-8 col-lg-8">
           <div class="table_responsive">
              <table class="table table-bordered table-striped">
                 <thead>
                    <tr>
                       <th scope="col">SIZE</th>
                       <th scope="col">A | Height</th>
                       <th scope="col">Weight (lbs)</th>
                       <th scope="col">B | Chest</th>
                       <th scope="col">C | Waist</th>
                       <th scope="col">D | Hips</th>
                       <th scope="col">E | Neck</th>
                       <th scope="col">F | Inseam</th>
                    </tr>
                 </thead>
                 <tbody>
                    <tr>
                       <td>XS</td>
                       <td>5'6"-5'8"</td>
                       <td>125-140</td>
                       <td>34"-36"</td>
                       <td>27"-29"</td>
                       <td>33"-35"</td>
                       <td>14.5"</td>
                       <td>26.5"-27.5"</td>
                    </tr>
                    <tr>
                       <td>S</td>
                       <td>5'7 1/2" - 5'9 1/2"</td>
                       <td>135-155</td>
                       <td>36"-38"</td>
                       <td>29"-31"</td>
                       <td>34"-36"</td>
                       <td>15"</td>
                       <td>27.5"-28.5"</td>
                    </tr>
                    <tr>
                       <td>ST</td>
                       <td>5'9"-5'11"</td>
                       <td>140-160</td>
                       <td>36"-38"</td>
                       <td>29"-31"</td>
                       <td>34"-36"</td>
                       <td>15"</td>
                       <td>28.5"-29.5"</td>
                    </tr>
                    <tr>
                       <td>MS</td>
                       <td>5'7 1/2" - 5'9 1/2"</td>
                       <td>140-160</td>
                       <td>38"-40"</td>
                       <td>31"-33"</td>
                       <td>35"-37"</td>
                       <td>15.5"</td>
                       <td>27.5"-28.5"</td>
                    </tr>
                    <tr>
                       <td>M</td>
                       <td>5'9"-5'11"</td>
                       <td>150-170</td>
                       <td>38"-40"</td>
                       <td>31"-33"</td>
                       <td>35"-37"</td>
                       <td>15.5"</td>
                       <td>28.5"-29.5"</td>
                    </tr>
                    <tr>
                       <td>MT</td>
                       <td>5'11"-6'1"</td>
                       <td>155-175</td>
                       <td>38"-40"</td>
                       <td>31"-33"</td>
                       <td>35"-37"</td>
                       <td>15.5"</td>
                       <td>29.5"-30.5"</td>
                    </tr>
                    <tr>
                       <td>LS</td>
                       <td>5'9"-5'11"</td>
                       <td>165-185</td>
                       <td>40"-42"</td>
                       <td>33"-35"</td>
                       <td>37"-39"</td>
                       <td>16"</td>
                       <td>28.5"-29.5"</td>
                    </tr>
                    <tr>
                       <td>L</td>
                       <td>5'11"-6'1"</td>
                       <td>170-190</td>
                       <td>40"-42"</td>
                       <td>33"-35"</td>
                       <td>37"-39"</td>
                       <td>16"</td>
                       <td>29.5"-30.5"</td>
                    </tr>
                    <tr>
                       <td>LT</td>
                       <td>6'0"-6'2"</td>
                       <td>180-200</td>
                       <td>40"-42"</td>
                       <td>33"-35"</td>
                       <td>37"-39"</td>
                       <td>16"</td>
                       <td>30.5"-31.5"</td>
                    </tr>
                    <tr>
                       <td>XLS</td>
                       <td>5'8 1/2"-5'10 1/2"</td>
                       <td>180-200</td>
                       <td>42.5"-44.5"</td>
                       <td>34.5"-36.5"</td>
                       <td>39"-41"</td>
                       <td>16.5"</td>
                       <td>29.5"-30.5"</td>
                    </tr>
                    <tr>
                       <td>XL</td>
                       <td>6'0"-6'2"</td>
                       <td>190-200</td>
                       <td>42"-44"</td>
                       <td>35"-37"</td>
                       <td>39"-41"</td>
                       <td>16.5"</td>
                       <td>30.5"-31.5"</td>
                    </tr>
                    <tr>
                       <td>XLT</td>
                       <td>6'2"-6'4"</td>
                       <td>200-220</td>
                       <td>42"-44"</td>
                       <td>35"-37"</td>
                       <td>39"-41"</td>
                       <td>16.5"</td>
                       <td>31"-32"</td>
                    </tr>
                    <tr>
                       <td>XXL</td>
                       <td>6'0"-6'2"</td>
                       <td>210-230</td>
                       <td>44"-48"</td>
                       <td>37"-39"</td>
                       <td>41"-43"</td>
                       <td>17"</td>
                       <td>31"-32"</td>
                    </tr>
                    <tr>
                       <td>XXXL</td>
                       <td>6'0"-6'2"</td>
                       <td>220-240</td>
                       <td>46"-48"</td>
                       <td>39"-41"</td>
                       <td>44"-46"</td>
                       <td>17.5"</td>
                       <td>31"-32"</td>
                    </tr>
                 </tbody>
              </table>
            </div>
          </div>
      </div>

  </div> <!-- End Store-wall-MensSizeChartTab1 -->


  </div>
  </div>  <!-- Store-wall-SizeChartTab1-->


  <div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab2">
   <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
      <li class="active"><a href="#Store-wall-WomensSizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>
      <li><a href="#Store-wall-WomensSizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Outerwear</a></li>
      <li><a href="#Store-wall-WomensSizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
      <li><a href="#Store-wall-WomensSizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
      <li><a href="#Store-wall-WomensSizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Snow</a></li>
      <li><a href="#Store-wall-WomensSizeChartTab6" role="tab"data-toggle="tab" class="text-uppercase">Top</a></li>
      <li><a href="#Store-wall-WomensSizeChartTab7" role="tab"data-toggle="tab" class="text-uppercase">Bottom</a></li>
      <li><a href="#Store-wall-WomensSizeChartTab8" role="tab"data-toggle="tab" class="text-uppercase">Swimwear</a></li>
  </ul>


  <div class="tab-content tab-content--ys">
  <div role="tabpanel" class="tab-pane active" id="Store-wall-WomensSizeChartTab1">
    <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
      <center>
        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-image-women.jpg?14704309128810109135" alt="WOMEN'S APPAREL SIZE CHART">
      </center>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
      <table class="table table-bordered table-striped">
       <thead>
        <tr>
         <th scope="col"></th>
         <th scope="col">SIZE</th>
         <th scope="col">A | CHEST</th>
         <th scope="col">B | WAIST</th>
         <th scope="col">C | HIP</th>
         <th scope="col">D | SLEEVE LENGTH</th>
         <th scope="col">E | INSEAM</th>
        </tr>
       </thead>
       <tbody>
        <tr>
         <td>XS</td>
         <td>0</td>
         <td>32"</td>
         <td>24"</td>
         <td>35"</td>
         <td>31 1/4"</td>
         <td>32"</td>
        </tr>
        <tr>
         <td></td>
         <td>2</td>
         <td>33"</td>
         <td>25"</td>
         <td>36"</td>
         <td>31 1/4"</td>
         <td>32"</td>
        </tr>
        <tr>
         <td>S</td>
         <td>4</td>
         <td>34"</td>
         <td>26"</td>
         <td>37"</td>
         <td>32"</td>
         <td>32"</td>
        </tr>
        <tr>
         <td></td>
         <td>6</td>
         <td>35"</td>
         <td>27"</td>
         <td>38"</td>
         <td>32"</td>
         <td>32"</td>
        </tr>
        <tr>
         <td>M</td>
         <td>8"</td>
         <td>36"</td>
         <td>28"</td>
         <td>39"</td>
         <td>32 3/4"</td>
         <td>32"</td>
        </tr>
        <tr>
         <td></td>
         <td>10</td>
         <td>37"</td>
         <td>29"</td>
         <td>40"</td>
         <td>32 3/4"</td>
         <td>32"</td>
        </tr>
        <tr>
         <td>L</td>
         <td>12</td>
         <td>39" - 40"</td>
         <td>31" - 32"</td>
         <td>42" - 43"</td>
         <td>33 1/2"</td>
         <td>32"</td>
        </tr>
        <tr>
         <td>XL</td>
         <td>14</td>
         <td>42" - 43"</td>
         <td>34" - 35"</td>
         <td>45" - 46"</td>
         <td>34 1/4"</td>
         <td>32"</td>
        </tr>
       </tbody>
      </table>
       </div>
       </div> <!-- Responsive Table //-->      
    </div>
  </div> <!-- End Store-wall-WomensSizeChartTab1 -->

  <div role="tabpanel" class="tab-pane" id="Store-wall-WomensSizeChartTab2">
  <div class="divider divider--md"></div>
    <h4>WOMEN'S GLOVE SIZE CHART</h4>
        <div class="divider divider--md"></div>
           
      <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="WOMEN'S GLOVE SIZE CHART"></div>
      
      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
         <thead>
          <tr>
           <th scope="col">Circumference of Hand at Knuckle</th>
           <th scope="col">Inches</th>
           <th scope="col">Centimeters</th>
          </tr>
         </thead>
         <tbody>
          <tr>
           <td>X-Small</td>
           <td>5.5 - 5.5 inches</td>
           <td>13 - 14cm</td>
          </tr>
         </tbody>
         <tbody>
          <tr>
           <td>Small</td>
           <td>5.5 - 6.5 inches</td>
           <td>14 - 16cm</td>
          </tr>
         </tbody>
         <tbody>
          <tr>
           <td>Medium</td>
           <td>6.5 - 7.5 inches</td>
           <td>16.5 - 19cm</td>
          </tr>
         </tbody>
         <tbody>
          <tr>
           <td>Large</td>
           <td>7.5 - 8.5 inches</td>
           <td>19 - 21.5cm</td>
          </tr>
         </tbody>
         <tbody>
          <tr>
           <td>X-Large</td>
           <td>8.5 - 19.5 inches</td>
           <td>21.5 - 24cm</td>
          </tr>
         </tbody>
        </table>
         </div>
         <h4><code>* Measure hand circumference without thumb</code></h4>
      </div>
       </div> <!-- End of row -->
  </div> <!-- Responsive Table -->

  <div role="tabpanel" class="tab-pane" id="Store-wall-WomensSizeChartTab3">
        <div class="divider divider--md"></div>
      
      <div class="table_responsive">
            <div class="col-sm-4 col-md-4 col-lg-4">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size--women-jacket-image.jpg?17316009874449617871" alt="Oakley Womens Outerwear Size Chart">
        </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
               <div>
                  <h3>WOMENS JACKETS</h3>
           <p class="title-decimal" data-content="1">Back hood snap down</p>
           <p class="title-decimal" data-content="2">Hood cinch systems</p>
           <p class="title-decimal" data-content="3">Strategically placed vents or pit vents</p>
           <p class="title-decimal" data-content="4">Internal waist storm gaiter system with logo gripper tape</p>
           <p class="title-decimal" data-content="5">Pass pocket</p>
               </div>
               <div>
                  <h3>WOMENS PANTS</h3>
           <p class="title-decimal" data-content="6">Custom front snap closure</p>
           <p class="title-decimal" data-content="7">Internal waist band with silicone logo taping</p>
           <p class="title-decimal" data-content="8">Waist tab adjustment</p>
           <p class="title-decimal" data-content="9">Pass rivet</p>
           <p class="title-decimal" data-content="10">Brushed, lined inside front hand pockets</p>
           <p class="title-decimal" data-content="11">Mesh-backed inner thigh vents</p>
           <p class="title-decimal" data-content="12">Ankle gusset</p>
           <p class="title-decimal" data-content="13">Internal boot gaiters with custom gripper tape and boot clip</p>
           <p class="title-decimal" data-content="14">Reinforced cuff webbing</p>
               </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
               <div>
                  <h3>REGULAR FIT JACKET</h3>
                  <p>
                     The regular fit jacket takes inspiration from the street -- a bit longer, a bit leaner, bit still ensures you ahve enough room in the places that matter most for movement.
                  </p>
               </div>
               <div>
                  <h3>PARKA FIT JACKET</h3>
                  <p>
                     The parka fir jacket is basically our regular fit jacket with some added legth, a bit more room at the bottom opening and a drop tail in the back.
                  </p>
               </div>
               <div>
                  <h3>SLIM FIT PANT</h3>
                  <p>
                     Oakley slim fit, straight cut from thigh to ankle; it's tight but not gripper.
                  </p>
               </div>
               <div>
                  <h3>REGULAR FIT PANT</h3>
                  <p>
                     Oakley regular fit pant is just like your favoite pair of jeans - enought for movement and layering while keeping the vut and straight.
                  </p>
               </div>
            </div>
         <!-- Responsive Table -->
      </div>
    
    <div class="divider divider--md"></div>
       <h4>INTERNAL JACKET FEATURES</h4>
       <div class="table_responsive">
        <table id="table-point" class="table table-bordered table-striped">
         <thead>
          <tr>
             <th scope="col">FEATURE</th>
             <th scope="col">CORE-TEX</th>
             <th scope="col">FN DRY 15</th>
             <th scope="col">FN DRY 15</th>
          </tr>
         </thead>
         <tbody>
          <tr>
             <td>FULLY TAPED SEAMS</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
          </tr>
          <tr>
             <td>CRITICALL TAPED SEAMS</td>
             <td></td>
             <td></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
             <td>D/C HOOD ADJ</td>
             <td></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
             <td>GOGGLE POCKET + MICROCLEAR</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
          </tr>
          <tr>
             <td>ACC DUMP POCKET</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
          </tr>
          <tr>
             <td>TOUCH POCKET</td>
             <td></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
          </tr>
          <tr>
             <td>MEDIA COMPATIBLE</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
             <td>MESS WRIST GAITOR</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
          </tr>
         </tbody>
        </table>
       </div>
       <!-- Responsive Table -->
       <div class="divider divider--md"></div>
       <h4>EXTERNAL PANT FEATURES</h4>
       <div class="table_responsive">
        <table id="table-point" class="table table-bordered table-striped">
         <thead>
          <tr>
             <th scope="col">FEATURE</th>
             <th scope="col">CORE-TEX</th>
             <th scope="col">FN DRY 15</th>
             <th scope="col">FN DRY 15</th>
          </tr>
         </thead>
         <tbody>
          <tr>
             <td>ELASTIC CINCH WAISTBAND</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></td>
          </tr>
          <tr>
             <td>PASS RIVOT</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
             <td>THIGH VENTING</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
             <td>ANKLE GUSSET + ZIP</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
          </tr>
          <tr>
             <td>ANKLE GUSSET + SNAP</td>
             <td></td>
             <td></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
         </tbody>
        </table>
       </div>
       <!-- Responsive Table -->
       <div class="divider divider--md"></div>
       <h4>INTERNAL PANT FEATURES</h4>
       <div class="table_responsive">
        <table id="table-point" class="table table-bordered table-striped">
         <thead>
          <tr>
             <th scope="col">FEATURE</th>
             <th scope="col">CORE-TEX</th>
             <th scope="col">FN DRY 15</th>
             <th scope="col">FN DRY 15</th>
          </tr>
         </thead>
         <tbody>
          <tr>
             <td>FULLY TAPED SEAMS</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
          </tr>
          <tr>
             <td>CRITICALLY TAPED SEAMS</td>
             <td></td>
             <td></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
             <td>SILICONE GRIPPER WAIST BAND</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
             <td>LYCRA BOOT GAITER</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td></td>
          </tr>
          <tr>
             <td>NON-LYCRA BOT GAITER</td>
             <td></td>
             <td></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
             <td>REIFORCED BOOT CUFF</td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
             <td><i class="fa fa-circle" aria-hidden="true"></i></td>
          </tr>
         </tbody>
        </table>
        <!-- End Oakley Mens Outerwear -->
          </div>
      
  </div> <!-- Store-wall-WomensSizeChartTab3 -->


  <div role="tabpanel" class="tab-pane" id="Store-wall-WomensSizeChartTab4">
     <div class="divider divider--md"></div>
       <h4>WOMEN'S OUTERWEAR FIT GUIDE</h4>
       <div class="row">
         <div class="col-sm-3 col-md-3 col-lg-3">
          <center>
            <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-outerwear-women.jpg?16980770866877746344" alt="Oakley Women Outerwear" >
          </center>
         </div>
       
         <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
           <table class="table table-bordered table-striped">
            <thead>
               <tr>
                <th scope="col">SIZE (US)</th>
                <th scope="col">A | CHEST</th>
                <th scope="col">B | WAIST</th>
                <th scope="col">C | HIP</th>
                <th scope="col">D | SLEEVE LENGTH</th>
                <th scope="col">E | INSEAM</th>
               </tr>
            </thead>
            <tbody>
               <tr>
                <td><strong>2XS</strong> 00</td>
                <td>30" - 31"</td>
                <td>22" - 23"</td>
                <td>33" - 34</td>
                <td>30.5"</td>
                <td>31"</td>
               </tr>
               <tr>
                <td><strong>XS</strong> 0-2</td>
                <td>32" - 33"</td>
                <td>24" - 25"</td>
                <td>35" - 36"</td>
                <td>31.25"</td>
                <td>32"</td>
               </tr>
               <tr>
                <td><strong>S</strong> 4-6</td>
                <td>34" - 35"</td>
                <td>26" - 27"</td>
                <td>37" - 38"</td>
                <td>32"</td>
                <td>32"</td>
               </tr>
               <tr>
                <td><strong>M</strong> 8-10</td>
                <td>36" - 37"</td>
                <td>28" - 29"</td>
                <td>39" - 40"</td>
                <td>32.75"</td>
                <td>32"</td>
               </tr>
               <tr>
                <td><strong>L</strong> 12-14</td>
                <td>39" - 40"</td>
                <td>31" - 32"</td>
                <td>42" - 43"</td>
                <td>33.5"</td>
                <td>32"</td>
               </tr>
               <tr>
                <td><strong>XL</strong> 16-18</td>
                <td>42" - 43"</td>
                <td>34" - 35"</td>
                <td>44" - 46"</td>
                <td>34.25"</td>
                <td>32"</td>
               </tr>
               <tr>
                <td><strong>2XL</strong> 20-22</td>
                <td>44" - 45"</td>
                <td>36" - 37"</td>
                <td>47" - 48"</td>
                <td>35"</td>
                <td>33"</td>
               </tr>
            </tbody>
           </table>
           <h4><code>2.54 CM = 1 INCH</code></h4>
          </div>
          <!-- Responsive Table //-->
         </div>
       </div>
  </div>


  <div role="tabpanel" class="tab-pane" id="Store-wall-WomensSizeChartTab5">
        <div class="divider divider--md"></div>
        <div class="row">
          <h4>WOMEN'S SHOE SIZE CHART</h4>
          <div class="col-sm-2 col-md-2 col-lg-2">
              <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-iamge-017.jpg?9382122866121846083" alt="Oakley MEN'S SHOE SIZE CHART"></center>
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
                 <tbody>
                  <tr>
                   <td>INCHES</td>
                   <td>8 3⁄16"</td>
                   <td>8 3⁄8"</td>
                   <td>8 1⁄2"</td>
                   <td>8 3⁄4"</td>
                   <td>8 7⁄8"</td>
                   <td>9 1⁄16"</td>
                   <td>9 1⁄4"</td>
                   <td>9 3⁄8"</td>
                   <td>9 1⁄2"</td>
                   <td>9 11⁄16"</td>
                   <td>9 7⁄8"</td>
                   <td>10"</td>
                   <td>10 3⁄16"</td>
                   <td>10 5⁄16"</td>
                   <td>10 1⁄2"</td>
                   <td>10 11⁄16"</td>
                   <td>10 7⁄8"</td>
                  </tr>
                 </tbody>
                 <tbody>
                  <tr>
                   <td>Europe</td>
                   <td>35</td>
                   <td>35</td>
                   <td>36</td>
                   <td>36</td>
                   <td>37</td>
                   <td>37</td>
                   <td>38</td>
                   <td>39</td>
                   <td>39</td>
                   <td>40</td>
                   <td>40</td>
                   <td>41</td>
                   <td>41/42</td>
                   <td>42</td>
                   <td>43</td>
                   <td>43</td>
                   <td>44</td>
                  </tr>
                 </tbody>
                 <tbody>
                  <tr>
                   <td>United States</td>
                   <td>4</td>
                   <td>4.5</td>
                   <td>5</td>
                   <td>5.5</td>
                   <td>6</td>
                   <td>6.5</td>
                   <td>7</td>
                   <td>7.5</td>
                   <td>8</td>
                   <td>8.5</td>
                   <td>9</td>
                   <td>9.5</td>
                   <td>10</td>
                   <td>10.5</td>
                   <td>11</td>
                   <td>11.5</td>
                   <td>12</td>
                  </tr>
                 </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="divider divider--md"></div>

        <div class="row">
          <h4>WOMEN'S SOCK SIZE CHART</h4>
          <div class="col-sm-2 col-md-2 col-lg-2">
              <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="WOMEN'S SOCK SIZE CHART"></center>
          </div>

          <div class="col-sm-10 col-md-10 col-lg-10">
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
               <thead>
                <tr>
                   <th scope="col"></th>
                   <th scope="col">Small</th>
                   <th scope="col">Medium</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                   <td>Sock Size</td>
                   <td>7-9</td>
                   <td>9-11</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                   <td>Shoe Size USA</td>
                   <td>4-7</td>
                   <td>7-9.5</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                   <td>Shoe Size Europe</td>
                   <td>26-30</td>
                   <td>30-36</td>
                </tr>
               </tbody>
              </table>
            </div>
          </div>  <!-- End responsive Table-->
      </div> <!-- End Row -->
  </div> <!-- End Tab5 -->

  <div role="tabpanel" class="tab-pane" id="Store-wall-WomensSizeChartTab6">
  <div class="divider divider--md"></div>
    <h4>WOMEN'S SPORTS BRA SIZE CHART</h4>
        <div class="divider divider--md"></div>
           
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/Bra-Size-Chart-2.jpg?10717838302280043165" alt="WOMEN'S SPORTS SIZE CHART" style="margin: 0 auto;"></div>
        
        <div class="col-sm-6 col-md-6 col-lg-6">
              <p><span style="font-weight: bold; color: red; ">(1) </span>Calculate your bust and measure around the largest part of your bust.</p>
              <p><span style="font-weight: bold; color: red; ">(2) </span>Then measure the circumferense below your breasts to get a smaller number.</p>
              <p>To get your <span style="font-weight: bold; color: red; ">cup size</span> you simply subtract the <span style="font-weight: bold; color: red; ">smaller number</span> with the <span style="font-weight: bold; color: red; ">larger number</span> to get the difference in cm.</p>
              <p><code>* The difference between these two numbers indicated your cup size.</code></p>
        
        </div>
      </div> <!-- End of row -->

      <div class="row">
        <div class="col-lg-12">
            <p style="font-weight: bold;">CUP SIZE CONVERTER</p>
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
               <thead>
                <tr>
                 <th scope="col">Difference in Centimeters</th>
                 <th scope="col">European Size</th>
                 <th scope="col">American Size</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                 <td>13cm</td>
                 <td>A</td>
                 <td>A</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>15cm</td>
                 <td>B</td>
                 <td>B</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>17cm</td>
                 <td>C</td>
                 <td>C</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>19cm</td>
                 <td>D</td>
                 <td>D</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>21cm</td>
                 <td>E</td>
                 <td>DD</td>
                </tr>
               </tbody>
              </table>
          </div> <!-- End of table -->

            <br>
            <p style="font-weight: bold;">BUST CIRCUMFERENCE</p>
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
               <thead>
                <tr>
                 <th scope="col">Circumference in cm</th>
                 <th scope="col">European</th>
                 <th scope="col">American</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                 <td>63cm - 67cm</td>
                 <td>65</td>
                 <td>30</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>68cm - 72cm</td>
                 <td>70</td>
                 <td>32</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>73cm - 77cm</td>
                 <td>75</td>
                 <td>34</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>78cm - 82cm</td>
                 <td>80</td>
                 <td>36</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>83cm - 87cm</td>
                 <td>85</td>
                 <td>38</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>88cm - 92cm</td>
                 <td>90</td>
                 <td>40</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>93cm - 97cm</td>
                 <td>96</td>
                 <td>42</td>
                </tr>
               </tbody>
              </table>
          </div> <!-- End of table -->
      </div>
    </div> <!-- Responsive Row -->
  </div> <!-- Responsive Table -->


  <div role="tabpanel" class="tab-pane" id="Store-wall-WomensSizeChartTab7">
    <div class="divider divider--md"></div>
    <h4>WOMEN'S SHORT SIZE CHART</h4>
        <div class="divider divider--md"></div>
           
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-men-beach-short.jpg?11896217743518898691" alt="Oakley Womens Sport Shorts" style="margin: 0 auto;"></div>
        
        <div class="col-sm-8 col-md-8 col-lg-8">
             <div class="table_responsive">
              <table class="table table-bordered table-striped">
               <thead>
                <tr>
                 <th scope="col">SIZE</th>
                 <th scope="col">A</th>
                 <th scope="col">B</th>
                 <th scope="col">C</th>
                 <th scope="col">D</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                 <td>X-Small</td>
                 <td>64</td>
                 <td>47</td>
                 <td>24</td>
                 <td>4</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Small</td>
                 <td>70</td>
                 <td>52</td>
                 <td>25</td>
                 <td>4</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Medium</td>
                 <td>76</td>
                 <td>57</td>
                 <td>26</td>
                 <td>4</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Large</td>
                 <td>82</td>
                 <td>62</td>
                 <td>27</td>
                 <td>4</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>X-Large</td>
                 <td>88</td>
                 <td>67</td>
                 <td>28</td>
                 <td>4</td>
                </tr>
               </tbody>
              </table>
        </div>
      </div> <!-- End of row -->
    </div> <!-- Responsive Row -->
  </div> <!-- Responsive Table -->


  <div role="tabpanel" class="tab-pane" id="Store-wall-WomensSizeChartTab8">
    <div class="divider divider--md"></div>
    <h4>WOMEN'S SWIMWEAR SIZE CHART</h4>

    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <div>
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sizing-chart-womens-swimwear-template.jpg?7155153536551926775" alt="WOMEN'S SPORTS SIZE CHART" style="margin: 0 auto;">
          </div>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">

        <div>
            <h4>SIZING FOR SWIMWEAR TOPS</h4>
            <p style="margin: 0;">1. Place tape measure across fullest point of bust.</p>
            <p style="margin: 0;">2. It's important that the measurement is not tight.</p>
            <p style="margin: 0;">3. Compare your measurement with sizing chart below. <code>*</code></p>
            <p><code>* Please note: measurement must be done while wearing an unpadded bra</code></p>
        </div>
        <div class="table_responsive">
              <table class="table table-bordered table-striped">
               <thead>
                <tr>
                 <th scope="col">SIZE</th>
                 <th scope="col">X-Small</th>
                 <th scope="col">Small</th>
                 <th scope="col">Medium</th>
                 <th scope="col">Large</th>
                 <th scope="col">X-Large</th>
                 <th scope="col">D</th>
                 <th scope="col">DD</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                 <td>Bust</td>
                 <td>32"</td>
                 <td>34"</td>
                 <td>36"</td>
                 <td>38"</td>
                 <td>40"</td>
                 <td> - </td>
                 <td> - </td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Cup</td>
                 <td>A - B</td>
                 <td>B - C</td>
                 <td>B - C</td>
                 <td>B - C</td>
                 <td>C - D</td>
                 <td>D</td>
                 <td>DD</td>
                </tr>
               </tbody>
              </table>
        </div> <!-- Responsive Row -->

        <div>
          <h4>SIZING FOR SWIMWEAR BOTTOMS</h4>
          <p style="margin: 0;">1. Measure hips and waist accordingly to body figure example.</p>
          <p>2. Compare your measurement with sizing chart below.</p>
        </div>

        <div class="table_responsive">
              <table class="table table-bordered table-striped">
               <thead>
                <tr>
                 <th scope="col">SIZE</th>
                 <th scope="col">X-Small</th>
                 <th scope="col">S</th>
                 <th scope="col">M</th>
                 <th scope="col">L</th>
                 <th scope="col">XL</th>
                </tr>
               </thead>
               <tbody>
                <tr>
                 <td>Waist</td>
                 <td>25"</td>
                 <td>27"</td>
                 <td>29"</td>
                 <td>32"</td>
                 <td>33"</td>
                </tr>
               </tbody>
               <tbody>
                <tr>
                 <td>Hips</td>
                 <td>34" - 35"</td>
                 <td>36" - 37"</td>
                 <td>38" - 39"</td>
                 <td>40" - 41"</td>
                 <td>42" - 43"</td>
                </tr>
               </tbody>
              </table>
        </div>
      </div> <!-- Responsive Row -->
    </div>
   </div> <!-- Responsive Table -->
 </div> <!-- Store-wall-SizeChartTab2 -->
    
    
  <div class="divider divider--md"></div>
      <p class="sizechart-note"><code>* Sizing information is provided by the manufacturer and does not guarantee a perfect fit.</code></p>
  </div> 