<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/store-inside-032420.jpg?v=1585015389" alt="Motorhelmets Ordering Information" />
<hr class="hr-lg" />
<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">Ordering Information</h3>
<p>We accept personal checks, wire transfers, international wire transfers, company checks, money orders, cashiers checks, VISA, MasterCards, American Express and Discover Cards. Make all checks payable to "Aiya Group Inc."</p>

<p>Visit our <a class="text_underline text_color_red" href="/pages/shipping-information">shipping information</a> page for an estimate on delivery charges. International and military address customers are assessed an additional handling fee of $5.00 - $10.00.</p>

<p>For information regarding order cancellations, read our <a class="text_underline text_color_red" href="/pages/ordering-store-policy">Ordering & Store Policy</a> Any goods already shipped will be charged shipping and handling fees and any refunds can not be charged back until goods are returned to us! We cannot guarantee the cancellation of any new orders until our shipping warehouse sends the service dept. written verification. There is a handling fee for all cancellations.</p>

<p>All products are sold with full manufacturer's warranty. Please check with the manufacturer for specific product warranty information. All sales are final. We will accept returns for items which are defective upon receipt. We must be notified of defect or shortage of parts within 72 hours of receipt. Defective items will be replaced with the same or comparable item. Returns for refund will be charged a 20% restocking fee and must be returned within 7 days in new and re-saleable condition. Shipping & Handling is never refundable. Shipments back to us must be paid and insured by the buyer under all circumstances. Sorry, Hawaii, Puerto Rico, Alaska, & all international customers are liable for freight under all circumstances. For full disclosure read our <a class="text_underline text_color_red" href="/pages/ordering-store-policy">Ordering & Store Policy.</a></p>


<hr class="hr-lg" />
<!--  -->
<p>We do not guarantee delivery. Delivery guarantees are assumed by the shipper. We can only ship via your request. We do not take responsibility for late shipments due to UPS delivery error or errors by other shipping companies. There are no refunds due to errors of this nature. We usually ship within 2 working days.</p>
<p>Any orders made through us assumes you understand and agree to abide by our policies.</p>

<h4 class="text-left">Provide us with the following information with your order:</h4>
<ul>
<li>Complete Name</li>
<li>Company Name (If it is a company purchase)</li>
<li>Main Address</li>
<li>Mailing Address (If Different from Main Address)</li>
<li>Day &amp; Evening Telephone Number</li>
</ul>

<p>If ordering by credit card please provide us with the name on the card, card type i.e. Visa/ MC/ AMEX/ Discover, number on the card, and the expiration Date. Also provide us with the credit card billing address.</p>

<p>If It Is a company order please indicate a purchase order number if any.</p>

<p>Description of the product, part number, quantity desired, and unit price.</p>

<p>If residing in California, please add 8.75% sales tax.</p>

<p>Indicate the method of shipment desired: UPS Ground, UPS 3rd Day, UPS 2nd Day, UPS Next Day Priority. All orders must be received before noon or shipments may be delayed one day. All orders must be approved and we must have stock on hand before they can ship. You will be notified of any unreasonable delays.</p>

<p>Call us, fax us, email Us, or mail In your order today!</p>

<!-- / -->
<hr class="hr-lg" />

<h4 class="text-left">Mail your orders to:</h4>
<ul>
<li>Motorhelmets.com</li>
<li>c/o Aiya Group Inc. Service Dept.</li>
<li>1871 W. Commonwealth Ave, Fullerton CA 92833 USA</li>
<li>Tel: 714-879-8180</li>
<li>Express Order Line: 800-288-0640</li>
<li>Make all checks payable to Aiya Group Inc. </li>
</ul>
<p>As soon as we verify your order one of our customer reps will contact you.</p>

<p>If you wish for us to ship to an address different from your credit card billing address, we may require you to fax us a copy of your credit card along with your Driver's License ID or other Valid ID. This is to ensure that you are the actual bearer of the credit card.</p>

<!-- / -->
<hr class="hr-lg" />
<!--  -->
<h3 class="text-left title-under uppercase_txt home_title">Attention all International Customers!</h3>

<p>Attention all International Customers! (excluding Canada and Puerto Rico). Minimum orders is $50 and please allow up to 15 working days for your order to be processed. We Will Email You The Approximate Shipping Amounts, Just Tell Us Where We Are Shipping. All Tariffs and Local Taxes In Your Country Is The Responsibility Of The Purchaser. Please add $20 if you are paying by a Non-United States Check. A $5 special handling fee will apply.</p>



<hr class="hr-lg" />
<!--  -->
<div class="text-center">
<a href="/pages/ordering-store-policy" class="btn btn--ys btn-lg text-uppercase  btn--md davz_bordered_btn" style="margin: 10px 0; width: 100%; max-width: 400px;">Read our Ordering & Store Policy.</a>
<a href="/pages/shipping-information" class="btn btn--ys btn-lg text-uppercase  btn--md davz_bordered_btn" style="margin: 10px 0; width: 100%; max-width: 400px;">Visit our shipping information page.</a>
</div>
</div>
</div>

