<div class="container" style="max-width: 1440px; width: 100%;">

	<h3 class="text-center title-under uppercase_txt home_title">Arai Helmets Information Page</h3>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-1.jpg?5852377602080460547" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>

	<p>Way back in 1926, a hat maker in Japan started crafting one of today’s most demanded helmet brand – Arai Helmets.  Being a motorcycle rider himself, Hirotake Arai understood the importance of safety and comfort for moto enthusiasts. It wasn’t enough that his products met the required standards for licensing and distribution. Arai Helmets, Lmtd.  had set their own strict criteria for quality that is much higher than required by DOT or SNELL to give greater  assurance for riders’ safety when on  their two-wheeled machine. To this day, with the 2nd and third generation of the Arai family involved in their helmet business, Arai continues the world-wide distribution of helmets proudly bearing their name. </p>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-2.jpg?5852377602080460547" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>

	<p>For the Arai family, there is no minor parts in their helmets. Nor is there a minor job. So every helmet is meticulously hand-made. It’s as if they are making a helmet for their own family member – a brother, a husband, a father or a sister.  Each helmet is a master-piece of a single person, crafted with care. No matter the distance ridden or the duration of one’s ride, the rider stays comfortable and protected. </p>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-3.jpg?5852377602080460547" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>

	<p>Perfect fit is important to fulfill the goal of comfort and protection. Multiple interior shapes and extensive range of interior liners and removable cheek pads are available for an Arai helmet so that it can be customized for any rider. Arai recognizes that no two heads are the same thus they have three Arai interior shapes to provide the best possible fit for any rider. Depending on the shape of the head, a smaller helmet may actually fit than a measured size.  So for the benefit of riders, Arai even allows their customers to “micro-fit” their products if a little more space or closure is needed.</p>

	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
			<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-4.jpg?5852377602080460547" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
			<center><p><b>ROUND OVAL – R/O</b></p></center>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-5.jpg?5852377602080460547" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
			<center><p><b>INTERMEDIATE OVAL – I/O</b></p></center>
		</div>
		<div class="col-sm-4 col-md-4 col-lg-4">
			<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-6.jpg?5852377602080460547" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
			<center><p><b>LONG OVAL – L/O</b></p></center>
		</div>
	</div>

	<div>
		<p>The <b>ROUND OVAL (R/O)</b> Interior shape is found in the Quantum-X model and is the most symmetrical of the three although it’s not really completely round</p>
		<p>The <b>INTERMEDIATE OVAL – (I/O)</b>  Interior shape is found in most Arai helmet models. Slightly longer front to back than Round Oval, like an Asian head</p>
		<p>The <b>LONG OVAL (L/O)</b> interior shape is found in Signet X models.  It has longer front-to-back and a more narrow side-to-side dimension as compared to average rider’s shape.  It is highly recommended for those avoiding forehead hotspots.</p>
	</div>

	<div class="divider divider--xs"></div>

	<div>
		<p>For all the interior shapes mentioned above, the temple and cheek pad layers can be peeled away for a more customized fit without the need to buy extra parts. Further adjustments can be made with thicker or thinner interior padding as necessary.</p>

		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-7.jpg?17965297976884534525" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-8.jpg?17965297976884534525" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
			</div>
		</div>
	</div>

	<div>
		<p>With Arai’s dedication to rider’s safety and comfort, it is no wonder that many pro riders use and recommend Arai helmets. From MotoGP to Formula 1, from WSBK to MX, Arai helmet protects the head of winners. And the same tough helmets that are used by the pro racers are exactly the same helmets offered to every rider in the world.</p>

		<div class="row">
			<div class="col-sm-4 col-md-4 col-lg-4">
				<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-9.jpg?7995387394222326260" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-10.jpg?7995387394222326260" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
			</div>
			<div class="col-sm-4 col-md-4 col-lg-4">
				<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-11.jpg?7995387394222326260" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
			</div>
		</div>
	</div>

	<div class="divider divider--md"></div>

	<div>
		<center><h4><b>PROTECTION AT ITS BEST</b></h4></center>
		<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-12.jpg?6949869836686947220" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>

		<p>Arai uses first-hand experience from pro riders and drivers to improve on their products. With actual feedback from hard-core racers and by using the latest technology and innovation, Arai fulfills its dedication to riders’ safety. Considering the chances of a fall, Arai incorporated in their hand-built helmets a continuous curve radius of at least 75 mm so that the shells are round, smooth and strong. Such shells have better glancing off, an ability to disperse kinetic energy and minimize the potential of the helmet catching on rough surfaces or obstacles that can possible introduce unwanted rotational forces. </p>

		<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-13.jpg?2947161958755848795" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>

		<p>Aside from the R75 shape, Arai helmets also utilize the Peripheral Belt Technology (PB Tech).  The forehead area is considered a critical impact point so Arai added the Peripheral Belt to strengthen the shell without adding to the shell’s thickness or weight.  Arai have the belts woven in their own factory. They use different weaving techniques to ascertain the belts perform accurately on whatever size or shape the shells are or for whatever purpose it may serve.</p>

		<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-14.jpg?3562384711574764220" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>

		<p>An Arai doesn't just feel good for an hour or so. It's made to feel good throughout the ride — and to keep feeling good for years, long after cheap helmets have become loose and shabby. Here are the reasons why:</p>

		<ul>
			<li>Lower weight from proprietary aerospace fiberglass</li>
			<li>Lower center of gravity and better weight distribution to reduce fatigue</li>
			<li>Softer multiple-density liners materials that conform to your head shape</li>
			<li>Ventilation systems that work - extremely well</li>
			<li>Superb scratch-resistant face shields with less distortion.</li>
		</ul>

		<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-15.jpg?5455861593328881604" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>
	</div>

	<div class="divider divider--md"></div>

	<div>
		<center><h4><b>CHECKING FOR AUTHENTICITY</b></h4></center>
		<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-arai-helmets-img-16.jpg?17863827144678018933" alt="Arai Helmets Information Page" title="Arai Helmets Information Page" style="margin: 0 auto;"></p>

		<p>Arai Helmets is the first helmet company to offer a full 5-Year Limited Warranty- more than twelve years ahead of any other helmet company! Only recently have a couple others extended their warranties past one year. Because Arai Helmets are of superior quality, many others want to copy it. Beware of the fake helmets. Genuine Arai helmets are sold only by Arai authorized dealers. Packaging for Genuine Arai helmets are white cardboard boxes with blue stripes. Inside the box, you’ll also find a cloth Arai helmet bag, an owner's manual, and a small bottle of lubricant. There is a warning label on the helmet chin strap. Some genuine Arai helmets come with a Max Vision Visor and may also include a Pinlock lens.</p>

		<p>It is important to take note of these indications of authenticity because only GENUINE Arai helmets are covered by the <b>5-Year limited Warranty</b>.</p>

		<div>
			<p><b>For inquiries and warranty claims, US customers may call:</b></p>
			<p style="margin:0;">Phone: 610-366-7220 (Monday-Friday 9am-5pm EST) </p>
			<p>Fax: 610-366-7221</p>
		</div>

		<div class="divider divider--md"></div>

		<div>
			<p style="margin: 0;">Or write to:</p>
			<p style="margin: 0;">Arai Helmet, Inc.</p>
			<p style="margin: 0;">P.O. Box 787</p>
			<p>Fogelsville, PA 18051-0787</p>
		</div>

		<div class="divider divider--md"></div>

		<div>
			<p>General inquiries on their helmets can be sent by email to <a href="mailto:info@araiamericas.com">info@araiamericas.com</a> .</p>
		</div>
	</div>
</div>