<style>
  #more_info{
    display:none; 
  }
</style>

{% if "logo" == condition %}

<a href = "/collections/klim">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/klim-main-banner2-min.jpg?7139778272179878006" alt="Klim Brand Wall Banner" title =  "Klim Brand Wall Banner">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-main-banner-min_1.jpg?3035041179935204420" alt="Klim Brand Wall Banner" title =  "Klim Brand Wall Banner">
</a>


{% elsif "header" == condition %}

<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/klim" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>


<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 




{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-womens">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Klim-womens-banner-min.jpg?14429153018959485325">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-mens">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Klim-mens-banner-min.jpg?14429153018959485325">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-offroad-helmets">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">OFF-ROAD HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klim-offroad-helmets-min_8b1c73a5-b235-443d-9848-490055b5be1f.jpg?14429153018959485325">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-offroad-jackets">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">OFF-ROAD JACKETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klim-offroad-jackets-min.jpg?14429153018959485325">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-offroad-pants">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">OFF-ROAD PANTS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klim-offroad-pants-min_f34c4e5a-7851-4000-8de4-d5b4b423807e.jpg?16549168088240964709">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-offroad-gloves">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">OFF-ROAD GLOVES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Klim-offroad-gloves-min_5f90c8dc-633b-4912-8aa4-0ba8f0ef0180.jpg?16549168088240964709">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/klim-hot-sale">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/klim-sale-banner2-min.jpg?979374069175422560" alt="Fox Racing Hot Sale" title = "Fox Racing Hot Sale">
      </a>
    </div>
  </div>
</div>
  
  
  
  
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-snow-helmets">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">SNOW HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klim-helmet-banner-min.jpg?979374069175422560">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-snow-jackets">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">SNOW JACKETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klim-jacket-banner-min.jpg?979374069175422560">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-snow-pants">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">SNOW PANTS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klim-pants-banner-min.jpg?979374069175422560">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/klim-snow-gloves">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">SNOW GLOVES</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klim-gloves-banner-min.jpg?979374069175422560">
        </a>
      </div>
    </div>
  </div>
</div>
</div>


<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-womens">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-womens-banner-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-mens">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klim-offroad-goggles-banner-min.jpg?3035041179935204420">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-offroad-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-offroad-helmets-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-offroad-jackets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD JACKETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-offroad-jackets-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-offroad-pants">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD PANTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-offroad-pants-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-offroad-gloves">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD GLOVES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-offroad-gloves-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/klim-hot-sale">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-sale-banner2-min.jpg?8320095871705055399" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-snow-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">SNOW HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-helmet-banner-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-snow-jackets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">SNOW JACKETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-Klim-jackets-banner-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-snow-pants">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">SNOW PANTS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-pants-banner-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/klim-snow-gloves">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">SNOW GLOVES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-klim-gloves-banner-min.jpg?8320095871705055399">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


  {% elsif "lookbooks" == condition %}


  {% assign totalLookbookCount = blogs['lookbook'].articles_count %}
  {% assign counter = 0 %}
  {% paginate blogs['lookbook'].articles by totalLookbookCount %}
  {% for article in blogs['lookbook'].articles %}
  {% if counter < 10 and article.tags contains 'KLim' or article.tags contains 'klim' or article.tags contains 'Brand Klim' %}
  {% assign counter = counter | plus: 1 %}

  <div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">

    <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
      <div>
        {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
      </div>

      <div class="TeaserGrid-content" style="margin-top: 6px;">
        <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
      </div>                       
    </a>

  </div>
  {% endif %}
  {% endfor %}
  {% endpaginate %}


  <div class="divider divider--md"></div>


  {% elsif "brand_sizing_guide" == condition %}

  {% include 'page.klim-size-chart' %}
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/klimlogo.jpg?1936114763201599071">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class= "row">
            <p>KLIM creates the most technically advanced products in the world. By listening to their core-customers' needs, utilizing unmatched innovation and service, leading with superior product knowledge, and constantly striving for excellence, their team delivers uncompromised Quality.</p>
            <div class = "hidden-content">
              <p>KLIM is known not only for superior quality, innovation and performance, but also for its understanding of riders' needs and devotion to addressing them in its products. This passion underscores KLIM's culture and vision, which in many ways mirror Polaris' own guiding principles. KLIM was advised by The Meriwether Group.</p>
              <p>KLIM continually pushes, with unwavering commitment, to enhance their experience under the most demanding conditions... </p>
            </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>




  {% endif %}

  <script>

  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });
  });
</script>