        <div>
                <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
                    <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
                     <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
                      <li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Kids</a></li>
                </ul>
              </div>    

              <div class="tab-content tab-content--ys Sbs_sizechart">

                    <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
                        
                     
                      <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                    
                        <li class="active"><a href="#SizeChartTabWetsuits" role="tab"data-toggle="tab" class="text-uppercase">Wetsuits</a></li>
                        <li><a href="#SizeChartTops" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>
                        <li><a href="#SizeChartBottoms" role="tab"data-toggle="tab" class="text-uppercase">Bottoms</a></li>
                        <li><a href="#SizeChartMountainwear" role="tab"data-toggle="tab" class="text-uppercase">Mountainwear</a></li>
                        <li><a href="#SizeChartFootwear" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
                    </ul>   
                    
                    <div class="tab-content tab-content--ys"> 

                     <div role="tabpanel" class="tab-pane active" id="SizeChartTabWetsuits">
                         <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-wetsuits-ripcurl.jpg?4140402386276081532" alt="Rip Curl Wetsuits" title="Rip Curl Wetsuits" style="margin: 0 auto">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                       
                        <div class="table_responsive" style="overflow: auto;" >
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                     <thead>
                                         <tr>
                                           <th>Size        </th>
                                          <th>A| Height      </th>
                                          <th>Height Range</th>
                                          <th>Weight      </th>
                                          <th>B| Waist       </th>
                                          <th>C| Neck        </th>
                                          <th>D| Chest       </th>
                                          <th>E| Leg Length  </th>
                                          <th>F| Body Length </th>
                                         </tr>
                                     </thead>
                                        <tr>
                                            
                                        </tr>
                                        <tr>
                                            <td>S      </td>
                                          <td>174    </td>
                                          <td>170-175</td>
                                          <td>60-70  </td>
                                          <td>76     </td>
                                          <td>38     </td>
                                          <td>95     </td>
                                          <td>68     </td>
                                          <td>64     </td>

                                        </tr>
                                        <tr>
                                            <td>MS     </td>
                                          <td>174    </td>
                                          <td>170-175</td>
                                          <td>65-70  </td>
                                          <td>81     </td>
                                          <td>39     </td>
                                          <td>100    </td>
                                          <td>68     </td>
                                          <td>64     </td>

                                        </tr>
                                        <tr>
                                       <td>M      </td>
                                          <td>178    </td>
                                          <td>175-180</td>
                                          <td>70-80  </td>
                                          <td>81     </td>
                                          <td>39     </td>
                                          <td>100    </td>
                                          <td>71     </td>
                                          <td>66     </td>
                                        </tr>
                                        <tr>
                                      <td>MT     </td>
                                          <td>183    </td>
                                          <td>180-185</td>
                                          <td>70-80  </td>
                                          <td>81     </td>
                                          <td>39     </td>
                                          <td>100    </td>
                                          <td>74     </td>
                                          <td>68     </td>
                                        </tr>
                                        <tr>
                                            <td>LS     </td>
                                          <td>178    </td>
                                          <td>175-180</td>
                                          <td>80-85  </td>
                                          <td>86     </td>
                                          <td>40.2   </td>
                                          <td>105    </td>
                                          <td>71     </td>
                                          <td>66     </td>
                                        </tr>
                                        <tr>
                                       <td>L      </td>
                                          <td>183    </td>
                                          <td>180-185</td>
                                          <td>80-85  </td>
                                          <td>86     </td>
                                          <td>40.2   </td>
                                          <td>105    </td>
                                          <td>74     </td>
                                          <td>68     </td>
                                        </tr>
                                        <tr>
                                          <td>LT     </td>
                                          <td>188    </td>
                                          <td>185-190</td>
                                          <td>80-85  </td>
                                          <td>86     </td>
                                          <td>40.2   </td>
                                          <td>105    </td>
                                          <td>77     </td>
                                          <td>70     </td>
                                        </tr>
                                        <tr>
                                          <td>XLS    </td>
                                          <td>183    </td>
                                          <td>180-185</td>
                                          <td>85-95  </td>
                                          <td>91     </td>
                                          <td>42     </td>
                                          <td>110    </td>
                                          <td>74     </td>
                                          <td>68     </td>
                                        </tr>
                                        <tr>
                                          <td>XL     </td>
                                          <td>188    </td>
                                          <td>185-190</td>
                                          <td>85-95  </td>
                                          <td>91     </td>
                                          <td>41.4   </td>
                                          <td>110    </td>
                                          <td>77     </td>
                                          <td>70     </td>
                                        </tr>
                                        <tr>
                                          <td>XLT    </td>
                                          <td>198    </td>
                                          <td>193-200</td>
                                          <td>90-105 </td>
                                          <td>91     </td>
                                          <td>41.4   </td>
                                          <td>110    </td>
                                          <td>73     </td>
                                          <td>74     </td>
                                        </tr>
                                        <tr>
                                          <td>XXL    </td>
                                          <td>193    </td>
                                          <td>188-195</td>
                                          <td>95-105 </td>
                                          <td>96     </td>
                                          <td>42.6   </td>
                                          <td>115    </td>
                                          <td>80     </td>
                                          <td>72     </td>
                                        </tr>
                                        <tr>
                                          <td>XXXL   </td>
                                          <td>193    </td>
                                          <td>188-195</td>
                                          <td>105-115</td>
                                          <td>101    </td>
                                          <td>43.8   </td>
                                          <td>120    </td>
                                          <td>80     </td>
                                          <td>72     </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartTabWetsuits -->

                     <div role="tabpanel" class="tab-pane" id="SizeChartTops">
                         <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-apparel-ripcurl.JPG?7895230262549283507" alt="Rip Curl Tops" title="Rip Curl Tops" style="margin: 0 auto;width: 63%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                        <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                     <thead>
                                         <tr>
                                           <th>Size  </th>
                                            <th>A| Chest </th>
                                            <th>B| Height</th>
                                            <th>C| Waist </th>
                                         </tr>
                                     </thead>
                                        <tr>
                                            <td>XS       </td>
                                            <td>85-87.5  </td>
                                            <td>168-171  </td>
                                            <td>85-87.5  </td>
                                            </tr>
                                            <tr>
                                          <td>S        </td>
                                            <td>90-92.5  </td>
                                            <td>173-176  </td>
                                            <td>90-92.5  </td>

                                            </tr>
                                            <tr>
                                           <td>M        </td>
                                            <td>95-97.5  </td>
                                            <td>178-181  </td>
                                            <td>95-97.5  </td>
                                            </tr>
                                            <tr>
                                         <td>L        </td>
                                            <td>100-102.5</td>
                                            <td>183-186  </td>
                                            <td>100-102.5</td>
                                            </tr>
                                            <tr>
                                           <td>XL       </td>
                                            <td>105-107.5</td>
                                            <td>188-198  </td>
                                            <td>105-107.5</td>
                                            </tr>
                                            <tr>
                                          <td>XXL      </td>
                                            <td>110-112.5</td>
                                            <td>195      </td>
                                            <td>110-112.5</td>
                                            </tr>
                                            <tr>
                                           <td>XXXL     </td>
                                            <td>115      </td>
                                            <td>195      </td>
                                            <td>115      </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartTops -->
                  

                  <div role="tabpanel" class="tab-pane" id="SizeChartBottoms">
                         <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-bottom-ripcurl.jpg?6296062611875677360" alt="Rip Curl Bottoms" title="Rip Curl Bottoms" style="margin: 0 auto;width: 63%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                        <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                     <thead>
                                         <tr>
                                           <th>Size  </th>
                                            <th>A| Height</th>
                                            <th>B| Waist </th>
                                            <th>C| Hip   </th>
                                         </tr>
                                     </thead>
                                    <tr>
                                    <td>XS       </td>
                                    <td>85-87.5  </td>
                                    <td>168-171  </td>
                                    <td>85-87.5  </td>
                                    </tr>
                                   <tr>
                                    <td>S        </td>
                                    <td>90-92.5  </td>
                                    <td>173-176  </td>
                                    <td>90-92.5  </td>
                                    </tr>
                                    <tr>
                                     <td>M        </td>
                                    <td>95-97.5  </td>
                                    <td>178-181  </td>
                                    <td>95-97.5  </td>
                                    </tr>
                                   <tr>
                                   <td>L        </td>
                                    <td>100-102.5</td>
                                    <td>183-186  </td>
                                    <td>100-102.5</td>
                                    </tr>
                                    <tr>
                                    <td>XL       </td>
                                    <td>105-107.5</td>
                                    <td>188-198  </td>
                                    <td>105-107.5</td>
                                    </tr>
                                    <tr>
                                    <td>XXL      </td>
                                    <td>110-112.5</td>
                                    <td>195      </td>
                                    <td>110-112.5</td>
                                        </tr>
                                        <tr>
                                      <td>XXXL     </td>
                                    <td>115      </td>
                                    <td>195      </td>
                                    <td>115      </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartBottoms -->

                      <div role="tabpanel" class="tab-pane" id="SizeChartMountainwear">
                         <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-mountainwear-ripcurl.jpg?648738619583969681" alt="Rip Curl Mountainwear" title="Rip Curl Mountainwear" style="margin: 0 auto;width: 63%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                        <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                     <thead>
                                         <tr>
                                           <th>Size  </th>
                                            <th>A| Height</th>
                                            <th>B| CHEST </th>
                                            <th>C| Waist </th>
                                            <th>D| Hip   </th>
                                </tr>
                                       </thead>
                                        <tr>
                                        <td>XS     </td>
                                        <td>168-171</td>
                                        <td>85-87.5</td>
                                        <td>70-72.5</td>
                                        <td>85-87.5</td>
                                        </tr>
                                        <tr>
                                        <td>S      </td>
                                        <td>173-176</td>
                                        <td>90-92.5</td>
                                        <td>75-77.5</td>
                                        <td>90-92.5</td>
                                        </tr>
                                       <tr>
                                          <td>M      </td>
                                        <td>178-181</td>
                                        <td>95-97.5</td>
                                        <td>80-82.5</td>
                                        <td>95-97.5</td>
                                        </tr>
                                        <tr>
                                         <td>L      </td>
                                        <td>183-186</td>
                                        <td>100-103</td>
                                        <td>85-87.5</td>
                                        <td>100-103</td>
                                         </tr>
                                        <tr>
                                        <td>XL     </td>
                                        <td>188-191</td>
                                        <td>105-108</td>
                                        <td>90-92.5</td>
                                        <td>105-108</td>
                                        </tr>
                                        <tr>
                                        <td>XXL    </td>
                                        <td>193-195</td>
                                        <td>110-113</td>
                                        <td>95-97.5</td>
                                        <td>110-113</td>
                                 </tr>
                            
                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartMountainwear -->

                      <div role="tabpanel" class="tab-pane" id="SizeChartFootwear">
                         <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                               <div class="divider divider--md"></div>
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?1541151434606728344" alt="Rip Curl Footwear" title="Rip Curl Footwear" style="margin:0 auto;">
                            </div>
                           <div class="col-sm-8 col-md-8 col-lg-8">     
                        <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                           <table class="table table-bordered table-striped">
                             <tbody>
                             <thead>
                                <tr>
                                    <th>Europe </th>
                                    <th>USA      </th>
                                    <th>Australia</th>
                                </tr>
                            </thead>

                                <tr>
                                        <td>40</td>
                                        <td>7 </td>
                                        <td>7 </td>
                                        </tr>
                                        <tr>
                                        <td>41</td>
                                        <td>8 </td>
                                        <td>8 </td>
                                        </tr>
                                        <tr>
                                        <td>42</td>
                                        <td>9 </td>
                                        <td>9 </td>
                                        </tr>
                                        <tr>
                                        <td>43</td>
                                        <td>10</td>
                                        <td>10</td>
                                        </tr>
                                        <tr>
                                        <td>45</td>
                                        <td>11</td>
                                        <td>11</td>
                                        </tr>
                                        <tr>
                                        <td>46</td>
                                        <td>12</td>
                                        <td>12</td>
                                        </tr>
                                        <tr>
                                        <td>47</td>
                                        <td>13</td>
                                        <td>13</td>
                                    </tr>
                            
                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                             <p class="sizechart-note"><code>*</code>&nbsp; Note Rip Curl Footwear is in US sizes.</p>
                            </div><!-- End -->
                           
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartFootwear -->

                    </div> <!-- tab-content -->
                  </div> <!-- end SizeChartTab1 -->
      

             <div role="tabpanel" class="tab-pane " id="SizeChartTab2">
                        
                     
                      <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                    
                        <li class="active"><a href="#SizeChartTabWetsuitsWomens" role="tab"data-toggle="tab" class="text-uppercase">Wetsuits</a></li>
                        <li><a href="#SizeChartTopsWomens" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>
                        <li><a href="#SizeChartBottomsWomens" role="tab"data-toggle="tab" class="text-uppercase">Bottoms</a></li>
                        <li><a href="#SizeChartMountainwearWomens" role="tab"data-toggle="tab" class="text-uppercase">Mountainwear</a></li>
                        <li><a href="#SizeChartFootwearWomens" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
                    </ul>   
                    
                    <div class="tab-content tab-content--ys"> 

                     <div role="tabpanel" class="tab-pane active" id="SizeChartTabWetsuitsWomens">
                         <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-wetsuit-template-ripcurl.JPG?1321308654849491215" alt="Rip Curl Wetsuits" title="Rip Curl Wetsuits" style="margin: 0 auto; width: 91%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                          <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                     <thead>
                                         <tr>
                                           <th>Size  </th>
                                            <th>A| Height</th>
                                            <th>B| Chest </th>
                                            <th>C| Waist </th>
                                            <th> Seat  </th>
                                            <th>D| Thigh </th>
                                            <th>E| Arm   </th>
                                            <th>F| Leg   </th>
                                            <th>G| Body  </th>
                                         </tr>
                                     </thead>
                                        <tr>
                                  <td>4    </td>
                                    <td>155  </td>
                                    <td>78   </td>
                                    <td>61   </td>
                                    <td>86.5 </td>
                                    <td>48   </td>
                                    <td>48.4 </td>
                                    <td>66   </td>
                                    <td>54.8</td>

                                </tr>
                                <tr>
                                    <td>6    </td>
                                    <td>160  </td>
                                    <td>82   </td>
                                    <td>63.5 </td>
                                    <td>89   </td>
                                    <td>51   </td>
                                    <td>49.6 </td>
                                    <td>68.5 </td>
                                    <td>56</td>

                                 </tr>
                                    <tr>
                           
                                    <td>8    </td>
                                    <td>165  </td>
                                    <td>86   </td>
                                    <td>66   </td>
                                    <td>91.5 </td>
                                    <td>53.5 </td>
                                    <td>50.8 </td>
                                    <td>71   </td>
                                    <td>57.2</td>
                                    </tr>
                                        <tr>
                                 <td>10   </td>
                                    <td>170  </td>
                                    <td>90   </td>
                                    <td>68.5 </td>
                                    <td>94   </td>
                                    <td>56   </td>
                                    <td>52   </td>
                                    <td>73.5 </td>
                                    <td>56  </td>
                                        </tr>
                                        <tr>
                                    <td>12   </td>
                                    <td>175  </td>
                                    <td>94   </td>
                                    <td>71   </td>
                                    <td>96.5 </td>
                                    <td>58.5 </td>
                                    <td>53.2 </td>
                                    <td>76   </td>
                                    <td>59.6</td>

                                        </tr>
                                        <tr>
                                    <td>14   </td>
                                    <td>178  </td>
                                    <td>96   </td>
                                    <td>73.5 </td>
                                    <td>99   </td>
                                    <td>61   </td>
                                    <td>54.4 </td>
                                    <td>78.5 </td>
                                    <td>60.8</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartTabWetsuits -->

                       <div role="tabpanel" class="tab-pane" id="SizeChartTopsWomens">
                         <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-template.JPG?12335422893449224752" alt="Rip Curl Tops" title="Rip Curl Tops" style="margin: 0 auto;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                          <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                     <thead>
                                         <tr>
                                           <th>Size  </th>
                                            <th>A| Chest </th>
                                            <th>B| Height</th>
                                            <th>C| Waist </th>
                                         </tr>
                                     </thead>
                                        <tr>
                            
                               <td>6        </td>
                                <td>77.5-80  </td>
                                <td>157-159  </td>
                                <td>60-62.5  </td>

                                </tr>
                                <tr>
                             <td>8        </td>
                                <td>82.5-85  </td>
                                <td>162-164  </td>
                                <td>65-67.5  </td>

                                 </tr>
                                    <tr>
                           
                             <td>10       </td>
                                <td>87.5-90  </td>
                                <td>167-169  </td>
                                <td>70-72.5  </td>
                                    </tr>
                                        <tr>
                          <td>12       </td>
                                <td>92.5-95  </td>
                                <td>172-174  </td>
                                <td>75-77.5  </td>
                                        </tr>
                                        <tr>
                           <td>14       </td>
                                <td>97.5-100 </td>
                                <td>177-179  </td>
                                <td>80-82.5  </td>

                                        </tr>
                                        <tr>
                                 <td>16       </td>
                                <td>103      </td>
                                <td>182      </td>
                                <td>110      </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartTopsWomens -->

                      <div role="tabpanel" class="tab-pane " id="SizeChartBottomsWomens">
                         <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-bottoms-ripcurl.jpg?8532331531727961746" alt="Rip Curl Bottoms" title="Rip Curl Bottoms" style="margin: 0 auto;width: 60%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                          <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <thead>
                                    <tr>
                                           <th>Size  </th>
                                            <th>A| Height</th>
                                            <th>B| Waist </th>
                                            <th>C| Hip   </th>

                                   </tr>
                                </thead>
                                <tr>
                                <td>6     </td>
                                <td>157   </td>
                                <td>60    </td>
                                <td>86    </td>

                                </tr>
                                <tr>
                               <td>7     </td>
                                <td>159   </td>
                                <td>62.5  </td>
                                <td>88.5  </td>

                                 </tr>
                                <tr>
                           
                                <td>8     </td>
                                <td>162   </td>
                                <td>65    </td>
                                <td>91    </td>
                                </tr>
                                <tr>
                                <td>9     </td>
                                <td>164   </td>
                                <td>67.5  </td>
                                <td>93.5  </td>
                                </tr>
                                <tr>
                                <td>10    </td>
                                <td>167   </td>
                                <td>70    </td>
                                <td>96    </td>
                                </tr>
                                <tr>
                                 <td>11 </td>
                                <td>169   </td>
                                <td>72.5  </td>
                                <td>98.5  </td>
                                </tr>
                                <tr>
                                <td>12    </td>
                                <td>172   </td>
                                <td>75    </td>
                                <td>101   </td>
                                </tr>
                                 <tr>
                                <td>13    </td>
                                <td>174   </td>
                                <td>77.5  </td>
                                <td>103.5 </td>
                                </tr>
                                <tr>
                                <td>14    </td>
                                <td>177   </td>
                                <td>80    </td>
                                <td>106   </td>
                                </tr>
                                <tr>
                                <td>15    </td>
                                <td>179   </td>
                                <td>82.5  </td>
                                <td>108.5 </td>
                                </tr>
                                 <tr>
                                <td>16    </td>
                                <td>182   </td>
                                <td>85    </td>
                                <td>111   </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartBottomsWomens -->

                      <div role="tabpanel" class="tab-pane" id="SizeChartMountainwearWomens">
                         <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-template-mountainwear-ripcurl.jpg?5947023484003800127" alt="Rip Curl Mountainwear" title="Rip Curl Mountainwear" style="margin: 0 auto;width: 60%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                          <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <thead>
                                    <tr>
                                         <th>Size  </th>
                                <th>A| Height</th>
                                <th>B| Chest </th>
                                <th>C| Waist </th>
                                <th>D| Hips  </th>


                                   </tr>
                                </thead>
                                <tr>
                                <td>XXS    </td>
                                <td>155-157</td>
                                <td>75-77.5</td>
                                <td>57-60  </td>
                                <td>83.5-86</td>

                                </tr>
                                <tr>
                                 <td>XS     </td>
                                <td>160-163</td>
                                <td>80-82.5</td>
                                <td>62.5-65</td>
                                <td>88.5-91</td>

                                 </tr>
                                <tr>
                           
                                 <td>S      </td>
                                <td>165-168</td>
                                <td>85-87.5</td>
                                <td>67.5-70</td>
                                <td>93.5-96</td>
                                </tr>
                                <tr>
                                <td>M      </td>
                                <td>170-173</td>
                                <td>90-92.5</td>
                                <td>72.5-75</td>
                                <td>98.5-101</td>
                                </tr>
                                <tr>
                                <td>L      </td>
                                <td>175-178</td>
                                <td>95-97.5</td>
                                <td>77.5-80</td>
                                <td>104-106</td>
                                 </tr>
                                <tr>
                                <td>XL     </td>
                                <td>180-183</td>
                                <td>100-103</td>
                                <td>82.5-85</td>
                                <td>109-111</td>
                                </tr>
                                <tr>
                                  <td>XXL    </td>
                                <td>185-187</td>
                                <td>105-108</td>
                                <td>87.5-90</td>
                                <td>114-116</td>
                                </tr>
                                        
                                </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartMountainwearWomens -->
                        

                      <div role="tabpanel" class="tab-pane" id="SizeChartFootwearWomens">
                         <div class="row">
                            <div class="col-sm-4 col-md-4 col-lg-4">
                               <div class="divider divider--md"></div>
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?1541151434606728344" alt="Rip Curl Footwear" title="Rip Curl Footwear" style="margin:0 auto;">
                            </div>
                           <div class="col-sm-8 col-md-8 col-lg-8">     
                        <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                           <table class="table table-bordered table-striped">
                             <tbody>
                             <thead>
                                <tr>
                                    <th>Europe </th>
                                    <th>USA      </th>
                                    <th>Australia</th>
                                </tr>
                            </thead>

                                <tr>
                                        <td>36</td>
                                        <td>5 </td>
                                        <td>5 </td>
                                        </tr>
                                        <tr>
                                        <td>37</td>
                                        <td>6 </td>
                                        <td>6 </td>
                                        </tr>
                                        <tr>
                                        <td>38</td>
                                        <td>7 </td>
                                        <td>7 </td>

                                        </tr>
                                        <tr>
                                     <td>39</td>
                                        <td>8 </td>
                                        <td>8 </td>
                                        </tr>
                                        <tr>
                                      <td>40</td>
                                        <td>9 </td>
                                        <td>9 </td>
                                        </tr>
                                        <tr>
                                        <td>41</td>
                                        <td>10</td>
                                        <td>10</td>
                                        </tr>
                                        <tr>
                                      <td>42</td>
                                        <td>11</td>
                                        <td>11</td>
                                    </tr>
                            
                                    </tbody>
                                </table>
                            </div> <!-- div Table end -->
                             <p class="sizechart-note"><code>*</code>&nbsp; Note Rip Curl Footwear is in US sizes.</p>
                            </div><!-- End -->
                           
                          </div>  <!-- end row -->
                      </div> <!-- end SizeChartFootwearWomens -->

                    </div> <!-- end tab-content -->
                  </div> <!-- end SizeChartTab2 -->


                  <div role="tabpanel" class="tab-pane " id="SizeChartTab3">

                   <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                    
                        <li class="active"><a href="#SizeChartTabBoys" role="tab"data-toggle="tab" class="text-uppercase">Boys 10-16 Years</a></li>
                        <li><a href="#SizeChartTopsGirls" role="tab"data-toggle="tab" class="text-uppercase">Girls 10-16 Years</a></li>
                        <li><a href="#SizeChartToddlers" role="tab"data-toggle="tab" class="text-uppercase">Toddlers 0-8 Years</a></li>
                    </ul>  

                  <div class="tab-content tab-content--ys">
                        
                         <div role="tabpanel" class="tab-pane active" id="SizeChartTabBoys">
                          
                              <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-youth-boys-ripcurl.jpg?2970762354784886163" alt="Rip Curl Boys" title="Rip Curl Boys" style="margin: 0 auto;width: 60%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                 <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <thead>
                                    <tr>
                                   <th>Size              </th>
                                  <th>A| Height            </th>
                                  <th>B| Chest             </th>
                                  <th>C| Waist             </th>
                                  <th>D| Hip               </th>
                                  <th>E| Head Circumference</th>



                                   </tr>
                                </thead>
                            <tr>
                                    <td>8  </td>
                                    <td>130</td>
                                    <td>65 </td>
                                    <td>55 </td>
                                    <td>70 </td>
                                    <td>52 </td>

                                  </tr>
                                  <tr>
                                    <td>10 </td>
                                    <td>140</td>
                                    <td>70 </td>
                                    <td>60 </td>
                                    <td>75 </td>
                                    <td>54 </td>

                                  </tr>
                                   <tr>
                                 
                                   <td>12 </td>
                                    <td>150</td>
                                    <td>75 </td>
                                    <td>55 </td>
                                    <td>80 </td>
                                    <td>54 </td>
                                   </tr>
                                   <tr>
                                   <td>14 </td>
                                    <td>160</td>
                                    <td>80 </td>
                                    <td>60 </td>
                                    <td>85 </td>
                                    <td>56 </td>
                                  </tr>
                                  <tr>
                                    <td>16 </td>
                                    <td>165</td>
                                    <td>85 </td>
                                    <td>65 </td>
                                    <td>90 </td>
                                    <td>56 </td>
                                 </tr>      
                                </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                         </div> <!-- end SizeChartTabBoys -->
  
                      
                         <div role="tabpanel" class="tab-pane" id="SizeChartTopsGirls">
                          
                              <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/girls-top-new-ripcurl.jpg?6059934639910937062" alt="Rip Curl Girls" title="Rip Curl Girls" style="margin: 0 auto;width: 53%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                     <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <thead>
                                    <tr>
                                   <th>Size              </th>
                                  <th>A| Height            </th>
                                  <th>B| Chest             </th>
                                  <th>C| Waist             </th>
                                  <th>D| Hip               </th>
                                  <th>E| Head Circumference</th>



                                   </tr>
                                </thead>
                            <tr>
                          <td>8  </td>
                          <td>130</td>
                          <td>65 </td>
                          <td>55 </td>
                          <td>70 </td>
                          <td>52 </td>

                            </tr>
                            <tr>
                             <td>10 </td>
                          <td>140</td>
                          <td>70 </td>
                          <td>60 </td>
                          <td>75 </td>
                          <td>54 </td>

                            </tr>
                             <tr>
                           
                           <td>12 </td>
                          <td>150</td>
                          <td>75 </td>
                          <td>55 </td>
                          <td>80 </td>
                          <td>54 </td>
                             </tr>
                             <tr>
                           <td>14 </td>
                          <td>160</td>
                          <td>80 </td>
                          <td>60 </td>
                          <td>85 </td>
                          <td>56 </td>
                            </tr>
                            <tr>
                          <td>16 </td>
                          <td>165</td>
                          <td>85 </td>
                          <td>65 </td>
                          <td>90 </td>
                          <td>56 </td>
                                 </tr>      
                                </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                         </div> <!-- end SizeChartTopsGirls --> 

                         <div role="tabpanel" class="tab-pane" id="SizeChartToddlers">
                          
                              <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                               <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/toddler-ripcurl.jpg?1458666526376865047" alt="Rip Curl Toddlers" title="Rip Curl Toddlers" style="margin: 0 auto;width: 71%;">
                            </div>
                           <div class="col-sm-9 col-md-9 col-lg-9">     
                     <div class="divider divider--md"></div>
                        <div class="table_responsive" style="overflow: auto;" >
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                    <thead>
                                    <tr>
                                   <th>Size              </th>
                                  <th>A| Height            </th>
                                  <th>B| Chest             </th>
                                  <th>C| Waist             </th>
       
                                  <th>D| Head Circumference</th>



                                   </tr>
                                </thead>
                            <tr>
                             <td>0-1    </td>
                              <td>80-85  </td>
                              <td>45-47.5</td>
                              <td>45-47.5</td>
                              <td>48     </td>

                            </tr>
                            <tr>
                               <td>2      </td>
                              <td>90     </td>
                              <td>50     </td>
                              <td>47.5   </td>
                              <td>48     </td>

                            </tr>
                             <tr>
                           
                              <td>4      </td>
                              <td>100    </td>
                              <td>55     </td>
                              <td>50     </td>
                              <td>50     </td>
                             </tr>
                             <tr>
                            <td>6      </td>
                              <td>110    </td>
                              <td>60     </td>
                              <td>52.5   </td>
                              <td>50     </td>
                            </tr>
                            <tr>
                            <td>8      </td>
                              <td>130    </td>
                              <td>65     </td>
                              <td>55     </td>
                              <td>52     </td>
                                 </tr>      
                                </tbody>
                                </table>
                            </div> <!-- div Table end -->
                            </div><!-- End -->
                            <p class="sizechart-note"><code>*</code>&nbsp; Note sizing information is listed in centimetres.</p>
                          </div>  <!-- end row -->
                         </div> <!-- end SizeChartToddlers --> 

                  </div>  <!-- end tab-content -->
                </div> <!-- end SizeChartTab3 -->


            </div> <!-- Sbs_sizechart -->