<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	            margin-top: -230px;
	        }
	  } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li ><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
	<li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
	
<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#MensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
	<li ><a href="#MensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
	<li ><a href="#MensOnePiece" role="tab"data-toggle="tab" class="text-uppercase">One Piece Suits</a></li>
	<li ><a href="#MensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
	<li ><a href="#MensFootwear" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
	
</ul>
 <div class="tab-content tab-content--ys">    
	<div role="tabpanel" class="tab-pane active" id="MensJackets">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-cortech-jacket.JPG?6886789850907936778" alt="Cortech Jackets Size Charts" title="Cortech Jackets Size Charts" style="margin: 0 auto;width:80%;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">JACKETS</h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>Size       </th>
									<th>A.| Chest (in) </th>
									<th>B.| Waist (in) </th>
									<th>C.| Arm (in)   </th>
									<th>D.| Height (in)</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>XS     </td>
									<td>36     </td>
									<td>29.5   </td>
									<td>25     </td>
									<td>5'7"-5'9"</td>
		        			</tr>
		        			<tr>
		        					<td>SM     </td>
									<td>38     </td>
									<td>31.5   </td>
									<td>25.5   </td>
									<td>5'9"-5'10"</td>
		        			</tr>
		          			<tr>
		          					<td>MD     </td>
									<td>40     </td>
									<td>33.5   </td>
									<td>26     </td>
									<td>5'10"-5'11"</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>LG     </td>
									<td>42     </td>
									<td>35.5   </td>
									<td>26.5   </td>
									<td>5'11"-6'</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>XL     </td>
									<td>44     </td>
									<td>37.5   </td>
									<td>27     </td>
									<td>6'-6'1"</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>2XL    </td>
									<td>48     </td>
									<td>41.5   </td>
									<td>27.5   </td>
									<td>6'1"-6'3"</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>3XL    </td>
									<td>51     </td>
									<td>44.5   </td>
									<td>27.5   </td>
									<td>6'3"-6'4"</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>4XL    </td>
									<td>54     </td>
									<td>47.5   </td>
									<td>28     </td>
									<td>6'4"-6'5"</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>MD (Tall) </td>
									<td>40        </td>
									<td>33.5      </td>
									<td>28        </td>
									<td>6'-6'1"   </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>LG (Tall) </td>
									<td>42        </td>
									<td>35.5      </td>
									<td>28.5      </td>
									<td>6'1"-6'2"   </td>
		       			 	</tr>
		       			 	<tr>
		          			<td>XL (Tall) </td>
									<td>44        </td>
									<td>37.5      </td>
									<td>29        </td>
									<td>6'2"-6'3"  </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>2XL (Tall)</td>
									<td>48        </td>
									<td>41.5      </td>
									<td>29.5      </td>
									<td>6'3"-6'4"   </td>
		       			 	</tr>
		       			 	<tr>
		          				<td>3XL (Tall)</td>
									<td>51        </td>
									<td>44.5      </td>
									<td>29.5      </td>
									<td>6'4"-6'5"   </td>
		       			 	</tr>
		        </tbody>
		      </table>
		      
		     
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div> 
	 
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensPants">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-cortech-pants.jpg?6886789850907936778" alt="Cortech Pants Size Charts" title="Cortech Pants Size Charts" style="margin: 0 auto;width: 80%;"/>
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Pants </h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Size       </th>
									<th>A.| Waist (in) </th>
									<th>B.| Hips (in)  </th>
									<th>C.| Inseam (in)</th>
									<th>D.| Height (in)</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					      	  		<td>XS   </td>
									<td>30   </td>
									<td>39   </td>
									<td>30.5 </td>
									<td>5'7"-5'9"  </td>
		        			</tr>
		        			<tr>
		        					<td>SM   </td>
									<td>32   </td>
									<td>41   </td>
									<td>31   </td>
									<td>5'9"-5'10" </td>
		        			</tr>
		          			<tr>
		          					<td>MD   </td>
									<td>34   </td>
									<td>43   </td>
									<td>31.5 </td>
									<td>5'10"-5'11"   </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>LG   </td>
									<td>36   </td>
									<td>45   </td>
									<td>32   </td>
									<td>5'11"-6'    </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>XL   </td>
									<td>38   </td>
									<td>47   </td>
									<td>32.5 </td>
									<td>6'-6'1"    </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>2XL  </td>
									<td>40   </td>
									<td>51   </td>
									<td>33   </td>
									<td>6'1"-6'3"  </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>3XL  </td>
									<td>42   </td>
									<td>54   </td>
									<td>33   </td>
									<td>6'3"-6'4"  </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>4XL  </td>
									<td>44   </td>
									<td>57   </td>
									<td>33   </td>
									<td>6'4"-6'5"  </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>MD (Tall)</td>
									<td>34   </td>
									<td>43   </td>
									<td>33.5 </td>
									<td>6'-6'1"    </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>LG (Tall)</td>
									<td>36   </td>
									<td>45   </td>
									<td>34   </td>
									<td>6'1"-6'2"  </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>XL (Tall)</td>
									<td>38    </td>
									<td>47    </td>
									<td>34.5  </td>
									<td>6'2"-6'3"  </td>
		       			 	</tr>
		       			 	<tr>
		          				<td>2XL (Tall)</td>
									<td>40   </td>
									<td>51   </td>
									<td>35   </td>
									<td>6'3"-6'4"  </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>3XL (Tall)</td>
									<td>42   </td>
									<td>54   </td>
									<td>35   </td>
									<td>6'4"-6'5"  </td>

		       			 	</tr>
		       			 		<tr>
		          					<td>MD (Short)</td>
									<td>34   </td>
									<td>43   </td>
									<td>29.5 </td>
									<td>5'6"-5'7"  </td>

		       			 	</tr>
		       			 		<tr>
		          					<td>LG (Short)</td>
									<td>36   </td>
									<td>45   </td>
									<td>30   </td>
									<td>5'7"-5'8"  </td>

		       			 	</tr>
		       			 		<tr>
		          					<td>XL(Short)</td>
									<td>38   </td>
									<td>47   </td>
									<td>30.5 </td>
									<td>5'8"-5'9"  </td>

		       			 	</tr>
		       			 		<tr>
		          					<td>2XL (Short)</td>
									<td>40   </td>
									<td>51   </td>
									<td>31   </td>
									<td>5'9"-5'10" </td>

		       			 	</tr>
		       			 		<tr>
		          					<td>3XL (Short)</td>
									<td>42   </td>
									<td>54   </td>
									<td>31   </td>
									<td>5'10"-5'11"</td>

		       			 	</tr>
		        </tbody>
		      </table>
		      
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	 </div>
  </div> 
</div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensOnePiece">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-suits-cortech.jpg?11480092387007433631" alt="Cortech One Piece Suits Size Charts" title="Cortech One Piece Suits Size Charts" style="margin: 0 auto;width:80%;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">One Piece Suits</h4>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Size       </th>
									<th>Chest (in) </th>
									<th>Waist (in) </th>
									<th>Hips (in)  </th>
									<th>Arm (in)   </th>
									<th>Inseam (in)</th>
									<th>Height (in)</th>

		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>SM          </td>
									<td>38          </td>
									<td>32          </td>
									<td>41          </td>
									<td>25.5        </td>
									<td>31          </td>
									<td>5'9" - 5'10"</td>
		        			</tr>
		        			<tr>
					        		<td>MD  </td>
									<td>40  </td>
									<td>34  </td>
									<td>43  </td>
									<td>26  </td>
									<td>31.5</td>
									<td>5'10" - 5'11"</td>
		        			</tr>
		        			<tr>
					        		<td>LG         </td>
									<td>42         </td>
									<td>36         </td>
									<td>45         </td>
									<td>26.5       </td>
									<td>32         </td>
									<td>5'11"- 6'  </td>
		        			</tr>
		        			<tr>
					        		<td>XL         </td>
									<td>44         </td>
									<td>38         </td>
									<td>47         </td>
									<td>27         </td>
									<td>32.5       </td>
									<td> 6' - 6'1" </td>
		        			</tr>
		        			<tr>
					        		<td>2XL        </td>
									<td>46         </td>
									<td>40         </td>
									<td>51         </td>
									<td>27.5       </td>
									<td>33         </td>
									<td>6'1" - 6'3"</td>
		        			</tr>
		        		
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- MensOnePiece -->


<div role="tabpanel" class="tab-pane" id="MensGloves">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Cortech Gloves Size Charts" title="Cortech Gloves Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Gloves</h4>
		      <p>To Determine proper glove size, place the saddle of your thumb & index finger.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Size     </th>
									<th>Hand (in)</th>
									<th>Hand (cm)</th>

		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>XS  </td>
								<td>2.5 </td>
								<td>6.3 </td>
		        			</tr>
		        			<tr>
					        		<td>SM  </td>
								<td>3   </td>
								<td>7.6 </td>
		        			</tr>
		        			<tr>
					        		<td>MD  </td>
								<td>3.5 </td>
								<td>8.9 </td>
		        			</tr>
		        			<tr>
					        		<td>LG  </td>
								<td>4   </td>
								<td>10.2</td>
		        			</tr>
		        			<tr>
					        	<td>XL  </td>
								<td>4.5 </td>
								<td>11.4</td>
		        			</tr>
		        			<tr>
					        	<td>2XL </td>
								<td>5   </td>
								<td>12.7</td
		        			</tr>
		        			<tr>
					        	<td>3XL </td>
								<td>5.5 </td>
								<td>14  </td>
		        			</tr>
		        		
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- Mens Gloves -->
<div role="tabpanel" class="tab-pane" id="MensFootwear">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?8019389621017100315" alt="Cortech Footwear Size Charts" title="Cortech Footwear Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Footwear</h4>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		       
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>US Size</td>
								<td>7      </td>
								<td>8      </td>
								<td>8.5    </td>
								<td>9      </td>
								<td>10     </td>
								<td>11     </td>
								<td>12     </td>
								<td>12.5   </td>
								<td>13     </td>
								<td>14     </td>
 
		        			</tr>
		        			<tr>
					        	<td>EU Size</td>
								<td>40     </td>
								<td>41     </td>
								<td>42     </td>
								<td>43     </td>
								<td>44     </td>
								<td>45     </td>
								<td>46     </td>
								<td>47     </td>
								<td>48     </td>
								<td>49     </td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- Mens Gloves -->

</div>
</div> <!-- SizeChartTab2 -->

<!-- start womens -->
<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

	<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#WoMensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
	<li ><a href="#WoMensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>

 <div class="tab-content tab-content--ys">    
	<div role="tabpanel" class="tab-pane active" id="WoMensJackets">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-cortech-womens-jackets.jpg?12212813648545959660" alt="Cortech Jackets Size Charts" title="Cortech Jackets Size Charts" style="margin: 0 auto;width:80%;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">JACKETS</h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>Size           </th>
									<th>A.| Chest (in) </th>
									<th>B.| Waist (in) </th>
									<th>C.| Arm (in)   </th>
									<th>D.| Hips (in)  </th>
									<th>E.| Height (in)</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>XS         </td>
									<td>32         </td>
									<td>26.5       </td>
									<td>24         </td>
									<td>33         </td>
									<td>5" - 5'1"  </td>
		        			</tr>
		        			<tr>
		        				<td>SM         </td>
									<td>34         </td>
									<td>28.5       </td>
									<td>24.5       </td>
									<td>35         </td>
									<td>5'1" - 5'2"</td>
		        			</tr>
		          			<tr>
		          				<td>MD         </td>
									<td>36         </td>
									<td>30.5       </td>
									<td>25         </td>
									<td>37         </td>
									<td>5'2"- 5'3" </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>LG         </td>
									<td>38         </td>
									<td>32.5       </td>
									<td>25.5       </td>
									<td>39         </td>
									<td>5'3" - 5'4"</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>XL         </td>
									<td>40         </td>
									<td>34.5       </td>
									<td>26         </td>
									<td>41         </td>
									<td>5'4" - 5'5"</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>SM (Plus)  </td>
									<td>38         </td>
									<td>40.5       </td>
									<td>24.5       </td>
									<td>39         </td>
									<td>5'1" - 5'2"</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>MD (Plus)  </td>
									<td>42         </td>
									<td>42.5       </td>
									<td>25         </td>
									<td>41         </td>
									<td>5'2" - 5'3"</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>LG (Plus)  </td>
									<td>46         </td>
									<td>44.5       </td>
									<td>25.5       </td>
									<td>43         </td>
									<td>5'3" - 5'4"</td>
		       			 	</tr>
		       			 	<tr>
		          			<td>SM (Tall)  </td>
									<td>34         </td>
									<td>28.5       </td>
									<td>26.5       </td>
									<td>35         </td>
									<td>5'4" - 5'5"</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>MD (Tall)  </td>
									<td>36         </td>
									<td>30.5       </td>
									<td>27         </td>
									<td>37         </td>
									<td>5'5" - 5'6"</td>
		       			 	</tr>
		       			 	<tr>
		          			<td>LG (Tall)  </td>
									<td>38         </td>
									<td>32.5       </td>
									<td>27.5       </td>
									<td>39         </td>
									<td>5'6" - 5'7"</td>

		       			 	
		        </tbody>
		      </table>		     
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div> 
	 
  </div> <!-- womemens Jocket -->

  <div role="tabpanel" class="tab-pane" id="WoMensGloves">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Cortech Gloves Size Charts" title="Cortech Gloves Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Gloves</h4>
		      <p>To Determine proper glove size, place the saddle of your thumb & index finger.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Size     </th>
									<th>Hand (in)</th>
									<th>Hand (cm)</th>

		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>SM </td>
								<td>6.3</td>
								<td>2.5</td>
		        			</tr>
		        			<tr>
					        	<td>MD </td>
								<td>7.6</td>
								<td>3  </td>
		        			</tr>
		        			<tr>
					        	<td>LG </td>
								<td>8.9</td>
								<td>3.5</td>
		        			</tr>
		        		
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  	 </div><!-- Responsive Table --> 
		      	 
	  </div>
    </div> 
		      
	 
  </div> <!-- MensPants -->

</div>
</div> <!-- SizeChartTab3 -->



</div><!-- tab-content tab-content-ys obs_sizechart -->
