<div>
      <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
          <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">ADULT</a></li>
          <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">YOUTH</a></li>
      </ul>
 </div>    

    <div class="tab-content tab-content--ys Sbs_sizechart">

            <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Shoei Helmets Mens Size Chart" style="margin: 0 auto;"></p>
                        <br>
                        <div>
                          <h4><b>HOW TO DETERMINE YOUR HELMET SIZE</b></h4>
                          <h4><b><span style="color: red;">(H)</span> HEAD</b></h4>
                          <p>Wrap a cloth measuring tape around your head just above your eyebrows and ears. Pull the tape comfortably snug, read the length, repeat for good measure and use the largest measurement.</p>
                        </div>
                    </div>

                    <div class="col-sm-9 col-md-9 col-lg-9">

                        <div class="tab-content tab-content--ys">
                            <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                                <li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">HELMETS</a></li>

                                <li><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">RPHA SERIES, FG-JET, FG-17</a></li>

                                <li><a href="#SizeChartMenTab3" role="tab"data-toggle="tab" class="text-uppercase">CL-17 & CL-17 PLUS</a></li>
                            </ul>
                        
                
                            <div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">
                             <div class="table_responsive">
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                       <thead>
                                           <tr>
                                              <th>SIZE</th>
                                              <th>HEAD (CM)</th>
                                              <th>HAT SIZE</th>
                                              <th>HEAD (IN)</th>
                                           </tr>
                                       </thead>
                                        <tr>
                                            <td>2XS</td>
                                            <td>51 - 52</td>
                                            <td>6 <sup>3</sup>/<sub>8</sub> - 6 <sup>1</sup>/<sub>2</sub></td>
                                            <td>20 <sup>1</sup>/<sub>8</sub> - 20 <sup>1</sup>/<sub>2</sub></td>
                                        </tr>
                                        <tr>
                                            <td>XS</td>
                                            <td>53 - 54</td>
                                            <td>6 <sup>5</sup>⁄<sub>8</sub> - 6 <sup>3</sup>⁄<sub>4</sub></td>
                                            <td>20 <sup>7</sup>⁄<sub>8</sub> - 21 <sup>1</sup>⁄<sub>4</sub></td>
                                        </tr>
                                        <tr>
                                            <td>SM</td>
                                            <td>55 - 56</td>
                                            <td>6 <sup>7</sup>⁄<sub>8</sub> - 7</td>
                                            <td>21 <sup>5</sup>⁄<sub>8</sub> - 22</td>
                                        </tr>
                                        <tr>
                                            <td>MD</td>
                                            <td>57 - 58</td>
                                            <td>7 <sup>1</sup>⁄<sub>8</sub> - 7 <sup>1</sup>⁄<sub>4</sub></td>
                                            <td>22 <sup>1</sup>⁄<sub>2</sub> - 22 <sup>7</sup>⁄<sub>8</sub></td>
                                        </tr>
                                        <tr>
                                            <td>LG</td>
                                            <td>59 - 60</td>
                                            <td>7 <sup>3</sup>⁄<sub>8</sub> - 7 <sup>1</sup>⁄<sub>2</sub></td>
                                            <td>23 <sup>1</sup>⁄<sub>4</sub> - 23 <sup>5</sup>⁄<sub>8</sub></td>
                                        </tr>
                                        <tr>
                                            <td>XL</td>
                                            <td>61 - 62</td>
                                            <td>7 <sup>5</sup>⁄<sub>8</sub> - 7 <sup>3</sup>⁄<sub>4</sub></td>
                                            <td>24 - 24 <sup>3</sup>⁄<sub>8</sub></td>
                                        </tr>
                                        <tr>
                                            <td>2XL</td>
                                            <td>63 - 64</td>
                                            <td>7 <sup>7</sup>⁄<sub>8</sub> - 8</td>
                                            <td>24 <sup>3</sup>⁄<sub>4</sub> - 25 <sup>1</sup>⁄<sub>8</sub></td>
                                        </tr>
                                        <tr>
                                            <td>3XL</td>
                                            <td>65 - 66</td>
                                            <td>8 <sup>1</sup>⁄<sub>8</sub> - 8 <sup>1</sup>⁄<sub>4</sub></td>
                                            <td>25 <sup>5</sup>⁄<sub>8</sub> - 26</td>
                                        </tr>
                                        <tr>
                                            <td>4XL</td>
                                            <td>67 – 68</td>
                                            <td>8 <sup>3</sup>⁄<sub>8</sub> - 8 <sup>1</sup>⁄<sub>2</sub></td>
                                            <td>26 <sup>3</sup>⁄<sub>8</sub> - 26 <sup>3/<sub>4</sub></sup></td>
                                        </tr>
                                        <tr>
                                            <td>5XL</td>
                                            <td>69 – 70</td>
                                            <td>8 <sup>3</sup>⁄<sub>4</sub> - 8 <sup>3</sup>⁄<sub>4</sub></td>
                                            <td>27 <sup>1</sup>⁄<sub>4</sub> - 27 <sup>5/<sub>8</sub></sup></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div> <!-- table_responsive //-->
                        
                        <div role="tabpanel" class="tab-pane" id="SizeChartMenTab2">
                            <div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                   <thead>
                                       <tr>
                                          <th>SIZE</th>
                                          <th>HEAD (CM)</th>
                                          <th>HAT SIZE</th>
                                          <th>HEAD (IN)</th>
                                       </tr>
                                   </thead>
                                    <tr>
                                        <td>XS</td>
                                        <td>54 – 55</td>
                                        <td>6 <sup>3</sup>/<sub>4</sub> - 6 <sup>7</sup>/<sub>8</sub></td>
                                        <td>21 <sup>1</sup>/<sub>4</sub> - 21 <sup>5</sup>/<sub>8</sub></td>
                                    </tr>
                                    <tr>
                                        <td>S</td>
                                        <td>55 – 56</td>
                                        <td>6 <sup>7</sup>⁄<sub>8</sub> - 7</td>
                                        <td>21 <sup>5</sup>⁄<sub>8</sub> - 22</td>
                                    </tr>
                                    <tr>
                                        <td>M</td>
                                        <td>57 – 58</td>
                                        <td>7 <sup>1</sup>⁄<sub>8</sub> - 7 <sup>1</sup>/<sub>4</sub></td>
                                        <td>22 <sup>1</sup>⁄<sub>2</sub> - 22 <sup>7</sup>/<sub>8</sub></td>
                                    </tr>
                                    <tr>
                                        <td>L</td>
                                        <td>58 – 59</td>
                                        <td>7 <sup>1</sup>⁄<sub>4</sub> - 7 <sup>3</sup>⁄<sub>8</sub></td>
                                        <td>22 <sup>7</sup>⁄<sub>8</sub> - 23 <sup>1</sup>⁄<sub>4</sub></td>
                                    </tr>
                                    <tr>
                                        <td>XL</td>
                                        <td>60 – 61</td>
                                        <td>7 <sup>1</sup>⁄<sub>2</sub> - 7 <sup>5</sup>⁄<sub>8</sub></td>
                                        <td>23 <sup>5</sup>⁄<sub>8</sub> - 24</td>
                                    </tr>
                                    <tr>
                                        <td>2XL</td>
                                        <td>62 – 63</td>
                                        <td>7 <sup>3</sup>⁄<sub>4</sub> - 7 <sup>7</sup>⁄<sub>8</sub></td>
                                        <td>24<sup>3</sup>⁄<sub>8</sub> - 24 <sup>3</sup>/<sub>4</sub></td>
                                    </tr>
                                    <tr>
                                        <td>3XL</td>
                                        <td>64 – 65</td>
                                        <td>8 - 8 <sup>1</sup>/<sub>8</sub></td>
                                        <td>25 <sup>1</sup>⁄<sub>4</sub> - 25 <sup>5</sup>⁄<sub>8</sub></td>
                                    </tr>
                                </tbody>
                              </table>
                            </div> <!-- table_responsive //-->
                        </div> 

                        <div role="tabpanel" class="tab-pane" id="SizeChartMenTab3">
                            <div class="table_responsive">
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                       <thead>
                                           <tr>
                                              <th>SIZE</th>
                                              <th>HEAD (CM)</th>
                                              <th>HAT SIZE</th>
                                              <th>HEAD (IN)</th>
                                           </tr>
                                       </thead>
                                        <tr>
                                            <td>XS</td>
                                            <td>54 – 55</td>
                                            <td>6 <sup>3</sup>/<sub>4</sub> - 6 <sup>7</sup>/<sub>8</sub></td>
                                            <td>21 <sup>1</sup>/<sub>4</sub> - 21 <sup>5</sup>/<sub>8</sub></td>
                                        </tr>
                                        <tr>
                                            <td>S</td>
                                            <td>56 – 57</td>
                                            <td>7 - 7<sup>1</sup>⁄<sub>8</sub></td>
                                            <td>22 - 22<sup>1</sup>⁄<sub>2</sub></td>
                                        </tr>
                                        <tr>
                                            <td>M</td>
                                            <td>58 – 59</td>
                                            <td>7 <sup>1</sup>⁄<sub>4</sub> - 7<sup>3</sup>/<sub>8</sub></td>
                                            <td>22 <sup>7</sup>⁄<sub>8</sub> - 23<sup>1</sup>/<sub>4</sub></td>
                                        </tr>
                                        <tr>
                                            <td>L</td>
                                            <td>60 – 61</td>
                                            <td>7 <sup>1</sup>⁄<sub>2</sub> - 7 <sup>5</sup>⁄<sub>8</sub></td>
                                            <td>23<sup>5</sup>⁄<sub>8</sub> - 24</td>
                                        </tr>
                                        <tr>
                                            <td>XL</td>
                                            <td>62 – 63</td>
                                            <td>7<sup>3</sup>⁄<sub>4</sub> - 24<sup>7</sup>⁄<sub>8</sub></td>
                                            <td>23<sup>3</sup>⁄<sub>8</sub> - 24<sup>3</sup>/<sub>4</sub></td>
                                        </tr>
                                        <tr>
                                            <td>2XL</td>
                                            <td>63 – 64</td>
                                            <td>8 - 8<sup>1</sup>⁄<sub>8</sub></td>
                                            <td>25<sup>1</sup>⁄<sub>4</sub> - 25<sup>5</sup>/<sub>8</sub></td>
                                        </tr>
                                        <tr>
                                            <td>3XL</td>
                                            <td>65 – 66</td>
                                            <td>8<sup>1</sup>/<sub>8</sub> - 8<sup>1</sup>/<sub>4</sub></td>
                                            <td>25<sup>5</sup>⁄<sub>8</sub> - 26</td>
                                        </tr>
                                        <tr>
                                            <td>4XL</td>
                                            <td>67 – 68</td>
                                            <td>8<sup>3</sup>/<sub>8</sub> - 8<sup>1</sup>/<sub>2</sub></td>
                                            <td>26<sup>3</sup>⁄<sub>8</sub> - 26<sup>3</sup>/<sub>4</sub></td>
                                        </tr>
                                        <tr>
                                            <td>5XL</td>
                                            <td>69 – 70</td>
                                            <td>8<sup>3</sup>/<sub>4</sub> - 8<sup>3</sup>/<sub>4</sub></td>
                                            <td>27<sup>1</sup>⁄<sub>4</sub> - 27<sup>5</sup>/<sub>8</sub></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> <!-- table_responsive //-->
                        </div>
                    </div>
                </div>

            </div>
            </div> <!-- SizeChartTab1 //-->


            <div role="tabpanel" class="tab-pane" id="SizeChartTab2">


                <div role="tabpanel" class="tab-pane active" id="SizeChartWomenTab1">

                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Shoei Helmets Mens Size Chart" style="margin: 0 auto;"></p>
                                <br>
                                <div>
                                  <h4><b>HOW TO DETERMINE YOUR HELMET SIZE</b></h4>
                                  <h4><b><span style="color: red;">(H)</span> HEAD</b></h4>
                                  <p>Wrap a cloth measuring tape around your head just above your eyebrows and ears. Pull the tape comfortably snug, read the length, repeat for good measure and use the largest measurement.</p>
                                </div>
                            </div>
                            <div class="col-sm-9 col-md-9 col-lg-9">

                                <div class="tab-content tab-content--ys">
                                    <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                                        <li class="active"><a href="#SizeChartWomenTab1" role="tab"data-toggle="tab" class="text-uppercase">HELMETS</a></li>
                                    </ul>
                                
                                <div role="tabpanel" class="tab-pane active" id="SizeChartWomenTab1">
                                    <div class="table_responsive">
                                          <table class="table table-bordered table-striped">
                                             <tbody>
                                               <thead>
                                                   <tr>
                                                      <th>SIZE</th>
                                                      <th>HEAD (CM)</th>
                                                      <th>HAT SIZE</th>
                                                      <th>HEAD (IN)</th>
                                                   </tr>
                                               </thead>
                                                <tr>
                                                    <td>YOUTH S</td>
                                                    <td>49 – 50</td>
                                                    <td>6<sup>1</sup>/<sub>8</sub> - 6<sup>1</sup>/<sub>4</sub></td>
                                                    <td>19<sup>1</sup>/<sub>4</sub> - 19<sup>3</sup>/<sub>4</sub></td>
                                                </tr>
                                                <tr>
                                                    <td>YOUTH M</td>
                                                    <td>51 – 52</td>
                                                    <td>6<sup>3</sup>⁄<sub>8</sub> - 6<sup>1</sup>⁄<sub>2</sub></td>
                                                    <td>20 - 20<sup>1</sup>⁄<sub>2</sub></td>
                                                </tr>
                                                <tr>
                                                    <td>YOUTH L</td>
                                                    <td>53 – 54</td>
                                                    <td>6<sup>5</sup>⁄<sub>8</sub> - 6<sup>3</sup>/<sub>4</sub></td>
                                                    <td>20<sup>7</sup>⁄<sub>8</sub> - 21<sup>1</sup>/<sub>4</sub></td>
                                                </tr>
                                                <tr>
                                                    <td>YOUTH S/M</td>
                                                    <td>49 – 50</td>
                                                    <td>6<sup>1</sup>⁄<sub>8</sub> - 6<sup>1</sup>⁄<sub>4</sub></td>
                                                    <td>19<sup>1</sup>⁄<sub>4</sub> - 19<sup>3</sup>⁄<sub>4</sub></td>
                                                </tr>
                                                <tr>
                                                    <td>YOUTH L/XL</td>
                                                    <td>6<sup>3</sup>/<sub>8</sub> - 6<sup>1</sup>/<sub>2</sub></td>
                                                    <td>6<sup>3</sup>⁄<sub>8</sub> - 6<sup>1</sup>⁄<sub>2</sub></td>
                                                    <td>20 - 20<sup>1</sup>⁄<sub>2</sub></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div> 
                                </div> <!-- table_responsive //-->
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- SizeChartWomenTab1 //-->


        </div> <!-- SizeChartTab2 //-->