<style>
  .new_davz_wall_collection_list{
    /* font-family: "hurme-regular"; */
    text-transform: uppercase;
    font-size: .90em;
    color: #222;
    letter-spacing: .110em;
    display: block;
    width: 100%;
    transition: all .5s ease 0s;
    padding: 5px;
    margin-left: 18px;
  }
  .hide-collection li:before{
    display: none;
    vertical-align: middle;
    float: left;
    color: black;
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    content: "\e019";
    font-size: .80em;
    transition: all .5s ease 0s;
    position: relative;
    top: 7px; 
  }

  #more_info{
    display:none; 
  }
</style>

{% if "logo" == condition %}

<a href = "/collections/sena">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/main_banner_1919b746-09bc-48cc-95b9-da19f8fafe8b.jpg?v=1616224144" alt="Sena Motorcycle Riding Gear & Accessories" title =  "Sena Motorcycle Riding Gear & Accessories">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/main_banner_mobile_f1a4a146-0e9f-477a-8229-c419fae786bf.jpg?v=1616224144" alt="Sena Motorcycle Riding Gear & Accessories" title =  "Sena Motorcycle Riding Gear & Accessories">
</a>


{% elsif "header" == condition %}

<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
<!--     <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li> -->
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/sena" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>


<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
<!--     <li><a href="#more_info"><span class="label">More Info</span></a></li> -->
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->




{% elsif "collection" == condition %}


<div class="container-fluid" style="margin-top: -25px;">
  
    <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/sena">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/senna-banner.jpg?v=1616228252" alt="Sena Motorcycle Helmets & Accessories" title = "Sena Motorcycle Helmets & Accessories">
      </a>
    </div>
  </div>


</div>








{% elsif "lookbooks" == condition %}

{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
{% assign counter = 0 %}
{% paginate blogs['lookbook'].articles by totalLookbookCount %}
{% for article in blogs['lookbook'].articles %}
{% if counter < 6 and article.tags contains 'Sena' or article.tags contains 'sena brand' %}
{% assign counter = counter | plus: 1 %}
<div class="col-sm-2 col-md-2 col-lg-2">

  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
    <div>
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
    </div>

    <div class="TeaserGrid-content" style="margin-top: 6px;">
      <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
    </div>                       
  </a>

</div>



{% endif %}
{% endfor %}
{% endpaginate %}

<div class="divider divider--md"></div>
<div class="visible-xs text-center" id="dmore-lb">
  <a href="/search?type=article&q=sena" class="btn btn--ys btn--xl obs_show_more_btn text-center margin_top-50"></a>
</div>





{% elsif "brand_sizing_guide" == condition %}
<div class="divider divider--md"></div>
<section id="section-sizingchart" class="section_table cd-section">

  <div class ="row">


    {% include "page.sena-size-chart" %}
  </div>
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sena_logo.jpg?v=1616219714" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/sena_logo.jpg?v=1616219714">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class= "row">
          	<h3>GLOBAL BLUETOOTH SOLUTIONS AND INNOVATIONS</h3>
          	<p>Recognized as the global leader in producing innovative rider communication solutions, Sena has enjoyed collaborating with many industry giants including AGV, HJC Helmets, Icon Racing, KLIM, LS2 Helmets, Schuberth, Shoei, BMW Motorrad and Harley Davidson to develop custom communication products for these great brands.</p>
          	<p>Sena communication devices help you stay connected and in control for Motorcycling, Cycling, Outdoor, Industrial and beyond. Whoever you are, there's a Sena for you.</p>
          	<h3>THE SENA WAY</h3>
          	<p style="font-weight: bold;">Passion for Adventure. Obsession with Perfection.</p>
            <i><p>"We believe there’s no such thing as a viable shortcut in the pursuit of a passion. We are all motorcycle riders and technology enthusiasts here at Sena, including our CEO. So when we develop new products, we go to great lengths to ensure the final version is everything we dreamed it could be … and everything our customers expect it to be</p>
            <div class = "hidden-content">
              <p>Along the way, we expect to shatter preconceived paradigms and challenge conventional limitations, especially when accompanied by the word “can’t.” We boldly lay our visions on the table to be critiqued and reshaped before we experiment and refine every technical detail, every design decision, and every material used until it’s just right. Then, we take our ideas for a ride ourselves to see if they can keep up with our own untamed senses of adventure … and revise them again. Finally, we mark them with the Sena name, which represents our approval to be fit for the adventures our customers dream about. Adventures we’ll help them create and enhance</p>
<p>This is the Sena way. Has been since we got our start in 1998. Our passion for adventure and obsession with perfection fuels us … and hopefully translates through our products to inspire our customers to challenge the confines of their ordinary routines and pursue their own adventures of a lifetime."</p></i>
             </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% elsif "brand_story" == condition %}




{% endif %}

<script>

  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('#helmet-collections').hover(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','black');
      $j('.helmets-text').css('color','black');
    });
    $j('#helmet-collections').mouseleave(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','#6b6b6b');
      $j('.helmets-text').css('color','#3a3a3a');
    });
    $j('#jacket-collections').hover(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','black');
      $j('.jackets-text').css('color','black');
    });
    $j('#jacket-collections').mouseleave(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','#6b6b6b');
      $j('.jackets-text').css('color','#3a3a3a');
    });
    $j('#gloves-collections').hover(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','black');
      $j('.gloves-text').css('color','black');
    });
    $j('#gloves-collections').mouseleave(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','#6b6b6b');
      $j('.gloves-text').css('color','#3a3a3a');
    });
    $j('#pants-collections').hover(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','black');
      $j('.pants-text').css('color','black');
    });
    $j('#pants-collections').mouseleave(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','#6b6b6b');
      $j('.pants-text').css('color','#3a3a3a');
    });
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });


  });
</script>