<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
               margin-top: -123px;
          }
    } 

    .head-size{
      padding: 33px 4px; text-align: center; font-size: 15px;
    }

    .mobile-tr{
      font-size: 15px;
    }
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">HELMETS</a></li>

</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  
  <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/size-icon.jpg?v=1616210916" alt="Sena Helmets Size Charts" title="Sena Helmets Size Charts" style="margin: 0 auto;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive hidden-xs">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                  <th>Size</th>
                  <th>Head (centimeters)</th>
                  <th>Head (inches)</th>
                  <th>Hat Size (inches)</th>
              </tr>
            </thead>
              <tbody>

                  <tr>
                        <td colspan="4" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 23px;">Momentum EVO</td>
                  </tr>
                  
                  
                  <tr>
                    <td>M</td>
                    <td>57 - 58cm</td>
                    <td>22 1/2 - 22 7/8"</td>
                    <td>6 7/8 -7"</td>
                  </tr>
                  
               
                  <tr>
                    <td>L</td>
                    <td>59 - 60cm</td>
                    <td>23 1/4 - 23 5/8"</td>
                    <td>7 3/8 - 7 1/2"</td>
                  </tr>
                  
                 
                  <tr>
                    <td>XL</td>
                    <td>61 - 62cm</td>
                    <td>24 - 24 3/8"</td>
                    <td>7 5/8 - 7 3/4"</td>
                  </tr>

                  <tr>
                        <td colspan="4" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 23px;">Outrush</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>55 - 56cm</td>
                    <td>21 5/8 - 22"</td>
                    <td>6 7/8 - 7"</td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>57 - 58cm</td>
                    <td>22 1/2 - 22 7/8"</td>
                    <td>6 7/8 -7"</td>
                  </tr>
                  
               
                  <tr>
                    <td>L</td>
                    <td>59 - 60cm</td>
                    <td>23 1/4 - 23 5/8"</td>
                    <td>7 3/8 - 7 1/2"</td>
                  </tr>
                  
                 
                  <tr>
                    <td>XL</td>
                    <td>61 - 62cm</td>
                    <td>24 - 24 3/8"</td>
                    <td>7 5/8 - 7 3/4"</td>
                  </tr>

                  <tr>
                        <td colspan="4" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 23px;">Outstar</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>57 - 58cm</td>
                    <td>22 1/2 - 22 3/4"</td>
                    <td>7 1/8 - 7 1/4"</td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>59 - 60cm</td>
                    <td>23 1/4 - 23 5/8"</td>
                    <td>7 3/8 -7 1/2"</td>
                  </tr>
                  
               
                  <tr>
                    <td>L</td>
                    <td>61 - 62cm</td>
                    <td>24 - 24 3/8"</td>
                    <td>7 5/8 - 7 3/4"</td>
                  </tr>
                  
                 
                  <tr>
                    <td>XL</td>
                    <td>63 - 64cm</td>
                    <td>24 3/4 - 25 1/8"</td>
                    <td>7 7/8 - 8"</td>
                  </tr>

                  <tr>
                        <td colspan="4" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 23px;">Momentum | Momentum <span style="color: #ff7b75;"> INC Pro</span> /<span style="color: #ff7b75;"> Pro</span> /<span style="color: #ff7b75;"> INC</span> /<span style="color: #ff7b75;"> Lite</span> | Savage | Cavalry</td>
                  </tr>

                  <tr>
                    <td>XS</td>
                    <td>53 - 54cm</td>
                    <td>20 7/8 - 21 1/4"</td>
                    <td>6 5/8 - 6 3/4"</td>
                  </tr>

                  <tr>
                    <td>S</td>
                    <td>55 - 56cm</td>
                    <td>21 5/8 - 22"</td>
                    <td>6 7/8 - 7"</td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>57 - 58cm</td>
                    <td>22 1/2 - 22 7/8"</td>
                    <td>6 7/8 -7"</td>
                  </tr>
                  
               
                  <tr>
                    <td>L</td>
                    <td>59 - 60cm</td>
                    <td>23 1/4 - 23 5/8"</td>
                    <td>7 3/8 - 7 1/2"</td>
                  </tr>
                  
                 
                  <tr>
                    <td>XL</td>
                    <td>61 - 62cm</td>
                    <td>24 - 24 3/8"</td>
                    <td>7 5/8 - 7 3/4"</td>
                  </tr>

                  <tr>
                    <td>2XL</td>
                    <td>63 - 64cm</td>
                    <td>24 3/4 - 25 1/4"</td>
                    <td>7 7/8 - 8"</td>
                  </tr>


            </tbody>
          </table>
          <p class="sizechart-note" style="font-size: 15px;"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table -->  
    </div>

    <div class="table_responsive visible-xs" style="font-size: 8px;">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                  <th style="padding: 33px 4px; text-align: center; font-size: 15px;">Size</th>
                  <th style="padding: 33px 4px; text-align: center; font-size: 15px;">Head (cm)</th>
                  <th style="padding: 33px 4px; text-align: center; font-size: 15px;">Head (in)</th>
                  <th style="padding: 33px 4px; text-align: center; font-size: 15px;">Hat (in)</th>
              </tr>
            </thead>
              <tbody>

                  <tr>
                        <td colspan="4" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 23px;">MOMENTUM EVO</td>
                  </tr>
                  <tr class="mobile-tr">
                    <td>M</td>
                    <td>57 - 58cm</td>
                    <td>22 1/2 - 22 7/8"</td>
                    <td>6 7/8 -7"</td>
                  </tr>
                  
               
                  <tr class="mobile-tr">
                    <td>L</td>
                    <td>59 - 60cm</td>
                    <td>23 1/4 - 23 5/8"</td>
                    <td>7 3/8 - 7 1/2"</td>
                  </tr>
                  
                 
                  <tr class="mobile-tr">
                    <td>XL</td>
                    <td>61 - 62cm</td>
                    <td>24 - 24 3/8"</td>
                    <td>7 5/8 - 7 3/4"</td>
                  </tr>

                  <tr>
                        <td colspan="4" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 23px;">OUTRUSH</td>
                  </tr>
                  <tr class="mobile-tr">
                    <td>S</td>
                    <td>55 - 56cm</td>
                    <td>21 5/8 - 22"</td>
                    <td>6 7/8 - 7"</td>
                  </tr>
                  
                  <tr class="mobile-tr">
                    <td>M</td>
                    <td>57 - 58cm</td>
                    <td>22 1/2 - 22 7/8"</td>
                    <td>6 7/8 -7"</td>
                  </tr>
                  
               
                  <tr class="mobile-tr">
                    <td>L</td>
                    <td>59 - 60cm</td>
                    <td>23 1/4 - 23 5/8"</td>
                    <td>7 3/8 - 7 1/2"</td>
                  </tr>
                  
                 
                  <tr class="mobile-tr">
                    <td>XL</td>
                    <td>61 - 62cm</td>
                    <td>24 - 24 3/8"</td>
                    <td>7 5/8 - 7 3/4"</td>
                  </tr>

                  <tr>
                        <td colspan="4" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 23px;">OUTSTAR</td>
                  </tr>
                  <tr class="mobile-tr">
                    <td>S</td>
                    <td>57 - 58cm</td>
                    <td>22 1/2 - 22 3/4"</td>
                    <td>7 1/8 - 7 1/4"</td>
                  </tr>
                  
                  <tr class="mobile-tr">
                    <td>M</td>
                    <td>59 - 60cm</td>
                    <td>23 1/4 - 23 5/8"</td>
                    <td>7 3/8 -7 1/2"</td>
                  </tr>
                  
               
                  <tr class="mobile-tr">
                    <td>L</td>
                    <td>61 - 62cm</td>
                    <td>24 - 24 3/8"</td>
                    <td>7 5/8 - 7 3/4"</td>
                  </tr>
                  
                 
                  <tr class="mobile-tr">
                    <td>XL</td>
                    <td>63 - 64cm</td>
                    <td>24 3/4 - 25 1/8"</td>
                    <td>7 7/8 - 8"</td>
                  </tr>

                  <tr>
                        <td colspan="4" style="text-transform: uppercase;text-align: center;font-weight: bold;font-size: 23px;">Momentum | Momentum <span style="color: #ff7b75;"> INC Pro</span> /<span style="color: #ff7b75;"> Pro</span> /<span style="color: #ff7b75;"> INC</span> /<span style="color: #ff7b75;"> Lite</span> | Savage | Cavalry</td>
                  </tr>

                  <tr class="mobile-tr">
                    <td>XS</td>
                    <td>53 - 54cm</td>
                    <td>20 7/8 - 21 1/4"</td>
                    <td>6 5/8 - 6 3/4"</td>
                  </tr>

                  <tr class="mobile-tr">
                    <td>S</td>
                    <td>55 - 56cm</td>
                    <td>21 5/8 - 22"</td>
                    <td>6 7/8 - 7"</td>
                  </tr>
                  
                  <tr class="mobile-tr">
                    <td>M</td>
                    <td>57 - 58cm</td>
                    <td>22 1/2 - 22 7/8"</td>
                    <td>6 7/8 -7"</td>
                  </tr>
                  
               
                  <tr class="mobile-tr">
                    <td>L</td>
                    <td>59 - 60cm</td>
                    <td>23 1/4 - 23 5/8"</td>
                    <td>7 3/8 - 7 1/2"</td>
                  </tr>
                  
                 
                  <tr class="mobile-tr">
                    <td>XL</td>
                    <td>61 - 62cm</td>
                    <td>24 - 24 3/8"</td>
                    <td>7 5/8 - 7 3/4"</td>
                  </tr>

                  <tr class="mobile-tr">
                    <td>2XL</td>
                    <td>63 - 64cm</td>
                    <td>24 3/4 - 25 1/4"</td>
                    <td>7 7/8 - 8"</td>
                  </tr>


            </tbody>
          </table>
          <p class="sizechart-note" style="font-size: 15px;"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table -->  
    </div>


  </div>
</div> <!-- SizeChartTab1 -->



</div><!-- tab-content tab-content-ys obs_sizechart -->
</div>