<div>
  <ul class="nav nav-tabs nav-tabs--ys" role="tablist">

    <li class="active"><a href="#Store-wall-SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

    <li><a href="#Store-wall-SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

    <li><a href="#Store-wall-SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>

  </ul>
</div>

<div class="tab-content tab-content--ys Sbs_store-wall-sizechart">

<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartTab1">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

      <li class="active"><a href="#Store-wall-SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Top</a></li>

      <li><a href="#Store-wall-SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Bottom</a></li>

      <li><a href="#Store-wall-SizeChartMenTab3" role="tab"data-toggle="tab" class="text-uppercase">Sweatshirt / Hoodies</a></li>

      <li><a href="#Store-wall-SizeChartMenTab4" role="tab"data-toggle="tab" class="text-uppercase">Outerwear</a></li>

      <li><a href="#Store-wall-SizeChartMenTab6" role="tab"data-toggle="tab" class="text-uppercase">Glove Fit</a></li>

  </ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartMenTab1">

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/lrg-mens-top-size-chart.jpg?15512173412290867352" alt="LRG Mens Top Size Chart">
        </center>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Size</th>
               <th scope="col">A | Chest</th>
              <th scope="col">B | Length</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Small</td>
              <td>38" (95 CM)</td>
              <td>29" (72.5 CM)</td>
            </tr>
            <tr>
              <td>Medium</td>
              <td>41" (102.5 CM)</td>
              <td>30" (75 CM)</td>
            </tr>
            <tr>
              <td>Large</td>
              <td>44" (110 CM)</td>
              <td>31" (77.5 CM)</td>
            </tr>
            <tr>
              <td>X-Large</td>
              <td>50" (125 CM)</td>
              <td>33" (82.5 CM)</td>
            </tr>
          </tbody>
        </table>
        </div><!-- Responsive Table -->
      </div>
  </div> <!-- End Row -->
</div> <!-- Store-wall-SizeChartMenTab1 -->

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab2">

      <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/lrg-mens-bottom-size-chart.jpg?12966146058040523425" alt="Neff Mens Bottom Size Chart">
        </center>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Size</th>
               <th scope="col">Waist</th>
              <th scope="col">Inseam</th>
            </tr>
          </thead>
          <tbody>
             <tr>
            <td>Small</td>
            <td>27" - 29" (67.5 CM - 72.5 CM)</td>
            <td>30" (75 CM)</td>
            </tr>
            <tr>
            <td>Medium</td>
            <td>30" - 32" (75 CM - 80 CM)</td>
            <td>30" - 32" (75 CM - 80 CM)</td>

            </tr>
            <tr>
            <td>Large</td>
            <td>33" - 35" (82.5 CM - 87.5 CM)</td>
            <td>32" - 34" (80 CM - 85 CM)</td>
            </tr> 
            <tr>
            <td>X-Large</td>
            <td>36" - 38" (90 CM - 95 CM)</td>
            <td>32" - 34" (80 CM - 85 CM)</td>
            </tr> 
            <tr>
            <td>XX-Large</td>
            <td>39" - 41" (97.5 CM - 102.5 CM)</td>
            <td>32" - 34" (80 CM - 85 CM)</td>
            </tr>
          </tbody>
        </table>
        </div><!-- Responsive Table -->
      </div>
  </div> <!-- End Row -->

</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab3">

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/neff-men-sweatshirts-size-chart.jpg?10333757711143846668" alt="Neff Mens Sweatshirts Size Chart"></center>
    </div>
    
    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="table_responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Size</th>
                            <th scope="col">A | Chest</th>
                            <th scope="col">B | Length</th>
                            <th scope="col">C | Sleeve</th>
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>Small</td>
                          <td>43" (109 CM)</td>
                          <td>28.5" (71 CM)</td>
                          <td>27" (67.5 CM)</td>
                      </tr>
                      <tr>
                          <td>Medium</td>
                          <td>44" (112 CM)</td>
                          <td>30" (75 CM)</td>
                          <td>27.5" (68.5 CM)</td>
                      </tr>
                      <tr>
                          <td>Large</td>
                          <td>46" (117 CM)</td>
                          <td>31.5" (78.5 CM)</td>
                          <td>28" (70 CM)</td>
                      </tr>
                      <tr>
                          <td>X-Large</td>
                          <td>47" (122 CM)</td>
                          <td>33" (82.5 CM)</td>
                          <td>28.5" (71 CM)</td>
                      </tr>
                      <tr>
                          <td>XX-Large</td>
                          <td>50" (127 CM)</td>
                          <td>34.5" (86 CM)</td>
                          <td>29" (72.5 CM)</td>
                      </tr>
                    </tbody>
                </table>
          </div><!-- Responsive Table -->
      </div>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab4">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <center>
        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/lrg-mens-outerwear-size-chart.jpg?17891707642914210022" alt="Neff Men Outerwear Size Chart">
       </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div>
        <h4><b>OUTERWEAR JACKETS</b></h4>
        <div class="table_responsive">
            <table class="table table-bordered table-striped billa_boys">
              <thead>
                <tr>
                      <th scope="col">Size</th>
                      <th scope="col">A | Chest</th>
                      <th scope="col">B | Length at HPS</th>
                      <th scope="col">C | Sleeve</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                        <td>Small</td>
                        <td>36" - 37" (91 - 94 CM)</td>
                        <td>31" (78.7 CM)</td>
                        <td>28" (70 CM)</td>
                  </tr>
                <tr>
                        <td>Medium</td>
                        <td>38" - 39" (96 - 99 CM)</td>
                        <td>32" (81.3 CM)</td>
                        <td>28.5" (71 CM)</td>
                </tr>
                <tr>
                        <td>Large</td>
                        <td>40" - 41" (101 - 104 CM)</td>
                        <td>33" (83.8 CM)</td>
                        <td>29" (72.5 CM)</td>
                </tr>
                <tr>
                        <td>X-Large</td>
                        <td>42" - 44" (106 - 109 CM)</td>
                        <td>34" (86.36 CM)</td>
                        <td>29.5" (74 CM)</td>
                </tr>  
                <tr>
                        <td>XX-Large</td>
                        <td>45" - 47" (114 - 119 CM)</td>
                        <td>35" (88.9 CM)</td>
                        <td>30" (75 CM)</td>
                </tr>      
              </tbody>
            </table>
          </div><!-- Responsive Table -->  
        </div>

        <div>
          <h4><b>OUTERWEAR PANTS</b></h4>
          <div class="table_responsive">
            <table class="table table-bordered table-striped billa_boys">
              <thead>
                <tr>
                      <th scope="col">Size</th>
                      <th scope="col">D | Waist</th>
                      <th scope="col">E | Inseam</th>
                </tr>
              </thead>
              <tbody>
                      <tr>
                          <td>Small</td>
                          <td>30" - 32" (75 CM - 80 CM)</td>
                          <td>30" - 31" (75 CM - 78.7 CM)</td>
                      </tr>
                      <tr>
                          <td>Medium</td>
                          <td>32" - 34" (80 CM - 85 CM)</td>
                          <td>31" - 32" (78.7 CM - 81.3 CM)</td>
                      </tr>
                      <tr>
                          <td>Large</td>
                          <td>34" - 36" (85 CM - 90 CM)</td>
                          <td>33" - 34" (83.8 CM - 86.36 CM)</td>
                      </tr>
                      <tr>
                          <td>X-Large</td>
                          <td>36" - 38" (90 CM - 95 CM)</td>
                          <td>34" - 35" (86.36 CM - 88.9 CM)</td>
                      </tr>   
                      <tr>
                          <td>XX-Large</td>
                          <td>38" - 40" (95 CM - 100 CM)</td>
                          <td>34" - 35" (86.36 CM - 88.9 CM)</td>
                      </tr>       
                </tbody>
              </table>
            </div><!-- Responsive Table -->  
          </div>
      </div>
      <div>
          <h4><code>* Measure the circumference</code></h4>
      </div>
  </div>

</div> <!-- End Store-wall-SizeChartMenTab4 -->  



<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab6">

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Neff Mens Gloves Size Chart">
        </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
      <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">Circumference</th>
                    </tr>
                </thead>
                <tbody>

                      <tr>
                          <td>Small</td>
                          <td>6.5" - 7.5" (16.5 CM - 19 CM)</td>
                      </tr>
                      <tr>
                          <td>Medium</td>
                          <td>7.5" - 8.5" (19 CM - 21.5 CM)</td>
                      </tr>
                      <tr>
                          <td>Large</td>
                          <td>8.5" - 9.5" (21.5 CM - 24 CM)</td>
                      </tr>
                      <tr>
                          <td>X-Large</td>
                          <td>9.5" - 10.5" (24 CM - 27 CM)</td>
                      </tr>
                </tbody>
            </table>
        </div><!-- Responsive Table -->
      </div>
  </div> <!-- Row -->
</div>


<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab7">
      
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/qs-mens-gloves--size-chart.jpg?7162368965678288782" alt="Quiksilver Men's Gloves Size Chart">
        </center>
      </div>

      <div class="col-sm-7 col-md-7 col-lg-7">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td>A | Palm circumference</td>
                        <td>10</td>
                        <td>10.5</td>
                        <td>11</td>
                        <td>11.5</td>
                    </tr>
                    <tr>
                        <td>B | Back length</td>
                        <td>28.5</td>
                        <td>29</td>
                        <td>20.5</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>C | Palm length</td>
                        <td>20</td>
                        <td>21.5</td>
                        <td>22</td>
                        <td>22.5</td>
                    </tr>
                    <tr>
                        <td>D | Wrist opening</td>
                        <td>14.5</td>
                        <td>15.5</td>
                        <td>16</td>
                        <td>16.5</td>
                    </tr>
                    <tr>
                        <td>E | Index finger</td>
                        <td>7</td>
                        <td>7.5</td>
                        <td>8</td>
                        <td>8.3</td>
                    </tr>
                    <tr>
                        <td>F | Middle</td>
                        <td>7.7</td>
                        <td>8</td>
                        <td>8.5</td>
                        <td>9.2</td>
                    </tr>
                    <tr>
                        <td>G | Ring finger</td>
                        <td>7.2</td>
                        <td>7.7</td>
                        <td>8.2</td>
                        <td>8.5</td>
                    </tr>
                    <tr>
                        <td>H | Little finger</td>
                        <td>6</td>
                        <td>6.3</td>
                        <td>6.5</td>
                        <td>6.6</td>
                    </tr>
                    <tr>
                        <td>I | Thumb length</td>
                        <td>14</td>
                        <td>15</td>
                        <td>15.5</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>J | Sidewall index finger</td>
                        <td>10.5</td>
                        <td>10.7</td>
                        <td>11</td>
                        <td>11.5</td>
                    </tr>
                    <tr>
                        <td>K | Height wrist</td>
                        <td>7</td>
                        <td>7</td>
                        <td>7</td>
                        <td>7</td>
                    </tr>
                </tbody>
            </table>
      </div><!-- Responsive Table -->
    </div>
  </div> <!-- Row -->

</div> <!-- Store-wall-SizeChartMenTab7 -->

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab8">

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/qs-mens-water-man--size-chart.jpg?10151234593399134910" alt="Quiksilver Water Man Size Chart ">
        </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
      <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Top & Elastic Waist Bottom</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                        <th scope="col">XXL</th>  
                    </tr>
                </thead>
                <tbody>

                     <tr>
                        <td>A | Bottom size</td>
                        <td>30 - 31</td>
                        <td>32 - 33</td>
                        <td>34 - 35</td>
                        <td>36 - 38</td>
                        <td>40 - 44</td>
                    </tr>
                    <tr>
                        <td>B | Inseam</td>
                        <td>30 - 31</td>
                        <td>32 - 33</td>
                        <td>32</td>
                        <td>33</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>C | Waist</td>
                        <td>29.5" - 30.5"</td>
                        <td>31.5" - 32.5"</td>
                        <td>33.5" - 34.5"</td>
                        <td>35.5" - 37.5"</td>
                        <td>39.5" - 43.5"</td>
                    </tr>
                    <tr>
                        <td>D | Hip</td>
                        <td>40" - 41"</td>
                        <td>42" - 43"</td>
                        <td>44" - 45"</td>
                        <td>46" - 48"</td>
                        <td>50" - 54"</td>
                    </tr>
                    <tr>
                        <td>E | Neck</td>
                        <td>14"-14.5"</td>
                        <td>31"-31"</td>
                        <td>31"-31"</td>
                        <td>31"-31"</td>
                        <td>31"-31"</td>
                    </tr>
                    <tr>
                        <td>F | Chest</td>
                        <td>35"-37"</td>
                        <td>38"-40"</td>
                        <td>42"-44"</td>
                        <td>46"-48"</td>
                        <td>50"-52"</td>
                    </tr>
                    <tr>
                        <td>G | Long sleeve length measured from center of back</td>
                        <td>32"-33"</td>
                        <td>33"-34"</td>
                        <td>34"-35"</td>
                        <td>35"-36"</td>
                        <td>35"-36"</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- Responsive Table -->
    </div>
  </div> <!-- Row -->
</div> <!-- Store-wall-SizeChartMenTab8 -->

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab9">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/qs-mens-wetsuits--size-chart.jpg?7210767084125052920" alt="Quiksilver Men Wetsuits Size Chart ">
      </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Size</th>
                          <th scope="col">A | Height</th>
                          <th scope="col">Weight (lbs)</th>
                          <th scope="col">B | Chest</th>
                          <th scope="col">C | Waist</th>
                          <th scope="col">D | Hips</th>  
                          <th scope="col">E | Neck</th>  
                          <th scope="col">F | Inseam</th>  
                      </tr>
                  </thead>
                  <tbody>

                           <tr>
                            <td>XS</td>
                            <td>5'6"-5'8"</td>
                            <td>125-140</td>
                            <td>34"-36"</td>
                            <td>27"-29"</td>
                            <td>33"-35"</td>
                            <td>14.5"</td>
                            <td>26.5"-27.5"</td>
                          </tr>
                          <tr>
                            <td>S</td>
                            <td>5'7 1/2" - 5'9 1/2"</td>
                            <td>135-155</td>
                            <td>36"-38"</td>
                            <td>29"-31"</td>
                            <td>34"-36"</td>
                            <td>15"</td>
                            <td>27.5"-28.5"</td>
                          </tr>
                          <tr>
                            <td>ST</td>
                            <td>5'9" - 5'11"</td>
                            <td>140-160</td>
                            <td>36"-38"</td>
                            <td>29"-31"</td>
                            <td>34"-36"</td>
                            <td>15"</td>
                            <td>28.5"-29.5"</td>
                          </tr>
                          <tr>
                            <td>MS</td>
                            <td>5'7 1/2" - 5'9 1/2"</td>
                            <td>140-160</td>
                            <td>38"-40"</td>
                            <td>31"-33"</td>
                            <td>35"-37"</td>
                            <td>15.5"</td>
                            <td>27.5"-28.5"</td>
                          </tr>
                          <tr>
                            <td>M</td>
                            <td>5'9" - 5'11"</td>
                            <td>150 - 170</td>
                            <td>38" - 40"</td>
                            <td>31" - 33"</td>
                            <td>35" - 37"</td>
                            <td>15.5"</td>
                            <td>28.5"-29.5"</td>
                          </tr>
                          <tr>
                            <td>MT</td>
                            <td>5'11" - 6'1"</td>
                            <td>155 - 175</td>
                            <td>38"- 40"</td>
                            <td>31"- 33"</td>
                            <td>35" - 37"</td>
                            <td>15.5"</td>
                            <td>29.5"-30.5"</td>
                          </tr>
                          <tr>
                            <td>LS</td>
                            <td>5'9"-5'11"</td>
                            <td>165-185</td>
                            <td>40"-42"</td>
                            <td>33"-35"</td>
                            <td>37"-39"</td>
                            <td>16"</td>
                            <td>28.5"-29.5"</td>
                          </tr>
                          <tr>
                            <td>L</td>
                            <td>5'11"-6'1"</td>
                            <td>170-190</td>
                            <td>40"-42"</td>
                            <td>33"-35"</td>
                            <td>37"-39"</td>
                            <td>16"</td>
                            <td>29.5"-30.5"</td>
                          </tr>
                          <tr>
                            <td>LT</td>
                            <td>6'0"-6'2"</td>
                            <td>180-200</td>
                            <td>40"-42"</td>
                            <td>33"-35"</td>
                            <td>37"-39"</td>
                            <td>16"</td>
                            <td>30.5"-31.5"</td>
                          </tr>
                          <tr>
                            <td>XLS</td>
                            <td>5'8 1/2"5'10 1/2"</td>
                            <td>180-200</td>
                            <td>42.5"-44.5"</td>
                            <td>34.5"-36.5"</td>
                            <td>39"-41"</td>
                            <td>16.5"</td>
                            <td>29.5"-30.5"</td>
                          </tr>
                          <tr>
                            <td>XL</td>
                            <td>6'0"-6'2"</td>
                            <td>190-200</td>
                            <td>42"-44"</td>
                            <td>35"-37"</td>
                            <td>39"-41"</td>
                            <td>16.5"</td>
                            <td>30.5"-31.5"</td>
                          </tr>
                          <tr>
                            <td>XLT</td>
                            <td>6'2"-6'4"</td>
                            <td>200-220</td>
                            <td>42"-44"</td>
                            <td>35"-37"</td>
                            <td>39"-41"</td>
                            <td>16.5"</td>
                            <td>31"-32"</td>
                          </tr>
                          <tr>
                            <td>XXL</td>
                            <td>6'0"-6'2"</td>
                            <td>210-230</td>
                            <td>44"-48"</td>
                            <td>37"-39"</td>
                            <td>41"-43"</td>
                            <td>17"</td>
                            <td>31"-32"</td>
                          </tr>
                          <tr>
                            <td>XXXL</td>
                            <td>6'0"-6'2"</td>
                            <td>220-240</td>
                            <td>46"-48"</td>
                            <td>39"-41"</td>
                            <td>44"-46"</td>
                            <td>17.5"</td>
                            <td>31"-32"</td>
                          </tr>
                  </tbody>
              </table>
          </div><!-- Responsive Table -->
      </div> <!-- Row -->
  </div>

</div> <!-- Store-wall-SizeChartMenTab9 -->

</div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab2">

  <div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartTab2">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

      <li class="active"><a href="#Store-wall-SizeChartWomenTab1" role="tab"data-toggle="tab" class="text-uppercase">Outerwear</a></li>

      <li><a href="#Store-wall-SizeChartWomenTab2" role="tab"data-toggle="tab" class="text-uppercase">Glove Fit</a></li>

  </ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartWomenTab1">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/lrg-womens-outerwear-size-chart.jpg?5152189638480517248" alt="Neff Womens Outerwear Size Chart">
        </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">

      <div>
        <h4><b>OUTERWEAR JACKETS</b></h4>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Size</th>
                 <th scope="col">A | Chest</th>
                <th scope="col">B | Length at HPS</th>
                <th scope="col">C | Sleeve</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>X-Small</td>
                <td>30" - 32" (75 CM - 80 CM)</td>
                <td>27.5" (69.9 CM)</td>
                <td>25.5" (66.8 CM)</td>
              </tr>
              <tr>
                <td>Small</td>
                <td>32" - 34" (80 CM - 85CM)</td>
                <td>28.5" (72.4 CM)</td>
                <td>26" (66 CM)</td>
              </tr>
              <tr>
                <td>Medium</td>
                <td>34" - 36" (85 CM - 90 CM)</td>
                <td>29.5" (74.9 CM)</td>
                <td>26.5" (67.3 CM)</td>
              </tr>
              <tr>
                <td>Large</td>
                <td>36" - 38" (90 CM - 95 CM)</td>
                <td>30.5" (77.47 CM)</td>
                <td>27" (68.6 CM)</td>
              </tr>
              <tr>
                <td>X-Large</td>
                <td>38" - 40" (95 CM - 100 CM)</td>
                <td>31.5" (80 CM)</td>
                <td>27.5" (69.9 CM)</td>
              </tr>
            </tbody>
          </table>
          </div><!-- Responsive Table -->
        </div> <!-- Table 1 -->

        
        <div>
        <h4><b>OUTERWEAR PANTS</b></h4>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Size</th>
                 <th scope="col">D | Hips</th>
                <th scope="col">E | Natural Waist</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>X-Small</td>
                <td>35" (88.9 CM)</td>
                <td>24" - 25"</td>
              </tr>
              <tr>
                <td>Small</td>
                <td>37" (93.98 CM)</td>
                <td>26" - 27"</td>
              </tr>
              <tr>
                <td>Medium</td>
                <td>39" (99.06 CM)</td>
                <td>28" - 29"</td>
              </tr>
              <tr>
                <td>Large</td>
                <td>41" (104 CM)</td>
                <td>29" - 30"</td>
              </tr>
              <tr>
                <td>X-Large</td>
                <td>43" (109 CM)</td>
                <td>32" - 33"</td>
              </tr>
            </tbody>
          </table>
          </div><!-- Responsive Table -->
        </div> <!-- Table 1 -->

      </div>
  </div> <!-- End Row -->
</div> <!-- Store-wall-SizeChartWomenTab1 -->

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartWomenTab2">

<div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Neff Womens Gloves Size Chart"></center>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th scope="col">Size</th>
                              <th scope="col">Circumference</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                        <td>Small</td>
                        <td>5.5" - 6.5" (14 CM - 16 CM)</td>
                        </tr>
                        <tr>
                        <td>Medium</td>
                        <td>6.5" - 7.5" (16.5 CM - 19 CM)</td>
                        </tr>
                        <tr>
                        <td>Large</td>
                        <td>7.5" - 8.5" (19 CM - 21 CM)</td>
                        </tr> 
                      </tbody>
                  </table>
            </div><!-- Responsive Table -->
        </div>
      </div> 
    </div>
  </div>
</div>
            
</div> <!--Store-wall-SizeChartTab2-->


<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab3">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

  <li class="active"><a href="#Store-wall-SizeChartYouthTab1" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>

  <li><a href="#Store-wall-SizeChartYouthTab2" role="tab"data-toggle="tab" class="text-uppercase">Glove Fit</a></li>

</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartYouthTab1">

  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/neff-youth-general-size-chart.jpg?10111347553335555515" alt="Neff Youth General Size Chart"></center>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">Age</th>
                 <th scope="col">2</th>
                <th scope="col">3</th>
                <th scope="col">4</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>Tops &amp; Bottoms</td>
                  <td>2T</td>
                  <td>3T</td>
                  <td>4T</td>
              </tr>
              <tr>
                  <td>A | Chest</td>
                  <td>21"</td>
                  <td>21.5"</td>
                  <td>22"</td>
              </tr>
              <tr>
                  <td>B | Waist</td>
                  <td>19.25"</td>
                  <td>20"</td>
                  <td>20.75"</td>
              </tr>
              <tr>
                  <td>C | Height</td>
                  <td>35"</td>
                  <td>39"</td>
                  <td>41"</td>
              </tr>
            </tbody>
          </table>
        </div><!-- Responsive Table -->
      </div>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartYouthTab2">

  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Neff Youth Gloves Size Chart"></center>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Numeric Size</th>
                            <th scope="col">General Size</th>
      
                        </tr>
                    </thead>
                      <tbody>

                          <tr>
                              <td>3/4</td>
                              <td>S</td>
                          </tr>
                          <tr>
                              <td>5/6</td>
                              <td>M</td>
                          </tr>
                          <tr>
                              <td>7/8</td>
                              <td>L</td>
                          </tr>
                          <tr>
                              <td>9/10</td>
                              <td>XL</td>
                          </tr>
                      </tbody>
                </table>
            </div><!-- Responsive Table -->
          </div>
      </div> <!-- Responsive Row -->
    </div>
  </div> 
</div>

<div class="divider divider--md"></div>
<p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>

  
</div>