

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

  <li class="active"><a href="#Store-wall-SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

  <li><a href="#Store-wall-SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

  <li><a href="#Store-wall-SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Boys</a></li>

  <li><a href="#Store-wall-SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Girls</a></li>

  <li><a href="#Store-wall-SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Wetsuits Size Chart</a></li>

</ul>

<div class="tab-content tab-content--ys Sbs_store-wall-sizechart">
<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartTab1">
  <h4>MENS CLOTHING - BODY MEASUREMENTS IN INCHES</h4>
  <div class="row">

  <div class="divider divider--md"></div>

<div class="table_responsive">
  <div class="col-sm-3 col-md-3 col-lg-3">
    <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-mens-whole-body-sillohette2.jpg?535420044671393962" alt="Billabong Mens Size Chart" style="margin: 0 auto;" /></div>
  </div>
 <div class="col-sm-9 col-md-9 col-lg-9">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Top &amp; Elastic Waist</th>
      <th scope="col">XS</th>
      <th scope="col">S</th>
      <th scope="col">M</th>
      <th scope="col">L</th>
      <th scope="col">XL</th>
      <th scope="col">XXL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>A | Bottom Size</td>
      <td>28 - 29 </td>
      <td>30 - 31</td>
      <td>32- 33</td>
      <td>34 - 35 </td>
      <td>36 - 38</td>
      <td>40|42|43</td>
    </tr>
    <tr>
      <td>B | Neck</td>
      <td>13.5 - 15</td>
      <td>14 - 15.5</td>
      <td>14.5 - 16</td>
      <td>15 - 16.5</td>
      <td>15.5 - 17</td>
      <td>16 - 17.5</td>
    </tr>
    <tr>
      <td>C | Chest</td>
      <td>36 - 38</td>
      <td>38 - 40</td>
      <td>40 - 42</td>
      <td>42 - 44</td>
      <td>44 - 46</td>
      <td>46 - 48</td>
    </tr>
    <tr>
      <td>D | C/B Sleeve</td>
      <td>32 - 33.5</td>
      <td>33 - 34.5</td>
      <td>34 - 35.5</td>
      <td>35 - 36.5</td>
      <td>36 - 37.5</td>
      <td>37 - 38.5</td>
    </tr>
    <tr>
      <td>E | Waist</td>
      <td>27.5 - 28.5, 28.5 - 29.5</td>
      <td>29.5 - 30.5, 30.5 - 31.5</td>
      <td>31.5 - 32.5, 32.5 - 33.5</td>
      <td>33.5 - 34.5, 34.5 - 35.5</td>
      <td>35.5 - 36.5, 37.5 - 38.5</td>
      <td>39.5 - 40.5, 41.5 - 42.5, 43.5 - 44.5</td>
    </tr>
    <tr>
      <td>F | Hip </td>
      <td>36 - 37, 37 - 38</td>
      <td>38 - 39, 39 - 40</td>
      <td>40 - 41, 41 - 42</td>
      <td>42 - 43, 43 - 44</td>
      <td>44 - 45, 46 - 47</td>
      <td>48 - 49, 50 - 51, 52 - 53</td>
    </tr>
  </tbody>
</table>
</div><!-- Responsive Table -->
</div> 
</div>
</div>
<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab2">
  <div class="divider divider--md"></div>
  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-womens-whole-body-sillohette.jpg?17099340613125090569" alt="Billabong Womens Size Chart" style="margin: 0 auto;"></div>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <h4>WOMENS TOPS, DRESSES AND SKIRTS - BODY MEASUREMENTS IN INCHES</h4>
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th scope="col"></th>
                          <th scope="col">XS</th>
                          <th scope="col">S</th>
                          <th scope="col">M</th>
                          <th scope="col">L</th>
                          <th scope="col">XL</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td>Numeric</td>
                    <td>0 - 0</td>
                    <td>1 - 3 </td>
                    <td>5 - 7</td>
                    <td>9 - 11</td>
                    <td>13</td>
                    </tr>
                    <tr>
                    <td>A | Chest</td>
                    <td>30.5 - 31.5</td>
                    <td>32.5 - 33.5</td>
                    <td>34.5 - 35.5</td>
                    <td>36.5 - 37.5</td>
                    <td>38.5</td>
                    </tr>
                    <tr>
                    <td>B | Waist at Narrowest </td>
                    <td>23 - 24</td>
                    <td>25 - 26</td>
                    <td>27 - 28</td>
                    <td>29 - 30</td>
                    <td>31</td>
                    </tr>
                    <tr>
                    <td>C | Low Waist 3" Below Waist </td>
                    <td>28 - 29</td>
                    <td>30 - 31</td>
                    <td>32 - 33</td>
                    <td>34 - 35</td>
                    <td>36</td>
                    </tr>
                    <tr>
                    <td>D | Hip at Widest </td>
                    <td>33 - 34</td>
                    <td>35 - 36</td>
                    <td>37 - 38</td>
                    <td>39 - 40</td>
                    <td>41</td>
                    </tr>
                    <tr>
                    <td>E | Long Sleeve from Center Back </td>
                    <td>31.25 - 31.5</td>
                    <td>31.75 - 32</td>
                    <td>32.5 - 32.5</td>
                    <td>33 - 33.25</td>
                    <td>33.75</td>
                    </tr>
                  </tbody>
              </table>
          </div><!-- Responsive Table -->
        </div>     
    </div>

    <hr>

            <div class="divider divider--md"></div>
            <h4>WOMENS SHORTS AND PANTS - BODY MEASUREMENTS IN INCHES</h4>
                <div class="divider divider--md"></div>
            <div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">23</th>
                        <th scope="col">24</th>
                        <th scope="col">25</th>
                        <th scope="col">26</th>
                        <th scope="col">27</th>
                        <th scope="col">28</th>
                        <th scope="col">29</th>
                        <th scope="col">30</th>
                        <th scope="col">31</th>
                        <th scope="col">32</th>
                        <th scope="col">33</th>
                        <th scope="col">34</th>
                        <th scope="col">35</th>

                    </tr>
                </thead>
                <tbody>
                  <tr>
                  <td>Inseam Flare Leg </td>
                  <td>33 1/2 </td>
                  <td>33 5/8 </td>
                  <td>33 3/4 </td>
                  <td>33 7/8 </td>
                  <td>34</td>
                  <td>34 1/8 </td>
                  <td>34 1/4 </td>
                  <td>34 3/8 </td>
                  <td>34 1/2 </td>
                  <td>34 5/8 </td>
                  <td>34 3/4 </td>
                  <td>34 7/8 </td>
                  <td>35</td>
                  </tr>
                  <tr>
                  <td>Inseam Skinny Leg </td>
                  <td>31 1/2 </td>
                  <td>31 5/8 </td>
                  <td>31 3/4 </td>
                  <td>31 7/8 </td>
                  <td>32</td>
                  <td>32 1/8 </td>
                  <td>32 1/4 </td>
                  <td>32 3/8 </td>
                  <td>32 1/2</td>
                  <td>32 5/8 </td>
                  <td>32 3/4 </td>
                  <td>32 7/8 </td>
                  <td>33</td>
                  </tr>
                </tbody>
            </table>
        </div><!-- Responsive Table -->

            <div class="divider divider--md"></div>

        <hr>

            <div class="row">
                <div class="col-sm-3 col-md-3 col-lg-3">
                    <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-womens-swimwear-sillohette.jpg?3366340762629571457" alt="Billabong Womens Swimwear Size Chart" style="margin: 0 auto;"></div>
                </div>

                <div class="col-sm-9 col-md-9 col-lg-9">
                  <h4>WOMENS SWIMWEAR - BODY MEASUREMENTS IN INCHES</h4>
                  <div class="table_responsive">
                    <table class="table table-bordered table-striped">
                      <thead>
                          <tr>
                              <th scope="col"></th>
                              <th scope="col">XS / 2</th>
                              <th scope="col">S / 4-6</th>
                              <th scope="col">M / 6-8</th>
                              <th scope="col">L / 8-10 </th>
                              <th scope="col">XL / 10-12 </th>

                          </tr>
                      </thead>
                      <tbody>
                        <tr>
                        <td>Bra Size </td>
                        <td>A</td>
                        <td>A/B</td>
                        <td>B/C</td>
                        <td>C/D</td>
                        <td>D/DD</td>
                        </tr>
                        <tr>
                        <td>A | Bust at Fullest </td>
                        <td>31 1/2 - 32 1/2 </td>
                        <td>33 1/2 - 34 1/2 </td>
                        <td>35 1/2 - 36 1/2 </td>
                        <td>37 1/2 - 38 1/2 </td>
                        <td>39 1/2 - 40 1/2</td>
                        </tr>
                        <tr>
                        <td>B | Waist</td>
                        <td>23 - 24 </td>
                        <td>25 - 26 </td>
                        <td>27 - 28 </td>
                        <td>29 - 30 </td>
                        <td>31 - 32 </td>
                        </tr>
                        <tr>
                        <td>C | Hips at Fullest </td>
                        <td>34 - 35 </td>
                        <td>36 - 37 </td>
                        <td>38 - 39 </td>
                        <td>40 - 41 </td>
                        <td>42 - 43</td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- Responsive Table -->
          </div>
      </div>
  </div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab3">

          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-boys-whole-body-sillohette.jpg?3694850020283588382" alt="Billabong Boys Size Chart" style="margin: 0 auto;"></div>
            </div>

            <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--md"></div>
            <h4>BOYS 2 TO 7 YEARS OLD - BODY MEASUREMENTS IN INCHES</h4>
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">AGE</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                        <th scope="col">7</th>

                    </tr>
                </thead>
                <tbody>
                  <tr>
                  <td>Kids sizes</td>
                    <td>2t</td>
                    <td>3t</td>
                    <td>4/s</td>
                    <td>5/m</td>
                    <td>6/l</td>
                    <td>7/xl</td>
                  </tr>
                  <tr>
                    <td>Weight (LBS)</td>
                    <td>26-29</td>
                    <td>30-33</td>
                    <td>33-37</td>
                    <td>37-43</td>
                    <td>44-49</td>
                    <td>47-55</td>
                  </tr>
                  <tr>
                    <td>A | Chest (IN)</td>
                    <td>20"-21"</td>
                    <td>22"-23"</td>
                    <td>22"-23"</td>
                    <td>23"-24"</td>
                    <td>24"-25"</td>
                    <td>25"-26"</td>
                  </tr>
                  <tr>
                    <td>B | Waist (IN)</td>
                    <td>19"-19.5"</td>
                    <td>20"-20.5"</td>
                    <td>21"-21.5"</td>
                    <td>21.5"-22"</td>
                    <td>22.5"-23"</td>
                    <td>23.5"-24"</td>
                  </tr>
                  <tr>
                    <td>C | Height (in)</td>
                    <td>33"-35.5"</td>
                    <td>36"-38.5"</td>
                    <td>39"-41.5"</td>
                    <td>42"-44.5"</td>
                    <td>45"-46.5"</td>
                    <td>47"-48.5"</td>
                  </tr>

                </tbody>
            </table>
        </div><!-- Responsive Table -->
      </div>
    </div>

    <hr>

    <div class="divider divider--md"></div>

    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
              <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-young-boys-whole-body-sillohette.jpg?10952810799080150078" alt="Billabong Young Boys Size Chart" style="margin: 0 auto;"></div>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">
          <h4>BOYS 8 TO 14+ YEARS OLD - BODY MEASUREMENTS IN INCHES</h4>
            <div class="divider divider--md"></div>
              <div class="table_responsive">
              <table class="table table-bordered table-striped billa_boys">
                  <thead>
                      <tr>
                      <th scope="col">Age </th>
                      <th scope="col">8-9</th>
                      <th scope="col">9-10</th>
                      <th scope="col">8-9</th>
                      <th scope="col">9-10</th>
                      <th scope="col">11-12</th>
                      <th scope="col">13-14</th>
                      <th scope="col">14+</th>
                      <th scope="col">14+</th>
                      <th scope="col">14+</th>

                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td>A | Bottom Size</td>
                      <td>22 8Slim</td>
                      <td>23 10slim</td>
                      <td>24 8reg</td>
                      <td>25 10reg</td>
                      <td>26 12reg</td>
                      <td>27 14reg</td>
                      <td>28 16reg</td>
                      <td>29 18reg</td>
                      <td>30 20reg</td>
                    </tr>
                    <tr>
                    <td>B | Tops &amp; Elastics   </td>
                      <td style="border-right-color: transparent !important;">S</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">M</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">L</td>
                      <td style="border-right-color: transparent !important;"></td>
                    <td>XL</td>
                    </tr>
                    <tr>
                      <td>C | Height (IN)   </td>
                      <td style="border-right-color: transparent !important;">49"-54"</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">52"-60.5"</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">60"-65"</td>
                      <td></td>
                      <td>65"-68"</td>
                    </tr>
                    <tr>
                      <td>D | Chest (in)    </td>
                      <td style="border-right-color: transparent !important;">25"-27.5"</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">28"-30.5"</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">31"-33.5"</td>
                      <td></td>
                      <td>34"-36.5"</td>
                    </tr>
                      <tr>
                      <td>E | Waist (in)    </td>
                      <td style="border-right-color: transparent !important;">22"-24"</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">25"-26"</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">27"-28"</td>
                      <td></td>
                      <td>29"-30"</td>
                      </tr>
                     <tr>
                    <td>Weight (IN)   </td>
                      <td style="border-right-color: transparent !important;">50-65</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">63-95</td>
                      <td style="border-right-color: transparent !important;"></td>
                      <td></td>
                      <td style="border-right-color: transparent !important;">90-122</td>
                      <td></td>
                      <td>110-140</td>
                    </tr>
                  </tbody>
              </table>
            </div><!-- Responsive Table -->
          </div>
      </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab4">
      <div class="divider divider--md"></div>

      <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-3">
          <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-girls-whole-body-sillohette2.jpg?1726040689545455276" alt="Billabong Girls Size Chart" style="margin: 0 auto; height: 490px;"></div>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
            <h4>GIRLS CLOTHING 4 TO 14 YEARS OLD - BODY MEASUREMENTS IN INCHES</h4>
            <table class="table table-bordered table-striped billa_boys">
              <thead>
                <tr>
                  <th scope="col"><b>HEIGHT</b></th>
                  <th scope="col">41-44</th>
                  <th scope="col">45-50</th>
                  <th scope="col">51-54</th>
                  <th scope="col">55-58</th>
                  <th scope="col">59-61</th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                        <td><b>Size & Age Range</b></td>
                        <td>XXS (4-5)</td>
                        <td>XS (5-6)</td>
                        <td>s (7-8)</td>
                        <td>M (10-12)</td>
                        <td>L (12-14)</td>
                  </tr>
                <tr>
                        <td><b>A | CHEST (BODY)</b></td>
                        <td>22-23.5</td>
                        <td>24-25.5</td>
                        <td>26-27.5</td>
                        <td>28-29.5</td>
                        <td>29.5-30.5</td>
                </tr>
                <tr>
                        <td><b>B | WAIST AT NARROWEST (BODY)</b></td>
                        <td>18-20</td>
                        <td>20.5-22</td>
                        <td>22.5-23.5</td>
                        <td>24-25.5</td>
                        <td>25-26.5</td>
                </tr>
                <tr>
                        <td><b>C | LOW WAIST PANT AND SHORT (GARMENT)</b></td>
                        <td>21-22.5</td>
                        <td>22-23.5</td>
                        <td>24-26</td>
                        <td>27-27.5</td>
                        <td>27-28.5</td>
                </tr>
                <tr>
                        <td><b>D | HIP AT WIDEST POINT (BODY)</b></td>
                        <td>24.5-25.5</td>
                        <td>26-28</td>
                        <td>28.5-29.5</td>
                        <td>30-31</td>
                        <td>31-32</td>
                </tr>
                <tr>
                        <td><b>E | INSEAM (GARMENT) FULL LENGTH</b></td>
                        <td>18.5</td>
                        <td>23.5</td>
                        <td>25.5</td>
                        <td>27.5</td>
                        <td>29</td>
                </tr>


              </tbody>
            </table>
          </div><!-- Responsive Table --> 
        </div>
      </div>

      <hr>

      <div class="divider divider--md"></div>
      <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-3">
          <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-girls-swimwearwhole-body-sillohette.jpg?1274554559785795679" alt="Billabong Girls Size Chart" style="margin: 0 auto; height: 490px;"></div>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
          <h4>GIRLS SWIMWEAR - BODY MEASUREMENTS IN INCHES</h4>
            <div class="table_responsive">
              <table class="table table-bordered table-striped billa_boys">
              <thead>
                <tr>
                          <th scope="col"> </th>
                          <th scope="col">4</th>
                          <th scope="col">5</th>
                          <th scope="col">6X</th>
                          <th scope="col">7</th>
                          <th scope="col">8</th>
                          <th scope="col">10</th>
                          <th scope="col">12</th>
                          <th scope="col">14</th>
                          <th scope="col">16</th>

                </tr>
              </thead>
              <tbody>
                  <tr>
                        <td>A | Bust </td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>25 1/2 - 26 1/2 </td>
                        <td>27 - 28 </td>
                        <td>29 - 30 </td>
                        <td>31 - 32 </td>
                        <td>33 - 34 </td>
                        <td>34 1/2 - 36 1/2 </td>
                  </tr>
                <tr>
                        <td>B | Waist</td>
                        <td>21</td>
                        <td>22</td>
                        <td>22</td>
                        <td>22 1/2 - 23 1/2 </td>
                        <td>23 1/2 - 24 1/2 </td>
                        <td>25 - 26 </td>
                        <td>27 - 28 </td>
                        <td>29 - 30 </td>
                        <td>30 1/2 - 31 1/2 </td>
                </tr>
                <tr>
                        <td>C | Hips at Fullest </td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27 - 28 </td>
                        <td>28 - 29 </td>
                        <td>30 - 31 </td>
                        <td>32 - 33 </td>
                        <td>34 - 35 </td>
                        <td>35 - 36 </td>
                </tr>
              </tbody>
            </table>
            </div><!-- Responsive Table --> 
        </div>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab5">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#Store-wall-SizeChartWetsuitsTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

<li><a href="#Store-wall-SizeChartWetsuitsTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

<li><a href="#Store-wall-SizeChartWetsuitsTab3" role="tab"data-toggle="tab" class="text-uppercase">Boys</a></li>

<li><a href="#Store-wall-SizeChartWetsuitsTab4" role="tab"data-toggle="tab" class="text-uppercase">Girls</a></li>


</ul>


<div class="tab-content tab-content--ys">
<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartWetsuitsTab1">

<div class="row">

  <div class="col-sm-3 col-md-3 col-lg-3">
        <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-wetsuits-mens-template.JPG?7273376089256473758" alt="Billabong Mens Wetsuits Size Chart" style="margin: 0 auto;"></div>
  </div>

  <div class="col-sm-9 col-md-9 col-lg-9">
    <h4>MENS WETSUITS - BODY MEASUREMENTS IN INCHES</h4>
    <p>Tip: Weight is the most important thing to get right. The suit will function properly if it's a little short or long.</p>
          <div class="divider divider--md"></div>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                        <th scope="col"> </th>
                        <th scope="col">S</th>
                        <th scope="col">MS</th>
                        <th scope="col">M</th>
                        <th scope="col">MT</th>
                        <th scope="col">LS</th>
                        <th scope="col">L</th>
                        <th scope="col">LT</th>
                        <th scope="col">XLS</th>
                        <th scope="col">XL</th>
                        <th scope="col">XXL</th>

              </tr>
            </thead>
            <tbody>
                <tr>
                      <td>Weight</td>
                      <td>135 - 150</td>
                      <td>145 - 160</td>
                      <td>155 - 170</td>
                      <td>165 - 180</td>
                      <td>165 - 180</td>
                      <td>175 - 190</td>
                      <td>185 - 200</td>
                      <td>175 - 190</td>
                      <td>190 - 205</td>
                      <td>205 - 220</td>
              </tr>
                <tr>
                      <td>Height</td>
                      <td>5'6" - 5'8"</td>
                      <td>5'6" - 5'9"</td>
                      <td>5'9" - 5'11"</td>
                      <td>5'11" - 6'1"</td>
                      <td>5'7" - 5'9"</td>
                      <td>5'11" - 6'1"</td>
                      <td>6'1" - 6'5"</td>
                      <td>5'8" - 5'10"</td>
                      <td>6'0" - 6'5"</td>
                      <td>6'1" - 6'4"</td>
                </tr>
              <tr>
                      <td>Chest</td>
                      <td>36 - 38</td>
                      <td>38 - 40</td>
                      <td>38 - 40</td>
                      <td>39 - 40</td>
                      <td>41 - 43</td>
                      <td>41 - 43</td>
                      <td>41 - 43</td>
                      <td>43 - 44</td>
                      <td>43 - 44</td>
                      <td>44 - 46</td>
              </tr>
              <tr>
                      <td>Waist</td>
                      <td>29 - 31</td>
                      <td>30 - 32</td>
                      <td>31 - 33</td>
                      <td>31 - 33</td>
                      <td>33 - 35</td>
                      <td>33 - 35</td>
                      <td>33 - 35</td>
                      <td>36 - 38</td>
                      <td>36 - 38</td>
                      <td>38 - 40</td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
</div><!-- Responsive Table -->

<hr>

<div class="divider divider--md"></div>

<div class="row">

      <div class="col-sm-3 col-md-3 col-lg-3">
        <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-mens-surf-hoods-sillohette.jpg?7457434042695737740" alt="Billabong Mens Surf Boots Size Chart" style="margin: 0 auto;"></div>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <h4>MENS HOODS - BODY MEASUREMENTS IN INCHES</h4>
        <div class="divider divider--md"></div>
        <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
            <tr>
                      <th scope="col"> </th>
                      <th scope="col">XS</th>
                      <th scope="col">S</th>
                      <th scope="col">M</th>
                      <th scope="col">L</th>
                      <th scope="col">XL</th>
                      <th scope="col">XXL</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>A | Head</td>
                    <td>20.5</td>
                    <td>21.5</td>
                    <td>22.5</td>
                    <td>23.5</td>
                    <td>24.5</td>
                    <td>25</td>
                </tr> 
                  <tr>
                    <td>B | Neck</td>
                    <td>14.5</td>
                    <td>14.75</td>
                    <td>15</td>
                    <td>15.5</td>
                    <td>16</td>
                    <td>16.5</td>
                  </tr>
            </tbody>
          </table>
        </div> <!-- Responsive Table --> 
      </div>
    </div>
      <div class="divider divider--md"></div>

<hr>

<div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
        <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/wetsuits-boots.jpg?10154963921715638650" alt="Billabong Mens Surf Boots Size Chart" style="margin: 0 auto;"></div>
      </div>


      <div class="col-sm-9 col-md-9 col-lg-9">
        <h4>MENS BOOTS</h4>
          <div class="divider divider--md"></div>
            <div class="table_responsive">
              <table class="table table-bordered table-striped billa_boys">
                <thead>
                  <tr>
                    <th scope="col"> </th>
                    <th scope="col">XS</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                    <th scope="col">L</th>
                  </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Size</td>
                    <td>6 - 7<br></td>
                    <td>7 - 8<br></td>
                    <td>9 - 10<br></td>
                    <td>11 - 12<br></td>
                </tr>
              </tbody>
            </table>
        </div><!-- Responsive Table -->
        <p><code>* Measure the overall length from your heel to big toe</code></p>
      </div>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartWetsuitsTab2">
<div class="divider divider--md"></div>

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-womens-wetsuits-sillohette.jpg?13721061944522106481" alt="Billabong Womens Wetsuits Size Chart" style="margin: 0 auto;"></div>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <h4>WOMENS WETSUITS - BODY MEASUREMENTS IN INCHES</h4>
      <p>Tip: Weight is the most important thing to get right. The suit will function properly if it's a little short or long.</p>
            <div class="divider divider--md"></div>
        <div class="table_responsive">
            <table class="table table-bordered table-striped billa_boys">
              <thead>
                <tr>
                          <th scope="col"> </th>
                          <th scope="col">2</th>
                          <th scope="col">4</th>
                          <th scope="col">6</th>
                          <th scope="col">8</th>
                          <th scope="col">10</th>
                          <th scope="col">12</th>

                </tr>
              </thead>
              <tbody>
                <tr>
                        <td>Weight</td>
                        <td>90 - 105</td>
                        <td>100 - 115</td>
                        <td>110 - 125</td>
                        <td>120 - 135</td>
                        <td>130 - 150</td>
                        <td>140 - 160</td>
                </tr>
                <tr>
                        <td>A | Height</td>
                        <td>5'1" - 5'3"</td>
                        <td>5'3" - 5'5"</td>
                        <td>5'4" - 5'6"</td>
                        <td>5'5" - 5'7"</td>
                        <td>5'6" - 5'8"</td>
                        <td>5'7" - 5'9"</td>
                  </tr>
                <tr>
                        <td>B | Chest</td>
                        <td>29.5" - 31.5"</td>
                        <td>30.5" - 32.5"</td>
                        <td>31.5" - 33.5"</td>
                        <td>32.5" - 34.5"</td>
                        <td>34" - 36"</td>
                        <td>35.5" - 37.5"</td>
                </tr>
                <tr>
                        <td>C | Waist</td>
                        <td>23 - 25</td>
                        <td>24 - 26</td>
                        <td>25 - 27</td>
                        <td>26 - 28</td>
                        <td>27 - 29</td>
                        <td>29 - 31</td>
                </tr>       
              </tbody>
            </table>
          </div><!-- Responsive Table -->
      </div>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartWetsuitsTab3">
<div class="divider divider--md"></div>

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-boys-wetsuits-sillohette.jpg?13288441151756206043" alt="Billabong Boys Wetsuits Size Chart" style="margin: 0 auto;"></div>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <h4>TODDLERS / BOYS WETSUITS - BODY MEASUREMENTS IN INCHES</h4>
      <p>Tip: Weight is the most important thing to get right. The suit will function properly if it's a little short or long.</p>
            <div class="divider divider--md"></div>
        <div class="table_responsive">
            <table class="table table-bordered table-striped billa_boys">
              <thead>
                <tr>
                  <th scope="col">Size</th>
                  <th scope="col">Weight (lb)</th>
                  <th scope="col">A | Height (in)</th>
                  <th scope="col">B | Chest (in)</th>
                  <th scope="col">C | Waist (in)</th>
                </tr>
              </thead>
              <tbody>
                        <tr>
                          <td>1</td>
                          <td>25-30</td>
                          <td>2'10"-3'2.5"</td>
                          <td>16"-21"</td>
                          <td>18"-20"</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>30-35</td>
                          <td>3'2.5"-3'6.5"</td>
                          <td>20"-22"</td>
                          <td>19"-21"</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>35-40</td>
                          <td>3'6.5"-3'10.5"</td>
                          <td>21"-23"</td>
                          <td>20"-22"</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>40-55</td>
                          <td>3'10.5"-4'1.5"</td>
                          <td>23"-25"</td>
                          <td>20"-22"</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>50-65</td>
                          <td>4'1.5"-4'4.5"</td>
                          <td>24.5"-26.5"</td>
                          <td>21"-23"</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>60-75</td>
                          <td>4'4.5"-4'7.5"</td>
                          <td>26"-28"</td>
                          <td>22"-24"</td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>75-90</td>
                          <td>4'7"-4'10"</td>
                          <td>28"-30"</td>
                          <td>24"-26"</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td>90-105</td>
                          <td>4'10"-5'1"</td>
                          <td>29"-31"</td>
                          <td>25"-27"</td>
                        </tr>
                        <tr>
                          <td>14</td>
                          <td>105-120</td>
                          <td>5'1"-5"4"</td>
                          <td>31"-33"</td>
                          <td>26"-28"</td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td>120-135</td>
                          <td>5'4"-5'7"</td>
                          <td>33"-35"</td>
                          <td>27"-29"</td>
                        </tr>
                    </tbody>
                  </table>
            </div><!-- Responsive Table -->
      </div>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartWetsuitsTab4">
<div class="divider divider--md"></div>

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/billabong-girls-wetsuits-sillohette.jpg?7367264255989338166" alt="Billabong Boys Wetsuits Size Chart" style="margin: 0 auto;"></div>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <h4>TODDLERS / GIRLS WETSUITS - BODY MEASUREMENTS IN INCHES</h4>
      <p>Tip: Weight is the most important thing to get right. The suit will function properly if it's a little short or long.</p>
            <div class="divider divider--md"></div>
        <div class="table_responsive">
            <table class="table table-bordered table-striped billa_boys">
              <thead>
                <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Weight (lb)</th>
                    <th scope="col">A | Height (in)</th>
                    <th scope="col">B | Chest (in)</th>
                    <th scope="col">C | Waist (in)</th>
                </tr>
              </thead>
              <tbody>               
                        <tr>
                          <td>1</td>
                          <td>25-30</td>
                          <td>2'10"-3'2.5"</td>
                          <td>16"-21"</td>
                          <td>18"-20"</td>
                        </tr>
                        <tr>
                          <td>2</td>
                          <td>30-35</td>
                          <td>3'2.5"-3'6.5"</td>
                          <td>20"-22"</td>
                          <td>19"-21"</td>
                        </tr>
                        <tr>
                          <td>3</td>
                          <td>35-40</td>
                          <td>3'6.5"-3'10.5"</td>
                          <td>21"-23"</td>
                          <td>20"-22"</td>
                        </tr>
                        <tr>
                          <td>4</td>
                          <td>40-55</td>
                          <td>3'10.5"-4'1.5"</td>
                          <td>23"-25"</td>
                          <td>20"-22"</td>
                        </tr>
                        <tr>
                          <td>6</td>
                          <td>50-65</td>
                          <td>4'1.5"-4'4.5"</td>
                          <td>24.5"-26.5"</td>
                          <td>21"-23"</td>
                        </tr>
                        <tr>
                          <td>8</td>
                          <td>60-75</td>
                          <td>4'4.5"-4'7.5"</td>
                          <td>26"-28"</td>
                          <td>22"-24"</td>
                        </tr>
                        <tr>
                          <td>10</td>
                          <td>75-90</td>
                          <td>4'7"-4'10"</td>
                          <td>28"-30"</td>
                          <td>24"-26"</td>
                        </tr>
                        <tr>
                          <td>12</td>
                          <td>90-105</td>
                          <td>4'10"-5'1"</td>
                          <td>29"-31"</td>
                          <td>25"-27"</td>
                        </tr>
                        <tr>
                          <td>14</td>
                          <td>105-120</td>
                          <td>5'1"-5"4"</td>
                          <td>31"-33"</td>
                          <td>26"-28"</td>
                        </tr>
                        <tr>
                          <td>16</td>
                          <td>120-135</td>
                          <td>5'4"-5'7"</td>
                          <td>33"-35"</td>
                          <td>27"-29"</td>
                        </tr>     
                  </tbody>
                </table>
              </div>
          </div><!-- Responsive Table -->
      </div>
</div>


</div>
</div>
<div class="divider divider--md"></div>

<p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>

</div>