<style>
	.brandMenuMobile
      {
        width:100%;

      }

      .brandMenuMobile tr, .brandMenuMobile th, .brandMenuMobile td
      {
        border:0.2px solid #808080!important;
      }

      /*.brandMenuMobile tr
      {
        border:1px solid #000000!important;
      }*/

      .brandMenuMobile tr td:first-child
      {
        border-right:1px solid #808080;
        /*text-transform: uppercase;*/
        color:#000000!important;
        font-weight:bold;
        margin:5px!important;
        padding:5px!important;
      }

      .brandMenuMobile tr td
      {
        text-align: center;
        color:#000000!important;
        font-weight:bold;
        /*text-transform: capitalize;*/
        margin:5px!important;
        padding:5px!important;
      }

      .brandMenuMobile tr td a
      {
        text-align: center;
        color:#000000!important;
        font-weight:bold;
        text-decoration: none;
      }

</style>

<!-- DESKTOP VIEW -->
<section class="color-10 hidden-xs">
            <nav class="cl-effect-10">
              <a href="/pages/motorhelmets-service-street-sport-bike-service" data-hover="Street Bike"><span>Street Bike</span></a>
              <a href="/pages/dirt-bike-atv-service-menu" data-hover="Dirt Bike / ATV"><span>Dirt Bike / ATV</span></a>
              <a href="/pages/motorhelmets-service-cruiser-motorcycles-metric-harley-davidson" data-hover="Cruiser / Harley"><span>Cruiser / Harley</span></a>
              <a href="/pages/motorhelmets-utv-repair-service-parts-accessories" data-hover="UTV"><span>UTV</span></a>
              <a href="/pages/motorhelmets-service-stunt-bike-service" data-hover="Stunt Bike"><span>Stunt Bike</span></a>      
              <a href="/pages/motorcycle-ecu-flash-service" data-hover="ECU Flash"><span>ECU Flash</span></a>  
            </nav>
      </section>

      <section class="color-10 hidden-xs">
            <nav class="cl-effect-10">
              <a href="/pages/motorhelmets-motorcycle-tires-orange-county" data-hover="Tires" style="text-transform: capitalize!important;"><span>Tires</span></a>
              <a href="/pages/motorhelmets-in-store-financing-available" data-hover="Financing" style="text-transform: capitalize!important;"><span>Financing</span></a>
              <a href="/pages/motorcycle-insurance-repairs" data-hover="Insurance Repairs" style="text-transform: capitalize!important;"><span>Insurance Repairs</span></a>
              <a href="/pages/motorcycle-attorney-referral" data-hover="Attorney Referral" style="text-transform: capitalize!important;"><span>Attorney Referral</span></a>
              <a href="/pages/motorcycle-mover-transportation-services" data-hover="Moving" style="text-transform: capitalize!important;"><span>Moving</span></a>      
              <a href="https://sites.google.com/view/motorhelmets/about/monthly-specials" data-hover="Specials" style="text-transform: capitalize!important;"><span>Specials</span></a>  
            </nav>
      </section>
<!-- MOBILE VIEW -->
<table class="table table-borderless visible-xs brandMenuMobile" cellpadding="0" cellspacing="2" style="margin:0 0!important;padding:0 0 !important;">
  <tr>
    <td><a href="/pages/motorhelmets-service-street-sport-bike-service" data-hover="Street Bike" style="text-transform: uppercase;font-size:14px!important;"><span>Street Bike</span></a></td>
    <td><a href="/pages/dirt-bike-atv-service-menu" data-hover="Dirt Bike / ATV" style="text-transform: uppercase;font-size:14px!important;"><span>Dirt Bike / ATV</span></a></td>
  </tr>
  <tr>
    <td><a href="/pages/motorhelmets-service-cruiser-motorcycles-metric-harley-davidson" data-hover="Cruiser / Harley" style="text-transform: uppercase;font-size:14px!important;"><span>Cruiser / Harley</span></a></td>
    <td><a href="/pages/motorhelmets-utv-repair-service-parts-accessories" data-hover="UTV" style="text-transform: uppercase;font-size:14px!important;"><span>UTV</span></a></td>
  </tr>
  <tr>
    <td><a href="/pages/motorhelmets-service-stunt-bike-service" data-hover="Stunt Bike" style="text-transform: uppercase;font-size:14px!important;"><span>Stunt Bike</span></a></td>
    <td><a href="/pages/motorcycle-ecu-flash-service" data-hover="ECU Flash" style="text-transform: uppercase;font-size:14px!important;"><span>ECU Flash</span></a></td>
  </tr>
  <tr>
    <td><a href="/pages/motorhelmets-motorcycle-tires-orange-county" data-hover="Tires" style="text-transform: capitalize;font-size:14px!important;"><span>Tires</span></a></td>
    <td><a href="/pages/motorhelmets-in-store-financing-available" data-hover="Financing" style="text-transform: capitalize;font-size:14px!important;"><span>Financing</span></a></td>
  </tr>
  <tr>
    
    <td><a href="/pages/motorcycle-insurance-repairs" data-hover="Insurance Repairs" style="text-transform: capitalize;font-size:14px!important;"><span>Insurance Repairs</span></a></td>
    <td><a href="/pages/motorcycle-attorney-referral" data-hover="Attorney Referral" style="text-transform: capitalize;font-size:14px!important;"><span>Attorney Referral</span></a></td>
  </tr>
  <tr>
    <td><a href="/pages/motorcycle-mover-transportation-services" data-hover="Moving" style="text-transform: capitalize;font-size:14px!important;"><span>Moving</span></a></td>
    <td><a href="https://sites.google.com/view/motorhelmets/about/monthly-specials" data-hover="Specials" style="text-transform: capitalize;font-size:14px!important;"><span>Specials</span></a></td>
  </tr>
</table>


    
    