<style>
  #more_info{
    display:none; 
  }
</style> 

{% if "logo" == condition %}
<a href = "/collections/alpinestars">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-mainbanner.jpg?7414668490304596441" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-main-banner.jpg?7414668490304596441" alt="">
</a>

{% elsif "header" == condition %}

<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/alpinestars" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->
<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 



{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/alpinestars-womens">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-womens-banner.jpg?11076370435906884581">
       </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/alpinestars-mens">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-mens-banner.jpg?11076370435906884581">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/alpinestars-street-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">STREET</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-street-banner.jpg?11076370435906884581">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/alpinestars-off-road-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">OFF-ROAD</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-offroad-banner.jpg?11076370435906884581">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/alpinestars-sale">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-sale-banner.jpg?11076370435906884581" alt="">
      </a>
    </div>
  </div>
</div>
  
  
  
  
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/alpinestars-mtb-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MTB</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-mtb-banner.jpg?11076370435906884581">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/alpinestars-bmx-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">BMX</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-bmx-banner.jpg?11076370435906884581">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/alpinestars-cruiser-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">CRUISER</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-cruiser-banner.jpg?11076370435906884581">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/alpinestars-casual-wear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">CASUAL WEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-casual-banner.jpg?11076370435906884581">
        </a>
      </div>
    </div>
  </div>
</div>
</div>







<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/alpinestars-womens">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-womens-banner.jpg?11982827676104008917">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/alpinestars-mens">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-mens-banner.jpg?11982827676104008917">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/alpinestars-street-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">STREET</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-street-banner.jpg?11982827676104008917">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/alpinestars-off-road-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-offroad-banner.jpg?11982827676104008917">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/alpinestars-sale">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-sale-banner.jpg?11982827676104008917" alt="">
          </a>
        </div>
      </div>
    </div>
    



    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/alpinestars-mtb-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MTB</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-mtb-banner.jpg?11982827676104008917">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/alpinestars-bmx-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">BMX</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-bmx-banner.jpg?11982827676104008917">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/alpinestars-cruiser-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CRUISER</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-cruiser-banner.jpg?11982827676104008917">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/alpinestars-casual-wear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CASUAL WEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-alpinestars-casual-banner.jpg?11982827676104008917">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="divider divider--lg"></div>

    {% elsif "lookbooks" == condition %}


    {% assign totalLookbookCount = blogs['lookbook'].articles_count %}
    {% assign counter = 0 %}
    {% paginate blogs['lookbook'].articles by totalLookbookCount %}
    {% for article in blogs['lookbook'].articles %}
    {% if counter < 6 and article.tags contains 'Alpinestars' or article.tags contains 'alpinestars' or article.tags contains 'Alpine Stars' %}
    {% assign counter = counter | plus: 1 %}

    <div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">

      <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
        <div>
          {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
        </div>

        <div class="TeaserGrid-content" style="margin-top: 6px;">
          <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
        </div>                       
      </a>

    </div>

    {% endif %}
    {% endfor %}
    {% endpaginate %}

    <div class="divider divider--md"></div>
    <div class="text-center visible-xs" id="dmore-lb">
      <a href="/search?type=article&q=alpinestars" class="btn btn--ys btn--xl obs_show_more_btn text-center margin_top-50"></a>
    </div>

    {% comment %}
    <div class="title-with-button">
      <div class="carousel-products__button pull-right"> <span class="btn-prev"></span> <span class="btn-next"></span> </div>
      <h3 class="text-left title-under  text_uppercase black_txt moto_wall_sub_title"><a href="/search?type=article&q=Troy+Lee+Designs">More Lookbooks from Troy Lee Designs</a></h3>
    </div>
    <div class="obs_lookbook_banner_slider slider">

      {% for article in blogs['lookbook'].articles %}

      {% for tag in article.tags %}
      {% if tag == 'Alpinestars' %}

      <div class="obs_lookbook_banner_slider-items">
        <a href="{{ article.url }}">
          <img src="{{ article.image.src | img_url: '1024x1024' }}" title="{{ article.title }}" alt="{{ article.title }}"/>
          <div class="slide-caption">{{ article.title }}</div>
        </a>
      </div>


      {% endif %}
      {% endfor %}
      {% endfor %}

    </div>

    {% for article in blogs['lookbook'].articles %}
    {% if article.tags contains 'Alpinestars' %}
    <div class="njohn_search_otherpage">
      <a href="{{ article.url }}" title="{{ article.title | escape }}">
        <div>{{ article.image.src | img_url: 'medium' | img_tag: article.title }}</div>
        <div>{{ article.title }}</div>
      </a>
    </div>
    {% endif %}
    {% endfor %}

    {% endcomment %}




    {% elsif "brand_sizing_guide" == condition %}
    <div class ="row">
      {% include 'page.alpinestars-size-chart' %}
    </div>
	  <div class="text-center">
        <div class="container wall-brand-desc-content">
          <div class ="row">
            {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
            <div class="divider divider--lg"></div>
            {%endcomment%}
            <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
              <div class ="row">
                <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/alpinestars-logo-wall.jpg?10643914217370221951">
              </div>
            </div>
            <div class="divider divider--lg"></div>
            <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
              <div class = "row">
              <p>Alpinestars is once again leading the way in developing rider safety. Having pioneered countless innovations in boots, suits and gloves, notably the development of external protection on road race boots in the early 80’s and more recently employing the philosophy on its leather suits, they are now introducing a new dimension into race suit technology – a fully autonomous, multiple field data acquisition system. The Advanced Safety Technology suit (AST).</p>
                <div class = "hidden-content">
                  <p>Fitting telemetry and acquiring data from race bikes and cars has been common practice for some years, however, acquiring data directly from the body of the rider/driver has not and Alpinestars is developing technology to allow technicians the ability to analyze the gravitational and impact forces, as well as the physiological effects experienced by a human when pushing the limits of a high performance race machine.</p>
                  <p>During the weekend of the German Grand Prix at the Sachsenring, MotoGP rider John Hopkins wore a leather suit equipped with the new A.S.T. system. Although indistinguishable from his usual race suit, John’s body was constantly monitored by a series of accelerometers, impact and physiological sensors.</p>
                  <p>The impact sensors are mounted on both external and internal surfaces of the suits protectors to measure the loads sustained and absorbed in a fall, without impeding or endangering the rider in any way. The sensors record the maximum impact value subjected to the rider, providing real situation data, above and beyond the test simulations currently conducted in the Alpinestars laboratory.</p>
                  <p>The custom data processor and solid-state memory, encased in an impact resistant structure and hidden in the back hump on John’s suit, acquire data throughout each session which can be downloaded immediately into a laptop plugged into a connector on the suit. The information can then be studied to analyze pressure point values, lateral G loads experienced, the rider’s pulse and the suit’s cooling performance.</p>
                  <p>The benefit of developing such technology is the tremendous amount of information that can be gathered about the stresses borne by a rider and the performance of safety equipment during a race and in the event of a fall. Alpinestars’ goal is to develop the technology to measure all the dimensional forces at work upon a rider and to allow greater understanding of material performance thereby improving safety both on the racetrack and ultimately on the road.</p>
                </div>
                <div class = "divider divider--md"></div>
                <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
              </div>
            </div>
          </div>
        </div>
    </div>


<script>
 
  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });
  });
</script>


    {% elsif "brand_story" == condition %}
    <div class="text-center">
      <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Alpienstars-About.jpg?4694233490581078941" alt="Alpinestar About Us">
    </div>

    <div class="divider divider--md"></div>




    {% endif %}