<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Sweatshirts</a></li>

<li><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Bottoms</a></li>
<li><a href="#SizeChartMenTab3" role="tab"data-toggle="tab" class="text-uppercase">Shirts</a></li>
<li><a href="#SizeChartMenTab4" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>



</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-kr3w-sweatshirts.JPG?13251318006326382133" alt="Kr3w Sweatshirts Size Charts" title="Kr3w Sweatshirts Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Sweatshirts</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th>Size  </th>
          <th>Chest </th>
          <th>Waist </th>
          <th>Sleeve</th>
        </tr>
      </thead>
     <tbody>
        <tr>
          <td>S
          <td>38in - (96.5cm)  </td>
          <td>36in - (91.5cm)  </td>
          <td>30.5in - (77.5cm)</td>
        </tr>
        <tr>
         <td>M</td>
          <td>41in - (104cm) </td>
          <td>38in - (96.5cm)</td>
          <td>33in - (84cm) </td>
        </tr>
        <tr>
       <td>L           </td>
          <td>41in - (104cm)</td>
          <td>41in - (104cm)</td>
          <td>34in - (86cm) </td>
        </tr>
        <tr>
       <td>XL          </td>
          <td>44in - (112cm)</td>
          <td>44in - (112cm)</td>
          <td>35in - (89cm)</td>
        </tr>
    </tbody>
    </table>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab2">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-kr3w-bottoms.JPG?13251318006326382133" alt="Kr3w Bottoms Size Charts" title="Kr3w Bottoms Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Bottoms</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="2" style="text-align:center;">Size</th>
        <th>Waist</th>
        <th>Hip</th>
        </tr>
      </thead>
     <tbody>
        <tr>
          <td>XS</td>
          <td>28</td>
          <td>27-28.5</td>
          <td>33-34.5</td>
        </tr>
        <tr>
          <td>S      </td>
          <td>30     </td>
          <td>29-30.5</td>
          <td>35-36.5</td>
        </tr>
        <tr>
         <td>M      </td>
          <td>32     </td>
          <td>31-32.5</td>
          <td>37-38.5</td>
        </tr>
        <tr>
            <td>L      </td>
          <td>34     </td>
          <td>33-34.5</td>
          <td>39-40.5</td>
        </tr>
          <tr>
          <td>XL     </td>
          <td>36     </td>
          <td>35-36.5</td>
          <td>41-42.5</td>
        </tr>
          <tr>
            <td> </td>
          <td>38     </td>
          <td>37-38.5</td>
          <td>43-44.5</td>
        </tr>
          <tr>
          <td></td>
          <td>40     </td>
          <td>39-40.5</td>
          <td>45-46.5</td>
        </tr>
    </tbody>
    </table>
        </div><!-- Responsive Table -->
    </div>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
      
     
   </div>

</div><!-- SizeChartMenTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab3">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-kr3w-shirts.JPG?13251318006326382133" alt="Kr3w Shirts Size Charts" title="Kr3w Shirts Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">Shirts</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>SIZE </th>
          <th>Chest</th>
          <th>Waist</th>
        </tr>
      </thead>
     <tbody>
        <tr>
         <td>S</td>
        <td>36in - (91.5cm) </td>
         <td>36in - (91.5cm) </td>
        </tr>
         <tr>
          <td>M             </td>
          <td>39in - (99cm)   </td>
           <td>40in - (101.5cm)</td>
        </tr>
        <tr>
          <td>L</td>
          <td>43in - (109cm)</td>
                  <td>44in - (112cm)</td>
        </tr>
        <tr>
         <td>XL          </td>
          <td>46in - (117cm)</td>
          <td>48in - (122cm)</td>
        </tr>
    </tbody>
    </table>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>

</div><!-- SizeChartMenTab3 -->
<div role="tabpanel" class="tab-pane" id="SizeChartMenTab4">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-kr3w-jackets.JPG?13251318006326382133" alt="Kr3w Jackets Size Charts" title="Kr3w Jackets Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Jackets</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>SIZE </th>
          <th>Chest </th>
          <th>Waist </th>
          <th>Sleeve</th>
        </tr>
      </thead>
     <tbody>
        <tr>
        <td>S            </td>
          <td>42in - (107cm) </td>
          <td>42in - (107cm) </td>
          <td>35.5in - (90cm)</td>
        </tr>
         <tr>
          <td>M            </td>
          <td>44in - (112cm) </td>
          <td>44in - (112cm) </td>
          <td>36.5in - (93cm)</td>
        </tr>
        <tr>
        <td>L            </td>
          <td>46in - (117cm) </td>
          <td>46in - (117cm) </td>
          <td>37.5in - (95cm)</td>
        </tr>
        <tr>
        <td>XL           </td>
          <td>48in - (122cm) </td>
          <td>48in - (122cm) </td>
          <td>38.5in - (98cm)</td>
        </tr>
    </tbody>
    </table>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>

</div><!-- SizeChartMenTab3 -->


</div>
</div><!-- SizeChartTab1 -->





</div><!-- ys -->