<div class="row shopping-policies"><!-- center-col -->
    <div class="col-md-12"><!-- title -->
        <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/buyer_assurance_guarantee.png?14885176084283634195" />

        <div class="divider divider--md"></div>

        <center><h4 class="color font30"><b>You are Protected by the Motorhelmets Buyer Assurance Guarantee! <br> Shop Online and Buy with Complete Confidence!</b></h4></center>

        <div class="divider divider--lg"></div>

        <div>
            <h4><b>1. Get <span style="color: #ff0000;">10% Off</span> on Your Entire Basket!</b></h4>
            <div><p>This promo applies to helmets & apparel only. Motorcycle body armor, boots, luggage, hard parts, body parts, oils, tires, batteries and oversized items do not apply. <br>Just enter the promotional code <span style="color: #ff0000;"><b>HAPPY10</b></span> during checkout. Please see this page for more info.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>2. Free Ground Shipping on orders <span style="color: #ff0000;">over $100</span>.</b></h4>
            <div style="display: block;"><span class="color-white bg-custom"><p><span class="color-white bg-custom">Free shipping only applies to lower 48 states</span>. Does not apply to orders to Canada, Guam, Puerto Rico, APO or other Military addresses, or other addresses outside the United States. Shipping is M-F only and does not include special holiday or weekend deliveries. Please see this page for more info.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>3. Free International Shipping on orders <span style="color: #ff0000;">over $999</span>.</b></h4>
            <div style="display: block;"><p><span class="color-white bg-custom">Free international shipping applies to helmets and apparel only</span>. Hard Parts, body parts, oils, tires, batteries and oversized items do not apply. Free standard shipping only applies for orders shipping outside the USA. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day). Please see this page for more info.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>4. <span style="color: #ff0000;">Free Freight on Exchanges</span> - We'll Make Sure You Get the Perfect Item!</b></h4>
            <div style="display: block;"><p>Valid for for helmets &amp; apparel only. Motorcycle boots, luggage, hard parts, body parts, oils, tires, batteries and oversized items do not apply. We will pay for shipping back to us for all exchanges, and then back to you. So you never have to worry about shipping charges! Free freight does not apply to Returns or returns for refunds (only for exchanges). Free freight only applies to ground shipping. Expedited shipping is not allowed. Shipping only applies to M-F. Shipping freight must be properly packed and shipped insurance pre-paid. Items lost in shipment or damaged in shipment is the responsibility of the customer. All original tags, paperwork, stickers and accessories must be included. All original manufacturer boxes must be in new condition. You have 7 days to request an exchange. Exchanged merchandise must be in New and Resaleable condition. All used helmets will be rejected. Any scratches or signs of use will void your exchange. Any washed merchandise is void of exchange. All returns must be accompanied by an order number, all original packaging materials and paperwork.<span class="color-white bg-custom">All Hot Sale items cannot be returned for exchange or refund. This item sale is final because it's a limited sale item. </span>Free Shipping Exchange does not cover Boots (Street, Offroad or Cruiser). Free Shipping Exchange does not cover Boots (Street, Offroad and Cruiser). Free exchange policy applies to ONE time use only. Customer agrees to pay for all returns and shipments thereafter. Check our Returns and Exchanges page for additional information.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>5. <span style="color: #ff0000;">Lowest Price Guaranteed</span> - We Will Refund the Difference!</b></h4>
            <div style="display: block;"><p>We guarantee to have the lowest price online from any legitimate authorized reseller. We'll refund the difference if you can prove that another reseller is advertising a lower price.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>6. <span style="color: #ff0000;">30 Days</span> Price Match Guarantee!</b></h4>
            <div style="display: block;"><p>We will price match any advertised price from a legitimate reseller. Personal sales and EBay or any 2nd hand sales do not apply. Website or ad must be confirmed by our staff and we will make the judgment to honor the price match. Advertised price must be from a US authorized reseller. Within 30 days of your purchase date, please email or fax us a confirmation of a lower price. After validation, we will refund you the difference.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>7. <span style="color: #ff0000;">30 Days</span> 100% Satisfaction Guarantee!</b></h4>
            <div style="display: block;"><p>We offer you 30 days to be completely happy with your purchase. Items returned must be exchanged for another item or returned for store credit. Item must be in new and resalable condition with all original tags and stickers, boxes and packaging. All apparel must be unworn, shoes, helmets, boots must be in new condition. Please do not wear helmets or apparel and then ship them back to us for exchange or returns. Original packaging must be intact and not damaged. Please request a Return number within 30 days to take advantage of this offer.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>8. Visit our Store in Southern California near Disneyland!</b></h4>
            <div style="display: block;"><p>We are located near world famous Disneyland and Knotts Berry Farm in Orange County California. Drop in and visit our store.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>9. Free Freight on all Oakley, VonZipper, Spy, Arnette, Ray-Ban and Revo Sunglasses</b></h4>
            <div style="display: block;"><p>We offer free ground shipping for all Oakley, VonZipper, Spy, Arnette, Ray-Ban and Revo sunglasses on orders <b><span style="color: #ff0000;">over $100</span></b>.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>10. No Sales Tax for Online Orders.</b></h4>
            <div style="display: block;"><p>*No sales tax for orders made online, except in CA. Motorhelmets.com will charge 8.75% sales tax for all CA orders.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>11. <span style="color: #ff0000;">International Orders</span> are Welcome!</b></h4>
            <div style="display: block;"><p>We welcome international orders. You can google wallet or wire transfer funds. Please use our international order inquiry form and list the merchandise you wish to purchase. We will then notify you with details and further instructions.</p></div>
        </div>

        <hr>

        <div>
            <h4><b>12. We stock all your favorite brands under one roof!</b></h4>
        </div>

        <hr>

        <div>
            <h4><b>13. Customer Service Reps Ready to Help you call <span style="color: #ff0000;">800-288-0640 (M-F 10-7pm PST)</span></b></h4>
        </div>

        <hr>

        <div>
            <h4><b>14. Restrictions Apply. Offers may expire or change at anytime.</b></h4>
            <div style="display: block;"><span class="color-white bg-custom">(You can only use one coupon at a time during check out.)</span></div>
        </div>

    </div>
</div>