<style type="text/css">
	
.fluidMedia {
    position: relative;
    padding-bottom: 75%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.fluidMedia iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

</style>

<center>
	<h1><b>In-Store Online Finance Application</b></h1>
	<h4><b>Get Approved Now! Shop at the Store</b></h4>
	<p><b>Question: Call 714-879-8180 (M-F 10-7 PST) | <a href="/pages/motorhelmets-online-financing-for-in-store-purchases-6-step-process">How It Works</a> | <a href="/pages/motorhelmets-in-store-financing-available">Store Financing</a></b></p>
</center>

<div class="divider divider--md"></div>

<div class="fluidMedia" style=" padding-bottom: 95%;">
    <iframe src="https://apply.sunbit.com/motorhelmets" frameborder="0"> </iframe>
</div>