<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->

<h3 class="text-center title-under uppercase_txt home_title">FirstGear Information Page</h3>
<hr class="hr-lg" />

<h4 class="color font30">Premium Riding Gear and Accessories</h4>

<hr class="hr-sm" />

<p>Since 1979, our company has set the standards for motorcycle apparel- for quality, innovation and technology. Our designs are hard-core, because our staff of motorcyclists is hard core. Our marketing and product development staff currently owns and rides more than 40 motorcycles. Many thousands of riding miles are put into the development of every FirstGear product. </p>
<p>One staffer is a genuine "Iron Butt" member, having taken his trusty BMW over 6,500 miles in 7 days! Another travels to New England to ride and test gear in the 90 degree and 90 percent humidity summer days to the 30 degree wind whipped winter days. The great thing about this is that we get to ride in the rain and cold of two extremely different regions, a nice change from the extreme heat and dryness of our summers. </p>
<p>These climate extremes let us develop and evaluate new systems and technology to help make your next ride more comfortable. In addition, you’ll find FirstGear staff members at most major and smaller motorcycle events across the country, listening to the needs of real riders like you.</p>
</div>
</div>