<!-- <h3 class="text-center title-under home_title">MOTORHELMETS MOTORCYCLE SERVICE AND REPAIR MENU</h3> -->

<div class="row">
    <div class="col-sm-12 col-md-12 ">
     
      
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice6-032120.jpg?v=1584772525" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice7-032120.jpg?v=1584772524" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="mmsr-title">
          <div class="mmsr-title-cont">
         <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
         <ul>
          <li>Our certified mechanic can service most European and Japanese bikes.</li>
          <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
          <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
          <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
        </ul> 
          </div>
        </div>
        
        <div class="clear"></div>
    </div>

</div>
<div class="divider divider--lg"></div>
<div class="jg_custom_pages">
<div class="motor-menu-cont">
    
{% include "page.motorcycle-service-menu-all" %}

<div class="divider divider--lg"></div>
<p class="text-center home_title harley-page-title">STREET / SPORT BIKE SERVICE</p>
  
<div class="divider divider--lg"></div> 
<div class="top-local-address">
<center>
<p style="font-size: 24px;font-weight: 500 !important;">Motorhelmets Fullerton CA</p>
<p>1871 W. Commonwealth Ave., Fullerton CA 92833 USA</p>
<p>Tel: 714-879-8180 | Email: team@motorhelmets.com | Service Dept SMS Txt: 657-217-3988 | Sales Dept SMS Txt: 657-217-6457</p>
<p>Store Hours: M-F 10am-7pm | Sat 11am-6pm</p>
<p><a href="https://www.picktime.com/motorhelmets" style="font-weight:bold;text-decoration:none;color:#c83138!important;">Schedule My Service</a></p>
</center>
</div>
 <div class="divider divider--lg"></div> 
  
  
  <div class="divider divider--md"></div>
  <div class ="row">
    <div class= "col-sm-12 col-md-12 col-lg-12">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="moto-serv-title">OIL CHANGE SPECIAL</th>
                  <th scope="col" class="moto-serv-title">$70.00</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                    <td>Change Engine Oil and Filter using Spectro OEM Blend Oil / HiFlo Oil Filter</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>
      <div class="divider divider--md"></div>
    <div class= "col-sm-12 col-md-12 col-lg-12">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="moto-serv-title">NEW BIKE FIRST SERVICE</th>
                  <th scope="col" class="moto-serv-title text-center">$275.00</th>
                </tr>
              </thead>
            <tbody>
            <tr>
            <td>Change Engine Oil and Filter</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Lube, Clean and Adjust Chain</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Lube Clutch Line</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check and Top Off Brake and Coolant Fluids</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Adjust Throttle</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Adjust Clutch</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check Braking System</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Adjust Tire Pressure</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check Cooling System</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check Idle</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Adjust Levers</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check Nuts, Bolts and Fasteners</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check Steering Head Bolt</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
              <td colspan="2"> <b> <i>* Additional Charge for Synthetic Oil</i></b></td>
            </tr> 
            
            </tbody>
          </table>
        </div>

    </div>

    <div class="divider divider--md"></div>
        <div class= "col-sm-12 col-md-12 col-lg-12">
            <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="moto-serv-title">MAJOR SERVICE SPECIAL</th>
                  <th scope="col" class="moto-serv-title text-center">$600.00</th>
                </tr>
              </thead>
            <tbody>
            <tr>
            <td>Change Engine Oil and Filter</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Air Filter Check and Clean</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Lube, Clean and Adjust Chain</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Lube Clutch Line</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Adjust Throttle</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Adjust Clutch</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check Braking System</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check/Adjust Tire Pressure</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check Cooling System</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check Idle</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Adjust Levers</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Check/Charge Battery</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Add Fuel Injector Cleaner</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Add Engine Cleaner</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Change Spark Plugs</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Flush Coolant add New Coolant</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Flush All Brake/Clutch Fluids</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
			<tr>
              <td colspan="2"> <b> <i>* Additional Charge for Synthetic Oil</i></b></td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>
    <div class="divider divider--md"></div>
    <div class= "col-sm-12 col-md-12 col-lg-12">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="moto-serv-title">FULL SYNTHETIC OIL CHANGE SPECIAL</th>
                  <th scope="col" class="moto-serv-title text-center">$135.00</th>
                </tr>
              </thead>
            <tbody>
            <tr>
            <td colspan="2">Change Engine Oil and Filter using Full Synthetic Oil/K&N or HiFlo Racing Oil Filter</td>
            </tr>
            <tr>
            <td>Add + $20.00 For Motul 300V</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Spectro Platinum or Motul 7100</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            </tbody>
          </table>
        </div>
    </div>

    <div class="divider divider--md"></div>
    <div class= "col-sm-12 col-md-12 col-lg-12">
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col" class="moto-serv-title">CARB CLEAN PACKAGE</th>
                      <th scope="col" class="moto-serv-title text-center">Includes</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                    <td>Carburetor(s) cleaned and reset to proper settings</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Fuel tank flushed</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Air filter serviced (or changed)</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Spark plugs changed</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Compression tested </td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td colspan="2"><i><b>* Single carb bikes starting at $300.00 plus parts <br> *Dual carb bikes starting at $500.00 plus parts <br> *Four carb bikes starting at $700.00 plus parts</b></i> </td>
                    </tr>

                </tbody>
              </table>
              <p><i>* Don’t just have your carburetor cleaned, then suck in dirty air or gas – address the whole air/fuel system. This gives you peace of mind and allows us to provide a 30-day warranty on the work.</i></p>
            </div>
    </div>
    <div class="divider divider--md"></div>
    <div class= "col-sm-12 col-md-12 col-lg-12">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="moto-serv-title">MINOR SERVICE SPECIAL</th>
                  <th scope="col" class="moto-serv-title text-center">$375.00</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                <td>Change Engine Oil and Filter</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Air Filter Check and Clean</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Lube, Clean and Adjust Chain</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Lube Clutch Line</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Check and Top Off Brake and Coolant Fluids</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Adjust Throttle</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Adjust Clutch</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Check Braking System</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Adjust Tire Pressure</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Check Cooling System</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Check Idle</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                <td>Adjust Levers</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
           
                <td colspan="2"><i><b>* Additional Charge for Synthetic Oil</b></i></td>
                </tr>
            </tbody>
          </table>
        </div>
    </div>

        <div class="divider divider--md"></div>
        <div class= "col-sm-12 col-md-12 col-lg-12">
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col" class="moto-serv-title">MAJOR SERVICE WITH VALVE ADJUSTMENT</th>
                      <th scope="col" class="moto-serv-title text-center">$800.00</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                    <td>Valve Adjustment</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Change Engine Oil and Filter</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Air Filter Check and Clean</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Lube, Clean and Adjust Chain</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Lube Clutch Line</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Check/ Top Off Brake Fluids Coolant</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Adjust Throttle</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Adjust Clutch</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Check/Adjust Tire Pressure</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Check Cooling System</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Check Idle</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Adjust Levers</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Check/Charge Battery</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Check Braking System</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Add Fuel Injector Cleaner</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Add Engine Cleaner</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Change Spark Plugs</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Flush Coolant add New Coolant</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td>Flush All Brake/Clutch Fluids</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                    <td colspan="2"><i><b>* Additional Charge for Synthetic Oil</b></i></td>
                    </tr>
                </tbody>
              </table>
            </div>
        </div>

        <div class="divider divider--md"></div>
        <div class= "col-sm-12 col-md-12 col-lg-12">
        
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col" class="moto-serv-title">MISCELLANOUS LABOR</th>
                      <th scope="col" class="moto-serv-title">CHARGES</th>
                    </tr>
                  </thead>
                <tbody>
                    <tr>
                    <td>Battery Test and/or Replace </td>
                    <td class="">$35.00</td>
                    </tr>
                    <tr>
                    <td>Brake Line Set Install </td>
                    <td class="">$160.00 (includes bleed)</td>
                    </tr>
                    <tr>
                    <td>Bleed Brakes Rear/Front (Two Calipers) </td>
                    <td class="">$60.00/$90.00</td>
                    </tr>
                    <tr>
                    <td>Brake Pads Front </td>
                    <td class="">$75.00 (Add bleed for $35 more)</td>
                    </tr>
                    <tr>
                    <td>Brake Pads Rear </td>
                    <td class="">$40.00 (Add bleed for $25 more)</td>
                    </tr> 
                    <tr>
                    <td>Carb Cleaning </td>
                    <td class="">Please call for details</td>
                    </tr>
                    <tr>
                    <td>Chain Service (Clean, Adjust, and Lube) </td>
                    <td class="">$40.00</td>
                    </tr>
                    <tr>
                    <td>Coolant Flush </td>
                    <td class="">$80.00</td>
                    </tr>
                    <tr>
                    <td>Diagnostic Services </td>
                    <td class="">Mechanical $100/Electrical $150 (Credited toward repairs)</td>
                    </tr>
                    <tr>
                    <td>Fork Seal Replacement </td>
                    <td class="">Set $300.00 - $400.00</td>
                    </tr>
                    <tr>
                    <td>Gas Tank Flush </td>
                    <td class="">$60.00</td>
                    </tr>
                    <tr>
                    <td>Spark Plugs (Varies)</td>
                    <td class="">$240.00 - $360.00</td>
                    </tr>
                    <tr>
                    <td>Sprocket Kit Install </td>
                    <td class="">$90.00</td>
                    </tr>
                    <tr>
                    <td>Valve Service </td>
                    <td class="">$500.00 - $800.00 (includes spark plug change too)</td>
                    </tr>
                    <tr>
                    <td>Windscreen Install </td>
                    <td class="">$65.00</td>
                    </tr>
                    <tr>
                    <td>Misc. Hourly Labor </td>
                    <td class="">$100.00</td>
                    </tr>
                    <tr>
                        <td colspan="2"><b>Tire Changes (Additional $10 if tires not Purchased at Motorhelmets)</b></td>
                    </tr>
                    <tr>
                    <td>Sport Bikes </td>
                    <td class="">$40.00 Each On the Bike</td>
                    </tr>
                    <tr>
                    <td>Sport Bikes </td>
                    <td class="">$25.00 Rims Off the Bike</td>
                    </tr>
                    <tr>
                    <td>HD/Cruiser  </td>
                    <td class="">Tires Front $65, Rear $125.00 (on bike, for MOST)</td>
                    </tr>
                    <tr>
                    <td>Dirt Tire on Bike </td>
                    <td class="">$55.00</td>
                    </tr>
                    <tr>
                    <td>Dirt Tire off Bike </td>
                    <td class="">$30.00</td>
                    </tr>
                  	<tr>
                    <td>Storage </td>
                    <td class="">$45.00/Day</td>
                    </tr>



                </tbody>
              </table>

            </div>
    
        </div>  

  </div>
  
</div>
 
