<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->

<h3 class="text-center title-under uppercase_txt home_title">Fox Girl Information Page</h3>
<hr class="hr-lg" />

<h4 class="color font30">Fox Racing Girls Gear</h4>

<hr class="hr-sm" />

<p>Fox Racing offers a full line of girls sportswear and mx gear.</p>
</div>
</div>