<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>

<li><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">JACKETS</a></li>

<li><a href="#SizeChartMenTab3" role="tab"data-toggle="tab" class="text-uppercase">HEADWEAR</a></li>


</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-etnies-mens-tops.jpg?8303076316990451308" alt="Altamont Shoes Size Charts" title="Altamont Shoes Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Tops</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>SIZE</th>
          <th>A.| CHEST (INCHES)</th>
          <th>CHEST (CM)</th>
          <th>B.| WAIST (INCHES)</th>
          <th>WAIST (CM)</th>
        </tr>
      </thead>
     <tbody>
        <tr>
          <td>XS     </td>
          <td>31-33  </td>
          <td>79-86  </td>
          <td>28-30  </td>
          <td>71-76  </td>
        </tr>
        <tr>
           <td>S      </td>
          <td>34-36  </td>
          <td>86-93  </td>
          <td>30-32  </td>
          <td>76-81  </td>
        </tr>
        <tr>
        <td>M      </td>
          <td>37-39  </td>
          <td>93-101 </td>
          <td>32-34  </td>
          <td>81-86  </td>
        </tr>
        <tr>
          <td>L      </td>
          <td>40-42  </td>
          <td>101-109</td>
          <td>34-36  </td>
          <td>86-91  </td>
        </tr>
        <tr>
         <td>XL     </td>
          <td>43-44  </td>
          <td>109-112</td>
          <td>36-38  </td>
          <td>91-97  </td>
        </tr>
        <tr>
         <td>XXL    </td>
          <td>44-46  </td>
          <td>112-117</td>
          <td>38-40 </td>
          <td>97-102</td>
                  </tr>
       
    </tbody>
    </table>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab2">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-etnies-mens-tops.jpg?8303076316990451308" alt="Altamont Jackets Size Charts" title="Altamont Jackets Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Jackets</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th>SIZE</th>
        <th>A.| CHEST (INCHES)</th>
        <th>CHEST (CM)</th>
        <th>B.| WAIST (INCHES)</th>
        <th>WAIST (CM)</th>
        </tr>
      </thead>
     <tbody>
        <tr>
          <td>S      </td>
          <td>34-36  </td>
          <td>86-93  </td>
          <td>29-32  </td>
          <td>81-86  </td>
        </tr>
        <tr>
          <td>M      </td>
          <td>37-40  </td>
          <td>93-103 </td>
          <td>32-34  </td>
          <td>81-86  </td>
        </tr>
        <tr>
          <td>L      </td>
          <td>41-44  </td>
          <td>103-113</td>
          <td>34-36  </td>
          <td>86-91  </td>
        </tr>
        <tr>
         <td>XL     </td>
          <td>45-48  </td>
          <td>113-122</td>
          <td>36-39</td>
          <td>91-99</td>
        </tr>
    </tbody>
    </table>
        </div><!-- Responsive Table -->
    </div>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
      
     
   </div>

</div><!-- SizeChartMenTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab3">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Altamont Headwear Size Charts" title="Altamont Headwear Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">HEADWEAR (NEW ERA)</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>SIZE </th>
          <th>7    </th>
          <th>7 1/8</th>
          <th>7 1/4</th>
          <th>7 3/8</th>
          <th>7 1/2</th>
          <th>7 5/8</th>
          <th>7 3/4</th>
          <th>7 7/8</th>
          <th>8    </th>
          <th>8 1/8</th>
          <th>8 1/4</th>
          <th>8 3/8</th>
          <th>8 1/2</th>
          <th>8 5/8</th>
          <th>8 3/4</th>
        </tr>
      </thead>
     <tbody>
        <tr>
         <td>CIRCUMFERENCE (INCHES)</td>
          <td>22  </td>
          <td>22.4</td>
          <td>22.7</td>
          <td>23.1</td>
          <td>23.5</td>
          <td>23.9</td>
          <td>24.2</td>
          <td>24.6</td>
          <td>25  </td>
          <td>25.4</td>
          <td>25.8</td>
          <td>26.1</td>
          <td>26.5</td>
          <td>26.9</td>
          <td>27.2</td>
        </tr>
         <tr>
          <td>CIRCUMFERENCE (CM)</td>
          <td>55.8</td>
          <td>56.8</td>
          <td>57.7</td>
          <td>58.7</td>
          <td>59.6</td>
          <td>60.6</td>
          <td>61.5</td>
          <td>62.5</td>
          <td>63.5</td>
          <td>64.5</td>
          <td>65.4</td>
          <td>66.4</td>
          <td>67.3</td>
          <td>68.3</td>
          <td>69.2</td>
        </tr>
    </tbody>
    </table>
    <h4 style="text-transform:uppercase;font-weight: bold;">HEADWEAR (FLEXFIT)</h4>
     <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>FIT     </th>
          <th>210     </th>
          <th>210     </th>
          <th>X, J, YP</th>
          <th>X, J, YP</th>
          <th>X, J, YP</th>
          <th>X, J, YP</th>
          <th>X, J, YP</th>
        </tr>
         <tr>
          <th>SIZE</th>
          <th>S/M </th>
          <th>L/XL</th>
          <th>XS  </th>
          <th>S/M </th>
          <th>L/XL</th>
          <th>OSFA</th>
          <th>XXL</th>

        </tr>
      </thead>
     <tbody>
        <tr>
        <td>SIZE RANGE</td>
        <td>6 7/8" - 7 1/4"</td>
        <td>7 1/4" - 7 5/8"</td>
        <td>6 5/8" - 7 1/8"</td>
        <td>6 3/4" - 7 1/4"</td>
        <td>7 1/8" - 7 5/8"</td>
        <td>6 7/8" - 7 3/8"</td>
        <td>7 3/8" - 8"</td>
        </tr>
         <tr>
        <td>CIRCUMFERENCE (CM)</td>
        <td>55-58</td>
        <td>58-61</td>
        <td>53-55</td>
        <td>55-58</td>
        <td>57-60</td>
        <td>56-59</td>
        <td>59-62</td>
        </tr>
    </tbody>
    </table>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>

</div><!-- SizeChartMenTab3 -->


</div>
</div><!-- SizeChartTab1 -->





</div><!-- ys -->