
<style type="text/css">
  .collage{
    padding:3px;
    margin:0px;
  }
  .sub-text{
    color:#949090b3;
  }

  .moto_store_interior div img {
    width:100%; 
  }

  .moto_store_interior .slick-arrow {
    opacity:0;

  }

  .moto_store_interior:hover .slick-arrow {
    opacity:1;

  }
</style>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<img class = "img-responsive hidden-xs center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/logo-1440-min.png?10727735024684964446" style ="width:25%">
<img class = "img-responsive visible-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/logo-1440-min.png?10727735024684964446">
<div class ="divider divider--lg"></div>
<div class="row"> <!-- row start -->
  <h2 class="text-center title-under uppercase_txt home_title">Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County</h2>
  <div id="fb-root"></div>
  <div class = "reviews-section row">
    <div class = "row google-reviews col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
      <div class = "col-sm-12 col-md-12 col-lg-6">
        <div class = "divider visible-xs visible-sm visible-md"></div>
        <div class = "">
          <div class = "col-lg-12">
            <div class = "row text-center customer-reviews-info">
              <h4>Micos Benjamin</h4>
              <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
            </div>
          </div>
          <div class = "col-lg-12">
            <div class = "">
              <p class = "text-justify">"I've purchase tons of gear from this shop. Competitive prices. Dropped off my bike recently. Fairly easy process and really good prices compared to my dealership. Got my bike back and am extremely happy feels amazing. Thanks again for taking care of me. Most companies wouldn't go out of their way to go the extra mile but you guys did. Thanks again!"</p>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-sm-12 col-md-12 col-lg-6">
        <div class = "divider visible-xs visible-sm visible-md"></div>
        <div class = "">
          <div class = "col-lg-12">
            <div class = "row text-center customer-reviews-info">
              <h4>Carlos Franco</h4>
              <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
            </div>
          </div>
          <div class = "col-lg-12">
            <div class = "">
              <p class = "text-justify">"I work in a nearby Armory and found out about this place about 4 years ago and they have helped me very much with my motorcycle issues, now that I work in burbank and will still go to fullerton to get help from this staff, They are dedicated to help. Great Job they help everyone regardless of your background."</p>
            </div>
          </div>
        </div>
      </div>
      <div class = "divider hidden-xs hidden-sm hidden-md"></div>
      <div class = "second-row">
      <div class = "col-sm-12 col-md-12 col-lg-6">
        <div class = "divider visible-xs visible-sm visible-md"></div>
        <div class = "">
          <div class = "col-lg-12">
            <div class = "row text-center customer-reviews-info">
              <h4>Don Niklas</h4>
              <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
            </div>
          </div>
          <div class = "col-lg-12">
            <div class = "">
              <p class = "text-justify">"Great place for stuff from street bikes to cruisers. My last visit I had a front tire replaced on my FLTRU (Harley) for $100 less than the dealer. Ask for a discount on helmets. They can usually sell for at.least 10% off. Make sure you look online before going for price match."</p>
            </div>
          </div>
        </div>
      </div>

      <div class = "col-sm-12 col-md-12 col-lg-6">
        <div class = "divider visible-xs visible-sm visible-md"></div>
        <div class = "">
          <div class = "col-lg-12">
            <div class = "row text-center customer-reviews-info">
              <h4>Moto Tico</h4>
              <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
            </div>
          </div>
          <div class = "col-lg-12">
            <div class = "">
              <p class = "text-justify">"I called last minute and these guys held the door for me a little longer to get my tire changed out. Thank you Tyler and everyone at the shop for your help. It's people and businesses like you that matter in this crazy industry."</p>
            </div>
          </div>
        </div>
      </div>
        <div class = "divider hidden-xs hidden-sm hidden-md"></div>
      <div class = "col-sm-12 col-md-12 col-lg-6">
        <div class = "divider visible-xs visible-sm visible-md"></div>
        <div class = "">
          <div class = "col-lg-12">
            <div class = "row text-center customer-reviews-info">
              <h4>West Coast Details</h4>
              <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
            </div>
          </div>
          <div class = "col-lg-12">
            <div class = "">
              <p class = "text-justify">"Great shop, great people. 

I had been shopping for a set of bars for my 2014 Roadking. Once I picked out my Factor 47's I called into Ruben @ Motorhelmets and it was seamless from there.

At that point Ruben was the contact with Factor 47 handling the order of my bars and setting up the install. The bars came in a week earlier then expected and I was called to set up a day to drop off my bike.

I dropped my bike off the day before the scheduled install and my bike was ready the same day.

Thanks again to everyone over @ Motorhelmets"</p>
            </div>
          </div>
        </div>
      </div>
      <div class = "col-sm-12 col-md-12 col-lg-6">
        <div class = "">
          <div class = "col-lg-9">
            <div class = "row text-center customer-reviews-info">
              <h4>Robert Cisneros</h4>
              <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
            </div>
          </div>
          <div class = "col-lg-9">
            <div class = "">
              <p class = "text-justify">"Complete engine rebuild 09 r6. I recommend this shop to all of my friends for all their great deals and service 100%"</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class = "divider divider--lg"></div>
  <button type = "button" class = "btn show-more-reviews-btn center-block"><p class = "service-show-more-btn">Show more</p></button>
  <div class = "divider divider--lg"></div>
 <div class="col-sm-1 col-md-1 col-lg-1">
  </div>
  <div class="col-sm-10 col-md-10 col-lg-10">
    <div class="street-view">
  <iframe src="https://www.google.com/maps/embed?pb=!4v1583374489072!6m8!1m7!1s214S7Co6JNtme8Ybwf4JWQ!2m2!1d33.87013828001823!2d-117.9619939297418!3f359.40320923162744!4f7.234669893621515!5f0.7820865974627469" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>  
    
    </div>
  
  </div>
   <div class="col-sm-1 col-md-1 col-lg-1">
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class ="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2 banner zoom-in moto_banner_main_banner" style ="padding:3px"><span class="figure buttonhover"> <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-store-front-032420.jpg?v=1585028127" alt="Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County" title="Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County" /> </span></div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 banner zoom-in moto_banner_main_banner" style ="padding:3px"><span class="figure buttonhover"> <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-store-front1-032420.jpg?v=1585028127" alt="Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County" title="Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County" /> </span></div>

    </div>
  </div>
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class ="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-lg-offset-2 banner zoom-in moto_banner_main_banner" style ="padding:3px"><span class="figure buttonhover"> <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-store-front3-032420.jpg?v=1585028127" alt="Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County" title="Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County" /> </span></div>

      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 banner zoom-in moto_banner_main_banner" style ="padding:3px"><span class="figure buttonhover"> <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-store-front4-032420.jpg?v=1585028127" alt="Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County" title="Motorhelmets in Fullerton is the Largest Stocking Dealer in Orange County" /> </span></div>

    </div>
  </div>

  <div class ="divider divider--lg"></div>
  <div class ="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2 hidden-xs" style ="padding:3px">


    <iframe class ="pull-right img-responsive" style="width:100%; height:500px;" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?q=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;gl=us&amp;cd=5&amp;ei=HBCXS9GmJJXqzASNp9H-Dw&amp;sig2=2abiqzG9tGRuqGVBkMyCqw&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=17854415528042546497&amp;ved=0CCAQpQY&amp;hq=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;hnear=&amp;ll=33.875546,-117.977371&amp;spn=0.171026,0.205994&amp;z=11&amp;iwloc=A&amp;output=embed" frameborder="0" height="300" width="480"></iframe>

  </div>

  <div class="col-sm-6 col-md-6 col-lg-4 hidden-xs" style ="padding:3px">
    <div class="fb-page" data-href="https://www.facebook.com/MotorhelmetsOC/" data-tabs="timeline" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MotorhelmetsOC/" class="fb-xfbml-parse-ignore" style ="width:100%"><a href="https://www.facebook.com/MotorhelmetsOC/">Motorhelmets</a></blockquote></div>
  </div>



  <div class ="divider divider--md"></div>

  <div class ="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">

    <div class ="col-xs-12 visible-xs" style ="padding:3px">
      <iframe class ="pull-right img-responsive" style="width:100%; height:500px;" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?q=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;gl=us&amp;cd=5&amp;ei=HBCXS9GmJJXqzASNp9H-Dw&amp;sig2=2abiqzG9tGRuqGVBkMyCqw&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=17854415528042546497&amp;ved=0CCAQpQY&amp;hq=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;hnear=&amp;ll=33.875546,-117.977371&amp;spn=0.171026,0.205994&amp;z=11&amp;iwloc=A&amp;output=embed" frameborder="0" height="300" width="480"></iframe>
    </div>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-location-logos.jpg" alt="Disneyland and Knotts, Cal State Fullerton, Fullerton College" title="Disneyland and Knotts, Cal State Fullerton, Fullerton College" width="480px" />
    <div class ="pull-left">
      <h5><strong>If you happen to be in Southern California, Visit our Orange County Store!</strong></h5>
      <p>We are located near Disneyland in Anaheim CA and Knotts Berry Farm in Buena Park.</p>


      <h4 style="padding-top: 34px;"><b>DIRECTIONS TO OUR STORE:</b></h4>
      <p><strong>Coming from Los Angeles:</strong> 5 South, exit Magnolia</p>
      <p><strong>Coming from Irvine:</strong> 5 North, Exit Brookhurst </p>
      <p><strong>Coming from Torrance/Garden:</strong> 1 East, Exit Magnolia </p>
    </div>
  </div>
  <div class ="divider divider--md visible-xs"></div>
  <div class ="col-sm-6 col-md-6 col-lg-4">

    <div class="fb-page visible-xs" data-href="https://www.facebook.com/MotorhelmetsOC/" data-width="500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/MotorhelmetsOC/" class="fb-xfbml-parse-ignore" style ="width:100%"><a href="https://www.facebook.com/MotorhelmetsOC/">Motorhelmets</a></blockquote></div>


    <h3>ONLINE SALES & CUSTOMER SERVICE DEPARTMENT</h3>
    <p class ="text-muted">Tel: 800-288-0640 or 714-879-8882</p> 
    <p class ="text-muted">Email: support@motorhelmets.com</p>
    <p class ="text-muted"> Office Hours: M-F 10am-7pm PST</p>
    <div class ="divider divider--lg"></div>
    <h3>MOTORCYCLE PARTS / ACCESSORIES & BIKE SERVICE CENTER</h3>
    <p class ="text-muted">1871 W. Commonwealth Ave., Fullerton CA 92833 USA</p>
    <p class ="text-muted">Tel: 714-879-8180</p>
    <p class ="text-muted">Email: team@motorhelmets.com</p>
    <p class ="text-muted">Service Dept SMS Txt: 657-217-3988</p>
    <p class ="text-muted">Sales Dept SMS Txt: 657-217-6457</p>
    <p class ="text-muted">Store Hours: M-F 10am-7pm | Sat 11am-6pm PST</p>
  </div>


</div> <!-- col end -->



<!-- table -->

<div class="row"> <!-- row start -->
  <div class="col-lg-12"> <!-- col start -->
    <hr>
    <h2 class="text-center title-under uppercase_txt home_title">Oakley Asian Fit Collection for Men &amp; Women.</h2>
    <h4 class="color text-center">We are the largest stocking dealer of Oakley Asian Fit in California.</h4>
    <div class = "col-sm-8 col-md-8 col-lg-8 col-sm-offset-2">
      <img class ="img-responsive center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-store-inside-032420.jpg?v=1585028127">
    </div>
    <div class="divider divider--md"></div>



  </div>
</div>


<div class="divider divider--md"></div>
<div class ="brand-holder col-lg-12 hidden-xs"> 
  <hr>
  <h2 class="text-uppercase text-center"><span> SHOP OUR TOP BRANDS </span></h2>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/troy-lee-designs"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/tld-353x261.png?13764375359243502022" class="img-responsive center-block b-lazy" alt="Shop Troy Lee Designs" title="Shop Troy Lee Designs" style = "width:70%;"></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/shift-racing"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/shift-racing-353x261.png?13764375359243502022" class="img-responsive center-block b-lazy" alt="Shop Shift Racing" title="Shop Shift Racing" style = "width:70%;" ></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/fox-racing"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1299/2659/files/fox-353x261.png?12782684585668825672" class="img-responsive center-block b-lazy" alt="Shop Fox Racing" title="Shop Fox Racing" style = "width:70%; " ></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/thor-mx"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/thor-353-261.png?992230107821188671" class="img-responsive center-block b-lazy" alt="Shop Thor Racing" title="Shop Thor Racing" style = "width:70%;"></a>

  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/alpinestars"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/alpine-star-353x261.png?13764375359243502022" class="img-responsive center-block b-lazy" alt="Shop Alpinestars" title="Shop Alpinestars" style = "width:70%;"></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/answer-racing"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/answe-racing--353-261.png?2663231731304793628" class="img-responsive center-block b-lazy" alt="Shop Answer Racing" title="Shop Answer Racing" style = "width:70%;"></a>
  </div>

</div>
<div class ="brand-holder col-lg-12 hidden-xs">
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/shoei"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/shoi-353-261.png?992230107821188671" class="img-responsive center-block b-lazy" alt="Shop Shoie" title="Shop Shoie" style = "width:70%;"></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/arai"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/arai-353-261.png?992230107821188671" class="img-responsive center-block b-lazy" alt="Shop Arai" title="Shop Arai" style = "width:70%;"></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/hjc"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/hjc-353-261.png?992230107821188671" class="img-responsive center-block b-lazy" alt="Shop HJC" title="Shop HJC" style = "width:70%;"></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/icon"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/icon-353x261.png?13764375359243502022" class="img-responsive center-block b-lazy" alt="Shop Icon" title="Shop Icon" style = "width:70%;"></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/bell"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="//cdn.shopify.com/s/files/1/1223/6434/files/bell-353-261.png?296320832266869252" class="img-responsive center-block b-lazy" alt="Shop Bell" title="Shop Bell" style = "width:70%;"></a>
  </div>
  <div class="logo-holder col-sm-4 col-md-4 col-lg-2">
    <a href="/collections/speed-and-strength"><img src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="https://cdn.shopify.com/s/files/1/1223/6434/files/speed-and-stregth-logo-353-261.jpg?7377950520270166092" class="img-responsive center-block b-lazy" alt="Shop Speed And Strength" title="Shop Speed And Strength" style = "width:70%;"></a>
  </div>



</div>


<h2 class="text-center title-under uppercase_txt home_title">Motorhelmets Services</h2>
<div class ="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
  <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/ducati-3-min.jpg?14858678720209613181" alt="Motorhelmets Used Bike Program" title="Motorhelmets Used Bike Program" />
  <div class ="divider divider--md"></div>
  <h3>GET CASH FOR YOUR MOTORCYCLE</h3>
  <ul class ="simple-list color-dark">
    <li>Inquire about our used bike program</li>
    <li>Call us at 714-879-8180 for more information</li>
  </ul>

</div>
<div class ="col-sm-6 col-md-6 col-lg-4">
  <a href="https://motorhelmets.com/pages/motorcycle-repair-and-service">
  <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-mechanic-min.jpg?9054908058222701246" alt ="Motorhelmets Repair and Service Center">
    </a>
  <div class ="divider divider--md"></div>
  <h3>MOTORCYCLE REPAIR AND SERVICE CENTER</h3>
  <ul class ="simple-list color-dark">
    <li>Tires Changes, Oil Changes, Installations</li>
    <li>Minor & Full Service</li>
    <a href= "/pages/motorcycle-repair-and-service"><li>Learn More..</li></a>
  </ul>
</div>


<div class ="col-sm-6 col-md-6 col-lg-4 col-lg-offset-2">
  <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/raffle-ticket-min.jpg?14858678720209613181" alt="Motorhelmets Raffle" title="Motorhelmets Raffle"/>
  <div class ="divider divider--md"></div>
  <h3>WIN FREE STORE PRIZES!</h3>
  <p class ="color-dark">Enter our free raffle and be eligible for a prize, held on the 1st Saturday of the month at our store. We are giving away jerseys, pants, gloves, helmets, jackets, parts and accessories.<b>No Purchase necessary.</b><br>
    Just sign up.</p>

</div>
<div class ="col-sm-6 col-md-6 col-lg-4">
   <a href="https://motorhelmets.com/pages/motorhelmets-in-store-financing-available">

  <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/financing-min.jpg?356569072905808469" alt ="Motorhelmets Repair and Service Center">
  </a>
  <div class ="divider divider--md"></div>
  <h3>MOTORHELMETS FINANCING</h3>
  <ul class ="simple-list color-dark">
    <li>Approval in Less than 60 Seconds.</li>
    <li>Choose Personalized Payment Options.</li>
    <li>Review Agreement, E-sign, and take home your purchase.</li>
    <li>Amount Financed ranges from $10 - $3,000.00.</li>
    <li>Annual Percentage Rate (APR ) Starting at 0% (if you qualify)*</li>
    <li>Must Apply in the Store in Person</li>
    <a href= "/pages/motorhelmets-in-store-financing-available"><li>Learn More...</li></a>
  </ul>
</div>




<div class="divider divider--lg"></div>
<div class="row visible-sm visible-xs">
  <h2 class="text-center title-under uppercase_txt home_title">Motorhelmets Store Interior</h2>
  <!-- col start -->
  <div class="moto_store_interior slider">
    <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
      <span class="figure buttonhover">
        <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-1-min.jpg?5416985914721719767" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
      </span>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
      <span class="figure buttonhover">
        <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-2-min.jpg?5416985914721719767" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
      </span>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
      <span class="figure buttonhover">
        <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-3-min.jpg?5416985914721719767" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
      </span>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
      <span class="figure buttonhover">
        <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-12-min.jpg?10486940803545301591" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior"> 
      </span>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
      <span class="figure buttonhover">
        <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-8-min.jpg?5416985914721719767" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
      </span>
    </div>
    <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
      <span class="figure buttonhover">
        <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-9-min.jpg?14050452590159710004" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
      </span>
    </div>
  </div>
</div>
<div class="row hidden-sm hidden-xs">
  <h2 class="text-center title-under uppercase_txt home_title">Motorhelmets Store Interior</h2>
  <!-- col start -->
  <div class="moto_store_interior slider">
    <div class = "col-sm-12 col-md-12 col-lg-12 hidden-xs">
      <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
        <span class="figure buttonhover">
          <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-1-min.jpg?5416985914721719767" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
        </span>
      </div>
      <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
        <span class="figure buttonhover">
          <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-2-min.jpg?5416985914721719767" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
        </span>
      </div>
      <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
        <span class="figure buttonhover">
          <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-3-min.jpg?5416985914721719767" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
        </span>
      </div>
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12 hidden-xs">
      <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
        <span class="figure buttonhover">
          <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-12-min.jpg?10486940803545301591" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior"> 
        </span>
      </div>
      <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
        <span class="figure buttonhover">
          <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-8-min.jpg?5416985914721719767" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
        </span>
      </div>
      <div class ="col-xs-12 col-sm-12 col-md-4 col-lg-4 collage banner zoom-in moto_banner_main_banner">
        <span class="figure buttonhover">
          <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/store-image-9-min.jpg?14050452590159710004" alt = "Motorhelmets Store Interior" title = "Motorhelmets Store Interior">
        </span>
      </div>
    </div>
  </div>
</div>










<script>
  jQuery(function($) {
    $j('.moto_store_interior').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      draggable: false,
      arrows: true,
      autoplay: true,
      autoplaySpeed: 5000,
      pauseOnHover: true,
      cssEase: 'linear'
    });
  });
</script>

