
<style>
  .jg_custom_pages .moto_box h2 span {
     color: #fa6b6b;
  }

  .motoModels
  {
    float: none;
      padding: 0 2%!important;
      width: 100%;
      margin: 0 0;
  }

  .motoModels div span.zoom-moto3
  {
    display: inline-block;
    margin-left: 5px;
      margin-right: 5px;
      /*width: 75%;*/
      transition: transform .2s;
      transition-property: transform;
      transition-duration: 0.2s;
      transition-timing-function: ease;
      transition-delay: 0s;
  }

  .motoModels div span.zoom-moto3:hover
  {
    transform: scale(1.2);
    /*transform: scaleX(2);
    transform: scaleY(2);*/
  }

  ul.serviceType
  {
    margin:0 0;
    padding:3% 0;
    list-style: none;
  }

  ul.serviceType li
  {
    margin:0 0;
    padding:0 0;
    font-size:24px;
  }
</style>

<div class="row">
    <div class="col-sm-12 col-md-12 ">
     
      
        <div class="col-md-12" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-utv-atv-service-repairs.jpg?v=1613804578" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="mmsr-title">
          <div class="mmsr-title-cont">
         <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
         <ul style="font-size:18px!important;padding:0 10% 0 11%!important;">
          <li>Contact us about getting your UTV/Side-by-Side Serviced</li>
          <li>By Appointment Only</li>
          <li>European and Japanese Side x Sides & Utility Terrain Vehicles / ROV</li>
        </ul> 
          </div>
        </div>
        
        <div class="clear"></div>
    </div>

</div>
<div class="divider divider--lg"></div>


<div class="jg_custom_pages">

{% include "page.motorcycle-service-menu-all" %}

<div class="divider divider--lg"></div>

<h3 class="text-center title-under uppercase_txt home_title">Motorhelmets UTV / ATV / Side x Side Services</h3>

<div class="visible-xs divider divider--md"></div>

<h3 class="text-center home_title">UTV / ROV / Side x Side Service & Repairs</h3>
<div class="visible-xs divider divider--md"></div>
<h3 class="text-center title-under uppercase_txt home_title">Utility Terrain Vehicles Recreational Off-Highway Vehicle (ROV)</h3>
<div class="visible-xs divider divider--md"></div>
<h3 class="text-center text-danger">Belt Clutch Axles Lights Radios Sound Insurance Repair Engines Builds</h3>
<div class="divider divider--sm-2"></div> 

<h1 class="text-center title-under" style="color:black!important;text-transform: uppercase;font-size:40px;padding-bottom:0;margin-bottom:0;">Servicing</h1>
<div class="row motoModels">
        <div class="col-md-4 text-center" style="padding:1.5em;">
          <span class="text-center motorcycle-brands zoom-moto3" style="color: #6dcdb1" title="Arctic Cat" alt="Arctic Cat">ARCTIC CAT</span>
        </div>
        <div class="col-md-4 text-center" style="padding:1.5em;">
          <span class="text-center motorcycle-brands zoom-moto3" style="color: #ed3338" title="Can Am" alt="Can Am">CAN AM</span>
        </div>
        <div class="col-md-4 text-center" style="padding:1.5em;">
          <span class="text-center motorcycle-brands zoom-moto3" style="color: #c83138" title="Honda" alt="Honda">HONDA</span>
        </div>
        <div class="col-md-4 text-center" style="padding:1.5em;">
          <span class="text-center motorcycle-brands zoom-moto3" style="color: #003985" title="Husqvarna" alt="Husqvarna">HUSQVARNA</span>
        </div>
        <div class="col-md-4 text-center" style="padding:1.5em;">
          <span class="text-center motorcycle-brands zoom-moto3" style="color: #62c930" title="Kawasaki" alt="Kawasaki">KAWASAKI</span>
        </div>
        <div class="col-md-4 text-center" style="padding:1.5em;">
          <span class="text-center motorcycle-brands zoom-moto3" style="color: #929292" title="Polaris" alt="Polaris">POLARIS</span>
        </div>
        <div class="col-md-4 text-center" style="padding:1.5em;">
         <span class="text-center motorcycle-brands zoom-moto3" style="color: #e8df00" title="Suzuki" alt="Suzuki">SUZUKI</span>
        </div>
        <div class="col-md-4 text-center" style="padding:1.5em;">
          <span class="text-center motorcycle-brands zoom-moto3" style="color: #053ba5" title="Yamaha" alt="Yamaha">YAMAHA</span>
        </div>
        <div class="col-md-4 text-center" style="padding:1.5em;">
          <span class="text-center motorcycle-brands zoom-moto3" style="color: #d87119" title="Textron" alt="Textron">TEXTRON</span>
        </div>

</div> <!-- end of row -->

<div class="divider divider--lg"></div>
<h2 class="text-center" style="color:black!important;">Tires, Cage Work, Service</h2>
<h3 class="text-center title-under uppercase_txt home_title">Ask us About UTV / ATV / Side by Side Tires</h3>
<div class="divider divider--lg"></div>

<div class="row">
  <h1 class="hidden-xs text-center title-under uppercase_txt home_title" style="font-size:50px!important;padding-bottom:40px;margin-bottom:0;">Motorhelmets UTV Service Type</h1>
  <h1 class="visible-xs text-center title-under uppercase_txt home_title" style="font-size:40px!important;padding-bottom:40px;margin-bottom:0;">Motorhelmets UTV Service Type</h1>
<div class="col-sm-12 col-md-12 col-lg-12" style="padding-top:0;margin-top:0;">
    <div class="col-sm-4 col-md-4 col-lg-4" style="padding-top:0;margin-top:0;">
       <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/image002.gif?v=1613806750" class="img-responsive"  />
    </div> <!-- end of col-sm-4 -->
    <div class="col-sm-8 col-md-8 col-lg-8" style="padding-top:0;margin-top:0;">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <ul class="serviceType">
               <li>Engine Modifications</li>
               <li>Performance Clutch Kits</li>
               <li>Fuel Tuner Tuning</li>
               <li>Tire Changes</li>
               <li>Tire & Rim Installs</li>
               <li>Shock Rebuilds</li>
               <li>Door Installs</li>
               <li>Cage Installs</li>
               <li>Harness Upgrades</li>
               <li>Roof Installs</li>
               <li>Bumper Installs</li>
            </ul>
        </div> <!-- end of col-sm-6 -->
        <div class="col-sm-6 col-md-6 col-lg-6">
            <ul class="serviceType" >
               <li>A-Arm Upgrades</li>
               <li>Transmission Rebuilds</li>
               <li>Helmet Communication (PCI & Rugged)</li>
               <li>Billet Mirror Install</li>
               <li>Lighted Whip Wiring & Mounting</li>
               <li>Dashboard Switch Install</li>
               <li>Plug-in Diagnostic</li>
               <li>Frame Straightening</li>
               <li>Engine Realigning</li>
               <li>Gauge Install</li>
               <li>Alignments</li>
            </ul>
        </div> <!-- end of col-sm-6 -->
    </div> <!-- end of col-sm-8 -->
</div> <!-- end of col-sm-12 -->
</div> <!-- end of row -->

<div class="divider divider--md"></div>

<div class="row">
  <h1 class="text-center title-under uppercase_txt home_title" style="font-size:50px!important;padding-bottom:40px;margin-bottom:0;">UTV Types</h1>
  <div class="hidden-xs col-sm-12 col-md-12 col-lg-12" style="padding-top:0;margin-top:0;">
  <center>
     <p>Polaris: Sport UTV – RZR; Utility UTV – Ranger; Sport-Utility UTV – General</p>
     <p>Yamaha: Sport UTV – YXZ1000R; Utility UTV – Viking; Sport-Utility UTV – Wolverine</p>
     <p>Honda: Sport UTV – Talon; Utility UTV – Pioneer</p>
     <p>Can-Am: Sport UTV – Maverick; Utility UTV – Defender; Sport-Utility UTV – Commander</p>
     <p>Kawasaki: Utility UTV – Mule; Sport-Utility UTV – Teryx</p>
     <p>Arctic Cat: Sport UTV – Wildcat; Utility UTV – Prowler; Sport-Utility UTV – Havoc</p>
     <p>John Deere: Utility UTV – Gator XUV & Gator HPX; Sport-Utility UTV – Gator RSX</p>
  </center>
  </div> <!-- end of col-sm-12 -->
<div class="visible-xs col-xs-12" style="padding-top:0;margin-top:0;font-size:14px!important;">
<center>
   <p>Polaris: Sport UTV – RZR</p>
   <p>Polaris: Utility UTV – Ranger</p>
   <p>Polaris: Sport-Utility UTV – General</p>
   <p>Yamaha: Sport UTV – YXZ1000R</p>
   <p>Yamaha: Utility UTV – Viking</p>
   <p>Yamaha: Sport-Utility UTV – Wolverine</p>
   <p>Honda: Sport UTV – Talon</p>
   <p>Honda: Utility UTV – Pioneer</p>
   <p>Can-Am: Sport UTV – Maverick</p>
   <p>Can-Am: Utility UTV – Defender</p>
   <p>Can-Am: Sport-Utility UTV – Commander</p>
   <p>Kawasaki: Utility UTV – Mule</p>
   <p>Kawasaki: Sport-Utility UTV – Teryx</p>
   <p>Arctic Cat: Sport UTV – Wildcat</p>
   <p>Arctic Cat: Utility UTV – Prowler</p>
   <p>Arctic Cat: Sport-Utility UTV – Havoc</p>
   <p>John Deere: Utility UTV – Gator XUV & Gator HPX</p>
   <p>John Deere: Sport-Utility UTV – Gator RSX</p>
</center>
</div> <!-- end of col-sm-12 -->
</div> <!-- end of row -->

     <div class="divider divider--xl-6"></div>
     <div class="divider divider--xl-6"></div>
     <div class="hidden-xs row">
       <h3 class="text-center  uppercase_txt home_title">Call to make appointment & more information</h3>
       <h3 class="text-center uppercase_txt home_title">714-879-8180 / team@motorhelmets.com</h3>
       <h3 class="text-center uppercase_txt home_title">Text: 657-217-3988</h3>
     </div>
         <!-- MOBILE VIEW -->
          <div class="visible-xs row" style="padding:0 2em!important;">
             <h3 class="text-center  uppercase_txt home_title">Call to make appointment & more information</h3>
             <h3 class="text-center uppercase_txt home_title">714-879-8180</h3>
             <h3 class="text-center uppercase_txt home_title" style="font-size:20px!important;">team@motorhelmets.com</h3>
             <h3 class="text-center uppercase_txt home_title">Text: 657-217-3988</h3>
           </div>
       
     <div class="divider divider--md-3"></div>

     <h2 class="text-center uppercase_txt home_title" style="font-size:40px!important;padding-bottom:40px;margin-bottom:0;">Contact your rep for more information</h2>
     <h3 class="text-center  uppercase_txt home_title">By Appointment Only</h3>

     {% include "page.motorhelmets-service-footer" %}


  </div>
