
{% if "logo" == condition %}

<a href = "/collections/hjc">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-main-banner.jpg?1617143950783128786" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-hjc-main-banner.jpg?1617143950783128786" alt="">
</a>

{% elsif "header" == condition %}


<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/hjc" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->

  <button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 






{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/hjc-womens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-womens-banner.jpg?8328207563233922239">
       </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/hjc-mens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-mens-gear.jpg?8328207563233922239">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/hjc-street-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text-col-4">STREET HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-street-helmets-banner.jpg?16562577827624938698">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/hjc-off-road-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text-col-4">OFF-ROAD HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-offroad-helmets.jpg?16562577827624938698">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/hjc-cruiser-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text-col-4">CRUISER HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-cruiser-helmets-banner.jpg?4657507966586310159">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/hjc-hot-sales">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-sale-banner.jpg?4657507966586310159" alt="">
      </a>
    </div>
  </div>
</div>
</div>


<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/hjc-womens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-hjc-womens-banner.jpg?3100729520062920124">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/hjc-mens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-hjc-mens-gear.jpg?3100729520062920124">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/hjc-street-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">STREET HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-hjc-street-helmets-banner.jpg?3100729520062920124">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/hjc-off-road-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-hjc-offroad-helmets.jpg?3100729520062920124">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/hjc-cruiser-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CRUISER HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-hjc-cruiser-helmets-banner.jpg?3100729520062920124">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/hjc-hot-sales">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-hjc-sale-banner.jpg?3100729520062920124" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  

<div class="divider divider--md"></div>

{% elsif "lookbooks" == condition %}


{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
  {% assign counter = 0 %}
  {% paginate blogs['lookbook'].articles by totalLookbookCount %}
    {% for article in blogs['lookbook'].articles %}
      {% if counter < 6 and article.tags contains 'HJC' or article.tags contains 'hjc' or article.tags contains 'H.J.C.' %}
          {% assign counter = counter | plus: 1 %}
              <div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">
                    
                  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
                       <div>
                        {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
                       </div>
                                         
                          <div class="TeaserGrid-content" style="margin-top: 6px;">
                            <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
                           </div>                       
                    </a>
                    
                  </div>
      {% endif %}
    {% endfor %}
  {% endpaginate %}

  
  <div class="divider divider--md"></div>


<div class="divider divider--lg"></div>
{% elsif "more_info" == condition %}
{% include "page.wall-info-hjc" %}


{% elsif "brand_sizing_guide" == condition %}
<div class = "row">
    {% include 'hjc-size-chart' %}
  </div>


  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-logo-l-1.png?3150894288855075238">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class = "row">
            <p>Since 1971, HJC has specialized in manufacturing motorcycle helmets exclusively. The combination of this extensive specialized manufacturing experience, innovative ideas, and reasonable pricing resulted in HJC’s success in worldwide markets. It is HJC’s continual goal to provide high quality, comfortable, and reasonably priced helmets to motorcyclists around the world.</p>
            <p>As a direct result of this mission, since 1992, HJC has succeeded in maintaining the status as the #1 helmet brand in North America. (Refer to Motorcycle Industry Magazine 1992-present) More importantly, motorcyclists worldwide make HJC their brand of choice. And with a wide selection of helmets in the mid to high end range, HJC has expanded consumers’ choice in helmets.</p>
            <div class = "hidden-content">
              <p>In the modern era of helmet manufacturing, HJC is proud to say that our helmets are constantly tested in both laboratory testing as well as in “real” life for quality assurance. HJC is only one of very few helmet companies that are equipped with its own state of the art wind tunnel testing laboratory to test for aerodynamics, ventilation, noise, etc. Further, HJC has 3 helmet factories in 3 different countries; Korea, China and Vietnam. These factories provide strategic venues to produce high end, mid, and entry level products to satisfy the demands of consumers around the world.</p>
              <p>In the fall of 2012, HJC expanded its range with the introduction of RPHA 10 full face helmet that features an extremely light weight shell with patent pending center locking mechanism, superior aerodynamics and comfort. This model showcases our technical capabilities and innovations such as our advanced ventilation channeling system and our unique composite shell designs. The RPHA 10 helmet is being worn by professional racers including 2-Time Moto GP World Champion and Factory Yamaha racer Jorge Lorenzo, as well as 3-time AMA Superbike Champion, 2009 WSBK Champion and Pramac Ducati rider Ben Spies. What sets our RPHA 10 apart is that it offers all the features of high-end helmets at prices the average consumer can afford, an accomplishment our high-end competitors have not been able to do. The RPHA 10 helmet offers extremely light weight for rider comfort. In fact, it is one of the lightest Snell 2010 helmets in the market place.</p>
              <p>In addition to the RPHA 10 our new RPHA series includes the off-road RPHA X worn by X-Games gold medalists Nate Adams and Matt Buyten as well as the modular RPHA Max, RPHA ST.</p>
              <p>The newest line in the HJC brand is the FG series which consist of mid range and lightweight fiberglass helmets that have many of the features that the consumers demand. Included in this line is the full face FG-17, the open face FG-Jet and the upcoming off-road FG-X. And in the fall of 2015, HJC will introduce some of its finest new models ever designed!</p>
              <p>With the addition of the helmet models mentioned above, it is clear that HJC continues to be a brand that is friendly to motorcyclists around the world providing safe, comfortable, stylish and affordable helmets.</p>
            </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
   

<script>
 
  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });
  });
</script>


{% elsif "brand_story" == condition %}
  <div class="text-center">
  <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-wall-about.jpg?3952994981685100246" alt="">
  </div>

<div class="divider divider--md"></div>



<style type="text/css">
  #collections {
    display: none !important;
  }
</style>

{% endif %}
