<!-- <h3 class="text-center title-under home_title">MOTORHELMETS MOTORCYCLE SERVICE AND REPAIR MENU</h3> -->
<meta charset="UTF-8">

<style type="text/css">

    /*div.ulContainer
    {
      display: flex;
      justify-content: center;
    }*/

    .strikeText 
    {
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: bold;
        color:#000000!important;
        font-size:45px;
        padding: 0;
        margin: 0;
    }

    .strikeText::before 
    {
        margin-right: .25em;
    }

    .strikeText::after
    {
        margin-left: .25em;
    }

    .strikeText::before, .strikeText::after 
    {
        content: '';
        flex: 1;
        border-bottom: 2px solid black;
    }
  
    ul.repairAndService
    {
      list-style-type: none;
      text-align: center;
    }

    ul.repairAndService li
    {
      color:#000000!important;
      font-size:30px;
      text-align: left;
      transition: 2s;
    }

    ul.repairAndService li:before
    {
      content:'\1F527';
      margin-left:-20px;
      margin-right:10px;
    }

    ul.repairAndService li a
    {
      text-decoration: none;
      color:#000000!important;
      opacity:0.8;
    }

    ul.repairAndService li:hover a
    {
      opacity:1;
      /*text-decoration:underline;*/
      /*border-bottom:1px solid black;*/
      /*border-bottom-width: 6px;*/
    }

    /*ul.repairAndService li:hover
    {
      cursor:pointer!important;
    }*/

    @media (max-width: 500px) 
    {

        ul.repairAndService li
          {
            font-size:18px;
          }
    }

</style>


<div class="container" style="max-width: 1440px;">


  <div class="row">
    <div class="col-sm-12 col-md-12 ">


      <div class="col-md-6" style="padding: 0;">
        <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice-032120.jpg?v=1584768832" class="img-responsive"  style="margin: 5px 0;"  /></center>
      </div>
      <div class="col-md-6" style="padding: 0;">
        <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice1-032120.jpg?v=1584768831" class="img-responsive"  style="margin: 5px 0;"  /></center>
      </div>
      <div class="mmsr-title">
        <div class="mmsr-title-cont">
          <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
          <ul>
            <li>Our certified mechanic can service most European and Japanese bikes.</li>
            <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
            <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
            <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
          </ul> 
        </div>
      </div>

      <div class="clear"></div>
    </div>

  </div>
  <div class="divider divider--lg"></div>


  <div class="motor-menu">
    <div class="motor-menu-cont">
      <h3 class="text-center">MOTORCYCLE SERVICE AND REPAIR MENU</h3>
      <div class="divider divider--lg"></div>
      
      {% include "page.motorcycle-service-menu-all" %}
      
      <div class="divider divider--lg"></div>
      <div class="row text-center">
            <h1 style="color:black!important;">Motorhelmets is your</h1>
            <h1 class="text-center title-under uppercase_txt home_title" style="font-size:40px!important;padding-bottom:20px;margin-bottom:0;">Complete Motorcycle Service Center</h1>
            <!-- <div class="divider divider--md"></div>
            <h1 style="color:black!important;">Serving Orange County & Southern California</h1>
            <div class="divider divider--xs"></div>
            <h4 style="color:black!important;">We are your local bike shop.</h4> -->
      </div>

      <div class="divider divider--xl"></div>
      <div class="row text-center">
            <h1 class="text-center uppercase_txt home_title" style="font-size:30px!important;padding-bottom:9px;margin-bottom:0;">Serving Orange County & Southern California</h1>
            <h1 style="color:black!important;">We are your local bike shop</h1>
      </div>
      <div class="divider divider--md"></div>


      <div class="strikeText hidden-xs" style="margin:1% 0;">We Service & Repair</div>
      <div class="visible-xs divider divider--xl"></div>
      <h1 class="text-center title-under uppercase_txt home_title visible-xs" style="font-size:40px!important;padding-top:8px;padding-bottom:2px;margin-bottom:0;">We Service & Repair</h1>

      <div class="row hidden-xs" style="margin:0 0;padding:0 0;"> 
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin: 0 0 0 0;padding: 0 10% 1% 20%;">
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin:0 auto;padding:0;">
                    <ul class="repairAndService">
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-cruiser-motorcycles-metric-harley-davidson">Harley Davidson Motorcycles</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-cruiser-motorcycles-metric-harley-davidson">Cruiser Metric Bikes</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-street-sport-bike-service">Japanese Sport Bikes</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-street-sport-bike-service">European Sport Bikes</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-dirt-bike-atv-service">Dirt Bikes / Off-Road Vehicles</a></li>
                    </ul>
                  </div> <!-- end of col-sm-6 -->
                  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin:0 auto;padding:0 0 0 0;"> 
                     <ul class="repairAndService" style="margin:0 0 0 15%!important;">
                       <li><a href="https://motorhelmets.com/pages/motorhelmets-service-dirt-bike-atv-service">ATVs</a></li>
                       <li><a href="https://motorhelmets.com/pages/motorhelmets-utv-repair-service-parts-accessories">UTVs</a></li>
                       <li><a href="https://motorhelmets.com/pages/motorhelmets-utv-repair-service-parts-accessories">Side-by-Sides</a></li>
                       <li><a href="https://motorhelmets.com/pages/motorhelmets-utv-repair-service-parts-accessories">ROVs</a></li>
                     </ul>
                  </div> <!-- end of col-sm-6 -->
          </div> <!-- end of col-sm-12 -->
      </div> <!-- end of row -->

      <div class="visible-xs divider divider--xl"></div>
      <div class="row visible-xs" style="margin:0 0;padding:0 0;"> 
          <div class="col-xs-12" style="margin: 0 0 0 0;padding: 0 0;">
                  <div class="row" style="margin:0 auto;padding:0;">
                    <ul class="repairAndService" style="margin:0 0;padding:0 1em;">
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-cruiser-motorcycles-metric-harley-davidson">Harley Davidson Motorcycles</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-cruiser-motorcycles-metric-harley-davidson">Cruiser Metric Bikes</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-street-sport-bike-service">Japanese Sport Bikes</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-street-sport-bike-service">European Sport Bikes</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-dirt-bike-atv-service">Dirt Bikes / Off-Road Vehicles</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-service-dirt-bike-atv-service">ATVs</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-utv-repair-service-parts-accessories">UTVs</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-utv-repair-service-parts-accessories">Side-by-Sides</a></li>
                      <li><a href="https://motorhelmets.com/pages/motorhelmets-utv-repair-service-parts-accessories">ROVs</a></li>
                    </ul>
                  </div> <!-- end of row -->
          </div> <!-- end of col-xs-12 -->
      </div> <!-- end of row -->

      <hr class="hidden-xs" style="border:1px solid black;margin:0 0!important;padding:0 0!important;">

      <div class="divider divider--lg"></div>
      <div class="row text-center">
            <h1 class="text-center uppercase_txt home_title" style="font-size:30px!important;padding-bottom:9px;margin-bottom:0;"><a href="/pages/motorhelmets-motorcycle-tires-orange-county" style="text-decoration:none;color:#c83138!important;">Largest Motorcycle Tire Center in Orange County</a></h1>
            <h1 style="color:black!important;">Sales, Install & Service</h1>
      </div>
      <div class="divider divider--lg"></div>

      <div class="divider divider--sm"></div>
      <div class="hidden-xs row text-center top-local-address" style="padding:0 2em;color:#000000!important;font-size:20px;">
                    <p style="font-size: 24px;font-weight: 500 !important;">How To Reach Us:</p>
                    <p style="font-weight: normal!important;">Call for more information: 714-879-8180</p>
                    <p style="font-weight: normal!important;">Text for info: 657-217-6457</p>
                    <p style="font-weight: normal!important;">Email: <a href="mailto:team@motorhelmets.com" style="text-decoration:none;color:#c83138!important;">team@motorhelmets.com</a></p>
                    <p style="font-weight: bold!important;"><a href="https://www.picktime.com/motorhelmets" style="text-decoration:none;color:#c83138!important;">Schedule Your Next Service Online</a></p>
                    <!-- <p style="font-weight: bold!important;"><a href="https://www.picktime.com/motorhelmets" style="text-decoration:none;color:#c83138!important;">Schedule Your Next Service Online<span style="margin-left:5px;font-size:20px;width:100%;text-align:center;">&#x1F4C6</span></a></p> -->
      </div>
      <div class="visible-xs row text-center top-local-address" style="padding:0 2em;color:#000000!important;">
                    <p style="font-size: 24px;font-weight: 500 !important;">How To Reach Us:</p>
                    <p style="font-weight: normal!important;">Call for more information:</p>
                    <p style="font-weight: normal!important;">714-879-8180</p>
                    <p style="font-weight: normal!important;">Text for info: 657-217-6457</p>
                    <p style="font-weight: normal!important;">Email: <a href="mailto:team@motorhelmets.com" style="text-decoration:none;color:#c83138!important;">team@motorhelmets.com</a></p>
                    <p style="font-weight: bold!important;"><a href="https://www.picktime.com/motorhelmets" style="text-decoration:none;color:#c83138!important;">Schedule Your Next Service Online</a></p>
      </div>
      <div class="divider divider--lg"></div>

      <div class="divider divider--sm"></div>
      <div class="hidden-xs row text-center top-local-address" style="padding:0 2em;color:#000000!important;font-size:20px;">
                    <p style="font-size: 24px;font-weight: 500 !important;">Motorhelmets Fullerton CA</p>
                    <p style="font-weight: normal!important;">1871 W. Commonwealth Ave., Fullerton CA 92833 USA</p>
                    <p style="font-weight: normal!important;">Tel: 714-879-8180 | Email: team@motorhelmets.com</p>
                    <p style="font-weight: normal!important;">Service Dept SMS Txt: 657-217-3988 | Sales Dept SMS Txt: 657-217-6457</p>
                    <p style="font-weight: normal!important;">Store Hours: M-F 10am-7pm | Sat 11am-6pm</p>
      </div>
      <div class="visible-xs row text-center top-local-address" style="padding:0 2em;color:#000000!important;">
                    <p style="font-size: 24px;font-weight: 500 !important;text-align: center;">Motorhelmets Fullerton CA</p>
                    <p style="font-weight: normal!important;">1871 W. Commonwealth Ave.,</p>
                    <p style="font-weight: normal!important;">Fullerton CA 92833 USA</p>
                    <p style="font-weight: normal!important;">Tel: 714-879-8180</p>
                    <p style="font-weight: normal!important;">Email: team@motorhelmets.com</p>
                    <p style="font-weight: normal!important;">Service Dept SMS Txt: 657-217-3988</p>
                    <p style="font-weight: normal!important;">Sales Dept SMS Txt: 657-217-6457</p>
                    <p style="font-weight: normal!important;">Store Hours: M-F 10am-7pm</p>
                    <p style="font-weight: normal!important;">Sat 11am-6pm</p>
      </div>
      <div class="divider divider--lg"></div>

      <div class="divider divider--xs"></div>
      <div class="row text-center">
         <a href="https://bit.ly/mhsched" style="text-decoration:none!important;display:inline-block;">
            <h1 class="text-center home_title" style="font-size:30px!important;padding-bottom:9px;margin-bottom:0;">Schedule Your Service Online</h1>
            <img class="img-responsive hidden-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/calendar-icon-NEW-black.png?v=1614929707" alt="Schedule Your Service Online" title="Schedule Your Service Online" style="width:40%;height:40%;margin:0 auto;padding:0;">
            <img class="img-responsive visible-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/calendar-icon-NEW-black.png?v=1614929707" alt="Schedule Your Service Online" title="Schedule Your Service Online" style="width:50%;height:50%;margin:0 auto;padding:0;">
         </a>
      </div>
      <div class="divider divider--xl"></div>

      <div class="row">

        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorhelmets-service-street-sport-bike-service" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/streetbike-032420.jpg?v=1585016706" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Street Bike</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-xs-12">
          <a href="/pages/dirt-bike-atv-service-menu" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/dirt-bike-032420.jpg?v=1585016705" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Dirt Bike / ATV</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorhelmets-service-cruiser-motorcycles-metric-harley-davidson" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser-032420.jpg?v=1585016704" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Cruiser / Harley</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

      </div> <!-- end of row -->

      <div class=" hidden-xs divider divider--lg"></div>

       <div class="row">
        
        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorhelmets-utv-repair-service-parts-accessories" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-utv-atv-service-repairs-NEW.png?v=1614843005" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">UTV</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorhelmets-service-stunt-bike-service" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/stuntbike-032420.jpg?v=1585016706" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Stunt Bike</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorcycle-ecu-flash-service" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-NEW.png?v=1614843004" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">ECU Flash</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

      </div> <!-- end of row -->

      <div class="hidden-xs divider divider--lg"></div>

      <div class="row">
        
        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorhelmets-motorcycle-tires-orange-county" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorcycle-tire-cover-NEW.png?v=1614843005" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Tires</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorhelmets-in-store-financing-available" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/finance-032420.jpg?v=1585016706" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Financing</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorcycle-insurance-repairs" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/accident-min-NEW.png?v=1614843005" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Insurance Repairs</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

      </div> <!-- end of row -->

      <div class="hidden-xs divider divider--lg"></div>

      <div class="row">
        
        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorcycle-attorney-referral" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-attorney-referral-NEW.png?v=1614843004" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Attorney Referral</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-xs-12">
          <a href="/pages/motorcycle-mover-transportation-services" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moving-032420.jpg?v=1585016705" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Moving</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

        <div class="col-md-4 col-xs-12">
          <a href="https://sites.google.com/view/motorhelmets/about/monthly-specials" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-specials-NEW.png?v=1614843005" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title" style="font-size:38px;">Specials</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>

      </div> <!-- end of row -->

      <div class="hidden-xs divider divider--lg"></div>

     <!--  <div class="row ">
        <div class="col-md-12 hidden-xs">
          <a href="https://sites.google.com/view/motorhelmets/about/monthly-specials" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/special-032420.jpg?v=1585016705" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title">Specials</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div>
      <div class="row visible-xs ">
        <div class="col-md-12">
          <a href="https://sites.google.com/view/motorhelmets/about/monthly-specials" class="banner zoom-in">
            <span class="figure buttononhover">
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/102518-specials2.png?4822455382918759195" alt="">
              <span class="figcaption">
                <span class="block-table">
                  <span class="block-table-cell">
                    <span class="banner__title obs_walls_banner_title">Specials</span>
                    <span class="btn btn--ys btn--xl moto_walls_banner_btn">Read More</span>
                  </span>
                </span>
              </span>
            </span>
          </a>
        </div>
      </div> -->

      <div class="divider divider--lg"></div>
      <h3 class="text-center">LARGEST STOCKING DEALER  IN ORANGE COUNTY</h3>
      <div class="row">
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #c83138" >HONDA</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #62c930" >KAWASAKI</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #e8df00" >SUZUKI</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #053ba5" >YAMAHA</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #d87119" >HARLEY DAVIDSON</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #a70008" >DUCATI</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #fc9704" >KTM</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #58abdd" >BMW</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #929292" >TRIUMPH</span>
        </div> 
        <!--         <div class="col-md-2 text-center" style = "padding:1.5em;">
<span class ="text-center" style = "font-size:3.3em; font-family: Impact, Charcoal, sans-serif; color: #c83138" >HONDA</span>
</div> -->
        <!--         <div class="col-md-2"> -->
        <!--           <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/honda-353-261.png?4473771371937066642" alt="Honda" title="Honda"> -->
        <!--           <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/honda-353x261-logo.jpg?6831" alt="Honda" title="Honda">
</div> -->
        <!--         <div class="col-md-2">
<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/kawasaki-353-261.png?4473771371937066642" alt="Kawasaki" title="Kawasaki">
</div>
<div class="col-md-2">
<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/suzuki-353-261.png?4473771371937066642" alt="Suzuki" title="Suzuki">
</div>
<div class="col-md-2">
<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/ducati-353-261.png?4473771371937066642" alt="Ducati" title="Ducati">
</div>
<div class="col-md-2">
<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/yamaha-353-261.png?4473771371937066642" alt="Yamaha" title="Yamaha">
</div>
<div class="col-md-2">
<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/harley-353-261.png?4473771371937066642" alt="Harley Davidson" title="Harley Davidson">
</div>


</div>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-2">
<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/ktm-353-261.png?4473771371937066642" alt="KTM" title="KTM">
</div>
<div class="col-md-2">
<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/bmw-353-261.png?4473771371937066642" alt="BMW" title="BMW">
</div>
<div class="col-md-2">
<img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/triumph-353-261.png?4473771371937066642" alt="Triumph" title="Triumph">
</div>
<div class="col-md-3">
</div>
</div> -->

        <div class="divider divider--lg"></div>

        <div class = "reviews-section row">
          <div class = "row google-reviews col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
            <div class = "col-sm-12 col-md-12 col-lg-6">
              <div class = "">
                <div class = "col-lg-12">
                  <div class = "row text-center customer-reviews-info">
                    <h4>Christa Monros</h4>
                    <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                  </div>
                </div>
                <div class = "col-lg-12">
                  <div class = "">
                    <p class = "text-justify">"JACE and JASON were soooo friendly and  helpful. My husband had drained a brand new battery that we had purchased a few weeks ago because he left his key in the ignition and instead of them taking advantage of the situation, JACE informed us that it was still under warranty and simply replaced it with a brand new one, saving us a lot of money. JASON was helpful with the headlights I needed and even offered a discount.  Don't confuse them as their names are similar! And their efforts were equally helpful and friendly. I love this place and trust them completely for any future needs. "</p>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-sm-12 col-md-12 col-lg-6">
              <div class = "divider visible-xs visible-sm visible-md"></div>
              <div class = "">
                <div class = "col-lg-12">
                  <div class = "row text-center customer-reviews-info">
                    <h4>christian lopez</h4>
                    <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                  </div>
                </div>
                <div class = "col-lg-12">
                  <div class = "">
                    <p class = "text-justify">"Best place to get ur motorcycle needs, from repairs, upgrades, insurance jobs to all brands on helmets, accessories and gear.. price is great and service is even better!!! 😎👍"</p>
                  </div>
                </div>
              </div>
            </div>
            <div class = "divider hidden-xs hidden-sm hidden-md"></div>
            <div class = "second-row">
              <div class = "col-sm-12 col-md-12 col-lg-6">
                <div class = "divider visible-xs visible-sm visible-md"></div>
                <div class = "">
                  <div class = "col-lg-12">
                    <div class = "row text-center customer-reviews-info">
                      <h4>Juan Renolayan</h4>
                      <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                    </div>
                  </div>
                  <div class = "col-lg-12">
                    <div class = "">
                      <p class = "text-justify">"I've been coming here for years for all my motorcycle needs.  They have everything from parts and accessories to anything you need to gear up.  If they don't have it in the store, they will get it quickly.  With the great staff that is always helpful you can never go wrong and they are very knowledgeable.  "</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "col-sm-12 col-md-12 col-lg-6">
                <div class = "divider visible-xs visible-sm visible-md"></div>
                <div class = "">
                  <div class = "col-lg-12">
                    <div class = "row text-center customer-reviews-info">
                      <h4>CKYFM8493 laWaii63</h4>
                      <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                    </div>
                  </div>
                  <div class = "col-lg-12">
                    <div class = "">
                      <p class = "text-justify">"Jason is the best! Knowledgeable! Eager to help with whatever questions you may have regarding your motorcycle. . . I highly recommend this place for parts & service"</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class = "divider divider--lg"></div>
        <button type = "button" class = "btn show-more-reviews-btn center-block"><p class = "service-show-more-btn">Show more</p></button>
        <div class = "divider divider--lg"></div>
        <div class="col-sm-12 col-md-12 ">
          <div class="moto_box davz_manual_height2">
            <div class="moto_box_title">
              <h2>Join the Mailing List from our Service Dept</h2>
            </div>
               <div class="jg_custom_join_mail">
              <p class="color text-center" style="">Get Exclusive Specials in Your Inbox for Oil Changes, Tires, Motorcycle Maintenance, local store specials &amp; events.</p>
              <div class="divider divider--md"></div>
              <div class="davz_moto_footer_nl jg_custom_button text-center ">
                <button class="btn subscribe-moto-service-btn text-uppercase hidden-md hidden-sm hidden-xs">Join Team Motorhelmets if you live in So Cal - Sign up Now</button>
                <a class = "visible-md visible-sm visible-xs" href= "https://docs.google.com/forms/d/e/1FAIpQLSf1MWSCxO-zRZ-wAM5rGBfEUoR3ENavEW4ZiAp7MRpthr6_mQ/viewform?usp=sf_link"><span class="btn subscribe-moto-service-btn-span text-uppercase">Subscribe</span></a>
                <iframe class = "embedded-google-forms" src="https://docs.google.com/forms/d/e/1FAIpQLSf1MWSCxO-zRZ-wAM5rGBfEUoR3ENavEW4ZiAp7MRpthr6_mQ/viewform?embedded=true" width="640" height="2550" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe><!--                   <form method="post" name="mc-embedded-subscribe-form" target="_blank" class="subscribe-form validate" novalidate="" action="//motorhelmets.us10.list-manage.com/subscribe/post?u=1e8763d116021cc55d619d08e&amp;id=dbb4f262a3">
<div>
<input name="EMAIL" placeholder="Your Email Address" type="text" class="davz_moto_footer_nl_input">
<button type="submit" class="btn btn--ys btn--xl davz_moto_footer_nl_btn"><i class="icon icon-send"></i></button>
</div>
</form> -->
              </div>
            </div>
            <div class="divider divider--sm"></div>
            <hr>
            <div class="divider divider--sm"></div>
            <div class="jg_custom_social_media">
              <h3>Follow Us on Social Media</h3>
              <center><h5 class="color">Exclusively for our Local Southern California Customers.</h5></center>
              <div class="social-links social-links--large social-links-layout-02 jg_custom_social_link">
                <ul> <li><a class="icon fa fa-yelp" href="https://www.yelp.com/biz/motorhelmets-fullerton-3"></a></li>
                  <li><a class="icon fa fa-youtube-square" href="https://www.youtube.com/user/motorhelmets"></a></li>
                  <!--               <li><a class="icon fa fa-google-plus" href="https://plus.google.com/103110207031205214358"></a></li> -->
                  <li><a href="//www.facebook.com/MotorhelmetsOC"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/facebook-local-special-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
                  <li><a href="https://www.google.com/search?rlz=1C1CHFX_enUS695US695&amp;ei=G1szWrbEEdDijwP4j6roCw&amp;q=motorhelmets&amp;oq=motorhelmets&amp;gs_l=psy-ab.3..0i67k1j0l9.5068.6407.0.6651.10.10.0.0.0.0.96.659.9.9.0....0...1c.1.64.psy-ab..1.9.659...38j0i22i30k1.0.G4H2Rd0Q51M#lrd=0x80dd2a37daf37419:0xf7c7a0537531c541,1,,,"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/google-logo-special-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
                  <li><a href="https://www.instagram.com/motorhelmets/"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/instagram-special-services-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>

                </ul>
              </div>  
            </div>
          </div>
        </div>



      </div> 
    </div>

    <div class="divider divider--lg"></div>
    <div class="row">

      <div class="col-sm-12 col-md-12">
        <div class="">

          <div class="footer-address text-center">
            <h2>Map &amp; Location</h2>
            <p>Tel: 714-879-8180 | Store Hours M-F: 10-7 | Sat: 11-6 | Sun: Closed </p>
            <p>Service Hours: M-F: 10-6 | Sat: 11-6 | Sun: Closed </p>
            <p>Email: team@motorhelmets.com</p>
          </div>
          <div class="divider divider--md"></div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.746466587418!2d-117.9644774847898!3d33.870424280655634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2a37daf37419%3A0xf7c7a0537531c541!2sMotorhelmets+Motorcycle+Store%2C+Repair+Service+Fullerton+Orange+County!5e0!3m2!1sen!2sph!4v1540277492939" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div class="divider divider--sm"></div>

        </div>
        <!-- <div class="divider divider--sm"></div> -->
      </div>
    </div>
    <div class="divider divider--md"></div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div>
          <ul class="foote-motoserv">
            <li>
              <a href="/pages/motorhelmets-in-store-financing-available"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg.png?1154324900813586180" >
                <span>Financing Available</span>	
              </a>
            </li>
            <li>
              <a href="https://motorhelmets.com/pages/motorcycle-mover-transportation-services"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-delivery.png?16724962544500314191" >
                <span style="margin-top: 16px !important;">Motorcycle <br>Pickup & Delivery</span>	
              </a>
            </li>
            <li>
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg2.png?1154324900813586180" alt="Motorhelmets Financing for In-Store Purchases" title="Motorhelmets Financing for In-Store Purchases">
              <span style="margin-top: 0 !important;">#1 Motorcycle Shop <br>in Los Angeles and <br>Orange County</span>
            </li>
            <li>
              <a href="/photoblog">
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg1.png?1154324900813586180" alt="Motorhelmets Photoblog" title="Motorhelmets Photoblog">
                <span>Photoblog</span>
              </a>
            </li>
            <li>
              <a href="https://sites.google.com/view/motorhelmets/about/monthly-specials"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg3.png?1154324900813586180">
                <span>Specials</span>	
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>