<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	            margin-top: -89px;
	        }
	  } 
</style>


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
	<li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
	<li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
	<li><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
	<li><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
	
	<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-klim.jpg?6439347769601557362" alt="Klim Mens Size Charts" title="Klim Mens Size Charts" style="width: 54%;margin: 0 auto;"/>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
		<h4 style="text-transform: uppercase;">Men's</h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th scope="col">SIZE - NUMERIC</th>
		                    		<th scope="col">28</th>
									<th scope="col">30</th>
									<th scope="col">32</th>
									<th scope="col">34</th>
									<th scope="col">36</th>
									<th scope="col">38</th>
									<th scope="col">40</th>
									<th scope="col">42</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>C. | HIP</td>
		 							<td>36-37</td>
									<td>38-39</td>
									<td>40-41</td>
									<td>42-43</td>
									<td>44-45</td>
									<td>46-47</td>
									<td>48-49</td>
									<td>50-51</td>
		        			</tr>
		        			<tr>
		        					<td>E. | INSEAM REGULAR</td>
		   							<td>30</td>
									<td>31</td>
									<td>32</td>
									<td>32</td>
									<td>32</td>
									<td>32</td>
									<td>33</td>
									<td>33</td>
		        			</tr>
		          			<tr>
		          					<td>INSEAM TALL</td>
		 					 		<td>34</td>
									<td>34</td>
									<td>35</td>
									<td>35</td>
									<td>35</td>
									<td>35</td>
									<td>36</td>
									<td>36</td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th scope="col">SIZE - ALPHA</th>
		                    		<th scope="col">SM</th>
									<th scope="col">MD</th>
									<th scope="col">LG</th>
									<th scope="col">XL</th>
									<th scope="col">2XL</th>
									<th scope="col">3XL</th>
									<th scope="col">4XL</th>
									<th scope="col">5XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>A. | CHEST</td>
									<td>34-36</td>
									<td>38-40</td>
									<td>42-44</td>
									<td>46-48</td>
									<td>50-52</td>
									<td>54-56</td>
									<td>58-60</td>
									<td>62-64</td>
		        			</tr>
		        			<tr>
		        					<td>B. | WAIST</td>
									<td>31-33</td>
									<td>35-37</td>
									<td>39-41</td>
									<td>43-45</td>
									<td>47-49</td>
									<td>51-53</td>
									<td>55-57</td>
									<td>59-61</td>
		        			</tr>
		          			<tr>
		          					<td>C. | HIP</td>
									<td>34-36</td>
									<td>38-40</td>
									<td>42-44</td>
									<td>46-48</td>
									<td>50-52</td>
									<td>54-56</td>
									<td>58-60</td>
									<td>62-64</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>D. | SLEEVE</td>
									<td>27-28</td>
									<td>29-30</td>
									<td>31-32</td>
									<td>33-34</td>
									<td>35-36</td>
									<td>35-36</td>
									<td>33-34</td>
									<td>33-34</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>E. | INSEAM - SHORT</td>
									<td>28</td>
									<td>29</td>
									<td>30</td>
									<td>31</td>
									<td>31</td>
									<td>31</td>
									<td>31</td>
									<td>31</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>INSEAM - REGULAR</td>
									<td>30</td>
									<td>31</td>
									<td>32</td>
									<td>33</td>
									<td>33</td>
									<td>32</td>
									<td>33</td>
									<td>33</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>INSEAM - TALL</td>
									<td>33</td>
									<td>34</td>
									<td>35</td>
									<td>36</td>
									<td>36</td>
									<td>36</td>
									<td>36</td>
									<td>36</td>
		       			 	</tr>
		        </tbody>
      	</table>
	  </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-womens-klim.jpg?14740904016216620639" alt="Klim Womens Size Charts" title="Klim Womens Size Charts" style="width: 62%;margin: 0 auto;"/>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
		<h4 style="text-transform: uppercase;">Women's</h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th scope="col">SIZE - NUMERIC</th>
		                    		<th>4 </th>
									<th>6 </th>
									<th>8 </th>
									<th>10</th>
									<th>12</th>
									<th>14</th>
									<th>16</th>

		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>B.| WAIST</td>
									<td>25-26.5</td>
									<td>27-28</td>
									<td>29-30</td>
									<td>31-33</td>
									<td>34-36</td>
									<td>37-39</td>
									<td>40-42</td>
		        			</tr>
		        			<tr>
		        					<td>C.| HIP</td>
									<td>34-35.5</td>
									<td>36-37</td>
									<td>38-39</td>
									<td>40-42</td>
									<td>43-45</td>
									<td>46-48</td>
									<td>49-51</td>
		        			</tr>
		          			<tr>
		          					<td>D.| INSEAM - SHORT</td>
									<td>28</td>
									<td>28</td>
									<td>28</td>
									<td>28</td>
									<td>28</td>
									<td>29</td>
									<td>29</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>INSEAM - REGULAR</td>
									<td>30</td>
									<td>30</td>
									<td>30</td>
									<td>30</td>
									<td>30</td>
									<td>31</td>
									<td>31</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>INSEAM - TALL</td>
									<td>33</td>
									<td>33</td>
									<td>33</td>
									<td>33</td>
									<td>33</td>
									<td>34</td>
									<td>34</td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 	<th scope="col">SIZE - ALPHA</th>
		                    	<th>XS </th>
								<th>SM </th>
								<th>MD </th>
								<th>LG </th>
								<th>XL </th>
								<th>2XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>A.| CHEST</td>
								<td>29-31</td>
								<td>32-34</td>
								<td>35-38</td>
								<td>39-42</td>
								<td>43-46</td>
								<td>47-50</td>
		        			</tr>
		        			<tr>
		        				<td>B.| WAIST</td>
								<td>23-25</td>
								<td>26-28</td>
								<td>29-32</td>
								<td>33-36</td>
								<td>37-40</td>
								<td>41-44</td>
		        			</tr>
		          			<tr>
		          			<td>C.| HIP</td>
								<td>32-34</td>
								<td>35-37</td>
								<td>38-41</td>
								<td>42-45</td>
								<td>46-49</td>
								<td>50-53</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>D.| SLEEVE</td>
								<td>29</td>
								<td>29</td>
								<td>30</td>
								<td>31</td>
								<td>31</td>
								<td>31</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>E.| INSEAM - SHORT</td>
								<td>27</td>
								<td>27</td>
								<td>28</td>
								<td>29</td>
								<td>29</td>
								<td>29</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>INSEAM - REGULAR</td>
								<td>29</td>
								<td>29</td>
								<td>30</td>
								<td>31</td>
								<td>31</td>
								<td>31</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>INSEAM - TALL</td>
								<td>32</td>
								<td>32</td>
								<td>33</td>
								<td>34</td>
								<td>34</td>
								<td>34</td>
		       			 	</tr>
		        </tbody>
      	</table>
	  </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-klim-youth-new.jpg?11615957960151676873" alt="Klim Youth Size Charts" title="Klim Youth Size Charts" style="width: 84%;margin: 0 auto;"/>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
		<h4 style="text-transform: uppercase;">Youth</h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th colspan="2">Size</th>
									<th>2T  </th>
									<th>4T  </th>
									<th>6   </th>
									<th>8   </th>
									<th>10  </th>
									<th>12  </th>

		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td rowspan="2">A.| CHEST</td>
									<td>in.</td>
									<td>20 </td>
									<td>22 </td>
									<td>25 </td>
									<td>28 </td>
									<td>31 </td>
									<td>34 </td>
		        			</tr>
		        			<tr>
		        					<td>cm</td>
									<td>51</td>
									<td>56</td>
									<td>64</td>
									<td>71</td>
									<td>79</td>
									<td>86</td>
		        			</tr>
		          			<tr>
		          					<td rowspan="2">B.| WAIST</td>
									<td>in.</td>
									<td>15-18</td>
									<td>19-22</td>
									<td>23-26</td>
									<td>27-29</td>
									<td>30-32</td>
									<td>33-35</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>cm</td>
									<td>38-46</td>
									<td>48-56</td>
									<td>58-66</td>
									<td>69-74</td>
									<td>76-81</td>
									<td>84-89</td>
		       			 	</tr>
		       			 	<tr>
		          					<td rowspan="2">C.| SLEEVE</td>
									<td>in.</td>
									<td>10-15</td>
									<td>16-20</td>
									<td>21-22</td>
									<td>22-23</td>
									<td>23-24</td>
									<td>24-25</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>cm</td>
									<td>25-38</td>
									<td>41-51</td>
									<td>53-56</td>
									<td>56-58</td>
									<td>58-61</td>
									<td>61-64</td>
		       			 	</tr>
		       			 	<tr>
		          					<td rowspan="2">D.| INSEAM</td>
									<td>in.</td>
									<td>13</td>
									<td>15</td>
									<td>18</td>
									<td>21</td>
									<td>23</td>
									<td>25</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>cm</td>
									<td>33</td>
									<td>38</td>
									<td>46</td>
									<td>53</td>
									<td>58</td>
									<td>64</td>
		       			 	</tr>
		        </tbody>
		      </table>
	  </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab3 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">
	<div class="row">
		<div id="img_mobile" class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Klim Footwear Size Charts" title="Klim Footwear Womens Size Charts" style="width: 84%;margin: 0 auto;margin-top: 80px;"/>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
		<h4 style="text-transform: uppercase;">Mens</h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		      
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>USA</td>
									<td>5  </td>
									<td>6  </td>
									<td>7  </td>
									<td>8  </td>
									<td>9  </td>
									<td>10 </td>
									<td>11 </td>
									<td>12 </td>
									<td>13 </td>
									<td>14 </td>
		        			</tr>
		        			<tr>
		        				<td>EU</td>
									<td>37.5</td>
									<td>38.5</td>
									<td>40  </td>
									<td>41  </td>
									<td>42.5</td>
									<td>44  </td>
									<td>45  </td>
									<td>46  </td>
									<td>47.5</td>
									<td>49  </td>
		        			</tr>
		          			<tr>
		          					<td>JAPAN</td>
									<td>23</td>
									<td>24</td>
									<td>25</td>
									<td>26</td>
									<td>27</td>
									<td>28</td>
									<td>29</td>
									<td>30</td>
									<td>31</td>
									<td>32</td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <h4 style="text-transform: uppercase;">Womens</h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		      
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>USA</td>
									<td>5</td>
									<td>6</td>
									<td>7</td>
									<td>8</td>
									<td>9</td>
									<td>10</td>
									<td>11</td>
		        			</tr>
		        			<tr>
		        					<td>EU</td>
									<td>36</td>
									<td>37.5</td>
									<td>38.5</td>
									<td>40</td>
									<td>41</td>
									<td>42.5</td>
									<td>44</td>
		        			</tr>
		          			<tr>
		          					<td>JAPAN</td>
									<td>22</td>
									<td>23</td>
									<td>24</td>
									<td>25</td>
									<td>26</td>
									<td>27</td>
									<td>28</td>
		       			 	</tr>
		        </tbody>
		      </table>
	  </div><!-- Responsive Table -->  
    </div>
  </div>
</div> 
</div><!-- SizeChartTab4 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab5">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?4027727158670295576" alt="Klim Gloves Size Charts" title="Klim Gloves Size Charts" style="width: 63%;margin: 0 auto;"/>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
	
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		      		
		          <tr>
		                   	 		<th colspan="2">Size</th>
									<th>SM  </th>
									<th>MD  </th>
									<th>LG  </th>
									<th>XL  </th>
									<th>2XL </th>
									<th>3XL </th>

		          </tr>
		        
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td rowspan="2">MEN'S</td> 
									<td>in.</td>
									<td>7.5 - 8</td>
									<td>8.5 - 9</td>
									<td>9 - 9.5</td>
									<td>10 - 10.5</td>
									<td>10.5 - 11.5</td>
									<td>11.5 - 12</td>
		        			</tr>
		        			<tr>
		        				<td>cm</td>
									<td>19 - 21</td>
									<td>21 - 23</td>
									<td>23 - 25</td>
									<td>25 - 27</td>
									<td>27 - 29</td>
									<td>29 - 31</td>
		        			</tr>
		          			<tr>
		          					<td rowspan="2">WOMEN'S</td>
									<td>in.</td>
									<td>5 - 5.5</td>
									<td>6 - 6.5</td>
									<td>7      </td>
									<td>7.5 - 8</td>
									<td>8.5 - 9</td>
									<td>-</td>
		       			 	</tr>
		       			 		<td>cm     </td>
									<td>13 - 14</td>
									<td>15 - 16</td>
									<td>17 - 18</td>
									<td>19 - 21</td>
									<td>21 - 23</td>
									<td>-</td>
		       			 	<tr>
		       			 		<td>YOUTH </td>
		       			 		<td>-  </td>
									<td>-  </td>
									<td>SM </td>
									<td>MD </td>
									<td>LG </td>
									<td>-  </td>
									<td>-  </td>
		       			 	</tr>
		        </tbody>
		      </table>
	  </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab5 -->


			

</div><!-- tab-content tab-content-ys obs_sizechart -->
