<style>
  #more_info{
   display:none; 
  }
</style>
{% if "logo" == condition %}

<a href = "/collections/shift-racing">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/shift-main-banner.jpg?11174737071782791693" alt="Shift Racing Brand Wall Banner" title =  "Shift Racing Brand Wall Banner">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/shift-main-banner2-mobile.jpg?11174737071782791693" alt="Shift Racing Brand Wall Banner" title =  "Shift Racing Brand Wall Banner">
</a>
<div class="divider divider--md"></div>
{% elsif "header" == condition %}


<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
<!--     <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li> -->
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/shift-racing" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
<!--     <li><a href="#more_info"><span class="label">More Info</span></a></li> -->
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 


{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/shift-racing-mx-youth-boys-gear">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">YOUTH GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-youth-banner.jpg?5976354621746408646">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/shift-racing-mx-mens-gear">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-mens-banner.jpg?12554205516217838915">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/shift-racing-mx-helmets">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-helmet-banner.jpg?12554205516217838915">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/shift-racing-mx-goggles">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">GOGGLES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-goggle-banner.jpg?12554205516217838915">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/shift-racing-sale">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/shift-hot-sales-banner-2.jpg?12554205516217838915" alt="ShiftMX Hot Sale" title = "ShiftMX Hot Sale">
      </a>
    </div>
  </div>
</div>
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/shift-racing-mx-jerseys">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">JERSEYS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-jersey-banner.jpg?4368085504305804738">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/shift-racing-mx-pants">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">PANTS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-pants-banner.jpg?4368085504305804738">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/shift-racing-mx-gloves">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">GLOVES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-gloves-banner.jpg?13735474050350706658">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/shift-racing-mx-boots">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">BOOTS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-boots-banner.jpg?4368085504305804738">
        </a>
      </div>
    </div>
  </div>
</div>
</div> 

<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shift-racing-mx-youth-boys-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">YOUTH GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-youth-banner.jpg?5976354621746408646">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shift-racing-mx-mens-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-mens-banner.jpg?13735474050350706658">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shift-racing-mx-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-helmet-banner.jpg?13735474050350706658">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shift-racing-mx-goggles">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">GOGGLES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-goggle-banner.jpg?13735474050350706658">
          </a>
        </div>
      </div>
    </div>

    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/shift-racing-sale">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-hot-sales-banner.jpg?13735474050350706658" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shift-racing-mx-jerseys">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">JERSEY</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-jersey-banner.jpg?13735474050350706658">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shift-racing-mx-pants">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">PANTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-pants-banner.jpg?13735474050350706658">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shift-racing-mx-gloves">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">GLOVES</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-gloves-banner.jpg?13735474050350706658">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shift-racing-mx-boots">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">BOOTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shift-boots-banner.jpg?13735474050350706658">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="divider divider--lg"></div>
{%comment%}
{% elsif "collection" == condition %}

<div class="container">

  <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6">
      <h3 class="text-left text_uppercase black_txt moto_wall_sub_title">Mens</h3>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="javascript:void(0);">Clothing</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['shift-racing-mens-tees'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-tees">Tees</a></li>
                <li {% if collections['shift-racing-mens-sweatshirts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-sweatshirts">Sweatshirts</a></li>
                <li {% if collections['shift-racing-mens-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-pants">Pants</a></li>
              </ul>
            </div>
          </div>


        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="javascript:void(0);">Moto</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['shift-racing-mens-mx-body-armor'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-mx-body-armor"  >MX Body Armor</a></li>
                <li {% if collections['shift-racing-mens-mx-jerseys'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-mx-jerseys">MX Jerseys</a></li>
                <li {% if collections['shift-racing-mens-mx-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-mx-pants">MX Pants</a></li>
                <li {% if collections['shift-racing-mens-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-mx-gloves">MX Gloves</a></li>
                <li {% if collections['shift-racing-mens-mx-boots'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-mx-boots">MX Boots</a></li>
                <li {% if collections['shift-racing-mens-mx-goggles'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-mx-goggles">MX Goggles</a></li>
                <li {% if collections['shift-racing-mens-mx-socks'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-mx-socks">MX Socks</a></li>
              </ul>
            </div>

          </div>

        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="javascript:void(0);">Accessories</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['shift-racing-mens-hats'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-mens-hats">MX Socks</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 womens_coll">
      <h3 class="text-left text_uppercase black_txt moto_wall_sub_title">Boys</h3>

      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="javascript:void(0);">Clothing</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['shift-racing-youth-boys-tees'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-tees">Boys Tees</a></li>
                <li {% if collections['shift-racing-youth-boys-sweatshirts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-sweatshirts">Boys Sweatshirts</a></li>
                <li {% if collections['shift-racing-youth-boys-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-pants" >Boys Pants</a></li>
              </ul>
            </div>
          </div>


        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="javascript:void(0);">Moto</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['shift-racing-youth-boys-mx-body-armor'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-mx-body-armor">Boys MX Body Armor</a></li>
                <li {% if collections['shift-racing-youth-boys-mx-jerseys'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-mx-jerseys">Boys MX Jerseys</a></li>
                <li {% if collections['shift-racing-youth-boys-mx-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-mx-pants">Boys MX Pants</a></li>
                <li {% if collections['shift-racing-youth-boys-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-mx-gloves">Boys MX Gloves</a></li>
                <li {% if collections['shift-racing-youth-boys-mx-boots'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-mx-boots">Boys MX Boots</a></li>
                <li {% if collections['shift-racing-youth-boys-mx-goggles'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-mx-goggles">Boys MX Goggles</a></li>
                <li {% if collections['shift-racing-youth-boys-mx-socks'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/shift-racing-youth-boys-mx-socks">Boys MX Socks</a></li>
              </ul>
            </div>

          </div>

        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="javascript:void(0);">Accessories</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li><a {% if collections['shift-racing-youth-boys-hats'].all_products_count > 0 %} href="/collections/shift-racing-youth-boys-hats" {% else %}href="javascript:void0;" nj="zero" title="This Collection is
                  Currently Empty" data-toggle="tooltip"{% endif %} >Boys Hats</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>

    </div>

    {%endcomment%}
    <div class="divider divider--md"></div>
    
    
    {% elsif "lookbooks" == condition %}
    {% assign totalLookbookCount = blogs['lookbook'].articles_count %}
    {% assign counter = 0 %}
    {% paginate blogs['lookbook'].articles by totalLookbookCount %}
    {% for article in blogs['lookbook'].articles %}
    {% if counter < 6 and article.tags contains 'Shift Racing' or article.tags contains 'shift racing' or article.tags contains 'shift' %}
    {% assign counter = counter | plus: 1 %}
    <div class="col-sm-6 col-md-4 col-lg-4 hidden-xs">

      <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
        <div>
          {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
        </div>

        <div class="TeaserGrid-content" style="margin-top: 6px;">
          <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
        </div>                       
      </a>

    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg hidden-xl">
      <div class ="row">
        <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
          <div>
            {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
          </div>

          <div class="TeaserGrid-content" style="margin-top: 6px;">
            <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
          </div>                       
        </a>
      </div>
    </div>



    {% endif %}
    {% endfor %}
    {% endpaginate %}
    <div class="divider divider--md"></div>
    <div class="visible-xs text-center" id="dmore-lb">
      <a href="/search?type=article&q=shift-racing" class="btn btn--ys btn--xl obs_show_more_btn text-center margin_top-50"></a>
    </div>


    {% elsif "brand_sizing_guide" == condition %}
      <div class ="row">
    {% include 'page.shift-mx-size-chart' %}
    </div>
    <div class="text-center">
      <div class="container wall-brand-desc-content">
        <div class ="row">
          {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
          <div class="divider divider--lg"></div>
          {%endcomment%}
          <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
            <div class ="row">
              <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shift-racing-logo-wall.jpg?16317770641952208744">
            </div>
          </div>
          <div class="divider divider--lg"></div>
          <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
            <div class= "row">
              <p>Shift was born form a simple idea to be different from the start.</p>
              <p>With the goal to be unique in a way not quite seen in motocross. Since 1997 Shift set its own standards and styles that separated itself from the other brands.</p>
              <div class = "hidden-content">
                <p>From its riders like Jeff Emig, Seth Enslow and iconic styles the company was on a path to become the most cultured brand in MX with a major focus on style, function and most importantly having fun. </p>
                <p>Other riders like Chad Reed and Josh Hansen are more proof of how the brand does things its own way. With the addition of key athletes like Ken Roczen to the syndicate of riders the Shift culture continues to grow!</p>
              </div>
              <div class = "divider divider--md"></div>
              <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>




    {% elsif "brand_story" == condition %}



    {% endif %}
    
<script>
  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });
  });
</script>