<style type="text/css">
  td{
    background: white;
    color: black;
  }
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
<li class=""><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
<li class=""><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Children & Juniors</a></li>

</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
<div class="row">
<p>To help find your shoe size, use a ruler and our size charts below. Measuring with a ruler will provide an approximate measure of your true shoe size.</p>
    <div class="col-sm-3 col-md-3 col-lg-3">
    </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
   <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Supra Mens Size Charts" title="Supra Mens Size Charts" style="margin: 0 auto;"/>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
  </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th colspan="2"><center>How long is your foot?</center></th>
        </tr>
        <tr>
            <th>inches</th>
            <th>mm</th>
        </tr>

      </thead>
      <tbody>
        <tr>
            <td>8 5/8 </td>
            <td>221</td>
        </tr>
        <tr>
            <td>8 7/8 </td>
            <td>225</td>
        </tr>
        <tr>
            <td>9</td>
            <td>229</td>
        </tr>
        <tr>
            <td>9 1/4</td>
            <td>233</td>
        </tr>
        <tr>
            <td>9 3/8</td>
            <td>238</td>
        </tr>
        <tr>
            <td>9 1/2</td>
            <td>242</td>
        </tr>
        <tr>
            <td>9 5/8</td>
            <td>246</td>
        </tr>
        <tr>
            <td>9 7/8</td>
            <td>250</td>
        </tr>
        <tr>
            <td>10</td>
            <td>255</td>
        </tr>
        <tr>
            <td>10 1/4</td>
            <td>259</td>
        </tr>
        <tr>
            <td>10 3/8</td>
            <td>263</td>
        </tr>
        <tr>
            <td>10 1/2</td>
            <td>267</td>
        </tr>
        <tr>
            <td>10 5/8</td>
            <td>272</td>
        </tr>
        <tr>
            <td>10 7/8</td>
            <td>276</td>
        </tr>
        <tr>
            <td>11</td>
            <td>280</td>
        </tr>
        <tr>
            <td>11 1/4</td>
            <td>284</td>
        </tr>
        <tr>
            <td>11 3/8</td>
            <td>288</td>
        </tr>
        <tr>
            <td>11 1/2</td>
            <td>293</td>
       </tr>
       <tr>
            <td>11 5/8</td>
            <td>297</td>
        </tr>
        <tr>
            <td>11 7/8</td>
            <td>301</td>
        </tr>
        <tr>
            <td>12</td>
            <td>305</td>
        </tr>
        <tr>
            <td>12 1/4</td>
            <td>310</td>
        </tr>
        <tr>
            <td>12 3/8</td>
            <td>314</td>
        </tr>
        <tr>
            <td>12 5/8</td>
            <td>323</td>
       </tr>
       <tr>
            <td>13</td>
            <td>332</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
    <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th colspan="3"><center>Then your shoe size is:</center></th>
        </tr>
        <tr>
            <th>US</th>
            <th>EU</th>
            <th>Asia</th>
        </tr>

      </thead>
      <tbody>
        <tr>
            <td>4</td>
            <td>36-37</td>
            <td>22</td>
        </tr>
        <tr>
            <td>4.5</td>
            <td>36.5</td>
            <td>22.5</td>
        </tr>
        <tr>
        <tr>
            <td>5</td>
            <td>37</td>
            <td>23</td>
        </tr>
            <td>5.5</td>
            <td>37.5</td>
            <td>23.5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>38</td>
            <td>24</td>
        </tr>
        <tr>
            <td>6.5</td>
            <td>38.5</td>
            <td>24.5</td>
        </tr>
        <tr>
            <td>7</td>
            <td>39.5</td>
            <td>25</td>
        </tr>
        <tr>
            <td>7.5</td>
            <td>40</td>
            <td>25.5</td>
        </tr>
        <tr>
            <td>8</td>
            <td>41</td>
            <td>26</td>
        </tr>
        <tr>
            <td>8.5</td>
            <td>42</td>
            <td>26.5</td>
        </tr>
        <tr>
            <td>9</td>
            <td>42.5</td>
            <td>27</td>
        </tr>
        <tr>
            <td>9.5</td>
            <td>43</td>
            <td>27.5</td>
        </tr>
        <tr>
            <td>10</td>
            <td>43.5</td>
            <td>28</td>
        </tr>
        <tr>
            <td>10.5</td>
            <td>44</td>
            <td>28.5</td>
        </tr>
        <tr>
            <td>11</td>
            <td>44.5</td>
            <td>29</td>
        </tr>
        <tr>
            <td>11.5</td>
            <td>45</td>
            <td>29.5</td>
        </tr>
        <tr>
            <td>12</td>
            <td>45.5</td>
            <td>30</td>
        </tr>
        <tr>
            <td>12.5</td>
            <td>46.5</td>
            <td>30.5</td>
       </tr>
       <tr>
            <td>13</td>
            <td>47.5</td>
            <td>31</td>
        </tr>
        <tr>
            <td>13.5</td>
            <td>48</td>
            <td>31.5</td>
        </tr>
        <tr>
            <td>14</td>
            <td>48.5</td>
            <td>32</td>
        </tr>
        <tr>
            <td>14.5</td>
            <td>49</td>
            <td>32.5</td>
        </tr>
        <tr>
            <td>15</td>
            <td>49</td>
            <td>32.5</td>
        </tr>
        <tr>
            <td>16</td>
            <td>50-51</td>
            <td>34</td>
       </tr>
       <tr>
            <td>17</td>
            <td>51-52</td>
            <td>35</td>
       </tr>
    </tbody>
    </table>
  </div>
</div>
  </div>
  </div>

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
<div class="row">
<p>To help find your shoe size, use a ruler and our size charts below. Measuring with a ruler will provide an approximate measure of your true shoe size.</p>
    <div class="col-sm-3 col-md-3 col-lg-3">
    </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
   <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Supra Mens Size Charts" title="Supra Mens Size Charts" style="margin: 0 auto;"/>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
  </div>
</div>
<br>
<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th colspan="2"><center>How long is your foot?</center></th>
        </tr>
        <tr>
            <th>inches</th>
            <th>mm</th>
        </tr>

      </thead>
      <tbody>
        <tr>
           <td>8</td>
           <td>204</td>
        </tr>
        <tr>
          <td>8 1/8</td>
          <td>208</td>
        </tr>
        <tr>
          <td>8 3/8</td>
          <td>212</td>
        </tr>
        <tr>
          <td>8 1/2</td>
          <td>217</td>
        </tr>
        <tr>
          <td>8 5/8</td>
          <td>221</td>
        </tr>
        <tr>
          <td>8 7/8</td>
          <td>225</td>
        </tr>
        <tr>
          <td>9</td>
          <td>229</td>
        </tr>
        <tr>
          <td>9 1/8</td>
          <td>233</td>
        </tr>
        <tr>
          <td>9 3/8</td>
          <td>238</td>
        </tr>
        <tr>
          <td>9 1/2</td>
          <td>242</td>
        </tr>
        <tr>
          <td>9 5/8</td>
          <td>246</td>
        </tr>
        <tr>
          <td>9 7/8</td>
          <td>250</td>
        </tr>
        <tr>
          <td>10</td>
          <td>255</td>
        </tr>
        <tr>
          <td>10 1/8</td>
          <td>259</td>
        </tr>
        <tr>
          <td>10 3/8</td>
          <td>263</td>
        </tr>
        <tr>
          <td>10 1/2</td>
          <td>267</td>
        </tr>
        <tr>
          <td>10 5/8</td>
          <td>272</td>
        </tr>
        <tr>
          <td>10 7/8</td>
          <td>276</td>
        </tr>
        <tr>
          <td>11</td>
          <td>280</td>
        </tr>
    </tbody>
    </table>
  </div>
</div>
    <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
            <th colspan="3"><center>Then your shoe size is:</center></th>
        </tr>
        <tr>
            <th>US</th>
            <th>EU</th>
            <th>Asia</th>
        </tr>
      </thead>
      <tbody>
        <tr>
           <td>3</td>
           <td>32.5</td>
           <td>19</td>
       </tr>
       <tr>
          <td>3.5</td>
          <td>33</td>
          <td>20</td>
       </tr>
       <tr>
          <td>4</td>
          <td>33.5</td>
          <td>20</td>
       </tr>
       <tr>
          <td>4.5</td>
          <td>34</td>
          <td>20.5</td>
       </tr>
       <tr>
          <td>5</td>
          <td>34.5</td>
          <td>21</td>
       </tr>
       <tr>
          <td>5.5</td>
          <td>35.5</td>
          <td>21.5</td>
       </tr>
       <tr>
          <td>6</td>
          <td>36.5</td>
          <td>22</td>
       </tr>
       <tr>
          <td>6.5</td>
          <td>37</td>
          <td>22.5</td>
       </tr>
       <tr>
          <td>7</td>
          <td>37.5</td>
          <td>23</td>
       </tr>
       <tr>
          <td>7.5</td>
          <td>38</td>
          <td>23.5</td>
       </tr>
       <tr>
         <td>8</td>
         <td>38.5</td>
         <td>24</td>
       </tr>
       <tr>
          <td>8.5</td>
          <td>39</td>
          <td>24.5</td>
       </tr>
       <tr>
          <td>9</td>
          <td>39.5</td>
          <td>25</td>
       </tr>
       <tr>
          <td>9.5</td>
          <td>40</td>
          <td>25.5</td>
       </tr>
       <tr>
          <td>10</td>
          <td>41</td>
          <td>26</td>
       </tr>
      <tr>
          <td>10.5</td>
          <td>42</td>
          <td>26.5</td>
      </tr>
      <tr>
          <td>11</td>
          <td>42.5</td>
          <td>27</td>
      </tr>
      <tr>
          <td>11.5</td>
          <td>43</td>
          <td>27.5</td>
      </tr>
      <tr>
          <td>12</td>
          <td>45</td>
          <td>28</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
  </div>
  </div>

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
   <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Supra Mens Size Charts" title="Supra Mens Size Charts" style="margin: 0 auto;"/>
  </div>
  <div class="col-sm-3 col-md-3 col-lg-3">
  </div>
</div>
<br>
<div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
        <p><b>Children's Sizes: (1-6 years)</b></p>
        <p>Age ranges for children and junior sizes are for general guidance only. For your most accurate fit, we recommend measuring your child's foot and finding the corresponding size using the charts here.</p>
             <div class="row">
                 <div class="col-sm-6 col-md-6 col-lg-6">
                      <div class="table_responsive">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                              <th colspan="2"><center>How long is your foot?</center></th>
                          </tr>
                          <tr>
                              <th>inches</th>
                              <th>mm</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                              <td>3 7/8</td>
                              <td>98</td>
                          </tr>
                          <tr>
                              <td>4 1/8</td>
                              <td>107</td>
                          </tr>
                          <tr>
                              <td>4 1/2</td>
                              <td>115</td>
                          </tr>
                          <tr>
                              <td>4 7/8</td>
                              <td>123</td>
                          </tr>
                          <tr>
                              <td>5 1/8</td>
                              <td>132</td>
                          </tr>
                          <tr>
                              <td>5 1/2</td>
                              <td>140</td>
                          </tr>
                          <tr>
                              <td>5 7/8</td>
                              <td>149</td>
                          </tr>
                          <tr>
                              <td>6 1/8</td>
                              <td>157</td>
                          </tr>
                          <tr>
                              <td>6 1/2</td>
                              <td>166</td>
                          </tr>
                          <tr>
                              <td>6 7/8</td>
                              <td>174</td>
                          </tr>
                          <tr>
                              <td>7 1/8</td>
                              <td>183</td>
                          </tr>
                          <tr>
                              <td>7 1/2</td>
                              <td>191</td>
                          </tr>
                      </tbody>
                      </table>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="table_responsive">
                    <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                            <th colspan="3"><center>Then your shoe size is:</center></th>
                        </tr>
                        <tr>
                            <th>US</th>
                            <th>EU</th>
                            <th>Asia</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>C2</td>
                          <td>19</td>
                          <td>9</td>
                      </tr>
                      <tr>
                          <td>C3</td>
                          <td>20</td>
                          <td>10</td>
                      </tr>
                      <tr>
                          <td>C4</td>
                          <td>21</td>
                          <td>12</td>
                      </tr>
                      <tr>
                          <td>C5</td>
                          <td>22</td>
                          <td>13</td>
                      </tr>
                      <tr>
                          <td>C6</td>
                          <td>23</td>
                          <td>14</td>
                      </tr>
                      <tr>
                          <td>C7</td>
                          <td>24</td>
                          <td>15</td>
                      </tr>
                      <tr>
                        <td>C8</td>
                        <td>25</td>
                        <td>15.5</td>
                      </tr>
                      <tr>
                        <td>C9</td>
                        <td>26</td>
                        <td>16.5</td>
                      </tr>
                      <tr>
                        <td>C10</td>
                        <td>27</td>
                        <td>17.5</td>
                      </tr>
                      <tr>
                        <td>C11</td>
                        <td>28</td>
                        <td>18</td>
                      </tr>
                      <tr>
                        <td>C12</td>
                        <td>29-30</td>
                        <td>18.5</td>
                      </tr>
                      <tr>
                          <td>C13</td>
                          <td>30-31</td>
                          <td>19</td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
              </div>
        </div>
    </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
      <p><b>Juniors' Sizes: (7+ years)</b></p>
      <p>Age ranges for children and junior sizes are for general guidance only. For your most accurate fit, we recommend measuring your child's foot and finding the corresponding size using the charts here.</p>
          <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6">
                  <div class="table_responsive">
                  <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                          <th colspan="2"><center>How long is your foot?</center></th>
                      </tr>
                      <tr>
                          <th>inches</th>
                          <th>mm</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>7 7/8</td>
                          <td>200</td>
                      </tr>
                      <tr>
                          <td>8 1/8</td>
                          <td>208</td>
                      </tr>
                      <tr>
                          <td>8 1/2</td>
                          <td>217</td>
                      </tr>
                      <tr>
                          <td>8 5/8</td>
                          <td>221</td>
                      </tr>
                      <tr>
                          <td>9</td>
                          <td>229</td>
                      </tr>
                      <tr>
                          <td>9 3/8</td>
                          <td>238</td>
                      </tr>
                  </tbody>
                  </table>
                </div>
            </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="table_responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                    <th colspan="3"><center>Then your shoe size is:</center></th>
                </tr>
                <tr>
                    <th>US</th>
                    <th>EU</th>
                    <th>Asia</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>J1</td>
                    <td>33-34</td>
                    <td>19</td>
                </tr>
                <tr>
                    <td>J2</td>
                    <td>34-35</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>J3</td>
                    <td>35-36</td>
                    <td>21</td>
                </tr>
                <tr>
                    <td>J4</td>
                    <td>36-37</td>
                    <td>22</td>
                </tr>
                <tr>
                    <td>J5</td>
                    <td>37-38</td>
                    <td>23</td>
                </tr>
                <tr>
                    <td>J6</td>
                    <td>38-39</td>
                    <td>24</td>
                </tr>
            </tbody>
            </table>
          </div>

          </div>
          </div>
</div>
</div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table -->

<!-- ys -->