<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	            margin-top: -230px;
	        }
	  } 
</style>


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
	<li ><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
	<li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
	
	<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3" id="img_mobile">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Scorpion Helmets Size Charts" title="Scorpion Helmets Size Charts" style="margin: 0 auto;margin-top: 208px;"/>

		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		   <h4 style="text-transform:uppercase;font-weight:bold;">HELMET</h4>
<p> The first step in the fitting process is to measure around your head at the temple above the eye brow.</p>
		      <div class="table_responsive">
		      <h4>Adult</h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SIZE</th>
									<th>Circumference Inches</th>
									<th>Circumference CM</th>
									<th>Hat size</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>XS              </td>
									<td>20 7/8 - 21 1/4 </td>
									<td>53-54cm         </td>
									<td>6 5/8 - 6 3/4   </td>
		        			</tr>
		        			<tr>
		        					<td>SM              </td>
									<td>21 5/8 - 22     </td>
									<td>55-56cm         </td>
									<td>6 7/8 - 7       </td>
		        			</tr>
		          			<tr>
		          					<td>MD              </td>
									<td>22 7/16 - 22 3/4</td>
									<td>57-58cm         </td>
									<td>7 1/8 - 7 1/4   </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>LG              </td>
									<td>23 1/8 - 23 5/8 </td>
									<td>59-60cm         </td>
									<td>7 3/8 - 7 1/2   </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>XL              </td>
									<td>24 - 24 3/8     </td>
									<td>61-62cm         </td>
									<td>7 5/8 - 7 3/4   </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>2XL             </td>
									<td>24 3/4 - 25 3/16</td>
									<td>63-64cm         </td>
									<td>7 7/8 - 8       </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>3XL             </td>
									<td>25 9/16 - 26    </td>
									<td>65-66cm         </td>
									<td>8 1/8 - 8 1/4   </td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <h4>Youth</h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SIZE</th>
									<th>Circumference Inches</th>
									<th>Circumference CM</th>
									<th>Hat size</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>Y-SM           </td>
									<td>18 7/8 - 19 1/4</td>
									<td>48-49cm        </td>
									<td>Y-SM           </td>
		        			</tr>
		          			<tr>
		          					<td>Y-MD           </td>
									<td>19 3/4 - 20 1/8</td>
									<td>50-51cm        </td>
									<td>Y-MD           </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>Y-LG           </td>
									<td>20 1/2 - 20 7/8</td>
									<td>52-53cm        </td>
									<td>Y-LG           </td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	
  </div> 
  </div>
</div> <!-- SizeChartTab1 -->

	
<div role="tabpanel" class="tab-pane" id="SizeChartTab2">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#MensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
	<li ><a href="#MensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
	<li ><a href="#MensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
	
</ul>
 <div class="tab-content tab-content--ys">    
	<div role="tabpanel" class="tab-pane active" id="MensJackets">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-jacket-mens-ansracing.jpg?7636670660978844610" alt="Scorpion Jackets Size Charts" title="Scorpion Jackets Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">JACKETS</h4>
<p>The first step in the fitting process is to measure around your chest then from your neck to wrist. </p>
				
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>Size</th>
									<th>XS  </th>
									<th>S   </th>
									<th>M   </th>
									<th>L   </th>
									<th>XL  </th>
									<th>2XL </th>
									<th>3XL</th>
									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>A.| Chest</td>
								<td>34-36</td>
								<td>36-38</td>
								<td>38-40</td>
								<td>42-44</td>
								<td>44-46</td>
								<td>46-48</td>
								<td>48-50</td>
		        			</tr>
		        			<tr>
		        				<td>B.| Sleeve</td>
								<td>31</td>
								<td>32</td>
								<td>33</td>
								<td>34</td>
								<td>35</td>
								<td>36</td>
								<td>37</td>
		        			</tr>
		        			<tr>
								<td>Tall Size</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>LGT</td>
								<td>XLT</td>
								<td>2XLT</td>
								<td>3XLT</td>
		        			</tr>
		        			<tr>
								<td>Sleeve</td>
								<td>-</td>
								<td>-</td>
								<td>-</td>
								<td>34-36</td>
								<td>35-37</td>
								<td>36-38</td>
								<td>37-39</td>
		        			</tr>
		        </tbody>
		      </table>
		     
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div> 
	 
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensPants">
  <div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-pants-ansracing.JPG?7636670660978844610" alt="Scorpion Pants Size Charts" title="Scorpion Pants Size Charts" style="margin: 0 auto;width: 80%;"/>
		</div>
		      <div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Pants </h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Sizes</th>
									<th>S  </th>
									<th>M  </th>
									<th>L  </th>
									<th>XL </th>
									<th>2XL</th>
									<th>3XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>A.| Waist</td>
									<td>30-31</td>
									<td>32-33</td>
									<td>34-35</td>
									<td>36-37</td>
									<td>38-39</td>
									<td>40-41</td>
		        			</tr>
		        			<tr>
		        					<td>B.| Inseam Regular</td>
									<td>33</td>
									<td>33</td>
									<td>34</td>
									<td>34</td>
									<td>35</td>
									<td>35</td>
		        			</tr>
		          			<tr>
		          				<td>Inseam Tall</td>
									<td>- </td>
									<td>- </td>
									<td>36</td>
									<td>36</td>
									<td>37</td>
									<td>37</td>
		       			 	</tr>
		        </tbody>
		      </table>
		      
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	 </div>
  </div> 
</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="MensGloves">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Scorpion Gloves Size Charts" title="Scorpion Gloves Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
					<p> Gloves measure around your palm with your fingers open and spread.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Size                   </th>
									<th>Hand Circumference (in)</th>
									<th>Hand Circumference (cm)</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>XS  </td>
									<td>5   </td>
									<td>12.7</td>
		        			</tr>
		        			<tr>
					        		<td>SM  </td>
									<td>6   </td>
									<td>15.2</td>
		        			</tr>
		        			<tr>
					        	<td>MD  </td>
									<td>7   </td>
									<td>17.8</td>
		        			</tr>
		        			<tr>
					        	<td>LG  </td>
									<td>8   </td>
									<td>20.3</td>
		        			</tr>
		        			<tr>
					        	<td>XL  </td>
									<td>9   </td>
									<td>22.9</td>
		        			</tr>
		        			<tr>
					        	<td>2XL </td>
									<td>10  </td>
									<td>25.4</td>
		        			</tr>
		        			<tr>
					        		<td>3XL </td>
									<td>11  </td>
									<td>27.9</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- MensGloves -->

</div>
</div> <!-- SizeChartTab2 -->
<div role="tabpanel" class="tab-pane" id="SizeChartTab3">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#WomensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
	<li ><a href="#WomensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
	<li ><a href="#WomensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
	
</ul>
 <div class="tab-content tab-content--ys">    
	<div role="tabpanel" class="tab-pane active" id="WomensJackets">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-icon-jacket-womens.jpg?14304611893701853807" alt="Scorpion Jackets Size Charts" title="Scorpion Jackets Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">JACKETS</h4>
<p>The first step in the fitting process is to measure around your chest then from your neck to wrist. </p>
				
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>Size</th>
									<th>XS</th>
									<th>S </th>
									<th>M </th>
									<th>L </th>
									<th>XL</th>
									<th>2XL</th>
									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>Jacket Size</td>
								<td>4      </td>
								<td>6      </td>
								<td>8      </td>
								<td>10     </td>
								<td>12     </td>
								<td>14-16  </td>
		        			</tr>
		        			<tr>
		        				<td>A.| Bust   </td>
								<td>33     </td>
								<td>34-35  </td>
								<td>36-37  </td>
								<td>39-40  </td>
								<td>41-43  </td>
								<td>45     </td>
		        			</tr>
		        			<tr>
								<td>B.| Sleeve </td>
								<td>29.5   </td>
								<td>29.5-30</td>
								<td>30.5-31</td>
								<td>31.5-32</td>
								<td>32.5-33</td>
								<td>33.5-34</td>
		        			</tr>
		        </tbody>
		      </table>
		     
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div> 
	 
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="WomensPants">
  <div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-scorpion-womens-pants.jpg?16366431335568962742" alt="Scorpion Pants Size Charts" title="Scorpion Pants Size Charts" style="margin: 0 auto;width: 80%;"/>
		</div>
		      <div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Pants </h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Hellina / Jewel / Empire</th>
									<th>XS </th>
									<th>S  </th>
									<th>M  </th>
									<th>L  </th>
									<th>XL </th>
									<th>2XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>A.| Waist</td>
									<td>26-27</td>
									<td>28-29</td>
									<td>30-31</td>
									<td>32-33</td>
									<td>34-35</td>
									<td>36-37</td>
		        			</tr>
		        			<tr>
		        					<td>Inseam</td>
									<td>31</td>
									<td>32</td>
									<td>32</td>
									<td>33</td>
									<td>33</td>
									<td>34</td>
		        			</tr>
		        </tbody>
		      </table>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Savanah & Haley</th>
									<th>XS </th>
									<th>S  </th>
									<th>M  </th>
									<th>L  </th>
									<th>XL </th>
									<th>XXL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>B.| Low Rise-Waist</td>
									<td>26-27</td>
									<td>28-29</td>
									<td>29-30</td>
									<td>30-31</td>
									<td>32-33</td>
									<td>36-37</td>
		        			</tr>
		        			<tr>
		        					<td>C.| Inseam</td>
									<td>31</td>
									<td>32</td>
									<td>32</td>
									<td>33</td>
									<td>33</td>
									<td>34</td>
		        			</tr>
		        </tbody>
		      </table>
		      
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	 </div>
  </div> 
</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="WomensGloves">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Scorpion Gloves Size Charts" title="Scorpion Gloves Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
					<p> Gloves measure around your palm with your fingers open and spread.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>Size                   </th>
									<th>Hand Circumference (in)</th>
									<th>Hand Circumference (cm)</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>XS  </td>
									<td>5   </td>
									<td>12.7</td>
		        			</tr>
		        			<tr>
					        		<td>SM  </td>
									<td>6   </td>
									<td>15.2</td>
		        			</tr>
		        			<tr>
					        	<td>MD  </td>
									<td>7   </td>
									<td>17.8</td>
		        			</tr>
		        			<tr>
					        	<td>LG  </td>
									<td>8   </td>
									<td>20.3</td>
		        			</tr>
		        			<tr>
					        	<td>XL  </td>
									<td>9   </td>
									<td>22.9</td>
		        			</tr>
		        		
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- MensGloves -->

</div>
</div> <!-- SizeChartTab3 -->




</div><!-- tab-content tab-content-ys obs_sizechart -->
