<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/returns-exchange-032420.jpg?v=1585015389" alt="Motorhelmets Returns and Exchange" />
<div class="divider divider--xs"></div>
<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">Returns for Exchange</h3>
<h4 class="text-center uppercase_txt">Read Below for Detailed Policy Information</h4>

<h3 class="text-left title-under uppercase_txt home_title">FREE SHIPPING EXCHANGE PROMO</h3>
<p>NOW for a limited time Motorhelmets.com is offering Free Shipping Exchange. Valid for for helmets & apparel only. Motorcycle boots, luggage, hard parts, body parts, oils, tires, batteries and oversized items do not apply. We will pay for shipping back to us for all exchanges, and then back to you. So you never have to worry about shipping charges!<p>
<p>
Free freight does not apply to Returns or returns for refunds (only for exchanges). Free freight only applies to ground shipping. Expedited shipping is not allowed. Shipping only applies to M-F. Shipping freight must be properly packed and shipped insurance pre-paid. Items lost in shipment or damaged in shipment is the responsibility of the customer. All original tags, paperwork, stickers and accessories must be included. All original manufacturer boxes must be in new condition. </p>

<p><b><span class="color-white bg-custom">All Hot Sale items cannot be returned for exchange or refund. This item sale is final because it's a limited sale item.</span></b> Free Shipping Exchange does not cover Boots (Street, Offroad and Cruiser). Free exchange policy applies to ONE time use only. Customer agrees to pay for all returns and shipments thereafter.</p>
<ul>
<li>You have 7 days to request an exchange. (7 days after your package has been delivered - verified by tracking).</li>
<li>Exchanged merchandise must be in New and Resaleable condition. All used helmets will be rejected. Any scratches or signs of use will void your exchange. Any washed merchandise is void of exchange. All returns must be accompanied by an order number, all original packaging materials and paperwork. Please ship your box in appropriate packaging, pre-insured and tracked.</li>
<li>Customers are responsible for all shipping and insurance fees. We are not responsible for lost packages, you must consult any lost packages with your shipping carrier.</li>
<li>Customers will be billed shipping for the exchanged item.</li>
<li>Cross shipments are available by request. Customer's credit card will be charged for the exchange and then the hold removed once the returned item is received and verified. If any items are not in NEW condition, they will be returned and you will be billed for the returned item.</li>
<li>All sales are final after 7 days of delivery.</li>
</ul>

<hr class="hr-lg" />
<!--  -->
<h3 class="text-left title-under uppercase_txt home_title">RETURN FOR EXCHANGE</h3>
<ul>
<li>You have 3 days to <a class="text_underline text_color_red" href="/pages/warranty-request">REPORT</a> a product that was received defective. If you see the packaging is defective upon receipt, then report the problem immediately to the shipping carrier. A direct claim may have to be made with the shipping carrier.</li>
<li>If you "out of the box" received any defective items, then you have a DOA (Dead on Arrival) claim. After <a class="text_underline text_color_red" href="/pages/warranty-request">REPORTING</a> the problem, we will make arrangements to have the merchandise picked up and a replacement sent to you immediately. All items are shipped standard ground.</li>
<li>DOA defective items will be replaced with the same or comparable item.</li>
<li>Thank you for your patience, as this procedure may take another 5 - 7 working days.</li>
<li>All DOA merchandise should be carefully repacked and ready for pickup by an authorized freight carrier.</li>
<li>There is no out of pocket expense from the customer.</li>
<li>You may be required to drop your package at the local UPS/ FedEx or US Postal office.</li>
<li>All defective merchandise reported after 3 days of delivery date will be handled under the normal <a class="text_underline text_color_red" href="/pages/ordering-store-policy">Warranty procedure</a>.</li>
<li>To claim any warranty service within 30 days, use our <a class="text_underline text_color_red" href="/pages/warranty-request">Authorized Warranty Request Form</a>.</li>
</ul>
<!-- / -->
<hr class="hr-lg" />
<h3 class="text-left title-under uppercase_txt home_title">Returns for Refund</h3>
<ul>
<li>All returns are applicable to a 20% restocking fee or $25 whichever is greater.</li>
<li>You have 7 days to request refunds (7 days after your package has been delivered - verified by tracking). Please allow 5 working days for your credit to appear on your credit card. Please allow 2 weeks for any refund checks to arrive.</li>
<li>Returned merchandise must be in New and Resaleable condition. All used helmets will be rejected. Any scratches or signs of use will void your return. Any washed merchandise is void of returns. All returns must be accompanied by an order number, all original packaging materials and paperwork. Please ship your box in appropriate packaging, pre-insured and tracked.</li>
<li>Customers are responsible for all shipping and insurance fees. We are not responsible for lost packages, you must consult any lost packages with your shipping carrier.</li>
<li>All sales are final after 7 days of delivery.</li>
</ul>
<!-- / -->
<hr class="hr-lg" />
<!--  -->
<h3 class="text-left title-under uppercase_txt home_title">Returns for Store Credit</h3>
<ul>
<li>All returns for credit are applicable to a 10% restocking fee or $15, whichever is greater.</li>
<li>You have 7 days to request a return for store credit. (7 days after your package has been delivered - verified by tracking). Credits are applicable immediately after approval by our service dept.</li>
<li>Returned merchandise must be in New and Resaleable condition. All used helmets will be rejected. Any scratches or signs of use will void your return. Any washed merchandise is void of returns. All returns must be accompanied by an order number, all original packaging materials and paperwork. Please ship your box in appropriate packaging, pre-insured and tracked.</li>
<li>Customers are responsible for all shipping and insurance fees. We are not responsible for lost packages, you must consult any lost packages with your shipping carrier.</li>
<li>All sales are final after 7 days of delivery.</li>
</ul>

</div>
</div>

