<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->

<h3 class="text-center title-under uppercase_txt home_title">Cortech Information Page</h3>
<hr class="hr-lg" />

<p>Tour Master's Cortech® Series is our top rung, the best we do. A little extra touch, an added detail, and so many unique features you'd think it was made for James Bond. Cortech apparel gives you 90% of what you'll find on the highest-priced riding gear at about 60% of their price. Cortech luggage gives you features you can't find on other bike luggage -- no matter what the price. And as you read on the "Reviews And Testimonials" page, the motorcycle press seem to agree. Make your own comparisons, side by side, detail for detail. We bet you'll join the Cortech family, too.   </p>
<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->
<h4 class="color font30">About Cortech Tourmaster</h4>

<hr class="hr-sm" />
<p>For over 25 years, Tour Master has been developing and manufacturing a full line of motorcycle apparel and accessories. And while our name may hearken back to our touring beginnings, Tour Master has become one of the country's top names in gear for sport riders, cruising riders, touring riders - every rider. Virtually every Tour Master product is first created at our California headquarters. It might begin as a new idea we get on a ride, or a product we see that we think could be better. Then a rigorous obstacle course of conceptual drawings, material and construction possibilities, prototypes, more prototypes, evaluation and re-evaluation follow. Candidates are worn, mounted, ridden with, pushed, and tested until we're satisfied they meet our standards and our name. That's why you can "trust the Master" to offer you high quality riding gear and accessories with one very special bonus - a fair price.</p>
<p>

<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->


<h4 class="color font30">Cortech GX & GX Air Jackets and Pants</h4>

<hr class="hr-sm" />
<p>The Cortech GX Jacket and Pants combine sportbike styling and fit with the comfort and flexibility of technologically advanced textiles plus an impressive array of features and benefits. The FX Air Jacket and Pants... Here's an extreme-Cooling sportbike outfit that combines protection with ventilation and flexibility! Constructed with Tour Master's exclusive Armor Link. Cortech Tribag Tank Bag System. Versatility plus style! The beautiful new Tour Master Cortech Tribag system is like three bags in one. Use the different pieces separately or zip them together into one super storage unit. Cortech Mini Magnetic Tank Baggs. This is the bag for people who never thought they liked tank bags! Easy on, easy off, it holds what you want, without bulges or bulk. Compact size and cool style dont get in the way or "block" your view. And if you come home with more than you left with, a big-tooth zipper expands it into something a little bigger! 
</p>
<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->

<h4 class="color font30">Cortech Tribag Tail Bag System
</h4>

<hr class="hr-sm" />
<p>Specifically designed to combine exceptional versatility with a handsome look. The Cortech Tribag system gives you the flexibility of taking just what you need for the trip, whether it's a simple overnighter or a full-blown tour. All the components connect simply and securely, and go on and off with ease - with soft neoprene pads and panels to protect your bike's finish. Cortech Motorcycle Saddlebags, the best quality saddlebags out there. Cortect Tail Bag, is made of heavy-duty, water-resistant nylon, with E-Z access top-loading two-way zippered main compartment. Perfect for long trips and/or weekend get aways.</p>
<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->



</div>
</div>