<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
<li class=""><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
<li class=""><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Boys</a></li>
<li class=""><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Kids</a></li>
<li class=""><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Toddler</a></li>

</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-MM-mens.JPG?4578055371256239046" alt="Metal Mulisha Mens Size Charts" title="Metal Mulisha Mens Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Chest</h4>
<p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Waist</h4>
<p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Hip</h4>
<p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
       <tr>
<th >Tops</th>
<th colspan="2">S   </th>
<th colspan="2">M   </th>
<th colspan="2">L   </th>
<th colspan="2">XL  </th>
<th colspan="2">2XL </th>
<th colspan="2">3XL </th>
        </tr>
        <tr>
<th>Bottoms</th>
<th>28    </th>
<th>29    </th>
<th>30    </th>
<th>31    </th>
<th>32    </th>
<th>34    </th>
<th>36    </th>
<th>38    </th>
<th>40    </th>
<th>42    </th>
<th>44    </th>
<th>-    </th>
        </tr>
      </thead>
     <tbody>
        <tr>

 </tr>
        <tr>
     <td>A.| CHEST</td>
<td>34.5 </td>
<td>36.5 </td>
<td>38.5 </td>
<td>40.5 </td>
<td>42.5 </td>
<td>44.5 </td>
<td>46.5 </td>
<td>48.5 </td>
<td>50.5 </td>
<td>52.5 </td>
<td>54.5 </td>
<td>56.5 </td>
 </tr>
        <tr>
         <td>B.| WAIST</td>
<td>30  </td>
<td>31  </td>
<td>32  </td>
<td>33  </td>
<td>34  </td>
<td>36  </td>
<td>38  </td>
<td>40  </td>
<td>42  </td>
<td>44  </td>
<td>46  </td>
<td>48.5</td>
        </tr>
        <tr>
        <td>C.| HIP</td>
<td>36</td>
<td>37</td>
<td>38</td>
<td>39</td>
<td>40</td>
<td>42</td>
<td>44</td>
<td>46</td>
<td>48</td>
<td>50</td>
<td>52</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-MM-womens.jpg?4578055371256239046" alt="Metal Mulisha Womens Size Charts" title="Metal Mulisha Womens Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Bust</h4>
<p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Waist</h4>
<p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Hip</h4>
<p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th rowspan="2">SIZE    </th>
          <th>XS</th>
          <th>S </th>
          <th>M </th>
          <th>L </th>
          <th>XL</th>
        </tr>
         <tr>
         <th>0/0-1/2 </th>
<th>3/4 - 5/6 </th>
<th>7/8 - 9/10</th>
<th>11/12</th>
<th>12/13</th>

        </tr>
      </thead>
     <tbody>
        <tr>
    <td>A.| BUST       </td>
<td>32 - 33    </td>
<td>34 - 35    </td>
<td>36 - 37    </td>
<td>37 - 38    </td>
<td>38 - 39    </td>
     
 </tr>
        <tr>
<td>CUP        </td>
<td>32A        </td>
<td>34B        </td>
<td>34C - 36B  </td>
<td>36C - 38B  </td>
<td>38B - C    </td>
        </tr>
           <tr>
<td>B.| WAIST      </td>
<td>23.5 - 24.5</td>
<td>25.5 - 26.5</td>
<td>27.5 - 28.5</td>
<td>29.5 - 30.5</td>
<td>31.5 - 32.5</td>
        </tr>
           <tr>
<td>C.| HIP    </td>
<td>34 - 35</td>
<td>36 - 37</td>
<td>38 - 39</td>
<td>40 - 41</td>
<td>42 - 42</td>

        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-MM-boys.jpg?4578055371256239046" alt="Metal Mulisha Boys Size Charts" title="Metal Mulisha Boys Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Chest</h4>
<p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Waist</h4>
<p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Hip</h4>
<p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
    <div class="table_responsive">
   <table class="table table-bordered table-striped">
      <thead>
              <tr>
       <th>TOPS</th>
<th>-   </th>
<th colspan="2" style="text-align:center;">S   </th>
<th colspan="2" style="text-align:center;">M   </th>
<th colspan="2" style="text-align:center;">L   </th>
<th colspan="2" style="text-align:center;">XL  </th>

        </tr>
        <tr>
         <th rowspan="2">BOTTOMS</th>
<th>- </th>
<th>7 </th>
<th>8 </th>
<th>10</th>
<th>12</th>
<th>14</th>
<th>16</th>
<th>18</th>
<th>20</th>
        </tr>
         <tr>
        <th>22</th>
<th>23</th>
<th>24</th>
<th>25</th>
<th>26</th>
<th>27</th>
<th>28</th>
<th>29</th>
<th>30</th>
        </tr>
      </thead>
     <tbody>
        <tr>
<td>A.| HEIGHT </td>
<td>45     </td>
<td colspan="2" style="text-align:center;">48 - 55  </td>
<td colspan="2" style="text-align:center;">56 - 60  </td>
                                                
<td colspan="2" style="text-align:center;">60 - 64  </td>
                                                
<td colspan="2" style="text-align:center;">66 - 68  </td>

 </tr>
        <tr>
<td>WEIGHT </td>
<td>50     </td>
<td colspan="2" style="text-align:center;">56 - 60  </td>
                                                
<td colspan="2" style="text-align:center;">75 - 90  </td>
<td colspan="2" style="text-align:center;">95 - 110 </td>

<td colspan="2" style="text-align:center;">115 - 125</td>

        </tr>
            <tr>
<td>B.| CHEST</td>
<td>- </td>
<td>26</td>
<td>27</td>
<td>28</td>
<td>29</td>
<td>30</td>
<td>31</td>
<td>32</td>
<td>33</td>
        </tr>
            <tr>
<td>C.| WAIST</td>
<td>22   </td>
<td>23   </td>
<td>24   </td>
<td>25   </td>
<td>26   </td>
<td>27   </td>
<td>28   </td>
<td>29   </td>
<td>30   </td>
        </tr>
            <tr>
<td>D.| HIP  </td>
<td>27   </td>
<td>28   </td>
<td>29   </td>
<td>30   </td>
<td>31   </td>
<td>32   </td>
<td>33   </td>
<td>34   </td>
<td>35   </td>
        </tr>
            <tr>
<td>AGE  </td>
<td>-    </td>
<td colspan="2" style="text-align:center;">9    </td>

<td colspan="2" style="text-align:center;">10 - 11</td>
                                                
<td colspan="2" style="text-align:center;">11 - 12</td>
                                                
<td colspan="2" style="text-align:center;">12 - 13</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab3 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-MM-kids.jpg?2543607451881560169" alt="Metal Mulisha Kids Size Charts" title="Metal Mulisha Kids Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Chest</h4>
<p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Waist</h4>
<p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Hip</h4>
<p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th>TOPS</th>
<th>S </th>
<th colspan="2" style="text-align:center;">M </th>
<th>L </th>
<th>XL</th>
        </tr>
         <tr>
        <th>BOTTOMS</th>
<th>4 </th>
<th>5 </th>
<th>6 </th>
<th>7 </th>
<th>7X</th>
        </tr>
      </thead>
     <tbody>
        <tr>
<td>A.| HEIGHT</td>
<td>38 - 40 </td>
<td colspan="2" style="text-align:center;">40 - 42 </td>
<td>43 - 44 </td>
<td>44 - 45 </td>   
 </tr>
        <tr>
 <td>WEIGHT</td>
<td>34 - 38 </td>
<td colspan="2" style="text-align:center;">38 - 42 </td>
<td>42 - 47 </td>
<td>47 - 50 </td>
        </tr>
        <tr>
<td>B.| CHEST </td>
<td>23    </td>
<td>24    </td>
<td>25    </td>
<td>26    </td>
<td>2     </td>
        </tr>
        <tr>
<td>C.| WAIST </td>
<td>21    </td>
<td colspan="2" style="text-align:center;">22    </td>
<td>23    </td>
<td>24    </td>
        </tr>
        <tr>
<td>D.| HIP   </td>
<td>22    </td>
<td>24.5  </td>
<td>25.5  </td>
<td>26.5  </td>
<td>27    </td>
        </tr>
        <tr>
<td>AGE   </td>
<td>4 - 5   </td>
<td colspan="2" style="text-align:center;">5 - 6   </td>
<td>6 - 7   </td>
<td>7 - 8   </td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab4 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab5">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-MM-toddler.jpg?4578055371256239046" alt="Metal Mulisha Toddler Size Charts" title="Metal Mulisha Toddler Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Chest</h4>
<p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Waist</h4>
<p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
<h4 style="text-transform:uppercase;font-weight: bold;">Hip</h4>
<p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
        <th>SIZE</th>
<th>2T  </th>
<th>3T  </th>
<th>4T  </th>
        </tr>
      </thead>
     <tbody>
        <tr>
      <td>A.| HEIGHT</td>
<td>33 - 35 </td>
<td>36 - 38 </td>
<td>38 - 40 </td>
 </tr>
        <tr>
   <td>WEIGHT</td>
<td>24 - 28</td>
<td>29 - 32</td>
<td>33 - 36</td>
        </tr>
          <tr>
<td>B.| CHEST</td>
<td>21   </td>
<td>22   </td>
<td>23   </td>
        </tr>
          <tr>
  <td>C.| WAIST</td>
<td>20 </td>
<td>21 </td>
<td>22 </td>
        </tr>
          <tr>
 <td>D.| HIP</td>
<td>22 </td>
<td>23 </td>
<td>24 </td>
        </tr>
          <tr>
<td>AGE</td>
<td>2</td>
<td>3</td>
<td>4</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab5 -->



</div><!-- ys -->