<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
               margin-top: -123px;
          }
    } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
  <li ><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
  <li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
  <li ><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  
  <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Fly Racing Helmets Size Charts" title="Fly Racing Helmets Size Charts" style="margin: 0 auto;"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">

            <h4 style="text-transform:uppercase;font-weight:bold;">HELMET</h4>
<p>Sizing: Using a tape-measure, measure the circumference of your head just above the ears and across the forehead. Refer to the chart for proper helmet size. </p>
<p>Fitting: Open the chin straps and slide the helmet onto your head starting at the forehead. A helmet should feel snug. If it slides on easily it is too big. It should feel tight to pull down. Make sure the inner padding fits snug all around. You should feel the padding pressing against your cheeks and head. The last check for a proper fit is to test if it moves while wearing, there should be no movement if you shake your head. Place your hands on the helmet and move it front to back and side-to-side. If there is a lot of movement, try a size down. </p>

  
  </div> 
  </div>
<br>
            <h4><b>ADULT HEAD HELMET SIZE</b></h4>

          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                 <th>Helmet size</th> 
                 <th>Head Measurement (in)</th>
              </tr>
            </thead>
              <tbody>
                  <tr>
                    <td>X-Small</td>
                <td>20-5” - 21.25”</td>
                  </tr>
                  <tr>
                    <td>Small</td>
                <td>21-25” - 22”</td>
                  </tr>
                    <tr>
                      <td>Medium</td>
                <td>22” - 23”</td>
                  </tr>
                  <tr>
                      <td>Large</td>
                <td>23“ - 23.75”</td>
                  </tr>
                  <tr>
                      <td>X-Large</td>
                <td>24”-24.5”</td>
                  </tr>
                  <tr>
                    <td>2X-Large</td>
                <td>24.5”-25.25”</td>
                </tr>
              </tbody>
          </table>
        
                  <h4><b>YOUTH HEAD HELMET SIZE</b></h4>

          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                 <th>Helmet size</th> 
                 <th>Head Measurement (in)</th>     
              </tr>
            </thead>
              <tbody>
                  <tr>
                    <td>Small</td>
                <td>18-25” - 19”</td>
                  </tr>
                  <tr>
                    <td>Medium</td>
                <td>19” - 19.75”</td>
                  </tr>
                    <tr>
                      <td>Large</td>
                <td>19.75” - 20.5”</td>
                  </tr>
              </tbody>
          </table>
         
    </div><!-- Responsive Table --> 


    <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>

</div> <!-- SizeChartTab1 -->

  
<div role="tabpanel" class="tab-pane" id="SizeChartTab2">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#MensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  <li ><a href="#MensJerseys" role="tab"data-toggle="tab" class="text-uppercase">Jerseys</a></li>
  <li ><a href="#MensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="MensPants">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-offroad-pants-answerracing.JPG?15180533908203075622" alt="Fly Racing Pants Size Charts" title="Answear Racing Pants Size Charts" style="margin: 0 auto;"/>

    </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
                <h4 style="text-transform:uppercase;font-weight:bold;">PANTS</h4>
<p>WAIST: MEASURE THE SMALLEST POINT OF YOUR WAIST ALL THE WAY AROUND.</p>
<p>INSEAM: MEASURE FROM YOUR CROTCH DOWN TO THE TOP OF YOUR FOOT. FOR OUR 1PC SUITS, MEASURE FROM YOUR CROTCH DOWN TO THE TOP OF YOUR ANKLE.</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                <th>SIZE</th> 
                <th>A.| WAIST</th>
          <th>B.| IN-BOOT INSEAM</th>
          <th>OVER-BOOT INSEAM</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                           <td>28 Short</td>
                           <td>28.5-30</td>
                           <td>24</td>
                           <td>n/a</td>
                        </tr>
                            <tr>
                            <td>28</td>
                            <td>28.5-30</td>
                            <td>26</td>
                            <td>31</td>
                        </tr>
                        <tr>
                           <td>30</td>
                           <td>30.5-32</td>
                           <td>27.5</td>
                           <td>31.5</td>
                        </tr>
                        <tr>
                            <td>32</td>
                            <td>32.5-34</td>
                            <td>28</td>
                            <td>32</td>
                        </tr>
                            <tr>
                            <td>34</td>
                            <td>34.5-36</td>
                            <td>29</td>
                            <td>33</td>
                        </tr>
                            <tr>
                            <td>36</td>
                            <td>36.5-38</td>
                            <td>30</td>
                            <td>34</td>
                            </tr>
                        <tr>
                           <td>38</td>
                           <td>38.5-40</td>
                           <td>30</td>
                           <td>34</td>
                        </tr>
                           <tr>
                           <td>40</td>
                           <td>40.5-42</td>
                           <td>30</td>
                           <td>34</td>
                        </tr>
                           <tr>
                           <td>42</td>
                           <td>42.5-44</td>
                           <td>30</td>
                           <td>34</td>
                        </tr>
                           <tr>
                           <td>44</td>
                           <td>44.5-46</td>
                           <td>30</td>
                           <td>34</td>
                        </tr>
                           <tr>
                           <td>46</td>
                           <td>46.5-48</td>
                           <td>30</td>
                           <td>34</td>
                        </tr>
                           <tr>
                           <td>48</td>
                           <td>48.5-50</td>
                           <td>30</td>
                           <td>34</td>
                        </tr>
            </tbody>
          </table>

    </div><!-- Responsive Table --> 
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>
   </div>
  </div> 

  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensJerseys">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/size-chart-mens-off-road-jersey-fly-racing.jpg?5938658782195002951" alt="Fly Racing Jersey Size Charts" title="Answear Racing Jersey Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
          <h4 style="text-transform:uppercase;font-weight:bold;">JERSEYS</h4>
<p>CHEST: MEASURE THE WIDEST PART OF YOUR CHEST, UNDER YOUR ARMPITS AND AROUND. BE SURE THAT YOUR ARMS ARE RESTING AT YOUR SIDES.</p>
<p>ARM: MEASURE FROM THE MIDDLE OF THE BACK OF YOUR NECK, OVER YOUR SHOULDER, OVER YOUR ELBOW, ENDING AT YOUR WRIST. </p>
   </div>
       
  </div> 
              <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                    <th>A.| CHEST (in)</th>
                    <th>B.| ARM (in)</th>
                    <th>SIZE</th> 
              </tr>
            </thead>
            <tbody>
              <tr>
                        <td>34-35</td>
                        <td>31-32</td>
                        <td>Small</td>
                    </tr>
                    <tr>
                        <td>36-38</td>
                        <td>32-33</td>
                        <td>Medium</td>
                    </tr>
                    <tr>
                        <td>40-42</td>
                        <td>33-34</td>
                        <td>Large</td>
                    </tr>
                    <tr>
                        <td>44-46</td>
                        <td>34-35</td>
                        <td>XLarge</td>
                    </tr>
                        <tr>
                        <td>48-50</td>
                        <td>37</td>
                        <td>2XLarge</td>
                    </tr>
                    <tr>
                        <td>52-54</td>
                        <td>38</td>
                        <td>3XLarge</td>
                    </tr>
                    <tr>
                        <td>56-58</td>
                        <td>38</td>
                        <td>4XLarge</td>
                    </tr>
                    <tr>
                      <td>60-62</td>
                      <td>38</td>
                        <td>5XLarge</td>
                    </tr> 
            </tbody>
          </table>
    </div><!-- Responsive Table --> 
 <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>

</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="MensGloves">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/size-chart-mens-gloves-fly-racing.jpg?14412271887356918126" alt="Fly Racing Gloves Size Charts" title="Answear Racing Gloves Size Charts" style="margin: 0 auto;"/>
      
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
          <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
  <p>HAND: MEASURE THE WIDTH OF YOUR HAND ACROSS YOUR PALM JUST BELOW YOUR KNUCKLES (DO NOT INCLUDE YOUR THUMB). * PLEASE NOTE IF YOU HAVE LONG FINGERS OR THE MEASUREMENT FALLS RIGHT ON THE UNIT (I.E: SIZE L MEASUREMENT IS 4 1/4") CONSIDER MOVING UP A SIZE. </p>

      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                <th>SIZE</th> 
                <th>HAND (in)</th>
              </tr>
            </thead>
            <tbody>
          <tr>
                      <td>X-Small</td>
                      <td>7</td>
                    </tr>
                    <tr>
                      <td>Small</td>
                      <td>8</td>
                    </tr>
                    <tr>
                      <td>Medium</td>
                      <td>9</td>
                    </tr>
                    <tr>
                      <td>Large</td>
                      <td>10</td>
                    </tr>
                    <tr>
                      <td>X-Large</td>
                      <td>11</td>
                    </tr>
                    <tr>
                      <td>2X-Large</td>
                      <td>12</td>
                    </tr>
                    <tr>
                       <td>3X-Large</td>
                       <td>13</td>
                    </tr>
            </tbody>
          </table>
         
    </div><!-- Responsive Table --> 
     <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>
             </div>
      </div> 
          


</div> <!-- MensGloves -->
</div>

</div> <!-- SizeChartTab2 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab3">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#WomensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  <li ><a href="#WomensJerseys" role="tab"data-toggle="tab" class="text-uppercase">Jerseys</a></li>
  <li ><a href="#WomensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="WomensPants">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-offroad-pants-answerracing.JPG?15180533908203075622" alt="Fly Racing Pants Size Charts" title="Answear Racing Pants Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
         
   <h4 style="text-transform:uppercase;font-weight:bold;">PANTS</h4>
<p>HIPS: MEASURE THE CIRCUMFERENCE, AT THE WIDEST PART OF YOUR HIPS BELOW YOUR WAIST. INSEAM: MEASURE FROM YOUR CROTCH DOWN TO THE TOP OF YOUR FOOT. FOR OUR 1PC SUITS, MEASURE FROM YOUR CROTCH DOWN TO THE TOP OF YOUR ANKLE. </p>

          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                  <th>SIZE</th> 
                  <th>A.| HIPS (in)</th>
            <th>B.| IN-BOOT INSEAM (in)</th>
            <th>OVER-BOOT INSEAM (in) </th>
              </tr>
            </thead>
              <tbody>
                <tr>
                            <td>0/2</td>
                            <td>33</td>
                            <td>27</td>
                            <td>30</td>
                        </tr>
                        <tr>
                          <td>3/4</td>
                            <td>36.5</td>
                            <td>28</td>
                            <td>31</td>
                        </tr>
                        <tr>
                            <td>5/6</td>
                            <td>40</td>
                            <td>29</td>
                            <td>31</td>
                        </tr>
                        <tr>
                            <td>7/8</td>
                            <td>42</td>
                            <td>30</td>
                            <td>32</td>
                        </tr>
                        <tr>
                            <td>9/10</td>
                            <td>44</td>
                            <td>30</td>
                            <td>32</td>
                        </tr>
                        <tr>
                            <td>11/12</td>
                            <td>46</td>
                            <td>30</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <td>13/14</td>
                            <td>48</td>
                            <td>30</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <td>15/16</td>
                            <td>50</td>
                            <td>30</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <td>17/18</td>
                            <td>52</td>
                            <td>n/a</td>
                            <td>33</td>
                        </tr>
                        <tr>
                            <td>19/20</td>
                            <td>54</td>
                            <td>n/a</td>
                            <td>33</td>
                        </tr>
            </tbody>
          </table>
          
    </div><!-- Responsive Table --> 
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p>
   </div>
  </div> 



  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="WomensJerseys">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/size-chart-womens-off-road-jersey-fly-racing.jpg?4527807305344496332" alt="Fly Racing Jersey Size Charts" title="Fly Racing Jersey Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
          <h4 style="text-transform:uppercase;font-weight:bold;">JERSEYS</h4>
<p>BUST: MEASURE AROUND THE FULLEST PART OF YOUR BUST, MAKE SURE YOU KEEP YOUR MEASURING TAPE PARALLEL TO THE GROUND.</p>
<p>ARM: MEASURE FROM THE MIDDLE OF THE BACK OF YOUR NECK, OVER YOUR SHOULDER, OVER YOUR ELBOW, ENDING AT YOUR WRIST. </p>
<p>WAIST: MEASURE THE SMALLEST POINT OF YOUR WAIST ALL THE WAY AROUND.</p>

   </div>
  </div> 
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                  <th>SIZE</th> 
                    <th>A.| BUST (in)</th>
                    <th>B.| ARM (in) </th>
                    <th>C.| WAIST (in) </th>

              </tr>
            </thead>
              <tbody>
                <tr>
                           <td>X-Small</td>
                           <td>32</td>
                           <td>28</td>
                           <td>23.5-24.5</td>

                        </tr>
                        <tr>
                           <td>Small</td>
                           <td>35</td>
                           <td>29</td>
                           <td>25.5-26.5</td>

                        </tr>
                        <tr>
                           <td>Medium</td>
                           <td>38</td>
                           <td>30</td>
                           <td>27.5-28.5</td>
                        </tr>
                        <tr>
                           <td>Large</td>
                           <td>41</td>
                           <td>31</td>
                           <td>30-31.5</td>
                        </tr>
                        <tr>
                            <td>X-Large</td>
                            <td>44</td>
                            <td>32</td>
                            <td>33-35</td>
                        </tr>
                        <tr>
                            <td>2X-Large</td>
                            <td>48</td>
                            <td>33</td>
                            <td>37</td>
                        </tr>
            </tbody>
          </table>
    </div><!-- Responsive Table --> 
     <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p> 

</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="WomensGloves">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/size-chart-mens-gloves-fly-racing.jpg?14412271887356918126" alt="Fly Racing Gloves Size Charts" title="Fly Racing Gloves Size Charts" style="margin: 0 auto;"/>
      
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
          <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
<p>HAND: MEASURE THE WIDTH OF YOUR HAND ACROSS YOUR PALM JUST BELOW YOUR KNUCKLES (DO NOT INCLUDE YOUR THUMB). * PLEASE NOTE IF YOU HAVE LONG FINGERS OR THE MEASUREMENT FALLS RIGHT ON THE UNIT (I.E: SIZE L MEASUREMENT IS 4 1/4") CONSIDER MOVING UP A SIZE. </p>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                  <th>SIZE</th> 
                    <th>Hand (in)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                            <td>X-Small</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            <td>7</td>
                        </tr>
                        <tr>
                            <td>Large</td>
                            <td>8</td>
                        </tr>
                        <tr>
                            <td>X-Large</td>
                            <td>9</td>
                        </tr>
                            <tr>
                            <td>2X-Large</td>
                            <td>10</td>
                        </tr>
            </tbody>
          </table>
         
    </div><!-- Responsive Table --> 
     <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p>
             </div>
      </div> 
          
          
</div> <!-- MensGloves -->
</div>

</div> <!-- SizeChartTab3 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab4">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#YouthPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  <li ><a href="#YouthJerseys" role="tab"data-toggle="tab" class="text-uppercase">Jerseys</a></li>
  <li ><a href="#YouthGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="YouthPants">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-offroad-pants-answerracing.JPG?15180533908203075622" alt="Fly Racing Pants Size Charts" title="Fly Racing Pants Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
          <h4 style="text-transform:uppercase;font-weight:bold;">PANTS</h4>
<p>WAIST: MEASURE THE SMALLEST POINT OF YOUR WAIST ALL THE WAY AROUND.</p>
<p>INSEAM: MEASURE FROM YOUR CROTCH DOWN TO THE TOP OF YOUR FOOT. FOR OUR 1PC SUITS, MEASURE FROM YOUR CROTCH DOWN TO THE TOP OF YOUR ANKLE. </p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                   <th>SIZE</th>  
                   <th>A.| WAIST (in)</th>
            <th>B.| IN-BOOT INSEAM (in)</th>
            <th>OVER-BOOT INSEAM (in)</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                           <td>18</td>
                           <td>18.5-20</td>
                           <td>18.5</td>
                           <td>22.5</td>
                        </tr>
                        <tr>
                           <td>20</td>
                           <td>20.5-22</td>
                           <td>19.5</td>
                           <td>23.5</td>
                        </tr>
                        <tr>
                           <td>22</td>
                           <td>22.5-24</td>
                           <td>20</td>
                           <td>24</td>
                        </tr>
                        <tr>
                           <td>24</td>
                           <td>24.5-26</td>
                           <td>21</td>
                           <td>25</td>
                        </tr>
                        <tr>
                           <td>26</td>
                           <td>26.5-28</td>
                           <td>22</td>
                           <td>26</td>
                        </tr>
            </tbody>
          </table>
         
    </div><!-- Responsive Table --> 
   
 <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p>
   </div>
  </div> 
   
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="YouthJerseys">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/size-chart-mens-off-road-jersey-fly-racing.jpg?5938658782195002951" alt="Fly Racing Jersey Size Charts" title="Fly Racing Jersey Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
            <h4 style="text-transform:uppercase;font-weight:bold;">JERSEYS</h4>
<p>CHEST: MEASURE THE WIDEST PART OF YOUR CHEST, UNDER YOUR ARMPITS AND AROUND. BE SURE THAT YOUR ARMS ARE RESTING AT YOUR SIDES. </p>
<p>ARM: MEASURE FROM THE MIDDLE OF THE BACK OF YOUR NECK, OVER YOUR SHOULDER, OVER YOUR ELBOW, ENDING AT YOUR WRIST. </p>

   </div>
  </div> 
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                  <th>SIZE</th> 
                    <th>A.| Chest (in)</th>
                    <th>B.| Arm (in)</th>
              </tr>
            </thead>
            <tbody>
            <tr>
                            <td>Small</td>
                            <td>20-22</td>
                            <td>20-21</td>
                        </tr>
                        <tr>
                           <td>Medium</td>
                           <td>24-26</td>
                           <td>22-23</td>
                        </tr>
                        <tr>
                            <td>Large</td>
                            <td>28-30</td>
                            <td>24-26</td>
                        </tr>
                        <tr>
                            <td>X-Large</td>
                            <td>32-33</td>
                            <td>27-30</td>
                        </tr>
            </tbody>
          </table>
         
    </div><!-- Responsive Table --> 
     <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p>

</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="YouthGloves">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/size-chart-mens-gloves-fly-racing.jpg?14412271887356918126" alt="Fly Racing Gloves Size Charts" title="Fly Racing Gloves Size Charts" style="margin: 0 auto;"/>
      
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
          <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
  <p>HAND: MEASURE THE WIDTH OF YOUR HAND ACROSS YOUR PALM JUST BELOW YOUR KNUCKLES (DO NOT INCLUDE YOUR THUMB). * PLEASE NOTE IF YOU HAVE LONG FINGERS OR THE MEASUREMENT FALLS RIGHT ON THE UNIT (I.E: SIZE L MEASUREMENT IS 4 1/4") CONSIDER MOVING UP A SIZE. </p>   
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                  <th>SIZE</th> 
                    <th>Hand (in)</th>
              </tr>
            </thead>
            <tbody>
                        <tr>
                            <td>3X-Small</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>2X-Small</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>X-Small</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>Small</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>Medium</td>
                            <td>6</td>
                        </tr>
                        <tr>
                            <td>Large</td>
                            <td>7</td>
                        </tr>
            </tbody>
          </table>
         
    </div><!-- Responsive Table --> 
     <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>
             </div>
      </div> 
       


</div> <!-- MensGloves -->
</div>

</div> <!-- SizeChartTab4 -->



</div><!-- tab-content tab-content-ys obs_sizechart -->