<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->

<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">Order Status Request</h3>

<p>Please allow 7-10 business days for your shipment to arrive. If it's been longer than 10 days and you have not received a tracking number from our automated shipping system.</p>

  <p class="text-left">You may also contact our service department <b>800-288-0640 (M-F 10AM - 7PM PST)</b> or <b>Email us at service@motorhelmets.com</b>.</p>
<!-- FORM HERE.....
..
..
..
..
..
 -->

</div>
</div>

