<div class="container" style="margin-top: 50px; max-width: 1400px;width: 100%;margin: auto;">

<style type="text/css">
.leat-slant {
	    position: relative;
	    display: inline-block;
	    padding: 0em 5em 0em 2em;
	    overflow: hidden;
	    color: #fff;
	    font-size: 1.2em;
	}

	.leat-slant:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    background: #9e0000;
	    -webkit-transform-origin: 100% 0;
	    -ms-transform-origin: 100% 0;
	    transform-origin: 100% 0;
	    -webkit-transform: skew(-45deg);
	    -ms-transform: skew(-45deg);
	    transform: skew(-45deg);
	    z-index: -1;
	}

	.wishlist_ul {
		text-align: center;
	}

	.wishlist_ul a {
		margin: 10px 5px;
	}
</style>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/wishlist-banner.jpg?10898251441926500954" alt="Wishlist" title="Wishlist" /><b> </b></p>
<p><img src="https://cdn.shopify.com/s/files/1/1324/9125/files/light-bulb-2-512.jpg?314876428297033462" alt="Wishlist" title="Wishlist" style="max-width: 50px; width: 100%;" /><b>The Wishlist button allows you to "bookmark" or "save" products that you are interested in buying in the future from the website.</b></p>
<center>
<h3>HERE ARE SOME STEPS ON HOW TO USE THE WISHLIST:</h3>
</center>
<div class="wishlist_ul"><a href="#wishlist-1" class="btn btn--ys btn-lg text-uppercase  btn--md" style="color: #fff;"><b>ADD</b></a> <a href="#wishlist-2" class="btn btn--ys btn-lg text-uppercase  btn--md" style="color: #fff;"><b>VIEW</b></a> <a href="#wishlist-3" class="btn btn--ys btn-lg text-uppercase  btn--md" style="color: #fff;"><b>HIDE</b></a> <a href="#wishlist-4" class="btn btn--ys btn-lg text-uppercase  btn--md" style="color: #fff;"><b>SHOW</b></a> <a href="#wishlist-5" class="btn btn--ys btn-lg text-uppercase  btn--md" style="color: #fff;"><b>DELETE</b></a></div>
<div class="divider divider--md"></div>
<div>
<hr style="border-color: #9e0000; margin: 0;" />
<h4 id="wishlist-1" class="leat-slant"><span style="padding: 5px; line-height: 30px;color: #fff;">I. HOW TO ADD ITEM IN WISHLIST?</span></h4>
<p>There are two ways to add products to the Wishlist.</p>
<div class="divider divider--xs"></div>
<p><b><span style="color: #fff; text-transform: uppercase; padding: 5px; background: #ff0000;">1</span> On the Collection page, scroll to the item that you would like to add to your Wishlist. Then click the wishlist icon on the top left.</b></p>
<div class="divider divider--md"></div>
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
<center>
<p style="margin: 0; color: #ff0000;"><b>NORMAL VIEW</b></p>
</center>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-1.jpg?5349456496144996875" alt="Wishlist" title="Wishlist" style="margin: 0 auto;" /></p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<center>
<p style="margin: 0; color: #ff0000;"><b>WHEN HOVER</b></p>
</center>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-2.jpg?4747005560401578192" alt="Wishlist" title="Wishlist" style="margin: 0 auto;" /></p>
</div>
</div>
<div>
<div class="divider divider--md"></div>
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-17.jpg?12637898832794323594" alt="Wishlist" title="Wishlist" style="margin: 0 auto; border: 2px solid black;" /></p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<div>
<p><b>A dialog box will appear after you've successfully added an item to the Wishlist.</b></p>
<p style="margin: 0;"><b style="color: #ff0000;">NOTE:</b></p>
<p>*Your wish list is temporary to this session and not permanently saved</p>
</div>
<div class="divider divider--xs"></div>
<div>
<p style="margin: 0;"><b style="color: #fff; background: #000; padding: 5px;">CONTINUE SHOPPING</b></p>
<p>Click the Continue Shopping button to resume browsing the website.</p>
</div>
<div class="divider divider--xs"></div>
<div>
<p style="margin: 0;"><b style="color: #fff; background: #000; padding: 5px;">GO TO WISHLIST</b></p>
<p>Click the Go To Wishlist button to view all the products you've added to your <a href="https://motorhelmets.com/pages/wishlist"><u style="color: #ff0000;"><b>wishlist</b></u></a>.</p>
</div>
</div>
</div>
</div>
<hr style="border-top: dotted 2px; color: #afaaaa;" />
<div>
<p><b><span style="color: #fff; text-transform: uppercase; padding: 5px; background: #ff0000;">2</span> You can also add products to the Wishlist from the Product Page. <br />Scroll down to the buttom right of the page, then click on the heart icon.</b></p>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-3.jpg?10545941131224390989" alt="Wishlist" style="margin: 0 auto;" /></p>
<p><img class="img-responsive hidden-lg hidden-md" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-9.jpg?6366204988548048180" alt="Wishlist" style="margin: 0 auto; border: 1px solid #c7c5c5;" /></p>
<div class="col-sm-6 col-md-6 col-lg-6">
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-17.jpg?12637898832794323594" alt="Wishlist" title="Wishlist" style="margin: 0 auto; border: 2px solid black;" /></p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<div>
<p><b>A dialog box will appear after you've successfully added an item to the Wishlist.</b></p>
<div>
<p style="margin: 0;"><b style="color: #ff0000;">NOTE:</b></p>
<p>*Your wish list is temporary to this session and not permanently saved</p>
</div>
<div class="divider divider--xs"></div>
<div>
<p style="margin: 0;"><b style="color: #fff; background: #000; padding: 5px;">CONTINUE SHOPPING</b></p>
<p>Click the Continue Shopping button to resume browsing the website.</p>
</div>
<div class="divider divider--xs"></div>
<div>
<p style="margin: 0;"><b style="color: #fff; background: #000; padding: 5px;">GO TO WISHLIST</b></p>
<p>Click the Go To Wishlist button to view all the products you've added to your <a href="https://motorhelmets.com/pages/wishlist"><u style="color: #ff0000;"><b>wishlist</b></u></a>.</p>
</div>
</div>
</div>
</div>
</div>
<div class="divider divider--md"></div>
<div>
<hr style="border-color: #9e0000; margin: 0;" />
<h4 id="wishlist-2" class="leat-slant"><span style="padding: 5px; line-height: 30px;color: #fff;">II. HOW TO VIEW ITEM IN WISHLIST?</span></h4>
</div>
<p>There are three ways to view products to the Wishlist Page.</p>
<div class="divider divider--xs"></div>
<p><b><span style="color: #fff; text-transform: uppercase; padding: 5px; background: #ff0000;">1</span> At the top of the page, wishlist counter will display once you've selected item for wishlist.</b></p>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-4.jpg?10692841539150735805" alt="Wishlist" title="Wishlist" style="margin: 0 auto;" /></p>
<div class="divider divider--md"></div>
<div class="row">
<div class="col-sm-6 col-md-5 col-lg-5">
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-5.jpg?8606926773163719419" alt="Wishlist" title="Wishlist" style="margin: 0 auto; border: 1px solid #c5c5c5;" /></p>
</div>
<div class="col-sm-6 col-md-7 col-lg-7">
<div>
<p style="font-weight: bold !important;"><img src="https://cdn.shopify.com/s/files/1/1324/9125/files/wishlist-img-9.jpg?15752867854952850983" alt="Delete Item" width="50" height="50" align="middle" /><a href="/pages/motorhelmets-in-store-financing-available" style="color: #000 !important;">Delete Icon</a></p>
<p>If you want to delete wishlist item, click this delete icon.</p>
</div>
<div class="divider divider--md"></div>
<div>
<p style="font-weight: bold !important;"><img src="https://cdn.shopify.com/s/files/1/1324/9125/files/wishlist-img-10.jpg?15752867854952850983" alt="Quick View" width="50" height="50" align="middle" /><a href="/pages/motorhelmets-in-store-financing-available" style="color: #000 !important;"> Quick View Icon</a></p>
<p>If you want to quick view item, click this quick view icon and preview box will appear.</p>
</div>
</div>
</div>
<hr style="border-top: dotted 2px; color: #afaaaa;" />
<p><b><span style="color: #fff; text-transform: uppercase; padding: 5px; background: #ff0000;">2</span> Directly click wishlist icon to view all the products you've added to your <a href="https://motorhelmets.com/pages/wishlist"><u style="color: #ff0000;">wishlist</u></a></b></p>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-6.jpg?18065490305627080315" alt="Wishlist" title="Wishlist" /></p>
<div>
<h4><span style="color: #fff; background: #000; padding: 5px; line-height: 30px;">YOUR WISHLIST PAGE</span></h4>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-7.jpg?7232486752758390574" alt="Wishlist" style="margin: 0 auto;" /></p>
</div>
<hr style="border-top: dotted 2px; color: #afaaaa;" />
<p><b><span style="color: #fff; text-transform: uppercase; padding: 5px; background: #ff0000;">3</span> In the Collection page or product page, you can click again wishlist icon to view all the products you've added to your <a href="https://motorhelmets.com/pages/wishlist"><u style="color: #ff0000;">wishlist</u></a>.</b></p>
<div class="row">
<div class="col-sm-6 col-md-6 col-lg-6">
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-8.jpg?6366204988548048180" alt="Wishlist" style="margin: 0 auto;" /></p>
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-9.jpg?6366204988548048180" alt="Wishlist" style="margin: 0 auto; border: 1px solid #c7c5c5;" /></p>
</div>
</div>
<hr style="border-top: dotted 2px; color: #afaaaa;" />
<div>
<h4><span style="color: #fff; background: #000; padding: 5px; line-height: 30px;">YOUR WISHLIST PAGE</span></h4>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-7.jpg?7232486752758390574" alt="Wishlist" style="margin: 0 auto;" /></p>
</div>
<div class="divider divider--md"></div>
<div>
<hr style="border-color: #9e0000; margin: 0;" />
<h4 id="wishlist-3" class="leat-slant"><span style="padding: 5px; line-height: 30px;color: #fff;">III. HOW TO HIDE WISHLIST COUNTER?</span></h4>
</div>
<p>To hide wishlist counter what you need to do is to click this (<img src="https://cdn.shopify.com/s/files/1/1324/9125/files/wishlist-img-15.jpg?9353188153772841621" alt="wishlist icon" title="wishlist icon" />) icon at the top right beside wishlist icon.</p>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-10.jpg?4812569959037920913" alt="Wishlist" /></p>
<hr style="border-top: dotted 2px; color: #afaaaa;" />
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-11.jpg?2906070519703627350" alt="Wishlist" /></p>
<div class="divider divider--md"></div>
<div>
<hr style="border-color: #9e0000; margin: 0;" />
<h4 id="wishlist-4" class="leat-slant"><span style="padding: 5px; line-height: 30px;color: #fff;">IV. HOW TO SHOW WISHLIST COUNTER?</span></h4>
</div>
<p>To show or view wishlist counter what you need to do is to click this (<img src="https://cdn.shopify.com/s/files/1/1324/9125/files/wishlist-img-15.jpg?9353188153772841621" alt="wishlist icon" title="wishlist icon" />) icon at the top right beside wishlist icon.</p>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-12.jpg?2833374014193998567" alt="Wishlist" /></p>
<hr style="border-top: dotted 2px; color: #afaaaa;" />
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-13.jpg?13465837305965328302" alt="Wishlist" /></p>
<div>
<hr style="border-color: #9e0000; margin: 0;" />
<h4 id="wishlist-5" class="leat-slant"><span style="padding: 5px; line-height: 30px;color: #fff;">V. HOW TO DELETE WISHLIST ITEMS?</span></h4>
</div>
<p>There are two ways to delete products to the Wishlist.</p>
<p><b><span style="color: #fff; text-transform: uppercase; padding: 5px; background: #ff0000;">1</span> To delete item in wishlist you just need to click delete icon when you hover the item you want to delete.</b></p>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-14.jpg?16456224562864827833" alt="Wishlist" /></p>
<hr style="border-top: dotted 2px; color: #afaaaa;" />
<p><b><span style="color: #fff; text-transform: uppercase; padding: 5px; background: #ff0000;">2</span> You can also delete item when you are in <a href="/pages/wishlist" style="color: #ff0000;">wishlist</a> page.</b></p>
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-15.jpg?813923862199260743" alt="Wishlist" /></p>
<hr style="border-top: dotted 2px; color: #afaaaa;" />
<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/wishlist-img-16.jpg?12174978460544209010" alt="Wishlist" style="margin: 0 auto;" /></p>
  
</div>