<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->

<h3 class="text-center title-under uppercase_txt home_title">Fox Clothing Information Page</h3>
<hr class="hr-lg" />

<h4 class="color font30">Fox Racing Clothing</h4>

<hr class="hr-sm" />

<p>Fox Racing offers a full line of sportswear, including shorts, T-shirts, fleece, hats, jeans, sweaters, sweatshirts through finer motocross, bike, and sportswear retailers worldwide.</p>
</div>
</div>