<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->

<h3 class="text-center title-under uppercase_txt home_title">DOT Helmet Information Page</h3>
<hr class="hr-lg" />

<p>Helmet Standards Organizations 
There are two organizations setting safety standards for motorcycle helmets in the United States, the Department of Transportation (DOT) and the Snell Memorial Foundation (SMF).  </p>
<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->
<h4 class="color font30">DOT Helmet Standard</h4>

<hr class="hr-sm" />
<p>The US Department of Transportation (DOT), National Highway Traffic Safety Administration (NHTSA), announced in 1972, a draft motorcycle helmet standard. The Federal Motor Vehicle Safety Standard 218 (FMVSS 218), which is commonly referred to as the "DOT" standard. The FMVSS 218 draft was taken almost directly from the 1971 American National Standards Institute (ANSI) standard Z90.1. The original NHTSA plan included a major revision in 1974, just prior to the standard going into effect. </p>

<p>ANSI revised the Z90.1 standard in 1973. The criteria from the earlier standard was developed using older methodology. ANSI felt the 1971 standard was too difficult and added complexity that would not necessarily lead to better helmets. NHTSA on the other hand, continued with the original 1971 ANSI criteria. Unfortunately, the planned 1974 revision to the FMVSS 218 standard was not made. In 1974, FMVSS 218 went into effect essentially unchanged from the original draft. </p>

<p>Beginning in 1974, motorcycle helmets were required to meet the minimum requirements established by FMVSS 218, the standard detailed guidelines and test criteria a helmet must pass to receive a "DOT" approval. Over the years, slight changes have been made to FMVSS 218. However, 28 years later the standard remains essentially unchanged from its original draft form. Currently NHTSA has studies underway to evaluate and consider changes to FMVSS 218. </p>
<!-- / -->
<p>DOT Approved Helmets 
How can you tell a helmet is DOT approved? Typically a sticker on the rear of the helmet with the letters "DOT". </p>


<p>How does the DOT monitor compliance with FMVSS 218? Would you be surprised to learn it's based on the honor system? Yes, you read that correct. The government relies on the manufacturer's word that the helmet was tested and passed! </p>


<p>Does the government do any testing? Yes, they do very, very limited testing of helmets. How limited? In 2001, they tested 40 helmets. Under the honor system, we shouldn't have to test any helmets. </p>

<p>What if a helmet fails? They publish the data and rely on the manufacturer to bring the product into compliance. In 2001, 20% of the tested helmets failed the performance tests. Helmets manufactured by AFX, Fulmer, HJC, M2R, NEXL and THH. At a 20% failure rate, do you think there are others out there that might fail the performance test? </p>

<p>DOT FMVSS 218 Standard Summary: Developed 28 year ago. Very, very limited testing. Based on the honor system. </p>




<div class="divider divider--sm"></div>
<!--  -->


<h4 class="color font30">Snell Memorial Foundation</h4>

<hr class="hr-sm" />
<p>The foundation is named after William "Pete" Snell, a race car driver that died in 1956 of massive head injuries sustained in a racing accident. His friends and associates formed the Snell Memorial Foundation (SMF) in 1957, a not-for-profit organization. The foundation's goals were to investigate & understand the mechanisms of head injuries in automotive sports and to encourage the development of truly protective helmets. 
</p>
<p>Today, the SMF tests various kinds of helmets and certifies them for use in prescribed activities. It currently publishes standards for protective headgear for use in automotive racing, karting, motorcycling, bicycling, non-motorized sports, harness racing and equestrian sports, competitive skiing and snowboarding. The Foundation is interested in just about every kind of headgear worn to protect against crash impact injury. </p>
<p>Snell Approval Process 
Helmet manufacturers submit their products for certification. If their helmets pass the demanding series of performance tests, the manufacturers are invited to enter into a contract with the SMF. The contract entitles the manufacturer to use the Snell name and logo on their packaging and in their advertising. The manufacturer also purchases certification decals for use on their certified products. </p>
<p>Under the contract with the SMF, the manufacturer is required to maintain their high standards for all of their certified production. Verification is achieved through a random sample test program. In this program, the SMF acquires helmets and tests them to certify the continuing quality of the products. The SMF takes pains to see that these random sample helmets are drawn from the same supply as those sold in stores; thus they are able to monitor the quality of the helmets sold directly to the consumer. </p>
<!-- / -->
<p>The SMF maintains a state of the art testing facility in the US and England. </p>
<p>Snell Standard Summary: Updated every 5 years. Current standard 2000. Extensive testing and research. Verification through continuous random testing. </p>
<div class="divider divider--sm"></div>
<!--  -->

<h4 class="color font30">DOT vs. SNELL - Testing</h4>

<hr class="hr-sm" />
<p>(Comparing Helmet Standards) 
Both Snell and DOT position a helmet on a test head form & then drop that helmeted head form onto fixed steel anvil. Impact severity is a matter of head mass and drop height, the higher the fall or the heavier the head form, the more severe the impact. </p>
<p>Each test helmet is impacted on at least four different sites against either a flat or hemispherical shaped anvil. The difference between DOT and Snell tests are impact severity and impact criteria. Snell requires helmets withstand substantially larger impacts while transmitting less force than DOT. </p>
<p>Unfortunately, it’s not the fall that does the damage, it’s the sudden stop. Both Snell and DOT measure the suddenness of the stop with an accelerometer fixed inside the headform. When the helmet smacks into the anvil, the accelerometer measures the headform deceleration throughout the duration of the impact event. This acceleration pulse is generally plotted as G’s versus milliseconds. The testers analyze the acceleration pulse to determine whether the helmet passed or failed the test. Snell and DOT use different methods to analyze the results. </p>
<p>Snell limits the peak value to no more than 300 G’s. Dr. George Snively, one of Snell’s founders, had determined on the basis of his own research that young adult men could survive head crash impact accelerations at levels between 400 to 600 G’s. He selected test criteria on the order of 300 G’s for the Snell standards as acceleration levels that would be safe for almost all healthy people. </p>
<p>The DOT Standard requires that the peak acceleration not exceed 400 G’s but they also put duration limits on the acceleration pulse. The period of time for which the pulse exceeds 200 G’s must not be longer than 2 milliseconds. The period of time for which the pulse exceeds 150 G’s must not be longer than 4 milliseconds. Duration criteria was taken from the 1971 ANSI Z90.1 standard. This criteria was dropped by ANSI in 1973 prior to the DOT standard going into effect.</p>
<p>DOT vs. Snell - Verification 
To receive the Snell certification, a manufacturer must submit five helmets of a particular style. Of them, four are destroyed in testing and one is retained as a reference. If the helmet passes and the manufacturer enters into a contract, the helmet is certified. Then the SMF regularly buys samples of the helmet to test for continued compliance with the standard. 
</p>
<p>The DOT certification is done on the honor system. The helmet manufacturer determines whether their helmets satisfy DOT requirements and then claim the qualification for themselves. There is no reporting or proof of testing required. The government does conduct very, very limited spot checks at commercial and private labs. </p>
<p>DOT vs. Snell (Bottom Line) 
The DOT standard is by no means a bad standard, Snell is simply better. Snell uses harder impacts while requiring lower forces to the rider. Bottom line, a Snell certified helmet exceeds the DOT standard. </p>
<p>Almost every day we are reminded in the news that a corporation was less than truthful. Why would helmets manufacturers be any different? The DOT standard relies 100% on the integrity of the manufacturer. The Snell standard uses continuous random sampling. </p>
<p>If you want to be sure that your helmet meets the DOT standard, get a Snell certified helmet. A Snell sticker is your best assurance that the helmet meets both Snell and DOT. Without the Snell certification, it’s a gamble that the helmet meets any standard at all. At BMW of Orlando, we feature both Arai and Shoei Snell certified Full Face and Open Face helmets. </p>
<p>Is It Really a Full Face Helmet? 
BMW pioneered the System Helmet by Schuberth with interchangeable fronts giving the owner maximum flexibility. A single helmet that could change from a Full Face flip front to an Off-Rode or Open Face (3/4). The patent for this design expired in the early 90's and several manufacturers have released their own version of the flip front helmet. </p>

<p>Shoei was one of the early ones to develop a flip front helmet. Their design possessed a unique benefit, it was rated as a true Full Face helmet. Unfortunately, most of the flip front helmets on the market today are rated by the manufacturer as Open Face helmets. If you check, you will learn the front is for cosmetic or aerodynamics purposes only. It does not provide the protection for your face or chin that you get from of a Full Face helmet. </p>
<p>If you normally ride with an Open Face helmet and you buy one of these flip front helmets for cosmetic or aerodynamic purposes, great! On the other hand, if you bought one thinking it was a full face with the added benefit of a flip front... If you thought the price was too good to be true, guess what. There may be some details or fine print someone failed to mention when you bought the helmet. </p>
<p>If you wear riding glasses, you may want the benefit of a flip front helmet. If you want one that is truly rated as a Full Face, check out the Shoei SyncroTec and Schuberth Concept. </p>
<p>Conclusion 
Without objective monitoring, the honor system is prone to serious problems. If you are not convinced, ask anyone you know that owns any Enron stock. When considering your next helmet or evaluating your existing one, consider the facts. If you read this far, you are better prepared to evaluate motorcycle helmets based on safety standards. </p>
<p>As a final note, you should carefully consider helmet fit. All manufacturers and Snell agree that the correct fit is critical for a helmet to perform properly. So much so, that Arai has taken a bold step and eliminated sales other than one-on-one with a qualified salesperson. Protective gear (helmets and riders wear), needs to fit properly for it to perform as designed. Consult your local dealer and let them help you with your needs. </p>
<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->
<h4 class="color font30">DOT FMVSS-218</h4>

<hr class="hr-sm" />
<p>In North America the most common standard is DOT FMVSS-218, which is administered by the U.S. Government and is more commonly referred to as DOT. </p>
<p>This standard is mandatory for every motorcycle helmet sold in the United States or Canada, and consists of a battery of tests to gauge impact protection, the retention system’s ability to keep the helmet firmly attached to the rider during such impacts, and how the helmet’s design affects the rider’s peripheral vision among other considerations. </p>

<div class="divider divider--sm"></div>


<h4 class="color font30">ECE 22.05</h4>

<hr class="hr-sm" />
<p>Used in over 50 countries, the ECE 22.05 standard administered by the Economic Community of Europe is the most common internationally. While similar in many ways to the DOT standard, ECE tests for energy absorption and helmet rigidity at greater impact speeds and requires that a sample from each manufacturing batch be re-tested for compliance. </p>
<p>This is an important difference, for under DOT regulations, a model that passes can essentially be sold forever without being re-tested (assuming no significant revisions are made). </p>

<div class="divider divider--sm"></div>

<h4 class="color font30">SNell M2000</h4>

<hr class="hr-sm" />
<p>This standard is administered by the Snell Memorial Foundation, a private, California-based organization dedicated to helmet research and testing. Candidate helmets are subjected to a battery of tests that gauge retention system strength, positional stability (does the helmet shift dangerously during an impact), and whether they can withstand penetration tests from numerous angles; even chin bars and face shields are impact tested. </p>
<p>Similar to ECE requirements, Snell-approved helmets must be re-tested for compliance on a regular basis.</p>
<div class="divider divider--sm"></div>

</div>
</div>