<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">Order Cancellations</h3>
<h4 class="text-left uppercase_txt">For full disclosure please read our <a class="text_underline text_color_red" href="/pages/ordering-store-policy">Ordering & Store Policy.</a></h4>
<ul>
<li>Cancellations are not guaranteed.</li>
<li>Most orders are processed within 4 - 24 hours.</li>
<li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items.</li>
<li>If your order has already been "processed", then you will be liable for a cancellation fee of $25.</li>
<li>If your order has already been shipped, then you may refuse the package. You will be liable for the actual shipping costs and the cancellation fee. Free shipping deals will be liable for our actual shipping fees.</li>
<li>If you were unable to refuse the package from the freight carrier, then request an <a class="service-links" href="service-return-merchandise-authorization-request.php">RMA number</a> or download it <a class="service-links" target="_blank" href="/web/20150418062205/http://www.aiyagroup.com/general-rma-form.pdf">HERE</a> for instructions.&nbsp;Do not open your box or use the merchandise.&nbsp;This may complicate your return.</li>
<li>You may also call us at 800-288-0640 (M-F 10AM - 7PM PST and SAT 11AM - 5PM PST) or Email us at service@motorhelmets.com to request a cancellation. Reps can take your request but cannot authorize any cancellations.</li>
</ul>
<p>Thank you for your cooperation.</p>
<!-- form here ..
..
..
..
..
..
..
..
..
 -->
</div>
</div>

