<div class="wall-addtl-info">


  <ul class="nav nav-tabs nav-tabs--ys1 nav-justified" id="oakley_tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#lens_info" role="tab" aria-controls="lens_info">PRODUCT TECHNOLOGY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#lens_install_remove" role="tab" aria-controls="lens_install_remove">PRODUCT CARE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#goggle_care" role="tab" aria-controls="goggle_care">PRODUCT GUIDE & SIZE CHART</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="divider divider--lg"></div>
    <!--     TAB 1 -->
    <div class="tab-pane fade active" id="lens_info" role="tabpanel">

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HDO</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p class="bi-content-label"><span>HIGH DEFINITION OPTICS</span> <span style="display: inline-block; vertical-align: middle;"><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/HDO-logo.png?16749701444432504130" alt="Oakley Collection"></span></p>
          <div class="divider divider--md"></div>
          <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/hdo.gif?11937194282532459039" alt="Oakley Collection"></p>
          <div class="divider divider--sm"></div>
          <h3><p>Uncompromised Clarity for Razor Sharp Focus</p></h3>

          <p>Oakley High Definition Optics® (HDO®) lenses optimize safety and performance to meet the uncompromising demands of professional athletes who settle for nothing less than the clearest, sharpest, most accurate vision. It offers truer, more accurate vision versus conventional lenses that magnify images and make objects appear shifted from their true position. With HDO, Oakley lenses meet or exceed the testing standards of the American National Standards Institute (the yardstick of performance for the eyewear industry).</p>
          <p>The Clarity Test measures the sharpness of images viewed through the lens. The Refractive Power Test measures how inferior lenses distort vision by magnifying images, and the Prism Test measures how the lenses bend light and make objects appear shifted from their true position. These tests show how conventional lenses can compromise your vision.</p>

        </div>
      </div>    


      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">POLARIZED</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p class="bi-content-label"><span>HD POLARIZED</span></p>
          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5">
              <div class="">
                <img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-polarized.JPG?14399627121747945276" alt="Oakley Collection">
                <p style="float: left;">Naked Eye</p>
                <p style="float: right;">HD Polarized</p>
                <div class="divider divider--sm"></div> 
              </div>

            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>Glare Protection with Uncompromised Clarity</h4> 
              <p>A headache from glare can ruin your day. Golfers have to deal with the performance-killing distraction of glare from water hazards, bunkers and flat areas. Fishing sessions can be futile when blinding rays bounce off water and hide the keepers. Driving in glare can be risky, and road cyclists know how glare can hide potholes and other dangers. Any skier or snowboarder can tell you how glare distracts, diminishes mental focus and drains energy with tension. We developed HDPolarized lenses for elite athletes but our technology serves everyone. Because glare doesn’t care if you’re a sport champion, weekend warrior or just someone who enjoys the sun.</p>
            </div>
          </div>  
          <hr>
          <p class="bi-content-label"><span>Look Through Less To See More</span></p>

          <div class="row">
            <p>Polarized lenses filter out most glare, but not all polarized lenses are made equally. The best polarized lens is just that – one lens. Oakley HDPolarized Technology eliminates the need for glues and films that distort your vision.</p>
            <div class="col-md-5 col-sm-5 col-lg-5">
              <img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-polarized-1.JPG?7413926237853044893" alt="Oakley Collection" style="margin: 0 auto;"> 
              <h4>TEAM OAKLEY</h4> 
              <p>Our HDPolarized lenses are in a class by themselves. We use a precise infusion molding process to produce one comprehensive, single-layered lens. No glue, no sandwiching, no mustard or mayo. Just the clearest Polarized lens you can find.</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <p style="text-align: center;margin-top: 95px;font-size: 32px;color: #b3b3b3;">VS</p>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5">
              <img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-polarized-2.JPG?7413926237853044893" alt="Oakley Collection" style="margin: 0 auto;">  
              <h4>THE OTHER GUYS</h4> 
              <p>This just in: it’s hard to see through glue. Any glue bonded material layer in a sunglass diminishes clarity and exaggerates distortion. This performance degradation makes it hard to tell whether you’re looking at the road or a really big piece of turkey jerky.</p>
            </div>
          </div>   
          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5">
              <img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-polarized-3.JPG?7413926237853044893" alt="Oakley Collection" style="margin: 0 auto;"> 
              <h4>ON THE SAME PAGE</h4> 
              <p>Both lenses in a single pair of Oakley sunglasses are manufactured at the same time to perfectly align and center the axis of polarization. Doing so prevents unwanted and distractive glare from sneaking through any part of the lens.</p>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
              <p style="text-align: center;margin-top: 95px;font-size: 32px;color: #b3b3b3;">VS</p>
            </div>
            <div class="col-md-5 col-sm-5 col-lg-5">
              <img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-polarized-4.JPG?7413926237853044893" alt="Oakley Collection" style="margin: 0 auto;">  
              <h4>BROKEN TEAM</h4> 
              <p>Competitor lenses are manufactured at different times without precise alignment of the axis of polarization. These mismatched pairs result in compromised glare protection and clarity, putting you at greater risk of eye strain, headaches, and the rear bumper of an F250.</p>
            </div>
          </div>   
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)"> SWITCHLOCK™</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide" style="opacity: 1; display: block;">

          <ul class="nav nav-tabs nav-tabs--ys1 nav-justified" id="oakley_switchlock" role="tablist">
            <li class="nav-item active">
              <a class="nav-link active" data-toggle="tab" href="#radarlock" role="tab" aria-controls="radarlock" aria-expanded="true">Radarlock</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#airbrake" role="tab" aria-controls="airbrake" aria-expanded="false">Airbrake</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#racing_jacket" role="tab" aria-controls="racing_jacket" aria-expanded="false">Racing Jacket</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#style_switch" role="tab" aria-controls="style_switch" aria-expanded="false">Style Switch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#crosslink_switch" role="tab" aria-controls="crosslink_switch" aria-expanded="false">Crosslink Switch</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#fast_jacket" role="tab" aria-controls="fast_jacket" aria-expanded="false">Fast Jacket</a>
            </li>
          </ul>
          <div class="divider divider--md"></div> 
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="tab-content switchlock">

                <div class="tab-pane fade active in" id="radarlock" role="tabpanel">
                  <h4>Radarlock™</h4>
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/radarlock_ms_final_seq_01_00001.jpg?16015266416432290293" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/radarlock_ms_final_seq_01_00006.jpg?16015266416432290293" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/radarlock_ms_final_seq_01_00012.jpg?16015266416432290293" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/radarlock_ms_final_seq_01_00018.jpg?16015266416432290293" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/radarlock_ms_final_seq_01_00024.jpg?16015266416432290293" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/radarlock_ms_final_seq_01_00029.jpg?16015266416432290293" style="width: 100%;">
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="airbrake" role="tabpanel">
                  <h4>Airbrake™</h4>
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/airbrake_halfway_ms_final_seq_01_00001.jpg?15851097621963853692" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/airbrake_halfway_ms_final_seq_01_00006.jpg?15851097621963853692" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/airbrake_halfway_ms_final_seq_01_00012.jpg?15851097621963853692" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/airbrake_halfway_ms_final_seq_01_00018.jpg?15851097621963853692" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/airbrake_halfway_ms_final_seq_01_00024.jpg?15851097621963853692" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/airbrake_halfway_ms_final_seq_01_00029.jpg?15851097621963853692" style="width: 100%;">
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="racing_jacket" role="tabpanel">
                  <h4>Racing Jacket™</h4>
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/racingjacket_ms_final_seq_01_00001.jpg?4642235575732413061" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/racingjacket_ms_final_seq_01_00006.jpg?4642235575732413061" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/racingjacket_ms_final_seq_01_00012.jpg?4642235575732413061" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/racingjacket_ms_final_seq_01_00018.jpg?4642235575732413061" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/racingjacket_ms_final_seq_01_00024.jpg?4642235575732413061" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/racingjacket_ms_final_seq_01_00029.jpg?4642235575732413061" style="width: 100%;">
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="style_switch" role="tabpanel">
                  <h4>Style Switch™</h4>
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/styleswitch_ms_final_seq_01_00001.jpg?11056085623620550473" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/styleswitch_ms_final_seq_01_00006.jpg?11056085623620550473" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/styleswitch_ms_final_seq_01_00012.jpg?11056085623620550473" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/styleswitch_ms_final_seq_01_00018.jpg?11056085623620550473" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/styleswitch_ms_final_seq_01_00024.jpg?11056085623620550473" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/styleswitch_ms_final_seq_01_00029.jpg?11056085623620550473" style="width: 100%;">
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="crosslink_switch" role="tabpanel">
                  <h4>Crosslink Switch™</h4>
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/crosslink_ms_final_seq_01_00001.jpg?18051762187023568644" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/crosslink_ms_final_seq_01_00006.jpg?18051762187023568644" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/crosslink_ms_final_seq_01_00012.jpg?18051762187023568644" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/crosslink_ms_final_seq_01_00018.jpg?18051762187023568644" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/crosslink_ms_final_seq_01_00024.jpg?18051762187023568644" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/crosslink_ms_final_seq_01_00029.jpg?18051762187023568644" style="width: 100%;">
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="fast_jacket" role="tabpanel">
                  <h4>Fast Jacket™</h4>
                  <div class="row">
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/fastjacket_ms_final_seq_01_00001.jpg?12505648235773521069" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/fastjacket_ms_final_seq_01_00006.jpg?12505648235773521069" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/fastjacket_ms_final_seq_01_00012.jpg?12505648235773521069" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/fastjacket_ms_final_seq_01_00018.jpg?12505648235773521069" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/fastjacket_ms_final_seq_01_00024.jpg?12505648235773521069" style="width: 100%;">
                    </div>
                    <div class="col-sm-4">
                      <img src="https://cdn.shopify.com/s/files/1/1299/2659/files/fastjacket_ms_final_seq_01_00029.jpg?12505648235773521069" style="width: 100%;">
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>


      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">IMPACT PROTECTION</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="divider divider--md"></div> 
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
              <h4>HIGH MASS</h4> 
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/impact-protection-1.JPG?10000096715479840504" alt="Oakley Collection" style="margin: 0 auto;"></p>

            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
              <h4>HIGH VELOCITY</h4> 
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/impact-protection-2.JPG?10000096715479840504" alt="Oakley Collection" style="margin: 0 auto;"></p>
            </div> 
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <h4>This Level of Testing is Absolutely Unnecessary</h4> 
              <p>Oakley lenses are tested under extreme circumstances to guarantee uncompromising protection against high-mass and high-velocity impact that no other lens offers. We go beyond in precision, dedication and creativity to serve world-class athletes and progressive lifestyle consumers. Our products and technologies don’t just provide unmatched performance and quality, they completely redefine the category.</p> 

              <span>Part of the secret is Plutonite®, our durable and optically pure lens material. Within our spirit of performance and innovation, we continue to deliver the best performance products on the planet. Impact protection beyond what's necessary. We consider it mandatory.</span>
            </div> 
          </div> 
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">LENS TINTS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="divider divider--md"></div> 
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/lens-tints.JPG?11503405326375971511" alt="Oakley Collection" style="margin: 0 auto;"></p>
            </div> 
            <div class="col-md-6 col-sm-6 col-lg-6">
              <h4>Sunglasses Are Now Essential Equipment</h4> 
              <p>Conventional lenses are all about blocking the sun, making you see less. Oakley lenses help you see more — more detail, more depth and more definition. We achieve it by optimizing lenses for specific environments, and that’s why sunglasses are no longer considered generic accessories. The Oakley Performance Lens Tints are another piece of essential equipment, a critical necessity for sport.</p>
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/lens-tints-1.JPG?7988385227802193445" alt="Oakley Collection"> <span>BLACK IRIDIUM®</span></p>
              <span>Ideal for bright sun, this HDPolarized® lens blocks 99% of reflected glare. The Iridium® lens coating balances light transmission to help you maintain color recognition, and the Plutonite® lens material inherently filters out 100% of all UV.</span>
            </div> 
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">UV PROTECTION</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="divider divider--md"></div> 
          <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/uv-proctection.gif?6790561466064331006" alt="Oakley Collection" ></p>
            </div> 
            <div class="col-md-6 col-sm-6 col-lg-6">
              <h4>You Can Be Blinded By What You Can’t See</h4> 
              <p>An invisible form of radiation, UV rays pelt your retinas at 186,000 miles per second. Eye damage linked to UV includes cataract, photokeratitis and pterygium. UV damage builds up over time. You generally don’t feel UV rays, so there is no natural warning that damage is being done. And although clouds reduce the level of UV reaching your eyes, clouds don’t block UV completely — which means your eyes can be exposed to UV rays even on overcast days.</p>
              <h4>Thermonuclear Protection</h4> 
              <span>Oakley Plutonite® lens material stops every wavelength of ultraviolet radiation from the sun‘s thermonuclear furnace, not just the lower energy form called “UVA.” Even our clear lenses filter out 100% of all UV. The image at the left shows how harmful rays are blocked while the visible spectrum passes through.</span>
            </div> 
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SPORT SPECIFIC</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="divider divider--md"></div> 
          <div class="row">
            <div class="col-md-4 col-sm-4 col-lg-4">
              <h4>FISHING</h4> 
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sport-specific.JPG?17427066037724713056" alt="Oakley Collection" ></p>
            </div> 
            <div class="col-md-4 col-sm-4 col-lg-4">
              <h4>GOLF</h4> 
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sport-specific-1.JPG?17427066037724713056" alt="Oakley Collection" ></p>
            </div> 
            <div class="col-md-4 col-sm-4 col-lg-4">
              <h4>CYCLING</h4> 
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sport-specific-2.JPG?17427066037724713056" alt="Oakley Collection" ></p>
            </div> 
          </div>
          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <h3>OAKLEY TRUE DIGITAL SPORT SPECIFIC</h3>
              <h4>Progressive Prescription Sun Lenses Optimized for Sport</h4> 
              <p>Progressive lenses help you focus on objects near and far, and each sport has its own unique requirements for the near, mid and far zones of focus. Custom engineered for specific activities, OTD Sport Specific progressive lenses optimize performance in each zone of focus to give you the best possible vision for golf, cycling and fishing.</p>
            </div> 
          </div> 
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">OTD II</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="divider divider--md"></div> 

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/otd.JPG?15052893232365351087" alt="Oakley Collection" style="margin: 0 auto;"></p>
            </div> 
            <div class="col-md-6 col-sm-6 col-lg-6">
              <h3>OAKLEY TRUE DIGITAL II</h3>
              <h4>Take the Limits Off Your Prescription</h4> 
              <p>If you’ve been told your prescription is “out of range” for the sunglasses you want, check out OTD Edge™. This technology expands the prescription range for Oakley high-wrap sunglasses up to +4.00 to -6.00, so you can enjoy benefits you expect from Oakley sunglasses, like extended peripheral vision and improved side protection.</p>
            </div>

          </div> 
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HYDROFREE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="divider divider--md"></div> 

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/hydrogree.JPG?17058905151547746540" alt="Oakley Collection" style="margin: 0 auto;"></p>
            </div> 
            <div class="col-md-6 col-sm-6 col-lg-6">
              <h3>OAKLEY TRUE DIGITAL II</h3>
              <h4>Revolutionary Quick-Dry, Water Repellant Technology</h4> 
              <p>If you’ve been told your prescription is “out of range” for the sunglasses you want, check out OTD Edge™. This technology expands the prescription range for Oakley high-wrap sunglasses up to +4.00 to -6.00, so you can enjoy benefits you expect from Oakley sunglasses, like extended peripheral vision and improved side protection.</p>
            </div>

          </div> 
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">OHYDROLIX</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="divider divider--md"></div> 

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/hydrogree-1.JPG?17058905151547746540" alt="Oakley Collection" style="margin: 0 auto;"></p>
            </div> 
            <div class="col-md-6 col-sm-6 col-lg-6">
              <h3>The Ultimate Moisture Management System</h3>
              <h4>Revolutionary Quick-Dry, Water Repellant Technology</h4> 
              <p>If you’ve been told your prescription is “out of range” for the sunglasses you want, check out OTD Edge™. This technology expands the prescription range for Oakley high-wrap sunglasses up to +4.00 to -6.00, so you can enjoy benefits you expect from Oakley sunglasses, like extended peripheral vision and improved side protection.</p>
            </div>

          </div> 
        </div>
      </div>



    </div>

    <!--     TAB 2 -->
    <div class="tab-pane fade" id="lens_install_remove" role="tabpanel">
      <div class="brand-info-header">
        <h3>Lens Installation and Removal</h3>
      </div>
      <p class="subhead">WARNING! LENSES MAY BE INSERTED ONLY IN SPECIFIED MODELS AND PURSUANT TO THE FOLLOWING INSTRUCTIONS. FAILURE TO COMPLY WILL ADVERSELY AFFECT THE OPTICAL 
        PERFORMANCE AND THE LENSES MAY NOT REMAIN IN PLACE, CAUSING INTERFERENCES WITH 
        VISION.</p>
      <hr style=" border-color: #a8a8a8; margin-bottom: 2px;">
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">FAST JACKET LENS CHANGING INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>FastJacketTM sunglasses were built with Switchlock Technology™ , meaning changing lenses to suit your environment is as easy as flipping a switch. Here's how:</p>

          <div class="content-steps">
            <h5>Lens Removal</h5>
            <ul>
              <li> Locate the switch near the left temple on your sunglasses.</li>
              <li> With your thumb, gently push the switch down.</li>
              <li> Take the lens between your thumb and index finger and gently slide it out, starting with the side closest to the switch.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Lens_Removal_2048x2048.jpg?15137010854151000155" alt="Lens Removal Locate the switch near the left temple on your sunglasses. With your thumb, gently push the switch down. Take the lens between your thumb and index finger and gently slide it out, starting with the side closest to the switch." style="width: 100%; max-width: 856px; height: auto;"></p>
          </div>
          <div class="content-steps">
            <h5>Lens Installation</h5>
            <ul>
              <li>Select a different lens and slide it into the lens slot, starting with the side closest to the nose.</li>
              <li>When the lens is in place, push the switch back to its upward, locked position.</li>
              <li>Repeat the same process with the right side.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Lens_Installation_2048x2048.jpg?5290100488625600945" alt="Lens Installation Select a different lens and slide it into the lens slot, starting with the side closest to the nose. When the lens is in place, push the switch back to its upward, locked position. Repeat the same process with the right side." style="width: 100%; max-width: 589px; height: auto;"></p>
          </div>

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">FLAK JACKET LENS CHANGING INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

          <div class="content-steps">
            <h5>Lens Removal</h5>
            <ul>
              <li> Place index finger of one hand into nose bridge and place thumb, of same hand, on top of frame as shown; while holding lens with other hand.</li>
              <li> Flex nose bridge with index finger towards you while pushing top of the frame down with thumb as shown.</li>
              <li> With opposite hand, pull lens out of groove.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Flak_Jacket_Lens_Changing_Instructions_2048x2048.jpg?16321498902896846598" alt="FLAK JACKET LENS CHANGING INSTRUCTIONS Lens Removal 1. Place index finger of one hand into nose bridge and place thumb, of same hand, on top of frame as shown; while holding lens with other hand. 2. Flex nose bridge with index finger towards you while pushing top of the frame down with thumb as shown. 3. With opposite hand, pull lens out of groove." style="width: 100%; max-width: 583px; height: auto;"></p>
          </div>
          <div class="content-steps">
            <h5>Lens Installation</h5>
            <ul>
              <li> Hold frame and lens as shown and slide outer lens tab into frame.</li>
              <li> Align inner lens tab in frame groove and slide lens gently up into lens groove.</li>
              <li> Hold lens firmly and slide the thumb of opposite hand along top of frame until inner lens tab snaps firmly into place.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Lens_Installation3_2048x2048.jpg?7215123349470919315" alt="Lens Installation Grip the frame and lens. Fit the outer lens tab. Align the inner lens tab with the groove in the nose bridge. Holding the lens firmly, slide your thumb across the top of the frame until the inner lens tab snaps into the groove in the nose bridge." style="width: 100%; max-width: 862px; height: auto;"></p>
          </div>

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HALF JACKET LENS CHANGING INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

          <div class="content-steps">
            <h5>Lens Removal</h5>
            <ul>
              <li> Grip the frame temple with one hand and the lens with the other.</li>
              <li> Pull the lens tab out of the frame temple. Remove the lens.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Half_Jacket_Lens_Changing_Instructions_2048x2048.jpg?8235553010931170533" alt="HALF JACKET LENS CHANGING INSTRUCTIONS Lens Removal 1. Grip the frame temple with one hand and the lens with the other. 2. Pull the lens tab out of the frame temple. Remove the lens." style="width: 100%; max-width: 574px; height: auto;"></p>
          </div>
          <div class="content-steps">
            <h5>Lens Installation</h5>
            <ul>
              <li> Grip the frame and lens. Fit the outer lens tab.</li>
              <li> Align the inner lens tab with the groove in the nose bridge.</li>
              <li> Holding the lens firmly, slide your thumb across the top of the frame until the inner lens tab snaps into the groove in the nose bridge.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Lens_Installation3_2048x2048.jpg?7215123349470919315" alt="Lens Installation Grip the frame and lens. Fit the outer lens tab. Align the inner lens tab with the groove in the nose bridge. Holding the lens firmly, slide your thumb across the top of the frame until the inner lens tab snaps into the groove in the nose bridge." style="width: 100%; max-width: 862px; height: auto;"></p>
          </div>

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">RACING JACKET &amp; SPLIT JACKET™ LENS CHANGING INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

          <div class="content-steps">
            <h5>Lens Removal</h5>
            <span> Replace one lens at a time.</span>
            <ul>
              <li> Grasp the nose pad near the bottom.</li>
              <li> Rotate the nose pad up.</li>
              <li> Grasp the lower jaw and rotate it down.</li>
              <li> Remove the lens.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Racing_Jacket_and_Split_Jacket_Lens_Changing_Instructions_2048x2048.jpg?5633481692639156033" alt="RACING JACKET &amp; SPLIT JACKET™ LENS CHANGING INSTRUCTIONS Lens Removal Replace one lens at a time. 1. Grasp the nose pad near the bottom. 2. Rotate the nose pad up. 3. Grasp the lower jaw and rotate it down. 4. Remove the lens." style="width: 100%; max-width: 571px; height: auto;"></p>
          </div>
          <div class="content-steps">
            <h5>Lens Installation</h5>
            <ul>
              <li> Insert the replacement lens.</li>
              <li> Close the jaw. Rotate the nose pad down and snap it into the locked position.</li>
            </ul>
          </div>

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">M2, M FRAME &amp; PRO M FRAME LENS REMOVAL INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="content-steps">
            <ul>
              <li> Holding the center of the frame, pull the lens out from the middle.</li>
              <li> Squeezing the center of the frame, pop up one corner of the frame and lift it away from the lens.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_M2_M_Frame_Pro_M_Frame_Lens_Removal_Instructions_2048x2048.jpg?15175075164375810598" alt="M2, M FRAME &amp; PRO M FRAME LENS REMOVAL INSTRUCTIONS 1. Holding the center of the frame, pull the lens out from the middle. 2. Squeezing the center of the frame, pop up one corner of the frame and lift it away from the lens." style="width: 100%; max-width: 862px; height: auto;"></p>
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">O ROKR PRO LENS REMOVAL INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="content-steps">
            <ul>
              <li> Grip the frame temple with one hand and the lens with the other.</li>
              <li> Pull the lens tab out of the frame temple. Remove the lens.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">RADAR LENS REMOVAL INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="content-steps">
            <ul>
              <li> With two fingers carefully pinch the two nose bridge tabs inward.</li>
              <li> Then push the nose bridge towards top of sunglasses until lens releases from top. </li>
              <li> Then pull lens down and out.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Radar_Lens_Removal_Instructions_2048x2048.jpg?17788575808732665669" alt="RADAR LENS REMOVAL INSTRUCTIONS With two fingers carefully pinch the two nose bridge tabs inward. Then push the nose bridge towards top of sunglasses until lens releases from top. Then pull lens down and out." style="width: 100%; max-width: 873px; height: auto;"></p>
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">RADAR LOCK LENS REMOVAL INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="content-steps">
            <h5>Lens Removal</h5>
            <ul>
              <li> Locate lock latch on the inside surface of the left temple.</li>
              <li> With index finger and thumb, hold lock and door.</li>
              <li> Push lock and rotate door away from the lens (shown with arrows).</li>
              <li> Rotate temple and door as you're pushing the lock.</li>
              <li> Push nose bridge inwards to release bottom part of lens.</li>
              <li> Rotate lens towards the bottom to fully release lens.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Radar_Lock_Lens_Removal_Instructions_2048x2048.jpg?400797104517531749" alt="RADAR LOCK LENS REMOVAL INSTRUCTIONS Lens Removal 1. Locate lock latch on the inside surface of the left temple. 2. With index finger and thumb, hold lock and door. 3. Push lock and rotate door away from the lens (shown with arrows). 4. Rotate temple and door as you're pushing the lock. 5. Push nose bridge inwards to release bottom part of lens. 6. Rotate lens towards the bottom to fully release lens" style="width: 100%; max-width: 889px; height: auto;"></p>
          </div>
          <div class="content-steps">
            <h5>Lens Installation</h5>
            <ul>
              <li> Insert top corner of lens in the lens groove corner (shown with arrows).</li>
              <li> Rotate lens and position it fully on the lens groove.</li>
              <li> Push nose bridge onto lens towards the outside.</li>
              <li> Rotate door closed.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Lens_Installation_2_2048x2048.jpg?9554360581002699456" alt="Lens Installation Insert top corner of lens in the lens groove corner (shown with arrows). Rotate lens and position it fully on the lens groove. Push nose bridge onto lens towards the outside. Rotate door closed" style="width: 100%; max-width: 884px; height: auto;"></p>
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">STYLESWITCH LENS REMOVAL INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>STYLESWITCHTM sunglasses were built with Switchlock Technology™, meaning changing lenses to suit your environment is as easy as flipping a switch. Here's how:</p>
          <div class="content-steps">
            <h5>Lens Removal</h5>
            <ul>
              <li> Locate the switch on the left side of the nose pads on your sunglasses and lift it up.</li>
              <li> Open the lens section of your sunglasses using the hinge near the left temple.</li>
              <li> Take the lens between your thumb and index finger and gently slide it out, starting with the side closest to the hinge.</li>
            </ul>
            <p><img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Lens_Installation_and_Removal_-_Lens_Removal_2_2048x2048.jpg?8881958868710735857" alt="Lens Removal Locate the switch on the left side of the nose pads on your sunglasses and lift it up. Open the lens section of your sunglasses using the hinge near the left temple. Take the lens between your thumb and index finger and gently slide it out, starting with the side closest to the hinge." style="width: 100%; max-width: 883px; height: auto;"></p>
          </div>
          <div class="content-steps">
            <h5>Lens Installation</h5>
            <ul>
              <li> Select a different lens and slide it into the lens slot, starting with the side closest to the nose.</li>
              <li> When the lens is in place, close the lens section at the hinge and return the nose pad lock to its locked position.</li>
              <li> Repeat the same process with the right side.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">THUMP PRO LENS REMOVAL INSTRUCTIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="content-steps">
            <ul>
              <li> Grip the frame temple with one hand and the lens with the other.</li>
              <li> Pull the lens tab out of the frame temple. Remove the lens.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">GOGGLE CARE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="divider divider--md"></div> 

          <p>Oakley® goggles are the most sophisticated equipment made for water, dirt, snow and everything in
            between. They meet European Community directives for optical performance and are in full compliance
            with the I.P.D. of category 1 for EEC directive 89/686.</p>
          <p>Oakley's H2O Goggle, MX Goggle, O Frame®, L Frame™, and E Frame® are engineered with
            scratch resistant Lexan® lenses. This provides 100% protection against UV and harmful blue
            light, and surpasses ANSI Z87.1 standards for impact resistance. Each frame is constructed with
            durable, lightweight urethane that braces the lens in the perfect arc of circle, hugging the face to
            maximize peripheral and downward vision.</p>
          <span>Oakley Wisdom™ and A Frame® goggles feature dual-lens configurations with proprietary
            geometry that mimics the anatomical curvature of the eye. These performance optical systems maximize
            peripheral vision and minimize distortion at all angles of vision. Pure Plutonite® lenses block
            100% of all UVA, UVB, UVC and harmful blue light while surpassing ANSI Z87.1 standards for optical
            clarity and impact resistance. Surge port technology provides fog-cutting air circulation that keeps
            drafts away from eyes.</span>
          <h4>How to keep the best at their best:</h4>
          <span>All new Oakley Goggles come with a bag for cleaning and storage. Using it will help maintain the
            unrivaled optics of Oakley lenses. Wash the bag regularly. (Note: Oakley does not warranty any lens
            against scratches.)</span>
          <span>Iridium® Lenses: Oakley Iridium® lens coating is engineered to block glare and heighten
            contrast. An array of available tints allows the wearer to tune transmission of any light condition.
            The 12-micron jacket of Iridium® must be treated with special care to avoid scratching. Use only
            mild soap and water; never use cleaning solutions.</span>
          <p class="subhead"><strong>IMPORTANT GOGGLE CARE: DO NOT RUB INNER LENS SURFACE WHEN WET.</strong></p>
          <h4>If snow or water should collect inside the goggle, follow these steps:</h4> 
          <ul>
            <li> Shake excess snow from the goggle interior. Clear all ventilation ports and lens vents.</li>
            <li> Use the Microclear™ Bag that is included with your goggle to gently blot any remaining
              moisture.
            </li>
            <li> Allow time for moisture to dissipate. Once the goggle is put back on, keep moving as much as
              possible. Airflow through the vents will help dry the goggle.
            </li>
          </ul>
          <h4>Your new goggle is designed for rugged durability, but precision instruments demand proper
            care.</h4> <br>
          <p>Follow these guidelines to maximize performance and longevity:</p>
          <ol>
            <li> Avoid resting the goggle on your forehead or hat. This reduces the efficiency of ventilation
              ports and exposes the interior to moisture vapor from melting snow and perspiration. To minimize
              fogging, keep the goggle on your face.
            </li>
          </ol>
          <br>
          <p>For proper cleaning and storage, remember the following:</p>
          <ul>
            <li> Do not use paper products, ski gloves or other abrasive materials to clean the goggle.</li>
            <li> Allow the goggle to air dry before storing for extended periods.</li>
            <li> Do not leave the goggle in areas of concentrated heat and sunlight, such as on a car dashboard
              or hanging from a rearview mirror.
            </li>
            <li> Protect the lens and face foam by storing the goggle in its protective bag or case.</li>
          </ul>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">APPAREL CARE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

          <h5>Washing - Normal, Delicate, Hand Wash, Wash Cold, Wash Warm, Wash Hot</h5>
          <p>
            <img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Information_-_Apparel_Care_-_Washing_2048x2048.jpg?9980613465339924127" alt="OAKLEY APPAREL CARE WASHING DRYING" style="width: 100%; max-width: 717px; height: auto;">
          </p>

          <h5>Drying - Normal, Tumble Dry Delicate, Dry on Low Setting, Do Not Tumble Dry, Dry Flat</h5>
          <p>
            <img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Information_-_Apparel_Care_-_Drying_2048x2048.jpg?18069035625406441874" alt="OAKLEY APPAREL CARE DRYING" style="width: 100%; max-width: 716px; height: auto;">
          </p>
          <h5>Miscellaneous - Dry Clean Only, No Dry Clean, Any Bleach, No Bleach, Iron as Needed, Low Iron, No Iron</h5>
          <p>
            <img src="//cdn.shopify.com/s/files/1/1324/9125/files/Oakley_Information_-_Apparel_Care_-_Miscellaneous_2048x2048.jpg?13445914138598703791" alt="OAKLEY APPAREL CARE DRYING WASHING MISCELLANEOUS" style="width: 100%; max-width: 715px; height: auto;">
          </p>

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">OAKLEY FOOTWEAR CARE </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <h4>Care Recommendations for Oakley Footwear</h4> 
              <p>Simple maintenance can maximize the life span of your Oakley footwear. After use, brush away surface dirt with a soft brush. Loosen laces to fully open each shoe and place in a ventilated area to dry. In case of excessive moisture, remove footbeds (if applicable). Pat dry excess moisture with paper towels or other absorbent material. Leave inside the shoe for 30 minutes. Remove and air-dry as described above. Store footwear in a cool, dry place (never expose to heat). Exposure to excessive moisture may cause the shoe to lose its shape, fade in color, or become weakened. Genuine leather: If your Oakley Footwear has been exposed to environments and terrain not intended for its use, the warranty will be void.</p>
            </div>

          </div>

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">CLEANING AND CONDITIONING </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

          <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12">
              <h4>Genuine Leather - Top Grain</h4> 
              <p>Simple maintenance can maximize the life span of your Oakley footwear. After use, brush away surface dirt with a soft brush. Loosen laces to fully open each shoe and place in a ventilated area to dry. In case of excessive moisture, remove footbeds (if applicable). Pat dry excess moisture with paper towels or other absorbent material. Leave inside the shoe for 30 minutes. Remove and air-dry as described above. Store footwear in a cool, dry place (never expose to heat). Exposure to excessive moisture may cause the shoe to lose its shape, fade in color, or become weakened. Genuine leather: If your Oakley Footwear has been exposed to environments and terrain not intended for its use, the warranty will be void.</p>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
              <h4>GENUINE LEATHER - SUEDE AND NUBUC</h4> 
              <p>Simple maintenance can maximize the life span of your Oakley footwear. After use, brush away surface dirt with a soft brush. Loosen laces to fully open each shoe and place in a ventilated area to dry. In case of excessive moisture, remove footbeds (if applicable). Pat dry excess moisture with paper towels or other absorbent material. Leave inside the shoe for 30 minutes. Remove and air-dry as described above. Store footwear in a cool, dry place (never expose to heat). Exposure to excessive moisture may cause the shoe to lose its shape, fade in color, or become weakened. Genuine leather: If your Oakley Footwear has been exposed to environments and terrain not intended for its use, the warranty will be void.</p>
            </div>
            <div class="col-md-12 col-sm-12 col-lg-12">
              <h4>SYNTHETIC LEATHER AND TEXTILE</h4> 
              <p>Simple maintenance can maximize the life span of your Oakley footwear. After use, brush away surface dirt with a soft brush. Loosen laces to fully open each shoe and place in a ventilated area to dry. In case of excessive moisture, remove footbeds (if applicable). Pat dry excess moisture with paper towels or other absorbent material. Leave inside the shoe for 30 minutes. Remove and air-dry as described above. Store footwear in a cool, dry place (never expose to heat). Exposure to excessive moisture may cause the shoe to lose its shape, fade in color, or become weakened. Genuine leather: If your Oakley Footwear has been exposed to environments and terrain not intended for its use, the warranty will be void.</p>
            </div>          
          </div>

        </div>
      </div>


    </div>

    <!--     TAB 3 -->

    <div class="tab-pane fade" id="goggle_care" role="tabpanel">


      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">MEN’S FACE SHAPE - SUNGLASS FIT RECOMMENDATIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="divider divider--md"></div>
        <div class="bi-content-hide">

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5" id="img-shape">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Heart-Shape-Face.gif?6239674053793158043" alt="Oakley Collection" style="margin: 0 auto;width: 45%;"></p>
              <h4>Heart Shape</h4> 
            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>RECOMMENDED SUNGLASS SHAPES</h4> 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3" >
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Round.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;" ></p>
                  <p style="text-align:center;">ROUND</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Semi-Rimless.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">OVAL</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Rimless.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">PILOT</p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12">

                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Pilot.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">WRAP</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5" id="img-shape">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Round-Shape-Face.gif?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;width: 45%;"></p>
              <h4>Round Shape</h4> 
            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>RECOMMENDED SUNGLASS SHAPES</h4> 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3" >
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Round.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;" ></p>
                  <p style="text-align:center;">ROUND</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Oval.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;"> OVAL</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Warp.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">WRAP</p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Rectangle.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">RECTANGLE</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Wayfarer.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">WAYFARER</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5" id="img-shape">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Square-Shape-Face.gif?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;width: 45%;"></p>
              <h4>Square Shape</h4> 
            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>RECOMMENDED SUNGLASS SHAPES</h4> 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3" >
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Round.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;" ></p>
                  <p style="text-align:center;">ROUND</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Oval.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;"> OVAL</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Warp.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">WRAP</p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Pilot.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">PILOT</p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5" id="img-shape">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Oval-Shape-Face.gif?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;width: 45%;"></p>
              <h4>Oval Shape</h4> 
            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>RECOMMENDED SUNGLASS SHAPES</h4> 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3" >
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Round.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;" ></p>
                  <p style="text-align:center;">ROUND</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Rectangle.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;"> RECTANGLE</p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Wayfarer.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">WAYFARER</p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/Pilot.png?13075906258698655306" alt="Oakley Collection" style="margin: 0 auto;"></p>
                  <p style="text-align:center;">PILOT</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">WOMEN’S FACE SHAPE - SUNGLASS FIT RECOMMENDATIONS</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="divider divider--md"></div>
        <div class="bi-content-hide">

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5" id="img-shape">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses_guide_face_square_female.jpg?14915838016453654330" alt="Oakley Collection" style="margin: 0 auto;width: 45%;"></p>
              <h4>SQUARE FACE</h4> 
            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>RECOMMENDED SUNGLASS SHAPES</h4> 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3" >
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-oval-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;" ></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-cateye-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-round-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12">

                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-pilot-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-wrap-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-butterfly-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>                                  
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5" id="img-shape">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses_guide_face_oval_female.jpg?14915838016453654330" alt="Oakley Collection" style="margin: 0 auto;width: 45%;"></p>
              <h4>OVAL FACE</h4> 
            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>RECOMMENDED SUNGLASS SHAPES</h4> 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3" >
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-round-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;" ></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-cateye-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-rectangle-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-pilot-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-oval-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-butterfly-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5" id="img-shape">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses_guide_face_round_female.jpg?14915838016453654330" alt="Oakley Collection" style="margin: 0 auto;width: 45%;"></p>
              <h4>ROUND FACE</h4> 
            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>RECOMMENDED SUNGLASS SHAPES</h4> 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3" >
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-oval-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;" ></p>

                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-round-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>

                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-rectangle-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>

                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-wrap-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>

                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-wayfarer-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-5 col-sm-5 col-lg-5" id="img-shape">
              <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses_guide_face_heart_female.jpg?14915838016453654330" alt="Oakley Collection" style="margin: 0 auto;width: 45%;"></p>
              <h4>HEART FACE</h4> 
            </div>
            <div class="col-md-7 col-sm-7 col-lg-7">
              <h4>RECOMMENDED SUNGLASS SHAPES</h4> 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3" >
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-round-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;" ></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-cateye-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-semirimless-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-lg-12">
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-pilot-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-rimless-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
                <div class="col-md-3 col-sm-3 col-lg-3">
                  <p><img id="desk-cover" class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sunglasses-face-butterfly-icon.png?15430179962734844279" alt="Oakley Collection" style="margin: 0 auto;"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SUNGLASS STYLES FIND YOUR LOOK</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="divider divider--md"></div>
        <div class="bi-content-hide">


          <div class="page_info_list">
            <div class="row">
              <div class="col-sm-4">
                <h4>Butterfly Sunglasses</h4>
                <p>About: Glamorous. Oversized. High Fashion. Feminine. Retro. Elegant. Oversized.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-butterfly-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Cat Eye Sunglasses</h4>
                <p>About: Retro. Modern. Vintage. Celebrity look. Old School. Alluring. Sexy. Oversized.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-cat-eye-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Clubmaster Sunglasses</h4>
                <p>About: Vintage. Movie Star Looks. Retro. Classic Looks. High Fashion. Classy. Elegant. High Fashion. Strong.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-clubmaster-sunglasses.jpg?9170715540713088875">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h4>Goggle Sunglasses</h4>
                <p>About: Complete Protection. Sporty. Aggressive. Modern. Masculine. Handsome. Oversized.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-goggle-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Oval Sunglasses</h4>
                <p>About: Great for Everyone. Classic Styling. Universal Charm. Universal Cool. Must Have Style. Modern Look. Mainstream Look.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-oval-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Pilot Sunglasses</h4>
                <p>About: Classic Cool. Vintage Look. Movie Star Style. Tom Cruise Chic. Aviator is Always in Style. Sporty. Masculine and Feminine.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-pilot-sunglasses.jpg?9170715540713088875">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h4>Rectangle Sunglasses</h4>
                <p>About: Modern Look. Masculine Styling. High Fashion. No Gimmicks. Rich Sporty.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-rectangle-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Rimless Sunglasses</h4>
                <p>About: Simple Look. Modern Styling. Low Profile. Minimalistic. Modern Look. Future Styling. Masculine. Sporty.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-rimless-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Round Sunglasses</h4>
                <p>About: Classic. Quirky. Weird. Funny. John Lennon Style. Individual. Smart. Professor. Stylish. Hipster.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-round-sunglasses.jpg?9170715540713088875">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h4>Semi-Rimless Sunglasses</h4>
                <p>About: Sporty. Quirky. Different. Unusual. Sporty. Stylish. Masculine. Hipster.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-semi-rimless-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Shield Sunglasses</h4>
                <p>About: Full Coverage. Futuristic. Modern Styling. Tomorrow’s Style. Fashionable. High Fashion. Glamorous.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-shield-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Square Sunglasses</h4>
                <p>About: Hipster. Very Cool. Modern. Masculine. Sporty. Comfortable. Everyday.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-square-sunglasses.jpg?9170715540713088875">
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <h4>Wayfarer Sunglasses</h4>
                <p>About: Classic Look. Since the 50’s. Iconic. Sporty. Classy. High Fashion. Trendy.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-wayfarer-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Wrap Sunglasses</h4>
                <p>About: Full Face Coverage. Maximum Protection. Sporty. Modern. Masculine. Tomorrow’s Styling. Comfortable. Excellent Side Vision.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-wrap-sunglasses.jpg?9170715540713088875">
              </div>
              <div class="col-sm-4">
                <h4>Sports Wrap Sunglasses</h4>
                <p>About: Full Face Coverage. Maximum Protection. Sporty. Modern. Masculine. Tomorrow’s Styling. Comfortable. Excellent Side Vision.</p>
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/page-sports-wrap--sunglasses.jpg?9170715540713088875">
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SUNGLASS FRAME MATERIAL GUIDE </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="divider divider--md"></div>
        <div class="bi-content-hide">


          <div class="page_info_list">

            <div class="row">
              <div class="col-sm-12">
                <h4>METAL FRAMES</h4>
                <p>Features: Strong, malleable, corrosion resistant, adjustable to almost any face, expensive, not best for sports, heavier, not ideal for sensitive nose bridges, high fashion, ideal for fashion.</p>

                <h4>TITANIUM FRAMES</h4>
                <p>Features: Strong, malleable, corrosion resistant, adjustable to almost any face, expensive, not best for sports, heavier, not ideal for sensitive nose bridges, high fashion, ideal for fashion.</p>

                <h4>NYLON FRAMES</h4>
                <span><p>Features: Great for sports, flexible, safe, ideal for the active lifestyle, light, affordable.</p></span>

                <h4>POLYCARBONATE</h4>
                <span><p>Features: Great for sports, flexible, safe, ideal for the active lifestyle, light, affordable.</p></span>

                <h4>ACETATE</h4>
                <span><p>Features: Stronger than normal plastic frames, more flexible, lighter, color is inbedded in the plastic, not painted on, very affordable, great for active lifestyles, great for sports.</p></span>

                <h4>PLASTIC</h4>
                <span><p>Features: Can be made out of acrylic or polyurethane. The least expensive frame option. Light and durable but tend to feel lower end. Not the best for high fashion. Good for sports and the active lifestyle. Good low end sunglasses.</p></span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SUNGLASS LENS MATERIAL GUIDE  </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="divider divider--md"></div>
        <div class="bi-content-hide">


          <div class="page_info_list">

            <div class="row">
              <div class="col-sm-12">
                <h4>OPTICAL GLASS LENS</h4>
                <p>Features: Made of real glass, very resistant, very durable, highest level of distortion free vision and scratch resistance, heavier than non-glass lens, more expensive, not the best for action sports as the lens can shatter into a spider shape or break apart and damage your face or eyes on impact, ideal for high fashion.</p>

                <h4>TITANIUM FRAMES</h4>
                <p>Features: Strong, malleable, corrosion resistant, adjustable to almost any face, expensive, not best for sports, heavier, not ideal for sensitive nose bridges, high fashion, ideal for fashion.</p>

                <h4>POLYCARBONATE LENS</h4>
                <span><p>Features: Ideal for sports, this is a type of plastic lens, virtually indestructible, very light, scratch resistant but will scratch, very high optical clarity, 50X stronger than optical glass. Not as good as glass optics or NXT optics for clarity and distortion free vision.</p></span>

                <h4>POLYCARBONATE</h4>
                <span><p>Features: Great for sports, flexible, safe, ideal for the active lifestyle, light, affordable.</p></span>

                <h4>NXT POLYURETHANE LENS</h4>
                <span><p>Features: Very expensive, bringing the best clarity and optics of glass, with the strength and safety features of polycarbonate lenses, high impact resistance, very lightweight, made with Trivex – an advance polymer material.</p></span>

                <h4>ACRYLIC LENS</h4>
                <span><p>Features: Inexpensive, ideal for sports and general fashion, great for casual wear, sports wear, less optical clarity, less durable.</p></span>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">LENS INFORMATION GUIDE </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="divider divider--md"></div>
        <div class="bi-content-hide">


          <div class="page_info_list">

            <div class="row">
              <div class="col-sm-12">
                <h4>NON-POLARIZED LENS</h4>
                <p>Features: Ideal for most activities, affordable.</p>

                <h4>POLARIZED LENS</h4>
                <p>Features: Ideal for water sports, around the beach, snow and anywhere that has a lot of glare, usually more expensive.</p>

                <h4>PHOTOCHROMIC LENS</h4>
                <span><p>Features: Automatically adjusts the tint and darkness of the lens based on UV conditions from the sun, not to be confused with actual light conditions. Takes longer in colder climate for the lens to adjust, and won’t work inside your car while driving. The tinting is activated by UVB rays. Ideal for most outdoor activities and sports where the change in lighting affects your performance and vision, such as baseball, softball.</p></span>

                <h4>GRADIENT LENS</h4>
                <span><p>Features: Automatically adjusts the tint and darkness of the lens based on UV conditions from the sun, not to be confused with actual light conditions. Takes longer in colder climate for the lens to adjust, and won’t work inside your car while driving. The tinting is activated by UVB rays. Ideal for most outdoor activities and sports where the change in lighting affects your performance and vision, such as baseball, softball.</p></span>

                <h4>NXT POLYURETHANE LENS</h4>
                <span><p>Features: Very expensive, bringing the best clarity and optics of glass, with the strength and safety features of polycarbonate lenses, high impact resistance, very lightweight, made with Trivex – an advance polymer material.</p></span>

                <h4>DOUBLE GRADIENT LENS</h4>
                <span><p>Features: Lens where it is darkest on top and bottom, and lightest in the middle, ideal for conditions where you get a lot of reflective light and overhead light such as on sand, water, snow and reflective surfaces in general.</p></span>
              </div>
            </div>
          </div>
        </div>
      </div>





    </div>
  </div>


</div>



