

{% if "logo" == condition %}
<a href = "/collections/shoei">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/shoe-main-banner.jpg?7722934228975326937" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shoe-main-banner.jpg?5096862818242854842" alt="">
</a>

{% elsif "header" == condition %}


<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/shoei" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 

{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
  <div class = "container-fluid">
    <div class ="row">
      <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-womens-collection">
            <div class = "collection-text-holder">
              <h1 class = "collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-womens-banner.jpg?16080051662597199115">
          </a>
        </div>
      </div>
      <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-mens-collection">
            <div class = "collection-text-holder">
              <h1 class = "collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-mens-banner.jpg?16080051662597199115">
          </a>
        </div>
      </div>
      <div class ="divider"></div>
      <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-street-helmets">
            <div class = "collection-text-holder">
              <h1 class = "collection-text-col-4">STREET HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-street-helmets-banner.jpg?15886354023995842734">
          </a>
        </div>
      </div>
      <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-off-road-helmets">
            <div class = "collection-text-holder">
              <h1 class = "collection-text-col-4">OFF-ROAD HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shoe-offroad-helmets-banner.jpg?15886354023995842734">
          </a>
        </div>
      </div>
      <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-cruiser-helmets">
            <div class = "collection-text-holder">
              <h1 class = "collection-text-col-4">CRUISER HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-cruiser-banner.jpg?15886354023995842734">
          </a>
        </div>
      </div>
    </div>
    <div class ="divider"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class ="hot-sale-banner-holder row">
        <a href = "https://motorhelmets.com/collections/shoei-hot-sales">
          <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-sale-banner.jpg?12360286577638082262" alt="">
        </a>
      </div>
    </div>
  </div>
</div>

<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-womens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shoei-womens-banner.jpg?3947540335058881922">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-mens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shoei-mens-banner.jpg?3947540335058881922">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-street-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">STREET HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shoei-street-helmets-banner_bda8257c-bc80-4b7a-843d-bc9c8324e931.jpg?3947540335058881922">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-off-road-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shoe-offroad-helmets-banner.jpg?3947540335058881922">
          </a>
        </div>
      </div>
    </div>
        <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/shoei-cruiser-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CRUISER HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shoei-cruiser-banner.jpg?3947540335058881922">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/shoei-hot-sales">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-shoei-sale-banner-2.jpg?12472825933626956883" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="divider divider--lg"></div>




{% elsif "lookbooks" == condition %}


{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
{% assign counter = 0 %}
{% paginate blogs['lookbook'].articles by totalLookbookCount %}
{% for article in blogs['lookbook'].articles %}
{% if counter < 6 and article.tags contains 'Shoei' or article.tags contains 'shoei' or article.tags contains 'Shoie' %}
{% assign counter = counter | plus: 1 %}
<div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">

  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
    <div>
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
    </div>

    <div class="TeaserGrid-content" style="margin-top: 6px;">
      <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
    </div>                       
  </a>

</div>
{% endif %}
{% endfor %}
{% endpaginate %}

<div class="divider divider--lg"></div>
{% elsif "more_info" == condition %}
{% include "page.wall-info-shoei" %}



{% elsif "brand_sizing_guide" == condition %}
{% include 'shoei-size-chart' %}
<div class="text-center">
  <div class="container wall-brand-desc-content">
    <div class ="row">
      {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
      <div class="divider divider--lg"></div>
      {%endcomment%}
      <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
        <div class ="row">
          <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-logo-2.png?12360286577638082262">
        </div>
      </div>
      <div class="divider divider--lg"></div>
      <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
        <div class = "row">
          <p>Shoei is a Japanese company producing motorcycle helmets since 1958. Its roots go back to 1954 with the founding of Kamata Polyester Co., whose first helmets were produced primarily for use in the construction industry. Shoei's founder, Eitaro Kamata, began to produce helmets for the motorcycle racing sector and in 1960, the Tokyo factory began to produce the first motorcycle helmets to meet the Japanese Industrial Standard (JIS).</p>
          <div class = "hidden-content">
            <p>In 1965, Honda Motor Co. adopted Shoei's helmets as their 'genuine' helmets, increasing their popularity and availability. The Shoei Safety Helmet Corp. was established in 1968, shortly after construction of the Ibaraki factory. The current Iwate factory was built in 1989.</p>
            <p>Despite their success, Shoei remains a relatively small company, with a workforce of under 500 people worldwide.</p>
            <p>Shoei provide helmets for numerous MotoGP riders. In the MotoGP class, Marc Márquez and Bradley Smith . In Moto2, Thomas Luthi and Mattia Pasini. In Moto3, Álex Márquez, the younger brother of Marc Márquez, and Arthur Sissis.</p>
          </div>
          <div class = "divider divider--md"></div>
          <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

 




{% elsif "brand_story" == condition %}
<div class="text-center">
  <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-logo-2.png?4954233371992984708" alt="">
</div>

<div class="divider divider--md"></div>



<style type="text/css">
  #collections {
    display: none !important;
  }
</style>


{% endif %}

<script>
  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });
  });
</script>



