<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<img style="max-width: 75%;" class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/freeshipping-page-100-032420.jpg?v=1585014871" alt="Free Shipping"/>
<hr class="hr-lg" />
<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">Free Shipping Over $100</h3>


<ul>
<li>Minimum order of $100 required (<b><span style="color: #fff; background-color: black;">Valid for Helmets and Apparel only</span></b>. Boots, Luggage, Hard/Body Parts, Oils, Tires, Batteries and Oversized items excluded).</li>
<li><b><span style="color: #fff; background-color: black;">Free Standard Ground Shipping offers are limited to the continental 48 US States only</span></b>. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day).</li>
<li>Applies only to orders shipping to a single address.</li>
<li>All oversized and additional shipping charges still apply.</li>
<li>Not valid with any other offer.</li>
<li><b><span style="color: #ff0000;" color="#ff0000">You can only use one coupon at a time during check out.</span></b></li>
<li>Delivery times may vary. Orders are processed and delivered during the business week (Monday – Friday) only and do not guarantee delivery by a specific date or time.</li>
<li>If you return items purchased using this offer, and your order drops below the threshold, then you may be charged a shipping fee.</li>
<li>Order cancellations or returns are subject to our cancellation fees.</li>
<li>Order cancellations or orders resulting in non receipt of merchandise is subject to our minimum shipping charges.</li>
<li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items.</li>
<li>Check our <a style="text-decoration: underline;" href="/pages/shopping-policies">Shopping Policies</a> page for additional information.</li>
</ul>

</div>
</div>
