<!-- CONTENT section -->
<div class="row"> <!-- row start -->
<div class="col-lg-12 text-center"> <!-- col start -->
 <h3 class="text-center title-under uppercase_txt home_title">Free Stickers!!!</h3>
 <h4 class="text-center title-under uppercase_txt">Want a Motorhelmets.com sticker?</h4>
<p>Here at Motorhelmets.com, we're always coming up with a cool new ways for you to spread the word about our website. One easy way to do that is with stickers. Everyone loves stickers and you just can't wait to get your hands on them. Well, you're lucky because our stickers are FREE!</p>
</div>
</div>
<div class="divider divider--xl-1"></div>
<div class="row">
<h4 class="text-center title-under uppercase_txt">Free Stickers!</h4>
		<div class="col-lg-12 text-center"> <!-- col start -->
			 
			 <img alt="Bold and Fearless Sticker" title="Bold and Fearless Sticker" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sticker-bold-and-fearless.jpg?5599409822375841444" /> 
			 <img alt="I am Bold and Fearless Sticker" title="I am Bold and Fearless Sticker" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sticker-i-am-a-bold-and-fearless.jpg?2275260468590032854" />
			 <img alt="Motorhelmets Die Cut Windshield Sticker" title="Motorhelmets Die Cut Windshield Sticker" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sticker-motorhelmets-die-cut-windshield.jpg?17716217947760381" />
			 <div class="divider divider--md"></div>
			 <p>Enclose a Self Addressed Stamped Envelope with a First Class Stamp and Indicate how many stickers you want. (Maximum of 5). We also have stickers from major brands. We'll throw in a few of those at your request!</p>
		</div>
</div>
<div class="divider divider--xl-1"></div>
<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
		<h4 class="text-left title-under uppercase_txt">Be sure to LIKE us on Facebook and Review us on Yelp!</h4>	
		<div class="v-links-list mobile-collapse__content">
      	<div class="social-links social-links--large social-links-layout-02">
      	<ul><li><a class="icon fa fa-facebook" href="//www.facebook.com/Motorhelmets"></a></li>
      	<li><a class="icon fa fa-yelp" href="//www.yelp.com/biz/motorhelmets-fullerton-2"></a></li>
      	</ul>
		</div>
		</div>

		</div>

		<div class="col-sm-6 col-md-6 col-lg-6">
		<h4 class="text-left title-under uppercase_txt">Send your request to:</h4>	
		<p><strong>Motorhelmets</strong></p>
		<p><strong>Attn: Free Stickers</strong></p>
		<p>1871 W. Commonwealth Ave.,</p>
		<p>Fullerton CA 92833 USA</p>
		<div class="divider divider--sm"></div>
		<p><code>*Include a self Addressed Stamped Envelope</code></p>
		</div>

</div>