<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	             margin-top: -123px;
	        }
	  } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
	
	<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Arai Helmets Size Charts" title="Arai Helmets Size Charts" style="margin: 0 auto;"/>
		</div>
		<div class="col-sm-9 col-md-9 col-lg-9">
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>Size</th>
									<th>Centimeter</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>2XS    </td>
									<td>51 - 52</td> 
		        			</tr>
		        			<tr>
		        					<td>XS     </td>
									<td>53 - 54</td> 
		        			</tr>
		          			<tr>
		          					<td>SM     </td>
									<td>55 - 56</td> 
		       			 	</tr>
		       			 	<tr>
		          					<td>MD     </td>
									<td>57 - 58</td> 
		       			 	</tr>
		       			 	<tr>
		          					<td>LG     </td>
									<td>59 - 60</td> 
		       			 	</tr>
		       			 	<tr>
		          					<td>XL     </td>
									<td>61 - 62</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>2XL</td>
									<td>63 - 64</td>
		       			 	</tr>
		       			 	<tr>
		          					<td>2XL    </td>
									<td>63 - 64</td>

		       			 	</tr>
		       			 	<tr>
		          					<td>3XL    </td>
									<td>65 - 66</td>

		       			 	</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table -->  
    </div>
  </div>
</div> <!-- SizeChartTab1 -->



</div><!-- tab-content tab-content-ys obs_sizechart -->
