<div>
  <ul class="nav nav-tabs nav-tabs--ys" role="tablist">

      <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">WOMENS</a></li>

      <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">GIRLS</a></li>

  </ul>
</div>


<div class="tab-content tab-content--ys Sbs_sizechart">

<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>

    <li><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Bottom</a></li>

    <li><a href="#SizeChartMenTab3" role="tab"data-toggle="tab" class="text-uppercase">Swimwear</a></li>

    <li><a href="#SizeChartMenTab4" role="tab"data-toggle="tab" class="text-uppercase">Wetsuits</a></li>

    <li><a href="#SizeChartMenTab5" role="tab"data-toggle="tab" class="text-uppercase">Snow</a></li>

    <li><a href="#SizeChartMenTab6" role="tab"data-toggle="tab" class="text-uppercase">Headwear</a></li>

    <li><a href="#SizeChartMenTab7" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>

    <li><a href="#SizeChartMenTab8" role="tab"data-toggle="tab" class="text-uppercase">Accessories</a></li>

  </ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">
  <div class="row">

    <div class="col-sm-6 col-md-3 col-lg-3">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-template-big.jpg?14108810669265095966" alt="Roxy Top Size Chart" style="margin: 0 auto; "></p>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
        <div>
          <h4>MEASURING POINTS</h4>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">A | BUST</h4>
            <p class="text-uppercase" style="margin: 0">Lift your arms slightly and measure around your body, crossing over the fullest part of your chest.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">B | WAIST</h4>
            <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">C | HIP</h4>
            <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
          </div>
        </div>

        <div class="table_responsive">
            <table class="table table-bordered table-striped billa_boys">
                  <thead>
                    <tr><th colspan="4" width="120" style="text-align: center;" >SIZE RANGE</th><th colspan="3" style="text-align: center;">BODY MEASUREMENTS (cm)</th></tr>
                    <tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>BUST (cm)</th><th>WAIST (cm)</th><th>HIP (cm)</th></tr>
                  </thead>
              <tbody>
                  <tr><td>00</td><td>6L</td><td>XXS</td><td>6</td><td>76-80</td><td>57-61</td><td>83-87</td></tr>
                  <tr><td>1</td><td>8L</td><td>XS</td><td>8</td><td>81-85</td><td>62-66</td><td>88-92</td></tr>
                  <tr><td>5</td><td>10L</td><td>Small</td><td>10</td><td>86-90</td><td>67-71</td><td>93-97</td></tr>
                  <tr><td>9</td><td>12L</td><td>Med</td><td>12</td><td>91-98</td><td>72-76</td><td>98-102</td></tr>
                  <tr><td>13</td><td>14L</td><td>Large</td><td>14</td><td>104-110</td><td>77-81</td><td>103-107</td></tr>
                  <tr><td>15</td><td>16L</td><td>XL</td><td>16</td><td>111-115</td><td>82-86</td><td>108-112</td></tr>
              </tbody>
        </table>
      </div><!-- Responsive Table -->  
    </div>
  </div>

</div>

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab2">

  <div class="row">

    <div class="col-sm-6 col-md-3 col-lg-3">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-template-big-bottom.jpg?5621260862189438376" alt="Roxy Top Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
        <div>
          <h4>MEASURING POINTS</h4>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">A | WAIST</h4>
            <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">B | HIP</h4>
            <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
          </div>
        </div>

        <div class="table_responsive">
            <table class="table table-bordered table-striped billa_boys">
              <thead>
                <tr><th colspan="4" style="text-align: center;">SIZE RANGE</th><th colspan="2" style="text-align: center;">BODY MEASUREMENTS (cm)</th></tr>
                <tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>WAIST (cm)</th><th>HIP (cm)</th></tr>
              </thead>
              <tbody>
                <tr><td>00</td><td>6L</td><td>XXS</td><td>6</td><td>57-61</td><td>83-87</td></tr>
                <tr><td>1</td><td>8L</td><td>XS</td><td>8</td><td>62-66</td><td>88-92</td></tr>
                <tr><td>5</td><td>10L</td><td>Small</td><td>10</td><td>67-71</td><td>93-97</td></tr>
                <tr><td>9</td><td>12L</td><td>Med</td><td>12</td><td>72-76</td><td>98-102</td></tr>
                <tr><td>13</td><td>14L</td><td>Large</td><td>14</td><td>77-81</td><td>103-107</td></tr>
                <tr><td>15</td><td>16L</td><td>XL</td><td>16</td><td>82-86</td><td>108-112</td></tr>
              </tbody>
          </table>
      </div><!-- Responsive Table -->  
    </div>
  </div>

</div>

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab3">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sizing-chart-womens-swimwear-template.jpg?7155153536551926775" alt="Roxy Swimwear Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div>
          <h4>MEASURING POINTS</h4>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">A | BUST</h4>
            <p class="text-uppercase" style="margin: 0">Lift your arms slightly and measure around your body, crossing over the fullest part of your chest.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">B | WAIST</h4>
            <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">C | HIP</h4>
            <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
          </div>
      </div>
    </div>
  </div>

  <div class="divider divider--md"></div>

  <div class="table_responsive">
        <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr><th colspan="4" style="text-align: center;">SIZE RANGE</th><th colspan="3" style="text-align: center;">BODY MEASUREMENTS (cm)</th></tr>
              <tr><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>&nbsp;</th><th>A | BUST (cm)</th><th>B | WAIST (cm)</th><th>C | HIP (cm)</th></tr>
            </thead>
            <tbody>
              <tr><td>00</td><td>6L</td><td>XXS</td><td>6</td><td>76-80</td><td>57-61</td><td>83-87</td></tr>
              <tr><td>1</td><td>8L</td><td>XS</td><td>8</td><td>81-85</td><td>62-66</td><td>88-92</td></tr>
              <tr><td>5</td><td>10L</td><td>Small</td><td>10</td><td>86-90</td><td>67-71</td><td>93-97</td></tr>
              <tr><td>9</td><td>12L</td><td>Med</td><td>12</td><td>91-98</td><td>72-76</td><td>98-102</td></tr>
              <tr><td>13</td><td>14L</td><td>Large</td><td>14</td><td>104-110</td><td>77-81</td><td>103-107</td></tr>
              <tr><td>15</td><td>16L</td><td>XL</td><td>16</td><td>111-115</td><td>82-86</td><td>108-112</td></tr>
          </tbody>
      </table>
  </div><!-- Responsive Table -->  
    
  
  </div> <!-- End Table3-->  

  <div role="tabpanel" class="tab-pane" id="SizeChartMenTab4">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sizing-chart-womens-wetsuits-template-new.jpg?11267381791483095843" alt="Roxy Womens Wetsuits Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div>
          <h4>MEASURING POINTS</h4>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">A | CHEST</h4>
            <p class="text-uppercase" style="margin: 0">Lift your arms slightly and measure around your body, crossing over the fullest part of your chest.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">B | WAIST</h4>
            <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">C | HIP</h4>
            <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
        </div>

        <div class="table_responsive">
             <table class="table table-bordered table-striped billa_boys">
                <thead>
                  <tr>
                  <th>SIZE</th>
                  <th colspan="7" style="text-align: center;">BODY MEASUREMENTS</th>
                  </tr>
                  <tr>
                    <th>&nbsp;</th>
                    <th>D | HEIGHT (ft)</th>
                    <th>WEIGHT (kg)</th>
                    <th>A | CHEST (CM)</th>
                    <th>B | WAIST (CM)</th>
                    <th>C | HIPS (CM)</th>
                    <th>E | NECK (CM)</th>
                    <th>F | INSEAM (CM)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <td>2</td>
                  <td>160-165</td>
                  <td>45-54</td>
                  <td>77-82</td>
                  <td>58-63</td>
                  <td>84-90</td>
                  <td>25</td>
                  <td>68-71</td>
                  </tr>
                  <tr>
                  <td>4 (S)</td>
                  <td>162-168</td>
                  <td>47-57</td>
                  <td>80-87</td>
                  <td>63-68</td>
                  <td>86-91</td>
                  <td>29</td>
                  <td>70-73</td>
                  </tr>
                  <tr>
                  <td>6 (M)</td>
                  <td>165-170</td>
                  <td>50-59</td>
                  <td>82-88</td>
                  <td>63-68</td>
                  <td>90-94</td>
                  <td>30</td>
                  <td>71-74</td>
                  </tr>
                  <tr>
                  <td>8 (L)</td>
                  <td>168-172</td>
                  <td>54-63</td>
                  <td>86-91</td>
                  <td>67-72</td>
                  <td>93-98</td>
                  <td>32</td>
                  <td>73-75</td>
                  </tr>
                  <tr>
                  <td>10</td>
                  <td>170-175</td>
                  <td>59-68</td>
                  <td>90-95</td>
                  <td>71-76</td>
                  <td>97-102</td>
                  <td>33</td>
                  <td>74-76</td>
                  </tr>
                  <tr>
                  <td>12</td>
                  <td>172-178</td>
                  <td>63-72</td>
                  <td>94-99</td>
                  <td>75-80</td>
                  <td>100-105</td>
                  <td>34</td>
                  <td>75-77</td>
                  </tr>
                  <tr>
                  <td>14</td>
                  <td>172-178</td>
                  <td>72-82</td>
                  <td>98-103</td>
                  <td>79-84</td>
                  <td>104-109</td>
                  <td>36</td>
                  <td>75-77</td>
                  </tr>
                  <tr>
                  <td>16</td>
                  <td>175-180</td>
                  <td>77-86</td>
                  <td>101-107</td>
                  <td>81-86</td>
                  <td>107-112</td>
                  <td>37</td>
                  <td>75-77</td>
                  </tr>
                </tbody>
              </table>
          </div><!-- Responsive Table -->  
        </div>
      </div>
    </div>
  </div> <!-- End Table4-->  

  <div role="tabpanel" class="tab-pane" id="SizeChartMenTab5">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h4>SNOW JACKETS</h4>
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-snow-jacket-tops-template.jpg?7346754829192650440" alt="Roxy Snow Jacket Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div>
          <h4>MEASURING POINTS</h4>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">A | BUST</h4>
            <p class="text-uppercase" style="margin: 0">Lift your arms slightly and measure around your body, crossing over the fullest part of your chest.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">B | WAIST</h4>
            <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">C | HIP</h4>
            <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
        </div>

        <div class="table_responsive">
             <table class="table table-bordered table-striped billa_boys">
                <thead>
                    <tr><th width="70">SIZE</th><th colspan="3" style="text-align: center;">BODY MEASUREMENTS (cm)</th></tr>
                    <tr><th>&nbsp;</th><th>A | BUST (cm)</th><th>B | WAIST (cm)</th><th>C | HIP (cm)</th></tr>
                </thead>
                <tbody>
                    <tr><td>XS</td><td>80-82.5</td><td>59.5-62</td><td>86.5-87.5</td></tr>
                    <tr><td>S</td><td>84-86</td><td>63.5-66</td><td>90-92.5</td></tr>
                    <tr><td>M</td><td>87.5-90</td><td>67.5-70</td><td>94-96.5</td></tr>
                    <tr><td>L</td><td>92.5-94</td><td>71-73.5</td><td>98-100</td></tr>
                    <tr><td>XL</td><td>95-99</td><td>76-78.5</td><td>101.5-104</td></tr>
                </tbody>
            </table>
        </div><!-- Responsive Table -->  
        </div>
      </div>
    </div>
    
    <hr>
    
    <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <h4>SNOW PANTS</h4>
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-snow-jacket-bottoms-template.jpg?7109204249044006996" alt="Roxy Snow Pants Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div>
          <h4>MEASURING POINTS</h4>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">A | WAIST</h4>
            <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
          </div>
          <div class="chart-text-box">
            <h4 style="font-weight: bold;">B | HIP</h4>
            <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
        </div>

        <div class="table_responsive">
             <table class="table table-bordered table-striped billa_boys">
                <thead>
                  <tr><th width="70">SIZE</th><th colspan="3">BODY MEASUREMENTS (cm)</th></tr>
                  <tr><th>&nbsp;</th><th>A | WAIST (cm)</th><th>B | HIP (cm)</th><th>C | INSEAM (cm)</th></tr>
                </thead>
                <tbody>
                  <tr><td>XS</td>
                  <td>59.5-62</td>
                  <td>86.5-87.5</td>
                  <td>81</td></tr>
                  <tr><td>S</td>
                  <td>63.5-66</td>
                  <td>90-92.5</td>
                  <td>81</td></tr>
                  <tr><td>M</td>
                  <td>67.5-70</td>
                  <td>94-96.5</td>
                  <td>81</td></tr>
                  <tr><td>L</td>
                  <td>71-73.5</td>
                  <td>98-100</td>
                  <td>84</td></tr>
                  <tr><td>XL</td>
                  <td>76-78.5</td>
                  <td>101.5-104</td>
                  <td>84</td></tr>
              </tbody>
            </table>
        </div><!-- Responsive Table -->  
        </div>
      </div>
    </div>
  </div> <!-- End Table5-->  


  <div role="tabpanel" class="tab-pane" id="SizeChartMenTab6">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Roxy Top Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div>
          <h4>WOMEN'S HATS & CAPS</h4>
          <div class="table_responsive">
               <table class="table table-bordered table-striped billa_boys">
                  <thead>
                      <tr><th>SIZE</th><th>CIRCUMFERENCE (cm)</th></tr>
                  </thead>
                  <tbody>
                      <tr><td>Small-Medium</td><td>51</td></tr>
                      <tr><td>Medium-Large</td><td>53</td></tr>
                      <tr><td>Each</td><td>One Size</td></tr>
                  </tbody>
              </table>
            </div><!-- Responsive Table -->  
        </div>

        <div class="divider divider--md"></div>

        <div>
          <h4>WOMEN'S HELMETS</h4>
          <div class="table_responsive">
               <table class="table table-bordered table-striped billa_boys">
                  <thead>
                      <tr><th>SIZE</th><th>CIRCUMFERENCE (cm)</th></tr>
                  </thead>
                  <tbody>
                      <tr><td>X-Small</td><td>52</td></tr>
                      <tr><td>Small</td><td>54</td></tr>
                      <tr><td>Medium</td><td>56</td></tr>
                      <tr><td>Large</td><td>58</td></tr>
                      <tr><td>X-Large</td><td>60</td></tr>
                  </tbody>
              </table>
            </div><!-- Responsive Table -->  
        </div>

        <div><h4><code>* Measure the circumference</code></h4></div>

        </div>

      </div>
  </div> <!-- End Table6-->  


  <div role="tabpanel" class="tab-pane" id="SizeChartMenTab7">

    <div>
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Roxy Womens Footwear Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="table_responsive">
         <table class="table table-bordered table-striped billa_boys">
            <thead>
                <tr><th colspan="4" style="text-align: center;">SIZE RANGE</th></tr>
                <tr><th>AUS/US</th><th>UK</th><th>EUR</th><th>CM</th></tr>
            </thead>
            <tbody>
                <tr><td>4</td><td>2</td><td>35</td><td>21.5</td></tr>
                <tr><td>5</td><td>3</td><td>36</td><td>22</td></tr>
                <tr><td>5.5</td><td>3.5</td><td>36.5</td><td>22.5</td></tr>
                <tr><td>6</td><td>4</td><td>37</td><td>23</td></tr>
                <tr><td>6.5</td><td>4.5</td><td>37.5</td><td>23.5</td></tr>
                <tr><td>7</td><td>5</td><td>38</td><td>24</td></tr>
                <tr><td>7.5</td><td>5.5</td><td>38.5</td><td>24.5</td></tr>
                <tr><td>8</td><td>6</td><td>39</td><td>25</td></tr>
                <tr><td>8.5</td><td>6.5</td><td>40</td><td>25.5</td></tr>
                <tr><td>9</td><td>7</td><td>40.5</td><td>26</td></tr>
                <tr><td>9.5</td><td>7.5</td><td>41</td><td>26.5</td></tr>
                <tr><td>10</td><td>8</td><td>42</td><td>27</td></tr>
                <tr><td>10.5</td><td>8.5</td><td>42.5</td><td>27.5</td></tr>
                <tr><td>11</td><td>9</td><td>43</td><td>28</td></tr>
            </tbody>
          </table>
      </div><!-- Responsive Table -->  
  </div> <!-- End Table7-->  


  <div role="tabpanel" class="tab-pane" id="SizeChartMenTab8">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-measure-blets-265189.jpg?1685585670800491989" alt="Roxy Women Belts Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <h4>WOMEN'S BELTS</h4>
        <div>
          <div class="table_responsive">
               <table class="table table-bordered table-striped billa_boys">
                  <thead>
                      <tr><th>SIZE</th><th>CIRCUMFERENCE (cm)</th></tr>
                  </thead>
                  <tbody>
                      <tr><td>XS</td><td>97</td></tr>
                      <tr><td>Small</td><td>102</td></tr>
                      <tr><td>Medium</td><td>107</td></tr>
                      <tr><td>Large</td><td>112</td></tr>
                  </tbody>
                </table>
              </div><!-- Responsive Table -->  
            </div>
          <div><h4><code>* Measure the circumference</code></h4></div>
        </div>
      </div>
    </div> <!-- End Table8-->  
  </div>
</div> <!-- SizeChartTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">

  <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartWomenTab1" role="tab"data-toggle="tab" class="text-uppercase">Top</a></li>

    <li><a href="#SizeChartWomenTab2" role="tab"data-toggle="tab" class="text-uppercase">Bottom</a></li>

    <li><a href="#SizeChartWomenTab3" role="tab"data-toggle="tab" class="text-uppercase">Swimwear</a></li>

    <li><a href="#SizeChartWomenTab4" role="tab"data-toggle="tab" class="text-uppercase">Wetsuits</a></li>

    <li><a href="#SizeChartWomenTab5" role="tab"data-toggle="tab" class="text-uppercase">Outerwear</a></li>

    <li><a href="#SizeChartWomenTab6" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>

    <li><a href="#SizeChartWomenTab7" role="tab"data-toggle="tab" class="text-uppercase">Headwear</a></li>

  </ul>

<div class="tab-content tab-content--ys">

  <div role="tabpanel" class="tab-pane active" id="SizeChartWomenTab1">

    <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-3">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/girls-size-guide.jpg?659353900187534356" alt="Roxy Girls Tops Size Chart" style="margin: 0 auto; "></p>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div>
            <h4>MEASURING POINTS</h4>
            <div class="chart-text-box">
              <h4 style="font-weight: bold;">A | CHEST</h4>
              <p class="text-uppercase" style="margin: 0">Lift your arms slightly and measure around your body, crossing over the fullest part of your chest.</p>
            </div>
            <div class="chart-text-box">
              <h4 style="font-weight: bold;">B | WAIST</h4>
              <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
            </div>
            <div class="chart-text-box">
              <h4 style="font-weight: bold;">C | HIP</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
            </div>
        </div>

        <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
                <tr><th colspan="3" style="text-align: center;">SIZE RANGE</th><th colspan="4" style="text-align: center;">BODY MEASUREMENTS (cm)</th></tr>
                <tr><th>AU/NZ</th><th>US</th><th>AGE</th><th>D | HEIGHT (cm)</th><th>A | CHEST (cm)</th><th>B | WAIST (cm)</th><th>C | HIP (cm)</th></tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>S</td><td>8</td><td>130</td><td>66-70</td><td>59-60</td><td>69-74</td></tr>
                <tr><td>10</td><td>M</td><td>10</td><td>140</td><td>72-76</td><td>61-63</td><td>75-81</td></tr>
                <tr><td>12</td><td>L</td><td>12</td><td>150</td><td>78-82</td><td>63-65</td><td>82-86</td></tr>
                <tr><td>14</td><td>XL</td><td>14</td><td>160</td><td>84-88</td><td>65-67</td><td>87-92</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div role="tabpanel" class="tab-pane" id="SizeChartWomenTab2">

    <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-3">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/girls-size-guide-bottom.jpg?1752357018023998126" alt="Roxy Girls Bottoms Size Chart" style="margin: 0 auto; "></p>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div>
            <h4>MEASURING POINTS</h4>
            <div class="chart-text-box">
              <h4 style="font-weight: bold;">A | WAIST</h4>
              <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
            </div>
            <div class="chart-text-box">
              <h4 style="font-weight: bold;">B | HIP</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
            </div>
        </div>

        <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
              <thead>
                  <tr><th colspan="3" style="text-align: center;">SIZE RANGE</th><th colspan="4" style="text-align: center;">BODY MEASUREMENTS (cm)</th></tr>
                  <tr><th>AU/NZ</th><th>US</th><th>AGE</th><th>C | HEIGHT (cm)</th><th>A | WAIST (cm)</th><th>B | HIP (cm)</th><th>D | INSEAM (cm)</th></tr>
              </thead>
              <tbody>
                  <tr><td>00</td><td>6/9M</td><td>3-6 Months</td><td>62-68</td><td>46</td><td>49</td><td>19</td></tr>
                  <tr><td>0K</td><td>12M</td><td>6-12 Months</td><td>68-76</td><td>48</td><td>52</td><td>23</td></tr>
                  <tr><td>1K</td><td>18M</td><td>1</td><td>76-84</td><td>50</td><td>55</td><td>32</td></tr>
                  <tr><td>2K</td><td>2T</td><td>2</td><td>84-92</td><td>52</td><td>58</td><td>34</td></tr>
                  <tr><td>3K</td><td>3T</td><td>3</td><td>92-100</td><td>54</td><td>60</td><td>39</td></tr>
                  <tr><td>4K</td><td>S</td><td>4</td><td>100-108</td><td>54</td><td>62</td><td>44.5</td></tr>
                  <tr><td>5K</td><td>M</td><td>5</td><td>108-114</td><td>58</td><td>64</td><td>48</td></tr>
                  <tr><td>6K</td><td>L</td><td>6</td><td>114-120</td><td>60</td><td>66</td><td>52</td></tr>
                  <tr><td>7K</td><td></td><td>7</td><td>120-125</td><td>62</td><td>68</td><td>56</td></tr>
                  <tr><td>8K</td><td>XL</td><td>8</td><td>125-130</td><td>64</td><td>70</td><td>58</td></tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- End of tab 2-->


  <div role="tabpanel" class="tab-pane" id="SizeChartWomenTab3">

    <div class="row">

      <div class="col-sm-3 col-md-3 col-lg-3">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/girls-size-guide-swimwear.jpg?3732411204317551654" alt="Roxy Girls Swimwear Size Chart" style="margin: 0 auto; "></p>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div>
            <h4>MEASURING POINTS</h4>
            <div class="chart-text-box">
              <h4 style="font-weight: bold;">A | CHEST</h4>
              <p class="text-uppercase" style="margin: 0">Lift your arms slightly and measure around your body, crossing over the fullest part of your chest.</p>
            </div>
            <div class="chart-text-box">
              <h4 style="font-weight: bold;">B | WAIST</h4>
              <p class="text-uppercase" style="margin: 0">Measure around your waistline at the level where you normally wear your pants.</p>
            </div>
            <div class="chart-text-box">
              <h4 style="font-weight: bold;">C | HIP</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips.</p>
            </div>
        </div>

        <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
                <tr><th colspan="3" style="text-align: center;">SIZE RANGE</th><th colspan="4" style="text-align: center;">BODY MEASUREMENTS (cm)</th></tr>
                <tr><th>AU/NZ</th><th>US</th><th>AGE</th><th>D | HEIGHT (cm)</th><th>A | CHEST (cm)</th><th>B | WAIST (cm)</th><th>C | HIP (cm)</th></tr>
            </thead>
            <tbody>
                <tr><td>8</td><td>S</td><td>8</td><td>130</td><td>66-70</td><td>59-60</td><td>69-74</td></tr>
                <tr><td>10</td><td>M</td><td>10</td><td>140</td><td>72-76</td><td>61-63</td><td>75-81</td></tr>
                <tr><td>12</td><td>L</td><td>12</td><td>150</td><td>78-82</td><td>63-65</td><td>82-86</td></tr>
                <tr><td>14</td><td>XL</td><td>14</td><td>160</td><td>84-88</td><td>65-67</td><td>87-92</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- End of tab 3-->

  <div role="tabpanel" class="tab-pane" id="SizeChartWomenTab4">

  <div class="row">

    <div class="col-sm-3 col-md-3 col-lg-3">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sizing-chart-girls-wetsuits-template.jpg?18158468970918717317" alt="Roxy Girls Wetsuits Size Chart" style="margin: 0 auto; "></p>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
        <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr><th colspan="2" style="text-align:center;">SIZE RANGE</th><th colspan="7" style="text-align:center;">BODY MEASUREMENTS (cm)</th></tr>
              <tr><th>SIZE</th><th>AGE</th><th>HEIGHT (cm)</th><th>WEIGHT (cm)</th><th>CHEST (cm)</th><th>WAIST (cm)</th><th>HIP (cm)</th><th>NECK (cm)</th><th>INSEAM (cm)</th></tr>
            </thead>
            <tbody>
              <tr><td>8G</td><td>8</td>
              <td>132-140</td>
              <td>32-36</td>
              <td>66-71</td>
              <td>56-61</td>
              <td>68-74</td>
              <td>29</td>
              <td>51-56</td></tr>
              <tr><td>10G</td><td>10</td>
              <td>140-147</td>
              <td>36-41</td>
              <td>70-75</td>
              <td>60-65</td>
              <td>72-77</td>
              <td>30</td>
              <td>55-60</td></tr>
              <tr><td>12G</td><td>12</td>
              <td>147-155</td>
              <td>41-45</td>
              <td>74-79</td>
              <td>63-68</td>
              <td>76-81</td>
              <td>32</td>
              <td>58-63</td></tr>
              <tr><td>14G</td><td>14</td>
              <td>155-163</td>
              <td>45-50</td>
              <td>77-82</td>
              <td>67-72</td>
              <td>79-84</td>
              <td>33</td>
              <td>62-67</td></tr>
              <tr><td>16G</td><td>16</td>
              <td>163-168</td>
              <td>50-54</td>
              <td>81-83</td>
              <td>71-76</td>
              <td>81-86</td>
              <td>34</td>
              <td>65-70</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <!-- End of tab 4-->

  <div role="tabpanel" class="tab-pane" id="SizeChartWomenTab5">

    <div>
      <div class="table_responsive">
        <table class="table table-bordered table-striped billa_boys">
          <thead>
              <tr><th colspan="2" style="text-align: center;">SIZE RANGE</th><th colspan="5" style="text-align: center;">BODY MEASUREMENTS (cm)</th></tr>
              <tr><th>SIZE</th><th>AGE</th><th>HEIGHT (cm)</th><th>CHEST (cm)</th><th>WAIST (cm)</th><th>HIP (cm)</th><th>INSEAM (cm)</th></tr>
          </thead>
          <tbody> 
              <tr><td>8G</td><td>8</td><td>127</td><td>62</td><td>58</td><td>68.5-71</td><td>58</td></tr>
              <tr><td>10G</td><td>10</td><td>137</td><td>68.5</td><td>60</td><td>73</td><td>66</td></tr>
              <tr><td>12G</td><td>12</td><td>152</td><td>73.5</td><td>63.5</td><td>76-80</td><td>68</td></tr>
              <tr><td>14G</td><td>14</td><td>162</td><td>80</td><td>66</td><td>86</td><td>71</td></tr>
              <tr><td>16G</td><td>16</td><td>165</td><td>86</td><td>68.5</td><td>92</td><td>76</td></tr>
          </tbody>
          </table>
        </div>
      </div>
  </div> <!-- End of tab 5-->

  <div role="tabpanel" class="tab-pane" id="SizeChartWomenTab6">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Roxy Girls Footwear Size Chart" style="margin: 0 auto; "></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <h4>GIRLS FOOTWEAR</h4>
      <div class="table_responsive">
        <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr><th colspan="2">SIZE RANGE</th></tr>
              <tr><th >AU</th><th>CM</th></tr>
            </thead>
            <tbody>
              <tr><td>1</td><td>20.9</td></tr>
              <tr><td>2</td>
              <td>21.7</td></tr>
              <tr><td>3</td>
              <td>22.5</td></tr>
              <tr><td>4</td>
              <td>23.3</td></tr>
              <tr><td>5</td>
              <td>24</td></tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- End of tab 6-->

<div role="tabpanel" class="tab-pane" id="SizeChartWomenTab7">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Roxy Girls Headwear Size Chart" style="margin: 0 auto; "></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <h4>GIRLS HELMETS</h4>
      <div class="table_responsive">
        <table class="table table-bordered table-striped billa_boys">
          <thead>
              <tr><th >SIZE</th><th>CIRCUMFERENCE (cm)</th></tr>
          </thead>
          <tbody>
              <tr><td>S</td><td>52</td></tr>
              <tr><td>M</td><td>54</td></tr>
              <tr><td>L</td><td>56</td></tr>
          </tbody>
        </table>
      </div>
      <p class="sizechart-note"><code>* Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </code></p>
      </div>
    </div>
  </div> <!-- End of tab 7-->

  </div> <!-- End of Girls Tabs-->
</div>
</div>
</div>