<div class="container" style="max-width: 1440px; width: 100%;">

	<h3 class="text-center title-under uppercase_txt home_title">HJC Information Page</h3>

	<div>
		<p>Since 1971, HJC has been a leading manufacturer of motorcycle helmets.  They dominate world market share crowded with top brands from around the globe.  HJC Helmets dedicates itself to three criteria for their products – superior quality, comfort and reasonable pricing. </p>
		<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/cnames-hjc-wan-ki-hong.jpg" style="margin-right: 10px; margin-bottom: 2px;" alt="Wan Ki HONG" title="Wan Ki HONG" align="left" /><p>HJC’s CEO and founder, Mr. W.K. Hong, re-invests 10% of the company’s revenue for R & D. With his dedication to innovation and by producing upscale and starter helmets alike, HJC Helmets had become the largest manufacturer of helmets.</p> 
		<p>Mr. W.K. Hong is a former member of the Korean Air Force.  He attributes his dedication to quality and business work ethics, to his family and culture.</p>
		<p>With the belief that MOTOGP represents the highest level of racing HJC partnered with Dorna. HJC Helmets became the Title Sponsor of 2016 HJC Helmets Grand Prix Ceske Republiky and 2017 HJC Helmets Grand Prix de France. With the success of the two Grand Prix race events, HJC has committed themselves to future race events.</p>
	</div>

	<center>
		<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-hjc-img-1.jpg?11341817547325435140" alt="Wan Ki HONG" title="Wan Ki HONG"></p>
	</center>

	<div class="divider divider--xs"></div>

	<div>
		<h4><b>Wind Tunnel</b></h4>
		<p>To ensure superior quality, HJC Helmets built its own state of the art wind tunnel testing laboratory. Through it, helmets are tested for aerodynamics, ventilation, noise, etc. as to mimic “real life” situation. Two helmet factories, one in Korea and another in Vietnam, were established to provide strategic venues for high end, mid and entry level helmets that are accessible to average consumers worldwide. </p>

		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center>
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-hjc-img-2.jpg?18077668549114235312" alt="Wan Ki HONG" title="Wan Ki HONG"></p>
				</center>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<center>
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-hjc-img-3.jpg?18077668549114235312" alt="Wan Ki HONG" title="Wan Ki HONG"></p>
				</center>
			</div>
		</div>
	</div>

	<div class="divider divider--xs"></div>

	<div>
		<h4><b>RPHA Series</b></h4>
		<p>The desire for an advance innovative technology had resulted to the birth of the HJC RPHA series in 2012.  The HJC RPHA Helmet series features Premium Integrated Matrix Plus (PIM+) construction for an extremely light weight shell, and superior aerodynamics and comfort. An advance ventilation channeling system and the unique composite shell design are the main highlights of the RPHA helmets. Being extremely lightweight, the RPHA helmets offer unparalleled comfort which makes them a popular choice among professional street racers such as 2-time Moto GP World Champion Jorge Lorenzo and 3-time AMA champion and 2009 WSBK Champion Ben Spies.</p>

		<div>
			<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-hjc-img-4.jpg?2988558374309489822" style="margin-right: 10px; margin-bottom: 2px;" alt="Wan Ki HONG" title="Wan Ki HONG" align="left" />
			<ul style="list-style: none;">
				<li> 1 - Fiberglass twillepoxy prepreg</li>
				<li> 2 - Organic non-woven fabric</li>
				<li> 3 - Aramid twill epoxy prepreg</li>
				<li> 4 - Organic non-woven fabric</li>
				<li> 5 - Fiberglass twillepoxy prepreg</li>
				<li> 6 - High performance organic fabric</li>
			</ul>
		</div>

		<p>HJC’s Premium Integrated Matrix (PIM) shell consists of a strong blend of highly technical fabrics. While most current helmets are adapting general unsaturated polyester resin and common fiberglass – HJC helmets are a combination of the highest levels of advanced materials. This use of advanced quality composite materials produces extremely high impact absorption and exceptional lightness thanks to its strong and flexible twill woven reinforcement.</p>

		<p>Aside from providing helmets for street racing, HJC helmets also utilized their technical capabilities and innovations for other kinds of helmets. They also offer off-road, modular, open face, snow and even auto helmets. The off-road FG-MX helmet was worn by X-Games Gold Medalist and FMX rider Nate Adams, as well as on the Supercross track by Mike Alessi and Kyle Chisholm.  The FG MX series consist of mid-range and lightweight fiberglass helmets that have features often requested by consumers a proof HJC Helmets has been ever generous in giving in to the demands of its avid users.</p>

		<p>Together with improving their quality, HJC Helmets continually adopts ideas for better style and design. Since 2016, HJC Helmets teamed up with world famous brands to bring Marvel heroes and Star Wars to the moto world. Moto enthusiasts who were fans of Boba Fett, Kylo Ren, Punisher, Spiderman, IronMan, Venom, DeadPool, Ghost Rider and Captain America were duly rewarded with vivid graphics. HJC also tied up with Disney-Pixar to bring the race hero Lightning McQueen and his arch-rival Jackson Storm into the streets. </p>
	</div>

	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-6">
			<center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/00-main-banner-marvel2.jpg?9308310355196355694" alt="HJC Marvel Helmets" title="HJC Marvel Helmets"></center>
			<div class="row">
				<div class="col-sm-6 col-md-3 col-lg-3">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/csr3-spider-1-1.jpg?9308310355196355694" alt="HJC Marvel Helmets" title="HJC Marvel Helmets"></p>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/hjcrpha70_st_iron_man_helmet.jpg?8524945452191908815" alt="HJC Marvel Helmets" title="HJC Marvel Helmets"></p>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-CL17-Captain-America-MC-2-Side.jpg?8524945452191908815" alt="HJC Marvel Helmets" title="HJC Marvel Helmets"></p>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-CL-17-The-Punisher-MC-5F-Sidep-1.jpg?8524945452191908815" alt="HJC Marvel Helmets" title="HJC Marvel Helmets"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6 col-md-3 col-lg-3">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/RPHA11-venom-02left1-1.jpg?8524945452191908815" alt="HJC Marvel Helmets" title="HJC Marvel Helmets"></p>
				</div>
				<div class="col-sm-6 col-md-3 col-lg-3">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/ghostrider-side.jpg?8524945452191908815" alt="HJC Marvel Helmets" title="HJC Marvel Helmets"></p>
				</div>
			</div>
		</div>

		<hr class="hidden-lg hidden-md hidden-sm">

		<div class="col-sm-6 col-md-3 col-lg-3">
			<center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/00-main-banner-starwars2.jpg?6233568804753487096" alt="HJC Starwar Helmets" title="HJC Starwar Helmets"></center>
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-6">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/rpha11kyloren01-1.jpg?9308310355196355694" alt="HJC Starwar Helmets" title="HJC Starwar Helmets"></p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-6">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/rpha11bobafett01-1.jpg?9308310355196355694" alt="HJC Starwar Helmets" title="HJC Starwar Helmets"></p>
				</div>
			</div>
		</div>

		<hr class="hidden-lg hidden-md hidden-sm">

		<div class="col-sm-6 col-md-3 col-lg-3">
			<center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/00-main-banner-pixar2.jpg?6233568804753487096" alt="HJC Disney Pixar Helmets" title="HJC Disney Pixar Helmets"></center>
			<div class="row">
				<div class="col-sm-4 col-md-4 col-lg-6">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/lmq-3.jpg?9308310355196355694" alt="HJC Disney Pixar Helmets" title="HJC Disney Pixar Helmets"></p>
				</div>
				<div class="col-sm-4 col-md-4 col-lg-6">
					<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/js-3.jpg?9308310355196355694" alt="HJC Disney Pixar Helmets" title="HJC Disney Pixar Helmets"></p>
				</div>
			</div>
		</div>
	</div>

	<div>
		<p>Motorcycle Industry Magazine had acknowledged HJC Helmets as the #1 Helmet Brand in North America since 1992 to the present. It is with great pride that HJC Helmets continues on a tradition of making helmets with superior quality and stylish designs. The desire for more improvement with quality and style goes on, so HJC helmets fans can always look forward to something new and better.  </p>

		<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/resources-hjc-img-5.jpg?11440284508608674333" alt="HJC Disney Pixar Helmets" title="HJC Disney Pixar Helmets"></p>

		<p>HJC helmets have a warranty against manufacturing defects for 3 years except for RPHA series helmets which are covered for 5 years.  Exceptions apply for negligence, misuse, modifications or accident.  For inquiries, see HJC Helmets Contact Information below:</p>

		<div>
			<p style="margin: 0;"><b>HJC Helmets</b></p>
			<p style="margin: 0;">511 S. Harbor Blvd. #V, La Habra, CA 90631</p>
			<p style="margin: 0;">tel. 562.407.2186</p>
			<p>fax. 562.802.7706</p>
			<p>(Monday through Friday, 8:30 am to 5:30 pm PST)</p>
		</div>

		<div class="divider divider--xs"></div>

		<div>
			<p style="margin: 0;"><b>General Information</b></p>
			<p>For all other general question, email HJC at <a href="mailto:support@hjchelmets.com">support@hjchelmets.com</a></p>
		</div>

		<div class="divider divider--xs"></div>

		<div>
			<p style="margin: 0;"><b>HJC Race Program</b></p>
			<p>For all racing sponsorship inquires, emails HJC at <a href="mailto:race@hjchelmets.com">race@hjchelmets.com</a></p>
		</div>
	</div>

</div>