<style>
  .bi-content-hide p:nth-of-type(3){
    font-size:1em; 

  }
  .tab-content p{
    text-align:justify; 
  }
  .table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .table.row{
    display: table;
    vertical-align: middle;
    margin: 0;
  }
  .cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 50%; 

  }
  .hjc-list{
    color:#777777!important;
  }
  .hjc-list li{
    color:#777777!important; 
  }


</style>
<div class="wall-addtl-info">


  <ul class="nav nav-tabs nav-tabs--ys1 nav-justified" id="oakley_tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#lens_info" role="tab" aria-controls="lens_info">BELL POWERSPORTS HELMET MANUAL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#lens_install_remove" role="tab" aria-controls="lens_install_remove">BELL STAR HELMET MANUAL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#goggle_care" role="tab" aria-controls="goggle_care">BELL REVOLVER EVO SNOW HELMET MANUAL</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="divider divider--lg"></div>
    <!--     TAB 1 -->
    <div class="tab-pane fade active" id="lens_info" role="tabpanel">
      <div class ="col-sm-12 col-md-12 col-lg-12">
        <div class ="row">
          <div class ="col-sm-12 col-md-6 col-lg-6">

            <h4>Introduction</h4>
            <p>
              Head Protection is a complicated subject which cannot be fully disclosed in tihs owner's manual. Regardless, before you ride, you should read this owner's manual careully for important information about your helmet.
            </p>
            <p>
              You should also store this manual in a place where you can retrieve it for periodic review or if any questions arise. You should not use your helmet until you have read and fully understand the contants of this manual. For additional information about your helmet and head protection, we encourage you to visit our website at www.bellpowersports.com.
            </p>
            <h4>About Some of the Limits of Your Helmet</h4>
            <p>

              Your Bell motorcycle helmet is designed to reduce or prevent certain injuries, and studies show you are better off in an accident if you are wearing a helmet than if you are not. Regardless, a motorcycle helmet cannot protect against all foreseeable impacts or injnuries. For example, your helmet cannot protect against spinal injuries, neck injuries, or any protion of the body it does not cover. In addition, it may not protect against injuries to areas the helmet does cover. For example, your helmet is made of energy absoribing materials which may or may not crush depending upon the impact. Sometimes the force of the impact is such that there is no crush, and sometimes the force of the impact is such that the material crushes completely, in either case at least some of the force of the impact is transmitted to the head and brain, and permanent injury or death may result. In addition, some head injuries are not caused by impacts. They are caused by other forces, like scrambling an egg just by shaking it. You do not have to destroy the shell to destroy the contents. Helmets cannot prevent this type of injury. Because of the wide variety of accidents scenarios, it is impossible to tell when your helmet will or will not protect against injury or death.
            </p>

          </div>
          <div class ="col-sm-12 col-md-6 col-lg-6">

            <h4>Short list of Do's and Dont's</h4>
            <ul style ="list-style-type:decimal";>
              <li><p>
                <b>Do</b> choose a helmet which fits properly;
                </p></li>
              <li><p>
                <strong class ="text-danger">Do not</strong> choose a helmet which interferes with your field of vision or your ability to hear;
                </p></li>
              <li><p>
                <b>Do</b> make sure that when the chin strap is fastened the helmet fits snugly all over your head, and low on your forehead so you can see the edge in your upper field of vision;
                </p></li>
              <li><p>
                <b>Always</b> wear the chinstrap tightly and securely fastened while riding;
                </p></li>

              <li><p>
                <strong class ="text-danger">Do not</strong> modify your helmet;
                </p></li>
              <li><p>
                <b>Do</b> check your helmet before each ride for signs of wear or damage;
                </p></li>
              <li><p>
                <strong class ="text-danger">Do not</strong> park your helmet on mirror stalks or sissy bars;
                </p></li>
              <li><p>
                <strong class ="text-danger">Do not</strong> carry your helmet on the motorcycle's helmet lock while riding;
                </p></li>
              <li><p>
                <strong class ="text-danger">Replace</strong> your helmet immediately if it shows signs of wear or damage;
                </p></li>
              <li><p>
                <strong class ="text-danger">Replace</strong> your helmet immediately after an impact, even if no damage is visible;
                </p></li>
              <li><p>
                <strong class ="text-danger">Replace</strong> your helmet at least every five years;
                </p></li>
              <li><p>
                <strong class ="text-danger">Do not</strong> loan or sell your helmet, or buy a used helmet;
                </p></li>
              <li><p>
                <strong class ="text-danger">Do not</strong> wear someone else's helmet;
                </p></li>
              <li><p>
                <b>Clean</b> your helmet with soap and water only;
                </p></li>
              <li><p>
                <b>Wear a helmet</b> whenever you ride;
                </p></li>
              <li><p>
                <b>Ride safely,</b> do not take risks just because you are wearing helmet.
                </p></li>
            </ul>

          </div>

        </div>
           <hr>
      </div>

      <div class ="col-sm-12 col-md-12 col-lg-12">
        <div class ="row">
          <div class ="col-sm-12 col-md-6 col-lg-6">
            <h4>Helmet Selection</h4>
            <p>Bell manufactures a variety of helmets at difference price points with different features. All helmets distributed by Bell meet or exceed the United States Department of Transportation Federal Motor Vehicle Safety Standard No. 218 ("DOT Safety Standard"). Most helmets sold by Bell also meet the Snell Memorial Foundation ("Snell") M2010 standard. The standards are too lengthy to cover in this manual, but are available at <a href = "www.smf.org">www.smf.org</a>, which includes a chart prepared by Snell which compares the two. Depending upon the type of crash you are in, a helmet certified to meet the Snell M2010 standard may provide protection that a helmet certified to meet the DOT Safety Standard does not provide. Also, a helmet certified only to the DOT Safety Standard, may not cover as much as the head as a helmet certified to the Snell M2010 Standard. The Snell M2010 Standard has a roll off test that the DOT Safety Standard does not have. It is important for the helmet to be in place on your head to provide protection, consequently a helmet which passes the Snell M2010 Standard may stay on your head better than a helmet certified only to the DOT Safety Standard. To pass the Snell M2010 Standard a helmet must absorb more energy, thus in some higher energy impacts a helmet certified to Snell M2010 Standard may provide protection a helmet certified to the DOT Safety Standard does not provide.</p>
            <p class ="text-danger"><i>Bell recommends you purchase and wear the helmet which provides the greatest amount of coverage and the best impact protection for your intended uses.</i></p>

          </div>
          <div class ="col-sm-12 col-md-6 col-lg-6">

          </div>

        </div>
      </div>



    </div>


    <!--     TAB 2 -->
    <div class="tab-pane fade" id="lens_install_remove" role="tabpanel">



    </div>




    <!--     TAB 3 -->

    <div class="tab-pane fade" id="goggle_care" role="tabpanel">


    </div>
  </div>
</div>







