<style type="text/css">
td{
  background: white;
  color: black;
}
.melvz h4{
  font-size: 16px;
}

.size-warn{
      font-size: 15px;
    color: #ff4343;
}

</style>

        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6">
                  <p>
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/speed-and-strength-chart.jpg?1742224507696152526" alt="Oakley Mens Size Chart">
                  </p>
              <div class="divider divider--xs"></div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-6">
             <div class="chart-text-box">
                <h4 class="melvz" style="font-weight: bold; ">A | CHEST</h4>
                <p class="text-uppercase" style="margin: 0;">Measure the widest part of your chest, under your armpits and around. Be sure that your arms are resting at your sides.</p>
             </div>
                <div class="chart-text-box">
                <h4 style="font-weight: bold; ">B | SLEEVE</h4>
                <p class="text-uppercase" style="margin: 0;">Measure from the middle of the back of your neck, over your shoulder, over your elbow, ending at your wrist.</p>
             </div>
             <div class="chart-text-box">
                <h4 style="font-weight: bold; ">C | WAIST</h4>
                <p class="text-uppercase" style="margin: 0;">Measure the smallest point of your waist all the way around.</p>
             </div>
             <div class="chart-text-box">
                <h4 style="font-weight: bold; ">D | INSEAM</h4>
                <p class="text-uppercase" style="margin: 0;">Measure from your crotch down to the top of your foot. for our 1pc suits, measure from your crotch down to the top of your ankle.</p>
             </div>
             <div class="chart-text-box">
                <h4 style="font-weight: bold; ">E | HAND</h4>
                <p class="text-uppercase" style="margin: 0;">Measure the width of your hand across your palm just below your knuckles (Do not include your thumb).</p>
             </div>
             <div class="chart-text-box">
                <h4 style="font-weight: bold; ">F | FOOT</h4>
                <p class="text-uppercase" style="margin: 0;">Measure from the bottom of your heel across your foot to the end of your toes.</p>
             </div>
          </div>
        </div>
      

    <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
        <li class="active"><a href="#Store-wall-SizeChartTab1" role="tab" data-toggle="tab" class="text-uppercase" aria-expanded="true">Mens</a></li>
        <li><a href="#Store-wall-SizeChartTab2" role="tab" data-toggle="tab" class="text-uppercase" aria-expanded="true">Womens</a></li>
        <li><a href="#Store-wall-SizeChartTab3" role="tab" data-toggle="tab" class="text-uppercase" aria-expanded="true">Helmets</a></li>
    </ul>

  <div class="tab-content tab-content--ys Sbs_store-wall-sizechart">

  <div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartTab1">

 <div class="tab-content tab-content--ys hidden-xs">

        <h4 style="text-transform: uppercase;">Men's Jackets</h4>
         <div class="table_responsive">
            <table class="table table-bordered table-striped">
               <thead>
                  <tr>
                     <th scope="col">Size</th>
                     <td>SM</td>
                     <td>MD</td>
                     <td>LG</td>
                     <td>XL</td>
                     <td>2XL</td>
                     <td>3XL</td>
                     <td>4XL</td>
                     <td>5XL</td>
                  </tr>
                  <tr>
                     <th scope="col">Chest</th>
                     <td>38-40</td>
                     <td>40-42</td>
                     <td>42-44</td>
                     <td>46-48</td>
                     <td>50-52</td>
                     <td>54-56</td>
                     <td>58-60</td>
                     <td>61-63</td>
                  </tr>
                  <tr>
                     <th scope="col">Sleeve</th>
                     <td>32</td>
                     <td>33</td>
                     <td>34</td>
                     <td>35</td>
                     <td>36</td>
                     <td>36.5</td>
                     <td>36.5</td>
                     <td>37</td>
                  </tr>
                  <tr>
                   <th scope="col">Waist</th>
                     <td>29-31</td>
                     <td>32-34</td>
                     <td>34-36</td>
                     <td>36-39</td>
                     <td>39-42</td>
                     <td>42-45</td>
                     <td>45-49</td>
                     <td>49-53</td>
                  </tr>

               </thead>
               <tbody>
               </tbody>
            </table>
            
         </div>
       <!-- Responsive Table -->
       <h4 class="size-warn">*All Measurements done in inches</h4>

       <div class="divider divider--md"></div>

       <div>
        <h4 style="text-transform: uppercase;">Men's Vests</h4>
       </div>
       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <td>SM</td>
                   <td>MD</td>
                   <td>LG</td>
                   <td>XL</td>
                   <td>2XL</td>
                   <td>3XL</td>
                   <td>4XL</td>
                   <td>5XL</td>
                </tr>
                <tr>
                   <th scope="col">Chest</th>
                   <td>38-40</td>
                   <td>40-42</td>
                   <td>42-44</td>
                   <td>46-48</td>
                   <td>50-52</td>
                   <td>54-56</td>
                   <td>58-60</td>
                   <td>61-63</td>
                </tr>
                <tr>
                 <th scope="col">Waist</th>
                   <td>29-31</td>
                   <td>32-34</td>
                   <td>34-36</td>
                   <td>36-39</td>
                   <td>39-42</td>
                   <td>42-45</td>
                   <td>45-49</td>
                   <td>49-53</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
        <h4 class="size-warn">*All Measurements done in inches</h4>

        <div class="divider divider--md"></div>

      <div>
        <h4 style="text-transform: uppercase;">Men's Jeans</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <td>30/32</td>
                   <td>32/32</td>
                   <td>34/32</td>
                   <td>36/32</td>
                   <td>38/32</td>
                   <td>40/32</td>
                   <td>30/34</td>
                   <td>32/34</td>
                   <td>34/34</td>
                   <td>36/34</td>
                   <td>38/34</td>
                   <td>40/34</td>
                </tr>
                <tr>
                   <th scope="col">Waist</th>
                   <td>32-33"</td>
                   <td>34-35"</td>
                   <td>36-37"</td>
                   <td>38-39"</td>
                   <td>40-41"</td>
                   <td>42-43"</td>
                   <td>32-33"</td>
                   <td>34-35"</td>
                   <td>36-37"</td>
                   <td>38-39"</td>
                   <td>40-41"</td>
                   <td>42-43"</td>
                </tr>
                <tr>
                   <th scope="col">Inseam Reg.</th>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                </tr>

             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->


      <div>
        <h4 style="text-transform: uppercase;">Men's Boots</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <td>8</td>
                   <td>9</td>
                   <td>10</td>
                   <td>11</td>
                   <td>12</td>
                   <td>13</td>
                </tr>
                <tr>
                   <th scope="col">Length</th>
                   <td>10.52</td>
                   <td>10.85</td>
                   <td>11.18</td>
                   <td>11.51</td>
                   <td>11.84</td>
                   <td>12.17</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
        <h4 class="size-warn">*All Measurements done in inches</h4>

        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">Men's Moto Shoes</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <td>8</td>
                   <td>9</td>
                   <td>10</td>
                   <td>11</td>
                   <td>12</td>
                   <td>13</td>
                </tr>
                <tr>
                   <th scope="col">Length</th>
                   <td>10.56</td>
                   <td>10.83</td>
                   <td>11.22</td>
                   <td>11.57</td>
                   <td>11.89</td>
                   <td>12.20</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
        <h4 class="size-warn">*All Measurements done in inches</h4>

        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">Men's Gloves</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Glove Size</th>
                   <td>XS</td>
                   <td>SM</td>
                   <td>MD</td>
                   <td>LG</td>
                   <td>XL</td>
                   <td>2XL</td>
                </tr>

                <tr>
                   <th scope="col">Palm Size</th>
                   <td>2 1/4" - 2 5/8"</td>
                   <td>2 5/8" - 3 1/4"</td>
                   <td>3 1/4" - 3 5/8"</td>
                   <td>3 5/8" - 4 1/4"</td>
                   <td>4 1/4" - 4 5/8"</td>
                   <td>4 5/8" - 5 1/4"</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
        <h4 class="size-warn">*All Measurements done in inches</h4>

        <div class="divider divider--md"></div>

</div>

<!-- tab1 mobile -->
<div class="tab-content tab-content--ys visible-xs">

       <h4 style="text-transform: uppercase;">Men's Jackets</h4>
       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <th scope="col">Chest</th>
                   <th scope="col">Sleeve</th>
                   <th scope="col">Waist</th>
                </tr>
                <tr>
                   <td>SM</td>
                   <td>38-40</td>
                   <td>32</td>
                   <td>29-31</td>
                   
                </tr>
                <tr>
                   <td>MD</td>
                   <td>40-42</td>
                   <td>33</td>
                   <td>32-34</td>
                </tr>

                <tr>
                   <td>LG</td>
                   <td>42-44</td>
                   <td>34</td>
                   <td>34-36</td>
                </tr>

                <tr>
                  <td>XL</td>
                  <td>46-48</td>
                  <td>35</td>
                  <td>36-39</td>
                </tr>

                <tr>
                  <td>2XL</td>
                  <td>50-52</td>
                  <td>36</td>
                  <td>39-42</td>
                </tr>

                <tr>
                  <td>3XL</td>
                  <td>54-56</td>
                  <td>36.5</td>
                  <td>42-45</td>
                </tr>

                <tr>
                  <td>4XL</td>
                  <td>58-60</td>
                  <td>36.5</td>
                  <td>45-49</td>
                </tr>

                <tr>
                  <td>5XL</td>
                  <td>61-63</td>
                  <td>37</td>
                  <td>49-53</td>
                </tr>

             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
       <h4 class="size-warn">*All Measurements done in inches</h4>

       <div class="divider divider--md"></div>

       <div>
        <h4 style="text-transform: uppercase;">Men's Vests</h4>
       </div>
       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <th scope="col">Chest</th>
                   <th scope="col">Waist</th>
                </tr>
                <tr>
                   <td>SM</td>
                   <td>38-40</td>
                   <td>29-31</td>
                </tr>
                <tr> 
                   <td>MD</td>
                   <td>40-42</td>
                   <td>32-34</td>
                </tr>

                <tr>
                  <td>LG</td>
                  <td>42-44</td>
                  <td>34-36</td>
                </tr>
                <tr>
                  <td>XL</td>
                  <td>46-48</td>
                  <td>36-39</td>
                </tr>
                <tr>
                  <td>2XL</td>
                  <td>50-52</td>
                  <td>39-42</td>
                </tr>

                <tr>
                  <td>3XL</td>
                  <td>54-56</td>
                  <td>42-45</td>
                </tr>
                <tr>
                  <td>4XL</td>
                  <td>58-60</td>
                  <td>45-49</td>
                </tr>
                <tr>
                  <td>5XL</td>
                  <td>61-63</td>
                  <td>49-53</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
        <h4 class="size-warn">*All Measurements done in inches</h4>

        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">Men's Jeans</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <th scope="col">Waist</th>
                   <th scope="col">Inseam Reg.</th>
                </tr>

                <tr>
                  <td>30/32</td>
                  <td>32-33"</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>32/32</td>
                  <td>34-35"</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>34/32</td>
                  <td>36-37"</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>36/32</td>
                  <td>38-39"</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>38/32</td>
                  <td>40-41"</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>40/32</td>
                  <td>42-43"</td>
                  <td>32</td>
                </tr>
                <tr>
                  <td>30/34</td>
                  <td>32-33"</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>32/34</td>
                  <td>34-35"</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>34/34</td>
                  <td>36-37"</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>36/34</td>
                  <td>38-39"</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>38/34</td>
                  <td>40-41"</td>
                  <td>34</td>
                </tr>
                <tr>
                  <td>40/34</td>
                  <td>42-43"</td>
                  <td>34</td>
                </tr>

             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->


      <div>
      <h4 style="text-transform: uppercase;">Men's Boots</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <th scope="col">Length</th>
                </tr>
                <tr>
                   <td>8</td>
                   <td>10.52</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>10.85</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>11.18</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>11.51</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>11.84</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>12.17</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
        <h4 class="size-warn">*All Measurements done in inches</h4>

        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">Men's Moto Shoes</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Size</th>
                   <th scope="col">Length</th>
                </tr>
                <tr>
                  <td>8</td>
                  <td>10.56</td>
                </tr>
                <tr>
                  <td>9</td>
                  <td>10.83</td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>11.22</td>
                </tr>
                <tr>
                  <td>11</td>
                  <td>11.57</td>
                </tr>
                <tr>
                  <td>12</td>
                  <td>11.89</td>
                </tr>
                <tr>
                  <td>13</td>
                  <td>12.20</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
        <h4 class="size-warn">*All Measurements done in inches</h4>

        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">Men's Gloves</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Glove Size</th>
                   <th scope="col">Palm Size</th>
                </tr>

                <tr>
                  <td>XS</td>
                  <td>2 1/4" - 2 5/8"</td>
                </tr>
                <tr>
                  <td>SM</td>
                  <td>2 5/8" - 3 1/4"</td>
                </tr>
                <tr>
                  <td>MD</td>
                  <td>3 1/4" - 3 5/8"</td>
                </tr>
                <tr>
                  <td>LG</td>
                  <td>3 5/8" - 4 1/4"</td>
                </tr>
                <tr>
                  <td>XL</td>
                  <td>4 1/4" - 4 5/8"</td>
                </tr>
                <tr>
                  <td>2XL</td>
                  <td>4 5/8" - 5 1/4"</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
          
       </div>
       <!-- Responsive Table -->
        <h4 class="size-warn">*All Measurements done in inches</h4>

        <div class="divider divider--md"></div>

</div>
<!-- tab1 mobile end-->
  </div>  <!-- Store-wall-SizeChartTab1 mobile-->



  <div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab2">

  <div class="tab-content tab-content--ys hidden-xs">
    <div>
      <h4 style="text-transform: uppercase;">Women's Leather</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <td>XS</td>
                   <td>SM</td>
                   <td>MD</td>
                   <td>LG</td>
                   <td>XL</td>
                   <td>2XL</td>
                </tr>
                <tr>
                   <th scope="col">Bust</th>
                   <td>31</td>
                   <td>33-34</td>
                   <td>35-36</td>
                   <td>37-39</td>
                   <td>40-42</td>
                   <td>42-44</td>
                </tr>
                <tr>
                   <th scope="col">Waist</th>
                   <td>24-25</td>
                   <td>26-27</td>
                   <td>28-29</td>
                   <td>30-31</td>
                   <td>32-34</td>
                   <td>34-36</td>
                </tr>
                <tr>
                   <th scope="col">Hip</th>
                   <td>35-36</td>
                   <td>37-38</td>
                   <td>39-40</td>
                   <td>41-42</td>
                   <td>43-44</td>
                   <td>44-45</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->



      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S TEXTILE</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <td>XS</td>
                   <td>SM</td>
                   <td>MD</td>
                   <td>LG</td>
                   <td>XL</td>
                   <td>2XL</td>
                </tr>
                <tr>
                   <th scope="col">Bust</th>
                   <td>31</td>
                   <td>33-34</td>
                   <td>35-36</td>
                   <td>37-39</td>
                   <td>40-42</td>
                   <td>43-45</td>
                </tr>
                <tr>
                   <th scope="col">Waist</th>
                   <td>24-25</td>
                   <td>26-27</td>
                   <td>28-29</td>
                   <td>30-31</td>
                   <td>32-34</td>
                   <td>34-36</td>
                </tr>
                <tr>
                   <th scope="col">Hip</th>
                   <td>35-36</td>
                   <td>37-38</td>
                   <td>39-40</td>
                   <td>41-42</td>
                   <td>43-44</td>
                   <td>44-45</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->


      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S MESH JACKETS</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <td>XS</td>
                   <td>SM</td>
                   <td>MD</td>
                   <td>LG</td>
                   <td>XL</td>
                   <td>2XL</td>
                   <td>3XL</td> 
                </tr>
                <tr>
                   <th scope="col">Bust</th>
                   <td>31</td>
                   <td>33-34</td>
                   <td>35-36</td>
                   <td>37-39</td>
                   <td>40-42</td>
                   <td>42-44</td>
                   <td>45-48</td>
                </tr>
                <tr>
                   <th scope="col">Waist</th>
                   <td>24-25</td>
                   <td>26-27</td>
                   <td>28-29</td>
                   <td>30-31</td>
                   <td>32-34</td>
                   <td>34-36</td>
                   <td>37-39</td>
                </tr>
                <tr>
                   <th scope="col">Hip</th>
                   <td>35-36</td>
                   <td>37-38</td>
                   <td>39-40</td>
                   <td>41-42</td>
                   <td>43-44</td>
                   <td>44-45</td>
                   <td>46-49</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
       <h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>


      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S VESTS</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <td>XS</td>
                   <td>SM</td>
                   <td>MD</td>
                   <td>LG</td>
                   <td>XL</td>
                   <td>2XL</td>
                </tr>
                <tr>
                   <th scope="col">CHEST</th>
                   <td>32</td>
                   <td>33-34</td>
                   <td>35-36</td>
                   <td>37-39</td>
                   <td>40-42</td>
                   <td>43-46</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
       <h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S JEANS</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <td>2</td>
                   <td>4</td>
                   <td>6</td>
                   <td>8</td>
                   <td>10</td>
                   <td>12</td>
                   <td>14</td>
                   <td>16</td>
                   <td>18</td>
                </tr>
                <tr>
                   <th scope="col">Waist</th>
                   <td>28.5</td>
                   <td>30</td>
                   <td>31.5</td>
                   <td>33</td>
                   <td>34.5</td>
                   <td>36</td>
                   <td>37.5</td>
                   <td>39</td>
                   <td>40.5</td>
                </tr>
                <tr>
                   <th scope="col">Inner Leg R</th>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                   <td>32</td>
                </tr>
                <tr>
                   <th scope="col">Inner Leg L</th>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                   <td>34</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
<h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S BOOTS</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <td>6</td>
                   <td>7</td>
                   <td>8</td>
                   <td>9</td>
                   <td>10</td>
                </tr>
                <tr>
                   <th scope="col">Length</th>
                   <td>9.78</td>
                   <td>10.05</td>
                   <td>10.31</td>
                   <td>10.57</td>
                   <td>10.83</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->

       <h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S SHOES</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <td>6</td>
                   <td>7</td>
                   <td>8</td>
                   <td>9</td>
                   <td>10</td>
                </tr>
                <tr>
                   <th scope="col">Length</th>
                   <td>9.41</td>
                   <td>9.72</td>
                   <td>10.08</td>
                   <td>10.39</td>
                   <td>10.71</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
<h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

</div> <!-- ys -->
<!-- tab2 mobile -->
<div class="tab-content tab-content--ys visible-xs">
    <div>
      <h4 style="text-transform: uppercase;">Women's Leather</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <th scope="col">Bust</th>
                   <th scope="col">Waist</th>
                   <th scope="col">Hip</th>
                </tr>

                <tr>
                  <td>XS</td>
                  <td>31</td>
                  <td>24-25</td>
                  <td>35-36</td>
                </tr>

                <tr>
                  <td>SM</td>
                  <td>33-34</td>
                  <td>26-27</td>
                  <td>37-38</td>
                </tr>

                <tr>
                  <td>MD</td>
                  <td>35-36</td>
                  <td>28-29</td>
                  <td>39-40</td>
                </tr>

                <tr>
                  <td>LG</td>
                  <td>37-39</td>
                  <td>30-31</td>
                  <td>41-42</td>
                </tr>

                <tr>
                  <td>XL</td>
                  <td>40-42</td>
                  <td>32-34</td>
                  <td>43-44</td>
                </tr>

                <tr>
                  <td>2XL</td>
                  <td>42-44</td>
                  <td>34-36</td>
                  <td>44-45</td>
                </tr>
                
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->


      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S TEXTILE</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <th scope="col">Bust</th>
                   <th scope="col">Waist</th>
                   <th scope="col">Hip</th>
                </tr>
                <tr>
                  <td>XS</td>
                  <td>31</td>
                  <td>24-25</td>
                  <td>35-36</td>
                </tr>

                <tr>
                  <td>SM</td>
                  <td>33-34</td>
                  <td>26-27</td>
                  <td>37-38</td>
                </tr>

                <tr>
                  <td>MD</td>
                  <td>35-36</td>
                  <td>28-29</td>
                  <td>39-40</td>
                </tr>

                <tr>
                  <td>LG</td>
                  <td>37-39</td>
                  <td>30-31</td>
                  <td>41-42</td>
                </tr>

                <tr>
                  <td>XL</td>
                  <td>40-42</td>
                  <td>32-34</td>
                  <td>43-44</td>
                </tr>

                <tr>
                  <td>2XL</td>
                  <td>43-45</td>
                  <td>34-36</td>
                  <td>44-45</td>
                </tr>

             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->


      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S MESH JACKETS</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <th scope="col">Bust</th>
                   <th scope="col">Waist</th>
                   <th scope="col">Hip</th>
                </tr>

                <tr>
                  <td>XS</td>
                  <td>31</td>
                  <td>24-25</td>
                  <td>35-36</td>
                </tr>

                <tr>
                  <td>SM</td>
                  <td>33-34</td>
                  <td>26-27</td>
                  <td>37-38</td>
                </tr>

                <tr>
                  <td>MD</td>
                  <td>35-36</td>
                  <td>28-29</td>
                  <td>39-40</td>
                </tr>

                <tr>
                  <td>LG</td>
                  <td>37-39</td>
                  <td>30-31</td>
                  <td>41-42</td>
                </tr>

                <tr>
                  <td>XL</td>
                  <td>40-42</td>
                  <td>32-34</td>
                  <td>43-44</td>
                </tr>

                <tr>
                  <td>2XL</td>
                  <td>42-44</td>
                  <td>34-36</td>
                  <td>44-45</td>
                </tr>

                <tr>
                  <td>3XL</td>
                  <td>45-48</td>
                  <td>37-39</td>
                  <td>46-49</td>
                </tr>


             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
       <h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S VESTS</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <th scope="col">CHEST</th>
                </tr>

                <tr>
                   <td>XS</td>
                   <td>32</td>
                </tr>

                <tr>
                   <td>SM</td>
                   <td>33-34</td>
                </tr>

                <tr>
                   <td>MD</td>
                   <td>35-36</td>
                </tr>

                <tr>
                   <td>LG</td>
                   <td>37-39</td>
                </tr>

                <tr>
                   <td>XL</td>
                   <td>40-42</td>
                </tr>

                <tr>
                   <td>2XL</td>
                   <td>43-46</td>
                </tr>


             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
       <h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S JEANS</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <th scope="col">Waist</th>
                   <th scope="col">Inner Leg R</th>
                   <th scope="col">Inner Leg L</th>
                </tr>
                <tr>
                  <td>2</td>
                  <td>28.5</td>
                  <td>32</td>
                  <td>34</td>
                </tr>

                <tr>
                  <td>4</td>
                  <td>30</td>
                  <td>32</td>
                  <td>34</td>
                </tr>

                <tr>
                  <td>6</td>
                  <td>31.5</td>
                  <td>32</td>
                  <td>34</td>
                </tr>

                <tr>
                  <td>8</td>
                  <td>33</td>
                  <td>32</td>
                  <td>34</td>
                </tr>

                <tr>
                  <td>10</td>
                  <td>34.5</td>
                  <td>32</td>
                  <td>34</td>
                </tr>

                <tr>
                  <td>12</td>
                  <td>36</td>
                  <td>32</td>
                  <td>34</td>
                </tr>

                <tr>
                  <td>14</td>
                  <td>37.5</td>
                  <td>32</td>
                  <td>34</td>
                </tr>

                <tr>
                  <td>16</td>
                  <td>39</td>
                  <td>32</td>
                  <td>34</td>
                </tr>

                <tr>
                  <td>18</td>
                  <td>40.5</td>
                  <td>32</td>
                  <td>34</td>
                </tr>
               
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
<h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S BOOTS</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <th scope="col">Length</th>
                </tr>
                <tr>
                  <td>6</td>
                  <td>9.78</td>
                </tr>

                <tr>
                  <td>7</td>
                  <td>10.05</td>
                </tr>

                <tr>
                  <td>8</td>
                  <td>10.31</td>
                </tr>

                <tr>
                  <td>9</td>
                  <td>10.57</td>
                </tr>

                <tr>
                  <td>10</td>
                  <td>10.83</td>
                </tr>


             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
<h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

      <div>
      <h4 style="text-transform: uppercase;">WOMEN'S SHOES</h4>
      </div>

       <div class="table_responsive" style="font-size: 13px;text-align:center;">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <th scope="col">Length</th>
                </tr>

                <tr>
                  <td>6</td>
                  <td>9.41</td>
                </tr>

                <tr>
                  <td>7</td>
                  <td>9.72</td>
                </tr>

                <tr>
                  <td>8</td>
                  <td>10.08</td>
                </tr>

                <tr>
                  <td>9</td>
                  <td>10.39</td>
                </tr>

                <tr>
                  <td>10</td>
                  <td>10.71</td>
                </tr>

             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
<h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

</div> <!-- ys -->
<!-- tab 2 mobile end -->
  </div> <!-- Store-wall-SizeChartTab2 mobile -->



  <div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab3">

  <div class="tab-content tab-content--ys hidden-xs">

                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                     <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/helmets-sizing-chart.jpg?8868176541205590841" alt="Speed and Strength Helmets Size Chart" style="margin: 0 auto;"></p>
                    </div>
                  </div>
                  <h4 style="text-transform: uppercase;">HOW TO MEASURE A PROPER HELMET</h4>
                  <p><span style="font-weight: bold;">SIZING:</span> To measure your head size, wrap a tape measure horizontally around your forehead. Select the helmet that is the closest fit to that size. A helmet should fit snug on your head. If it moves while wearing, it is too large. If it is painful to wear, it is too small. For proper sizing, your nearest dealer will be able to help you get sized up.</p>
                  <p><span style="font-weight: bold;">FITTING:</span> Open the chin straps and slide the helmet onto your head starting at the forehead. A helmet should feel snug. If it slides on easily it is too big. It should feel tight to pull down. Make sure the inner padding fits snug all around. You should feel the padding pressing against your cheeks and head. The last check for a proper fit is to test if it moves while wearing, there should be no movement if you shake your head. Place your hands on the helmet and move it front to back and side-to-side. If there is a lot of movement, try a size down.</p>

<div>
      <h4 style="text-transform: uppercase;">ADULT HELMET SIZE CHART</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <td>XS</td>
                   <td>SM</td>
                   <td>MD</td>
                   <td>LG</td>
                   <td>XL</td>
                   <td>2XL</td>
                </tr>
                <tr>
                   <th scope="col">Head</th>
                   <td>20 7/8" – 21 1/4"</td>
                   <td>21 5/8" – 22"</td>
                   <td>22 1/2" – 22 7/8"</td>
                   <td>23 1/4" – 23 5/8"</td>
                   <td>24" – 24 3/8"</td>
                   <td>24 3/4" – 25 1/4"</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
       <h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

<div>
      <h4 style="text-transform: uppercase;">YOUTH HELMET SIZE CHART</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Helmet Size</th>
                   <td>SM</td>
                   <td>MD</td>
                   <td>LG</td>
                </tr>
                <tr>
                   <th scope="col">Head Measurement</th>
                   <td>19 1/8 – 19 1/2</td>
                   <td>20 1/16 - 20 7/16</td>
                   <td>20 7/8 - 21 1/4</td>
                </tr>
             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
<h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

</div>

<!-- tab3 mobile -->
<div class="tab-content tab-content--ys visible-xs">

                  <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                     <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/helmets-sizing-chart.jpg?8868176541205590841" alt="Speed and Strength Helmets Size Chart" style="margin: 0 auto;"></p>
                    </div>
                  </div>
                  <h4 style="text-transform: uppercase;">HOW TO MEASURE A PROPER HELMET</h4>
                  <p><span style="font-weight: bold;">SIZING:</span>To measure your head size, wrap a tape measure horizontally around your forehead. Select the helmet that is the closest fit to that size. A helmet should fit snug on your head. If it moves while wearing, it is too large. If it is painful to wear, it is too small. For proper sizing, your nearest dealer will be able to help you get sized up.</p>
                  <p><span style="font-weight: bold;">FITTING:</span>Open the chin straps and slide the helmet onto your head starting at the forehead. A helmet should feel snug. If it slides on easily it is too big. It should feel tight to pull down. Make sure the inner padding fits snug all around. You should feel the padding pressing against your cheeks and head. The last check for a proper fit is to test if it moves while wearing, there should be no movement if you shake your head. Place your hands on the helmet and move it front to back and side-to-side. If there is a lot of movement, try a size down.</p>

<div>
      <h4 style="text-transform: uppercase;">ADULT HELMET SIZE CHART</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Sizes</th>
                   <th scope="col">Head</th>
                </tr>
                <tr>
                    <td>XS</td>
                    <td>20 7/8" – 21 1/4"</td>
                </tr>

                <tr>
                    <td>SM</td>
                    <td>21 5/8" – 22"</td>
                </tr>

                <tr>
                    <td>MD</td>
                    <td>22 1/2" – 22 7/8"</td>
                </tr>

                <tr>
                    <td>LG</td>
                    <td>23 1/4" – 23 5/8"</td>
                </tr>

                <tr>
                    <td>XL</td>
                    <td>24" – 24 3/8"</td>
                </tr>

                <tr>
                    <td>2XL</td>
                    <td>24 3/4" – 25 1/4"</td>
                </tr>

             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
       <h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

<div>
      <h4 style="text-transform: uppercase;">YOUTH HELMET SIZE CHART</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <thead>
                <tr>
                   <th scope="col">Helmet Size</th>
                   <th scope="col">Head Measurement</th>
                </tr>
                <tr>
                    <td>SM</td>
                    <td>19 1/8 – 19 1/2</td>
                </tr>

                <tr>
                    <td>MD</td>
                    <td>20 1/16 - 20 7/16</td>
                </tr>

                <tr>
                    <td>LG</td>
                    <td>20 7/8 - 21 1/4</td>
                </tr>

             </thead>
             <tbody>
             </tbody>
          </table>
       </div>
       <!-- Responsive Table -->
<h4 class="size-warn">*All Measurements done in inches</h4>
        <div class="divider divider--md"></div>

</div>
<!-- tab3 mobile end -->
</div>


</div> <!-- Sbs_store-wall-sizechart -->
