
	<!-- two col -->
	<div class="row">
		<div class="col-md-12">
			<!-- title -->
			<div class="title-box">
				<h1 class="text-center text-uppercase title-under">Frequently Asked Questions</h1>
			</div>
			<!-- /title -->
			<h3 class="color font30 moto_content_title">Shipping Payments and Item Order</h3>
			<!--  -->
			<div class="collapse-block collapse-block--indent-lg">
				<h4 class="collapse-block__title collapse-block__icon-left">How much will I end up paying for shipping?</h4>
				<div class="collapse-block__content">
				<p>
					Shipping and handling fees are calculated based on UPS shipping fees. Our minimum shipping and handling fee is $10.
					We ship either UPS Ground or Priority mail depending on the merchandise. We also have UPS 3 day, 2nd day and next day shipments available. There are extra fees for over-sized items.
				</p>
				</div>
			</div>
			<!-- / -->
          
          <div class="collapse-block collapse-block--indent-lg">
		<h4 class="collapse-block__title collapse-block__icon-left">How much will it cost to ship my order?</h4>
            <div class="collapse-block__content" style="display: none;">Shipping price is based on the total size and weight of your order after it has been packaged. Our minimum S/H charge is $10 which covers shipping and handling costs. Regardless of initial shipping charges, all exchanges will be assessed a minimum $10 fee. There are extra UPS charges for oversized items. Most orders over $100 ship free! <a href="https://motorhelmets.com/pages/shipping-information"><span style="color:	 blue;">Click here</span></a>  to see our complete shipping policy.</div>
			</div>
            
                        
              <div class="collapse-block collapse-block--indent-lg">
		<h4 class="collapse-block__title collapse-block__icon-left">Why is Ground Shipping my only shipping option?</h4>
		<div class="collapse-block__content" style="display: none;">Free Ground Shipping on all orders over $100 to 48 Lower States. Free shipping applies to helmets & apparel only (jackets, gloves, pants, sunglasses). Motorcycle Boots, Hard parts, body parts, luggage, oils, tires, batteries and oversized items do not apply. Does not apply to orders to Canada, Guam, Puerto Rico, APO or other Military addresses, or other addresses outside the United States. Shipping is M-F only and does not include special holiday or weekend deliveries. Enter promotional code freeshipping75 during checkout.</div>
			</div>
              
                         
              <div class="collapse-block collapse-block--indent-lg">
		<h4 class="collapse-block__title collapse-block__icon-left">Can my order be shipped internationally?</h4>
		<div class="collapse-block__content" style="display: none;"><p> Yes we ship all over the world, including Australia, UK, Japan, Singapore, Brazil, Saudi Arabia, the Middle East and Mexico. Here's how to order from us. We accept payments through Paypal or Wire Transfers only.</p><ul><li>When checking out, select your country</li><li>A shipping cost will not be calculated. Ignore any shipping costs assessed</li><li>Select Google Wallet or Wire Transfer as your means of payment</li><li>Select your Shipping Carrier of Choice (US Post or UPS)</li><li>Finish your checkout process. Be sure to include your email address</li><li>We will then email you a final cost with shipment</li><li>If you wish to proceed, please make payment via Google Wallet or Wire Transfer</li><li>We will then ship your package US Post or through the carrier of your choice</li></ul><p>For further inquires, email us at service@motorhelmets.com or use the form below.</p><p> We ship UPS and USMail Priority. We have shipping warehouses located on both coasts of the country and depending on stock and availability, you may receive shipments from either locations. Using the UPS shipping guide at UPS.COM is a good guide. Shift Racing, Ogio, Bell, Suomy, Z1R, Fly Racing, No Fear, MSR Racing, Answer Racing, Troy Lee Designs, Scott, Oakley Optics & Goggles, Spy Optics, VonZipper Sunglasses, One Industries, KBC, Yoshimura, Dunlop, Michelin, and much more.</p> <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/US-MAP.png?2866836371028230532"></center>
		</div>
			</div>
              
              <div class="collapse-block collapse-block--indent-lg">
		<h4 class="collapse-block__title collapse-block__icon-left">Is there any limited time option?</h4>
		<div class="collapse-block__content" style="display: none;"><p>FOR A LIMITED TIME, WE ARE OFFERING FREE SHIPPING INTERNATIONAL ORDERS. WE SPECIALIZE IN SHIPPING TO COUNTRIES SUCH AS AUSTRALIA, BRAZIL, UK, NEW ZEALAND AND JAPAN.</p><ul><li>Minimum order of $999 required (Valid for Helmets, Apparel and Luggage only. Hard Parts, Body Parts, Oils, Tires, Batteries and Oversized items excluded)</li><li>In your shopping cart, select Free Shipping over $999 as your shipping option</li><li>Free Standard Shipping offers for orders shipping outside the USA. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day)</li><li>Applies only to orders shipping to a single address</li><li>All oversized and additional shipping charges still apply</li><li>Not valid with any other offer</li><li>Delivery times may vary. Orders are processed and delivered during the business week (Monday – Friday) only and do not guarantee delivery by a specific date or time</li><li>If you return items purchased using this offer, and your order drops below the threshold, then you may be charged a shipping fee</li><li>Order cancellations or returns are subject to our cancellation fees</li><li>Order cancellations or orders resulting in non receipt of merchandise is subject to our minimum shipping charges</li><li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items</li><li>Check our <a href="https://motorhelmets.com/pages/shopping-policies"><span style="color: blue;"> Shopping Policies</a> page for additional information</li></ul></div>
			</div>
              
              
			<!--  -->
			<div class="collapse-block collapse-block--indent-lg">
				<h4 class="collapse-block__title collapse-block__icon-left">What happens after I place an order?</h4>
				<div class="collapse-block__content">
					<p>
						After you place your order you will receive an email confirmation. Your credit card will be verified and then your merchandise will be shipped.
						If your item is not in stock, a customer service representative will call or email you promptly. If you place your order with the intention of mailing in a check or money order, then a representative will hold your order until the check arrives.
					</p>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="collapse-block collapse-block--indent-lg">
				<h4 class="collapse-block__title collapse-block__icon-left">Is it safe to use my credit card online and will the information I give you remain confidential?</h4>
				<div class="collapse-block__content">
					<p>
						Yes, yes yes! Your information is used only to process your order. We do not sell customer data to anyone. It is kept strictly in-house.
						We use secure servers to process your orders so place your orders with 100% confidence.
					</p>
				</div>
			</div>

			<div class="collapse-block collapse-block--indent-lg">
				<h4 class="collapse-block__title collapse-block__icon-left">Can I cancel an order I just placed?</h4>
				<div class="collapse-block__content">
					<p>
						If your order has yet to be processed, then we will be able to cancel your order without incurring fees or charges.
						In the event that your order has been processed, then your package will arrive. You have 2 choices after this. 1) Refuse the package from the carrier. The package will then arrive back to us. You will be responsible for shipping and a restocking fee. 2) Accept the package and then ship it back to us w/ an RMA number.
						You will need to fill out our RMA Form and request a Return Number. After our customer service gives you a return number, write it on the outside of the original shipping box, with our shipping address clearly indicated and then use a carrier like UPS to send it. You will be responsible for tracking and insuring your package.
						If the package is lost, it will be your responsibility. You will then need to send in a claim with your carrier.
					</p>
				</div>
			</div>
			<!-- / -->
			<div class="divider divider--md"></div>
			<h3 class="color font30 moto_content_title">Delivery</h3>
			<!--  -->
			<div class="collapse-block collapse-block--indent-lg">
				<h4 class="collapse-block__title collapse-block__icon-left">How soon will my order arrive?</h4>
				<div class="collapse-block__content">
					<p>
					Packages normally arrive in 3 to 10 working days. We have warehouses on the West and East Coast. So depending on where you live and which warehouse your item is shipped out of, it may take up to 2 weeks.
					If your package does not arrive within 2 weeks, email us so that we can trace it. Your item may be lost, and we will make arrangements to have another one shipped out immediately.
					</p>
				</div>
			</div>
			<!-- / -->
			<!--  -->
			<div class="collapse-block collapse-block--indent-lg">
				<h4 class="collapse-block__title collapse-block__icon-left">What happens if my merchandise comes damaged right out of the box?</h4>
				<div class="collapse-block__content">
					<p>
						We apologize for this, but this does happen sometimes when merchandise is being shipped. First of all do not panic. Call us.
						Do not throw away anything including the box it arrived in. It will be used as evidence by the carrier to verify that it was mishandled.
						Please do not use the merchandise in any way. We may then arrange a replacement item to be shipped to you. Every instance will be determined on a case by case basis.
					</p>
				</div>
			</div>
			<!--  -->
			<!-- / -->
			<div class="divider divider--md"></div>
			<h3 class="color font30 moto_content_title">Return and Exchange</h3>
			<!--  -->
			<div class="collapse-block collapse-block--indent-lg">
				<h4 class="collapse-block__title collapse-block__icon-left">What happens if I just want to return the merchandise because I'm unhappy with it or if I just changed my mind?</h4>
				<div class="collapse-block__content">
					<p>
					Please fill out our<a href="https://motorhelmets.com/pages/returns-and-exchanges"><span style="color:blue;"> Return Merchandise Authorization Form</span> </a> . You will receive further instructions.
					</p>
				</div>
			</div>
			<!-- / -->
			
			<div class="divider divider--md"></div>
			<h3 class="color font30 moto_content_title">Others</h3>
			<!--  -->
			<div class="collapse-block collapse-block--indent-lg">
				<h4 class="collapse-block__title collapse-block__icon-left">How come when I Click a Buy Button I get "Security Error, Method Not Allowed !!"</h4>
				<div class="collapse-block__content">
					<p>
					We apologize for this, this sometimes happen when your internet settings are running a restrictive personal firewall that is blocking "http" referrer. Please check your internet settings.
					</p>
				</div>
			</div>
			<!-- / -->
			
		</div>
		<!-- /center-col -->
	</div>
	<!-- /two col -->
