<style>
  .bi-content-hide p:nth-of-type(3){
    font-size:1em; 

  }
  .tab-content p{
    text-align:justify; 
  }
  .table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .table.row{
    display: table;
    vertical-align: middle;
    margin: 0;
  }
  .cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 50%; 

  }

</style>
<div class="wall-addtl-info">


  <ul class="nav nav-tabs nav-tabs--ys1 nav-justified" id="oakley_tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#lens_info" role="tab" aria-controls="lens_info">PRODUCT TECHNOLOGY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#lens_install_remove" role="tab" aria-controls="lens_install_remove">HELMET CARE & MAINTENANCE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#goggle_care" role="tab" aria-controls="goggle_care">PRODUCT WARRANTY</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="divider divider--lg"></div>
    <!--     TAB 1 -->
    <div class="tab-pane fade active" id="lens_info" role="tabpanel">

      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">INSIDE THE HELMET</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p><img id="desk-cover" class="img-responsive center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/inside-helmet-min.jpg?11746801328487373618" alt="Shoei Helmet"></p>
          <div class ="row table hidden-xs">
            <div class="divider divider--md"></div>

            <div class="divider divider--lg"></div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <img class = "img-responsive visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shell-helmet-min.jpg?18081986667952139087">
              <div class="divider divider--lg"></div>
              <h3>1. HELMET SHELL</h3>
              <p style = "text-align:justify">Few characteristics of a motorcycle helmet are as critical as its first-layer defense. A helmet’s shell absorbs the impact energy in the event of a fall, and distributes that energy over the largest possible area. Combining hand-laid interwoven layers of fiberglass with organic fibers and resin, SHOEI’s proprietary Multi-Ply Matrix AIM & AIM+ shells are not only incredibly strong, they are lightweight, elastic, and come in an industry-leading number of shell sizes to ensure a custom fit for all heads sizes.</p>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shell-helmet-min.jpg?18081986667952139087" style = "width:65%">
            </div>
          </div>
          <div class ="row visible-xs">
            <div class="divider divider--md"></div>

            <div class="divider divider--lg"></div>
            <div class = "col-sm-12">
              <img class = "img-responsive visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shell-helmet-min.jpg?18081986667952139087">
              <div class="divider divider--lg"></div>
              <h3>1. HELMET SHELL</h3>
              <p style = "text-align:justify">Few characteristics of a motorcycle helmet are as critical as its first-layer defense. A helmet’s shell absorbs the impact energy in the event of a fall, and distributes that energy over the largest possible area. Combining hand-laid interwoven layers of fiberglass with organic fibers and resin, SHOEI’s proprietary Multi-Ply Matrix AIM & AIM+ shells are not only incredibly strong, they are lightweight, elastic, and come in an industry-leading number of shell sizes to ensure a custom fit for all heads sizes.</p>
            </div>
            <div class = "col-sm-12">
              <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shell-helmet-min.jpg?18081986667952139087" style = "width:65%">
            </div>
          </div>
          <div class="divider divider--lg"></div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <img class = "img-responsive center-block visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ventilation-min.jpg?11746801328487373618">
            <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ventilation-min.jpg?11746801328487373618" style = "width:65%">
            <div class="divider divider--lg"></div>
          </div>

          <div class ="col-sm-12 col-md-6 col-lg-6">
            <h3>2. VENTILATION</h3>
            <p style = "text-align:justify">SHOEI’s ventilation systems directs cooling, drying air into the helmet, and use areas of low air pressure to the rear of the helmet to draw warm, damp air through the exhaust outlets and into the outside environment. A high priority feature/function during the R&D and testing phases of new helmet development, SHOEI utilizes its state-of-the-art wind tunnel to maximize ventilation performance. The perfect placement and shaping of the inlets and outlets, along with air channels created within the EPS liner, are the basis for optimum ventilation, and is part of what separates SHOEI from our competition.</p>
          </div>
          <div class="divider divider--lg"></div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <img class = "img-responsive visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shield-min.jpg?11746801328487373618">
            <div class="divider divider--xs"></div>
            <h3>3. SHIELD</h3>
            <p style = "text-align:justify">SHOEI shields protect the rider against wind, dirt, insects and 99% of the sun’s damaging UV rays. Additionally, SHOEI’s 3D injection-molding process ensures a distortion-free view throughout the entire field of vision. All Shoei shields are tested to ensure compliance with the DOT and SNELL certification standards.</p>
          </div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shield-min.jpg?11746801328487373618" style = "width:65%">
          </div>
          <div class="divider divider--lg"></div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <img class = "img-responsive center-block visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/eps-min.jpg?11746801328487373618">
            <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/eps-min.jpg?11746801328487373618" style = "width:65%">
            <div class="divider divider--lg"></div>
          </div>

          <div class ="col-sm-12 col-md-6 col-lg-6">
            <h3>4. EPS LINER</h3>
            <p style = "text-align:justify">The EPS liner of a helmet is designed to absorb the energies of an impact. SHOEI’s innovative Dual-Layer, Multi-Density EPS liner systems not only provide enhanced impact absorption by utilizing varying densities of foam in key areas around the rider’s head, they are designed to allow cooling air to travel unrestricted through tunnels created in the EPS, further enhancing our superior ventilation characteristics.</p>
          </div>
          <div class="divider divider--lg"></div>


          <div class = "col-sm-12 col-md-6 col-lg-6">
            <img class = "img-responsive visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/padding-min.jpg?11746801328487373618">
            <div class="divider divider--lg"></div>
            <h3>5. INTERIOR SYSTEM</h3>
            <p style = "text-align:justify">SHOEI’s interior systems are carefully thought out to provide maximum comfort and hold during all forms of riding. Most SHOEI helmets come equipped with fully or partially removable, washable, adjustable, and replaceable interior components, and are three-dimensionally shaped to match the contours of a rider’s head for an extremely comfortable fit while maintaining the firm hold necessary for distraction-free, high-speed riding.
            </p>
          </div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/padding-min.jpg?11746801328487373618" style = "width:65%">
          </div>
          <div class="divider divider--lg"></div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <img class = "img-responsive center-block visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/chin-strap-min.jpg?11746801328487373618">
            <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/chin-strap-min.jpg?11746801328487373618" style = "width:65%">
            <div class="divider divider--xs"></div>
          </div>

          <div class ="col-sm-12 col-md-6 col-lg-6">
            <h3>6. CHIN STRAP</h3>
            <p style = "text-align:justify">The task of the chinstrap is to hold the helmet firmly on the head. This is done by using a chinstrap with proper tensile strength and extensibility. The chinstrap is firmly attached to the helmet shell with metal rivets.
            </p>
          </div>
          <div class="divider divider--sm"></div>
        </div>  
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">ACTIVE SAFETY</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="row">

            <div class="col-md-12 col-sm-12 col-lg-12">
              <p>As opposed to “passive safety” that is ensured by compliance with Snell and DOT safety standards, “active safety” defines the further improvements made by SHOEI to ensure that maximum comfort is achieved, allowing the rider to devote all of his or her focus to riding. Advanced helmet features such as our anatomically-shaped comfort liner for optimum helmet fitment, lowest possible weight to reduce stress on the neck muscles, and effective ventilation system for temperature regulation and reduction in wind noises all serve to further improve the safety of the rider. Further development and continued improvement in the areas of safety and comfort technology are SHOEI’s primary goals.</p>
            </div>
          </div> 
          <div class ="divider divider--lg"></div>
          <div class ="row">
            <h3>INTERIOR SYSTEM</h3>
            <div class = "col-sm-6 col-md-6 col-lg-6">
              <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-interior-comfort-fit-min.jpg?15841598142013523">
              <h4>THE INTERACTION BETWEEN COMFORT AND PROPER FIT</h4>
              <p>The material and shape of SHOEI’s interior systems are critical factors for the overall wearing comfort and proper fit of the helmet. The wearing comfort covers the effect of the material properties on the skin of the rider. The fit defines how well the helmet sits on the head and stays in place, which is especially noticeable at high speeds. In the past, these two criteria often worked against one another. Very thick, soft padding provided good wearing comfort, but it did not hold well at high speeds, leading to helmet buffeting and instability. SHOEI’s multi-layer, multi-density liner components are utilized to find the perfect balance between comfort and helmet stabilization. Variable thickness cheek pads are available for custom fitting most helmet models.</p>
            </div>
            <div class = "col-sm-6 col-md-6 col-lg-6">
              <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-interior-liner-materials-min.jpg?15841598142013523">
              <h4>OPTIMIZATION OF LINER COVER MATERIALS</h4>
              <p>The development of new high-performance fabrics allows for greater sweat absorption and dissipation, yielding a proprietary sweat absorbing material that greatly improves rider comfort. These materials (first researched and developed in motocross and road racing where the amount of physical exertion and hence the production of sweat is extremely high) are now production features in the majority of SHOEI’s helmet models.</p>

            </div>
          </div>
          <hr>
          <div class ="row">
            <h3>LIGHTWEIGHT, HIGH-STRENGTH SHELLS</h3>
            <div class = "col-sm-4 col-md-4 col-lg-4">
              <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-shells-safety-lighter-min.jpg?15841598142013523">
              <div class ="divider divider--lg"></div>
              <h4>IMPROVED SAFETY THROUGH LIGHTER HELMETS</h4>
              <p>Three factors are crucial for the weight of the helmet as perceived by the rider. The actual weight that is felt by wearing the helmet, the felt weight, and the dynamic weight, which is produced by the wind resistance and inertia. The actual weight has a direct influence on the acceleration forces and directly stresses the neck muscles in the event of an accident.

                The heaviest part of a helmet is the shell, which is of special importance when making a light overall helmet. Since the shell is also the part of the helmet that is the most stressed in the event of an impact, the requirements concerning the manufacturing of a lightweight helmet shell are correspondingly high. Through our extensive experience in the processing of fiber compound materials, SHOEI has succeeded in developing the extremely resistant, lightweight and elastic AIM and AIM+ helmet shells.</p> 
            </div>
            <div class = "col-sm-4 col-md-4 col-lg-4">
              <img class ="img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-shells-aim-combined-min.jpg?17735318408028355648">

              <img class ="img-responsive visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-shells-aim-min.jpg?15841598142013523">
              <img class ="img-responsive visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-shells-aim-plus-min.jpg?15841598142013523">
              <div class ="divider divider--lg"></div>
              <h4>SHOEI’S ADVANCED INTEGRATED MATRIX (AIM & AIM+)</h4>
              <p>AIM and AIM+ Shells Are Made Up of Three Main Features:</p>
              <p>1. Fiber-Reinforced Matrix: An outer shell that is made primarily of fiberglass (FRP) is given its shape by a heat-setting plastic resin. The SHOEI helmet shell owes its ideal function to the integration of organic fibers, as well as a three-dimensional shaping process in a layered structure. The result is an outer shell with high strength, but very low weight as compared to shells that are produced in a conventional way.</p>
              <p>2. The Compound Structure: The AIM and AIM+ shells consist of various layers of reinforcing organic fibers and glass fibers. Compared to an outer shell that is made only of glass fibers, the AIM and AIM+ outer shells are both lighter and more elastic, yet have the same strength and are more resistant to penetration due to the additional use of special fibers.</p>
              <p>3. The Synthetic Resin: A specially modified, unsaturated polyester resin (a so-called heat-setting plastic) is used for the AIM and AIM+ outer shells. This resin acquires the desired strength and elasticity during the heat hardening process. This synthetic resin is also extremely resistant to corrosion. With these constituent parts, we produce outer shells that convincingly produce ideal dampening of impacts, good elasticity, lightweight, and enormously high strength and resistance to penetration.</p>

            </div>
            <div class = "col-sm-4 col-md-4 col-lg-4">
              <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-shells-aim-shell-min.jpg?15841598142013523">
              <div class ="divider divider--lg"></div>
              <h4>OPTIMIZATION OF LINER COVER MATERIALS</h4>
              <p>The development of new high-performance fabrics allows for greater sweat absorption and dissipation, yielding a proprietary sweat absorbing material that greatly improves rider comfort. These materials (first researched and developed in motocross and road racing where the amount of physical exertion and hence the production of sweat is extremely high) are now production features in the majority of SHOEI’s helmet models.</p>

            </div>
          </div>
          <hr>
          <div class ="row">

            <div class = "col-sm-6 col-md-6 col-lg-6">
              <h3>AERODYNAMICS PERFORMANCE</h3>
              <div class = "col-sm-6 col-md-6 col-lg-6 col-md-offset-3">
                <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-aerodynamics-min.jpg?4317924979104846434">
              </div>
              <div class ="divider divider--xs"></div>

              <p>The stress applied to the neck muscles when riding a motorcycle comes not only from the weight of the helmet itself, but also from wind resistance. For that reason, improving the aerodynamics of a helmet is an extremely important factor in preventing the onset of fatigue. SHOEI’s expert product development team regularly perform tests in our state-of-the-art wind tunnel throughout the entire development process of each and every helmet model to improve shell design and optimize aerodynamic properties.</p> 

            </div>

            <div class ="col-sm-6 col-md-6 col-lg-6">
              <h3>VENTILATION</h3>
              <div class ="col-sm-6 col-md-6 col-lg-6">
                <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ventilation-mobile-1-min.jpg?4682455052266925487">
              </div>
              <div class ="col-sm-6 col-md-6 col-lg-6">
                <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ventilation-mobile-2-min.jpg?4682455052266925487">
              </div>
              <div class ="divider divider--xs"></div>
              <p>Back in the early 1980s, SHOEI developed a ventilation system that passed air through holes in the helmet shell without sacrificing high-speed stability. The idea that good ventilation is crucial for the safety of a helmet caused a fundamental change in the design of motorcycle helmets. With the importance of safety concepts and the spirit of innovation always front of mind at SHOEI, we invested in a state-of-the-art wind tunnel at our Ibaraki factory to continually carry out intensive studies in the development of effective, high-performance ventilation systems. In the process, SHOEI has developed a dual-layer EPS liner that allows cooling air to travel unrestricted through tunnels created between layers, further enhancing the optimum exchange of warm, humid air with incoming cold, fresh air. Utilizing SHOEI’s in-house wind tunnel to progress ventilation performance, SHOEI is constantly improving the optimal balance between airflow and silence.</p> 
            </div>

          </div>

          <hr>
          <div class ="row">
            <div class = "col-sm-6 col-md-6 col-lg-6">
              <p class ="h3">NOISE REDUCTION</p>
              <div class = "col-sm-6 col-md-6 col-lg-6 col-md-offset-3">
                <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-noise-reduction-min.jpg?1110495318638073996">
              </div>
              <div class ="divider divider--xs"></div>

              <p>Noise imposes unnecessary stress on the rider and can disturb his or her concentration. There are two ways to reduce noise in the helmet. Wind noise can be reduced by optimizing the aerodynamics. Additionally, the acoustic damping properties of the helmet can be optimized through careful design of the helmet shell and the interior padding. The decisive factor for a comfortable and quiet helmet is the balanced utilization of these two approaches. Utilizing a thicker helmet shell, eliminating ventilation, or using padding that is too tight may reduce the amount of noise experienced, but this is achieved at the expense of safety and comfort. This is not an option for SHOEI. Optimizing shell aerodynamics and liner components allow SHOEI to prevent unwanted road and wind noises without blocking the road's “informative sounds”.</p> 

            </div>

            <div class ="col-sm-6 col-md-6 col-lg-6">
              <p class ="h3">THE SHOEI SHIELD SYSTEM</p>
              <div class = "col-sm-6 col-md-6 col-lg-6 col-md-offset-3">
                <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tech-active-safety-shield-system-min.jpg?15157987743401850906">
              </div>
              <div class ="divider divider--xs"></div>
              <p>SHOEI shields protects the rider against wind, dirt, insects and 99% of the sun's damaging UV rays. Additionally, SHOEI's 3D injection-molding process ensures a distortion-free view throughout the entire field of vision. Furthermore, the coating on SHOEI shields resists scratches and allows water to bead off the surface more easily. Coupled with SHOEI's innovative quick release, self-adjusting base plate systems found on most full-face models, shield changes are made quicker and easier than ever before. Once a shield is installed, the strengthened spring-loaded base plates pull the shield back against the window beading to ensure a wind and waterproof seal with each and every closure. The smooth surface of a SHOEI shield base plate system eliminates the irritating shield cover that some of our competitors utilize, which helps prevent unnecessary wind noise.</p> 
            </div>

          </div>

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">PRODUCTION AND QUALITY</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="row">

            <div class="col-md-12 col-sm-12 col-lg-12">
              <p>QUALITY MADE IN JAPAN. The name SHOEI has long been synonymous with “premium” in the motorcycle helmet market-a credential that hundreds of loyal men and women in our Japanese factories wear with great pride. The evolution and production of our world-class helmet line is a meticulous process that combines the very latest in technology with consumer feedback, modern testing practices, advanced materials, and nearly 60 years of helmet building experience. Just like the very first SHOEI helmet built by our founder back in 1959, every SHOEI today is still handmade in Japan utilizing a sophisticated process that involves over 50 people for each and every helmet.</p>
            </div>
          </div> 
          <div class="divider divider--lg hidden-xs"></div>
          <div class="divider divider--xs visible-xs"></div>
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Shell-Molding-min.jpg?12742903039055979893" style ="padding-right:30px">
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>SHELL MOLDING</h3>
                <p style = "text-align:justify">Few characteristics of a motorcycle helmet are as critical as its first-layer defense. A helmet’s shell absorbs the impact energy in the event of a fall, and distributes that energy over the largest possible area. Combining hand-laid interwoven layers of fiberglass with organic fibers and resin, SHOEI’s proprietary Multi-Ply Matrix AIM & AIM+ shells are not only incredibly strong, they are lightweight, elastic, and come in an industry-leading number of shell sizes to ensure a custom fit for all heads sizes.</p>
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class="divider divider--lg"></div>
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h3>SHELL MOLDING</h3>
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Shell-Molding-min.jpg?12742903039055979893">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">Few characteristics of a motorcycle helmet are as critical as its first-layer defense. A helmet’s shell absorbs the impact energy in the event of a fall, and distributes that energy over the largest possible area. Combining hand-laid interwoven layers of fiberglass with organic fibers and resin, SHOEI’s proprietary Multi-Ply Matrix AIM & AIM+ shells are not only incredibly strong, they are lightweight, elastic, and come in an industry-leading number of shell sizes to ensure a custom fit for all heads sizes.</p>

              </div>
            </div>

          </div>


          <div class="divider divider--xs visible-xs"></div>
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>LASER CUTTING</h3>
                <p style = "text-align:justify; padding-right:30px">Robotically controlled lasers give each helmet its final shape by cutting off protrusions created during the shell molding process, as well as creating the openings for eye and ventilation ports. Once this process is complete, all helmets are thoroughly inspected to ensure proper material thickness and weight before moving on to the next phase of manufacturing.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Laser-Cutting-min.jpg?12742903039055979893">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h3>LASER CUTTING</h3>
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Laser-Cutting-min.jpg?12742903039055979893">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">Robotically controlled lasers give each helmet its final shape by cutting off protrusions created during the shell molding process, as well as creating the openings for eye and ventilation ports. Once this process is complete, all helmets are thoroughly inspected to ensure proper material thickness and weight before moving on to the next phase of manufacturing.</p>
              </div>
            </div>
          </div>


          <div class="divider divider--xs visible-xs"></div>
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Production-Painting-min.jpg?12742903039055979893" style ="padding-right:30px">
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>PAINTING & GRAPHICS APPLICATION</h3>
                <p style = "text-align:justify">SHOEI's intricate painting and graphics application procedures are second to none. Combining handwork with state-of-the-art automation processes to ensure optimal quality, each helmet boasts a premium painted finish and hand-applied decals before being sealed and protected with several quality layers of clearcoat. Each and every SHOEI helmet receives up to five layers of paint before final assembly.</p>
              </div>
            </div>
          </div>
          <div class ="row visible-xs">

            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">	
                <h3>PAINTING & GRAPHICS APPLICATION</h3>
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Production-Painting-min.jpg?12742903039055979893">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">SHOEI's intricate painting and graphics application procedures are second to none. Combining handwork with state-of-the-art automation processes to ensure optimal quality, each helmet boasts a premium painted finish and hand-applied decals before being sealed and protected with several quality layers of clearcoat. Each and every SHOEI helmet receives up to five layers of paint before final assembly.</p>
              </div>
            </div>
          </div>


          <div class="divider divider--xs visible-xs"></div>
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>FIT & COMFORT</h3>
                <p style = "text-align:justify; padding-right:30px">SHOEI knows that one size does not fit all, which is why we offer an industry-leading number of shell sizes, as well as various liner sizes and cheek pad thicknesses to ensure a customizable fit for each and every rider. Along with extensive research on head shapes and sizes, SHOEI incorporates a mix of exclusive comfort and performance features into the construction of every helmet. Groundbreaking components like our 3D Max-Dry Interior Systems, 3D-shaped center pads to match the contours of a rider's head, fully removable, washable and replaceable liner systems, multi-layer cheek pads, eyeglass channels, and integrated neck pads accentuate the impeccable comfort packages exclusive only to SHOEI helmets.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Fit-Comfort-min.jpg?12742903039055979893">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h3>FIT & COMFORT</h3>   
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Fit-Comfort-min.jpg?12742903039055979893">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">SHOEI knows that one size does not fit all, which is why we offer an industry-leading number of shell sizes, as well as various liner sizes and cheek pad thicknesses to ensure a customizable fit for each and every rider. Along with extensive research on head shapes and sizes, SHOEI incorporates a mix of exclusive comfort and performance features into the construction of every helmet. Groundbreaking components like our 3D Max-Dry Interior Systems, 3D-shaped center pads to match the contours of a rider's head, fully removable, washable and replaceable liner systems, multi-layer cheek pads, eyeglass channels, and integrated neck pads accentuate the impeccable comfort packages exclusive only to SHOEI helmets.</p>

              </div>
            </div>
          </div>
          
         <div class="divider divider--xs visible-xs"></div>
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Final-Assembly-min.jpg?12742903039055979893" style ="padding-right:30px">
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>FINAL ASSEMBLY</h3>
                <p style = "text-align:justify">A critical step in the manufacturing process, final helmet assembly is done with care and precision, including the installation of ventilation sliders, shield seals, impact absorbing EPS liners, and comfort interiors. Each helmet passes a detailed final inspection before being passed on to the consumer. This strict compliance with the production processes and associated quality control standards guarantee the consistently high quality of a SHOEI helmet.</p>
              </div>
            </div>
          </div>
          <div class ="row visible-xs">

            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">	
                <h3>FINAL ASSEMBLY</h3>
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Final-Assembly-min.jpg?12742903039055979893">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">A critical step in the manufacturing process, final helmet assembly is done with care and precision, including the installation of ventilation sliders, shield seals, impact absorbing EPS liners, and comfort interiors. Each helmet passes a detailed final inspection before being passed on to the consumer. This strict compliance with the production processes and associated quality control standards guarantee the consistently high quality of a SHOEI helmet.</p>
              </div>
            </div>
          </div>
          
          <p class = "h1">CRAFTSMANSHIP MAKES THE DIFFERENCE</p>
          <p class = "h3 text-muted" style ="font-weight:300; margin-top:-10px;">Craftsmanship plays a significant role in the manufacturing of every SHOEI helmet, and that's made especially clear during the painting process.</p>
          <div class="divider divider--md hidden-xs"></div>
          <div class="divider divider--xs visible-xs"></div>
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h2>PRIMING</h2>
                <p style = "text-align:justify; padding-right:30px">1. After the helmet has been taken from the mold and all protruding parts and openings have been removed by laser, the helmet is given its first priming. Next, each helmet is cleaned, sanded and polished by hand and machine, producing a flawless surface for the subsequent painting operations. Working on the various helmet shells with their own peculiarities requires a high degree of experience and expertise.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/priming-min.jpg?46525935032685170">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h2>PRIMING</h2>  
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/priming-min.jpg?46525935032685170">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">1. After the helmet has been taken from the mold and all protruding parts and openings have been removed by laser, the helmet is given its first priming. Next, each helmet is cleaned, sanded and polished by hand and machine, producing a flawless surface for the subsequent painting operations. Working on the various helmet shells with their own peculiarities requires a high degree of experience and expertise.</p>
              
              </div>
            </div>
          </div>
          
          
          
          <div class="divider divider--md hidden-xs"></div>
          <div class="divider divider--xs visible-xs"></div>
          
          
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h2>CHECKING THE PRIMING</h2>
                <p style = "text-align:justify; padding-right:30px">2. The helmet priming is carefully checked by multiple technicians for any small blemishes and then passed on for further painting - but only if the surface is absolutely perfect.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/checkpriming-min.jpg?46525935032685170">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h2>CHECKING THE PRIMING</h2>  
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/checkpriming-min.jpg?46525935032685170">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">2. The helmet priming is carefully checked by multiple technicians for any small blemishes and then passed on for further painting - but only if the surface is absolutely perfect.</p>
              
              </div>
            </div>
          </div>
          
          
          <div class="divider divider--md hidden-xs"></div>
          <div class="divider divider--xs visible-xs"></div>
          
          
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h2>PAINTING</h2>
                <p style = "text-align:justify; padding-right:30px">3. The quality of a painting operation depends on the quality of its individual painters. It is virtually impossible to apply a high-quality coat of paint by machine, even with the very latest technology and polyurethane paints. For that reason, only specially qualified technicians are used in this process.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/painting-min.jpg?46525935032685170">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h2>PAINTING</h2>  
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/painting-min.jpg?46525935032685170">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">3. The quality of a painting operation depends on the quality of its individual painters. It is virtually impossible to apply a high-quality coat of paint by machine, even with the very latest technology and polyurethane paints. For that reason, only specially qualified technicians are used in this process.</p>
              
              </div>
            </div>
          </div>
          
          
          
          <div class="divider divider--md hidden-xs"></div>
          <div class="divider divider--xs visible-xs"></div>
          
          
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h2>CHECKING THE PAINTING</h2>
                <p style = "text-align:justify; padding-right:30px">4. The paintwork is subjected to close inspection for drips, inclusions, and unevenness before a helmet shell proceeds in the production process.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/checkpainting-min.jpg?46525935032685170">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h2>CHECKING THE PAINTING</h2>  
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/checkpainting-min.jpg?46525935032685170">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">4. The paintwork is subjected to close inspection for drips, inclusions, and unevenness before a helmet shell proceeds in the production process.</p>
              
              </div>
            </div>
          </div>
          
          
          <div class="divider divider--md hidden-xs"></div>
          <div class="divider divider--xs visible-xs"></div>
          
   
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h2>APPLYING THE DESIGN</h2>
                <p style = "text-align:justify; padding-right:30px">5. Elaborate, extremely detailed and spectacular graphics are part of the brand image of a SHOEI helmet. In a very complicated work step, water decals are applied by hand by specially trained technicians to the finished painted helmet.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/apply-design-min.jpg?46525935032685170">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h2>APPLYING THE DESIGN</h2>  
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/apply-design-min.jpg?46525935032685170">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">5. Elaborate, extremely detailed and spectacular graphics are part of the brand image of a SHOEI helmet. In a very complicated work step, water decals are applied by hand by specially trained technicians to the finished painted helmet.</p>
              
              </div>
            </div>
          </div>
          
          
          
          <div class="divider divider--md hidden-xs"></div>
          <div class="divider divider--xs visible-xs"></div>
          
          
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h2>PROTECTIVE CLEARCOAT</h2>
                <p style = "text-align:justify; padding-right:30px">6. The last step in the painting process is the application of multiple coats of a high-quality clear varnish to the shell to protect the graphics and give the helmet its unmistakable SHOEI brilliance.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/protective-coating-min.jpg?46525935032685170">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h2>PROTECTIVE CLEARCOAT</h2>  
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/protective-coating-min.jpg?46525935032685170">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">6. The last step in the painting process is the application of multiple coats of a high-quality clear varnish to the shell to protect the graphics and give the helmet its unmistakable SHOEI brilliance.</p>
              
              </div>
            </div>
          </div>
          
          
          
          <div class="divider divider--md hidden-xs"></div>
          <div class="divider divider--xs visible-xs"></div>
          
          
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h2>THE FINAL APPLICATION</h2>
                <p style = "text-align:justify; padding-right:30px">7. Before a painted helmet shell is passed on for final assembly, the finished paintwork is given one last meticulous inspection. Perfection, even in areas that are unnoticeable by the untrained eye, is a must.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/final-application-min.jpg?46525935032685170">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h2>THE FINAL APPLICATION</h2>  
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/final-application-min.jpg?46525935032685170">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">7. Before a painted helmet shell is passed on for final assembly, the finished paintwork is given one last meticulous inspection. Perfection, even in areas that are unnoticeable by the untrained eye, is a must.</p>
              
              </div>
            </div>
          </div>
          <div class ="divider divider--sm"></div>
          <h1>NO COMPROMISE, EVEN FOR INVISIBLE PARTS</h1>
          
          <img class ="img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/no-compromise-min.jpg?7292629054959512782">
          <div class ="divider divider--sm"></div>
          <h1>QUALITY CONTROL</h1>
          <p class ="h3 text-muted" style ="font-weight:300">For all the energy and passion invested into the design and development of a product, the same level of care and due diligence must be achieved during the production process. A number of unique, state-of-the-art processes combine to yield the unrivaled quality that only SHOEI helmets are known for, and each helmet must pass several rigorous inspections throughout production before being awarded with the famous SHOEI hexagon.</p>
          
          <div class="divider divider--xs visible-xs"></div>
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>QUALITY CONTROL IN THE DEVELOPMENT STAGE</h3>
                <p style = "text-align:justify; padding-right:30px">The Snell and DOT safety standards play a major role during the development of a helmet. The helmet shell and the shock-absorbing EPS liner are continuously tested for hardness and elasticity and modified as required. This results in a helmet that meets or exceeds the strict standards that are applied, and still includes all the advantages of the original design.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/quality-control-min.jpg?11377284929564513560">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h3>QUALITY CONTROL IN THE DEVELOPMENT STAGE</h3>   
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/quality-control-min.jpg?11377284929564513560">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">The Snell and DOT safety standards play a major role during the development of a helmet. The helmet shell and the shock-absorbing EPS liner are continuously tested for hardness and elasticity and modified as required. This results in a helmet that meets or exceeds the strict standards that are applied, and still includes all the advantages of the original design.</p>

              </div>
            </div>
          </div>
          
          
          <div class="divider divider--xs visible-xs"></div>
          
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/quality-production-min.jpg?11377284929564513560" style ="padding-right:30px">
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>QUALITY CONTROL DURING PRODUCTION</h3>
                <p style = "text-align:justify">Strict quality control guidelines at SHOEI are in place during all phases of production, from manufacturing of the outer shell to the point of final assembly. In addition, samples are regularly taken from normal production and tested at SHOEI's own testing facilities. Every year, more than 3,000 helmets are tested to ensure safety, and destroyed in doing so. These test helmets make a major contribution to the overall safety of our products.</p>
              </div>
            </div>
          </div>
          <div class ="row visible-xs">

            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">	
                <h3>QUALITY CONTROL DURING PRODUCTION</h3>
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/quality-production-min.jpg?11377284929564513560">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">Strict quality control guidelines at SHOEI are in place during all phases of production, from manufacturing of the outer shell to the point of final assembly. In addition, samples are regularly taken from normal production and tested at SHOEI's own testing facilities. Every year, more than 3,000 helmets are tested to ensure safety, and destroyed in doing so. These test helmets make a major contribution to the overall safety of our products.</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      
      
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SHOEI R & D / TESTING</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>All SHOEI helmets are developed with safety, comfort, and passion in mind. Information gained from all over the world goes into the development of each and every model. Product development takes customer wishes, the demands of the market, new trends, and integral input from our professional racing teams into consideration. Although safety and functionality always play the dominant role, the design aspect is never neglected. This special combination of perfect functionality and unique design is testimony to the passion that motorcyclists all over the world experience when riding in a SHOEI helmet.</p>
          <div class="divider divider--xs visible-xs"></div>
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>WIND TUNNEL TESTING</h3>
                <p style = "text-align:justify; padding-right:30px">Motorcyclists live in a stream of moving air, making SHOEI's in-house wind tunnels an integral tool during the design and development process. In addition to shell aerodynamics, the aerodynamic efficiency of spoilers and vents are also analyzed during SHOEI's extensive wind tunnel testing practices. The result: every SHOEI helmet boasts an incredibly sleek design that increases airflow, reduces noise, buffeting and lift, and ultimately enhances the overall comfort and performance of your ride. An integral part of the development process, SHOEI's ventilation systems direct cooling air in through the front of the helmet, and utilize key areas of low air pressure to the rear of the helmet to draw warm, damp air through its exhaust outlets. Along with the perfect shape and placement of vent intakes and outlets, the air channels in SHOEI's unique Dual-Layer EPS Liner systems are a significant contributor to our helmets’ world-class ventilation characteristics.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/wind-tunnel-min.jpg?3437916714749662327">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h3>WIND TUNNEL TESTING</h3>   
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/wind-tunnel-min.jpg?3437916714749662327">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">Motorcyclists live in a stream of moving air, making SHOEI's in-house wind tunnels an integral tool during the design and development process. In addition to shell aerodynamics, the aerodynamic efficiency of spoilers and vents are also analyzed during SHOEI's extensive wind tunnel testing practices. The result: every SHOEI helmet boasts an incredibly sleek design that increases airflow, reduces noise, buffeting and lift, and ultimately enhances the overall comfort and performance of your ride. An integral part of the development process, SHOEI's ventilation systems direct cooling air in through the front of the helmet, and utilize key areas of low air pressure to the rear of the helmet to draw warm, damp air through its exhaust outlets. Along with the perfect shape and placement of vent intakes and outlets, the air channels in SHOEI's unique Dual-Layer EPS Liner systems are a significant contributor to our helmets’ world-class ventilation characteristics.</p>

              </div>
            </div>
          </div>
          
          
         <div class="divider divider--xs visible-xs"></div>
          
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/test-ride-min.jpg?8367899913820745426" style ="padding-right:30px">
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>TEST RIDES</h3>
                <p style = "text-align:justify">Intensive test rides in various regions are performed to verify the results of the wind tunnel testing on several aspects of the helmet. For example, the various forms of airflow created by different types of motorcycles, as well as the comfort experienced during long rides, are investigated and taken into consideration when developing a helmet design.</p>
              </div>
            </div>
          </div>
          <div class ="row visible-xs">

            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">	
                <h3>TEST RIDES</h3>
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/test-ride-min.jpg?8367899913820745426">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">Intensive test rides in various regions are performed to verify the results of the wind tunnel testing on several aspects of the helmet. For example, the various forms of airflow created by different types of motorcycles, as well as the comfort experienced during long rides, are investigated and taken into consideration when developing a helmet design.</p>
              </div>
            </div>
          </div>
          
 		<div class="divider divider--xs visible-xs"></div>
          
          <div class ="row table hidden-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <h3>BORN FROM RACING</h3>
                <p style = "text-align:justify; padding-right:30px">SHOEI prides itself in building the very best helmets that our state-of-the-art manufacturing technologies will allow, but we also maintain the core belief that good old fashioned field research yields the highest performing, most functional helmets producible. SHOEI helmets are the result of countless hours of conceptualization and R&D, but equally as important is the time spent testing with the most hardcore critics of them all—our professional racing team. From our MotoGP race team service to world-class racers like Marc Marquez, Bradley Smith, Josh Grant, and Dean Wilson, our helmets are put through the ringer, resulting in the fine-tuned masterpieces that await you on this website.</p>
              </div>
            </div>
            <div class = "col-sm-12 col-md-6 col-lg-6 cell">
              <div class ="row">
                <img class = "img-responsive center-block hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/born-from-racing-min.jpg?8367899913820745426">
              </div>
            </div>
          </div>
          <div class ="row visible-xs">
            <div class = "col-sm-12 col-md-6 col-lg-6">
              <div class ="row">
                <h3>BORN FROM RACING</h3>   
                <div class ="divider divider--xs"></div>
                <img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/born-from-racing-min.jpg?8367899913820745426">
                <div class ="divider divider--sm"></div>
                <p style = "text-align:justify">SHOEI prides itself in building the very best helmets that our state-of-the-art manufacturing technologies will allow, but we also maintain the core belief that good old fashioned field research yields the highest performing, most functional helmets producible. SHOEI helmets are the result of countless hours of conceptualization and R&D, but equally as important is the time spent testing with the most hardcore critics of them all—our professional racing team. From our MotoGP race team service to world-class racers like Marc Marquez, Bradley Smith, Josh Grant, and Dean Wilson, our helmets are put through the ringer, resulting in the fine-tuned masterpieces that await you on this website.</p>

              </div>
            </div>
          </div>
      </div>
    </div>
    </div>

    <!--     TAB 2 -->
    <div class="tab-pane fade" id="lens_install_remove" role="tabpanel">

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SHELL</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>All SHOEI helmet shells are made of hand-laid interwoven layers of fiberglass, organic fibers and resin, and then primed and painted with high-quality paint materials (and water decals on graphics models). For safe and gentle cleaning, use a plastic cleaner and/or wax to clean and polish the helmet shell, but not on the ventilation slider and other plastic parts. Do not use polishes on helmets with matte finish paintwork. For these helmets, simply use a mild detergent and water for cleaning.</p>
        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">PLASTIC PARTS (SHIELD/VENTILATION)</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>All plastic parts are very sensitive to agents containing solvents (including any petrochemicals), as these can be absorbed by the plastic material and cause its slow deterioration and increase the risk of breaking. Acid or alkali-based corrosive cleaning agents (as well as window cleaner) are equally unsuitable. For this reason, we recommend using only water and/or a mild, neutral cleaning agent. Heavily soiled areas can be gently cleaned using a soft toothbrush or a cotton swab. The shield and any other parts that can be removed should be removed for cleaning. If the shield is equipped with a Pinlock system, this can also be cleaned with neutral soapy water. The shield and the Pinlock shield must be absolutely dry before the Pinlock system is reassembled.</p>
        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">INTERIOR COMFORT LINER </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>All removable parts of the interior comfort liner should be removed and washed by hand or in a washing machine at 30° C with the use of a washing bag and neutral cleaning agent. Fixed padding should be wiped with a damp cloth, again using only a neutral cleaning agent. Antibacterial detergents have proven useful in removing smells. The EPS liner can also be wiped down with a mild cleaner. Make sure that everything is absolutely dry before putting the padding back into the helmet shell.</p>
        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">EPS LINER </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>As EPS is neither solvent nor heat-proof, the impact absorption liner must be treated with particular care during cleaning. As in all other cases, the EPS liner should be cleaned using only a damp cloth in order to avoid scratches or indentations.</p>
        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HELMET REPLACEMENT</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>Ultimately, the useful service life of a safety helmet is dependent on the intensity and frequency of its use. Helmet replacement is recommended even if only one of the under-mentioned points applies:
          </p><ol style = "list-style-type:decimal;">
          <li>The helmet was subjected to an impact.</li>
          <li>The comfort padding or the retention system has become loose due to heavy use or display signs of deterioration. Test: with the retention system fastened, the helmet turns to the side when you gently shake your head.</li>
          <li>The EPS liner has come away from the helmet shell.</li>
          <li>The EPS liner shows signs of wear and is beginning to break up, or if it has been exposed to heat or a solvent and has melted. There are indentations in the EPS liner and/or white scratches can be seen on surfaces with black paint.</li>
          <li>Even if none of these is applied, we, SHOEI, recommend replacement in 5 years after it's first purchased at retail.</li>
          </ol>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SERVICE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>SHOEI helmets are covered by a five-year, limited warranty, and SHOEI will repair or replace the helmet if it is found to suffer from flaws in materials or workmanship.</p>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">FREE IMPACT AND SAFETY INSPECTION</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>Shoei offers a free impact and safety inspection service for any Shoei helmet.</p>
          <p>Shoei Helmets</p>
          <p>3002 Dow Ave. Suite 128</p>
          <p>Tustin, CA 92780</p>
          <p>Attn: Inspections</p>
          <p>Be sure to include a letter with a brief description of the issue with the helmet, as well as a daytime phone number and return address. Once we receive the helmet, it will take 1-3 business days to complete the inspection. Upon completion, the helmet is returned to you with a letter stating the findings of our inspection. Your helmet is returned to you whether it passes the inspection or not. There is no charge for the inspection, and the UPS Ground return shipping is free.</p>

        </div>
      </div>




    </div>




    <!--     TAB 3 -->

    <div class="tab-pane fade" id="goggle_care" role="tabpanel">


      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">WARRANTY</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="divider divider--md"></div>
        <div class="bi-content-hide">

          <p>Your SHOEI helmet is covered under warranty for five years from the purchase date, or seven years from the date of manufacture (whichever comes first). The warranty covers all manufacturing defects. Please note that damage caused by the consumer (i.e. dropping the helmet, etc.) is not covered under warranty.</p>
          <p><span style ="color:#f44336; font-weight:700;">IMPORTANT WARRANTY NOTICE:</span> SHOEI warrants to customers only new helmets purchased from authorized Shoei® dealers in their own country. Shoei does not warrant Shoei® helmets purchased from a country different from the customer's own country of residence, or helmets purchased in one country for use in another country, because regulatory standards or certification requirements for helmets vary from one country to the next. Helmets purchased from outside of the customer's own country may not have been designed with the the features and aspects intended for buyers in the customer's country that are important for making Shoei® helmets a world leader in premium motorcycle helmets and for providing the Shoei® experience. Shoei®, on behalf of itself and its dealers, disclaims any obligation to provide warranty service for helmets purchased outside of the country where the helmet is presented for warranty service.
          </p>

          <p><span style ="color:#f44336; font-weight:700;">BEWARE OF IMITATIONS:</span> They say that imitation is the sincerest form of flattery, but we beg to differ. Counterfeit SHOEI products made of inferior materials and subpar manufacturing processes are becoming more and more common in the online marketplace. For your safety and comfort, we highly encourage you to purchase your next genuine SHOEI helmet from an authorized SHOEI dealer only. The production of our world-class helmet line is a meticulous process that combines the very latest in technology with advanced materials, modern testing practices, and nearly 60 years of helmet building experience, which simply cannot be replicated. If the deal looks too good to be true, it probably is!</p>

        </div>
      </div>
    </div>


  </div>



