<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
               margin-top: -123px;
          }
    } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">OVER JERSEYS</a></li>
  <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">JERSEYS</a></li>
  <li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">PANTS</a></li>
  <li><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">GLOVES</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  
  <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/jersey-size-img.jpg?v=1615788909" alt="Seven MX Over Jerseys Size Charts" title="Seven MX Over Jerseys Size Charts" style="margin: 0 auto;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">

          <table class="table table-bordered table-striped billa_boys text-center">
            <thead>
              <tr>
                  <th>Size</th>
                  <th>Chest</th>
                  <th>Body</th>
                  <th>Sleeve</th>
              </tr>
            </thead>
              <tbody>

                  <tr>
                      <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">ZERO ADULT OVER JERSEYS</td>
                  </tr>
                  
                
                  <tr>
                    <td>S</td>
                    <td>20"</td>
                    <td>29-1/2"</td>
                    <td> - </td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>20-3/4"</td>
                    <td>31"</td>
                    <td> - </td>
                  </tr>
                  
                  <tr>
                    <td>L</td>
                    <td>22"</td>
                    <td>31-1/2"</td>
                    <td> - </td>
                  </tr>
                  
               
                  <tr>
                    <td>XL</td>
                    <td>23"</td>
                    <td>33"</td>
                    <td> - </td>
                  </tr>
                  
                 
                  <tr>
                    <td>2XL</td>
                    <td>24"</td>
                    <td>34"</td>
                    <td> - </td>
                  </tr>
                 


                  <tr>
                        <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">ZERO YOUTH OVER JERSEYS</td>
                  </tr>

                  
                  <tr>
                    <td>YXXS</td>
                    <td>11-1/2"</td>
                    <td>19"</td>
                    <td> - </td>
                  </tr>
                  
                  <tr>
                    <td>YXS</td>
                    <td>12-7/8"</td>
                    <td>20-3/4"</td>
                    <td> - </td>
                  </tr>
                 
                  <tr>
                    <td>YS</td>
                    <td>13-3/5"</td>
                    <td>22-1/2"</td>
                    <td> - </td>
                  </tr>
                
                  <tr>
                    <td>YM</td>
                    <td>15-5/8"</td>
                    <td>24-1/2"</td>
                    <td> - </td>
                  </tr>

                  <tr>
                    <td>YL</td>
                    <td>16-1/2"</td>
                    <td>26-1/2"</td>
                    <td> - </td>
                  </tr>

                  <tr>
                    <td>YXL</td>
                    <td>18-5/8"</td>
                    <td>28-1/2"</td>
                    <td> - </td>
                  </tr>
            </tbody>
          </table>

          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table -->  
    </div>
  </div>
</div> <!-- SizeChartTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/jersey-size-img-long.jpg?v=1615793902" alt="Seven MX Jerseys Size Charts" title="Seven MX Jerseys Size Charts" style="margin: 0 auto;width: 100%;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys text-center">
            <thead>
              <tr>
                  <th>Size</th>
                  <th>Chest</th>
                  <th>Body</th>
                  <th>Sleeve</th>
              </tr>
            </thead>
              <tbody>

                  <tr>
                      <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">ZERO ADULT COMPRESSION JERSEYS</td>
                  </tr>
                  
                
                  <tr>
                    <td>S</td>
                    <td>15"</td>
                    <td>25"</td>
                    <td>27"</td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>16"</td>
                    <td>26"</td>
                    <td>28"</td>
                  </tr>
                  
                  <tr>
                    <td>L</td>
                    <td>17"</td>
                    <td>27"</td>
                    <td>29"</td>
                  </tr>
                  
                 
                  <tr>
                    <td>XL</td>
                    <td>18"</td>
                    <td>28"</td>
                    <td>30"</td>
                  </tr>
                  
                 
                  <tr>
                    <td>2XL</td>
                    <td>19"</td>
                    <td>29"</td>
                    <td>31"</td>
                  </tr>


                  <tr>
                        <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">ZERO YOUTH COMPRESSION JERSEYS</td>
                  </tr>

                  
                  <tr>
                    <td>S</td>
                    <td>13"</td>
                    <td>23"</td>
                    <td>23"</td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>14"</td>
                    <td>24"</td>
                    <td>24"</td>
                  </tr>
                  
                  <tr>
                    <td>L</td>
                    <td>15"</td>
                    <td>25"</td>
                    <td>25"</td>
                  </tr>
                 
                  <tr>
                    <td>XL</td>
                    <td>15-1/2"</td>
                    <td>25-1/2"</td>
                    <td>25-1/2"</td>
                  </tr>

                  <tr>
                      <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">RIVAL ADULT JERSEYS</td>
                  </tr>
                  
                
                  <tr>
                    <td>S</td>
                    <td>21"</td>
                    <td>29-1/2"</td>
                    <td>32-1/2"</td>
                  </tr>
             
                  <tr>
                    <td>M</td>
                    <td>22"</td>
                    <td>31"</td>
                    <td>34"</td>
                  </tr>
                  
                  <tr>
                    <td>L</td>
                    <td>23"</td>
                    <td>31"</td>
                    <td>34"</td>
                  </tr>
                  
                  
                  <tr>
                    <td>XL</td>
                    <td>24"</td>
                    <td>32"</td>
                    <td>34-1/2"</td>
                  </tr>
                  
                  
                  <tr>
                    <td>2XL</td>
                    <td>25-1/2"</td>
                    <td>33-1/2"</td>
                    <td>37-1/2"</td>
                  </tr>

                  <tr>
                    <td>3XL</td>
                    <td>26"</td>
                    <td>34"</td>
                    <td>38-1/2"</td>
                  </tr>

                  <tr>
                      <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">RIVAL YOUTH JERSEYS</td>
                  </tr>
                  
                
                  <tr>
                    <td>XXS</td>
                    <td>12-1/2"</td>
                    <td>18"</td>
                    <td>19-1/2"</td>
                  </tr>
                  
                  <tr>
                    <td>XS</td>
                    <td>14"</td>
                    <td>19-3/4"</td>
                    <td>21"</td>
                  </tr>
                 
                  <tr>
                    <td>S</td>
                    <td>14-3/4"</td>
                    <td>21-1/2"</td>
                    <td>23-1/4"</td>
                  </tr>
                
                  <tr>
                    <td>M</td>
                    <td>16-3/4"</td>
                    <td>23-1/2"</td>
                    <td>25"</td>
                  </tr>

                  <tr>
                    <td>L</td>
                    <td>18"</td>
                    <td>25-1/2"</td>
                    <td>26-1/2"</td>
                  </tr>

                  <tr>
                    <td>XL</td>
                    <td>19"</td>
                    <td>27-1/2"</td>
                    <td>28"</td>
                  </tr>
                  
                  <tr>
                      <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">ANNEX ADULT JERSEYS</td>
                  </tr>
                  
                
                  <tr>
                    <td>S</td>
                    <td>21.5"</td>
                    <td>30"</td>
                    <td>30"</td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>22"</td>
                    <td>31"</td>
                    <td>31"</td>
                  </tr>
                  
                  <tr>
                    <td>L</td>
                    <td>23.5"</td>
                    <td>32"</td>
                    <td>32"</td>
                  </tr>
                  
                  
                  <tr>
                    <td>XL</td>
                    <td>24"</td>
                    <td>33"</td>
                    <td>33"</td>
                  </tr>
                  
                 
                  <tr>
                    <td>2XL</td>
                    <td>25.5"</td>
                    <td>34"</td>
                    <td>34"</td>
                  </tr>
                  


                  <tr>
                        <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">ANNEX YOUTH JERSEYS</td>
                  </tr>

                  <tr>
                    <td>XS</td>
                    <td>14"</td>
                    <td>23"</td>
                    <td>21"</td>
                  </tr>
                  <tr>
                    <td>S</td>
                    <td>15.5"</td>
                    <td>24"</td>
                    <td>22"</td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>17.5"</td>
                    <td>25"</td>
                    <td>23"</td>
                  </tr>
                  
                  <tr>
                    <td>L</td>
                    <td>18.5"</td>
                    <td>26"</td>
                    <td>24.5"</td>
                  </tr>
                  
                  <tr>
                    <td>XL</td>
                    <td>19.5"</td>
                    <td>27"</td>
                    <td>26.5"</td>
                  </tr>

                  <tr>
                      <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">VOX ADULT JERSEYS</td>
                  </tr>
                  
                
                  <tr>
                    <td>S</td>
                    <td>20-3/4"</td>
                    <td>30"</td>
                    <td>33-1/2"</td>
                  </tr>

                  <tr>
                    <td>M</td>
                    <td>21-3/4"</td>
                    <td>30-3/4"</td>
                    <td>34-1/2"</td>
                  </tr>

                  <tr>
                    <td>L</td>
                    <td>22-3/4"</td>
                    <td>32"</td>
                    <td>35"</td>
                  </tr>

                  <tr>
                    <td>XL</td>
                    <td>23-1/2"</td>
                    <td>33-1/2"</td>
                    <td>36"</td>
                  </tr>

                  <tr>
                    <td>2XL</td>
                    <td>24-1/2"</td>
                    <td>34-1/2"</td>
                    <td>36-1/2"</td>
                  </tr>

                  <tr>
                    <td>3XL</td>
                    <td>25-1/2"</td>
                    <td>35-3/4"</td>
                    <td>37"</td>
                  </tr>

                  <tr>
                      <td colspan="4" style="text-transform: uppercase;font-weight: bold;text-align: center;">VOX YOUTH JERSEYS</td>
                  </tr>
                  
                
                  <tr>
                    <td>XXS</td>
                    <td>11-1/2"</td>
                    <td>18"</td>
                    <td>19-1/2"</td>
                  </tr>

                  <tr>
                    <td>XS</td>
                    <td>12-7/8"</td>
                    <td>19-3/4"</td>
                    <td>21"</td>
                  </tr>

                  <tr>
                    <td>S</td>
                    <td>14"</td>
                    <td>21-1/2"</td>
                    <td>23-1/4"</td>
                  </tr>

                  <tr>
                    <td>M</td>
                    <td>15-7/8"</td>
                    <td>23-1/2"</td>
                    <td>25"</td>
                  </tr>

                  <tr>
                    <td>L</td>
                    <td>17"</td>
                    <td>25-1/2"</td>
                    <td>26-1/2"</td>
                  </tr>

                  <tr>
                    <td>XL</td>
                    <td>18-7/8"</td>
                    <td>27-1/2"</td>
                    <td>28"</td>
                  </tr>

            </tbody>
          </table>
    </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/pants-size-img-long.jpg?v=1615794470" alt="Seven MX Pants Size Charts" title="Seven MX Pants Size Charts" style="margin: 0 auto;width: 100%;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys text-center">
            <thead>
              <tr>
                  <th>Size</th>
                  <th>Waist</th>
                  <th>Inseam</th>
                  <th>Knee Width</th>
                  <th>Outseam</th>
              </tr>
            </thead>
              <tbody>

                  <tr>
                      <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">ZERO ADULT PANTS</td>
                  </tr>

                  <tr>
                    <td>28</td>
                    <td>28-29"</td>
                    <td>26"</td>
                    <td>8"</td>
                    <td>34"</td>
                  </tr>
                  
                  <tr>
                    <td>30</td>
                    <td>30-32"</td>
                    <td>27"</td>
                    <td>9"</td>
                    <td>35"</td>
                  </tr>
                  
                  <tr>
                    <td>32</td>
                    <td>32-33"</td>
                    <td>28"</td>
                    <td>9"</td>
                    <td>36"</td>
                  </tr>
                  
                  <tr>
                    <td>34</td>
                    <td>34-35"</td>
                    <td>29"</td>
                    <td>10"</td>
                    <td>37"</td>
                  </tr>
                  
                  <tr>
                    <td>36</td>
                    <td>36-38"</td>
                    <td>29-1/2"</td>
                    <td>10-1/2"</td>
                    <td>38"</td>
                  </tr>

                  <tr>
                    <td>38</td>
                    <td>38-40"</td>
                    <td>30"</td>
                    <td>10-5/8"</td>
                    <td>39"</td>
                  </tr>

                  <tr>
                        <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">ZERO YOUTH PANTS</td>
                  </tr>

                  <tr>
                    <td>24</td>
                    <td>24-26"</td>
                    <td>22"</td>
                    <td>7-1/2"</td>
                    <td>27"</td>
                  </tr>

                  <tr>
                    <td>26</td>
                    <td>26-28"</td>
                    <td>23"</td>
                    <td>7-3/4"</td>
                    <td>29"</td>
                  </tr>

                  <tr>
                    <td>28</td>
                    <td>28-30"</td>
                    <td>24"</td>
                    <td>8-1/8"</td>
                    <td>31"</td>
                  </tr>

                  <tr>
                      <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">RIVAL ADULT PANTS</td>
                  </tr>
                  
                
                  <tr>
                    <td>28</td>
                    <td>28-29"</td>
                    <td>25"</td>
                    <td>9"</td>
                    <td>34"</td>
                  </tr>

                  <tr>
                    <td>30</td>
                    <td>30-32"</td>
                    <td>26"</td>
                    <td>9"</td>
                    <td>35"</td>
                  </tr>

                  <tr>
                    <td>32</td>
                    <td>32-33"</td>
                    <td>27"</td>
                    <td>9-1/2"</td>
                    <td>36"</td>
                  </tr>

                  <tr>
                    <td>34</td>
                    <td>34-35"</td>
                    <td>28"</td>
                    <td>10"</td>
                    <td>37"</td>
                  </tr>

                  <tr>
                    <td>36</td>
                    <td>36-38"</td>
                    <td>29"</td>
                    <td>10"</td>
                    <td>38"</td>
                  </tr>

                  <tr>
                    <td>38</td>
                    <td>38-40"</td>
                    <td>30"</td>
                    <td>10-1/2"</td>
                    <td>39"</td>
                  </tr>

                  <tr>
                        <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">RIVAL YOUTH PANTS</td>
                  </tr>

                  <tr>
                    <td>18</td>
                    <td>18-19"</td>
                    <td>15-3/4"</td>
                    <td>6-3/4"</td>
                    <td>26-3/4"</td>
                  </tr>

                  <tr>
                    <td>20</td>
                    <td>20-21"</td>
                    <td>18-1/4"</td>
                    <td>7-1/8"</td>
                    <td>28"</td>
                  </tr>

                  <tr>
                    <td>22</td>
                    <td>22-23"</td>
                    <td>20-3/4"</td>
                    <td>7-1/2"</td>
                    <td>29-1/8"</td>
                  </tr>

                  <tr>
                    <td>24</td>
                    <td>24-25"</td>
                    <td>23-1/4"</td>
                    <td>7-7/8"</td>
                    <td>30-3/8"</td>
                  </tr>

                  <tr>
                    <td>26</td>
                    <td>26-27"</td>
                    <td>25-3/4"</td>
                    <td>8-1/4"</td>
                    <td>31-1/2"</td>
                  </tr>

                  <tr>
                    <td>28</td>
                    <td>28-29"</td>
                    <td>28-1/4"</td>
                    <td>8-5/8"</td>
                    <td>32-5/8"</td>
                  </tr>

                    <tr>
                      <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">ANNEX ADULT PANTS</td>
                  </tr>
                  
                
                  <tr>
                    <td>28</td>
                    <td>28-29"</td>
                    <td>27"</td>
                    <td>9"</td>
                    <td>36"</td>
                  </tr>

                  <tr>
                    <td>30</td>
                    <td>30-32"</td>
                    <td>27.5"</td>
                    <td>9.5"</td>
                    <td>36.5"</td>
                  </tr>

                  <tr>
                    <td>32</td>
                    <td>32-33"</td>
                    <td>28"</td>
                    <td>9.5"</td>
                    <td>37"</td>
                  </tr>

                  <tr>
                    <td>34</td>
                    <td>34-35"</td>
                    <td>29"</td>
                    <td>10"</td>
                    <td>38"</td>
                  </tr>

                  <tr>
                    <td>36</td>
                    <td>37-39"</td>
                    <td>27"</td>
                    <td>10.5"</td>
                    <td>38"</td>
                  </tr>

                  <tr>
                    <td>38</td>
                    <td>38-40"</td>
                    <td>27"</td>
                    <td>10.5"</td>
                    <td>38"</td>
                  </tr>


                  <tr>
                        <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">ANNEX YOUTH PANTS</td>
                  </tr>

                  <tr>
                    <td>24</td>
                    <td>24-25"</td>
                    <td>22"</td>
                    <td>7.5"</td>
                    <td>29"</td>
                  </tr>

                  <tr>
                    <td>26</td>
                    <td>26-27"</td>
                    <td>23"</td>
                    <td>8"</td>
                    <td>30"</td>
                  </tr>

                  <tr>
                    <td>28</td>
                    <td>28-29"</td>
                    <td>24"</td>
                    <td>8.5"</td>
                    <td>30.5"</td>
                  </tr>

                  <tr>
                      <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">VOX ADULT PANTS</td>
                  </tr>
                  
                
                  <tr>
                    <td>28</td>
                    <td>28-29"</td>
                    <td>26"</td>
                    <td>8-1/4"</td>
                    <td>36-1/4"</td>
                  </tr>

                  <tr>
                    <td>30</td>
                    <td>30-32"</td>
                    <td>26"</td>
                    <td>8-5/8"</td>
                    <td>36-3/4"</td>
                  </tr>

                  <tr>
                    <td>32</td>
                    <td>32-33"</td>
                    <td>26.5"</td>
                    <td>9"</td>
                    <td>37-3/8"</td>
                  </tr>

                  <tr>
                    <td>34</td>
                    <td>34-35"</td>
                    <td>26.5"</td>
                    <td>9-1/2"</td>
                    <td>38"</td>
                  </tr>

                  <tr>
                    <td>36</td>
                    <td>36-38"</td>
                    <td>27"</td>
                    <td>9-7/8"</td>
                    <td>38-5/8"</td>
                  </tr>

                  <tr>
                    <td>38</td>
                    <td>38-40"</td>
                    <td>27.5"</td>
                    <td>10-1/4"</td>
                    <td>39-1/8"</td>
                  </tr>

                  <tr>
                    <td>40</td>
                    <td>40-42"</td>
                    <td>28"</td>
                    <td>10-5/8"</td>
                    <td>39-3/4"</td>
                  </tr>

                  <tr>
                    <td>42</td>
                    <td>42-50"</td>
                    <td>28-5"</td>
                    <td>11"</td>
                    <td>40-3/8"</td>
                  </tr>

                  <tr>
                        <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">VOX YOUTH PANTS</td>
                  </tr>

                  <tr>
                    <td>Y18</td>
                    <td>18-19"</td>
                    <td>15-3/4"</td>
                    <td>6-3/4"</td>
                    <td>26-3/4"</td>
                  </tr>

                  <tr>
                    <td>Y20</td>
                    <td>20-21"</td>
                    <td>18-1/4"</td>
                    <td>7-1/8"</td>
                    <td>28"</td>
                  </tr>

                  <tr>
                    <td>Y22</td>
                    <td>22-23"</td>
                    <td>20-3/4"</td>
                    <td>7-1/2"</td>
                    <td>29-1/8"</td>
                  </tr>

                   <tr>
                    <td>Y24</td>
                    <td>24-25"</td>
                    <td>23-1/4"</td>
                    <td>7-7/8"</td>
                    <td>30-3/8"</td>
                  </tr>

                  <tr>
                    <td>Y26</td>
                    <td>26-27"</td>
                    <td>25-3/4"</td>
                    <td>8-1/4"</td>
                    <td>31-1/2"</td>
                  </tr>

                  <tr>
                    <td>Y28</td>
                    <td>28-29"</td>
                    <td>28-1/4"</td>
                    <td>8-5/8"</td>
                    <td>32-5/8"</td>
                  </tr>

                  <tr>
                      <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">ENDURE ADULT PANTS</td>
                  </tr>
                  
                
                  <tr>
                    <td>28</td>
                    <td>28-30"</td>
                    <td>29-1/2"</td>
                    <td>9"</td>
                    <td>34"</td>
                  </tr>

                  <tr>
                    <td>30</td>
                    <td>30-32"</td>
                    <td>30"</td>
                    <td>9-1/4"</td>
                    <td>35"</td>
                  </tr>

                  <tr>
                    <td>32</td>
                    <td>32-34"</td>
                    <td>30-1/2"</td>
                    <td>9-1/2"</td>
                    <td>36"</td>
                  </tr>

                  <tr>
                    <td>34</td>
                    <td>34-36"</td>
                    <td>31"</td>
                    <td>9-3/4"</td>
                    <td>37"</td>
                  </tr>


                  <tr>
                    <td>36</td>
                    <td>36-38"</td>
                    <td>31-1/2"</td>
                    <td>10"</td>
                    <td>38"</td>
                  </tr>

                   <tr>
                    <td>38</td>
                    <td>38-40"</td>
                    <td>32"</td>
                    <td>10-1/4"</td>
                    <td>39"</td>
                  </tr> 

                   <tr>
                    <td>40</td>
                    <td>40-42"</td>
                    <td>32"</td>
                    <td>10-1/4"</td>
                    <td>39"</td>
                  </tr>

                  <tr>
                    <td>42</td>
                    <td>42-44"</td>
                    <td>32"</td>
                    <td>10-1/4"</td>
                    <td>39"</td>
                  </tr>

                  <tr>
                    <td>44</td>
                    <td>44-46"</td>
                    <td>32"</td>
                    <td>10-1/4"</td>
                    <td>39"</td>
                  </tr>

            </tbody>
          </table>
    </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab3 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab4">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/gloves-size-img.jpg?v=1615968374" alt="Seven MX Gloves Size Charts" title="Seven MX Gloves Size Charts" style="margin: 0 auto;width: 100%;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys text-center">
            <thead>
              <tr>
                  <th>Size</th>
                  <th>Length</th>
              </tr>
            </thead>
              <tbody>

                  <tr>
                      <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">ENDURE ADULT GLOVES</td>
                  </tr>

                  <tr>
                    <td>S</td>
                    <td>7-1/8"</td>
                  </tr>
                  
                  <tr>
                    <td>M</td>
                    <td>7-1/2"</td>
                  </tr>

                  <tr>
                    <td>L</td>
                    <td>7-7/8"</td>
                  </tr>

                  <tr>
                    <td>XL</td>
                    <td>8-1/8"</td>
                  </tr>

                  <tr>
                    <td>2XL</td>
                    <td>8-1/2"</td>
                  </tr>

                  <tr>
                      <td colspan="5" style="text-transform: uppercase;font-weight: bold;text-align: center;">ENDURE YOUTH GLOVES</td>
                  </tr>

                  <tr>
                    <td>YXXS</td>
                    <td>5"</td>
                  </tr>

                  <tr>
                    <td>YXS</td>
                    <td>5-7/8"</td>
                  </tr>

                  <tr>
                    <td>YS</td>
                    <td>6-1/8"</td>
                  </tr>

                  <tr>
                    <td>YM</td>
                    <td>6-3/8"</td>
                  </tr>

                  <tr>
                    <td>YL</td>
                    <td>6-1/2"</td>
                  </tr>

                  <tr>
                    <td>YXL</td>
                    <td>6-7/8"</td>
                  </tr>


            </tbody>
          </table>
    </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab3 -->

</div><!-- tab-content tab-content-ys obs_sizechart -->
