
<div class="row">
<div class="col-md-12"><!-- title -->
  
  <div class="text-center">
	<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1236/4838/files/img_icon-07.png?9974348587713791240" alt="">
  </div>
<div class="divider divider--lg"></div>
<h3 class="text-center title-under uppercase_txt home_title">Domestic Shipping Quote Request</h3>
<p>For International shipping quotes, please use our Int'l Shipping Quote Request Form Use the form below if you need to know the exact shipping cost before placing your order for all domestic USA shipments. </p>
<p>This is mostly applicable for very large or complicated shipments. For our normal shipping rates and information, review our Shipping Information page.</p>
<div class="divider divider--md"></div>

<!--  PLACED FORM HERE  


  .
  .
  .
  .
  .
  .
  .
  
-->
  
  
</div>
</div>