{% if "logo" == condition %}

<a href = "/collections/scorpion">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/scorpio-brand-wall-banner-4-min.jpg?2104591955251404087" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-brand-wall-banner-min.jpg?11057904134244721178" alt="">
</a>
{%comment%}
<div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 brand-wall-left-side-banner">
  <div class = "row">
    <a href = "#">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-hot-sales-3.jpg?16070833576562578267" alt="">
    </a>
  </div>
</div>
<div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 brand-wall-right-side-banner">
  <div class ="row">
    <a href = "#">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-new-arrivals-3.jpg?16070833576562578267" alt="">
    </a>
  </div>
</div>


{%endcomment%}

{% elsif "header" == condition %}




<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/scorpion" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->
{% elsif "collection" == condition %}
<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-womens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/womens-collection-4-min.jpg?6118425206841592624">
       </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-mens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mens-collection-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-helmets-collection-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-street-jackets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">JACKETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-jacket-collection-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/scorpion-sales">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-hot-sales-4-min.jpg?34152987383203875" alt="">
      </a>
    </div>
  </div>
</div>
  
  
  
  
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-street-gloves">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">GLOVES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-gloves-collection-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-pants">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">PANTS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-pants-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-helmet-accessories">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">HELMET ACCESSORIES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/helmet-accessories-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion/casual-shirts">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">CASUAL WEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/casual-wear-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
  </div>
</div>
</div>


<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/scorpion-womens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-womens-collection-min.jpg?11057904134244721178">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/scorpion-mens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-mens-collection-min.jpg?11057904134244721178">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/scorpion-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-helmets-collection-banner-min.jpg?11057904134244721178">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/scorpion-street-jackets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">JACKETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-jacket-collection-banner-min.jpg?11057904134244721178">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/scorpion-sales">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-hot-sales-4-min.jpg?11057904134244721178" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/scorpion-street-gloves">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">GLOVES</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-gloves-collection-banner-min.jpg?11057904134244721178">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/scorpion-pants">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">PANTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-pants-banner-min.jpg?11057904134244721178">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/scorpion-helmet-accessories">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">HELMET ACCESSORIES</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-helmet-accessories-min.jpg?11057904134244721178">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/scorpion/casual-shirts">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CASUAL WEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-mobile-casual-wear-banner-min.jpg?11057904134244721178">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
 
<div class ="divider"></div>
<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button>

{%comment%}
<div class ="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 col-md-offset-2 col-lg-offset-2 col-xl-offset-2" id = "helmet-collections">
  <a href = "/collections/scorpion-helmets" >
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve" class ="helmet-collections">
      <g id="Layer_1" class="scorpion-helmets-st0">


      </g>
      <g id="Layer_2">
        <g id="XMLID_1_">
          <g>
            <path d="M768.8,585.2l11.5,98.5c-4.3-3.7-8.7-1.7-8.7-1.7l-31.3,13.3L715,724.7c-10.3,6-20.3,24.7-20.3,24.7
                     c-7.3,27.3-36.7,19-36.7,19c-27.6-21-36.7-14.7-36.7-14.7c-11-10.7-23.7-13-23.7-13s-29.7,10-148.7,30s-136.3-7.3-190.7-40.3
                     c-54.3-33-51.7-27-95.7,8S110,688.7,110,688.7l-1-2.8c-7.2-29.3-10.3-63.5-11.1-95.9c0-0.2,0-0.3,0-0.5
                     c-0.6-31.3,0.4-70.5,4.6-117.9c0-0.1,0-0.1,0-0.2l1.8-5.8c-3.3,1.3-7-4.3-7-4.3C141.7,445,399,483.5,399,483.5
                     c113.5,14,319.2,58.5,319.2,58.5c11.7,2,21.3,5.1,28.3,9.4C768.4,564.6,769.2,585,768.8,585.2z"/>
          </g>
          <g>
            <path class="scorpion-helmets-st1" d="M97.9,589.6c-0.6-31.3,0.4-70.5,4.6-117.9"/>
            <path class="scorpion-helmets-st1" d="M102.5,471.5c0,0-18.6-7.9-18.6-15.8c-0.1-7.3,46.7-300,228.1-370.5c51.3-19.9,72.3-31.3,98-43.8
                                                  c0,0,147.7-73.2,355.7-16.5c0,0,355.3,62,355.3,443.3c0,0-0.5,66.7-6.5,138.2l5.3,18.8l-1.7,62.2c0,0,1.2,13.8-10.2,21.8l4.2,5.7
                                                  c0,0-0.6,18.1-5.5,37.8c0,0-6.7,24.8-19.7,42.5l-44.2,56.7c0,0-77.2,65.7-254.8,162.3l-1.8,0.8h-9.5l0.6,3.3l-101,46.3
                                                  c0,0-30.5,15.8-44.3,40.2c0,0-18.7,17.7-187.3,61c0,0-121,30.7-177.3,32.3c0,0-64.3,7.7-90.3-32.7c0,0-32.3-65.3-27.3-157
                                                  l0.7-17.3c0,0-50.5-112.8-55.5-135.5c0,0-17.8-55.8-4.7-79.5c0,0,16.8-71.8,14.3-75.3c0,0-13.3-0.5,3-14.8c0,0-8.3-31-9.6-96.2"
                  />
            <path class="scorpion-helmets-st1" d="M97.9,590c0.9,32.4,3.9,66.6,11.1,95.9l1,2.8c0,0,8.7,84.7,52.7,49.7s41.3-41,95.7-8
                                                  c54.3,33,71.7,60.3,190.7,40.3s148.7-30,148.7-30s12.7,2.3,23.7,13c0,0,9.1-6.3,36.7,14.7c0,0,29.3,8.3,36.7-19
                                                  c0,0,10-18.7,20.3-24.7l25.3-29.3l31.3-13.3c0,0,4.3-2,8.7,1.7l-11.5-98.5c0.4-0.2-0.4-20.6-22.3-33.8c-7-4.2-16.6-7.4-28.3-9.4
                                                  c0,0-205.7-44.5-319.2-58.5c0,0-257.3-38.5-301.7-22.2c0,0,3.7,5.7,7,4.3l-1.8,5.8c0,0,0,0.1,0,0.2c-0.4,3.3-6.3,57.4-4.6,117.9
                                                  C97.9,589.7,97.9,589.9,97.9,590z"/>
            <path class="scorpion-helmets-st1" d="M194,310.5c0.8-1.6,21.9-41.5,57-57.7c0,0,46.5-27.3,60.8-27.5c0,0,4.8-1.3,0,3.5c0,0-29.8,15-37.5,25.5
                                                  c0,0,4.4,12.3-20.3,22.3c0,0-16.7,9.3-11.7,11.3c0,0,6.5,7.8,66.3,2.8c0,0,11.8,1-9.5,17.5c0,0-60.5,53.8-76.5,58.8
                                                  c0,0-21,13.8-25.5,14.5c0,0-5.5-0.3,7.5-9.8c0,0,23.8-23,23.8-27c0,0,0-15,21.3-22.3c0,0,15-11.5-0.5-10.5c0,0-22-6.3-40.8,0.8
                                                  c0,0-16.3,5.2-14.3-0.3C195.9,307.2,194.3,310,194,310.5z"/>
            <path class="scorpion-helmets-st1" d="M194,310.5C194,310.5,194,310.5,194,310.5"/>
            <path class="scorpion-helmets-st1" d="M218,1002.5l-2.9-54.5c0,0-4.5-15.5,12.9-20.3s30.5-9.3,30.5-9.3s10-0.5,0.8,7c0,0-21.1,9.6-28.3,14.5
                                                  c0,0-6.4,2.1-6.3,23.4l-3.6,39.1C221.1,1002.5,220,1003.5,218,1002.5z"/>
            <path class="scorpion-helmets-st1" d="M329.7,935l32.7-43.3L470,857.3c0,0,9.7-1,0,5l-98.7,41c0,0-37.3,31-37.7,35
                                                  C333.7,938.3,329.3,940,329.7,935z"/>

            <path class="scorpion-helmets-st1" d="M776.8,1015.2l0.6-1.5L729,975c-14.3-8.7-12-17.7-12-17.7c4.3-14,4.3-38.3,4.3-38.3l-9.3-17.3v-3l3.7-47.3
                                                  c-3.7-29.7,18.7-53,18.7-53l39.3-48c32.7-20,11.4-49.8,11.4-49.8s0.3-3.3,0.1-6.9c-0.2-4.5-1.2-9.5-4.2-9.2"/>

            <path class="scorpion-helmets-st1" d="M784.7,693c0,0,0,0.2,0.4,0.6c1,0.9,4.7,2.5,18.4,3.1c5.5,0.2,14.2,0.8,24,1.4c24.7,1.6,55.7,3.8,55.7,3.8
                                                  c67.5,5.4,143.3,7.5,224.3,7.5"/>
          </g>
        </g>
        <path class="scorpion-helmets-st2" d="M343.3,1098c0,0,17.7,4.5,36.7-4c0,0,118.5-45,133.5-62c0,0,66.5-59.5,74.5-84c0,0-69,4-122.5,23
                                              c0,0-129,72.5-138,103C327.5,1074,326.3,1090.5,343.3,1098z"/>
      </g>
      <g id="Layer_3" class="scorpion-helmets-st0">
      </g>
    </svg>

    <div class ="divider divider--xl"></div>
    <div class ="divider divider--md"></div>
    <h3 class = "helmets-text text-center" >HELMETS</h3>
  </a>
</div>
<div class = "col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" id = "jacket-collections">
  <a href ="/collections/scorpion-street-jackets">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">
      <style type="text/css">
        .st0{display:none;}
      </style>
      <g id="Layer_1" class="st0">


        <path class="jackets-st1" d="M392.8,82.5"/>
        <path class="jackets-st2" d="M669,141"/>
        <path class="jackets-st2" d="M292,877.7"/>
        <path class="jackets-st3" d="M957.7,211.3"/>
      </g>
      <g id="Layer_2">
        <g id="Layer_3">
        </g>
        <path class="scorpion-jackets-st4" d="M392.8,82.5c0,0-20.5,9.5-34.5,25.3c0,0-91.3,32.3-116.5,56.5c0,0-16.8,15.6-26.5,27.3c0,0-19.8,18.8-20,44
                                              L174,343.3L159.5,454l-15,172c0,0-9,65.5,8.5,103.5c0,0,8.4,28.5-10.8,69l-4.7,14.5l-18,191c0,0,1,47-4,62c0,0-6,19.5,0,30.5l2.3,6
                                              c0,0-4.6,13.8-4.9,17.5c-0.3,3.8,7.3,16.3,23.6,21.6c0,0,29.6,12.1,67.9,8.4l3.7-4.1l0.4-6.3c0,0,4.1-3.2,9.6,5.5
                                              s22.6,11.6,32.9-2.9l0.3-33.4l6-6.8l1.1-23.6c0,0,0.3-5.5-4-7l6.3-9.8l0.7-11.8l3.7-12c0,0,8.9-60.3,8.7-75c0,0,18.5-70.3,17.5-79
                                              l1-2l4.1,15l13.4,64.5c0,0,8.5,36.8,10.3,76.3c0,0,4.8,15.3,14.5,15.3s39-0.3,39-0.3s6.8,5.5,29.8,5c0,0,29.5,9.5,39.8,8.5
                                              s174.8,24.8,218.8,5l73.8-25l3.8-5.5l24,8.5l5,9.8c0,0,3,7.8,5.5-6.8c0,0,4.3-13,3-15l19.3-1.8l0.9-5.2c0,0,18.2-9.8,21.8-42.3
                                              v-14.7l-10.7-6.8c0,0-3-9-5.7-10.8c0,0,20.2-31.3,20.8-52.7c0,0,5.7-25.7,3.7-37.7l6-89.7c0,0,5-22.3,6-45c0,0,6-8.7,4.7-41l6.3-47
                                              L886,705l-15,108.3c0,0-3.3,10.7-1.8,16.2c0,0-13.3,21.5-15.3,38.8l-13,36.5c0,0,2,5.8,7.5,7.8l-8.3,24.5l-4.5,42.8l-2,37.8
                                              c0,0-12.8,27-14.5,55c0,0-9,7-8.8,19.8l-26.8,46c0,0-10,10.3,5.8,24.3s49.8,34.3,71,26.3c0,0,3.3-1.5,8.5,6.3c0,0,4.5,8.3,25.8,0
                                              c0,0,5.8-5.5,3.5-22.3c0,0,11.8-21.5,11.3-40c0,0,34.3-46.5,35-71.5l5.3-19l42.5-54l13-27.8l28.5-68.5c0,0,40.5-139,43-167.3
                                              c2.5-9.6,2.2-20,0-31L1058.7,560l-27.3-119.7c0,0-10.7-29.7-8.7-40l-15.3-63.3l-11-58.7c0,0-7-28-23.7-59c-16.7-31-47.3-66-47.3-66
                                              s-7.3-15-91-36c0,0-58.7-27.7-103.3-41l-7.3-7.3l-32-7.3h-17.3c0,0-7.3,1.7-19-27.3c0,0,1.3-4-9-11.3c0,0,0.7-16.5-39.3-20
                                              c0,0-25.7-2.7-52.7,4.7c0,0-48.3-11-77.7,1c0,0-60.7,11.3-76,28c0,0-9.7,16.3-3.7,28.3l-1,17.5H392.8z"/>
        <path class="scorpion-jackets-st4" d="M681.3,63c0,0-55.3,124-201.3,128c0,0-5.8-43,15-50.5l8-4c0,0-1.8-22.8,28.3-29S629.5,44,632.8,21
                                              c0,0,6-15.6-17.6-17"/>
        <path class="scorpion-jackets-st5" d="M506,135c0,0,147-72.8,143.8-105l-1-5.2"/>
        <path class="scorpion-jackets-st5" d="M455.7,132.3c0,0-42.7-16.2-57.3-52.4"/>
        <path class="scorpion-jackets-st4" d="M396,82.5C377.3,195.7,470,191,470,191s7.7-6.7,1.7-50.7l-6.3-3.6c0,0-3.7-13.4-15.3-19.1c0,0-35-27-41-52
                                              c0,0-4.5-37.8,24.7-46"/>
        <path class="scorpion-jackets-st4" d="M666,141c0,0-25.7-6.7-19.3,14c15.6,2.8,100.2,65.3,112,66.7l40-4.7c0,0-84-45.3-83.3-47.3
                                              C715.3,169.7,676.7,141.9,666,141z"/>
        <path class="scorpion-jackets-st4" d="M242,237.3l47-50.7c0,0,74-42,75.3-46.7h12c0,0-16.3,9.7-16.3,25.3L296.3,202l-35,35.3H242z"/>
        <path class="scorpion-jackets-st4" d="M921,149.2c-3.5-3.9-93.4,27.6-148.5,222.3c0,0-18,5-80,12c0,0-155,28-215.5,64.5l-13.3,228.3l-10,158.7
                                              l-10.9,231.3"/>
        <path class="scorpion-jackets-st4" d="M661.5,1071.3c0,0,21.9-70.9,20.4-92.9c0,0-9.5,6.8-20.4,7.5c0,0,1.5-41.3,7.3-55.6c0,0,9.3-79.5,10.3-92
                                              c0,0,9.3-117.3,9-126.3l27.5-12c0,0,5.3-107.5-1.5-119c0,0-4.5-25.1,3.4-43.3c0,0,15.6-76.5,10.8-89.5c0,0-3.8-27.7,14.8-35.5
                                              c20.9-8.8,29.4-41.3,29.4-41.3s-7.5,50,0,64.5s37,87,37,87l2.5,7c0,0,0,40.7,15.5,70.6c15.5,29.9,22.2,42.1,22.2,42.1"/>
        <path class="scorpion-jackets-st4" d="M372,1052.8c0,0,9-83.4,10-124.1l10-159.3l5.8-186.3c0,0,11.6-137.3,9.9-141.3c0,0-45.3-20.7-51.3-22
                                              l-107-34.7c0,0-0.3-22.4,1.7-29.3c1.5-5.3-0.8-53.7-7.3-66.5c0,0-9.8-37.7-28.8-60.7l-1.1-35.4"/>
        <path class="scorpion-jackets-st4" d="M292,882"/>
        <path class="scorpion-jackets-st4" d="M292,882c0,0-30.3-165.3-20.5-182c0,0,6.3-22-0.8-44c0,0-5.5-30,1.3-85.3c0,0,5-65.1-3.4-74"/>
        <path class="scorpion-jackets-st5" d="M957.7,211.3c0,0-27.2,27.2-19.3,73c0,0,16.7-9.3,28-11l6.7,0.3v2.8c0,0-12.2,7,0.8,21.7c0,0-2,15.3-5.7,25
                                              c0,0,15-15.5,14.2-25.2c0,0,4.5-31-2.5-45.5c0,0-9.5,6.5-28.2,6.7c0,0,10.8-13.2,0.7-25.8c0,0,6.1-20.3,7.2-22l0.7-1.1l0.2-0.5
                                              L957.7,211.3z"/>
        <path class="scorpion-jackets-st6" d="M747,305l-10,38c0,0-125.5,20.5-216.5,74.5c0,0,153-52,242.5-52.5l17-60H747z"/>
        <path class="scorpion-jackets-st6" d="M272.7,318l-3.7,35.5c0,0,16.5,23.2,97.7,55.7L253,372.7c0,0,6-49.8,11.8-53.3L272.7,318z"/>
        <path class="scorpion-jackets-st6" d="M165.4,409.2c0,0,10.9,27.2,103.3,76.2c2.2,11.9-2.3,24.5-10.1,35.1c0,0-80.1-40.9-97.7-76.6"/>
        <path class="scorpion-jackets-st5" d="M139.3,815c0-8.3,37.7-33.9,37.7-33.9l0.1-4.1l1.5-58.7c-3.7-15.3,0-29.3,0-29.3c-0.2-18.4,34.4-58.8,36.1-62
                                              c25.8-30.1,43.8-106.5,43.8-106.5l0,0"/>
        <path class="scorpion-jackets-st5" d="M177,781.1l-1.7,38.9c0,0-31.7,16-39,26.7"/>
        <path class="scorpion-jackets-st5" d="M175.3,820c7.1,5.1,28.5,14.9,28.5,14.9c9.8,0.9,21.5,13.1,21.5,13.1l-2.5,41c0,0-3.2,8-8.3,7.2l-46,4.8
                                              c0,0-13.5,184.7-7.2,193.7c0,0,0.2,0,0.5,0c5.9,0.1,58.8,1.6,86.1,23.3l3,3.1"/>
        <path class="scorpion-jackets-st5" d="M120.3,1102.4c-5.9,2.1,26-7.3,41.1-7.7"/>
        <path class="scorpion-jackets-st5" d="M270.3,570c-8.5,0.3-22.7-6.5-22.7-6.5l-1.4-0.8"/>
        <path class="scorpion-jackets-st6" d="M276.7,498.3"/>
        <path class="scorpion-jackets-st6" d="M276.2,491.1"/>
        <path class="scorpion-jackets-st5" d="M774.3,373.3c0,0,16,9,20,18.8s4.6,30.4,17.1,56c0,0,5.3,9,9.3,26.6c0,0,10.9,18,13.3,18.6
                                              c0,0,1.1-0.9,2.9-2.5c11.8-10.4,55.9-49.1,57.6-53c0,0,27.5-25,33.8-28.4c0,0,63.3-49.1,66.5-52.8c0,0,14.4,1.7,17.6,4.3"/>
        <path class="scorpion-jackets-st5" d="M833.9,493.3l22.1,33c0,0,49.3-44.8,57.5-56.3c0,0,90.5-69,94.3-75h10.3h3.4"/>
        <path class="scorpion-jackets-st5" d="M856.1,858.4c0,0,59.9-12.4,64.9-12.9c1.8-0.2,7.9-16.7,14.4-38.5c11.3-37.6,24.2-91.2,20.1-104.5
                                              c0,0-1-30.5-24-43.5c0,0-39-22.5-43.5-84.5l-32-48.3"/>
        <path class="scorpion-jackets-st5" d="M1035,887.8c-14.5,4.5-25.2,2-25.2,2s-9.7-33.3-74.4-82.8"/>
        <path class="scorpion-jackets-st5" d="M1018.1,929.6l-39.1-3.9c0,0,3.8-21.5-17-43.3S923.5,847,923.5,847l-2.5-1.5"/>
        <path class="scorpion-jackets-st5" d="M848.5,912.5c3.3,6.3,37.5,11.8,37.5,11.8s-37,76.3-45,110.3c0,0-5.8,32.5-3.8,36.8c0,0-20.3,43.8-28.5,50.8
                                              c0,0-10-0.7-12.9-4.6"/>
        <path class="scorpion-jackets-st4" d="M781.4,1142.3c0,0,10.6-9.8,74.6,26.7c0,0,35,18,38.8,26"/>
        <path class="scorpion-jackets-st4" d="M595.7,67.4c-11.8-2.8-29.4-2.1-68.2-2.2c-47-0.1-104.9,21-102.1,28.8"/>
      </g>
    </svg>
    <div class ="divider divider--xl"></div>
    <div class ="divider divider--md"></div>
    <h3 class = "jackets-text text-center" >JACKETS</h3>
  </a>
</div>

<div class = "col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" id = "gloves-collections">
  <a href = "/collections/scorpion-street-gloves">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">
      <style type="text/css">
        .st0{display:none;}
        .st1{display:inline;fill:#FFFFFF;}
        .st2{display:inline;fill:none;}
        .st6{fill:none;}
      </style>
      <g id="Layer_1" class="st0">


        <path class="st1" d="M8,600"/>
        <path class="st2" d="M271.7,507.6"/>
        <path class="st2" d="M308.2,590.7"/>
      </g>
      <g id="Layer_2">
        <path class="scorpion-gloves-st3" d="M8,600c0,0,4.5-21.5,40-35s35.5-13.5,35.5-13.5h8.3c0,0,39.3-19.3,61.9-21.9s31.1,1,31.1,1s28.1-15,48.9-17.3
                                             c20.8-2.3,45.5-15,45.5-15s9.8-4,17.2-4.3c7.3-0.3,58.8-18.3,59.2-20c0,0-18-13.7-35.7-18.5l-12.8-4.7c0,0-34.2-3.3-42.3-7.8
                                             c-8.2-4.5-28-14.5-34-21.3c-6-6.8,5.3-0.8-20.3-21c0,0-16.8-17.8,16.8-29.5c0,0,9.1-4.9,10.3-9.4s32-6.5,32-6.5s7.8-10,23.3-10.8
                                             s56.3-4.3,56.3-4.3s21,12.5,31.5,13.3l66.3,22l14.5,2.3l63.3,23c0,0,0,18.5,24.8,20c0,0,54.5,6.3,79,21c0,0,34.5,4.3,56.8-9
                                             l52.5-18c0,0,9,2.8,8.3-7.3l0-10.5c0,0,26.2-17.8,40.5-21.5c0,0,9-12,28.5-16.3c0,0,149.3-55.3,150.8-58c0,0,6.9-0.5,12.5,8.1
                                             l18.6-13.1c0,0,7-3.9,18.6,7.3s51.4,40.5,69.4,96.5c0,0,91.3,132,106.3,182c0,0,16.7,41.7-38.3,90l-58.3,13.7c0,0-9,10.3-15.7,13.7
                                             c-6.7,3.3-62.3,13-121.3,14c0,0-39.7,13-112,12.7c0,0-7.3-25-13.7-26.3l-2.3,10c0,0-19,17.3-52,19.3c0,0,1.7,7.3-9.7,11
                                             c0,0-4.7-4.3-11,2.3c-6.3,6.7,5.3,8.3-21.3,14.7c-26.7,6.3-30.7,2-95,27c0,0-82,45-113,58.3l-51.7,12.3c0,0-5.7,9.8-30.2,5.6
                                             L413,875c0,0,4.8,9-55.3,21c0,0-5,3-15.3-4.3l-24.8,8.5h-29.5c0,0-27.3,14-50.8,0l-10.8,1.8c0,0-39.8-18.8-47-49.3
                                             c0,0-89.8-3-99.3-38c0,0-18.5-34-2.8-44.8c0,0-35.8-6-45.3-18.8c0,0-21.5-17.5-11.3-69.5c0,0,10.8-11.8,41.5-12.5
                                             c0,0-33.3-1.3-49.5-22.8S8,600,8,600z"/>
        <path class="scorpion-gloves-st4" d="M226,413.9c-7.4-6.8,6.8-22.4,12.6-23.6c67-12,90.3,8.2,95.3,7.2s16,19.5,16,19.5
                                             c22.5,7.5,74.5,40.5,74.5,40.5s50.2-13.2,90.8-13.8c40.7-0.7,88.7,0,94.7,2c0,0,42.3,3,46.7,1.3c4.3-1.7,5.8-6.4,5.8-6.4"/>
        <path class="scorpion-gloves-st4" d="M232.3,367.8c0,0,37,0.4,64,10.4c0,0,17.5,4,53.5-6.5c0,0,35-6.8,53.5,7.2s55.3,32.8,66.8,30.8l27,12.3
                                             l55.2-0.9"/>
        <path class="scorpion-gloves-st4" d="M656.7,447c3.9-0.1,7.1-0.1,8.8,0.4c0,0,15.8,5.9,28.2,16.4c12.3,10.5,65.3,58.5,111.7,141.5
                                             c46.3,83,40,120.7,40,120.7"/>
        <path class="scorpion-gloves-st4" d="M685,432.8c0,0,33.3,17.3,66.1,57.9c0,0,62.5,79.3,82.2,121.7l31,81.3c0,0,5.1,31.9,3.4,32"/>
        <path class="scorpion-gloves-st5" d="M58.5,669.4"/>
        <path class="scorpion-gloves-st5" d="M22.9,655.9c0,0,61,14.5,85.3,2.1c0,0,1.3,8,17-0.3c0,0,44.7-9.2,53-10.8c8.3-1.7,57.2-10.3,58.8-15.2
                                             c0,0,7.8-2.7,9.3-4.8c0,0,13.9-0.4,17-1.9s26.4-8.8,28.9-12.8l1.3-3.2l0.9-2.3c0,0,9.8-1.5,11.8-0.6c0,0,4.7,0.3,3.9,6.7
                                             c0,0,8.2,1.3,6,6c0,0-4,9.9-9.7,10.6c0,0,5.9,3.7,6.8,3.3c0.8-0.3,13.5-13.3,8.5-22.3s-26.6-6.5-26.6-6.5l-0.8,2.8"/>
        <path class="scorpion-gloves-st5" d="M202.3,570l39.5-24c0,0,10.8-4.5,21,0s9.8,33.8,9.8,33.8s-6.7,8.8-20.2,10s-47-4.3-47-4.3L202.3,570z"/>
        <path class="scorpion-gloves-st5" d="M240.7,512.2L226,527.5c-42.3,2.3-70,46.3-70,46.3c1.8,29,20.3,49.3,20.3,49.3c20.5,4.3,67.8-4.5,67.8-4.5
                                             s30.8-4.7,34-8.2c0,0,11.5,0.5,11.8-1c0.3-1.5,5.3-5.4,5.3-5.4c5.4-4.2,10.1-8.6,13.1-13.3c0-2.8-11.6-63.4-22.7-80.3
                                             c-3.5-5.4-33.2-1.1-33.2-1.1"/>
        <path class="scorpion-gloves-st5" d="M70.3,559l25.8,9.2l9.8,9.1l19.3,59c0,0,0.3,11-16.8,21.8"/>
        <path class="scorpion-gloves-st5" d="M32.5,609.2c0,0-1.3,16.3,2,18s31.8,13,31.8,13s19.8-0.2,19.6-8.9s-0.3-25.9-5.8-29.9s-10.8-7.7-18.2-5.7
                                             C53.7,598,32.5,609.2,32.5,609.2z"/>
        <path class="scorpion-gloves-st3" d="M59.6,669.3c15.9-0.4,47.6-6.3,49.7-9.3"/>
        <path class="scorpion-gloves-st5" d="M270.7,507.6l11.8-7.1c0,0,12.8,0,17.3-1.5s61.7-19.3,61.7-19.3S465,450,490.3,451c0,0,25.4-2.5,43.3-1.5
                                             s47.9,53,47.9,53s53.2,104.7,55,112.5c2.1,9,31.6,52.6,30.5,106s-23.8,61.9-23.8,61.9"/>
        <path class="scorpion-gloves-st4" d="M306.4,629.3"/>
        <path class="scorpion-gloves-st4" d="M237.4,619.6"/>
        <path class="scorpion-gloves-st5" d="M316.5,634"/>
        <path class="scorpion-gloves-st5" d="M573.7,490"/>
        <path class="scorpion-gloves-st5" d="M347.5,574.5"/>
        <path class="scorpion-gloves-st5" d="M84.3,564c0,0,60.2-20.7,97-23c0,0,9.2-6.5,18.4-6.5"/>
        <path class="scorpion-gloves-st5" d="M120.9,646.6c0,0,79.1-15.7,84.4-17.3c0,0,15.4-5.8,17.2-7.6"/>
        <path class="scorpion-gloves-st5" d="M285.5,510.3c0,0,10.7-6.9,12.5-10.9"/>
        <path class="scorpion-gloves-st5" d="M493,502.5c0,0-61.8-22.5-120.3,10c0,0-37.8,13-25.3,56c0,0,16,27.7,11,65.5c0,0,1.5,26,30,50
                                             c0,0,13.5,13.8,8.8,42.5c0,0-0.5,28.8,32.5,48.8c0,0,23.3,45,41.5,55c20.6,11.3,51.4-4,66.3-13.5c0,0,57.8-38.5,61.4-63.8
                                             c0,0,6.4-16.8,1.1-33.8s-19.5-74.2-32.8-95.1c0,0-24-55.4-26.8-59.4s-24.5-46.8-40-57.1L493,502.5z"/>
        <path class="scorpion-gloves-st5" d="M381.5,526.3c0,0-34.5,10.8-17,50.3c0,0,18.8,23.5,13.8,37.5s-9,50,25,61.3s91.3-22.7,91.5-51.1
                                             c0,0-0.8-28.7-10.5-47.9c0,0-5.3-36.8-8.5-42.8s-10-27.5-48.6-21.5C427.1,512,387.3,520.8,381.5,526.3z"/>
        <path class="scorpion-gloves-st5" d="M414.5,714.8c0,0,24-38.5,81.8-41c0,0,25.3-3.8,44.3,37.5c0,0,23,38.3,27.5,42c0,0,16.3,24-15.8,44.8
                                             c0,0-36.2,27.7-62.8,26.8c0,0-32.5-9.5-31.5-32.3s-22.5-28.8-22.5-28.8S409,746,412.8,717.3L414.5,714.8z"/>
        <path class="scorpion-gloves-st5" d="M514.9,638.3c0,0,24.3,22.1,37.6,15.4c0,0-1.4-12.9-7.8-20l-1-3.3c0,0,7.1,9.9,11.5,2l15.2,6.8
                                             c0,0-7-16.4-37.5-21.4c0,0-3.4-0.6-5.6,0c0,0,10.9,25,11.9,25.5s-9.5-11-12.9-3.1c0,0-5.2-1.5-7.7-3.5s-4.9-3.8-4.9-3.8
                                             L514.9,638.3z"/>
        <path class="scorpion-gloves-st5" d="M20.7,697.3l48-23.7c0,0,22.7-6.7,42.3,17.3c0,0,4,2.5,5.8,22c0,0,11.5,20.7,14.8,42.5
                                             c-4.2,7.5-10.7,13.9-19.7,19c-12.1-0.2-24.5-2.1-37.3-5.1"/>
        <path class="scorpion-gloves-st5" d="M129,759.7c0,0,18.4-5,30.1-6.1c14.9-1.5,76.8-18,75.3-17.1l7.9-1.5c0,0-46.3-0.4-46.5-1.8s-23.3-14.9-12-59.6
                                             l75-39.4l25.8-0.2c18.2-9.8,28.7-1.3,28.7-1.3c4.2-0.8,9.7,10,9.7,10c33.7-48.5-14.7-52.7-14.7-52.7"/>
        <path class="scorpion-gloves-st5" d="M98.9,679.9l-3.6-2.1c0,0,26.7-1.7,35.4-7.4c0,0,15.2-2.5,17-5.7h7.5c0,0,8.8-6.8,29-6.7l19-1.2l19.3-3.5"/>
        <path class="scorpion-gloves-st5" d="M68.8,708.2L42.7,718c0,0-2.8,9.2,4,17.5l33,13.7c0,0,17.5,3.7,17.2-8.3c0,0-2.9-25.2-12.4-28.8L68.8,708.2z"
              />
        <path class="scorpion-gloves-st5" d="M73.8,798.6c0,0-2.4-21.1,10.6-22.3l26.7-1.8c0,0,18.5-7.3,35.8-8.7c0.9-0.1,38.8-2.7,38.8-2.7
                                             c29.7-9.3,58.8-18.5,69.7-25.3c0,0,32.2-10.3,49.3-12c17.2-1.7,36.7-11.5,38-19.8c0,0,10-0.3,11,8.5s-7.3,18.5-29.5,20.2
                                             c0,0-6.8,0.3-16,3.8c0,0-31.8-7.5-58.8,5.3c0,0-13.6,22-67.8,30.7c0,0-31.4-0.7-31.8-8.3l-0.1-0.9"/>
        <path class="scorpion-gloves-st5" d="M322.8,642.7c-1.4,17,6.8,32.8,17.8,48.3c0,0,2.5,10.2,2.2,15c0,0,31.9-7.9,12.2,23.8c0,0-5.3,8.4-10.6,10.8
                                             l-0.1,2.8h11.6l5,4.8c0,0,13.5-13.4,9.5-39.7c0,0-1.5-25.2-29.7-17.3"/>
        <path class="scorpion-gloves-st5" d="M228.5,684.5l40-24.8c0,0,12.8-4.3,24.5,0c0,0,11.5,17.7,9.3,30.2c0,0,2.3,6.7-20.2,14.2l-47.2-1.2
                                             C235,702.8,224.8,695.7,228.5,684.5z"/>
        <path class="scorpion-gloves-st5" d="M95.3,666.6c0,0,25,1.4,34.5-8.8l2.6-1.6"/>
        <path class="scorpion-gloves-st5" d="M226,636.5c0,0,29.3-0.4,32.7-2.3"/>
        <path class="scorpion-gloves-st5" d="M274.1,621c0,0-10.6,5.5-7.8,13"/>
        <path class="scorpion-gloves-st5" d="M309.8,612.9c0,0,2,7.5-35,7.8"/>
        <path class="scorpion-gloves-st5" d="M172.8,852.4c0,0,17.4-25.3,85.7-27.6s56.8,0.7,91.8-23.8c0,0,10.1-20.8,3.7-34c-6.4-13.3,0.6-26.1-55.4-24.5
                                             c0,0-45.5-2.5-61,19c0,0-41.8,35.3-81,17.8l-19.6-12.1"/>
        <path class="scorpion-gloves-st5" d="M360.9,748.1c0,0,0.9,22.2,14.4,37.7c0,0-17.4,31.5-42.5,34.3c-0.3,1-2.9,2.6-7,4.4
                                             c-9.8,4.3-27.9,9.4-40.3,7.6c0,0-27.5-5-50,2.2c0,0-40.8,8.3-48.3,16.5c0,0-3.1,2.4,14.3-0.8c0,0,10.4-4.9,32.6-6.4
                                             c0,0,24.9-8.4,40.6-8.6c0,0,8.9-1.3,29.6,1c0,0,29.8,3.8,64.3-13c0,0,17.9-0.5,32.4-13.3c0,0,7.3-10.5-2.5-15.5
                                             c0,0-37.5,26.3-62.3,30.5c0,0-14.7,2.5-18.4,2.6"/>
        <path class="scorpion-gloves-st5" d="M196,880c0,0,3.7-18.7,22.3-22s41,0,41,0l41.3,14c0,0,17.3-27.7,65.3-23.3c0,0,11,1.7,14.3,3.7
                                             c0,0,0.6,8.1,11.4,8.1c0,0,2.4-1.3,4.5-2.5s-6.3,6.5,43.8,1.8l13,1"/>
        <path class="st6" d="M96.8,801.5c0,0,14.2-12.3,33.4-12.5s28.6,16.5,28.6,16.5s13.7,30.5,2.9,37.5s-47.9-8.8-47.9-8.8L99.3,825
                             C99.3,825,92.2,804.8,96.8,801.5z"/>
        <path class="st6" d="M152,774.5"/>
        <path class="st6" d="M96.8,801.5"/>
        <path class="scorpion-gloves-st4" d="M96.8,801.5c0,0,13-15.4,41-10.4s27,38.5,27,38.5s2.4,20.1-16.6,15.2s-43.8-13.4-49-19.8
                                             S96.1,805.8,96.8,801.5z"/>
        <path class="scorpion-gloves-st4" d="M256.3,784.7c0,0-7.2,13.7,4,19.5l47.3,3c0,0,20.8-5.5,22.7-11.3c0,0,3.7-19.9-11.2-32.1H299
                                             C299,763.8,258,780,256.3,784.7z"/>
        <path class="scorpion-gloves-st4" d="M229.5,901.6c0,0,8.2-8.2,15.2-8.4s27.7,0.3,42.2,7.7"/>
        <path class="scorpion-gloves-st4" d="M342.5,891.8c0,0,7.6-8.3,41.4-13L413,875"/>
        <path class="scorpion-gloves-st5" d="M547,443.4c0,0,38.3-0.4,84.7,106.2c0,0,49.3,107.3,50.7,135.7c0,0,19.4,74.4-30.1,90"/>
        <path class="scorpion-gloves-st5" d="M687.7,710.7l60.3-23.3c0,0,26.3-23.3,69.7-25h14.7"/>
        <path class="scorpion-gloves-st5" d="M681.7,745.9c0,0,40-13.4,71.5-30.7c0,0,16.6,3.9,21.9,20.3"/>
        <path class="scorpion-gloves-st5" d="M1097.4,685c29.4-34,24.4-110.5,24.4-110.5c-1.5-30.5-22.8-27.8-22.8-27.8c-36,0.5-200.8,18-200.8,18
                                             c-11.3,7.3-10.3,29-10.3,29c13,20.5,35.5,116.9,35.5,116.9s8.2,4.2,28.8,1.5l8.2,1.1"/>
        <path class="scorpion-gloves-st5" d="M786.3,375.5c0,0-5.4,17.3-4.3,20.3c0,0-1.4,4.1,8,0.6c0,0,75.4-19.8,78.8-23c0,0,54-10.9,72.1-12.1
                                             c0,0,34.1-1.4,38.8-8.5c0,0-22.6-30.5-37-32.5c0,0-18.9-0.7-30.6,2.5"/>
        <path class="scorpion-gloves-st5" d="M978.9,308.7c0,0,34.9,31.9,37.8,40.1l1,1.2l-5.5,0.8l4.4,4.9l6.6-1.4c0,0,27.9,34.1,34.1,43.5l20.8,23.4
                                             c0,0,19.7,24.6,40.7,65.8c0,0,24,32.5,31.3,53.3c0,0,28,49.8,28.5,59.8c0,0,7.8,18.5-11.8,37.8c0,0-20.5,28.8-19.5,35.5"/>
        <path class="scorpion-gloves-st5" d="M976.6,669.6c0,0,28.5-59.6,53.1-68.2c0,0,9.1-3.5,10-3.1s-5.3,7.9-5.3,7.9s-15.5,16.1-15.4,17.3
                                             s9.8,5.8-3.3,15.3s-13.3,13-13.3,13s51-15.9,52.9-19.5s13-7.3,8.3,2s-16.8,35.8-38.6,48.6c0,0-13,9.2-22.5,13.4l-7.3,2.6
                                             c0,0,19.8-16.5,22-20.2c2.2-3.7-6.5-8.9,8.7-15.7c0,0,11.5-7,11.4-8.6s-32.3,7.9-53.8,18.1C983.6,672.5,977.3,677,976.6,669.6z"/>
        <path class="scorpion-gloves-st7" d="M791.4,433.7c0,0-22.8-0.5-33.6,6.5c0,0-4.8,6.1,0,9c0,0,10.3,0.3,22.5-4c0,0,3.7-0.2,0.3,1.4
                                             c-3.3,1.6-23.7,3.9-23.7,3.9s-5.6,2.3-0.2,5.3c0,0,10.8,0.5,24.1-3.3c0,0,8.4-2.2,10.5-4.1c0,0,2.7-6.2,0-8
                                             c-2.7-1.8-23.1,2.5-23.1,2.5s-3.8-0.4,8.2-2.4s15.4-1.7,15.4-1.7S795.5,436.2,791.4,433.7z"/>
        <path class="scorpion-gloves-st7" d="M829.2,428.4c0,0-20.5-1.7-34.8,6.4c0,0-1.6,5.6-1,13c0.3,2.2,29.7,0.8,33.8-5.8c0,0,2.3-2.9,1.7-5.9l-0.3-0.6
                                             l-8.2,2.5c0,0-0.7,1.8-2.1,2.5s-12.6,2.2-13.6,1s-0.8-4.8,2.3-5.6c0,0,7.3-2,12.5-1.6l0.4,1.9l8.2-2.1c0,0,2.8-0.8,1-5.5"/>
        <path class="scorpion-gloves-st7" d="M832.4,428.3c0,0-4.4,7-1.1,14c0,0,27.6,0.4,33.9-5.8c0,0,3.4-7.8,0.6-14.2C865.7,422.3,837.9,423,832.4,428.3
                                             z"/>
        <path class="scorpion-gloves-st7" d="M842,430.8c4.8-1.1,9.5-1.8,14-1.8c0.4,1.8,0.4,3.5,0,5.2c-4.4,1.2-9.1,1.7-14,1.7
                                             C841.3,434.2,841.3,432.5,842,430.8z"/>
        <path class="scorpion-gloves-st7" d="M868.1,436.8l3.1-15.8c8.7-2.4,20.2-3.3,32.2-4c0,0,11.3,4.2-3.3,11.3l3.2,2.4c0,0,2.5,2.7-1,3l-8.8,1
                                             l-9.4-7.3v-2.1H881c0,0,0.4,10.9-6.4,12.8h-6.3h-0.7L868.1,436.8z"/>
        <line class="scorpion-gloves-st7" x1="895.1" y1="423.6" x2="881" y2="425.2"/>
        <path class="scorpion-gloves-st7" d="M934.5,419.1l-9.8,1c0,0-8.9,4-0.8,6.1l14.4-1.8c0,0,6-1,6.6-6.3c0,0,0.3-3.9,0-5s-20.6,0.8-20.6,0.8l-14,1.9
                                             c0,0-3.5,14.6-2.9,17.5c0,0,9.5-0.5,11.2-4.3c0,0,1.3-8.1,1.4-9.3l13.9-0.9"/>
        <path class="scorpion-gloves-st7" d="M945.8,421.6l1.8-10.5c0,0,5.5-1.8,9.4,0c0,0-0.3,12.1-1.2,14.7c0,0-3.2,6.3-10.3,0.5L945.8,421.6z"/>
        <path class="scorpion-gloves-st7" d="M969,408.8c0,0-6.8,0.4-10.3,4.8l-0.8,10.9c0,0,2.1,2.6,7.6,2.1l19-1.3c0,0,6.9-1.6,8.3-5.7l0.9-10.7
                                             c0,0-0.5-2.7-5.8-2.1L969,408.8z"/>
        <path class="scorpion-gloves-st7" d="M968.9,414c-0.7,2.1-0.7,4,0,5.9l13.3-1.3c1.4-2,0.7-5.9,0-5.9L968.9,414z"/>
        <path class="scorpion-gloves-st7" d="M997.1,404.9l-1.9,18.1h10.1l0.8-9.1l9.6,5.9l12,0l1.5-18.3c0,0-9.2-0.6-11,4.1l-0.3,4.6l-11.1-6.3
                                             L997.1,404.9z"/>
        <path class="scorpion-gloves-st7" d="M833.8,421.8l-0.5,0.1l-69.5,11.4c0,0-23.6,5.4-15.8,24.1c0,0-1,12.4,61.3-3.5c0,0,85.3-12.1,95.6-13.3
                                             s116.6-12,128.1-15.4c0,0,6-21.7,4.3-24.9c0,0-1.3-5-6.9-4.4c0,0-184.7,22.9-190.6,24.8L833.8,421.8z"/>
        <path class="scorpion-gloves-st4" d="M433.1,455.4c-34.1,8.8-59.6,13.1-78.3,19.1"/>
      </g>
    </svg>
    <div class ="divider divider--xl"></div>
    <div class ="divider divider--md"></div>
    <h3 class = "gloves-text text-center" >GLOVES</h3>
  </a>

</div>
<div class ="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2" id = "pants-collections">
  <a href = "/collections/scorpion-pants">
    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1200 1200" style="enable-background:new 0 0 1200 1200;" xml:space="preserve">
      <style type="text/css">
        .st0{display:none;}
      </style>
      <g id="Layer_3" class="st0">
      </g>
      <g id="Layer_1">
      </g>
      <g id="Layer_2">
        <path class="scorpion-pants-st1" d="M453.3,58.3l-1.2,24.5l-10.5,5.5l6.7,14.2c0,0-5.5,9.2,5.7,9.7c0,0-4.8,7.3-3,19.2l0.3,3.8
                                            c0,0-8.8,16.2-12,43.7c0,0-9.6,10.7-11.3,47.7c0,0-12.5,15.5-4.8,27l1.8,4c0,0-12,13-12.5,44.5c0,0-15,19-15.3,63.3l-12.3,55
                                            c0,0-15,44.5-14.3,80c0,0-4,11.5-3,20S357.5,588,357.5,588s-8.8-1.5-9.8,18.3l-2,43.3c0,0,3.3,12-8,28.8c0,0-5.3,11-4.5,21.5
                                            c0,0-6.3,1.8-8,17c0,0-18.3,28.8,9,86l4.3,7.3c0,0,2.3,17.8,11.8,46.3l-0.5,13.3l24,72.8c0,0,8.3,16,11.5,18.8
                                            c0,0,4.5,40.3,14.8,57c0,0,0.5,27.8,7,35.8c0,0-2.5,31.5,5.5,45l0.3,16.5c0,0,11.1,32.3,67,15.8c0,0,30.8-13.3,35.5-22.5
                                            s13.8-26.3,2-45.5c0,0,5-14.8,1.8-45.5c0,0,4.8-20.8,0.5-49.3c0,0,13.5-89.3,4.8-114.5s-15-60.3-15-60.3l1-9.5l-5.3-5l-3.5-19.3
                                            c0,0,10.8-3.8,0.5-9.8l8-31.8c0,0,10.3-3.8,2.3-11.8c0,0,7.5-4.3,6.3-18.8l0.3-5.3l3.3-4.5l0.3-11.8c0,0,8.7-1.3,5-20.3
                                            c0,0,12.5-6,9.5-26.8c0,0,11-7.3,9-19.3c0,0,12.3-7.3,10.5-21.5c0,0,25.8-33.8,43.8-103c0,0,19-4.3,22.5-12.8v35.5
                                            c0,0-7.8,18.5,0,38.8l2.3,88.8c0,0-13.5,14.3,7,37.3l3.3,25.8c0,0-5.5,14.5,4.3,20.8c0,0-5.5,23.8,0,34.8c0,0-9.8,14-10.3,23.8
                                            c0,0,5.5,30.5,25.3,53c0,0,4.3,15.3,4,32.5c0,0,1.3,14-2,24l-7.8,15c0,0,0,13.3,6.3,19.5c0,0-7.3,24,1.5,38l11.8,27.8l-1.8,25
                                            c0,0-6.5,13,1.8,29.8c0,0,0.8,8.8,3.8,16.8s2.5,78.3,2.5,78.3s0.3,4.3-5,13.8c0,0,2.3,9.5-4.3,38.8c0,0,19,35.3,73,10
                                            c0,0,31.5-9.5,31.8-27.3c0,0,9-27.5,8-38.5c0,0,17.3-57.3,15-76.8c0,0,27.9-90.5,27.9-147.2c0,0,6.7-97.7-14.7-152.3
                                            c0,0,3.3-6-1.7-21c0,0-3-95.3,3.7-109.7c0,0,15.7-79,21-90.7c0,0,5-118.7,17.3-140.7c0,0,4.7-17,3-38c0,0,13.3-3,20-26.7
                                            c0,0,24.3-25,8.7-50.7c0,0-5.3-37-11-47.3c0,0-0.7-40.7-5.7-51c0,0,6.3-3.7-2.3-48c0,0,8-50.7-12.7-68.3h4l2.3-8l2.7-18.7
                                            c0,0-7,3.7-10.7-1.7h-12.3c0,0-18-15.7-31-20.3c0,0-30,1.3-85,24c0,0-142.3,32.3-166.7,33.7l-15,1.7l-5-4.3c0,0-33,4.7-48,2.3
                                            C466.7,62.3,453.3,58.3,453.3,58.3z"/>
        <path class="scorpion-pants-st1" d="M794,8.1c0,0-106,18.4-141.5,18.9S586,31,586,31s-75,4-91.5,12c0,0-39.2,6-41.2,15.3"/>
        <path class="scorpion-pants-st2" d="M846.3,56c0,0-59.3,8.5-92.3,25s-139,38.3-139,38.3v5.8c0,0-66-17.5-109.8-6.8l3.5,13c0,0-34.4-3.8-56.9-13.9"
              />
        <polyline class="scorpion-pants-st2" points="859.4,121.4 775,110.7 754,81 	"/>
        <path class="scorpion-pants-st1" d="M536.7,117.7"/>
        <path class="scorpion-pants-st2" d="M602.5,123l-13.3,2.1c0,0-0.7,147.4,6.7,156.6c0,0-28.2,23.2-36.5,41c0,0-28.2-10.8-45.8-33.4l0.3-3.7
                                            c5.7-79.7-5.3-154.4-5.3-154.4"/>
        <path class="scorpion-pants-st2" d="M602.5,55.9c0,0,9.2,62.7,12.5,69.1"/>
        <path class="scorpion-pants-st2" d="M530.3,70c0,0-26.3,5.5-33.3,9.3c0,0-0.5,32.5,8.3,39"/>
        <path class="scorpion-pants-st2" d="M543.5,114.8c0,0-3.5,155.9,6.5,164.7h18.8c0,0,3,2,0,7.5s-10,25.8-10,25.8l-24.1-29.3c0,0-4.2-4.3,3.8-4.3
                                            l14.8,0.3l-9.6-0.2c0,0-10.3-13.3-7-34.5l1.8-64.8l-1.8-65.2"/>
        <path class="scorpion-pants-st2" d="M396.5,368.5c14.5,61,52.5,116.8,52.5,116.8l-36.5,134l4.5-17.1l-57.6-24.6l-1.9,10.4c-11.7,0.5-10,23-10,23
                                            c2,16.5-3.4,54.5-3.4,54.5l-8.7,18.7c0,0-2.3,15.6-5,17.7s-9.8,28.1-9.8,28.1c-6.1,35.1,13.6,72.9,13.6,72.9l6.1-0.5
                                            c0.1-9.1,8.2-28.1,8.2-28.1c7-6.5,6.2-22.2,6.2-22.2c-19.6-27.3-33.2-25.9-33.2-25.9l3.7-9.3c10.3,0,34.5,18,34.5,18
                                            c7.8,4.5,16.3,32.5,16.3,32.5l-5.3,39l-18.3,10.3l-13.7-4.5l11.3,48.7c7.4,5,39.9,0.5,39.9,0.5l3.5,27c-29,18.2-38.9-4-38.9-4
                                            l4.5,13.7c7.6,37.3,26.2,63.2,26.2,63.2c0.8,26.3,14.8,57,14.8,57c-2,1.3,3.2,26.9,3.2,26.9c23.2-0.6,28.1-10.9,28.1-10.9l1.3-68.5
                                            c-6.5-4.5-5.5-12.8-5.5-12.8v-16.3v-76l24-57.8c11.8-8.8,19.3-28,19.3-28c4.5-40-13.5-63-13.5-63c7.5-40.8-16.3-37-16.3-37
                                            c8-16,6.5-49.5,6.5-49.5l19.3-83.8l20.5-85.8l13.3-77c4.5-31.8-5.3-47.5-5.3-47.5c-2.8-13.3-36.5-55.8-36.5-55.8
                                            c-16-15.5-17.8-36.5-17.8-36.5c7.8-1.8,17.3-7.8,17.3-7.8c1.8,5.5,55.9,58.1,55.9,58.1c16.7,21.3,45.8,33.4,45.8,33.4
                                            c2-16.3,43-46.1,43-46.1l69.5-53.8l23.5,17.9c0,0-70.3,50.5-82.5,100.8c0,0-2.3,41.8,2,49.3s-38.5-36.3-38.5-36.3"/>
        <path class="scorpion-pants-st2" d="M468.3,526"/>
        <path class="scorpion-pants-st2" d="M429,360.3c0,0-13.3,27.7-9,45c4.3,17.3,38.7,78.7,38.7,78.7s7.7,11,12-8.7l13.3-59.7
                                            C484,415.7,445.7,364,429,360.3z"/>
        <line class="scorpion-pants-st2" x1="447.8" y1="489.6" x2="469.5" y2="528.1"/>
        <path class="scorpion-pants-st2" d="M471,760.7c0,0-32.2,8.5-46.2,9s-24.4-5.1-48.8-2.5"/>
        <path class="scorpion-pants-st2" d="M334.7,701c0,0,54.3,30.7,79.7,39c0,0-12.7,82.3-10.7,89c0,0,6.3,76,3,81.3c0,0-16.7,14.3-41.4,6.3"/>
        <path class="scorpion-pants-st2" d="M347.3,656c0,0,79.5,54.2,109.4,55.8"/>
        <path class="scorpion-pants-st2" d="M357.5,588c0,0,35.8,31.6,89,41"/>
        <path class="scorpion-pants-st2" d="M607,384.8c0,0-58,154.2-68,184.7s-33.5,114-33.3,123.3c0,0,3.8,1,12.9-3.3"/>
        <path class="scorpion-pants-st2" d="M844,173l-49.5,29c0,0-6.5,64.8-3,69.8c0,0,3.3,15,15.5-4.8c0,0,38.4-59.5,39.3-69.3
                                            C846.3,197.8,846.3,174,844,173z"/>
        <path class="scorpion-pants-st2" d="M622.5,501.3c0,0,59.8-87.8,73-100.3c20.7-19.6,116-123.8,122.9-140.7c18.5-26.8,32.5-56.3,42.9-88"/>
        <path class="scorpion-pants-st2" d="M624.5,480.3c0,0,36.3-59,39.5-69.8s12.8-49-6-35.8l-15.8,12l-17.8,19l-2,63.5"/>
        <path class="scorpion-pants-st2" d="M635,483.2c0,0,3,114.8-2,128.8c0,0,20.2-3,35.3-1c0,0,90.2-123.5,96.2-145.5l83.8-155.8
                                            c0,0,20.5-77.1,19.5-84.6"/>
        <path class="scorpion-pants-st2" d="M829.7,512.4c0,0-15.4,38.3-37,53.3l-9.3,34.3c0,0,13.9,10.6,27.1,5.3"/>
        <path class="scorpion-pants-st2" d="M806.5,618.3c-73.7,3.3-139-6.5-138.2-7.3l-11.8,21.4"/>
        <path class="scorpion-pants-st2" d="M623,628.2c-6.4,3.5,87.7,10.3,183.1-3.7"/>
        <path class="scorpion-pants-st2" d="M633,612c0,0-3.1,14.9-2.1,18.6"/>
        <path class="scorpion-pants-st2" d="M640.5,734l11.5-10l113.5,5c0,0-0.3,47.3-1.8,61.8c0,0,10,13.5,6.5,27.5c0,0-19.5,51.8-17.5,65.8
                                            c0,0-3.8,5-3.3,18.5c0,0-12.5,22.5-38.8,28.3c0,0-36.3-10.5-44.5-26.8l3.5-38c0,0-10.3-13.7-11.5-16.7"/>
        <path class="scorpion-pants-st2" d="M657,834.9c0,0,19.6,22.6,65.6,2.2l17.7-59.1c0,0-7.5-24.4-25.4-31.3c-11.1-1-35.8-10-62.8-5.4
                                            c0,0-15.2,15.7-19.5,40"/>
        <path class="scorpion-pants-st2" d="M714.5,765.5c2.5-2.1-45.2-30.9-64.3-4.3c0,0-9,24.2,25.3,59.9c0,0,5.2,6.7,8.4,6.4c5-0.4,6,3.3,13.3-12.8
                                            C697.3,814.8,717.5,780.8,714.5,765.5z"/>
      </g>
    </svg>
    <div class ="divider divider--xl"></div>
    <div class ="divider divider--md"></div>
    <h3 class = "pants-text text-center" >PANTS</h3>
  </a>
</div>
{%endcomment%}


 {% elsif "lookbooks" == condition %}
    {% assign totalLookbookCount = blogs['lookbook'].articles_count %}
    {% assign counter = 0 %}
    {% paginate blogs['lookbook'].articles by totalLookbookCount %}
    {% for article in blogs['lookbook'].articles %}
    {% if counter < 6 and article.tags contains 'Scorpion' or article.tags contains 'scorpion' %}
    {% assign counter = counter | plus: 1 %}
    <div class="col-sm-6 col-md-4 col-lg-4 hidden-xs">

      <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
        <div>
          {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
        </div>

        <div class="TeaserGrid-content" style="margin-top: 6px;">
          <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
        </div>                       
      </a>

    </div>
    <div class="col-sm-6 col-md-4 col-lg-4 hidden-sm hidden-md hidden-lg hidden-xl">
      <div class ="row">
        <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
          <div>
            {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
          </div>

          <div class="TeaserGrid-content" style="margin-top: 6px;">
            <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
          </div>                       
        </a>
      </div>
    </div>



    {% endif %}
    {% endfor %}
    {% endpaginate %}
    <div class="divider divider--md"></div>
    <div class="visible-xs text-center" id="dmore-lb">
      <a href="/search?type=article&q=scorpion" class="btn btn--ys btn--xl obs_show_more_btn text-center margin_top-50"></a>
    </div>






<div class="divider divider--md"></div>
{% elsif "more_info" == condition %}

<div class = "row">
  <div class = "text-center">
    <h3>PRODUCT CARE</h3>
  </div>
  <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 product-care-section">
    <div class ="">
    <div class = "product-care-list text-justify">
      <div class = "product-care">
        <div class = "more-info-title"><a href = "javascript:void(0)">ScorpionEXO&reg; HELMET AND ScorpionEXOWear&trade; <i class="material-icons">keyboard_arrow_right</i></a></div>
        <div class = "more-info-content">As with any quality product, proper care will enhance and prolong the usefulness of your ScorpionEXO® product and protect your investment. Your ScorpionEXO® Product is engineered and assembled with state-of-the-art technology including exclusive patents and proprietary trademarked features.</div>
      </div>
      <div class = "product-care">
        <div class = "more-info-title"><a href = "javascript:void(0)">ScorpionEXOWear&trade; <i class="material-icons">keyboard_arrow_right</i></a></div>
        <div class = "more-info-content">
          <p>Textile:</p>
          <p>Machine wash cold.</p>
          <p>Hang to dry.</p>
          <p>Cool iron if needed.</p>
          <p>Do not bleach.</p>

          <p>Leather:</p>
          <p>Professional leather cleaning only.</p>
        </div>

      </div>
      <div class = "product-care">
        <div class = "more-info-title"><a href = "javascript:void(0)">CLEANING THE OUTSIDE OF THE HELMET <i class="material-icons">keyboard_arrow_right</i></a></div>
        <div class = "more-info-content">
          <p>Never use any solvents or abrasive cleaners to clean your helmet!! For optimum performance, rinse your helmet in warm water using a mild soap. If the outside is dirty with dried dirt and bugs, we suggest you place a wet towel over the helmet for at least one minute before wiping it clean. This softens the foreign objects before removal lessening the chance of scratches. Plastic polishes like Plexus or Honda polish will work fine to restore luster to your helmet as long as the dirt, grime and bugs have not been "scraped off" dry.</p>
          <p>The multiple coatings on the face shield are resistant to light scratching, however, heavy, abusive scratching can break through the coatings and cause visible marks. Removing dirt and bugs with good cleaning practices and keeping your helmet in a RaceCase™ will significantly help to prolong the life of your helmet and face shields.</p>
        </div>
      </div>
      <div class = "product-care">
        <div class = "more-info-title"><a href = "javascript:void(0)">CLEANING THE INSIDE OF THE HELMET <i class="material-icons">keyboard_arrow_right</i></a></div>
        <div class = "more-info-content">
          <p>The removable, washable liner in all our helmets make it easy to clean. Even a man can do it. Remove the cheek pads first by unsnapping the 3 (usually) button snaps on each one. Be careful not to "tear" the pad out, but carefully un-snap each button. The "crownliner" can be unsnapped (2) from the back of the head area and the pulled away from the helmet in the forehead area. Note the alignment arrows for re-installing the crownliner. Throw these three pieces into the washing machine and allow to air dry before re-installing.</p>
        </div>
      </div>
      <div class = "product-care">
        <div class = "more-info-title"><a href = "javascript:void(0)">CLEANING THE FACE SHIELD <i class="material-icons">keyboard_arrow_right</i></a></div>
        <div class = "more-info-content">
          <p>The ScorpionExo® face shields have different cleaning procedures for inside and outside. The outside is coated with an anti-scratch coating which prevents minor scratches, but cannot resist heavy wiping and cleaning without preliminary softening of the dirt, grime and bugs first. Note the damp towel method of softening dried bugs and dirt above. Plastic polishes work fine (clear and smoke shields only) to clean the outside of the shield as long as the dirt and grime has been softened and removed first. The inner Everclear® no-fog coated face shields required special treatment for cleaning. We suggest using a warm water and mild soap combination followed by "pat drying" with a dry towel. "Wiping" may cause premature wear and scratching on the Everclear® innercoating. Mirrored shields should use warm water only.</p>
        </div>
      </div>
      <div class = "product-care">
        <div class = "more-info-title"><a href = "javascript:void(0)">CHEMICALS <i class="material-icons">keyboard_arrow_right</i></a></div>
        <div class = "more-info-content">
          <p>Certain common household chemicals will react negatively with the polycarbonates, fiberglass or coatings of your helmet. Avoid contact with acetone (nail polish remover), caustic solutions (ammonia-based cleaners), hair sprays containing methyene, chlorine from swimming pools or glues.</p>
        </div>
      </div>
      <div class = "product-care">
        <div class = "more-info-title"><a href = "javascript:void(0)">REPAIR SERVICES <i class="material-icons">keyboard_arrow_right</i></a></div>
        <div class = "more-info-content">
          <p>Scorpion Sports offers special low-cost repairs or replacement parts to keep your helmet in excellent working condition. Please give us or your local dealer a call. Our warranty and repair department can be reached Pacific Coast business hours at 1-888-212-0688.</p>
        </div>
      </div>

      <div class = "product-care">
        <div class = "more-info-title"><a href = "javascript:void(0)">MAILING ADDRESS <i class="material-icons">keyboard_arrow_right</i></a></div>
        <div class = "more-info-content">
          <p>Place your helmet into a suitably protected box and send via FedEx, USPS, or UPS, registered or insured to;</p>
          <p>Scorpion Sports Inc.</p>
          <p>ATTN: Warranty Dept.</p>
          <p>10425 Slusher Drive</p>
          <p>Santa Fe Springs, CA 90670</p>
        </div>
      </div>
    </div>
  </div>
  <div class = "divider divider--xl"></div>
  <div class = "text-center">
    <h3>WARRANTY &amp; RETURNS</h3>
  </div>
  <div class = "product-care">
    <div class = "more-info-title"><a href = "javascript:void(0)">WARRANTY INFORMATION <i class="material-icons">keyboard_arrow_right</i></a></div>
    <div class = "more-info-content">
      <div class ="text-justify">
        <p>Scorpion EXOWear™ is warranted against defects in materials and workmanship for 5 years on Leather, 3 years on Textile, 1 year on Mesh products, 1 year on Covert Jeans/Flannels, and 1 year on gloves from original date of purchase, this warranty is limited to the repair and/or replacement of parts and the necessary labor and services required to repair the item. Normal wear and tear is not covered by this warranty.</p>
        <p>Scorpion helmets are warranted against defects in materials and workmanship. Please see chart below for model and warranty period. Faceshields are warranted for 1 year from original purchase date, this warranty is limited to the repair and replacement of parts and the necessary labor and services required to repair the helmet. Normal wear and tear is not covered by this warranty.</p>
      </div>
      <table style="width: 650px; height: 340px; background-color: #f9f9f9; border-color: #000000; border-width: 1px; border-style: solid;" border="1">
        <tbody>
          <tr>
            <td colspan="2">
              <div class="style3 style7" style="text-align: center;"><strong>HELMET WARRANTY CHART</strong></div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">
              <div class="style5"><strong>3 YEAR PURCHASE / 5 YEAR MANUFACTURE DATE</strong></div>
            </td>
            <td style="text-align: center;">
              <div class="style5"><strong>5 YEAR PURCHASE / 7 YEAR MANUFACTURE DATE</strong></div>
            </td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-1000</td>
            <td style="text-align: center;">EXO-GT3000</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-1100</td>
            <td style="text-align: center;">EXO-R2000</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-900</td>
            <td style="text-align: center;">EXO-T1200</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-900X</td>
            <td style="text-align: center;">EXO-AT950</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-750</td>
            <td style="text-align: center;">EXO-GT920</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-700</td>
            <td style="text-align: center;">EXO-R710</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-500</td>
            <td style="text-align: center;">EXO-T510</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-400</td>
            <td style="text-align: center;">EXO-R420</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-250</td>
            <td style="text-align: center;">EXO-R410</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-200</td>
            <td style="text-align: center;">EXO-R320</td>
          </tr>
          <tr>
            <td style="text-align: center;">EXO-100</td>
            <td style="text-align: center;">EXO-CT220</td>
          </tr>
          <tr>
            <td style="text-align: center;">VX-17</td>
            <td style="text-align: center;">EXO-C110</td>
          </tr>
          <tr>
            <td style="text-align: center;">VX-14</td>
            <td style="text-align: center;">Belfast</td>
          </tr>
          <tr>
            <td style="text-align: center;">VX-9</td>
            <td style="text-align: center;">VX-R70</td>
          </tr>
          <tr>
            <td style="text-align: center;">&nbsp;</td>
            <td style="text-align: center;">VX-35</td>
          </tr>
          <tr>
            <td style="text-align: center;">&nbsp;</td>
            <td style="text-align: center;">&nbsp;Covert</td>
          </tr>
        </tbody>
      </table>
      <div class ="text-justify">
        <p>The product may be returned directly to Scorpion Sports, Inc. Warranty Dept. for inspection (freight prepaid) Requests for Return Authorizations (RMA) should be requested via telephone at (888) 672-6774 or email warranty@scorpionusa.com If the exact model of helmet in question is discontinued or no longer available, a model of equal or better value will be offered at the discretion of Scorpion Sports, Inc.</p>
        <p>Canadian customers, please contact the dealer that you purchased your product from for a streamlined process. Thank You.</p>
        <p>Modification of any kind made to the helmet by the user or any third party will render this warranty null and void. This includes but is not limited to the installation of audio systems, drilling the shell or liner, carving or compressing the liner and painting of the shell. Normal wear and tear to the finished and painted surfaces, abnormal treatment or abuse to the helmet interior is NOT covered under this warranty. This warranty also does NOT cover chips, scratches, abrasions or other damage to the helmet's outer shell, painted surfaces, and faceshield caused by contact with another surface or object</p>
        <p><b>*IMPORTANT NOTE:</b> All dyed/pigmented fabrics, polycarbonites (ie: helmets) and vinyl will fade under UV exposure (sunlight) over time. Scorpion fabrics are highly UV resistant, but HI-VIS fabrics will fade at a faster rate than normal fabrics under the same UV exposure. This is a normal property of all HI-VIS pigments/fabrics and is not considered a manufacturer defect. </p>
        <p>THIS WARRANTY IS EXPRESSLY IN LIEU OF ALL OTHER WARRANTIES AND ANY IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. SCORPION SPORTS, INC. SHALL NOT BE LIABLE FOR ANY INCIDENTAL OR CONSEQUENTIAL DAMAGES. SOME STATES DO NOT ALLOW EXCLUSION OR LIMITATION OF IMPLIED WARRANTIES, INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION AND EXCLUSION MAY NOT APPLY TO YOU.
          This warranty gives you specific legal rights and you may also have other rights, which vary from state to state.</p>
      </div>
    </div>
  </div>
</div>



<div class="divider divider--md"></div>


{% elsif "brand_sizing_guide" == condition %}
{% include 'scorpion-size-chart' %}
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion_Exo.png?7012605803389424048">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class = "row">
            <p>For over 10 years, ScorpionExo® has been DEDICATED to offering high quality, innovative motorcycle helmets and apparel at an incredible value. Some of the world’s best helmet and apparel designers spend countless hours developing and testing ScorpionExo® products to ensure that each and every ScorpionExo® HELMET AND GARMENT will surpass user expectations. Pulling R&D from some of the top riders in the world, from MotoGP™ all the way to the Dakar Rally, ScorpionExo® is committed to listening to your needs as a rider.</p>
            <div class = "hidden-content">
              <p>This formula is supported by Scorpion’s unique position in the manufacturing process: owning and operating our own state-of-the-art manufacturing facilities. Our development and manufacturing expertise provide the ScorpionExo® brand a level of quality and attention to detail that cannot be surpassed. ScorpionExo® is DEDICATED to making helmets and apparel that maximize comfort and safety through a variety of riding styles and conditions...and we are proud to stand behind every product we make.</p>
              <p>At ScorpionExo® we are DEDICATED to providing premium quality safety products you can rely on, we live for our brand from start to finish and we ride the same streets as you do. ScorpionExo®... We are more than just a logo.</p>
            </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}
<script>

  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('#helmet-collections').hover(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','black');
      $j('.helmets-text').css('color','black');
    });
    $j('#helmet-collections').mouseleave(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','#6b6b6b');
      $j('.helmets-text').css('color','#3a3a3a');
    });
    $j('#jacket-collections').hover(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','black');
      $j('.jackets-text').css('color','black');
    });
    $j('#jacket-collections').mouseleave(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','#6b6b6b');
      $j('.jackets-text').css('color','#3a3a3a');
    });
    $j('#gloves-collections').hover(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','black');
      $j('.gloves-text').css('color','black');
    });
    $j('#gloves-collections').mouseleave(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','#6b6b6b');
      $j('.gloves-text').css('color','#3a3a3a');
    });
    $j('#pants-collections').hover(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','black');
      $j('.pants-text').css('color','black');
    });
    $j('#pants-collections').mouseleave(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','#6b6b6b');
      $j('.pants-text').css('color','#3a3a3a');
    });
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });


  });
</script>







