{% if "logo" == condition %}

<a href = "/collections/thor-mx">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-banner-min.jpg?7756377174765557236" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-banner.jpg?17406223244670274225" alt="">
</a>



{% elsif "header" == condition %}

<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/thor-mx" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 



{% elsif "collection" == condition %}
  <div class ="desktop hidden-sm hidden-xs">
    <div class = "container-fluid">
      <div class ="row">
        <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thormx-womens-collection">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">WOMEN'S GEAR</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-womens-collection-min.jpg?7756377174765557236">
            </a>
          </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thor-mx-mens-collection">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">MEN'S GEAR</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-mens-collection-min.jpg?7756377174765557236">
            </a>
          </div>
        </div>
        <div class ="divider"></div>
        <div class = "col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thor-mx-off-road-helmets">
              <div class = "collection-text-holder">
                <h1 class = "thor-mx-big-collection-text">HELMETS</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-helmets-collection-min.jpg?7756377174765557236">
            </a>
          </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thor-mx-off-road-goggles">
              <div class = "collection-text-holder">
                <h1 class = "collection-text-col-4-2">GOGGLES</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-goggles-collection-3-min.jpg?8598833093302895884">
            </a>
          </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class = "collection-background">
            <div class ="divider divider--sm" style = "height: 15px; background-color:white;"></div>
            <a href = "https://motorhelmets.com/collections/thor-mx-off-road-gloves">
              <div class = "collection-text-holder">
                <h1 class = "collection-text-col-4">GLOVES</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-gloves-collection-2-min.jpg?8598833093302895884">
            </a>
          </div>
        </div>
        <div class ="divider"></div>
        <div class = "col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style = "overflow:hidden">
          <div style = "overflow:hidden">
            <div class = "collection-background-hotsale">
              <a href = "https://motorhelmets.com/collections/thor-mx-sale">
                <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-hot-sale-banner-min.jpg?8598833093302895884">
              </a>
            </div>
          </div>
        </div>
        <div class ="divider"></div>
        <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thor-mx-off-road-jerseys">
              <div class = "collection-text-holder">
                <h1 class = "thor-mx-big-vertical-collection-text">JERSEYS</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thosmx-jerseys-collections-min.jpg?13093074012844115372">
            </a>
          </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thor-mx-pants">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">PANTS</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-pants-collection-min.jpg?10723474300405349009">
            </a>
          </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thor-mx-boots-collection">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">BOOTS</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-boots-collection-min.jpg?13536815631422234924">
            </a>
          </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="thormx-1024-divider"></div>
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thor-mx-jackets">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">JACKETS</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-jackets-collection-min.jpg?12176144281903996664">
            </a>
          </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
          <div class="thormx-1024-divider"></div>
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/thor-mx-casual-apparel">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">CASUAL</h1>
              </div>
              <span class = "thor-mx-collection-background">&nbsp; </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/thormx-casual-collection-min.jpg?12176144281903996664">
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
  
  
  
  <div class ="mobile hidden-md hidden-lg hidden-xl">
    <div class ="row">
      <div class = "container-fluid">
        <div class ="row">
          <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class ="row">
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thormx-womens-collection">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-womens-collection-min.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class ="row">
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thor-mx-mens-collection">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-mens-collection-min.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">
            <div class ="row">
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thor-mx-off-road-helmets">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">HELMETS</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-helmets-collection-min_fab33991-142d-42c5-8c36-2678521f31b9.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class ="row">
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thor-mx-off-road-goggles">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">GOGGLES</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-googles-collection-min.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class ="row">
              <div class = "collection-background">
                <div class ="divider divider--sm" style = "height: 15px; background-color:white;"></div>
                <a href = "https://motorhelmets.com/collections/thor-mx-off-road-gloves">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">GLOVES</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-gloves-collection-min_8b9d4b0d-8225-4692-b366-2aca36fc9a04.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" style = "overflow:hidden">
            <div class ="row">
              <div style = "overflow:hidden">
                <div class = "collection-background-hotsale">
                  <a href = "https://motorhelmets.com/collections/thor-mx-sale">
                    <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-hot-sale-min-2.jpg?7739806834796847099">
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class ="row">
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thor-mx-off-road-jerseys">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">JERSEYS</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-jersey-collection-min.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class ="row">
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thor-mx-pants">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">PANTS</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-pants-collection-min.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class ="row">
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thor-mx-boots-collection">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">BOOTS</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-boots-collection-min.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class ="row">
              <div class="thormx-1024-divider"></div>
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thor-mx-jackets">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">JACKETS</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-jackets-collection-min.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
          <div class ="divider"></div>
          <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class ="row">
              <div class="thormx-1024-divider"></div>
              <div class = "collection-background">
                <a href = "https://motorhelmets.com/collections/thor-mx-casual-apparel">
                  <div class = "collection-text-holder">
                    <h1 class = "mobile-collection-text">CASUAL</h1>
                  </div>
                  <span class = "thor-mx-collection-background">&nbsp; </span>
                  <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-thormx-casual-collection-min.jpg?3849705166302089625">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% elsif "lookbooks" == condition %}


{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
{% assign counter = 0 %}
{% paginate blogs['lookbook'].articles by totalLookbookCount %}
{% for article in blogs['lookbook'].articles %}
{% if counter < 6 and article.tags contains 'ThorMX' or article.tags contains 'thormx' or article.tags contains 'Thor MX' %}
{% assign counter = counter | plus: 1 %}

<div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">

  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
    <div>
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
    </div>

    <div class="TeaserGrid-content" style="margin-top: 6px;">
      <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
    </div>                       
  </a>

</div>

{% endif %}
{% endfor %}
{% endpaginate %}

<div class="divider divider--md"></div>

{% comment %}
<div class="title-with-button">
  <div class="carousel-products__button pull-right"> <span class="btn-prev"></span> <span class="btn-next"></span> </div>
  <h3 class="text-left title-under  text_uppercase black_txt moto_wall_sub_title"><a href="/search?type=article&q=Thor+MX">More Lookbooks from Thor MX</a></h3>
</div>
<div class="obs_lookbook_banner_slider slider">

  {% for article in blogs['lookbook'].articles %}

  {% for tag in article.tags %}
  {% if tag == 'Thor MX' %}

  <div class="obs_lookbook_banner_slider-items">
    <a href="{{ article.url }}">
      <img src="{{ article.image.src | img_url: '1024x1024' }}" title="{{ article.title }}" alt="{{ article.title }}"/>
      <div class="slide-caption">{{ article.title }}</div>
    </a>
  </div>


  {% endif %}
  {% endfor %}
  {% endfor %}

</div>

{% for article in blogs['lookbook'].articles %}
{% if article.tags contains 'Thor MX' %}
<div class="njohn_search_otherpage">
  <a href="{{ article.url }}" title="{{ article.title | escape }}">
    <div>{{ article.image.src | img_url: 'medium' | img_tag: article.title }}</div>
    <div>{{ article.title }}</div>
  </a>
</div>
{% endif %}
{% endfor %}

{% endcomment %}




{% elsif "brand_sizing_guide" == condition %}
{% include 'page.thormx-size-chart' %}
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ThorMXlogo.jpg?10774465152055507231">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class = "row">
            <p>THOR was founded by 4-Time World 250cc Motocross Champion ('62, '63, '66, '67) Torsten Hallman in 1968 in San Diego, California. Two years earlier, Torsten had come to the United States at the request of Husqvarna to help promote the bike and introduce it to the US market.</p>
            <div class = "hidden-content">
              <p> Torsten completely dominated as he won every race he entered; Motocross, Desert, Smooth Track TT’s, and the Hopetown Grand Prix. He entered 23 races and was never beaten. The US riders and press were intrigued by the young, fast Swede wearing goatskin leather pants and riding the bike with the hard to pronounce name. Torsten saw the American began important pants, gloves, and jerseys under the brand name Hallman Racing, or THOR (Torsten Hallman Original Racewear). </p>
              <p>This was the beginning of THOR. Over the years countless races and championships have been won by riders wearing THOR. Every product is a progression, a new step forward in design and performance. Always racing forward, always respecting our past, always focused on building quality products that exceed rider expectations. The First. The Forever</p>        </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endif %}

<script>
  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });
  });

</script>