
<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#Store-wall-SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

<li><a href="#Store-wall-SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

<li><a href="#Store-wall-SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Boys</a></li>

<li><a href="#Store-wall-SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Baby</a></li>

  
  
</ul>


<div class="tab-content tab-content--ys Sbs_store-wall-sizechart">
<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartTab1">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#Store-wall-SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>

<li><a href="#Store-wall-SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Belts</a></li>

<li><a href="#Store-wall-SizeChartMenTab3" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>

<li><a href="#Store-wall-SizeChartMenTab4" role="tab"data-toggle="tab" class="text-uppercase">Headwear</a></li>

<li><a href="#Store-wall-SizeChartMenTab6" role="tab"data-toggle="tab" class="text-uppercase">Snow Outerwear</a></li>

<li><a href="#Store-wall-SizeChartMenTab7" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>

<li><a href="#Store-wall-SizeChartMenTab8" role="tab"data-toggle="tab" class="text-uppercase">Waterman Apparel</a></li>

<li><a href="#Store-wall-SizeChartMenTab9" role="tab"data-toggle="tab" class="text-uppercase">Wetsuits</a></li>

</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartMenTab1">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/quiksilver-mens-casual-size-chart.jpg?9563926771328844922" alt="Quiksilver Men's Apparel">
        </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">Tops &amp; Elastic waist bottom</th>
               <th scope="col">XXS</th>
              <th scope="col">XS</th>
              <th scope="col">S</th>
              <th scope="col">M</th>
              <th scope="col">L</th>
              <th scope="col">XL</th>
              <th scope="col">XXL</th>
              <th scope="col">XXXL</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>A| Chest</td>
              <td>33.9"</td>
              <td>35.8"</td>
              <td>37.8"</td>
              <td>39.8"</td>
              <td>41.7"</td>
              <td>143.7"</td>
              <td>45.7"</td>
              <td>47.6"</td>
            </tr>
            <tr>
              <td>B | Waist</td>
              <td>27.4"</td>
              <td>29.3"</td>
              <td>30.3" - 31.3"</td>
              <td>32.3" - 33.3"</td>
              <td>34.3" - 35.2"</td>
              <td>36.2" - 37.2"</td>
              <td>38.2" - 39.2"</td>
              <td>40.2" - 44.1"</td>
            </tr>
            <tr>
              <td>C | Hip</td>
              <td>34.4"</td>
              <td>36.4"</td>
              <td>37.4" - 38.4"</td>
              <td>39.4" - 40.4"</td>
              <td>41.3" - 42.3"</td>
              <td>43.3" - 44.3"</td>
              <td>45.3" - 46.3"</td>
              <td>47.2" - 51.2"</td>
            </tr>
            <tr>
              <td>D | Bottom Size</td>
              <td>27</td>
              <td>28</td>
              <td>29 - 30</td>
              <td>32 - 33 </td>
              <td>34 - 35</td>
              <td>36 - 37</td>
              <td>38 - 39</td>
              <td>40 - 44</td>
            </tr>
          </tbody>
        </table>
        </div><!-- Responsive Table -->
      </div>
  </div> <!-- End Row -->
</div> <!-- Store-wall-SizeChartMenTab1 -->

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab2">

<div class="table_responsive">
    <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">Fits</th>
                        <th scope="col">From prong to middle hole</th>
  
                    </tr>
                </thead>
                <tbody>
                  <tr>
                  <td>Small</td>
                  <td>32"</td>
                  <td>35"</td>
                  </tr>
                  <tr>
                  <td>Medium</td>
                  <td>34"</td>
                  <td>37"</td>

                  </tr>
                  <tr>
                  <td>Large</td>
                  <td>36"</td>
                  <td>39"</td>
                  </tr> 
                  <tr>
                  <td>Extra Large</td>
                  <td>38"</td>
                  <td>41"</td>
                  </tr> 
                  <tr>
                  <td>One size</td>
                  <td>44"in length</td>
                  <td></td>
                  </tr>

                </tbody>
            </table>
      </div><!-- Responsive Table -->


      <div>
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/belt-img.jpg?4544470911550085425" alt="Quiksilver Men's Belts"></center>
      </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab3">

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Quiksilver Men's Footwear"></center>
    </div>
    
    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="table_responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">US Men's</th>
                            <th scope="col">UK</th>
                            <th scope="col">EU</th>
                            <th scope="col">INCHES</th>
                            <th scope="col">JP (cm)</th>

      
                        </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>6</td>
                          <td>5</td>
                          <td>39</td>
                          <td>10"</td>
                          <td>24.5</td>
                      </tr>
                      <tr>
                          <td>7</td>
                          <td>6</td>
                          <td>40</td>
                          <td>10.3"</td>
                          <td>25</td>
                      </tr>
                      <tr>
                          <td>8</td>
                          <td>7</td>
                          <td>41</td>
                          <td>10.6"</td>
                          <td>26</td>
                      </tr>
                      <tr>
                          <td>9</td>
                          <td>8</td>
                          <td>42</td>
                          <td>10.9"</td>
                          <td>27</td>
                      </tr>
                      <tr>
                          <td>10</td>
                          <td>9</td>
                          <td>43</td>
                          <td>11.3"</td>
                          <td>28</td>
                      </tr>
                      <tr>
                          <td>11</td>
                          <td>10</td>
                          <td>44</td>
                          <td>11.6"</td>
                          <td>29</td>
                      </tr>
                      <tr>
                          <td>12</td>
                          <td>11</td>
                          <td>45</td>
                          <td>11.9"</td>
                          <td>30</td>
                      </tr>
                      <tr>
                          <td>13</td>
                          <td>12</td>
                          <td>46</td>
                          <td>12.2"</td>
                          <td>31</td>
                      </tr>
                      <tr>
                          <td>14</td>
                          <td>13</td>
                          <td>47</td>
                          <td>12.5"</td>
                          <td>32</td>
                      </tr>
                    </tbody>
                </table>
          </div><!-- Responsive Table -->
      </div>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab4">

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
       <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="MEN'S HELMETS SIZE CHART">
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th scope="col">Hat Style</th>
                    <th scope="col">Circumference</th>
      
              </tr>
            </thead>
            <tbody>
                <tr>
                      <td>Stretch Hats</td>
                      <td>58cm</td>
                </tr>
              <tr>
                      <td>Trucker Hats</td>
                      <td>On 4th Notch, 58cm</td>

              </tr>
              <tr>
                      <td>Fedoras/Novelty Hats</td>
                      <td>S/M , 57cm, L/XL, 59cm</td>
              </tr>
              <tr>
                      <td>Sun Hats</td>
                      <td>5çcm</td>
              </tr>      
            </tbody>
          </table>
        </div><!-- Responsive Table -->  

        <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Circumference</th>
      
              </tr>
            </thead>
            <tbody>
                    <tr>
                        <td>X-Small</td>
                        <td>54 cm</td>
                    </tr>
                    <tr>
                        <td>Small</td>
                        <td>56 cm</td>
                    </tr>
                    <tr>
                        <td>Medium</td>
                        <td>58 cm</td>
                    </tr>
                    <tr>
                        <td>Large</td>
                        <td>60 cm</td>
                    </tr>
                    <tr>
                        <td>X-Large</td>
                        <td>61 cm</td>
                    </tr>       
              </tbody>
            </table>
          </div><!-- Responsive Table -->  
      </div>
      <div>
          <h4><code>* Measure the circumference</code></h4>
      </div>
  </div>

</div> <!-- End Store-wall-SizeChartMenTab4 -->  



<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab6">

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/qs-mens-snow-outerwear-size-chart.jpg?14610393008461433037" alt="Quiksilver Mens Snow Outerwear Apparel">
        </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
      <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">XS</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                        <th scope="col">XXL</th>
  
  
                    </tr>
                </thead>
                <tbody>

                      <tr>
                          <td>A | Chest</td>
                          <td>34"-36"</td>
                          <td>36"-38"</td>
                          <td>38"-40"</td>
                          <td>40"-42"</td>
                          <td>42"-44"</td>
                          <td>44"-46"</td>
                      </tr>
                      <tr>
                          <td>B | Natural Waist</td>
                          <td>28"-30"</td>
                          <td>30"-32"</td>
                          <td>32"-34"</td>
                          <td>34"-36"</td>
                          <td>36"-38"</td>
                          <td>38"-40"</td>
                      </tr>
                      <tr>
                          <td>C | Hip</td>
                          <td>34"-36"</td>
                          <td>36"-38"</td>
                          <td>38"-40"</td>
                          <td>40"-42"</td>
                          <td>42"-44"</td>
                          <td>44"-46"</td>
                      </tr>
                      <tr>
                          <td>D | Inseam</td>
                          <td>31"</td>
                          <td>31"</td>
                          <td>32"</td>
                          <td>32"</td>
                          <td>33"</td>
                          <td>33.5"</td>
                      </tr>
                </tbody>
            </table>
        </div><!-- Responsive Table -->
      </div>
  </div> <!-- Row -->
</div>


<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab7">
      
    <div class="row">
      <div class="col-sm-5 col-md-5 col-lg-5">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/qs-mens-gloves--size-chart.jpg?7162368965678288782" alt="Quiksilver Men's Gloves Size Chart">
        </center>
      </div>

      <div class="col-sm-7 col-md-7 col-lg-7">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Position</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td>A | Palm circumference</td>
                        <td>10</td>
                        <td>10.5</td>
                        <td>11</td>
                        <td>11.5</td>
                    </tr>
                    <tr>
                        <td>B | Back length</td>
                        <td>28.5</td>
                        <td>29</td>
                        <td>20.5</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td>C | Palm length</td>
                        <td>20</td>
                        <td>21.5</td>
                        <td>22</td>
                        <td>22.5</td>
                    </tr>
                    <tr>
                        <td>D | Wrist opening</td>
                        <td>14.5</td>
                        <td>15.5</td>
                        <td>16</td>
                        <td>16.5</td>
                    </tr>
                    <tr>
                        <td>E | Index finger</td>
                        <td>7</td>
                        <td>7.5</td>
                        <td>8</td>
                        <td>8.3</td>
                    </tr>
                    <tr>
                        <td>F | Middle</td>
                        <td>7.7</td>
                        <td>8</td>
                        <td>8.5</td>
                        <td>9.2</td>
                    </tr>
                    <tr>
                        <td>G | Ring finger</td>
                        <td>7.2</td>
                        <td>7.7</td>
                        <td>8.2</td>
                        <td>8.5</td>
                    </tr>
                    <tr>
                        <td>H | Little finger</td>
                        <td>6</td>
                        <td>6.3</td>
                        <td>6.5</td>
                        <td>6.6</td>
                    </tr>
                    <tr>
                        <td>I | Thumb length</td>
                        <td>14</td>
                        <td>15</td>
                        <td>15.5</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>J | Sidewall index finger</td>
                        <td>10.5</td>
                        <td>10.7</td>
                        <td>11</td>
                        <td>11.5</td>
                    </tr>
                    <tr>
                        <td>K | Height wrist</td>
                        <td>7</td>
                        <td>7</td>
                        <td>7</td>
                        <td>7</td>
                    </tr>
                </tbody>
            </table>
      </div><!-- Responsive Table -->
    </div>
  </div> <!-- Row -->

</div> <!-- Store-wall-SizeChartMenTab7 -->

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab8">

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/qs-mens-water-man--size-chart.jpg?10151234593399134910" alt="Quiksilver Water Man Size Chart ">
        </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
      <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Top & Elastic Waist Bottom</th>
                        <th scope="col">S</th>
                        <th scope="col">M</th>
                        <th scope="col">L</th>
                        <th scope="col">XL</th>
                        <th scope="col">XXL</th>  
                    </tr>
                </thead>
                <tbody>

                     <tr>
                        <td>A | Bottom size</td>
                        <td>30 - 31</td>
                        <td>32 - 33</td>
                        <td>34 - 35</td>
                        <td>36 - 38</td>
                        <td>40 - 44</td>
                    </tr>
                    <tr>
                        <td>B | Inseam</td>
                        <td>30 - 31</td>
                        <td>32 - 33</td>
                        <td>32</td>
                        <td>33</td>
                        <td>33</td>
                    </tr>
                    <tr>
                        <td>C | Waist</td>
                        <td>29.5" - 30.5"</td>
                        <td>31.5" - 32.5"</td>
                        <td>33.5" - 34.5"</td>
                        <td>35.5" - 37.5"</td>
                        <td>39.5" - 43.5"</td>
                    </tr>
                    <tr>
                        <td>D | Hip</td>
                        <td>40" - 41"</td>
                        <td>42" - 43"</td>
                        <td>44" - 45"</td>
                        <td>46" - 48"</td>
                        <td>50" - 54"</td>
                    </tr>
                    <tr>
                        <td>E | Neck</td>
                        <td>14"-14.5"</td>
                        <td>31"-31"</td>
                        <td>31"-31"</td>
                        <td>31"-31"</td>
                        <td>31"-31"</td>
                    </tr>
                    <tr>
                        <td>F | Chest</td>
                        <td>35"-37"</td>
                        <td>38"-40"</td>
                        <td>42"-44"</td>
                        <td>46"-48"</td>
                        <td>50"-52"</td>
                    </tr>
                    <tr>
                        <td>G | Long sleeve length measured from center of back</td>
                        <td>32"-33"</td>
                        <td>33"-34"</td>
                        <td>34"-35"</td>
                        <td>35"-36"</td>
                        <td>35"-36"</td>
                    </tr>
                </tbody>
            </table>
        </div><!-- Responsive Table -->
    </div>
  </div> <!-- Row -->
</div> <!-- Store-wall-SizeChartMenTab8 -->

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartMenTab9">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/qs-mens-wetsuits--size-chart.jpg?7210767084125052920" alt="Quiksilver Men Wetsuits Size Chart ">
      </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Size</th>
                          <th scope="col">A | Height</th>
                          <th scope="col">Weight (lbs)</th>
                          <th scope="col">B | Chest</th>
                          <th scope="col">C | Waist</th>
                          <th scope="col">D | Hips</th>  
                          <th scope="col">E | Neck</th>  
                          <th scope="col">F | Inseam</th>  
                      </tr>
                  </thead>
                  <tbody>

                           <tr>
                            <td>XS</td>
                            <td>5'6"-5'8"</td>
                            <td>125-140</td>
                            <td>34"-36"</td>
                            <td>27"-29"</td>
                            <td>33"-35"</td>
                            <td>14.5"</td>
                            <td>26.5"-27.5"</td>
                          </tr>
                          <tr>
                            <td>S</td>
                            <td>5'7 1/2" - 5'9 1/2"</td>
                            <td>135-155</td>
                            <td>36"-38"</td>
                            <td>29"-31"</td>
                            <td>34"-36"</td>
                            <td>15"</td>
                            <td>27.5"-28.5"</td>
                          </tr>
                          <tr>
                            <td>ST</td>
                            <td>5'9" - 5'11"</td>
                            <td>140-160</td>
                            <td>36"-38"</td>
                            <td>29"-31"</td>
                            <td>34"-36"</td>
                            <td>15"</td>
                            <td>28.5"-29.5"</td>
                          </tr>
                          <tr>
                            <td>MS</td>
                            <td>5'7 1/2" - 5'9 1/2"</td>
                            <td>140-160</td>
                            <td>38"-40"</td>
                            <td>31"-33"</td>
                            <td>35"-37"</td>
                            <td>15.5"</td>
                            <td>27.5"-28.5"</td>
                          </tr>
                          <tr>
                            <td>M</td>
                            <td>5'9" - 5'11"</td>
                            <td>150 - 170</td>
                            <td>38" - 40"</td>
                            <td>31" - 33"</td>
                            <td>35" - 37"</td>
                            <td>15.5"</td>
                            <td>28.5"-29.5"</td>
                          </tr>
                          <tr>
                            <td>MT</td>
                            <td>5'11" - 6'1"</td>
                            <td>155 - 175</td>
                            <td>38"- 40"</td>
                            <td>31"- 33"</td>
                            <td>35" - 37"</td>
                            <td>15.5"</td>
                            <td>29.5"-30.5"</td>
                          </tr>
                          <tr>
                            <td>LS</td>
                            <td>5'9"-5'11"</td>
                            <td>165-185</td>
                            <td>40"-42"</td>
                            <td>33"-35"</td>
                            <td>37"-39"</td>
                            <td>16"</td>
                            <td>28.5"-29.5"</td>
                          </tr>
                          <tr>
                            <td>L</td>
                            <td>5'11"-6'1"</td>
                            <td>170-190</td>
                            <td>40"-42"</td>
                            <td>33"-35"</td>
                            <td>37"-39"</td>
                            <td>16"</td>
                            <td>29.5"-30.5"</td>
                          </tr>
                          <tr>
                            <td>LT</td>
                            <td>6'0"-6'2"</td>
                            <td>180-200</td>
                            <td>40"-42"</td>
                            <td>33"-35"</td>
                            <td>37"-39"</td>
                            <td>16"</td>
                            <td>30.5"-31.5"</td>
                          </tr>
                          <tr>
                            <td>XLS</td>
                            <td>5'8 1/2"5'10 1/2"</td>
                            <td>180-200</td>
                            <td>42.5"-44.5"</td>
                            <td>34.5"-36.5"</td>
                            <td>39"-41"</td>
                            <td>16.5"</td>
                            <td>29.5"-30.5"</td>
                          </tr>
                          <tr>
                            <td>XL</td>
                            <td>6'0"-6'2"</td>
                            <td>190-200</td>
                            <td>42"-44"</td>
                            <td>35"-37"</td>
                            <td>39"-41"</td>
                            <td>16.5"</td>
                            <td>30.5"-31.5"</td>
                          </tr>
                          <tr>
                            <td>XLT</td>
                            <td>6'2"-6'4"</td>
                            <td>200-220</td>
                            <td>42"-44"</td>
                            <td>35"-37"</td>
                            <td>39"-41"</td>
                            <td>16.5"</td>
                            <td>31"-32"</td>
                          </tr>
                          <tr>
                            <td>XXL</td>
                            <td>6'0"-6'2"</td>
                            <td>210-230</td>
                            <td>44"-48"</td>
                            <td>37"-39"</td>
                            <td>41"-43"</td>
                            <td>17"</td>
                            <td>31"-32"</td>
                          </tr>
                          <tr>
                            <td>XXXL</td>
                            <td>6'0"-6'2"</td>
                            <td>220-240</td>
                            <td>46"-48"</td>
                            <td>39"-41"</td>
                            <td>44"-46"</td>
                            <td>17.5"</td>
                            <td>31"-32"</td>
                          </tr>
                  </tbody>
              </table>
          </div><!-- Responsive Table -->
      </div> <!-- Row -->
  </div>

</div> <!-- Store-wall-SizeChartMenTab9 -->

</div>
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab2">

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/qs-womens-casual-size-chart.jpg?7178336251232844775" alt="Quiksilver Women's Apparel">
        </center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
      <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Size</th>
                          <th scope="col">XS</th>
                          <th scope="col">S</th>
                          <th scope="col">M</th>
                          <th scope="col">L</th>
    
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>Size</td>
                        <td>0 - 1</td>
                        <td>3 - 5</td>
                        <td>7 - 9</td>
                        <td>11 - 13</td>
                    </tr>
                    <tr>
                        <td>A | Bust</td>
                        <td>31"-31.5" - 32"-32.5"</td>
                        <td>33"-33.5" - 34"-34.5"</td>
                        <td>35"-35.5" - 36"-36.5"</td>
                        <td>37"-37.5" - 38"-38.5"</td>
                   
                    </tr>
                    <tr>
                        <td>B | Natural waist</td>
                        <td>22.5"-23" - 23.5"-24"</td>
                        <td>24.5"-25" - 25.5"-26"</td>
                        <td>26.5"-27" - 27.5"-28"</td>
                        <td>28.5"-29" - 29.5"-30"</td>

                    </tr>
                    <tr>
                        <td>C | Pan waist</td>
                        <td>27"-27.5" - 28"-28.5"</td>
                        <td>29"-29.5" - 30"-30.5"</td>
                        <td>31"-31.5" - 32"-32.5"</td>
                        <td>33"-33.5" - 34"-34.5"</td>
                    </tr>
                    <tr>
                        <td>D | High hips</td>
                        <td>30"-30.5" - 31"-31.5"</td>
                        <td>32"-32.5" - 33"-33.5"</td>
                        <td>34"-34.5" - 35"-35.5"</td>
                        <td>36"-36.5" - 37"-37.5"</td>
                    </tr>
                    <tr>
                        <td>E | Hips</td>
                        <td>32.5"-33" - 33.5"-34"</td>
                        <td>34.5"-35" - 35.5"-36"</td>
                        <td>36.5"-37" - 37.5"-38"</td>
                        <td>38.5"-39" - 39.5"-40"</td>

                    </tr>
                    <tr>
                        <td>F | Inseam</td>
                        <td>_32.5"</td>
                        <td>_32.5" - _33"</td>
                        <td>_33"</td>
                        <td>_33" - _33.5"</td>
                    </tr>
                  </tbody>
              </table>
        </div><!-- Responsive Table -->
      </div>
  </div>   <!--Row-->
            
</div> <!--Store-wall-SizeChartTab2-->


<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab3">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#Store-wall-SizeChartBoysTab1" role="tab"data-toggle="tab" class="text-uppercase">Boys 2-4 Apparel</a></li>

<li><a href="#Store-wall-SizeChartBoysTab2" role="tab"data-toggle="tab" class="text-uppercase">Boys 2-7 Footwear</a></li>

<li><a href="#Store-wall-SizeChartBoysTab3" role="tab"data-toggle="tab" class="text-uppercase">Boys 2-7 Hats</a></li>

<li><a href="#Store-wall-SizeChartBoysTab4" role="tab"data-toggle="tab" class="text-uppercase">Boys 2-7 Snow Outerwear</a></li>

<li><a href="#Store-wall-SizeChartBoysTab5" role="tab"data-toggle="tab" class="text-uppercase">Boys 4-7 Apparel</a></li>

<li><a href="#Store-wall-SizeChartBoysTab6" role="tab"data-toggle="tab" class="text-uppercase">Boys 8-16 Apparel</a></li>

<li><a href="#Store-wall-SizeChartBoysTab7" role="tab"data-toggle="tab" class="text-uppercase">Boys 8-16 Belts</a></li>

<li><a href="#Store-wall-SizeChartBoysTab8" role="tab"data-toggle="tab" class="text-uppercase">Boys 8-16 Footwear</a></li>

<li><a href="#Store-wall-SizeChartBoysTab9" role="tab"data-toggle="tab" class="text-uppercase">Boys 8-16 Hats</a></li>

<li><a href="#Store-wall-SizeChartBoysTab10" role="tab"data-toggle="tab" class="text-uppercase">Boys 8-16 Helmet</a></li>

<li><a href="#Store-wall-SizeChartBoysTab11" role="tab"data-toggle="tab" class="text-uppercase">Boys 8-16 Snow Outerwear</a></li>

<li><a href="#Store-wall-SizeChartBoysTab12" role="tab"data-toggle="tab" class="text-uppercase">Boys 8-16 Wetsuits</a></li>
</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartBoysTab1">

<div class="table_responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Age</th>
       <th scope="col">2</th>
      <th scope="col">3</th>
      <th scope="col">4</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td>Tops &amp; Bottoms</td>
        <td>2T</td>
        <td>3T</td>
        <td>4T</td>
    </tr>
    <tr>
        <td>Chest</td>
        <td>21"</td>
        <td>21.5"</td>
        <td>22"</td>
    </tr>
    <tr>
        <td>Waist</td>
        <td>19.25"</td>
        <td>20"</td>
        <td>20.75"</td>
    </tr>
    <tr>
        <td>Heigh</td>
        <td>35"</td>
        <td>39"</td>
        <td>41"</td>
    </tr>

  </tbody>
</table>
</div><!-- Responsive Table -->
 
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab2">

<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Numeric Size</th>
                        <th scope="col">General Size</th>
  
                    </tr>
                </thead>
                  <tbody>

                      <tr>
                          <td>3/4</td>
                          <td>S</td>
                      </tr>
                      <tr>
                          <td>5/6</td>
                          <td>M</td>
                      </tr>
                      <tr>
                          <td>7/8</td>
                          <td>L</td>
                      </tr>
                      <tr>
                          <td>9/10</td>
                          <td>XL</td>
                      </tr>
                  </tbody>
            </table>
</div><!-- Responsive Table -->


</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab3">

<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Hat Style</th>
                        <th scope="col">Circumference</th>
  
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Stretch Hats</td>
                        <td>52 cm</td>
                    </tr>
                    <tr>
                        <td>Trucker Hats</td>
                        <td>52 cm</td>
                    </tr>
                    <tr>
                        <td>Fedoras/Novelty Hats</td>
                        <td>52 cm</td>
                    </tr>
                </tbody>
            </table>
</div><!-- Responsive Table -->


</div>





<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab4">

<div class="table_responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Age</th>
                        <th scope="col">6 M</th>
                        <th scope="col">12 M</th>
                        <th scope="col">18 M</th>
                        <th scope="col">24 M</th>

  
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>Chest</td>
                      <td>20.5"</td>
                      <td>21.5"</td>
                      <td>23"</td>
                      <td>25"</td>
                  </tr>
                  <tr>
                      <td>Waist</td>
                      <td>19.25"</td>
                      <td>20"</td>
                      <td>21.5"</td>
                      <td>22.75"</td>
                  </tr>
                  <tr>
                      <td>Hip</td>
                      <td>22"</td>
                      <td>22.5"</td>
                      <td>24.25"</td>
                      <td>26.25"</td>
                  </tr>
                  
                  
                </tbody>
            </table>
</div><!-- Responsive Table -->
 
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab5">

  <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                <th scope="col">Age</th>
                <th scope="col">4-5</th>
                <th scope="col">5</th>
                <th scope="col">6</th>
                <th scope="col">7-8</th>
          </tr>
        </thead>
        <tbody>
            <tr>
                <td>Chest</td>
                <td>23"</td>
                <td>24"</td>
                <td>25.5"</td>
                <td>26"</td>
            </tr>
            <tr>
                <td>Waist</td>
                <td>21.5"</td>
                <td>22.75"</td>
                <td>23.75"</td>
                <td>24.75"</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>43"</td>
                <td>46"</td>
                <td>48"</td>
                <td>52"</td>
            </tr>
          
                                   
                  
        </tbody>
      </table>
</div><!-- Responsive Table -->  




</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab6">

<div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                <th scope="col">Age</th>
                <th scope="col">8-9 slim</th>
                <th scope="col">9-10 slim</th>
                <th scope="col">8-9</th>
                <th scope="col">9-10</th>
                <th scope="col">11-12</th>
                <th scope="col">13-14</th>
                <th scope="col">14+</th>
  
          </tr>
        </thead>
        <tbody>
        <td>Fixed Waist Bottom</td>
            <td>22</td>
            <td>23</td>
            <td>24</td>
            <td>25</td>
            <td>26</td>
            <td>27</td>
            <td>28</td>
            <td>29</td>
            <td>30</td>
        <tr>
            <td>Top and Elastic Bottom</td>
            <td>S</td>
            <td>S</td>
            <td>S</td>
            <td>M</td>
            <td>M</td>
            <td>L</td>
            <td>L</td>
            <td>XL</td>
            <td>XL</td>
        </tr>
        <tr>
            <td>Chest</td>
            <td>24"</td>
            <td>25"</td>
            <td>26.5"</td>
            <td>28"</td>
            <td>30"</td>
        </tr>
        <tr>
            <td>Waist</td>
            <td>22"</td>
            <td>23"</td>
            <td>24"</td>
            <td>25"</td>
            <td>26"</td>
        </tr>
        <tr>
            <td>Height</td>
            <td>52"</td>
            <td>55.5"</td>
            <td>52"</td>
            <td>55.5"</td>
            <td>59"</td>
        </tr>
          
                                   
                  
        </tbody>
      </table>
</div><!-- Responsive Table -->  


</div>

  
<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab7">

<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">Fit</th>
  
  
                    </tr>
                </thead>
                <tbody>

                      <tr>
                          <td>3/4</td>
                          <td>22"-26"</td>
                      </tr>
                      <tr>
                          <td>5/6</td>
                          <td>26"-30"</td>
                      </tr>
                      <tr>
                          <td>One size</td>
                          <td>30" in lenght</td>
                      </tr>
                  
                  
                  
                </tbody>
            </table>
</div><!-- Responsive Table -->


</div>


<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab8">
  <div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Size (US)</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
  
  
                    </tr>
                </thead>
                <tbody>

                     <tr>
                        <td>Lenght</td>
                        <td>8.7"</td>
                        <td>9.1"</td>
                        <td>9.4"</td>
                        <td>9.7"</td>
                        <td>10"</td>
                    </tr>
                    
                  
                  
                </tbody>
            </table>
</div><!-- Responsive Table -->


</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab9">
<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Hat Style</th>
                        <th scope="col">Circumference</th>
                    </tr>
                </thead>
                <tbody>

                     <tr>
                        <td>Stretch Hats</td>
                        <td>54 cm</td>
                    </tr>
                    <tr>
                        <td>Trucker Hats</td>
                        <td>On 4th Notch</td>
                    </tr>
                    <tr>
                        <td>55 cm</td>
                    </tr>
                    <tr>
                        <td>Fedoras/Novelty Hats</td>
                        <td>54 cm</td>
                    </tr>
                    
                  
                  
                </tbody>
            </table>
</div><!-- Responsive Table -->



</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab10">
<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Hat Style</th>
                        <th scope="col">Circumference</th> 
                    </tr>
                </thead>
                <tbody>

                        <tr>
                            <td>XS</td>
                            <td>52 cm</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>54 cm</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>56 cm</td>
                        </tr>
                    
                  
                  
                </tbody>
            </table>
</div><!-- Responsive Table -->



</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab11">
<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                    <th scope="col">Size Range</th>
                    <th scope="col">XS (8)</th>
                    <th scope="col">S (10)</th>
                    <th scope="col">M (12)</th>
                    <th scope="col">L (14)</th>
                    <th scope="col">L (14)</th>
                    </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>Height</td>
                          <td>52"</td>
                          <td>52.5"</td>
                          <td>60"</td>
                          <td>64.5"</td>
                          <td>69"</td>
                      </tr>
                      <tr>
                          <td>Chest</td>
                          <td>26.75"</td>
                          <td>28.5"</td>
                          <td>30"</td>
                          <td>32.75"</td>
                          <td>35.5"</td>
                      </tr>
                      <tr>
                          <td>Natural Waist</td>
                          <td>23.25"</td>
                          <td>24.5"</td>
                          <td>26"</td>
                          <td>28.75"</td>
                          <td>31.5"</td>
                      </tr>
                      <tr>
                          <td>Hip</td>
                          <td>27.75"</td>
                          <td>29.5"</td>
                          <td>31"</td>
                          <td>33.75"</td>
                          <td>36.5"</td>
                      </tr>
                      <tr>
                          <td>Inseam</td>
                          <td>24-25"</td>
                          <td>25.5"</td>
                          <td>27"</td>
                          <td>29"</td>
                          <td>31"</td>
                      </tr>
                  </tbody>
            </table>
</div><!-- Responsive Table -->



</div>


<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBoysTab12">
<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                  <tr>
                      <th scope="col">Size</th>
                      <th scope="col">height</th>
                      <th scope="col">Weight (lbs)</th>
                      <th scope="col">Chest</th>
                      <th scope="col">Waist</th>
                      <th scope="col">Hips</th>
                      <th scope="col">Neck</th>
                      <th scope="col">Inseam</th>
                  </tr>
                </thead>
                <tbody>
                      <tr>
                          <td>2</td>
                          <td>3'8-3'10"</td>
                          <td>40-50</td>
                          <td>32"-34"</td>
                          <td>19"-21"</td>
                          <td>22.5"-24.5"</td>
                          <td>10"</td>
                          <td>15.5"-17.5"</td>
                      </tr>
                      <tr>
                          <td>4</td>
                          <td>3'10-4'1"</td>
                          <td>50-60</td>
                          <td>32"-34"</td>
                          <td>20"-22"</td>
                          <td>24"-26"</td>
                          <td>10.5"</td>
                          <td>17"-19"</td>
                      </tr>
                      <tr>
                          <td>6</td>
                          <td>4'1-4'4"</td>
                          <td>60-70</td>
                          <td>32"-34"</td>
                          <td>21"-23"</td>
                          <td>25.5"-27.5"</td>
                          <td>11"</td>
                          <td>18.5"-20.5"</td>
                      </tr>
                      <tr>
                          <td>8</td>
                          <td>4'4-4'7"</td>
                          <td>70-80</td>
                          <td>32"-34"</td>
                          <td>22"-24"</td>
                          <td>27"-29"</td>
                          <td>11.5"</td>
                          <td>20"-22"</td>
                      </tr>
                      <tr>
                          <td>10</td>
                          <td>4'7-4'10"</td>
                          <td>80-90</td>
                          <td>32"-34"</td>
                          <td>23.5"-25.5"</td>
                          <td>28.5"-30.5"</td>
                          <td>12"</td>
                          <td>21.5"-23.5"</td>
                      </tr>
                      <tr>
                          <td>12</td>
                          <td>4'10-5'1"</td>
                          <td>90-100</td>
                          <td>32"-34"</td>
                          <td>25"-27"</td>
                          <td>30"-32"</td>
                          <td>12.5"</td>
                          <td>23"-25"</td>
                      </tr>
                      <tr>
                          <td>14</td>
                          <td>5'1-5'4"</td>
                          <td>100-110</td>
                          <td>32"-34"</td>
                          <td>26.5"-28.5"</td>
                          <td>31"-33"</td>
                          <td>13"</td>
                          <td>24.5"-26.5"</td>
                      </tr>
                      <tr>
                          <td>16</td>
                          <td>5'4-5'5"</td>
                          <td>110-120</td>
                          <td>32"-34"</td>
                          <td>28"-30"</td>
                          <td>32"-34"</td>
                          <td>13.5"</td>
                          <td>25.5"-27.5"</td>
                      </tr>
                  </tbody>
            </table>
</div><!-- Responsive Table -->



</div>

</div> 
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab4">
<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#Store-wall-SizeChartBabyTab1" role="tab"data-toggle="tab" class="text-uppercase">Baby 6-24 Months Apparel</a></li>

<li><a href="#Store-wall-SizeChartBabyTab2" role="tab"data-toggle="tab" class="text-uppercase">Baby 6-24 Months Snow Outerwear</a></li>

<li><a href="#Store-wall-SizeChartBabyTab3" role="tab"data-toggle="tab" class="text-uppercase">Baby 6-24 Months Footwear</a></li>

<li><a href="#Store-wall-SizeChartBabyTab4" role="tab"data-toggle="tab" class="text-uppercase">Baby 6-24 Months Hats</a></li>

</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartBabyTab1">

<div class="table_responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Age</th>
       <th scope="col">6-12 M</th>
      <th scope="col">12-18 M</th>
      <th scope="col">18-24 M</th>
    </tr>
  </thead>
          <tbody>

            <tr>
                <td>Top &amp; Bottom</td>
                <td>12 M</td>
                <td>18 M</td>
                <td>24 M</td>
            </tr>
            <tr>
                <td>Chest</td>
                <td>19"</td>
                <td>20"</td>
                <td>21"</td>
            </tr>
            <tr>
                <td>Waist</td>
                <td>19"</td>
                <td>20"</td>
                <td>21"</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>27"-30.5"</td>
                <td>31"-33"</td>
                <td>33.5"-35.5"</td>
            </tr>
        </tbody>
</table>
</div><!-- Responsive Table -->
 
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBabyTab2">

<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                    <th scope="col">Age</th>
                    <th scope="col">6 M</th>
                    <th scope="col">12 M</th>
                    <th scope="col">18 M</th>
                    <th scope="col">24 M</th>
                    </tr>
                </thead>
                  <tbody>
                        <tr>
                            <td>Height</td>
                            <td>26.5"</td>
                            <td>30.75"</td>
                            <td>33"</td>
                            <td>35.75"</td>
                        </tr>
                        <tr>
                            <td>Chest</td>
                            <td>18"</td>
                            <td>19"</td>
                            <td>20"</td>
                            <td>21"</td>
                        </tr>
                        <tr>
                            <td>Waist</td>
                            <td>18"</td>
                            <td>19"</td>
                            <td>20"</td>
                            <td>21"</td>
                        </tr>
                        <tr>
                            <td>Hip</td>
                            <td>18.5"</td>
                            <td>19.5"</td>
                            <td>20.5"</td>
                            <td>21.5"</td>
                        </tr>
                    </tbody>
            </table>
</div><!-- Responsive Table -->


</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBabyTab3">

<div class="table_responsive">
<table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Numeric Size</th>
                        <th scope="col">General Size</th>
  
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Stretch Hats</td>
                        <td>52 cm</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>S</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>M</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>L</td>
                    </tr>
                </tbody>
            </table>
</div><!-- Responsive Table -->


</div>


<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartBabyTab4">

<div class="table_responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Hat Style</th>
                        <th scope="col">Circumference</th>

  
                    </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>Stretch Hats</td>
                      <td>49 cm</td>
                  </tr>
                  <tr>
                      <td>Trucker Hats</td>
                      <td>49 cm</td>
                  </tr>
                  <tr>
                      <td>Fedoras/Novelty Hats</td>
                      <td>49 cm</td>
                  </tr>
                  
                  
                </tbody>
            </table>
</div><!-- Responsive Table -->
 
</div>

  
</div>
</div>

<div class="divider divider--md"></div>
<p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>

  
</div>