<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
<li class=""><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
<li class=""><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Kids & Teens</a></li>


</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Supra Mens Size Charts" title="Supra Mens Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
</div>
</div>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>US/Canada   </th>
<th>Europe      </th>
<th>UK/Australia</th>
<th>Mexico      </th>
<th>Brazil      </th>
<th>Japan       </th>
<th>Korea       </th>
<th>China       </th>
<th>Inches      </th>
<th>CM          </th>

        </tr>
      </thead>
     <tbody>

        <tr>
       <td>5    </td>
<td>37.5 </td>
<td>4.5  </td>
<td>-    </td>
<td>-    </td>
<td>23   </td>
<td>229  </td>
<td>38.5 </td>
<td>9    </td>
<td>22.9 </td>
 </tr>
        <tr>
      <td>5.5  </td>
<td>38   </td>
<td>5    </td>
<td>-    </td>
<td>35   </td>
<td>23.5 </td>
<td>233  </td>
<td>39   </td>
<td>9.17 </td>
<td>23.3 </td>
        </tr>
        <tr>
  <td>6    </td>
<td>38.5 </td>
<td>5.5  </td>
<td>4.5  </td>
<td>36   </td>
<td>24   </td>
<td>237  </td>
<td>39.5 </td>
<td>9.33 </td>
<td>23.7 </td>
        </tr>
        <tr>
    <td>6.5  </td>
<td>39   </td>
<td>6    </td>
<td>5    </td>
<td>37   </td>
<td>24.5 </td>
<td>241  </td>
<td>40   </td>
<td>9.5  </td>
<td>24.1 </td>

        </tr>
       <tr>
     <td>7    </td>
<td>39.5 </td>
<td>6.5  </td>
<td>5.5  </td>
<td>37   </td>
<td>25   </td>
<td>246  </td>
<td>40.5 </td>
<td>9.67 </td>
<td>24.6 </td>
       </tr>
       <tr>
    <td>7.5  </td>
<td>40   </td>
<td>7    </td>
<td>6    </td>
<td>38   </td>
<td>25.5 </td>
<td>250  </td>
<td>41   </td>
<td>9.85 </td>
<td>25   </td>
       </tr>
       <tr>
     <td>8    </td>
<td>41   </td>
<td>7.5  </td>
<td>6.5  </td>
<td>38   </td>
<td>26   </td>
<td>254  </td>
<td>42   </td>
<td>10   </td>
<td>25.4 </td>
       </tr>
       <tr>
      <td>8.5  </td>
<td>42   </td>
<td>8    </td>
<td>7    </td>
<td>39   </td>
<td>26.5 </td>
<td>258  </td>
<td>43   </td>
<td>10.17</td>
<td>25.8 </td>
       </tr>
       <tr>
   <td>9    </td>
<td>43   </td>
<td>8.5  </td>
<td>7.5  </td>
<td>40   </td>
<td>26.5 </td>
<td>262  </td>
<td>44   </td>
<td>10.33</td>
<td>26.2 </td>
       </tr>
       <tr>
       <td>9.5  </td>
<td>43.5 </td>
<td>9    </td>
<td>8    </td>
<td>40   </td>
<td>27   </td>
<td>267  </td>
<td>44.5 </td>
<td>10.5 </td>
<td>26.7 </td>
       </tr>
       <tr>
         <td>10   </td>
<td>44   </td>
<td>9.5  </td>
<td>8.5  </td>
<td>41   </td>
<td>27.5 </td>
<td>271  </td>
<td>45   </td>
<td>10.67</td>
<td>27.1 </td>
       </tr>
       <tr>
         <td>10.5 </td>
<td>44.5 </td>
<td>10   </td>
<td>9    </td>
<td>42   </td>
<td>28   </td>
<td>275  </td>
<td>45.5 </td>
<td>10.85</td>
<td>27.5 </td>
       </tr>
       <tr>
         <td>11   </td>
<td>45   </td>
<td>10.5 </td>
<td>9.5  </td>
<td>42   </td>
<td>28.5 </td>
<td>279  </td>
<td>46   </td>
<td>11   </td>
<td>27.9 </td>
       </tr>
       <tr>
         <td>11.5 </td>
<td>45.5 </td>
<td>11   </td>
<td>10   </td>
<td>43   </td>
<td>29   </td>
<td>284  </td>
<td>46.5 </td>
<td>11.17</td>
<td>28.4 </td>
       </tr>
       <tr>
         <td>12   </td>
<td>46.5 </td>
<td>11.5 </td>
<td>10.5 </td>
<td>43   </td>
<td>29   </td>
<td>288  </td>
<td>47.5 </td>
<td>11.33</td>
<td>28.8 </td>
       </tr>
       <tr>
         <td>12.5 </td>
<td>47   </td>
<td>12   </td>
<td>11   </td>
<td>44   </td>
<td>29.5 </td>
<td>292  </td>
<td>48   </td>
<td>11.5 </td>
<td>29.2 </td>
       </tr>
       <tr>
         <td>13   </td>
<td>48   </td>
<td>12.5 </td>
<td>11.5 </td>
<td>44   </td>
<td>30   </td>
<td>296  </td>
<td>49   </td>
<td>11.67</td>
<td>29.6 </td>
       </tr>
       <tr>
         <td>13.5 </td>
<td>48.5 </td>
<td>13   </td>
<td>-    </td>
<td>-    </td>
<td>30.5 </td>
<td>300  </td>
<td>49.5 </td>
<td>11.85</td>
<td>30   </td>
       </tr>
       <tr>
         <td>14.5 </td>
<td>49.5 </td>
<td>14   </td>
<td>-    </td>
<td>-    </td>
<td>31.5 </td>
<td>309  </td>
<td>50.5 </td>
<td>12.17</td>
<td>30.9 </td>
       </tr>
       <tr>
         <td>15   </td>
<td>50   </td>
<td>14.5 </td>
<td>-    </td>
<td>-    </td>
<td>31.5 </td>
<td>313  </td>
<td>51   </td>
<td>12.33</td>
<td>31.3 </td>
       </tr>
       <tr>
         <td>15.5 </td>
<td>51   </td>
<td>15   </td>
<td>-    </td>
<td>-    </td>
<td>32   </td>
<td>317  </td>
<td>52   </td>
<td>12.5 </td>
<td>31.7 </td>
       </tr>
       <tr>
         <td>16   </td>
<td>51.5 </td>
<td>15.5 </td>
<td>-    </td>
<td>-    </td>
<td>32.5 </td>
<td>322  </td>
<td>52.5 </td>
<td>12.67</td>
<td>32.2 </td>
       </tr>
       <tr>
         <td>16.5 </td>
<td>52   </td>
<td>16   </td>
<td>-    </td>
<td>-    </td>
<td>33   </td>
<td>326  </td>
<td>53   </td>
<td>12.85</td>
<td>32.6 </td>
       </tr>
       <tr>
         <td>17   </td>
<td>53   </td>
<td>16.5 </td>
<td>-    </td>
<td>-    </td>
<td>33.5 </td>
<td>330  </td>
<td>54   </td>
<td>13   </td>
<td>33   </td>
       </tr>
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
   </div>


<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Supra Womens Size Charts" title="Supra Womens Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
</div>
</div>

    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
   <th>US/Canada</th>
<th>Europe</th>
<th>UK</th>
<th>Australia</th>
<th>Mexico</th>
<th>Brazil</th>
<th>Japan</th>
<th>Korea</th>
<th>China</th>
<th>Inches</th>
<th>CM</th>


        </tr>
      </thead>
     <tbody>

        <tr>
   <td>3.5  </td>
<td>34   </td>
<td>1    </td>
<td>2    </td>
<td>-    </td>
<td>-    </td>
<td>-    </td>
<td>208  </td>
<td>33   </td>
<td>8.17 </td>
<td>20.8 </td>
 </tr>
        <tr>
     <td>4    </td>
<td>35   </td>
<td>1.5  </td>
<td>2.5  </td>
<td>-    </td>
<td>-    </td>
<td>21.5 </td>
<td>212  </td>
<td>34   </td>
<td>8.33 </td>
<td>21.2 </td>
        </tr>
        <tr>
<td>4.5  </td>
<td>35.5 </td>
<td>2    </td>
<td>3    </td>
<td>-    </td>
<td>-    </td>
<td>22   </td>
<td>216  </td>
<td>35   </td>
<td>8.5  </td>
<td>21.6 </td>
        </tr>
        <tr>
<td>5    </td>
<td>36   </td>
<td>2.5  </td>
<td>3.5  </td>
<td>-    </td>
<td>-    </td>
<td>22.5 </td>
<td>220  </td>
<td>37   </td>
<td>8.67 </td>
<td>22   </td>

        </tr>
       <tr>
<td>5.5  </td>
<td>37   </td>
<td>3    </td>
<td>4    </td>
<td>-    </td>
<td>-    </td>
<td>23   </td>
<td>224  </td>
<td>37.5 </td>
<td>8.84 </td>
<td>22.4 </td>
       </tr>
       <tr>
<td>6    </td>
<td>37.5 </td>
<td>3.5  </td>
<td>4.5  </td>
<td>-    </td>
<td>-    </td>
<td>23.5 </td>
<td>229  </td>
<td>38   </td>
<td>9    </td>
<td>22.9 </td>
       </tr>
       <tr>
<td>6.5  </td>
<td>38   </td>
<td>4    </td>
<td>5    </td>
<td>-    </td>
<td>35   </td>
<td>24   </td>
<td>233  </td>
<td>39   </td>
<td>9.17 </td>
<td>23.3 </td>
       </tr>
       <tr>
<td>7    </td>
<td>39   </td>
<td>4.5  </td>
<td>5.5  </td>
<td>4    </td>
<td>36   </td>
<td>24.5 </td>
<td>237  </td>
<td>40   </td>
<td>9.33 </td>
<td>23.7 </td>
       </tr>
       <tr>
<td>7.5  </td>
<td>39.5 </td>
<td>5    </td>
<td>6    </td>
<td>4.5  </td>
<td>37   </td>
<td>24.5 </td>
<td>241  </td>
<td>40.5 </td>
<td>9.5  </td>
<td>24.1 </td>
       </tr>
       <tr>
<td>8    </td>
<td>40   </td>
<td>5.5  </td>
<td>6.5  </td>
<td>5    </td>
<td>37   </td>
<td>25   </td>
<td>245  </td>
<td>41   </td>
<td>9.67 </td>
<td>24.5 </td>
       </tr>
       <tr>
<td>8.5  </td>
<td>40.5 </td>
<td>6    </td>
<td>7    </td>
<td>5.5  </td>
<td>38   </td>
<td>25.5 </td>
<td>250  </td>
<td>41.5 </td>
<td>9.84 </td>
<td>25   </td>
       </tr>
       <tr>
<td>9    </td>
<td>41.5 </td>
<td>6.5  </td>
<td>7.5  </td>
<td>6    </td>
<td>39   </td>
<td>26   </td>
<td>255  </td>
<td>42   </td>
<td>10   </td>
<td>25.5 </td>
       </tr>
       <tr>
<td>9.5  </td>
<td>42   </td>
<td>7    </td>
<td>8    </td>
<td>6.5  </td>
<td>40   </td>
<td>26.5 </td>
<td>259  </td>
<td>43   </td>
<td>10.17</td>
<td>25.9 </td>
       </tr>
       <tr>
<td>10   </td>
<td>42.5 </td>
<td>7.5  </td>
<td>8.5  </td>
<td>7    </td>
<td>41   </td>
<td>27   </td>
<td>263  </td>
<td>43.5 </td>
<td>10.33</td>
<td>26.3 </td>
       </tr>
       <tr>
<td>10.5 </td>
<td>43.5 </td>
<td>8    </td>
<td>9    </td>
<td>7.5  </td>
<td>42   </td>
<td>27.5 </td>
<td>267  </td>
<td>44   </td>
<td>10.5 </td>
<td>26.7 </td>
       </tr>
       <tr>
<td>11   </td>
<td>44   </td>
<td>8.5  </td>
<td>9.5  </td>
<td>8    </td>
<td>42   </td>
<td>27.5 </td>
<td>271  </td>
<td>45   </td>
<td>10.67</td>
<td>27.1 </td>
       </tr>
       <tr>
<td>11.5 </td>
<td>44.5 </td>
<td>9    </td>
<td>10   </td>
<td>8.5  </td>
<td>43   </td>
<td>28   </td>
<td>276  </td>
<td>45.5 </td>
<td>10.84</td>
<td>27.6 </td>
       </tr>
       <tr>
<td>12   </td>
<td>45   </td>
<td>9.5  </td>
<td>10.5 </td>
<td>9    </td>
<td>43   </td>
<td>28.5 </td>
<td>280  </td>
<td>46   </td>
<td>11   </td>
<td>28   </td>
       </tr>
     
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->

   </div>

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
</div>
<div class="col-sm-6 col-md-6 col-lg-6">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Supra Kids & Teens Size Charts" title="Supra Kids & Teens Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-3 col-md-3 col-lg-3">
</div>
</div>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
   <th>US/Canada</th>
<th>Europe   </th>
<th>UK       </th>
<th>Japan    </th>
<th>Inches   </th>
<th>CM       </th>



        </tr>
      </thead>
     <tbody>

        <tr>
<td>10.5</td>
<td>29  </td>
<td>10  </td>
<td>17  </td>
<td>6.78</td>
<td>17.2</td>
 </tr>
        <tr>
<td>11  </td>
<td>29.5</td>
<td>10.5</td>
<td>17.5</td>
<td>6.95</td>
<td>17.6</td>
        </tr>
        <tr>
<td>11.5</td>
<td>30  </td>
<td>11  </td>
<td>18  </td>
<td>7.12</td>
<td>18  </td>
        </tr>
        <tr>
<td>12  </td>
<td>30.5</td>
<td>11.5</td>
<td>18.5</td>
<td>7.28</td>
<td>18.5</td>

        </tr>
       <tr>
<td>12.5</td>
<td>31  </td>
<td>12  </td>
<td>19  </td>
<td>7.45</td>
<td>18.9</td>
       </tr>
       <tr>
<td>13  </td>
<td>32  </td>
<td>12.5</td>
<td>19.5</td>
<td>7.62</td>
<td>19.3</td>
       </tr>

          <tr>
<td>13.5</td>
<td>32.5</td>
<td>13  </td>
<td>20  </td>
<td>7.78</td>
<td>19.7</td>
       </tr>
          <tr>
<td>1   </td>
<td>33  </td>
<td>13.5</td>
<td>20.5</td>
<td>7.95</td>
<td>20.1</td>
       </tr>
          <tr>
<td>1.5 </td>
<td>33.5</td>
<td>1   </td>
<td>20.5</td>
<td>8.12</td>
<td>20.5</td>
       </tr>
          <tr>
<td>2   </td>
<td>34  </td>
<td>1.5 </td>
<td>21  </td>
<td>8.28</td>
<td>21  </td>
       </tr>
          <tr>
<td>2.5 </td>
<td>35  </td>
<td>2   </td>
<td>21.5</td>
<td>8.45</td>
<td>21.4</td>
       </tr>
          <tr>
<td>3   </td>
<td>35.5</td>
<td>2.5 </td>
<td>22  </td>
<td>8.62</td>
<td>21.8</td>
       </tr>
          <tr>
<td>3.5 </td>
<td>36  </td>
<td>3   </td>
<td>22.5</td>
<td>8.78</td>
<td>22.3</td>
       </tr>
          <tr>
<td>4   </td>
<td>37  </td>
<td>3.5 </td>
<td>23  </td>
<td>8.95</td>
<td>22.7</td>
       </tr>
          <tr>
<td>4.5 </td>
<td>37.5</td>
<td>4   </td>
<td>23.5</td>
<td>9.12</td>
<td>23.2</td>
       </tr>
          <tr>
<td>5   </td>
<td>38  </td>
<td>4.5 </td>
<td>24  </td>
<td>9.28</td>
<td>23.6</td>
       </tr>
          <tr>
<td>5.5 </td>
<td>39  </td>
<td>5   </td>
<td>24  </td>
<td>9.45</td>
<td>24  </td>
       </tr>
          <tr>
<td>6   </td>
<td>39.5</td>
<td>5.5 </td>
<td>24.5</td>
<td>9.62</td>
<td>24.4</td>
       </tr>
          <tr>
<td>6.5 </td>
<td>40  </td>
<td>6   </td>
<td>25  </td>
<td>9.78</td>
<td>24.8</td>
       </tr>
     
     
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
   </div>







</div><!-- ys -->