<div style="font-size: small;">
<p>NOTE: These sizing charts are provided by the specific manufacturer or the distributing company for this brand. Motorhelmets.com is not responsible or guarantee's the accuracy of the measurement or fit of the merchandise listed on this page.</p>
<p align="center">To access our measuring tape <a href="http://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape_b49577a4-93f8-4efe-bf64-a4d927ecc287.jpg">Click Here</a>. <a target="_blank" href="http://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape_b49577a4-93f8-4efe-bf64-a4d927ecc287.jpg"><img style="border: 1px solid #000000;" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape-small.jpg" /> </a> (Download the following head measuring tape, print, cut and measure your head.)</p>

</div>

<div>
        <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
            <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
        </ul>
</div>    

      <div class="tab-content tab-content--ys Sbs_sizechart">

        <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Shoei Helmets Mens Size Chart" style="margin: 0 auto;"></p>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-9">
                        <div>
                            <h4><b>CORRECT HELMET SIZING</b></h4>
                            <p>Each helmet model has small differences in its shape that ultimately affect the fit. For this reason, it is essential to test a helmet before buying it. Test whether it sits on your head properly by putting on the helmet and moving your head to the left and right, as well as up and down while holding the helmet firmly with both hands. If your head can move too freely within the helmet, we recommend that you try a smaller size. If you feel local pressure points, then choose a helmet that is one size larger, or perhaps try on a different model.</p>
                        </div>
                        <div>
                          <h4><b><span style="color: red;">(H)</span> HEAD</b></h4>
                          <p>Wrap a cloth measuring tape around your head just above your eyebrows and ears. Pull the tape comfortably snug, read the length, repeat for good measure and use the largest measurement.</p>
                        </div>
                    </div>
                </div>

                <div class="table_responsive">
                          <table class="table table-bordered table-striped">
                             <tbody>
                             <thead>
                                 <tr>
                                    <th>SIZE</th>
                                    <th>HEAD (CM)</th>
                                    <th>HAT SIZE</th>
                                    <th>HEAD (IN)</th>
                                 </tr>
                             </thead>
                                <tr>
                                    <td>2XS</td>
                                    <td>51 - 52</td>
                                    <td>6 <sup>3</sup>/<sub>8</sub> - 6 <sup>1</sup>/<sub>2</sub></td>
                                    <td>20 <sup>1</sup>/<sub>8</sub> - 20 <sup>1</sup>/<sub>2</sub></td>
                                </tr>
                                <tr>
                                    <td>XS</td>
                                    <td>53 - 54</td>
                                    <td>6 <sup>5</sup>⁄<sub>8</sub> - 6 <sup>3</sup>⁄<sub>4</sub></td>
                                    <td>20 <sup>7</sup>⁄<sub>8</sub> - 21 <sup>1</sup>⁄<sub>4</sub></td>
                                </tr>
                                <tr>
                                    <td>SM</td>
                                    <td>55 - 56</td>
                                    <td>6 <sup>7</sup>⁄<sub>8</sub> - 7</td>
                                    <td>21 <sup>5</sup>⁄<sub>8</sub> - 22</td>
                                </tr>
                                <tr>
                                    <td>MD</td>
                                    <td>57 - 58</td>
                                    <td>7 <sup>1</sup>⁄<sub>8</sub> - 7 <sup>1</sup>⁄<sub>4</sub></td>
                                    <td>22 <sup>1</sup>⁄<sub>2</sub> - 22 <sup>7</sup>⁄<sub>8</sub></td>
                                </tr>
                                <tr>
                                    <td>LG</td>
                                    <td>59 - 60</td>
                                    <td>7 <sup>3</sup>⁄<sub>8</sub> - 7 <sup>1</sup>⁄<sub>2</sub></td>
                                    <td>23 <sup>1</sup>⁄<sub>4</sub> - 23 <sup>5</sup>⁄<sub>8</sub></td>
                                </tr>
                                <tr>
                                    <td>XL</td>
                                    <td>61 - 62</td>
                                    <td>7 <sup>5</sup>⁄<sub>8</sub> - 7 <sup>3</sup>⁄<sub>4</sub></td>
                                    <td>24 - 24 <sup>3</sup>⁄<sub>8</sub></td>
                                </tr>
                                <tr>
                                    <td>2XL</td>
                                    <td>63 - 64</td>
                                    <td>7 <sup>7</sup>⁄<sub>8</sub> - 8</td>
                                    <td>24 <sup>3</sup>⁄<sub>4</sub> - 25 <sup>1</sup>⁄<sub>8</sub></td>
                                </tr>
                                <tr>
                                    <td>3XL</td>
                                    <td>65 - 66</td>
                                    <td>8 <sup>1</sup>⁄<sub>8</sub> - 8 <sup>1</sup>⁄<sub>4</sub></td>
                                    <td>25 <sup>5</sup>⁄<sub>8</sub> - 26</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
        </div> <!-- SizeChartTab1 //-->