<div style="font-size: small;">
<div>NOTE: These sizing charts are provided by the specific manufacturer or the distributing company for this brand. Motorhelmets.com is not responsible or guarantee's the accuracy of the measurement or fit of the merchandise listed on this page.
<p align="center">To access our measuring tape <a href="http://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape_b49577a4-93f8-4efe-bf64-a4d927ecc287.jpg">Click Here</a>. <a href="http://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape_b49577a4-93f8-4efe-bf64-a4d927ecc287.jpg"><img style="border: 1px solid #000000;" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape-small.jpg" /> </a> (Download the following head measuring tape, print, cut and measure your head.)</p>
<h4>AFX Helmets</h4>
<table class="table table-hover">
<thead>
<tr>
<th style="background-color: #ddd;">Sizes</th>
<th style="background-color: #ddd;">Head (inch)</th>
<th style="background-color: #ddd;">Hat Size</th>
<th style="background-color: #ddd;">Head (cm)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Youth Small</td>
<td>20 7/8 - 21 1/4</td>
<td>6 5/8 - 6 3/4</td>
<td>53 - 54</td>
</tr>
<tr>
<td>Youth Medium</td>
<td>21 1/4 - 21 5/8</td>
<td>6 3/4 - 6 7/8</td>
<td>54 - 55</td>
</tr>
<tr>
<td>Youth Large</td>
<td>21 5/8 - 22</td>
<td>6 7/8 - 7</td>
<td>55 - 56</td>
</tr>
<tr>
<td>X-Small</td>
<td>21 1/4 - 21 5/8</td>
<td>6 3/4 - 6 7/8</td>
<td>54 - 55</td>
</tr>
<tr>
<td>Small</td>
<td>22 - 22 7/16</td>
<td>7 - 7 1/8</td>
<td>56 - 57</td>
</tr>
<tr>
<td>Medium</td>
<td>22 13/16 - 23 1/4</td>
<td>7 1/4 - 7 3/8</td>
<td>58 - 59</td>
</tr>
<tr>
<td>Large</td>
<td>23 5/8 - 24</td>
<td>7 1/2 - 7 5/8</td>
<td>60 - 61</td>
</tr>
<tr>
<td>X-Large</td>
<td>24 3/8 - 24 13/16</td>
<td>7 3/4 - 7 7/8</td>
<td>62 - 63</td>
</tr>
<tr>
<td>2X-Large</td>
<td>25 3/16 - 25 5/8</td>
<td>8 - 8 1/8</td>
<td>64 - 65</td>
</tr>
<tr>
<td>3X-Large</td>
<td>26 - 26 3/8</td>
<td>8 1/4 - 8 3/8</td>
<td>66 - 67</td>
</tr>
<tr>
<td>4X-Large</td>
<td>26 3/4 - 27 1/8</td>
<td>8 1/2 - 8 5/8</td>
<td>68 - 69</td>
</tr>
</tbody>
</table>
<div>Sizing information is provided by the manufacturer and does not guarantee a perfect fit. Please use this chart as a guide only.</div>
<h4>AFX Helmet Fitting Guide</h4>
<p>How to determine your correct AFX helmet size?</p>
<p>A proper-fitting motorcycle helmet can significantly reduce the risk of serious injury or death resulting from a head impact during an accident.</p>
<p> </p>
<h4>1. Measure Your Head</h4>
<p> </p>
<p>Determine the circumference of the widest part of your head by using a flexible tape measure. Generally, the widest part of a person's head is the area 2.5cm (1") above the eyes and ears. However, we suggest measuring at a few points both above and below that line to determine the greatest measurement before referring to our size tables. We also suggest testing the fit of a helmet one size smaller and one size larger then what the chart recommends. No helmet can provide protection if it's too uncomfortable to wear.</p>
<p> </p>
<h4>2. Try Wearing The Helmet</h4>
<p> </p>
<p>Helmets must fit snugly, but not painfully tight. While holding the chinstraps outside of the helmet, pull it down over your head, taking care that the chinstraps do not go up inside the helmet. A proper-fitting helmet will feel snug with fairly even pressure around the sides and top of your head. On most modern helmets the liner is designed to be a little extra snug at first, but will break-in after several hours of riding to match the particular shape of your head.</p>
<p>If you are not familiar with how a helmet should fit and feel, be sure to ask for assistance from a salesperson or a more experienced rider. As a rule, the helmet should not be able to move around on your head without pulling on your skin. A loose fitting helmet is not only dangerous, but may also be noisy and tiring to wear. Most people make the mistake of buying a helmet that's too large. IMPORTANT: Make sure that you fasten the chinstrap securely beneath your chin when trying-on a helmet and then test to see that the helmet cannot be removed from your head when fastened in that manner.</p>
<p> </p>
<h4>3. Making The Right Decision</h4>
<p> </p>
<p>Most retail stores will not exchange purchased helmets if they've been worn for any length of time, so take your time, and wear the helmet inside the store for several minutes. Not every brand of helmet can fit every head size and shape. If you find that you just can't get a comfortably snug fit in our helmets we suggest you try a different brand. Helmets can't provide protection if they never get worn.</p>
<p> </p>
<h4>Safety Reminder</h4>
<p> </p>
<p>No helmet can protect the wearer against all possible or foreseeable impacts. A helmet can only protect the portion of the head that is covered by the helmet. For maximum protection, the helmet must be well fitted with the chinstrap securely fastened. Failure to follow these instructions, the instructions printed on the helmet, and those contained in the owner’s manual may result in the possibility of the helmet coming off during an accident - possibly resulting in a severe head injury or even death. While riding motorcycles, scooters, ATVs and snowmobiles is fun, it can also be a dangerous pastime. At AFX, we encourage you to enjoy riding responsibly, and to always ride within the limits of your abilities.</p>
</div>
</div>