<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<img style="max-width: 75%;" class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/freeshipcombo-page-032420.jpg?v=1585014871" />
<hr class="hr-lg" />
<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">Free Shipping On All Combo Package Deals</h3>


<ul>
<li>Enter promotional code <span style="color: #ff0000;" color="#ff0000"><b>freeshipcombo</b></span> during checkout.</li>
<li>Free Standard Ground Shipping offers are limited to the continental 48 US States only. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day).</li>
<li>Applies only to orders shipping to a single address.</li>
<li>All oversized and additional shipping charges still apply.</li>
<li>Not valid with any other offer.</li>
<li><b><span style="color: #ff0000;" color="#ff0000">You can only use one coupon at a time during check out.</span></b></li>
<li>Delivery times may vary. Orders are processed and delivered during the business week (Monday – Friday) only and do not guarantee delivery by a specific date or time.</li>
<li>Order cancellations or returns are subject to our cancellation fees.</li>
<li>Order cancellations or orders resulting in non receipt of merchandise is subject to our minimum shipping charges.</li>
<li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items.</li>
<li>Check our <a style="text-decoration: underline;" href="/pages/shopping-policies">Shopping Policies</a> page for additional information.</li>
</ul>

</div>
</div>
