<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	            margin-top: -169px;
	        }
	  } 
</style>


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
	<li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
	<li ><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
	<li ><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">

<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3" style="margin-top: 163px;" >

		<p id="img_mobile"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Icon Helmets Size Charts" title="Icon Helmets Size Charts" style="margin: 0 auto;"/></p>
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">HELMET</h4>
<p>Measure around the fullest part of your head, 
keeping the measuring tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Adult</h4>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>Size       </th>
									<th>Inches     </th>
									<th>Centimeters</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>XS             </td>
									<td>20 7/8 – 21 1/4</td>
									<td>53 – 54        </td>
		        			</tr>
		        			<tr>
		        					<td>SM             </td>
									<td>21 5/8 – 22    </td>
									<td>55 – 56        </td>
		        			</tr>
		          			<tr>
		          					<td>MD             </td>
									<td>22 1/2 – 22 7/8</td>
									<td>57 – 58        </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>LG             </td>
									<td>23 1/4 – 23 5/8</td>
									<td>59 – 60        </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>XL             </td>
									<td>24 – 24 3/8    </td>
									<td>61 – 62        </td>
		       			 	</tr>
		       			 	<tr>
		          					<td>2XL            </td>
									<td>24 3/4 – 25 1/4</td>
									<td>63 – 64        </td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <h4 style="text-transform:uppercase;font-weight:bold;">Youth</h4>
		       <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>Size       </th>
									<th>Inches     </th>
									<th>Centimeters</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>SM</td>
									<td>18 1/2 – 18 7/8</td>
									<td>47 – 48</td>
		        			</tr>
		        			<tr>
		        					<td>MD</td>
									<td>19 1/4 – 19 5/8</td>
									<td>49 – 50</td>
		        			</tr>
		          			<tr>
		          					<td>LG</td>
									<td>20 1/8 – 20 1/2</td>
									<td>51 – 52</td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	
  </div> 
  </div>
</div> <!-- SizeChartTab2 -->

	<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

	<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
		<li class="active"><a href="#Mens" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>
		<li ><a href="#Gloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
	</ul>
 <div class="tab-content tab-content--ys"> 
 	<div role="tabpanel" class="tab-pane active" id="Mens">
	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-100.jpg?9732001472143078245" alt="100% Apparel Size Charts" title="100% Apparel Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Chest</h4>
		      <p>Measure around the fullest part of your chest, keeping the measuring tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Waist  </h4>
		      <p>Measure around the narrowest part (typically the small of your back and where your body bends side to side), keeping the tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Hips</h4>
		      <p>Measure around the fullest part of your hips, keeping the tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Inseam</h4>
		      <p>Measure from the top of your inner leg along the inside seam to the bottom of your leg at your ankle.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 	<th>Size</th>
								<th>A.| Height</th>
								<th>B.| Chest</th>
								<th>C.| Waist</th>
								<th>D.| Inseam</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>SM / 28 – 30</td>
									<td>5’2” – 5’6”</td>
									<td>36 – 39</td>
									<td>31 – 33</td>
									<td>30 1/2 – 31 1/2</td>
		        			</tr>
		        			<tr>
		        				<td>MD / 32     </td>
								<td>5’8” – 5’11”</td>
								<td>39 – 41</td>
								<td>34 – 35</td>
								<td>32       </td>
		        			</tr>
		          			<tr>
		          				<td>LG / 34  </td>
								<td>5’10”– 6’</td>
								<td>41 – 43</td>
								<td>36</td>
								<td>32 1/2 </td>
		       			 	</tr>
		       			 	<tr>
								<td>XL / 36</td>
								<td>5’10” – 6’1”</td>
								<td>43 – 46</td>
								<td>38</td>
								<td>33</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>2XL / 38–40 </td>
								<td>5'9" – 5'11"</td>
								<td>46 – 50</td>
								<td>40 – 42</td>
								<td>33</td>
		       			 	</tr>
		       			 	<tr>
		          				<td>3XL / 42</td>
								<td>5’11” – 6’3”</td>
								<td>50 – 52</td>
								<td>44</td>
								<td>33</td>
		       			 	</tr>
		       			 

		       			 	
		        </tbody>
		      </table>	
		      <p class="sizechart-note"><code>*</code>&nbsp; All measurements in inches. </p>	     
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div>  
  </div> <!-- mens -->

  <div role="tabpanel" class="tab-pane" id="Gloves">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="100% Gloves Size Charts" title="100% Gloves Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Palm Height</h4>
		      <p>Measure from the base of your palm (where it meets your wrist) to the tip of your middle finger, keeping the measuring tape at.</p>

		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 	<th>Size       </th>
								<th>Inches     </th>
								<th>Centimeters</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr><td>SM</td>
									<td>7&nbsp;1/8&nbsp;– 7&nbsp;3/8</td>
									<td>18.0 – 18.7</td>
		        			</tr>
		        			<tr>
		        				<td>MD</td>
									<td>7&nbsp;3/8&nbsp;– 7&nbsp;5/8</td>
									<td>18.7 - 19.4</td>
		        			</tr>
		          			<tr>
		          				<td>LG</td>
									<td>7&nbsp;5/8&nbsp;– 7&nbsp;7/8</td>
									<td>19.4 – 20.1</td>
		       			 	</tr>
		       			 	<tr>
								<td>XL</td>
									<td>7&nbsp;7/8&nbsp;– 8&nbsp;1/4</td>
									<td>20.1 – 20.8</td>

		       			 	</tr>
		       			 	<tr>
								<td>2XL</td>
									<td>8&nbsp;1/4&nbsp;– 8&nbsp;1/2</td>
									<td>20.8 – 21.5</td>


		       			 	</tr>
		        </tbody>
		      </table>		
		         
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div>  
  </div> <!-- Gloves -->
</div>
</div> <!-- SizeChartTab3 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">

	<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
		<li class="active"><a href="#womensApparel" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>
		<li ><a href="#womensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
	</ul>
 <div class="tab-content tab-content--ys"> 
 	<div role="tabpanel" class="tab-pane active" id="womensApparel">
	<div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-100-womens.jpg?6308172855182943818" alt="100% Apparel Size Charts" title="100% Apparel Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Chest</h4>
		      <p>Measure around the fullest part of your chest, keeping the measuring tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Waist  </h4>
		      <p>Measure around the narrowest part (typically the small of your back and where your body bends side to side), keeping the tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Hips</h4>
		      <p>Measure around the fullest part of your hips, keeping the tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Inseam</h4>
		      <p>Measure from the top of your inner leg along the inside seam to the bottom of your leg at your ankle.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 	<th>Size</th>
								<th>A.| Height</th>
								<th>B.| Chest</th>
								<th>C.| Waist</th>
								<th>D.| Inseam</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>S</td>
									<td>5’2” - 5’6”</td>
									<td>33 – 35 1/2</td>
									<td>25 – 27 1/2</td>
									<td>29 1/2</td>
		        			</tr>
		        			<tr>
		        				<td>M</td>
									<td>5’5” - 5’8”</td>
									<td>36 – 38</td>
									<td>28 – 30</td>
									<td>30</td>
		        			</tr>
		          			<tr>
		          				<td>L</td>
									<td>5’6” - 5’10”</td>
									<td>39 – 40</td>
									<td>31 – 32</td>
									<td>30</td>
		       			 	</tr>
		       			 	<tr>
								<td>XL</td>
									<td>5’6” - 5’10”</td>
									<td>41 – 42</td>
									<td>33 – 34</td>
									<td>30 1/2 </td>

		       			 	</tr>
		        </tbody>
		      </table>	
		      <p class="sizechart-note"><code>*</code>&nbsp; All measurements in inches. </p>	     
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div>  
  </div> <!-- Womens -->

  <div role="tabpanel" class="tab-pane" id="womensGloves">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="100% Gloves Size Charts" title="100% Gloves Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Palm Height</h4>
		      <p>Measure from the base of your palm (where it meets your wrist) to the tip of your middle finger, keeping the measuring tape at.</p>

		      <div class="table_responsive">
		     <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 	<th>Size       </th>
								<th>Inches     </th>
								<th>Centimeters</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr><td>SM</td>
									<td>7&nbsp;1/8&nbsp;– 7&nbsp;3/8</td>
									<td>18.0 – 18.7</td>
		        			</tr>
		        			<tr>
		        				<td>MD</td>
									<td>7&nbsp;3/8&nbsp;– 7&nbsp;5/8</td>
									<td>18.7 - 19.4</td>
		        			</tr>
		          			<tr>
		          				<td>LG</td>
									<td>7&nbsp;5/8&nbsp;– 7&nbsp;7/8</td>
									<td>19.4 – 20.1</td>
		       			 	</tr>
		       			 	<tr>
								<td>XL</td>
									<td>7&nbsp;7/8&nbsp;– 8&nbsp;1/4</td>
									<td>20.1 – 20.8</td>

		       			 	</tr>
		       			 	<tr>
								<td>2XL</td>
									<td>8&nbsp;1/4&nbsp;– 8&nbsp;1/2</td>
									<td>20.8 – 21.5</td>


		       			 	</tr>
		        </tbody>
		      </table>
		      
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div>  
  </div> <!-- Gloves -->
</div>
</div> <!-- SizeChartTab4 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab5">

	<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
		<li class="active"><a href="#YouthApparel" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>
		<li ><a href="#YouthGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
	</ul>
 <div class="tab-content tab-content--ys"> 
 	<div role="tabpanel" class="tab-pane active" id="YouthApparel">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-100-youth.jpg?13601340925374320775" alt="100% Apparel Size Charts" title="100% Apparel Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Chest</h4>
		      <p>Measure around the fullest part of your chest, keeping the measuring tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Waist  </h4>
		      <p>Measure around the narrowest part (typically the small of your back and where your body bends side to side), keeping the tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Hips</h4>
		      <p>Measure around the fullest part of your hips, keeping the tape horizontal.</p>
				<h4 style="text-transform:uppercase;font-weight:bold;">Inseam</h4>
		      <p>Measure from the top of your inner leg along the inside seam to the bottom of your leg at your ankle.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 	<th>Size</th>
								<th>A.| Height</th>
								<th>B.| Chest</th>
								<th>C.| Waist</th>
								<th>D.| Inseam</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>SM             </td>
									<td>3’10” – 4’5”   </td>
									<td>24 – 27        </td>
									<td>20 – 22        </td>
									<td>17 1/2 – 20 1/2</td>
		        			</tr>
		        			<tr>
									<td>MD             </td>
									<td>4’6” – 4’11”   </td>
									<td>27 – 29        </td>
									<td>22 – 24        </td>
									<td>20 1/2 – 23    </td>
		        			</tr>
		          			<tr>
		          			
									<td>LG             </td>
									<td>5’0” – 5’4”    </td>
									<td>29 – 32        </td>
									<td>25 – 28        </td>
									<td>23 – 24 1/2    </td>
		       			 	</tr>
		       			 	<tr>
									<td>XL             </td>
									<td>5’5” – 5’7”    </td>
									<td>32 – 34        </td>
									<td>28 – 30        </td>
									<td>24 1/2 – 25 1/2</td>

		       			 	</tr>
		        </tbody>
		      </table>	
		      <p class="sizechart-note"><code>*</code>&nbsp; All measurements in inches. </p>	     
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div>  
  </div> <!-- Youth -->

  <div role="tabpanel" class="tab-pane" id="YouthGloves">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="100% Gloves Size Charts" title="100% Gloves Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Palm Height</h4>
		      <p>Measure from the base of your palm (where it meets your wrist) to the tip of your middle finger, keeping the measuring tape at.</p>

		      <div class="table_responsive">
		     <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 	<th>Size       </th>
								<th>Inches     </th>
								<th>Centimeters</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        <td>SM           </td>
								<td>5 3/4 – 6    </td>
								<td>14.6 – 15.2  </td>
		        			</tr>
		        			<tr>
		        				<td>MD           </td>
								<td>6 – 6 1/4    </td>
								<td>15.2 – 15.9  </td>
		        			</tr>
		          			<tr>
		          				<td>LG           </td>
								<td>6 1/4 – 6 1/2</td>
								<td>15.9 – 16.5  </td>
		       			 	</tr>
		       		
		        </tbody>
		      </table>
		         
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div>  
  </div> <!-- Gloves -->

</div>
</div> <!-- SizeChartTab5-->

</div><!-- tab-content tab-content-ys obs_sizechart -->
