<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#Store-wall-SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

<li><a href="#Store-wall-SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

<li><a href="#Store-wall-SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Boys</a></li>

  
</ul>


<div class="tab-content tab-content--ys Sbs_store-wall-sizechart">

<div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartTab1">


  <div class="row">

    <div class="col-sm-6 col-md-3 col-lg-3">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/element-men-tees-size-chart.jpg?4993177732384248682" alt="Element Mens Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--md"></div>
            <h4>Mens Clothing - Body Measurements in Inches</h4>
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
  <tr>
    <th>
       Top &amp; Elastic Waist
    </th>
    <th colspan="2">
    <p>XS</p>
    </th>
    <th colspan="2">
    <p>S</p>
    </th>
    <th colspan="2">
    <p>M</p>
    </th>
    <th colspan="2">
    <p>L</p>
    </th>
    <th colspan="2">
    <p>XL</p>
    </th>
    <th colspan="3">
    <p>XXL</p>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th>
       A | Bottom Size
    </th>
    <td>
      <p>28</p>
    </td>
    <td>
      <p>29</p>
    </td>
    <td>
      <p>30</p>
    </td>
    <td>
      <p>31</p>
    </td>
    <td>
      <p>32</p>
    </td>
    <td>
      <p>33</p>
    </td>
    <td>
      <p>34</p>
    </td>
    <td>
      <p>35</p>
    </td>
    <td>
      <p>36</p>
    </td>
    <td>
      <p>38</p>
    </td>
    <td>
      <p>40</p>
    </td>
    <td>
      <p>42</p>
    </td>
    <td>
      <p>44</p>
    </td>
  </tr>
  <tr>
    <th>
       B | Neck
      <br>
    </th>
    <td colspan="2">
      <p>13.5-15</p>
    </td>
    <td colspan="2">
      <p>14-15.5</p>
    </td>
    <td colspan="2">
      <p>14.5-16</p>
    </td>
    <td colspan="2">
      <p>15-16.5</p>
    </td>
    <td colspan="2">
      <p>15.5-17</p>
    </td>
    <td colspan="3">
      <p>16-17.5</p>
    </td>
  </tr>
  <tr>
    <th>
       C | Chest
    </th>
    <td colspan="2">
      <p>36-38</p>
    </td>
    <td colspan="2">
      <p>38-40</p>
    </td>
    <td colspan="2">
      <p>40-42</p>
    </td>
    <td colspan="2">
      <p>42-44</p>
    </td>
    <td colspan="2">
      <p>44-46</p>
    </td>
    <td colspan="3">
      <p>46-48</p>
    </td>
  </tr>
  <tr>
    <th>
       D | C/B Sleeve
    </th>
    <td colspan="2">
      <p>32-33.5</p>
    </td>
    <td colspan="2">
      <p>33-34.5</p>
    </td>
    <td colspan="2">
      <p>34-35.5</p>
    </td>
    <td colspan="2">
      <p>35-36.5</p>
    </td>
    <td colspan="2">
      <p>36-37.5</p>
    </td>
    <td colspan="3">
      <p>37-38.5</p>
    </td>
  </tr>
  <tr>
    <th>
       E | Waist
    </th>
    <td>
      <p>27.5-28.5</p>
    </td>
    <td>
      <p>28.5-29.5</p>
    </td>
    <td>
      <p>29.5-30.5</p>
    </td>
    <td>
      <p>30.5-31.5</p>
    </td>
    <td>
      <p>31.5-32.5</p>
    </td>
    <td>
      <p>32.5-33.5</p>
    </td>
    <td>
      <p>33.5-34.5</p>
    </td>
    <td>
      <p>34.5-35.5</p>
    </td>
    <td>
      <p>35.5-36.5</p>
    </td>
    <td>
      <p>37.5-38.5</p>
    </td>
    <td>
      <p>39.5-40.5</p>
    </td>
    <td>
      <p>41.5-42.5</p>
    </td>
    <td>
      <p>43.5-44.5</p>
    </td>
  </tr>
  <tr>
    <th>
       F | Hip
    </th>
    <td>
      <p>36-37</p>
    </td>
    <td>
      <p>37-38</p>
    </td>
    <td>
      <p>38-39</p>
    </td>
    <td>
      <p>39-40</p>
    </td>
    <td>
      <p>40-41</p>
    </td>
    <td>
      <p>41-42</p>
    </td>
    <td>
      <p>42-43</p>
    </td>
    <td>
      <p>43-44</p>
    </td>
    <td>
      <p>44-45</p>
    </td>
    <td>
      <p>46-47</p>
    </td>
    <td>
      <p>48-49</p>
    </td>
    <td>
      <p>50-51</p>
    </td>
    <td>
      <p>52-53</p>
    </td>
  </tr>
  </tbody>
  </table>
      </div><!-- Responsive Table -->
    </div>
  </div>

</div><!-- End of Mens Tees Size Table-->


<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab2">


<div class="tab-content tab-content--ys">



<div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/element-women-tees-size-chart.jpg?400069430658078398" alt="Element Womens Size Chart" style="margin: 0 auto;"></div>
      </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="divider divider--md"></div>
            <h4>Womens Clothing - Body Measurements in Inches</h4>
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Tops</th>
                          <th scope="col">XS</th>                          
                          <th scope="col">S</th>
                          <th scope="col">M</th>
                          <th scope="col">L</th>
                          <th scope="col">XL</th>
                      </tr>
                  </thead>
                  <tbody>
                           <tr>
                            <th>A | Chest</th>
                            <td>30.5"</td>
                            <td>32.5"</td>
                            <td>34.5</td>
                            <td>36.5"</td>
                            <td>38.5"</td>
                          </tr>
                  </tbody>
              </table>
          </div><!-- Responsive Table -->
      </div> <!-- Row -->

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
      <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Pants & Shorts</th>
                          <th scope="col">XS</th>
                          <th scope="col">S</th>
                          <th scope="col">M</th>
                          <th scope="col">L</th>
                          <th scope="col">XL</th>    
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th>B | Waist</th>
                        <td>23.25"</td>
                        <td>25.25"</td>
                        <td>27.25"</td>
                        <td>29.25"</td>
                        <td>31.25"</td>
                    </tr>
                    <tr>
                        <th>C | Low waist</th>
                        <td>28"</td>
                        <td>30"</td>
                        <td>32"</td>
                        <td>34"</td>
                        <td>36"</td>
                    </tr>
                  </tbody>
              </table>
        </div><!-- Responsive Table -->
      </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
      <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Denim</th>
                          <th scope="col">24</th>
                          <th scope="col">25</th>
                          <th scope="col">26</th>
                          <th scope="col">27</th>
                          <th scope="col">28</th>
                          <th scope="col">29</th>
                      </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <th>B | Waist</th>
                        <td>24.25"</td>
                        <td>25.25"</td>
                        <td>26.25"</td>
                        <td>27.25"</td>
                        <td>28.25"</td>
                        <td>29.25"</td>
                    </tr>
                    <tr>
                        <th>C | Low waist</th>
                        <td>29"</td>
                        <td>30"</td>
                        <td>31"</td>
                        <td>32"</td>
                        <td>33"</td>
                        <td>34"</td>
                    </tr>
                    <tr>
                        <th>B | Waist</th>
                        <td>29.25" - 31.25"</td>
                        <td>29.5" - 31.5"</td>
                        <td>29.75" - 31.75"</td>
                        <td>30" - 32"</td>
                        <td>30.24" - 32.25"</td>
                        <td>30.5" - 32.5"</td>
                    </tr>
                  </tbody>
              </table>
        </div><!-- Responsive Table -->
      </div>

</div> 


</div> <!--tab-content tab-content-->
</div>

<div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab3">

<div class="tab-content tab-content--ys">

          <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-3">
              <div><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1299/2659/files/element-boys-size-chart.jpg?17022038827781012779" alt="Element Boys Size Chart" style="margin: 0 auto;"></div>
            </div>

            <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--md"></div>
            <h4>Boys 8 to 14+ Years Old - Body Measurements in Inches</h4>
            <div class="table_responsive">
              <table class="table table-bordered table-striped">
               <thead>
                <tr>
                  <th>Age</th>
                  <th>
                    <p>8-9</p>
                  </th>
                  <th>
                    <p>9-10</p>
                  </th>
                  <th>
                    <p>8-9</p>
                  </th>
                  <th>
                    <p>9-10</p>
                  </th>
                  <th>
                    <p>11-12</p>
                  </th>
                  <th>
                    <p>13-14</p>
                  </th>
                  <th>14+</th>
                  <th>14+</th>
                  <th>14+</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <th>A | Bottom Size</th>
                  <td>
                    <p>22</p>
                    <p>8Slim</p>
                  </td>
                  <td>
                    <p>23</p>
                    <p>10slim</p>
                  </td>
                  <td>
                    <p>24</p>
                    <p>8reg</p>
                  </td>
                  <td>
                    <p>25</p>
                    <p>10reg</p>
                  </td>
                  <td>
                    <p>26
                    </p>
                    <p>12reg</p>
                  </td>
                  <td>
                    <p>27</p>
                    <p>14reg</p>
                  </td>
                  <td>
                    <p>28</p>
                    <p>16reg</p>
                  </td>
                  <td>
                    <p>29</p>
                    <p>
                      <span style="line-height: 1.45em;">18reg</span>
                    </p>
                  </td>
                  <td>
                    <p>30</p>
                    <p>20reg</p>
                  </td>
                </tr>
                <tr>
                  <th>
                     Tops &amp; Elastics
                  </th>
                  <td colspan="3">
                    <p>S</p>
                  </td>
                  <td colspan="3">
                    <p>M</p>
                  </td>
                  <td colspan="2">
                    <p>L</p>
                  </td>
                  <td>
                    <p>XL</p>
                  </td>
                </tr>
                <tr>
                  <th>B | Chest (in)</th>
                  <td colspan="3">
                    <p>25"-27.5"</p>
                  </td>
                  <td colspan="3">
                    <p>28"-30.5"</p>
                  </td>
                  <td colspan="2">
                    <p>31"-33.5"</p>
                  </td>
                  <td>
                    <p>34"-36.5"</p>
                  </td>
                </tr>
                <tr>
                  <th>C | Waist (in)
                  </th>
                  <td colspan="3">
                    <p>22"-24"</p>
                  </td>
                  <td colspan="3">
                    <p>25"-26"</p>
                  </td>
                  <td colspan="2">
                    <p>27"-28"</p>
                  </td>
                  <td>
                    <p>29"-30"</p>
                  </td>
                </tr>
                <tr>
                  <th>
                     D | Height (IN)
                  </th>
                  <td colspan="3">
                    <p>49"-54"</p>
                  </td>
                  <td colspan="3">
                    <p>52"-60.5"</p>
                  </td>
                  <td colspan="2">
                    <p>60"-65"</p>
                  </td>
                  <td>
                    <p>65"-68"</p>
                  </td>
                </tr>
                <tr>
                  <th>
                     Weight (IN)
                  </th>
                  <td colspan="3">
                    <p>50-65</p>
                  </td>
                  <td colspan="3">
                    <p>63-95</p>
                  </td>
                  <td colspan="2">
                    <p>90-122</p>
                  </td>
                  <td>
                    <p>110-140</p>
                  </td>
                </tr>
              </tbody>
            </table>
        </div><!-- Responsive Table -->
      </div>
    </div>

</div> <!--tab-content tab-content-->

</div>
</div>

<div class="divider divider--md"></div>
<p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>

  