
<style>
  .jg_custom_pages .moto_box h2 span {
     color: #fa6b6b;
  }

</style>

<div class="row">
    <div class="col-sm-12 col-md-12 ">
     
      
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice3-032120.jpg?v=1584772525" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice2-032120.jpg?v=1584772524" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="mmsr-title">
          <div class="mmsr-title-cont">
         <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
         <ul>
          <li>Our certified mechanic can service most European and Japanese bikes.</li>
          <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
          <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
          <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
        </ul> 
          </div>
        </div>
        
        <div class="clear"></div>
    </div>

</div>
<div class="divider divider--lg"></div>


<div class="jg_custom_pages">

{% include "page.motorcycle-service-menu-all" %}

<div class="divider divider--lg"></div>

<h3 class="text-center home_title">DIRT BIKE / ATV SERVICE</h3>
 
<div class="divider divider--lg"></div> 
<div class="top-local-address">
<center>
<p style="font-size: 24px;font-weight: 500 !important;">Motorhelmets Fullerton CA</p>
<p>1871 W. Commonwealth Ave., Fullerton CA 92833 USA</p>
<p>Tel: 714-879-8180 | Email: team@motorhelmets.com | Service Dept SMS Txt: 657-217-3988 | Sales Dept SMS Txt: 657-217-6457</p>
<p>Store Hours: M-F 10am-7pm | Sat 11am-6pm</p>
<p><a href="https://www.picktime.com/motorhelmets" style="font-weight:bold;text-decoration:none;color:#c83138!important;">Schedule My Service</a></p>
</center>
</div>
 <div class="divider divider--lg"></div> 
<div class="divider divider--md"></div>
  <div class="motor-menu-cont">
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="table_responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col" class="moto-serv-title">Moto Race Prep Service</th>
        <th scope="col" class="moto-serv-title text-center">$250.00</th>
      </tr>
    </thead>
  <tbody>
    <tr>
      <td>Change Oil and Filter</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td>Change Spark Plugs</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
        <tr>
      <td>Service Air Filter</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td>Check and Top Off Brake and Coolant Fluids</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
        <tr>
      <td>Lube, Clean, and Adjust Chain</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td>Lube Clutch Cable</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
        <tr>
      <td>Lube Throttle Cable</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td>Check Front & Rear Spokes</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
        <tr>
      <td>Check Major Bolts/Fasteners</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
      <td>Adjust Front & Rear Tire Pressure</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
        <td colspan="2"><i style="font-weight: bold;">*Additional Charge for Synthetic Oil</i></td>
    </tr>
  </tbody>
  </table>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="table_responsive">
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th scope="col" class="moto-serv-title">On all applicable packages, synthetic oil options</th>
        <th scope="col" class="moto-serv-title text-center">Price </th>
      </tr>
    </thead>
  <tbody>
    <tr>
      <td>Spectro Platinum or Motul 7100 </td>
      <td class="text-center">+ $50.00</td>
    </tr>
    <tr>
      <td>Motul 300V </td>
      <td class="text-center">+ $40.00</td>
    </tr>



    <tr>
        <td colspan="2"><i style="font-weight: bold;">* (Synthetic oil changes come with either K&N or HiFlo Racing Oil Filter)</i></td>
    </tr>
  </tbody>
  </table>
  <p><i><b>Note: The above service rates are based on Japanese sport bikes and are intended as a guide only. The actual rate for your motorcycle may vary.</b></i></p>
  <div class="divider divider--md"></div>
</div>

  <div class="table_responsive">
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col" class="moto-serv-title">Tire Changes</th>
          <th scope="col" class="moto-serv-title text-center">Price  </th>
        </tr>
      </thead>
    <tbody>
      <tr>
          <td colspan="2"><i style="font-weight: bold;">*Additional $10 if tires not Purchased at Motorhelmets</i></td>
      </tr>
      <tr>
        <td>Dirt Tire on Bike</td>
        <td class="text-center">$55.00</td>
      </tr>
      <tr>
        <td>Dirt Tire off Bike </td>
        <td class="text-center">$30.00</td>
      </tr>
    </tbody>
  </table>
</div>

  
</div>



</div>
<div class="row">

<div class="col-sm-12 col-md-12 col-lg-12">
  <div class="table_responsive">
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col" class="moto-serv-title">ATV Service Special </th>
          <th scope="col" class="moto-serv-title text-center">$400.00</th>
        </tr>
      </thead>
    <tbody>
  
    <tr>
    <td>Oil & filter change (OEM Blend)</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
    <td>Spark plug change</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
    <td>Air filter service</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
    <td>Front & rear brakes bled</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
    <td>Chain service (clean/adjust/lube)</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
    <td>Clutch & throttle cables lubed</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
    <tr>
    <td>Tire pressures checked/adjusted</td>
      <td class="text-center"><i class="fa fa-check"></i></td>
    </tr>
        <tr>
          <td colspan="2"><i style="font-weight: bold;"><i>* Parts Additional for Most Quads <br> * Additional Charge for Synthetic Oil</i></td>
      </tr>
    </tbody>
  </table>
</div>


  <div class="table_responsive">
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col" class="moto-serv-title">Carb Clean Package</th>
          <th scope="col" class="moto-serv-title text-center">Includes</th>
        </tr>
      </thead>
    <tbody>
      <tr>
          <td colspan="2"><b>Don’t just have your carburetor cleaned, then suck in dirty air or gas – address the whole air/fuel system! This gives you peace of mind and allows us to provide a 30-day warranty on the work.</b></td>
      </tr>
      <tr>
        <td>Carburetor(s) cleaned and reset to proper settings</td>
         <td class="text-center"><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Fuel tank flushed</td>
         <td class="text-center"><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Air filter serviced (or changed)</td>
         <td class="text-center"><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Spark plugs changed</td>
         <td class="text-center"><i class="fa fa-check"></i></td>
      </tr>
      <tr>
        <td>Compression tested</td>
         <td class="text-center"><i class="fa fa-check"></i></td>
      </tr>   
              <tr>
          <td colspan="2"><i style="font-weight: bold;"><i><b>* Single Carb Bike from $200.00 - $300.00plus parts</b></i></td>
      </tr>
    </tbody>
  </table>
</div>


</div>
</div>

<div class="row">
  <div class="col-lg-12">

    <div class="table_responsive">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="moto-serv-title">Miscellaneous Labor</th>
              <th scope="col" class="moto-serv-title">Charges</th>
            </tr>
          </thead>
        <tbody>
          <tr>
          <td>Battery Test and/or Replace</td>
          <td class=""> $35.00</td>
          </tr>
          <tr>
          <td>Brake Line Set Install (two calipers - includes bleed)  </td>
          <td class="">$100.00</td>
          </tr>
          <tr>
          <td>Bleed Brakes </td>
          <td class="">$60.00 per caliper</td>
          </tr>
          <tr>
          <td>Brake Pad Change </td>
          <td class="">$50.00 per caliper (add bleed for $25 more per caliper)</td>
          </tr>
          <tr>
          <td>Carb Cleaning </td>
          <td class="">Call for Details</td>
          </tr>
          <tr>
          <td>Chain Service ( Clean, Adjust, and Lube ) </td>
          <td class="">$40.00</td>
          </tr>
          <tr>
          <td>Coolant Flush </td>
          <td class="">$80.00</td>
          </tr>
          <tr>
          <td>Diagnostic services  </td>
          <td class="">Mechanical $100.00/Electrical $150.00 (credited toward repairs)</td>
          </tr>
          <tr>
          <td>Fork Seal Replacement</td>
          <td class=""> Set $200.00 - $350.00</td>
          </tr>
          <tr>
          <td>Gas Tank Flush </td>
          <td class="">$60.00</td>
          </tr>
          <tr>
          <td>Spark Plugs ( Varies)  </td>
          <td class="">$100.00 - $200.00</td>
          </tr>
          <tr>
          <td>Sprocket Kit Install </td>
          <td class="">$90.00</td>
          </tr>
          <tr>
          <td>Valve Service </td>
          <td class="">$150 - $400.00 (includes spark plug change too)</td>
          </tr>
          <tr>
          <td>Misc. Hourly Labor </td>
          <td class="">$100.00</td>
          </tr>
        </tbody>
      </table>
    </div>

</div>
</div>
  </div>
