<div class="container" style="max-width: 1440px; width: 100%;">

	<h3 class="text-center title-under uppercase_txt home_title">AXO Sports Information Page</h3>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/axo-resources-axo-motocross-img1.jpg?16717040663013935766" alt="AXO Sports Information Page" title="AXO Sports Information Page"></p>

	<p>Starting with manufacturing off road gear in 1978, The Italian company, AXO, quickly broadened its range of products to become a worldwide leading brand in the motorsport and cycle riding accessories market.</p>

	<p>Initially, AXO was into making MX boots. In 1984, AXO developed the number one motocross boot TURBO and was then worn by 125cc Motocross World Champion rider Michele Rinaldi. Six years after, in 1990, AXO developed their first helmet, the RX1. It would be of the same year that their product ambassadors Jeff Stanton and Alex Puzar became Supercross World Champion 250cc and World Champion 250cc, respectively. </p>

	<p>More AXO riders have become champions on their field and part of that to thank for is the gear that tries to conform to their needs. </p>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/axo-resources-axo-motocross-img2.jpg?16717040663013935766" alt="AXO Sports Information Page" title="AXO Sports Information Page"></p>

	<p>The name AXO was derived from the Italian word  "asso", which stands for ace or the winner.  The “ss” was changed to “x” because of their involvement with motocross or MX.  </p>

	<p>AXO riding gear provides gear for all skill levels. </p>

	<p>Motocross and street riders can wear AXO gear from head to toe and have casual clothing for everyday wear. </p>

	<p>Super-moto, free-styling, and mountain biking apparel are also part of the AXO catalogue. Gears for women and youth riders are also available.</p>

	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/axo-resources-axo-motocross-img3.jpg?10180120239693329105" alt="AXO Sports Information Page" title="AXO Sports Information Page" style="margin: 0 auto;"></p>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/axo-resources-axo-motocross-img4.jpg?10180120239693329105" alt="AXO Sports Information Page" title="AXO Sports Information Page" style="margin: 0 auto;"></p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/axo-resources-axo-motocross-img5.jpg?10180120239693329105" alt="AXO Sports Information Page" title="AXO Sports Information Page" style="margin: 0 auto;"></p>
		</div>
		<div class="col-sm-6 col-md-6 col-lg-6">
			<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/axo-resources-axo-motocross-img6.jpg?10180120239693329105" alt="AXO Sports Information Page" title="AXO Sports Information Page" style="margin: 0 auto;"></p>
		</div>
	</div>

	<p>AXO had a historical milestone in 2003 when AXO America Inc. was established.  Having been based in the vibrant and commercial area of California, it became an important R&D location that researches the American and Oceania market at the core. Continuous search for the best material and design application are carried out by their crew. </p>

	<p>World champions such as Jeff Stanton, Jeremy McGrath, Ricky Carmichael, Loris Capirossi, James Toseland, Ivan Lazzarini, Antonio Cairoli, Sylvain Guintoli and many others, have given the company strong emotions and great results. </p>

	<p>Their feedback has contributed much to the development of AXO products over the past thirty years.  </p>

	<p>AXO continues to sponsor riders in MotoGP, Superbike, Supercross, Motocross, Supermoto and other side championships.</p>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/axo-resources-axo-motocross-img7.jpg?16717040663013935766" alt="AXO Sports Information Page" title="AXO Sports Information Page"></p>

	<p>AXO offers 12 months International warranty on their gear so long as it has been bought from them or an authorized dealer. The product is warranted to be free of defects in material and workmanship for such period from the date of purchase. Negligence or not following the care instruction can invalidate a warranty claim though. </p>

	<div class="divider divider--md"></div>

	<div>
		<div>
			<p>To contact <b>AXO Sports:</b></p>

			<div class="divider divider--sm"></div>

			<p><b>HEADQUARTERS</b></p>
			<p style="margin:0;"><b>AXO International S.r.l.</b></p>
			<p style="margin:0;">Sede Legale Via Enrico Fermi, 2</p>
			<p style="margin:0;">31057 Silea (TV) ITALY</p>
			<p style="margin:0;">Tel #: <b>+39-0422.83230</b></p>
			<p style="margin:0;">Email: <a href="mailto:info@axosport.it">info@axosport.it</a></p>
		</div>

		<div class="divider divider--lg"></div>

		<div>
			<p><b>AMERICAS & AUSTRALASIA OFFICE</b></p>
			<p style="margin: 0;"><b>AXO America, Inc. </b></p>
			<p style="margin: 0;">26465 Summit Cir</p>
			<p style="margin: 0;">Santa Clarita, CA 91350</p>
			<p style="margin: 0;">U.S.A.</p>
		</div>

		<div class="divider divider--md"></div>

		<div>
			<p style="margin: 0;">US Toll Free: <b>1-877-AXO-RACE</b></p>
			<p style="margin: 0;">Phone: <b>+1 661 257 0916</b></p>
			<p style="margin: 0;">General info email: <a href="mailto:info@axo.com"><b>info@axo.com</b></a></p>
		</div>
	</div>

</div>