{% if "logo" == condition %}
<a href = "/collections/bell">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/bell-banner.jpg?3533756788950846796" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-bell-banner.jpg?3533756788950846796" alt="">
</a>

{% elsif "header" == condition %}


<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/bell" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 



{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/bell-womens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/bell-womens.jpg?4701418862782582171">
       </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/bell-mens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/bell-mens-banner.jpg?4701418862782582171">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/bell-street-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text-col-4">STREET HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/bell-street-helmets.jpg?4701418862782582171">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/bell-off-road-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text-col-4">OFF-ROAD HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/bell-offroad-helmet.jpg?4701418862782582171">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/bell-cruiser-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text-col-4">CRUISER HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/bell-cruiser-helmets.jpg?4701418862782582171">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/bell-hot-sale">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/bell-helmets-sale.jpg?15808826946286201909" alt="">
      </a>
    </div>
  </div>
</div>
</div>
  
<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/bell-womens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-bell-womens.jpg?10191946666794345404">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/bell-mens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-bell-mens-banner.jpg?10191946666794345404">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/bell-street-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">STREET HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-bell-street-helmets.jpg?10191946666794345404">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/bell-off-road-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-bell-offroad-helmet.jpg?10191946666794345404">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/bell-cruiser-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CRUISER HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-bell-cruiser-helmets.jpg?10191946666794345404">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/bell-hot-sale">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-bell-helmets-sale.jpg?10191946666794345404" alt="">
          </a>
        </div>
      </div>
    </div>
    </div>
  </div>


<div class="divider divider--lg"></div>


{% elsif "lookbooks" == condition %}


{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
{% assign counter = 0 %}
{% paginate blogs['lookbook'].articles by totalLookbookCount %}
{% for article in blogs['lookbook'].articles %}
{% if counter < 10 and article.tags contains 'Bell' or article.tags contains 'bell' %}
{% assign counter = counter | plus: 1 %}
<div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">

  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
    <div>
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
    </div>

    <div class="TeaserGrid-content" style="margin-top: 6px;">
      <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
    </div>                       
  </a>

</div>
{% endif %}
{% endfor %}
{% endpaginate %}


<div class="divider divider--md"></div>


{% elsif "more_info" == condition %}
{% include "page.wall-info-bell" %}




{% elsif "brand_sizing_guide" == condition %}
<div class ="row">
  {% include 'bell-size-chart' %}
</div>

  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/bell-logo.png?12070121262033675984">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class = "row">
            <p class="font20"><strong>BELL: A LEGACY OF CHAMPIONSHIP AND CONFIDENCE</strong></p>
            <p>It’s no coincidence that Bell is both the first name in speed and the first name in helmets. Born in the 1950’s California hot rod and racing scene, Bell founder Roy Richter built an entire industry anticipating the unmet needs of those with a speed-hungry disposition. People wanted to drive fast … he corralled all the go-fast parts he could find into the world’s first speed shop. They wanted to race … he built them race cars. And when the need-for-speed started to reveal some grim realities, Roy did something about that too and Bell Helmets was born.</p>
            <div class = "hidden-content">
               <p>Roy Richter spent his life removing the limits of what was possible — and his unlimited spirit has been Bell’s guiding light for nearly 60 years, earning the admiration, trust and loyalty of generations of champions. Throughout those years nearly every advance on the list of helmet “firsts” were built under Bell’s auspices. That drive to anticipate and create continues, as much a part of Bell’s ethos today as it was back in Roy’s day.</p>
              <p>Whether for auto racing, motorcycling or bicycling, Bell is synonymous with instilling confidence and enabling awesomeness. Established 1954, proven ever since.</p>
              <p class="font16"><strong>BELL PARTNERSHIPS</strong></p>
              <p>Bell is committed to supporting the sports we were born from and the organizations that preserve, enhance and elevate these activities. Here is a sampling of organizations and causes we hold near-and-dear:</p>
              <p>The <strong>International Mountain Bicycling Association’s (IMBA)</strong> mission is to create, enhance and preserve great trail experiences for mountain bikers worldwide. Bell has long been a supporter of IMBA’s goal of creating compatible mountain bike opportunities worldwide.</p>
              <p>Bell is a member company of <strong>Bikes Belong</strong>, a coalition of industry and advocates whose mission is to “get more people on bikes more often.”</p>
              <p><strong>Safe Kids Worldwide</strong> is a Bell partner who provides parents and caregivers with practical and proven resources to help protect kids from unintentional injuries.</p>
           </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>



<script>
  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });
  });
</script>


{% elsif "brand_story" == condition %}
<div class="text-center">
  <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/bell-logo.png?12070121262033675984" alt="">
</div>

<div class="divider divider--md"></div>

<style type="text/css">
  #collections {
    display: none !important;
  }
</style>


{% endif %}





