<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
              margin-top: -160px;
          }
    } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Helmet</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  

<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">

    

 
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Alias MX Jersey Size Charts" title="Alias MX Jersey Size Charts" style="margin: 0 auto;"/>
    </div>
       <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                           <th>Size</th>
                          <th>CENTIMETRES</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                  <td>XS </td>
                  <td>54 </td>
                  </tr>
                  <tr>
                 <td>S  </td>
                  <td>56 </td>
                  </tr>
                  <tr>
                 <td>M  </td>
                  <td>58 </td>
                  </tr>
                  <tr>
                 <td>ML </td>
                  <td>59 </td>
                  </tr>
                  <tr>
                  <td>L  </td>
                  <td>60 </td>
                  </tr>
                   <tr>
                  <td>XL </td>
                  <td>62 </td>
                  </tr>
                   <tr>
                 <td>XXL</td>
                  <td>64</td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div>
</div> <!-- MensLEATHER -->
</div><!-- tab-content tab-content-ys obs_sizechart -->
