<style>
  .bi-content-hide p:nth-of-type(3){
    font-size:1em; 

  }
  .tab-content p{
    text-align:justify; 
  }
  .table{
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
  }
  .table.row{
    display: table;
    vertical-align: middle;
    margin: 0;
  }
  .cell{
    display: table-cell;
    vertical-align: middle;
    float: none;
    width: 50%; 

  }
  .hjc-list{
    color:#777777!important;
  }
  .hjc-list li{
    color:#777777!important; 
  }


</style>
<div class="wall-addtl-info">


  <ul class="nav nav-tabs nav-tabs--ys1 nav-justified" id="oakley_tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#lens_info" role="tab" aria-controls="lens_info">HELMET USAGE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#lens_install_remove" role="tab" aria-controls="lens_install_remove">MANUALS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#goggle_care" role="tab" aria-controls="goggle_care">PRODUCT WARRANTY</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#shield_installation" role="tab" aria-controls="shield_installation">SHIELD INSTALLATION</a>
    </li>
  </ul>

  <div class="tab-content">
    <div class="divider divider--lg"></div>
    <!--     TAB 1 -->
    <div class="tab-pane fade active" id="lens_info" role="tabpanel">

      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HELMET USAGE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h4>Helmet Replacement (All Models)</h4>
          <p>Although your HJC Helmet is constructed with the best materials available to offer a long-lasting product, it will eventually need to be replaced. Immediately replace your helmet if:</p>
          <ul class ="hjc-list" style = "list-style: disc;">
            <li>It has suffered an impact. Your helmet is only designed for ONE impact. An impact may fracture the outer shell or compress the impact absorbing liner. You may not be able to detect this damage. Any impact in a crash or a drop from as low as 4 feet is enough to damage your helmet.</li>
            <li>The shell, lining, or retention system is damaged. The helmet shell, the impact absorbing lining, and the retention system must be in good condition to provide you with the most protection.</li>
          </ul>
          <p>Even if your helmet has not been damaged, it needs to be replaced every 3 to 5 years depending on how much you use it. Over time, UV rays and adhesive and component aging will damage your helmet. Wearing a damaged helmet may increase your risk of serious injury or death in an accident.</p>
          <p>If you are unsure if you need to replace your helmet, contact HJC America before using your helmet again.</p>
          <hr>
          <div class ="divider divider--md"></div>
          <h4>Using Your Helmet Correctly</h4>
          <p>To reduce the risk of serious injury or death and to help prevent damage to your helmet:</p>
          <ul class ="hjc-list" style = "list-style: disc;">
            <li>Never adjust your helmet accessories while riding – Only make helmet adjustments when stopped.</li>
            <li>Never drop your helmet – Dropping your helmet may crack the shell or damage the protective foam. The damage may not be visible. Your helmet is only designed for ONE impact. Refer to “Helmet Replacement for more information on what to do after helmet has been dropped.</li>
            <li>Never wear anything between your head and your helmet – This may reduce the effectiveness of your helmet.</li>
            <li>Never hang or hook your helmet on anything including mirror stalks, handle bar, or sissy bars – Doing so may cause damage to the helmet protective foam or liner.</li>
            <li>Never use insect repellent on or around your helmet – Insect repellant may damage your helmet’s visor, shell, protective foam, or other components.</li>
            <li>Never expose helmet to gasoline or gasoline fumes – Gasoline may damage your helmet’s visor, shell, protective foam, or other components.</li>
          </ul>
          <p>– If you have any questions on what other substances may damage your helmet, please email us at info@hjchelmets.com.</p>


          <p>To reduce the risk of serious injury or death and to help prevent damage to your helmet:</p>
          <ul class ="hjc-list" style = "list-style: disc;">
            <li>Always wear eye protection – If you are not using a helmet with a face shield, always wear eye protection when riding. Always lock your face shield in place when you are riding.</li>
            <li>Always be alert for sounds – Your helmet may impair your hearing. However, your helmet is not a form of hearing protection.</li>
            <li>Always store your helmet in its helmet bag when not in use to help reduce accidental surface damage.</li>
          </ul>
          <hr>
          <div class ="divider divider--md"></div>
          <h4>Inspect Your Helmet</h4>
          <p>To reduce the risk of serious injury or death, always use your helmet correctly.</p>
          <ul class ="hjc-list" style = "list-style: disc;">
            <li>Off-Road Helmet: Check the visor screws – retighten if necessary. Be sure not to over-tighten any screws. Plastic base plate screws can break and aluminum visor screws can strip the screw sleeves if over-tightened.</li>
            <li>Full-Face Helmet: Check the shield and shield ratchet – retighten shield ratchet screws if necessary. Be sure not to over-tighten any screws. Plastic base plate screws can break and aluminum screws can strip the screw sleeves if over-tightened.</li>
            <li>Check for helmet damage. If your helmet is damaged or cracked, stop using it immediately. See “Helmet Replacement” section for further information. If your helmet has been dropped, you may not be able to see the damage.</li>
            <li>Check for worn or damaged parts. Plastic components may wear out over time. If you find worn or damaged parts, replace them or purchase a new helmet. See “Replacement Parts” for information on parts replacement.</li>
          </ul>
          <hr>
          <div class ="divider divider--md"></div>
          <h4>Helmet Disposal</h4>
          <p>If you buy a new helmet, destroy the old one to ensure it cannot be reused. Do not sell or give away your old helmet, even if it has not been damaged. Over time the protective foam in the helmet will adjust to the contours of your head. If someone else uses this helmet it will not provide them with as much protection.</p>


        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HELMET CLEANING</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h4>Shell Cleaning</h4>
          <p>Only use approved methods to clean the helmet. Using other unapproved chemicals or methods may damage the helmet shell or lining. A damaged helmet may increase your risk of serious injury or death in an accident.</p>
          <p><b>Glossy Finish:</b> HJC recommends cleaning your helmet with products designed for automotive cleaning and polishing. All HJC helmets are finished with an automotive type base coat/clear coat finish. Rubbing compounds can be used for deep cleaning to remove many scratches and scuffs. Follow the product’s instructions diligently. Over polishing with rubbing compounds can cause light abrasions which may dull the finish of your helmet. Stickers and decals will leave adhesive residue when removed. To remove the adhesive residue, use alcohol swabs. Be certain to immediately wipe away the excess liquid and clean the area with soap and water once the adhesive residue is removed. Do not use excessive pressure while rubbing when attempting to remove the adhesive residue, instead use multiple light treatments.</p>
          <p><b>Non-Glossy Finish:</b>For our flat finish (non-glossy) helmets, we recommend using warm water and mild soap. Use multiple treatments for heavier dirt. Do not use excessive pressure or rubbing compounds while cleaning the surface as a “glossy” effect could be created, ruining the flat finish appearance.</p>
          <hr>
          <div class ="divider divider--md"></div>
          <h4>Interior Cleaning</h4>
          <p>Although we recommend changing a helmet every 3 to 5 years, the accumulation of sweat, humidity, and dirt can deteriorate the fabric and stitching and this may cause odor. To wash HJC removable pads, HJC recommends regular machine washing and air drying. (Removable interiors are available in models: AC-10, AC-11, AC-12, AC-2M, AC-3, CL-SP, CL-14, CL-15, Sy-Max, CL-Max, AC-X1, AC-X2, AC-X3, CL-X4, CL-X5, CS-X4, and CS-X2). For non-removable interiors, HJC recommends using bacteria and mildew eliminating products such as “Helmet Fresh”.</p>
          <hr>
          <div class ="divider divider--md"></div>
          <h4>Vent Cleaning</h4>
          <p>Dirt and debris can find its way into the venting of your HJC helmet. Compressed air cans used for cleaning computer keyboards may be used to blow the debris from the ventilation system. It is recommended that you remove any removable pads before doing this process.</p>
          <hr>
          <div class ="divider divider--md"></div>
          <h4>Replacement Parts</h4>
          <p>Use of replacement parts not manufactured by HJC may increase your risk of serious injury or death in an accident. Only use HJC parts that are specifically designed to work with this helmet.</p>
          <hr>
          <div class ="divider divider--md"></div>
          <h4>Do Not Modify Your Helmet</h4>
          <p>Your HJC helmet is designed to meet SNELL and DOT standards. Contact HJC America for more information about SNELL and DOT standards. Modifying your helmet may increase your risk of serious injury or death in an accident. Do not modify your HJC helmet. Modifications include the following:</p>
          <ul class ="hjc-list" style = "list-style: disc;">
            <li>drilling holes;</li>
            <li>cutting shell, liner, or strap;</li>
            <li>modifying the retention system, including adding a chin cup;</li>
            <li>removing parts;</li>
            <li>painting; and</li>
            <li>attaching accessories that are not manufactured by HJC for this helmet.</li>
          </ul>
          <p>If you have any questions about modifications, please email us at info@hjchelmets.com.</p>
          <hr>
          <div class ="divider divider--md"></div>
          <h4>Storing your helmet correctly</h4>
          <p>An improperly stored helmet can become damaged and may increase your risk of serious injury or death in an accident. You should:</p>
          <ul class ="hjc-list" style = "list-style: disc;">
            <li>Store helmet in a cool and dry place,</li>
            <li>Keep helmet away from pets and other animals,</li>
            <li>Keep helmet away from heat in excess of 122ºF and do not set on or near hot surfaces.</li>
          </ul>
        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">PROPER FIT</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>Never buy a used helmet or borrow someone else’s helmet. Over time the protective foam in helmets will adjust to the contours of a user’s head. A used or borrowed helmet may not offer as much protection as a new helmet.</p>
          <p>Wearing the wrong size helmet can increase your risk of serious injury or death in an accident. A helmet that is too large for your head may be dislodged or knocked off in an accident. To select the right size helmet for your head, follow these instructions:</p>
          <ul class ="hjc-list" style ="list-style:decimal">
            <li>Measure your head. Wrap a tape measure around your head about one inch (2.5 cm) above your eyebrows.</li>
            <li>Use the sizing chart to select the helmet size that corresponds most closely to your head measurement. If your head size falls between two helmet sizes, try on the larger helmet first and then the smaller size. Click here to see the sizing chart.</li>
            <li>Try on the helmet by grasping both chin straps to pull the helmet completely onto your head, ensuring that the top of your head is in contact with the top of the helmet interior.</li>
            <li>Check for a proper fit. To make sure your helmet is the right size, check that:</li>
            <ul class ="hjc-list" style = "list-style:disc">
              <li>The helmet inner lining fits snugly around your head.</li>
              <li>The top pad presses firmly on your head.</li>
              <li>The cheek pads contact your cheeks.</li>
              <li>There is no space around your brow under the inner lining.</li>
            </ul>
            <p>Test this by trying to insert your fingers. If the helmet does not fit snugly, try on a smaller size.</p>
            <li> Check your field of vision when trying on a helmet. Some helmets may obstruct or block your vision when looking left, right, up, or down.</li>
            <div class ="divider divider--xs"></div>
            <p>Always make sure you can see well enough to safely operate your motorcycle.</p>
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/proper-fit-1.gif?16458624558509578956" style ="float:left;">
            <li>Test the helmet fit by placing your hands on each side of the helmet. While holding your head as motionless as possible, try rotating your helmet from left to right then up and down. If you can feel the helmet padding sliding on your head, it is too big, try a size smaller. You should feel the helmet move the skin on your head and face as you try to move the helmet.</li>
            <p>* The Sy-Max and CL-Max were designed to be used in the closed chin bar position, thus be sure all helmet “fitting” is done while chin bar is in the closed and locked position.</p>
            <li><p>Fasten the retention system (chin strap) as tight as possible under your jaw without causing pain. There must be no slack in the strap, and the strap must be tight up against your jaw. Click to view the helmet retention system.</p></li>
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/proper-fit-2.gif?16458624558509578956" style ="float:left;">
            <li><p>Test the retention system (chin strap).</p>
              <p>Put your hands on the back of the helmet and try to push the helmet off by rotating it forward.</p> 
              <p>Put your hands on the front of the helmet above your forehead (or on the chin guard) and try to push the helmet off by rotating backward.</p></li>
            <div class ="divider divider--xs"></div>
            <p>If helmet comes off, try another size or another model or brand.</p>
            <p>Repeat steps 3 through 8 until you find a helmet that fits your head snugly and securely.</p>
          </ul>
        </div>
      </div>

      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">RETENTION SYSTEM</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p>Fasten the retention system (chin strap) as tight as possible under your jaw without causing pain. There must be no slack in the strap, and the strap must be snug up against your jaw. If the retention system is not tight, your helmet may become dislodged or knocked off in an accident.</p>
          <p>Do not rely on the snap to secure the helmet. The snap is provided only to prevent the strap from flapping in the air. Fasten the retention system only in the following manner:</p>
          <img class ="img-responsive hidden-xs" src ="https://cdn.shopify.com/s/files/1/1223/6434/files/retention.jpg?17441621657992950052">
          <img class ="img-responsive visible-xs" src ="https://cdn.shopify.com/s/files/1/1223/6434/files/retention-mobile.jpg?8620360699839915129">
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SHIELD TYPE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="table_responsive" style="overflow: auto;">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th colspan="2"><center>SHIELD TYPE</center></th>
                  <th colspan="2">
                    <center>HELMET MODEL</center>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-03</td>
                  <td class = "text-center" colspan = "2">CL-12Y, CL-14Y, CS-12Y, CS-Y</td>
                </tr>

                <tr>
                  <td class = "text-center" colspan = "2">HJ-05</td>
                  <td class = "text-center" colspan = "2">AC-10, CL-12, CL-Y, CS-12, SY-MAX</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-07</td>
                  <td class = "text-center" colspan = "2">AC-11, CL-14, CL-MAX</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-09</td>
                  <td class = "text-center" colspan = "2">AC-12, CL-15, CL-16, CL-SP, CS-R1, CS-R2, CS-R3, FS-10, FS-15, IS-16, CL-17, CL-17 PLUS</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-11</td>
                  <td class = "text-center" colspan = "2">AC-3, CL-33</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-12</td>
                  <td class = "text-center" colspan = "2">FS-3</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-17</td>
                  <td class = "text-center" colspan = "2">CL-MAX II, IS-MAX BT, SY-MAX III, IS-MAX II</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-17J</td>
                  <td class = "text-center" colspan = "2">CL-JET, IS-33</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-17R</td>
                  <td class = "text-center" colspan = "2">FG-JET, IS-33 II</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-20</td>
                  <td class = "text-center" colspan = "2">RPHA 10 PRO, RPHA 10</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-20M</td>
                  <td class = "text-center" colspan = "2">FG-17, IS-17</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-20ST</td>
                  <td class = "text-center" colspan = "2">RPHA ST</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-S2</td>
                  <td class = "text-center" colspan = "2">SY-MAX II</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-25</td>
                  <td class = "text-center" colspan = "2">RPHA MAX</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-26</td>
                  <td class = "text-center" colspan = "2">RPHA 11 PRO, RPHA 70 ST</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-29</td>
                  <td class = "text-center" colspan = "2">RPHA 90</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SUNSHIELD TYPE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class="table_responsive" style="overflow: auto;">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th colspan="2"><center>SHIELD TYPE</center></th>
                  <th colspan="2">
                    <center>HELMET MODEL</center>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-V3</td>
                  <td class = "text-center" colspan = "2">FS-10</td>
                </tr>

                <tr>
                  <td class = "text-center" colspan = "2">HJ-V4</td>
                  <td class = "text-center" colspan = "2">IS-2, IS-CRUISER</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-V5</td>
                  <td class = "text-center" colspan = "2">IS-MAX 2, SY-MAX 2, IS-16, IS-33, IS-MAX BT, SY-MAX 3, CL-MAX III</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-V7</td>
                  <td class = "text-center" colspan = "2">RPHA MAX, FG-JET, IS-17, IS-33 II</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-V8</td>
                  <td class = "text-center" colspan = "2">IS-5</td>
                </tr>
                <tr>
                  <td class = "text-center" colspan = "2">HJ-L1</td>
                  <td class = "text-center" colspan = "2">RPHA ST, RPHA 70 ST, RPHA 90</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SHIELD CARE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <p><b>Cleaning:</b> HJC does not recommend cleaning any shield with spray on type chemical cleaners. A reaction between a shield and cleaning chemical is possible, resulting in haze build-up and distortion. HJC recommends washing the shield with warm water and a soft cloth only. We also recommend cleaning the shield as soon as possible after dirt and debris have accumulated. Do not let debris sit on the shield for any extended period of time. If debris has accumulated over time, it is recommended to clean the shield in several applications. This allows the debris to break down with every application. Excessive rubbing can lead to scratching as the hard debris can act as a scuffing agent. The same can occur if low-grade rigid paper towels are used.</p>
          <hr>
          <p><b>Anti-Fog Inserts:</b> Aftermarket anti-fog inserts such as Fog City and HJTech Anti-Fog can work very well with HJC flat (2D) shields. These inserts are not recommended for use with standard HJC 3 dimensional (3D) shields due to their double curvature shape which could cause a distortion of vision. Follow the installation instructions diligently.</p>
          <hr>
          <p><b>Rain-X & Other Products:</b> Applying Rain-X or other water dispersing type chemicals work well on HJC shields (except RST mirrored shields) if applied on new shields and if the chemical companies directions are followed diligently. Always use extremely soft and clean clothes for applications.</p>
          <hr>
          <p><b>HJC Anti-fog Treated Shields (HJ-09):</b> HJC’s anti-fog treated shields are anti-fog coated both on the inside and hard coated outside. When first using the anti-fog HJ-09, you must activate the anti-fog by breathing directly on to the shields interior surface. The shield will partially fog, once the fog clears it is activated. You will notice if you breathe on the shields again, it remains fog free. All anti-fog coatings are a chemical treatment and will wear off in time.</p>
          <hr>
          <p><b>RST Mirrored Shields:</b> HJC does not recommend using any chemical products on our RST mirrored shields as they will degrade the mirror finish. For cleaning, we recommend washing the shield with warm water and the soft cloth only. We also recommend cleaning the shield as soon as possible after dirt and debris have accumulated. Do not let debris sit on the shield for any extended period of time. If debris has accumulated over time, it is recommended to clean the shield in several applications. This allows the debris to weaken and break up with every application. Excessive rubbing can lead to scratching as the hard debris will act as a scuffing agent.
            Note: We have been testing RaceWipes® on all our regular and RST shields for 3 months (approximately 5 cleanings). So far the results have been very good using the cleaning techniques mentioned above in all our clear, smoke, amber, and RST shields.</p>
          <hr>
          <p><b>2D / 3D Shields (What’s the Difference):</b> 2D shields are primarily used for racing purposes as they only have a single horizontal curvature, allowing tear-off films to be stretched across the main surface without warping. The more standard 3D shield has both horizontal and vertical curvatures.</p>
          <hr>
          <p><b>Tear-Off “Racing” Films:</b> HJC recommends Paulson TA-1, Racing Optics 7201, or Rose Racing 1018’s. Using more than 3 tear-offs might cause visual distortion.</p>

        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">STANDARD CERTIFICATION</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h5><b>DOT Standard</b></h5>
          <p>This standard establishes minimum performance requirements for helmets designed for use by motorcyclists and other motor vehicle users. The purpose of this standard is to reduce deaths and injuries to motorcyclists and other motor vehicle users resulting from head impacts. This standard applies to all helmets designed for use by motorcyclists and other motor vehicle users.</p>
          <p><a href = "https://www.fmcsa.dot.gov/regulations" class = "text-primary">Click here for more information.</a></p>
          <hr>
          <h5><b>SNELL Standard</b></h5>
          <p>The Snell Memorial Foundation is a not-for-profit organization dedicated to research, education, testing and development of helmet safety standards. Since its founding in 1957, Snell has been a leader in helmet safety in the United States and around the world.</p>
          <p><a href = "http://www.smf.org/" class = "text-primary">Click here for more information.</a></p>
        </div>
      </div>
    </div>


    <!--     TAB 2 -->
    <div class="tab-pane fade" id="lens_install_remove" role="tabpanel">

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SHELL</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">PLASTIC PARTS (SHIELD/VENTILATION)</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">INTERIOR COMFORT LINER </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">EPS LINER </a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

        </div>
      </div>
      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HELMET REPLACEMENT</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">SERVICE</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

        </div>
      </div>

      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">FREE IMPACT AND SAFETY INSPECTION</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">

        </div>
      </div>




    </div>




    <!--     TAB 3 -->

    <div class="tab-pane fade" id="goggle_care" role="tabpanel">


      <div class="row-info">
        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">WARRANTY</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="divider divider--md"></div>
        <div class="bi-content-hide">


        </div>
      </div>
    </div>

    <!--     TAB 4 -->

    <div class="tab-pane fade" id="shield_installation" role="tabpanel">


      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-05</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <div class ="divider divider--md"></div>
          <h3>Removal:</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC_Shield_Removal-1.png?4711008880498711891">
          </div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <p>1. Open shield to its full open position.</p>
            <p>2. Push the locking arm to the open position.</p>
            <p>3. Repeat on the oposite side.</p>
          </div>
          <div class = "divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC_Shield_Removal-2.png?1374046096705502092">
          </div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <p>1. Grasp the shield as shown.</p>
            <p>2. Pull the shield in the direction of the arrow.</p>
            <p>3. Repeat on the oposite side.</p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>
          <h3>Installation:</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC_Shield_Install-1.png?1374046096705502092">
          </div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <p>1. Ensure that the locking arm is in the open position.</p>
            <p>2. Grasp the shield as shown.</p>
            <p>3. Push the shield in the direction of the arrow until the main shield axis stops within the mechanism.</p>
          </div>
          <div class = "divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC_Shield_Install-2.png?1374046096705502092">
          </div>
          <div class = "col-sm-12 col-md-6 col-lg-6">
            <p>1. Important; ensure that the shield tab (A) slides under the tab channel on the baseplate (B) as you rotate the shield into the closed position.</p>
            <p>2. Close the locking arm before the shield is completely closed.</p>
            <p>3. Repeat on opposite side.</p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>     
      <div class="row-info">

        <div class="bi-row-title">

          <h4><a href="javascript:void(0)">HJ-07</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal:</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-07-Shield-Removal-1.png?17261284238625251962">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>1. Bring shield to full open position. Do not force.</p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-07-Shield-Removal-2.png?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>
              2. Move locking arm forward.</p>
            <p>3. Grasp the lower edge of the shield and pull/pry outward to completely remove the shield from the mechanism.</p>
          </div>

          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-07-Shield-Removal-3.png?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>
              4. Once the latch is in its locked position, push the locking arm back to the full closed position.</p>
          </div>

          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation:</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-07-Shield-Installation-1.png?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>
              1. Ensure that the shield latch is open and the locking arm is in the forward, open position. Also, the lever arm should be in the position as in the picture below. If the lever arm is not in the correct position, the ratchet system can be damaged as you install the shield.</p>
          </div>

          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-07-Shield-Installation-1b.png?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>
              2. Slide the upper edge of shield mechanism FIRMLY inward and upward into the base plate channel.</p>
          </div>
          <div class ="divider divider--sm"></div>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-07-Shield-Installation-3.png?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>  
              3. Press shield down into the base plate ensuring that the shield latch locks into its closed position.</p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-07-Shield-Installation-4.png?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>  
              4. Once the latch is in its locked position, push the locking arm back to the full closed position.</p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-09</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal:</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-09-Shield-Removal-1.jpg?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>  
              1. Move the shield retention button to the open position.</p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-09-Shield-Removal-2-1.jpg?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>  
              2. Open shield to the maximum open position.
              <br>
              When the shield is opened to its maximum open position, the arrow on the shield should line up with the arrow on the handle-locker. </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-09-Shield-Removal-3.jpg?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>  
              3. Move the handle-locker to the open position.</p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-09-Shield-Removal-4.jpg?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              4. The shield will be automatically released out of base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJ-HJ-09-Shield-Installation-1.jpg?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJ-HJ-09-Shield-Installation-2.jpg?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJ-HJ-09-Shield-Installation-3-1.jpg?11864035971229522248">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-12</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-12-Shield-Removal-1.jpg?14172882966009704594">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Open the shield to its maximum open position. Do not force.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-12-Shield-Removal-2.jpg?14172882966009704594">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Grasp the shield, then pull it upward in the direction of the arrow, free of the base-plate channel.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-12-Shield-Removal-3.jpg?14172882966009704594">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. The shield will be automatically released out of the base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-12-Shield-Installation-1.jpg?14172882966009704594">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Align the visor with the base-plate channel.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-12-Shield-Installation-2.jpg?14172882966009704594">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. The shield should be in an open or upward position for proper alignment. The shield should slide with the base-plate channel to a full stop.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-12-Shield-Installation-3.jpg?14172882966009704594">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. Close the shield.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-17</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Removal-01.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              1. Open the shield to its maximum open position. Do not force.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Removal-02.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              2. Move the handle-locker to the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Removal-03.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. The shield will be automatically released out of the base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-01.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-02.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-03.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-17J</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17J-Shield-Removal-1.jpg?7486987935813919681">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Open the shield to its maximum open position. Do not force.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17J-Shield-Removal-2.jpg?7486987935813919681">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Move the handle-locker to the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17J-Shield-Removal-3.jpg?7486987935813919681">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. The shield will be automatically released out of the base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-01.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-02.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-03.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-17R</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17J-Shield-Removal-1.jpg?7486987935813919681">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Open the shield to its maximum open position. Do not force.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17J-Shield-Removal-2.jpg?7486987935813919681">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Move the handle-locker to the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17J-Shield-Removal-3.jpg?7486987935813919681">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. The shield will be automatically released out of the base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-01.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-02.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-17-Shield-Installation-03.jpg?9541355751303967029">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-20</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-1a.jpg?4329271465588682390">
            <img class ="img-responsive visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-1b.jpg?4329271465588682390">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Lift up the handle-locker.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3 hidden-xs">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-1b.jpg?4329271465588682390">
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-2.jpg?4329271465588682390">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Open shield to its maximum open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-3.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              3. Push the handle-locker to the open position. The shield will be automatically released out of base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-1.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-2.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-3.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.</p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>

      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-20M</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-1a.jpg?4329271465588682390">
            <img class ="img-responsive visible-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-1b.jpg?4329271465588682390">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Lift up the handle-locker.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3 hidden-xs">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-1b.jpg?4329271465588682390">
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-2.jpg?4329271465588682390">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Open shield to its maximum open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-3.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              3. Push the handle-locker to the open position. The shield will be automatically released out of base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-1.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-2.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-3.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.</p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>



      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-20ST</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20ST-Shield-Removal-01.jpg?17606594429679620288">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Lift up the handle-locker.
            </p>
          </div>

          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-2.jpg?4329271465588682390">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Open shield to its maximum open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Removal-3.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              3. Push the handle-locker to the open position. The shield will be automatically released out of base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-1.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-2.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-20-Shield-Installation-3.jpg?9641329984641332764">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.</p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>
      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-S2</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-S2-Shield-Removal-01.jpg?7440695297256648045">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              1. Open the shield to its maximum open position. Do not force.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-S2-Shield-Removal-02.jpg?7440695297256648045">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         


              2. Grasp the shield, then pull it upward in the direction of the arrow on the shield, free of the base-plate channel.
            </p>
          </div>          
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-S2-Shield-Removal-03.jpg?7440695297256648045">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         


              3. The shield will be automatically released out of the base ratchet mechanism.
            </p>
          </div>

          <div class ="divider divider--sm"></div>
          <h3>Removal</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-S2-Shield-Installation-01.jpg?7440695297256648045">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Align the visor with the base-plate channel.
            </p>
          </div>

          <div class ="divider divider--sm"></div>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-S2-Shield-Installation-02.jpg?7440695297256648045">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. The shield should be in an open or upward position for proper alignment.
            </p>
          </div>

          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-S2-Shield-Installation-03.jpg?7440695297256648045">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. The shield should slide within the base-plate channel to a full stop.
            </p>
          </div>

          <div class ="divider divider--sm"></div>
        </div>
      </div>

      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-25</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-25-Shield-Removal-01.jpg?6372268398534296874">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Lift up the handle-locker
            </p>
          </div>

          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-25-Shield-Removal-02.jpg?6372268398534296874">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Open shield to the maximum open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-25-Shield-Removal-03.jpg?6372268398534296874">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. Push the handle-locker to the open position. The shield will be automatically released out of base ratchet mechanism.
            </p>
          </div>
          <div class ="divider divider--lg visible-md visible-lg"></div>
          <div class ="divider divider--sm visible-xs visible sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-25-Shield-Installation-01.jpg?6372268398534296874">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         


              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-25-Shield-Installation-02.jpg?6372268398534296874">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>
          <div class ="divider divider--sm"></div>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-25-Shield-Installation-03.jpg?6372268398534296874">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.</p>
          </div>
          <div class ="divider divider--sm"></div>
        </div>
      </div>



      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-27</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27-Shield-Removal-01.jpg?15252336730384805617">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Move the slide lock to the left to disengage.
            </p>
          </div>


          <div class ="divider divider--sm"></div>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27-Shield-Removal-02-1.jpg?15252336730384805617">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Squeeze the tab and lift up the center latch.
            </p>
          </div>


          <div class ="divider divider--sm"></div>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Removal-03.jpg?15252336730384805617">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              3. Open shield to the maximum open position.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Removal-04.jpg?15252336730384805617">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              4. Push the handle-locker to the open position. The shield will be automatically released out of base ratchet mechanism.
            </p>
          </div>


          <div class ="divider divider--sm"></div>

          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Installation-01.jpg?15252336730384805617">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Installation-02.jpg?15252336730384805617">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>


          <div class ="divider divider--sm"></div>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Installation-03.jpg?15252336730384805617">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.
            </p>
          </div>


          <div class ="divider divider--sm"></div>




        </div>
      </div>





      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-27ST</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Removal-01.jpg?12209686423417030407">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              1. Move the slide lock to the left to disengage.
            </p>
          </div>


          <div class ="divider divider--sm"></div>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Removal-02.jpg?12209686423417030407">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         


              2. Squeeze the tab and lift up the center latch.
            </p>
          </div>


          <div class ="divider divider--sm"></div>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Removal-03.jpg?12209686423417030407">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              3. Open shield to the maximum open position.
            </p>
          </div>


          <div class ="divider divider--sm"></div>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Removal-04.jpg?12209686423417030407">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              4. Push the handle-locker to the open position. The shield will be automatically released out of base ratchet mechanism.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <h3>Installation</h3>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Installation-01.jpg?12209686423417030407">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              1. Ensure that the handle-locker is in the open position.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Installation-02.jpg?12209686423417030407">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              2. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>


          <div class ="divider divider--sm"></div>

          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-27ST-Shield-Installation-03.jpg?12209686423417030407">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.
            </p>
          </div>


          <div class ="divider divider--sm"></div>



        </div>
      </div>




      <div class="row-info">

        <div class="bi-row-title">
          <h4><a href="javascript:void(0)">HJ-29</a> <i class="material-icons">keyboard_arrow_right</i></h4>
        </div>
        <div class="bi-content-hide">
          <h3>Removal</h3>
          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-29-Shield-Removal-01.jpg?2914501447192760168">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         

              1. Move the slide lock to the left to disengage.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-29-Shield-Removal-02.jpg?2914501447192760168">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         


              2. Squeeze the tab and lift up the center latch.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-29-Shield-Removal-03.jpg?29145014471927601688">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              3. Open shield to the maximum open position.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-29-Shield-Removal-04.jpg?2914501447192760168">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              4. Push the handle-locker to the open position. The shield will be automatically released out of base ratchet mechanism.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <h3>Installation</h3>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-29-Shield-Installation-01.jpg?2914501447192760168">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              1. Align and insert the top of the shield guide into the plate-gear guide.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


          <div class = "col-sm-12 col-md-3 col-lg-3">
            <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/HJC-HJ-29-Shield-Installation-02.jpg?2914501447192760168">
          </div>
          <div class ="col-sm-12 col-sm-6 col-md-6">
            <p>         
              2. With the guides properly aligned, press the lower section of the shield into the plate-gear mechanism. The locking tab should pop into position, locking the shield into place.
            </p>
          </div>


          <div class ="divider divider--sm"></div>


        </div>
      </div>



    </div>





