<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	             margin-top: -123px;
	        }
	  } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li ><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
	<li ><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
	
<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#MensShirts" role="tab"data-toggle="tab" class="text-uppercase">Shirts</a></li>
	<li ><a href="#MensHats" role="tab"data-toggle="tab" class="text-uppercase">Hats</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
	 <div role="tabpanel" class="tab-pane active" id="MensShirts">
	 <div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/creature-mens-shirts-size-chart.jpg?7052788053902092077" alt="Creature Shirts Size Charts" title="Creature Shirts Size Charts" style="margin: 0 auto;"/>

		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		        		<h4 style="text-transform:uppercase;font-weight:bold;">Guys sizing and measuring yourself</h4>
<p>Looking for the perfect fit? Be sure to select your size based on your fit guide tips below. In order to measure yourself properly, follow these measuring instructions for the most accurate measurements and best fits.</p>
<p><b>NECK:</b> Measure around the middle of your neck, keeping the measuring tape a bit loose.</p>
<p><b>CHEST:</b> With your arms relaxed at your sides, measure around the fullest part of your chest.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		            <th>SIZE</th>	
		            <th>SMALL</th>
					      <th>MEDIUM</th>
					      <th>LARGE</th>
                <th>X-LARGE</th>
                <th>XX-LARGE</th>
		          </tr>
		        </thead>
		     	<tbody>
					    <tr>
                <th scope="col">A.| Chest</th>
                <td>36" - 38"</td>
                <td>38" - 40"</td>
                <td>40" - 42"</td>
                <td>42" - 44"</td>
                <td>44" - 46"</td>
              </tr>
              <tr>
                <th scope="col">B.| Neck</th>
                <td>14.25" - 15"</td>
                <td>15" - 15.75"</td>
                <td>15.75" - 16.5"</td>
                <td>16.5" - 17.25"</td>
                <td>17.25" - 18.25"</td>
              </tr>
		        </tbody>
		      </table>

	  </div><!-- Responsive Table --> 
	  <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>
	 </div>
  </div> 

  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensHats">
  <div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/helmets-sizing-chart.jpg?4243229065348873886" alt="Creature Hats Size Charts" title="Creature Hats Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Hats sizing and how to measure your head</h4>
          <p>An average head size for men is size 7 3/8" (using US sizing), 58 cm (using European sizing) or 7 1/8" (using UK using). The average head size for women is 7 1/4" (US sizing).</p>
          <h4 style="text-transform:uppercase;font-weight:bold;">Properly measuring your head</h4>
          <p>What size hat size you should buy will be determined by the measurement of your head. It is important to note that each brand may vary. In order to property measure your head, follow these steps.</p>
          <p>1. Wrap a soft tape measure around your forehead, just above your eyebrows and ears. Keep the tape measure level from the front to the back of your head.</p>
          <p>2. If you do not have a flexible tape measure, try marking a string and measuring it against a ruler.</p>
          <p>If the hat is a gift or you cannot measure their head, measure the inside of a current hat they wear.</p>
	       </div>
	  	 
  </div> 
  	 		<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		        </thead>
		     		<tbody>
		        	<tr>
                <th scope="col">Head Measurement (cm)</th>
                <td>53</td>
                <td>54</td>
                <td>55</td>
                <td>56</td>
                <td>57</td>
                <td>58</td>
                <td>59</td>
                <td>60</td>
                <td>61</td>
                <td>62</td>
                <td>63</td>
                <td>64</td>
              </tr>
              <tr>
                <th scope="col">Head Measurement (in)</th>
                <td>20 3/4"</td>
                <td>21 1/4"</td>
                <td>21 5/8"</td>
                <td>22"</td>
                <td>22 1/2"</td>
                <td>22 3/4"</td>
                <td>23 3/4"</td>
                <td>23 5/8"</td>
                <td>24"</td>
                <td>24 1/2"</td>
                <td>24 3/4"</td>
                <td>25 1/4"</td>
              </tr>
              <tr>
                <th scope="col">Fitted</th>
                <td>6 5/8"</td>
                <td>6 3/4"</td>
                <td>6 7/8"</td>
                <td>7"</td>
                <td>7 1/8"</td>
                <td>7 1/4"</td>
                <td>7 3/8"</td>
                <td>7 1/2"</td>
                <td>7 5/8"</td>
                <td>7 3/4"</td>
                <td>7 7/8"</td>
                <td>8"</td>
              </tr>
              <tr>
                <th scope="col">Flex Fit</th>
                <td colspan="4"><center>Small - Medium</center></td>
                <td colspan="2"><center>Medium - Large</center></td>
                <td colspan="4"><center>Large - Extra Large</center></td>
                <td colspan="2"></td>
              </tr>
		        </tbody>
		      </table>
	  </div><!-- Responsive Table --> 
 <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>

</div> <!-- MensJerseys -->

</div>

</div> <!-- SizeChartTab2 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab4">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#YouthShirts" role="tab"data-toggle="tab" class="text-uppercase">Shirts</a></li>
	<li ><a href="#YouthPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
	<div role="tabpanel" class="tab-pane active" id="YouthShirts">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/creature-youth-shirts-size-chart.jpg?3903938511851547551" alt="Creature Shirts Size Charts" title="Creature Shirts Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Youth sizing and measuring yourself</h4>
          <p>Looking for the perfect fit? Be sure to select your size based on our fit guide tips below. In order to measure yourself properly, follow these measuring instructions for the best fit for you. Make sure you take into account that some youth clothing is made of cotton. These garments may shrink slightly after being placed in the wash.</p>
<p><b>Chest:</b> With your arms relaxed at your side, measure around the fullest part of your chest.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		               <th>SIZE</th>	
		               <th>SMALL</th>
						       <th>MEDIUM</th>
						       <th>LARGE</th>
                   <th>X-LARGE</th>
		          </tr>
		        </thead>
		    		<tbody>
						<tr>
                  <th scope="col">A.| Chest</th>
                  <td>25" - 27"</td>
                  <td>28" - 30"</td>
                  <td>31" - 33"</td>
                  <td>34" - 35.5"</td>
            </tr>
            <tr>
                  <th scope="col">B.| Height (in)</th>
                  <td>52" - 56"</td>
                  <td>56" - 58.5"</td>
                  <td>59" - 64"</td>
                  <td>64.5" - 66"</td>
            </tr>
		        </tbody>
		      </table>
		     
	  </div><!-- Responsive Table --> 
	 
 <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p>
	 </div>
  </div> 
   
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="YouthPants">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/creature-youth-pants-size-chart.jpg?2364636722777595636" alt="Creature Pants Size Charts" title="Creature Pants Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight:bold;">Youth sizing and measuring yourself</h4>
          <p>Looking for the perfect fit? Be sure to select your size based on our fit guide tips below. In order to measure yourself properly, follow these measuring instructions for the best fit for you. Make sure you take into account that some youth clothing is made of cotton. These garments may shrink slightly after being placed in the wash.</p>
<p><b>WAIST:</b> Measure around your natural waistline, generally around your belly button or slightly under. To ensure a comfortable fit, do not pull your tape measure too tightly.</p>
<p><b>HIPS:</b> Measure the widest part of your hips or seat. This area usually corresponds to the top of your legs.</p>
<p><b>INSEAM:</b> Standing straight, measure from top inside of your leg to the floor.</p>

          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
            </thead>
            <tbody>
             <tr>
                <th scope="col">Size</th>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
             </tr>
             <tr>
                <th scope="col">A.| Waist</th>
                <td>25"</td>
                <td>26"</td>
                <td>27"</td>
                <td>28"</td>
            </tr>
            <tr>
                <th scope="col">B.| Hip</th>
                <td>29"</td>
                <td>30"</td>
                <td>31"</td>
                <td>32"</td>
            </tr>
            <tr>
                <th scope="col">C.| Inseam</th>
                <td>25" - 26"</td>
                <td>25" - 26.5"</td>
                <td>25" - 27"</td>
                <td>25" - 27.5"</td>
            </tr>
            </tbody>
          </table>
         
    </div><!-- Responsive Table --> 
     <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p>

	 </div>
  </div> 

</div> <!-- MensJerseys -->

</div>

</div> <!-- SizeChartTab4 -->



</div><!-- tab-content tab-content-ys obs_sizechart -->