

{% if "logo" == condition %}

<a href = "/collections/oakley">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Oakley-banner.jpg?18309678192070229938" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-banner.jpg?5773960365493749579" alt="">
</a>
{%comment%}
<div class="wall-brand-desc-content">
 
</div>
<div class="wall-see-more-desc">



  <a href="javascript:void(0);" id="wall_seemore_desc">Read More..</a>


</div>
{%endcomment%}
{% elsif "header" == condition %}


<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/oakley" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>


<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 




{% elsif "collection" == condition %}
 <div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/oakley-womens-collections">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/oakley-womens-banner.jpg?2264976664430649974">
       </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/oakley-mens-collections">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/oakley-mens-banner.jpg?2264976664430649974">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/oakley-sunglasses-collections">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">SUNGLASSES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Oakley-sunglass-collection-banner.jpg?10610350356340510087">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/oakley-eyeglasses">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">PRESCRIPTION EYEGLASSES</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/oakley-prescription-sunglasses-banner.jpg?10610350356340510087">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/oakley-hot-sales">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/oakley-hot-sale-banner.jpg?15136692292777278747" alt="">
      </a>
    </div>
  </div>
</div>
  
  
  
  
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/oakley-off-road-goggles">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">OFF-ROAD GOGGLES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Oakley-offroad-google-collection-banner.jpg?18235639001051057294">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/oakley-snow-goggles">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">SNOW GOGGLES</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Oakley-snow-goggles.jpg?15633027001459569877">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/oakley-gloves-collections">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">GLOVES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Oakley-gloves-collection-banner.jpg?952216734492911969">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/oakley-apparel-collections">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">CASUAL WEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Oakley-casual-collection-banner.jpg?952216734492911969">
        </a>
      </div>
    </div>
  </div>
</div>
</div>

<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/oakley-womens-collections">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-womens-banner.jpg?10533824464602319983">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/oakley-mens-collections">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-mens-banner.jpg?10533824464602319983">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/oakley-sunglasses-collections">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">SUNGLASSES</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-sunglass-collection-banner.jpg?10533824464602319983">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/oakley-eyeglasses">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">PRESCRIPTION EYEGLASSES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-prescription-sunglasses-banner.jpg?18230633645307805752">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/oakley-hot-sales">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-hotsale-banner.jpg?18230633645307805752" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/oakley-off-road-goggles">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD GOGGLES</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-offroad-google-collection-banner.jpg?18230633645307805752">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/oakley-snow-goggles">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">SNOW GOGGLES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-snow-goggles.jpg?18230633645307805752">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/oakley-gloves-collections">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">GLOVES</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-gloves-collection-banner.jpg?18230633645307805752">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/oakley-apparel-collections">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CASUAL WEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-oakley-casual-collection-banner.jpg?18230633645307805752">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
  {% elsif "lookbooks" == condition %}

  {% assign totalLookbookCount = blogs['lookbook'].articles_count %}
  {% assign counter = 0 %}
  {% paginate blogs['lookbook'].articles by totalLookbookCount %}
  {% for article in blogs['lookbook'].articles %}
  {% if counter < 6 and article.tags contains 'Oakley' or article.tags contains 'oakley' %}
  {% assign counter = counter | plus: 1 %}
  <div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">

    <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
      <div>
        {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
      </div>

      <div class="TeaserGrid-content" style="margin-top: 6px;">
        <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
      </div>                       
    </a>

  </div>
  {% endif %}
  {% endfor %}
  {% endpaginate %}

  <div class="divider divider--md"></div>



  {% comment %}
  <div class="title-with-button">
    <div class="carousel-products__button pull-right"> <span class="btn-prev"></span> <span class="btn-next"></span> </div>
    <h3 class="text-left title-under  text_uppercase black_txt moto_wall_sub_title"><a href="/search?type=article&q=Troy+Lee+Designs">More Lookbooks from Troy Lee Designs</a></h3>
  </div>
  <div class="obs_lookbook_banner_slider slider">

    {% for article in blogs['lookbook'].articles %}
    {% for tag in article.tags %}
    {% if tag == 'Oakley' %}

    <div class="obs_lookbook_banner_slider-items">
      <a href="{{ article.url }}">
        <img src="{{ article.image.src | img_url: '1024x1024' }}" title="{{ article.title }}" alt="{{ article.title }}"/>
        <div class="slide-caption">{{ article.title }}</div>
      </a>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}

  </div>

  {% for article in blogs['lookbook'].articles %}
  {% if article.tags contains 'Oakley' %}
  <div class="njohn_search_otherpage">
    <a href="{{ article.url }}" title="{{ article.title | escape }}">
      <div>{{ article.image.src | img_url: 'medium' | img_tag: article.title }}</div>
      <div>{{ article.title }}</div>
    </a>
  </div>
  {% endif %}
  {% endfor %}


  {% endcomment %}

 <div class="divider divider--lg"></div>
  {% elsif "more_info" == condition %}
  {% include "page.wall-info-oakley" %}
 <div class="divider divider--lg"></div>

  {% elsif "brand_sizing_guide" == condition %}

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="col-md-6">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-image-men.jpg?14704309128810109135" alt="Oakley Mens Size Chart">
        </center>
      </div>
      <div class="col-md-6">
        <center>
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/oakley-general-size-image-women.jpg?14704309128810109135" alt="Oakley Womens Size Chart">
        </center>
      </div>
      <div class="divider divider--xs"></div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="chart-text-box">
        <h4 style="font-weight: bold; ">A | CHEST</h4>
        <p class="text-uppercase" style="margin: 0;">Measure around the fullest part of the bust, keeping the tape parallel to the floor.</p>
      </div>
      <div class="chart-text-box">
        <h4 style="font-weight: bold; ">B | WAIST</h4>
        <p class="text-uppercase" style="margin: 0;">Measure around the narrowest point of the waist, keeping the tape parallel to the floor.</p>
      </div>
      <div class="chart-text-box">
        <h4 style="font-weight: bold; ">C | HIPS</h4>
        <p class="text-uppercase" style="margin: 0;">Measure around the fullest point of the hip/seat, keeping the tape parallel to the floor.</p>
      </div>
      <div class="chart-text-box">
        <h4 style="font-weight: bold; ">D | SLEEVE LENGTH</h4>
        <p class="text-uppercase" style="margin: 0;">Measure from the prominent CB neck bone, across the shoulder, down the arm to the wrist bone.</p>
      </div>
      <div class="chart-text-box">
        <h4 style="font-weight: bold; ">E | INSEAM</h4>
        <p class="text-uppercase" style="margin: 0;">Measure from the bottom of the crotch to the bottom of the ankle bone.</p>
      </div>
    </div>
  </div>

  {% include 'oakley-size-chart' %}
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/2000px-Oakley_logo.svg_ac421dc5-5daf-4ab2-abe8-82994147ef69.png?10256105275166910284">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class = "row">
             <p>Oakley, Inc., based in Foothill Ranch, California, is a subsidiary of an Italian company Luxottica, that designs, develops and manufactures sports performance equipment and lifestyle pieces including sunglasses, sports visors, ski/snowboard goggles, watches, apparel, backpacks, shoes, optical frames, football visors, golf gear and other accessories.</p>

            <p>Oakley is a major sponsor of top athletes from Golf, Baseball, Snow, Motocross and the Olympics.Most items are designed in house at their head office, but some countries hold exclusive designs relevant to their market. Oakley currently holds more than 600 patents for eyewear, materials, and performance gear</p>

            <p>Today, they are a leading sports and lifestyle brand.  Featuring not only eyewear but footwear, shoes, sandals, backpacks, training gear, athletic gear and casual wear.</p>

            <p>Oakley was started by James Jannard in 1975 out of his garage with an initial investment of $300. The name "Oakley" came from Jim's English Setter, "Oakley Anne." Jannard began by selling what he called 'The Oakley Grip' out of the back of his car at motocross events. His motorcycle grips were unlike other grips available at the time, using a patented material known as 'Unobtainium'('Unobtanium'), a unique creation by Jannard.</p>

           
            <div class = "hidden-content">
              <p>The material is still used to make the earsocks on Oakley glasses, and many of the nose pieces and now the bands of their watches. Oakley went on to produce number plates, gloves, grips, elbow guards, chin guards, and goggles for the BMX and motocross communities.</p>

              <p>In 1980, Jannard released a pair of goggles called the O-Frame. With the 'Oakley' logo present on the strap, the brand garnered increasing recognition and prominence throughout the sports industry.  In 1983 Oakley began selling ski goggles.</p>

              <p>The first Oakley sunglasses; Factory Pilot Eyeshades, were sport-oriented, resembling goggles and were released in 1984. These were followed in 1985 by the Oakley Frogskin, a casual sunglass style that was made in Japan.</p>

              <p>The company went public in 1995, raising $230 million.  In 2016 dollars, that would be approximately $360,000.00</p>

              <p>In early 1996, Oakley had a pricing dispute with Italian company Luxottica, the world's largest eyewear manufacturers and retailers. Luxottica stopped carrying Oakley's products in their stores, including Sunglass Hut, and Oakley's stock market value declined 33%.  Ironically, Luxottica today is Oakley's parent company.  This dispute was later settled.</p>

              <p>In 2001, Oakley bought Iacon, Inc., operator of mall-based sunglasses stores Sunglass Designs, Sporting Eyes, and Occhiali da Sole.</p>

              <p>Oakley signed a four-year agreement to manufacture eyewear designed by themselves and Fox Racing in September 2004.  Today, Fox manufacturer's their own sunglasses and goggles.</p>

              <p>Starting in 2004, Jannard bought large quantities of Oakley stock: $2 million in 2004, $16 million in 2005, and $4.6 million in early 2006, bringing his personal stake in the company to 63%.</p>

              <p>In 2006, Oakley acquired the Oliver Peoples group, a manufacturer of high-end fashion branded eyewear (under the Oliver Peoples, Mosley Tribes, and Paul Smith brands) for $55.7m, and Optical Shop of Aspen, a luxury eyewear retailer with fourteen stores.</p>

              <p>On June 21, 2007, Luxottica announced a plan to purchase Oakley in a cash deal worth $2.1 billion, paying a 16% premium over the extant share price.  The deal was completed on November 15, 2007, making Oakley part of a portfolio that includes brands such as Louis Vuitton, Ray-Ban, Persol, and Vogue.</p>

              <p>During the preparations for the ultimately successful rescue of thirty three miners trapped for ten weeks in a Chilean mine in October 2010, a journalist covering the story contacted Oakley about donating sunglasses to the rescue effort, aware that the miners would need eye protection after having spent weeks in darkness. Oakley donated 35 pairs of its Radar sports glasses, fitted with specially selected tints.</p>

              <p>Oakley was once the US Distributor for Arnette, Ray-Ban, and Revo.</p>

              <p>Oakley sponsored members of the US Olympic Team in 2012.</p>

              <p>In August 2013, Oakley sold its REVO brand to Sequential Brands for $20m.</p>

              <p>In 2015, Oakley discontinued their Arnette line.  Arnettte continues to be distributed by Luxottica in Europe and South America.</p>

              <p>Today, Oakley is a leading sunglass and goggle manufacturer and sport brand.</p>


              <p>Most of Oakley's technological designs, fashion pieces, gear, etc. were developed with extensive athlete input and testing in the field – including extreme conditions. Oakley also maintains US Standard Issue, which provides U.S. military and law enforcement eye protection. Oakley M Frame sunglasses are included as part of the U.S. Army's Authorized Protective Eyewear List (APEL), and have been assigned a NSN number for ordering through military supply channels. The company has also built at least one 'golf hovercraft', intended as an all terrain replacement for conventional golf carts, in partnership with the professional golfer, Bubba Watson.</p>

              <p>Oakley has been affiliated with top sports athletes such as Michael Jordan.</p></div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>




  {% endif %}

  <script>
    function showGlassesCollection(){

      document.getElementById("glasses-collection").setAttribute("style","display:block;");
      document.getElementById("glasses-collection").setAttribute("class","fadeIn");
      document.getElementById("goggles-collection").setAttribute("style","display:none;");
      document.getElementById("goggles-collection").setAttribute("class","fadeOut");



    }

    function showGogglesCollection(){

      document.getElementById("goggles-collection").setAttribute("style","display:block;");
      document.getElementById("goggles-collection").setAttribute("class","fadeIn");
      document.getElementById("glasses-collection").setAttribute("style","display:none;");
      document.getElementById("glasses-collection").setAttribute("class","fadeOut");



    }
 
    jQuery(function($) {
        $j('[nj="zero"]').tooltip(); 
      
    });
     jQuery(function($){  
    $j("#nav-collection").focus();
    $j('#helmet-collections').hover(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','black');
      $j('.helmets-text').css('color','black');
    });
    $j('#helmet-collections').mouseleave(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','#6b6b6b');
      $j('.helmets-text').css('color','#3a3a3a');
    });
    $j('#jacket-collections').hover(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','black');
      $j('.jackets-text').css('color','black');
    });
    $j('#jacket-collections').mouseleave(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','#6b6b6b');
      $j('.jackets-text').css('color','#3a3a3a');
    });
    $j('#gloves-collections').hover(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','black');
      $j('.gloves-text').css('color','black');
    });
    $j('#gloves-collections').mouseleave(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','#6b6b6b');
      $j('.gloves-text').css('color','#3a3a3a');
    });
    $j('#pants-collections').hover(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','black');
      $j('.pants-text').css('color','black');
    });
    $j('#pants-collections').mouseleave(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','#6b6b6b');
      $j('.pants-text').css('color','#3a3a3a');
    });
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });


  });


  </script>