<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">SG 12</a></li>
<li class=""><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">SG 10</a></li>
<li class=""><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">FASTBACK</a></li>
<li class=""><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">G-REACT</a></li>
<li class=""><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">G-REACT GOODYEAR</a></li>
<li class=""><a href="#SizeChartTab6" role="tab"data-toggle="tab" class="text-uppercase">G-REACT ENDURO</a></li>
<li class=""><a href="#SizeChartTab7" role="tab"data-toggle="tab" class="text-uppercase">GX1 GOODYEAR</a></li>
<li class=""><a href="#SizeChartTab8" role="tab"data-toggle="tab" class="text-uppercase">GX-1 ENDURO</a></li>
<li class=""><a href="#SizeChartTab9" role="tab"data-toggle="tab" class="text-uppercase">GX-1 EVO</a></li>
<li class=""><a href="#SizeChartTab10" role="tab"data-toggle="tab" class="text-uppercase">SG-J</a></li>

</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">SG 12</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="9">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
       <td>EU</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>       
 </tr>
        <tr>
           <td>US</td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">SG 10</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="12">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
      <td>EU</td>
<td>39</td>
<td>40</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>
     
 </tr>
        <tr>
  <td>US</td>
<td>6 </td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>-</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">FASTBACK</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="12">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
<td>EU</td>
<td>39</td>
<td>40</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>     
 </tr>
        <tr>
         <td>US</td>
<td>6 </td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>-</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab3 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">G-REACT</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="10">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
     <td>EU</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>    
 </tr>
        <tr>
      <td>US</td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>-</td>

        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab4 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab5">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">G-REACT GOODYEAR</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="10">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
       <td>EU</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>     
 </tr>
        <tr>
    <td>US</td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab5 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab6">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">G-REACT ENDURO</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="10">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
       <td>EU</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>      
 </tr>
        <tr>
          <td>US</td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab6 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab7">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">GX1 GOODYEAR</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="13">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
      <td>EU</td>
<td>38</td>
<td>39</td>
<td>40</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>     
 </tr>
        <tr>
      <td>US</td>
<td>5 </td>
<td>6 </td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>-</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab7 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab8">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">GX-1 ENDURO</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="13">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
      <td>EU</td>
<td>38</td>
<td>39</td>
<td>40</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>    
 </tr>
        <tr>
        <td>US</td>
<td>5 </td>
<td>6 </td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>-</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab8 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab9">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">GX-1 EVO</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="10">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
     <td>EU</td>
<td>41</td>
<td>42</td>
<td>43</td>
<td>44</td>
<td>45</td>
<td>46</td>
<td>47</td>
<td>48</td>
<td>49</td>  
 </tr>
        <tr>
         <td>US</td>
<td>7 </td>
<td>8 </td>
<td>9 </td>
<td>10</td>
<td>11</td>
<td>12</td>
<td>13</td>
<td>14</td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab9 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-gaerne-boots.jpg?14344760517398979677" alt="Gaerne Boots Size Charts" title="Gaerne Boots Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">SG-J</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th colspan="10">Size              </th>
        </tr>
      </thead>
     <tbody>
        <tr>
      <td>EU</td>
<td>33</td>
<td>34</td>
<td>35</td>
<td>36</td>
<td>37</td>
<td>38</td>
<td>39</td>
<td>40</td>     
 </tr>
        <tr>
        <td>US</td>
<td>1 </td>
<td>2 </td>
<td>3 </td>
<td>4 </td>
<td>5 </td>
<td>6 </td>
<td>-</td>
        </tr>
       
    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
</div><!-- SizeChartMenTab10 -->








</div><!-- ys -->