<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	             margin-top: -123px;
	        }
	  } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li ><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>
	<li ><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Bottoms</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
	
<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#MensShirts" role="tab"data-toggle="tab" class="text-uppercase">Shirts</a></li>
	<li ><a href="#MensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
	 <div role="tabpanel" class="tab-pane active" id="MensShirts">
	 <div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/matix-mens-shirts.jpg?433907215602019634" alt="Matix Shirts Size Charts" title="Matix Shirts Size Charts" style="margin: 0 auto;"/>

		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		        		<h4 style="text-transform:uppercase;font-weight:bold;">SLIM FIT</h4>
          <p><b>CHEST:</b> Measure your upper body, under your armpits and over the fullest part of your chest and shoulder blades.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		            <th>SIZE</th>	
		            <th>SMALL</th>
					      <th>MEDIUM</th>
					      <th>LARGE</th>
                <th>X-LARGE</th>
                <th>XX-LARGE</th>
		          </tr>
		        </thead>
		     	<tbody>
					    <tr>
                <th scope="col">A.| Chest(1" Below Armhole)</th>
                <td>22"</td>
                <td>23"</td>
                <td>24"</td>
                <td>25.5"</td>
                <td>27"</td>
              </tr>
              <tr>
                <th scope="col">B.| Length(Shoulder to Hem)</th>
                <td>26.5"</td>
                <td>27.5"</td>
                <td>28.5"</td>
                <td>30"</td>
                <td>31.5"</td>
              </tr>
		        </tbody>
		      </table>

	  </div><!-- Responsive Table --> 
	  <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>
	 </div>
  </div> 

  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensJackets">
  <div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/matix-mens-jackets.jpg?1289630747290787681" alt="Matix Jackets Size Charts" title="Matix Jackets Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">STANDARD FIT</h4>
          <p>Fits Slim through body for a casual tailored look.</p>
          <p><b>CHEST:</b> Measure your upper body, under your armpits and over the fullest part of your chest and shoulder blades.</p>	  	 
  	 		<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
              <tr>
                <th>SIZE</th> 
                <th>SMALL</th>
                <th>MEDIUM</th>
                <th>LARGE</th>
                <th>X-LARGE</th>
                <th>XX-LARGE</th>
              </tr>
		        </thead>
		     		<tbody>
              <tr>
                <th scope="col">A.| Chest(1" Below Armhole)</th>
                <td>22"</td>
                <td>23"</td>
                <td>24"</td>
                <td>25.5"</td>
                <td>27"</td>
              </tr>
              <tr>
                <th scope="col">B.| Length(Shoulder to Hem)</th>
                <td>26.5"</td>
                <td>27.5"</td>
                <td>28.5"</td>
                <td>30"</td>
                <td>31.5"</td>
              </tr>
		        </tbody>
		      </table>
	  </div><!-- Responsive Table --> 
             </div>
 <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit.</p>
  </div>
</div> <!-- MensJerseys -->

</div>

</div> <!-- SizeChartTab2 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab2">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#Constrictor" role="tab"data-toggle="tab" class="text-uppercase">Constrictor</a></li>
	<li ><a href="#Surveyor" role="tab"data-toggle="tab" class="text-uppercase">Surveyor</a></li>
  <li ><a href="#Gripper" role="tab"data-toggle="tab" class="text-uppercase">Gripper</a></li>
  <li ><a href="#Miner" role="tab"data-toggle="tab" class="text-uppercase">Miner</a></li>
  <li ><a href="#Welder" role="tab"data-toggle="tab" class="text-uppercase">Welder</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
	<div role="tabpanel" class="tab-pane active" id="Constrictor">
	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/matix-mens-pants-size-chart.jpg?7305261276830390541" alt="Matix Pants Size Charts" title="Matix Pants Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-6 col-md-6 col-lg-6">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Slim Taper</h4>
          <p>Constrictor is slim from the hip & thighs and tapers down to a narrow leg opening.</p>
<p><b>Chest:</b> With your arms relaxed at your side, measure around the fullest part of your chest.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>

		        </thead>
		    		<tbody>
            <tr>
                   <th>WAIST</th> 
                   <th>INSEAM</th>
                   <th>LEG</th>
              </tr>
						<tr>
                  <td>- 26 -</td>
                  <td>28</td>
                  <td>6.5"</td>
            </tr>
            <tr>
                  <td>- 28 -</td>
                  <td>29"</td>
                  <td>6.75"</td>
            </tr>
            <tr>
                  <td>- 30 -</td>
                  <td>31"</td>
                  <td>7"</td>
            </tr>
            <tr>
                  <td>- 31 -</td>
                  <td>31"</td>
                  <td>7.125"</td>
            </tr>
            <tr>
                  <td>- 32 -</td>
                  <td>32"</td>
                  <td>7.25"</td>
            </tr>
            <tr>
                  <td>- 33 -</td>
                  <td>32"</td>
                  <td>7.375"</td>
            </tr>
            <tr>
                  <td>- 34 -</td>
                  <td>32"</td>
                  <td>7.5"</td>
            </tr>
            <tr>
                  <td>- 36 -</td>
                  <td>33"</td>
                  <td>7.75"</td>
            </tr>
            <tr>
                  <td>- 38 -</td>
                  <td>33"</td>
                  <td>8"</td>
            </tr>
		        </tbody>
		      </table>
	  </div><!-- Responsive Table --> 
	 
 <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p>
	 </div>
  </div> 
   
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="YouthPants">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/creature-youth-pants-size-chart.jpg?2364636722777595636" alt="Creature Pants Size Charts" title="Creature Pants Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight:bold;">Youth sizing and measuring yourself</h4>
          <p>Looking for the perfect fit? Be sure to select your size based on our fit guide tips below. In order to measure yourself properly, follow these measuring instructions for the best fit for you. Make sure you take into account that some youth clothing is made of cotton. These garments may shrink slightly after being placed in the wash.</p>
<p><b>WAIST:</b> Measure around your natural waistline, generally around your belly button or slightly under. To ensure a comfortable fit, do not pull your tape measure too tightly.</p>
<p><b>HIPS:</b> Measure the widest part of your hips or seat. This area usually corresponds to the top of your legs.</p>
<p><b>INSEAM:</b> Standing straight, measure from top inside of your leg to the floor.</p>

          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
            </thead>
            <tbody>
             <tr>
                <th scope="col">Size</th>
                <td>25</td>
                <td>26</td>
                <td>27</td>
                <td>28</td>
             </tr>
             <tr>
                <th scope="col">A.| Waist</th>
                <td>25"</td>
                <td>26"</td>
                <td>27"</td>
                <td>28"</td>
            </tr>
            <tr>
                <th scope="col">B.| Hip</th>
                <td>29"</td>
                <td>30"</td>
                <td>31"</td>
                <td>32"</td>
            </tr>
            <tr>
                <th scope="col">C.| Inseam</th>
                <td>25" - 26"</td>
                <td>25" - 26.5"</td>
                <td>25" - 27"</td>
                <td>25" - 27.5"</td>
            </tr>
            </tbody>
          </table>
         
    </div><!-- Responsive Table --> 
     <p class="sizechart-note"><code>*</code>&nbsp; Sizing Charts are provided by manufacturer and do not guarantee a perfect fit. </p>

	 </div>
  </div> 

</div> <!-- MensJerseys -->

</div>

</div> <!-- SizeChartTab4 -->



</div><!-- tab-content tab-content-ys obs_sizechart -->