<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
               margin-top: -123px;
          }
    } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
  <li ><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
  <li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
  <li ><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  
  <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Answear Racing Helmets Size Charts" title="Answear Racing Helmets Size Charts" style="margin: 0 auto;"/>
    <h4 style="text-transform:uppercase;font-weight:bold;">HELMET</h4>
<p>Using a tape-measure, measure the circumference of your head just above the ears and across the forehead. Refer to the chart for proper helmet size. Example: Head circumference measures 22-3/4“ = Adult med helmet.</p>
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th colspan="3">ADULT HEAD HELMET SIZE</th>
                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>XS</td>
                  <td>20-3/8” - 21-1/8”</td>
                  </tr>
                  <tr>
                      <td>SM</td>
                  <td>21-1/4” - 22”</td>
                  </tr>
                    <tr>
                        <td>MD</td>
                  <td>22-1/8” - 22-7/8”</td>
                  </tr>
                  <tr>
                        <td>LG</td>
                  <td>23“ - 23-3/4”</td>
                  </tr>
                  <tr>
                      <td>XL</td>
                <td>23-7/8” & 24-5/8”</td>
                  </tr>
            </tbody>
          </table>
        
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th colspan="2">YOUTH HEAD HELMET SIZE</th>
                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>SM</td>
                  <td>18-1/2” - 19-1/8”</td>
                  </tr>
                  <tr>
                      <td>MD</td>
                  <td>19-1/4” - 19-7/8”</td>
                  </tr>
                    <tr>
                        <td>LG</td>
                  <td>20” - 20-1/2”</td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
  
  </div> 
  </div>
</div> <!-- SizeChartTab1 -->

  
<div role="tabpanel" class="tab-pane" id="SizeChartTab2">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#MensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  <li ><a href="#MensJerseys" role="tab"data-toggle="tab" class="text-uppercase">Jerseys</a></li>
  <li ><a href="#MensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="MensPants">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-offroad-pants-answerracing.JPG?15180533908203075622" alt="Answear Racing Pants Size Charts" title="Answear Racing Pants Size Charts" style="margin: 0 auto;"/>
    <h4 style="text-transform:uppercase;font-weight:bold;">PANTS</h4>
<p>Measure the width of the waist on your regular street pants and multiply by 2. Then refer to the chart. Example: 16” x 2 = 32” or size 32. Note that ratchet buckle and side waist adjusters (on most models) will cinch up an additional 2“ of waist size to fine tune the fit.</p>
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th>SIZE</th> 
                            <th>A.| WAIST</th>
                  <th>B.| INSEAM</th>
                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>26</td>
                  <td>26” / 27-1/2“</td>
                  <td>26-3/4”      </td>
                  </tr>
                  <tr>
                      <td>28           </td>
                  <td>28” / 29-1/2“</td>
                  <td>27-1/2”      </td>
                  </tr>
                    <tr>
                        <td>30           </td>
                  <td>30” / 31-1/2“</td>
                  <td>28-1/4”      </td>
                  </tr>
                  <tr>
                        <td>32           </td>
                  <td>32” / 33-1/2“</td>
                  <td>29”          </td>
                  </tr>
                  <tr>
                      <td>34           </td>
                  <td>34” / 35-1/2“</td>
                  <td>29- 3/4”     </td>
                  </tr>

                  <tr>
                      <td>36           </td>
                  <td>36” / 37-1/2“</td>
                  <td>30-1/2”      </td>
                  </tr>
                  <tr>
                      <td>38           </td>
                  <td>38” / 39-1/2“</td>
                  <td>31-1/4”      </td>
                  </tr>
                  <tr>
                      <td>40           </td>
                  <td>40” / 41-1/2“</td>
                  <td>32”          </td>
                  </tr>
                  <tr>
                      <td>42           </td>
                  <td>42” / 43-1/2“</td>
                  <td>32-1/2”      </td>
                  </tr>
                  <tr>
                      <td>44           </td>
                  <td>44” / 45-1/2“</td>
                  <td>33-1/2”      </td>
                  </tr>
                  <tr>
                      <td>46           </td>
                  <td>46” / 47-1/2“</td>
                  <td>34”          </td>
                  </tr>
                  <tr>
                      <td>48           </td>
                  <td>48” / 49-1/2“</td>
                  <td>34-1/2</td>
                  </tr>
                  <tr>
                      <td>50</td>
                  <td>50” / 51-1/2“</td>
                  <td>35”</td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
   </div>
  </div> 
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensJerseys">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-off-road-jersey-ansracing.JPG?13916450207987867206" alt="Answear Racing Jersey Size Charts" title="Answear Racing Jersey Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
          <h4 style="text-transform:uppercase;font-weight:bold;">JERSEYS</h4>
<p>Compare one of your t-shirts with the corresponding size chart below. Choose the same size jersey as you would for a t-shirt. Note that jerseys typically run larger for a loose, unrestricted fit.</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>TEE</th>  
                            <th>JERSEY</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>X-SMALL</td>
                  <td>XS</td>
                  </tr>
                  <tr>
                      <td>SMALL</td>
                  <td>SM</td>
                  </tr>
                    <tr>
                        <td>MEDIUM</td>
                  <td>MD</td>
                  </tr>
                  <tr>
                        <td>LARGE</td>
                  <td>LG</td>
                  </tr>
                  <tr>
                      <td>X-LARGE</td>
                <td>XL</td>
                  </tr>
                  <tr>
                      <td>2X-LARGE</td>
                <td>2XL</td>
                  </tr>
                  <tr>
                      <td>3X-LARGE</td>
                <td>3XL</td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
   </div>
  </div> 
</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="MensGloves">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-gloves-ansracing.JPG?1030940890565000237" alt="Answear Racing Gloves Size Charts" title="Answear Racing Gloves Size Charts" style="margin: 0 auto;"/>
      
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
          <p>Measure the width of your palm “A” about 1” below the base of your fingers (about 3/4” for kids) and the length from the tip of your index finger to the base of your thumb “B” and match measurements to sizes listed on the chart. This is for reference only. Glove fit can be a personal preference.</p>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>SIZE</th> 
                            <th>A/B</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>SM             </td>
                    <td>3-5/8” / 4-3/8”</td>
                  </tr>
                  <tr>
                      <td>MD             </td>
                  <td>3-3/4” / 4-1/2”</td>
                  </tr>
                    <tr>
                        <td>LG             </td>
                  <td>3-7/8” / 4-5/8”</td>
                  </tr>
                  <tr>
                        <td>XL             </td>
                  <td>4” / 4-3/4”</td>
                  </tr>
                  <tr>
                        <td>2XL             </td>
                  <td>4-1/8” / 4-7/8”</td>
                  </tr>
                  
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
             </div>
      </div> 
          

</div> <!-- MensGloves -->
</div>

</div> <!-- SizeChartTab2 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab3">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#WomensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  <li ><a href="#WomensJerseys" role="tab"data-toggle="tab" class="text-uppercase">Jerseys</a></li>
  <li ><a href="#WomensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="WomensPants">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-offroad-pants-answerracing.JPG?15180533908203075622" alt="Answear Racing Pants Size Charts" title="Answear Racing Pants Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">PANTS</h4>
<p>Measure the width of the waist on your regular street pants and multiply by 2. Then refer to the chart. Example: 16” x 2 = 32” or size 32. Note that ratchet buckle and side waist adjusters (on most models) will cinch up an additional 2“ of waist size to fine tune the fit.</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th>SIZE</th> 
                            <th>A.| WAIST</th>
                  <th>B.| INSEAM</th>
                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                  <td>2            </td>
                  <td>24” / 25-1/2“</td>
                  <td>26-1/2”      </td>
                  </tr>
                  <tr>
                      <td>4            </td>
                  <td>26” / 27-1/2“</td>
                  <td>27-1/4”      </td>
                  </tr>
                    <tr>
                        <td>6            </td>
                  <td>28” / 29-1/2“</td>
                  <td>28”          </td>
                  </tr>
                  <tr>
                        <td>8            </td>
                  <td>30” / 31-1/2“</td>
                  <td>28-3/4”      </td>
                  </tr>
                  <tr>
                      <td>10           </td>
                  <td>32” / 33-1/2“</td>
                  <td>29-1/2”      </td>
                  </tr>
                  <tr>
                      <td>12           </td>
                  <td>34” / 35-1/2“</td>
                  <td>30-1/8”      </td>
                  </tr>
                  <tr>
                      <td>14           </td>
                  <td>36” / 37-1/2“</td>
                  <td>30-3/4”      </td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
   </div>
  </div> 
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="WomensJerseys">
  <div class="row">
    <div class="col-sm-5 col-md-5 col-lg-5">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-jersey-womens-ansracing.JPG?15174451947378825175" alt="Answear Racing Jersey Size Charts" title="Answear Racing Jersey Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-7 col-md-7 col-lg-7">
          <h4 style="text-transform:uppercase;font-weight:bold;">JERSEYS</h4>
<p>Compare one of your t-shirts with the corresponding size chart below. Choose the same size jersey as you would for a t-shirt. Note that jerseys typically run larger for a loose, unrestricted fit.</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>TEE</th>  
                            <th>JERSEY</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>SMALL   </td>
                  <td>WSM     </td>
                  </tr>
                  <tr>
                      <td>MEDIUM  </td>
                  <td>WMD     </td>
                  </tr>
                    <tr>
                        <td>LARGE   </td>
                  <td>WLG     </td>
                  </tr>
                  <tr>
                        <td>X-LARGE </td>
                  <td>WXL     </td>
                  </tr>
                  <tr>
                      <td>2X-LARGE</td>
                  <td>W2XL    </td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
   </div>
  </div> 
</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="WomensGloves">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-gloves-ansracing.JPG?1030940890565000237" alt="Answear Racing Gloves Size Charts" title="Answear Racing Gloves Size Charts" style="margin: 0 auto;"/>
      
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
          <p>Measure the width of your palm “A” about 1” below the base of your fingers (about 3/4” for kids) and the length from the tip of your index finger to the base of your thumb “B” and match measurements to sizes listed on the chart. This is for reference only. Glove fit can be a personal preference.</p>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>SIZE</th> 
                            <th>A/B</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>WSM            </td>
                  <td>3-1/8” / 4”    </td>
                  </tr>
                  <tr>
                    <td>WMD            </td>
                  <td>3-1/4” / 4-1/8”</td>
                  </tr>
                    <tr>
                      <td>WLG            </td>
                  <td>3-3/8” / 4-1/4”</td>
                  </tr>
                  <tr>
                        <td>WXL            </td>
                  <td>3-1/2“ / 4-3/8”</td>
                  </tr>
                  
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
             </div>
      </div> 
          

</div> <!-- MensGloves -->
</div>

</div> <!-- SizeChartTab3 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab4">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#YouthPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  <li ><a href="#YouthJerseys" role="tab"data-toggle="tab" class="text-uppercase">Jerseys</a></li>
  <li ><a href="#YouthGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="YouthPants">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-offroad-pants-answerracing.JPG?15180533908203075622" alt="Answear Racing Pants Size Charts" title="Answear Racing Pants Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">PANTS</h4>
<p>Measure the width of the waist on your regular street pants and multiply by 2. Then refer to the chart. Example: 16” x 2 = 32” or size 32. Note that ratchet buckle and side waist adjusters (on most models) will cinch up an additional 2“ of waist size to fine tune the fit.</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th>SIZE</th> 
                            <th>A.| WAIST</th>
                  <th>B.| INSEAM</th>
                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                  <td>16</td>
                  <td>16” / 17-1/2”</td>
                  <td>15-1/2”      </td>
                  </tr>
                  <tr>
                      <td>18           </td>
                  <td>18” / 19-1/2”</td>
                  <td>17”          </td>
                  </tr>
                    <tr>
                        <td>20           </td>
                  <td>20” / 21-1/2”</td>
                  <td>18-1/2”      </td>
                  </tr>
                  <tr>
                        <td>22           </td>
                  <td>22” / 23-1/2”</td>
                  <td>20”          </td>
                  </tr>
                  <tr>
                      <td>24           </td>
                  <td>24” / 25-1/2”</td>
                  <td>21-1/2”      </td>
                  </tr>
                  <tr>
                      <td>26           </td>
                  <td>26” / 27-1/2”</td>
                  <td>23”          </td>
                  </tr>
                  <tr>
                      <td>28           </td>
                  <td>28” / 29-1/2”</td>
                  <td>24-1/2”      </td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
   </div>
  </div> 
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="YouthJerseys">
  <div class="row">
    <div class="col-sm-8 col-md-8 col-lg-8">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-off-road-jersey-ansracing.JPG?13916450207987867206" alt="Answear Racing Jersey Size Charts" title="Answear Racing Jersey Size Charts" style="margin: 0 auto;"/>
    </div>
          <div class="col-sm-4 col-md-4 col-lg-4">
          <h4 style="text-transform:uppercase;font-weight:bold;">JERSEYS</h4>
<p>Compare one of your t-shirts with the corresponding size chart below. Choose the same size jersey as you would for a t-shirt. Note that jerseys typically run larger for a loose, unrestricted fit.</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>TEE</th>  
                            <th>JERSEY</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>X-SMALL (2-4)</td>
                  <td>YSM          </td>
                  </tr>
                  <tr>
                      <td>SMALL (6-8)  </td>
                  <td>YMD          </td>
                  </tr>
                    <tr>
                        <td>MEDIUM (10-12)</td>
                  <td>YLG           </td>
                  </tr>
                  <tr>
                        <td>LARGE (14-16) </td>
                  <td>YXL           </td>
                  </tr>
                  <tr>
                      <td>X-LARGE (18-20)</td>
                  <td>Y2XL            </td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
   </div>
  </div> 
</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="YouthGloves">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-gloves-ansracing.JPG?1030940890565000237" alt="Answear Racing Gloves Size Charts" title="Answear Racing Gloves Size Charts" style="margin: 0 auto;"/>
      
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
          <p>Measure the width of your palm “A” about 1” below the base of your fingers (about 3/4” for kids) and the length from the tip of your index finger to the base of your thumb “B” and match measurements to sizes listed on the chart. This is for reference only. Glove fit can be a personal preference.</p>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>SIZE</th> 
                            <th>A/B</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>Y2XS</td>
                  <td>2-3/8” / 2-3/4”</td>
                  </tr>
                  <tr>
                    <td>YXS</td>
                  <td>2-1/2” / 2-7/8”</td>
                  </tr>
                    <tr>
                      <td>YSM</td>
                  <td>2-5/8” / 3”</td>
                  </tr>
                  <tr>
                        <td>YMD</td>
                  <td>2-3/4“ / 3-1/8”</td>
                  </tr>
                  <tr>
                      <td>YLG</td>
                  <td>2-7/8“ / 3-1/4”</td>
                  </tr>
                  <tr>
                        <td>YXL</td>
                  <td>3“ / 3-3/8”</td>

                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
             </div>
      </div> 
          

</div> <!-- MensGloves -->
</div>

</div> <!-- SizeChartTab4 -->



</div><!-- tab-content tab-content-ys obs_sizechart -->
