

{% if "logo" == condition %}

<a href = "/collections/troy-lee-designs">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/tld-main-banner-2.jpg?9102740582539659288" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-main-banner-2.jpg?758799789185988223" alt="">
</a>

<div class="divider divider--md"></div>


{% elsif "header" == condition %}


<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/troy-lee-designs" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>
    <li><a href="/collections/hot-sales/troy-lee-designs"><span class="label">Troy Lee Designs Sale</span></a></li>
  </ul>
</nav><!-- .cd-vertical-nav -->

<button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 




{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/troy-lee-designs-womens-mx-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S OFF-ROAD GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld-womens-gear.jpg?4471302765319616878">
       </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/troy-lee-designs-mens-mx-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S OFF-ROAD GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld-mens-gear.jpg?4471302765319616878">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/troy-lee-designs-mx-helmets">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">OFF-ROAD HELMETS</h1>
              </div>
              <span class = "fade-background">&nbsp;
              </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-helmets-banner.jpg?4471302765319616878">
            </a>
          </div>
        </div>
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/troy-lee-designs-mx-jerseys">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">OFF-ROAD JERSEY</h1>
              </div>
              <span class = "fade-background">&nbsp;
              </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-jerseys-banner.jpg?4471302765319616878">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/troy-lee-designs-off-road-pants">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">OFF-ROAD PANTS</h1>
              </div>
              <span class = "fade-background">&nbsp;
              </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-pants-banner.jpg?4471302765319616878">
            </a>
          </div>
        </div>
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/troy-lee-designs-mx-gloves">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">OFF-ROAD GLOVES</h1>
              </div>
              <span class = "fade-background">&nbsp;
              </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-gloves-banner.jpg?4471302765319616878">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/troy-lee-designs-sale">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/tld-hot-sale-banner.jpg?4471302765319616878" alt="">
      </a>
    </div>
  </div>
</div>
  
  
  
  
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/troy-lee-designs-mtb-helmets">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">BIKE HELMETS</h1>
              </div>
              <span class = "fade-background">&nbsp;
              </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-helmet-banner.jpg?6902381049259152693">
            </a>
          </div>
        </div>
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/troy-lee-designs-mtb-jerseys">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">BIKE JERSEYS</h1>
              </div>
              <span class = "fade-background">&nbsp;
              </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-jerseys-banner.jpg?6902381049259152693">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/troy-lee-designs-mtb-shorts">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">BIKE SHORTS</h1>
              </div>
              <span class = "fade-background">&nbsp;
              </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-pants-banner.jpg?6902381049259152693">
            </a>
          </div>
        </div>
        <div class ="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class = "collection-background">
            <a href = "https://motorhelmets.com/collections/troy-lee-designs-mtb-gloves">
              <div class = "collection-text-holder">
                <h1 class = "collection-text">BIKE GLOVES</h1>
              </div>
              <span class = "fade-background">&nbsp;
              </span>
              <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-gloves-banner.jpg?6902381049259152693">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/troy-lee-designs-womens-bike-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S BIKE GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld-bike-womens-gear.jpg?6902381049259152693">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/troy-lee-designs-mens-bike-gear">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S BIKE GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld-bike-mens-gear.jpg?6902381049259152693">
        </a>
      </div>
    </div>
  </div>
</div>
</div>


<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-womens-mx-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-womens-gear.jpg?17810701264482151858">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mens-mx-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-mens-gear.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mx-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-helmets-banner.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mx-jerseys">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD JERSEYS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-jerseys-banner.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-off-road-pants">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD PANTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-pants-banner.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mx-gloves">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD GLOVES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-gloves-banner.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/scorpion-sales">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-hot-sale-banner.jpg?15254906558458237380" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mtb-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">BIKE HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-helmet-banner.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mtb-jerseys">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">BIKE JERSEYS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-jerseys-banner.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mtb-shorts">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">BIKE SHORTS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-pants-banner.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mtb-gloves">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">BIKE GLOVES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-gloves-banner.jpg?15254906558458237380">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-womens-bike-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S BIKE GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-womens-gear.jpg?5212503918963662964">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/troy-lee-designs-mens-bike-gear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S BIKE GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-tld-bike-mens-gear.jpg?5212503918963662964">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{%comment%}

{% elsif "collection" == condition %}
<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-womens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/womens-collection-4-min.jpg?6118425206841592624">
       </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-mens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mens-collection-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-helmets-collection-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-street-jackets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">JACKETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-jacket-collection-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/scorpion-sales">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-hot-sales-4-min.jpg?34152987383203875" alt="">
      </a>
    </div>
  </div>
</div>
  
  
  
  
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-street-gloves">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">GLOVES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-gloves-collection-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-pants">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">PANTS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-pants-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion-helmet-accessories">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">HELMET ACCESSORIES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/helmet-accessories-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/scorpion/casual-shirts">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">CASUAL WEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/casual-wear-banner-min.jpg?6118425206841592624">
        </a>
      </div>
    </div>
  </div>
</div>
</div>
{%endcomment%}
<div class="divider divider--lg"></div>

{% elsif "lookbooks" == condition %}


{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
{% assign counter = 0 %}
{% paginate blogs['lookbook'].articles by totalLookbookCount %}
{% for article in blogs['lookbook'].articles %}
{% if counter < 6 and article.tags contains 'Troy Lee Designs' or article.tags contains 'troy lee designs' or article.tags contains 'troy lee' %}
{% assign counter = counter | plus: 1 %}

<div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">

  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
    <div>
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
    </div>

    <div class="TeaserGrid-content" style="margin-top: 6px;">
      <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
    </div>                       
  </a>

</div>

{% endif %}
{% endfor %}
{% endpaginate %}

<div class="divider divider--md"></div>



{% comment %}
<div class="title-with-button">
  <div class="carousel-products__button pull-right"> <span class="btn-prev"></span> <span class="btn-next"></span> </div>
  <h3 class="text-left title-under  text_uppercase black_txt moto_wall_sub_title"><a href="/search?type=article&q=Troy+Lee+Designs">More Lookbooks from Troy Lee Designs</a></h3>
</div>
<div class="obs_lookbook_banner_slider slider">

  {% for article in blogs['lookbook'].articles %}
  {% for tag in article.tags %}
  {% if tag == 'Troy Lee Designs' %}

  <div class="obs_lookbook_banner_slider-items">
    <a href="{{ article.url }}">
      <img src="{{ article.image.src | img_url: '1024x1024' }}" title="{{ article.title }}" alt="{{ article.title }}"/>
      <div class="slide-caption">{{ article.title }}</div>
    </a>
  </div>
  {% endif %}
  {% endfor %}
  {% endfor %}

</div>

{% for article in blogs['lookbook'].articles %}
{% if article.tags contains 'Troy Lee Designs' %}
<div class="njohn_search_otherpage">
  <a href="{{ article.url }}" title="{{ article.title | escape }}">
    <div>{{ article.image.src | img_url: 'medium' | img_tag: article.title }}</div>
    <div>{{ article.title }}</div>
  </a>
</div>
{% endif %}
{% endfor %}

{% endcomment %}

{% elsif "more_info" == condition %}

{% include 'page.wall-info-troylee'%}

<div class="divider divider--lg"></div>
{% elsif "brand_sizing_guide" == condition %}
<div class ="row">
  {% include 'troy-lee-designs-size-chart' %}
</div>
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Troy-Lee_Logo1.png?17394749110592593315">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class = "row">
            <h3>A MESSAGE FROM TROY</h3>
            <p>For over 30 years, I have been customizing helmets "For The World's Fastest Racers".</p>
            <p>Troy Lee Designs has since expanded into a full force operation, offering a complete line of helmets, apparel and premium protection for off-road motorcycling and bicycling, sportswear and accessories, and operating the TLD / GoPro / KTM supercross and motocross team.</p>
            <p>Peace and wheelies,</p>
            <p><b>Troy Lee</b></p>            
            <div class = "hidden-content">
              <div class="divider divider--lg"></div>
              <h3>PRODUCT DESIGN</h3>
              <p>At Troy Lee Designs, we firmly believe in the power of design and technology.</p>
              <p>Every day, "The World's Fastest Racers" get out there and put it all on the line. We strive to provide them with products that withstand the rigors of professional racing. Products with intelligent features that allow them to perform at their best.</p>
              <p>Troy Lee Designs takes great pride in the products we design and develop, replacing conventional ideas with out-of-the-box thinking. By addressing the demands of professional racers, we can deliver innovation to everyone.</p>
              <div class="divider divider--lg"></div>
              <h3>PHILOSOPHY</h3>
              <p>Creating products that innovate and lead the market requires a different way of thinking.</p>
              <p>Our approach to solving problems is unique. We challenge conventions by turning problems upside-down to achieve advancements that are more intelligent. Our solutions, while sometimes complicated from an engineering standpoint, are designed to be simple, thoughtful and relevant. And of course, to stand out in a crowd.</p>
              <p>The end result is a line of products that help you stay focused on your activity, and look great doing it. We have thought about your equipment, so you don't have to.</p>
              <div class="divider divider--lg"></div>
              <h3>RESEARCH &amp; DEVELOPMENT</h3>
              <p>The conception of new and improved products happens through extensive research and development.</p>
              <p>New product development is a proactive process by which dedicated resources are allocated to identify market changes and seize upon new product opportunities before they occur.</p>
              <p>Basic science must exist to support a product's viability. And if the science is lacking, it must be discovered or invented.</p>
              <div class="divider divider--lg"></div>
              <h3>SAFETY</h3>
              <p>Safety is at the forefront of developing protective equipment.</p>
              <p>Troy Lee Designs has exclusively developed several new safety features into some of our helmets, starting with the D3.</p>
              <p><b>Dual Density Shock Pad System</b></p>
              <p>With the debut of the revolutionary D3 Action Sports Helmet, Troy Lee Designs has introduced an important advancement in impact management the exclusive Troy Lee Designs Dual Density Shock Pad System.</p>
              <div class="divider divider--lg"></div>
              <h3>TECHNOLOGY</h3>
              <p>Technology is a vital aspect of the product development process.</p>
              <p>Technology refers to the usage and knowledge of tools, techniques or systems, and affects human ability to control and adapt to natural environments. At Troy Lee Designs, we utilize the latest, most comprehensive and proven technologies at our disposal. Our designers rely on technology as their most valuable tool in turning their visions into reality.</p>
              <p>By nurturing this relationship between designers and vendors, we create an environment without limits, where one pushes the other to a higher level of success. The result is a line of products that consistently improves over time.</p>
            </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%endif%}



<script>



  function showOffroadCollection(){

    document.getElementById("offroad-collection").setAttribute("style","display:block;");
    document.getElementById("offroad-collection").setAttribute("class","fadeIn");
    document.getElementById("MTB-collection").setAttribute("style","display:none;");
    document.getElementById("MTB-collection").setAttribute("class","fadeOut");



  }


  function showMTBCollection(){

    document.getElementById("MTB-collection").setAttribute("style","display:block;");
    document.getElementById("MTB-collection").setAttribute("class","fadeIn");
    document.getElementById("offroad-collection").setAttribute("style","display:none;");
    document.getElementById("offroad-collection").setAttribute("class","fadeOut");

  }
 jQuery(function($){  
    $j("#nav-collection").focus();
    $j('#helmet-collections').hover(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','black');
      $j('.helmets-text').css('color','black');
    });
    $j('#helmet-collections').mouseleave(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','#6b6b6b');
      $j('.helmets-text').css('color','#3a3a3a');
    });
    $j('#jacket-collections').hover(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','black');
      $j('.jackets-text').css('color','black');
    });
    $j('#jacket-collections').mouseleave(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','#6b6b6b');
      $j('.jackets-text').css('color','#3a3a3a');
    });
    $j('#gloves-collections').hover(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','black');
      $j('.gloves-text').css('color','black');
    });
    $j('#gloves-collections').mouseleave(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','#6b6b6b');
      $j('.gloves-text').css('color','#3a3a3a');
    });
    $j('#pants-collections').hover(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','black');
      $j('.pants-text').css('color','black');
    });
    $j('#pants-collections').mouseleave(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','#6b6b6b');
      $j('.pants-text').css('color','#3a3a3a');
    });
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });


  });

</script>