<h3 class="text-center title-under uppercase_txt home_title">Answer Motocross Racing</h3>

<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-page.jpg?7734867730295495221" alt="Answer Motocross Racing Information Page" title="Answer Motocross Racing Information Page" style="margin: 0 auto;"></p>

<p>Back in 1976, Answer Racing envisioned to provide trustworthy products to motocross riders. With such unwavering vision, they have been a lead provider of stylish riding wear and superior protection for those in the motocross world. For those who race for a living or are simply riding off for some moto fun and adventure, Answering Racing has got helmets, gloves, roost deflectors, jerseys, pants and boots to offer. In addition to engineering their gear with superior protection, Answer Racing also assures patrons that they’d be feeling good with the comfort fit and looking good with the stylish designs. </p>


<div class="divider divider--md hidden-xs"></div>

<center><h1><b>ANSWER MOTOCROSS RACING PRODUCTS</b></h1></center>

<div class="divider divider--md hidden-xs"></div>

<div>
	<center><h4><b>Answer Motocross Helmets</b></h4></center>
	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-page-2.jpg?18015293158871555764" alt="Answer Motocross Racing Information Page" title="Answer Motocross Racing Information Page" style="margin: 0 auto;"></p>

	<p>With years of experience in the moto world, Answer Racing understands that getting Snell and DOT approval is not enough. Answer Racing added full EPS liner bar  similar to the ones found in the more expensive helmets. This gives better protecting capacity to their lids. No helmet can protect the user 100% against all unforeseeable impacts. However, Answer Racing adopts the latest in helmet technology using a power core Resin for a lightweight high impact absorption helmet to decrease the chances of injury.</p>

	<p>For the perfect comfortable fit, Answer Racing has the following guideline:</p>

	<p><i>The best way to put on a helmet is to hold the chin straps to each side before pulling it over your head. Pass the end of the strap through the D-rings and pull it snug. Keeping your head straight, rotate the helmet from side to side with your hands. If the helmet is adjusted properly, you should feel the movement of your scalp closely match the helmet’s movement. With your hands on the sides of the helmet, move the helmet in a slight up and down motion. Once again, the movement of your skin should follow the helmet movement. To remove the helmet, pull the D-ring tab outward to release strap tension, then un-thread the chin strap. Pull the chin straps outward, rotate the helmet forward and lift it off.</i></p>
</div>

<div class="divider divider--xs"></div>

<div>
	<center><h4><b>Answer Motocross Roost Deflector</b></h4></center>
	<p>Answer Racing Roost Deflectors are made of polycarbonate and polypropylene panels to create maximum protection against flying debris. EVA shoulder foam provides maximum comfort and protection while the pivoting rear lower panel allows deflector to move with and "hug" the rider.And with the thought of a comfort fit for anyone riding, Answer Racing Roost Deflectors comes in four sizes (XL, Adult, Youth and Pee Wee). </p>
</div>

<div class="divider divider--xs"></div>

<div>
	<center><h4><b>Answer Motocross Jersey and Pants</b></h4></center>
	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-page-3.jpg?18015293158871555764" alt="Answer Motocross Racing Information Page" title="Answer Motocross Racing Information Page" style="margin: 0 auto;"></p>
	<p style="text-transform: none !important;">Fit for different purposes, Answer Racing jerseys and pants comes in various styles: <b>Tech Fit</b>, <b>Pro Fit</b>, <b>Ride Fit</b>, <b>Stealth Fit</b>, <b>WMX Fit</b> and <b>Youth Fit.</b></p>

	<div class="divider divider--xs hidden-xs"></div>

	<p><b>Tech Fit</b> is a product of advance technology with comfort and functionality in mind. The jerseys are made of multi-functional fabric that keeps you cool and dry. The lightweight yet durable Tech Fit pants are made with leather inner knees and pre-curved “attack position” construction. As such, it is the ideal choice for the real serious moto racing.</p>

	<p><b>Pro Fit</b> is perfect for serious riders with an eye for style. The jersey has an engineered raglan sleeve and is tailored fit. For improved technical performance, the pants provide enough space for knee braces. </p>

	<p><b>Ride Fit</b> is the outfit of choice for riders of off-road trails. The jersey and pants are made to provide extra comfort while enjoying an adventurous ride. The pants features Answer Racing’s functional zip-off lower leg system and tailored waistband.</p>

	<p><b>Stealth Fit</b> is a hassle-free and super light outfit for extra comfort on long moto rides. For added protection, the pants are made with pre-curved knees.</p>

	<p><b>WMX Fit</b> is the women’s version of the Stealth Fit. Comfort and protection comes with the feminine touch of style.</p>

	<p><b>Youth Fit</b> is the gear for youngsters with the same quality as those of the adults.</p>
</div>

<div class="divider divider--md"></div>

<center><h4><b>Check for these labels/icons to know more about your choice of racewear.</b></h4></center>

<div class="divider divider--md"></div>

<div class="row">
	<div class="col-sm-6 col-md-3 col-lg-3">
		<p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-Image_021.png?5810859245266959451" alt="Answer Racing STRETCH FABRICS" width="33" height="39" align="middle"><i style="margin-left: 10px;">STRETCH FABRICS</i></p>
		<p>Premium stretch fabric panels which allow movement without restriction</p>
	</div>
	<div class="col-sm-6 col-md-3 col-lg-3">
		<p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-Image_020.png?5810859245266959451" alt="Answer Racing STRETCH FABRICS" width="33" height="39" align="middle"><i style="margin-left: 10px;">PERFORMANCE FABRICS</i></p>
		<p>Multiple performance fabrics provide moisture wicking properties</p>
	</div>
	<div class="col-sm-6 col-md-3 col-lg-3">
		<p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-Image_016.png?5810859245266959451" alt="Answer Racing STRETCH FABRICS" width="33" height="39" align="middle"><i style="margin-left: 10px;">FEATHERWEIGHT</i></p>
		<p>Super lightweight engineered materials and/ or properties</p>
	</div>
	<div class="col-sm-6 col-md-3 col-lg-3">
		<p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-Image_017.png?5810859245266959451" alt="Answer Racing STRETCH FABRICS" width="33" height="39" align="middle"><i style="margin-left: 10px;">VENT-TO-AIR</i></p>
		<p>Multiple performance mesh fabrics provide ample ventilation</p>
	</div>
</div>

<div class="divider divider--md hidden-xs"></div>

<div class="row">
	<div class="col-sm-6 col-md-3 col-lg-3">
		<p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-Image_018.png?5810859245266959451" alt="Answer Racing STRETCH FABRICS" width="33" height="39" align="middle"><i style="margin-left: 10px;">LEATHER</i></p>
		<p>Genuine leather inner knee panels resist burning from the high temps of header pipes</p>
	</div>
	<div class="col-sm-6 col-md-3 col-lg-3">
		<p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-Image_024.png?5810859245266959451" alt="Answer Racing STRETCH FABRICS" width="33" height="39" align="middle"><i style="margin-left: 10px;">BUCKLE/WAISTBAND LOCK</i></p>
		<p>Ratchet buckle/adjustable waistband combo keeps pants locked in place</p>
	</div>
	<div class="col-sm-6 col-md-3 col-lg-3">
		<p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-Image_026.png?5810859245266959451" alt="Answer Racing STRETCH FABRICS" width="33" height="39" align="middle"><i style="margin-left: 10px;">ATTACK POSITION</i></p>
		<p>Pre-shaped knees fit best in “attack position” with room for knee braces</p>
	</div>
	<div class="col-sm-6 col-md-3 col-lg-3">
		<p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-answer-racing-Image_027.png?5810859245266959451" alt="Answer Racing STRETCH FABRICS" width="33" height="39" align="middle"><i style="margin-left: 10px;">VIBRANT/FADE-FREE GRAPHICS</i></p>
		<p>Vibrant, fade-free sublimated fabrics that don’t fade after multiple washes</p>
	</div>
</div>

<div class="divider divider--md hidden-md"></div>

<p><b>Answer Racing also offers moto enthusiasts gloves, boots, socks, bags, goggles, caps, casual shirts, and other accessories.</b></p>

<div class="divider divider--md hidden-md"></div>

<center><p><a href="/collections/answer-racing" class="btn btn--ys btn-lg text-uppercase  btn--lg">Shop For Answer Racing</a></p></center>