<!-- <h3 class="text-center title-under home_title">MOTORHELMETS MOTORCYCLE SERVICE AND REPAIR MENU</h3> -->
<div class="row">
    <div class="col-sm-12 col-md-12 ">
     
      
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice8-032120.jpg?v=1584772526" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice9-032120.jpg?v=1584772526" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="mmsr-title">
          <div class="mmsr-title-cont">
         <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
         <ul>
          <li>Our certified mechanic can service most European and Japanese bikes.</li>
          <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
          <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
          <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
        </ul> 
          </div>
        </div>
        
        <div class="clear"></div>
    </div>

</div>
<div class="divider divider--lg"></div>

<div class="jg_custom_pages">

{% include "page.motorcycle-service-menu-all" %}

<div class="divider divider--lg"></div>
<p class="text-center home_title harley-page-title">STUNT BIKE SERVICE</p>
  
<div class="divider divider--lg"></div> 
<div class="top-local-address">
<center>
<p style="font-size: 24px;font-weight: 500 !important;">Motorhelmets Fullerton CA</p>
<p>1871 W. Commonwealth Ave., Fullerton CA 92833 USA</p>
<p>Tel: 714-879-8180 | Email: team@motorhelmets.com | Service Dept SMS Txt: 657-217-3988 | Sales Dept SMS Txt: 657-217-6457</p>
<p>Store Hours: M-F 10am-7pm | Sat 11am-6pm</p>
<p><a href="https://www.picktime.com/motorhelmets" style="font-weight:bold;text-decoration:none;color:#c83138!important;">Schedule My Service</a></p>
</center>
</div>
 <div class="divider divider--lg"></div> 
   
  
  
<div class="divider divider--md"></div>
  
  <div class ="row">
    <div class= "col-sm-12 col-md-12 col-lg-12">
    <div class="table_responsive">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="moto-serv-title">HAND BRAKE PACKAGE INSTALLATION</th>
              <th scope="col" class="moto-serv-title text-center">$350.00</th>
            </tr>
          </thead>
        <tbody>

            <tr>
            <td>Dual caliper bracket</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Rotor, caliper(s)</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Hand brake master cylinder</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Hand brake stainless line</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Foot brake stainless line</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Bleed hand brake line</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Bleed foot brake line</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Lube adjust clutch cable</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>  
    <div class="divider divider--md"></div> 
       <div class= "col-sm-12 col-md-12 col-lg-12">
    <div class="table_responsive">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="moto-serv-title">INSTALL CLIP ONS W/ RISERS</th>
              <th scope="col" class="moto-serv-title text-center">$350.00</th>
            </tr>
          </thead>
        <tbody>

            <tr>
            <td>Lube/adjust clutch cable</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Bleed master cyclinder</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Remove/install clutch perch</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Install new master cylinder reservoir</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Bleed front brake master cylinder</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Install new grips (customer provided)</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Custom fit to customer height</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Push/pull on clip ons.</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>


        </tbody>
      </table>
    </div>
  </div>  
    <div class="divider divider--md"></div> 
       <div class= "col-sm-12 col-md-12 col-lg-12">
    <div class="table_responsive">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="moto-serv-title">STUNT CAGE & RAIL INSTALLATION SERVICE</th>
              <th scope="col" class="moto-serv-title text-center">$200.00 - $300.00</th>
            </tr>
          </thead>
        <tbody>

            <tr>
            <td>Full Cage</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Crash Cage</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
            <td>Race Rail</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
             <tr>
            <td colspan="2"><i><b>* Includes cutting fairing(s) if needed.</b></i></td>
            </tr>

        </tbody>
      </table>
    </div>
  </div>  

      <div class="divider divider--md"></div> 
       <div class= "col-sm-12 col-md-12 col-lg-12">
    <div class="table_responsive">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="moto-serv-title">MISCELLANEOUS LABOR</th>
              <th scope="col" class="moto-serv-title">CHARGES</th>
            </tr>
          </thead>
        <tbody>
            <tr>
            <td>Diagnostic services (Credited towards your final repair) </td>
            <td class="">Mechanical $100.00/Electrical $150.00</td>
            </tr>
            <tr>
            <td>Brake Line Set Install</td>
            <td class=""> $160.00 (includes bleed)</td>
            </tr>
            <tr>
            <td>Bleed Brakes Rear/Front (two calipers) </td>
            <td class="">$60.00/$100.00</td>
            </tr>
            <tr>
            <td>Brake Pads Front </td>
            <td class="">$75.00 (add bleed for $35.00 more)</td>
            </tr>
            <tr>
            <td>Brake Pads Rear </td>
            <td class="">$40.00 (add bleed for $25.00 more)</td>
            </tr>
            <tr>
            <td>Chain Service (Clean, Adjust, and Lube)</td>
            <td class=""> $40.00</td>
            </tr>
            <tr>
            <td>Coolant Flush </td>
            <td class="">$80.00 + Coolant</td>
            </tr>
            <tr>
            <td>Gas Tank Flush </td>
            <td class="">$60.00 + Fluel</td>
            </tr>
            <tr>
            <td>Sprocket Kit Install </td>
            <td class="">$100.00</td>
            </tr>
             <tr>
            <td>Bleed Hand Brake </td>
            <td class="">Single Caliper $60 Dual Caliper $100.00</td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>  


</div>
