<!-- CONTENT section -->

	<!-- title -->
	<h3 class="text-center title-under uppercase_txt home_title">Motorhelmets Coupon Codes and Special Promotions.</h3>
	<p class="text-center">Welcome to Motorhelmets' coupons and ongoing promotions page. Motorhelmets gives our valued customers several great deals on nearly everything, from motorsporting helmets, to jackets and pants, gloves and boots, not to mention on our luggage. Our staff will continue to come up with several other promos, so do check this page back before purchasing to make sure you can avail of our current promotions and special offers. But hurry...these promos are offered at a limited time only and are subject to change.
	</p>
	<hr class="hr-lg" />
	<!-- /title -->				
		<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive1" src="https://cdn.shopify.com/s/files/1/1223/6434/files/freeshipping-100.jpg?v=1585014304" alt="Motorhelmets Free Shipping">
		<div class="divider divider--lg"></div>
		<h4 class="text-center title-under uppercase_txt home_title">Free Shipping Over $100</h4>
          
           <div class="text-center">
            <a href="/pages/free-shipping-promotions" class="btn btn--ys btn-lg text-uppercase  btn--md davz_bordered_btn--switched">Learn More..</a>
           </div>

          
		</div>
        
		<div class="divider divider--lg visible-sm visible-xs"></div>
          <div class="col-sm-4 col-md-4 col-lg-4 col-sm-center">
          <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/10_-OFF.jpg?v=1585014303" alt="10% Off">
          <div class="divider divider--lg"></div>
          <h4 class="text-center title-under uppercase_txt home_title">10% Off Entire Basket</h4>
          <div class="text-center">
          <a href="/pages/percent-off-entire-basket" class="btn btn--ys btn-lg text-uppercase  btn--md davz_bordered_btn--switched">Learn More..</a>
          </div>
		</div>
          
          
		<div class="divider divider--lg visible-sm visible-xs visible-md visible-lg hidden-xl "></div>
		<div class="col-sm-4 col-md-4 col-lg-4 col-sm-center">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/freeshipcombo.jpg?v=1585014304" alt="Free Shipping On All Combo Package Deals">
		<div class="divider divider--lg"></div>
		<h4 class="text-center title-under uppercase_txt home_title">Free Shipping On All Combo Package Deals</h4>
		<div class="text-center">
		<a href="/pages/free-shipping-combos" class="btn btn--ys btn-lg text-uppercase  btn--md davz_bordered_btn--switched">Learn More..</a>
		</div>
		</div>


		</div>

<!-- End CONTENT section -->