<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
              margin-top: -160px;
          }
    } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
  <li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  

<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#MensLEATHER" role="tab"data-toggle="tab" class="text-uppercase">LEATHER RACE SUIT</a></li>
  <li ><a href="#MensSURVIVOR" role="tab"data-toggle="tab" class="text-uppercase">SURVIVOR SUIT</a></li>
  <li ><a href="#MensRAINSUITJACKET" role="tab"data-toggle="tab" class="text-uppercase">RS-2 RAINSUIT JACKET</a></li>
  <li ><a href="#MensRAINSUITPANT" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
   <li ><a href="#MensJACKETS" role="tab"data-toggle="tab" class="text-uppercase">JACKETS </a></li>
</ul>

<div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="MensLEATHER">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-suit.jpg?15130997621231883312" alt="Joe Rocket Leather Race Suit Size Charts" title="Joe Rocket Leather Race Suit Size Charts" style="margin: 0 auto;"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                           <th>SIZE       </th>
                            <th>A.| CHEST      </th>
                            <th>B.| WAIST      </th>
                            <th>C.| SLEEVE     </th>
                            <th>D.| INSEAM     </th>
                            <th>WEIGHT     </th>
                            <th>E.| HEIGHT MIN.</th>
                            <th>HEIGHT MAX.</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                  <td>38</td>
                  <td>37-38</td>
                  <td>29-30</td>
                  <td>31</td>
                  <td>31</td>
                  <td>125 - 140</td>
                  <td>5" 4'</td>
                  <td>5" 10' </td>

                  </tr>
                  <tr>
                <td>40     </td>
                  <td>39-40  </td>
                  <td>30-32  </td>
                  <td>31     </td>
                  <td>32     </td>
                  <td>135-150</td>
                  <td>5" 6'  </td>
                  <td>5" 10' </td>

                  </tr>
                  <tr>
                  <td>42     </td>
                  <td>41-42  </td>
                  <td>30-34  </td>
                  <td>32     </td>
                  <td>32     </td>
                  <td>150-175</td>
                  <td>5" 7'  </td>
                  <td>6" 1'  </td>

                  </tr>
                  <tr>
                  <td>44     </td>
                  <td>43-44  </td>
                  <td>32-36  </td>
                  <td>33     </td>
                  <td>32     </td>
                  <td>160-185</td>
                  <td>5" 9'  </td>
                  <td>6" 1'  </td>

                  </tr>
                  <tr>
                  <td>46     </td>
                  <td>45-46  </td>
                  <td>34-38  </td>
                  <td>34     </td>
                  <td>33     </td>
                  <td>170-195</td>
                  <td>5" 9'  </td>
                  <td>6" 2'  </td>

                  </tr>
                  <tr>
                  <td>48     </td>
                  <td>47-48  </td>
                  <td>36-40  </td>
                  <td>35     </td>
                  <td>33     </td>
                  <td>180-205</td>
                  <td>5" 9'' </td>
                  <td>6" 2'  </td>

                  </tr>
                  <tr>
                  <td>50     </td>
                  <td>49-50  </td>
                  <td>38-42  </td>
                  <td>35     </td>
                  <td>34     </td>
                  <td>190-215</td>
                  <td>5" 9'  </td>
                  <td>6" 2'  </td>

                  </tr>
                  <tr>
                  <td>52     </td>
                  <td>51-52  </td>
                  <td>40-44  </td>
                  <td>35     </td>
                  <td>34     </td>
                  <td>200-225</td>
                  <td>5" 9'  </td>
                  <td>6" 2'  </td>

                  </tr>
                  <tr>
                  <td>54     </td>
                  <td>53-54  </td>
                  <td>42-46  </td>
                  <td>35     </td>
                  <td>35     </td>
                  <td>210-235</td>
                  <td>5" 9'  </td>
                  <td>6" 2'  </td>

                  </tr>
                  <tr>
                  <td>56     </td>
                  <td>55-56  </td>
                  <td>44-48  </td>
                  <td>35     </td>
                  <td>35     </td>
                  <td>220-245</td>
                  <td>5" 9'</td>
                  <td>6" 2'</td>

                  </tr>

                  
            </tbody>
          </table>
          
         <p class="sizechart-note"><code>*</code>&nbsp;Inseam measurements for suits run from crotch to above the ankle bone. Weight and height listed above are approximate ranges.</p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- MensLEATHER -->

  <div role="tabpanel" class="tab-pane" id="MensSURVIVOR">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-survivor.jpg?15130997621231883312" alt="Joe Rocket Survivor Suit Size Charts"  title="Joe Rocket Survivor Suit Size Charts" style="margin: 0 auto;width:90%;"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th>SIZE        </th>
                    <th>A.| CHEST       </th>
                    <th>B.| WAIST       </th>
                    <th>C.| SLEEVE      </th>
                    <th>D.| INSEAM REG  </th>
                    <th>INSEAM SHORT</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>S    </td>
                    <td>34-36</td>
                    <td>26-28</td>
                    <td>32   </td>
                    <td>34   </td>
                    <td>N/A  </td>
                  </tr>
                  <tr>
                    <td>M    </td>
                    <td>38-40</td>
                    <td>29-31</td>
                    <td>32   </td>
                    <td>34   </td>
                    <td>30.5 </td>
                  </tr>
                  <tr>
                    <td>L    </td>
                    <td>40-42</td>
                    <td>32-34</td>
                    <td>33   </td>
                    <td>34   </td>
                    <td>30.5 </td>
                  </tr>
                  <tr>
                   <td>XL   </td>
                    <td>42-44</td>
                    <td>34-36</td>
                    <td>34   </td>
                    <td>34   </td>
                    <td>30.5 </td>
                    </tr>
                <tr>
                    <td>2XL  </td>
                    <td>46-48</td>
                    <td>36-39</td>
                    <td>35  </td>
                    <td>34  </td>
                    <td>30.5</td>
                </tr>
            </tbody>
          </table>
          
         <p class="sizechart-note"><code>*</code>&nbsp; Short sizes are 3.5" shorter on the inseam. </p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- MensSURVIVOR -->

<div role="tabpanel" class="tab-pane" id="MensRAINSUITJACKET">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-rainsuit-jacket-new.JPG?13427916711660635392" alt="Joe Rocket Rainsuit Jacket Size Charts" title="Joe Rocket Rainsuit Jacket Size Charts" style="margin: 0 auto;"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
    
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                   <th>JACKET SIZING    </th>
                    <th>A.| CHEST - below arm</th>
                    <th>B.| SLEEVE - length  </th>
                    <th>C.| WAIST - Relaxed  </th>
                    <th>WAIST - Stretched</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>S   </td>
                    <td>52  </td>
                    <td>35.5</td>
                    <td>35  </td>
                    <td>48  </td>
                  </tr>
                  <tr>
                    <td>M   </td>
                    <td>55  </td>
                    <td>37  </td>
                    <td>36  </td>
                    <td>50  </td>
                  </tr>
                  <tr>
                    <td>L   </td>
                    <td>58  </td>
                    <td>37.5</td>
                    <td>38  </td>
                    <td>53  </td>
                  </tr>
                  <tr>
                    <td>XL  </td>
                    <td>60  </td>
                    <td>38  </td>
                    <td>40  </td>
                    <td>55  </td>
                    </tr>
                <tr>
                    <td>2XL </td>
                    <td>62  </td>
                    <td>38.5</td>
                    <td>41  </td>
                    <td>57  </td>

                </tr> 
                  <tr>
                    <td>3XL </td>
                    <td>64  </td>
                    <td>39.5</td>
                    <td>42  </td>
                    <td>59  </td>

                </tr>
                  <tr>
                   <td>4XL </td>
                    <td>64.5</td>
                    <td>41</td>
                    <td>43</td>
                    <td>61</td>
                </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- MensRAINSUITJACKET -->

<div role="tabpanel" class="tab-pane" id="MensRAINSUITPANT">

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#PantsRS" role="tab"data-toggle="tab" class="text-uppercase">RS-2 RAINSUIT</a></li>
  <li ><a href="#PantsSTEALTH" role="tab"data-toggle="tab" class="text-uppercase">STEALTH SPORT</a></li>
  <li ><a href="#PantsPHOENIX" role="tab"data-toggle="tab" class="text-uppercase">PHOENIX ION</a></li>
  <li ><a href="#PantsBALLISITC" role="tab"data-toggle="tab" class="text-uppercase">BALLISITC 7.0</a></li>
   <li ><a href="#PantsALTER" role="tab"data-toggle="tab" class="text-uppercase">ALTER EGO 2.0</a></li>
   <li ><a href="#PantsATOMIC" role="tab"data-toggle="tab" class="text-uppercase">ATOMIC </a></li>
   <li ><a href="#PantsACCELERATOR" role="tab"data-toggle="tab" class="text-uppercase">ACCELERATOR DENIM JEANS</a></li>
</ul>
<div class="tab-content tab-content--ys">    
<div role="tabpanel" class="tab-pane active" id="PantsRS">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <p id=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-rainsuit-pants.jpg?15130997621231883312" alt="Joe Rocket Rs-2 Rainsuit Size Charts" title="Joe Rocket Rs-2 Rainsuit Size Charts" style="margin: 0 auto;width: 95%;;"/></p>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="divider divider--lg"></div>
          <h4 style="text-transform:uppercase;font-weight:bold;">RS-2 RAINSUIT</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th>PANT SIZING      </th>
                    <th>A.| WAIST - Relaxed  </th>
                    <th>WAIST - Stretched</th>
                    <th>B.| INSEAM</th>


                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>S   </td>
                    <td>20  </td>
                    <td>40  </td>
                    <td>30  </td>
                  </tr>
                  <tr>
                   <td>M   </td>
                    <td>26  </td>
                    <td>46  </td>
                    <td>30.5</td>
                  </tr>
                  <tr>
                   <td>L   </td>
                    <td>29  </td>
                    <td>49  </td>
                    <td>31  </td>
                  </tr>
                  <tr>
                  <td>XL  </td>
                    <td>32  </td>
                    <td>52  </td>
                    <td>31.5</td>
                    </tr>
                     <tr>
                  <td>2XL </td>
                    <td>35  </td>
                    <td>55  </td>
                    <td>32  </td>
                    </tr>
                     <tr>
                   <td>3XL </td>
                    <td>37  </td>
                    <td>57  </td>
                    <td>33  </td>
                    </tr>
                     <tr>
                 <td>4XL </td>
                    <td>42  </td>
                    <td>60  </td>
                    <td>33.5</td>

                    </tr>

            </tbody>
          </table>
          
             <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
           </div><!-- Responsive Table --> 
         </div>
      </div> 
    </div> <!--PantsRS-->

    <div role="tabpanel" class="tab-pane" id="PantsSTEALTH">
      <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
      <p id=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-stealth-pants.jpg?15130997621231883312" alt="Joe Rocket Stealth Sport Size Charts" title="Joe Rocket Stealth Sport Size Charts" style="margin: 0 auto;width: 96%;;"/></p>
      
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--lg"></div>
          <h4 style="text-transform:uppercase;font-weight:bold;">STEALTH SPORT</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th>SIZES </th>
                    <th>A.| WAIST </th>
                    <th>B.| INSEAM</th>


                  
              </tr>
            </thead>
              <tbody>
                
                    <tr>
                          <td>30    </td>
                          <td>30    </td>
                          <td>30 7/8</td>
                    </tr>
                    <tr>
                          <td>32    </td>
                          <td>32    </td>
                          <td>31 1/4</td>
                    </tr>
                     <tr>
                          <td>34    </td>
                          <td>34    </td>
                          <td>31 5/8</td>
                    </tr>
                    <tr>
                          <td>36    </td>
                          <td>36    </td>
                          <td>32    </td>
                    </tr>
                    <tr>
                          <td>38    </td>
                          <td>38    </td>
                          <td>32 3/8</td>
                    </tr>
                    <tr>
                          <td>40    </td>
                          <td>40    </td>
                          <td>32 3/4</td>
                    </tr>
                     <tr>
                          <td>42    </td>
                          <td>42    </td>
                          <td>33 1/8</td>

                    </tr>

            </tbody>
          </table>
          
             <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
           </div><!-- Responsive Table --> 
         </div>
      </div> 
    </div> <!--PantsRS-->


<div role="tabpanel" class="tab-pane" id="PantsPHOENIX">
      <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
      <p id=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-phoenix_ion-pants.jpg?15130997621231883312" alt="Joe Rocket Phoenix Ion Size Charts" title="Joe Rocket Phoenix Ion Size Charts" style="margin: 0 auto;width: 95%;;"/></p>
      
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--lg"></div>
          <h4 style="text-transform:uppercase;font-weight:bold;">PHOENIX ION</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th>SIZES</th>
                    <th>A.| WAIST</th>
                    <th>B.| INSEAM Short</th>
                    <th>INSEAM Reg</th>


                  
              </tr>
            </thead>
              <tbody>
                
                    <tr>
                          <td>S    </td>
                          <td>30-31</td>
                          <td>32   </td>
                          <td>34   </td>
                    </tr>
                    <tr>
                        <td>M    </td>
                          <td>32-33</td>
                          <td>32   </td>
                          <td>34   </td>
                    </tr>
                     <tr>
                        <td>L    </td>
                          <td>34-35</td>
                          <td>32   </td>
                          <td>34   </td>
                    </tr>
                    <tr>
                         <td>XL   </td>
                          <td>35-38</td>
                          <td>32   </td>
                          <td>34   </td>
                    </tr>
                    <tr>
                        <td>2XL  </td>
                          <td>38-41</td>
                          <td>32   </td>
                          <td>34   </td>
                    </tr>
                    <tr>
                         <td>3XL  </td>
                          <td>41-44</td>
                          <td>32   </td>
                          <td>34   </td>
                    </tr>
                     <tr>
                         <td>4XL  </td>
                          <td>45-47</td>
                          <td>N/A  </td>
                          <td>34   </td>

                    </tr>
                    <tr>
                         <td>5XL  </td>
                          <td>48-50</td>
                          <td>N/A</td>
                          <td>34</td>
                    </tr>

            </tbody>
          </table>
          
             <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
           </div><!-- Responsive Table --> 
         </div>
      </div> 
    </div> <!--PantsPHOENIX-->

    


<div role="tabpanel" class="tab-pane" id="PantsBALLISITC">
      <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
      <p id=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-Ballistic-pants.jpg?15130997621231883312" alt="Joe Rocket Ballisitc 7.0 Size Charts" title="Joe Rocket Ballisitc 7.0 Size Charts" style="margin: 0 auto;width: 95%;;"/></p>
      
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--lg"></div>
          <h4 style="text-transform:uppercase;font-weight:bold;">BALLISITC 7.0</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th>SIZES</th>
                <th>A.| WAIST</th>
                <th>B.| INSEAM Short</th>
                <th>INSEAM Reg </th>
                <th>INSEAM Tall</th>

                  
              </tr>
            </thead>
              <tbody>
                
                    <tr>
                          <td>S    </td>
                          <td>30-31</td>
                          <td>N/A  </td>
                          <td>34   </td>
                          <td>N/A  </td>
                    </tr>
                    <tr>
                        <td>M    </td>
                          <td>32-33</td>
                          <td>32   </td>
                          <td>34   </td>
                          <td>36   </td>
                    </tr>
                     <tr>
                       <td>L    </td>
                          <td>34-35</td>
                          <td>32   </td>
                          <td>34   </td>
                          <td>36   </td>
                    </tr>
                    <tr>
                         <td>XL   </td>
                          <td>35-38</td>
                          <td>32   </td>
                          <td>34   </td>
                          <td>36   </td>
                    </tr>
                    <tr>
                        <td>2XL  </td>
                          <td>38-41</td>
                          <td>32   </td>
                          <td>34   </td>
                          <td>36   </td>
                    </tr>
                    <tr>
                        <td>3XL  </td>
                          <td>41-44</td>
                          <td>32   </td>
                          <td>34   </td>
                          <td>36   </td>
                    </tr>
                     <tr>
                         <td>4XL  </td>
                          <td>45-48</td>
                          <td>N/A  </td>
                          <td>34   </td>
                          <td>N/A  </td>

                    </tr>
                    <tr>
                        <td>5XL  </td>
                          <td>49-52</td>
                          <td>N/A</td>
                          <td>34 </td>
                          <td>N/A</td>
                    </tr>

            </tbody>
          </table>
            <p class="sizechart-note"><code>*</code>&nbsp; For tall sizes, add 2" to the length and for short sizes subtract 2" to the length. </p>
             <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
           </div><!-- Responsive Table --> 
         </div>
      </div> 
    </div> <!--PantsBALLISITC-->

    <div role="tabpanel" class="tab-pane" id="PantsALTER">
      <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
      <p id=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-Alter_Ego-pants.jpg?15130997621231883312" alt="Joe Rocket Alter Ego 2.0 Size Charts" title="Joe Rocket Alter Ego 2.0 Size Charts" style="margin: 0 auto;width: 95%;;"/></p>
      
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--lg"></div>
          <h4 style="text-transform:uppercase;font-weight:bold;">ALTER EGO 2.0</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                   <th>SIZES</th>
                <th>A.| WAIST</th>
                <th>B.| INSEAM SHORT</th>
                <th>INSEAM REGULAR</th>
                <th>INSEAM TALL</th>

                  
              </tr>
            </thead>
              <tbody>
                
                    <tr>
                         <td>S    </td>
                          <td>31-32</td>
                          <td>N/A  </td>
                          <td>34   </td>
                          <td>N/A  </td>
                    </tr>
                    <tr>
                        <td>M    </td>
                          <td>32-33</td>
                          <td>32   </td>
                          <td>34   </td>
                          <td>36   </td>
                    </tr>
                     <tr>
                       <td>L    </td>
                          <td>34-35</td>
                          <td>32</td>
                          <td>34</td>
                          <td>36</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                          <td>35-38</td>
                          <td>32   </td>
                          <td>34   </td>
                          <td>36   </td>
                    </tr>
                    <tr>
                       <td>2XL  </td>
                          <td>38-41</td>
                          <td>32   </td>
                          <td>34   </td>
                          <td>36   </td>
                    </tr>
                    <tr>
                        <td>3XL  </td>
                          <td>41-44</td>
                          <td>32</td>
                          <td>34</td>
                          <td>36</td>
                    </tr>
            </tbody>
          </table>
          
             <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
           </div><!-- Responsive Table --> 
         </div>
      </div> 
    </div> <!--PantsAlter-->

     <div role="tabpanel" class="tab-pane" id="PantsATOMIC">
      <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
      <p id=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-Atomic-pants.jpg?15130997621231883312" alt="Joe Rocket Atomic Size Charts" title="Joe Rocket Atomic Size Charts" style="margin: 0 auto;width: 95%;;"/></p>
      
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--lg"></div>
          <h4 style="text-transform:uppercase;font-weight:bold;">ATOMIC</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                   <th>SIZES</th>
                <th>A.| WAIST</th>
                <th>B.| INSEAM</th>

                  
              </tr>
            </thead>
              <tbody>
                
                    <tr>
                         <td>S    </td>
                        <td>31-32</td>
                        <td>34   </td>
                    </tr>
                    <tr>
                        <td>M    </td>
                        <td>32-33</td>
                        <td>34   </td>
                    </tr>
                     <tr>
                       <td>L    </td>
                        <td>34-35</td>
                        <td>34   </td>
                    </tr>
                    <tr>
                        <td>XL   </td>
                        <td>35-38</td>
                        <td>34   </td>
                    </tr>
                    <tr>
                     <td>2XL  </td>
                        <td>38-41</td>
                        <td>34</td>
                    </tr>

            </tbody>
          </table>
          
             <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
           </div><!-- Responsive Table --> 
         </div>
      </div> 
    </div> <!--PantsATOMIC-->

    <div role="tabpanel" class="tab-pane" id="PantsACCELERATOR">
      <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
      <p id=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/joe_rocket_accelerator_riding_jeans_blue_rollover_copy.jpg?15130997621231883312" alt="Joe Rocket Accelerator denim jeans Size Charts" title="Joe Rocket Accelerator denim jeans Size Charts" style="margin: 0 auto;width: 95%;;"/></p>
      
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
            <div class="divider divider--lg"></div>
          <h4 style="text-transform:uppercase;font-weight:bold;">ACCELERATOR DENIM JEANS</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                 <th>SIZES         </th>
                <th>A.| WAIST         </th>
                <th>B.| INSEAM SHORT  </th>
                <th>INSEAM REGULAR</th>

                  
              </tr>
            </thead>
              <tbody>
                
                    <tr>
                       <td>30</td>
                        <td>30</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>
                    <tr>
                        <td>32</td>
                        <td>32</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>
                     <tr>
                      <td>34</td>
                        <td>34</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>
                    <tr>
                       <td>36</td>
                        <td>36</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>
                    <tr>
                     <td>38</td>
                        <td>38</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>
                     <tr>
                    <td>40</td>
                        <td>40</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>
                     <tr>
                    <td>42</td>
                        <td>42</td>
                        <td>30</td>
                        <td>32</td>
                    </tr>

            </tbody>
          </table>
          
             <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
           </div><!-- Responsive Table --> 
         </div>
      </div> 
    </div> <!--PantsACCELERATOR-->



  </div>
</div> <!-- PantsSTEALTH -->

    <div role="tabpanel" class="tab-pane" id="MensJACKETS">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-jacket.jpg?3758589783570182259" alt="Joe Rocket Boardshorts Size Charts" title="Joe Rocket Boardshorts Size Charts" style="margin: 0 auto;"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">ALPHA SIZE CHART</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                           <th>SIZES </th>
                          <th>A.| CHEST </th>
                          <th>B.| WAIST </th>
                          <th>C.| SLEEVE</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>XS   </td>
                    <td>34-36</td>
                    <td>26-28</td>
                    <td>32   </td>

                  </tr>
                  <tr>
                    <td>S    </td>
                    <td>38-40</td>
                    <td>29-31</td>
                    <td>32   </td>

                  </tr>
                  <tr>
                    <td>M    </td>
                    <td>40-42</td>
                    <td>32-34</td>
                    <td>33   </td>

                  </tr>
                  <tr>
                 <td>L    </td>
                    <td>42-44</td>
                    <td>34-36</td>
                    <td>34   </td>

                  </tr>
                  <tr>
                 <td>XL   </td>
                    <td>46-48</td>
                    <td>36-39</td>
                    <td>35   </td>

                  </tr>
                  <tr>
                  <td>2XL  </td>
                    <td>50-52</td>
                    <td>39-42</td>
                    <td>36   </td>

                  </tr>
                  <tr>
                 <td>3XL  </td>
                    <td>54-56</td>
                    <td>42-45</td>
                    <td>36.5 </td>

                  </tr>
                  <tr>
                 <td>4XL  </td>
                    <td>58-60</td>
                    <td>45-49</td>
                    <td>36.5 </td>

                  </tr>
                  <tr>
                 <td>5XL  </td>
                    <td>61-63</td>
                    <td>49-53</td>
                    <td>37</td>

                  </tr>  
            </tbody>
          </table>
          <h4 style="text-transform:uppercase;font-weight:bold;">NUMERICAL</h4>
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                          <th>SIZES </th>
                          <th>A.| CHEST </th>
                          <th>B.| WAIST </th>
                          <th>C.| SLEEVE</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                   <td>38  </td>
                    <td>38  </td>
                    <td>29  </td>
                    <td>32  </td>
                  </tr>
                  <tr>
                   <td>40  </td>
                    <td>40  </td>
                    <td>32  </td>
                    <td>33  </td>

                  </tr>
                  <tr>
                    <td>42  </td>
                    <td>42  </td>
                    <td>34  </td>
                    <td>33  </td>

                  </tr>
                  <tr>
                    <td>44  </td>
                    <td>44  </td>
                    <td>38  </td>
                    <td>34  </td>

                  </tr>
                  <tr>
                    <td>46  </td>
                    <td>46  </td>
                    <td>40  </td>
                    <td>35  </td>
                  </tr>
                  <tr>
                    <td>48  </td>
                    <td>48  </td>
                    <td>42  </td>
                    <td>35  </td>

                  </tr>
                  <tr>
                    <td>50  </td>
                    <td>50  </td>
                    <td>44  </td>
                    <td>36  </td>

                  </tr>
                  <tr>
                    <td>52  </td>
                    <td>52  </td>
                    <td>46  </td>
                    <td>36  </td>
                  </tr>
                  <tr>
                    <td>54  </td>
                    <td>54  </td>
                    <td>48  </td>
                    <td>36.5</td>

                  </tr>  
                  <tr>
                    <td>56  </td>
                    <td>56  </td>
                    <td>50  </td>
                    <td>36.5</td>
                  </tr>  
            </tbody>
          </table>
         <p class="sizechart-note"><code>*</code>&nbsp;For tall size jackets, add 2" to the sleeve length and 3" to the torso length.</p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- MensJACKETS -->
</div> <!-- ys -->
</div> <!-- SizeChartTab2-->


<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#womensJACKETS" role="tab"data-toggle="tab" class="text-uppercase">JACKETS</a></li>
  <li ><a href="#WomensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
</ul>

<div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="womensJACKETS">
    <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-jacket-womens.jpg?15596839159132133075" alt="Joe Rocket Jackets Size Charts" title="Joe Rocket Boardshorts Size Charts" style="margin: 0 auto;"/>
    
    </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
          <h4 style="text-transform:uppercase;font-weight:bold;">Jackets</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                          <th>SIZES</th>
                          <th>A.| BUST</th>
                          <th>B.| WAIST</th>
                          <th>C.| HIP</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>XS   </td>
                    <td>31   </td>
                    <td>24-25</td>
                    <td>35-36</td>

                  </tr>
                  <tr>
                    <td>S    </td>
                    <td>33-34</td>
                    <td>26-27</td>
                    <td>37-38</td>

                  </tr>
                  <tr>
                    <td>M    </td>
                    <td>35-36</td>
                    <td>28-29</td>
                    <td>39-40</td>

                  </tr>
                  <tr>
                    <td>L    </td>
                    <td>37-39</td>
                    <td>30-31</td>
                    <td>41-42</td>

                  </tr>
                  <tr>
                    <td>XL   </td>
                    <td>40-42</td>
                    <td>32-34</td>
                    <td>43-44</td>

                  </tr>
                  <tr>
                    <td>2XL/1 DIVA</td>
                    <td>42-44     </td>
                    <td>34-36     </td>
                    <td>44-45     </td>

                  </tr>
                  <tr>
                    <td>3XL/2 DIVA</td>
                    <td>45-48</td>
                    <td>37-39</td>
                    <td>46-49</td>

                  </tr>
                  <tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div>
</div> <!-- womensJACKETS -->

<div role="tabpanel" class="tab-pane" id="WomensPants">

    <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
      <li class="active"><a href="#womensBALLISTIC" role="tab"data-toggle="tab" class="text-uppercase">BALLISTIC 7.0</a></li>
      <li ><a href="#WomensCLEO" role="tab"data-toggle="tab" class="text-uppercase">CLEO ELITE</a></li>
      <li ><a href="#WomensALTER" role="tab"data-toggle="tab" class="text-uppercase">ALTER EGO</a></li>
    </ul>

<div class="tab-content tab-content--ys">

   <div role="tabpanel" class="tab-pane active" id="womensBALLISTIC"> 
    <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-Ballistic-pants-womens.jpg?8267569116535086059" alt="Joe Rocket Ballistic Size Charts" title="Joe Rocket Ballistic Size Charts" style="margin: 0 auto;width:95%"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">BALLISTIC 7.0</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                          <th>SIZES </th>
                          <th>A.| WAIST </th>
                          <th>B.| HIP   </th>
                          <th>C.| INSEAM</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>XS   </td>
                    <td>26-27</td>
                    <td>36-37</td>
                    <td>35   </td>

                  </tr>
                  <tr>
                    <td>S    </td>
                    <td>28-29</td>
                    <td>38-39</td>
                    <td>35</td>

                  </tr>
                  <tr>
                    <td>M</td>
                    <td>30-31</td>
                    <td>40-41</td>
                    <td>35</td>

                  </tr>
                  <tr>
                    <td>L </td>
                    <td>32-33</td>
                    <td>42-43</td>
                    <td>35</td>

                  </tr>
                  <tr>
                    <td>XL</td>
                    <td>34-35</td>
                    <td>44-45</td>
                    <td>35 </td>

                  </tr>
                  <tr>
                   <td>2XL</td>
                    <td>36-37</td>
                    <td>46-48</td>
                    <td>35</td>

                  </tr>

            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Height adjustable hem. Adjusts to 31", 33" or 35".</p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> <!-- row -->
  </div> <!-- womensBALLISTIC -->

  <div role="tabpanel" class="tab-pane" id="WomensCLEO"> 
    <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-cleo_elite-pants-womens.jpg?8267569116535086059" alt="Joe Rocket Cleo Elite Size Charts" title="Joe Rocket Cleo Elite Size Charts" style="margin: 0 auto;width:95%"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">CLEO ELITE</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                          <th>SIZES </th>
                          <th>A.| WAIST </th>
                          <th>B.| HIP   </th>
                          <th>C.| INSEAM</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                   <td>XS    </td>
                    <td>26-27 </td>
                    <td>36-37 </td>
                    <td>33    </td>

                  </tr>
                  <tr>
                   <td>S     </td>
                    <td>28-29 </td>
                    <td>38-39 </td>
                    <td>33    </td>

                  </tr>
                  <tr>
                   <td>M     </td>
                    <td>30-31 </td>
                    <td>40-41 </td>
                    <td>33    </td>

                  </tr>
                  <tr>
                   <td>L     </td>
                    <td>32-33 </td>
                    <td>42-43 </td>
                    <td>33    </td>
                  </tr>
                  <tr>
                   <td>XL    </td>
                    <td>34-35 </td>
                    <td>44-45 </td>
                    <td>33    </td>
                  </tr>
                  <tr>
                  <td>1 Diva</td>
                    <td>36-37</td>
                    <td>46-48</td>
                    <td>33</td>

                  </tr>

            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> <!-- row -->
  </div> <!-- CLEO ELITE -->

  <div role="tabpanel" class="tab-pane" id="WomensALTER"> 
    <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-joerocket-alter-pants-womens.jpg?8267569116535086059" alt="Joe Rocket Alter Ego Size Charts" title="Joe Rocket Alter Ego Size Charts" style="margin: 0 auto;width:95%"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">ALTER EGO</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                          <th>SIZES </th>
                          <th>A.| WAIST </th>
                          <th>B.| HIP   </th>
                          <th>C.| INSEAM</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                   <td>XS   </td>
                    <td>26-27</td>
                    <td>36-37</td>
                    <td>35   </td>

                  </tr>
                  <tr>
                   <td>S    </td>
                    <td>28-29</td>
                    <td>38-39</td>
                    <td>35   </td>

                  </tr>
                  <tr>
                   <td>M    </td>
                    <td>30-31</td>
                    <td>40-41</td>
                    <td>35</td>

                  </tr>
                  <tr>
                  <td>L</td>
                    <td>32-33</td>
                    <td>42-43</td>
                    <td>35</td>
                  </tr>
                  <tr>
                   <td>XL</td>
                    <td>34-35</td>
                    <td>44-45</td>
                    <td>35 </td>
                  </tr>
                  <tr>
                 <td>2XL</td>
                    <td>36-37</td>
                    <td>46-48</td>
                    <td>35</td>

                  </tr>

            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Height adjustable hem. Adjusts to 31", 33" or 35".</p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> <!-- row -->
  </div> <!-- CLEO ELITE -->


  </div> <!-- ys -->
</div> <!-- WomensPants -->


</div> <!-- ys -->
</div> <!-- SizeChartTab3 -->

</div><!-- tab-content tab-content-ys obs_sizechart -->
