<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
              margin-top: -160px;
          }
          .divider{
             display: none;
          }
    } 

    .grad {
    height: 36px;
    background: black; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #b5b4b4 , black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #b5b4b4, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #b5b4b4, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #b5b4b4, black); /* Standard syntax (must be last) */
    color: white;
}


</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Underwear</a></li>
  <li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Shirts</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  

<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">


  <div role="tabpanel" class="tab-pane active" id="MensBoardshorts">
  <div class="row">
  <div class="col-sm-2 col-md-2 col-lg-2">
  <div class="divider divider--lg"></div>
  <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys" style="text-align:center;">
            <thead>
              <tr>
                    <th colspan="2" style="text-align:center;">Sizing</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>XS   </td>
                    <td>27-29</td>
                  </tr>
                  <tr>
                    <td>S   </td>
                    <td>30-32    </td>
                  </tr>
                   <tr>
                    <td>M</td>
                    <td>33-35</td>
                  </tr>
                   <tr>
                    <td>L</td>
                    <td>36-38</td>
                  </tr>
                   <tr>
                    <td>XL</td>
                    <td>39-42</td>
                  </tr>
                   <tr>
                    <td>XXL</td>
                    <td>43-46</td>
                  </tr>

            </tbody>
          </table>
          </div>
          <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
  </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <p style="
    text-align: center;
    font-weight: bold;
">TIGHT</p>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/tight.JPG?17298205667953700455" alt="Saxx Underwear Size Charts" title="Saxx Boardshorts Size Charts" style="margin: 0 auto;"/>
    </div>
     <div class="col-sm-2 col-md-2 col-lg-2">
     <p style="
    text-align: center;
    font-weight: bold;
">LONG LEG</p>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/long-leg.jpg?17298205667953700455" alt="Saxx Underwear Size Charts" title="Saxx Boardshorts Size Charts" style="margin: 0 auto;"/>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <p style="
    text-align: center;
    font-weight: bold;
">BOXER BRIEF</p>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/boxer-brief.jpg?17298205667953700455" alt="Saxx Underwear Size Charts" title="Saxx Boardshorts Size Charts" style="margin: 0 auto;"/>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <p style="
    text-align: center;
    font-weight: bold;
">TRUNK</p>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/trunk.jpg?17298205667953700455" alt="Saxx Underwear Size Charts" title="Saxx Boardshorts Size Charts" style="margin: 0 auto;"/>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <p style="
    text-align: center;
    font-weight: bold;
">BRIEF</p>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/brief.jpg?17298205667953700455" alt="Saxx Underwear Size Charts" title="Saxx Boardshorts Size Charts" style="margin: 0 auto;"/>
    </div>
  </div> 
  <hr>
   <div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
  <h4 style="text-transform:uppercase;font-weight:bold;">REGULAR</h4>
  <p>With a focus on comfort and movement; a slightly looser fit in a classic silhouette</p>
  </div>
   <div class="col-sm-3 col-md-3 col-lg-3">
  <h4 style="text-transform:uppercase;font-weight:bold;">MODERN</h4>
  <p>For tug-free layering; slightly slimmer throughout the seat and thighs</p>
  </div>
   <div class="col-sm-3 col-md-3 col-lg-3">
  <h4 style="text-transform:uppercase;font-weight:bold;">SEMI-COMPRESSION</h4>
  <p>Hybrid performance fit perfect for training and post-workout comfort.</p>
  </div>
   <div class="col-sm-3 col-md-3 col-lg-3">
  <h4 style="text-transform:uppercase;font-weight:bold;">COMPRESSION</h4>
  <p>Second-skin feeling for before, during and after activity.</p>
  </div>
  </div>
<div class="divider divider--sm"></div>
  <div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 grad">
  <h4 style="
    color: white;
    float: left;
    text-transform: uppercase;
    padding: 7px;
">Relaxed</h4>
  <h4 style="
    color: white;
    float: right;
    text-transform: uppercase;
    padding: 7px;
">Tight</h4>
  </div>

  </div>

</div> <!-- MensJackets -->

</div> <!-- SizeChartTab2-->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">


  <div role="tabpanel" class="tab-pane" id="">
  <div class="row">
  <div class="col-sm-3 col-md-3 col-lg-3">
     <h4 style="text-transform:uppercase;font-weight:bold;">REGULAR FIT</h4>
  		<p>An everyday piece in a classic, comfortable silhouette</p>
  <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys" style="text-align:center;">
            <thead>
              <tr>
                    <th colspan="2" style="text-align:center;">Sizing </th>

                  
              </tr>
            </thead>
              <tbody>

                  <tr>
                    <td>S   </td>
                    <td>36-38</td>
                  </tr>
                   <tr>
                    <td>M</td>
                    <td>38-40</td>
                  </tr>
                   <tr>
                    <td>L</td>
                    <td>40-42</td>
                  </tr>
                   <tr>
                    <td>XL</td>
                    <td>42-44</td>
                  </tr>
                   <tr>
                    <td>XXL</td>
                    <td>44-46</td>
                  </tr>

            </tbody>
          </table>
          </div>
        
         
  </div>
    <div class="col-sm-3 col-md-3 col-lg-3">
    <p style="
    text-align: center;
    font-weight: bold;
">SHORT SLEEVE CREW NECK</p>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/crew-neck-sketch.jpg?9032711706231386428" alt="Saxx Shirts Size Charts" title="Saxx Boardshorts Size Charts" style="margin: 0 auto;"/>
    </div>
     <div class="col-sm-3 col-md-3 col-lg-3">
     <p style="
    text-align: center;
    font-weight: bold;
">SHORT SLEEVE V-NECK</p>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/v-neck-sketch.jpg?9032711706231386428" alt="Saxx Shirts Size Charts" title="Saxx Boardshorts Size Charts" style="margin: 0 auto;"/>
    </div>
   <div class="col-sm-3 col-md-3 col-lg-3">
    <p style="
    text-align: center;
    font-weight: bold;
">LONG SLEEVE V-NECK</p>
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/v-long-sleeve-sketch.JPG?9032711706231386428" alt="Saxx Shirts Size Charts" title="Saxx Boardshorts Size Charts" style="margin: 0 auto;"/>
    </div>
  </div> 
   <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
  </div>

</div> <!-- MensJackets -->

</div> <!-- SizeChartTab2-->
