<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

<li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

<li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Kids</a></li>





</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Shoes</a></li>

<li><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>

<li><a href="#SizeChartMenTab3" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>


</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Etnies Shoes Size Charts" title="Etnies Shoes Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">Shoes</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
     <!--    <tr>
          <th scope="col">US</th>
           <th scope="col">UK</th>
          <th scope="col">Europe</th>
          <th scope="col">Japan</th>
        </tr> -->
      </thead>
     <tbody>
        <tr>
           <td>US    </td>
            <td>5     </td>
            <td>5.5   </td>
            <td>6     </td>
            <td>6.5   </td>
            <td>7     </td>
            <td>7.5   </td>
            <td>8     </td>
            <td>8.5   </td>
            <td>9     </td>
            <td>9.5   </td>
            <td>10    </td>
            <td>10.5  </td>
            <td>11    </td>
            <td>11.5  </td>
            <td>12    </td>
            <td>13    </td>
            <td>14    </td>
            <td>15    </td>
        </tr>
        <tr>
            <td>UK    </td>
            <td>4     </td>
            <td>4.5   </td>
            <td>5     </td>
            <td>5.5   </td>
            <td>6     </td>
            <td>6.5   </td>
            <td>7     </td>
            <td>7.5   </td>
            <td>8     </td>
            <td>8.5   </td>
            <td>9     </td>
            <td>9.5   </td>
            <td>10    </td>
            <td>10.5  </td>
            <td>11    </td>
            <td>12    </td>
            <td>13    </td>
            <td>14    </td>
        </tr>
        <tr>
            <td>EUROPE</td>
            <td>37   </td>
            <td>37.5 </td>
            <td>38   </td>
            <td>38.5 </td>
            <td>39   </td>
            <td>40   </td>
            <td>41   </td>
            <td>41.5 </td>
            <td>42   </td>
            <td>42.5 </td>
            <td>43   </td>
            <td>44   </td>
            <td>45   </td>
            <td>45.5 </td>
            <td>46   </td>
            <td>47   </td>
            <td>48   </td>
            <td>49   </td>
        </tr>
        <tr>
            <td>JAPAN</td>
            <td>23  </td>
            <td>23.5</td>
            <td>24  </td>
            <td>24.5</td>
            <td>25  </td>
            <td>25.5</td>
            <td>26  </td>
            <td>26.5</td>
            <td>27  </td>
            <td>27.5</td>
            <td>28  </td>
            <td>28.5</td>
            <td>29  </td>
            <td>29.5</td>
            <td>30  </td>
            <td>31  </td>
            <td>32.5</td>
            <td>33</td>
        </tr>
       
    </tbody>
    </table>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->


<div role="tabpanel" class="tab-pane" id="SizeChartMenTab2">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-etnies-mens-tops.jpg?8303076316990451308" alt="Etnies Tops Size Charts" title="Etnies Tops Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Tops</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Size</th>
          <th>A.| Chest (inches)</th>
          <th>Chest (cm)</th>
          <th>B.| Waist (inches)</th>
          <th>Waist (cm)</th>
        </tr>
      </thead>
     <tbody>
        <tr>
           <td>XS</td>
            <td>31-33</td>
            <td>79-86</td>
            <td>28-30</td>
            <td>71-76</td>
        </tr>
        <tr>
           <td>S    </td>
            <td>34-36</td>
            <td>86-93</td>
            <td>30-32</td>
            <td>76-81</td>
        </tr>
        <tr>
           <td>M    </td>
            <td>37-39</td>
            <td>93-101</td>
            <td>32-34 </td>
            <td>81-86 </td>
        </tr>
        <tr>
           <td>L</td>
            <td>40-42</td>
            <td>101-109</td>
            <td>34-36</td>
            <td>86-91</td>
        </tr>
         <tr>
          <td>XL</td>
            <td>43-44</td>
            <td>109-112</td>
            <td>36-38</td>
            <td>91-97</td>
        </tr>
         <tr>
          <td>XXL</td>
            <td>44-46</td>
            <td>112-117</td>
            <td>38-40</td>
            <td>97-102</td>
        </tr>
       
    </tbody>
    </table>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>

</div><!-- SizeChartMenTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab3">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-etnies-mens-pants.jpg?8303076316990451308" alt="Etnies Pants Size Charts" title="Etnies Pants Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<div class="col-sm-6">
<h4 style="text-transform:uppercase;font-weight: bold;">Mens Pants (Straight Fit)</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Size</th>
          <th>A.| Low Waist</th>
          <th>B.| Inseam</th>
          <th>C.| Leg Opening</th>
        </tr>
      </thead>
     <tbody>
        <tr>
        <td>28    </td>
        <td>30    </td>
        <td>30    </td>
        <td>15 3/4</td>
        </tr>
        <tr>
           <td>29    </td>
        <td>31    </td>
        <td>30    </td>
        <td>16 1/8</td>
        </tr>
        <tr>
           <td>30    </td>
        <td>32    </td>
        <td>30    </td>
        <td>16 1/2</td>
        </tr>
        <tr>
          <td>31    </td>
        <td>33    </td>
        <td>32    </td>
        <td>16 7/8</td>
        </tr>
         <tr>
          <td>32    </td>
        <td>34    </td>
        <td>32    </td>
        <td>17 1/4</td>
        </tr>
         <tr>
         <td>33    </td>
        <td>35    </td>
        <td>32   </td>
        <td>17 5/8</td>
        </tr>
        <tr>
         <td>34    </td>
        <td>36    </td>
        <td>32    </td>
        <td>18    </td>
        </tr>
        <tr>
         <td>36    </td>
        <td>37 1/2</td>
        <td>32    </td>
        <td>18 3/4</td>
        </tr>
        <tr>
         <td>38</td>
        <td>39</td>
        <td>32</td>
        <td>19 1/4</td>
        </tr>
       
    </tbody>
    </table>
        </div><!-- Responsive Table -->
        </div>
<div class="col-sm-6">
        <h4 style="text-transform:uppercase;font-weight: bold;">Mens Pants (Slim Fit)</h4>
        <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Size</th>
          <th>A.| Low Waist</th>
          <th>B.| Inseam</th>
          <th>C.| Leg Opening</th>
        </tr>
      </thead>
     <tbody>
        <tr>
      <td>28    </td>
          <td>30    </td>
          <td>30    </td>
          <td>13 1/2</td>
        </tr>
        <tr>
           <td>29    </td>
          <td>31    </td>
          <td>30    </td>
          <td>13 7/8</td>
        </tr>
        <tr>
         <td>30    </td>
          <td>32    </td>
          <td>30    </td>
          <td>14 1/4</td>
        </tr>
        <tr>
         <td>31    </td>
          <td>33    </td>
          <td>32    </td>
          <td>14 5/8</td>
        </tr>
         <tr>
          <td>32    </td>
          <td>34    </td>
          <td>32    </td>
          <td>15    </td>
        </tr>
         <tr>
         <td>33    </td>
          <td>35    </td>
          <td>32    </td>
          <td>15 3/8</td>
        </tr>
        <tr>
      <td>34    </td>
          <td>36    </td>
          <td>32    </td>
          <td>15 3/4</td>
        </tr>
        <tr>
  <td>36    </td>
          <td>37 1/2</td>
          <td>32    </td>
          <td>16 1/2</td>
        </tr>
        <tr>
        <td>38</td>
          <td>39</td>
          <td>32</td>
          <td>17</td>

        </tr>
       
    </tbody>
    </table>
    </div>
    </div>
    </div>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
      
     
   </div>

</div><!-- SizeChartMenTab3 -->
</div>
</div><!-- SizeChartTab1 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab2">

<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Etnies Shoes Size Charts" title="Etnies Shoes Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">Shoes</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
     <!--    <tr>
          <th scope="col">US</th>
           <th scope="col">UK</th>
          <th scope="col">Europe</th>
          <th scope="col">Japan</th>
        </tr> -->
      </thead>
     <tbody>
        <tr>
          <td>USA Womens</td>
          <td>4         </td>
          <td>4.5       </td>
          <td>5         </td>
          <td>5.5       </td>
          <td>6         </td>
          <td>6.5       </td>
          <td>7         </td>
          <td>7.5       </td>
          <td>8         </td>
          <td>8.5       </td>
          <td>9         </td>
          <td>9.5       </td>
          <td>10        </td>
          <td>10.5      </td>
          <td>11        </td>
        </tr>
        <tr>
           <td>UK Womens </td>
          <td>1.5       </td>
          <td>2         </td>
          <td>2.5       </td>
          <td>3         </td>
          <td>3.5       </td>
          <td>4         </td>
          <td>4.5       </td>
          <td>5         </td>
          <td>5.5       </td>
          <td>6         </td>
          <td>6.5       </td>
          <td>7         </td>
          <td>7.5       </td>
          <td>8         </td>
          <td>8.5       </td>
        </tr>
        <tr>
            <td>Europe    </td>
          <td>34        </td>
          <td>34.5      </td>
          <td>35        </td>
          <td>35.5      </td>
          <td>36        </td>
          <td>37        </td>
          <td>37.5      </td>
          <td>38        </td>
          <td>38.5      </td>
          <td>39        </td>
          <td>40        </td>
          <td>41        </td>
          <td>41.5      </td>
          <td>42        </td>
          <td>42.5      </td>
        </tr>
        <tr>
            <td>Japan     </td>
          <td>20        </td>
          <td>20.5      </td>
          <td>21        </td>
          <td>21.5      </td>
          <td>22        </td>
          <td>22.5      </td>
          <td>23        </td>
          <td>23.5      </td>
          <td>24        </td>
          <td>24.5      </td>
          <td>25        </td>
          <td>25.5      </td>
          <td>26        </td>
          <td>27        </td>
          <td>28        </td>
        </tr>
       
    </tbody>
    </table>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->


</div><!-- SizeChartTab2 -->



<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartkidsTab1" role="tab"data-toggle="tab" class="text-uppercase">Shoes</a></li>

<li><a href="#SizeChartkidsTab2" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>

</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartkidsTab1">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Etnies Shoes Size Charts" title="Etnies Shoes Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">Shoes</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
     <!--    <tr>
          <th scope="col">US</th>
           <th scope="col">UK</th>
          <th scope="col">Europe</th>
          <th scope="col">Japan</th>
        </tr> -->
      </thead>
     <tbody>
        <tr>
           <td>USA Kids</td>
            <td>10      </td>
            <td>11      </td>
            <td>12      </td>
            <td>13      </td>
            <td>1       </td>
            <td>1.5     </td>
            <td>2       </td>
            <td>2.5     </td>
            <td>3       </td>
            <td>3.5     </td>
            <td>4       </td>
            <td>4.5     </td>
            <td>5       </td>
            <td>5.5     </td>
            <td>6       </td>
        </tr>
        <tr>
          <td>UK Kids </td>
            <td>9       </td>
            <td>10      </td>
            <td>11      </td>
            <td>12      </td>
            <td>13      </td>
            <td>0.5     </td>
            <td>1       </td>
            <td>1.5     </td>
            <td>2       </td>
            <td>2.5     </td>
            <td>3       </td>
            <td>3.5     </td>
            <td>4       </td>
            <td>4.5     </td>
            <td>5       </td>
        </tr>
        <tr>
           <td>Europe  </td>
            <td>27.5    </td>
            <td>29      </td>
            <td>30      </td>
            <td>31      </td>
            <td>32.5    </td>
            <td>33      </td>
            <td>34      </td>
            <td>34.5    </td>
            <td>35      </td>
            <td>35.5    </td>
            <td>36      </td>
            <td>36.5    </td>
            <td>37.5    </td>
            <td>38      </td>
            <td>38.5    </td>
        </tr>
        <tr>
            <td>Japan   </td>
            <td>16.5    </td>
            <td>17.5    </td>
            <td>18      </td>
            <td>18.5    </td>
            <td>19      </td>
            <td>19.5    </td>
            <td>20      </td>
            <td>20.5    </td>
            <td>21      </td>
            <td>21.5    </td>
            <td>22      </td>
            <td>22.5    </td>
            <td>23      </td>
            <td>23.5    </td>
            <td>24      </td>
        </tr>
       
    </tbody>
    </table>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->


<div role="tabpanel" class="tab-pane" id="SizeChartkidsTab2">

<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-etnies-kids.JPG?8303076316990451308" alt="Etnies Apparel Size Charts" title="Etnies Apparel Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">Apparel</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Size</th>
          <th>A.| Chest (inches)</th>
          <th>Chest (cm)</th>
          <th>B.| Waist (inches)</th>
          <th>Waist (cm)</th>
        </tr>
      </thead>
     <tbody>
        <tr>
           <td>Small (8)</td>
            <td>26-27</td>
            <td>66-70</td>
            <td>23-24</td>
            <td>58-62</td>
        </tr>
        <tr>
          <td rowspan="2">Medium (10, 12)</td>  
            <td>27.5</td>
            <td>71</td>
            <td>25</td>
            <td>63</td>
        </tr>
        <tr>
          <td>29</td>
            <td>75</td>
            <td>26</td>
            <td>67</td>
        </tr>
        <tr>
           <td rowspan="2">Large (14, 16)</td>
            <td>30</td>
            <td>76</td>
            <td>27</td>
            <td>68</td>
        </tr>
         <tr>
          <td>32</td>
            <td>82</td>
            <td>28</td>
            <td>72</td>
        </tr>
         <tr>
          <td>XL (18)</td>
            <td>33-35</td>
            <td>83-89</td>
            <td>29-30</td>
            <td>73-76</td>
        </tr>
       
    </tbody>
    </table>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>

</div><!-- SizeChartMenTab2 -->
</div>
</div><!-- SizeChartTab3 -->


</div><!-- ys -->