
<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

<li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

<li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>


</ul>


<div class="tab-content tab-content--ys obs_sizechart">
<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">



<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartOneillMen-Tab1" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>

<li><a href="#SizeChartOneillMen-Tab2" role="tab"data-toggle="tab" class="text-uppercase">Bottoms</a></li>

<li><a href="#SizeChartOneillMen-Tab5" role="tab"data-toggle="tab" class="text-uppercase">Headwear</a></li>
<li><a href="#SizeChartOneillMen-Tab6" role="tab"data-toggle="tab" class="text-uppercase">Belt</a></li>
<li><a href="#SizeChartOneillMen-Tab7" role="tab"data-toggle="tab" class="text-uppercase">Wetsuits & Rashies</a></li>
</ul>


<div class="tab-content tab-content--ys">
<div role="tabpanel" class="tab-pane active" id="SizeChartOneillMen-Tab1">

<div class="divider divider--md"></div>


<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/sizechartimgtemplate.JPG?12335422893449224752" alt="O'Neill Tops" title="O'Neill Tops" />
</div>
<div class="col-sm-8 col-md-8 col-lg-8">
<h4 style="text-transform: uppercase;">Men's Tops</h4>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">Product size</th>
                    <th scope="col">XS</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                    <th scope="col">L</th>
                    <th scope="col">XL</th>
                    <th scope="col">XXL</th>
                    <th scope="col">3XL</th>

  
          </tr>
        </thead>
       <tbody>
        <tr>
        <td>A.) Chest</td>
        <td>86.5</td>
        <td>91.5</td>
        <td>96.5</td>
        <td>101.5</td>
        <td>106.5</td>
        <td>111.5</td>
        <td>116.5</td>
        </tr>
        <tr>
        <td>B.) Waist</td>
        <td>71</td>
        <td>76</td>
        <td>81</td>
        <td>86</td>
        <td>91</td>
        <td>96</td>
        <td>101</td>
        </tr>
        <tr>
        <td>C.) Hip</td>
        <td>89</td>
        <td>94</td>
        <td>99</td>
        <td>104</td>
        <td>109</td>
        <td>114</td>
        <td>119</td>
        </tr>
        </tbody>
      </table>
</div><!-- Responsive Table -->  
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartOneillMen-Tab2">
<div class="divider divider--md"></div>


      <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-bottoms-temp.jpg?12335422893449224752" alt="O'Neill Tops" title="O'Neill Bottoms" />
      </div>
      
      <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="table_responsive">
      <h4 style="text-transform: uppercase;">Men's Bottoms Size Conversions</h4>
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">XS</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                    <th scope="col">L</th>
                    <th scope="col">XL</th>
                    <th scope="col">XXL</th>


  
          </tr>
        </thead>
       <tbody>
                  <tr>
                  <td>28</td>
                  <td>30</td>
                  <td>32</td>
                  <td>34</td>
                  <td>36</td>
                  <td>38</td>
                  </tr>
                  </tbody>
      </table>

    <h4 style="text-transform: uppercase;">Men’s Body Measurements (CM)</h4>
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">SIZE</th>
                    <th scope="col">28</th>
                    <th scope="col">30</th>
                    <th scope="col">31</th>
                    <th scope="col">32</th>
                    <th scope="col">33</th>
                    <th scope="col">34</th>
                    <th scope="col">36</th>
                    <th scope="col">38</th>
                    <th scope="col">40</th>


  
          </tr>
        </thead>
       <tbody>
                  <tr>
                  <td>A.) Waist</td>
                  <td>71</td>
                  <td>76</td>
                  <td>78.5</td>
                  <td>81</td>
                  <td>83.5</td>
                  <td>86</td>
                  <td>91</td>
                  <td>96</td>
                  <td>101</td>
                  </tr>
                  <tr>
                  <td>B.) Hip</td>
                  <td>89</td>
                  <td>94</td>
                  <td>96.5</td>
                  <td>99</td>
                  <td>101.5</td>
                  <td>104</td>
                  <td>109</td>
                  <td>114</td>
                  <td>119</td>
                  </tr>
                  </tbody>
      </table>
</div><!-- Responsive Table -->  
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartOneillMen-Tab5">
<div class="divider divider--md"></div>

       <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
      <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="O'Neill Tops" title="O'Neill Headwear" />
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
      <h4 style="text-transform: uppercase;">Men's Headwear</h4>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">Product Size</th>
                    <th scope="col">S/M</th>
                    <th scope="col">L/XL</th>



  
          </tr>
        </thead>
      <tbody>
                    <tr>
                    <td>Head circumference</td>
                    <td>17.2</td>
                    <td>17.9</td>
                    </tr>
                    </tbody>
      </table>
      <div>
           <h4><code>* Measure the circumference</code></h4>
          </div>
</div><!-- Responsive Table -->  
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="SizeChartOneillMen-Tab6">
<div class="divider divider--md"></div>
<h4 style="text-transform: uppercase;">Men's Belt</h4>

      <div class="divider divider--md"></div>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">Product Size</th>
                    <th scope="col">S/M</th>
                    <th scope="col">L/XL</th>



  
          </tr>
        </thead>
      <tbody>
                    <tr>
                    <td></td>
                    <td>108 CM</td>
                    <td>120 CM</td>
                    </tr>
                    </tbody>
      </table>
</div><!-- Responsive Table -->  
<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/belt-img.jpg?4544470911550085425" alt="O'Neill Tops" title="O'Neill Belt" style="margin: auto;" />
</div>
<div role="tabpanel" class="tab-pane" id="SizeChartOneillMen-Tab7">
<div class="divider divider--md"></div>
  
       <div class="row">
       <div class="col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-wetsuits-mens-template.JPG?7362321092620411030" alt="O'Neill Wetsuits" title="O'Neill Wetsuits" style="width: 88%;"/>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">

      <h4 style="text-transform: uppercase;">Men's Wetsuits & Rashies</h4>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
        <tr>
                    <th scope="col" colspan="5" style="text-align: -webkit-center;">METRIC SIZING</th>
                    <th scope="col" colspan="4" style="text-align: -webkit-center;">IMPERIAL SIZING</th>

          </tr>
          <tr>
                    <th scope="col">Product Size</th>
                   
                    <th scope="col">WEIGHT(KG)</th>
                     <th scope="col">A.HEIGHT(CM)</th>
                    <th scope="col">B.CHEST(CM)</th>
                    <th scope="col">C.WAIST(CM)</th>
                    <th scope="col">WEIGHT(LB)</th>
                     <th scope="col">A.HEIGHT(IN)</th>
                    <th scope="col">B.CHEST(IN)</th>
                    <th scope="col">C.WAIST(IN)</th>


  
          </tr>
        </thead>
      <tbody>
                    <tr>
                    <td>XS</td>
                    <td>57 - 64</td>
                    <td>170 - 175</td>
                    <td>88 - 93</td>
                    <td>71 - 76</td>
                    <td>125 - 140</td>
                    <td>5'7" - 5'9"</td>
                    <td>34.5” - 36.5”</td>
                    <td>28 - 30</td>
                    </tr>
                    <tr>
                    <td>S</td>
                    <td>61 - 70</td>
                    <td>173 - 178</td>
                    <td>93 - 98</td>
                    <td>74 - 79</td>
                    <td>135 - 155</td>
                     <td>5'8" - 5'10"</td>
                    <td>36.5” - 38.5”</td>
                    <td>29 - 31</td>
                    </tr>
                    <tr>
                    <td>MS</td>
                    <td>64 - 73</td>
                    <td>169 - 174</td>
                    <td>98 - 103</td>
                    <td>77 - 83</td>
                    <td>140 - 160</td>
                     <td>5'6.5" - 5'8.5"</td>
                    <td>38.5” - 40.5”</td>
                    <td>30.5 - 32.5”</td>
                    </tr>
                    <tr>
                    <td>M</td>
                    <td>68 - 77</td>
                    <td>175 - 180</td>
                    <td>98 - 103</td>
                    <td>77 - 83</td>
                    <td>150 -170</td>
                    <td>5'9" - 5'11"</td>
                    <td>38.5” - 40.5”</td>
                    <td>30.5” - 32.5”</td>
                    </tr>
                    <tr>
                    <td>MT</td>
                    <td>73 - 82</td>
                    <td>185 - 191</td>
                    <td>98 - 103</td>
                    <td>77 - 83</td>
                    <td>160 - 180</td>
                    <td>6'1" - 6'3"</td>
                    <td>38.5” - 40.5”</td>
                    <td>30.5” - 32.5”</td>
                    </tr>
                    <tr>
                    <td>LS</td>
                    <td>73 - 82</td>
                    <td>171 - 177</td>
                    <td>103 - 108</td>
                    <td>83 - 88</td>
                    <td>160 - 180</td>
                    <td>5'7.5" - 5'9.5"</td>
                    <td>40.5” - 42.5”</td>
                    <td>32.5” - 34.5”</td>
                    </tr>
                    <tr>
                    <td>L</td>
                    <td>77 - 86</td>
                    <td>178 - 183</td>
                    <td>103 - 108</td>
                    <td>83 - 88</td>
                    <td>170 - 190</td>
                    <td>5'10" - 6'0"</td>
                    <td>40.5” - 42.5”</td>
                    <td>32.5” - 34.5”</td>
                    </tr>
                    <tr>
                    <td>XLS</td>
                    <td>82 - 91</td>
                    <td>174 - 179</td>
                    <td>108 - 113</td>
                    <td>88 - 93</td>
                    <td>180 - 200</td>
                    <td>5'8.5" - 5'10.5"</td>
                    <td>42.5” - 44.5”</td>
                    <td>34.5” - 36.5”</td>
                    </tr>
                    <tr>
                    <td>XL</td>
                    <td>86 - 95</td>
                    <td>180 - 185</td>
                    <td>108 - 113</td>
                    <td>88 - 93</td>
                    <td>190 - 210</td>
                    <td>5'11" - 6'1"</td>
                    <td>42.5” - 44.5”</td>
                    <td>34.5” - 36.5”</td>
                    </tr>
                    <tr>
                    <td>2XL</td>
                    <td>95 - 104</td>
                    <td>183 - 188</td>
                    <td>113 - 118</td>
                    <td>93 - 98</td>
                    <td>210 - 230</td>
                    <td>6'0" - 6'2"</td>
                    <td>44.5” - 46.5”</td>
                    <td>36.5” - 38.5”</td>
                    </tr>
                    <tr>
                    <td>3XL</td>
                    <td>104 - 113</td>
                    <td>183 - 191</td>
                    <td>119 - 124</td>
                    <td>98 - 110</td>
                    <td>230 - 250</td>
                    <td>6'0" - 6'3"</td>
                    <td>47" - 49"</td>
                    <td>38.5” - 43.5”</td>
                    </tr>
                    </tbody>
      </table>
</div>
</div>
</div>
<hr>
 <div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/wetsuits-boots.jpg?10154963921715638650" alt="O'Neill Wetsuits" title="O'Neill Wetsuits" style="width: 88%;"/>
</div>
   <div class="col-sm-8 col-md-8 col-lg-8">
      <h4 style="text-transform: uppercase;">Wetsuit Boots (in US Mens shoe size)</h4>
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">Product Size</th>
                    <th scope="col">5</th>
                    <th scope="col">6</th>
                    <th scope="col">7</th>
                    <th scope="col">8</th>
                    <th scope="col">9</th>
                    <th scope="col">10</th>
                    <th scope="col">11</th>
                    <th scope="col">12</th>
                    <th scope="col">13</th>



  
          </tr>
        </thead>
      <tbody>
                    <tr>
                    <td>Aus Men</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    </tr>
                    <tr>
                    <td>European</td>
                    <td>36</td>
                    <td>37/38</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41/42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                    </tr>
                    <tr>
                    <td>Japanese</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    </tr>
                    <tr>
                    <td>XS - XL</td>
                    <td colspan="2">XS</td>
                    <td colspan="2">S</td>
                    <td colspan="2">M</td>
                    <td colspan="2">L</td>
                    <td>XL</td>
                    </tr>
                    </tbody>
      </table>
</div><!-- Responsive Table -->  

</div>
</div>
</div>

  
  
</div>

  


<div role="tabpanel" class="tab-pane" id="SizeChartTab2">



<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartOneillWomen-Tab1" role="tab"data-toggle="tab" class="text-uppercase">Swimwear & Clothing</a></li>

<li><a href="#SizeChartOneillWomen-Tab2" role="tab"data-toggle="tab" class="text-uppercase">Headwear</a></li>

<li><a href="#SizeChartOneillWomen-Tab3" role="tab"data-toggle="tab" class="text-uppercase">Wetsuits & Rashies</a></li>


</ul>


<div class="tab-content tab-content--ys">
<div role="tabpanel" class="tab-pane active" id="SizeChartOneillWomen-Tab1">
<h4 style="text-transform: uppercase;">WOMENS SWIMWEAR, CLOTHING & LYCRA</h4>
<hr>
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-template.JPG?12335422893449224752" alt="O'Neill Womens Size Chart" Title="O'Neill Womens Size Chart">
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<div class="divider divider--md"></div>
<h4 style="text-transform: uppercase;">Women's Size Conversions</h4>

      <div class="divider divider--md"></div>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">XS</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                    <th scope="col">L</th>
                    <th scope="col">XL</th>
                    <th scope="col">XXL</th>


  
          </tr>
        </thead>
       <tbody>
          <tr>
          <td>6</td>
          <td>8</td>
          <td>10</td>
          <td>12</td>
          <td>14</td>
          <td>16</td>
          </tr>
          </tbody>
      </table>

      <h4 style="text-transform: uppercase;">Women’s Body Measurements (CM)</h4>
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">SIZE</th>
                    <th scope="col">XS</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                    <th scope="col">L</th>
                    <th scope="col">XL</th>
                    <th scope="col">XXL</th>


  
          </tr>
        </thead>
       <tbody>
          <tr>
          <td>A| Bust</td>
          <td>80</td>
          <td>85</td>
          <td>90</td>
          <td>95</td>
          <td>100</td>
          <td>105</td>
          </tr>
          <tr>
          <td>B| Waist</td>
          <td>60</td>
          <td>65</td>
          <td>70</td>
          <td>75</td>
          <td>80</td>
          <td>85</td>
          </tr>
          <tr>
          <td>C| Hip</td>
          <td>86</td>
          <td>91</td>
          <td>96</td>
          <td>101</td>
          <td>106</td>
          <td>111</td>
          </tr>
          </tbody>
      </table>
</div><!-- Responsive Table -->  
</div>
</div>
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartOneillWomen-Tab2">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="O'Neill Womens Headwear" Title="O'Neill Womens Headwear">
</div>
<div class="col-sm-8 col-md-8 col-lg-8">

<h4 style="text-transform: uppercase;">Women's Headwear Measurements (CM)</h4>

      <div class="divider divider--md"></div>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">Product size</th>
                    <th scope="col">S/M</th>
                    <th scope="col">L/XL</th>
  
          </tr>
        </thead>
       <tbody>
          <tr>
          <td>Head circumference</td>
          <td>17.2</td>
          <td>17.9</td>
          </tr>
          </tbody>
      </table>
      <div>
           <h4><code>* Measure the circumference</code></h4>
          </div>
</div><!-- Responsive Table -->  
</div>
</div>
</div>
<div role="tabpanel" class="tab-pane" id="SizeChartOneillWomen-Tab3">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/womens-wetsuit-template-new.jpg?12335422893449224752" alt="O'Neill Womens Wetsuits" Title="O'Neill Womens Wetsuits">
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<div class="divider divider--md"></div>
<h4 style="text-transform: uppercase;">Women's Wetsuits Measurements (CM)</h4>

      <div class="divider divider--md"></div>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">Product Size</th>
                    <th scope="col">2</th>
                    <th scope="col">4</th>
                    <th scope="col">6</th>
                    <th scope="col">8</th>
                    <th scope="col">10</th>
                    <th scope="col">12</th>
                    <th scope="col">14</th>
                    <th scope="col">16</th>
          </tr>
          <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">XXS</th>
                    <th scope="col">XS</th>
                    <th scope="col">S</th>
                    <th scope="col">M</th>
                    <th scope="col">L</th>
                    <th scope="col">XL</th>
                    <th scope="col">XXL</th>
          </tr>
        </thead>
      <tbody>
       
          <tr>
          <td>Weight (KG)</td>
          <td>40 - 48</td>
          <td>45 - 52</td>
          <td>50 - 57</td>
          <td>55 - 61</td>
          <td>59 - 68</td>
          <td>64 - 73</td>
          <td>68 - 77</td>
          <td>75 - 84</td>
          </tr>
          <tr>
          <td>A| Chest</td>
          <td>75 - 80</td>
          <td>77 - 83</td>
          <td>80 - 85</td>
          <td>83 - 88</td>
          <td>86 - 91</td>
          <td>90 - 95</td>
          <td>94 - 99</td>
          <td>98 - 102</td>
          </tr>
          <tr>
          <td>B| Waist</td>
          <td>58 - 63</td>
          <td>60 - 66</td>
          <td>63 - 68</td>
          <td>66 - 71</td>
          <td>68 - 73</td>
          <td>73 - 78</td>
          <td>76 - 81</td>
          <td>81 - 86</td>
          </tr>
          <tr>
          <td>C| Height</td>
          <td>155 - 160</td>
          <td>160 - 165</td>
          <td>163 - 168</td>
          <td>165 - 170</td>
          <td>168 - 173</td>
          <td>170 - 175</td>
          <td>172 - 180</td>
          <td>175 - 183</td>
          </tr>

          </tbody>
      </table>
      <h4 style="text-transform: uppercase;">Toddler/Girl Wetsuits Measurements (CM)</h4>
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">Product Size</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">6</th>
                    <th scope="col">8</th>
                    <th scope="col">10</th>
                    <th scope="col">12</th>
          </tr>  
        </thead>
      <tbody>
          <tr>
          <td>Weight (KG)</td>
          <td>11 - 13.5</td>
          <td>13.5 - 16</td>
          <td>16 - 18.5</td>
          <td>16 - 23</td>
          <td>20 - 27</td>
          <td>27 - 34</td>
          <td>34 - 41</td>
          <td>41 - 48</td>
          </tr>
          <tr>
          <td>A| Chest</td>
          <td>48 - 53</td>
          <td>51 - 55.5</td>
          <td>53 - 58.5</td>
          <td>62 - 67</td>
          <td>64 - 69</td>
          <td>66 - 71</td>
          <td>71 - 76</td>
          <td>74 - 79</td>
          </tr>
          <tr>
          <td>B| Waist</td>
          <td>45 - 50</td>
          <td>48 - 53</td>
          <td>50 - 55</td>
          <td>50 - 55</td>
          <td>53 - 58</td>
          <td>55 - 61</td>
          <td>61 - 66</td>
          <td>63 - 68</td>
          </tr>
          <tr>
          <td>C| Height</td>
          <td>78.5 - 98</td>
          <td>98 - 108</td>
          <td>108 - 117</td>
          <td>117 - 124</td>
          <td>124 - 132</td>
          <td>132 - 140</td>
          <td>140 - 147</td>
          <td>147 - 155</td>
          </tr>
          </tbody>
      </table>
</div><!-- Responsive Table -->  
</div>
</div>
</div>

</div>

</div>
  

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartOneillBoys-Tab2" role="tab"data-toggle="tab" class="text-uppercase">Youth Wetsuits</a></li>
<li ><a href="#SizeChartOneillBoys-Tab3" role="tab"data-toggle="tab" class="text-uppercase">Youth Footwear</a></li>

</ul>


<div class="tab-content tab-content--ys">
<div role="tabpanel" class="tab-pane active" id="SizeChartOneillBoys-Tab2">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-youth-template.JPG?12335422893449224752" alt="O'Neill Womens Wetsuits" Title="O'Neill Womens Wetsuits">
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform: uppercase;">Toddler / Youth Wetsuits Measurements (CM) (Unisex sizing for Boys & Girls)</h4>
      <div class="divider divider--md"></div>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
        <thead>
          <tr>
                    <th scope="col">Product Size</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                    <th scope="col">3</th>
                    <th scope="col">4</th>
                    <th scope="col">6</th>
                    <th scope="col">8</th>
                    <th scope="col">10</th>
                    <th scope="col">12</th>
                    <th scope="col">14</th>
                    <th scope="col">16</th>
          </tr>
        </thead>
          <tbody>
         
          <tr>
          <td>Weight (KG)</td>
          <td>11 - 13.5</td>
          <td>13.5 - 16</td>
          <td>16 - 18.5</td>
          <td>16 - 23</td>
          <td>20 - 27</td>
          <td>27 - 34</td>
          <td>34 - 41</td>
          <td>41 - 48</td>
          <td>48 - 54</td>
          <td>54 - 61</td>
          </tr>
          <tr>
           <td>A| Chest</td>
          <td>48 - 53</td>
          <td>51 - 55.5</td>
          <td>53 - 58.5</td>
          <td>62 - 67</td>
          <td>64 - 69</td>
          <td>66 - 71</td>
          <td>71 - 76</td>
          <td>74 - 79</td>
          <td>79 - 84</td>
          <td>84 - 89</td>
          </tr>
          <tr>
         <td>B| Waist</td>
          <td>45 - 50</td>
          <td>48 - 53</td>
          <td>50 - 55</td>
          <td>50 - 55</td>
          <td>53 - 58</td>
          <td>55 - 61</td>
          <td>61 - 66</td>
          <td>63 - 68</td>
          <td>68 - 73</td>
          <td>71 - 76</td>
          </tr>
           <tr>
          <td>C| Height</td>
          <td>87.5 - 98</td>
          <td>98 - 108</td>
          <td>108 - 117</td>
          <td>117 - 124</td>
          <td>124 - 132</td>
          <td>132 - 140</td>
          <td>140 - 147</td>
          <td>147 - 155</td>
          <td>155 - 163</td>
          <td>163 - 170</td>

          </tr>
          </tbody>
      </table>
</div><!-- Responsive Table -->  
</div>
</div>


</div>

<div role="tabpanel" class="tab-pane" id="SizeChartOneillBoys-Tab3">
 <div class="row">
<div class="col-sm-4 col-md-4 col-lg-4">
<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/wetsuits-boots.jpg?10154963921715638650" alt="O'Neill Wetsuits" title="O'Neill Wetsuits" style="width: 88%;"/>
</div>
   <div class="col-sm-8 col-md-8 col-lg-8">
<div class="divider divider--md"></div>
<h4 style="text-transform: uppercase;">Youth Wetsuit Boots</h4>

      <div class="divider divider--md"></div>
      <div class="table_responsive">
      <table class="table table-bordered table-striped billa_boys">
      
    <tbody>
    <tr>
    <td>USA</td>
    <td>8</td>
    <td>9</td>
    <td>10</td>
    <td>11</td>
    <td>12</td>
    <td>13</td>
    <td>1</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
    </tr>
    <tr>
    <td>European</td>
    <td>26</td>
    <td>27</td>
    <td>28</td>
    <td>29</td>
    <td>30</td>
    <td>31</td>
    <td>32</td>
    <td>33</td>
    <td>34</td>
    <td>35</td>
    </tr>
    <tr>
    <td>XS - XL</td>
    <td colspan="2">XS</td>
    <td colspan="2">S</td>
    <td colspan="2">M </td>
    <td colspan="2">L</td>
    <td colspan="2">XL</td>
    </tr>

    </tbody>
      </table>
</div><!-- Responsive Table -->  
</div>
</div>
</div>

</div>
</div>


<p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>

</div>