<div class="row">
    <div class="col-sm-12 col-md-12 ">
     
      
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/110718-finance.png?8070344238656164048" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/110718-finance1.png?8070344238656164048" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="mmsr-title">
          <div class="mmsr-title-cont">
         <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
         <ul>
          <li>Our certified mechanic can service most European and Japanese bikes.</li>
          <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
          <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
          <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
        </ul> 
          </div>
        </div>
        
        <div class="clear"></div>
    </div>

</div>
<div class="divider divider--lg"></div>


<div class="jg_custom_pages">

{% include "page.motorcycle-service-menu-all" %}

  <div class="divider divider--lg"></div>

  <div class="motor-menu-cont">

    <div class="row visible-xs">


      <div class = "col-sm-12 col-md-6 col-lg-6 jg_custom_col">
        <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/financing-103018.png?2732567947573126125">
      </div>
      <div class ="divider divider--sm"></div>
      <div class = "col-sm-12 col-md-6 col-lg-6 jg_custom_col">

        <h4 class="uppercase_txt home_title">MOTORHELMETS FINANCING AVAILABLE</h4>
        <ul class ="simple-list-2 color-dark pull-left">
          <li>Approval in Less than 60 Seconds.</li>
          <li>Choose Personalized Payment Options.</li>
          <li>Review Agreement, E-sign, and take home your purchase.</li>
          <li>Amount Financed ranges from $10.00 - $3,000.00</li>
          <li>Annual Percentage Rate (APR ) Starting at 0% (if you qualify)*</li>
          <li><a href= "/pages/motorhelmets-online-financing-for-in-store-purchases-6-step-process">Apply Online</a> or at the Store</li>

        </ul>

        <ul class ="simple-list-2 color-dark pull-left" style = "list-style-type:decimal";>
          <h4 class="uppercase_txt">REQUIREMENTS</h4>
          <li>Must have a California issued ID or Driver's License.</li>
          <li>Valid Email Address</li>
          <li>Bank Issued Debit Card</li>
          <p class ="text-danger" style = "color:#a94442!important;">Note: We swipe your driver’s license and we get an answer in 60 seconds.</p>
        </ul>

        <ul class ="simple-list-2 color-dark pull-left" style = "list-style-type:decimal";>
          <h4 class="uppercase_txt">SELECT YOUR</h4>
          <li>Financing Length Options:</li>
          <ul style ="list-style-type:lower-alpha";>
            <li>3 Months</li>
            <li>6 Months</li>
            <li>12 Months</li>
          </ul>
          <li>Provide a low down payment (Based on Terms and Overall Financing Amount)</li>
          <li>Monthly finance payment will automatically be debited from your bank account on the same day every month. ie. Day of Purchase.</li>
        </ul>
      </div>
    </div>


    <div class="row table hidden-xs">


      <div class = "col-sm-12 col-md-6 col-lg-6 cell jg_custom_col">
        <img class = "img-responsive pull-right hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/financing-103018.png?2732567947573126125">
      </div>
      <div class = "col-sm-12 col-md-6 col-lg-6 cell jg_custom_col">

        <h4 class="uppercase_txt home_title">MOTORHELMETS FINANCING AVAILABLE</h4>
        <ul class ="simple-list-2 color-dark pull-left">
          <li>Approval in Less than 60 Seconds.</li>
          <li>Choose Personalized Payment Options.</li>
          <li>Review Agreement, E-sign, and take home your purchase.</li>
          <li>Amount Financed ranges from $10.00 - $3,000.00</li>
          <li>Annual Percentage Rate (APR ) Starting at 0% (if you qualify)*</li>
          <li><a href= "/pages/motorhelmets-online-financing-for-in-store-purchases-6-step-process">Apply Online</a> or at the Store</li>

        </ul>

        <ul class ="simple-list-2 color-dark pull-left" style = "list-style-type:decimal";>
          <h4 class="uppercase_txt">REQUIREMENTS</h4>
          <li>Must have a California issued ID or Driver's License.</li>
          <li>Valid Email Address</li>
          <li>Bank Issued Debit Card</li>
          <p class ="text-danger" style = "color:#a94442!important;">Note: We swipe your driver’s license and we get an answer in 60 seconds.</p>
        </ul>

        <ul class ="simple-list-2 color-dark pull-left" style = "list-style-type:decimal";>
          <h4 class="uppercase_txt">SELECT YOUR</h4>
          <li>Financing Length Options:</li>
          <ul style ="list-style-type:lower-alpha";>
            <li>3 Months</li>
            <li>6 Months</li>
            <li>12 Months</li>
          </ul>
          <li>Provide a low down payment (Based on Terms and Overall Financing Amount)</li>
          <li>Monthly finance payment will automatically be debited from your bank account on the same day every month. ie. Day of Purchase.</li>
        </ul>
      </div>
    </div>

    <div class ="divider divider--lg"></div>

      <div class="">

        <!--     TAB 1 -->
        <div class="">

			  <div class="table_responsive">
				  <table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th scope="col" class="moto-serv-title text-center">MOTORHELMETS FINANCING FAQ</th>
				      </tr>
				    </thead>
				  <tbody class="financing">
				    <tr>
				      <td class=""><span>Can I apply Online?</span> <br> A ) Yes. Apply Online and buy at the store. <a href="/pages/motorhelmets-online-financing-for-in-store-purchases-6-step-process"><b>Apply Now</b></a></td>
				    </tr>
				    <tr>
				      <td><span>If I apply, do I have to go through with the financing?</span><br>
				           A ) Based on your interest rate and term options, you can choose to accept the terms or cancel completely. There is no obligation.</td>
				    </tr>
				    <tr>
				      <td><span> Can I change the day of my payment? I made my purchase on the 22nd of January but I would like to make my payment on the 1st of every month.</span><br>
				           A ) Yes, you can. Call the finance company and make your request. </td>
				    </tr>
				    <tr>
				      <td> <span> Will you run my credit to apply for financing? </span><br>
				           A ) Yes, we will run a soft credit check. Most of the time, we do not need your Social Security number.</td>
				    </tr>
				    <tr>
				      <td><span> What if I pay off my loan early, will I still have to pay the full finance charge?</span> <br>
				           A ) No. If you pay your loan off earlier than expected, the bank will prorate the finance charge to the day the loan was paid.</td>
				    </tr>
				    <tr>
				      <td><span> Can I finance Motorcycle Service Charges? What If I want some gear, and get some work done on my bike?</span><br>
				          
				           A ) Yes. Any purchase from Motorhelmets can be financed </td>
				    </tr>
				    <tr>
				      <td><span>Can I get approval over the phone?</span> <br>
				          
				           A ) Must be in person. </td>
				    </tr>
				    <tr>
				      <td><span>Can I use my financing to buy online?</span> <br>
				           A ) For now, our financing is only for store purchases at Motorhelmets in Fullerton CA. You can use it to buy gear or get your bike repaired and serviced. </td>
				    </tr>
				  </tbody>
				  </table>
			
				</div>		
          <p class ="text-danger" style = "color:#a94442!important;">For more information, please contact us via email: ruben@motorhelmets.com</p>
          <p class ="small text-danger" style = "color:#a94442!important;"> * Interest Rates can run from 0% APR to 36% APR depending on your personal credit.</p>
        </div>
      </div>
	  <div class="divider divider--lg"></div>
      <div class="text-center">
        
        <h1>
          <a href="https://motorhelmets.com/pages/motorhelmets-online-financing-for-in-store-purchases-6-step-process">
            Apply for Financing Now
           </a> 
            
            </h1>
        <h5>Approval in Seconds</h5>
        

      </div>

     <div class="divider divider--md"></div>
	<hr>
</div>






