<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
<li class=""><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
<li class=""><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>

</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-apparel-bb.jpg?5713314687247954472" alt="Black Brand Mens Size Charts" title="Black Brand Mens Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Men's Size Chart</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th>Size  </th>
          <th>A.| Neck  </th>
          <th>B.| Chest </th>
          <th>C.| Sleeve</th>
          <th>D.| Waist</th>
        </tr>
      </thead>
     <tbody>
        <tr>
          <td>M       </td>
          <td>15-151⁄2</td>
          <td>38-40   </td>
          <td>331⁄2-34</td>
          <td>32-34   </td>
        </tr>
        <tr>
       <td>L       </td>
          <td>16-161⁄2</td>
          <td>42-44   </td>
          <td>341⁄2-35</td>
          <td>36-38   </td>
        </tr>
        <tr>
       <td>XL      </td>
          <td>17-171⁄2</td>
          <td>46-48   </td>
          <td>351⁄2-36</td>
          <td>40-42   </td>
        </tr>
        <tr>
      <td>2XL     </td>
          <td>18-181⁄2</td>
          <td>50-52   </td>
          <td>36-361⁄2</td>
          <td>44-46   </td>
        </tr>
           <tr>
             <td>3XL     </td>
          <td>19-191⁄2</td>
          <td>54-56   </td>
          <td>361⁄2-37</td>
          <td>50-52</td>

        </tr>
    </tbody>
    </table>
    <p class="sizechart-note"><code>*</code>&nbsp;Sizing measurements shown on charts are in inches.</p>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
<div class="row">
<div class="col-sm-2 col-md-2 col-lg-2">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-womens-apparel-bb.jpg?5713314687247954472" alt="Black Brand Womens Size Charts" title="Black Brand Womens Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-10 col-md-10 col-lg-10">
<h4 style="text-transform:uppercase;font-weight: bold;">Women's Size Chart</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
        <th>Size</th>
        <th>A.| Bust</th>
        <th>B.| Sleeve</th>
        <th>C.| Waist</th>
        <th>D.| Hip</th>
        </tr>
      </thead>
     <tbody>
        <tr>
         <td>2XS     </td>
          <td>32      </td>
          <td>29      </td>
          <td>241⁄2   </td>
          <td>341⁄2   </td>
        </tr>
        <tr>
         <td>XS      </td>
          <td>33      </td>
          <td>281⁄2-29</td>
          <td>251⁄2   </td>
          <td>351⁄2   </td>
        </tr>
        <tr>
         <td>S       </td>
          <td>34-35   </td>
          <td>291⁄2-30</td>
          <td>261⁄2-271⁄2</td>
          <td>361⁄2-371⁄2</td>
        </tr>
        <tr>
          <td>M       </td>
          <td>36-37   </td>
          <td>301⁄2-31</td>
          <td>281⁄2-291⁄2</td>
          <td>381⁄2-391⁄2</td>
        </tr>
          <tr>
          <td>L          </td>
          <td>381⁄2-40   </td>
          <td>311⁄2-32   </td>
          <td>31-321⁄2   </td>
          <td>41-42      </td>
        </tr>
          <tr>
          <td>XL         </td>
          <td>411⁄2-431⁄2</td>
          <td>331⁄2-33</td>
          <td>34-361⁄2</td>
          <td>44-46   </td>
        </tr>
          <tr>
    <td>2XL     </td>
          <td>451⁄2   </td>
          <td>33-331⁄2</td>
          <td>38 </td>
          <td>48 </td>
        </tr>
            <tr>
          <td>3XL</td>
          <td>46</td>
          <td>33</td>
          <td>41</td>
          <td>50</td>
        </tr>
    </tbody>
    </table>
        </div><!-- Responsive Table -->
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp;Sizing measurements shown on charts are in inches.</p>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
      
     
   </div>

</div><!-- SizeChartMenTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Black Brand Helmet Size Charts" title="Black Brand Helmet Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">How To Measure For A Perfect Fit</h4>
<p>Measure the circumference of your head from center of the forehead around the head, approximately 1/2" (1.5cm) above ears. This should be the widest part of your head. Make note of measurement and refer to the sizing chart below to ensure an ideal fit.  </p>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>SIZE </th>
          <th>Head Circumference </th>
        </tr>
      </thead>
     <tbody>
          <tr>
         <td>XS</td>
        <td>207⁄8 - 21</td>
        </tr>
         <tr>
          <td>S       </td>
        <td>211⁄2 - 22</td>
        </tr>
        <tr>
         <td>M       </td>
          <td>221⁄2 - 23</td>
        </tr>
        <tr>
         <td>L</td>
        <td>231⁄4 - 233⁄5</td>
        </tr>
         <tr>
        <td>XL      </td>
        <td>24 - 241⁄2</td>
        </tr>
         <tr>
         <td>2XL     </td>
          <td>25 - 251⁄2</td>
        </tr>
         <tr>
        <td>3XL     </td>
          <td>26 - 261⁄2</td>
        </tr>
    </tbody>
    </table>

<p class="sizechart-note"><code>*</code>&nbsp;Sizing measurements shown on charts are in inches.</p>
       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>

</div><!-- SizeChartMenTab3 -->








</div><!-- ys -->