<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->

<h3 class="text-center title-under uppercase_txt home_title">Dunlop Motorcycle Tire Information Page</h3>

<div class="divider divider--sm"></div>
<!--  -->
<h4 class="color font30">That's Dunlop. And That's Driving.</h4>

<hr class="hr-sm" />

<p>Welcome to Dunlop. Where the smell of hot rubber and the crunch of asphalt beneath beefy wheels are two of life’s finest experiences. Dunlop is about driving. Driving is about Dunlop. And it’s been this way since our beginning. </p>

<p>It all started in 1888, when a small boy struggled to ride a tricycle with solid rubber wheels. John Boyd Dunlop grew tired of watching his son struggle with the cumbersome tires and patented his own design - marking the birth of what we now know as today’s modern-day tire. </p>

<p>The legend grew by leaps and bounds — and RPMs. What started as a tricycle tire grew to become a racing radial for 200 mph motorsport vehicles, way ahead of the times. The Dunlop name became as popular in racing circles as that notorious checkered flag. </p>

<p>So here we are today, thriving on that motorsports heritage. Blending the latest technology with OE experience. Taking everything we learn on the race tracks and incorporating it into tires for the most discerning drivers.</p>


</div>
</div>