

{% if "logo" == condition %}

<img class="store_wall_logo img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-store-logo.jpg?18164427811650110405" alt="">

{% elsif "header" == condition %}


  <div class="wall-list-menu">
    <ul>
      <li><a href="#collections" scrollthis="#collections" class="">Collections</a></li>
      <li><a href="#lookbooks" scrollthis="#lookbooks" class="">Lookbooks</a></li>
      <li><a href="#sizing-guide" scrollthis="#sizing-guide">Sizing Guide</a></li>
      <li><a href="#history" scrollthis="#history" class="">About Icon</a></li>
      <li><a href="#new-arrivals" scrollthis="#new-arrivals" class="">New Arrivals</a></li>
      <li><a target="_blank" href="/collections/icon" class="">Shop All</a></li>
      
    </ul>
  </div>

  <nav class="cd-vertical-nav">
      <ul>
        <li><a href="#top" class="active"><span class="label">Top</span></a></li>
        <li><a href="#collections"><span class="label">Collections</span></a></li>
        <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
        <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>
        <li><a href="#history"><span class="label">About Icon</span></a></li>
        <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
      </ul>
  </nav><!-- .cd-vertical-nav -->

  <button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 





<div class="container box-baners">


  
  
  
  
  
<div class="wall_grid_banner_slider-4-items slider">
    
    


  
    <div class="holiday-gift-slider-sub">
      
        <div class="holiday-gift-slider-content">
          <div class="black-bg"></div>

                <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-wall-helmet-logo.jpg?14612037851969501123" title="Icon Helmets" alt="Icon Helmets" />

          
                <div class="holiday-gift-slider-content-footer">
                <div class="holiday-gift-slider-content-footer-content-block">
                    <h3>Helmets</h3>
                </div>
                {% if collections['icon-helmets-collections'].all_products_count > 0 %}  
                <a href="/collections/icon-helmets-collections" class="white-btn">Shop Now</a>
              {% else %}
                <a href="javascript:void(0);" class="white-btn">Collection Not Available</a>
                {% endif %}
              </div>
        </div>
    </div>
  

    <div class="holiday-gift-slider-sub">
      
        <div class="holiday-gift-slider-content">
          <div class="black-bg"></div>

                <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-wall-jacket-logo.jpg?14605042559318935067" title="Icon Jackets" alt="Icon Jackets" />

          
                <div class="holiday-gift-slider-content-footer">
                <div class="holiday-gift-slider-content-footer-content-block">
                    <h3>Jackets</h3>
                </div>
                {% if collections['icon-jacket-collections'].all_products_count > 0 %}
                <a href="/collections/icon-jacket-collections" class="white-btn">Shop Now</a>
              {% else %}
                <a href="javascript:void(0);" class="white-btn">Collection Not Available</a>
                {% endif %}
              </div>
        </div>
    </div>
  
    <div class="holiday-gift-slider-sub">
      
        <div class="holiday-gift-slider-content">
          <div class="black-bg"></div>

                <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-wall-gloves-logo.jpg?17928155206368272705" title="Icon Gloves" alt="Icon Gloves" />

          
                <div class="holiday-gift-slider-content-footer">
                <div class="holiday-gift-slider-content-footer-content-block">
                    <h3>Gloves</h3>
                </div>
                {% if collections['icon-gloves-collections'].all_products_count > 0 %}
                <a href="/collections/icon-gloves-collections" class="white-btn">Shop Now</a>
              {% else %}
                <a href="javascript:void(0);" class="white-btn">Collection Not Available</a>
                {% endif %}
              </div>
        </div>
    </div>

  
      <div class="holiday-gift-slider-sub">
      
        <div class="holiday-gift-slider-content">
          <div class="black-bg"></div>

                <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-wall-footwear-logo.jpg?17928155206368272705" title="Icon Footwear" alt="Icon Footwear" />

          
                <div class="holiday-gift-slider-content-footer">
                <div class="holiday-gift-slider-content-footer-content-block">
                    <h3>Footwear</h3>
                </div>
                {% if collections['icon-footwear-collections'].all_products_count > 0 %}
                <a  href="/collections/icon-footwear-collections" class="white-btn">Shop Now</a>
              {% else %}
                <a href="javascript:void(0);" class="white-btn">Collection Not Available</a>
                {% endif %}
          </div>
        </div>
    </div>

</div>
  


<div class="divider divider--md"></div>
  
<div class="row" style="margin:0">
  
<div class="col-sm-12 col-md-6">
  <a href="/collections/icon-mens-collection" class="banner zoom-in">
    <span class="figure"> 
      <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-wall-men-logo.jpg?3482540443084140826" alt="">
      <span class="figcaption">
        <span class="block-table">
          <span class="block-table-cell">
            <span class="btn btn--ys btn--xl banner_btn wall_shop_btn">Mens <em>Shop Now</em></span>
          </span>
        </span>
      </span>
    </span>
  </a>
</div>
<div class="divider visible-sm visible-xs"></div>
<div class="col-sm-12 col-md-6">
  <a href="/collections/icon-womens-collection" class="banner zoom-in">
    <span class="figure"> 
      <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-wall-women-logo.jpg?5794364303711712690" alt="">
      <span class="figcaption">
        <span class="block-table">
          <span class="block-table-cell">
            <span class="btn btn--ys btn--xl banner_btn wall_shop_btn">Womens<em>Shop Now</em></span>
          </span>
        </span>
      </span>
    </span>
  </a>
</div>

      
</div>

  
</div>  
  
  

  <div class="divider divider--lg"></div>
{% elsif "collection" == condition %}

<div class="container">

  
<div class="row">
  
<div class="col-sm-6 col-md-6 col-lg-6">
<h3 class="text-left text_uppercase black_txt moto_wall_sub_title">Mens</h3>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="mobile-collapse">
        <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
         <a href="//motorhelmets.com/collections/icon-mens-collection">Clothing</a></h4>
        <div class="v-links-list mobile-collapse__content">
                <ul class="davz_wall_collection_list">
                <li><a {% if collections['icon-mens-tees'].all_products_count > 0 %} href="/collections/icon-mens-tees" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Tees</a></li>
                <li><a {% if collections['icon-mens-shirts'].all_products_count > 0 %} href="/collections/icon-mens-shirts" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Shirts</a></li>
                <li><a {% if collections['icon-mens-tanks'].all_products_count > 0 %} href="/collections/icon-mens-tanks" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Tanks</a></li>
                <li><a {% if collections['icon-mens-sweatshirts'].all_products_count > 0 %} href="/collections/icon-mens-sweatshirts" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %}>Sweatshirts</a></li>
                <li><a {% if collections['icon-mens-jackets'].all_products_count > 0 %} href="/collections/icon-mens-jackets" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %}>Jackets</a></li>
                 <li><a {% if collections['icon-mens-pants'].all_products_count > 0 %} href="/collections/icon-mens-pants" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %}>Pants</a></li>
                </ul>
            </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="mobile-collapse">
          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
           <a href="javascript:void(0);">Street</a></h4>
                  <div class="v-links-list mobile-collapse__content">
                  <ul class="davz_wall_collection_list">
                      <li><a {% if collections['icon-mens-street-jackets'].all_products_count > 0 %} href="/collections/icon-mens-street-jackets" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Jackets</a></li>
                      <li><a {% if collections['icon-mens-street-gloves'].all_products_count > 0 %} href="/collections/icon-mens-street-gloves" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Gloves</a></li>
                      <li><a {% if collections['icon-mens-street-boots'].all_products_count > 0 %} href="/collections/icon-mens-street-boots" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Boots</a></li>
                      <li><a {% if collections['icon-mens-street-pants'].all_products_count > 0 %} href="/collections/icon-mens-street-pants" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Pants</a></li>
                      <li><a {% if collections['icon-mens-street-body-armor'].all_products_count > 0 %} href="/collections/icon-mens-street-body-armor" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Body Armor</a></li>
                      <li><a {% if collections['icon-mens-street-helmets'].all_products_count > 0 %} href="/collections/icon-mens-street-helmets" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Helmets</a></li>
                      <li><a {% if collections['icon-men-street-vests'].all_products_count > 0 %} href="/collections/icon-men-street-vests" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Vest</a></li>
                  </ul>
                  </div>
        </div>
    </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="mobile-collapse">
        <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
         <a href="javascript:void(0);">Accessories</a></h4>
        <div class="v-links-list mobile-collapse__content">
                <ul class="davz_wall_collection_list">
                <li><a {% if collections['icon-mens-hats'].all_products_count > 0 %}href="/collections/icon-mens-hats"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Hats</a></li>
                <li><a {% if collections['icon-mens-beanies'].all_products_count > 0 %}href="/collections/icon-mens-beanies"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Beanies</a></li>
                <li><a {% if collections['icon-mens-wallets'].all_products_count > 0 %}href="/collections/icon-mens-wallets"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Wallets</a></li>
                <li><a {% if collections['icon-mens-socks'].all_products_count > 0 %}href="/collections/icon-mens-socks"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Socks</a></li>
                <li><a {% if collections['icon-mens-belts'].all_products_count > 0 %}href="/collections/icon-mens-belts"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Belts</a></li>
                <li><a {% if collections['icon-mens-scarves'].all_products_count > 0 %}href="/collections/icon-mens-scarves"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Scarves</a></li>
                <li><a {% if collections['icon-mens-keychains'].all_products_count > 0 %}href="/collections/icon-mens-keychains"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Keychains</a></li>
                <li><a {% if collections['icon-mens-luggage'].all_products_count > 0 %}href="/collections/icon-mens-luggage"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Luggage</a></li>
                </ul>
            </div>
      </div>
    </div>
    
    
  </div>
  
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6 womens_coll">
<h3 class="text-left text_uppercase black_txt moto_wall_sub_title">Womens</h3>
<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="mobile-collapse">
        <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
         <a href="//motorhelmets.com/collections/icon-womens-collection">Clothing</a></h4>
        <div class="v-links-list mobile-collapse__content">
                <ul class="davz_wall_collection_list">
                  <li><a {% if collections['icon-womens-tees'].all_products_count > 0 %}href="/collections/icon-womens-tees"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Tees</a></li>
                  <li><a {% if collections['icon-womens-shirts'].all_products_count > 0 %}href="/collections/icon-womens-shirts"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Shirts</a></li>
                  <li><a {% if collections['icon-womens-tanks'].all_products_count > 0 %}href="/collections/icon-womens-tanks"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Tanks</a></li>
                  <li><a {% if collections['icon-womens-pants'].all_products_count > 0 %}href="/collections/icon-womens-pants"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Pants</a></li>
                  <li><a {% if collections['icon-womens-sweatshirts'].all_products_count > 0 %}href="/collections/icon-womens-sweatshirts"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Sweatshirts</a></li>
                  <li><a {% if collections['icon-womens-jackets'].all_products_count > 0 %}href="/collections/icon-womens-jackets"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Jackets</a></li>
                </ul>
            </div>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="mobile-collapse">
          <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
           <a href="javascript:void(0);">Street</a></h4>
                  <div class="v-links-list mobile-collapse__content">
                  <ul class="davz_wall_collection_list">
                      <li><a {% if collections['icon-womens-street-jackets'].all_products_count > 0 %} href="/collections/icon-womens-street-jackets" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Jackets</a></li>
                      <li><a {% if collections['icon-women-street-gloves'].all_products_count > 0 %} href="/collections/icon-women-street-gloves" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Gloves</a></li>
                      <li><a {% if collections['icon-womens-street-boots'].all_products_count > 0 %} href="/collections/icon-womens-street-boots" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Boots</a></li>
                      <li><a {% if collections['icon-womens-street-pants'].all_products_count > 0 %} href="/collections/icon-womens-street-pants" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Pants</a></li>
                      <li><a {% if collections['icon-womens-street-body-armor'].all_products_count > 0 %} href="/collections/icon-womens-street-body-armor" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Body Armor</a></li>
                      <li><a {% if collections['icon-womens-street-helmets'].all_products_count > 0 %} href="/collections/icon-womens-street-helmets" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Helmets</a></li>
                      <li><a {% if collections['icon-womens-street-vests'].all_products_count > 0 %} href="/collections/icon-womens-street-vests" {% else %} class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty" {% endif %} >Street Vest</a></li>
                  </ul>
                  </div>
        </div>
    </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="mobile-collapse">
        <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
         <a href="javascript:void(0);">Accessories</a></h4>
        <div class="v-links-list mobile-collapse__content">
                <ul class="davz_wall_collection_list">
                <li><a {% if collections['icon-womens-hats'].all_products_count > 0 %}href="/collections/icon-womens-hats"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Hats</a></li>
                <li><a {% if collections['icon-womens-beanies'].all_products_count > 0 %}href="/collections/icon-womens-beanies"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Beanies</a></li>
                <li><a {% if collections['icon-womens-scarves'].all_products_count > 0 %}href="/collections/icon-womens-scarves"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Scarves</a></li>
                <li><a {% if collections['icon-womens-luggage'].all_products_count > 0 %}href="/collections/icon-womens-luggage"{% else %}class="empty_collection" href="javascript:void(0);" data-placement="top" data-toggle="popover" data-trigger="focus" data-content="This Collection is Currenlty Empty"{% endif %}>Luggage</a></li>
                </ul>
            </div>
      </div>
    </div>
    
    
  </div>
  
  </div>
  
  </div>  
  
  
</div>




{% elsif "lookbooks" == condition %}


{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
  {% assign counter = 0 %}
  {% paginate blogs['lookbook'].articles by totalLookbookCount %}
    {% for article in blogs['lookbook'].articles %}
      {% if counter < 6 and article.tags contains 'Icon' or article.tags contains 'icon' or article.tags contains 'Icon Racing' %}
          {% assign counter = counter | plus: 1 %}
                            <div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">
                    
                  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
                       <div>
                        {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
                       </div>
                                         
                          <div class="TeaserGrid-content" style="margin-top: 6px;">
                            <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
                           </div>                       
                    </a>
                    
                  </div>
      {% endif %}
    {% endfor %}
  {% endpaginate %}

  
 <div class="divider divider--md"></div>
<div class="text-center" id="dmore-lb">
          <a href="/search?type=article&q=icon" class="btn btn--ys btn--xl obs_show_more_btn text-center margin_top-50"></a>
    </div>




{% elsif "brand_sizing_guide" == condition %}
    {% include 'page.icon-size-chart' %}




{% elsif "brand_story" == condition %}
  <div class="text-center">
  <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-store-banner.jpg?1694471417466869463" alt="">
  </div>

<div class="divider divider--md"></div>
<div class="wall-brand-desc-content">
  
<p>Founded in 2002, ICON burst onto the scene with unabashed attitude and a heavy right wrist. ICON was created to address the modern performance rider who claimed the streets as their preferred hunting grounds. Our products are designed to address the unique needs of these riders—unforgiving asphalt, gravel-strewn corners, and inattentive cagers—all things we experience on our daily rides. As a company of riders we understand our kind, we know what goes on in our minds...and we’ve felt the pain when the inevitable occurs. This firsthand knowledge leads our inspired product design, industry leading imagery, and top-notch service. Our core mission is protecting riders whenever and however we can, knowing that reckoning day is coming for all of us. Be prepared, ride smart, and "Ride Among Us."</p>

</div>
<div class="wall-see-more-desc">
  

  
  <a href="javascript:void(0);" id="wall_seemore_desc">Read More..</a>


</div>



{% endif %}