<style>
  .new_davz_wall_collection_list{
    /* font-family: "hurme-regular"; */
    text-transform: uppercase;
    font-size: .90em;
    color: #222;
    letter-spacing: .110em;
    display: block;
    width: 100%;
    transition: all .5s ease 0s;
    padding: 5px;
    margin-left: 18px;
  }
  .hide-collection li:before{
    display: none;
    vertical-align: middle;
    float: left;
    color: black;
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    content: "\e019";
    font-size: .80em;
    transition: all .5s ease 0s;
    position: relative;
    top: 7px; 
  }

  #more_info{
    display:none; 
  }
</style>

{% if "logo" == condition %}

<a href = "/collections/fox-racing">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-banner-min.jpg?16911148408327306430" alt="Fox Racing Brand Wall Banner" title =  "Fox Racing Brand Wall Banner">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-mobile-banner-min.jpg?15944934768595391754" alt="Fox Racing Brand Wall Banner" title =  "Fox Racing Brand Wall Banner">
</a>


{% elsif "header" == condition %}

<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
<!--     <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li> -->
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/fox-racing" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>


<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
<!--     <li><a href="#more_info"><span class="label">More Info</span></a></li> -->
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->




{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-womens-gear-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-womens-gear-banner-min.jpg?1378313445011407016">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-mens-gear-collections">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-mens-gear-banner-2-min.jpg?1378313445011407016">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-off-road-helmets">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-helmets-banner-min.jpg?18428164852802323259">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-off-road-goggles-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">GOGGLES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-goggles-banner-min.jpg?12817912479476685251">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-mx-jerseys">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">JERSEYS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-jerseys-banner-min.jpg?11095554717079146297">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-off-road-pants">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">PANTS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-pants-banner-min.jpg?11620577366436080990">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class ="hot-sale-banner-holder row">
      <a href = "https://motorhelmets.com/collections/fox-racing-sale">
        <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-hot-sale-banner-min.jpg?11620577366436080990" alt="Fox Racing Hot Sale" title = "Fox Racing Hot Sale">
      </a>
    </div>
  </div>
</div>
  
  
  
  
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-mx-gloves">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">GLOVES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-gloves-banner-min.jpg?4455005373766575990">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-boots">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">BOOTS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-boots-banner-2-min.jpg?11620577366436080990">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-body-armor">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">BODY ARMOR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-body-armor.jpg?321637055331540592">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fox-racing-casual-wear">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">CASUAL WEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-casual-banner-min.jpg?4991136908552418664">
        </a>
      </div>
    </div>
  </div>
</div>
</div>


<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-womens-gear-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-womens-gear-mobile-banner-min.jpg?10393080128322784082">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-mens-gear-collections">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-mens-gear-mobile-banner-2-min.jpg?14062961111670557983">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-off-road-helmets">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-helmets-mobile-banner-min.jpg?1991597872920643457">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-off-road-goggles-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">GOGGLES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-goggle-mobile-banner.jpg?15001335682975078073">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-mx-jerseys">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">JERSEYS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-jerseys-mobile-banner-min.jpg?12240048202999186494">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-off-road-pants">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">PANTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-pants-mobile-banner-min.jpg?2206496937247581091">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm"></div>
    <div class ="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class = "row">
        <div class ="hot-sale-banner-holder">
          <a href = "https://motorhelmets.com/collections/fox-racing-sale">
            <img class="img-responsive hot-sale-banner" src="https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-hot-sale-mobile-banner-min.jpg?11198626325695724694" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-gloves-banner-min.jpg?4455005373766575990">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">GLOVES</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-gloves-mobile-banner-min.jpg?9583159022411963788">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-boots">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">BOOTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-boots-mobile-banner-min.jpg?16723759834699197766">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-body-armor">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">BODY ARMOR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-body-armor-mobile-banner-min.jpg?14359878712858842057">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fox-racing-casual-wear">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CASUAL WEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-racing-casual-mobile-banner-min.jpg?7568813177409036087">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>







<div class="divider divider--lg"></div>
{%comment%}
{% elsif "collection" == condition %}

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
      <h3 class="text-left text_uppercase black_txt moto_wall_sub_title">Mens</h3>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="//motorhelmets.com/collections/fox-racing-mens-collection">Clothing</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">

                <li {% if collections['fox-racing-mens-tees'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} ><a href="/collections/fox-racing-mens-tees" >Tees</a></li>
                <li {% if collections['fox-racing-mens-shirts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a  href="/collections/fox-racing-mens-shirts">Shirts</a></li>
                <li {% if collections['fox-racing-mens-tanks'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-tanks">Tanks</a></li>
                <li {% if collections['fox-racing-mens-sweatshirts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-sweatshirts">Sweatshirts</a></li>
                <li {% if collections['fox-racing-mens-jackets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} ><a href="/collections/fox-racing-mens-jackets"} >Jackets</a></li>
                <li {% if collections['fox-racing-mens-shorts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} ><a  href="/collections/fox-racing-mens-shorts">Shorts</a></li>
                <li	{% if collections['fox-racing-mens-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} ><a  href="/collections/fox-racing-mens-pants">Pants</a></li>
                <li {% if collections['fox-racing-mens-underwear'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-underwear">Underwear</a></li>
                <li {% if collections['fox-racing-mens-boardshorts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-boardshorts">Boardshorts</a></li>
                <li {% if collections['fox-racing-mens-rashguards'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-rashguards" >Rashguards</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="/collections/fox-racing/mens+off-road">Moto</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">

                <li {% if collections['fox-racing-mens-mx-jerseys'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} ><a  href="/collections/fox-racing-mens-mx-jerseys">MX Jerseys</a></li>
                <li {% if collections['fox-racing-mens-mx-jackets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-mx-jackets">MX Jackets</a></li>
                <li {% if collections['fox-racing-mens-mx-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-mx-pants">MX Pants</a></li>
                <li {% if collections['fox-racing-mens-mx-helmets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-mx-helmets">MX Helmets</a></li>
                <li {% if collections['fox-racing-mens-mx-boots'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-mx-boots">MX Boots</a></li>
                <li {% if collections['fox-racing-mens-mx-goggles'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-mx-goggles">MX Goggles</a></li>
                <li {% if collections['fox-racing-mens-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-mx-gloves">MX Gloves</a></li>
                <li {% if collections['fox-racing-mens-mx-deflectors'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a  href="/collections/fox-racing-mens-mx-roost-deflectors">MX Roost Deflectors</a></li>
                <li {% if collections['fox-racing-mens-mx-guards'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-mx-guards">MX Guards</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="#">Accessories</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-mens-hats'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} ><a href="/collections/fox-racing-mens-hats">Hats</a></li>
                <li {% if collections['fox-racing-mens-beanies'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-beanies">Beanies</a></li>

                <li {% if collections['fox-racing-mens-shoes'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-shoes">Shoes</a></li>
                <li {% if collections['fox-racing-mens-wallets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-wallets">Wallets</a></li>
                <li {% if collections['fox-racing-mens-socks'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-socks" >Socks</a></li>
                <li {% if collections['fox-racing-mens-belts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-belts">Belts</a></li>
                <li {% if collections['fox-racing-mens-sunglasses'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}><a href="/collections/fox-racing-mens-sunglasses">Sunglasses</a></li>
                <li {% if collections['fox-racing-mens-luggage'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} ><a href="/collections/fox-racing-mens-luggage">Luggage</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="divider divider--md visible-sm  visible-xs"></div>
    <div class="col-sm-12 col-md-6 col-lg-6 womens_coll">
      <h3 class="text-left text_uppercase black_txt moto_wall_sub_title">Womens</h3>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="#">Clothing</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-womens-tees'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-tees" >Tees</a></li>
                <li {% if collections['fox-racing-womens-tanks'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-tanks" >Tanks</a></li>
                <li {% if collections['fox-racing-womens-tops'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-tops" >Tops</a></li>
                <li {% if collections['fox-racing-womens-dresses'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-dresses" >Dresses</a></li>
                <li {% if collections['fox-racing-womens-sweatshirts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-sweatshirts">Sweatshirts</a></li>
                <li {% if collections['fox-racing-womens-jackets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-jackets">Jackets</a></li>

                <li {% if collections['fox-racing-womens-shorts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-shorts">Shorts</a></li>
                <li {% if collections['fox-racing-womens-pants-leggings'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} >
                  <a href="/collections/fox-racing-womens-pants-leggings">Pants / Leggings</a></li>

                <li {% if collections['fox-racing-womens-underwear'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-underwear">Underwear</a></li>

                <li {% if collections['fox-racing-womens-swimwear'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-swimwear">Swimwear</a></li>

                <li {% if collections['fox-racing-womens-rashguards'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-rashguards">Rashguards</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="#">Moto</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-womens-mx-jerseys'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} >
                  <a href="/collections/fox-racing-womens-mx-jerseys">MX Jerseys</a></li>

                <li {% if collections['fox-racing-womens-mx-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%} >
                  <a href="/collections/fox-racing-womens-mx-pants">MX Pants</a></li>

                <li {% if collections['fox-racing-womens-mx-helmets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-mx-helmets" >MX Helmets</a></li>

                <li {% if collections['fox-racing-womens-mx-boots'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-mx-boots" >MX Boots</a></li>

                <li {% if collections['fox-racing-womens-mx-goggles'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-mx-goggles">MX Goggles</a></li>

                <li {% if collections['fox-racing-womens-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-mx-gloves" >MX Gloves</a></li>

                <li {% if collections['fox-racing-womens-mx-guards'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-mx-guards" >MX Guards</a></li>

                <li {% if collections['fox-racing-womens-mx-roost-defletctors'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-mx-roost-deflectors">MX Roost Deflectors</a></li>

              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="#">Accessories</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-womens-hats'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-hats">Hats</a></li>
                <li {% if collections['fox-racing-womens-beanies'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-beanies">Beanies</a></li>
                <li {% if collections['fox-racing-womens-purses'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-purses">Purses</a></li>
                <li {% if collections['fox-racing-womens-socks'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-socks" >Socks</a></li>
                <li {% if collections['fox-racing-womens-sunglasses'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-sunglasses">Sunglasses</a></li>
                <li {% if collections['fox-racing-womens-luggage'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-womens-luggage">Luggage</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- End of Row//-->


  <div class="divider divider--md"></div>

  <div class="row">


    <div class="col-sm-12 col-md-6 col-lg-6 boys_coll">
      <h3 class="text-left text_uppercase black_txt moto_wall_sub_title">Boys</h3>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="//motorhelmets.com/collections/fox-racing-mens-collection">Clothing</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-youth-boys-tees'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-tees">Boys Tees</a></li>
                <li {% if collections['fox-racing-youth-boys-tanks'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-tanks">Boys Tanks</a></li>
                <li {% if collections['fox-racing-youth-boys-shirts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-shirts">Boys Shirts</a></li>
                <li {% if collections['fox-racing-youth-boys-sweatshirts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-sweatshirts">Boys Sweatshirts</a></li>
                <li {% if collections['fox-racing-youth-boys-shorts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-shorts">Boys Shorts</a></li>
                <li {% if collections['fox-racing-youth-boys-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-pants">Boys Pants</a></li>
                <li {% if collections['fox-racing-youth-boys-boardshorts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-boardshorts" >Boys Boardshorts</a></li>
                <li {% if collections['fox-racing-youth-boys-rashguards'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-rashguards">Boys Rashguards</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="/collections/fox-racing/mens+off-road">Moto</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-youth-boys-mx-jerseys'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-mx-jerseys">Boys MX Jerseys</a></li>
                <li {% if collections['fox-racing-youth-boys-mx-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-mx-pants">Boys MX Pants</a></li>
                <li {% if collections['fox-racing-youth-boys-mx-helmets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-mx-helmets">Boys MX Helmets</a></li>
                <li {% if collections['fox-racing-youth-boys-mx-boots'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-mx-boots">Boys MX Boots</a></li>
                <li {% if collections['fox-racing-youth-boys-mx-goggles'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-mx-goggles">Boys MX Goggles</a></li>
                <li {% if collections['fox-racing-youth-boys-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-mx-gloves" >Boys MX Gloves</a></li>
                <li {% if collections['fox-racing-youth-boys-mx-guards'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-mx-guards">Boys MX Guards</a></li>
                <li {% if collections['fox-racing-youth-boys-mx-roost-deflectors'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-mx-roost-deflectors">Boys MX Roost Deflectors</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4 wall-boys-list">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="#">Accessories</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-youth-boys-hats'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-hats" >Boys Hats</a></li>
                <li {% if collections['fox-racing-youth-boys-beanies'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-beanies">Boys Beanies</a></li>
                <li {% if collections['fox-racing-youth-boys-belts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-boys-belts">Boys Belts</a></li>
              </ul>
            </div>
          </div>
        </div>


      </div>

    </div>
    <div class="divider divider--md visible-sm visible-xs"></div>
    <div class="col-sm-12 col-md-6 col-lg-6 girls_coll">
      <h3 class="text-left text_uppercase black_txt moto_wall_sub_title">Girls</h3>
      <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="#">Clothing</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-youth-girls-tees'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-tees">Girls Tees</a></li>
                <li {% if collections['fox-racing-youth-girls-tanks'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-tanks" >Girls Tanks</a></li>
                <li {% if collections['fox-racing-youth-girls-tops'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-tops">Girls Tops</a></li>
                <li {% if collections['fox-racing-youth-girls-dresses'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-dresses">Girls Dresses</a></li>
                <li {% if collections['fox-racing-youth-girls-sweatshirts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-sweatshirts">Girls Sweatshirts</a></li>
                <li {% if collections['fox-racing-youth-girls-jackets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-jackets">Girls Jackets</a></li>
                <li  {% if collections['fox-racing-youth-girls-underwear'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-underwear">Girls Underwear</a></li>
                <li  {% if collections['fox-racing-youth-girls-shorts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-shorts">Girls Shorts</a></li>
                <li  {% if collections['fox-racing-youth-girls-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-pants" >Girls Pants</a></li>
                <li {% if collections['fox-racing-youth-girls-boardshorts'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-boardshorts">Girls Boardshorts</a></li>
                <li {% if collections['fox-racing-youth-girls-swimwear'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-swimwear">Girls Swimwear</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="#">Moto</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-youth-girls-mx-jerseys'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-mx-jerseys">Girls MX Jerseys</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-pants'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-mx-pants">Girls MX Pants</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-helmets'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-mx-helmets">Girls MX Helmets</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-boots'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-mx-boots">Girls MX Boots</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-googles'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-mx-goggles">Girls MX Goggles</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-mx-gloves">Girls MX Gloves</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-guardis'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-mx-guards">Girls MX Guards</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-roost-deflectors'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-mx-roost-deflectors" >Girls MX Roost Deflectors</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <div class="mobile-collapse">
            <h4 class="text-left text-uppercase  davz_wall_collection_title  mobile-collapse__title">
              <a href="#">Accessories</a></h4>
            <div class="v-links-list mobile-collapse__content">
              <ul class="davz_wall_collection_list">
                <li {% if collections['fox-racing-youth-girls-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-hats">Girls Hats</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-beanies">Girls Beanies</a></li>
                <li {% if collections['fox-racing-youth-girls-mx-gloves'].all_products_count > 0 %} style = "display:block" {% else %} style = "display:none" {%endif%}>
                  <a href="/collections/fox-racing-youth-girls-wallets">Girls Wallets</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- End of Row//-->

</div>


{%endcomment%}




{% elsif "lookbooks" == condition %}

{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
{% assign counter = 0 %}
{% paginate blogs['lookbook'].articles by totalLookbookCount %}
{% for article in blogs['lookbook'].articles %}
{% if counter < 6 and article.tags contains 'Fox Racing' or article.tags contains 'fox racing' or article.tags contains 'Fox' %}
{% assign counter = counter | plus: 1 %}
<div class="col-sm-2 col-md-2 col-lg-2">

  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
    <div>
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
    </div>

    <div class="TeaserGrid-content" style="margin-top: 6px;">
      <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
    </div>                       
  </a>

</div>



{% endif %}
{% endfor %}
{% endpaginate %}

<div class="divider divider--md"></div>
<div class="visible-xs text-center" id="dmore-lb">
  <a href="/search?type=article&q=fox-racing" class="btn btn--ys btn--xl obs_show_more_btn text-center margin_top-50"></a>
</div>





{% elsif "brand_sizing_guide" == condition %}
<div class="divider divider--md"></div>
<section id="section-sizingchart" class="section_table cd-section">

  <div class ="row">


    {% include "page.fox-racing-size-chart" %}
  </div>
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/fox-logo.jpg?13959843823868295554">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class= "row">
            <p>Fox Head, Inc. (Fox Racing) is an American motocross gear company.  They have 2 brands, Fox Racing and Shift Racing.</p>
            <p>Fox Head is the top brand in the MX/ Off Road Industry.  Market Leader.  Brand Leader.  Primarily an extreme sports company, especially motocross, and offers a complete line of lifestyle clothing.  They were founded in 1974.</p>
            <div class = "hidden-content">
              <p>Fox is a head to toe company, offering a complete line of helmets, jerseys, gloves, pants, boots, socks, underwear, protection gear, armor, sunglasses, goggles, tshirts, jeans, sneakers, hats and snow apparel.</p>
              <p>Fox is a privately held company run by the founder and his son, Geoff and Peter Fox, and is owned by private equity company Altamont Capital Partners. The sportswear Fox designs, develops, and distributes is sold worldwide.</p>
              <p>The early history of Fox Racing and Fox Racing Shox were intertwined.  Fox Racing Shox is a brand of offroad racing suspension components founded by Geoff Fox's brother, Bob Fox. Fox Racing Shox were distributed by Moto-X Fox and Bob's company was originally under the corporate umbrella of Moto-X Fox. In 1978 Bob's division split out as a separate company called Fox Factory Inc.</p>
              <p>Fox Head, Inc. headquarters are in Irvine, California, with additional offices in Morgan Hill, California, Barcelona Spain and Calgary, Alberta, Canada. </p>
              <p>Fox built its business by developing clothing for motocross. Through sponsoring and working closely with riders such as Ricky Carmichael, James Stewart, Damon Bradshaw, Rick Johnson, Mark Barnett, Doug Henry, Jeremy McGrath and Steve Lamson, the company has researched and developed race clothing that provides riders with protection, performance and freedom of movement. They also used to make and develop racing engines for Yamaha.</p>
              <p>Fox Racing first opened for business in February 1974, when Geoff Fox, a Ph.D. who taught physics at the Santa Clara University, launched Moto-X Fox, a distribution business for European motocross parts and accessories in a 1,500-square-foot (140 m2) building in Campbell, California. Within two years, Moto-X Fox was manufacturing suspension and engine components for racers looking for an on-track advantage. </p>
              <p>In the spring of 1977, Geoff was determined to show the American motocross public that his products were superior to those of the competition. He created his own privately owned professional motocross team, Team Moto-X Fox. Going up against the Japanese factory teams, Team Moto-X Fox riders became the top non-factory riders in the series, finishing fifth, sixth and seventh in the highly competitive AMA 125 cc National Championship series.</p>
              <p>During the series, Team Moto-X Fox riders wore bright red, yellow and orange race outfits. Handmade by Fox, the clothing became a hit with the fans and interested enthusiasts started calling the Fox shop in Campbell enquiring about its availability. In 1980, Fox rider Mark Barnett won the company's first National Championship, and two years later, Brad Lackey won Fox 's (and the United States') first Motocross World Championship. In the ensuing two-plus decades, Fox-sponsored riders have won over forty National Motocross and Supercross Championships. In 2006 Fox rider Ricky Carmichael won the AMA Supercross Championship, while Lifelong Fox rider James Stewart won the FIM World Supercross Championship.</p>
              <p>In July 2006, Fox Racing decided to change its corporate name to Fox Head, Inc. The move was complete by the fall of that year. Fox decided such a change would help the brand further penetrate sporting venues aside from motocross, such as mountain bike, wake boarding, surfing; as well as expand into other products.</p>
              <p>Peter Fox was named CEO in 2008, with Greg Fox remaining on the board of directors.[4] Peter Fox subsequently left the company, but rejoined when Fox Head was acquired by Altamont Capital Partners in 2014, leaving the founder and his son in charge of the company.</p>
              <p>Fox products are sold worldwide with distributors and partners in over 50 different countries including Australia, Brazil, Canada, Colombia, Japan, New Zealand, Perú, South Africa, United Kingdom and United States.</p>
              <p>Fox also manufactures and distributes their secondary line called Shift Racing. </p>          </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% elsif "brand_story" == condition %}
<div class="text-center">
  <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1299/2659/files/fox-wall-about.jpg?18375403887289279353" alt="">
</div>



{% endif %}

<script>

  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('#helmet-collections').hover(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','black');
      $j('.helmets-text').css('color','black');
    });
    $j('#helmet-collections').mouseleave(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','#6b6b6b');
      $j('.helmets-text').css('color','#3a3a3a');
    });
    $j('#jacket-collections').hover(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','black');
      $j('.jackets-text').css('color','black');
    });
    $j('#jacket-collections').mouseleave(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','#6b6b6b');
      $j('.jackets-text').css('color','#3a3a3a');
    });
    $j('#gloves-collections').hover(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','black');
      $j('.gloves-text').css('color','black');
    });
    $j('#gloves-collections').mouseleave(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','#6b6b6b');
      $j('.gloves-text').css('color','#3a3a3a');
    });
    $j('#pants-collections').hover(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','black');
      $j('.pants-text').css('color','black');
    });
    $j('#pants-collections').mouseleave(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','#6b6b6b');
      $j('.pants-text').css('color','#3a3a3a');
    });
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });


  });
</script>