<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	             margin-top: -123px;
	        }
	  } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
	<li ><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
	<li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
	
	<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Icon Helmets Size Charts" title="Icon Helmets Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">HELMET</h4>
<p>Wrap a flexible tape measure around your head approximately one inch above the eyebrows and ears. Use this measurement (in either inches or centimeters) to find your helmet size in the chart below.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SHELL</th>
									<th>2XS</th>
									<th>XS</th>
									<th>S</th>
									<th>M</th>
									<th>L</th>
									<th>XL</th>
									<th>2XL</th>
									<th>3XL</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>HAT SIZE       </td>
									<td>6 3/8 - 6 1/2  </td>
									<td>6 5/8 - 6 3/4  </td>
									<td>6 7/8 - 7      </td>
									<td>7 1/8 - 7 1/4  </td>
									<td>7 3/8 - 7 1/2  </td>
									<td>7 5/8 - 7 3/4  </td>
									<td>7 7/8 - 8      </td>
									<td>8 1/8 - 8 1/4  </td>
		        			</tr>
		        			<tr>
		        					<td>INCHES         </td>
									<td>20 1/8 - 20 1/2</td>
									<td>20 7/8 - 21 1/4</td>
									<td>21 5/8 - 22    </td>
									<td>22 3/8 - 22 3/4</td>
									<td>23 1/8 - 23 1/2</td>
									<td>24 - 24 3/8    </td>
									<td>24 3/4 - 25 1/8</td>
									<td>25 1/2 - 26</td>
		        			</tr>
		          			<tr>
		          					<td>CENTIMETERS</td>
									<td>51-52</td>
									<td>53-54</td>
									<td>55-56</td>
									<td>57-58</td>
									<td>59-60</td>
									<td>61-62</td>
									<td>63-64</td>
									<td>65-66</td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	
  </div> 
  </div>
</div> <!-- SizeChartTab1 -->

	
<div role="tabpanel" class="tab-pane" id="SizeChartTab2">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#MensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
	<li ><a href="#MensVest" role="tab"data-toggle="tab" class="text-uppercase">Vest</a></li>
	<li ><a href="#MensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
	<li ><a href="#MensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
	<li ><a href="#MensOverpants" role="tab"data-toggle="tab" class="text-uppercase">Overpants</a></li>
	<li ><a href="#MensFootwear" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
	<li ><a href="#MensApparel" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
	<div role="tabpanel" class="tab-pane active" id="MensJackets">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-jacket-mens-ansracing.jpg?7636670660978844610" alt="Icon Jackets Size Charts" title="Icon Jackets Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">CHEST</h4>
<p>While standing with your arms relaxed at your side, wrap a flexible tape measure around your chest at its largest point. The tape measure should go through your armpit and stay parallel with the floor while taking the measurement.</p>
<h4 style="text-transform:uppercase;font-weight:bold;">SLEEVE </h4>
<p>While standing with your arms relaxed at your side, place one end of a flexible tape measure on your spine at the base of your neck. Measure over the top of your shoulder, down over the point of your elbow, and finish at the wrist bone.</p>
</div>
  </div> 
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SIZE</th>
									<th>XS  </th>
									<th>S   </th>
									<th>M   </th>
									<th>L   </th>
									<th>XL  </th>
									<th>2XL </th>
									<th>3XL </th>
									<th>4XL </th>
									<th>5XL </th>
									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>CHEST INCHES</td>
									<td>34"-36"</td>
									<td>36-38</td>
									<td>38-40</td>
									<td>40-42</td>
									<td>42-44</td>
									<td>46-48</td>
									<td>48-50</td>
									<td>52-54</td>
									<td>54-56</td>
		        			</tr>
		        			<tr>
		        					<td>SLEEVE INCHES</td>
									<td>30</td>
									<td>31</td>
									<td>32</td>
									<td>33</td>
									<td>34</td>
									<td>35</td>
									<td>36</td>
									<td>37</td>
									<td>38</td>
		        			</tr>
		        </tbody>
		      </table>
		      <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION</h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SIZE</th>
									<th>XS  </th>
									<th>S   </th>
									<th>M   </th>
									<th>L   </th>
									<th>XL  </th>
									<th>2XL </th>
									<th>3XL </th>
									<th>4XL </th>
									<th>5XL </th>
									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>UNITED KINGDOM</td>
									<td>36</td>
									<td>38</td>
									<td>40</td>
									<td>42/44</td>
									<td>44/46</td>
									<td>48</td>
									<td>50</td>
									<td>54</td>
									<td>56</td>
		        			</tr>
		        			<tr>
		        					<td>EUROPE</td>
									<td>46</td>
									<td>48</td>
									<td>50</td>
									<td>54</td>
									<td>56</td>
									<td>58</td>
									<td>60</td>
									<td>64</td>
									<td>66</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	 
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensVest">
  <div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-vest-ansracing.jpg?7636670660978844610" alt="Icon Vest Size Charts" title="Icon Vest Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">CHEST </h4>
<p>While standing with your arms relaxed at your side, wrap a flexible tape measure around your chest at its largest point. The tape measure should go through your armpit and stay parallel with the floor while taking the measurement.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>VEST SIZE</th>
									<th>XS       </th>
									<th>S        </th>
									<th>M        </th>
									<th>L        </th>
									<th>XL       </th>
									<th>2XL      </th>
									<th>3XL      </th>
									<th>4XL      </th>
									<th>5XL      </th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>JACKET SIZE</td>
									<td>XS</td>
									<td>S </td>
									<td>M </td>
									<td>L </td>
									<td>XL</td>
									<td>2XL</td>
									<td>3XL</td>
									<td>4XL</td>
									<td>5XL</td>
		        			</tr>
		        			<tr>
		        					<td>CHEST INCHES</td>
									<td>34-36</td>
									<td>36-38</td>
									<td>38-40</td>
									<td>40-42</td>
									<td>42-44</td>
									<td>46-48</td>
									<td>48-50</td>
									<td>52-54</td>
									<td>54-56</td>
		        			</tr>
		          			<tr>
		          					<td>SLEEVE INCHES</td>
									<td>30</td>
									<td>31</td>
									<td>32</td>
									<td>33</td>
									<td>34</td>
									<td>35</td>
									<td>36</td>
									<td>37</td>
									<td>38</td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>VEST SIZE</th>
									<th>XS       </th>
									<th>S        </th>
									<th>M        </th>
									<th>L        </th>
									<th>XL       </th>
									<th>2XL      </th>
									<th>3XL      </th>
									<th>4XL      </th>
									<th>5XL      </th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>UNITED KINGDOM</td>
									<td>36</td>
									<td>38</td>
									<td>40</td>
									<td>42/44</td>
									<td>44/46</td>
									<td>48</td>
									<td>50</td>
									<td>54</td>
									<td>56</td>
		        			</tr>
		        			<tr>
		        					<td>EUROPE</td>
									<td>46</td>
									<td>48</td>
									<td>50</td>
									<td>54</td>
									<td>56</td>
									<td>58</td>
									<td>60</td>
									<td>64</td>
									<td>66</td>

		        			</tr>
		          		
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	 </div>
  </div> 
</div> <!-- MensJerseys -->

<div role="tabpanel" class="tab-pane" id="MensGloves">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Icon Gloves Size Charts" title="Icon Gloves Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
					<p>ICON glove size is determined by measuring the width of your palm at its widest point - a little below the knuckles.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>SIZE</th>
									<th>S   </th>
									<th>M   </th>
									<th>L   </th>
									<th>XL  </th>
									<th>2XL </th>
									<th>3XL </th>
									<th>4XL </th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>INCHES</td>
									<td>6 1/12 - 7 </td>
									<td>7 1/2 - 8  </td>
									<td>8 1/2 - 9  </td>
									<td>9 1/2 - 10 </td>
									<td>10 1/2 - 11</td>
									<td>11 1/2 - 12</td>
									<td>12 1/2 - 13</td>
		        			</tr>
		        </tbody>
		      </table>
		       <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          				<th>EUROPE</th>
								<th>7</th>
								<th>8</th>
								<th>9</th>
								<th>10</th>
								<th>11</th>
								<th>12</th>
								<th>13</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>SIZE</td>
								<td>S  </td>
								<td>M  </td>
								<td>L  </td>
								<td>XL </td>
								<td>2XL</td>
								<td>3XL</td>
								<td>4XL</td>
		        			</tr>
		        			 <tr>
					        	<td>CENTIMETERS</td>
								<td>16.5-17.8</td>
								<td>19.1-20.3</td>
								<td>21.6-22.9</td>
								<td>24.1-25.4</td>
								<td>26.7-27.9</td>
								<td>29.2-30.5</td>
								<td>31.8-33</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- MensGloves -->

<div role="tabpanel" class="tab-pane" id="MensPants">
  <div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-pants-ansracing.JPG?7636670660978844610" alt="Icon Pants Size Charts" title="Icon Pants Size Charts" style="margin: 0 auto;width: 88%;"/>
			
		</div>

		<div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">WAIST </h4>
					<p>While standing in a relaxed position, measure around your natural waistline, while keeping the tape measure parallel to the floor.</p>
					  <h4 style="text-transform:uppercase;font-weight:bold;">INSEAM  </h4>
					<p>While standing in a relaxed position, measure the total length of the inside of your leg, from crotch to ankle.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>WAIST INCHES</th>
									<th>28</th>
									<th>30</th>
									<th>32</th>
									<th>34</th>
									<th>36</th>
									<th>38</th>
									<th>40</th>
									<th>42</th>
									<th>44</th>
									<th>46</th>
									<th>48</th>
									<th>50</th>
									<th>52</th>
									<th>54</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>INSEAM INCHES</td>
									<td>32</td>
									<td>32</td>
									<td>33</td>
									<td>33</td>
									<td>33</td>
									<td>34</td>
									<td>34</td>
									<td>34</td>
									<td>34</td>
									<td>34</td>
									<td>34</td>
									<td>34</td>
									<td>34</td>
									<td>34</td>
		        			</tr>
		        </tbody>
		      </table>
		       <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          				<th>WAIST INCHES</th>
								<th>28</th>
								<th>30</th>
								<th>32</th>
								<th>34</th>
								<th>36</th>
								<th>38</th>
								<th>40</th>
								<th>42</th>
								<th>44</th>
								<th>46</th>
								<th>48</th>
								<th>50</th>
								<th>52</th>
								<th>54</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>UNITED KINGDOM</td>
								<td>28</td>
								<td>30</td>
								<td>32</td>
								<td>34</td>
								<td>36</td>
								<td>38</td>
								<td>40</td>
								<td>42</td>
								<td>44</td>
								<td>46</td>
								<td>48</td>
								<td>50</td>
								<td>52</td>
								<td>54</td>
		        			</tr>
		        			 <tr>
					        	<td>EUROPE</td>
								<td>44</td>
								<td>46</td>
								<td>48</td>
								<td>50</td>
								<td>52</td>
								<td>54</td>
								<td>56</td>
								<td>58</td>
								<td>60</td>
								<td>62</td>
								<td>64</td>
								<td>66</td>
								<td>68</td>
								<td>70</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensOverpants">
  <div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-overpants-ansracing.JPG?7636670660978844610" alt="Icon Overpants Size Charts" title="Icon Overpants Size Charts" style="margin: 0 auto;width: 88%;"/>
			
		</div>

		<div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">WAIST </h4>
					<p>While standing in a relaxed position, measure around your natural waistline, while keeping the tape measure parallel to the floor.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>SIZE</th>
								<th>S</th>
								<th>M</th>
								<th>L</th>
								<th>XL</th>
								<th>2XL</th>
								<th>3XL</th>
								<th>4XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>WAIST INCHES</td>
								<td>30-32</td>
								<td>32-34</td>
								<td>34-36</td>
								<td>36-38</td>
								<td>38-40</td>
								<td>40-42</td>
								<td>42-44</td>
		        			</tr>
		        </tbody>
		      </table>
		       <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          				<th>SIZE</th>
								<th>S</th>
								<th>M</th>
								<th>L</th>
								<th>XL</th>
								<th>2XL</th>
								<th>3XL</th>
								<th>4XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>UNITED KINGDOM</td>
								<td>30-32</td>
								<td>32-34</td>
								<td>34-36</td>
								<td>36-38</td>
								<td>38-40</td>
								<td>40-42</td>
								<td>42-44</td>
		        			</tr>
		        			 <tr>
					        	<td>EUROPE</td>
								<td>46-48</td>
								<td>48-50</td>
								<td>50-52</td>
								<td>52-54</td>
								<td>54-56</td>
								<td>56-58</td>
								<td>58-60</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- MensOverpants -->

<div role="tabpanel" class="tab-pane" id="MensFootwear">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?8019389621017100315" alt="Icon Footwear Size Charts" title="Icon Footwear Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          				<th>UNITED STATES</th>
								<th>6</th>
								<th>7</th>
								<th>8</th>
								<th>8.5</th>
								<th>9</th>
								<th>9.5</th>
								<th>10</th>
								<th>10.5</th>
								<th>11</th>
								<th>11.5</th>
								<th>12</th>
								<th>13</th>
								<th>14</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>UNITED KINGDOM</td>
									<td>5.5</td>
									<td>6.5</td>
									<td>7.5</td>
									<td>8  </td>
									<td>8.5</td>
									<td>9  </td>
									<td>9.5</td>
									<td>10 </td>
									<td>10.5</td>
									<td>11</td>
									<td>11.5</td>
									<td>12.5</td>
									<td>13.5</td>
		        			</tr>
		        			 <tr>
					        		<td>EUROPE</td>
									<td>38</td>
									<td>39</td>
									<td>41</td>
									<td>42</td>
									<td>43</td>
									<td>43.5</td>
									<td>44</td>
									<td>44.5</td>
									<td>45</td>
									<td>45.5</td>
									<td>46</td>
									<td>47</td>
									<td>48.5</td>
		        			</tr>
		        			 <tr>
					        		<td>JAPAN</td>
									<td>24</td>
									<td>25</td>
									<td>26</td>
									<td>26.5</td>
									<td>27</td>
									<td>27.5</td>
									<td>28</td>
									<td>28.5</td>
									<td>29</td>
									<td>29.5</td>
									<td>30</td>
									<td>31</td>
									<td>32</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- MensFootwear -->

<div role="tabpanel" class="tab-pane" id="MensApparel">
  <div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-ansracing.jpg?7636670660978844610" alt="Icon Apparel Size Charts" title="Icon Apparel Size Charts" style="margin: 0 auto;width:88%"/>
			
		</div>

		<div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Apparel </h4>
					
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>SIZE</th>
									<th>S </th>
									<th>M </th>
									<th>L </th>
									<th>XL</th>
									<th>2XL</th>
									<th>3XL</th>
									<th>4XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>CHEST INCHES</td>
									<td>36-38</td>
									<td>38-40</td>
									<td>40-42</td>
									<td>42-44</td>
									<td>46-48</td>
									<td>48-50</td>
									<td>52-54</td>

		        			</tr>
		        			 <tr>
					        		<td>SLEEVE INCHES</td>
									<td>31</td>
									<td>32</td>
									<td>33</td>
									<td>34</td>
									<td>35</td>
									<td>36</td>
									<td>37</td>
		        			</tr>
		        </tbody>
		      </table>
		        <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>SIZE</th>
									<th>S </th>
									<th>M </th>
									<th>L </th>
									<th>XL</th>
									<th>2XL</th>
									<th>3XL</th>
									<th>4XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>UNITED KINGDOM</td>
									<td>38</td>
									<td>40</td>
									<td>42/44</td>
									<td>44/46</td>
									<td>48</td>
									<td>50</td>
									<td>54</td>

		        			</tr>
		        			 <tr>
					        		<td>EUROPE</td>
									<td>48</td>
									<td>50</td>
									<td>54</td>
									<td>56</td>
									<td>58</td>
									<td>60</td>
									<td>64</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- MensApparel -->

</div>

</div> <!-- SizeChartTab2 -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab3">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#WomensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
	<li ><a href="#WomensVest" role="tab"data-toggle="tab" class="text-uppercase">Vest</a></li>
	<li ><a href="#WomensGloves" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
	<li ><a href="#WomensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
	<li ><a href="#WomensOverpants" role="tab"data-toggle="tab" class="text-uppercase">Overpants</a></li>
	<li ><a href="#WomensFootwear" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
	<li ><a href="#WomensApparel" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>
</ul>
 <div class="tab-content tab-content--ys">    
	<div role="tabpanel" class="tab-pane active" id="WomensJackets">
	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-icon-jacket-womens.jpg?997440866802306006" alt="Icon Jackets Size Charts" title="Icon Jackets Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">CHEST</h4>
<p>While standing with your arms relaxed at your side, wrap a flexible tape measure around your chest at its largest point. The tape measure should go through your armpit and stay parallel with the floor while taking the measurement.</p>
<h4 style="text-transform:uppercase;font-weight:bold;">SLEEVE </h4>
<p>While standing with your arms relaxed at your side, place one end of a flexible tape measure on your spine at the base of your neck. Measure over the top of your shoulder, down over the point of your elbow, and finish at the wrist bone.</p>
</div>
  </div> 
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SIZE</th>
									<th>XS </th>
									<th>S  </th>
									<th>M  </th>
									<th>L  </th>
									<th>XL </th>
									<th>2XL</th>
									<th>3XL</th>
									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>A>| CHEST INCHES</td>
									<td>33</td>
									<td>35</td>
									<td>37</td>
									<td>39</td>
									<td>41</td>
									<td>43</td>
									<td>45</td>
		        			</tr>
		        			<tr>
		        					<td>B.| SLEEVE INCHES</td>
									<td>29</td>
									<td>29 1/2</td>
									<td>30</td>
									<td>30 1/2</td>
									<td>31</td>
									<td>31 1/2</td>
									<td>32</td>
		        			</tr>
		        </tbody>
		      </table>
		      <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION</h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SIZE</th>
									<th>XS  </th>
									<th>S   </th>
									<th>M   </th>
									<th>L   </th>
									<th>XL  </th>
									<th>2XL </th>
									<th>3XL </th>
									<th>4XL </th>
									<th>5XL </th>
									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>UNITED KINGDOM</td>
									<td>5 </td>
									<td>7 </td>
									<td>9 </td>
									<td>11</td>
									<td>13</td>
									<td>15</td>
									<td>17</td>
		        			</tr>
		        			<tr>
		        					<td>EUROPE</td>
									<td>40</td>
									<td>42</td>
									<td>44</td>
									<td>46</td>
									<td>48</td>
									<td>50</td>
									<td>52</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	 
  </div> <!-- woMensPants -->

<div role="tabpanel" class="tab-pane" id="WomensVest">
  <div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-vest-ansracing.jpg?7636670660978844610" alt="Icon Vest Size Charts" title="Icon Vest Size Charts" style="margin: 0 auto;"/>
		</div>
		      <div class="col-sm-8 col-md-8 col-lg-8">
		      <h4 style="text-transform:uppercase;font-weight:bold;">CHEST </h4>
<p>While standing with your arms relaxed at your side, wrap a flexible tape measure around your chest at its largest point. The tape measure should go through your armpit and stay parallel with the floor while taking the measurement.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>VEST SIZE</th>
									<th>XS</th>
									<th>S </th>
									<th>M </th>
									<th>L </th>
									<th>XL</th>
									<th>2XL</th>
									<th>3XL</th>

		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>JACKET SIZE</td>
									<td>XS</td>
									<td>S </td>
									<td>M </td>
									<td>L </td>
									<td>XL</td>
									<td>2XL</td>
									<td>3XL</td>
		        			</tr>
		        			<tr>
		        					<td>CHEST INCHES</td>
									<td>33</td>
									<td>35</td>
									<td>37</td>
									<td>39</td>
									<td>41</td>
									<td>43</td>
									<td>45</td>
		        			</tr>
		          			<tr>
		          					<td>SLEEVE INCHES</td>
									<td>29</td>
									<td>29 1/2</td>
									<td>30</td>
									<td>30 1/2
									<td>31</td>
									<td>31 1/2</td>
									<td>32</td>
		       			 	</tr>
		        </tbody>
		      </table>
		      <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>VEST SIZE</th>
									<th>XS </th>
									<th>S  </th>
									<th>M  </th>
									<th>L  </th>
									<th>XL </th>
									<th>2XL</th>
									<th>3XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>UNITED KINGDOM</td>
									<td>5 </td>
									<td>7 </td>
									<td>9 </td>
									<td>11</td>
									<td>13</td>
									<td>15</td>
									<td>17</td>
		        			</tr>
		        			<tr>
		        					<td>EUROPE</td>
									<td>40</td>
									<td>42</td>
									<td>44</td>
									<td>46</td>
									<td>48</td>
									<td>50</td>
									<td>52</td>

		        			</tr>
		          		
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	 </div>
  </div> 
</div> <!-- woMensJerseys -->

<div role="tabpanel" class="tab-pane" id="WomensGloves">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Icon Gloves Size Charts" title="Icon Gloves Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
					<p>ICON glove size is determined by measuring the width of your palm at its widest point - a little below the knuckles.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>SIZE</th>
									<th>XS</th>
									<th>S </th>
									<th>M </th>
									<th>L </th>
									<th>XL</th>
									<th>2XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>INCHES       </td>
									<td>5 3/4 - 6    </td>
									<td>6 1/4 - 6 1/2</td>
									<td>6 3/4 - 7    </td>
									<td>7 1/4 - 7 1/2</td>
									<td>7 3/4 - 8    </td>
									<td>8 1/4 - 8 1/2</td>
		        			</tr>
		        </tbody>
		      </table>
		       <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          				<th>SIZE</th>
								<th>XS</th>
								<th>S</th>
								<th>M</th>
								<th>L</th>
								<th>XL</th>
								<th>2XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>EUROPE</td>
								<td>6</td>
								<td>6.5</td>
								<td>7</td>
								<td>7.5</td>
								<td>8</td>
								<td>8.5</td>
		        			</tr>
		        			 <tr>
					        	<td>CENTIMETERS</td>
								<td>14.6-15.2</td>
								<td>15.9-16.5</td>
								<td>17.1-17.8</td>
								<td>18.4-19.1</td>
								<td>19.7-20.3</td>
								<td>21-21.6</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- woMensGloves -->

<div role="tabpanel" class="tab-pane" id="WomensPants">
  <div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-pants-icon-womens.JPG?15902588886220114233" alt="Icon Pants Size Charts" title="Icon Pants Size Charts" style="margin: 0 auto;width: 88%;"/>
			
		</div>

		<div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">WAIST </h4>
					<p>While standing in a relaxed position, measure around your natural waistline, while keeping the tape measure parallel to the floor.</p>
					  <h4 style="text-transform:uppercase;font-weight:bold;">INSEAM  </h4>
					<p>While standing in a relaxed position, measure the total length of the inside of your leg, from crotch to ankle.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>SIZE</th>
									<th>1</th>
									<th>3</th>
									<th>5</th>
									<th>7</th>
									<th>9</th>
									<th>11</th>
									<th>13</th>
									<th>15</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>A.| WAIST INCHES</td>
									<td>24</td>
									<td>26</td>
									<td>28</td>
									<td>30</td>
									<td>32</td>
									<td>34</td>
									<td>36</td>
									<td>38</td>
		        			</tr>
		        			    <tr>
					        		<td>B.| INSEAM INCHES</td>
									<td>29-31</td>
									<td>30-32</td>
									<td>30-32</td>
									<td>31-33</td>
									<td>31-33</td>
									<td>31-33</td>
									<td>31-33</td>
									<td>31-33</td>
		        			</tr>
		        </tbody>
		      </table>
		       <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          				<th>SIZE</th>
								<th>1</th>
								<th>3</th>
								<th>5</th>
								<th>7</th>
								<th>9</th>
								<th>11</th>
								<th>13</th>
								<th>15</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>UNITED KINGDOM</td>
								<td>3</td>
								<td>5</td>
								<td>7</td>
								<td>9</td>
								<td>11</td>
								<td>13</td>
								<td>15</td>
								<td>17</td>
		        			</tr>
		        			 <tr>
					        	<td>EUROPE</td>
								<td>38</td>
								<td>40</td>
								<td>42</td>
								<td>44</td>
								<td>46</td>
								<td>48</td>
								<td>50</td>
								<td>52</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- woMensPants -->

<div role="tabpanel" class="tab-pane" id="WomensOverpants">
  <div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-icon-overpants-womens.JPG?11883405176491950220" alt="Icon Overpants Size Charts" title="Icon Overpants Size Charts" style="margin: 0 auto;width: 88%;"/>
			
		</div>

		<div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">WAIST </h4>
					<p>While standing in a relaxed position, measure around your natural waistline, while keeping the tape measure parallel to the floor.</p>
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
								<th>SIZE</th>
								<th>XS</th>
								<th>S </th>
								<th>M </th>
								<th>L </th>
								<th>XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>PANT SIZE</td>
								<td>0-1</td>
								<td>2-3</td>
								<td>4-7</td>
								<td>8-11</td>
								<td>12-14</td>
		        			</tr>
		        			<tr>
					        	<td>A.| WAIST INCHES</td>
								<td>24-26</td>
								<td>26-28</td>
								<td>28-30</td>
								<td>30-32</td>
								<td>32-34</td>
		        			</tr>
		        </tbody>
		      </table>
		       <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          				<th>SIZE</th>
								<th>XS</th>
								<th>S </th>
								<th>M </th>
								<th>L </th>
								<th>XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        	<td>UNITED KINGDOM</td>
								<td>3-5</td>
								<td>5-7</td>
								<td>7-9</td>
								<td>9-11</td>
								<td>11-13</td>
		        			</tr>
		        			 <tr>
					        	<td>EUROPE</td>
								<td>38-40</td>
								<td>40-42</td>
								<td>42-44</td>
								<td>44-46</td>
								<td>46-48</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- woMensOverpants -->

<div role="tabpanel" class="tab-pane" id="WomensFootwear">
  <div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?8019389621017100315" alt="Icon Footwear Size Charts" title="Icon Footwear Size Charts" style="margin: 0 auto;"/>
			
		</div>

		<div class="col-sm-9 col-md-9 col-lg-9">
		      
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>UNITED STATES</th>
									<th>5</th>
									<th>5.5</th>
									<th>6  </th>
									<th>6.5</th>
									<th>7  </th>
									<th>7.5</th>
									<th>8  </th>
									<th>8.5</th>
									<th>9  </th>
									<th>9.5</th>
									<th>10 </th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>UNITED KINGDOM</td>
									<td>2.5</td>
									<td>3  </td>
									<td>3.5</td>
									<td>4  </td>
									<td>4.5</td>
									<td>5  </td>
									<td>5.5</td>
									<td>6  </td>
									<td>6.5</td>
									<td>7  </td>
									<td>7.5</td>
		        			</tr>
		        			 <tr>
					        		<td>EUROPE</td>
									<td>35</td>
									<td>35.5</td>
									<td>36  </td>
									<td>37  </td>
									<td>37.5</td>
									<td>38  </td>
									<td>38.5</td>
									<td>39  </td>
									<td>40  </td>
									<td>41  </td>
									<td>42  </td>
		        			</tr>
		        			 <tr>
					        		<td>JAPAN</td>
									<td>21</td>
									<td>21.5</td>
									<td>22  </td>
									<td>22.5</td>
									<td>23  </td>
									<td>23.5</td>
									<td>24  </td>
									<td>24.5</td>
									<td>25  </td>
									<td>25.5</td>
									<td>26  </td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- woMensFootwear -->

<div role="tabpanel" class="tab-pane" id="WomensApparel">
  <div class="row">
		<div class="col-sm-2 col-md-2 col-lg-2">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-icon-aparel-womens.JPG?15902588886220114233" alt="Icon Apparel Size Charts" title="Icon Apparel Size Charts" style="margin: 0 auto;width:88%"/>
			
		</div>

		<div class="col-sm-10 col-md-10 col-lg-10">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Apparel </h4>
					
			<div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>SIZE</th>
									<th>XS</th>
									<th>S </th>
									<th>M </th>
									<th>L </th>
									<th>XL</th>
									<th>2XL</th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>A.| CHEST INCHES</td>
									<td>33</td>
									<td>35</td>
									<td>37</td>
									<td>39</td>
									<td>41</td>
									<td>43</td>

		        			</tr>
		        			 <tr>
					        		<td>B.| SLEEVE INCHES</td>
									<td>29</td>
									<td>29 1/2</td>
									<td>30</td>
									<td>30 1/2</td>
									<td>31</td>
									<td>31 1/2</td>
		        			</tr>
		        </tbody>
		      </table>
		        <h4 style="text-transform:uppercase;font-weight:bold;">CONVERSION </h4>
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>	
		          					<th>SIZE</th>
									<th>XS  </th>
									<th>S   </th>
									<th>M   </th>
									<th>L   </th>
									<th>XL  </th>
									<th>2XL </th>
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>UNITED KINGDOM</td>
									<td>5</td>
									<td>7</td>
									<td>9</td>
									<td>11</td>
									<td>13</td>
									<td>15</td>

		        			</tr>
		        			 <tr>
					        		<td>EUROPE</td>
									<td>40</td>
									<td>42</td>
									<td>44</td>
									<td>46</td>
									<td>48</td>
									<td>50</td>
		        			</tr>
		        </tbody>
		      </table>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
		      	 </div>
  		</div> 
		      

</div> <!-- woMensApparel -->

</div>

</div> <!-- SizeChartTab3 -->




</div><!-- tab-content tab-content-ys obs_sizechart -->
