        <div>
            <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
                <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
                 <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Jerseys</a></li>
                  <li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
                  <li><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Boots</a></li>
                  <li><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
            </ul>
          </div>    

          <div class="tab-content tab-content--ys Sbs_sizechart">

            <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Thor MX Helmets Size Chart" style="margin: 0 auto;"></p>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                        <div class="divider divider--md"></div>
                            <div>
                                <h4><b>CORRECT HELMET SIZING</b></h4>
                                <p>Each helmet model has small differences in its shape that ultimately affect the fit. For this reason, it is essential to test a helmet before buying it. Test whether it sits on your head properly by putting on the helmet and moving your head to the left and right, as well as up and down while holding the helmet firmly with both hands. If your head can move too freely within the helmet, we recommend that you try a smaller size. If you feel local pressure points, then choose a helmet that is one size larger, or perhaps try on a different model.</p>
                            </div>
                            <div>
                              <h4><b><span style="color: red;">(H)</span> HEAD</b></h4>
                              <p>Wrap a cloth measuring tape around your head just above your eyebrows and ears. Pull the tape comfortably snug, read the length, repeat for good measure and use the largest measurement.</p>
                            </div>
                        </div>
                    </div>
                 
                  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                
                    <li class="active"><a href="#SizeChartSE3" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
                    <li><a href="#SizeChartAir" role="tab"data-toggle="tab" class="text-uppercase">Hats</a></li>
                </ul>   
                
                <div class="tab-content tab-content--ys">    
                    <div role="tabpanel" class="tab-pane active" id="SizeChartSE3">
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>HELMET SIZE</th>
                                        <th>HAT SIZE</th>
                                        <th>INCHES</th>
                                        <th>CM</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                        
                                    </tr>
                                    <tr>
                                       <td>X-SMALL           </td>
                                       <td>6 5/8”-6 3/4”   </td>
                                        <td>20 3/4”-21 1 /4”</td>
                                        <td>53-54 CM        </td>

                                    </tr>
                                    <tr>
                                        <td>SMALL       </td>
                                       <td>6 7/8”-7”       </td>
                                        <td>21 5/8”-22”     </td>
                                        <td>55-56 CM        </td>

                                    </tr>
                                    <tr>
                                       <td>MEDIUM      </td>
                                      <td>71 /8”-71 /4”   </td>
                                        <td>22 1 /2”-22 3/4”</td>
                                        <td>57-58 CM        </td>
                                    </tr>
                                    <tr>
                                        <td>LARGE           </td>
                                    <td>73/8”-71 /2”    </td>
                                        <td>23 1 /4”-23 5/8”</td>
                                        <td>59-60 CM        </td>
                                    </tr>
                                    <tr>
                                        <td>X-LARGE         </td>
                                     <td>75/8”-73/4”     </td>
                                        <td>24”-24 1 /2”    </td>
                                        <td>61-62 CM        </td>
                                    </tr>
                                    <tr>
                                      <td>2X-LARGE        </td>
                                 <td>77/8”-8”        </td>
                                        <td>24 3/4”-23 5/8” </td>
                                        <td>63-64 CM        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- Table end -->
                        </div><!-- End -->
                        <div role="tabpanel" class="tab-pane " id="SizeChartAir">
                        <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>SIZES</th>
                                        <th>HAT SIZE</th>
                                        <th>INCHES</th>
                                        <th>CM</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                     <td>S/M             </td>
                                    <td>6 3/4”-71 /4”   </td>
                                    <td>21 1 /4”-22 3/4”</td>
                                    <td>54-58 CM        </td>

                                    </tr>
                                    <tr>
                                  <td>L/XL            </td>
                                    <td>7 7/8”-75/8”    </td>
                                    <td>21 1 /2”-24”    </td>
                                    <td>57-61 CM        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- Table end -->
                        </div> <!-- End -->

                 </div>   
                       
            </div> <!-- SizeChartTab1 //-->
             

             <div role="tabpanel" class="tab-pane" id="SizeChartTab2">

                <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

                    <li class="active"><a href="#SizeChartJerseyMen1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
                    <li><a href="#SizeChartJerseyWomen2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
                    <li><a href="#SizeChartJerseyWomen3" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
                </ul>
              <div class="tab-content tab-content--ys">

                <div role="tabpanel" class="tab-pane active" id="SizeChartJerseyMen1">
                  <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tld-jersey.jpg?11931226565657139209" alt="Thor MX Jerseys Size Chart" title="Thor MX Jerseys Size Chart" style="margin: 0 auto;"></p>
                <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                    <li class="active"><a href="#SizeChartSESEPROGPGPAIR" role="tab"data-toggle="tab" class="text-uppercase">Fuse Jerseys</a></li>
                    <li><a href="#SizeChartSPRINT" role="tab"data-toggle="tab" class="text-uppercase">PULSE Jerseys</a></li>
                    <li><a href="#SizeChartPRIME" role="tab"data-toggle="tab" class="text-uppercase">PRIME FIT JERSEY</a></li>

                </ul>      

                   <div class="tab-content tab-content--ys"> 

                   <div role="tabpanel" class="tab-pane active" id="SizeChartSESEPROGPGPAIR">
                    
                    <h4 style="text-transform: uppercase;">Fuse Jerseys</h4>
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                          <th>Size</th>
                                        <th>A| CHEST</th>
                                        <th>B| BODY LENGTH</th>
                                        <th>C| SLEEVE LENGTH</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                        
                                    </tr>
                                    <tr>
                                     <td>SMALL       </td>
                                    <td>49.5 CM </td>
                                    <td>7 7.5 CM</td>
                                    <td>75.5 CM </td>
                                    </tr>
                                    <tr>
                                 <td>MEDIUM     </td>
                                    <td>53 CM   </td>
                                    <td>80 CM   </td>
                                    <td>76.8 CM </td>

                                    </tr>
                                    <tr>
                                 <td>LARGE      </td>
                                    <td>57 CM   </td>
                                    <td>82.5 CM </td>
                                    <td>78 CM   </td>
                                    </tr>
                                     <tr>
                                 <td>X-LARGE      </td>
                                    <td>70 CM   </td>
                                    <td>87.5 CM </td>
                                    <td>80.5 CM </td>

                                    </tr>
                                    <tr>
                                <td>2X-LARGE     </td>
                                    <td>64.75 CM</td>
                                    <td>89 CM   </td>
                                    <td>82 CM   </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- Table end -->
                       
                       
                    </div> <!-- end #SizeChartSESEPROGPGPAIR --> 
                     <div role="tabpanel" class="tab-pane" id="SizeChartSPRINT">
                      <h4 style="text-transform: uppercase;">PULSE Jerseys </h4>
                        <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>Size</th>
                                        <th>A| CHEST</th>
                                        <th>B| FRONT LENGTH</th>
                                        <th>C| SLEEVE LENGTH</th>
                                     </tr>
                                 </thead>
                                  
                                    <tr>
                                     <td>Small</td>
                                  <td>53.5 CM</td>
                                    <td>79 CM</td>
                                    <td>76 CM</td>
                                    </tr>
                                    <tr>
                                   <td>Medium</td>
                                    <td>57 CM</td>
                                    <td>79 CM</td>
                                    <td>7 7.5 CM</td>
                                    </tr>
                                     <tr>
                                    <td>Large</td>
                                  <td>61 CM</td>
                                    <td>80 CM</td>
                                    <td>79 CM</td>

                                    </tr>
                                    <tr>
                                     <td>X-Large</td>
                                    <td>65 CM</td>
                                    <td>81 CM</td>
                                    <td>80 CM</td>
                                    </tr>
                                    <tr>
                                   <td>2X-Large</td>
                                    <td>68.5 CM</td>
                                    <td>84 CM</td>
                                    <td>81 CM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                      </div>  <!-- end #SizeChartSPRINT -->
                      <div role="tabpanel" class="tab-pane" id="SizeChartPRIME">
                      <h4 style="text-transform: uppercase;">PRIME FIT</h4>
                        <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>Size</th>
                                        <th>A| CHEST</th>
                                        <th>B| FRONT LENGTH</th>
                                        <th>C| SLEEVE LENGTH</th>
                                     </tr>
                                 </thead>
                                  
                                    <tr>
                                     <td>Small</td>
                                 <td>43 CM</td>
                                    <td>79 CM</td>
                                    <td>70.5 CM</td>
                                    </tr>
                                    <tr>
                                   <td>Medium</td>
                                    <td>48 CM</td>
                                    <td>79 CM</td>
                                    <td>71 CM</td>
                                    </tr>
                                     <tr>
                                    <td>Large</td>
                                    <td>52 CM</td>
                                    <td>80 CM</td>
                                    <td>73.5 CM</td>

                                    </tr>
                                    <tr>
                                     <td>X-Large</td>
                                    <td>56 CM</td>
                                    <td>81 CM</td>
                                    <td>75 CM</td>
                                    </tr>
                                    <tr>
                                   <td>2X-Large</td>
                                    <td>63 CM</td>
                                    <td>84 CM</td>
                                    <td>76 CM</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                      </div>  <!-- end #SizeChartPRIME -->
                </div> <!-- end SizeChartJerseyMen1 -->
             
                </div> <!-- end tab-content tab-content -->
                


                <div role="tabpanel" class="tab-pane" id="SizeChartJerseyWomen2">


                     <div class="tab-content tab-content--ys"> 

                    

                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tld-jersey.jpg?11931226565657139209" alt="Thor MX Jerseys Size Chart" title="Thor MX Jerseys Size Chart" style="margin: 0 auto;"></p>
                   
                        <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                          <th>Size</th>
                                        <th>A| CHEST</th>
                                        <th>B| BODY LENGTH</th>
                                        <th>C| SLEEVE LENGTH</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                    <td>X-Small</td>
                                 <td>46 CM  </td>
									<td>73.5 CM</td>
									<td>63.5 CM</td>
                                    </tr>
                                    <tr>
                                     <td>Small</td>
                                   <td>48 CM</td>
									<td>75 CM</td>
									<td>67 CM</td>
                                    </tr>
                                    <tr>
                                   <td>Medium</td>
                                   <td>51 CM</td>
									<td>75 CM</td>
									<td>71 CM</td>

                                    </tr>
                                    <tr>
                                    <td>Large</td>
                                   <td>53.5 CM</td>
									<td>76 CM</td>
									<td>75 CM</td>
                                    </tr>
                                     <tr>
                                     <td>X-Large</td>
                                    <td>56 CM</td>
									<td>76 CM</td>
									<td>76 CM</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- Table end -->
                    
                     </div>
                    </div>  
                    <div role="tabpanel" class="tab-pane" id="SizeChartJerseyWomen3">


                     <div class="tab-content tab-content--ys"> 

                    

                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tld-jersey.jpg?11931226565657139209" alt="Thor MX Jerseys Size Chart" title="Thor MX Jerseys Size Chart" style="margin: 0 auto;"></p>
                   
                        <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                          <th>Size</th>
                                        <th>A| CHEST</th>
                                        <th>B| BODY LENGTH</th>
                                        <th>C| SLEEVE LENGTH</th>
                                     </tr>
                                 </thead>
                                 <tr>
                                    <td>2X-Small</td>
                                	<td>33 CM</td>
									<td>52 CM</td>
									<td>47 CM</td>
                                    </tr>
                                    <tr>
                                    <td>X-Small</td>
                              		 <td>35.5 CM</td>
									<td>56 CM</td>
									<td>51 CM</td>
                                    </tr>
                                    <tr>
                                     <td>Small</td>
                             	   <td>38 CM</td>
									<td>60 CM</td>
									<td>55 CM</td>
                                    </tr>
                                    <tr>
                                   <td>Medium</td>
                                 	<td>40.5 CM</td>
									<td>62 CM</td>
									<td>58.5 CM</td>

                                    </tr>
                                    <tr>
                                    <td>Large</td>
                                  	<td>43 CM</td>
									<td>66 CM</td>
									<td>62 CM</td>                                    
									</tr>
                                     <tr>
                                     <td>X-Large</td>
                                    <td>46 CM</td>
									<td>70 CM</td>
									<td>66 CM</td>

                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- Table end -->
                    
                     </div>
                    </div> 
                 </div>   
            </div> <!-- SizeChartTab2 //-->    

            <div role="tabpanel" class="tab-pane" id="SizeChartTab3">

                <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

                    <li class="active"><a href="#SizeChartPantsMen1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
                    <li><a href="#SizeChartPantsWomen2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
                    <li><a href="#SizeChartPantsWomen3" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
                </ul>
           
                <div class="tab-content tab-content--ys"> 
                <div role="tabpanel" class="tab-pane active" id="SizeChartPantsMen1">
                   <div class="row">
                      <div class="col-sm-3 col-md-3 col-lg-3">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-reff-pants-mens.JPG?3185396060452614682" alt="Thor MX Pants Size Chart" title="Thor MX Pants Size Chart" style="margin: 0 auto;width: 80%;"></p>
                      </div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                     <div class="divider divider--md"></div>
                    <h4 style="text-transform: uppercase;">Jeans</h4>
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>Size</th>
                                        <th>A| WAIST</th>
                                        <th>B| INSEAM</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                   <td>28         </td>
									<td>68.5-71 CM </td>
									<td>70 CM      </td>

                                    </tr>
                                    <tr>
                               <td>30         </td>
									<td>73.5-76 CM </td>
									<td>71 CM      </td>

                                    </tr>
                                    <tr>
                                <td>32         </td>
									<td>79-81 CM   </td>
									<td>73.5 CM    </td>
                                    </tr>
                                     <tr>
                                 <td>34         </td>
									<td>84-86.5 CM </td>
									<td>76 CM      </td>

                                    </tr>
                                    <tr>
                           			  <td>36         </td>
									<td>89-91.5 CM </td>
									<td>79 CM      </td>
                                    </tr>
                                     <tr>
                          			  <td>38         </td>
									<td>94-86.5 CM </td>
									<td>80 CM      </td>
                                    </tr>
                                     <tr>
                       				 <td>40         </td>
									<td>99-101.5 CM</td>
									<td>80 CM</td>
                                    </tr>
                                     <tr>
                         			<td>42</td>
									<td>104-106.5 CM</td>
									<td>81 CM     </td>
                                    </tr>
                                     <tr>
                      				<td>44        </td>
									<td>109-112 CM</td>
									<td>81 CM     </td>
                                    </tr>
                                     <tr>
                        			 <td>46        </td>
									<td>114-117 CM</td>
									<td>82.5 CM   </td>
                                    </tr>
                                       <tr>
                       				<td>48        </td>
									<td>119-122 CM</td>
									<td>82.5 CM</td>
                                </tbody>
                            </table>
                          </div> <!-- Table end -->    
                          
                    </div>
                    <div class="col-sm-5 col-md-5 col-lg-5">
                     <div class="divider divider--md"></div>
                   <h4 style="text-transform: uppercase;">Off-Raod Pants</h4>
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>Size</th>
                                        <th>A| WAIST</th>
                                        <th>B| INSEAM</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                   <td>28         </td>
									<td>68.5-71 CM  </td>
									<td>75 CM       </td>

                                    </tr>
                                    <tr>
                               <td>30         </td>
									<td>73.5-76 CM  </td>
									<td>76 CM       </td>

                                    </tr>
                                    <tr>
                                	<td>32         </td>
									<td>79-81 CM    </td>
									<td>7 7.5 CM    </td>
                                    </tr>
                                     <tr>
                                 <td>34         </td>
									<td>84-86.5 CM  </td>
									<td>79 CM       </td>

                                    </tr>
                                    <tr>
                           			  <td>36         </td>
									<td>89-91.5 CM  </td>
									<td>81 CM       </td>
                                    </tr>
                                     <tr>
                          			  <td>38         </td>
									<td>94-86.5 CM  </td>
									<td>81 CM       </td>
                                    </tr>
                                     <tr>
                       				 <td>40         </td>
									<td>99-101.5 CM </td>
									<td>81 CM       </td>
                                    </tr>
                                     <tr>
                         			<td>42</td>
									<td>104-106.5 CM</td>
									<td>81 CM       </td>
                                    </tr>
                                     <tr>
                      				<td>44        </td>
									<td>109-112 CM  </td>
									<td>81 CM       </td>
                                    </tr>
                                     <tr>
                        			 <td>46        </td>
										<td>114-117 CM  </td>
									<td>81 CM       </td>
                                    </tr>
                                       <tr>
                       				<td>48        </td>
									<td>119-122 CM  </td>
									<td>81 CM       </td>
									</tr>
                                </tbody>
                            </table>
                          </div> <!-- Table end -->   
                          
                    </div>
                  </div>
                </div> <!-- end SizeChartPantsMen1 -->
                
                <div role="tabpanel" class="tab-pane" id="SizeChartPantsWomen2">
                   <div class="row">
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-tourmaster-pants-womens.jpg?12799316629770325582" alt="Troy Lee Pants Size Chart" title="Thor MX Pants Size Chart" style="margin: 0 auto;"></p>
                      </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                     <div class="divider divider--md"></div>
                    <h4 style="text-transform: uppercase;">PANTS</h4>
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>Size</th>
                                        <th>A| WAIST</th>
                                        <th>B| INSEAM</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                  <td>3/4  </td>
									<td>61 CM</td>
									<td>67 CM</td>

                                    </tr>
                                    <tr>
                              		<td>5/6  </td>
									<td>66 CM</td>
									<td>69 CM</td>

                                    </tr>
                                    <tr>
                               		 <td>7/8  </td>
									<td>71 CM</td>
									<td>71 CM</td>
                                    </tr>
                                     <tr>
                               		<td>9/10 </td>
									<td>76 CM</td>
									<td>73 CM</td>

                                    </tr>
                                    <tr>
                           			<td>11/12</td>
									<td>81 CM</td>
									<td>75 CM</td>
                                    </tr>
                                     <tr>
                          			 <td>13/14</td>
									<td>86.5 CM</td>
									<td>7 7 CM</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                   
                          </div> <!-- Table end -->
               
                        </div>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane" id="SizeChartPantsWomen3">
                   <div class="row">
                      <div class="col-sm-2 col-md-2 col-lg-2">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-thormx-youth.JPG?15510287169468757916" alt="Troy Lee Pants Jerseys Size Chart" title="Thor MX Pants Size Chart" style="margin: 0 auto;"></p>
                      </div>
                    <div class="col-sm-10 col-md-10 col-lg-10">
                     <div class="divider divider--md"></div>
                    <h4 style="text-transform: uppercase;">PANTS</h4>
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>Size</th>
                                        <th>A| WAIST</th>
                                        <th>B| INSEAM</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                  <td>18        </td>
									<td>43-46 CM  </td>
									<td>41 CM     </td>

                                    </tr>
                                    <tr>
                              		<td>20        </td>
									<td>48-51 CM  </td>
									<td>51.5 CM   </td>

                                    </tr>
                                    <tr>
                               		 <td>20        </td>
									<td>48-51 CM  </td>
									<td>51.5 CM   </td>
                                    </tr>
                                     <tr>
                            		 <td>24        </td>
									<td>53-61 CM   </td>
									<td>60 CM     </td>

                                    </tr>
                                    <tr>
                          			<td>26        </td>
									<td>63.5-66 CM</td>
									<td>63.5 CM</td>
                                    </tr>
                                     <tr>
                          			<td>28</td>
									<td>68.5-71 CM</td>
									<td>66 CM</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                   
                          </div> <!-- Table end -->
               
                        </div>
                    </div>
                  </div>
                </div> <!-- end SizeChartPantsWomen2 -->
                </div>   <!-- end SizeChartTab3 -->
          

          <div role="tabpanel" class="tab-pane" id="SizeChartTab4">

                <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

                    <li class="active"><a href="#SizeChartShortsMen1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
                    <li><a href="#SizeChartShortsWomen2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
                    <li><a href="#SizeChartShortsWomen3" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
                </ul>
            <div class="tab-content tab-content--ys"> 

                <div role="tabpanel" class="tab-pane active" id="SizeChartShortsMen1">
                   <div class="row">
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/thor-mx-boots.jpg?12981618105569228612" alt="Thor MX Boots Size Chart" title="Thor MX Boots Size Chart" style="margin: 0 auto;width: 87%;"></p>
                      </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
 				<div class="divider divider--md"></div>
 				 <h4 style="text-transform: uppercase;">Mens's Blitz Boots </h4>
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                        			<tr>
                                    <td>US  </td>
									<td>7   </td>
									<td>8   </td>
									<td>9   </td>
									<td>10  </td>
									<td>11  </td>
									<td>12  </td>
									<td>13  </td>
									<td>14  </td>
									<td>15  </td>
                                    </tr>
                                    <tr>
                                    <td>UK  </td>
									<td>5   </td>
									<td>6   </td>
									<td>7   </td>
									<td>8   </td>
									<td>9   </td>
									<td>10  </td>
									<td>11  </td>
									<td>12  </td>
									<td>13  </td>
                                    </tr>
                                    <tr>
                              		<td>EU  </td>
									<td>40.5</td>
									<td>42  </td>
									<td>43  </td>
									<td>44.5</td>
									<td>45.5</td>
									<td>47  </td>
									<td>48  </td>
									<td>49.5</td>
									<td>51  </td>
                                    </tr>
                                </tbody>
                            </table>
                          </div> <!-- Table end -->      

                  </div> <!-- end col-sm-8 col-md-8 col-lg-8 -->
                 
                </div> <!-- end row -->
                 </div>   <!-- SizeChartShortsMen1 -->
               	<div role="tabpanel" class="tab-pane" id="SizeChartShortsWomen2">
                   <div class="row">
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/thor-mx-boots.jpg?12981618105569228612" alt="Thor MX Boots Size Chart" title="Thor MX Boots Size Chart" style="margin: 0 auto;width: 87%;"></p>
                      </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
 				<div class="divider divider--md"></div>
 				 <h4 style="text-transform: uppercase;">Women's Blitz Boots </h4>
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                        			<tr>
                                    <td>US</td>
									<td>1 </td>
									<td>2 </td>
									<td>3 </td>
									<td>4 </td>
									<td>5 </td>
									<td>6 </td>
									<td>7 </td>
                                    </tr>
                                    <tr>
                                    <td>UK</td>
									<td>13</td>
									<td>1 </td>
									<td>2 </td>
									<td>3 </td>
									<td>4 </td>
									<td>5 </td>
									<td>6 </td>
                                    </tr>
                                    <tr>
                              		<td>EU</td>
									<td>32</td>
									<td>33</td>
									<td>34</td>
									<td>36</td>
									<td>37</td>
									<td>38</td>
									<td>39</td>
                                    </tr>
                                </tbody>
                            </table>
                          </div> <!-- Table end -->      

                  </div> <!-- end col-sm-8 col-md-8 col-lg-8 -->
                 
                </div> <!-- end row -->
                 </div>   <!-- SizeChartShortsMen1 -->
                 <div role="tabpanel" class="tab-pane" id="SizeChartShortsWomen3">
                   <div class="row">
                      <div class="col-sm-4 col-md-4 col-lg-4">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/thor-mx-boots.jpg?12981618105569228612" alt="Thor MX Boots Size Chart" title="Thor MX Boots Size Chart" style="margin: 0 auto;width: 87%;"></p>
                      </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
 <div class="divider divider--md"></div>
  <h4 style="text-transform: uppercase;">YOuth Blitz Boots </h4>
                    <div class="table_responsive" style="overflow: auto;" >
                              <table class="table table-bordered table-striped">
                                 <tbody>
                        			<tr>
                                    <td>US</td>
									<td>5 </td>
									<td>6 </td>
									<td>7 </td>
									<td>8 </td>
									<td>9 </td>
									<td>10</td>
                                    </tr>
                                    <tr>
                                  	<td>UK</td>
									<td>2.5</td>
									<td>3.5</td>
									<td>4.5</td>
									<td>5.5</td>
									<td>6.5</td>
									<td>7.5</td>
                                    </tr>
                                    <tr>
                              		<td>EU</td>
									<td>35</td>
									<td>36</td>
									<td>37</td>
									<td>38</td>
									<td>39</td>
									<td>40</td>
                                    </tr>
                                </tbody>
                            </table>
                          </div> <!-- Table end -->      

                  </div> <!-- end col-sm-8 col-md-8 col-lg-8 -->
                 
                </div> <!-- end row -->
                 </div>   <!-- SizeChartShortsMen1 -->
                 </div>   <!-- SizeChartShortsMen1 -->

         
                </div>   <!-- end SizeChartTab4 -->
                <div role="tabpanel" class="tab-pane" id="SizeChartTab5">

      
            <div class="tab-content tab-content--ys"> 

          
                   <div class="row">
                      <div class="col-sm-3 col-md-3 col-lg-3">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/thor-mx-gloves.jpg?370894609750013209" alt="Thor MX Gloves Size Chart" title="Thor MX Gloves Size Chart" style="margin: 0 auto;width: 87%;"></p>
                      </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
 				<div class="divider divider--md"></div>
 				 <h4 style="text-transform: uppercase;">HOW TO DETERMINE YOUR GLOVE SIZE</h4>
                		
                		<p>Thor glove size is determined by measuring the width of your palm at
its widest point below the knuckles. To get this measurement, place
your hand on the page with the intersection of your thumb and palm
positioned at the dotted “V” line and on top of the Men’s and Women’s
measuring guide. This will give you your estimated glove size.</p>
                		<div class="divider divider--md"></div>

						<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/thor-mx-gloves-tape.jpg?370894609750013209" alt="Thor MX Gloves Size Chart" title="Thor MX Gloves Size Chart" style="margin: 0 auto;"></p>

                  </div> <!-- end col-sm-8 col-md-8 col-lg-8 -->
                 
                </div> <!-- end row -->
               
              
                 </div>   <!-- SizeChartShortsMen1 -->

         
                </div>   <!-- end SizeChartTab4 -->
    

 <p class="sizechart-note"><code>*</code>&nbsp; ALL SIZING CHARTS SERVE ONLY AS A GUIDE. TO ENSURE THE PROPER FIT, ALWAYS TRY ON THE REAL PRODUCT.</p>

        </div>

