<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
              margin-top: -160px;
          }
    } 
</style>


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
  <li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
  <li ><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  

<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#MensBoardshorts" role="tab"data-toggle="tab" class="text-uppercase">Boardshorts</a></li>
  <li ><a href="#MensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  <li ><a href="#MensShirts" role="tab"data-toggle="tab" class="text-uppercase">Shirts</a></li>
  <li ><a href="#MensFootwear" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
</ul>

<div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="MensBoardshorts">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-boardshorts-reef-mens.JPG?256027720924244654" alt="Reef Boardshorts Size Charts" title="Reef Boardshorts Size Charts" style="margin: 0 auto;"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">A.| Waist</h4>
          <p>Bend to one side to find the natural crease of your waistline.</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th colspan="10">Waist</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                  <td>28</td>
                  <td>30</td>
                  <td>31</td>
                  <td>32</td>
                  <td>33</td>
                  <td>34</td>
                  <td>36</td>
                  <td>38</td>
                  <td>40</td>
                  <td>42</td>

                  </tr>

                  
            </tbody>
          </table>
          
         <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- MensJackets -->

  <div role="tabpanel" class="tab-pane" id="MensPants">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-reff-pants-mens.JPG?12136995167986945353" alt="Reef Pants Size Charts"  title="Reef Pants Size Charts" style="margin: 0 auto;"/>
    
    </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
          <h4 style="text-transform:uppercase;font-weight:bold;">Waist</h4>
          <p>Bend to one side to find the natural crease of your waistline.</p>
          <h4 style="text-transform:uppercase;font-weight:bold;">Inseam</h4>
          <p>Measure a pair of pants that fit you well. Measure along the inside of the leg from the crotch to the hem</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th>Size      </th>
                    <th>A.| Waist </th>
                    <th>B.| Inseam</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>28  </td>
                    <td>29.5</td>
                    <td>31  </td>
                  </tr>
                  <tr>
                    <td>30  </td>
                    <td>31.5</td>
                    <td>31  </td>
                  </tr>
                  <tr>
                    <td>31  </td>
                    <td>32.5</td>
                    <td>31  </td>
                  </tr>
                  <tr>
                    <td>32  </td>
                    <td>33.5</td>
                    <td>31  </td>
                    </tr>
                <tr>
                    <td>33  </td>
                    <td>34.5</td>
                    <td>32  </td>
                </tr>
                <tr>
                    <td>34  </td>
                    <td>35.5</td>
                    <td>32  </td>
                </tr>
                <tr>
                    <td>36  </td>
                    <td>37.5</td>
                    <td>32  </td>
                    </tr>
                <tr>
                    <td>38  </td>
                    <td>39.5</td>
                    <td>32</td>
                </tr>

                  
            </tbody>
          </table>
          
         <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- Pants -->

<div role="tabpanel" class="tab-pane" id="MensShirts">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-reff-shirts-mens.JPG?2964477861715248634" alt="Reef Shirts Size Charts" title="Reef Shirts Size Charts" style="margin: 0 auto;"/>
    
    </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
          <h4 style="text-transform:uppercase;font-weight:bold;">A.| Chest</h4>
          <p>Measure around your body, uder your armpits and over the fullest part of your chest and shoulder blades.</p>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th>Size </th>
                    <th>Tee's</th>
                    <th>Tanks</th>
                    <th>Fleece hooded pullovers</th>
                    <th>Fleece zip hoodies</th>
                    <th>Jackets</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>S   </td>
                    <td>18.5</td>
                    <td>18  </td>
                    <td>21.5</td>
                    <td>20.5</td>
                    <td>21.5</td>
                  </tr>
                  <tr>
                    <td>M   </td>
                    <td>20  </td>
                    <td>20  </td>
                    <td>23  </td>
                    <td>22  </td>
                    <td>23  </td>
                  </tr>
                  <tr>
                    <td>L   </td>
                    <td>21.5</td>
                    <td>22  </td>
                    <td>24.5</td>
                    <td>23.5</td>
                    <td>24.5</td>
                  </tr>
                  <tr>
                    <td>XL  </td>
                    <td>23  </td>
                    <td>24  </td>
                    <td>26  </td>
                    <td>25  </td>
                    <td>26.5</td>
                    </tr>
                <tr>
                    <td>XXL </td>
                    <td>24.5</td>
                    <td>26  </td>
                    <td>27.5</td>
                    <td>26.5</td>
                    <td>28.5</td>

                </tr> 
            </tbody>
          </table>
          
         <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- Shirts -->

<div role="tabpanel" class="tab-pane" id="MensFootwear">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <p id="img_mobile"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?8019389621017100315" alt="Reef Footwear Size Charts" title="Reef Footwear Size Charts" style="margin: 0 auto;margin-top: 143px;"/></p>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">Sandals</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
<!--               <tr>
                    <th>Size </th>
                    <th>Tee's</th>
                    <th>Tanks</th>
                    <th>Fleece hooded pullovers</th>
                    <th>Fleece zip hoodies</th>
                    <th>Jackets</th>

                  
              </tr> -->
            </thead>
              <tbody>
                
                  <tr>
                    <td>US</td>
                    <td>4 </td>
                    <td>5 </td>
                    <td>6 </td>
                    <td>7 </td>
                    <td>8 </td>
                    <td>9 </td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                  </tr>
                  <tr>
                    <td>UK</td>
                    <td>3 </td>
                    <td>4 </td>
                    <td>5 </td>
                    <td>6 </td>
                    <td>7 </td>
                    <td>8 </td>
                    <td>9 </td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                  </tr>
                  <tr>
                   <td>EUR</td>
                    <td>35</td>
                    <td>36</td>
                    <td>37.5</td>
                    <td>39</td>
                    <td>40</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                    <td>47</td>
                    <td>48</td>
                    <td>49</td>
                    <td>50</td>
                  </tr>
                  <tr>
               <td>JAPAN</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30</td>
                    <td>31</td>
                    <td>32</td>
                    <td>33</td>
                    <td>34</td>
                    <td>35</td>
                    </tr>

            </tbody>
          </table>
          <h4 style="text-transform:uppercase;font-weight:bold;">Shoes</h4>
          <table class="table table-bordered table-striped billa_boys">
            <thead>
<!--               <tr>
                    <th>Size </th>
                    <th>Tee's</th>
                    <th>Tanks</th>
                    <th>Fleece hooded pullovers</th>
                    <th>Fleece zip hoodies</th>
                    <th>Jackets</th>

                  
              </tr> -->
            </thead>
              <tbody>
                
                  <tr>
                    <td>US   </td>
                    <td>4    </td>
                    <td>5    </td>
                    <td>6    </td>
                    <td>7    </td>
                    <td>7.5  </td>
                    <td>8    </td>
                    <td>8.5  </td>
                    <td>9    </td>
                    <td>9.5  </td>
                    <td>10   </td>
                    <td>10.5 </td>
                    <td>11   </td>
                    <td>11.5 </td>
                    <td>12   </td>
                    <td>13   </td>
                    <td>14   </td>
                    <td>15   </td>
                    <td>16   </td>
                    <td>17   </td>
                  </tr>
                  <tr>
                    <td>UK   </td>
                    <td>3    </td>
                    <td>4    </td>
                    <td>5    </td>
                    <td>6    </td>
                    <td>6.5  </td>
                    <td>7    </td>
                    <td>7.5  </td>
                    <td>8    </td>
                    <td>8.5  </td>
                    <td>9    </td>
                    <td>9.5  </td>
                    <td>10   </td>
                    <td>10.5 </td>
                    <td>11   </td>
                    <td>12   </td>
                    <td>13   </td>
                    <td>14   </td>
                    <td>15   </td>
                    <td>16   </td>
                  </tr>
                  <tr>
             <td>EUR  </td>
                    <td>35   </td>
                    <td>36   </td>
                    <td>37.5 </td>
                    <td>39   </td>
                    <td>39.5 </td>
                    <td>40   </td>
                    <td>41   </td>
                    <td>42   </td>
                    <td>42.5 </td>
                    <td>43   </td>
                    <td>43.5 </td>
                    <td>44   </td>
                    <td>44.5 </td>
                    <td>45   </td>
                    <td>46   </td>
                    <td>47   </td>
                    <td>48   </td>
                    <td>49   </td>
                    <td>50   </td>
                  </tr>
                  <tr>
               <td>JAPAN</td>
                    <td>22  </td>
                    <td>23  </td>
                    <td>24  </td>
                    <td>25  </td>
                    <td>25.5</td>
                    <td>26  </td>
                    <td>26.5</td>
                    <td>27  </td>
                    <td>27.5</td>
                    <td>28  </td>
                    <td>28.5</td>
                    <td>29  </td>
                    <td>29.5</td>
                    <td>30</td>
                    <td>31</td>
                    <td>32</td>
                    <td>33</td>
                    <td>34</td>
                    <td>35</td>
                    </tr>

            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- Footwear -->

</div> <!-- ys -->
</div> <!-- SizeChartTab2-->


<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#WoMensFootwear" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
</ul>

<div class="tab-content tab-content--ys">    

<div role="tabpanel" class="tab-pane active" id="WoMensFootwear">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <p id="img_mobile"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?8019389621017100315" alt="Reef Footwear Size Charts" title="Reef Footwear Size Charts" style="margin: 0 auto;margin-top: 143px;"/></p>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">Sandals</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
<!--               <tr>
                    <th>Size </th>
                    <th>Tee's</th>
                    <th>Tanks</th>
                    <th>Fleece hooded pullovers</th>
                    <th>Fleece zip hoodies</th>
                    <th>Jackets</th>

                  
              </tr> -->
            </thead>
              <tbody>
                
                  <tr>
                    <td>US   </td>
                    <td>4    </td>
                    <td>5    </td>
                    <td>6    </td>
                    <td>7    </td>
                    <td>8    </td>
                    <td>9    </td>
                    <td>10   </td>
                    <td>11   </td>
                  </tr>
                  <tr>
                   <td>UK   </td>
                    <td>2    </td>
                    <td>3    </td>
                    <td>4    </td>
                    <td>5    </td>
                    <td>6    </td>
                    <td>7    </td>
                    <td>8    </td>
                    <td>9    </td>
                  </tr>
                  <tr>
                  <td>EUR  </td>
                    <td>34   </td>
                    <td>35   </td>
                    <td>36   </td>
                    <td>37.5 </td>
                    <td>38.5 </td>
                    <td>40   </td>
                    <td>41   </td>
                    <td>42.5 </td>
                  </tr>
                  <tr>
                 <td>JAPAN</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    </tr>

            </tbody>
          </table>
          <h4 style="text-transform:uppercase;font-weight:bold;">Shoes</h4>
          <table class="table table-bordered table-striped billa_boys">
            <thead>
<!--               <tr>
                    <th>Size </th>
                    <th>Tee's</th>
                    <th>Tanks</th>
                    <th>Fleece hooded pullovers</th>
                    <th>Fleece zip hoodies</th>
                    <th>Jackets</th>

                  
              </tr> -->
            </thead>
              <tbody>
                
                  <tr>
                    <td>US   </td>
                    <td>4    </td>
                    <td>5    </td>
                    <td>6    </td>
                    <td>6.5  </td>
                    <td>7    </td>
                    <td>7.5  </td>
                    <td>8    </td>
                    <td>8.5  </td>
                    <td>9    </td>
                    <td>9.5  </td>
                    <td>10   </td>
                    <td>11   </td>
                  </tr>
                  <tr>
                    <td>UK   </td>
                    <td>2    </td>
                    <td>3    </td>
                    <td>4    </td>
                    <td>4.5  </td>
                    <td>5    </td>
                    <td>5.5  </td>
                    <td>6    </td>
                    <td>6.5  </td>
                    <td>7    </td>
                    <td>7.5  </td>
                    <td>8    </td>
                    <td>9    </td>
                  </tr>
                  <tr>
             <td>EUR  </td>
                    <td>34   </td>
                    <td>35   </td>
                    <td>36   </td>
                    <td>37   </td>
                    <td>37.5 </td>
                    <td>38   </td>
                    <td>38.5 </td>
                    <td>39   </td>
                    <td>40   </td>
                    <td>40.5 </td>
                    <td>41   </td>
                    <td>42.5 </td>
                  </tr>
                  <tr>
                <td>JAPAN</td>
                    <td>21  </td>
                    <td>22  </td>
                    <td>23  </td>
                    <td>23.5</td>
                    <td>24  </td>
                    <td>24.5</td>
                    <td>25  </td>
                    <td>25.5</td>
                    <td>26  </td>
                    <td>26.5</td>
                    <td>27</td>
                    <td>28</td>
                    </tr>

            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp;  For Half Sizes, Size Up </p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- Footwear -->

</div> <!-- ys -->
</div> <!-- SizeChartTab3-->
<div role="tabpanel" class="tab-pane " id="SizeChartTab4">

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#YouthFootwear" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>
</ul>

<div class="tab-content tab-content--ys">    

<div role="tabpanel" class="tab-pane active" id="YouthFootwear">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <p id=""><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?8019389621017100315" alt="Reef Footwear Size Charts" title="Reef Footwear Size Charts" style="margin: 0 auto;"/></p>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                    <th>Size</th>
                    <th colspan="4">Approximate Age: 9 Months-5 Years </th>
                    <th colspan="5">Approximate Age: 6-11 Years</th>
                    

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>US</td>
                    <td>3/4  </td>
                    <td>5/6  </td>
                    <td>7/8  </td>
                    <td>9/10 </td>
                    <td>11/12</td>
                    <td>13/1 </td>
                    <td>2/3  </td>
                    <td>4/5  </td>
                    <td>6/7  </td>
                  </tr>
                  <tr>
                    <td>UK   </td>
                    <td>2/3  </td>
                    <td>4/5  </td>
                    <td>6/7  </td>
                    <td>8/9  </td>
                    <td>10/11</td>
                    <td>12/13</td>
                    <td>1/2  </td>
                    <td>3/4  </td>
                    <td>5/6  </td>
                  </tr>
                  <tr>
                   <td>EUR  </td>
                    <td>19/20</td>
                    <td>21/22</td>
                    <td>23/24</td>
                    <td>25/26</td>
                    <td>28/29</td>
                    <td>31/32</td>
                    <td>33/34</td>
                    <td>35/36</td>
                    <td>37/38</td>
                  </tr>
                  <tr>
                   <td>JAPAN</td>
                    <td>11</td>
                    <td>12.5</td>
                    <td>14.5</td>
                    <td>16</td>
                    <td>18</td>
                    <td>20</td>
                    <td>22</td>
                    <td>24</td>
                  <td>26</td>
                    </tr>
                     <tr>
                      <td>Length (CM)</td>
                    <td>11  </td>
                    <td>12.5</td>
                    <td>14.5</td>
                    <td>16</td>
                    <td>18</td>
                    <td>20</td>
                    <td>22</td>
                    <td>24</td>
                    <td>26</td>
                    </tr>

            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp;  All age/size ranges are intended for general reference and are to be used as a guide only; 
 age and size will vary. All kids' sandals are offered in shared sizing.  </p>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
</div> <!-- Footwear -->

</div> <!-- ys -->
</div> <!-- SizeChartTab3-->

</div><!-- tab-content tab-content-ys obs_sizechart -->
