<style type="text/css">
td{
  background: white;
  color: black;
}
.melvz h4{
  font-size: 26px;
}


.chart-text-box{
  padding: 10px;
  border: 5px solid #e1e1e2;
  background: #fff;
  margin: 10px  ; 0;
}


</style>

<div class="row">
          <div class="col-sm-6 col-md-6 col-lg-5">
                 <div class="col-md-6">
                  <center>
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/independent-general-size-image-men.jpg?6251105864929681281" alt="Independent Mens Size Chart">
                  </center>
              </div>
              <div class="col-md-6">
                  <center>
                    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/independent-general-size-image-women.jpg?6251105864929681281" alt="Independent Womens Size Chart">
                  </center>
              </div>
              <div class="divider divider--xs"></div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-7">
             <div class="chart-text-box">
                <h4 class="melvz" style="font-weight: bold; ">A | CHEST</h4>
                <p class="text-uppercase" style="margin: 0;">Measure around your upper body, under your armpits and over the fulliest part of your chest and shoulder blades.</p>
             </div>
                <div class="chart-text-box">
                <h4 class="melvz"style="font-weight: bold; ">B | WAIST</h4>
                <p class="text-uppercase" style="margin: 0;">Bend to one side to find the natural crease of your waistline.</p>
             </div>
             <div class="chart-text-box">
                <h4 class="melvz" style="font-weight: bold; ">C | INSEAM</h4>
                <p class="text-uppercase" style="margin: 0;">Measure a pair of pants that fit you well. Measure along the inside of the leg from the crotch to the item.</p>
             </div>
             <div class="chart-text-box">
                <h4 class="melvz" style="font-weight: bold; ">D | BUST</h4>
                <p class="text-uppercase" style="margin: 0;">Measure around the fullest part of your bust.</p>
             </div>
             <div class="chart-text-box">
                <h4 class="melvz" style="font-weight: bold; ">E | HIPS</h4>
                <p class="text-uppercase" style="margin: 0;">Standing with feet together, measure around the fullest part of your hips.</p>
             </div>
          </div>
  </div>
      

    <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
        <li class="active"><a href="#Store-wall-SizeChartTab1" role="tab" data-toggle="tab" class="text-uppercase">Mens</a></li>
        <li><a href="#Store-wall-SizeChartTab2" role="tab" data-toggle="tab" class="text-uppercase">Womens</a></li>
    </ul>

  <div class="tab-content tab-content--ys Sbs_store-wall-sizechart">

  <div role="tabpanel" class="tab-pane active" id="Store-wall-SizeChartTab1">

  <div class="tab-content tab-content--ys">

       <h4>MEN'S APPAREL</h4>
       <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                  <td>&nbsp;</td>
                  <td colspan="2">S</td>
                  <td colspan="2">M</td>
                  <td colspan="2">L</td>
                  <td colspan="2">XL</td>
                  <td colspan="2">XXL</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>CM</td>
                  <td>INCH</td>
                  <td>CM</td>
                  <td>INCH</td>
                  <td>CM</td>
                  <td>INCH</td>
                  <td>CM</td>
                  <td>INCH</td>
                  <td>CM</td>
                  <td>INCH</td>
                </tr>
                <tr>
                  <th>Chest</th>
                  <td>92-96</td>
                  <td>36-38</td>
                  <td>96-102</td>
                  <td>38-40</td>
                  <td>102-106</td>
                  <td>40-42</td>
                  <td>109-114</td>
                  <td>43-45</td>
                  <td>116-122</td>
                  <td>46-48</td>
                </tr>
                <tr>
                  <th>Waist</th>
                  <td>74-79</td>
                  <td>29-31</td>
                  <td>79-84</td>
                  <td>31-33</td>
                  <td>84-89</td>
                  <td>33-35</td>
                  <td>92-96</td>
                  <td>36-38</td>
                  <td>98-104</td>
                  <td>38-40</td>
                </tr>
                <tr>
                  <th>Hip</th>
                  <td>92-96</td>
                  <td>36-38</td>
                  <td>96-102</td>
                  <td>38-40</td>
                  <td>102-106</td>
                  <td>40-42</td>
                  <td>106-112</td>
                  <td>42-44</td>
                  <td>114-119</td>
                  <td>45-47</td>
                </tr>
                <tr>
                  <th>Inseam</th>
                  <td>79-82</td>
                  <td>31-32</td>
                  <td>82-84</td>
                  <td>32-33</td>
                  <td>84-86</td>
                  <td>33-34</td>
                  <td>86-89</td>
                  <td>34-35</td>
                  <td>89-92</td>
                  <td>35-36</td>
                </tr>
              </tbody>
            </table>
          </div>
       <!-- Responsive Table -->
    </div>
  </div>  <!-- Store-wall-SizeChartTab1-->


  <div role="tabpanel" class="tab-pane" id="Store-wall-SizeChartTab2">

  <div class="tab-content tab-content--ys">
    <div>
      <h4>WOMEN'S APPAREL</h4>
      </div>

       <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <tbody>
                <tr>
                <td>&nbsp;</td>
                <td colspan="2">S</td>
                <td colspan="2">M</td>
                <td colspan="2">L</td>
                <td colspan="2">XL</td>
                <td colspan="2">XXL</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>CM</td>
                <td>INCH</td>
                <td>CM</td>
                <td>INCH</td>
                <td>CM</td>
                <td>INCH</td>
                <td>CM</td>
                <td>INCH</td>
                <td>CM</td>
                <td>INCH</td>
              </tr>
              <tr>
                <th>Chest</th>
                <td>79-84</td>
                <td>31-33</td>
                <td>84-89</td>
                <td>33-35</td>
                <td>89-94</td>
                <td>35-37</td>
                <td>96.5-101.5</td>
                <td>38-40</td>
                <td>101.5-106.5</td>
                <td>40-42</td>
              </tr>
              <tr>
                <th>Waist</th>
                <td>61-66</td>
                <td>24-26</td>
                <td>66-71</td>
                <td>26-28</td>
                <td>71-76</td>
                <td>28-30</td>
                <td>76-81</td>
                <td>30-32</td>
                <td>84-89</td>
                <td>33-35</td>
              </tr>
              <tr>
                <th>Hip</th>
                <td>86-91.5</td>
                <td>34-36</td>
                <td>91.5-96.5</td>
                <td>36-38</td>
                <td>96.5-101.5</td>
                <td>38-40</td>
                <td>101.5-106.5</td>
                <td>40-42</td>
                <td>109-114</td>
                <td>43-45</td>
              </tr>
              <tr>
                <th>Inseam</th>
                <td>71-73.5</td>
                <td>28-29</td>
                <td>73.5-76</td>
                <td>29-30</td>
                <td>76-79</td>
                <td>30-31</td>
                <td>79-81</td>
                <td>31.32</td>
                <td>81-84</td>
                <td>32-33<br>
                &nbsp;</td>
              </tr>
            </tbody>
          </table>
      <br>
      &nbsp;
    </div>
    </div>
           <!-- Responsive Table -->
</div> <!-- ys -->
  </div> <!-- Store-wall-SizeChartTab2 -->


<!-- Sbs_store-wall-sizechart -->