<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<img style="max-width: 75%;" class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/10_-OFF-page-032420.jpg?v=1585014870" alt="10% Off"/>
<hr class="hr-lg" />
<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">10% Off Entire Basket</h3>


<ul>
<li>Enter promotional code <span style="color: #ff0000;"><b>HAPPY10</b></span> during checkout.</li>
<li><b><span style="color: #fff; background-color: black;">Valid for Helmets and Apparel only</span></b>. Boots, Luggage, Hard/Body Parts, Oils, Tires, Batteries and Oversized items excluded.</li>
<li><b><span style="color: #fff; background-color: black;">Promo is valid for all brands except : </span></b> 6D, 100%, Adaptiv Technologies, AFX, Alpinestars, Answer Racing, Arai, AXO, Bell, Black Brand, Cortech, Cruztools, Divas, Drayko, FirstGear, Fly Racing, Fox Racing, Geigerrig, Giant Loop, Gmax, Hayabusa, HJC, Hmk, Icon, Joe Rocket, Klim, Kuryakyn, Leatt, Lil Lightning Inc, LS2, Maxxis, Mobius, Motion Pro, MSR Racing, NDC, NOCO, Nolan, Oakley, Ogio, Olympia, O'Neal Racing, Ortovox, Pivot Pegz, Pro Taper, Ricks, River Road, Scorpion, Sena, Seven, Shift Racing, Shoei, Shot, Sidi, Smith Optics, SP gadgets, Speed & Strength, Suncloud Optics, Suomy, Tapout, TCX, Thor MX, Tomtom, Tour Master, Troy Lee Designs, Uclear, Vega, Venture Heat, Venum, Virus, Z1R</li>
<li>Applies only to orders shipping to a single address.</li>
<li>Not valid with any other offer.</li>
<li><b><span style="color: #ff0000;" color="#ff0000">You can only use one coupon at a time during check out.</span></b></li>
<li>Delivery times may vary. Orders are processed and delivered during the business week (Monday - Friday) only and do not guarantee delivery by a specific date or time.</li>
<li>Order cancellations or returns are subject to our cancellation fees.</li>
<li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items.</li>
<li>Check our <a href="/pages/shopping-policies" style="text-decoration: underline;">Shopping Policies</a> page for additional information.</li>
</ul>

</div>
</div>
