<!-- <h3 class="text-center title-under home_title">MOTORHELMETS MOTORCYCLE SERVICE AND REPAIR MENU</h3> -->

<div class="row">
    <div class="col-sm-12 col-md-12 ">
     
      
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice4-032120.jpg?v=1584772524" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorservice5-032120.jpg?v=1584772524" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="mmsr-title">
          <div class="mmsr-title-cont">
         <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
         <ul>
          <li>Our certified mechanic can service most European and Japanese bikes.</li>
          <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
          <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
          <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
        </ul> 
          </div>
        </div>
        
        <div class="clear"></div>
    </div>

</div>
<div class="divider divider--lg"></div>
<div class="jg_custom_pages">
<div class="motor-menu-cont">

{% include "page.motorcycle-service-menu-all" %}

<div class="divider divider--lg"></div>

  <p class="text-center home_title harley-page-title">Cruiser Motorcycles</p>
  <p class="text-center home_title text-uppercase harley-page-sub-title">(Metric &amp; Harley Davidson)</p>
<div class="divider divider--lg"></div> 
<div class="top-local-address">
<center>
<p style="font-size: 24px;font-weight: 500 !important;">Motorhelmets Fullerton CA</p>
<p>1871 W. Commonwealth Ave., Fullerton CA 92833 USA</p>
<p>Tel: 714-879-8180 | Email: team@motorhelmets.com | Service Dept SMS Txt: 657-217-3988 | Sales Dept SMS Txt: 657-217-6457</p>
<p>Store Hours: M-F 10am-7pm | Sat 11am-6pm</p>
<p><a href="https://www.picktime.com/motorhelmets" style="font-weight:bold;text-decoration:none;color:#c83138!important;">Schedule My Service</a></p>
</center>
</div>
 <div class="divider divider--lg"></div> 
<div class="divider divider--md"></div>
  <div class ="row">
    <div class= "col-sm-12 col-md-12 col-lg-12">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="moto-serv-title">METRIC CRUISER OIL CHANGE SPECIAL </th>
                  <th scope="col" class="moto-serv-title text-center">$100.00(10W40) / $135.00(20W50)</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                    <td>Change Engine Oil and Filter using Spectro 10W40 OEM Blend Oil or 20W50 Spectro Golden/Maxima </td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <td>Includes Premium HiFlo Filter</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>

            </tbody>
          </table>
        </div>

    </div>

    <div class="divider divider--xs hidden-lg"></div>
    <div class= "col-sm-12 col-md-12 col-lg-12">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="moto-serv-title">METRIC CRUISER FULL SYNTHETIC OIL CHANGE SPECIAL </th>
                  <th scope="col" class="moto-serv-title text-center">$135.00</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                    <td>Spectro Platinum </td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <td>Change Engine Oil and Filter using Full Synthetic Oil and Chrome or Black K&N Oil Filter</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>

            </tbody>
          </table>
        </div>
    </div>
    
        <div class="divider divider--xs hidden-lg"></div>
    <div class= "col-sm-12 col-md-12 col-lg-12">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col" class="moto-serv-title">HARLEY DAVISON OIL CHANGE SPECIAL</th>
                  <th scope="col" class="moto-serv-title text-center">$225.00</th>
                </tr>
              </thead>
            <tbody>
                <tr>
                    <td>Change Engine Oil and Filter using Spectro OEM Blend Oil/HiFlo Oil Filter</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <td>Change Primary Drive Oil using Spectro Golden Primary Drive Oil</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>
                <tr>
                    <td>Change Transmission Oil using Spectro Golden Gear Oil</td>
                    <td class="text-center"><i class="fa fa-check"></i></td>
                </tr>

            </tbody>
          </table>
        </div>

    </div>
    <div class="divider divider--xs hidden-lg"></div>
   <div class= "col-sm-12 col-md-12 col-lg-12">

    <div class="table_responsive">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="moto-serv-title">HARLEY DAVISON FULL SYNTHETIC OIL CHANGE SPECIAL</th>
              <th scope="col" class="moto-serv-title text-center">$325.00</th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <td>Change Engine Oil and Filter using Spectro Platinum 20W50 Oil and Chrome or Black K&N Oil Filter</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td>Change Primary Drive Oil using Spectro Platinum Primary Drive Oil</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td>Change Transmission Oil using Spectro Platinum Gear Oil</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>

        </tbody>
      </table>
    </div>

    </div>
    
<div class="divider divider--xs hidden-lg"></div>
   <div class= "col-sm-12 col-md-12 col-lg-12">
    <div class="table_responsive">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="moto-serv-title">METRIC CRUISER BASIC SERVICE</th>
              <th scope="col" class="moto-serv-title text-center">$250.00</th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <td>Change Engine Oil and Filter</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td>Clean, Adjust, and Lube Chain or Adjust Belt (Change Differential Gear Oil for $40.00 more)</td>
                <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
             <tr>
                <td>Inspect/Test Braking System</td> 
                <td class="text-center"><i class="fa fa-check"></i></td>
             </tr>
             <tr>
                <td>Lube/Adjust Levers</td> 
                 <td class="text-center"><i class="fa fa-check"></i></td>
             </tr>
             <tr>
                <td>Check/Adjust Tire Pressure</td> 
                <td class="text-center"><i class="fa fa-check"></i></td>
             </tr>
             <tr>
                <td>Inspect Drive System</td> 
             <td class="text-center"><i class="fa fa-check"></i></td>
             </tr>
             <tr>
                <td>Add Injector Cleaner</td> 
                <td class="text-center"><i class="fa fa-check"></i></td>
             </tr>
             <tr>
                <td>Add Engine Cleaner</td> 
                <td class="text-center"><i class="fa fa-check"></i></td>
             </tr>
             <tr>
                <td colspan="2"><i><b>* Additional Charge for Synthetic Oil +$25.00</b></i></td> 
             </tr>

        </tbody>
      </table>
    </div>
    </div>

    <div class="divider divider--xs hidden-lg"></div>
   <div class= "col-sm-12 col-md-12 col-lg-12">
    <div class="table_responsive">
      <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col" class="moto-serv-title">METRIC CRUISER MAJOR SERVICE</th>
              <th scope="col" class="moto-serv-title text-center">$350.00</th>
            </tr>
          </thead>
        <tbody>
            <tr>
             <td>Change Engine Oil and Filter</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Clean, Adjust, and Lube Chain or Adjust Belt (Change Differential Gear Oil for $40.00 more)</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Inspect/Test Braking System</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Lube/Adjust Levers</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Check/Adjust Tire Pressure</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Inspect Drive System</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Add Injector Cleaner</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Add Engine Cleaner</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Change Spark Plugs</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Clean Air Filter(s)</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Bleed Front/Rear Brake fluid</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
            <tr>
             <td>Bleed Clutch System or Lube Clutch Line</td>
            <td class="text-center"><i class="fa fa-check"></i></td>
            </tr>
             <tr>
                <td colspan="2"><i><b>* Additional Charge for Synthetic Oil +$25</b></i></td> 
             </tr>

        </tbody>
      </table>
    </div>
    </div>



  </div>

<div class = "row">

    <div class= "col-sm-12 col-md-12 col-lg-12 ">


  <div class="table_responsive">
  <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col" class="moto-serv-title">METRIC CRUISER / HARLEY DAVIDSON MISCELLANEOUS Labor</th>
          <th scope="col" class="moto-serv-title">Charges</th>
        </tr>
      </thead>
    <tbody>
    <tr>
    <td>Battery Test and/or Replace (Most Bikes) </td>
    <td>$35.00</td>
    </tr>
    <tr>
    <td>Carb Cleaning</td>
    <td> Call for Details</td>
    </tr>
    <tr>
    <td>Chain Service (Clean, Adjust, and Lube) </td>
    <td>$40.00</td>
    </tr>
    <tr>
    <td>Coolant Flush </td>
    <td>$80.00 * Using Standard Coolant – Additional Charge for Engine Ice</td>
    </tr>
    <tr>
    <td>Diagnostic Services </td>
    <td>Mechanical $100.00, Electrical $150.00 * Credited Toward Repairs</td>
    </tr>
    <tr>
    <td>Fork Seal Replacement </td>
    <td>Set $200.00 - $400.00 * Depending on Fork Type/Model</td>
    </tr>
    <tr>
    <td>Gas Tank Flush </td>
    <td>$60.00</td>
    </tr>
    <tr>
    <td>HID Install Per Bulb / LED Bulbs (Per Bulb)</td>
    <td>$80.00 - $150.00 * Depends on Bike - Call</td>
    </tr>
    <tr>
    <td>Spark Plugs (Varies) </td>
    <td>$100.00 - $200.00</td>
    </tr>
    <tr>
    <td>Sprocket Kit Install </td>
    <td>$90.00</td>
    </tr>
    <tr>
    <td>Valve Service </td>
    <td>$500.00 - $700.00 * Includes Spark Plug Change</td>
    </tr>
    <tr>
    <td>General Hourly Labor </td>
    <td>$100.00 * Depends on Bike</td>
    </tr>
    <tr>
    <td colspan="2"><b><i>Tire Changes (Add $10.00 if Tires not Purchased at Motorhelmets)</i></b></td>
    </tr>
    <tr>
    <td>Most Bikes </td>
    <td>$30.00 (Tires Off the Bike)</td>
    </tr>
    <tr>
    <td>HD/Cruiser Tires Front </td>
    <td>$80.00 - $120.00 (Tires On the Bike)</td>
    </tr>
    <tr>
    <td>HD/Cruiser Tires Rear </td>
    <td>$120.00 - $200.00 (Tires on the Bike)</td>
    </tr>
          <tr>
          <td colspan="2"><i style="font-weight: bold;"><i>* Above information applies to most bikes. Some bikes and setup may changes prices. <br>* eg. Dependent on exhaust system, bags, ease of access/removal of axle and wheel assembly. <br> * Tubes are Additional</i></td>
      </tr>
    </tbody>
  </table>
  <p><i>Note: The above service rates are based on Japanese V-twin wet-sump factory-stock bikes and are intended as a guide only. The actual rate for your motorcycle may vary, particularly if labor operation requested requires more time than most bikes.</i></p>
</div>




    </div>
  </div>
    </div>
    <div class="divider divider--lg"></div>
    {%comment%}
  <div class ="row">
    <div class ="col-sm-6 col-md-6 col-lg-6">
    <img class ="img-responsive" src = "https://beeldbank.prepublisher.com/pictures/Standaard/ZDC/2/ZDCC0002.PNG">
    </div>
    <div class= "col-sm-6 col-md-6 col-lg-6">
      <div class= "harley-title text-center">
        <h3>METRIC CRUISER OIL CHANGE SPECIAL <span>$60.00(10W40)</span> / <span>$75.00(20W50)</span></h3>
      </div>
      <div class ="harley-content">
        <ul>
          <li>Spectro Platinum or Motul 7100 10W40</li>
          <li>Change Engine Oil and Filter using Full Synthetic Oil and Chrome or Black K&amp;N Oil Filter</li>
        </ul>
      </div>
    </div>
  </div>
{%endcomment%}
{%comment%}
<div class="row">
<div class="col-lg-12">
<div class="moto_box">
<div class="moto_box_title">
<h2>METRIC CRUISER / HARLEY DAVIDSON MISCELLANEOUS LABOR CHARGES</h2>
</div>

<div class="col-md-6" style="padding: 0;">
</div>
<div class="divider divider--sm"></div>
<hr />
<div class="col-md-6">
<div style="margin: 0 5px;">
<p>* Above information applies to most bikes. Some bikes and setup may changes prices.</p>
<p>* eg. Dependent on exhaust system, bags, ease of access/removal of axle and wheel assembly.</p>
<p>* Tubes are Additional</p>
</div>
</div>
<div class="divider divider--md"></div>
<div>
<p><b>Note:</b> The above service rates are based on Japanese V-twin wet-sump factory-stock bikes and are intended as a guide only. The actual rate for your motorcycle may vary, particularly if labor operation requested requires more time than most bikes.</p>
</div>
</div>
</div>
</div>
  </div>
{%endcomment%}  