<style>
  .about_us_logos ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .about_us_logos ul li {
    display: inline-block;
    vertical-align: middle;
  }

  .about_us_logos ul li img {
    max-width: 300px;
    width: 100%;
  }

  p.aboutUsTexts
  {
    font-size:20px!important;
    color:black!important;
  }

 /*   .jg_custom_social_link2 {
        display: table;
        margin: 0 auto;
    }

    .jg_custom_social_link2 ul li {
        margin: 5px 10px !important;
    }

    .social-links2 {
        margin-bottom: 1.438em;
        overflow: hidden;
    }

    .social-links2 ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .social-links2 ul li {
        display: block;
        float: left;
        font-weight: 500!important;
        color: #535353 !important;
    }*/

      .social-links2 {
        margin-bottom: 2.438em;
        overflow: hidden;
        position: relative;
        left:36%;
        right:36%;
      }
      .social-links2 ul {
        margin: 0;
        padding: 0;
        text-align: center;
        list-style: none;
      }
      .social-links2 ul li {
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
      }
      .social-links2 ul a {
        text-decoration: none;
        display: inline-block;
        color: #333333;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -moz-transition: all 0.5s ease-out;
        -o-transition: all 0.5s ease-out;
        -webkit-transition: all 0.5s ease-out;
      }
      .social-links2:hover ul a {
        background-color: {{ settings.color_socialbase }};
      }
      /*.social-links2:hover ul a:hover {
        background-color: {{ settings.color_socialactive }};
        color: {{ settings.color_socialtextactive }};
        text-decoration: none;
      }*/

      /*.social-links2:hover ul a.motoPhotoBlog:hover {
        background-color: #9a9999;
        color: {{ settings.color_socialtextactive }};
        text-decoration: none;
      }*/


      .social-links2:hover ul a.fa-instagram:hover {
        background-color: #C13584;
        color: {{ settings.color_socialtextactive }};
        text-decoration: none;
      }

      .social-links2:hover ul a.google-icon:hover {
        background-color: #3995ff;
        color: {{ settings.color_socialtextactive }};
        text-decoration: none;
      }

      .social-links2:hover ul a.fa-facebook:hover {
        background-color: #3a599c;
        color: {{ settings.color_socialtextactive }};
        text-decoration: none;
      }

      .social-links2:hover ul a.fa-twitter:hover {
        background-color: #1da1f2;
        color: {{ settings.color_socialtextactive }};
        text-decoration: none;
      }

      .social-links2:hover ul a.fa-yelp:hover {
        background-color: #9e1f1e;
        color: {{ settings.color_socialtextactive }};
        text-decoration: none;
      }

      .social-links2:hover ul a.fa-youtube-square:hover {
        background-color: #cd201f;
        color: {{ settings.color_socialtextactive }};
        text-decoration: none;
      }

      .social-links2.margin-bottom-none {
        margin-bottom: 0;
      }
      .social-links2.social-links--large .icon {
        font-size: 27px;
      }
      .social-links2.social-links--large .icon {
        width: 52px;
        height: 52px;
        line-height: 52px;
      }
      .social-links2.text-center ul {
        display: inline-block;
      }
      @media (max-width: 450px) {
        
        .social-links2 {
            margin-bottom: 2.438em;
            overflow: hidden;
            position: relative;
            left:1.5em;
            right:1.5em;
          }
      }
      /* social-links-border
      ==================================== */
      .social-links2.social-links-border ul a {
        border: 2px solid transparent;
        color: #fff;
      }
      .social-links2.social-links-border:hover ul a {
        background-color: transparent;
        border-color: #fff;
      }
      .social-links2.social-links-border:hover ul a:hover {
        background-color: {{ settings.color_text }};
        border-color: #fff;
      }

</style>

<div class="container">

  <h3 class="text-center title-under home_title">ABOUT US</h3>

  <div class="row">
    <div class="divider divider--lg"></div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-6 col-md-6 col-lg-6" style="padding:0 0;">
              <!-- <div>
                <iframe style="margin-bottom: 20px;width: 100%;" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?q=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;gl=us&amp;cd=5&amp;ei=HBCXS9GmJJXqzASNp9H-Dw&amp;sig2=2abiqzG9tGRuqGVBkMyCqw&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=17854415528042546497&amp;ved=0CCAQpQY&amp;hq=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;hnear=&amp;ll=33.875546,-117.977371&amp;spn=0.171026,0.205994&amp;z=11&amp;iwloc=A&amp;output=embed" align="right" frameborder="0" height="400" width="500"></iframe> 
              </div> -->
              <img src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-4.jpg" class="img-responsive"  style="width:100%!important;" />
        </div> <!-- end of col-sm-6 -->
        <div class="col-sm-6 col-md-6 col-lg-6" >
          <div style="text-align: justify;padding:10% 0;">
              <p class="aboutUsTexts" style="padding-bottom:25px;">Motorhelmets is based out of Southern California, near world famous Disneyland and Knotts Berry Farm. Founded in 2001, we specialize in aftermarket products for street, cruiser, dirt, UTV and atv powersports vehicles.</p>
              <p class="aboutUsTexts">We are an instore dealer as well as an online retailer. Please visit our store if you happened to be in the North Orange County area. Two miles north of I-5 and 91 Freeways.</p>
          </div>
        </div> <!-- end of col-sm-6 -->
    </div> <!-- end of col-sm-12 -->
    <div class=" hidden-xs divider divider--lg"></div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-6 col-md-6 col-lg-6">
           <div style="text-align: justify;padding:15% 0;">
                 <p class="aboutUsTexts" style="padding-bottom:25px;">We carry the full line of aftermarket apparel, helmets, gloves, boots, jackets, pants, parts and accessories from all the major brands.</p>
                 <p class="aboutUsTexts">Including Troy Lee Designs (TLD), Fly Racing, Leatt, LS2, Fox Racing, Icon, Shoei, Joe Rocket, HJC, Arai, Scorpion, Cortech, Tourmaster, Alpinestars, ThorMX, Shift Racing, Bell, Answer Racing, Scott, Oakley Eyewear & Goggles, Dunlop Tires, Michelin, Pirelli, Shinko, Maxxis, Bridgestone and more.</p> 
            </div>
        </div> <!-- end of col-sm-6 -->
        <div class="col-sm-6 col-md-6 col-lg-6" style="padding:0 0;">
            <!-- <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-about-us-moto-parts-and-accessories.jpg?v=1613972660" class="img-responsive"  /> -->
            <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-2.jpg" class="img-responsive"  style="width:100%!important;"/>
        </div> <!-- end of col-sm-6 -->
    </div> <!-- end of col-sm-12 -->
    <div class="divider divider--lg"></div>
    <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="brand-holder col-lg-12">
                <div class="logo-holder col-lg-2">
                  <a href="/collections/troy-lee-designs"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/tld-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Troy Lee Designs" title="Shop Troy Lee Designs" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2">
                  <a href="/collections/shift-racing"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/shift-racing-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Shift Racing" title="Shop Shift Racing" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2">
                  <a href="/collections/fox-racing"><img src="//cdn.shopify.com/s/files/1/1299/2659/files/fox-353x261.png?12782684585668825672" class="img-responsive center-block" alt="Shop Fox Racing" title="Shop Fox Racing" style="width:100%; "></a>
                </div>
                <div class="logo-holder col-lg-2">
                  <a href="/collections/thor-mx"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/thor-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop Thor Racing" title="Shop Thor Racing" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2">
                  <a href="/collections/alpinestars"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/alpine-star-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Alpinestars" title="Shop Alpinestars" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2">
                  <a href="/collections/answer-racing"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/answer-racing-353x261.jpg?1067959905750695344" class="img-responsive center-block" alt="Shop Answer Racing" title="Shop Answer Racing" style="width:100%;"></a>
                </div>
        </div><!--  end of brand holder -->
        <div class="brand-holder col-lg-12">
              <div class="logo-holder col-lg-2">
                  <a href="/collections/shoei"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-353x261-min.jpg?9863732759479188142" class="img-responsive center-block" alt="Shop Shoei" title="Shop Shoei" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2">
                    <a href="/collections/arai"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/arai-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop Arai" title="Shop Arai" style="width:100%;"></a>
                </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/hjc"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/hjc-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop HJC" title="Shop HJC" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/icon"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/icon-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Icon" title="Shop Icon" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/bell"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/bell-353-261.png?296320832266869252" class="img-responsive center-block" alt="Shop Bell" title="Shop Bell" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/speed-and-strength"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/ss-353x261.jpg?1067959905750695344" class="img-responsive center-block" alt="Shop Speed And Strength" title="Shop Speed And Strength" style="width:100%;"></a>
              </div>
        </div><!--  end of brand holder -->
        <!-- <div class="brand-holder col-lg-12">
              <div class="logo-holder col-lg-2">
                <a href="/collections/leatt"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/leatt-new-logo.jpg?v=1614038839" class="img-responsive center-block" alt="Shop Leatt" title="Shop Leatt" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/LS2"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/ls2-new-logo.jpg?v=1614038838" class="img-responsive center-block" alt="Shop LS2" title="Shop LS2" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/joe-rocket"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/joe-rocket-new-logo.jpg?v=1614038839" class="img-responsive center-block" alt="Shop Joe Rocket" title="Shop Joe Rocket" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/scorpion"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/scorpion-new-logo.jpg?v=1614038839" class="img-responsive center-block" alt="Shop Scorpion" title="Shop Scorpion" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/cortech"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/cortech-new-logo.jpg?v=1614039206" class="img-responsive center-block" alt="Shop Cortech" title="Shop Cortech" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/tour-master"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/tour-master-new-logo.jpg?v=1614038839" class="img-responsive center-block" alt="Shop Tourmaster" title="Shop Tourmaster" style="width:100%;"></a>
              </div>
        </div> --> <!--  end of brand holder -->
        <!-- <div class="brand-holder col-lg-12">
              <div class="logo-holder col-lg-2">
                <a href="/collections/scott"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/scott-new-logo.jpg?v=1614038839" class="img-responsive center-block" alt="Shop Scott" title="Shop Scott" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/oakley"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/oakley-new-logo.jpg?v=1614038839" class="img-responsive center-block" alt="Shop Oakley" title="Shop Oakley" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/dunlop"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/dunlop-new-logo.jpg?v=1614038838" class="img-responsive center-block" alt="Shop Dunlop" title="Shop Dunlop" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/michelin"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/michelin-new-logo.jpg?v=1614039098" class="img-responsive center-block" alt="Shop Michelin" title="Shop Michelin" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/pirelli"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/pirelli-new-logo.jpg?v=1614039098" class="img-responsive center-block" alt="Shop Pirelli" title="Shop Pirelli" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/shinko"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shinko-new-logo.jpg?v=1614038838" class="img-responsive center-block" alt="Shop Shinko" title="Shop Shinko" style="width:100%;"></a>
              </div>
        </div> --> <!--  end of brand holder -->
        <!-- <div class="brand-holder col-lg-12">
              <div class="col-lg-4"></div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/maxxis"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/maxxis-new-logo.jpg?v=1614039411" class="img-responsive center-block" alt="Shop Maxxis" title="Shop Maxxis" style="width:100%;"></a>
              </div>
              <div class="logo-holder col-lg-2">
                <a href="/collections/bridgestone"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/bridgestone-new-logo.jpg?v=1614038839" class="img-responsive center-block" alt="Shop Bridgestone" title="Shop Bridgestone" style="width:100%;"></a>
              </div>
              <div class="col-lg-4"></div>
       </div> --> <!--  end of brand holder -->
    </div> <!-- end of col-sm-12 -->
    <div class="divider divider--lg"></div>
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-4 col-md-4 col-lg-4" style="padding:0 0;">
            <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-6.jpg" class="img-responsive"  style="width:100%!important;"/>
        </div> <!-- end of col-sm-4 -->
        <div class="col-sm-8 col-md-8 col-lg-8">
          <div style="text-align: justify;padding:15% 0;">
                 <p class="aboutUsTexts" style="padding-bottom:25px;">We have a complete service & repair shop for your motorcycle, ATV, UTV, Dirt Bike, Street Bike & Cruiser/ Harley Davidson Motorcycle.</p>
                 <p class="aboutUsTexts">Visit our store for our full service department. Enjoy our showroom while your bike gets an oil change, tire install, checkup or diagnostic work. Checkout our collection of casual sportswear, sunglasses, gear bags, hats, beanies and accessories.</p>
          </div>
        </div> <!-- end of col-sm-8 -->
    </div> <!-- end of col-sm-12 -->
    <div class=" hidden-xs divider divider--lg"></div>
          <p class="hidden-xs aboutUsTexts" style="text-align: center!important;">Buy with confidence online or in our store. We are committed to bringing you quality service and real value.</p>
          <p class="visible-xs aboutUsTexts" style="text-align: justify!important;padding:0 1.5em;">Buy with confidence online or in our store. We are committed to bringing you quality service and real value.</p>
    <div class="col-sm-12 col-md-12 col-lg-12">
    </div> <!-- end of col-sm-12 -->  
  </div> <!-- end of row -->

  <div class="divider divider--md"></div>
  <div class="row">
        <div>
          <iframe style="margin-bottom: 20px;width: 100%;" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?q=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;gl=us&amp;cd=5&amp;ei=HBCXS9GmJJXqzASNp9H-Dw&amp;sig2=2abiqzG9tGRuqGVBkMyCqw&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=17854415528042546497&amp;ved=0CCAQpQY&amp;hq=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;hnear=&amp;ll=33.875546,-117.977371&amp;spn=0.171026,0.205994&amp;z=11&amp;iwloc=A&amp;output=embed" align="right" frameborder="0" height="400" width="500"></iframe> 
        </div>
  </div> <!-- end of row -->
  <div class="divider divider--md"></div>
  <div class="hidden-xs row text-center top-local-address" style="padding:0 2em;color:black!important;">
                <p style="font-size: 24px;font-weight: 500 !important;">Motorhelmets Fullerton CA</p>
                <p style="font-weight: normal!important;">1871 W. Commonwealth Ave., Fullerton CA 92833 USA</p>
                <p style="font-weight: normal!important;">Tel: 714-879-8180 | Email: team@motorhelmets.com</p>
                <p style="font-weight: normal!important;">Service Dept SMS Txt: 657-217-3988 | Sales Dept SMS Txt: 657-217-6457</p>
                <p style="font-weight: normal!important;">Store Hours: M-F 10am-7pm | Sat 11am-6pm</p>
  </div>
  <div class="visible-xs row text-center top-local-address" style="padding:0 2em;color:black!important;">
                <p style="font-size: 24px;font-weight: 500 !important;text-align: center;">Motorhelmets Fullerton CA</p>
                <p style="font-weight: normal!important;">1871 W. Commonwealth Ave.,</p>
                <p style="font-weight: normal!important;">Fullerton CA 92833 USA</p>
                <p style="font-weight: normal!important;">Tel: 714-879-8180</p>
                <p style="font-weight: normal!important;">Email: team@motorhelmets.com</p>
                <p style="font-weight: normal!important;">Service Dept SMS Txt: 657-217-3988</p>
                <p style="font-weight: normal!important;">Sales Dept SMS Txt: 657-217-6457</p>
                <p style="font-weight: normal!important;">Store Hours: M-F 10am-7pm</p>
                <p style="font-weight: normal!important;">Sat 11am-6pm</p>
  </div>

  <div class="divider divider--md"></div>
  <div class="jg_custom_social_media2 text-center">
              <h3>Learn More about us on Social Media:</h3>
              <div class="social-links2 social-links--large social-links-layout-02 jg_custom_social_link2">
                  <ul> 
                    <li><a class="motoPhotoBlog" href="https://motorhelmets.com/photoblog" target="_blank"><img class="photo-Blog1 b-lazy b-loaded" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-photoblog-logo-new-grey.png?v=1614045385" width="50px" height="50px"></a></li>
                    <li><a class="icon fa fa-instagram" href="https://www.instagram.com/wwwmotorhelmets/" target="_blank"></a></li>
                    <li><a class="icon google-icon" href="https://g.page/Motorhelmets/review?gm" target="_blank"><img class="google-Bus1 b-lazy b-loaded" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-gbusiness-logo-new-grey.png?v=1614045865" style="width:40px;height:40px;"></a></li>
                    <li><a class="icon fa fa-facebook" href="//www.facebook.com/Motorhelmets" target="_blank"></a></li>
                    <li><a class="icon fa fa-twitter" href="https://twitter.com/wwwmotorhelmets" target="_blank"></a></li>
                    <li><a class="icon fa fa-yelp" href="https://www.yelp.com/biz/motorhelmets-fullerton-3" target="_blank"></a></li>
                    <li><a class="icon fa fa-youtube-square" href="https://www.youtube.com/user/motorhelmets" target="_blank"></a></li>
                  </ul>
                <!-- <ul> 
                  <li><a href="https://motorhelmets.com/photoblog" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg1.png?1154324900813586180" width="54px" height="54px"></a></li>
                  <li><a href="https://www.instagram.com/motorhelmets/" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/instagram-special-services-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
                  <li><a href="https://g.page/Motorhelmets/review?gm" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/google-logo-special-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
                  <li><a href="//www.facebook.com/MotorhelmetsOC" target="_blank"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/facebook-local-special-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
                  <li><a class="icon fa fa-yelp" href="https://www.yelp.com/biz/motorhelmets-fullerton-3" target="_blank"></a></li>
                  <li><a class="icon fa fa-youtube-square" href="https://www.youtube.com/user/motorhelmets" target="_blank"></a></li>
                </ul> -->
              </div>  
  </div>



</div> <!-- end of container -->