<div>
  <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
      <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
      <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
  </ul>
</div>    

<div class="tab-content tab-content--ys Sbs_sizechart">

    <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

        <div class="tab-content tab-content--ys">
            <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                <li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">General Sizing</a></li>
            </ul>
        </div>

        <div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">
                    <div class="row">
                        <div class="col-sm-3 col-md-3 col-lg-3">
                            <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/lrg-mens-general-size-chart.jpg?16977541765143473727" alt="LRG Mens Size Chart" style="margin: 0 auto;"></p>
                        </div>
                        <div class="col-sm-9 col-md-9 col-lg-9">
                            <div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                 <thead>
                                     <tr>
                                        <th>SIZE</th>
                                        <th>A | CHEST</th>
                                        <th>B | WAIST</th>
                                     </tr>
                                 </thead>
                                    <tr>
                                        
                                    </tr>
                                    <tr>
                                        <td>S</td>
                                        <td>34 - 36</td>
                                        <td>28 - 30</td>
                                    </tr>
                                    <tr>
                                        <td>M</td>
                                        <td>37 - 39</td>
                                        <td>31 - 33</td>
                                    </tr>
                                    <tr>
                                        <td>L</td>
                                        <td>40 - 41</td>
                                        <td>34 - 35</td>
                                    </tr>
                                    <tr>
                                        <td>XL</td>
                                        <td>42 - 43</td>
                                        <td>36 - 37</td>
                                    </tr>
                                    <tr>
                                        <td>2XL</td>
                                        <td>44 - 46</td>
                                        <td>38 - 40</td>
                                    </tr>
                                    <tr>
                                        <td>3XL</td>
                                        <td>47 - 49</td>
                                        <td>41 - 44</td>
                                    </tr>
                                    <tr>
                                        <td>4XL</td>
                                        <td>50 - 52</td>
                                        <td>44 - 46</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="divider divider--md"></div>

                        <div class="table_responsive">
                          <table class="table table-bordered table-striped">
                             <tbody>
                             <thead>
                                 <tr>
                                    <th>SIZE</th>
                                    <th>28</th>
                                    <th>30</th>
                                    <th>32</th>
                                    <th>34</th>
                                    <th>36</th>
                                    <th>38</th>
                                    <th>40</th>
                                    <th>42</th>
                                    <th>44</th>
                                    <th>46</th>
                                 </tr>
                             </thead>
                                <tr>
                                    
                                </tr>
                                <tr>
                                    <td>C | INSEAM</td>
                                    <td>31</td>
                                    <td>31</td>
                                    <td>32</td>
                                    <td>32</td>
                                    <td>33</td>
                                    <td>33</td>
                                    <td>33</td>
                                    <td>33</td>
                                    <td>36</td>
                                    <td>33</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> <!-- SizeChartMenTab1 //-->
        </div> <!-- SizeChartTab1 //-->


        <div role="tabpanel" class="tab-pane" id="SizeChartTab2">

            <div class="tab-content tab-content--ys">
                <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                    <li class="active"><a href="#SizeChartWomenTab1" role="tab"data-toggle="tab" class="text-uppercase">General Sizing</a></li>
                </ul>
            </div> 

            <div role="tabpanel" class="tab-pane active" id="SizeChartWomenTab1">
                        <div class="row">
                            <div class="col-sm-3 col-md-3 col-lg-3">
                                <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/lrg-womens-general-size-chart.jpg?10389916815440469489" alt="LRG Womens Size Chart" style="margin: 0 auto;"></p>
                            </div>
                            <div class="col-sm-9 col-md-9 col-lg-9">
                                <div class="table_responsive">
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                     <thead>
                                         <tr>
                                            <th>SIZE</th>
                                            <th>A | CHEST</th>
                                            <th>B | WAIST</th>
                                            <th>C | HIP</th>
                                         </tr>
                                     </thead>
                                        <tr>
                                            
                                        </tr>
                                        <tr>
                                            <td>XS</td>
                                            <td>32</td>
                                            <td>25</td>
                                            <td>35</td>
                                        </tr>
                                        <tr>
                                            <td>S</td>
                                            <td>33 - 34</td>
                                            <td>26 - 27</td>
                                            <td>36 - 37</td>
                                        </tr>
                                        <tr>
                                            <td>M</td>
                                            <td>35 - 36</td>
                                            <td>28 - 29</td>
                                            <td>38 - 39</td>
                                        </tr>
                                        <tr>
                                            <td>L</td>
                                            <td>37</td>
                                            <td>30</td>
                                            <td>40</td>
                                        </tr>
                                        <tr>
                                            <td>XL</td>
                                            <td>38</td>
                                            <td>31</td>
                                            <td>41</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="divider divider--md"></div>

                            <div class="table_responsive">
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                     <thead>
                                         <tr>
                                            <th>SIZE</th>
                                            <th>28</th>
                                            <th>30</th>
                                            <th>32</th>
                                            <th>34</th>
                                            <th>36</th>
                                            <th>38</th>
                                            <th>40</th>
                                            <th>42</th>
                                            <th>44</th>
                                            <th>46</th>
                                         </tr>
                                     </thead>
                                        <tr>
                                            
                                        </tr>
                                        <tr>
                                            <td>D | INSEAM</td>
                                            <td>31</td>
                                            <td>31</td>
                                            <td>32</td>
                                            <td>32</td>
                                            <td>33</td>
                                            <td>33</td>
                                            <td>33</td>
                                            <td>33</td>
                                            <td>36</td>
                                            <td>33</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div> <!-- SizeChartWomenTab1 //-->
        </div> <!-- SizeChartTab2 //-->
</div>