<style>
  .jg_custom_box_p {
    margin: 25px 0 !important;
  }

  @media (max-width: 424px) {
    

    .jg_custom_box_p {
      margin: 0 !important;
    }
  }

  @media (max-width: 600px) 
  {
    .motorcycle-brands
    {
      font-size:20px!important;
    }
  }

</style>
{%comment%}

<div class="container" style="display:none;">


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 jg_custom_col">
      <div class="moto_box davz_manual_height">
        <div class="moto_box_title"><h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2></div>
        <ul>
          <li>Our certified mechanic can service most European and Japanese bikes.</li>
          <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
          <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
          <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
        </ul>
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1324/9125/files/Moto2Mechanic_pics.jpg?1227779672370797346" class="img-responsive"  style="margin: 0;"  /></center>
        </div>
        <div class="col-md-6" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1324/9125/files/Moto1Mechanic_pics.jpg?1227779672370797346" class="img-responsive"  style="margin: 0;"  /></center>
        </div>

        <div class="clear"></div>

        {% comment %}
        <div class="divider divider--md"></div>
        <div fb-iframe-plugin-query="adapt_container_width=false&amp;app_id=672974122777635&amp;container_width=1200&amp;height=70&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FMotorhelmetsOC%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline" fb-xfbml-state="rendered" class="fb-page fb_iframe_widget" data-href="https://www.facebook.com/MotorhelmetsOC/" data-tabs="timeline" data-height="70" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false" data-show-facepile="true"><span style="vertical-align: bottom; width: 340px; height: 130px;"><iframe class="" src="https://www.facebook.com/v2.5/plugins/page.php?adapt_container_width=false&amp;app_id=672974122777635&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D42%23cb%3Df1203966ad12162%26domain%3Dmotorhelmets.myshopify.com%26origin%3Dhttps%253A%252F%252Fmotorhelmets.myshopify.com%252Ff2447c55a66a2ee%26relation%3Dparent.parent&amp;container_width=1200&amp;height=70&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FMotorhelmetsOC%2F&amp;locale=en_US&amp;sdk=joey&amp;show_facepile=true&amp;small_header=false&amp;tabs=timeline" style="visibility: visible; width: 340px; height: 130px;" title="fb:page Facebook Social Plugin" scrolling="no" allowfullscreen="true" allowtransparency="true" name="f2db036387fa1c4" frameborder="0" height="70px" width="1000px"></iframe></span></div>
        {% endcomment %}
      </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 jg_custom_col footer-section">
      <div class="moto_box davz_manual_height jg_custom_box">
        <div class="moto_box_title">
          <h2>LARGEST STOCKING DEALER <br> IN ORANGE COUNTY</h2>
        </div>

        <ul class="dealer_grid" style="margin: 0;">
          <!--           <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/honda-353-261.png?4473771371937066642" alt="Honda" title="Honda"></li> -->
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/honda-353x261-logo.jpg?6831" alt="Honda" title="Honda"></li>
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/kawasaki-353-261.png?4473771371937066642" alt="Kawasaki" title="Kawasaki"></li>
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/suzuki-353-261.png?4473771371937066642" alt="Suzuki" title="Suzuki"></li>
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/ducati-353-261.png?4473771371937066642" alt="Ducati" title="Ducati"></li>
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/yamaha-353-261.png?4473771371937066642" alt="Yamaha" title="Yamaha"></li>
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/harley-353-261.png?4473771371937066642" class="img-responsive" alt="Harley Davidson" title="Harley Davidson"></li>
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/ktm-353-261.png?4473771371937066642" class="img-responsive" alt="KTM" title="KTM"></li>
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/bmw-353-261.png?4473771371937066642" class="img-responsive" alt="BMW" title="BMW"></li>
          <li><img src="//cdn.shopify.com/s/files/1/1223/6434/files/triumph-353-261.png?4473771371937066642" class="img-responsive" alt="Triumph" title="Triumph"></li>
        </ul>
      </div>
    </div>
  </div><!--   row -->


  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 jg_custom_col">
      <div class="moto_box davz_manual_height2">
        <div class="moto_box_title">
          <h2>Map &amp; Location</h2>
        </div>
        <iframe style="width:100%;" scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?q=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;gl=us&amp;cd=5&amp;ei=HBCXS9GmJJXqzASNp9H-Dw&amp;sig2=2abiqzG9tGRuqGVBkMyCqw&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=17854415528042546497&amp;ved=0CCAQpQY&amp;hq=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;hnear=&amp;ll=33.875546,-117.977371&amp;spn=0.171026,0.205994&amp;z=11&amp;iwloc=A&amp;output=embed" frameborder="0" height="275" width="480"></iframe>
        <div class="divider divider--sm"></div>
        <p>1871 W Commonwealth Ave, Fullerton, CA 92833</p>
        <p>Tel: <span style="color: red;">(714) 879-8180</span></p>
        <p>Service Hours: <span style="color: red;">M-F 10am - 6pm</span> | <span style="color: red;">Sat: 11am - 5pm</span> | <span style="color: red;">Sun: Closed</span></p>
      </div>
    </div>


    <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 jg_custom_col">
      <div class="moto_box davz_manual_height2">
        <div class="moto_box_title">
          <h2>Join the Mailing List <br> from our Service Dept</h2>
        </div>
        <div class="jg_custom_join_mail">
          <p class="color">Get Exclusive Specials in Your Inbox for Oil Changes, Tires, Motorcycle Maintenance, local store specials &amp; events.</p>
          <div class="divider divider--md"></div>
          <div class="davz_moto_footer_nl jg_custom_button">
            <form method="post" name="mc-embedded-subscribe-form" target="_blank" class="subscribe-form validate" novalidate="" action="//motorhelmets.us10.list-manage.com/subscribe/post?u=1e8763d116021cc55d619d08e&amp;id=dbb4f262a3">
              <div>
                <input name="EMAIL" placeholder="Your Email Address" type="text" class="davz_moto_footer_nl_input">
                <button type="submit" class="btn btn--ys btn--xl davz_moto_footer_nl_btn"><i class="icon icon-send"></i></button>
              </div>
            </form>
          </div>
        </div>

        <div class="divider divider--sm"></div>
        <hr>
        <div class="divider divider--sm"></div>
        <div class="jg_custom_social_media">
          <h3>Follow Us on Social Media</h3>
          <center><h5 class="color">Exclusively for our Local Southern California Customers.</h5></center>
          <div class="social-links social-links--large social-links-layout-02 jg_custom_social_link">
            <ul><li><a class="icon fa fa-yelp" href="https://www.yelp.com/biz/motorhelmets-fullerton-3"></a></li>
              <li><a class="icon fa fa-youtube-square" href="https://www.youtube.com/user/motorhelmets"></a></li>
              <!--               <li><a class="icon fa fa-google-plus" href="https://plus.google.com/103110207031205214358"></a></li> -->
              <li><a href="//www.facebook.com/MotorhelmetsOC"><img src= "https://cdn.shopify.com/s/files/1/1223/6434/files/facebook-local-special-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
              <li><a href="https://g.page/Motorhelmets/review?gm"><img src= "https://cdn.shopify.com/s/files/1/1223/6434/files/google-logo-special-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
              <li><a href="https://www.instagram.com/motorhelmets/"><img src= "https://cdn.shopify.com/s/files/1/1223/6434/files/instagram-special-services-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>

            </ul>
          </div>  
        </div>
      </div>

    </div>
  </div><!--   row -->

  <div class="divider divider--lg hidden-xs"></div>

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <p style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-online-financing-img11.jpg?17801780636580007650" alt="Smiley face" width="65" height="50" align="middle"><a href="/pages/motorhelmets-in-store-financing-available" style="color: #000 !important;">Financing Available</a></p>
    </div>

    <div class="divider divider--xs hidden-lg"></div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <p style="color: #000 !important;font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-online-financing-img-9.jpg?17801780636580007650" alt="Smiley face" width="65" height="39" align="middle">Motorcycle Pickup & Delivery Available</p>
    </div>

    <div class="divider divider--xs hidden-lg"></div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <p style="color: #000 !important;font-weight: bold !important"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-online-financing-img-10.jpg?17801780636580007650" alt="Motorhelmets Financing for In-Store Purchases" title="Motorhelmets Financing for In-Store Purchases" style="float: left; margin: 0px 15px 15px 0px;">#1 Independent Motorcycle Shop in Los Angeles and Orange County</p>
    </div>

    <div class="col-sm-3 col-md-3 col-lg-3">
      <a href= "/photoblog"><p style="color: #000 !important;font-weight: bold !important"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/pb-logo-65x53.jpg?18331923508000778447" alt="Motorhelmets Photoblog" title="Motorhelmets Photoblog" style="float: left; margin: 0px 15px 15px 0px;">Store Photoblog</p></a>
    </div>
  </div>
</div>

{%endcomment%}
<!-- <h3 class="text-center title-under home_title">MOTORHELMETS MOTORCYCLE SERVICE AND REPAIR MENU</h3> -->
</div>
<!-- -------------------------------------------------------------------- THIS IS WHERE THE FOOTER START AND IS VISIBLE -------------------------------------------------------------- -->

<!-- FOOTER DESKTOP VIEW -->
<div class="hidden-xs">
  <div class="motor-menu">
    <div class="motor-menu-cont">

      
      <div class="divider divider--lg"></div>
      <div class="row text-center">
          <a href="https://bit.ly/mhsched" style="text-decoration:none!important;display:inline-block;">
            <h1 class="text-center home_title" style="font-size:30px!important;padding-bottom:9px;margin-bottom:0;">Schedule Your Service Online</h1>
            <img class="img-responsive hidden-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/calendar-icon-NEW-black.png?v=1615947352" alt="Schedule Your Service Online" title="Schedule Your Service Online" style="width:40%;height:40%;margin:0 auto;padding:0;">
            <img class="img-responsive visible-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/calendar-icon-NEW-black.png?v=1615947352" alt="Schedule Your Service Online" title="Schedule Your Service Online" style="width:50%;height:50%;margin:0 auto;padding:0;">
         </a>
      </div>
      <div class="divider divider--xl"></div>
      <div class="hidden-xs divider divider--md"></div>



      <h3 class="text-center">LARGEST STOCKING DEALER  IN ORANGE COUNTY</h3>
      <div class="row">

        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #c83138" >HONDA</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #62c930" >KAWASAKI</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #e8df00" >SUZUKI</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #053ba5" >YAMAHA</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #d87119" >HARLEY DAVIDSON</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #a70008" >DUCATI</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #fc9704" >KTM</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #58abdd" >BMW</span>
        </div>
        <div class="col-md-4 text-center" style = "padding:1.5em;">
          <span class ="text-center motorcycle-brands" style = "color: #929292" >TRIUMPH</span>
        </div>


        <div class="divider divider--xl-1"></div>
        <div class = "reviews-section row">
          <div class = "row google-reviews col-xs-10 col-sm-10 col-md-10 col-lg-12 col-lg-offset-0 col-xs-offset-1 col-md-offset-1 col-sm-offset-1">
            <div class = "col-sm-12 col-md-12 col-lg-6">
              
              <div class = "">
                <div class = "col-lg-12">
                  <div class = "row text-center customer-reviews-info">
                    <h4>Patrick Wolff</h4>
                    <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                  </div>
                </div>
                <div class = "col-lg-12">
                  <div class = "">
                    <p class = "text-justify">"Excellent service. Came in told them what I needed they took the bike told me it would be ready in about 3 to 4 days. Received a call 2 days later it was done. They noticed something else was wrong with the bike informed me, offered the service but did not try to push me into it."</p>
                  </div>
                </div>
              </div>
            </div>
            <div class = "col-sm-12 col-md-12 col-lg-6">
              <div class = "divider visible-xs visible-sm visible-md"></div>
              <div class = "">
                <div class = "col-lg-12">
                  <div class = "row text-center customer-reviews-info">
                    <h4>Jessy Ramirez</h4>
                    <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                  </div>
                </div>
                <div class = "col-lg-12">
                  <div class = "">
                    <p class = "text-justify">"This is my go to shop when it comes to all my bike's needs. They have mostly everything from parts, service and gear. And if they don't have it in stock they will find somehow to get it. 
                      They treat their customers as if it was their family. "</p>
                  </div>
                </div>
              </div>
            </div>
            <div class = "divider hidden-xs hidden-sm hidden-md"></div>
            <div class = "second-row">
            <div class = "col-sm-12 col-md-12 col-lg-6">
              <div class = "divider visible-xs visible-sm visible-md"></div>
              <div class = "">
                <div class = "col-lg-12">
                  <div class = "row text-center customer-reviews-info">
                    <h4>Allen M Clark</h4>
                    <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                  </div>
                </div>
                <div class = "col-lg-12">
                  <div class = "">
                    <p class = "text-justify">"Purchased 3 helmets over the past 6 years.  Always received great service and valuable advice.  In addition, had them install a new set of tires on my vespa (yup vespa) a few years back.  Didn't make me feel weird about not having a motorcycle.  Going in later this week to see about a new set of tires for my MV Agusta....   hopefully they'll be able to get it done...."</p>
                  </div>
                </div>
              </div>
            </div>

              <div class = "col-sm-12 col-md-12 col-lg-6">
                <div class = "divider visible-xs visible-sm visible-md"></div>
                <div class = "">
                  <div class = "col-lg-12">
                    <div class = "row text-center customer-reviews-info">
                      <h4>Martin Lucero</h4>
                      <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                    </div>
                  </div>
                  <div class = "col-lg-12">
                    <div class = "">
                      <p class = "text-justify">"These guys are great on service and repairs.   Straight up, fair prices and honest!!!  They don't inflate or misdiagnose.  This is my experience for the past 6 years.  And the shop has lots of great gear."</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "divider hidden-xs hidden-sm hidden-md"></div>
              <div class = "col-sm-12 col-md-12 col-lg-6">
                <div class = "divider visible-xs visible-sm visible-md"></div>
                <div class = "">
                  <div class = "col-lg-12">
                    <div class = "row text-center customer-reviews-info">
                      <h4>ddogge1</h4>
                      <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                    </div>
                  </div>
                  <div class = "col-lg-12">
                    <div class = "">
                      <p class = "text-justify">"Definitely the best place in Orange or LA County to go for cheap high quality parts and the Service is the best! If you are going elsewhere, you could be doing a lot better in parts and Service.
                        This is where Orange and LA County motorcycle riders go so they can afford gas during the week. Don't listen to the Cycle Gear spammers. They just have a cheesy Bilt brand that the store operators won't suggest, or retail goods AT retail prices (and No SERVICE.) Go to Motor Helmets, the total parts and SERVICE house in Orange and LA County that motorcycles riders don't mind riding to.
                        And their tires and installation are the cheapest in the USA!"</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "col-sm-12 col-md-12 col-lg-6">
                <div class = "divider visible-xs visible-sm visible-md"></div>
                <div class = "">
                  <div class = "col-lg-12">
                    <div class = "row text-center customer-reviews-info">
                      <h4>Michael Hicks</h4>
                      <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                    </div>
                  </div>
                  <div class = "col-lg-12">
                    <div class = "">
                      <p class = "text-justify" style = "margin-top: 0px;">"Had a valve adjustment done on my r3. I felt that they did a great job, and i will be returning here for more service in the future. "</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class = "divider"></div>
          </div>
        </div>
        <button type = "button" class = "btn show-more-reviews-btn center-block"><p class = "service-show-more-btn">Show more</p></button>
        <div class="divider divider--lg"></div>
        <div class="col-sm-12 col-md-12 ">
          <div class="moto_box davz_manual_height2">
            <div class="moto_box_title">
              <h2>Join the Mailing List from our Service Dept</h2>
            </div>
            <div class="jg_custom_join_mail">
              <p class="color text-center">Get Exclusive Specials in Your Inbox for Oil Changes, Tires, Motorcycle Maintenance, local store specials &amp; events.</p>
              <div class="divider divider--md"></div>
              <div class="davz_moto_footer_nl jg_custom_button text-center ">
                <button class="btn subscribe-moto-service-btn text-uppercase hidden-md hidden-sm hidden-xs">Join Team Motorhelmets if you live in So Cal - Sign up Now</button>
                <a class = "visible-md visible-sm visible-xs" href= "https://docs.google.com/forms/d/e/1FAIpQLSf1MWSCxO-zRZ-wAM5rGBfEUoR3ENavEW4ZiAp7MRpthr6_mQ/viewform?usp=sf_link"><span class="btn subscribe-moto-service-btn-span text-uppercase">Subscribe</span></a>
                <iframe class = "embedded-google-forms" src="https://docs.google.com/forms/d/e/1FAIpQLSf1MWSCxO-zRZ-wAM5rGBfEUoR3ENavEW4ZiAp7MRpthr6_mQ/viewform?embedded=true" width="640" height="2550" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
              </div>
            </div>
            <div class="divider divider--sm"></div>
            <hr>
            <div class="divider divider--sm"></div>
            <div class="jg_custom_social_media text-center">
              <h3>Follow Us on Social Media</h3>
              <center><h5 class="color">Exclusively for our Local Southern California Customers.</h5></center>
              <div class="social-links social-links--large social-links-layout-02 jg_custom_social_link">
                <ul> <li><a class="icon fa fa-yelp" href="https://www.yelp.com/biz/motorhelmets-fullerton-3"></a></li>
                  <li><a class="icon fa fa-youtube-square" href="https://www.youtube.com/user/motorhelmets"></a></li>
                  <li><a href="//www.facebook.com/MotorhelmetsOC"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/facebook-local-special-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
                  <li><a href="https://g.page/Motorhelmets/review?gm"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/google-logo-special-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>
                  <li><a href="https://www.instagram.com/motorhelmets/"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/instagram-special-services-min.jpg?9309567039982551456" width="54px" height="54px"></a></li>

                </ul>
              </div>  
            </div>
          </div>

        </div>



      </div> 
    </div>

    <div class="divider divider--lg"></div>

    <div class="row">

      <div class="col-sm-12 col-md-12">
        <div class="">
          <div class="footer-address text-center">
            <h2>Map &amp; Location</h2>
            <p>Tel: 714-879-8180 | Store Hours M-F: 10-7 | Sat: 11-6 | Sun: Closed </p>
            <p>Service Hours: M-F: 10-6 | Sat: 11-6 | Sun: Closed </p>
            <p>Email: team@motorhelmets.com</p>
          </div>
          <div class="divider divider--md"></div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.746466587418!2d-117.9644774847898!3d33.870424280655634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2a37daf37419%3A0xf7c7a0537531c541!2sMotorhelmets+Motorcycle+Store%2C+Repair+Service+Fullerton+Orange+County!5e0!3m2!1sen!2sph!4v1540277492939" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div class="divider divider--sm"></div>

        </div>

      </div>
    </div>
    <div class="divider divider--md"></div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div>
          <ul class="foote-motoserv">
            <li>
              <a href="/pages/motorhelmets-in-store-financing-available"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg.png?1154324900813586180" >
                <span>Financing Available</span>	
              </a>
            </li>
            <li>
              <a href="https://motorhelmets.com/pages/motorcycle-mover-transportation-services"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-delivery.png?16724962544500314191" >
                <span style="margin-top: 16px !important;">Motorcycle <br>Pickup & Delivery</span>	
              </a>
            </li>
            <li>
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg2.png?1154324900813586180" alt="Motorhelmets Financing for In-Store Purchases" title="Motorhelmets Financing for In-Store Purchases">
              <span style="margin-top: 0 !important;">#1 Motorcycle Shop <br>in Los Angeles and <br>Orange County</span>
            </li>
            <li>
              <a href="/photoblog">
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg1.png?1154324900813586180" alt="Motorhelmets Photoblog" title="Motorhelmets Photoblog">
                <span>Photoblog</span>
              </a>
            </li>
            <li>
              <a href="https://sites.google.com/view/motorhelmets/about/monthly-specials"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg3.png?1154324900813586180">
                <span>Specials</span>	
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>   <!-- END OF FOOTER DESKTOP VIEW -->

  <!-- FOOTER MOBILE VIEW -->
<div class="visible-xs">
  <div class="motor-menu">
    <div class="motor-menu-cont">

      
      <div class="divider divider--md"></div>
      <div class="row text-center" style="padding:0 2em;">
        <a href="https://bit.ly/mhsched" style="text-decoration:none!important;display:inline-block;">
          <div class="col-xs-3">
            <img class="img-responsive visible-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/calendar-icon-NEW-black.png?v=1615947352" alt="Schedule Your Service Online" title="Schedule Your Service Online" style="width:100%;height:100%;margin:0 auto;padding:0;">
          </div> <!-- end of col-xs-6 -->
          <div class="col-xs-9">
            <h1 class="text-left home_title" style="font-size:20px!important;padding-bottom:9px;margin-bottom:0;">Schedule Your Service Online</h1>
          </div> <!-- end of col-xs-6 -->
         </a>
      </div>
      <div class="divider divider--md"></div>
      <div class="hidden-xs divider divider--md"></div>



      <h3 class="text-center" style="font-size:20px;">LARGEST STOCKING DEALER  IN ORANGE COUNTY</h3>
      <div class="row">

        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #c83138;" >HONDA</span>
        </div>
        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #62c930;" >KAWASAKI</span>
        </div>
        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #e8df00;" >SUZUKI</span>
        </div>
        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #053ba5;" >YAMAHA</span>
        </div>
        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #d87119;line-height: 12px;" >HARLEY DAVIDSON</span>
        </div>
        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #a70008;" >DUCATI</span>
        </div>
        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #fc9704;" >KTM</span>
        </div>
        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #58abdd;" >BMW</span>
        </div>
        <div class="col-xs-4 text-center" style = "padding:5px;">
          <span class ="text-center motorcycle-brands" style = "color: #929292;" >TRIUMPH</span>
        </div>


        <div class="divider divider--md"></div>
        <div class = "reviews-section row" style="padding:0 1em 0 3em!important;">
          <div class = "row google-reviews col-xs-12">
            <div class = "col-xs-12" style="padding:0 0!important;">
              <div class = "">
                <div class = "col-xs-12" style="padding:0 0!important;">
                  <div class = "row text-center customer-reviews-info">
                    <h4>Patrick Wolff</h4>
                    <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                  </div>
                </div>
                <div class = "col-xs-12" style="padding:0 0!important;">
                  <div class = "">
                    <p class = "text-justify" style="font-size: 14px;">"Excellent service. Came in told them what I needed they took the bike told me it would be ready in about 3 to 4 days. Received a call 2 days later it was done. They noticed something else was wrong with the bike informed me, offered the service but did not try to push me into it."</p>
                  </div>
                </div>
              </div>
            </div>
            <div class = "divider hidden-xs hidden-sm hidden-md"></div>
            <div class = "second-row">
            <div class = "col-xs-12" style="padding:0 0!important;">
              <div class = "divider visible-xs visible-sm visible-md"></div>
              <div class = "">
                <div class = "col-xs-12" style="padding:0 0!important;">
                  <div class = "row text-center customer-reviews-info">
                    <h4>Jessy Ramirez</h4>
                    <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                  </div>
                </div>
                <div class = "col-xs-12" style="padding:0 0!important;">
                  <div class = "">
                    <p class = "text-justify" style="font-size: 14px;">"This is my go to shop when it comes to all my bike's needs. They have mostly everything from parts, service and gear. And if they don't have it in stock they will find somehow to get it. 
                      They treat their customers as if it was their family. "</p>
                  </div>
                </div>
              </div>
            </div>  
            <div class = "col-xs-12" style="padding:0 0!important;">
              <div class = "divider visible-xs visible-sm visible-md"></div>
              <div class = "">
                <div class = "col-xs-12" style="padding:0 0!important;">
                  <div class = "row text-center customer-reviews-info">
                    <h4>Allen M Clark</h4>
                    <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                  </div>
                </div>
                <div class = "col-xs-12" style="padding:0 0!important;">
                  <div class = "">
                    <p class = "text-justify" style="font-size: 14px;">"Purchased 3 helmets over the past 6 years.  Always received great service and valuable advice.  In addition, had them install a new set of tires on my vespa (yup vespa) a few years back.  Didn't make me feel weird about not having a motorcycle.  Going in later this week to see about a new set of tires for my MV Agusta....   hopefully they'll be able to get it done...."</p>
                  </div>
                </div>
              </div>
            </div>

              <div class = "col-xs-12" style="padding:0 0!important;">
                <div class = "divider visible-xs visible-sm visible-md"></div>
                <div class = "">
                  <div class = "col-xs-12" style="padding:0 0!important;">
                    <div class = "row text-center customer-reviews-info">
                      <h4>Martin Lucero</h4>
                      <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                    </div>
                  </div>
                  <div class = "col-xs-12" style="padding:0 0!important;">
                    <div class = "">
                      <p class = "text-justify" style="font-size: 14px;">"These guys are great on service and repairs.   Straight up, fair prices and honest!!!  They don't inflate or misdiagnose.  This is my experience for the past 6 years.  And the shop has lots of great gear."</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "divider hidden-xs hidden-sm hidden-md"></div>
              <div class = "col-xs-12" style="padding:0 0!important;">
                <div class = "divider visible-xs visible-sm visible-md"></div>
                <div class = "">
                  <div class = "col-xs-12" style="padding:0 0!important;">
                    <div class = "row text-center customer-reviews-info">
                      <h4>ddogge1</h4>
                      <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                    </div>
                  </div>
                  <div class = "col-xs-12" style="padding:0 0!important;">
                    <div class = "">
                      <p class = "text-justify" style="font-size: 14px;">"Definitely the best place in Orange or LA County to go for cheap high quality parts and the Service is the best! If you are going elsewhere, you could be doing a lot better in parts and Service.
                        This is where Orange and LA County motorcycle riders go so they can afford gas during the week. Don't listen to the Cycle Gear spammers. They just have a cheesy Bilt brand that the store operators won't suggest, or retail goods AT retail prices (and No SERVICE.) Go to Motor Helmets, the total parts and SERVICE house in Orange and LA County that motorcycles riders don't mind riding to.
                        And their tires and installation are the cheapest in the USA!"</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class = "col-xs-12" style="padding:0 0!important;">
                <div class = "divider visible-xs visible-sm visible-md"></div>
                <div class = "">
                  <div class = "col-xs-12" style="padding:0 0!important;">
                    <div class = "row text-center customer-reviews-info">
                      <h4>Michael Hicks</h4>
                      <p><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i><i class="custom-review-stars material-icons">star</i></p>
                    </div>
                  </div>
                  <div class = "col-xs-12" style="padding:0 0!important;">
                    <div class = "">
                      <p class = "text-justify" style = "margin-top: 0px;font-size: 14px;">"Had a valve adjustment done on my r3. I felt that they did a great job, and i will be returning here for more service in the future. "</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class = "divider"></div>
          </div>
        </div>
        <button type = "button" class = "btn show-more-reviews-btn center-block"><p class = "service-show-more-btn">Show more</p></button>
        <div class="divider divider--xs"></div>
        <div class="col-sm-12 col-md-12 ">
          <div class="moto_box davz_manual_height2">
            <div class="moto_box_title">
              <h2 style="font-size:20px!important;">Join the Mailing List from our Service Dept</h2>
            </div>
            <div class="jg_custom_join_mail">
              <p class="color text-center">Get Exclusive Specials in Your Inbox for Oil Changes, Tires, Motorcycle Maintenance, local store specials &amp; events.</p>
              <div class="divider divider--md"></div>
              <div class="davz_moto_footer_nl jg_custom_button text-center ">
                <button class="btn subscribe-moto-service-btn text-uppercase hidden-md hidden-sm hidden-xs">Join Team Motorhelmets if you live in So Cal - Sign up Now</button>
                <a class = "visible-md visible-sm visible-xs" href= "https://docs.google.com/forms/d/e/1FAIpQLSf1MWSCxO-zRZ-wAM5rGBfEUoR3ENavEW4ZiAp7MRpthr6_mQ/viewform?usp=sf_link"><span class="btn subscribe-moto-service-btn-span text-uppercase">Subscribe</span></a>
                <iframe class = "embedded-google-forms" src="https://docs.google.com/forms/d/e/1FAIpQLSf1MWSCxO-zRZ-wAM5rGBfEUoR3ENavEW4ZiAp7MRpthr6_mQ/viewform?embedded=true" width="640" height="2550" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
              </div>
            </div>
            <div class="divider divider--sm"></div>
            <hr>
            <div class="divider divider--sm"></div>
            <div class="jg_custom_social_media text-center">
              <h3>Follow Us on Social Media</h3>
              <center><h5 class="color">Exclusively for our Local Southern California Customers.</h5></center>
              <div class="social-links2 social-links--large social-links-layout-02 jg_custom_social_link2">
                 <div class="col-xs-12">
                    <div class="col-xs-4">
                       <a href="//www.facebook.com/MotorhelmetsOC"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/facebook-local-special-min.jpg?9309567039982551456" width="54px" height="54px"></a>
                    </div>
                    <div class="col-xs-4">
                      <a href="https://g.page/Motorhelmets/review?gm"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/google-logo-special-min.jpg?9309567039982551456" width="54px" height="54px"></a>
                    </div>
                     <div class="col-xs-4">
                       <a href="https://www.instagram.com/motorhelmets/"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/instagram-special-services-min.jpg?9309567039982551456" width="54px" height="54px"></a>
                    </div>
                 </div> <!-- end of col-xs-12 -->
                 <div class="divider divider--xs"></div>
                 <div class="col-xs-12">
                    <div class="col-xs-2"></div>
                    <div class="col-xs-4">
                      <a class="icon fa fa-yelp" href="https://www.yelp.com/biz/motorhelmets-fullerton-3" style="font-size:42px!important;color:#9e1f1e!important;"></a>
                    </div>
                    <div class="col-xs-4">
                      <a class="icon fa fa-youtube-square" href="https://www.youtube.com/user/motorhelmets" style="font-size:45px!important;color:#cd201f!important;"></a>
                    </div>
                    <div class="col-xs-2"></div>
                 </div> <!-- end of col-xs-12 -->
              </div>  
            </div>
          </div>

        </div>



      </div> 
    </div>

    <div class="divider divider--xs"></div>

    <div class="row">

      <div class="col-sm-12 col-md-12">
        <div class="">
          <div class="footer-address text-center" style="font-size:15px;">
            <h2 style="font-size:25px;">Map &amp; Location</h2>
            <p>Tel: 714-879-8180 | Store Hours M-F: 10-7 | Sat: 11-6 | Sun: Closed </p>
            <p>Service Hours: M-F: 10-6 | Sat: 11-6 | Sun: Closed </p>
            <p>Email: team@motorhelmets.com</p>
          </div>
          <div class="divider divider--md"></div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3312.746466587418!2d-117.9644774847898!3d33.870424280655634!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dd2a37daf37419%3A0xf7c7a0537531c541!2sMotorhelmets+Motorcycle+Store%2C+Repair+Service+Fullerton+Orange+County!5e0!3m2!1sen!2sph!4v1540277492939" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
          <div class="divider divider--sm"></div>

        </div>
        <!-- <div class="divider divider--sm"></div> -->
      </div>
    </div>
    <div class="divider divider--md"></div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div>
          <ul class="foote-motoserv">
            <li>
              <a href="/pages/motorhelmets-in-store-financing-available"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg.png?1154324900813586180" >
                <span>Financing Available</span>  
              </a>
            </li>
            <li>
              <a href="https://motorhelmets.com/pages/motorcycle-mover-transportation-services"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-delivery.png?16724962544500314191" >
                <span style="margin-top: 16px !important;">Motorcycle <br>Pickup & Delivery</span>  
              </a>
            </li>
            <li>
              <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg2.png?1154324900813586180" alt="Motorhelmets Financing for In-Store Purchases" title="Motorhelmets Financing for In-Store Purchases">
              <span style="margin-top: 0 !important;">#1 Motorcycle Shop <br>in Los Angeles and <br>Orange County</span>
            </li>
            <li>
              <a href="/photoblog">
                <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg1.png?1154324900813586180" alt="Motorhelmets Photoblog" title="Motorhelmets Photoblog">
                <span>Photoblog</span>
              </a>
            </li>
            <li>
              <a href="https://sites.google.com/view/motorhelmets/about/monthly-specials"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/110918-nbg3.png?1154324900813586180">
                <span>Specials</span> 
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>



  </div>
</div>   <!-- END OF FOOTER MOBILE VIEW -->
