<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/ground-shipping-032420.jpg?v=1585019449" alt="Motorhelmets Ground Shipping" />
<hr class="hr-lg" />
<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">Shipping Information</h3>

<p>Free Ground Shipping on all orders over $100 to 48 Lower States. Free shipping applies to helmets & apparel only (jackets, gloves, pants, sunglasses). Motorcycle Boots, Hard parts, body parts, luggage, oils, tires, batteries and oversized items do not apply. Does not apply to orders to Canada, Guam, Puerto Rico, APO or other Military addresses, or other addresses outside the United States. Shipping is M-F only and does not include special holiday or weekend deliveries. Enter promotional code freeshipping75 during checkout.</p>

<p>We ship UPS and USMail Priority. We have shipping warehouses located on both coasts of the country and depending on stock and availability, you may receive shipments from either locations. Using the UPS shipping guide at UPS.COM is a good guide. Shift Racing, Ogio, Bell, Suomy, Z1R, Fly Racing, No Fear, MSR Racing, Answer Racing, Troy Lee Designs, Scott, Oakley Optics & Goggles, Spy Optics, VonZipper Sunglasses, One Industries, KBC, Yoshimura, Dunlop, Michelin, and much more.</p>

<p>Please allow 7 to 10 business days to receive your shipment. We do not ship or deliver Saturday or Sunday. Saturday and Sunday do not count towards the amount of days stated for delivery. For order status, submit our <a class="text_underline text_color_red" href="/pages/order-status-request">Order Status Request</a> form.</p>



<hr class="hr-lg" />
<!--  -->
<p>Shipping price is based on the total size and weight of your order after it has been packaged. Our minimum S/H charge is $10 which covers shipping and handling costs.
Regardless of initial shipping charges, all exchanges will be assessed a minimum $10 fee.
There are extra UPS charges for oversized items.
For further questions about your shipping and handling costs please contact Customer Service at 800-288-0640. Customer Service Hours are M-F 10AM- 7PM PST.
The following map displays ground service delivery estimates. These estimates apply once your order has been processed and shipped from our warehouse.</p>
<div class="divider divider--md"></div>
<img class="img_centered" src="//cdn.shopify.com/s/files/1/1223/6434/files/US-MAP.png?2866836371028230532" />
<div class="divider divider--md"></div>
<p>Please allow 2-5 working days if you live near the west coast and 7 - 10 working days if you live near the east coast. Saturday and Sunday's do not count towards the delivery days. For order status please submit an <a class="text_underline text_color_red" href="/pages/order-status-request">Order Status Request.</a></p>

<p>For a specific shipping quote, please use our online <a class="text_underline text_color_red" href="/pages/domestic-shipping-quote-request">Domestic Shipping Quote Request.</a> You can also request <a class="text_underline text_color_red" href="/pages/international-ordering-information">International Shipping Quotes.</a></p>
<!-- / -->

<h4 class="text-left uppercase_txt">Summary: </h4>
<ul>
<li>Free Shipping On All Orders - $100 Minimum Order Requirement (Valid for Helmets and Apparel only (Jackets, Gloves, Pants, Sunglasses). Hard Parts, Body Parts, Luggage, Oils, Tires, Batteries and Oversized Items excluded)</li>
<li>$10 Minimum Shipping &amp; Handling Fee</li>
<li>Many items qualify for free shipping! Review our latest promotions for details.</li>
<li>Shipments to APO/ FPO and other military bases are an additional $10</li>
</ul>

<p>For further questions about your shipping and handling costs please contact Customer Service at 800-288-0640 or 714-879-8180. Customer Service Hours are Monday - Friday 10AM - 7PM, Saturday 11AM - 6PM. Pacific Standard Time (California).</p>
</div>
</div>

