<!-- CONTENT section -->
<div class="row"> <!-- row start -->
<div class="col-lg-12 text-center"> <!-- col start -->
<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/service-carwash-image.jpg" alt="Motorhelmets.com Carwash" height="auto" width="auto" />
<div class="divider divider--xl-1"></div>
 <h3 class="text-center title-under uppercase_txt home_title">Motorhelmets Fullerton / Orange County Car &amp; Bike Wash</h3>
 <h1 class="text-center uppercase_txt home_title">Schedule Your Club or Organization's Car Wash & Bike Wash</h1>
 <h1 class="text-center title-under uppercase_txt home_title">Saturdays at Motorhelmets in Fullerton CA</h1>
 
	<ul class="hidden-xs" style = "list-style:none">
		<li>Raise money for your organization or club</li>
		<li>Ideal for bike clubs, charity events, public service causes</li>
		<li>Motorhelmets Fullerton in Orange County has a huge parking lot to host your next Car Wash Fund Drive</li>
	</ul>

	<div class="visible-xs">
		<ul style = "padding:0 1em;text-align: justify;">
			<li>Raise money for your organization or club</li>
			<li>Ideal for bike clubs, charity events, public service causes</li>
			<li>Motorhelmets Fullerton in Orange County has a huge parking lot to host your next Car Wash Fund Drive</li>
		</ul>	
	</div>

	<div class="divider divider--md-1"></div>
 	<!-- <h1 class="text-center" style="color:rgb(17,85,204)!important;font-size:50px!important;text-transform:uppercase;">Car Wash | Bike Wash  | Sell Food | Raise Money</h1> -->
 	<h1 class="hidden-xs text-center" style="color:black!important;font-size:50px!important;text-transform:uppercase;">Car Wash | Bike Wash  | Sell Food | Raise Money</h1>
 	<h1 class="visible-xs text-center" style="color:black!important;font-size:50px!important;text-transform:uppercase;">Car Wash<br>Bike Wash<br>Sell Food<br>Raise Money</h1>
</div>
</div><!--  end of row -->
<div class="divider divider--xl-1"></div>

<div class="row"> <!-- row start -->
	<div class="col-lg-12 col-md-12 col-sm-12 text-center">
			<img class="img-responsive" style="border-radius: 70px;filter: saturate(2);" src="https://cdn.shopify.com/s/files/1/1223/6434/files/image003.png?v=1613798736" alt="Motorhelmets Car Wash" title="Motorhelmets Car Wash" />
	</div>
	<div class="divider divider--md-3"></div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<div class="col-sm-6 col-xs-12">
			<img class="img-responsive" style="border-radius: 70px;filter: saturate(1.5);" src="https://cdn.shopify.com/s/files/1/1223/6434/files/image005.png?v=1613798735" alt="Motorhelmets Car Wash" title="Motorhelmets Car Wash" />
		</div>
		<div class="visible-xs divider divider--md-3"></div>
		<div class="col-sm-6 col-xs-12">
			<img class="img-responsive" style="border-radius: 70px;filter: saturate(1.5);" src="https://cdn.shopify.com/s/files/1/1223/6434/files/image009.png?v=1613798736" alt="Motorhelmets Car Wash" title="Motorhelmets Car Wash" />
		</div>
	</div>
	<div class="divider divider--md-3"></div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<div class="col-sm-6 col-xs-12">
			<img class="img-responsive" style="border-radius: 70px;filter: saturate(1.5);" src="https://cdn.shopify.com/s/files/1/1223/6434/files/image013.png?v=1613798735" alt="Motorhelmets Car Wash" title="Motorhelmets Car Wash" />
		</div>
		<div class="visible-xs divider divider--md-3"></div>
		<div class="col-sm-6 col-xs-12">
			<img class="img-responsive" style="border-radius: 70px;filter: saturate(1.5);" src="https://cdn.shopify.com/s/files/1/1223/6434/files/image015.png?v=1613798735" alt="Motorhelmets Car Wash" title="Motorhelmets Car Wash" />
		</div>
	</div>
	<div class="divider divider--md-3"></div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
		<div class="col-sm-6 col-xs-12">
			<img class="img-responsive" style="border-radius: 70px;filter: saturate(1.5);" src="https://cdn.shopify.com/s/files/1/1223/6434/files/image007.png?v=1613798729" alt="Motorhelmets Car Wash" title="Motorhelmets Car Wash" />
		</div>
		<div class="visible-xs divider divider--md-3"></div>
		<div class="col-sm-6 col-xs-12">
			<img class="img-responsive" style="border-radius: 70px;filter: saturate(1.5);" src="https://cdn.shopify.com/s/files/1/1223/6434/files/image011.png?v=1613798733" alt="Motorhelmets Car Wash" title="Motorhelmets Car Wash" />
		</div>
	</div>
	
</div><!--  end of row -->

<div class="row">
	     <div class="divider divider--xl-6"></div>
	     <div class="hidden-xs row">
	     		 <h3 class="text-center title-under uppercase_txt home_title">For More Info:<br>Txt: 657-217-6457<br>Call: 714-879-8180</h3>
				 <!-- <h3 class="text-center uppercase_txt home_title">Call: 714-879-8180</h3> -->
				 <h3 class="text-center title-under uppercase_txt home_title">Email: Team@motorhelmets.com</h3>
	     </div>
	     <div class="visible-xs row" style="padding:0 2em!important;">
	     		 <h3 class="text-center title-under uppercase_txt home_title">For More Info:<br>Txt: 657-217-6457<br>Call: 714-879-8180</h3>
				 <h3 class="text-center title-under uppercase_txt home_title" style="font-size:20px!important;">Email: Team@motorhelmets.com</h3>
	     </div>
				 
         <div class="divider divider--md-3"></div>

		<div class="col-sm-6 col-md-6 col-lg-6">
			 <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-1.jpg" alt="Motorhelmets Store Front" title="Motorhelmets Store Front" />
		</div>

		<div class="col-sm-6 col-md-6 col-lg-6">
		<iframe scrolling="no" marginheight="0" marginwidth="0" src="//maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=motorhelmets+1871+W.+Commonwealth+Ave+Fullerton+CA+92833&amp;sll=33.870423,-117.962133&amp;sspn=0.053378,0.111494&amp;gl=us&amp;ie=UTF8&amp;hq=motorhelmets&amp;hnear=1871+W+Commonwealth+Ave,+Fullerton,+CA+92833&amp;ll=33.870423,-117.962133&amp;spn=0.006295,0.006295&amp;output=embed" frameborder="0" height="350" width="100%"></iframe> 
		<br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=motorhelmets+1871+W.+Commonwealth+Ave+Fullerton+CA+92833&amp;sll=33.870423,-117.962133&amp;sspn=0.053378,0.111494&amp;gl=us&amp;ie=UTF8&amp;hq=motorhelmets&amp;hnear=1871+W+Commonwealth+Ave,+Fullerton,+CA+92833&amp;ll=33.870423,-117.962133&amp;spn=0.006295,0.006295" style="color: #0000ff; text-align: left;">View Larger Map</a></small>
		</div>

</div>