<div>
  <ul class="nav nav-tabs nav-tabs--ys" role="tablist">

      <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Headwear</a></li>

    

  </ul>
</div>     
<div class="tab-content tab-content--ys Sbs_sizechart">    
<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
<div class="tab-content tab-content--ys">
<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Size Comparison Chart</a></li>



  </ul>
<div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <p><img src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565"  style="margin: 0 auto;width: 117%;" ></p>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                <div class="table_responsive">
                  <table class="table table-bordered table-striped">
                     <tbody>
                     <thead>
                         <tr>
                            <th>Standard&nbsp;Size</th>
                            <th>Hat&nbsp;Size</th>
                            <th>Inches</th>
                            <th>Centimeters</th>
                         </tr>
                     </thead>
                        <tr>
                            
                        </tr>
                        <tr>
                            <td>4XS</td>
                            <td>6&nbsp;3/8</td>
                            <td>20&nbsp;1/16</td>
                            <td>51</td>
                        </tr>
                        <tr>
                            <td>3XS</td>
                            <td>6&nbsp;1/2&nbsp;-&nbsp;6&nbsp;5/8</td>
                            <td>20&nbsp;1/2&nbsp;-&nbsp;20&nbsp;7/8</td>
                            <td>52-53</td>
                        </tr>
                        <tr>
                            <td>2XS</td>
                            <td>6&nbsp;3/4&nbsp;-&nbsp;6&nbsp;7/8</td>
                            <td>21&nbsp;1/4&nbsp;-&nbsp;21&nbsp;5/8</td>
                            <td>54-55</td>
                        </tr>
                        <tr>
                            <td>XS</td>
                            <td>7</td>
                            <td>22</td>
                            <td>56</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>7&nbsp;1/8</td>
                            <td>2&nbsp;3/8</td>
                            <td>57</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>7&nbsp;1/4&nbsp;-&nbsp;7&nbsp;3/8</td>
                            <td>22&nbsp;3/4&nbsp;-&nbsp;23&nbsp;1/4</td>
                            <td>58-59</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>7&nbsp;1/2</td>
                            <td>23&nbsp;5/8</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>7&nbsp;5/8&nbsp;-&nbsp;7&nbsp;3/4</td>
                            <td>24&nbsp;-&nbsp;24&nbsp;3/8</td>
                            <td>61-62</td>
                        </tr>
                        <tr>
                            <td>2XL</td>
                            <td>7&nbsp;7/8&nbsp;-&nbsp;8</td>
                            <td>24&nbsp;3/4&nbsp;-&nbsp;25&nbsp;1/4</td>
                            <td>63-64</td>
                        </tr>
                        <tr>
                            <td>3XL</td>
                            <td>8&nbsp;1/8&nbsp;-&nbsp;8&nbsp;1/4</td>
                            <td>25&nbsp;5/8&nbsp;-&nbsp;26</td>
                            <td>65-66</td>
                        </tr>
                        <tr>
                            <td>4XL</td>
                            <td>8&nbsp;3/8&nbsp;-&nbsp;8&nbsp;1/2</td>
                            <td>26&nbsp;3/8&nbsp;-&nbsp;26&nbsp;3/4</td>
                            <td>67-68</td>
                        </tr>
                </tbody>
            </table>
            </div>
          </div>
        </div>
        <div class="divider divider--md"></div>             
         
                    <h4>HELMET SIZING </h4>
                            <p>Measuring the head is only a starting point for the entire sizing procedure. 
                            Due to varying shapes, heads that are apparently the same size when measured by a tape may not necessarily fit the same size helmet.
                            A small metal tape measure or a cloth tape may be used to make your initial measurement. 
                            You can also use a string, which can then be laid against a measuring tape.</p>

                        <p><span>(H)&nbsp;Head</span></p>

                        <p>Measure the circumference of the head at a point approximately one inch above the eyebrows in front, 
                        and at a point in the back of the head that results in the largest possible measurement. 
                        Take several measurements. The largest measurement is the one you want to use.</p>
       
            </div>
        </div>
    </div>
</div>

