<div>
  <ul class="nav nav-tabs nav-tabs--ys" role="tablist">

      <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

      <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
      <li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Moto</a></li>

  </ul>
</div>

<div class="tab-content tab-content--ys Sbs_sizechart">

<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>

    <li><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>

  </ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-apparel.JPG?11099361572878615553" alt="Alpinestar Men Size Chart" title=" Alpinestar Men Size Chart" style="margin: 0 auto;width: 69%; "></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <h4 style="margin: 10px;">HOW TO MEASURE</h4>
        <div class="chart-text-box">
              <h4 style="font-weight: bold;">A | CHEST</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the fullest part, under the armpits, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">B | WAIST</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the natural waist line, inline with the navel, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">C | HIP</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips, about 20cm below waist line, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">D | THIGH</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the thigh just below the crotch, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">E | INSEAM</h4>
              <p class="text-uppercase" style="margin: 0">Stand against a wall, ask someone else to measure from the crotch to the bottom of your leg.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">F | ARM LENGTH</h4>
              <p class="text-uppercase" style="margin: 0">Measure from shoulder (Humerus) to wrist.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">G | HEIGHT</h4>
              <p class="text-uppercase" style="margin: 0">Stand against a wall, ask someone else to measure from the oor to the top of your head, keeping the tape vertical.</p>
           </div>
    </div>
  </div>

  <div class="divider divider--md"></div>

  <h4>MEN'S APPAREL SIZE CHART (<span style="color: red; font-weight: bold;">INCHES</span>)</h4>
  <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
             <tbody>
                  <tr>
                    <td>Euro Size</td>
                    <td>40</td>
                    <td>42</td>
                    <td>44</td>
                    <td>46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>64</td>
                  </tr>

                  <tr>
                    <td>International Size</td>
                    <td>XXS</td>
                    <td>XXS | XS</td>
                    <td>XS | S</td>
                    <td>S</td>
                    <td>S | M</td>
                    <td>M | L</td>
                    <td>L</td>
                    <td>XL</td>
                    <td>L | XL</td>
                    <td>XL | XXL</td>
                    <td>XXL</td>
                    <td>XXL | 3XL</td>
                    <td>3XL | 4XL</td>
                  </tr>

                    <tr>
                      <td>U.S. Size</td>
                      <td>30</td>
                      <td>32</td>
                      <td>34</td>
                      <td>36</td>
                      <td>38</td>
                      <td>40</td>
                      <td>42</td>
                      <td>44</td>
                      <td>46</td>
                      <td>48</td>
                      <td>50</td>
                      <td>52</td>
                      <td>54</td>
                    </tr>
                    <tr>
                      <td>U.S. Pant Size</td>
                      <td>24</td>
                      <td>26</td>
                      <td>28</td>
                      <td>30</td>
                      <td>32</td>
                      <td>34</td>
                      <td>36</td>
                      <td>38</td>
                      <td>40</td>
                      <td>42</td>
                      <td>44</td>
                      <td>46</td>
                      <td>48</td>
                    </tr>
                    <tr>
                      <td>A | Chest (Inches)</td>
                      <td>30 <sup>3/4</sup>- 32 <sup>1/4</sup></td>
                      <td>32 <sup>1/4</sup>- 33 <sup>7/8</sup></td>
                      <td>33 <sup>7/8</sup>- 35 <sup>3/8</sup></td>
                      <td>35 <sup>3/8</sup>- 37</td>
                      <td>37 - 38 <sup>5/8</sup></td>
                      <td>38 <sup>5/8</sup>- 40 <sup>1/8</sup></td>
                      <td>40 <sup>1/8</sup>- 41 <sup>3/4</sup></td>
                      <td>41 <sup>3/4</sup>- 43 <sup>1/4</sup></td>
                      <td>43 <sup>1/4</sup>- 44 <sup>7/8</sup></td>
                      <td>44 <sup>7/8</sup>- 46 <sup>1/2</sup></td>
                      <td>46 <sup>1/2</sup>- 48</td>
                      <td>48 - 49 <sup>5/8</sup></td>
                      <td>49 <sup>5/8</sup>- 51 <sup>1/8</sup></td>
                    </tr>
                    <tr>
                      <td>B | Waist (Inches)</td>
                      <td>25 <sup>1/4</sup>- 26 <sup>3/4</sup></td>
                      <td>26 <sup>3/4</sup>- 28 <sup>3/8</sup></td>
                      <td>28 <sup>3/8</sup>- 29 <sup>7/8</sup></td>
                      <td>29 <sup>7/8</sup>- 31 <sup>1/2</sup></td>
                      <td>31 <sup>1/2</sup>- 33 <sup>1/8</sup></td>
                      <td>33 <sup>1/8</sup>- 34 <sup>5/8</sup></td>
                      <td>34 <sup>5/8</sup>- 36 <sup>1/4</sup></td>
                      <td>36 <sup>1/4</sup>- 37 <sup>3/4</sup></td>
                      <td>37 <sup>3/4</sup>- 39 <sup>1/4</sup></td>
                      <td>39 <sup>1/4</sup>- 41</td>
                      <td>41 - 42 <sup>1/2</sup></td>
                      <td>42 <sup>1/2</sup>- 44 <sup>1/8</sup></td>
                      <td>44 <sup>1/8</sup>- 45 <sup>5/8</sup></td>
                    </tr>
                    <tr>
                      <td>C | Hip (Inches)</td>
                      <td>31 <sup>1/8</sup>- 32 <sup>5/8</sup></td>
                      <td>32 <sup>5/8</sup>- 34 <sup>1/4</sup></td>
                      <td>34 <sup>1/4</sup>- 35 <sup>7/8</sup></td>
                      <td>35 <sup>7/8</sup>- 37 <sup>3/8</sup></td>
                      <td>37 <sup>3/8</sup>- 39</td>
                      <td>39 - 40 <sup>1/2</sup></td>
                      <td>40 <sup>1/2</sup>- 42 <sup>1/8</sup></td>
                      <td>42 <sup>1/8</sup>- 43 <sup>3/4</sup></td>
                      <td>43 <sup>3/4</sup>- 45 <sup>1/4</sup></td>
                      <td>45 <sup>1/4</sup>- 46 <sup>7/8</sup></td>
                      <td>46 <sup>7/8</sup>- 48 <sup>3/8</sup></td>
                      <td>48 <sup>3/8</sup>- 50</td>
                      <td>50 - 51 <sup>5/8</sup></td>
                    </tr>
                    <tr>
                      <td>D | Thigh (Inches)</td>
                      <td>19 <sup>3/8</sup>- 19 <sup>5/8</sup></td>
                      <td>19 <sup>5/8</sup>- 20 <sup>1/8</sup></td>
                      <td>20 <sup>1/2</sup>- 20 <sup>7/8</sup></td>
                      <td>21 <sup>1/4</sup>- 21 5/8</td>
                      <td>22 - 22 <sup>1/2</sup></td>
                      <td>22 <sup>7/8</sup>- 23 <sup>1/4</sup></td>
                      <td>23 <sup>5/8</sup>- 24</td>
                      <td>24 <sup>3/8</sup>- 24 <sup>3/4</sup></td>
                      <td>25 <sup>1/4</sup>- 25 <sup>5/8</sup></td>
                      <td>26 - 26 <sup>3/8</sup></td>
                      <td>26 <sup>3/4</sup>- 27 <sup>1/8</sup></td>
                      <td>27 <sup>1/2</sup>- 28</td>
                      <td>28 <sup>3/8</sup>- 28 <sup>1/2</sup></td>
                    </tr>
                    <tr>
                      <td>E | Inseam (Inches)</td>
                      <td>28 - 28 <sup>3/4</sup></td>
                      <td>28 <sup>3/4</sup>- 29 <sup>1/8</sup></td>
                      <td>29 <sup>1/2</sup>- 29 <sup>7/8</sup></td>
                      <td>30 <sup>3/8</sup>- 30 <sup>3/4</sup></td>
                      <td>31 <sup>1/8</sup>- 31 <sup>1/2</sup></td>
                      <td>31 <sup>7/8</sup> - 32 <sup>1/4</sup></td>
                      <td>32 <sup>5/8</sup> - 33 <sup>1/8</sup></td>
                      <td>33 <sup>1/2</sup> - 33 <sup>7/8</sup></td>
                      <td>34 <sup>1/4</sup> - 34 <sup>5/8</sup></td>
                      <td>35 - 35 <sup>3/8</sup></td>
                      <td>35 - 35 <sup>3/8</sup></td>
                      <td>35 <sup>7/8</sup> - 36 <sup>1/4</sup></td>
                      <td>35 <sup>7/8</sup> - 36 <sup>1/4</sup></td>
                    </tr>
                    <tr>
                      <td>F | Outer Arm (Inches)</td>
                      <td>19 <sup>1/4</sup> - 20 <sup>1/8</sup></td>
                      <td>20 <sup>1/8</sup> - 20 <sup>3/4</sup></td>
                      <td>20 <sup>7/8</sup> - 21 <sup>1/4</sup></td>
                      <td>21 <sup>5/8</sup> - 22</td>
                      <td>22 <sup>1/2</sup> - 22 <sup>7/8</sup></td>
                      <td>23 <sup>1/4</sup> - 23 <sup>5/8</sup></td>
                      <td>24 - 24 <sup>3/8</sup></td>
                      <td>24 <sup>3/4</sup> - 25 <sup>1/4</sup></td>
                      <td>25 <sup>5/8</sup> - 26</td>
                      <td>26 <sup>3/8</sup> - 26 <sup>3/4</sup></td>
                      <td>26 <sup>3/8</sup> - 26 <sup>3/4</sup></td>
                      <td>27 <sup>1/8</sup> - 27 <sup>1/2</sup></td>
                      <td>27 <sup>1/8</sup> - 27 <sup>1/2</sup></td>
                    </tr>
                    <tr>
                      <td>G | Height (Inches)</td>
                      <td>4'11" - 5'1"</td>
                      <td>5'2" - 5'4"</td>
                      <td>5'4" - 5'5</td>
                      <td>5'6" - 5'7"</td>
                      <td>5'7" - 5'8"</td>
                      <td>5'9" - 5'10"</td>
                      <td>5'11" - 6'"</td>
                      <td>6" - 6'2"</td>
                      <td>6'2" - 6'3"</td>
                      <td>6'3" - 6'5"</td>
                      <td>6'3" - 6'5"</td>
                      <td>6'5" - 6'6"</td>
                      <td>6'5" - 6'6"</td>
                    </tr>
              </tbody>
          </table>
        </div><!-- Responsive Table -->


    <div class="divider divider--md"></div>

  <h4>MEN'S APPAREL SIZE CHART (<span style="color: red; font-weight: bold;">CM</span>)</h4>
  <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
             <tbody>
                  <tr>
                    <td>Euro Size</td>
                    <td>40</td>
                    <td>42</td>
                    <td>44</td>
                    <td>46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                    <td>56</td>
                    <td>58</td>
                    <td>60</td>
                    <td>62</td>
                    <td>64</td>
                  </tr>

                  <tr>
                    <td>International Size</td>
                    <td>XXS</td>
                    <td>XXS | XS</td>
                    <td>XS | S</td>
                    <td>S</td>
                    <td>S | M</td>
                    <td>M | L</td>
                    <td>L</td>
                    <td>XL</td>
                    <td>L | XL</td>
                    <td>XL | XXL</td>
                    <td>XXL</td>
                    <td>XXL | 3XL</td>
                    <td>3XL | 4XL</td>
                  </tr>

                    <tr>
                      <td>U.S. Size</td>
                      <td>30</td>
                      <td>32</td>
                      <td>34</td>
                      <td>36</td>
                      <td>38</td>
                      <td>40</td>
                      <td>42</td>
                      <td>44</td>
                      <td>46</td>
                      <td>48</td>
                      <td>50</td>
                      <td>52</td>
                      <td>54</td>
                    </tr>
                    <tr>
                      <td>U.S. Pant Size</td>
                      <td>24</td>
                      <td>26</td>
                      <td>28</td>
                      <td>30</td>
                      <td>32</td>
                      <td>34</td>
                      <td>36</td>
                      <td>38</td>
                      <td>40</td>
                      <td>42</td>
                      <td>44</td>
                      <td>46</td>
                      <td>48</td>
                    </tr>
                    <tr>
                      <td>A. Chest (cm)</td>
                      <td>78 - 82</td>
                      <td>82 - 86</td>
                      <td>86 - 90</td>
                      <td>90 - 94</td>
                      <td>94 - 98</td>
                      <td>98 - 102</td>
                      <td>102 - 106</td>
                      <td>106 - 110</td>
                      <td>110 - 114</td>
                      <td>114 - 118</td>
                      <td>118 - 122</td>
                      <td>122 - 126</td>
                      <td>126 - 130</td>
                    </tr>
                    <tr>
                      <td>B. Waist (cm)</td>
                      <td>64 - 68</td>
                      <td>68 - 72</td>
                      <td>72 - 76</td>
                      <td>76 - 80</td>
                      <td>80 - 84</td>
                      <td>84 - 88</td>
                      <td>88 - 92</td>
                      <td>92 - 96</td>
                      <td>96 - 100</td>
                      <td>100 - 104</td>
                      <td>104 - 108</td>
                      <td>108 - 112</td>
                      <td>112 - 116</td>
                    </tr>
                    <tr>
                      <td>C. Hip (cm)</td>
                      <td>79 - 83</td>
                      <td>83 - 87</td>
                      <td>87 -91</td>
                      <td>91 - 95</td>
                      <td>95 - 99</td>
                      <td>99 - 103</td>
                      <td>103 - 107 </td>
                      <td>107 - 111</td>
                      <td>111 - 115</td>
                      <td>115 - 119</td>
                      <td>119 - 123</td>
                      <td>123 - 127</td>
                      <td>127 - 131</td>
                    </tr>
                    <tr>
                      <td>D. Thigh (cm)</td>
                      <td>48 - 49</td>
                      <td>50 - 51</td>
                      <td>52 - 53 </td>
                      <td>54 - 55</td>
                      <td>56 - 57</td>
                      <td>58 - 59</td>
                      <td>60 - 61</td>
                      <td>62 - 63</td>
                      <td>64 - 65</td>
                      <td>66 - 67</td>
                      <td>68 - 69</td>
                      <td>70 - 71</td>
                      <td>72 - 73</td>
                    </tr>
                    <tr>
                      <td>E. Inseam (cm)</td>
                      <td>71 - 72</td>
                      <td>73 - 74</td>
                      <td>75 - 76</td>
                      <td>77 - 78</td>
                      <td>79 - 80</td>
                      <td>81 - 82</td>
                      <td>83 - 84</td>
                      <td>85 -86</td>
                      <td>87 - 88</td>
                      <td>89 - 90</td>
                      <td>89 - 90</td>
                      <td>91 - 92</td>
                      <td>91 - 92</td>
                    </tr>
                    <tr>
                      <td>F. Outer Arm (cm)</td>
                      <td>49 - 50</td>
                      <td>51 - 52</td>
                      <td>53 - 54</td>
                      <td>55 - 56</td>
                      <td>57 - 58</td>
                      <td>59 - 60</td>
                      <td>61 - 62</td>
                      <td>63 - 64</td>
                      <td>65 - 66</td>
                      <td>67 - 68</td>
                      <td>67 - 68</td>
                      <td>69 - 70</td>
                      <td>69 - 70</td>
                    </tr>
                    <tr>
                      <td>G. Height (cm)</td>
                      <td>150 - 156 </td>
                      <td>157 - 163</td>
                      <td>164 - 167</td>
                      <td>168 - 171</td>
                      <td>172 - 175</td>
                      <td>176 - 179</td>
                      <td>180 - 183</td>
                      <td>184 - 187</td>
                      <td>188 - 191</td>
                      <td>192 - 195</td>
                      <td>192 - 195</td>
                      <td>196 - 199</td>
                      <td>196 - 199</td>
                    </tr>
              </tbody>
          </table>
        </div><!-- Responsive Table -->

</div>

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab2">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-footwear.JPG?8019389621017100315" alt="Alpinestar Mens Size Chart" title=" Alpinestar Mens Size Chart" ></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
             <tbody>
                  <tr>
                    <td>Europe</td>
                    <td>36</td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                    <td>45</td>
                    <td>46</td>
                    <td>47</td>
                    <td>48</td>
                    <td>49</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>USA</td>
                    <td>3.5</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>6.5</td>
                    <td>7.5</td>
                    <td>8</td>
                    <td>9</td>
                    <td>9.5</td>
                    <td>10.5</td>
                    <td>11.5</td>
                    <td>12</td>
                    <td>12.5</td>
                    <td>13.5</td>
                    <td>14</td>
                  </tr>
                  <tr>
                    <td>Japan</td>
                    <td>22.5</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>25.5</td>
                    <td>26</td>
                    <td>26.5</td>
                    <td>27.5</td>
                    <td>28.5</td>
                    <td>29.5</td>
                    <td>30</td>
                    <td>30.5</td>
                    <td>31.5</td>
                    <td>32</td>
                    <td>33</td>
                  </tr>
              </tbody>
          </table>
        </div><!-- Responsive Table -->

      </div>
    </div>
</div>

</div>
</div> 
<!-- SizeChartTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">

  <div role="tabpanel" class="tab-pane active" id="SizeChartTab2">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartWomenTab1" role="tab"data-toggle="tab" class="text-uppercase">Apparel</a></li>

    <li><a href="#SizeChartWomenTab2" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>

  </ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartWomenTab1">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-womens-alpinestar-apparel.jpg?8097124065841918173" alt="Alpinestar Mens Size Chart" title=" Alpinestar Mens Size Chart" style="margin: 0 auto; "></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
        <div class="chart-text-box">
              <h4 style="font-weight: bold;">A | CHEST</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the chest under the armpits, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">B | BUST</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the fullest part of the bust, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">C | WAIST</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the natural waist line, inline with the navel, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">D | HIP</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the fullest part of your hips, about 20cm below waist line, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">E | THIGH</h4>
              <p class="text-uppercase" style="margin: 0">Measure around the thigh just below the crotch, keeping the tape horizontal.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">F | INSEAM</h4>
              <p class="text-uppercase" style="margin: 0">Stand against a wall, ask someone else to measure from the crotch to the bottom of your leg.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">G | ARM LENGTH</h4>
              <p class="text-uppercase" style="margin: 0">Measure from shoulder (Humerus) to wrist.</p>
           </div>
           <div class="chart-text-box">
              <h4 style="font-weight: bold;">H | HEIGHT</h4>
              <p class="text-uppercase" style="margin: 0">Stand against a wall, ask someone else to measure from the floor to the top of your head, keeping the tape vertical.</p>
           </div>
    </div>
  </div>

  <div class="divider divider--md"></div>

  <div class="table_responsive">
          <table class="table table-bordered table-striped">
             <tbody>
                  <tr>
                    <td>Euro Size</td>
                    <td>36</td>
                    <td>38</td>
                    <td>40</td>
                    <td>42</td>
                    <td>44</td>
                    <td>46</td>
                    <td>48</td>
                    <td>50</td>
                    <td>52</td>
                    <td>54</td>
                  </tr>

                  <tr>
                    <td>International Size</td>
                    <td>XXS</td>
                    <td>XXS | XS</td>
                    <td>XS | S</td>
                    <td>M</td>
                    <td>L</td>
                    <td>L | XL</td>
                    <td>XL | XXL</td>
                    <td>XXL</td>
                    <td>XXL | 3XL</td>
                    <td>3XL</td>
                  </tr>

                  <tr>
                    <td>U.S. Size</td>
                    <td>0</td>
                    <td>2</td>
                    <td>4</td>
                    <td>6</td>
                    <td>8</td>
                    <td>10</td>
                    <td>12</td>
                    <td>14</td>
                    <td>16</td>
                    <td>18</td>
                  </tr>

                  <tr>
                    <td>U.S. Pant Size</td>
                    <td>22</td>
                    <td>24</td>
                    <td>26</td>
                    <td>28</td>
                    <td>30</td>
                    <td>32</td>
                    <td>34</td>
                    <td>36</td>
                    <td>38</td>
                    <td>40</td>
                  </tr>

                  <tr>
                    <td>A. Chest (Inches)</td>
                    <td>29 <sup>1/8</sup> - 30 <sup>3/4</sup></td>
                    <td>30 <sup>3/4</sup> - 32 <sup>1/4</sup></td>
                    <td>32 <sup>1/4</sup> - 33 <sup>7/8</sup></td>
                    <td>33 <sup>7/8</sup> - 35 <sup>3/8</sup></td>
                    <td>35 <sup>3/8</sup> - 37</td>
                    <td>37 - 38 <sup>5/8</sup></td>
                    <td>38 <sup>5/8</sup> - 40 <sup>1/8</sup></td>
                    <td>40 <sup>1/8</sup> - 41 <sup>3/4</sup></td>
                    <td>41 <sup>3/4</sup> - 43 <sup>1/4</sup></td>
                    <td>43 <sup>1/4</sup> - 44 <sup>7/8</sup></td>
                  </tr> 

                  <tr>
                    <td>B. Bust (Inches)</td>
                    <td>30 <sup>3/4</sup> - 32 <sup>1/4</sup></td>
                    <td>32 <sup>1/4</sup> - 33 <sup>7/8</sup></td>
                    <td>33 <sup>7/8</sup> - 35 <sup>3/8</sup></td>
                    <td>35 <sup>3/8</sup> - 37</td>
                    <td>37 - 38 <sup>5/8</sup></td>
                    <td>38 <sup>5/8</sup> - 40 <sup>1/8</sup></td>
                    <td>40 <sup>1/8</sup> - 41 <sup>3/4</sup></td>
                    <td>41 <sup>3/4</sup> - 43 <sup>1/4</sup></td>
                    <td>43 <sup>1/4</sup> - 44 <sup>7/8</sup></td>
                    <td>44 <sup>7/8</sup> - 46 <sup>1/2</sup></td>
                  </tr>

                  <tr>
                    <td>C. Waist (Inches)</td>
                    <td>22 <sup>7/8</sup> - 24 <sup>3/8</sup></td>
                    <td>24 <sup>3/8</sup> - 26</td>
                    <td>26 - 27 <sup>1/2</sup></td>
                    <td>27 <sup>1/2</sup> - 29 <sup>1/8</sup></td>
                    <td>29 <sup>1/8</sup> - 30 <sup>3/4</sup></td>
                    <td>30 <sup>3/4</sup> - 32 <sup>1/4</sup></td>
                    <td>32 <sup>1/4</sup> - 33 <sup>7/8</sup></td>
                    <td>33 <sup>7/8</sup> - 35 <sup>3/8</sup></td>
                    <td>35 <sup>3/8</sup> - 37</td>
                    <td>37 - 38 <sup>5/8</sup></td>
                  </tr>

                  <tr>
                    <td>D. Hip (Inches)</td>
                    <td>32 <sup>1/4</sup> - 33 <sup>7/8</sup></td>
                    <td>33 <sup>7/8</sup> - 35 <sup>3/8</sup></td>
                    <td>35 <sup>3/8</sup> - 37</td>
                    <td>37 - 38 <sup>5/8</sup></td>
                    <td>38 <sup>5/8</sup> - 40 <sup>1/8</sup></td>
                    <td>40 <sup>1/8</sup> - 41 <sup>3/4</sup></td>
                    <td>41 <sup>3/4</sup> - 43 <sup>1/4</sup></td>
                    <td>43 <sup>1/4</sup> - 44 <sup>7/8</sup></td>
                    <td>44 <sup>7/8</sup> - 46 <sup>1/2</sup></td>
                    <td>46 <sup>1/2</sup> - 48</td>
                  </tr>

                  <tr>
                    <td>E. Thighs (Inches)</td>
                    <td>19 <sup>5/8</sup> - 20 <sup>1/8</sup></td>
                    <td>20 <sup>1/2</sup> - 20 <sup>7/8</sup></td>
                    <td>21 <sup>1/4</sup> - 21 <sup>5/8</sup></td>
                    <td>22 - 22 <sup>1/2</sup></td>
                    <td>22 <sup>7/8</sup> - 23 <sup>1/4</sup></td>
                    <td>23 <sup>5/8</sup> - 24</td>
                    <td>24 <sup>3/8</sup> - 24 <sup>3/4</sup></td>
                    <td>25 <sup>1/4</sup> - 25 <sup>5/8</sup></td>
                    <td>26 - 26 <sup>3/8</sup></td>
                    <td>26 <sup>3/4</sup> - 27 <sup>1/8</sup></td>
                  </tr>

                  <tr>
                    <td>F. Inner Legs (Inches)</td>
                    <td>28 <sup>3/8</sup> - 28 <sup>3/4</sup></td>
                    <td>29 <sup>1/8</sup> - 29 <sup>1/2</sup></td>
                    <td>29 <sup>7/8</sup> - 30 <sup>3/8</sup></td>
                    <td>30 <sup>3/4</sup> - 31 <sup>1/8</sup></td>
                    <td>31 <sup>1/2</sup> - 31 <sup>7/8</sup></td>
                    <td>32 <sup>1/4</sup> - 32 <sup>5/8</sup></td>
                    <td>33 <sup>1/8</sup> - 33 <sup>1/2</sup></td>
                    <td>33 <sup>1/8</sup> - 33 <sup>1/2</sup></td>
                    <td>33 <sup>7/8</sup> - 34 <sup>1/4</sup></td>
                    <td>33 <sup>7/8</sup> - 34 <sup>1/4</sup></td>
                  </tr>

                  <tr>
                    <td>G. Outer Legs (Inches)</td>
                    <td>19 <sup>5/8</sup> - 20 <sup>1/8</sup></td>
                    <td>20 <sup>1/2</sup> - 20 <sup>7/8</sup></td>
                    <td>21 <sup>1/4</sup> - 21 <sup>5/8</sup></td>
                    <td>22 - 22 <sup>1/2</sup></td>
                    <td>22 <sup>7/8</sup> - 23 <sup>1/4</sup></td>
                    <td>23 <sup>5/8</sup> - 24</td>
                    <td>24 <sup>3/8</sup> - 24 <sup>3/4</sup></td>
                    <td>24 <sup>3/8</sup> - 24 <sup>3/4</sup></td>
                    <td>25 <sup>1/4</sup> - 25 <sup>5/8</sup></td>
                    <td>25 <sup>1/4</sup> - 25 <sup>5/8</sup></td>
                  </tr>

                  <tr>
                    <td>H. Height (Inches)</td>
                    <td>5'2"- 5'3"</td>
                    <td>5'4"- 5'5"</td>
                    <td>5'5"- 5'6"</td>
                    <td>5'7"- 5'8"</td>
                    <td>5'8"- 5'9"</td>
                    <td>5'10"- 5'11"</td>
                    <td>5'11"- 6'"</td>
                    <td>5'11"- 6'"</td>
                    <td>6'1"- 6'2"</td>
                    <td>6'1"- 6'2"</td>
                  </tr>

              </tbody>
          </table>
        </div><!-- Responsive Table -->

</div>

<div role="tabpanel" class="tab-pane" id="SizeChartWomenTab2">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Alpinestar Womens Size Chart" title=" Alpinestar Womens Size Chart" ></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
             <tbody>
                  <tr>
                    <td>Europe</td>
                    <td>36</td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                    <td>44</td>
                  </tr>
                  <tr>
                    <td>USA</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>8.5</td>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>11.5</td>
                  </tr>
                  <tr>
                    <td>Japan</td>
                    <td>22.5</td>
                    <td>23</td>
                    <td>24</td>
                    <td>25</td>
                    <td>25.5</td>
                    <td>26</td>
                    <td>26.5</td>
                    <td>27.5</td>
                    <td>28</td>
                  </tr>
              </tbody>
          </table>
        </div><!-- Responsive Table -->

      </div>
    </div>
</div>

</div>
</div>
</div>


<!-- start Mx tab -->
<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartMotomensTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
    <li><a href="#SizeChartMotoWoTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

  </ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartMotomensTab1">
<div role="tabpanel" class="tab-pane" id="SizeChartMotomensTab1">
  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartMotoTab2" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
    <li><a href="#SizeChartMotoTab3" role="tab"data-toggle="tab" class="text-uppercase">Boots</a></li>
    <li><a href="#SizeChartMotoTab4" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
    <li><a href="#SizeChartMotoTab5" role="tab"data-toggle="tab" class="text-uppercase">Leather Suit</a></li>

 </ul>

<div class="tab-content tab-content--ys">



<div role="tabpanel" class="tab-pane active" id="SizeChartMotoTab2">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Alpinestar Gloves Size Chart" title="Alpinestar Gloves Size Chart"  ></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Measurement</th>
              <th>Letter Sizing</th>
              <th>Numeric Sizing</th>
            </tr>
          </thead>
             <tbody>
                  <tr>
                    <td>2 1/8" - 2 5/8"</td>
                    <td>XS</td>
                    <td>7</td>
                  </tr>
                  <tr>
                      <td>2 5/8" - 3 1/8"</td> 
                      <td>SM</td>
                      <td>8 </td>
                  </tr>
                  <tr>
                      <td>3 1/8" - 3 5/8"</td>
                      <td>MD</td>
                      <td>9 </td>
                  </tr>
                   <tr>
                      <td>3 5/8" - 4 1/8"</td>
                      <td>LG</td>
                      <td>10</td>
                  </tr>
                   <tr>
                      <td>4 1/8" - 4 5/8"</td>
                      <td>XL</td>
                      <td>11</td>
                  </tr>
                   <tr>
                      <td>4 5/8" - 5 1/8"</td>
                      <td>XXL </td>
                      <td>12</td>
                  </tr>
                  <tr>
                      <td>5 1/8" - 5 5/8"</td>
                      <td>XXXL</td>
                      <td>13</td> 
                  </tr>

              </tbody>
          </table>
        </div><!-- Responsive Table -->

      </div>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartMotoTab3">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/off-road-boots_sizing_silhouette.jpg?4899083561945738762" alt="Alpinestar Boots Size Chart" title="Alpinestar Boots Size Chart" ></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
    <h4 style="text-transform: uppercase;">Off-Road Boots</h4>
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
             <tbody>
                  <tr>
                      <td>US</td> 
                      <td>5</td>
                      <td>6</td>
                      <td>7</td>
                      <td>8</td>
                      <td>9</td>
                      <td>10</td>
                      <td>11</td>
                      <td>12</td>
                      <td>13</td>
                      <td>14</td>
                      <td>15</td>
                      <td>16</td>
                  </tr>
                  <tr>
                      <td>EU</td> 
                     <td>38</td>
                      <td>39</td>
                      <td>40.5</td>
                      <td>42</td>
                      <td>43</td>
                      <td>44.5</td>
                      <td>45.5</td>
                      <td>47</td>
                      <td>48</td>
                      <td>49.5</td>
                      <td>51</td>
                      <td>52</td>
                  </tr>
                

              </tbody>
          </table>
          </div>
            <div class="divider divider--md"></div>
          <h4 style="text-transform: uppercase;">Road Boots</h4>
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
             <tbody>
                  <tr>
                      <td>US</td> 
                      <td>3.5</td>
                      <td>4</td>
                      <td>5</td>
                      <td>6</td>
                      <td>6.5</td>
                      <td>7.5</td>
                      <td>8</td>
                      <td>9</td>
                      <td>9.5</td>
                      <td>10.5</td>
                      <td>11.5</td>
                      <td>12</td>
                      <td>12.5</td>
                      <td>13.5</td>
                      <td>14</td>
                  </tr>
                  <tr>
                      <td>EU</td> 
                     <td>36</td>
                      <td>37</td>
                      <td>38</td>
                      <td>39</td>
                      <td>40</td>
                      <td>41</td>
                      <td>42</td>
                      <td>43</td>
                      <td>44</td>
                      <td>45</td>
                      <td>46</td>
                      <td>47</td>
                      <td>48</td>
                      <td>49</td>
                      <td>50</td>
                  </tr>
                

              </tbody>
          </table>
        </div><!-- Responsive Table -->

     
    </div>
</div>
</div>

<!-- Jackets -->
    <div role="tabpanel" class="tab-pane" id="SizeChartMotoTab4">

 
<div class="row">

    <div class="col-sm-5 col-md-5 col-lg-5">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/off-road-jacket-size-chart.JPG?1600816661163433276" alt="Alpinestar Jackets Size Chart" title="Alpinestar Jackets Size Chart" style="margin: 0 auto;width: 100%;" ></p>
</div>
   
    <div class="col-sm-7 col-md-7 col-lg-7">
    <h4 style="text-transform: uppercase;">Leather Jacket</h4>
      <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th rowspan="2">Size</th>
                <th colspan="2">A| Chest</th>
                <th colspan="2">B| Waist</th>
                <th colspan="2">C| Hip</th>
                <th colspan="2">D| Height</th>
              </tr>
              <tr>
              <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
                 <th >Inches</th>
                <th >Centimeters</th>
              
              </tr>
            </thead>
             <tbody>
                  <tr>
                    <td>46</td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>29 7/8 in</td>
                    <td>76 cm    </td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>5' 9"    </td>
                    <td>174 cm   </td>
                  </tr>
                  <tr>
                    <td>48</td>
                    <td>37 3/4 in</td>
                      <td>96 cm    </td>
                      <td>31 1/2 in</td>
                      <td>80 cm    </td>
                      <td>37 3/4 in</td>
                      <td>96 cm    </td>
                      <td>5'10"    </td>
                      <td>177 cm   </td>
                  </tr>
                  <tr>
                    <td>50</td>
                   <td>39 3/8 in</td>
                    <td>100 cm   </td>
                    <td>33 1/8 in</td>
                    <td>84 cm    </td>
                    <td>39 3/8 in</td>
                    <td>100 cm   </td>
                    <td>5' 11"   </td>
                    <td>180 cm   </td>
                  </tr>
                  <tr>
                    <td>52</td>
                    <td>41 in    </td>
                      <td>104 cm   </td>
                      <td>34 5/8 in</td>
                      <td>88 cm    </td>
                      <td>41 in    </td>
                      <td>104 cm   </td>
                      <td>6'       </td>
                      <td>183 cm   </td>

                  </tr>
                  <tr>
                    <td>54</td>
                   <td>42 1/2 in</td>
                <td>108 cm   </td>
                <td>36 1/4 in</td>
                <td>92 cm    </td>
                <td>42 1/2 in</td>
                <td>108 cm   </td>
                <td>6' 1"    </td>
                <td>186 cm   </td>
                  </tr>
                  <tr>
                    <td>56</td>
                    <td>44 1/8 in</td>
                    <td>112 cm   </td>
                    <td>37 3/4 in</td>
                    <td>96 cm    </td>
                    <td>44 1/8 in</td>
                    <td>112 cm   </td>
                    <td>6' 3"    </td>
                    <td>189 cm   </td>
                  </tr>
                  <tr>
                    <td>58</td>
                    <td>45 5/8 in</td>
                    <td>116 cm   </td>
                    <td>39 3/8 in</td>
                    <td>100 cm   </td>
                    <td>45 5/8 in</td>
                    <td>116 cm   </td>
                    <td>6' 4"    </td>
                    <td>192 cm   </td>
                  </tr>
                    <tr>
                    <td>60</td>
                    <td>47 1/4 in</td>
                    <td>120 cm   </td>
                    <td>41 in    </td>
                    <td>104 cm   </td>
                    <td>47 1/4 in</td>
                    <td>120 cm   </td>
                    <td>6' 5"    </td>
                    <td>195 cm   </td>
                  </tr>
                  <tr>
                    <td>62</td>
                    <td>48 3/4 in</td>
                        <td>124 cm   </td>
                        <td>42 1/2 in</td>
                        <td>108 cm   </td>
                        <td>48 3/4 in</td>
                        <td>124 cm   </td>
                        <td>6' 6"    </td>
                        <td>198 cm   </td>
                  </tr>
                   <tr>
                   <td>64</td>
                    <td>50 1/4 in</td>
                    <td>128 cm   </td>
                    <td>44 in    </td>
                    <td>112 cm   </td>
                    <td>50 1/4 in</td>
                    <td>128 cm   </td>
                    <td>6' 6"    </td>
                    <td>198 cm   </td>
                  </tr>

              </tbody>
          </table>
        </div><!-- Responsive Table -->
   

     </div>
     </div>

</div>

<!-- Leather Suit -->
      
      <div role="tabpanel" class="tab-pane" id="SizeChartMotoTab5">

 
<div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-leather-suit.jpg?13195616137210612737" alt="Alpinestar Leather Suit Size Chart" title="Alpinestar Leather Suit Size Chart" style="margin: 0 auto;width: 74%;"></p>
    </div>
   
    <div class="col-sm-8 col-md-8 col-lg-8">
   
    <h4 style="text-transform: uppercase;">Leather Suit Jacket</h4>
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th colspan="2">Size</th>
                <th colspan="2">A| Chest</th>
                <th colspan="2">B| Waist</th>
                <th colspan="2">C| Hip</th>
                <th colspan="2">D| Inseam</th>
                <th colspan="2">E| Height</th>
              </tr>
              <tr>
              <th >US</th>
                <th >EU</th>
              <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
                 <th >Inches</th>
                <th >Centimeters</th>
              <th >Inches</th>
                <th >Centimeters</th>
              </tr>
            </thead>
             <tbody>
                  <tr>
                    <td>36</td>
                    <td>46</td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>29 7/8 in</td>
                    <td>76 cm    </td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>30 in    </td>
                    <td>76.2 cm  </td>
                    <td>5' 9"    </td>
                    <td>174 cm   </td>

                  </tr>
                  <tr>
                  <td>38</td>
                    <td>48</td>
                    <td>37 3/4 in</td>
                    <td>96 cm    </td>
                    <td>31 1/2 in</td>
                    <td>80 cm    </td>
                    <td>37 3/4 in</td>
                    <td>96 cm    </td>
                    <td>32 in    </td>
                    <td>81.3 cm  </td>
                    <td>5'10"    </td>
                    <td>177 cm   </td>

                  </tr>
                  <tr>
                  <td>40</td>
                    <td>50</td>
                   <td>39 3/8 in</td>
                    <td>100 cm   </td>
                    <td>33 1/8 in</td>
                    <td>84 cm    </td>
                    <td>39 3/8 in</td>
                    <td>100 cm   </td>
                    <td>34 in    </td>
                    <td>86.4 cm  </td>
                    <td>5' 11"   </td>
                    <td>180 cm   </td>
                  </tr>
                  <tr>
                  <td>42</td>
                    <td>52</td>
                    <td>41 in    </td>
                    <td>104 cm   </td>
                    <td>34 5/8 in</td>
                    <td>88 cm    </td>
                    <td>41 in    </td>
                    <td>104 cm   </td>
                    <td>34 in    </td>
                    <td>86.4 cm  </td>
                    <td>6'       </td>
                    <td>183 cm   </td>


                  </tr>
                  <tr>
                  <td>44</td>
                    <td>54</td>
                   <td>42 1/2 in</td>
                    <td>108 cm   </td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>42 1/2 in</td>
                    <td>108 cm   </td>
                    <td>36 in    </td>
                    <td>91.4 cm  </td>
                    <td>6' 1"    </td>
                    <td>186 cm   </td>
                  </tr>
                  <tr>
                  <td>46</td>
                    <td>56</td>
                    <td>44 1/8 in</td>
                    <td>112 cm   </td>
                    <td>37 3/4 in</td>
                    <td>96 cm    </td>
                    <td>44 1/8 in</td>
                    <td>112 cm   </td>
                    <td>36 in    </td>
                    <td>91.4 cm  </td>
                    <td>6' 3"    </td>
                    <td>189 cm   </td>
                  </tr>
                  <tr>
                  <td>48</td>
                    <td>58</td>
                    <td>45 5/8 in</td>
                    <td>116 cm   </td>
                    <td>39 3/8 in</td>
                    <td>100 cm   </td>
                    <td>45 5/8 in</td>
                    <td>116 cm   </td>
                    <td>38 in    </td>
                    <td>96.5 cm  </td>
                    <td>6' 4"    </td>
                    <td>192 cm   </td>
                  </tr>
                    <tr>
                    <td>50</td>
                    <td>60</td>
                    <td>47 1/4 in</td>
                    <td>120 cm   </td>
                    <td>41 in    </td>
                    <td>104 cm   </td>
                    <td>47 1/4 in</td>
                    <td>120 cm   </td>
                    <td>38 in    </td>
                    <td>96.5 cm  </td>
                    <td>6' 5"    </td>
                    <td>195 cm   </td>

                  </tr>
                  <tr>
                  <td>-</td>
                    <td>62</td>
                    <td>48 3/4 in</td>
                    <td>124 cm   </td>
                    <td>42 1/2 in</td>
                    <td>108 cm   </td>
                    <td>48 3/4 in</td>
                    <td>124 cm   </td>
                    <td>40 in    </td>
                    <td>101.5 cm </td>
                    <td>6' 6"    </td>
                    <td>198 cm   </td>
                  </tr>
                   <tr>
                   <td>-</td>
                   <td>64</td>
                    <td>50 1/4 in</td>
                    <td>128 cm   </td>
                    <td>44 in    </td>
                    <td>112 cm   </td>
                    <td>50 1/4 in</td>
                    <td>128 cm   </td>
                    <td>40 in    </td>
                    <td>101.5 cm </td>
                    <td>6' 6"    </td>
                    <td>198 cm   </td>
                  </tr>

              </tbody>
          </table>
        </div><!-- Responsive Table -->
   

     </div>
     </div>

</div>

<!-- end Leather Suit -->
</div>
</div>

</div>


<!-- Start Motor WOmens -->
<div role="tabpanel" class="tab-pane" id="SizeChartMotoWoTab2">
 <div role="tabpanel" class="tab-pane active" id="SizeChartMotoWoTab2">
   <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartMotowomensTab2" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
    <li><a href="#SizeChartMotowomensTab3" role="tab"data-toggle="tab" class="text-uppercase">Boots</a></li>
    <li><a href="#SizeChartMotowomensTab4" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
    <li><a href="#SizeChartMotowomensTab5" role="tab"data-toggle="tab" class="text-uppercase">Leather Suit</a></li>
    
   </ul>

<div class="tab-content tab-content--ys">

  <div role="tabpanel" class="tab-pane active" id="SizeChartMotowomensTab2">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Alpinestar Gloves Size Chart" title="Alpinestar Gloves Size Chart"  ></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
    <br>
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Measurement</th>
              <th>Letter Sizing</th>
              <th>Numeric Sizing</th>
            </tr>
          </thead>
             <tbody>
                  <tr>
                    <td>2 1/8" - 2 5/8"</td>
                    <td>XS</td>
                    <td>7</td>

                  </tr>
                  <tr>
                      <td>2 5/8" - 3 1/8"</td>
                      <td>SM</td>
                      <td>8 </td>
                  </tr>
                  <tr>
                      <td>3 1/8" - 3 5/8"</td>
                      <td>MD</td>
                      <td>9 </td>
                  </tr>
                   <tr>
                      <td>3 5/8" - 4 1/8"</td>
                      <td>LG</td>
                      <td>10</td>
                  </tr>
                   <tr>
                      <td>4 1/8" - 4 5/8"</td>
                      <td>XL</td>
                      <td>11</td>
                  </tr>
                   <tr>
                      <td>4 5/8" - 5 1/8"</td>
                      <td>XXL</td>
                      <td>12 </td>
                  </tr>
                  <tr>
                      <td>5 1/8" - 5 5/8"</td>
                      <td>XXXL</td>
                      <td>13  </td>

                  </tr>

              </tbody>
          </table>
        </div><!-- Responsive Table -->

      </div>
    </div>
</div>

<!-- Start Off-Road Boots -->
<!-- sugod dre -->
    <div role="tabpanel" class="tab-pane" id="SizeChartMotowomensTab3">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/off-road-boots_sizing_silhouette.jpg?4899083561945738762" alt="Alpinestar Womens Off-Road Boots Size Chart" title="Alpinestar Womens Off-Road Boots Size Chart"  ></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
    <h4 style="text-transform: uppercase;">Off-Road Boots</h4>
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
    
             <tbody>
                  <tr>
                    <td>US</td>
                    <td>6 </td>
                    <td>7 </td>
                    <td>8 </td>
                    <td>9 </td>
                    <td>10</td>

                  </tr>
                  <tr>
                   <td>EU</td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>41</td>
                    <td>42</td>
                  </tr>
              </tbody>
          </table>
        </div><!-- Responsive Table -->
          <div class="divider divider--md"></div>
        <h4 style="text-transform: uppercase;">Road Boots</h4>
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
    
             <tbody>
                  <tr>
                    <td>US </td>
                    <td>5.5</td>
                    <td>6  </td>
                    <td>7  </td>
                    <td>8  </td>
                    <td>8.5</td>
                    <td>9.5</td>
                    <td>10 </td>
                    <td>11 </td>

                  </tr>
                  <tr>
                 <td>EU</td>
                    <td>36</td>
                    <td>37</td>
                    <td>38</td>
                    <td>39</td>
                    <td>40</td>
                    <td>41</td>
                    <td>42</td>
                    <td>43</td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<!-- Womens Jackets -->
  <div role="tabpanel" class="tab-pane" id="SizeChartMotowomensTab4">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/off-road-jacket-size-chart.JPG?1600816661163433276" alt="Alpinestar Womens Jackets Size Chart" title="Alpinestar Womens Jackets Size Chart"  style="margin: 0 auto;width: 100%;"></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
    <h4 style="text-transform: uppercase;">Leather Jackets</h4>
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th colspan="2">Size</th>
                <th colspan="2">A| Bust</th>
                <th colspan="2">B| Waist</th>
                <th colspan="2">C| Hip</th>
                <th colspan="2">D| Height</th>
              </tr>
              <tr>
                <th >US</th>
                <th >EU</th>
                 <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
                 <th >Inches</th>
                <th >Centimeters</th>
              
              </tr>
            </thead>
             <tbody>
                  <tr>
                   <td> 0 </td>
                    <td>36</td>
                    <td>31 1/2 in  </td>
                    <td>80 cm   </td>
                    <td>23 1/2 in </td>
                    <td>60 cm     </td>
                    <td>33 in</td>
                    <td>84 cm   </td>
                    <td>5' 3"   </td>
                    <td>160 cm   </td>
                  </tr>
                  <tr>
                   <td>2 </td>
                    <td>38</td>
                    <td>33 in    </td>
                    <td>84 cm    </td>
                    <td>25 1/4 in</td>
                    <td>64 cm    </td>
                    <td>34 3/4 in</td>
                    <td>88 cm    </td>
                    <td>5' 4"    </td>
                    <td>163 cm   </td>
                  </tr>
                  <tr>
                   <td>4 </td>
                    <td>40</td>
                    <td>34 3/4 in</td>
                    <td>88 cm    </td>
                    <td>26 3/4 in</td>
                    <td>68 cm    </td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>5' 5"    </td>
                    <td>166 cm   </td>
                  </tr>
                  <tr>
                   <td>6 </td>
                    <td>42</td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>28 1/4 in</td>
                    <td>72 cm    </td>
                    <td>37 3/4 in</td>
                    <td>96 cm    </td>
                    <td>5' 7"    </td>
                    <td>169 cm   </td>
                  </tr>
                  <tr>
                <td>8 </td>
                    <td>44</td>
                    <td>37 3/4 in</td>
                    <td>96 cm    </td>
                    <td>30 in    </td>
                    <td>76 cm    </td>
                    <td>39 1/4 in</td>
                    <td>100 cm   </td>
                    <td>5' 8"    </td>
                    <td>172 cm   </td>
                  </tr>
                  <tr>
                     <td>10</td>
                    <td>46</td>
                    <td>39 1/4 in</td>
                    <td>100 cm</td>
                    <td>31 1/2 in</td>
                    <td>80 cm </td>
                    <td>41 in</td>
                    <td>104 cm</td>
                    <td>5' 9" </td>
                    <td>175 cm</td>
                  </tr>
                  <tr>
                 <td>12</td>
                    <td>48</td>
                    <td>41 in    </td>
                    <td>104 cm   </td>
                    <td>33 1/4 in</td>
                    <td>84 cm    </td>
                    <td>42 1/2 in</td>
                    <td>108 cm   </td>
                    <td>5' 10"   </td>
                    <td>178 cm   </td>
                  </tr>
                  <tr>
                 <td>14</td>
                    <td>50</td>
                   <td>41 1/2 in</td>
                    <td>108 cm   </td>
                    <td>34 3/5 in</td>
                    <td>88 cm    </td>
                    <td>44 in    </td>
                    <td>112 cm   </td>
                    <td>5' 11"   </td>
                    <td>181 cm   </td>
                  </tr>
              </tbody>
          </table>
        </div><!-- Responsive Table -->
      </div>
    </div>
</div>

<!-- Leather Suit -->
    <div role="tabpanel" class="tab-pane" id="SizeChartMotowomensTab5">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-charts-leathersuit-womens.jpg?4896090690109318411" alt="Alpinestar Womens Leather SUit Size Chart" title="Alpinestar Womens Leather Suit Size Chart"  style="margin: 0 auto;width: 70%;"></p>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
    <h4 style="text-transform: uppercase;">Leather Suit</h4>
      <div class="table_responsive" style="overflow: auto;">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th colspan="2">Size</th>
                <th colspan="2">A| Bust</th>
                <th colspan="2">B| Waist</th>
                <th colspan="2">C| Hip</th>
                <th colspan="2">D| Inseam</th>
                <th colspan="2">E| Height</th>
              </tr>
              <tr>
                <th >US</th>
                <th >EU</th>
                 <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
                 <th >Inches</th>
                <th >Centimeters</th>
                <th >Inches</th>
                <th >Centimeters</th>
              
              </tr>
            </thead>
             <tbody>
                  <tr>
                   <td> 0 </td>
                    <td>36</td>
                    <td>31 1/2</td>
                    <td>80 cm </td>
                    <td>23 1/2</td>
                    <td>60 cm </td>
                    <td>33    </td>
                    <td>84 cm </td>
                    <td>30 1/4</td>
                    <td>77 cm </td>
                    <td>5' 3" </td>
                    <td>160 cm</td>

                  </tr>
                  <tr>
                   <td>2 </td>
                    <td>38</td>
                    <td>33 in    </td>
                    <td>84 cm    </td>
                    <td>25 1/4 in</td>
                    <td>64 cm    </td>
                    <td>34 3/4 in</td>
                    <td>88 cm    </td>
                    <td>31 in    </td>
                    <td>79 cm    </td>
                    <td>5' 4"    </td>
                    <td>163 cm   </td>
                  </tr>
                  <tr>
                   <td>4 </td>
                    <td>40</td>
                    <td>34 3/4 in</td>
                    <td>88 cm    </td>
                    <td>26 3/4 in</td>
                    <td>68 cm    </td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>31 in    </td>
                    <td>79 cm    </td>
                    <td>5' 5"    </td>
                    <td>166 cm   </td>
                  </tr>
                  <tr>
                   <td>6 </td>
                    <td>42</td>
                    <td>36 1/4 in</td>
                    <td>92 cm    </td>
                    <td>28 1/4 in</td>
                    <td>72 cm    </td>
                    <td>37 3/4 in</td>
                    <td>96 cm    </td>
                    <td>32 in    </td>
                    <td>81 cm    </td>
                    <td>5' 7"    </td>
                    <td>169 cm   </td>
                  </tr>
                  <tr>
                <td>8 </td>
                    <td>44</td>
                    <td>37 3/4 in</td>
                    <td>96 cm    </td>
                    <td>30 in    </td>
                    <td>76 cm    </td>
                    <td>39 1/4 in</td>
                    <td>100 cm   </td>
                    <td>32 in    </td>
                    <td>81 cm    </td>
                    <td>5' 8"    </td>
                    <td>172 cm   </td>
                  </tr>
                  <tr>
                     <td>10</td>
                    <td>46</td>
                    <td>39 1/4 in</td>
                    <td>100 cm   </td>
                    <td>31 1/2 in</td>
                    <td>80 cm    </td>
                    <td>41 in    </td>
                    <td>104 cm   </td>
                    <td>32 3/4 in</td>
                    <td>83 cm    </td>
                    <td>5' 9"    </td>
                    <td>175 cm   </td>
                  </tr>
                  <tr>
                 <td>12</td>
                    <td>48</td>
                    <td>41 in    </td>
                    <td>104 cm   </td>
                    <td>33 1/4 in</td>
                    <td>84 cm    </td>
                    <td>42 1/2 in</td>
                    <td>108 cm   </td>
                    <td>33 1/2 in</td>
                    <td>85 cm    </td>
                    <td>5' 10"   </td>
                    <td>178 cm   </td>
                  </tr>
                  <tr>
                 <td>14</td>
                    <td>50</td>
                   <td>41 1/2 in</td>
                    <td>108 cm   </td>
                    <td>34 3/5 in</td>
                    <td>88 cm    </td>
                    <td>44 in    </td>
                    <td>112 cm   </td>
                    <td>34 1/4 in</td>
                    <td>87 cm    </td>
                    <td>5' 11"   </td>
                    <td>181 cm   </td>
                  </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
</div>

<!-- end tabble -->
</div>
</div>
</div>




<!-- End Moto Womens -->



<!-- end of tab -->
<p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>


</div>
</div>
</div>


<!-- Start Moto Womens -->