<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<!-- /title --> <!--  -->
<h3 class="text-center title-under uppercase_txt home_title">Ordering & Store Policy</h3>

<ul class="decimal-list font-bold color-dark">
<li>Delivery dates are approximate subject to normal variations customary in the industry and unforeseen delays. Seller shall not be liable to Customer for any delay which is (in)directly the result of any cause beyond Seller's reasonable control, including w/o limitation. </li>


<li>Full risk of loss and title passes to the Customer upon delivery of merchandise to a carrier. Claims for loss/damage in shipment must be made directly to the carrier. </li>


<li>In no event shall Seller be liable for coincidental or consequential damages. Customer agrees that no other remedy (including but not limited to incidental or consequential loss) shall be available to him. </li>

<li>Customers may cancel any orders before the order has been processed.
<p>There is a $10 order cancellation fee after order submission. We cannot guarantee the cancellation of any new orders until we receive written confirmation from our shipping warehouse. Cancellation requests after we have shipped and before customer has received product's) will be charged freight/handling. The customer must then return the product freight pre-paid with the original packaging unopened to receive a full refund on the goods minus freight. Insuring goods is the customer's responsibility. Request for refund of non-defective goods after receipt will be charged a restocking fee of 20% minimum. After 30 days, all sales are final. 
</p>
</li>

<li>All products are sold with manufacturer's limited warranty. If the merchandise happens to be damaged upon receipt, we will replace it. We must be notified of defect within 72 Hours of receipt. Defective items will be replaced with the same or comparable item. Returns for refund will be charged a 20% restocking fee and must be returned within 7 days in new and re-saleable condition with all manufacturer's boxes, brochures, and warranty cards. S&H is never refundable. Shipments back to us must be paid and insured by the buyer. Shipments from us to the buyer will be paid by us via UPS Ground or U.S. Postal (regardless of how the initial order was shipped) under circumstances where the items were received initially defective. Cross-shipments of merchandise is available for extraordinary circumstances. For replacement items due to size or fitting, customer must pay freight both ways. Sorry, all non-US. Continental customers including Hawaii, Alaska, Puerto Rico, and all International customers are responsible for freight fees under all circumstances. </li>

<li>We do not guarantee delivery. Delivery guarantees are assumed by the shipping company. We can only ship via your request. We do not take responsibility for late shipments due to UPS delivery error or errors by other shipping companies. There are no refunds due to errors of this nature. We usually ship within 3 working days. </li>


<li>To request an exchange/return call 800-288-0640. You may also fill out our <a class="text_underline text_color_red" href="/pages/warranty-request">Returns/Exchange</a> form. You can also <a href="http://www.aiyagroup.com/general-rma-form.pdf">download </a>our PDF form. RMA numbers are valid for 7 days. All returns must be in their original shipping package or something comparable. Do not ship anything back in the original manufacturer's box or packaging. This may void our ability to exchange your product or give you a refund/ credit. Do not ship anything back before filling out our RMA form. </li>

<li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items. </li>


<li>All exchanges will be assessed a minimum $10 return shipping charge regardless of the initial shipping charge for the merchandise. Initial shipping fees are promotional and is far less than our actual cost.</li>

<li>Most orders will be sent with Signature Confirmation for secuirty purposes..</li>

</ul>


<hr class="hr-lg" />
</div>
</div>

