
<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

<li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

<li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Kids</a></li>

<li><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Boys</a></li>

<li><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Toddlers</a></li>

<li><a href="#SizeChartTab6" role="tab"data-toggle="tab" class="text-uppercase">Denim Fit Guide</a></li>
  
<li><a href="#SizeChartTab7" role="tab"data-toggle="tab" class="text-uppercase">Hats</a></li>




</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">
<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>

<li><a href="#SizeChartMenTab3" role="tab"data-toggle="tab" class="text-uppercase">Bottoms & Denim</a></li>

<li><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>


</ul>


<div class="tab-content tab-content--ys">

  <div role="tabpanel" class="tab-pane" id="SizeChartMenTab1">

  <div>
    <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="DC Shoes Footwear Size Chart"></center>
  </div>

  <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">US Men's</th>
           <th scope="col">UK</th>
          <th scope="col">EU</th>
          <th scope="col">CM</th>
        </tr>
      </thead>
      <tbody>
          
          <tr>
              <td>5</td>
              <td>4</td>
              <td>37</td>
              <td>23</td>
          </tr>
          <tr>
              <td>5.5</td>
              <td>4.5</td>
              <td>37.5</td>
              <td>23.5</td>
          </tr>
          <tr>
              <td>6</td>
              <td>5</td>
              <td>38</td>
              <td>24</td>
          </tr>
          <tr>
              <td>6.5</td>
              <td>5.5</td>
              <td>38.5</td>
              <td>24.5</td>
          </tr>
          <tr>
              <td>7</td>
              <td>6</td>
              <td>39</td>
              <td>25</td>
          </tr>
          <tr>
              <td>7.5</td>
              <td>6.5</td>
              <td>40</td>
              <td>25.5</td>
          </tr>
          <tr>
              <td>8</td>
              <td>7</td>
              <td>40.5</td>
              <td>26</td>
          </tr>
          <tr>
              <td>8.5</td>
              <td>7.5</td>
              <td>41</td>
              <td>26.5</td>
          </tr>
          <tr>
              <td>9</td>
              <td>8</td>
              <td>42</td>
              <td>27</td>
          </tr>
          <tr>
              <td>9.5</td>
              <td>8.5</td>
              <td>42.5</td>
              <td>27.5</td>
          </tr>
          <tr>
              <td>10</td>
              <td>9</td>
              <td>43</td>
              <td>28</td>
          </tr>
          <tr>
              <td>10.5</td>
              <td>9.5</td>
              <td>44</td>
              <td>28.5</td>
          </tr>
          <tr>
              <td>11</td>
              <td>10</td>
              <td>44.5</td>
              <td>29</td>
          </tr>
          <tr>
              <td>11.5</td>
              <td>10.5</td>
              <td>45</td>
              <td>29.5</td>
          </tr>
          <tr>
              <td>12</td>
              <td>11</td>
              <td>45.5</td>
              <td>30</td>
          </tr>
          <tr>
              <td>13</td>
              <td>12</td>
              <td>47</td>
              <td>31</td>
          </tr>
          <tr>
              <td>14</td>
              <td>13</td>
              <td>48.5</td>
              <td>32</td>
          </tr>
          <tr>
              <td>15</td>
              <td>14</td>
              <td>50</td>
              <td>33</td>
          </tr>
          <tr>
              <td>16</td>
              <td>15</td>
              <td>52</td>
              <td>34</td>
          </tr>
          <tr>
              <td>17</td>
              <td>16</td>
              <td>53.5</td>
              <td>35</td>
          </tr>
          <tr>
              <td>18</td>
              <td>17</td>
              <td>55</td>
              <td>36</td>
          </tr>
      </tbody>
    </table>
  </div><!-- Responsive Table -->
 
</div>

<div role="tabpanel" class="tab-pane active" id="SizeChartMenTab2">

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-mens-top-size-charts.jpg?2833894845831945204" alt="DC Shoes Mens Top Size Chart"></center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
          <table class="table table-bordered table-striped">
                      <thead>
                        <tr>
                            <th scope="col">Size</th>
                            <th scope="col">Size</th>
                            <th scope="col">A | Chest(cm)</th>
                            <th scope="col">B | Waist(cm)</th>
                            <th scope="col">C | Hip(cm)</th>
                            <th scope="col">D | Height(cm)</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>XS</td>
                            <td>44</td>
                            <td>88</td>
                            <td>76</td>
                            <td>92</td>
                            <td>160-165</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>46</td>
                            <td>92</td>
                            <td>80</td>
                            <td>96</td>
                            <td>165-170</td>
                        </tr>
                        <tr>
                            <td>S/M</td>
                            <td>48</td>
                            <td>96</td>
                            <td>84</td>
                            <td>100</td>
                            <td>165-175</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>50</td>
                            <td>100</td>
                            <td>88</td>
                            <td>104</td>
                            <td>170-175</td>
                        </tr>
                        <tr>
                            <td>M/L</td>
                            <td>52</td>
                            <td>104</td>
                            <td>92</td>
                            <td>108</td>
                            <td>175-180</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>54</td>
                            <td>108</td>
                            <td>96</td>
                            <td>112</td>
                            <td>175-180</td>
                        </tr>
                        <tr>
                            <td>L/XL</td>
                            <td>56</td>
                            <td>112</td>
                            <td>100</td>
                            <td>116</td>
                            <td>175-185</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>58</td>
                            <td>116</td>
                            <td>104</td>
                            <td>120</td>
                            <td>175-185</td>
                        </tr>
                        <tr>
                            <td>XL/XXL</td>
                            <td>60</td>
                            <td>120</td>
                            <td>108</td>
                            <td>124</td>
                            <td>180-190</td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>62</td>
                            <td>124</td>
                            <td>112</td>
                            <td>128</td>
                            <td>185-190</td>
                        </tr>
                </tbody>
              </table>
            </div><!-- Responsive Table -->
      </div>
  </div>
</div>


<div role="tabpanel" class="tab-pane" id="SizeChartMenTab3">

  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-mens-bottom-size-charts.jpg?5528971828808551209" alt="DC Shoes Mens Bottom Size Chart"></center>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Size</th>
                    <th scope="col">A | Waist(cm)</th>
                    <th scope="col">B | Length</th>
                    <th scope="col">C | Inseam(cm)</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>25-27</td>
                        <td>XS</td>
                        <td>64-69</td>
                        <td>28</td>
                        <td>71</td>
                    </tr>
                    <tr>
                        <td>28-30</td>
                        <td>S</td>
                        <td>71-76</td>
                        <td>30</td>
                        <td>76</td>
                    </tr>
                    <tr>
                        <td>31-33</td>
                        <td>M</td>
                        <td>79-84</td>
                        <td>32</td>
                        <td>81</td>
                    </tr>
                    <tr>
                        <td>34-36</td>
                        <td>L</td>
                        <td>86-92</td>
                        <td>34</td>
                        <td>86</td>
                    </tr>
                    <tr>
                        <td>37-39</td>
                        <td>XL</td>
                        <td>94-99</td>
                        <td>36</td>
                        <td>91</td>
                    </tr>
                    <tr>
                        <td>40-42</td>
                        <td>XXL</td>
                        <td>102-107</td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
              </table>
          </div><!-- Responsive Table -->
        </div>
    </div>
</div>


</div>



  
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartWomenTab1" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>

<li><a href="#SizeChartWomenTab2" role="tab"data-toggle="tab" class="text-uppercase">Bottoms & Jeans</a></li>

<li><a href="#SizeChartWomenTab3" role="tab"data-toggle="tab" class="text-uppercase">Snow</a></li>

<li><a href="#SizeChartWomenTab4" role="tab"data-toggle="tab" class="text-uppercase">Glove</a></li>

<li><a href="#SizeChartWomenTab5" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>


</ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartWomenTab1">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-womens-top-size-charts.jpg?2566850990186336539" alt="DC Shoes Womens Top Size Chart"></center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">Size</th>
                        <th scope="col">A | Chest(cm)</th>
                        <th scope="col">B | Waist(cm)</th>
                        <th scope="col">C | Hip(cm)</th>
                        <th scope="col">D | Height(cm)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                        <td>XS</td>
                        <td>34</td>
                        <td>80</td>
                        <td>64</td>
                        <td>88</td>
                        <td>150-155</td>
                    </tr>
                    <tr>
                        <td>S</td>
                        <td>36</td>
                        <td>84</td>
                        <td>68</td>
                        <td>92</td>
                        <td>163</td>
                    </tr>
                    <tr>
                        <td>S/M</td>
                        <td>38</td>
                        <td>88</td>
                        <td>72</td>
                        <td>96</td>
                        <td>163-168</td>
                    </tr>
                    <tr>
                        <td>M</td>
                        <td>40</td>
                        <td>92</td>
                        <td>76</td>
                        <td>100</td>
                        <td>168</td>
                    </tr>
                    <tr>
                        <td>M/L</td>
                        <td>42</td>
                        <td>96</td>
                        <td>80</td>
                        <td>104</td>
                        <td>168-173</td>
                    </tr>
                    <tr>
                        <td>L</td>
                        <td>44</td>
                        <td>100</td>
                        <td>84</td>
                        <td>108</td>
                        <td>173</td>
                    </tr>
                    <tr>
                        <td>L/XL</td>
                        <td>46</td>
                        <td>104</td>
                        <td>88</td>
                        <td>112</td>
                        <td>173-178</td>
                    </tr>
                    <tr>
                        <td>XL</td>
                        <td>48</td>
                        <td>108</td>
                        <td>102</td>
                        <td>116</td>
                        <td>178</td>
                    </tr>
                    <tr>
                        <td>XL/XXL</td>
                        <td>50</td>
                        <td>112</td>
                        <td>106</td>
                        <td>120</td>
                        <td>178-183</td>
                    </tr>
                    <tr>
                        <td>XXL</td>
                        <td>52</td>
                        <td>122</td>
                        <td>106</td>
                        <td>127</td>
                        <td>183</td>
                    </tr>
                </tbody>
              </table>
            </div><!-- Responsive Table -->
        </div>
    </div>
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartWomenTab2">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-womens-bottom-size-charts.jpg?7919663058049861930" alt="DC Shoes Womens Bottom Size Chart"></center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th scope="col">Size</th>
                  <th scope="col">Size</th>
                  <th scope="col">A | Waist(cm)</th>
                </tr>
                </thead>
                <tbody>
                  <tr>
                      <td>24-25</td>
                      <td>XS</td>
                      <td>61-64</td>
                  </tr>
                  <tr>
                      <td>26-28</td>
                      <td>S</td>
                      <td>66-71</td>
                  </tr>
                  <tr>
                      <td>29-31</td>
                      <td>M</td>
                      <td>74-79</td>
                  </tr>
                  <tr>
                      <td>32-34</td>
                      <td>L</td>
                      <td>81-86</td>
                  </tr>
                  <tr>
                      <td>35-38</td>
                      <td>XL</td>
                      <td>89-97</td>
                  </tr>
              </tbody>
            </table>
        </div><!-- Responsive Table -->
      </div>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartWomenTab3">

<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-mens-snow-size-charts.jpg?4886946112732923807" alt="DC Shoes Womens Bottom Size Chart"></center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">A | Height</th>
                        <th scope="col">B | Chest</th>
                        <th scope="col">C | Sleeve Length</th>
                        <th scope="col">D | Waist</th>
                        <th scope="col">E | Hip</th>
                        <th scope="col">F | Inseam</th>
                    </tr>
             
                </thead>
                <tbody>
                    <tr>
                        <td>XSMALL</td>
                        <td>65.35-66.14IN, 166-168CM</td>
                        <td>31.75-32.50IN, 80.5-85.5CM</td>
                        <td>22.4IN, 57CM</td>
                        <td>25.25-26IN, 62-64CM</td>
                        <td>34.75-35.5IN, 88-90CM</td>
                        <td>30.7IN, 78CM</td>
                    </tr>
                    <tr>
                        <td>SMALL</td>
                        <td>66.14-66.92IN, 168-70CM</td>
                        <td>33.25-34IN, 84.5-86.5CM</td>
                        <td>22.8IN, 58CM</td>
                        <td>26.75-27.5IN, 66-68CM</td>
                        <td>36.25-37IN, 92-94CM</td>
                        <td>31IN, 79CM</td>
                    </tr>
                    <tr>
                        <td>MEDIUM</td>
                        <td>66.92-67.7IN, 170-172CM</td>
                        <td>34.75-35.5IN, 88.5-90.5CM</td>
                        <td>23.2IN, 59CM</td>
                        <td>28.25-29IN, 70-72CM</td>
                        <td>37.75-39IN, 96-98CM</td>
                        <td>3.5IN, 80CM</td>
                    </tr>
                    <tr>
                        <td>LARGE</td>
                        <td>67.7-68.5IN, 172-174CM</td>
                        <td>36.25-37IN, 92.5-94.5CM</td>
                        <td>23.6IN, 60CM</td>
                        <td>29.55-30.3IN, 74-76CM</td>
                        <td>39.95-40.7IN, 100-102CM</td>
                        <td>31.9IN, 81CM</td>
                    </tr>
                    <tr>
                        <td>XLARGE</td>
                        <td>68.5-69.29IN, 174-176CM</td>
                        <td>37.75-38.5IN, 96.5-98.5CM</td>
                        <td>24.4IN, 62CM</td>
                        <td>31.25-31.8IN, 78-80CM</td>
                        <td>40.75-42.2IN, 104-106CM</td>
                        <td>32.3IN, 82CM</td>
                    </tr>
                </tbody>
            </table>
          </div><!-- Responsive Table -->
      </div>
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartWomenTab4">
  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="DC Shoes Womens Glove Size Chart"></center>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
            <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                      <th scope="col">Size</th>
                      <th scope="col">Width (Across Knuckles)</th>
                  </tr>
             
                </thead>
                <tbody>
                  <tr>
                      <td>SMALL</td>
                      <td>6.5-7.1IN, 16.5-18CM</td>
                  </tr>
                  <tr>
                      <td>MEDIUM</td>
                      <td>7.1-7.5IN, 18-19CM</td>
                  </tr>
                  <tr>
                      <td>LARGE</td>
                      <td>7.9-8.5IN, 20-21.5CM</td>
                  </tr>
              </tbody>
            </table>
        </div><!-- Responsive Table -->
      </div>
  </div>
</div>


<div role="tabpanel" class="tab-pane" id="SizeChartWomenTab5">
    <div>
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="DC Shoes Womens Footwear Size Chart"></center>
    </div>
  
    <div>
          <div class="table_responsive">
            <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">US</th>
                 <th scope="col">UK</th>
                <th scope="col">EU</th>
                <th scope="col">CM</th>
              </tr>
            </thead>
            <tbody>
                  
                  <tr>
                      <td>5</td>
                      <td>3</td>
                      <td>36</td>
                      <td>22</td>
                  </tr>
                  <tr>
                      <td>6</td>
                      <td>4</td>
                      <td>37</td>
                      <td>23</td>
                  </tr>
                  <tr>
                      <td>6.5</td>
                      <td>4.5</td>
                      <td>37.5</td>
                      <td>23.5</td>
                  </tr>
                  <tr>
                      <td>7</td>
                      <td>5</td>
                      <td>38</td>
                      <td>24</td>
                  </tr>
                  <tr>
                      <td>7.5</td>
                      <td>5.5</td>
                      <td>38.5</td>
                      <td>24.5</td>
                  </tr>
                  <tr>
                      <td>8</td>
                      <td>6</td>
                      <td>39</td>
                      <td>25</td>
                  </tr>
                  <tr>
                      <td>8.5</td>
                      <td>6.5</td>
                      <td>40</td>
                      <td>25.5</td>
                  </tr>
                  <tr>
                      <td>9</td>
                      <td>7</td>
                      <td>40.5</td>
                      <td>26</td>
                  </tr>
                  <tr>
                      <td>9.5</td>
                      <td>7.5</td>
                      <td>41</td>
                      <td>26.5</td>
                  </tr>
                  <tr>
                      <td>10</td>
                      <td>8</td>
                      <td>42</td>
                      <td>27</td>
                  </tr>
                  <tr>
                      <td>10.5</td>
                      <td>8.5</td>
                      <td>42.5</td>
                      <td>27.5</td>
                  </tr>
                  <tr>
                      <td>11</td>
                      <td>9</td>
                      <td>43</td>
                      <td>28</td>
                  </tr>
              </tbody>
            </table>
          </div><!-- Responsive Table -->
        </div>
    </div>
</div>


</div> <!-- SizeChartTab2 End -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartkidsTab1" role="tab"data-toggle="tab" class="text-uppercase">Footwear: 4-7 Years Old</a></li>

<li><a href="#SizeChartkidsTab2" role="tab"data-toggle="tab" class="text-uppercase">Footwear: 8 & Up Years Old</a></li>


</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartkidsTab1">

<div>
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="DC Shoes Womens Footwear Size Chart"></center>
</div>

<div class="table_responsive">
<table class="table table-bordered table-striped">
  <thead>
        <tr>
            <th scope="col">USA</th>
            <th scope="col">UK</th>
            <th scope="col">EU</th>
            <th scope="col">CM</th>
        </tr>
  </thead>
 <tbody>
        
        <tr>
            <td>10</td>
            <td>9</td>
            <td>27</td>
            <td>16</td>
        </tr>
        <tr>
            <td>10.5</td>
            <td>9.5</td>
            <td>27.5</td>
            <td>16.5</td>
        </tr>
        <tr>
            <td>11</td>
            <td>10</td>
            <td>28</td>
            <td>17</td>
        </tr>
        <tr>
            <td>11.5</td>
            <td>10.5</td>
            <td>28.5</td>
            <td>17.5</td>
        </tr>
        <tr>
            <td>12</td>
            <td>11</td>
            <td>29</td>
            <td>18</td>
        </tr>
        <tr>
            <td>12.5</td>
            <td>11.5</td>
            <td>30</td>
            <td>18.5</td>
        </tr>
        <tr>
            <td>13</td>
            <td>12</td>
            <td>30.5</td>
            <td>19</td>
        </tr>
        <tr>
            <td>13.5</td>
            <td>12.5</td>
            <td>31</td>
            <td>19.5</td>
        </tr>
        <tr>
            <td>1</td>
            <td>13</td>
            <td>32</td>
            <td>20</td>
        </tr>
        <tr>
            <td>1.5</td>
            <td>13.5</td>
            <td>32.5</td>
            <td>20.5</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1</td>
            <td>33</td>
            <td>21</td>
        </tr>
        <tr>
            <td>2.5</td>
            <td>1.5</td>
            <td>33.5</td>
            <td>21.5</td>
        </tr>
        <tr>
            <td>3</td>
            <td>2</td>
            <td>34</td>
            <td>22</td>
        </tr>
    </tbody>
</table>
</div><!-- Responsive Table -->
 
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartkidsTab2">

<div>
    <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="DC Shoes Womens Footwear Size Chart"></center>
</div>

<div class="table_responsive">
<table class="table table-bordered table-striped">
  <thead>
        <tr>
            <th scope="col">USA</th>
            <th scope="col">UK</th>
            <th scope="col">EU</th>
            <th scope="col">CM</th>
        </tr>
  </thead>
 <tbody>
        
        <tr>
            <td>3.5</td>
            <td>2.5</td>
            <td>34.5</td>
            <td>22.5</td>
        </tr>
        <tr>
            <td>4</td>
            <td>3</td>
            <td>35</td>
            <td>23</td>
        </tr>
        <tr>
            <td>4.5</td>
            <td>3.5</td>
            <td>35.5</td>
            <td>23.5</td>
        </tr>
        <tr>
            <td>5</td>
            <td>4</td>
            <td>36</td>
            <td>24</td>
        </tr>
        <tr>
            <td>5.5</td>
            <td>4.5</td>
            <td>36.5</td>
            <td>24.5</td>
        </tr>
        <tr>
            <td>6</td>
            <td>5</td>
            <td>37</td>
            <td>25</td>
        </tr>
        <tr>
            <td>6.5</td>
            <td>5.5</td>
            <td>38</td>
            <td>25.3</td>
        </tr>
        <tr>
            <td>7</td>
            <td>6</td>
            <td>39</td>
            <td>25.5</td>
        </tr>
    </tbody>
</table>
</div><!-- Responsive Table -->


</div>




</div> 
</div>


<div role="tabpanel" class="tab-pane" id="SizeChartTab4">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartBoysTab1" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>

<li><a href="#SizeChartBoysTab2" role="tab"data-toggle="tab" class="text-uppercase">2-7 yr/old Tops</a></li>

<li><a href="#SizeChartBoysTab3" role="tab"data-toggle="tab" class="text-uppercase">Bottoms</a></li>

<li><a href="#SizeChartBoysTab4" role="tab"data-toggle="tab" class="text-uppercase">2-7 yr/old Bottoms</a></li>

</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartBoysTab1">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-boys-top-size-charts.jpg?2827408265906852205" alt="DC Shoes Boys Top Size Chart"></center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
                  <tr>
                      <th scope="col">Size</th>
                      <th scope="col">Age</th>
                      <th scope="col">A | Height (cm)</th>
                      <th scope="col">B | Chest (cm)</th>
                      <th scope="col">C | Waist (cm)</th>
                  </tr>
            </thead>
            <tbody>
                  <tr>
                      <td>S</td>
                      <td>9-10</td>
                      <td>127-137</td>
                      <td>67-71</td>
                      <td>59-62</td>
                  </tr>
                  <tr>
                      <td>M</td>
                      <td>10-11</td>
                      <td>147-155</td>
                      <td>75-79</td>
                      <td>65-67</td>
                  </tr>
                  <tr>
                      <td>L</td>
                      <td>11-12</td>
                      <td>162-167</td>
                      <td>84-88</td>
                      <td>70-72</td>
                  </tr>
                  <tr>
                      <td>XL</td>
                      <td>13+</td>
                      <td>173</td>
                      <td>91</td>
                      <td>75</td>
                  </tr>
              </tbody>
          </table>
        </div><!-- Responsive Table -->
      </div>
  
  </div>
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartBoysTab2">

  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-kids-boys-top-size-charts.jpg?11361226454482285575" alt="DC Shoes Kids Boys Top Size Chart"></center>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
                <tr>
                    <th scope="col">Size</th>
                    <th scope="col">A | Height</th>
                    <th scope="col">B | Chest</th>
                    <th scope="col">C | Waist</th>
                </tr>
          </thead>
          <tbody>
                
                <tr>
                    <td>2T</td>
                    <td>35IN-37IN</td>
                    <td>29-33 lbs.</td>
                    <td>20IN-21IN</td>
                </tr>
                <tr>
                    <td>3T</td>
                    <td>37IN-39IN</td>
                    <td>32-36 lbs.</td>
                    <td>21IN-22IN</td>
                </tr>
                <tr>
                    <td>4T</td>
                    <td>39IN-41IN</td>
                    <td>35-39 lbs.</td>
                    <td>22IN-23IN</td>
                </tr>
                <tr>
                    <td>5T</td>
                    <td>41IN-43IN</td>
                    <td>38-42 lbs.</td>
                    <td>23IN-24IN</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>41IN-43IN</td>
                    <td>35-40 lbs.</td>
                    <td>22IN-23IN</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>43IN-45IN</td>
                    <td>40-45 lbs.</td>
                    <td>23IN-24IN</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>45IN-47 1/2IN</td>
                    <td>45-50 lbs.</td>
                    <td>24IN-25IN</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>47 1/2IN-50IN</td>
                    <td>50-55 lbs.</td>
                    <td>25IN-26IN</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div><!-- Responsive Table -->
</div>

</div>

<div role="tabpanel" class="tab-pane" id="SizeChartBoysTab3">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-boys-bottom-size-charts.jpg?5642093556979579334" alt="DC Shoes Boys Bottom Size Chart"></center>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">A | Waist</th>
                        <th scope="col">B | Inseam</th>
                    </tr>
                </thead>
                <tbody>       
                    <tr>
                        <td>22</td>
                        <td>24in</td>
                        <td>25in</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>25in</td>
                        <td>26.5in</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>26in</td>
                        <td>25in</td>
                    </tr>
                    <tr>
                        <td>25</td>
                        <td>27in</td>
                        <td>26.5in</td>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>28in</td>
                        <td>28in</td>
                    </tr>
                    <tr>
                        <td>27</td>
                        <td>29.5in</td>
                        <td>29.5in</td>
                    </tr>
                    <tr>
                        <td>28</td>
                        <td>31in</td>
                        <td>30.5in</td>
                    </tr>
                    <tr>
                        <td>29</td>
                        <td>32in</td>
                        <td>31.5in</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td>33in</td>
                        <td>32.5in</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div><!-- Responsive Table -->


</div>

<div role="tabpanel" class="tab-pane" id="SizeChartBoysTab4">
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
            <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/dc-kids-boys-bottom-size-charts.jpg?16704287023822464287" alt="DC Shoes Kids Boys Bottom Size Chart"></center>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
              <table class="table table-bordered table-striped">
                  <thead>
                      <tr>
                          <th scope="col">Size</th>
                          <th scope="col">A | Waist</th>
                          <th scope="col">B | Hip</th>
                          <th scope="col">C | Inseam</th>
                      </tr>
                  </thead>
                 <tbody>
                        
                        <tr>
                            <td>2T</td>
                            <td>21IN-22IN</td>
                            <td>21IN-22IN</td>
                            <td>13IN</td>
                        </tr>
                        <tr>
                            <td>3T</td>
                            <td>22IN-23IN</td>
                            <td>22IN-23IN</td>
                            <td>14 1/2IN</td>
                        </tr>
                        <tr>
                            <td>4T</td>
                            <td>23IN-24IN</td>
                            <td>23IN-24IN</td>
                            <td>16IN</td>
                        </tr>
                        <tr>
                            <td>5T</td>
                            <td>24IN-25IN</td>
                            <td>24IN-25IN</td>
                            <td>17 1/2IN</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>22IN-23IN</td>
                            <td>23IN-24IN</td>
                            <td>17 1/2IN</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>22 1/2IN-23 1/2IN</td>
                            <td>24IN-25IN</td>
                            <td>19IN</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>23IN-24IN</td>
                            <td>25IN-26IN</td>
                            <td>20 1/2IN</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>23 1/2IN-24 1/2IN</td>
                            <td>26IN-27IN</td>
                            <td>22IN</td>
                        </tr>
                    </tbody>
                </table>
              </div>
          </div><!-- Responsive Table -->
    </div>
</div>

</div> 
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartTab5">
<div class="table_responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">USA</th>
       <th scope="col">UK</th>
      <th scope="col">EU</th>
      <th scope="col">CM</th>
    </tr>
  </thead>
  <tbody>
        
        <tr>
            <td>5</td>
            <td>4</td>
            <td>20.5</td>
            <td>11</td>
        </tr>
        <tr>
            <td>5W (Wider)</td>
            <td>4</td>
            <td>20.5</td>
            <td>11</td>
        </tr>
        <tr>
            <td>6</td>
            <td>5</td>
            <td>21.5</td>
            <td>12</td>
        </tr>
        <tr>
            <td>6W (Wider)</td>
            <td>5</td>
            <td>21.5</td>
            <td>12</td>
        </tr>
        <tr>
            <td>7</td>
            <td>6</td>
            <td>23</td>
            <td>13</td>
        </tr>
        <tr>
            <td>7W (Wider)</td>
            <td>6</td>
            <td>23</td>
            <td>5</td>
        </tr>
        <tr>
            <td>8</td>
            <td>7</td>
            <td>24</td>
            <td>14</td>
        </tr>
        <tr>
            <td>8W (Wider)</td>
            <td>7</td>
            <td>24</td>
            <td>14</td>
        </tr>
        <tr>
            <td>9</td>
            <td>8</td>
            <td>25.5</td>
            <td>15</td>
        </tr>
        <tr>
            <td>9W (Wider)</td>
            <td>8</td>
            <td>25.5</td>
            <td>15</td>
        </tr>
        <tr>
            <td>10</td>
            <td>9</td>
            <td>27</td>
            <td>16</td>
        </tr>
        <tr>
            <td>10W (Wider)</td>
            <td>9</td>
            <td>27</td>
            <td>16</td>
        </tr>
    </tbody>
</table>
</div><!-- Responsive Table -->
</div>


<div role="tabpanel" class="tab-pane" id="SizeChartTab6">
<div class="table_responsive">
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col"></th>
       <th scope="col">Slim</th>
      <th scope="col">Straight</th>
      <th scope="col">Roomy</th>
    </tr>
  </thead>
  <tbody>
        
        <tr>
            <td>Rise</td>
            <td>10 1/4"</td>
            <td>10 1/4"</td>
            <td>10 7/8"</td>
        </tr>
        <tr>
            <td>Knee</td>
            <td>15 3/8"</td>
            <td>16 1/8"</td>
            <td>18 1/2"</td>
        </tr>
        <tr>
            <td>Leg Opening</td>
            <td>13 3/8"</td>
            <td>15"</td>
            <td>16 1/8"</td>
        </tr>
    </tbody>
</table>
</div><!-- Responsive Table -->
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartTab7">

<div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
          <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="DC Shoes Kids Boys Bottom Size Chart"></center>
</div>

<div class="col-sm-9 col-md-9 col-lg-9">
  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartHatsTab1" role="tab"data-toggle="tab" class="text-uppercase">Standard Caps</a></li>

    <li><a href="#SizeChartHatsTab2" role="tab"data-toggle="tab" class="text-uppercase">Flex Fit Caps</a></li>

    <li><a href="#SizeChartHatsTab3" role="tab"data-toggle="tab" class="text-uppercase">New Era Caps</a></li>


  </ul>

  <div class="tab-content tab-content--ys">

        <div role="tabpanel" class="tab-pane active" id="SizeChartHatsTab1">

        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
                <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Head (cm)</th>
                    <th scope="col">UK</th>
                </tr>
          </thead>
         <tbody>
                
                <tr>
                    <td>TU</td>
                    <td>54-61</td>
                    <td>6.833-7.500</td>
                </tr>
                <tr>
                    <td>XS</td>
                    <td>52-53</td>
                    <td>6.375-6.500</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td>54-55</td>
                    <td>6.833-6.750</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td>56-57</td>
                    <td>6.875-7</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td>58-59</td>
                    <td>7.125-7.250</td>
                </tr>
                <tr>
                    <td>XL</td>
                    <td>60-61</td>
                    <td>7.375-7.500</td>
                </tr>
                <tr>
                    <td>XXL</td>
                    <td>62-64</td>
                    <td>7.625-7.875</td>
                </tr>
            </tbody>
        </table>
        </div><!-- Responsive Table -->
         
        </div>

        <div role="tabpanel" class="tab-pane" id="SizeChartHatsTab2">

        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
                <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Head (cm)</th>
                    <th scope="col">UK</th>
                </tr>
          </thead>
         <tbody>
                
                <tr>
                    <td>TU</td>
                    <td>53-60.6</td>
                    <td>6.500-7.500</td>
                </tr>
                <tr>
                    <td>S/M</td>
                    <td>53-55.8</td>
                    <td>6.500-6.875</td>
                </tr>
                <tr>
                    <td>S/M/L/XL</td>
                    <td>56.8-57.7</td>
                    <td>7-7.125</td>
                </tr>
                <tr>
                    <td>L/XL</td>
                    <td>58.7</td>
                    <td>7.250</td>
                </tr>
                <tr>
                    <td>L/XL/XXL</td>
                    <td>59.6-60.6</td>
                    <td>7.375-7.500</td>
                </tr>
                <tr>
                    <td>XXL</td>
                    <td>61.5-63.5</td>
                    <td>7.625-7.875</td>
                </tr>
            </tbody>
        </table>
        </div><!-- Responsive Table -->


        </div>

        <div role="tabpanel" class="tab-pane" id="SizeChartHatsTab3">
        <div class="table_responsive">

        <table class="table table-bordered table-striped">
          <thead>
                <tr>
                    <th scope="col">Size</th>
                    <th scope="col">Head (cm)</th>
                    <th scope="col">UK</th>
                </tr>
          </thead>
        <tbody>
                
                <tr>
                    <td>TU</td>
                    <td>55.8-60.6</td>
                    <td>6.875-7.500</td>
                </tr>
                <tr>
                    <td>S/M</td>
                    <td>55.8</td>
                    <td>6.875</td>
                </tr>
                <tr>
                    <td>S/M/L/XL</td>
                    <td>56.8-57.7</td>
                    <td>7-7.125</td>
                </tr>
                <tr>
                    <td>L/XL</td>
                    <td>58.7</td>
                    <td>7.250</td>
                </tr>
                <tr>
                    <td>L/XL/XXL</td>
                    <td>59.6-60.6</td>
                    <td>7.375-7.500</td>
                </tr>
                <tr>
                    <td>XXL</td>
                    <td>61.5-64</td>
                    <td>7.625-7.875</td>
                </tr>
            </tbody>
        </table>
        </div><!-- Responsive Table -->
    </div>
</div>
</div>


</div> 
</div>

<div class="divider divider--md"></div>
<p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>

  
</div>