<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->
<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/worldwide-shipping-032420.jpg?v=1585015389" alt="Motorhelmets World Wide Shipping" />
<hr class="hr-lg" />
<!-- /title --> <!--  -->
<h3 class="text-left title-under uppercase_txt home_title">Welcome All Non-US Customers!</h3>

<p>We ship all over the world, including Australia, UK, Japan, Singapore, Brazil, Saudi Arabia, the Middle East and Mexico. Here's how to order from us. We accept payments through Paypal or Wire Transfers only.</p>

<ul>
  <li>When checking out, select your country.</li>
  <li>A shipping cost will not be calculated. Ignore any shipping costs assessed.</li>
  <li>Select Google Wallet or Wire Transfer as your means of payment.</li>
  <li>Select your Shipping Carrier of Choice (US Post or UPS).</li>
  <li>Finish your checkout process. Be sure to include your email address.</li>
  <li>We will then email you a final cost with shipment.</li>
  <li>If you wish to proceed, please make payment via Google Wallet or Wire Transfer.</li>
  <li>We will then ship your package US Post or through the carrier of your choice.</li>
</ul>

<p>For further inquires, contact us at 800-288-0640 (M-F 10AM - 7PM PST and SAT 11AM - 5PM PST) or email us at service@motorhelmets.com.</p>

<!-- form here..
..
..
..
..
..
..
..
 -->


<hr class="hr-lg" />

<h4 class="text-left uppercase_txt">For a limited time, we are offering free shipping international orders. We specialize in shipping to countries such as Australia, Brazil, UK, New Zealand and Japan.</h4>
<ul>  
  <li>Minimum order of $999 required (Valid for Helmets, Apparel and Luggage only. Hard Parts, Body Parts, Oils, Tires, Batteries and Oversized items excluded).</li>
  <li>In your shopping cart, select Free Shipping over $999 as your shipping option.</li>
  <li>Free Standard Shipping offers for orders shipping outside the USA. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day).</li>
  <li>Applies only to orders shipping to a single address.</li>
  <li>All oversized and additional shipping charges still apply.</li>
  <li>Not valid with any other offer.</li>
  <li>Delivery times may vary. Orders are processed and delivered during the business week (Monday – Friday) only and do not guarantee delivery by a specific date or time.</li>
  <li>If you return items purchased using this offer, and your order drops below the threshold, then you may be charged a shipping fee.</li>
  <li>Order cancellations or returns are subject to our cancellation fees.</li>
  <li>Order cancellations or orders resulting in non receipt of merchandise is subject to our minimum shipping charges.</li>
  <li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items.</li>
  <li>Check our <a class="text_underline text_color_red" href="/pages/shopping-policies">Shopping Policies</a> page for additional information.</li>
</ul>
</div>
</div>

