
<style>
  .jg_custom_pages .moto_box h2 span {
     color: #fa6b6b;
  }

  ul.serviceType
  {
    margin:0 0;
    padding:3% 0;
    list-style: none;
  }

  ul.serviceType li
  {
    margin:0 0;
    padding:0 0;
    font-size:24px;
    color:black!important;
  }

  p.avePayout
  {
    font-size:24px;
  }
</style>

<div class="row">
    <div class="col-sm-12 col-md-12 ">
     
      
        <div class="col-md-12" style="padding: 0;">
          <center><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-1.jpg?v=1614127845" class="img-responsive"  style="margin: 5px 0;"  /></center>
        </div>
        <div class="mmsr-title">
          <div class="mmsr-title-cont">
         <h2>Serving Southern California <br> Los Angeles &amp; Orange County</h2>
         <ul>
          <li>Attorney Referrals for Motorcycle Accidents & Legal Counseling</li>
          <li>Our certified mechanic can service most European and Japanese bikes.</li>
          <li>Specializing in Japanese Imports including Honda, Yamaha, Suzuki &amp; Kawasaki.</li>
          <li>European race bikes including Ducati, KTM, BMW &amp; Triumph.</li>
          <li>Most types, including sport bikes, road bikes, cruisers, ATVs/Quads &amp; Dirt Bikes.</li>
        </ul> 
          </div>
        </div>
        
        <div class="clear"></div>
    </div>

</div>
<div class="divider divider--lg"></div>


<div class="jg_custom_pages">

{% include "page.motorcycle-service-menu-all" %}

<div class="divider divider--lg"></div>

<h3 class="text-center title-under uppercase_txt home_title">Motorcycle Attorneys Referral by Motorhelmets</h3>

<div class="row hidden-xs text-center" style="padding:0 13%;line-height: 45px;color:#000000!important;font-size:17px!important;">
  <p class="text-left" style="font-weight: normal!important;">If you ride a motorcycle, you may need a Motorcycle Lawyer.  Not just an injury lawyer, but an attorney who understands the LEGAL RIGHTS of you, the rider.</p>
  <p class="text-left" style="font-weight: 800!important;">There are many choices when selecting a motorcycle attorney.</p>
  <p class="text-left" style="font-weight: 800!important;">By the time you're in an accident, you need representation.</p>
  <div style="margin: 10px 0;">
    <p class="text-left" style="font-weight: 800!important;line-height: 25px!important;">Lawyers have a negative reputation and a motorcycle counsel is a niche field. Don't hire any attorney, you need counsel that knows motorcycle injury law, and someone with your best interest.</p>
  </div>
  <p class="text-left" style="font-weight: 800!important;">Most injury attorneys are ambulance chasers looking to profit from your injury. You want a lawyer who knows the law & has your best interest in mind.</p>
  <p class="text-left" style="font-weight: 800!important;">If you need a referral, contact our team. We've worked with many motorcycle attorneys and we know how they operate.</p>
  <p class="text-left" style="font-weight: 800!important;">Serving Orange County, Los Angeles, San Gabriel, Riverside</p>
</div> <!-- end of row -->

<div class="row visible-xs" style="padding:0 2em;color:#000000!important;font-size:17px!important;">
  <p class="text-justify" style="font-weight: normal!important;padding-top:1em;">If you ride a motorcycle, you may need a Motorcycle Lawyer.  Not just an injury lawyer, but an attorney who understands the LEGAL RIGHTS of you, the rider.</p>
  <p class="text-justify" style="font-weight: 800!important;padding-top:1em;">There are many choices when selecting a motorcycle attorney.</p>
  <p class="text-justify" style="font-weight: 800!important;padding-top:1em;">By the time you're in an accident, you need representation.</p>
  <p class="text-justify" style="font-weight: 800!important;padding-top:1em;">Lawyers have a negative reputation and a motorcycle counsel is a niche field. Don't hire any attorney, you need counsel that knows motorcycle injury law, and someone with your best interest.</p>
  <p class="text-justify" style="font-weight: 800!important;padding-top:1em;">Most injury attorneys are ambulance chasers looking to profit from your injury. You want a lawyer who knows the law & has your best interest in mind.</p>
  <p class="text-justify" style="font-weight: 800!important;padding-top:1em;">If you need a referral, contact our team. We've worked with many motorcycle attorneys and we know how they operate.</p>
  <p class="text-justify" style="font-weight: 800!important;padding-top:1em;">Serving Orange County, Los Angeles, San Gabriel, Riverside</p>
</div> <!-- end of row -->
<div class="divider divider--lg"></div>

<!-- <h4 class="hidden-xs text-center">If you ride a motorcycle, you may need a Motorcycle Lawyer.  Not just an injury lawyer, but an attorney who understands the LEGAL RIGHTS of you, the rider.</h4> -->

<!-- <h4 class="visible-xs text-center" style="padding:0 1em;">If you ride a motorcycle, you may need a Motorcycle Lawyer.  Not just an injury lawyer, but an attorney who understands the LEGAL RIGHTS of you, the rider.</h4> -->
<div class="divider divider--sm-2"></div> 

<h1 class="text-center" style="color:black!important;text-transform: uppercase;font-size:30px;padding-bottom:0;margin-bottom:0;">Need a referral?</h1>
<h1 class="text-center title-under" style="color:black!important;text-transform: uppercase;font-size:30px;padding-bottom:20px;margin-bottom:0;">Contact our Team:</h1>

<div class="divider divider--sm"></div>
<div class="hidden-xs row text-center top-local-address" style="padding:0 2em;">
              <p style="font-size: 24px;font-weight: 500 !important;">Motorhelmets Fullerton CA</p>
              <p style="font-weight: normal!important;">1871 W. Commonwealth Ave., Fullerton CA 92833 USA</p>
              <p style="font-weight: normal!important;">Tel: 714-879-8180 | Email: team@motorhelmets.com</p>
              <p style="font-weight: normal!important;">Service Dept SMS Txt: 657-217-3988 | Sales Dept SMS Txt: 657-217-6457</p>
              <p style="font-weight: normal!important;">Store Hours: M-F 10am-7pm | Sat 11am-6pm</p>
</div>
<div class="visible-xs row text-center top-local-address" style="padding:0 2em;">
              <p style="font-size: 24px;font-weight: 500 !important;text-align: center;">Motorhelmets Fullerton CA</p>
              <p style="font-weight: normal!important;">1871 W. Commonwealth Ave.,</p>
              <p style="font-weight: normal!important;">Fullerton CA 92833 USA</p>
              <p style="font-weight: normal!important;">Tel: 714-879-8180</p>
              <p style="font-weight: normal!important;">Email: team@motorhelmets.com</p>
              <p style="font-weight: normal!important;">Service Dept SMS Txt: 657-217-3988</p>
              <p style="font-weight: normal!important;">Sales Dept SMS Txt: 657-217-6457</p>
              <p style="font-weight: normal!important;">Store Hours: M-F 10am-7pm</p>
              <p style="font-weight: normal!important;">Sat 11am-6pm</p>
</div>


<div class="divider divider--lg"></div>
<div class="row">
  <h1 class="text-center title-under uppercase_txt home_title" style="font-size:50px!important;padding-bottom:10px;margin-bottom:0;">Injuries</h1>
<div class="col-sm-12 col-md-12 col-lg-12" style="padding-top:0;margin-top:0;">
  <center>
            <ul class="serviceType">
               <li>Head Injuries</li>
               <li>Road Rash</li>
               <li>Leg Injuries</li>
               <li>Thorax Injuries</li>
               <li>Spinal Cord Injuries</li>
            </ul>
  </center>          
</div> <!-- end of col-sm-12 -->
</div> <!-- end of row -->

<div class="divider divider--lg"></div>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12" style="padding-top:0;margin-top:0;">
    <div class="col-sm-5 col-md-5 col-lg-5" style="padding-top:0;margin-top:0;">
       <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/vitor-pinto-doEesnJofn0-unsplash.jpg?v=1613962621" class="img-responsive"  />
    </div> <!-- end of col-sm-5-->
    <div class="col-sm-7 col-md-7 col-lg-7" style="padding-top:2%;margin-top:0;padding-left:2%;padding-right:2%;">
          <div class="row hidden-xs">
                <h1 class="text-left title-under uppercase_txt home_title" style="font-size:30px!important;padding-bottom:10px;margin-bottom:0;">What to Do After Having an Accident:</h1> 
                <ul class="serviceType">
                   <li>Check for injuries</li>
                   <li>Call law enforcement & file a case report</li>
                   <li>Collect evidence for the case</li>
                   <li>Seek medical attention</li>
                   <li>Contact an attorney and schedule a consultation for the case</li>
                   <li>Contact your insurance company</li>
                   <li>Collect personal information from all parties involved</li>
                </ul>
          </div> <!-- end of row -->
          <!-- MOBILE VIEW -->
            <div class="row visible-xs" style="padding:0 2em!important;">
                  <h1 class="text-left title-under uppercase_txt home_title" style="font-size:30px!important;padding-bottom:20px;margin-bottom:0;">What to Do After Having an Accident:</h1>
                  <ul class="serviceType">
                     <li>Check for injuries</li>
                     <li>Call law enforcement & file a case report</li>
                     <li>Collect evidence for the case</li>
                     <li>Seek medical attention</li>
                     <li>Contact an attorney and schedule a consultation for the case</li>
                     <li>Contact your insurance company</li>
                     <li>Collect personal information from all parties involved</li>
                  </ul>
            </div> <!-- end of row -->
          <div class="divider divider--lg-2"></div>
          <div class="row hidden-xs">
                <h1 class="text-left title-under uppercase_txt home_title" style="font-size:30px!important;padding-bottom:35px;margin-bottom:0;">Average Payout for Soft Tissue Injuries</h1>
                 <p class="avePayout">From $2,500 to $10,000 - Whiplash Injuries</p>
                 <p class="avePayout">From $100k to $350k - Herniated Discs</p>
                 <p class="avePayout">$15,000 Approximately - Ankle Sprains</p>
                 <p class="avePayout">$20,000 Approximately - Shoulder Injuries</p>
                 <p class="avePayout">Concussion may get a payout of $70,000 to $100,000 depending on the severity</p>
                 <div class="divider divider--xl"></div>
                 <h2 class="text-left title-under uppercase_txt home_title text-danger" style="font-size:30px!important;padding-bottom:10px;margin-bottom:0;">Know Your Legal Rights</h2>
          </div> <!-- end of row -->
          <!-- MOBILE VIEW -->
            <div class="row visible-xs" style="padding:0 2em!important;">
                  <h1 class="text-left title-under uppercase_txt home_title" style="font-size:30px!important;padding-bottom:35px;margin-bottom:0;">Average Payout for Soft Tissue Injuries</h1>
                   <p class="avePayout">From $2,500 to $10,000 - Whiplash Injuries</p>
                   <p class="avePayout">From $100k to $350k - Herniated Discs</p>
                   <p class="avePayout">$15,000 Approximately - Ankle Sprains</p>
                   <p class="avePayout">$20,000 Approximately - Shoulder Injuries</p>
                   <p class="avePayout">Concussion may get a payout of $70,000 to $100,000 depending on the severity</p>
                   <div class="divider divider--xl"></div>
                   <h2 class="text-left title-under uppercase_txt home_title text-danger" style="font-size:30px!important;padding-bottom:10px;margin-bottom:0;">Know Your Legal Rights</h2>
            </div> <!-- end of row -->
            
    </div> <!-- end of col-sm-7 -->
</div> <!-- end of col-sm-12 -->
</div> <!-- end of row -->

<div class="divider divider--xl"></div>
<div class="row text-center top-local-address" style="padding:1% 2em 0 2em;">
              <p style="font-size: 24px;font-weight: 500 !important;">Motorhelmets Fullerton CA</p>
              <p style="font-size: 35px;font-weight: 500 !important;">Contact us for Legal Referral</p>
              <p style="font-weight: normal!important;">Tel: 714-879-8180 | Email: team@motorhelmets.com | SMS Txt: 657-217-3988</p>
</div>

{% include "page.motorhelmets-service-footer" %}

  </div>
