<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
              margin-top: -160px;
          }
          .divider{
             display: none;
          }
    } 

    .grad {
    height: 36px;
    background: black; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #b5b4b4 , black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #b5b4b4, black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #b5b4b4, black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #b5b4b4, black); /* Standard syntax (must be last) */
    color: white;
}


</style>

<div class="divider divider--md hidden-lg"></div>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
  <li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
  <li ><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>
  <li ><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Kids</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  

<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">

  <div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">

  <div class="col-sm-12 col-md-12 col-lg-12">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Sanuk Mens Size Charts" title="Sanuk Mens Size Charts" style="margin: 0 auto;">
</div>

  <div class="divider divider--lg"></div>
  <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys" style="text-align:center;">
            <thead>
   
            </thead>
              <tbody>
                
                  <tr>
                    <td>US Sizes</td>
					<td>6       </td>
					<td>7       </td>
					<td>8       </td>
					<td>8.5     </td>
					<td>9       </td>
					<td>9.5     </td>
					<td>10      </td>
					<td>10.5    </td>
					<td>11      </td>
					<td>11.5    </td>
					<td>12      </td>
					<td>13      </td>
					<td>14      </td>
					<td>15      </td>
					<td>16      </td>
					<td>17      </td>
					<td>18      </td>

                  </tr>
                  <tr>
                    <td>Euro Sizes</td>
					<td>39</td>
					<td>40</td>
					<td>41</td>
					<td>41.5</td>
					<td>42</td>
					<td>42.5</td>
					<td>43</td>
					<td>43.5</td>
					<td>44</td>
					<td>44.5</td>
					<td>45</td>
					<td>46</td>
					<td>47</td>
					<td>48</td>
					<td>48.5</td>
					<td>49</td>
					<td>49.5</td>
                  </tr>
                   <tr>
                    <td>UK Sizes</td>
					<td>5</td>
					<td>6</td>
					<td>7</td>
					<td>7.5</td>
					<td>8</td>
					<td>8.5</td>
					<td>9</td>
					<td>9.5</td>
					<td>10</td>
					<td>10.5</td>
					<td>11</td>
					<td>12</td>
					<td>13</td>
					<td>14</td>
					<td>15</td>
					<td>16</td>
					<td>17</td>
                  </tr>
                   <tr>
                    <td>Foot size in CM</td>
					<td>24.5</td>
					<td>25.3</td>
					<td>26.2</td>
					<td>26.6</td>
					<td>27</td>
					<td>27.4</td>
					<td>27.8</td>
					<td>28.3</td>
					<td>28.7</td>
					<td>29.1</td>
					<td>29.5</td>
					<td>30.4</td>
					<td>31.2</td>
					<td>32.1</td>
					<td>32.9</td>
					<td>33.8</td>
					<td>34.6</td>
                  </tr>

            </tbody>
          </table>
          </div>
          
          <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
  
  </div> 
  <hr>

</div> <!-- MensJackets -->

</div> <!-- SizeChartTab2-->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">


  <div role="tabpanel" class="tab-pane" id="">
  <div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Sanuk Womens Size Charts" title="Sanuk Womens Size Charts" style="margin: 0 auto;">
</div>

  <div class="col-sm-12 col-md-12 col-lg-12">

  <div class="divider divider--lg"></div>

  <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys" style="text-align:center;">
            <thead>
            </thead>
              <tbody>

                  <tr>
                 <td>US Sizes</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
				<td>10</td>
				<td>11</td>
                  </tr>
                   <tr>
                 <td>Euro Sizes</td>
				<td>36</td>
				<td>37</td>
				<td>38</td>
				<td>39</td>
				<td>40</td>
				<td>41</td>
				<td>42</td>
                  </tr>
                   <tr>
                  <td>UK Sizes</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
				<td>7</td>
				<td>8</td>
				<td>9</td>
                  </tr>
                   <tr>
               <td>Foot size in CM</td>
				<td>22.3</td>
				<td>23.2</td>
				<td>24</td>
				<td>24.8</td>
				<td>25.7</td>
				<td>26.5</td>
				<td>27.4</td>
                  </tr>

            </tbody>
          </table>
          </div>
        
         
  </div>
  </div> 
   <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
  </div>

</div> <!-- Womens -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#YouthSidewalkSurfers" role="tab"data-toggle="tab" class="text-uppercase">Sidewalk Surfers</a></li>
  <li ><a href="#YouthSandals" role="tab"data-toggle="tab" class="text-uppercase">Sandals</a></li>
</ul>
<div class="tab-content tab-content--ys obs_sizechart">

<div role="tabpanel" class="tab-pane active" id="YouthSidewalkSurfers">

  <div role="tabpanel" class="tab-pane" id="">
  <div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Sanuk Youth Size Charts" title="Sanuk Youth Size Charts" style="margin: 0 auto;">
</div>

  <div class="col-sm-12 col-md-12 col-lg-12">

  <div class="divider divider--lg"></div>

  <h4>Youth Size Conversions (6 – 10 years)</h4>
  <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys" style="text-align:center;">
            <thead>
            </thead>
              <tbody>

                  <tr>
                 <td>US Sizes</td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
				<td>6</td>
                  </tr>
                   <tr>
                 <td>Euro Sizes</td>
				<td>31</td>
				<td>32</td>
				<td>33</td>
				<td>34</td>
				<td>35</td>
				<td>36</td>
                  </tr>
                   <tr>
                  <td>UK Sizes</td>
				<td>13</td>
				<td>1</td>
				<td>2</td>
				<td>3</td>
				<td>4</td>
				<td>5</td>
                  </tr>
                   <tr>
               <td>Foot size in CM</td>
				<td>20.2</td>
				<td>21.1</td>
				<td>21.9</td>
				<td>22.8</td>
				<td>23.6</td>
				<td>24.5</td>
                  </tr>

            </tbody>
          </table>
          </div>
        
         
  </div>
  </div> 
   <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
  </div>

</div>

<div role="tabpanel" class="tab-pane" id="YouthSandals">

  <div role="tabpanel" class="tab-pane" id="">
  <div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Sanuk Youth Size Charts" title="Sanuk Youth Size Charts" style="margin: 0 auto;">
</div>

  <div class="col-sm-12 col-md-12 col-lg-12">

  <div class="divider divider--lg"></div>
    <h4>Youth Size Conversions (6 – 10 years)</h4>
  <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys" style="text-align:center;">
            <thead>
            </thead>
              <tbody>

                  <tr>
                 <td>US Sizes</td>
				<td>1-2</td>
				<td>3-4</td>
				<td>5-6</td>
                  </tr>
                   <tr>
                 <td>Euro Sizes</td>
				<td>31-32</td>
				<td>33-34</td>
				<td>35-36</td>
                  </tr>
                   <tr>
                  <td>UK Sizes</td>
				<td>13-1</td>
				<td>2-3</td>
				<td>4-5</td>
                  </tr>
                   <tr>
               <td>Foot size in CM</td>
				<td>20.2-21.1</td>
				<td>21.9-22.8</td>
				<td>23.6-24.5</td>
                  </tr>

            </tbody>
          </table>
          </div>
        
         
  </div>
  </div> 
   <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
  </div>

</div>

</div>
</div> <!-- Youth -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab5">

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#KidsSidewalkSurfers" role="tab"data-toggle="tab" class="text-uppercase">Sidewalk Surfers</a></li>
  <li ><a href="#KidsSandals" role="tab"data-toggle="tab" class="text-uppercase">Sandals</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">

<div role="tabpanel" class="tab-pane active" id="KidsSidewalkSurfers">

  <div role="tabpanel" class="tab-pane" id="">
  <div class="row">


    <div class="col-sm-12 col-md-12 col-lg-12">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Sanuk Kids Size Charts" title="Sanuk Kids Size Charts" style="margin: 0 auto;">
</div>

  <div class="col-sm-12 col-md-12 col-lg-12">

  <div class="divider divider--lg"></div>
      <h4>Kids' Size Conversions (1 – 5 years)</h4>
  <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys" style="text-align:center;">
            <thead>
            </thead>
              <tbody>

                  <tr>
                 <td>US Sizes</td>
				<td>10</td>
				<td>11</td>
				<td>12</td>
				<td>13</td>
                  </tr>
                   <tr>
                 <td>Euro Sizes</td>
				<td>27</td>
				<td>28</td>
				<td>29</td>
				<td>30</td>
                  </tr>
                   <tr>
                  <td>UK Sizes</td>
				<td>9</td>
				<td>10</td>
				<td>11</td>
				<td>12</td>
                  </tr>
                   <tr>
               <td>Foot size in CM</td>
				<td>16.8</td>
				<td>17.7</td>
				<td>18.5</td>
				<td>19.4</td>
                  </tr>

            </tbody>
          </table>
          </div>
        
         
  </div>
  </div> 
   <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
  </div>

</div>

<div role="tabpanel" class="tab-pane" id="KidsSandals">

  <div role="tabpanel" class="tab-pane" id="">
  <div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">

    <div class="col-sm-12 col-md-12 col-lg-12">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Sanuk Kids Size Charts" title="Sanuk Kids Size Charts" style="margin: 0 auto;">
</div>

  <div class="divider divider--lg"></div>

        <h4>Kids' Size Conversions (1 – 5 years)</h4>
  <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys" style="text-align:center;">
            <thead>
            </thead>
              <tbody>

                  <tr>
                 <td>US Sizes</td>
				<td>8-9</td>
				<td>10-11</td>
				<td>12-13</td>
                  </tr>
                   <tr>
                 <td>Euro Sizes</td>
				<td>25-26</td>
				<td>27-28</td>
				<td>29-30</td>
                  </tr>
                   <tr>
                  <td>UK Sizes</td>
				<td>7-8</td>
				<td>9-10</td>
				<td>11-12</td>
                  </tr>
                   <tr>
               <td>Foot size in CM</td>
				<td>15.1-16</td>
				<td>16.8-17.7</td>
				<td>18.5-19.4</td>
                  </tr>

            </tbody>
          </table>
          </div>
        
         
  </div>
  </div> 
   <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
  </div>

</div>

</div>
</div><!-- Kids -->

</div> <!-- SizeChartTab2-->
