<style type="text/css">
	img.oscar_align {
		float: right;
	}

	@media (max-width: 990px) {
		img.oscar_align {
			float: none;
			margin: 0 auto;
		}
	}
</style>

<div class="container" style="max-width: 1440px; width: 100%;">

	<h3 class="text-center title-under uppercase_txt home_title">Alpinestars Information Page</h3>

	<center>
		<h1 style="font-weight: bold !important"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/oscar-by-alinestart-vintage_img7.jpg?10146875135761284896" alt="Smiley face" width="250" height="100" align="middle">Alpinestars</h1>
	</center>
	  
	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/oscar-by-alinestart-vintage_img1.jpg?17578792445320425213" alt="ALPINESTARS INFORMATION PAGE" title="ALPINESTARS INFORMATION PAGE" style="margin: 0 auto"></p>

	<p>When rider safety is the concern, Alpinestars is among the most trusted brand. Its long time expertise on making boots and gear dates back to 1963. At about that time it started, motocross was also gaining popularity in Europe. An Italian leather craftsman, Sante Mazzarolo, had decided to apply his talent and skill to design a new type of footwear that would meet demands for protection and performance in the exciting yet risky moto sports.  Motocross legend Roger Decoster took notice of the Alpinestars boots and became one of Alpinestars' first brand ambassadors and sponsored athletes. From then, Alpinestars boots have become as legendary as its endorser. </p>

	<div class="row">
		<div class="col-sm-4 col-md-4 col-lg-4">
			<p><img class="img-responsive oscar_align" src="https://cdn.shopify.com/s/files/1/1223/6434/files/oscar-by-alinestart-vintage_img3.jpg?8408906239065843446" alt="ALPINESTARS INFORMATION PAGE" title="ALPINESTARS INFORMATION PAGE"></p>
		</div>
		<div class="col-sm-8 col-md-8 col-lg-8">
			<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/oscar-by-alinestart-vintage_img2.jpg?7630425218514285088" alt="ALPINESTARS INFORMATION PAGE" title="ALPINESTARS INFORMATION PAGE"></p>
		</div>
	</div>

	<div class="divider divider--xs"></div>

	<p>The company had envision and desired to continually introduce innovative products that took performance to new and higher levels.  Endless studies and experiments are conducted to ensure that the best technology and material is applied to rider’s protection.  Alpinestars have pioneered in countless innovations for boots, suits, and gloves. Whether it’s a road racing or a motocross rush on the track, Alpinestars got you covered.</p>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/oscar-by-alinestart-vintage_img4.jpg?17578792445320425213" alt="ALPINESTARS INFORMATION PAGE" title="ALPINESTARS INFORMATION PAGE" style="margin: 0 auto"></p>

	<p>Their latest contribution as of 2017 to the riding/racing world is The Advanced Safety Technology (AST) suit. It has a fully autonomous, multiple field data acquisition system that acquires data directly from the body of the rider/driver. The information derived helps technicians to analyze the gravitational and impact forces, as well as the physiological effects experienced by a human when pushing the limits of a high performance race machine. Fitting telemetry and acquiring data from race bikes and cars has been common practice for some years. However, acquiring data directly from the body of the rider/driver is a big milestone in providing better protection.</p>

	<p>The impact sensors are mounted on both external and internal surfaces of the suits protectors to measure the loads sustained and absorbed in a fall, without impeding or endangering the rider in any way. The sensors record the maximum impact value subjected to the rider, providing real situation data, above and beyond the test simulations currently conducted in the Alpinestars laboratory.</p>

	<p>The custom data processor and solid-state memory, encased in an impact resistant structure and hidden in the back hump on John’s suit, acquire data throughout each session which can be downloaded immediately into a laptop plugged into a connector on the suit. The information can then be studied to analyze pressure point values, lateral G loads experienced, the rider’s pulse and the suit’s cooling performance. </p>

	<p>The benefit of developing such technology is the tremendous amount of information that can be gathered about the stresses borne by a rider and the performance of safety equipment during a race and in the event of a fall. Alpinestars’ goal is to develop the technology to measure all the dimensional forces at work upon a rider and to allow greater understanding of material performance thereby improving safety both on the racetrack and ultimately on the road. </p>

	<div class="divider divider--md"></div>
		<center><h1><b>WELCOME TO THE AGE OF TECH 10. </b></h1></center>
	<div class="divider divider--md"></div>

	<p>Another major leap in moto technology was the introduction of the Alpinestars Tech 10 MX Boots. The Tech 10 project was done for over 3 years, when the technical footwear team at Alpinestars began looking closely at both the biomechanical performance of top riders and the latest material innovations becoming available to investigate how MX footwear could benefit. Top motocross riders are constantly pushing the limits of performance and demanding more and more from their equipment. Alpinestars has always shared this challenge for continuous development, and the Tech 10 is the latest result of this endless pursuit of performance and increased safety. The Tech 10 is currently being used by Alpinestars' top Motocross riders worldwide. With several wins already under its belt, the new boots have raised the bar of performance and are raced straight out of the box.</p>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/oscar-by-alinestart-vintage_img5.jpg?17578792445320425213" alt="ALPINESTARS INFORMATION PAGE" title="ALPINESTARS INFORMATION PAGE" style="margin: 0 auto"></p>

	<p>New materials, right down to the new rubber top seal, ensure that this is the most technologically advanced boot ever developed. But the most telling aspect of the Tech 10 is hidden beneath its skin; in the design and development of the double hinged inner ankle brace. This innovation has allowed Alpinestars to radically improve the safety of its latest motocross boot and produce a truly worthy successor to former produced boots. The Tech 10 is constructed with a lightweight single structure that utilizes different materials all built into one unit. These materials have differing densities, allowing the boot bottom to have varying degrees of impact absorbing support and flexibility throughout its construction. The foot peg area has been developed to provide extremely effective impact protection, while the boot's forefoot is specifically designed to give the rider flexibility and sensitivity on the bike's controls. What else can riders ask for?</p>

	<div class="divider divider--md"></div>
		<center><h1><b>ALPINESTARS VERSATILITY</b></h1></center>
	<div class="divider divider--md"></div>

	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/oscar-by-alinestart-vintage_img6.jpg?17578792445320425213" alt="ALPINESTARS INFORMATION PAGE" title="ALPINESTARS INFORMATION PAGE" style="margin: 0 auto"></p>

	<p>Alpinestars does not only focus on MX and Road gear. They also provide innovative gear for auto, cycling and action sports. For casual days, there’s also Alpinestars street clothing line for men and women. </p>

	<div class="divider divider--lg"></div>


	<div>
		<h4><b>CONTACT INFORMATION:</b></h4>

		<p><b>Product / Warranty Inquiries</b></p>

		<p style="margin: 0;">800: +1 (800) 438-2577 (USA)</p>
		<p style="margin: 0;">Phn: +1 (310) 891-0222 (CANADA)</p>
		<p style="margin: 0;">talk-to-us@alpinestars.com (INTERNATIONAL)</p>
		<p style="margin: 0;">Fax: +1 (310) 891-0299</p>
	</div>

	<div class="divider divider--md"></div>

	<div>
		<p><b>General Inquiries</b></p>
		<p style="margin: 0;">800: +1 (800) 438-2577</p>
		<p style="margin: 0;">Ph: +1 (310) 891-0222</p>
		<p style="margin: 0;">Fax: +1 (310) 891-0299</p>
	</div>

</div>