<style type="text/css">
		  @media (max-width: 991px){
	        #img_mobile{
	            margin-top: -230px;
	        }
	  } 
</style>


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
	<li class="active"><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">SHIRTS & JACKETS</a></li>
	<li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
	<li ><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Boardshorts</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
	
<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">

 
	<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-vonzipper-jackets.jpg?10028453428876925804" alt="VonZipper Shirts & Jackets Size Charts" title="VonZipper Shirts & Jackets Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Chest</h4>
		      <p>Measure under your arms, around the fullest part of your chest.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>Size       </th>
									<th>A.| Chest</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>S      </td>
									<td>36 - 38</td>
		        			</tr>
		        			<tr>
					        		<td>M      </td>
									<td>38 - 40</td>
		        			</tr>
		        			<tr>
					        		<td>L      </td>
									<td>40 - 42</td>
		        			</tr>
		        			<tr>
					        		<td>XL     </td>
									<td>42 - 44</td>
		        			</tr>
		        			
		        </tbody>
		      </table>
		      
		     <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div> 
	 
</div> <!-- MensJackets -->
</div> <!-- SizeChartTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

 
	<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-vonzipper-pants.JPG?10028453428876925804" alt="VonZipper Pants Size Charts" title="VonZipper Pants Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Natural Waist</h4>
		      <p>Measure around your natural waistline, keeping the tape a bit loose.</p>
		      <h4 style="text-transform:uppercase;font-weight:bold;">Inseam</h4>
		      <p>Using pants that fit well, measure the crotch seam to the bottom of the leg.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SIZE  </th>
									<th>A.| WAIST </th>
									<th>B.| INSEAM</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>28       </td>
									<td>28 - 29  </td>
									<td>32 - 34  </td>
		        			</tr>
		        			<tr>
					        		<td>30       </td>
									<td>30 - 31  </td>
									<td>32 - 34  </td>
		        			</tr>
		        			<tr>
					        		<td>32       </td>
									<td>32 - 33  </td>
									<td>32 - 34  </td>
		        			</tr>
		        			<tr>
					        		<td>34       </td>
									<td>34 - 35  </td>
									<td>32 - 34  </td>
		        			</tr>
		        			<tr>
					        		<td>36       </td>
									<td>36 - 37.5</td>
									<td>32 - 34</td>
		        			</tr>
		        			<tr>
					        		<td>38</td>
									<td>37.5 - 39</td>
									<td>32 - 34</td>
		        			</tr>
		        			
		        </tbody>
		      </table>
		      
		     	<p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div> 
	 
</div> <!-- MensJackets -->
</div> <!-- SizeChartTab3 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">

 
	<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3">
		<img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-boardshorts.jpg?5944500159066450978" alt="VonZipper Boardshorts Size Charts" title="VonZipper Boardshorts Size Charts" style="margin: 0 auto;"/>
		
		</div>
		      <div class="col-sm-9 col-md-9 col-lg-9">
		      <h4 style="text-transform:uppercase;font-weight:bold;">Natural Waist</h4>
		      <p>Measure around your natural waistline, keeping the tape a bit loose.</p>
		      <h4 style="text-transform:uppercase;font-weight:bold;">Outseam</h4>
		      <p>Using shorts that fit well, measure from the top of the waist to bottom of the leg.</p>
		      <div class="table_responsive">
		      <table class="table table-bordered table-striped billa_boys">
		        <thead>
		          <tr>
		                   	 		<th>SIZE   </th>
									<th>A.| WAIST  </th>
									<th>B.| OUTSEAM</th>

									
		          </tr>
		        </thead>
		     		  <tbody>
		        		
					        <tr>
					        		<td>28           </td>
									<td>28 - 29      </td>
									<td>16.25 - 16.75</td>
		        			</tr>
		        			<tr>
					        		<td>30           </td>
									<td>30 - 31      </td>
									<td>16.25 - 16.75</td>
		        			</tr>
		        			<tr>
					        		<td>32           </td>
									<td>32 - 33      </td>
									<td>16.25 - 16.75</td>
		        			</tr>
		        			<tr>
					        		<td>34           </td>
									<td>34 - 35      </td>
									<td>16.25 - 16.75</td>
		        			</tr>
		        			<tr>
					        		<td>36           </td>
									<td>36 - 37.5    </td>
									<td>16.25 - 16.75</td>
		        			</tr>
		        			<tr>
					        		<td>38           </td>
									<td>37.5 - 39    </td>
									<td>16.25 - 16.75</td>
		        			</tr>
		        			
		        </tbody>
		      </table>
		      
		     <p class="sizechart-note"><code>*</code>&nbsp; Measurements are in inches. </p>
		      <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
	  </div><!-- Responsive Table --> 
	  </div>
  </div> 
	 
</div> <!-- MensJackets -->
</div> <!-- SizeChartTab4 -->


</div><!-- tab-content tab-content-ys obs_sizechart -->
