<!-- CONTENT section -->

<div class="row"><!-- center-col -->
<div class="col-md-12"><!-- title -->

<h3 class="text-center title-under uppercase_txt home_title">Casualwear Information Page</h3>
<hr class="hr-lg" />


<hr class="hr-sm" />
<p>Since the first one rolled out back in 1923 BMW have been building motorcycles for real riders. You, with your love of the ride and high standards for performance, have driven BMW to keep innovating, keep refining, keep improving.  </p>
<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->
<h4 class="color font30">2008 BMW Motorcycle Bikes</h4>

<hr class="hr-sm" />
<p>The 2008 BMW Motorrad GS line includes three new models with the new from the dirt up F 800 GS and the upgraded R 1200 GS and GS Adventure. All models will be at the IMS shows this winter, beginning with the San Mateo show, and in dealerships next spring, but you can read about now.
</p>
<p>
In 1980, BMW Motorrad invented the adventure motorcycle category with the advent of the trailblazing R 80 GS, which won the grueling Paris-Dakar year after year. And now, over twenty-five years later, BMW Motorrad has created yet another revolutionary dual-purpose motorcycle that provides unprecedented levels of desert-devouring, roost-throwing performance: the amazing 2008 F 800 GS. </p>

<p>Fulfilling a need for a pure off-road oriented motorcycle that still has all the power, handling and reliability required for long-distance adventure touring as well as on-street handling, the F 800 GS is perfectly positioned as a middleweight dual-purpose enduro. Featuring an asymmetrical double headlight, its look is sleek, trim and 100% aggressive. With a compact 85-horsepower parallel twin engine, lightweight steel trellis frame and double-sided swingarm, not to mention a chain drive and longer front and rear suspension travel, there has never been a BMW dual-purpose machine offering such a unique blend of power, comfort and off-road muscle. </p>

<p>orque is generous at 61 lb/ft, and with a six-speed gear box, switchable ABS, 42-degree turning radius, 400-watt alternator, wide foot rests and 4.2-gallon gas tank located under the seat for a low center of gravity, the F 800 GS has all the technology of a touring bike, while still possessing the optimum power-to-weight characteristics of a high-performance enduro. With a dry weight of just 392 lbs, the F 800 GS is lightweight and agile enough for precise handling, making it ideal for screaming around on the twisties or tearing through the dirt. </p>


<p>In the never-ending quest to exceed our own exacting standards, BMW Motorrad has once again reached an entire new level of engineering excellence with the F 800 GS, an adventure-hungry motorcycle that is destined to be a classic. </p>

<p>Since its debut in 2004, the R 1200 GS has earned award after award, including Cycle World's Best Open Class Street Bike and the International Journalist's Panel "Best Bike in the World." And for 2008, this go-anywhere motorcycle that's equally at home in the dirt or on the street, gets several enhancements. The result of this dynamic upgrade is a dual-purpose motorcycle that offers everything the serious motorcyclist demands. And more. </p>


<p>The 2008 R 1200 GS is marked by a bold, rugged appearance. Stainless steel knee covers drape each side of the gas tank area, while technical surfaces like the slide tubes and cylinder head covers have been redesigned to include sporty new features. A new aluminum handlebar which can be mounted in two positions offers increased ergonomics, making its seated (or standing while off-road) position even more comfortable. Increased seat foam thickness also increases rideability. </p>

<p>But eye-catching style is only the beginning of the enhancements. Additional grunt is also part of the package, as the 2008 R 1200 GS offers 5% more power, topping out at a substantial 105 bhp with a maximum engine speed of 8,000 RPM, which creates an even wider range of power. Revised transmission ratios also mean quicker acceleration, better low-speed traction and increased revs. </p>

<p>
In addition to being a stunningly agile street bike, the R 1200 GS is also a supremely capable adventure tourer, and to make reaching those faraway places even more doable, for the first time ever, BMW Motorrad is offering an off-road version of its famous ESA (Electronic Suspension Adjustment) technology. Optional Enduro ESA is designed to meet the unique needs of adventure touring, and offers several options for whatever riding condition occurs: solo rider, rider with luggage and passenger. Three damper settings, Sport, Normal and Comfort give the rider the option of customizing both front and rear suspensions to his or her specifications. There is also an off-road mode that adjusts the front and rear preload and increases ground clearance for when rougher situations arise.</p>

<p>
Featuring more power, rugged styling and advanced technology, the 2008 R 1200 GS sets the standard for the entire adventure bike category and will be a force to be reckoned with both on the road and off. </p>


<p>When it comes to continent-crossing ability, the kind of epic riding that takes you to faraway places that others can only imagine, nothing comes close to reaching the ability of the rugged, totally unstoppable R 1200 GS Adventure. And for 2008, the R 1200 GS Adventure offers a number of significant new features that make it even more adept at riding to the ends of the earth. </p>

<p>In addition to new design elements including two-part, two-color hand protectors, the new 2008 R 1200 GS Adventure benefits from an additional 5% increase in power, raising its engine output to 105 bhp. A taller windshield, adjustable seat, extra wide foot pegs and optional ABS make long days in the saddle both comfortable and enjoyable. Add a generous 8.7-gallon fuel tank and covering immense areas of territory becomes easier and more worry-free than ever before. </p>


<p>The most significant new technological development found on the R 1200 GS Adventure is optional Enduro ESA (Electronic Suspension Adjustment). This feature gives the rider the ability to customize the motorcycle to his or her exact preferences. No matter what type of condition should arise—and where this bike travels to, just about anything can occur—Enduro ESA lets the rider adjust both front and rear suspension to accommodate it. Settings include Sport, Normal and Comfort, and there is even an off-road mode that adjusts the front and rear preload and increases ground clearance for those inevitable sections of bumpy terrain that occur while touring through the vast unknown. </p>


<p>For those ambitious riders whose passion involves getting off the beaten path and discovering wild, untamed places miles away from the typical, the 2008 R 1200 GS Adventure, with its numerous enhancements, globe-conquering ability and increased power, is the only real choice. </p>


<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->


<h4 class="color font30">Motorcycle Navigator</h4>

<hr class="hr-sm" />
<p>450D poly and Rib-stop fabrics, 2X1 stretch rib knees and crotch. Full length Kevlar® panel on right side leg. 1000D Kodra® knees. 600D saddle panel. Sublimated and articulated side stretch. Micro injected TPR logos and graphics. Adjustable ratchet waist closure. 
</p>
<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->

<h4 class="color font30">AXO Men's Ride MotoX Gloves</h4>

<hr class="hr-sm" />
<p>If you haven't yet discovered the joys of riding with a GPS, it's time to do exactly that. And the new BMW Zumo Motorcycle Navigator is one of the most advanced systems available. More importantly, it's designed specifically for BMW motorcycle use. Compact, rugged, and supremely easy to use, the Zumo makes it easy to operate and program your ride, no matter where you're headed. </p>

<p>Its screen is sensitive and easy to use, even while wearing gloves. Its controls are all on the left of the unit, perfect for motorcyclists. The BMW Zumo Motorcycle Navigator is also water and fuel resistant, shock and vibration proof, and includes Bluetooth wireless technology for phone communication. Add a high brightness, sunlight-readable, UV-display that's always visible, BMW dealer database, and pre-installed mapping software of all of North America, and you'll never be fumbling with maps, hi-liters, or asking whiskery gas station attendants for directions again. </p>


<p>But remember: the BMW Zumo Motorcycle Navigator is only available at your local BMW motorcycles dealership. Check it out today and never lose your way again.</p>

<!-- / -->
<div class="divider divider--sm"></div>
<!--  -->



</div>
</div>