<style>
  .new_davz_wall_collection_list{
    /* font-family: "hurme-regular"; */
    text-transform: uppercase;
    font-size: .90em;
    color: #222;
    letter-spacing: .110em;
    display: block;
    width: 100%;
    transition: all .5s ease 0s;
    padding: 5px;
    margin-left: 18px;
  }
  .hide-collection li:before{
    display: none;
    vertical-align: middle;
    float: left;
    color: black;
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    content: "\e019";
    font-size: .80em;
    transition: all .5s ease 0s;
    position: relative;
    top: 7px; 
  }

  #more_info{
    display:none; 
  }
</style>

{% if "logo" == condition %}

<a href = "/collections/fly-racing">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/main_banner_c16e118c-b824-4aa7-8279-8724b8ee3b6c.jpg?v=1615180945" alt="Fly Racing Motorcycle Gear & Accessories" title =  "Fly Racing Motorcycle Gear & Accessories">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/main_banner_mobile.jpg?v=1615180945" alt="Fly Racing Motorcycle Gear & Accessories" title =  "Fly Racing Motorcycle Gear & Accessories">
</a>


{% elsif "header" == condition %}

<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
<!--     <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li> -->
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/fly-racing" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>


<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
<!--     <li><a href="#more_info"><span class="label">More Info</span></a></li> -->
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->




{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class="container-fluid" style="margin-top: -25px;">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fly-racing-womens-gear-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/womens-gear.jpg?v=1615181663">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fly-racing-mens-gear-collections">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mens-gear.jpg?v=1615188745">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fly-racing-helmets-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/helmets_fa06aa8f-d4a8-4540-9c9f-8ebe9d990eb1.jpg?v=1615189166">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fly-racing-street-jackets-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">STREET JACKETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/street-jackets.jpg?v=1615192395">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fly-racing-street-pants-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">STREET PANTS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/street-pants.jpg?v=1615253278">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/fly-racing-shorts-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">SHORTS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shorts.jpg?v=1615264615">
        </a>
      </div>
    </div>
  </div>

</div>

</div>


<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fly-racing-womens-gear-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/womens-gear-mobile.jpg?v=1615181663">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fly-racing-mens-gear-collections">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mens-gear-mobile.jpg?v=1615188745">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fly-racing-helmets-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/helmets-mobile.jpg?v=1615189166">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fly-racing-street-jackets-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">STREET JACKETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/street-jackets-mobile.jpg?v=1615192395">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fly-racing-street-pants-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">STREET PANTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/street-pants-mobile.jpg?v=1615253278">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/fly-racing-shorts-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">SHORTS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/shorts-mobile.jpg?v=1615264615">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>




<div class="divider divider--lg"></div>




{% elsif "lookbooks" == condition %}

{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
{% assign counter = 0 %}
{% paginate blogs['lookbook'].articles by totalLookbookCount %}
{% for article in blogs['lookbook'].articles %}
{% if counter < 6 and article.tags contains 'Fly Racing' or article.tags contains 'fly racing' or article.tags contains 'fly' %}
{% assign counter = counter | plus: 1 %}
<div class="col-sm-2 col-md-2 col-lg-2">

  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
    <div>
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
    </div>

    <div class="TeaserGrid-content" style="margin-top: 6px;">
      <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
    </div>                       
  </a>

</div>



{% endif %}
{% endfor %}
{% endpaginate %}

<div class="divider divider--md"></div>
<div class="visible-xs text-center" id="dmore-lb">
  <a href="/search?type=article&q=fly-racing" class="btn btn--ys btn--xl obs_show_more_btn text-center margin_top-50"></a>
</div>





{% elsif "brand_sizing_guide" == condition %}
<div class="divider divider--md"></div>
<section id="section-sizingchart" class="section_table cd-section">

  <div class ="row">


    {% include "page.fly-racing-size-chart" %}
  </div>
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/8b0016879a9aa258d4ec9492c8cba3bf.png?v=1615173922" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/8b0016879a9aa258d4ec9492c8cba3bf.png?v=1615173922">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class= "row">
            <p>Established in 1998,  FLY Racing is one of the fastest growing off road motorcycle riding apparel and hard part brands in the powersports industry. FLY Racing develops quality products for the competitive North American market and is distributed worldwide in 40+ countries. In the United States, FLY Racing products are distributed exclusively by Western Power Sports (WPS).</p>
            <div class = "hidden-content">
              <i><p>"WE LIKE TO PLAY IN DIRT, SAND, MUD AND SNOW. WE LIKE THE THRILL OF A CLOSE RACE. WE LOVE THE FEELING OF FREEDOM THAT YOU CAN ONLY GET FROM RIDING IN THE GREAT OUTDOORS. WE LIKE GETTING UP EARLY, LOADING UP THE TRUCK AND HITTING THE TRACK.</p>
              <p>PRO RIDERS TO AMATEURS, FROM THE DESIGNERS TO THE SALES STAFF, FROM THE GUYS IN THE WAREHOUSE TO THE CREW IN THE BIG OFFICES, FLY RACING LIVES AND BREATHES RIDING. WE DESIGN ALL OUR GEAR WITH PERFORMANCE, FUNCTION AND QUALITY IN MIND, MOST OF ALL WE DESIGN WITH PASSION.</p>
              <p>OUR DESIGNERS AND PRO TEAM SPENT COUNTLESS HOURS IN THE OFFICE AND ON THE TRACK TO BRING YOU A TRULY IMAGINATIVE AND INNOVATIVE PRODUCT.</p>
              <p>SO GRAB YOUR NEW FLY RACING APPAREL AND WEAR IT WITH PRIDE. WE ARE FLY RACING. WELCOME TO THE NEXT CHAPTER."</p></i>
              <p>–FLY RACING CREW</p>
             </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% elsif "brand_story" == condition %}
<div class="text-center">
  <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1299/2659/files/fox-wall-about.jpg?18375403887289279353" alt="">
</div>



{% endif %}

<script>

  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('#helmet-collections').hover(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','black');
      $j('.helmets-text').css('color','black');
    });
    $j('#helmet-collections').mouseleave(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','#6b6b6b');
      $j('.helmets-text').css('color','#3a3a3a');
    });
    $j('#jacket-collections').hover(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','black');
      $j('.jackets-text').css('color','black');
    });
    $j('#jacket-collections').mouseleave(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','#6b6b6b');
      $j('.jackets-text').css('color','#3a3a3a');
    });
    $j('#gloves-collections').hover(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','black');
      $j('.gloves-text').css('color','black');
    });
    $j('#gloves-collections').mouseleave(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','#6b6b6b');
      $j('.gloves-text').css('color','#3a3a3a');
    });
    $j('#pants-collections').hover(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','black');
      $j('.pants-text').css('color','black');
    });
    $j('#pants-collections').mouseleave(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','#6b6b6b');
      $j('.pants-text').css('color','#3a3a3a');
    });
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });


  });
</script>