{% if "logo" == condition %}

<a href = "https://motorhelmets.com/collections/arai">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/arai-wallpaper-banner-min.jpg?11180700369880890173" alt="">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-arai-wallpaper-banner-min.jpg?5749159085869994614" alt="">

</a>
<div class="divider divider--md"></div>


{% elsif "header" == condition %}


<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
    <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li>
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/arai" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>





<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
    <li><a href="#more_info"><span class="label">More Info</span></a></li>
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->

  <button class="cd-nav-trigger cd-image-replace">Open navigation<span aria-hidden="true"></span></button> 





<div class="container box-baners">


  {% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs">
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/arai-womens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">WOMEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-womens-collection-banner-min.jpg?3583441660358586481">
       </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/arai-mens-collection">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">MEN'S GEAR</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-mens-collection-banner-min.jpg?3583441660358586481">
        </a>
      </div>
    </div>

  </div>


</div>
  
  
  
  
<div class ="divider"></div>
<div class = "container-fluid">
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/arai-street-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">STREET HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-street-helmet-wallpaper-min.jpg?3583441660358586481">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/arai-off-road-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">OFFROAD HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-offroad-helmet-wallpaper-min.jpg?3583441660358586481">
        </a>
      </div>
    </div>
  </div>
  <div class ="divider"></div>
  <div class ="row">
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/arai-cruiser-helmets">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">CRUISER HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-cruiser-helmet-wallpaper-min.jpg?3583441660358586481">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/arai-helmet-accessories">
          <div class = "collection-text-holder">
            <h1 class = "collection-text">HELMET ACCESSORIES</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-helmet-accessories-wallpaper-min.jpg?3583441660358586481">
        </a>
      </div>
    </div>
  </div>
</div>
</div>

  
  <div class ="mobile hidden-md hidden-lg hidden-xl">
    <div class ="row">
      <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/arai-womens-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">WOMEN'S GEAR</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-arai-womens-collectino-wallpaper-min.jpg?5749159085869994614">
          </a>
        </div>
      </div>
      <div class = "divider divider--sm hidden-lg hidden-xl"></div>
      <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class ="row">
          <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class = "collection-background">
              <a href = "https://motorhelmets.com/collections/arai-mens-collection">
                <div class = "collection-text-holder">
                  <h1 class = "mobile-collection-text">MEN'S GEAR</h1>
                </div>
                <span class = "fade-background">&nbsp;</span>
                <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-arai-mens-collectino-wallpaper-min.jpg?5749159085869994614">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class = "divider divider--sm hidden-lg hidden-xl"></div>
      <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class ="row">
          <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class = "collection-background">
              <a href = "https://motorhelmets.com/collections/arai-street-helmets">
                <div class = "collection-text-holder">
                  <h1 class = "two-mobile-collection-text">STREET HELMETS</h1>
                </div>
                <span class = "fade-background">&nbsp;</span>
                <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-arai-street-helmet-wallpaper-min.jpg?5749159085869994614">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class = "divider divider--sm hidden-lg hidden-xl"></div>
      <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/arai-off-road-helmets">
            <div class = "collection-text-holder">
              <h1 class = "two-mobile-collection-text">OFFROAD HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-arai-offroad-helmet-wallpaper-min.jpg?5749159085869994614">
          </a>
        </div>
      </div>
      <div class = "divider divider--sm hidden-lg hidden-xl"></div>
      <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/arai-cruiser-helmets">
            <div class = "collection-text-holder">
              <h1 class = "two-mobile-collection-text">CRUISER HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-arai-cruiser-helmet-wallpaper-min.jpg?5749159085869994614">
          </a>
        </div>
      </div>
      <div class = "divider divider--sm hidden-lg hidden-xl"></div>
      <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/arai-helmet-accessories">
            <div class = "collection-text-holder">
              <h1 class = "two-mobile-collection-text">HELMET ACCESSORIES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-arai-helmet-accessories-wallpaper-min.jpg?5749159085869994614">
          </a>
        </div>
      </div>
    </div>
  </div>
 
{% elsif "lookbooks" == condition %}


{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
  {% assign counter = 0 %}
  {% paginate blogs['lookbook'].articles by totalLookbookCount %}
    {% for article in blogs['lookbook'].articles %}
      {% if counter < 6 and article.tags contains 'Arai' or article.tags contains 'arai' %}
          {% assign counter = counter | plus: 1 %}
                            <div class="col-sm-6 col-md-2 col-lg-2 TeaserGrid-item">
                    
                  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
                       <div>
                        {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
                       </div>
                                         
                          <div class="TeaserGrid-content" style="margin-top: 6px;">
                            <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
                           </div>                       
                    </a>
                    
                  </div>
      {% endif %}
    {% endfor %}
  {% endpaginate %}

  
  <div class="divider divider--md"></div>


{% elsif "more_info" == condition %}

  <div class = "row">
    <div class = "text-center">
      <h3>PRODUCT CARE</h3>
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 product-care-section">
      <div class ="">
        <div class = "product-care-list text-justify">
          <div class = "product-care">
            <div class = "more-info-title"><a href = "javascript:void(0)">SHIELD CARE AND CLEANING <i class="material-icons">keyboard_arrow_right</i></a></div>
            <div class = "more-info-content">All Arai face shields have a very strong anti-scratch coating to extend the useable life of the shield. 

              The polycarbonate material used to manufacture the shield is very strong and durable, but is not shatterproof or impervious to damage. Products such as brake fluid, degreaser, gasoline and even gasoline fumes can quickly, easily, and often invisibly weaken the shield. Take great care not to expose your shield to any chemicals.

              Face shield cleaning should be done only with warm water and a micro fiber cloth. Laying a microfiber cloth, soaked in warm water, across the shield will soften the bug debris and make cleaning easier.

              Once cleaned, protecting the shield surfaces with an all natural carnauba wax will not only help bead rain water but reduce the amount of dirt build up as well.</div>
          </div>
          <div class = "product-care">
            <div class = "more-info-title"><a href = "javascript:void(0)">PROPER HELMET CLEANING <i class="material-icons">keyboard_arrow_right</i></a></div>
            <div class = "more-info-content">
              <p>To prolong the usable life of your helmet, it is important that you clean it regularly.

                This does not mean a full strip-down wash every time, that level of clean can be reserved for once or maybe twice a season. More frequent, routine cleanings can be as simple as a quick wipe down with a wet towel, or a limted wash of the easily removable parts.

                After every ride, we encourage you to wipe the residual sweat from the surface of the interior lining. If you use sun block, makeup or hair products, you may want to pull out the cheek pads and head liner and give them a quick rinse in the sink. Build up of these products can become difficult to remove after a while.

                For some advise on a full wash of your helmet, inside and out, check out this video.</p>
            </div>
          </div>
        </div>
      </div>
      <div class = "divider divider--xl"></div>
    </div>
    
    <div class = "text-center">
      <h3>FINDING YOUR HELMET'S MANUFACTURE DATE</h3>
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 product-care-section">
      <div class ="">
        <div class = "product-care-list text-justify">
          <div class = "product-care">
            <div class = "more-info-title"><a href = "javascript:void(0)">FINDING YOUR HELMET'S MANUFACTURE DATE <i class="material-icons">keyboard_arrow_right</i></a></div>
            <div class = "more-info-content">
            	 Your helmet's manufacture date will be located in one of three places, it will be on the:<br>

              <b>The Chinstrap D-Ring (Late 2000's to Present):</b>
              <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-product-info-1-min.jpg?1343601077619751571">
              <br>
              <b>On a white tag on the long side of the chinstrap (Mid 2000's):</b><br>
              <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-product-info-2-min.jpg?1343601077619751571">
              <br>
              <b>Stamped into the leatherette of the chin strap (Early 2000's):</b><br>
              <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-product-info-3-min.jpg?1343601077619751571">
            </div>
          </div>
        </div>
      </div>
      <div class = "divider divider--xl"></div>
    </div>
    
    <div class = "text-center">
      <h3>FIT INFORMATION</h3>
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 product-care-section">
      <div class ="">
        <div class = "product-care-list text-justify">
          <div class = "product-care">
            <div class = "more-info-title"><a href = "javascript:void(0)">CHEEK PAD FITMENT CHANGE AS OF NOVEMBER 2017 <i class="material-icons">keyboard_arrow_right</i></a></div>
            <div class = "more-info-content">
              As market trends change over time, we assess and adapt to those changes. Therefore, standard interior component sizes may change from time to time. 

              Please refer to the chart below for the most current standard interior liner sizes.
       		<a href = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-interior-liner-chart-min.jpg?12988603340328898849">
              <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-interior-liner-chart-720-min.jpg?6810184241604430622">
              
              <img class = "img-responsive hidden-sm hidden-md hidden-lg hidden-xl" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-interior-liner-chart-min.jpg?12988603340328898849">
              </a>
                </div>
          </div>
        </div>
      </div>
      <div class = "divider divider--xl"></div>
    </div>
    
  </div>


    <div class="divider divider--md"></div>



    {% elsif "brand_sizing_guide" == condition %}
    {% include 'page.arai-size-chart' %}



    <div class="divider divider--md"></div> 

    <div class="text-center">
      <div class="container wall-brand-desc-content">
        <div class ="row">
          {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/Scorpion-Wall-About.jpg?14753251912235995858" alt="">
          <div class="divider divider--lg"></div>
          {%endcomment%}
          <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
            <div class ="row">
              <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/arai-logo-black-min.png?3566921031290057896">
            </div>
          </div>
          <div class="divider divider--lg"></div>
          <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
            <div class = "row">

              <p><b>Innovation in pursuit of a better riding experience.</b><br>
                Our mission has always been the protection and comfort of riders. Every Arai helmet is 100 percent handmade. We don’t build Arai helmets to meet any safety standards; we build them to exceed the standards. The foundation principles of protection formulated over three generations have never been forgotten in six decades of helmet design and manufacturing.</p>

              <div class = "hidden-content">
                <p><b>Family Philosophy</b><br>
                  Arai is a small, family company, driven by the same family, with the same mission, through three generations – three generations of riders. We see riders wearing our helmets, and we hope they know we made their helmets to the best of our ability, to protect and make them feel comfortable no matter how far or how long they ride. We build your helmet by hand. We each have a specific job, yet all of us know every step that goes into building it. That is how we learn there are no minor parts to an Arai helmet, and there are no minor jobs here. We build each Arai helmet as if we’re creating it for one of our own, a brother, a father, a husband, a sister. That is what makes every one of us Arai.</p>


                <p><b>Technical Philosophy</b><br>
                  At Arai, safety standards like Snell or DOT are our baseline, not our goal. Standards create minimum criteria, but, while many helmet makers design their helmets to meet those minimums, “good enough” has never been good enough around here. Our standards are made for the real world, the world of distracted drivers, unpredictable situations, sharp angles – things that don't move when you hit them. A world you can’t duplicate in a controlled, predictable testing laboratory environment.</p>
              </div>
              <div class = "divider divider--md"></div>
              <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>

  
{% endif %}
  
 <div class="divider divider--md"></div>  

<script>

  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('#helmet-collections').hover(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','black');
      $j('.helmets-text').css('color','black');
    });
    $j('#helmet-collections').mouseleave(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','#6b6b6b');
      $j('.helmets-text').css('color','#3a3a3a');
    });
    $j('#jacket-collections').hover(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','black');
      $j('.jackets-text').css('color','black');
    });
    $j('#jacket-collections').mouseleave(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','#6b6b6b');
      $j('.jackets-text').css('color','#3a3a3a');
    });
    $j('#gloves-collections').hover(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','black');
      $j('.gloves-text').css('color','black');
    });
    $j('#gloves-collections').mouseleave(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','#6b6b6b');
      $j('.gloves-text').css('color','#3a3a3a');
    });
    $j('#pants-collections').hover(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','black');
      $j('.pants-text').css('color','black');
    });
    $j('#pants-collections').mouseleave(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','#6b6b6b');
      $j('.pants-text').css('color','#3a3a3a');
    });
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });


  });
</script>