<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

    <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

    <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

    <li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Boys/Kids</a></li>

    <li><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Footwear</a></li>

    <li><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">MOTO</a></li>

    <li><a href="#SizeChartTab6" role="tab"data-toggle="tab" class="text-uppercase">BIKE</a></li>

</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">

<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Tops</a></li>

    <li><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Bottoms</a></li>

  </ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">

  <div class="row">

    <div class="col-sm-6 col-md-3 col-lg-3">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-men-top.jpg?7478144190988782845" alt="Fox Racing Men Tops Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">S</th>
              <th scope="col">M</th>
              <th scope="col">L</th>
              <th scope="col">XL</th>
              <th scope="col">XXL</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>A | Chest</td>
            <td>33-35</td>
            <td>36-39</td>
            <td>40-42</td>
            <td>43-46</td>
            <td>47-50</td>
          </tr>
          <tr>
            <td>B | Sleeve</td>
            <td>32-33</td>
            <td>33-34</td>
            <td>34-35</td>
            <td>35-36</td>
            <td>36-37</td>
          </tr>
          <tr>
            <td>C | Height</td>
            <td>5'6"-5'10"</td>
            <td>5'10"-6'</td>
            <td>6'-6'2"</td>
            <td>6'1"-6'3"</td>
            <td>6'1"-6'3"</td>
          </tr>
        </tbody>
        </table>
      </div><!-- Responsive Table -->

      <div>
          <h2>CHEST</h2>
          <p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
      </div>
      <div>
          <h2>SLEEVE</h2>
          <p>With elbow slightly bent, measure from the center behind the neck, over the point of the shoulder, around the elbow and down the wrist.</p>
      </div>
    </div>
  </div>

</div>

<div role="tabpanel" class="tab-pane" id="SizeChartMenTab2">

  <div class="row">

    <div class="col-sm-6 col-md-3 col-lg-3">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-men-bottom.jpg?9785091389922817905" alt="Fox Racing Men Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">28</th>
                <th scope="col">29</th>
                <th scope="col">30</th>
                <th scope="col">31</th>
                <th scope="col">32</th>
                <th scope="col">33</th>
                <th scope="col">34</th>
                <th scope="col">36</th>
                <th scope="col">38</th>
                <th scope="col">40</th>
              </tr>
            </thead>
             <tbody>
                  <tr>
                    <td></td>
                    <td>S</td>
                    <td>S</td>
                    <td>S</td>
                    <td>S</td>
                    <td>M</td>
                    <td>M</td>
                    <td>L</td>
                    <td>XL</td>
                    <td>XXL</td>
                    <td>XXL</td>
                  </tr>
                  <tr>
                      <td>A | Waist</td>
                      <td>28-29</td>
                      <td>29-30</td>
                      <td>30-31</td>
                      <td>31-32</td>
                      <td>32-33</td>
                      <td>33-34</td>
                      <td>34-35</td>
                      <td>36-37</td>
                      <td>38-39</td>
                      <td>40-41</td>
                    </tr>
                    <tr>
                      <td>B | Hip</td>
                      <td>34-35</td>
                      <td>35-36</td>
                      <td>36-37</td>
                      <td>37-38</td>
                      <td>38-39</td>
                      <td>39-40</td>
                      <td>40-41</td>
                      <td>42-43</td>
                      <td>44-45</td>
                      <td>46-47</td>
                    </tr>
                    <tr>
                      <td>C | Inseam</td>
                      <td>30-30<sup>1/2</sup></td>
                      <td>30-30<sup>1/2</sup></td>
                      <td>30<sup>1/2</sup>-31</td>
                      <td>30<sup>1/2</sup>-31</td>
                      <td>31-31<sup>1/2</sup></td>
                      <td>31-31<sup>1/2</sup></td>
                      <td>31<sup>1/2</sup>-32</td>
                      <td>32-32<sup>1/2</sup></td>
                      <td>32<sup>1/2</sup>-33</td>
                      <td>32<sup>1/2</sup>-33</td>
                    </tr>
                    <tr>
                      <td>D | Height</td>
                      <td>5'6"-5'8"</td>
                      <td>5'6"-5'8"</td>
                      <td>5'8"-5'10"</td>
                      <td>5'8"-5'10"</td>
                      <td>5'10"-6'</td>
                      <td>5'10"-6</td>
                      <td>6'-6'2"</td>
                      <td>6'1"-6'3"</td>
                      <td>6'1"-6'3"</td>
                      <td>6'1"-6'3"</td>
                    </tr>
              </tbody>
          </table>
        </div><!-- Responsive Table -->

        <div>
          <h2>WAIST</h2>
          <p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
        </div>

        <div>
          <h2>HIP</h2>
          <p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
        </div>

        <div>
          <h2>INSEAM</h2>
          <p>While standing without shoes and with feet slightly apart, measure from the crotch along the leg to the floor.</p>
        </div>

      </div>
    </div>
</div>

</div>
</div> <!-- SizeChartTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">

  <div class="row">
      <div class="col-sm-3 col-md-3 col-lg-3">
         <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-women-wholebody.jpg?9135065338809419856" alt="Fox Racing Women Size Chart" style="margin: 0 auto;"></p>
      </div>

      <div class="col-sm-9 col-md-9 col-lg-9">
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">0</th>
            <th scope="col">1</th>
            <th scope="col">3</th>
            <th scope="col">5</th>
            <th scope="col">7</th>
            <th scope="col">9</th>
            <th scope="col">11</th>
          </tr>
          </thead>
          <tbody>
              <tr>
                  <td></td>
                  <td>XS</td>
                  <td>XS</td>
                  <td>S</td>
                  <td>S</td>
                  <td>M</td>
                  <td>L</td>
                  <td>XL</td>
              </tr>

            <tr>
              <td>A | Bust</td>
              <td>31</td>
              <td>33</td>
              <td>34</td>
              <td>35</td>
              <td>36-37</td>
              <td>38-39</td>
              <td>39-40</td>
            </tr>
            <tr>
              <td>B | Sleeve</td>
              <td>28</td>
              <td>29</td>
              <td>29</td>
              <td>30</td>
              <td>30-31</td>
              <td>31-31<sup>1/2</sup></td>
              <td>31-31<sup>1/2</sup></td>
            </tr>
            <tr>
              <td>C | Waist</td>
              <td>23<sup>1/2</sup>-24<sup>1/2</sup></td>
              <td>24<sup>1/2</sup>-25<sup>1/2</sup></td>
              <td>25<sup>1/2</sup>-26<sup>1/2</sup></td>
              <td>26<sup>1/2</sup>-27<sup>1/2</sup></td>
              <td>28-29</td>
              <td>29<sup>1/2</sup>-30<sup>1/2</sup></td>
              <td>31-32</td>
            </tr>
            <tr>
              <td>D | Hip</td>
              <td>34-35</td>
              <td>35-36</td>
              <td>36-37</td>
              <td>37-38</td>
              <td>38-39</td>
              <td>39<sup>1/2</sup>-40<sup>1/2</sup></td>
              <td>41-42</td>
            </tr>
            <tr>
              <td>E | Inseam</td>
              <td>29</td>
              <td>29</td>
              <td>29<sup>1/2</sup></td>
              <td>29<sup>1/2</sup></td>
              <td>30</td>
              <td>30</td>
              <td>30<sup>1/2</sup></td>
            </tr>

          </tbody>
        </table>
        </div><!-- Responsive Table -->

        <div>
          <h2>BUST</h2>
          <p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
        </div>

        <div>
          <h2>SLEEVE</h2>
          <p>With elbow slightly bent, measure from the center behind the neck, over the point of the shoulder, around the elbow and down the wrist.</p>
        </div>

        <div>
          <h2>WAIST</h2>
          <p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
        </div>

        <div>
          <h2>HIP</h2>
          <p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
        </div>

        <div>
          <h2>INSEAM</h2>
          <p>While standing without shoes and with feet slightly apart, measure from the crotch along the leg to the floor.</p>
        </div>

      </div>
    </div>

</div> <!-- SizeChartTab2 End -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

<ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

<li class="active"><a href="#SizeChartkidsTab1" role="tab"data-toggle="tab" class="text-uppercase">Boys</a></li>

<li><a href="#SizeChartkidsTab2" role="tab"data-toggle="tab" class="text-uppercase">Kids</a></li>

<li><a href="#SizeChartkidsTab3" role="tab"data-toggle="tab" class="text-uppercase">Toddlers</a></li>

</ul>


<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartkidsTab1">

  <div class="row">

    <div class="col-sm-3 col-md-3 col-lg-3">
       <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/fox-size-boys-sizing-body-chart.jpg?8867238493730134403" alt="Fox Racing Boy Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
              <th scope="col"></th>
              <th scope="col">6 (w22)</th>
              <th scope="col">7 (w23)</th>
              <th scope="col">8 (w24)</th>
              <th scope="col">10 (w25)</th>
              <th scope="col">12 (w26)</th>
              <th scope="col">14 (w27)</th>
              <th scope="col">16 (w28)</th>
              <th scope="col">18 (w29)</th>
              <th scope="col">20 (w30)</th>
          </tr>
          </thead>
        <tbody>
            <tr>
                <td></td>
                <td>S</td>
                <td>S</td>
                <td>S</td>
                <td>M</td>
                <td>M</td>
                <td>L</td>
                <td>L</td>
                <td>XL</td>
                <td>XL</td>
            </tr>
            <tr>
            <td>A | Chest</td>
            <td>24-25</td>
            <td>25-26</td>
            <td>26-27</td>
            <td>27-28</td>
            <td>28-29</td>
            <td>29-30</td>
            <td>31-32</td>
            <td>32-33</td>
            <td>33-34</td>
          </tr>
          <tr>
            <td>B | Waist</td>
            <td>22-23</td>
            <td>23-24</td>
            <td>24-25</td>
            <td>25-26</td>
            <td>26-27</td>
            <td>27-28</td>
            <td>28-29</td>
            <td>29-30</td>
            <td>30-31</td>
          </tr>
          <tr>
            <td>C | Inseam</td>
            <td>20-21</td>
            <td>21-22</td>
            <td>22-23</td>
            <td>23-24</td>
            <td>24<sup>1/2</sup>-25<sup>1/2</sup></td>
            <td>25<sup>1/2</sup>-26<sup>1/2</sup></td>
            <td>26<sup>1/2</sup>-27</td>
            <td>27-27<sup>1/2</sup></td>
            <td>27<sup>1/2</sup>-28</td>
          </tr>
          <tr>
            <td>D | Height</td>
            <td>46-47</td>
            <td>48-49</td>
            <td>51-53</td>
            <td>54-56</td>
            <td>57-59</td>
            <td>60-62</td>
            <td>63-64</td>
            <td>65-66</td>
            <td>66-67</td>
          </tr>
        </tbody>
        </table>
      </div><!-- Responsive Table -->

      <div>
        <h2>CHEST</h2>
        <p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
      </div>

      <div>
        <h2>WAIST</h2>
        <p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
      </div>

      <div>
        <h2>HIP</h2>
        <p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
      </div>

      <div>
        <h2>INSEAM</h2>
        <p>While standing without shoes and with feet slightly apart, measure from the crotch along the leg to the floor.</p>
      </div>

    </div>
  </div>
 
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartkidsTab2">

<div class="table_responsive">
<table class="table table-bordered table-striped">
  <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">4</th>
            <th scope="col">5</th>
            <th scope="col">6</th>
            <th scope="col">7</th>
        </tr>
  </thead>
 <tbody>
    <tr>
        <td></td>
        <td>S</td>
        <td>M</td>
        <td>L</td>
        <td>L</td>
    </tr>
      <tr>
    <td>Chest</td>
    <td>22-23</td>
    <td>23-24</td>
    <td>24-24<sup>1/2</sup></td>
    <td>24<sup>1/2</sup>-25</td>
  </tr>
  <tr>
    <td>Waist</td>
    <td>21-21<sup>1/2</sup></td>
    <td>21<sup>1/2</sup>-22</td>
    <td>22-22<sup>1/2</sup></td>
    <td>22<sup>1/2</sup>-23</td>
  </tr>
  <tr>
    <td>Inseam</td>
    <td>17-18</td>
    <td>18-19</td>
    <td>19-20</td>
    <td>20-20<sup>1/2</sup></td>
  </tr>
  <tr>
    <td>Height</td>
    <td>39-41</td>
    <td>42-44</td>
    <td>45-46</td>
    <td>47-48</td>
  </tr>
</tbody>
</table>
</div><!-- Responsive Table -->


</div>

<div role="tabpanel" class="tab-pane" id="SizeChartkidsTab3">

<div class="table_responsive">
<table class="table table-bordered table-striped">
  <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">S</th>
            <th scope="col">M</th>
            <th scope="col">L</th>
        </tr>
  </thead>
 <tbody>
  <tr>
    <td>Age</td>
    <td>2</td>
    <td>3</td>
    <td>4</td>
  </tr>
</tbody>
</table>
</div><!-- Responsive Table -->
</div>
</div> 
</div>

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">
  
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3"><center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/alpinestar-footwear-size-chart.jpg?11401047544941850694" alt="Fox Racing Footwear"></center></div>
    
    <div class="col-sm-9 col-md-9 col-lg-9">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
            <tbody>
                  <tr>
                    <td>US</td>
                    <td>5</td>
                    <td>5.5</td>
                    <td>6</td>
                    <td>6.5</td>
                    <td>7</td>
                    <td>7.5</td>
                    <td>8</td>
                    <td>8.5</td>
                    <td>9</td>
                    <td>9.5</td>
                    <td>10</td>
                    <td>10.5</td>
                    <td>11</td>
                    <td>11.5</td>
                    <td>12</td>
                    <td>13</td>
                  </tr>
                 </tbody>
                 <tbody>
                  <tr>
                    <td>EU</td>
                    <td>37.5<sup></sup></td>
                    <td>38</td>
                    <td>38.5</td>
                    <td>39</td>
                    <td>40</td>
                    <td>40.5</td>
                    <td>41</td>
                    <td>42</td>
                    <td>42.5</td>
                    <td>43</td>
                    <td>44</td>
                    <td>44.5</td>
                    <td>45</td>
                    <td>45.5</td>
                    <td>46<sup></sup></td>
                    <td>47.5<sup></sup></td>
                  </tr>
                 </tbody>
                 <tbody>
                  <tr>
                    <td>UK</td>
                    <td>4</td>
                    <td>4.5</td>
                    <td>5</td>
                    <td>5.5</td>
                    <td>6</td>
                    <td>6.5</td>
                    <td>7</td>
                    <td>7.5</td>
                    <td>8</td>
                    <td>8.5</td>
                    <td>9</td>
                    <td>9.5</td>
                    <td>10</td>
                    <td>10.5</td>
                    <td>11</td>
                    <td>12</td>
                  </tr>
                 </tbody>
        </table>
      </div><!-- Responsive Table -->
     </div>
 </div>

</div> <!-- SizeChartTab2 End -->


<div role="tabpanel" class="tab-pane" id="SizeChartTab5">

  <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">

    <li class="active"><a href="#SizeChartMotoTab1" role="tab"data-toggle="tab" class="text-uppercase">Jerseys</a></li>

    <li><a href="#SizeChartMotoTab2" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>

    <li><a href="#SizeChartMotoTab3" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>

    <li><a href="#SizeChartMotoTab4" role="tab"data-toggle="tab" class="text-uppercase">Boots</a></li>

    <li><a href="#SizeChartMotoTab5" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>

    <li><a href="#SizeChartMotoTab6" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>

    <li><a href="#SizeChartMotoTab7" role="tab"data-toggle="tab" class="text-uppercase">Guards</a></li>

  </ul>

<div class="tab-content tab-content--ys">

<div role="tabpanel" class="tab-pane active" id="SizeChartMotoTab1">

  <div class="row">

    <div class="col-sm-6 col-md-4 col-lg-6">
      <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-off-road-jersey.jpg?16646301496028714644" alt="Fox Racing Men Size Chart" style="margin: 0 auto;" ></p>
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">S</th>
              <th scope="col">M</th>
              <th scope="col">L</th>
              <th scope="col">XL</th>
              <th scope="col">XXL</th>
              <th scope="col">XXXL</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>A | Chest</td>
            <td>33-35</td>
            <td>36-39</td>
            <td>40-42</td>
            <td>43-46</td>
            <td>47-50</td>
            <td>51-56</td>
          </tr>
          <tr>
            <td>B | Sleeve</td>
            <td>32 - 32 1/2</td>
            <td>33 - 33 1/2</td>
            <td>33 1/2 - 34</td>
            <td>34 1/2 - 35</td>
            <td>35 1/2 - 36</td>
            <td>36</td>
          </tr>
        </tbody>
        </table>
      </div><!-- Responsive Table -->

      <div>
        <h2>CHEST</h2>
        <p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
      </div>

      <div>
        <h2>SLEEVE</h2>
        <p>With elbow slightly bent, measure from the center behind the neck, over the point of the shoulder, around the elbow and down the wrist.</p>
      </div>

    </div>
  </div>

</div>

<div role="tabpanel" class="tab-pane" id="SizeChartMotoTab2">

  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/pants_sizing_silhouette.jpg?16589772405311061752" alt="Fox Racing Men Size Chart" style="margin: 0 auto;"></p>
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
      <div>
        <div><h2>MEN'S PANTS</h2></div>
        <div class="table_responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">28</th>
                  <th scope="col">30</th>
                  <th scope="col">32</th>
                  <th scope="col">34</th>
                  <th scope="col">36</th>
                  <th scope="col">38</th>
                  <th scope="col">40</th>
                </tr>
              </thead>
               <tbody>
                    <tr>
                        <td>A | Waist</td>
                        <td>27-29</td>
                        <td>29-31</td>
                        <td>31-33</td>
                        <td>33-35</td>
                        <td>35-37</td>
                        <td>37-39</td>
                        <td>39-41</td>
                      </tr>
                      <tr>
                        <td>B | INSEAM</td>
                        <td>30</td>
                        <td>30 - 30 1/2</td>
                        <td>30 1/2 - 31</td>
                        <td>31 - 31 1/2</td>
                        <td>31 1/2 - 32</td>
                        <td>32 - 32 1/2</td>
                        <td>32 - 32 1/2</td>
                      </tr>
                </tbody>
            </table>
          </div><!-- Responsive Table -->

          <div>
            <h2>INSEAM</h2>
            <p>While standing without shoes and with feet slightly apart, measure from the crotch along the leg to the floor.</p>
          </div>
          <div>
            <h2>WAIST</h2>
            <p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
          </div>
       </div> <!-- Men's Pants -->
    </div>
    </div>
    
    <hr>

    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/pants-2-women_sizing_silhouette.jpg?9121854416257204588" alt="Fox Racing Men Size Chart" style="margin: 0 auto;"></p>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">
          <div><h2>WOMEN'S PANTS</h2></div>
          <div class="table_responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">1/2</th>
                    <th scope="col">3/4</th>
                    <th scope="col">5/6</th>
                    <th scope="col">7/8</th>
                    <th scope="col">9/10</th>
                    <th scope="col">11/12</th>
                    <th scope="col">13/14</th>
                  </tr>
                </thead>
                 <tbody>
                      <tr>
                          <td>A | Waist</td>
                          <td>25</td>
                          <td>26</td>
                          <td>27</td>
                          <td>28 1/2</td>
                          <td>30</td>
                          <td>31 1/2</td>
                          <td>33</td>
                        </tr>
                        <tr>
                          <td>B | INSEAM</td>
                          <td>29</td>
                          <td>29 1/2</td>
                          <td>29 1/2</td>
                          <td>30</td>
                          <td>30</td>
                          <td>30 1/2</td>
                          <td>30 1/2</td>
                        </tr>
                        <tr>
                          <td>C | HIP</td>
                          <td>35</td>
                          <td>36</td>
                          <td>37</td>
                          <td>38 1/2</td>
                          <td>40</td>
                          <td>41 1/2</td>
                          <td>43</td>
                        </tr>
                  </tbody>
              </table>
            </div><!-- Responsive Table -->

            <div>
              <h2>WAIST</h2>
              <p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
            </div>
            <div>
              <h2>INSEAM</h2>
              <p>While standing without shoes and with feet slightly apart, measure from the crotch along the leg to the floor.</p>
            </div>
            <div>
              <h2>HIP</h2>
              <p>With the tape measure, hold it level and legs straight. Measure the circumference at the fullest point.</p>
            </div>
         </div> <!-- Women's Pants -->
      </div>

      <hr>

      <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-3">
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/pants_sizing_silhouette.jpg?16589772405311061752" alt="Fox Racing Men Size Chart" style="margin: 0 auto;"></p>
        </div>

        <div class="col-sm-9 col-md-9 col-lg-9">
          <div><h2>YOUTH PANTS</h2></div>
          <div class="table_responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">4</th>
                    <th scope="col">5</th>
                    <th scope="col">6 (w22)</th>
                    <th scope="col">8 (w24)</th>
                    <th scope="col">10 (w26)</th>
                    <th scope="col">12 (w28)</th>
                  </tr>
                </thead>
                 <tbody>
                      <tr>
                          <td>A | Waist</td>
                          <td>21</td>
                          <td>21 1/2</td>
                          <td>23</td>
                          <td>24</td>
                          <td>26</td>
                          <td>28</td>
                        </tr>
                        <tr>
                          <td>B | HEIGHT</td>
                          <td>39-41</td>
                          <td>42-44</td>
                          <td>47-48</td>
                          <td>50-52</td>
                          <td>54-56</td>
                          <td>58-60</td>
                        </tr>
                  </tbody>
              </table>
            </div><!-- Responsive Table -->

            <div>
              <h2>INSEAM</h2>
              <p>While standing without shoes and with feet slightly apart, measure from the crotch along the leg to the floor.</p>
            </div>
            <div>
              <h2>YOUTH WAIST</h2>
              <p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
            </div>
         </div> <!-- Women's Pants -->
      </div>
</div>


<div role="tabpanel" class="tab-pane" id="SizeChartMotoTab3">

    <div class="row">

      <div class="col-sm-4 col-md-4 col-lg-4">
        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Fox Racing Helmet Size Chart" style="margin: 0 auto;" ></p>
        <p><center><code>* Measure the circumference</code></center></p>
      </div>
    
    <div class="col-sm-8 col-md-8 col-lg-8">
      <div>
          <h2>HELMETS</h2>
          <p>With tape measure level, measure the widest point of your head, approximately 1" above your eyebrows.</p>
      </div>

      <br>

      <div>
        <h2>MX14 HELMETS</h2>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">XS</th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XL</th>
                <th scope="col">XXL</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td></td>
              <td>20 7/8 - 21 1/4</td>
              <td>21 5/8 - 22</td>
              <td>22 1/5 - 22 7/8</td>
              <td>23 1/4 - 23 5/8</td>
              <td>24 - 24 3/8</td>
              <td>24 5/8 - 25 1/8</td>
            </tr>
            <tr>
              <td>Hat Size</td>
              <td>6 5/8 - 6 3/4</td>
              <td>6 7/8 - 7</td>
              <td>7 1/8 - 7 1/4</td>
              <td>7 3/8 - 7 1/2</td>
              <td>7 5/8 - 7 3/4</td>
              <td>7 7/8 - 8</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->
      </div>
    </div>
    
    <div class="divider divider--md"></div>
    
    <div>
        <h2>MEN'S HELMETS</h2>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">XS</th>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XL</th>
                <th scope="col">XXL</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td></td>
              <td>20 7/8 - 21 1/4</td>
              <td>21 1/4 - 22 1/8</td>
              <td>22 3/8 - 23 1/8</td>
              <td>23 1/4 - 23 3/4</td>
              <td>23 1/8 - 24 3/4</td>
              <td>24 1/8 - 25 3/4</td>
            </tr>
            <tr>
              <td>Hat Size</td>
              <td>6 5/8 - 6 7/8</td>
              <td>6 7/8 - 7 1/8</td>
              <td>7 1/8 - 7 3/8</td>
              <td>7 3/8 - 7 5/8</td>
              <td>7 5/8 - 7 7/8</td>
              <td>7 7/8 - 8 1/4</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->
      </div>

      <div>
        <h2>YOUTH HELMETS</h2>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">YS</th>
                <th scope="col">YM</th>
                <th scope="col">YL</th>
                <th scope="col">L</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td></td>
              <td>18 1/2 - 18 7/8</td>
              <td>19 1/4 - 19 3/4</td>
              <td>20 - 20 1/2</td>
            </tr>
            <tr>
              <td>Hat Size</td>
              <td>5 7/8 - 6</td>
              <td>6 1/8 - 6 1/4</td>
              <td>6 3/8 - 6 1/2</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->
    </div>

    <div>
        <h2>V3R / Rampage</h2>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
                <th scope="col">XL</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>21 1/4 - 22 1/8</td>
              <td>22 3/8 - 23 1/8</td>
              <td>23 1/4 - 23 3/4</td>
              <td>23 7/8 - 24 3/4</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->
      </div>

  </div>
</div>


<div role="tabpanel" class="tab-pane" id="SizeChartMotoTab4">

  <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/off-road-boots_sizing_silhouette.jpg?4899083561945738762" alt="Fox Racing Boots Size Chart" style="margin: 0 auto;" ></p>
        </div>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <div>
        <h2>SOCKS</h2>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">S</th>
                <th scope="col">M</th>
                <th scope="col">L</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>6 - 8</td>
              <td>8 - 10</td>
              <td>10 - 13</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->
        <div>
          <p><code>* Use your regular shoe size as a reference for all sock sizing.</code></p>
        </div>
      </div>

      <div>
        <h2>COMP 5</h2>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
              <th scope="col"></th>
                <th scope="col">8</th>
                <th scope="col">9</th>
                <th scope="col">10</th>
                <th scope="col">11</th>
                <th scope="col">12</th>
                <th scope="col">13</th>
                <th scope="col">14</th>
                <th scope="col">15</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>Measure</td>
              <td>9.9375</td>
              <td>10.25</td>
              <td>10.5625</td>
              <td>10.9375</td>
              <td>11.25</td>
              <td>11.5625</td>
              <td>11.875</td>
              <td>12.1875</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->

        <div>
              <h2>BOOTS MEASUREMENT</h2>
              <p>Use your regular shoe size as a reference. Boots are in Men's or Boy's sizes. If you are following the measurements, use a regular ruler. Make sure you are standing, wearing the socks you will wear with your new shoes or boots. Then convert the measurement to your shoe size using the above chart. Measurements are a guidline and do not guarantee the proper fit. Note, Fox boots are only offered in whole shoe sizes, so take this into consideration when using the measurement chart.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="divider divider--lg"></div>

  <div class="col-lg-12">
    <div>
      <h2>F3R BOOT</h2>
      <div class="table_responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th scope="col"></th>
                  <th scope="col">8</th>
                  <th scope="col">9</th>
                  <th scope="col">10</th>
                  <th scope="col">11</th>
                  <th scope="col">12</th>
                  <th scope="col">13</th>
                  <th scope="col">14</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>Measure</td>
                <td>9.9375</td>
                <td>10.25</td>
                <td>10.5625</td>
                <td>10.9375</td>
                <td>11.25</td>
                <td>11.5625</td>
                <td>11.875</td>
              </tr>
            </tbody>
            </table>
          </div><!-- Responsive Table -->
      </div>

      <div>
      <h2>WOMEN'S BOOTS</h2>
      <div class="table_responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th scope="col"></th>
                  <th scope="col">5</th>
                  <th scope="col">6</th>
                  <th scope="col">7</th>
                  <th scope="col">8</th>
                  <th scope="col">9</th>
                  <th scope="col">10</th>
                  <th scope="col">11</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>Measure</td>
                <td>8.5</td>
                <td>8.875</td>
                <td>9.25</td>
                <td>9.5</td>
                <td>9.875</td>
                <td>10.1875</td>
                <td>10.5</td>
              </tr>
            </tbody>
            </table>
          </div><!-- Responsive Table -->
      </div>
  
      <div>
      <h2>YOUTH COMP 5</h2>
      <div class="table_responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th scope="col"></th>
                  <th scope="col">Y1</th>
                  <th scope="col">Y2</th>
                  <th scope="col">Y3</th>
                  <th scope="col">Y4</th>
                  <th scope="col">Y5</th>
                  <th scope="col">Y6</th>
                  <th scope="col">Y7</th>
                  <th scope="col">Y8</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>Measure</td>
                <td>7.75</td>
                <td>8.125</td>
                <td>8.5</td>
                <td>8.75</td>
                <td>9.125</td>
                <td>9.5</td>
                <td>9.75</td>
                <td>9.9375</td>
              </tr>
            </tbody>
            </table>
          </div><!-- Responsive Table -->
      </div>

      <div>
      <h2>KID'S COMP 5</h2>
      <div class="table_responsive">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                <th scope="col"></th>
                  <th scope="col">k10</th>
                  <th scope="col">k11</th>
                  <th scope="col">k12</th>
                  <th scope="col">k13</th>
                </tr>
              </thead>
            <tbody>
              <tr>
                <td>Measure</td>
                <td>6.5</td>
                <td>6.75</td>
                <td>7.125</td>
                <td>7.5</td>
              </tr>
            </tbody>
            </table>
          </div><!-- Responsive Table -->
      </div>

  </div>
  <div class="divider divider--lg"></div>

</div>


<div role="tabpanel" class="tab-pane" id="SizeChartMotoTab5">

    <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Fox Racing Helmet Size Chart" style="margin: 0 auto;" ></p>
          <p><center><code>* Measure hand circumference without thumb</code></center></p>
        </div>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <h2>MEN'S GLOVES</h2>
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col">S (8)</th>
              <th scope="col">M (9)</th>
              <th scope="col">L (10)</th>
              <th scope="col">XL (11)</th>
              <th scope="col">XXL (12)</th>
              <th scope="col">XXXL (13)</th>
              <th scope="col">XXXXL (14)</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>7 1/8 - 7 3/8</td>
            <td>7 3/8 - 7 5/8</td>
            <td>7 5/8 - 7 7/8</td>
            <td>7 7/8 - 8 1/8</td>
            <td>8 1/8 - 8 3/8</td>
            <td>8 3/8 - 8 5/8</td>
            <td>8 5/8 - 8 7/8</td>
          </tr>
        </tbody>
        </table>
      </div><!-- Responsive Table -->

      <div>
        <h2>WOMEN'S GLOVES</h2>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col">S (8)</th>
                <th scope="col">M (9)</th>
                <th scope="col">L (10)</th>
                <th scope="col">XL (11)</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>6 5/8 - 6 7/8</td>
              <td>6 7/8 - 7 1/8</td>
              <td>7 1/8 - 7 3/8</td>
              <td>7 3/8 - 7 5/8</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->
      </div>

      <div>
            <h2>HAND LENGTH</h2>
            <p>Hand measure should be taken from the wrist to the end of the middle finger. If right-handed be sure to use right hand.</p>
      </div>
    </div>
  </div>
</div>


<div role="tabpanel" class="tab-pane" id="SizeChartMotoTab6">

    <div class="row">

    <div class="col-sm-4 col-md-4 col-lg-4">
        <div>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/jacket_sizing_silhouette.jpg?11126647207839764136" alt="Fox Racing Jacket Size Chart" style="margin: 0 auto;" ></p>
        </div>
    </div>

    <div class="col-sm-8 col-md-8 col-lg-8">
      <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">S</th>
              <th scope="col">M</th>
              <th scope="col">L</th>
              <th scope="col">XL</th>
              <th scope="col">XXL</th>
              <th scope="col">XXXL</th>
            </tr>
          </thead>
        <tbody>
          <tr>
            <td>A | Chest</td>
            <td>34-35</td>
            <td>36-38</td>
            <td>40-42</td>
            <td>44-46</td>
            <td>48-50</td>
            <td>52-54</td>
          </tr>
          <tr>
           <td>B | Sleeve</td>
            <td>31 1/2 - 32 1/2</td>
            <td>32 1/2 - 33 1/2</td>
            <td>33 1/2 - 34 1/2</td>
            <td>34 1/2 - 35 1/2</td>
            <td>35 1/2 - 36 1/2</td>
            <td>35 1/2 - 36 1/2</td>
          </tr>
          <tr>
           <td>C | Waist</td>
            <td>28-30</td>
            <td>31-33</td>
            <td>34-36</td>
            <td>38-40</td>
            <td>42-44</td>
            <td>46-48</td>
          </tr>
        </tbody>
        </table>
      </div><!-- Responsive Table -->

      <div>
          <h2>CHEST</h2>
          <p>With a tape measure, hold it level and measure around the fullest part of the chest, under the arms and around the shoulder blades.</p>
      </div>

      <div>
          <h2>CENTER BACK SLEEVE</h2>
          <p>With elbow slightly bent, measure from the center behind the neck, over the point of the shoulder, around the elbow and down the wrist.</p>
      </div>

      <div>
          <h2>WAIST</h2>
          <p>With a tape measure, hold it level and measure the circumference at the waist's natural bend.</p>
      </div>

    </div>
  </div>
</div>


<div role="tabpanel" class="tab-pane" id="SizeChartMotoTab7">

    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
          <div>
            <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/off-road-elbow-gaurds-sizing_silhouette.jpg?2789069833110202409" alt="Fox Elbow Guards Size Chart" style="margin: 0 auto;" ></p>
          </div>
      </div>

      <div class="col-sm-8 col-md-8 col-lg-8">
        <h1>ELBOW GUARDS MEASUREMENTS</h1>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Small/Medium</th>
                <th scope="col">Large/X-Large</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>A</td>
              <td>11" / 28cm</td>
              <td>13" / 30cm</td>
            </tr>
            <tr>
              <td>B</td>
              <td>8.5" / 22cm</td>
              <td>9" / 23cm</td>
            </tr>
             <tr>
              <td>C</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->

        <div>
            <h4><b>A</b> = Measure the circumference 6 inches <code>Above</code> Elbow Center</h4>
        </div>

        <div>
            <h4><b>B</b> = Measure the circumference 4 inches <code>Below</code> Elbow Center</h4>
        </div>

        <div>
            <h4><b>C</b> = Measure the circumference from center of wrist</h4>
        </div>
      </div>
  </div>
  <div class="divider divider--md"></div>

<hr>

<div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4">
          <div>
            <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/off-road-knee-gaurds-sizing_silhouette.jpg?12577462655744533755" alt="Fox Knee Guards Size Chart" style="margin: 0 auto;" ></p>
          </div>
      </div>

      <div class="col-sm-8 col-md-8 col-lg-8">
      <h1>KNEE GUARDS MEASUREMENTS</h1>
        <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Small/Medium</th>
                <th scope="col">Large/X-Large</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td>A</td>
              <td>15-16" / 39-41cm</td>
              <td>17-18" / 43-46cm</td>
            </tr>
            <tr>
              <td>B</td>
              <td>12.5"-13" / 32cm-33cm</td>
              <td>14"-15" / 36-38cm</td>
            </tr>
            <tr>
              <td>C</td>
              <td>N/A</td>
              <td>N/A</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->

        <div>
            <h4><b>A</b> = Measure the circumference 4 inches <code>Above</code> Knee Center</h4>
        </div>

        <div>
            <h4><b>B</b> = Measure the circumference 4 inches <code>Below</code> Knee Center</h4>
        </div>

        <div>
            <h4><b>C</b> = Length of Pad</h4>
        </div>
      </div>
  </div>


</div>

</div> <!-- SizeChartTab1 -->
</div>
<div class="divider divider--md"></div>


<div role="tabpanel" class="tab-pane" id="SizeChartTab6">

  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
      <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Fox Racing Bike Helmets"></center>
    </div>
    
   <div class="col-sm-8 col-md-8 col-lg-8">
    <div>
          <h1>HELMETS</h1>
          <p>With tape measure level, measure the widest point of your head, approximately 1" above your eyebrows.</p>
    </div>
    

    <div class="table_responsive">
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">X-Small</th>
                <th scope="col">Small</th>
                <th scope="col">Medium</th>
                <th scope="col">Large</th>
                <th scope="col">X-Large</th>
                <th scope="col">XX-Large</th>
              </tr>
            </thead>
          <tbody>
            <tr>
              <td></td>
              <td>20 7/8 - 21 1/4</td>
              <td>21 1/4 - 22 1/8</td>
              <td>22 3/8 - 23 1/8</td>
              <td>23 1/4 - 23 3/4</td>
              <td>23 1/8 - 24 3/4</td>
              <td>24 1/8 - 25 3/4</td>
            </tr>
            <tr>
              <td>Hat Size</td>
              <td>6 5/8 - 6 7/8</td>
              <td>6 7/8 - 7 1/8</td>
              <td>7 1/8 - 7 3/8</td>
              <td>7 3/8 - 7 5/8</td>
              <td>7 5/8 - 7 7/8</td>
              <td>7 7/8 - 8 1/4</td>
            </tr>
          </tbody>
          </table>
        </div><!-- Responsive Table -->
      </div>
  </div>
</div> <!-- SizeChartTab2 End -->

<p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  
</div>