<ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Adult </a></li>
<li class=""><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Youth</a></li>

</ul>


<div class="tab-content tab-content--ys Sbs_sizechart">


<div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="LS2 Mens Size Charts" title="LS2 Mens Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">Helmets</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th>Size              </th>
        <th>Circumference (cm)</th>
        <th>Circumference (in)</th>
        </tr>
      </thead>
     <tbody>
        <tr>
         <td>2X-Small     </td>
        <td>51 - 52      </td>
        <td>20 - 20 1/2</td>
        </tr>
        <tr>
            <td>X-Small      </td>
        <td>53 - 54      </td>
        <td>20 7/8 - 21 1/4</td>
        </tr>
        <tr>
       <td>Small        </td>
        <td>55 - 56      </td>
        <td>21 5/8 - 22</td>
        </tr>
        <tr>
  <td>Medium       </td>
        <td>57 - 58      </td>
        <td>22 1/2 - 22 7/8</td>
        </tr>
           <tr>
   <td>Large        </td>
        <td>59 - 60      </td>
        <td>23 1/4 - 23 5/8</td>

        </tr>
          <tr>
    <td>X-Large      </td>
        <td>61 - 62      </td>
        <td>24 - 24 3/8</td>

        </tr>
     <tr>
    <td>2X-Large     </td>
        <td>63 - 64      </td>
        <td>24 3/4 - 25 1/4</td>

        </tr>

     <tr>
    <td>3X-Large     </td>
        <td>65 - 66      </td>
        <td>25 5/8 - 26</td>

        </tr>

    </tbody>
    </table>

    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
        </div><!-- Responsive Table -->
     </div>
   </div>
   
</div><!-- SizeChartMenTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3">
 <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="LS2 Youth Size Charts" title="LS2 Youth Size Charts" style="margin: 0 auto;"/>
</div>
<div class="col-sm-9 col-md-9 col-lg-9">
<h4 style="text-transform:uppercase;font-weight: bold;">Helmets</h4>
    <div class="table_responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
         <th>Size              </th>
        <th>Circumference (cm)</th>
        <th>Circumference (in)</th>
        </tr>
      </thead>
     <tbody>
        <tr>
      <td>Small        </td>
      <td>49 - 50      </td>
      <td>19 1/4 - 19 3/4</td>
        </tr>
        <tr>
         <td>Medium       </td>
      <td>51 - 52      </td>
      <td>20 - 20 1/2</td>
        </tr>
        <tr>
      <td>Large        </td>
      <td>53 - 54      </td>
      <td>20 7/8 - 21 1/4</td>
        </tr>
    </tbody>
    </table>
        </div><!-- Responsive Table -->
    </div>

       <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
      
     
   </div>

</div><!-- SizeChartMenTab2 -->








</div><!-- ys -->