<style>
  .new_davz_wall_collection_list{
    /* font-family: "hurme-regular"; */
    text-transform: uppercase;
    font-size: .90em;
    color: #222;
    letter-spacing: .110em;
    display: block;
    width: 100%;
    transition: all .5s ease 0s;
    padding: 5px;
    margin-left: 18px;
  }
  .hide-collection li:before{
    display: none;
    vertical-align: middle;
    float: left;
    color: black;
    font-family: 'Material Icons';
    -webkit-font-feature-settings: 'liga';
    content: "\e019";
    font-size: .80em;
    transition: all .5s ease 0s;
    position: relative;
    top: 7px; 
  }

  #more_info{
    display:none; 
  }
</style>

{% if "logo" == condition %}

<a href = "/collections/ls2">
<img class="img-responsive hidden-xs hidden-sm hidden-md center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/main_banner_d0a8d606-d91b-4276-b7ed-4a1fa83678ff.jpg?v=1615334421" alt="LS2 Helmets Motorcycle Gear & Accessories" title =  "LS2 Helmets Motorcycle Gear & Accessories">
<img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/main_banner_mobile_9dc2149e-8fca-4aca-a9d5-6bdf322369f9.jpg?v=1615355992" alt="LS2 Helmets Motorcycle Gear & Accessories" title =  "LS2 Helmets Motorcycle Gear & Accessories">
</a>


{% elsif "header" == condition %}

<div class="wall-list-menu">
  <ul>
    <li><a href="#collections" scrollthis="#collections" id = "nav-collection">Collections</a></li>
    <li><a href="#new-arrivals" scrollthis="#new-arrivals" id = "nav-new-arrivals">New Arrivals</a></li>
    <li><a href="#lookbooks"  scrollthis="#lookbooks" id = "nav-lookbooks">Lookbooks</a></li>
<!--     <li><a href="#more_info" scrollthis="#more_info" id = "nav-more-info">More Info</a></li> -->
    <li><a href="#sizing-guide" scrollthis="#sizing-guide" id = "nav-sizing-guide">Sizing Guide</a></li>
    <li><a href="/collections/ls2" >Shop All</a></li>
  </ul>
  <hr class ="faded-hr">
</div>


<nav class="cd-vertical-nav">
  <ul>
    <li><a href="#top" class="active"><span class="label">Top</span></a></li>
    <li><a href="#collections"><span class="label">Collections</span></a></li>
    <li><a href="#new-arrivals"><span class="label">New Arrivals</span></a></li>
    <li><a href="#lookbooks"><span class="label">Lookbooks</span></a></li>
<!--     <li><a href="#more_info"><span class="label">More Info</span></a></li> -->
    <li><a href="#sizing-guide"><span class="label">Sizing Guide</span></a></li>

  </ul>
</nav><!-- .cd-vertical-nav -->




{% elsif "collection" == condition %}

<div class ="desktop hidden-sm hidden-xs" style="margin-top: -25px;">
<div class = "container-fluid">
  <div class ="row">

    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/ls2-cruiser-helmets-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">CRUISER HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser-helmet.jpg?v=1615342455">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/ls2-off-road-helmets-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">OFF-ROAD HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ls2-off-road-helmets.jpg?v=1615347016">
        </a>
      </div>
    </div>
    <div class ="divider"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/ls2-street-helmets-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">STREET HELMETS</h1>
          </div>
          <span class = "fade-background">&nbsp;</span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ls2-street-helmets.jpg?v=1615351734">
        </a>
      </div>
    </div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class = "collection-background">
        <a href = "https://motorhelmets.com/collections/ls2-helmet-accessories-collection">
          <div class = "collection-text-holder">
            <h1 class = "fox-collection-text">HELMET ACCESSORIES</h1>
          </div>
          <span class = "fade-background">&nbsp;
          </span>
          <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ls2-helmet-accessories.jpg?v=1615354824">
        </a>
      </div>
    </div>
  </div>

</div>

</div>


<div class ="mobile hidden-md hidden-lg hidden-xl">
  <div class ="row">

    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/ls2-cruiser-helmets-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">CRUISER HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;
            </span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser-helmet-mobile.jpg?v=1615342455">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/ls2-off-road-helmets-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">OFF-ROAD HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/off-road-helmets-mobile.jpg?v=1615347016">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/ls2-street-helmets-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">STREET HELMETS</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ls2-street-helmets-mobile.jpg?v=1615351734">
          </a>
        </div>
      </div>
    </div>
    <div class = "divider divider--sm hidden-lg hidden-xl"></div>
    <div class = "col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
      <div class ="row">
        <div class = "collection-background">
          <a href = "https://motorhelmets.com/collections/ls2-helmet-accessories-collection">
            <div class = "collection-text-holder">
              <h1 class = "mobile-collection-text">HELMET ACCESSORIES</h1>
            </div>
            <span class = "fade-background">&nbsp;</span>
            <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ls2-helmet-accessories-mobile.jpg?v=1615354824">
          </a>
        </div>
      </div>
    </div>

  </div>
</div>



<div class="divider divider--sm"></div>



{% elsif "lookbooks" == condition %}

{% assign totalLookbookCount = blogs['lookbook'].articles_count %}
{% assign counter = 0 %}
{% paginate blogs['lookbook'].articles by totalLookbookCount %}
{% for article in blogs['lookbook'].articles %}
{% if counter < 6 and article.tags contains 'LS2' or article.tags contains 'ls2' %}
{% assign counter = counter | plus: 1 %}
<div class="col-sm-2 col-md-2 col-lg-2">

  <a class="TeaserGrid-itemLink" href="{{ article.url }}" title="{{ article.title | escape }}"> 
    <div>
      {{ article.image.src | img_url: 'large' | img_tag: article.title , 'TeaserGrid-img img-responsive' }}
    </div>

    <div class="TeaserGrid-content" style="margin-top: 6px;">
      <h4 class="TeaserGrid-heading">{{ article.title }}</h4>
    </div>                       
  </a>

</div>



{% endif %}
{% endfor %}
{% endpaginate %}

<div class="divider divider--md"></div>
<div class="visible-xs text-center" id="dmore-lb">
  <a href="/search?type=article&q=ls2" class="btn btn--ys btn--xl obs_show_more_btn text-center margin_top-50"></a>
</div>





{% elsif "brand_sizing_guide" == condition %}
<div class="divider divider--md"></div>
<section id="section-sizingchart" class="section_table cd-section">

  <div class ="row">


    {% include "page.ls2-size-chart" %}
  </div>
  <div class="text-center">
    <div class="container wall-brand-desc-content">
      <div class ="row">
        {%comment%}<img class="img_centered" src="https://cdn.shopify.com/s/files/1/1223/6434/files/logo-ls2.jpg?v=1615356691" alt="">
        <div class="divider divider--lg"></div>
        {%endcomment%}
        <div class ="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-md-offset-4 col-lg-offset-4 col-xl-offset-4">
          <div class ="row">
            <img class ="img-responsive text-center" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/logo-ls2.jpg?v=1615356691">
          </div>
        </div>
        <div class="divider divider--lg"></div>
        <div class ="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-md-offset-2 col-lg-offset-2 col-xl-offset-2">
          <div class= "row">
            <p>Year 1990 - Mr. Arthur Liao invested about 350 Euros and started his fledgling helmet business in a tiny house of less than 600 square feet. At that time he could only afford to hire one employee, Mr. Peng Zheng. Twenty years later, Peng is still working for the company. Together they started to manufacture their first helmets from this small rural workshop.</p>
            <div class = "hidden-content">
              <p>Year 1992 - Demand for the helmets increased fast. To capitalize on this Arthur needed to expand the business. He leased a 4000 sq. ft factory, and recruited another 100 personnel to the team. Meanwhile, Mr. Stephan Liao (Arthur's brother) joined the management and strived to develop and prepare for future business.</p>
              <p>Year 1994 - Our helmets are sold throughout the country. Our trademark FENGXING had played a very important role in the domestic market and our helmets had been a huge success all over the country. That year, we finally moved into our own 18000 sq ft purpose built factory.</p>
              <p>Year 1997 - As the first pioneer in helmet industry in China, Arthur had already turned his vision to the global market and changed his helmet trademark to MHR . To be taken seriously in the global market required serious and ambitious investment to modernize the factory, it apos;s machinery and technology. This investment paid off with international praise and recognition for MHR apos;s products.</p>
              <p>Year 1999 - As the business continued to grow rapidly Arthur realized that he could not continue to expand the factory alone. He requested his other brother, Mr. Paul Liao, join to manageapos;s further expansion, bringing with him a wealth of knowledge gained in his own successful business.Paul joined MHR on June 28, a very momentous occasion which meant MHR would truly become a family firm and also laid the foundation for today apos;s achievements at MHR.</p>
              <p>Year 2000 - MHR was proud to gain ISO9000 accreditation. MHR now owned and controlled, in house, all new conceptions and technologies for helmet production. Including plastic injection, composite treatment, painting, testing and so on. The whole systematized management from raw material to a finished helmet under one roof.</p>
              <p>Year 2005 - As the business continued to grow, Arthur and Paul made a multimillion dollar investment to establish JIANGMEN PENGCHENG HELMETS, LTD. (JPH), JPH wholly owns a 330,000 sq. ft State of the art factory with over 1,000 employees, producing more than 2 million helmets a year.</p>
              <p>Year 2017 - A landmark year. We realized that sooner or later our enterprise would inevitably perish if we continued to manufacture only OEM and ODM products in the future; therefore we decided to create and sell our own brand to the world. But, how and where to start? Using the abbreviation of LIAO apos;S SYSTEM as the brand, LS2 was conceived, born and registered worldwide. Meanwhile the head office of LS2 was established in Barcelona, Spain. LS2 helmets also exhibited for the first time at the EICMA show in Milan, Italy. From that day, LS2 helmets demonstrated its courage, passion and determination to step into the global market!</p>
              <p>Year 2010 - Sees LS2 Helmets continued development and expansion with the acquisition of a 30,000 sq. ft. warehouse in Chicago, Illinois, USA. and set up of a new team to take LS2 helmets to the American and Canadian consumers.</p>
             </div>
            <div class = "divider divider--md"></div>
            <div class = "show-hide-content"><span><h5><a href="javascript:void(0)" class ="store-learn-more">LEARN MORE</a></h5></span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>





{% elsif "brand_story" == condition %}
<div class="text-center">
  <img class="img_centered" src="https://cdn.shopify.com/s/files/1/1299/2659/files/fox-wall-about.jpg?18375403887289279353" alt="">
</div>



{% endif %}

<script>

  jQuery(function($){  
    $j("#nav-collection").focus();
    $j('#helmet-collections').hover(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','black');
      $j('.helmets-text').css('color','black');
    });
    $j('#helmet-collections').mouseleave(function(){
      $j('.scorpion-helmets-st1, .scorpion-helmets-st2').css('stroke','#6b6b6b');
      $j('.helmets-text').css('color','#3a3a3a');
    });
    $j('#jacket-collections').hover(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','black');
      $j('.jackets-text').css('color','black');
    });
    $j('#jacket-collections').mouseleave(function(){
      $j('.scorpion-jackets-st1, .scorpion-jackets-st2, .scorpion-jackets-st3, .scorpion-jackets-st4, .scorpion-jackets-st5').css('stroke','#6b6b6b');
      $j('.jackets-text').css('color','#3a3a3a');
    });
    $j('#gloves-collections').hover(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','black');
      $j('.gloves-text').css('color','black');
    });
    $j('#gloves-collections').mouseleave(function(){
      $j('.scorpion-gloves-st3, .scorpion-gloves-st4, .scorpion-gloves-st5, .scorpion-gloves-st7').css('stroke','#6b6b6b');
      $j('.gloves-text').css('color','#3a3a3a');
    });
    $j('#pants-collections').hover(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','black');
      $j('.pants-text').css('color','black');
    });
    $j('#pants-collections').mouseleave(function(){
      $j('.scorpion-pants-st1, .scorpion-pants-st2').css('stroke','#6b6b6b');
      $j('.pants-text').css('color','#3a3a3a');
    });
    $j('.more-info-title').unbind().click(function(){
      var text_toggle = $j(this).find(".material-icons").html();
      $j(this).find(".material-icons").html(text_toggle == "keyboard_arrow_right" ? "keyboard_arrow_down" : "keyboard_arrow_right");
      $j(this).siblings().toggle("fast");
    });
    $j('.show-hide-content').unbind().click(function(){
      var text_toggle = $j(this).find(".store-learn-more").html();
      $j(this).find(".store-learn-more").html(text_toggle == "LEARN MORE" ? "SHOW LESS" : "LEARN MORE");
      $j('.hidden-content').toggle("fast");
    });
    $j('.collection-background').hover(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(-100%)');
      $j(this).find("h1").addClass('active');
    });
    $j('.collection-background').mouseleave(function(){
      $j(this).find('.fade-background').css('transform', 'translatex(0%)');
      $j(this).find("h1").removeClass('active');
    });


  });
</script>