<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
              margin-top: -230px;
          }
    } 
</style>


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>
  <li ><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>
  <li ><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Synergy 2.0</a></li>
  <li ><a href="#SizeChartTab5" role="tab"data-toggle="tab" class="text-uppercase">Rain Suits</a></li>
  <li ><a href="#SizeChartTab6" role="tab"data-toggle="tab" class="text-uppercase">Gloves</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  
<div role="tabpanel" class="tab-pane active" id="SizeChartTab2">


<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#MensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
  <li ><a href="#MensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  
</ul>
 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="MensJackets">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-tourmaster-jackets.jpg?17239009721412492140" alt="Tour Master Jackets Size Charts" title="Tour Master Jackets Size Charts" style="margin: 0 auto;width:80%;"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">JACKETS</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th>Size       </th>
                  <th>A.| Chest (in) </th>
                  <th>B.| Waist (in) </th>
                  <th>C.| Sleeve (in)   </th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>XS   </td>
                  <td>38-40</td>
                  <td>30.5 </td>
                  <td>24   </td>
                  </tr>
                  <tr>
                      <td>SM   </td>
                  <td>40-42</td>
                  <td>32.5 </td>
                  <td>24.5 </td>
                  </tr>
                    <tr>
                        <td>MD   </td>
                  <td>42-44</td>
                  <td>34.5 </td>
                  <td>25   </td>
                  </tr>
                  <tr>
                        <td>LG   </td>
                  <td>44-46</td>
                  <td>36.5 </td>
                  <td>25.5 </td>
                  </tr>
                  <tr>
                        <td>XL   </td>
                  <td>46-48</td>
                  <td>38.5 </td>
                  <td>26   </td>
                  </tr>
                  <tr>
                        <td>2XL  </td>
                  <td>48-50</td>
                  <td>42.5 </td>
                  <td>26.5 </td>
                  </tr>
                  <tr>
                        <td>3XL  </td>
                  <td>50-52</td>
                  <td>44.5 </td>
                  <td>27   </td>
                  </tr>
                  <tr>
                      <td>4XL  </td>
                  <td>52-54</td>
                  <td>46.5 </td>
                  <td>27.5 </td>
                  </tr>
                  <tr>
                        <td>MDT  </td>
                  <td>42-44</td>
                  <td>34.5 </td>
                  <td>27   </td>
                  </tr>
                  <tr>
                        <td>LGT  </td>
                  <td>44-46</td>
                  <td>36.5 </td>
                  <td>27.5 </td>
                  </tr>
                  <tr>
                    <td>XLT  </td>
                  <td>46-48</td>
                  <td>38.5 </td>
                  <td>28   </td>
                  </tr>
                  <tr>
                        <td>2XT  </td>
                  <td>48-50</td>
                  <td>42.5 </td>
                  <td>28.5 </td>
                  </tr>
                  <tr>
                      <td>3XT  </td>
                  <td>50-52</td>
                  <td>44.5 </td>
                  <td>29   </td>
                  </tr>
            </tbody>
          </table>
          
         
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
  </div> <!-- MensPants -->

<div role="tabpanel" class="tab-pane" id="MensPants">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-tourmaster-pants.jpg?399004753125513052" alt="Tour Master Pants Size Charts" title="Tour Master Pants Size Charts" style="margin: 0 auto;width: 80%;"/>
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">Pants </h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>Size       </th>
                  <th>A.| Waist (in) </th>
                  <th>B.| Inseam (in)</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                        <td>XS   </td>
                  <td>28-30</td>
                  <td>30.5 </td>
                  </tr>
                  <tr>
                      <td>SM   </td>
                  <td>30-32</td>
                  <td>31   </td>
                  </tr>
                    <tr>
                        <td>MD   </td>
                  <td>32-34</td>
                  <td>31.5 </td>
                  </tr>
                  <tr>
                        <td>LG   </td>
                  <td>34-36</td>
                  <td>32   </td>
                  </tr>
                  <tr>
                        <td>XL   </td>
                  <td>36-38</td>
                  <td>32.5 </td>
                  </tr>
                  <tr>
                        <td>2XL  </td>
                  <td>38-40</td>
                  <td>33   </td>
                  </tr>
                  <tr>
                        <td>3XL  </td>
                  <td>40-42</td>
                  <td>33   </td>
                  </tr>
                  <tr>
                        <td>4XL  </td>
                  <td>42-44</td>
                  <td>33   </td>
                  </tr>
                  <tr>
                        <td>MDT  </td>
                  <td>32-34</td>
                  <td>33.5 </td>
                  </tr>
                  <tr>
                        <td>LGT  </td>
                  <td>34-36</td>
                  <td>34   </td>
                  </tr>
                  <tr>
                <td>XLT  </td>
                <td>36-38</td>
                <td>34.5 </td>
                  </tr>
                  <tr>
                      <td>2)(T </td>
                <td>38-40</td>
                <td>35   </td>
                  </tr>
                  <tr>
                        <td>3XT  </td>
                <td>40-42</td>
                <td>35   </td>

                  </tr>
                    <tr>
                        <td>4XT  </td>
                <td>42-44</td>
                <td>35   </td>

                  </tr>
                    <tr>
                        <td>MDS  </td>
                <td>32-34</td>
                <td>29.5 </td>

                  </tr>
                    <tr>
                        <td>LGS  </td>
                <td>34-36</td>
                <td>30   </td>

                  </tr>
                    <tr>
                        <td>XLS  </td>
                <td>36-38</td>
                <td>30.5 </td>

                  </tr>
                    <tr>
                        <td>2XLS </td>
                <td>38-40</td>
                <td>31   </td>

                  </tr>
                    <tr>
                      <td>3XLS </td>
                <td>40-42</td>
                <td>31   </td>

                  </tr>
                    <tr>
                      <td>4XLS </td>
                <td>42-44</td>
                <td>31   </td>

                  </tr>
            </tbody>
          </table>
          
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
   </div>
  </div> 
</div> <!-- MensPants -->
</div>
</div> <!-- SizeChartTab2 -->

<!-- start womens -->
<div role="tabpanel" class="tab-pane" id="SizeChartTab3">

  <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#WoMensJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
  <li ><a href="#WoMensPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
</ul>

 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="WoMensJackets">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-tourmaster-jackets-wonens.jpg?4791785585026527359" alt="Tour Master Jackets Size Charts" title="Tour Master Jackets Size Charts" style="margin: 0 auto;width:94%;"/>
    
    </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
          <h4 style="text-transform:uppercase;font-weight:bold;">JACKETS</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th>Size           </th>
                  <th>A.| Chest (in) </th>
                  <th>B.| Waist (in) </th>
                  <th>C.| Sleeve (in)   </th>
                  <th>D.| Hips (in)  </th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>XS   </td>
                  <td>32-34</td>
                  <td>28   </td>
                  <td>24   </td>
                  <td>35   </td>
                  </tr>
                  <tr>
                    <td>SM   </td>
                  <td>34-36</td>
                  <td>30   </td>
                  <td>24.5 </td>
                  <td>37   </td>
                  </tr>
                    <tr>
                      <td>MD   </td>
                  <td>36-38</td>
                  <td>32   </td>
                  <td>25   </td>
                  <td>39   </td>
                  </tr>
                  <tr>
                  <td>LG   </td>
                  <td>38-40</td>
                  <td>34   </td>
                  <td>25.5 </td>
                  <td>41   </td>
                  </tr>
                  <tr>
                      <td>XL   </td>
                  <td>40-42</td>
                  <td>36   </td>
                  <td>26   </td>
                  <td>43   </td>
                  </tr>
                  <tr>
                      <td>SM   </td>
                  <td>38-42</td>
                  <td>40   </td>
                  <td>24.5 </td>
                  <td>41   </td>
                  </tr>
                  <tr>
                      <td>MD   </td>
                  <td>42-46</td>
                  <td>42   </td>
                  <td>25   </td>
                  <td>43   </td>
                  </tr>
                  <tr>
                      <td>LG   </td>
                  <td>46-50</td>
                  <td>44   </td>
                  <td>25.5 </td>
                  <td>45   </td>
                  </tr>
                  <tr>
                  <td>SMT  </td>
                  <td>34-36</td>
                  <td>30   </td>
                  <td>26.5 </td>
                  <td>37   </td>
                  </tr>
                  <tr>
                      <td>MDT  </td>
                  <td>36-38</td>
                  <td>32   </td>
                  <td>27   </td>
                  <td>39   </td>
                  </tr>
                  <tr>
                    <td>LGT  </td>
                  <td>38-40</td>
                  <td>34   </td>
                  <td>27.5 </td>
                  <td>41   </td>

                  </tr>
            </tbody>
          </table>         
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
  </div> <!-- womemens Jocket -->

  <div role="tabpanel" class="tab-pane" id="WoMensPants">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-apparel-tourmaster-pants-womens.jpg?4791785585026527359" alt="Tour Master Gloves Size Charts" title="Tour Master Gloves Size Charts" style="margin: 0 auto;width:94%;"/>
      
    </div>

    <div class="col-sm-10 col-md-10 col-lg-10">
          <h4 style="text-transform:uppercase;font-weight:bold;">Pants</h4>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>Size     </th>
                  <th>Waist</th>
                  <th>Inseam</th>
                  <th>Tall Inseam</th>

              </tr>
            </thead>
              <tbody>
                
                     <tr>
                      <td>XS   </td>
                <td>6-8  </td>
                <td>30   </td>
                <td>32   </td>
                  </tr>
                  <tr>
                    <td>SM   </td>
                <td>8-10 </td>
                <td>30.5 </td>
                <td>32.5 </td>
                  </tr>
                    <tr>
                      <td>MD   </td>
                <td>10-12</td>
                <td>31   </td>
                <td>33   </td>
                  </tr>
                  <tr>
                  <td>LG   </td>
                <td>12-14</td>
                <td>31.5 </td>
                <td>33.5 </td>
                  </tr>
                  <tr>
                      <td>XL   </td>
                <td>14-16</td>
                <td>32   </td>
                <td>34   </td>
                  </tr>
                
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
       </div><!-- Responsive Table --> 
             
    </div>
    </div> 
          
   
  </div> <!-- MensPants -->

</div>
</div> <!-- SizeChartTab3 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">

  <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SynerJackets" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
  <li ><a href="#SynerPants" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
</ul>

 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="SynerJackets">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tourmaster-synergy-jarcket.jpg?3950334488390124873" alt="Tour Master Synergy Jackets Size Charts" title="Tour Master Synergy Jackets Size Charts" style="margin: 0 auto;width:94%;"/>
    
    </div>
          <div class="col-sm-8 col-md-8 col-lg-8">
          <h4 style="text-transform:uppercase;font-weight:bold;">JACKETS</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th>Size           </th>
                  <th>A.| Chest (in)</th>
                  <th>B.| Abdomen (in)</th>
                  <th>C.| Sleeve (in)</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>2XS</td>
                  <td>36</td>
                  <td>38</td>
                  <td>25</td>
                  </tr>
                  <tr>
                    <td>XSM</td>
                  <td>38</td>
                  <td>40</td>
                  <td>25.5</td>
                  </tr>
                    <tr>
                      <td>SM</td>
                  <td>40</td>
                  <td>42</td>
                  <td>26</td>
                  </tr>
                  <tr>
                  <td>MD</td>
                  <td>42</td>
                  <td>44</td>
                  <td>26.5</td>
                  </tr>
                  <tr>
                      <td>LG</td>
                  <td>44</td>
                  <td>46</td>
                  <td>27</td>
                  </tr>
                  <tr>
                      <td>XL</td>
                  <td>46</td>
                  <td>50</td>
                  <td>27.5</td>
                  </tr>
                  <tr>
                      <td>2XL</td>
                  <td>50</td>
                  <td>53</td>
                  <td>27.5</td>
                  </tr>
                  <tr>
                      <td>3XL</td>
                  <td>53 </td>
                  <td>56 </td>
                  <td>28 </td>
                  </tr>
                  <tr>
                  <td>4XL</td>
                  <td>56 </td>
                  <td>59 </td>
                  <td>28 </td>
                  </tr>
            </tbody>
          </table>         
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
  </div> <!-- womemens Jocket -->

  <div role="tabpanel" class="tab-pane" id="SynerPants">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tourmaster-synergy-pants.jpg?3950334488390124873" alt="Tour Master Synergy Pants Size Charts" title="Tour Master Synergy Pants Size Charts" style="margin: 0 auto;width:94%;"/>
      
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">Pants</h4>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>Size     </th>
                  <th>A.| Waist (in)</th>
                  <th>B.| Inseam (in)</th>

              </tr>
            </thead>
              <tbody>
                
                     <tr>
                      <td>2XS  </td>
                  <td>—    </td>
                  <td>—    </td>
                  </tr>
                  <tr>
                    <td>XSM  </td>
                  <td>28-30</td>
                  <td>23</td>
                  </tr>
                    <tr>
                      <td>SM</td>
                  <td>30-32</td>
                  <td>23</td>
                  </tr>
                  <tr>
                <td>MD</td>
                  <td>32-34</td>
                  <td>23.5</td>
                  </tr>
                  <tr>
                      <td>LG   </td>
                  <td>34-36</td>
                  <td>24</td>
                  </tr>
                  <tr>
                      <td>XL</td>
                  <td>36-38</td>
                  <td>24.5</td>
                  </tr>
                  <tr>
                      <td>2XL  </td>
                  <td>38-40</td>
                  <td>25 </td>
                  </tr>
                  <tr>
                      <td>3XL</td>
                  <td>40-42</td>
                  <td>25 </td>
                  </tr>
                  <tr>
                      <td>4XL</td>
                  <td>42-44</td>
                  <td>25</td>
                  </tr>
                
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
       </div><!-- Responsive Table --> 
             
    </div>
    </div> 
          
   
  </div> <!-- MensPants -->

</div>
</div> <!-- SizeChartTab4 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab5">

  <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#Rainsuit1" role="tab"data-toggle="tab" class="text-uppercase">ELITE SERIES II 1-PIECE</a></li>
  <li ><a href="#Rainsuit2" role="tab"data-toggle="tab" class="text-uppercase">Jackets</a></li>
  <li ><a href="#Rainsuit3" role="tab"data-toggle="tab" class="text-uppercase">Pants</a></li>
  <li ><a href="#Rainsuit4" role="tab"data-toggle="tab" class="text-uppercase">SENTINEL LADIES</a></li>
  
</ul>

 <div class="tab-content tab-content--ys">    
  <div role="tabpanel" class="tab-pane active" id="Rainsuit1">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tourmaster-synergy-rainsuit.jpg?8747723197684278231" alt="Tour Master Synergy Jackets Size Charts" title="Tour Master Synergy Jackets Size Charts" style="margin: 0 auto;width:94%;"/>
    
    </div>
          <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">ELITE SERIES II 1-PIECE</h4>
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th>Size           </th>
                  <th>XSM</th>
                  <th>SM </th>
                  <th>MD </th>
                  <th>LG </th>
                  <th>XL </th>
                  <th>2XL</th>
                  <th>3XL</th>
                  <th>4XL</th>

                  
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>A.| CHEST (BELOW ARM HOLES)</td>
                  <td>47.5                   </td>
                  <td>48                     </td>
                  <td>49                     </td>
                  <td>50.5                   </td>
                  <td>52                     </td>
                  <td>53.5                   </td>
                  <td>55                     </td>
                  <td>56.5                   </td>
                  </tr>
                  <tr>
                    <td>C.| SLEEVE LENGTH          </td>
                <td>30                     </td>
                <td>31                     </td>
                <td>32                     </td>
                <td>33                     </td>
                <td>34                     </td>
                <td>35                     </td>
                <td>36                     </td>
                <td>36                     </td>
                  </tr>
                    <tr>
                      <td>C.| WAIST (RELAXED)        </td>
                <td>40                     </td>
                <td>41                     </td>
                <td>42.5                   </td>
                <td>44                     </td>
                <td>45                     </td>
                <td>47                     </td>
                <td>49                     </td>
                <td>51                     </td>
                                  </tr>
                  <tr>
                  <td>WAIST (FULLY EXTENDED) </td>
                  <td>46                     </td>
                  <td>47.5                   </td>
                  <td>49                     </td>
                  <td>50                     </td>
                  <td>51.5                   </td>
                  <td>53                     </td>
                  <td>54                     </td>
                  <td>55                     </td>
                  </tr>
                  <tr>
                      <td>D.| INSEAM                 </td>
                <td>28.5                   </td>
                <td>29                     </td>
                <td>29.5                   </td>
                <td>31                     </td>
                <td>31.5                   </td>
                <td>32                     </td>
                <td>33                     </td>
                <td>34 </td>
                  </tr>
            </tbody>
          </table>         
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
    </div>
  </div> 
   
  </div> <!-- womemens Jocket -->

  <div role="tabpanel" class="tab-pane" id="Rainsuit2">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tourmaster-synergy-rainsuit-jacket.jpg?10980857039820415565" alt="Tour Master Rain Suit Jackets Size Charts" title="Tour Master Rain Suit Jackets Pants Size Charts" style="margin: 0 auto;width:94%;"/>
      
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;"> ELITE SERIES II 2-PIECE, DEFENDER 2-PIECE, SENTINEL & PVC</h4>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>Size     </th>
                  <th>2XS</th>
                  <th>XSM</th>
                  <th>SM </th>
                  <th>MD </th>
                  <th>LG </th>
                  <th>XL </th>
                  <th>2XL</th>
                  <th>3XL</th>
                  <th>4XL</th>

              </tr>
            </thead>
              <tbody>
                
                     <tr>
                      <td>A.| CHEST (BELOW ARM HOLES)</td>
                  <td>47</td>
                  <td>47</td>
                  <td>49</td>
                  <td>50.5</td>
                  <td>52  </td>
                  <td>53.5</td>
                  <td>55  </td>
                  <td>56.5</td>
                  <td>58</td>
                  </tr>
                  <tr>
                    <td>B.| SLEEVE LENGTH</td>
                  <td>31  </td>
                  <td>31.5</td>
                  <td>32  </td>
                  <td>33  </td>
                  <td>34  </td>
                  <td>34.5</td>
                  <td>35</td>
                  <td>36</td>
                  <td>36</td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
       </div><!-- Responsive Table --> 
             
    </div>
    </div> 
          
   
  </div> <!-- MensPants -->
  <div role="tabpanel" class="tab-pane" id="Rainsuit3">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tourmaster-synergy-rainsuit-pants-2.jpg?3185816993086445392" alt="Tour Master Rain Suit Pants Size Charts" title="Tour Master Rain Suit Pants Pants Size Charts" style="margin: 0 auto;width:94%;"/>
      
    </div>

    <div class="col-sm-10 col-md-10 col-lg-10">
          <h4 style="text-transform:uppercase;font-weight:bold;"> ELITE SERIES II 2-PIECE, DEFENDER 2-PIECE, SENTINEL & PVC</h4>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>Size     </th>
                  <th>2XS</th>
                  <th>XSM</th>
                  <th>SM </th>
                  <th>MD </th>
                  <th>LG </th>
                  <th>XL </th>
                  <th>2XL</th>
                  <th>3XL</th>
                  <th>4XL</th>

              </tr>
            </thead>
              <tbody>
                
                     <tr>
                    <td>A.| WAIST (RELAXED)</td>
                <td>24             </td>
                <td>24             </td>
                <td>26             </td>
                <td>27             </td>
                <td>28.5           </td>
                <td>30             </td>
                <td>32             </td>
                <td>33             </td>
                <td>34             </td>
                  </tr>
                  <tr>
                    <td>WAIST (FULLY EXTENDED)</td>
                <td>44                    </td>
                <td>44                    </td>
                <td>46                    </td>
                <td>47                    </td>
                <td>48.5                  </td>
                <td>50                    </td>
                <td>52                    </td>
                <td>53.5                  </td>
                <td>55                    </td>
                  </tr>
                  <tr>
                    <td>B.| INSEAM                </td>
                <td>29.5                  </td>
                <td>30                    </td>
                <td>31                    </td>
                <td>31.5                  </td>
                <td>32.5                  </td>
                <td>33                    </td>
                <td>34                    </td>
                <td>34.5                  </td>
                <td>35                    </td>
                                          </td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
       </div><!-- Responsive Table --> 
             
    </div>
    </div> 
</div> <!-- SizeChartTab3 -->

<div role="tabpanel" class="tab-pane" id="Rainsuit4">
  <div class="row">
    <div class="col-sm-2 col-md-2 col-lg-2">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-tourmaster-synergy-rainsuit-womens-pants-jackets.jpg?4440850239643969099" alt="Tour Master Rain Suit Pants Size Charts" title="Tour Master Rain Suit Pants Pants Size Charts" style="margin: 0 auto;"/>
      
    </div>

    <div class="col-sm-10 col-md-10 col-lg-10">
          <h4 style="text-transform:uppercase;font-weight:bold;">SENTINEL LADIES RAIN SUIT</h4>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th>Size     </th>
                  <th>XSM</th>
              <th>SM</th>
              <th>MD</th>
              <th>LG</th>
              <th>XL</th>

              </tr>
            </thead>
              <tbody>
                
                     <tr>
                    <td>A.| JACKET CHEST (BELOW ARMHOLES)</td>
              <td>40                           </td>
              <td>42                           </td>
              <td>44                           </td>
              <td>46                           </td>
              <td>48                           </td>
                  </tr>
                  <tr>
                    <td>B.| JACKET SLEEVE LENGTH         </td>
              <td>27.5                         </td>
              <td>28                           </td>
              <td>28.5                         </td>
              <td>30                           </td>
              <td>31                           </td>
                  </tr>
                  <tr>
                  <td>C.| PANT WAIST (RELAXED)         </td>
              <td>24                           </td>
              <td>25                           </td>
              <td>26                           </td>
              <td>27.5                         </td>
              <td>29                           </td>
                  </tr>
                  <tr>
                  <td>PANT WAIST (FULLY EXTENDED)  </td>
              <td>34                           </td>
              <td>35                           </td>
              <td>36                           </td>
              <td>37.5                         </td>
              <td>39                           </td>
                  </tr>
                  <tr>
                  <td>D.| PANT INSEAM                  </td>
              <td>29.5                         </td>
              <td>30                           </td>
              <td>30.5                         </td>
              <td>31.5                         </td>
              <td>32                           </td>

                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
       </div><!-- Responsive Table --> 
             
    </div>
    </div> 
          
   
  </div> <!-- MensPants -->

</div>
</div> <!-- SizeChartTab4 -->



<div role="tabpanel" class="tab-pane" id="SizeChartTab6">

  
  <div role="tabpanel" class="tab-pane active" id="SizeChartTab6">
<div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/gloves_sizing_silhouette.jpg?1091477246492220131" alt="Icon Gloves Size Charts" title="Icon Gloves Size Charts" style="margin: 0 auto;"/>
      
    </div>

    <div class="col-sm-9 col-md-9 col-lg-9">
          <h4 style="text-transform:uppercase;font-weight:bold;">GLOVES</h4>
          <p>To determine proper gloves size, place the saddle of your thumb and index finger..</p>
      <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>  
                        <th colspan="7">SIZE</th>
                
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>7     </td>
                  <td>XSM   </td>
                  <td>2.5 in</td>
                  </tr>
                  <tr>
                      <td>8     </td>
                  <td>SM    </td>
                  <td>3 in  </td>
                  </tr>
                  <tr>
                      <td>9     </td>
                  <td>MD    </td>
                  <td>3.5 in</td>
                  </tr>
                  <tr>
                      <td>10    </td>
                  <td>LG    </td>
                  <td>4 in  </td>
                  </tr>
                  <tr>
                      <td>11    </td>
                  <td>XL    </td>
                  <td>4.5 in</td>
                  </tr>
                  <tr>
                      <td>12    </td>
                  <td>2XL   </td>
                  <td>5 in  </td>
                  </tr>
                  <tr>
                      <td>12    </td>
                  <td>3XL   </td>
                  <td>5.5 in</td>
                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table --> 
             </div>
      </div> 
          
  </div> <!-- MensPants -->
   
</div>
</div>