<style type="text/css"><!--
th {
text-align:center;
}
h4{
  color: red;
  text-decoration-style: bold;
}
</style>
<div>
        <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
            <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
        </ul>
</div> 


        <div role="tabpanel" class="tab-pane" id="">

                                <CENTER>          
                        <h4>YOUR HELMET IS THE MOST IMPORTANT PART OF YOUR RIDING GEAR.</h4>
                        <h4>MAKE SURE IT FITS CORRECTLY.</h4>
                        </CENTER>

                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                     <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/helmets-sizing-chart.jpg?8868176541205590841" alt="GMAX Helmets Size Chart" style="margin: 0 auto;"></p>
                    </div>
                  </div>

                             <div class="table_responsive">
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                       <thead colspan="4" style="text-align: center;">
                                       <tr>
                                           <th colspan="4" scope="colgroup">ADULT HELMETS</th>
                                       </tr>
                                           <tr>
                                              <th scope="col">Size</th>
                                              <th scope="col">U.S. Hat Size</th>
                                              <th scope="col">Inches</th>
                                              <th scope="col">CM</th>
                                           </tr>
                                       </thead>
                                        <tr>
                                            <td>S</td>
                                            <td>6 3/4 - 7</td>
                                            <td>21 5/8" - 22"</td>
                                            <td>55-56 cm</td>
                                        </tr>
                                        <tr>
                                            <td>M</td>
                                            <td>7 1/8 - 7 1/4</td>
                                            <td>22 7/16" - 22 13/16"</td>
                                            <td>57 - 58 cm</td>
                                        </tr>
                                        <tr>
                                            <td>L</td>
                                            <td>7 3/8 - 7 1/2</td>
                                            <td>23 1/4" - 23 5/8"</td>
                                            <td>59 - 60 cm</td>
                                        </tr>
                                        <tr>
                                            <td>XL</td>
                                            <td>7 5/8 - 7 3/4</td>
                                            <td>24" - 24 3/8"</td>
                                            <td>61 - 62 cm</td>
                                        </tr>
                                        <tr>
                                            <td>XXL</td>
                                            <td>7 7/8 - 8</td>
                                            <td>24 13/16" - 25 3/16"</td>
                                            <td>63 - 64 cm</td>
                                        </tr>
                                        <tr>
                                            <td>XXXL</td>
                                            <td>8 1/8 - 8 1/4</td>
                                            <td>24 13/16" - 25 3/16"</td>
                                            <td>63 - 64 cm</td>
                                        </tr>
                                        <tr>
                                            <td>XXXXL</td>
                                            <td>8-3/8</td>
                                            <td>26 3/8" - 26 3/4</td>
                                            <td>67 - 68 cm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="table_responsive">
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                       <thead colspan="4" style="text-align: center;">
                                       <tr>
                                           <th colspan="4" scope="colgroup">YOUTH HELMETS</th>
                                       </tr>
                                           <tr>
                                              <th scope="col">Size</th>
                                              <th scope="col">U.S. Hat Size</th>
                                              <th scope="col">Inches</th>
                                              <th scope="col">CM</th>
                                           </tr>
                                       </thead>
                                            <tr>
                                                <td>YOUTH S</td>
                                                <td>6 1/8 - 6 1/4</td>
                                                <td>19 5/16" - 19 11/16"</td>
                                                <td>49 - 50 cm</td>
                                            </tr>
                                             <tr>
                                                <td>YOUTH M/XXS</td>
                                                <td>6 3/8 - 6 1/2</td>
                                                <td>20 1/16" - 20 7/16"</td>
                                                <td>51 - 52 cm</td>
                                            </tr>
                                            <tr>
                                                <td>YOUTH L/XS</td>
                                                <td>6 5/8 - 6 3/4</td>
                                                <td>20 7/8" - 21 1/4"</td>
                                                <td>53 - 54</td>
                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                    <div style="font-size: medium;">
                        <p>A properly fitted helmet will improve many aspects of your ride. It will make you more comfortable by not creating hot spots. It will make you more aware of your surroundings by dampening noise and increasing visual clarity. In the event of an accident, a helmet that fits your head properly will have the best chance of protecting you from injury. The helmet fitting methods described here are focused on fitting for full face helmets. Many of these same techniques will apply to 3/4 and half-helmets as well. When trying on helmets in your local shop, seek the advice of parts and accessories experts. They will be glad to help.</p>
                    </div>
                        <div>
                            <h4><b>1. SIZE CHART</b></h4>
                            <p>To find your approximate size measure the circumference of your head one-inch above eyebrows and across the largest portion of the back of your head. Cross reference this measurement on the helmet size chart to determine the approximate size.</p>
                        </div>
                        <div>
                            <h4><b>2. CROWN FITMENT</b></h4>
                            <p>When trying on a helmet, the first area to focus on is the crown. Make sure that the crown of the helmet matches the shape of your head. It should fit like a comfortable hat with equal pressure around the circumference of your crown.</p>

                            <p>To test the fit of the helmet place one hand on the back of the helmet and push forward. Check to see if you can create a gap on your forehead. If you can insert more than the very tip of your finger in-between the inside of the helmet and your head then you should try a smaller size. If that smaller size fits your crown but is too tight on your face, see if there is a thinner cheek pad available to relieve the pressure on your face. If you are unsure which size fits best then remove the cheek pads from each helmet and try them on without the pads. This will give you the best indication of which helmet to choose.</p>

                        </div>
                        <div>
                          <h4><b>3. CHEEK PADS</b></h4>
                          <p>The way cheek pads fit can make a huge difference in the way a helmet feels. Too tight and you'll be uncomfortable. Too loose and the helmet will be noisy and will move around when riding. There is some amount of personal preference when selecting the proper size. The cheek pads will break in substantially in the first couple hours of riding so go with the tightest fit you can comfortably wear.</p>
                        </div>
                        <div>
                        <h4><b>4. ROLL OFF TEST</b></h4>
                        <p>Once you have the crown and cheek pads where you want them, you can then check for helmet stability. Without the chin strap fastened, grab the helmet from the rear and see if you can roll it forward off of your head. You should feel it grip the back of your head and resist rolling forward off of your head. If the helmet does roll forward off of your head, try a smaller size or a different model.</p>
                        </div>
                         <div>
                        <h4><b>5. VISUAL CHECK</b></h4>
                        <p>You can see if a helmet fits correctly by looking in the mirror. The brow of the helmet should comfortably rest somewhere between just above your brow bone to one inch (25mm) above your brow. Grab the chin bar and move it lightly side to side. You should see and feel the cheek pads remain in contact with your face.</p>
                        </div>
                                                <div>
                        <p><b>Note:</b> Sizing information is provided by the manufacturer and does not guarantee a perfect fit.</p>
                        </div>
        </div> <!-- SizeChartTab1 //-->
