<style type="text/css">
      @media (max-width: 991px){
          #img_mobile{
               margin-top: -123px;
          }
    } 
</style>

<ul class="nav nav-tabs nav-tabs--ys" role="tablist">
  <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">Helmets</a></li>
  <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">Brace</a></li>
  <li><a href="#SizeChartTab3" role="tab"data-toggle="tab" class="text-uppercase">Knee Guard</a></li>
  <li><a href="#SizeChartTab4" role="tab"data-toggle="tab" class="text-uppercase">Elbow Guard</a></li>
</ul>

<div class="tab-content tab-content--ys obs_sizechart">
  
  <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Leatt Helmets Size Charts" title="Klim Helmets Size Charts" style="margin: 0 auto;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                            <th>Size</th>
                  <th>Centimeter</th>
                  <th>Inches</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                      <td>XS</td>
                  <td>53 - 54</td>
                  <td>20¾ - 21¼</td>
                  </tr>
                  <tr>
                      <td>SM</td>
                  <td>55 - 56</td>
                  <td>21⅝ - 22</td>
                  </tr>
                    <tr>
                        <td>MD     </td>
                  <td>57 - 58</td>
                  <td>22½ - 22¾</td>
                  </tr>
                  <tr>
                      <td>LG</td>
                  <td>59 - 60</td>
                  <td>22¼ - 22⅝</td>
                  </tr>
                  <tr>
                        <td>XL</td>
                  <td>61 - 62</td>
                  <td>24 - 24¼</td>
                  </tr>
                  <tr>
                        <td>2XL</td>
                  <td>63 - 64</td>
                  <td>24¾ - 25⅕</td>
                  </tr>
                  <tr>
                        <td colspan="3" style="text-transform: uppercase;">Youth</td>
                  </tr>
                  <tr>
                        <td>MD</td>
                  <td>51-52</td>
                  <td>20 - 20½</td>
                  </tr>
                  <tr>
                        <td>LG</td>
                  <td>53-54</td>
                  <td>20¾ - 21¼</td>

                  </tr>
            </tbody>
          </table>
          <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
    </div><!-- Responsive Table -->  
    </div>
  </div>
</div> <!-- SizeChartTab1 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab2">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-mens-leatt.jpg?6336356091041356152" alt="Leatt Brace Size Charts" title="Leatt Brace Size Charts" style="margin: 0 auto;width: 76%;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                  <th>MODEL</th>
                  <th>Junior / Youth</th>
                  <th>Adult</th>
                  <th>S/M</th>
                  <th>L/XL</th>
                  <th>XX-Large</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>DBX 3.5 Neck Brace</td>
                <td>74 - 82cm</td>
                <td> - </td>
                <td>82 - 94cm</td>
                <td>94 - 110cm</td>
                <td>110 - 122cm</td>
              </tr>

              <tr>
                <td>DBX 4.5 Neck Brace</td>
                <td> - </td>
                <td> - </td>
                <td>78 - 94cm</td>
                <td>94 - 122cm</td>
                <td>-</td>          
              </tr>

              <tr>
                <td>DBX 5.5 Neck Brace</td>
                <td>74 - 82cm</td>
                <td> - </td>
                <td>82 - 94cm</td>
                <td>94 - 122cm</td>
                <td>-</td>          
              </tr>

              <tr>
                <td>DBX 6.5 Neck Brace</td>
                <td> - </td>
                <td> - </td>
                <td>82 - 94cm</td>
                <td>94 - 122cm</td>
                <td>-</td>          
              </tr>

              <tr>
                <td>DBX/GPX Neck Brace</td>
                <td> - </td>
                <td> - </td>
                <td>74 - 98cm</td>
                <td>98 - 130cm</td>
                <td>-</td>          
              </tr>

              <tr>
                <td>Fusion 2.0 Body Vest</td>
                <td> - </td>
                <td> - </td>
                <td>54 - 66cm (JNR)</td>
                <td>66 - 74cm (JNR)</td>
                <td>74 - 86cm (JNR)</td>          
              </tr>

              <tr>
                <td>Fusion 3.0 Body Vest</td>
                <td> - </td>
                <td> - </td>
                <td>86 - 98cm</td>
                <td>98 - 118cm</td>
                <td>118 - 126cm</td>          
              </tr>

              <tr>
                <td>STX Road Neck Brace</td>
                <td> - </td>
                <td> - </td>
                <td>66 - 94cm</td>
                <td>90 - 122cm</td>
                <td>114 - 126cm</td>          
              </tr>

              <tr>
                <td>STX Road RR Neck</td>
                <td> - </td>
                <td>82 - 106cm</td>
                <td> - </td>
                <td> - </td>
                <td> - </td>
              </tr>

            </tbody>
          </table>
    </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab2 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab3">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-knee-leatt-new1.jpg?3733908822244184193" alt="Leatt Knee Guard Size Charts" title="Leatt Knee Guard Size Charts" style="margin: 0 auto;width: 71%;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                  <th>Model</th>
                  <th>Measure Point</th>
                  <th>Kids</th>
                  <th>JR</th>
                  <th>Small(SML/MED)</th>
                  <th>Medium(SML/MED)</th>
                  <th>Large(L/XL)</th>
                  <th>X-Large(L/XL)</th>
                  <th>2X-Large</th>

              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>3DF EXT (+ Shin)</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>3DF EXT (+ Shin)</td>
                    <td>Calf</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>3DF EXT Hybrid (+ Shin)</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>3DF EXT Hybrid (+ Shin)</td>
                    <td>Calf</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>3DF Hybrid</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>3DF Hybrid</td>
                    <td>Calf</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>3DF Hybrid EXT (+ Shin)</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>3DF Hybrid EXT (+ Shin)</td>
                    <td>Calf</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Airflex</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Airflex</td>
                    <td>Calf</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Airflex Pro</td>
                    <td>Thigh</td>
                    <td> - </td>
                    <td> - </td>
                    <td>33 - 37cm</td>
                    <td>37 - 41cm</td>
                    <td>41 - 47cm</td>
                    <td>47 - 53cm</td>
                    <td>53 - 59cm</td>
                  </tr>

                  <tr>
                    <td>Airflex Pro</td>
                    <td>Calf</td>
                    <td> - </td>
                    <td> - </td>
                    <td>25 - 29cm</td>
                    <td>29 - 33cm</td>
                    <td>33 - 38cm</td>
                    <td>38 - 44cm</td>
                    <td>44 - 51cm</td>
                  </tr>

                  <tr>
                    <td>Dual Axis (+ Shin)</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Dual Axis (+ Shin)</td>
                    <td>Calf</td>
                    <td>18 - 22cm</td>
                    <td>20 - 26cm</td>
                    <td>25 - 33cm</td>
                    <td>25 - 33cm</td>
                    <td>33 - 44cm</td>
                    <td>33 - 44cm</td>
                    <td>44 - 51cmm</td>
                  </tr>

                  <tr>
                    <td>Enduro</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Enduro</td>
                    <td>Calf</td>
                    <td>18 - 22cm</td>
                    <td>20 - 26cm</td>
                    <td>25 - 33cm</td>
                    <td>25 - 33cm</td>
                    <td>33 -44cm</td>
                    <td>33 -44cm</td>
                    <td>44 - 51cm</td>
                  </tr>

                  <tr>
                    <td>Knee & Shin 3.0 EXT</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Knee & Shin 3.0 EXT</td>
                    <td>Calf</td>
                    <td>18 - 22cm</td>
                    <td>20 - 26cm</td>
                    <td>25 - 33cm</td>
                    <td>25 - 33cm</td>
                    <td>33 - 44cm</td>
                    <td>33 - 44cm</td>
                    <td>44 - 51cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF 3.0</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF 3.0</td>
                    <td>Calf</td>
                    <td>18 - 22cm</td>
                    <td>20 - 26cm</td>
                    <td>25 - 33cm</td>
                    <td>25 - 33cm</td>
                    <td>33 - 44cm</td>
                    <td>33 - 44cm</td>
                    <td>44 - 51cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF 5.0</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF 5.0</td>
                    <td>Calf</td>
                    <td>18 - 22cm</td>
                    <td>20 - 26cm</td>
                    <td>25 - 33cm</td>
                    <td>25 - 33cm</td>
                    <td>33 - 44cm</td>
                    <td>33 - 44cm</td>
                    <td>44 - 51cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF 6.0</td>
                    <td>Thigh</td>
                    <td>26 - 32cm</td>
                    <td>28 - 34cm</td>
                    <td>33 - 41cm</td>
                    <td>33 - 41cm</td>
                    <td>41 - 53cm</td>
                    <td>41 - 53cm</td>
                    <td>53 - 58cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF 6.0</td>
                    <td>Calf</td>
                    <td>18 - 22cm</td>
                    <td>20 - 26cm</td>
                    <td>25 - 33cm</td>
                    <td>25 - 33cm</td>
                    <td>33 - 44cm</td>
                    <td>33 - 44cm</td>
                    <td>44 - 51cm</td>
                  </tr>
            
            </tbody>
          </table>
    </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab3 -->

<div role="tabpanel" class="tab-pane" id="SizeChartTab4">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3"  id="img_mobile">
    <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/size-chart-elbow-leatt-new1.jpg?3733908822244184193" alt="Leatt Elbow Guard Size Charts" title="Leatt Elbow Guard Size Charts" style="margin: 0 auto;margin-top: 108px;"/>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">

          <div class="table_responsive">
          <table class="table table-bordered table-striped billa_boys">
            <thead>
              <tr>
                  <th>Model</th>
                  <th>Kids</th>
                  <th>Junior / Youth</th>
                  <th>Small(SML/MED)</th>
                  <th>Medium(SML/MED)</th>
                  <th>Large(L/XL)</th>
                  <th>X-Large(L/XL)</th>
                  <th>XX-Large</th>
              </tr>
            </thead>
              <tbody>
                
                  <tr>
                    <td>Airflex</td>
                    <td> - </td>
                    <td>19 - 21cm</td>
                    <td>20 - 24cm</td>
                    <td>24 - 28cm</td>
                    <td>28 - 33cm</td>
                    <td>32 - 36cm</td>
                    <td>36 - 40cm</td>
                  </tr>

                  <tr>
                    <td>Contour</td>
                    <td>18 - 20cm</td>
                    <td>19 - 23cm</td>
                    <td>22 - 28cm</td>
                    <td>22 - 28cm</td>
                    <td>28 - 35cm</td>
                    <td>28 - 35cm</td>
                    <td>35 - 41cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3.0</td>
                    <td>18 - 20cm</td>
                    <td>19 - 23cm</td>
                    <td>22 - 28cm</td>
                    <td>22 - 28cm</td>
                    <td>28 - 35cm</td>
                    <td>28 - 35cm</td>
                    <td>35 - 41cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF</td>
                    <td>18 - 20cm</td>
                    <td>19 - 23cm</td>
                    <td>22 - 28cm</td>
                    <td>22 - 28cm</td>
                    <td>28 - 35cm</td>
                    <td>28 - 35cm</td>
                    <td>35 - 41cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF 5.0</td>
                    <td> - </td>
                    <td>19 - 21cm</td>
                    <td>20 - 24cm</td>
                    <td>24 - 28cm</td>
                    <td>28 - 33cm</td>
                    <td>32 - 36cm</td>
                    <td>36 - 40cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF 6.0</td>
                    <td> - </td>
                    <td>19 - 21cm</td>
                    <td>20 - 24cm</td>
                    <td>24 - 28cm</td>
                    <td>28 - 33cm</td>
                    <td>32 - 36cm</td>
                    <td>36 - 40cm</td>
                  </tr>

                  <tr>
                    <td>Leatt 3DF Hybrid</td>
                    <td>18 - 20cm</td>
                    <td>19 - 23cm</td>
                    <td>22 - 28cm</td>
                    <td>22 - 28cm</td>
                    <td>28 - 35cm</td>
                    <td>28 - 35cm</td>
                    <td>35 - 41cm</td>
                  </tr>

            
            </tbody>
          </table>
         
    </div><!-- Responsive Table -->  
    </div>
    <p class="sizechart-note"><code>*</code>&nbsp; Sizing information is provided by the manufacturer and does not guarantee a perfect fit. </p>
  </div>
</div> <!-- SizeChartTab4 -->

</div><!-- tab-content tab-content-ys obs_sizechart -->
</div>