<style>
    .welcome-visitor ul {
        list-style: none;
    }

    .welcome-visitor ul li {
        display: inline-block;
        border-right: 1px solid #999;
        padding: 0px 5px 0px 1px;
        line-height: 15px;
        font-size: 0.9em;
    }

    .welcome-visitor ul li:last-child {
        border-right: 0;
    }

    .wc_visitor ul {
        list-style: none;
        padding: 0;
    }

     .google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

</style>

<div class="container">
  
      <div class="welcome-visitor">
        <ul style="padding: 0;">
          <li><a href="/pages/welcome-international-visitors">English</a></li>
          <li><a href="/pages/welcome-international-visitors-cebuano">Cebuano</a></li>
          <li><a href="/pages/welcome-international-visitors-filipino">Filipino</a></li>
          <li><a href="/pages/welcome-international-visitors-hindi">Hindi</a></li>
          <li><a href="/pages/welcome-international-visitors-portuguese"><b>Portuguese</b></a></li>
          <li><a href="/pages/welcome-international-visitors-spanish">Spanish</a></li>
          <li><a href="/pages/welcome-international-visitors-simplified-chinese">Simplified Chinese</a></li>
          <li><a href="/pages/welcome-international-visitors-traditional-chinese">Traditional Chinese</a></li>
        </ul>
      </div>

    <div class="divider divider--lg"></div>

    <div class="row">
        <div class="col-sm-8 col-md-8 col-lg-8">
           <p>Clientes bem-vindos de ao redor do globo! </p>
           <p>Se planeia em ser em Califórnia do sul (Condado Alaranjado/ Los Angeles), esteja seguro visitar nosso armazém. Somos localizados na fronteira de Los Angeles e Condado Alaranjado, perto de Disneyland e Quinta de Baga de Knotts. </p>
           <p>Estaremos felizes em vê-lo e lhe dá uma saudação quente! Se necessita conselho em onde ir, o que ver, e como fazê-lo, está seguro perguntar nos. Estaremos mais que feliz em aconselhar. </p>
           <p>Se planeia em compras conosco e tomar mercadoria de volta a seu país, pode querer verificar antes de chegar e fazendo uma pre-ordem. Podemos ter tudo pronto para você em sua chegada.</p>
           <p>Somos autorizados negociantes para: Fox Racing, Icon, Joe Rocket, Arai, Shoei, HJC, Scorpion, AFX, Fly Racing, Oneal, Oakley Goggles & Sunglasses, Spy Sunglasses, VonZipper Sunglasses, Ray-Ban Sunglasses, Arnette Sunglasses, Revo Sunglasses, Shift Racing, ThorMX, Alpinestars, Cortech, Tourmaster, Fieldsheer e mais...</p>
           <p>Se nós não o temos em estoque, podemos ordem especial quase algo para você. Somente deixe-nos saber e faremos todos os arranjos. </p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <center>
              <div class="google-maps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d424031.54911736096!2d-117.96228900000001!3d33.870424!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf7c7a0537531c541!2sMotorhelmets!5e0!3m2!1sen!2sus!4v1490779591129" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </center>
        </div>
    </div>

    <div class="divider divider--md"></div>

    <h3><b>For a limited time, we are offering free shipping international orders. We specialize in shipping to countries such as Australia, Brazil, UK, New Zealand and Japan.</b></h3>

    <ul>
      <li>Minimum order of $799 required (Valid for Helmets, Apparel and Luggage only. Hard Parts, Body Parts, Oils, Tires, Batteries and Oversized items excluded).</li>
      <li>In your shopping cart, select Free Shipping over $799 as your shipping option.</li>
      <li>Free Standard Shipping offers for orders shipping outside the USA. Any other shipping methods should have shipping costs added. (eg. to Hawaii, Alaska, 2nd Day, 3rd Day, Next Day).</li>
      <li>Applies only to orders shipping to a single address.</li>
      <li>All oversized and additional shipping charges still apply.</li>
      <li>Not valid with any other offer.</li>
      <li>Delivery times may vary. Orders are processed and delivered during the business week (Monday – Friday) only and do not guarantee delivery by a specific date or time.</li>
      <li>If you return items purchased using this offer, and your order drops below the threshold, then you may be charged a shipping fee.</li>
      <li>Order cancellations or returns are subject to our cancellation fees.</li>
      <li>Order cancellations or orders resulting in non receipt of merchandise is subject to our minimum shipping charges.</li>
      <li>All order cancellations are subject to a $10 fee after submission. Does not include out of stock items, or back ordered items.</li>
      <li>Check our Shopping Policies page for additional information.</li>
    </ul>

    <div class="divider divider--lg"></div>

    <div class="row wc_visitor">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <div>
           <h4><b>RETAIL STORE LOCATIONS:</b></h4>
           <ul>
             <li>State: California </li>
             <li>City: Fullerton</li>
           </ul>
          </div>
          <div class="divider divider--xs"></div>
          <div>
             <h4><b>MOTORHELMETS</b></h4>
              <ul>
                <li>Motorcycle Parts/Accessories & Bike Service Center</li>
                <li>1871 W.Commonwealth Ave Fullerton CA 92833 USA</li>
                <li>Tel: 714-879-8180 | Fax: 714-441-2288</li>
                <li>Store Hours: M-F 10am-7pm | Sat 11am-6pm PST</li>
              </ul>
          </div>
          <div class="divider divider--xs"></div>
          <div>
            <h4><b>ONLINE SALES & CUSTOMER SERVICE DEPT:</b></h4>
          <ul>
            <li>Tel: 800-288-0640 or 714-879-8882</li>
            <li>Fax: 714-441-2288</li>
            <li>Office Hours: M-F 10am-7pm PST</li>
            <li>Shipping Address: 1843 W. Commonwealth Ave. Fullerton CA 92833 USA</li>
          </ul>
          </div>

          <div class="divider divider--lg"></div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8">
          <center><h4><b>MOTORHELMETS STORE FRONT</b></h4></center>
            <div class="col-md-6">
              <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-1.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
              <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-3.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
            </div>
            <div class="col-md-6">
              <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-4.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
              <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-1.1.jpg?8020158606315289704" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
            </div>
            <div class="divider divider--xs"></div>
      </div>
  </div>


  <div class="divider divider--lg"></div>

  <div>
    <center><h4><b>MOTORHELMETS STORE INTERIOR</b></h4></center>
    <div class="row">
        <div class="col-sm-4 col-md-4 col-lg-4">
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-1.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-4.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-7.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-10.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-2.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-5.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
           <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-8.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
           <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-11.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-3.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-6.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
          <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-interior-small-9.jpg" alt="MOTORHELMETS STORE FRONT" style="margin: 0 auto"></p>
        </div>
    </div>
  </div>
  
  <div class="divider divider--lg"></div>

  <center>
    <p><a href="/pages/international-ordering-information" class="btn btn--ys btn-lg text-uppercase  btn--lg">Visit International Ordering Information page.</a></p>
  </center>

</div> <!-- End Container //-->