<style type="text/css">

	.section_categories .cat_header {
	    text-transform: uppercase;
	    text-align: center;
	}

	.section_categories .cat_header .cat_header_text {
	    padding: 5px;
	    font-size: 1em;
	    font-weight: 600;
	}

	.section_categories .cat_header .cat_header_title h1 {
	    letter-spacing: 1.2px;
	    color: #be3232;
	}

	.valign {
	    position: relative;
	    width: 100%;
	    top: 50%;
	    left: 0;
	    -webkit-transform: translateY(0%);
	    -moz-transform: translateY(0%);
	    -o-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	    transform: translateY(0%);
	}

	.op_banner .op_banner_container {
	    max-width: 90%;
	    margin: 0 auto;
	    text-align: center;
	    font-size: 20px;
	}

	.op_banner .op_banner_container .op_banner_container_block {
	    width: 20%;
	    border-right: 5px solid #ffffff;
	    padding: 20px 40px;
	    text-align: center;
	    display: inline-block;
	    background: #ececec;
	    position: relative;
	    color: #000;
	    max-width: 211px;
      	transition: all .3s;
	}

	.valign {
	    position: relative;
	    width: 100%;
	    top: 50%;
	    left: 0;
	    -webkit-transform: translateY(0%);
	    -moz-transform: translateY(0%);
	    -o-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	    transform: translateY(0%);
	}

	.op_price {
		font-family: "hurme-regular";
	    white-space: nowrap;
	    font-size: 21px;
	}

	.op_banner .op_banner_container .op_banner_container_block .op_show_selection {
	    font-size: 13px;
	    margin-top: 17px;
	    padding: 7px 7px;
	    border: 1px solid black;
	}

	.valign .op_banner_container .op_banner_container_block:hover {
	    background: #006989;
	    color: #fff;
	    border-right: 1px solid #ececec;
	    text-decoration: none;
	}

	.price_mobile {
	    background: #ececec;
	    padding: 15px 57px;
	    display: inline-block;
	    border-top: 10px solid white;
	    border-right: 7px solid white;
	    max-width: 350px;
    	width: 100%;
	}

	.price_font {
	    font-size: 34px;
	}

	.shop_mobile {
	    border: 1px solid black;
	    padding: 7px 25px;
	}

	.banner__title {
		text-shadow: 0 0 5px #000000;
    	font-size: 2em;
	}

</style>

<div class="container">

  	{%comment%}
	<div class="title-box">
      <h2 class="text-center text-uppercase title-under" style="font-weight: 600; color: rgb(0, 0, 0); font-size: 1.7em;">Motorhelmets Gift Guide</h2>
    </div>
  	{%endcomment%}
    
	<p><a href="/collections/hot-sales" target="blank"><img class="img-responsive hidden-md hidden-sm hidden-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/gift-guide-banner.jpg?2444231002006665786" alt="Motorhelemets Holiday Gift Guide" title="Motorhelemets Holiday Gift Guide"></p></a>
	<p><a href="/collections/hot-sales" target="blank"><img class="img-responsive hidden-lg hidden-xl" src="https://cdn.shopify.com/s/files/1/1223/6434/files/mobile-gift-guide-banner.jpg?9844732790774142769" alt="Motorhelemets Holiday Gift Guide" title="Motorhelemets Holiday Gift Guide"></p></a>

	<div class="divider divider--sm"></div>


	<div class="divider divider--lg"></div>

	<div class="section_categories">
      <div class="cat_header">
        <div class="cat_header_title">
          <div class="cat_header_text"></div>
          <h1>CHOOSE YOUR CATEGORY</h1>
        </div>
      </div>
      <div class ="divider divider--lg hidden-xs hidden-sm hidden-md"></div>
      <div class ="col-sm-12 col-md-12 col-lg-12">
        <div class = "row">
          <div class ="col-sm12 col-md-12 col-lg-2 col-lg-offset-1 gift-guide-choices">
            <a href = "/pages/gift-guide-casual-wear" id = "gift_casual_wear_category" value = "gift-guide-casual-wear"><span class ="gift-guide-text">CASUAL WEAR</span></a>
          </div>
          <div class ="col-sm12 col-md-12 col-lg-2 gift-guide-choices">
            <a href = "/pages/gift-guide-street-gear" id = "gift_street_gear_category" value = "gift-guide-street-gear"><span class ="gift-guide-text">STREET GEAR</span></a>
          </div>          
          <div class ="col-sm12 col-md-12 col-lg-2 gift-guide-choices">
            <a href = "/pages/gift-guide-offroad-gear" id = "gift_offroad_gear_category" value = "gift-guide-offroad-gear"><span class ="gift-guide-text">OFFROAD GEAR</span></a>
          </div>          
          <div class ="col-sm12 col-md-12 col-lg-2 gift-guide-choices">
            <a href = "/pages/gift-guide-snow-gear" id = "gift_snow_gear_category" value = "gift-guide-snow-gear"><span class ="gift-guide-text">SNOW GEAR</span></a>
          </div>
          <div class ="col-sm12 col-md-12 col-lg-2 gift-guide-choices">
            <a href = "/pages/gift-guide-youth-wear" id = "gift_youth_wear_category" value = "gift-guide-youth-wear"><span class ="gift-guide-text">YOUTH WEAR</span></a>
          </div>
        </div>
      </div>

      <div id="price_filter" class="op_banner hidden-xs hidden-sm">
        <div class="divider divider--lg"></div>
        <div class="valign">
          <div class="cat_header">
            <div class="cat_header_title">
              <div class="cat_header_text"></div>
              <h1>CHOOSE YOUR PRICE</h1>
            </div>
          </div>
          <div class="divider divider--lg"></div>
          <div class="op_banner_container">
            <a class="op_banner_container_block gift-choice-block price-choice" href="javascript:void(0)" data-price-value = "Under $25">
              <div class="valign">
                <div class="op_price">Under $25</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
            <a class="op_banner_container_block gift-choice-block price-choice" href="javascript:void(0)" data-price-value = "Between $25 - $50">
              <div class="valign">
                <div class="op_price">$25 - $50</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
            <a class="op_banner_container_block gift-choice-block price-choice" href="javascript:void(0)" data-price-value = "Between $50 - $100">
              <div class="valign">
                <div class="op_price">$50 - $100</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
            <a class="op_banner_container_block gift-choice-block price-choice" href="javascript:void(0)" data-price-value = "Over $100">
              <div class="valign">
                <div class="op_price">Over $100</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class ="divider divider--lg hidden-xs hidden-sm hidden-md"></div>
{%comment%}
		<div class="cat_header">
			<div class="cat_header_text_container">
					<div class="cat_header_text">Gift Ideas</div>
					<div class="cat_header_title"><h1>Shop By Price</h1></div>
			</div>

			<div id="1" class="op_banner hidden-xs hidden-sm">
				<div class="valign">
		          
					<div class="op_banner_container">
						<a class="op_banner_container_block" href="/collections/gift-under-25">
							<div class="valign">
							<div class="op_price">Under $25</div>
							<div class="op_show_selection">Shop Now</div>
							</div>
						</a>
						<a class="op_banner_container_block" href="/collections/gift-under-50">
							<div class="valign">
							<div class="op_price">$25 - $50</div>
							<div class="op_show_selection">Shop Now</div>
							</div>
						</a>
						<a class="op_banner_container_block" href="/collections/gift-under-100">
							<div class="valign">
							<div class="op_price">$50-$100</div>
							<div class="op_show_selection">Shop Now</div>
							</div>
						</a>
		              <a class="op_banner_container_block" href="/collections/gift-over-100">
							<div class="valign">
							<div class="op_price">Over $100</div>
							<div class="op_show_selection">Shop Now</div>
							</div>
						</a>
					</div>
		          
				</div>
			</div>

			<div class="hidden-lg hidden-md">
		       <a href="/collections/gift-under-25">
		            <div class="price_mobile">
		                <p class="price_font">UNDER $25</p>
		                <p><span class="shop_mobile">SHOP NOW</span></p>
		            </div>
		        </a> 
		      
		      	<a href="/collections/gift-under-50">
		            <div class="price_mobile">
		                <p class="price_font">$25-$50</p>
		                <p><span class="shop_mobile">SHOP NOW</span></p>
		            </div>
		      </a>
		      

		       <a href="/collections/gift-under-100">
		            <div class="price_mobile">
		                <p class="price_font">$50-$100</p>
		                <p><span class="shop_mobile">SHOP NOW</span></p>
		            </div>
		      </a>
		      
		      <a href="/collections/gift-over-100">
		           <div class="price_mobile">
		                <p class="price_font">OVER $100</p>
		                <p><span class="shop_mobile">SHOP NOW</span></p>
		            </div>
		      </a>
    		</div>

			<div class="divider divider--lg"></div>
			
			<div class="cat_header_text_container">
				<div class="cat_header_text">MEN'S GIFT IDEAS</div>
				<div class="cat_header_title"><h1>Shop By Category</h1></div>
			</div>

			<div class="row">

	          <div class="col-sm-12 col-md-6 col-lg-6">
	              <div class="row">
	                  <!-- col-left -->
	                    <div class="col-sm-6 col-md-6 col-lg-6">
	                      <div class="row">
	                        <div class="col-lg-12">
	                          <a href="/collections/shirts/mens" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shirts-tees-f.jpg?16514629328502145797" alt="Motorhelmets Gift Idea for Mens">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Shirts & Tees</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                    </a>
	                        </div>
	                      </div>
	                  </div>
	                  <!-- /col-left -->

	                  <div class="divider divider--sm visible-xs"></div>

	                  <!-- col-right -->
	                  <div class="col-sm-6 col-md-6 col-lg-6">
	                    <a href="/collections/mens-shorts-pants" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shorts-pants.jpg?15168059906732791144" alt="Motorhelmets Holiday Gift for Mens">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Shorts & Pants</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                    </a>
	                  </div>
	                </div>
	            </div>

	            <div class="divider divider--sm visible-sm visible-xs"></div>

	            <div class="col-sm-12 col-md-6 col-lg-6">
	              <div class="row">
	                      <!-- col-right -->
	                <div class="col-sm-6 col-md-6 col-lg-6">
	                  <a href="/collections/mens-cold-weather" class="banner zoom-in moto_banner">
	                      <span class="figure buttononhover">
	                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/sweatshirts.jpg?6349613885655993062" alt="Motorhelmets Gift Idea for Mens">
	                        <span class="figcaption">
	                          <span class="block-table">
	                            <span class="block-table-cell">
	                              <span class="banner__title">Cold Weather</span>
	                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
	                            </span>
	                          </span>
	                        </span>
	                      </span>
	                  </a>
	                </div>

	                <div class="divider divider--sm visible-xs"></div>

	                <!-- col-left -->
	                  <div class="col-sm-6 col-md-6 col-lg-6">
	                    <div class="row">
	                      <div class="col-lg-12">
	                       <a href="/collections/mens-accessories" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-accessories.jpg?17181898775724916691" alt="Motorhelmets Gift Idea for Mens">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Accessories</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                      </div>
	                    </div>

	                </div>
	            <!-- /col-left -->
	              </div>
	          </div>
            </div>

      		<div class="divider divider--lg"></div>

			<div class="cat_header_text_container">
				<div class="cat_header_text">WOMEN'S GIFT IDEAS</div>
				<div class="cat_header_title"><h1>Shop By Category</h1></div>
			</div>

			<div class="row">

	          <div class="col-sm-12 col-md-6 col-lg-6">
	              <div class="row">
	                  <!-- col-left -->
	                    <div class="col-sm-6 col-md-6 col-lg-6">
	                      <div class="row">
	                        <div class="col-lg-12">
	                           <a href="/collections/shirts/womens" class="banner zoom-in moto_banner">
			                      <span class="figure buttononhover">
			                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/womens-shirts-tees.jpg?7933483420792085801" alt="Motorhelmets Gift Idea for Womens">
			                        <span class="figcaption">
			                          <span class="block-table">
			                            <span class="block-table-cell">
			                              <span class="banner__title">Shirts & Tees</span>
			                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
			                            </span>
			                          </span>
			                        </span>
			                      </span>
			                  </a>
	                        </div>
	                      </div>
	                  </div>
	                  <!-- /col-left -->

	                  <div class="divider divider--sm visible-xs"></div>

	                  <!-- col-right -->
	                  <div class="col-sm-6 col-md-6 col-lg-6">
	                    <a href="/collections/womens-shorts-pants" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/women-shorts-pants.jpg?4791929815829252605" alt="Motorhelmets Gift Idea for Womens">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Shorts & Pants</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                  </div>


	                </div>
	            </div>

	            <div class="divider divider--sm visible-sm visible-xs"></div>

	            <div class="col-sm-12 col-md-6 col-lg-6">
	              <div class="row">
	                      <!-- col-right -->
	                <div class="col-sm-6 col-md-6 col-lg-6">
	                  	<a href="/collections/womens-cold-weather" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/womens-sweatshirts.jpg?4034758365550902891" alt="Motorhelmets Holiday Gift for Womens">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Cold Weather</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                </div>

	                <div class="divider divider--sm visible-xs"></div>

	                <!-- col-left -->
	                  <div class="col-sm-6 col-md-6 col-lg-6">
	                    <div class="row">
	                      <div class="col-lg-12">
		                      <a href="/collections/womens-accessories" class="banner zoom-in moto_banner">
			                      <span class="figure buttononhover">
			                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/womens-moto-accessories.jpg?7314666973322565632" alt="Motorhelmets Holiday Gift for Womens">
			                        <span class="figcaption">
			                          <span class="block-table">
			                            <span class="block-table-cell">
			                              <span class="banner__title">Accessories</span>
			                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
			                            </span>
			                          </span>
			                        </span>
			                      </span>
			                  </a>
	                      </div>
	                    </div>

	                </div>
	            <!-- /col-left -->
	              </div>
	          </div>
            </div>

			<div class="divider divider--lg"></div>

			<div class="cat_header_text_container">
				<div class="cat_header_text">YOUTH GIFT IDEAS</div>
				<div class="cat_header_title"><h1>Shop By Category</h1></div>
			</div>

			<div class="row">
	          <div class="col-sm-12 col-md-6 col-lg-6">
	              <div class="row">
	                  <!-- col-left -->
	                    <div class="col-sm-6 col-md-6 col-lg-6">
	                      <div class="row">
	                        <div class="col-lg-12">
	                           <a href="/collections/youth-shirts-tees" class="banner zoom-in moto_banner">
			                      <span class="figure buttononhover">
			                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/youth-shirts-tees.jpg?3968471572942083784" alt="Motorhelmets Holiday Gift for Youth">
			                        <span class="figcaption">
			                          <span class="block-table">
			                            <span class="block-table-cell">
			                              <span class="banner__title">Shirts & Tees</span>
			                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
			                            </span>
			                          </span>
			                        </span>
			                      </span>
			                  </a>
	                        </div>
	                      </div>
	                  </div>
	                  <!-- /col-left -->

	                  <div class="divider divider--sm visible-xs"></div>

	                  <!-- col-right -->
	                  <div class="col-sm-6 col-md-6 col-lg-6">
                   		  <a href="/collections/youth-shorts-pants" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/youth-shorts-pants.jpg?3164041457810042590" alt="Motorhelmets Holiday Gift for Youth">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Shorts & Pants</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                  </div>


	                </div>
	            </div>

	            <div class="divider divider--sm visible-sm visible-xs"></div>

	            <div class="col-sm-12 col-md-6 col-lg-6">
	              <div class="row">
	                      <!-- col-right -->
	                <div class="col-sm-6 col-md-6 col-lg-6">
	                  <a href="/collections/youth-cold-weather" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/youth-sweatshirts.jpg?534905071660036157" alt="Motorhelmets Cold Weather Gift for Youth">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Cold Weather</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                </div>

	                <div class="divider divider--sm visible-xs"></div>

	                <!-- col-left -->
	                  <div class="col-sm-6 col-md-6 col-lg-6">
	                    <div class="row">
	                      <div class="col-lg-12">
	                        <a href="/collections/youth-accessories" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/youth-accessories.jpg?10296791072311595206" alt="Motorhelmets Holiday Gift for Womens">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Accessories</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                      </div>
	                    </div>

	                </div>
	            <!-- /col-left -->
	              </div>
	          </div>
            </div>

            <div class="divider divider--lg"></div>

			<div class="cat_header_text_container">
				<div class="cat_header_text">RIDERS GIFT IDEAS</div>
				<div class="cat_header_title"><h1>Shop By Category</h1></div>
			</div>

			<div class="row">
	          <div class="col-sm-12 col-md-6 col-lg-6">
	              <div class="row">
	                  <!-- col-left -->
	                    <div class="col-sm-6 col-md-6 col-lg-6">
	                      <div class="row">
	                        <div class="col-lg-12">
	                           <a href="/collections/off-road" class="banner zoom-in moto_banner">
			                      <span class="figure buttononhover">
			                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-off-road-gift.jpg?1129379756916793780" alt="Motorhelmets Holiday Gift for Off-Road">
			                        <span class="figcaption">
			                          <span class="block-table">
			                            <span class="block-table-cell">
			                              <span class="banner__title">Off-Road</span>
			                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
			                            </span>
			                          </span>
			                        </span>
			                      </span>
			                  </a>
	                        </div>
	                      </div>
	                  </div>
	                  <!-- /col-left -->

	                  <div class="divider divider--sm visible-xs"></div>

	                  <!-- col-right -->
	                  <div class="col-sm-6 col-md-6 col-lg-6">
                   		  <a href="/collections/street" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-street-gift.jpg?6857757505210363223" alt="Motorhelmets Holiday Gift for Street">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Street</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                  </div>


	                </div>
	            </div>

	            <div class="divider divider--sm visible-sm visible-xs"></div>

	            <div class="col-sm-12 col-md-6 col-lg-6">
	              <div class="row">
	                      <!-- col-right -->
	                <div class="col-sm-6 col-md-6 col-lg-6">
	                  <a href="/collections/cruiser" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-cruiser-gift.jpg?6773651220656726400" alt="Motorhelmets Holiday Gift for Cruiser">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Cruiser</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                </div>

	                <div class="divider divider--sm visible-xs"></div>

	                <!-- col-left -->
	                  <div class="col-sm-6 col-md-6 col-lg-6">
	                    <div class="row">
	                      <div class="col-lg-12">
	                        <a href="/collections/snow" class="banner zoom-in moto_banner">
		                      <span class="figure buttononhover">
		                        <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-snow-gift.jpg?9972851450766589062" alt="Motorhelmets Holiday Gift for Snow">
		                        <span class="figcaption">
		                          <span class="block-table">
		                            <span class="block-table-cell">
		                              <span class="banner__title">Snow</span>
		                              <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
		                            </span>
		                          </span>
		                        </span>
		                      </span>
		                  </a>
	                      </div>
	                    </div>

	                </div>
	            <!-- /col-left -->
	              </div>
	          </div>
            </div>

	</div>
{%endcomment%}



	<section class="container-fluid cd-section" id="new-arrivals">
      <div class="divider divider--lg"></div>
	   <div class="section_categories">
  		    <div class="cat_header">
  				<div class="cat_header_title">
  					<div class="cat_header_text">PICKS FOR THIS SEASON</div>
  					<h1 class = "gift-guide-big-title">BIG DISCOUNTS</h1>
  				</div>
  			</div>
  	   </div>
      <div class="divider divider--xl"></div>
      
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <!-- title -->
                {% assign collection_label = "MOTO GEAR SALES" %}
                {% assign collection_handle = "moto-gears-sale" %}
				{% assign collection_length = 20 %}

				{% assign selected_collection = collections[collection_handle].products %}
				{% assign collection_length = collection_length | plus: 0 %}
	  
		<div class="product-listing row">
			{% for product in selected_collection limit: collection_length %}
			 <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
				{% include "njohn-product-grid-item" %}
			</div>
			{% endfor %}
		</div>
 		<div class ="divider divider--xl"></div>
        <div class="text-center"><a href="/collections/hot-sales" class="motorhelmets-gift-guide-show-more">Show &nbsp;More</a></div>
       
        </div>

      </div>

     </section>
      
      <div class ="divider divider--xl"></div>
      	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="section_categories">
				<div class="cat_header">
					<div class="cat_header_text_container">
						<div class="cat_header_text">PROMO CODE: <span style="color: #be3232;font-weight: bold;">HAPPY10</span></div>
						<a href="/pages/percent-off-entire-basket" target="blank">
						 <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/10_-OFF.png?2303615753206941548" alt="HTML tutorial" style="margin: 0 auto; max-width: 590px; width: 100%;">
						</a>
					</div>
				</div>
			</div>
			<div class="divider divider--md"></div>
		</div>

		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="section_categories">
				<div class="cat_header">
					<div class="cat_header_text_container">
						<div class="cat_header_text">FREE SHIPPING OVER $100</span></div>
						<a href="/pages/free-shipping-promotions" target="blank">
						 <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/freeshipping-100.png?9618641577416963844" alt="HTML tutorial" style="margin: 0 auto; max-width: 590px; width: 100%;">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
