<div class="title-box">
          <h2 class="text-center text-uppercase title-under" style="font-family: hurme-bold; color: rgb(0, 0, 0); font-size: 1.7em;">HJC SIZE CHART</h2>
</div>

<div style="font-size: small;">
<p>NOTE: These sizing charts are provided by the specific manufacturer or the distributing company for this brand. Motorhelmets.com is not responsible or guarantee's the accuracy of the measurement or fit of the merchandise listed on this page.</p>
<p align="center">To access our measuring tape <a href="http://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape_b49577a4-93f8-4efe-bf64-a4d927ecc287.jpg">Click Here</a>. <a href="http://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape_b49577a4-93f8-4efe-bf64-a4d927ecc287.jpg"><img style="border: 1px solid #000000;" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-measuring-tape-small.jpg" /> </a> (Download the following head measuring tape, print, cut and measure your head.)</p>
<h4>HJC Helmets</h4>
<table class="table table-hover">
<thead>
<tr>
<th style="background-color: #ddd;">Sizes</th>
<th style="background-color: #ddd;">Head (inch)</th>
<th style="background-color: #ddd;">Hat Size</th>
<th style="background-color: #ddd;">Head (cm)</th>
</tr>
</thead>
<tbody>
<tr>
<td>Youth Small</td>
<td>19 1/4 - 19 3/4</td>
<td>6 1/8 - 6 1/4</td>
<td>49-50</td>
</tr>
<tr>
<td>Youth Medium</td>
<td>20 - 20 1/2</td>
<td>6 3/8 - 6 1/2</td>
<td>51-52</td>
</tr>
<tr>
<td>Youth Large</td>
<td>20 7/8 - 21 1/4</td>
<td>6 5/8 - 6 3/4</td>
<td>53-54</td>
</tr>
<tr>
<td>Youth Small/Medium</td>
<td>19 1/4 - 19 3/4</td>
<td>6 1/8 - 6 1/4</td>
<td>49-50</td>
</tr>
<tr>
<td>Youth Large/X-Large</td>
<td>20 - 20 1/2</td>
<td>6 3/8 - 6 1/2</td>
<td>51-52</td>
</tr>
<tr>
<td>2X-Small</td>
<td>20 - 20 1/2</td>
<td>6 3/8 - 6 1/2</td>
<td>51 - 52</td>
</tr>
<tr>
<td>X-Small</td>
<td>20 7/8 - 21 1/4</td>
<td>6 5/8 - 6 3/4</td>
<td>53 - 54</td>
</tr>
<tr>
<td>Small</td>
<td>21 5/8 - 22</td>
<td>6 7/8 - 7</td>
<td>55 - 56</td>
</tr>
<tr>
<td>Medium</td>
<td>22 1/2 - 22 7/8</td>
<td>7 1/8 - 7 1/4</td>
<td>57 - 58</td>
</tr>
<tr>
<td>Large</td>
<td>23 1/4 - 23 5/8</td>
<td>7 3/8 - 7 1/2</td>
<td>59 - 60</td>
</tr>
<tr>
<td>X-Large</td>
<td>24 - 24 3/8</td>
<td>7 5/8 - 7 3/4</td>
<td>61 - 62</td>
</tr>
<tr>
<td>2X-Large</td>
<td>24 3/4 - 25 1/4</td>
<td>7 7/8 - 8</td>
<td>63 - 64</td>
</tr>
<tr>
<td>3X-Large</td>
<td>25 5/8 - 26</td>
<td>8 1/8 - 8 1/4</td>
<td>65 - 66</td>
</tr>
</tbody>
</table>
<div>
<p>Sizing information is provided by the manufacturer and does not guarantee a perfect fit. Please use this chart as a guide only.</p>
<h4>HJC Helmet Sizing Tips</h4>
<p>How your helmet fits you is critical in determining both comfort and accident safety. Be completely sure that you have a snug and tight fit. A compromise between comfort and safety is recommended. HJC recommends the following method.</p>
<p>1. Start with a helmet size you think will fit according to your measurements.</p>
<p>2. Put the helmet on by grasping the chin strap in each hand and pulling it on over your ears until you feel the top portion of the helmet touch. If the helmet immediately feels too tight, ie; your head does not touch the top of the helmet, you cannot pull the helmet down over your ears, or is painful, try the next size larger.</p>
<p>3. Once you have found a helmet that feels comfortable and snug, you must assure that it is not too loose. To do so, with the chin strap securely fastened (see chin strap diagram) grasp the helmet chin bar firmly with one hand and try to move the helmet from side to side and up and down. If the helmet slides on your skin and hair, it is too large. If your scalp and skin want to move with the helmet, the fit is snug.</p>
<p>4. Finally, while still grasping the chin bar, try to rotate the helmet as far down and forward as possible then as far backward as possible. If the helmet feels as if it might slide off in either direction, the helmet is either too big or the chin strap was not securely fastened. Additional note; HJC has a wide range of helmet sizes, but if for whatever reason you cannot find a HJC helmet to fit your head size or shape securely, try another brand!</p>
<img style="margin: 0px 0px 0px 5px;" src="https://cdn.shopify.com/s/files/1/1223/6434/files/sizing-chart-helmet-instructions.jpg" align="right" />
<h4>Selecting The Right Helmet:</h4>
<p>Motorcycling has special personal hazards and no helmet can protect the head against all foreseeable high speed and low speed impacts. The protective capability of a helmet is difficult to measure at the time of purchase because there are untold types of accidents. A helmet can provide protection only to the extent that your head is covered with the helmet. However, the use of a well fitted, securely fastened helmet can minimize the risk of death or permanent impairment from head injury. For maximum head protection, the helmet must be of proper fit and the retention system must be securely fastened under the chin. Failure to have a proper fit and/ or to securely fasten the helmet is dangerous, as the helmet could come off in an accident resulting in severe head injury or death.</p>
<h4>Determine the Proper Fit:</h4>
<p>1. Measure your head size. Pass a tape measure horizontally around your head at a height of about one inch (2.5cm) above your eyebrows. This will measure the largest portion of your head.</p>
<p>2. Select the helmet that is closest to your head size. Often times your head measurement may fall between two helmet sizes. In that case, use logic and try both on. Pick the helmet that feels snug and comfortable. Never loose.</p>
<h4>Try on the Helmet:</h4>
<p>Expand the helmet opening with your hands, and slide your head into the helmet. Pull the chin strap only, not the chin strap covers. Pulling on the covers may rip them. If the helmet is not snug, it is too big for you. If this is your first helmet, then it may feel a bit too snug. This is about normal.</p>
<h4>Check for a Proper Fit:</h4>
<p>With the helmet on, go through the following checklist to determine whether the helmet is the correct size.</p>
<p>1. Does the inner lining fit snugly all around your head?</p>
<p>2. Does the top pad press closely on the top of your head?</p>
<p>3. Are the cheek pads in contact with your cheeks?</p>
<p>4. Does the crown lining fit snugly against your brow?</p>
<p>5. You should not be able to insert your fingers between the lining and your brow.</p>
<p>Now, take hold of the helmet with a hand on each side. Without moving your head, try to move the helmet side to side and up and down. Is your skin on your face and head pulled in each direction that you pull the helmet? If you can move the helmet around easily then it is too big and you should try another size.</p>
<h4>Check Retention System:</h4>
<p>Tightening the chin strap correctly is extremely important. If your chin strap is loose the shock of an impact may knock your helmet off, leaving your head completely unprotected. Do not use a helmet that can be rolled off the head with the chin strap fastened, since it may come off in an accident, resulting in death or serious personal injuries. Go through the following procedures to check your helmet's retention system:</p>
<p>1. Fasten the chin strap so that it is tight against your chin. There must be no slack in the strap and it must be tight up against your chin.</p>
<p>2. With the chin strap secured, put your hands flat on the back of the helmet and try to pull the helmet off by rotating it forward.</p>
<p>3. Next, put your hands on the front of the helmet above your forehead or under the chin guard and try to push the helmet off by rotating it to the rear.</p>
<p>4. If the helmet starts to come off in either directions, do not use the helmet. Either the helmet is too large for you or the chin strap has not been properly tightened.</p>
</div>
</div>