<div class="njohn_paginate_btn">
{% if paginate.previous.is_link and paginate.pages > 4 %}
<div class="njohn_inactive">
	<a href="{{ paginate.previous.url }}">
		<i class="material-icons">keyboard_arrow_left</i>
	</a>
</div>
{% endif %}
{% for count in paginate.parts %}
{% assign hash = count.title | md5 %}
{% if count.url == blank and hash != "f14392b01768540f6a4ca1a11b25a020" %}
<div class="njohn_active"><a href="#">{{ count.title }}</a></div>
{% elsif count.url == blank and hash == "f14392b01768540f6a4ca1a11b25a020" %}
<div class="njohn_none"><a href="#" onclick="return false;">{{ count.title }}</a></div>
{% else %}
<div class="njohn_inactive"><a href="{{ count.url }}">{{ count.title }}</a></div>
{% endif %}
{% endfor %}
  
{% if paginate.next.is_link and paginate.pages > 4 %}
<div class="njohn_inactive">
	<a href="{{ paginate.next.url }}">
		<i class="material-icons">keyboard_arrow_right</i>
	</a>
</div>
{% endif %}
</div>
