<style>
  .pickup-container a#pickup-img img{
    max-width: 200px;
  }
  #pickupOptionModal img{
/*     width: 100%; */
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .pickup-container{
    margin: 10px 0;
  }

  .pickup-container a#pickup-img{
    display: inline-block;
    padding-right: 15px;
    border: 1px solid rgb(234, 234, 234);
    color: #ae0303;
    font-weight: bold;
    text-decoration: none;
    animation-name: highlight-pickup;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .pickup-container p a{
/*     display: block; */
  }
  @keyframes highlight-pickup {
    0%   {color:#ae0303;}
    25%  {color:#db2424;}
    50%  {color:#f44545;}
    75%  {color:#db2424;}
    100% {color:#ae0303;}
  }
  .pickup-container img{
    /*   border: 1px solid #d2d1d1; */
    /*   margin-bottom: 1em; */
  }
  .pickup-info{
    border: 1px solid #e5e5e5;
    padding: 10px 30px;
    margin-bottom: 3rem;
  }
  .pickup-info input[type="radio"]{
    margin: 7px 0 0 -20px;;
  }
  .pickup-info .radio-inline + .radio-inline{
    margin-left: 15px;
  }
  .pickup-info #pickup-date{
    text-decoration: underline;
  }
  .pickup-info input{
    text-align: center;
  }
  .pickup-info .who-will-pick input{
    text-align: left;
  }
  .pickup-info #pickup-date-input{
    visibility: hidden;
    position: absolute;
  }
  .pickup-info .pickup-date, .pickup-info .who-will-pick{
    display:none;
    margin: 0 -15px 10px;
  }
  #pickupOptionModal .modal-body .row p{
    font-size: 13px;
    margin: 0 0 5px;
  }
  #pickupOptionModal .modal-body .row p.h6{
    margin-bottom: 14px;
  }
  #pickupOptionModal .modal-content button{
    font-size: 16px;
    padding: 6px 12px;
  }
  #pickupOptionModal img#pickup-info-img{
    margin-top: 0;
  }
  #pickup-img > img, #pickup-img > div{
    display: inline-block;
  }
  #pickup-with-stock{
    margin-bottom: 10px;
  }
  #pickup-with-stock button:hover{
    background-color: #bdbdbd;
  }
  .need-login{
    text-align: center;
  }
  .need-login a{
    text-decoration: underline;
    color: red;
  }
</style>
<div class="pickup-container">
  {% if settings.pickup_sku_list contains product.selected_or_first_available_variant.sku %}
  {% assign show_pickup = true %}
  {% endif %}
  <input type="hidden" id="customer-id" value="{{customer.id}}" />
  <a id="pickup-img" href="#" data-toggle="modal" data-target="#pickupOptionModal" data-pickupsku="{{settings.pickup_sku_list}}" data-pickuponlysku="{{settings.pickup_only_sku_list}}" class="hide">
    <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/pickup-logo.jpg?v=1585538664" 
         alt="Motorhelmets Buy Online Pickup In Store"
         title="Motorhelmets Buy Online Pickup In Store" />
    <div style="vertical-align: middle;">
      <div>To Pickup in Store Click Here</div>
      <div><small>Reserve for Store Pick Up</small></div>
<!--       <div id="pickup-eligible-text"><small>This item is <b>eligible for Pickup</b></small></div>
      <div id="pickup-only-text"><small>This item is for <b>Pickup Only</b></small></div> -->
<!--       <div><small><i class="simple-icon simple-icon-phone"></i> <b>Tel: 714-879-8180</b></small></div> -->
    </div>
  </a>
  <!-- Pick Up Modal -->
  <div class="modal fade" id="pickupOptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
<!--         <div class="modal-header">
          <h5 class="modal-title" id="">Pickup In-Store</h5>
        </div> -->
        <div class="modal-body h5">
          <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-3">
                  <img id="pickup-info-img" src="" width="100" height="100"
                       alt="Motorhelmets Buy Online Pickup In Store Info"
                       title="Motorhelmets Buy Online Pickup In Store Info"/>
                </div>
                <div class="col-sm-9">
                  <h6 class="text-left"><b>{{product.title}}</b></h6>
                  <p class="text-left" id="pickup-info-color">Color: <b>{{product.title}}</b></p>
                  <p class="text-left" id="pickup-info-size">Size: <b>{{product.title}}</b></p>
                  <p class="text-left" id="pickup-info-price">Price: <b>{{product.title}}</b></p>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <p class="text-left"><b><i class="simple-icon simple-icon-phone"></i> Tel: 714-879-8180</b></p>
              <p class="text-left"><b><i class="simple-icon simple-icon-clock"></i> Store Hours: M-F 10am - 7pm PST | Sat 11am - 6pm PST</b></p>
              <p class="text-left"><b><i class="simple-icon simple-icon-map"></i> 1871 West Commonwealth Ave Fullerton California 92833 USA</b></p>
              <div class="divider divider--sm"></div>
              <p class="text-left h6"><b><em>NOTE: Pickup at the store in Fullerton California.  We will contact you as soon as it's available for pickup.</em></b></p>
              
            </div>
            <div class="divider divider--sm"></div>
            <div class="col-sm-12">
              <div id="pickup-with-stock">
                <div class="text-center h6">Add to cart to pick up from our store or simply ship it!</div>
                <div class="text-center product-info">
                  <div class="row" style="margin-bottom: 1em;">
                    <div class="col-xs-offset-3 col-sm-6">
                      <input type="number" id="pickup-qty" class="form-control qty-input" min="1" value="1"/>
                    </div>
                  </div>
                  <div style="max-width: 300px; margin: 0 auto;">
                    <p>You are reserving this item for Pick Up in our Fullerton CA store. After checkout, a representative will contact you with a Pickup Date Confimation.</p>
                  </div>
                  <div class="divider divider--sm"></div>
                  <button class="btn btn-dark" id="pickup-button" style="color:#FFF; background-color: #000; margin-right:10px" data-variantid="" {% unless customer %}{% endunless %}><i class="simple-icon simple-icon-handbag"></i> Reserve for Pickup Now</button>
<!--                   <button class="btn btn-dark" id="ship-button" style="color:red"><i class="simple-icon simple-icon-basket"></i> ADD TO CART</button> -->
                </div>
              </div>
              <div id="pickup-no-stock">
                <div class="text-center h6" style="color:red">Sorry. Not Available at the moment.</div>
              </div>
              {% unless customer %}
<!--               <div class="need-login">
                <p>Please <a href="/account/login" id="login-pickup">{{'layout.customer.sign_in' | t }}</a> to use the Pickup Cart.</p>
                <p>Don't have an account? <a href="/account/register"  id="register-pickup">{{ "layout.customer.register" | t }} now!</a></p>
              </div> -->
              {% endunless %}
            </div>
            <div class="divider divider--sm"></div>
            <div class="col-sm-12">
              
              <div>
                <iframe style="margin-bottom: 20px;width: 100%;" scrolling="no" marginheight="0" marginwidth="0" 
                        src="//maps.google.com/maps?q=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;gl=us&amp;cd=5&amp;ei=HBCXS9GmJJXqzASNp9H-Dw&amp;sig2=2abiqzG9tGRuqGVBkMyCqw&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=17854415528042546497&amp;ved=0CCAQpQY&amp;hq=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;hnear=&amp;ll=33.875546,-117.977371&amp;spn=0.171026,0.205994&amp;z=11&amp;iwloc=A&amp;output=embed" 
                        align="right" frameborder="0" height="400" width="500"></iframe> 
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-1.jpg" alt="Motorhelmets Store Front" title="Motorhelmets Store Front">
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-2.jpg" alt="Motorhelmets Store Front 2" title="Motorhelmets Store Front 2">
                </div>
<!--                 <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-3.jpg" alt="Motorhelmets Store Front 3" title="Motorhelmets Store Front 3">
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-4.jpg" alt="Motorhelmets Store Front 4" title="Motorhelmets Store Front 4">
                </div> -->
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-1.jpg" alt="Motorhelmets Store Front 5" title="Motorhelmets Store Front 5">
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-2.jpg" alt="Motorhelmets Store Front 6" title="Motorhelmets Store Front 6">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Pick Up Cart Modal -->
  <div class="modal fade" id="pickupCartModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
<!--         <div class="modal-header">
          <h5 class="modal-title" id="">Pickup In-Store</h5>
        </div> -->
        <div class="modal-body h5">
          <div class="row">
            <div class="col-sm-12">
              <p class="text-left"><b><i class="simple-icon simple-icon-phone"></i> Tel: 714-879-8180</b></p>
              <p class="text-left"><b><i class="simple-icon simple-icon-clock"></i> Store Hours: M-F 10am - 7pm PST | Sat 11am - 6pm PST</b></p>
              <p class="text-left"><b><i class="simple-icon simple-icon-map"></i> 1871 West Commonwealth Ave Fullerton California 92833 USA</b></p>
              <div class="divider divider--sm"></div>
              <p class="text-left h6"><b><em>NOTE: Pickup at the store in Fullerton California.  We will contact you as soon as it's available for pickup.</em></b></p>
              
              <div class="line_info">
                <span class="eligible-pickup">Eligible for Pickup</span> - items can either be picked up or shipped.
              </div>
              <div class="divider divider--sm"></div>
              <div class="line_info">
                <span class="pickup-only">Pickup Only</span> - items can only be picked up in store.
              </div>
            </div>
            <div class="divider divider--sm"></div>
            <div class="col-sm-12">
              
              <div>
                <iframe style="margin-bottom: 20px;width: 100%;" scrolling="no" marginheight="0" marginwidth="0" 
                        src="//maps.google.com/maps?q=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;gl=us&amp;cd=5&amp;ei=HBCXS9GmJJXqzASNp9H-Dw&amp;sig2=2abiqzG9tGRuqGVBkMyCqw&amp;ie=UTF8&amp;hl=en&amp;view=map&amp;cid=17854415528042546497&amp;ved=0CCAQpQY&amp;hq=1871+w.+commonwealth+ave+fullerton+ca+92833&amp;hnear=&amp;ll=33.875546,-117.977371&amp;spn=0.171026,0.205994&amp;z=11&amp;iwloc=A&amp;output=embed" 
                        align="right" frameborder="0" height="400" width="500"></iframe> 
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-1.jpg" alt="Motorhelmets Store Front" title="Motorhelmets Store Front">
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-2.jpg" alt="Motorhelmets Store Front 2" title="Motorhelmets Store Front 2">
                </div>
<!--                 <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-3.jpg" alt="Motorhelmets Store Front 3" title="Motorhelmets Store Front 3">
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-new-4.jpg" alt="Motorhelmets Store Front 4" title="Motorhelmets Store Front 4">
                </div> -->
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-1.jpg" alt="Motorhelmets Store Front 5" title="Motorhelmets Store Front 5">
                </div>
                <div class="col-sm-6">
                  <img class="img-responsive" src="//cdn.shopify.com/s/files/1/1223/6434/files/motorhelmets-store-front-2.jpg" alt="Motorhelmets Store Front 6" title="Motorhelmets Store Front 6">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size: 1em; padding: 7px 20px;">Close</button>
        </div>
      </div>
    </div>
  </div>


<!-- Server Error Modal -->
  <div class="modal fade" id="errorServerModal" tabindex="-1" role="dialog" aria-labelledby="errorServerHeader" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorServerHeader">Server Error</h5>
        </div>
        <div class="modal-body h5 text-center">
          <p>We have encountered an error while processing your pickup order.</p>
          <p>You can wait for a few moment or add the item to your cart instead.</p>
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button type="button" class="btn btn-secondary" id="shipit" style="font-size: 1em; padding: 7px 20px;">Add To Cart</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size: 1em; padding: 7px 20px;">Close</button>
        </div>
      </div>
    </div>
  </div>

<!-- Server Error Cart Modal -->
  <div class="modal fade" id="errorServerCartModal" tabindex="-1" role="dialog" aria-labelledby="errorServerHeader" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorServerHeader">Server Error</h5>
        </div>
        <div class="modal-body h5 text-center">
          <p>We have encountered an error while processing your pickup order.</p>
          <p>You can wait for a few moment or proceed to checkout instead.</p>
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" style="font-size: 1em; padding: 7px 20px;">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
  jQuery(function ($) {
    $('#pickupModal .modal-body p').lightGallery();
    $('#ship-button').on('click',function(e){
      e.preventDefault();
      $('.addtocart').click();
    });
    
    $('#login-pickup, #register-pickup').on('click', function(e){
      e.preventDefault();
      let href = $(this).attr('href');
      let cookiename = 'pickup_product';
      try {
        let item = '{{ product.url }}';
        $j.cookie(cookiename, item, { expires : 7, path: '/' });
        window.location.href = href;
      }
      catch (err) {
        console.log(err);
      }


      let link = getLinkFromCookie($j.cookie(cookiename));
      function getLinkFromCookie(c) {
        return String(c);
      }
    });

  })
</script>