<style>
  .popup-modal{
    background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-bg-3.jpg?791035660329386707");
    background-size: cover;
    background-position-x: 0px;
    padding: 50px 15px 50px 15px;
    border-radius: 0px;
    border: none;
  }
  .white-modal .modal-header .close{
    color:black; 
  }
  @media (max-width:425px){
    .popup-modal{
      background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-bg-mobile.jpg?6137857007436222354");    
    }
    .white-modal .modal-header .close{
      color:white; 
    }

  }
  @media (max-width:375px){
    .popup-modal{
      background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-bg-mobile.jpg?6137857007436222354");    
    }
    .white-modal .modal-header .close{
      color:white; 
    }
  }
  @media (max-width:320px){
    .popup-modal{
      background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-bg-mobile.jpg?6137857007436222354");    
    }
    .white-modal .modal-header .close{
      color:white; 
    }
  }
  .newsletter-description{
    margin-top: 50px;
    color:white; 
    font-weight:400;
    font-size:20px;
  }
    .newsletter-promo{
    color:white; 
    font-size:29px;


  }
</style>

{% if settings.popup_newsletter_show %}
{% assign message = 'newsletter.popup_newsletter.message' | t %}
<div class="modal  modal--bg fade"  id="newsletterModal" data-pause={{ settings.popup_newsletter_delay_first }} >
  <div class="modal-dialog white-modal center-center  modal-md">
    <div class="modal-content modal-md popup-modal">
      <div class="modal-block">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
        </div>
        <div class="modal-newsletter text-center">
          <div>{{ settings.popup_newsletter_description }}</div>

          {% if settings.mailchimp_form_action != "" %}
          <form action="//motorhelmets.us10.list-manage.com/subscribe/post?u=ff8716194950b6d4e7426ca81&id=12fe6611a1" method="post" name="mc-embedded-subscribe-form" target="_blank" class="subscribe-form">
            <div class="row-subscibe">			           				            		 
              <input class="text-center" type="text" name="EMAIL" placeholder="{{ message }}">
              <button type="submit" class="btn btn--ys btn--xl">{{ 'newsletter.popup_newsletter.button' | t }}</button>
            </div>
          </form>
          {% else %}
          <strong><u>Add newsletter redirect link in Newsletter / MailChimp form action URL</u></strong>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (function(e) {

    var obj = {
      init: function() {
        try
        {
          if (e.cookie('popupNewsletter') != 'disable') {
            this.checkboxEvent();
            var pause = e('#newsletterModal').attr('data-pause');
            setTimeout(function() {
              e('#newsletterModal').modal('show');
              var date = new Date();
              var minutes = {{ settings.popup_newsletter_delay }};
              date.setTime(date.getTime() + (minutes * 60 * 1000));
              e.cookie('popupNewsletter', 'disable', {expires:date, path:'/'});
            }, pause);
          }
        }
        catch (err) {} // ignore errors reading cookies
      },
      checkboxEvent: function() {
        e('#checkBox').change(function(){
          if (e(this).is(':checked')) {
            e.cookie('popupNewsletter', 'disable', {expires:1, path:'/'});
          } else {
            e.cookie("popupNewsletter", null, { path: '/' });
          }
        });
      }
    };


    e(document).ready(function() {
      obj.init();
    });
        var setpermanentCookie = () => {
      e.cookie('popupNewsletter', 'disable', {expires:365, path:'/'});
    }
    
    $("form.subscribe-form").submit(function(){
      setpermanentCookie();
    });

  })(jQuery)
</script>
{% endif %}


