<!-- POPUP ADD TO CART -->
<div class="modal fade" id="modalAddToCart" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog white-modal">
		<div class="modal-content">
			<div class="njohn_header_modal">
				<button type="button" data-dismiss="modal" aria-hidden="true">
					<span class="icon icon-clear"></span>
				</button>
			</div>
			<div class="njohn_modal_body">
				<div class="njohn_addtocart">
					<div id="njohn_addtocart_img"></div>
					<div id="njohn_addtocart_name">
						<div>
							<span class="njohn_addtocart_cell"></span>
						</div>
						<div>
							<span class="njohn_addtocart_success"></span>
							<span class="icon icon-check"></span> is added to your shopping cart.
						</div>
						<div class="njohn_addtocart_btn">       
							<div>
								<a href="#" class="njohn_continue_shop" data-dismiss="modal" aria-hidden="true">
									<span class="icon icon-home"></span> Continue shopping
								</a>  
							</div>
							<div>
								<a href="/cart" class="njohn_go_to_cart">
									<span class="icon icon-shopping_cart"></span> go to cart
								</a>  
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /POPUP ADD TO CART -->

<!-- POPUP ADD TO CART ERROR -->
<div class="modal fade" id="modalAddToCartError" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog white-modal modal-sm">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="icon icon-clear"></span>
				</button>
			</div>
			<div class="modal-body">
				<div class="text-center error_message"></div>
			</div>
		</div>
	</div>
</div>
<!-- /POPUP ADD TO CART ERROR -->