{% if settings.product_item_show_wishlist %}<!-- modalWishlist --><div class="modal  fade"  id="modalAddToWishlist" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog white-modal modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
      </div>
      <div class="modal-body">
        <div class="text-center">{{ "wishlist.popup_product_added.message" | t }}</div>
        <hr>
          	<p class="txt-black text-center">Wishlist are temporary to this session Only . your product(s) will not be saved permanently.</p>
  			<div class="divider divider--md"></div>
			<p class="text-center">
              <a class="btn btn--ys btn--light" data-dismiss="modal">Continue Shopping</a>
     		</p>  
            <p class="text-center">
  			  <a class="btn btn--ys btn--light text-center" href="/pages/wishlist">Go to Wishlist</a>
          	</p>  
      </div>
    </div>
  </div>
</div><!-- /modalWishlist -->{% endif %}