<div class="modal modal--bg fade" id="nj_qv_quickViewModal">
	<div class="modal-dialog white-modal">
		<div class="modal-content container">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<span class="icon icon-clear"></span>
				</button>
			</div>
			<div class="nj_qv_quickview_prod">
				<div class="nj_qv_quickview_prod1">
					<img class="nj_qv_img_box" />
				</div>
				
				<div class="nj_qv_quickview_prod2">
                  
                  
                  
					<div class="nj_qv_sku_qty">
						<div class="nj_qv_product_sku">
							<span>SKU: </span><span></span>
						</div>
					</div>
					
					<div class="nj_qv_product_title">
						<span></span>
					</div>
					
					<div class="nj_qv_price_box_style"></div>

					<div class="product-info__review">
						<div class="rating"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
					</div>
                  
		<div class="nj_qv_wishlist">
			<div class="default-wishbutton">
				<a class="add-in-wishlist-js" href='javascript:void(0);' my-handle title="ADD TO WISH LIST" nj-wishlist="active">
					<span class="icon icon-favorite_border"></span> <span nj-label>ADD TO WISH LIST</span>
				</a>
			</div>
			<div class="added-wishbutton" style="display: none;">
				<a href='/pages/wishlist'>
					<span class="icon icon-favorite"></span> <span nj-label>GO TO WISH LIST</span>
				</a>
			</div>
		</div>
					<div>
						<form id="nj_qv_add_item_qv" action="/cart/add" method="post">
							<div class="nj_selector_clr_container">
								<div class="nj_selector_clr_label"><span>Color: </span><span></span></div>
								<div class="nj_selector_clr"></div>
							</div>
							<div class="nj_selector_sz_container">
								<div class="nj_selector_sz_label"><span>Size: </span><span></span></div>
								<div class="nj_selector_sz"></div>
							</div>
							<div class="nj_qv_variants"></div>
								<div class="nj_qv_control_console_field">
									<div class="nj_qv_control_console_label">
										<span class="qty-label">Quantity</span>
									</div>
									<div class="nj_qv_control_console">
										<input value="1" name="quantity" type="number" min="1" max="10">
									</div>
									<div class="nj_qv_addtocartqv">
										<button type="submit"></button>
									</div>
								</div>
							<script>
								jQuery('.nj_qv_addtocartqv button').click(function(e) {
									e.preventDefault();
									Shopify.addItemFromFormStart('nj_qv_add_item_qv', jQuery(this).attr('id'));
								});
							</script>
						</form>
						
						<div class="nj_qv_product_disable">
							<button disabled >Unavailable</button>
						</div>
					</div>
					
					<div class="nj_qv_viewfullinfo">
						<a href="#">View Product</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script>
jQuery(function ($) {
		// NJ CODE START
	quiqview = function(product_handle) {
		quikViewItem(product_handle);
		$("#loader-wrapper").css('opacity','1');
		$("#loader-wrapper").css('visibility','visible');
	}
	
	$('.nj_selector_clr_label').click(function() {
			var click = $(this).attr('nj-click');
			if(click == '') {
				$(this).attr('nj-click', 'active');
				$('.nj_selector_clr').show(300);
			}
			else {
				$(this).attr('nj-click', '');
				$('.nj_selector_clr').hide(300);
			}
	});
			
	function removeDupsArray(data) {
		return data.filter(function(nj,i,data){
			return i == data.indexOf(nj);
		});
	}
	
	
	function checkStocks(d, v) {
		if(v == 1) {
			if(d == 0) {
				d_r = "Out of stock";
			}
			else if(d == 1) {
				d_r = "Only " + d + " left in stock";
			}
			else if(d == 2) {
				d_r = "Only " + d + " left in stock";
			}
			else if(d == 3) {
				d_r = "Only " + d + " left in stock";
			}
			else {
				d_r = "In stock";
			}
		}
		else if(v == 2) {
			if(d <= 3) {
				d_r = "";
			}
			else {
				d_r = "active";
			}
		}
		return d_r;
	}

	function moneyFormat(d) {
		return Shopify.formatMoney(d, "{"+"{amount}}");
	}
	
	function quikViewItem(prod) {
		Shopify.getProduct(prod);
		Shopify.onProduct = function(product) {
		
		if(product.available) {
			$('.nj_qv_control_console_field').css('display','block');
			$('.nj_qv_product_disable').css('display','none');
			$('.nj_selector_sz_label').css('display','block');
			$('.nj_selector_sz').css('display','block');
		}
		else {
			$('.nj_qv_control_console_field').css('display','none');
			$('.nj_qv_product_disable').css('display','block');
			$('.nj_selector_sz_label').css('display','none');
			$('.nj_selector_sz').css('display','none');
		}
		//	console.log(product);
			var nj_price_min_x = product.price_min;
			var nj_compare_at_price_min_x = product.compare_at_price_min;
			
				nj_price_min = moneyFormat(nj_price_min_x);
				nj_compare_at_price_min = moneyFormat(nj_compare_at_price_min_x);
			
			if(nj_compare_at_price_min_x == 0) {
				$('.nj_qv_price_box_style').html('<span nj-price-current>$' + nj_price_min + '</span>');
			}
			else {
				$('.nj_qv_price_box_style').html('<span nj-price-new>$' + nj_price_min + '</span>' + ' <span nj-price-old>$' + nj_compare_at_price_min + '</span>');
			}
			
			$('.nj_qv_price_main').text(nj_price_min);
			
			$('.product-info__review .rating').html('<span class="shopify-product-reviews-badge" data-id="'+product.id+'"></span>');

			if($(".spr-badge").length > 0) {
				$.getScript(window.location.protocol + "//productreviews.shopifycdn.com/assets/v4/spr.js");
			}
			
			var nj_img0 = product.variants[0].featured_image.src.replace(/\.jpg/g, '_large.jpg');
			var nj_sku0 = product.variants[0].sku;
			var nj_qty0 = product.variants[0].inventory_quantity;
			
			$('.nj_qv_img_box').attr('src', nj_img0);
			$('.nj_qv_product_sku span:last-child').text(nj_sku0);
			
			var nj_img_a = [];
			var nj_img_sz_a = [];
			var nj_count = product.variants.length;
			for (i = 0; i < nj_count; i++) {
				var nj_img = product.variants[i].featured_image.src;
				var nj_skus = product.variants[i].sku;
				var nj_stocks = product.variants[i].inventory_quantity;
          
				var nj_img_color = product.variants[i].option1;
					nj_img_small = nj_img.replace(/\.jpg/gm,'_small.jpg');
					nj_img_large = nj_img.replace(/\.jpg/gm,'_large.jpg');
					nj_img_color_handleize = 'n_' + nj_img_color.replace(/[^0-9a-z]/gi,'_').toLowerCase() + '_j';
				var nj_compare_at_price_min_clr = product.compare_at_price_min;
				var nj_price_min_clr = product.price_min;
					nj_img_a.push('<li><img nj-price="' + moneyFormat(nj_price_min_clr) + '" nj-compare_at_price="' + moneyFormat(nj_compare_at_price_min_clr) + '" nj-color-handleize="' + nj_img_color_handleize + '" src="' + nj_img_small + '" title="' + nj_img_color + '" alt="' + nj_img_color + '" nj-image="' + nj_img_large + '" /></li>');
					
				if(i < 1) { 
					var i2 = i;
				}
				else {
					var i2 = i-1;
				}
				
				var nj_available = product.variants[i].available;
				var nj_sz = product.variants[i].option2;
				var nj_price = product.variants[i].price;
				var nj_compare_at_price = product.variants[i].compare_at_price;
				var nj_variant_id = product.variants[i].id;
                if(product.variants[i].price == 0 ){
                  nj_stocks = 0;
                  nj_available = false;
                }
				if(product.variants[i].featured_image.src != product.variants[i2].featured_image.src) {
					nj_img_size = '</ul><ul nj-color-handleize="' + nj_img_color_handleize + '"><li nj-skus="' + nj_skus + '" nj-stocks="' + nj_stocks + '" nj-availability="' + nj_available + '" nj-variant_id="' + nj_variant_id + '" nj-price="' + moneyFormat(nj_price) + '" nj-compare_at_price="' + moneyFormat(nj_compare_at_price) + '">' + nj_sz + '</li>';
				}
				else {
					nj_img_size = '<li nj-skus="' + nj_skus + '" nj-stocks="' + nj_stocks + '" nj-availability="' + nj_available + '" nj-variant_id="' + nj_variant_id + '" nj-price="' + moneyFormat(nj_price) + '" nj-compare_at_price="' + moneyFormat(nj_compare_at_price) + '">' + nj_sz + '</li>';
				}
				nj_img_sz_a.push(nj_img_size);
			}
			$('.nj_selector_clr').html('<ul class="nj_img_selector">' + removeDupsArray(nj_img_a).join("") + '</ul>');
			var nj_color_handleize = 'n_' + product.variants[0].option1.replace(/[^0-9a-z]/gi,'_').toLowerCase() + '_j';
			var nj_color_title = product.variants[0].option1;
			var nj_color_size = product.variants[0].option2;
			$('.nj_selector_sz').html('<ul nj-color-handleize="' + nj_color_handleize + '">' + nj_img_sz_a.join("") + '</ul>');
			$('.nj_selector_sz ul[nj-color-handleize=' + nj_color_handleize + ']').show();
			
			
			
			$('.nj_img_selector img').click(function() {
				var title = $j(this).attr('title');
				var src = $j(this).attr('nj-image');
				$('.nj_qv_img_box').attr({'title': title, 'alt': title, 'src': src });
				$('.nj_selector_clr_label span:last-child').text(title);
				
				var click = $(this).attr('nj-click');
				var vw_size = $(this).attr('nj-color-handleize');
				if(click != 'active') {
					$('.nj_img_selector img').attr('nj-click', '');
					$(this).attr('nj-click', 'active');
					$('.nj_selector_sz ul').hide();
					$('.nj_selector_sz ul[nj-color-handleize=' + vw_size + ']').show();
				}
				$('.nj_selector_sz li').attr('nj-disabled', '');
				$('.nj_qv_addtocartqv button').text('Please Select Size');
				$('.nj_qv_addtocartqv button').prop("disabled",true);
				$('.nj_selector_sz_label span:last-child').empty();
				$('.nj_selector_sz li').attr('nj-click','');

				var nj_price_img = $(this).attr('nj-price');
				var nj_compare_at_price_img = $(this).attr('nj-compare_at_price');
				if(nj_compare_at_price_img == 0) {
					$('.nj_qv_price_box_style').html('<span nj-price-current>$' + nj_price_img + '</span>');
				}
				else {
					$('.nj_qv_price_box_style').html('<span nj-price-new>$' + nj_price_img + '</span>' + ' <span nj-price-old>$' + nj_compare_at_price_img + '</span>');
				}
			});
			
			$('.nj_selector_sz li').attr('nj-disabled', 'active');
			$('.nj_selector_sz_label span:last-child').empty();
			$('.nj_selector_clr_label span:last-child').text('Please Select Color');
			$('.nj_qv_addtocartqv button').text('Please Select Color');
			$('.nj_qv_addtocartqv button').prop("disabled",true);
			
			$('.nj_selector_sz li').click(function() {
				var img_click = $('.nj_img_selector img').attr('nj-click');
				if(img_click == 'active' || img_click == '') {
					var click = $(this).attr('nj-click');
					var variant_id = $(this).attr('nj-variant_id');
					var skus = $(this).attr('nj-skus');
					var stocks = $(this).attr('nj-stocks');
					$('#product-select-qv').val(variant_id);
					$('.nj_selector_sz_label span:last-child').text(checkStocks(stocks, 1));
					$('.nj_selector_sz_label span:last-child').attr('nj-stock-check',checkStocks(stocks, 2));
					
					$('.nj_qv_product_sku span:last-child').text(skus);
				
					if(click != 'active') {
						$('.nj_selector_sz li').attr('nj-click', '');
						$(this).attr('nj-click', 'active');
					}

					if(stocks == 0 || $(this).attr('nj-price') == 0) {
						$('.nj_qv_addtocartqv button').text('Unavailable');
						$('.nj_qv_addtocartqv button').prop("disabled",true);
					}
					else {
						$('.nj_qv_addtocartqv button').text('Add to Cart');
						$('.nj_qv_addtocartqv button').prop("disabled",false);
					}

					var nj_price_sz = $(this).attr('nj-price');
					var nj_compare_at_price_sz = $(this).attr('nj-compare_at_price');
					if(nj_compare_at_price_sz == 0) {
						$('.nj_qv_price_box_style').html('<span nj-price-current>$' + nj_price_sz + '</span>');
					}
					else {
						$('.nj_qv_price_box_style').html('<span nj-price-new>$' + nj_price_sz + '</span>' + ' <span nj-price-old>$' + nj_compare_at_price_sz + '</span>');
					}
				}
				else {
					$('.nj_qv_addtocartqv button').text('Please Select Color');
					$('.nj_qv_addtocartqv button').prop("disabled",true);
				}
			});

			

			
			
			$('.nj_qv_viewfullinfo a').attr('href', product.url);
			$('.nj_qv_product_title span').text(product.title);

          

        $j("#nj_qv_quickViewModal .default-wishbutton").removeClass (function (index, css) {
            return (css.match (/(^|\s)defbtn\S+/g) || []).join(' ');
        });
          
		$j('#nj_qv_quickViewModal .default-wishbutton').addClass('defbtn' + product.handle);
		$j('#nj_qv_quickViewModal .add-in-wishlist-js').attr('my-handle', product.handle);
          
        $j('#nj_qv_quickViewModal .added-wishbutton').hide();
        $j('#nj_qv_quickViewModal .default-wishbutton').show();
                  
		updateWishlistButtons();
          
          
          
			// Variants Select
			if(product.variants.length > 1) {
				var select = '<select id="product-select-qv" name="id" style="display:none;">';
				var selected = 'selected';
				for (i = 0; i < product.variants.length; i++) {
					var _var = product.variants[i];
					if(_var.available) {
						select += '<option value="' + _var.id + '"' + selected +'>' + _var.title + ' - ' + Shopify.formatMoney(_var.price, "{{ shop.money_format }}") + '</option>'
						selected = '';
					}
				}
				select += '</select>';
			}
			else {
				var select = '<input type="hidden" name="id" value="' + product.variants[0].id + '" />';
			}
			
			$('.nj_qv_variants').html(select);

			$('.nj_selector_clr_label').attr('nj-click', '');
			$('.nj_selector_clr').css('display', 'none');

			$('#nj_qv_quickViewModal').modal('show');
			$("#loader-wrapper").css('opacity','0');
			$("#loader-wrapper").css('visibility','hidden');

			if( !( 'ontouchstart' in window ) && !navigator.msMaxTouchPoints && !navigator.userAgent.toLowerCase().match( /windows phone os 7/i ) ) return false;

			$j('body').css("top", -$j('body').scrollTop());
			$j('body').addClass("no-scroll");
			$j('.close').click(function(){
			var top = parseInt($j('body').css("top").replace("px", ""))*-1;
			$j('body').removeAttr("style");
			$j('body').removeClass("no-scroll");
			$j('body').scrollTop(top);
			});
			
			
		}

                  
	}


		// NJ CODE END
});

</script>