<div id="custom-preloader">
  <div class="custom-loader" style="display: none;">
      <div class="preloader">
          <div class="logo-circle">
              <img style="width: 70px; height: 52px;" src="//cdn.shopify.com/s/files/1/1223/6434/files/logo-preloader.png?13019763102170269221">
          </div>
      </div>
  </div>
</div>

<style>
  #custom-preloader .custom-loader {
  background-color: transparent !important;
}
       .preloader {
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
      }
      .preloader .logo-circle {
        position: relative;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        background: #000;
        border-radius: 200px;
        margin-bottom: 2.2em;
        -webkit-animation: white-shadow 1s infinite;
        -moz-animation: white-shadow 1s infinite;
        -ms-animation: white-shadow 1s infinite;
        animation: white-shadow 1s infinite;
        line-height: 85px;
      }
      .preloader .loading-text {
        font-family: 'Arial', sans-serif;
        font-size: 18px;
        color: rgba(255,255,255,0.6);
        text-shadow: 1px 1px 0 0 #000;
        margin-left: 10px;
      }
      @-webkit-keyframes white-shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
          -webkit-transition: box-shadow 0.3s ease-in-out;
        }
        100% {
          box-shadow: 0 0 0 30px transparent;
          -webkit-transform: translate3d(0, 0, 0);
          -webkit-transition: box-shadow 0.4s ease-in-out;
        }
      }
      @-moz-keyframes white-shadow {
        0% {
          box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.3);
          -moz-transition: box-shadow 0.3s ease-in-out;
        }
        100% {
          box-shadow: 0 0 0 30px transparent;
          -moz-transform: translate3d(0, 0, 0);
          -moz-transition: box-shadow 0.4s ease-in-out;
        }
      }
      @keyframes white-shadow {
        0% {
          box-shadow: 0 0 0 0 rgb(0, 0, 0);
          -webkit-transition: box-shadow 0.3s ease-in-out;
          -moz-transition: box-shadow 0.3s ease-in-out;
          transition: box-shadow 0.3s ease-in-out;
        }
        100% {
          box-shadow: 0 0 0 30px transparent;
          -webkit-transform: translate3d(0, 0, 0);
          -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
          -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
          -webkit-transition: box-shadow 0.4s ease-in-out;
          -moz-transition: box-shadow 0.4s ease-in-out;
          transition: box-shadow 0.4s ease-in-out;
        }
      }
  
</style>
