{% if product.vendor == "Roadkrome" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/roadkrome">
<img src="//cdn.shopify.com/s/files/1/1223/6434/files/roadkrome-120x120.jpg?82754570031878900" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div class="_readmore">
  <p>Roadkrome is a brand which makes product for cruiser, custom and Harley Davidson style road bikes, between the classic boots and the classic motorcycle parts Roadkrome will surely satisfy your taste.</p>
  <p>Roadkrome's commitment to give you the best look for your ride leads them to incorporate top of the line leathers on their motorcycle gear and specialized chrome for their motorcycle parts to help you look like a million bucks without paying the price.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Biltwell" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/biltwell">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/biltwell-logo-120x120.jpg?v=1612924979" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>Based in California, USA, the hugely popular Biltwell motorcycle helmets have responded to the demand for retro, low profile cafe racer style helmets that have become so popular in recent years. Available in many great colours and metal flake options these helmets look fantastic and are really comfortable. They feature a custom-shaped EPS safety shell and a hand-stitched liner with moisture wicking brushed Lycra panels. They are available in the open face Bonanza helmet or the full face Gringo motorcycle helmet in many sizes so you’ll be able to find the right one for you. Please note that some of these helmets are American DOT safety approved, not EU approved.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Michelin" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/michelin">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/michelin-logo-120x120.jpg?v=1613711157" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>Dedicated to the improvement of sustainable mobility, Michelin designs, manufactures and sells tires for every type of vehicle, including airplanes, automobiles, bicycles, earthmovers, farm equipment, heavy-duty trucks and motorcycles. Michelin also offers a full range of innovative services and solutions that help make mobility safer, more efficient and more environmentally friendly.</p>
  <p>Since 1889, Michelin has innovated constantly to facilitate the mobility of people and goods, thus contributing to the advancement of human progress. Today, the Group is the leader in tire technology for every type of vehicle, leveraging its expertise in high-tech materials to deliver services and solutions that increase travel efficiency and products that enable customers to enjoy unique mobility experiences.</p>
  <p>To secure its long-term growth and meet its ambitious financial, environmental and social responsibility objectives, Michelin will continue to pursue its passion for innovation, execute its sustainable development approach and remain true to its commitment to moving forward with every stakeholder.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Maxxis" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/maxxis">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/maxxis-logo-120x120.jpg?v=1613711157" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>Maxxis International is committed to delivering high performance tyres to the world. Our products are unequalled in quality and performance. With over forty-five years of manufacturing experience and the ingenuity of our people, we have created new technologies to develop our diversified tyre products. Our products are thoroughly tested in our own facilities and at the world's leading tyre test centres. In addition, our engineers test our tyres with our national and world-class champions. We utilise the most advanced manufacturing equipment and engineering facilities in the industry. Only after extensive professional evaluation does a product go into production.</p>
  <p>At MAXXIS we strive to provide the highest quality products and customer service with the goal of creating lifelong Maxxis customers. Anchored by a strong commitment to our values, we form close partnerships with our stakeholders, and together we work to consistently exceed our customers’ expectations.</p>
  <p>From design to production, from the factory floor to your favorite road or trail, Maxxis products lead the way in technological advances. For bicycle, automotive, light truck, ATV, motorcycle, kart, trailer and lawn & garden, Maxxis provides the quality customers have come to depend on.</p>
  <p>Total customer satisfaction has been Maxxis’ guiding purpose since 1967. Working toward this goal has built Maxxis into the successful, worldwide company it is today. Champions around the world choose Maxxis because they know that our extensive product research, unique designs and rigorous testing standards produce tires that will elevate riders to the next level.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Shinko" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/shinko">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shinko-logo-120x120.jpg?v=1613612435" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>Established in 1946, the Shinko Group began as a manufacturer of bicycle tires and tubes in Osaka, Japan that today has become a burgeoning manufacture of rubber products.</p>
  <p>In 1998 the Shinko Group purchased the motorcycle tire technology and molds from Yokohama Rubber Co., and began production of these products under the Shinko Tire brand. With manufacturing based in South Korea and design based in Japan, the company has seamlessly combined Japanese engineering and design principles with South Korean production and quality control standards. Today Shinko Tires produces approximately 200,000 motorcycle tires per month.</p>
  <p>In the United States Shinko Tires are imported by Western Power Sports, Inc. (WPS), with corporate headquarters in Boise, Idaho. With a strong foothold on the power sports market, and with warehouses located in Boise, Idaho; Fresno, California; Ashley, Indiana; Elizabethtown, Pennsylvania; Midlothian, Texas; and Memphis, Tennessee, Shinko Tires USA-in conjunction with WPS-is proud to bring you the Shinko line of Sportbike, Cruiser, Scooter, Off road, and Dual sport tires.</p>
  <p>On going testing in the USA and R &amp; D at Shinko Tire's factory means a continuous path of exciting tires to meet the need of today's riders. Shinko Tires and WPS are here to serve your needs.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Jessup" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/jessup">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/jessup-logo.jpg?v=1619251195" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>Jessup Manufacturing Company is a global manufacturer specializing in adhesive coated and laminated materials and photoluminescent films and sheets. Jessup products are used in many industries as component parts, site safety equipment, and graphics. </p>
  <p>Jessup has over 64 years of experience and has created over 10,000 custom and branded solutions for customers. Jessup has two manufacturing plants in the United States and is headquartered in McHenry, Illinois.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Bridgestone" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/bridgestone">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/bridgestone-logo-120x120.jpg?v=1613615642" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <b>Your Journey, Our Passion</b>
  <p>We are eternally committed to serving society with superior quality. We will fulfill our responsibilities decisively. As you reach for the future, we will remain by your side.</p>
  <b>Technology &amp; Innovation</b>
  <p>The Bridgestone Group will continue to advance innova­tive technologies with a strong commitment to support­ing global communities.</p>
  <b>Sustainability</b>
  <p>Our Way to Serve is the Bridgestone Group’s framework to help realize a sustainable society.</p>
  <b>Mobility</b>
  <p>The Bridgestone Group contributes to the sustainable growth of a mobile society, providing optimal modes of mobility for people and society in the areas of accessible mobility, safe transportation and smart mobility.</p>
  <b>People</b>
  <p>The Bridgestone Group aims to build trust and respect both in communities and with our employees, by contributing to a safer society accessible and inclusive education, promoting healthier communities and contributing to the betterment of society.</p>
  <b>Environtment</b>
  <p>The Bridgestone Group is focused on business and the environment, creating value through products and services that contribute to reduced environmental impacts, while engaging in efforts to reduce our own environmental loads.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Dunlop" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/dunlop">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/dunlop-logo-120x120.jpg?v=1613520494" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>More than a century of innovation and racing experience goes into every Dunlop tire. Our tradition is built on high-performance technology that connects driver and road like never before.</p>
  <p>As part of the Goodyear family, the full Dunlop inventory is available on Goodyear.com. You’ll be able to shop all tires, see store locations, and more.</p>
  <p>Since our first victory in 1889, Dunlop racing tires and consumer tires have led the way in superior driving performance. Our racetrack heritage is reflected in the design of every street and race tire we make.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Pirelli" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/pirelli">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/pirelli-logo-120x120.jpg?v=1613445535" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p><b>Pirelli was founded in Milan in 1872</b> and today stands as a global brand known for its cutting edge technology, high-end production excellence and passion for innovation that draws heavily on its Italian roots. With 19 production plants in 12 countries and a commercial presence in over 160, Pirelli has around 31,600 employees and had a turnover in 2019 of about 5.3 billion euro. It is among the world’s major producers of tyres and associated services and the only one focused solely on the Consumer tyre market, which includes tyres for cars, motorcycles and bicycles. Pirelli, a Pure Consumer Tyre Company, has a particular focus on the High Value tyre market and is constantly engaged in the development of innovative products to address the most specific mobility needs of the final Consumer, such as Specialty and Super Specialty tyres.</p>
<br>
<p><b>OUR VISION</b></p>
<p>We believe in moving everyone forward through technological and social progress</p>
<br>
<p><b>OUR PURPOSE</b></p>
<p>Constantly pushing innovation in a cultured, sustainable and considerate manner</p>
<br>
<p><b>OUR MISSION</b></p>
<p>We deliver high value tyres and mobility services so you can safely further your limits</p>
</div>
</div>
</div>

{% elsif product.vendor == "Motion Pro" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/motion-pro">
<img src="//cdn.shopify.com/s/files/1/1223/6434/files/motion-pro-log-120x120.png?8390313568603633686" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p><b>Motion Pro, Inc. ®</b>designs and manufactures high quality cables, tools and controls for motorcycles, ATVs, snowmobiles and personal watercraft.</p>
  <p>Motion Pro was founded in 1984 by Chris Carter. A gold medal winner in the prestigious 6-day ISDT, Carter and his team of engineers developed most of the innovative specialty tools and products we offer. Chris Carter’s passion for motorcycle racing transpired to a company built on hard work and success with a goal to provide quality tools and controls for customers who share the same passion for motorcycling riding and racing. Motion Pro products are used and endorsed by champions and professional mechanics worldwide. Motion Pro’s roots in racing still run strong today, Motion pro provides support to many professional and amateur riders. We also support a wide range of events covering amateur to professional dirt track, off-road, ATV and motocross.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Driven Racing" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/driven-racing">
<img src="//cdn.shopify.com/s/files/1/1223/6434/files/driven-racing-logo-120x120.jpg?v=1608001626" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p><b>Driven Racing</b> was formed in May of 2005 by two friends with a passion for motorcycles and a love for racing. With a humble beginning in an 800sqft facility, Driven started selling sprockets and chains. We then introduced colored sprockets and made them available for immediate local delivery. Demand for Driven products grew which forced the company and people within it to grow as well. We quickly set our sights on more technologically advanced products with a strong emphasis on design, innovation, and attention to detail.</p>
  <p>We felt a need to constantly improve and reinvent ourselves. Today, Driven Racing is a global brand, sold through a world-wide network of dealers and distributors who make our products available to Driven fans everywhere. Driven manufactures a variety of products from sprockets to rear sets and everything in between, focusing primarily on the sport bike market.</p>
  <p>We proudly manufacture our products in-house at our Chatsworth, CA facility using American made CNC machines. With a great team of dedicated and passionate employees, we look forward to an exciting future motivated by the desire to innovate and bring exceptional products to our customers world-wide. Driven Racing, metal that moves you!</p>
</div>
</div>
</div>

{% elsif product.vendor == "UCLEAR" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/uclear">
<img src="https://cdn.shopify.com/s/files/1/1324/9125/files/uclear-logo.jpg?28214" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>UCLEAR Digital is about communication, free from noise and environmental interference.  We are about enjoying life, having fun with family and friends, getting outdoors and feeling the wind in your face.  UCLEAR Digital is about staying connected – to your music, your phone, your friends.  We are about allowing you to choose your adventure, 365 days a year, on the slopes, on the open road, on the trails, or in your own backyard.  With UCLEAR, you have flexibility, award-winning technology, customer support, connectivity, and the power to stay connected no matter where life takes you.</p>
  <p>UCLEAR offers a full line of communication systems and accessories that allow you to intercom, listen to music, take calls and connect to your GPS, all while enjoying your favorite outdoor activity.  Our products feature a patented Boomless Microphone that allows users to look cool while still enjoying outstanding noise cancellation and high fidelity sound.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Vance and Hines" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/vance-and-hines">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/vance-and-hines-logo.jpg?v=1604044023" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>The Vance &amp; Hines brand has always been about enhancing the exhilaration of the motorcycle ride. It started over 40 years ago, when Terry Vance and Byron Hines were two young enthusiasts in the fledgling Southern California motorcycle drag race scene. Terry always wanted to go faster and Byron knew how to make that happen. In short order, their on-track success and innovation drew the attention of other racers, riders and motorcycle manufacturers which ultimately translated to commercial demand. Today, the Company's mission and activity is the same; make bikes go faster on the race track and take those learnings to make impactful products for riders around the world. Since the Company's inception in 1979, we have had partnerships to run factory race programs with Suzuki, Yamaha, Ducati and Harley-Davidson in drag racing, road racing and flat track.</p>
  </div>
</div>
</div>

{% elsif product.vendor == "Zan Headgear" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/zan-headgear">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/zan-logo.jpg?v=1586337198" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>Created out of passion for motorcycles and the thrill of finding the next great outdoor adventure, ZANheadgear® has developed a wide array of headwear that range from headwraps to face masks. Every headwear product ZANheadgear® creates serves as a reminder as to why we began this venture over 20 years ago, to develop high quality headwear products that provide protection from the elements. With every challenge and adventure becoming more daring than the last, we realized that performance driven headwear was no longer just an option, but a necessity. Our performance headwear features the use of technologically enhanced fabrics willing to work as hard as that athlete that lives inside of us all.</p>
  </div>
</div>
</div>


{% elsif product.vendor == "Lucas" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/lucas">
<img src="//cdn.shopify.com/s/files/1/1299/2659/files/lucas-120x120.jpg?v=1592455769" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div class="_readmore">
<p>Forrest and Charlotte started Lucas Oil Products with the simple philosophy of producing only the best line of lubricants and additives available anywhere. Since its inception, Lucas has steadfastly adhered to this corporate objective. Through innovative product research and development, along with aggressive marketing programs, Lucas has established itself as a top selling additive line in the American truck stop industry.</p>
<p>Lucas is also one of the fastest growing additive lines in the consumer automotive industry. A premium line of oils, greases and problem solving additives has helped to firmly establish Lucas as a prominent figure in this marketplace.</p>
<p>Forrest and CharlotteLucas also produces a heavy duty line of products for the industrial and agricultural markets. President Forrest Lucas sums it up, "Our forte' is to make better products for industries and specialty situations that are not having their needs completely satisfied by other oil products and, believe me, the major oil companies have left a lot of weak spots. We have an excellent staff and a world of technology which we have gained through years of research. Together we have done a great deal in a short period of time and we intend to do a lot more."</p>
<p>Lucas has long been directly involved in the American racing industry through multiple vehicle sponsorships and racing event promotions, at all levels. Seeing a need for better lubricants in this industry, the Lucas people went to work again. The end result being a line of high performance engine oils and gear oils that are second-to-none in the racing industry.</p>
<p>The Lucas success story has been built upon hard work, an unparalleled line of premium products and an unwavering commitment to customer satisfaction. This single formula for success will continue to guide Lucas Oil Products as it grows in the years to come.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Motorhelmets" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/motorhelmets">
<img src="//cdn.shopify.com/s/files/1/1324/9125/files/moto-logo-shopify.jpg?v=1582955134" title="{{ product.vendor }}" alt="{{ product.vendor }}">
 
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" ><div class="nj_visit_to_wall" style="display:none;"><a href="/pages/wall-{{ product.vendor | handleize }}">Visit the {{ product.vendor }} Wall</a></div>
  <p><b>Motorhelmets</b> is based out of Southern California, near world famous Disneyland and Knotts Berry Farm. Founded in 2001, we specialize in aftermarket products for street, cruiser, dirt and atv powersports vehicles.</p>
  <p>We are an instore dealer as well as an online retailer.We carry the full line of aftermarket apparel, helmets, gloves, boots, jackets, pants, parts and accessories from all the major brands. Including Fox Racing, Icon, Shoei, Joe Rocket, HJC, Arai, Scorpion, Cortech, Tourmaster, Alpinestars, ThorMX, Shift Racing, Ogio, Bell, Suomy, Z1R, Fly Racing, No Fear, MSR Racing, Answer Racing, Troy Lee Designs, Scott, Oakley Optics & Goggles, Spy Optic, VonZipper Sunglasses, One Industries, KBC, Yoshimura, Dunlop, Michelin, and much more.</p>
</div>
</div>
</div>

{% elsif product.vendor == "National Cycle" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/national-cycle">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/national-cycle.jpg?48279" title="{{ product.vendor }}" alt="{{ product.vendor }}">
 
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" ><div class="nj_visit_to_wall" style="display:none;"><a href="/pages/wall-{{ product.vendor | handleize }}">Visit the {{ product.vendor }} Wall</a></div>
  <p>The company known today as National Cycle, Inc. started in Chicago, Illinois in 1937 as Nation's Cycle Center. The company was founded by a young man, Mr. Gordon Willey (1903-1989), who believed that success in business required "Total Customer Satisfaction".</p>
  <p>This business philosophy was the beginning of a long and successful tradition. It's a tradition we maintain today as we continue building the finest motorcycle windshields and accessories riders can buy.</p>
  <p>National Cycle, Inc. is the world leader in motorcycle windshield manufacturing, with more distribution than any other windshield company in the world.</p>
  <p>We are the OEM supplier to BMW, Harley-Davidson, Honda, Kawasaki, Polaris, Suzuki, Triumph, and Yamaha – companies who share our philosophy of quality design and manufacturing.</p>
  <p>National Cycle has developed more innovations and holds more patents for the design and production of windshields than any other company in the industry. We listen to our customers and work hard to maintain our leadership position. We are proud that we continue to design, engineer and manufacture our fine products at National Cycle, Inc. U.S.A.</p>
  <b>OUR QUALITY POLICY</b>
  <p>We are committed to meeting our internal and external customers' requirements and having a culture of continuous improvement with quality being the responsibility of every employee.</p>
</div>
</div>
</div>

{% elsif product.vendor == "STI" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/sti">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/sti-logo-120x120.jpg" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>There are two things we love most about this business: introducing new products, and getting out to ride at events nationwide. We’ve been doing both for a long time.</p>
  <p>At STI Powersports, we’ve been testing, developing, and manufacturing tires and wheels for many years. Our experience with UTVs, ATVs, and off-road motorcycles gives us the ability to design superior products. And our connection with these lifestyles means we like to get out and ride just as much as you do.</p>
  </div>
</div>
</div>





{% elsif product.vendor == "Ricks" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/ricks">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/ricks-logo-120x120.jpg?16548034659629099812" title="{{ product.vendor }}" alt="{{ product.vendor }}">
 
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p><b>Aftermarket Motorsport Parts &amp; Components parts industry leader for over 30 years.</b></p>
  <p>We specialize in manufacturing &amp; distributing quality electrical Motorsport parts &amp; components in high demand by motorsport enthusiasts.</p>
  <p>What began as a small motorcycle salvage business in the late 1970s has grown to a well recognized, highly reputed brand name in the Motorsport world.</p>
  <p>Ricks's Motorsport Electrics offers a full parts line of <b>motorsport charging and starting systems</b> &amp; <b>electrical ignition components</b> for Asian and European <b>street bikes</b>, <b>ATV/Off Road</b>, <b>snow mobiles</b>, and <b>watercraft</b>.</p>
  <p>We provide a high quality, cost effective alternative to an OE piece. Rick's provides direct plug-in, bolt on pieces whenever possible. Rick's Motorsports also knows the value of the occasional universal part to fit an obscure motor vehicle machine.</p>
  <p>Rick's Motorsport Electrics also offers a one year part replacement warranty on all motorsport parts, excluding CDI boxes.</p>
  <p>We strive to stay on top of industry trends and are constantly adding new products to our line. Much of our success comes from our knowledge & expertise in the motorsport industry - we develop parts that are in high demand by motorsport enthusiasts.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Pro Circuit Racing" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/pro-circuit">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/120x120-logo.jpg?17299656338257906148" title="{{ product.vendor }}" alt="{{ product.vendor }}">
 
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p><b>One-time desert racing pro and motor tuning specialist Mitch Payton</b></p>
  <p>Founded <b>Pro Circuit</b> in 1978 at the age of 18. Early Pro Circuit customers were mostly Husqvarna-mounted desert racers and motocrossers who wanted Mitch to provide the same speed set-ups that he and his father had learned to dial in on Mitch's personal race machines.</p>
  <p>Word regarding the success of Mitch's motor building skills traveled quickly around southern California racetracks and in no time the cult of Pro Circuit riders was formed. Mitch closed his family's Rick's Motorsport Electrics also offers a one year part replacement warranty on all motorsport parts, excluding CDI boxes. Husqvarna dealership in 1980 to focus his energy on the shop's aftermarket hop-up service business full-time.</p>
</div>
</div>
</div>
{% elsif product.vendor == "Ray-Ban" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/ray-ban">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/ray-ban120x120.jpg?1085" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>TIMELESS STYLE, AUTHENTICITY AND FREEDOM OF EXPRESSION ARE THE CORE VALUES OF RAY-BAN, 
    A LEADER IN SUN AND PRESCRIPTION EYEWEAR FOR GENERATIONS. SINCE THE INTRODUCTION OF THE ICONIC 
    AVIATOR MODEL CREATED FOR THE AVIATORS OF THE UNITED STATES ARMY, RAY-BAN HAS BEEN AT THE FOREFRONT OF 
    CULTURAL CHANGE, BECOMING A SYMBOL OF SELF-EXPRESSION, WORN BY CELEBRITIES AND PUBLIC FIGURES ALL AROUND THE WORLD. 
    THE LIFESTYLE BRAND JOINED THE LUXOTTICA GROUP IN 1999 AFTER WHICH RAY-BAN ACCELERATED ITS GROWTH AND REDEFINED ITS 
    DISTRIBUTION.</p>
</div>
</div>
</div>
{% elsif product.vendor == "Nuetech" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/nuetech">
<img src="https://cdn.shopify.com/s/files/1/1223/6434/files/nuetech-logo-120x120.jpg?12384" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <i>Ride harder, faster, longer!</i>
  <p>Nuetech specializes in developing products that help the rider and machine perform better. Extensive research, testing, and development all come together to create the ultimate in innovative products.</p>
</div>
</div>
</div>

{% elsif product.vendor == "Giant Loop" %}
<div class="divider divider--xs product-info__divider hidden-xs"></div>
<div class="product-info__description hidden-xs">
<div class="product-info__description__brand">
<a href="/collections/giant-loop">
<img src="https://cdn.shopify.com/s/files/1/1324/9125/files/giant-loop-logo.png?v=1595638128" title="{{ product.vendor }}" alt="{{ product.vendor }}">
</a>
</div>
<div class="product-info__description__text">
<div itemprop="description" class="_readmore" >
  <p>Dead solid stable, super rugged and lightweight, Giant Loop’s motorcycle saddlebags, panniers, tank bags, dry bags and adventure motorcycle packing systems enable riders to undertake the most extreme adventures around the world.</p>
  <p>Giant Loop’s adventure motorcycle packing systems shave pounds of metal from adventure touring motorcycles compared to typical motorcycle hard luggage systems. By positioning weight closer to the center of the bike, our packs instantly improve off-road handling and performance. Our unique “biomorphic” design wraps the load around the motorcycle subframe, placing it exactly where engineers intended for bikes to carry weight. This means few cracked and broken subframes — as well as eliminating broken mounting hardware, racks, subframes and bent up boxes.</p>
  <p>Every stitch and seam of Giant Loop’s made-in-USA product line represents years of testing and development by real dirt bike, dual sport and adventure touring motorcycle riders over thousands of miles in the most demanding conditions. Welcome to the freedom of ultra-lightweight, self-supported, dirt, dual sport, adventure touring and sport bike motorcycle touring.</p>
</div>
</div>
</div>
{%endif%}