{% assign thispage = product.vendor | handleize %}
  {% if thispage == "oneill" %}
    {% include "page.oneill-size-chart" %}
  {% elsif thispage == "billabong" %}
    {% include "page.billabong-size-chart" %}
  {% elsif thispage == "roxy" %}
    {% include "page.roxy-size-chart" %}
  {% elsif thispage == "quiksilver" %}
    {% include "page.quiksilver-size-chart" %}
  {% elsif thispage == "dc" %}
    {% include "page.dc-size-chart" %}
  {% elsif thispage == "emerica" %}
    {% include "page.emerica-size-chart" %}
  {% elsif thispage == "etnies" %}
    {% include "page.etnies-size-chart" %}
  {% elsif thispage == "neff" %}
    {% include "page.neff-size-chart" %}
  {% elsif thispage == "fox-racing" %}
    {% include "page.fox-racing-size-chart" %}
  {% elsif thispage == "oakley" %}
    {% include "page.oakley-size-chart" %}
  {% elsif thispage == "cortech" %}
    {% include "page.cortech-size-chart" %}
  {% elsif thispage == "reef" %}
    {% include "page.reef-size-chart" %}
  {% elsif thispage == "klim" %}
    {% include "page.klim-size-chart" %}
  {% elsif thispage == "sector-9" %}
    {% include "page.sector-9-size-chart" %}
  {% elsif thispage == "icon" %}
    {% include "page.icon-size-chart" %}
  {% elsif thispage == "bell" %}
    {% include "page.bell-helmets-size-chart" %}
  {% elsif thispage == "shoei" %}
    {% include "page.shoei-size-chart" %}
  {% elsif thispage == "tour-master" %}
    {% include "page.tour-master-size-chart" %}
  {% elsif thispage == "troy-lee-designs" %}
    {% include "page.troy-lee-designs-size-chart" %}
  {% elsif thispage == "scorpion" %}
    {% include "page.scorpion-size-chart" %}
  {% elsif thispage == "joe-rocket" %}
    {% include "page.joe-rocket-size-chart" %}
  {% elsif thispage == "hjc" %}
    {% include "page.hjc-helmets-size-chart" %}
  {% elsif thispage == "shift-racing" %}
    {% include "page.shift-mx-size-chart" %}
  {% elsif thispage == "leatt" %}
    {% include "page.leatt-size-chart" %}
  {% elsif thispage == "lrg" %}
    {% include "page.lrg-size-chart" %}
  {% elsif thispage == "100" %}
    {% include "page.100-percent-size-chart" %}
  {% elsif thispage == "agv" %}
    {% include "page.agv-size-chart" %}
  {% elsif thispage == "airhole" %}
    {% include "page.airhole-size-chart" %}
  {% elsif thispage == "alias" %}
    {% include "page.alias-size-chart" %}
  {% elsif thispage == "alpinestars" %}
    {% include "page.alpinestars-size-chart" %}
  {% elsif thispage == "answer-racing" %}
    {% include "page.answer-racing-size-chart" %}
  {% elsif thispage == "arai" %}
    {% include "page.arai-size-chart" %}
  {% elsif thispage == "vonzipper" %}
    {% include "page.vonzipper-size-chart" %}
  {% elsif thispage == "vega" %}
    {% include "page.vega-size-chart" %}
  {% elsif thispage == "under-armour" %}
    {% include "page.under-armour-size-chart" %}
  {% elsif thispage == "rip-curl" %}
    {% include "page.rip-curl-size-chart" %}
  {% elsif thispage == "sanuk" %}
    {% include "page.sanuk-size-chart" %}
  {% elsif thispage == "gmax" %}
    {% include "page.gmax-size-chart" %}
  {% elsif thispage == "speed-and-strength" %}
    {% include "page.speed-and-strength-size-chart" %}
  {% elsif thispage == "element" %}
    {% include "page.element-size-chart" %}
  {% elsif thispage == "altamont" %}
    {% include "page.altamont-size-chart" %}
  {% elsif thispage == "kr3w" %}
    {% include "page.kr3w-size-chart" %}
  {% elsif thispage == "metal-mulisha" %}
    {% include "page.metal-mulisha-size-chart" %}
  {% elsif thispage == "supra" %}
    {% include "page.supra-size-chart" %}
  {% elsif thispage == "joe-rocket" %}
    {% include "page.joe-rocket-size-chart" %}
  {% elsif thispage == "independent" %}
    {% include "page.independent-size-chart" %}
  {% elsif thispage == "black-brand" %}
    {% include "page.black-brand-size-chart" %}
  {% elsif thispage == "agv" %}
    {% include "page.agv-size-chart" %}
  {% elsif thispage == "fly-racing" %}
    {% include "page.fly-racing-size-chart" %}
  {% elsif thispage == "gaerne" %}
    {% include "page.gaerne-size-chart" %}
  {% elsif thispage == "creature" %}
    {% include "page.creature-size-chart" %}
  {% elsif thispage == "ls2" %}
    {% include "page.ls2-size-chart" %}
  {% elsif thispage == "thor-mx" %}
    {% include "page.thormx-size-chart" %}
  {% elsif thispage == "matix" %}
    {% include "page.matix-size-chart" %}
  {% elsif thispage == "saxx" %}
    {% include "page.saxx-size-chart" %}
  {% elsif thispage == "crocs" %}
    {% include "page.crocs-size-chart" %}
  {% else %}  
  <p>Sorry, No sizing chart or sizing information for "<span>{{ product.title }}</span>" but Head over to our 
    <a href="/pages/motorhelmets-sizing-chart">General Sizing Guide</a> Page</p>
  {% endif %}