{% comment %} Price to show. {% endcomment %}
{% assign sale_on = false %}
{% if product.selected_or_first_available_variant.compare_at_price > product.selected_or_first_available_variant.price %}
  {% assign sale_on = true %}
{% endif %}

{% comment %} Main Image URL. {% endcomment %}
{% assign main_url_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

{% assign hover_url_image = "" %}
{% if product.images[1] %}
	{% assign hover_url_image = product.images[1].src %}
{% else %}
	{% assign hover_url_image = product.images[0].src %}
{% endif %}

{% comment %}
	date_difference = 60 * 60 * 24 * day counter, this is new product period in seconds
{% endcomment %}
 	{% assign date_now = 'now' | date: "%s" %}
 	{% assign date_published = product.published_at | date: "%s" %}
	{% assign date_difference = date_now | minus: date_published %}
	{% assign date_limit = 86400 | times: settings.new_product_period %}
	{% assign variant = product.selected_or_first_available_variant %}

<!-- product -->
<div class="product{% if hoverzoom %} product--zoom{% endif %} {{ variant.id }}{% unless product.available %} sold-out{% endunless %}">
  {% if product.available %}
      {% if product.variants.size > 1 %}
          {% assign func = "" %}
      {% else %}
          {% assign func = "Shopify.addItem(" | append: variant.id | append: ", 1)" %}
      {% endif %}
  {% endif %}  
  
  <div class="product__inside">
    <!-- product image -->
    <div class="product__inside__image">
	   
      {% comment %}<!-- Original Code -->
      {% if product.images.size > 1 and product.description contains "[item-gallery]" %}
      <div class="product__inside__carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for image in product.images %}
          <div class="item{% if forloop.first %} active{% endif %}">
            <a href="{{ product.url | within: collection }}"><img src="{{ image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"></a>
          </div>
          {% endfor %}
        </div>
        <!-- Controls --> 
        <a class="carousel-control next"></a> <a class="carousel-control prev"></a> 
      </div>
      {% else %}
      <a href="{{ product.url | within: collection }}">
		<img src="{{ main_url_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"/>
      </a>
      {% endif %}
      {% endcomment %}
      
      
      
      
      {% if product.images.size > 1 %}
      <div class="product__inside__carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          {% for image in product.images %}
          <div class="item{% if forloop.first %} active{% endif %}">
            <a href="{{ product.url | within: collection }}"><img src="{{ image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"></a>
          </div>
          {% endfor %}
        </div>
        <!-- Controls --> 
        <a class="carousel-control next"></a> <a class="carousel-control prev"></a> 
      </div>
      {% else %}
      <a href="{{ product.url | within: collection }}">
		<img src="{{ main_url_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}"/>
      </a>
      {% endif %}
      
      {% unless product.available %}
      <div class="product__label--sold-out"><span>{{ "products.product.sold_out" | t }}</span></div>
      {% endunless %}

      
      
      {% if product.description contains '[countdown]' and product.available %}
        {% assign countdown = product.content | split: '[/countdown]' | first %}
        {% assign countdown = countdown | split: '[countdown]' | last %}
        {% assign date = countdown | split: ' ' | first | split: '/' %}
        {% assign time = countdown | split: ' ' | last | split: ':' %}
        <div class="countdown_box">
          <div class="countdown_inner">
            <div id="{{ product.id }}{{ productCount }}"></div>
          </div>
        </div>
        <script>
          jQuery(function ($) {
              // countdown ini
              var yyyy = {{ date[0] }};
              var mm = {{ date[1] | minus:1 }};
              var dd = {{ date[2] }};
              var hour = {{ time[0] }};
              var min = {{ time[1] }};
              var sec = {{ time[2] }};

              var sH = {{'now' | date: "%H" }};//s = shopify
              var sD = {{'now' | date: "%-d" }};
              var sM = {{'now' | date: "%m" }};
              var sY = {{'now' | date: "%Y" }};

              var qH = new Date();
              var qD = qH.getDate();//q = jQuery
              var qM = qH.getMonth() + 1;
              var qY = qH.getFullYear();
              var qH = qH.getHours();

              if(qD > sD) {
                qH += 24;
              }
              else {
                if(qD < sD) {
                  if(qM > sM) {
                    qH += 24;
                  }
                  else {
                    if(qY > sY) {
                      qH += 24;
                    }
                    else {
                      sH += 24;
                    }
                  }
                }
              }

              var fH = sH - qH;

              if ($("#{{ product.id }}{{ productCount }}").length > 0){$('#{{ product.id }}{{ productCount }}').countdown({until: new Date(yyyy, mm, dd, hour, min, sec), timezone: fH});}
          });
        </script>
      {% endif %}
    </div>
    <!-- /product image --> 
    <!-- label news -->
      {% if product.description contains '[icon-new-always]' %}
		<div class="product__label product__label--right product__label--new"><span>{{ 'products.general.new' | t }}</span></div>
      {% else %}
        {% unless product.description contains '[disable-icon-new]' %}
          {% if date_difference < date_limit %}
			<div class="product__label product__label--right product__label--new"><span>{{ 'products.general.new' | t }}</span></div>
          {% endif %}
        {% endunless %}
      {% endif %}
    <!-- /label news --> 
    <!-- label sale -->
      {% unless product.description contains '[disable-icon-sale]' %}
        {% if sale_on %}
		  <div class="product__label product__label--left product__label--sale"><span>{{ 'products.general.sale' | t }}<br>
		  -{{ product.selected_or_first_available_variant.compare_at_price | minus: product.selected_or_first_available_variant.price | times: 100.0 | divided_by: product.selected_or_first_available_variant.compare_at_price | money_without_currency | times: 100 | remove: '.0'}}%</span></div>
        {% endif %}
      {% endunless %}
    <!-- /label sale --> 
    <!-- product name -->
    <div class="product__inside__name">
      <h2 class="product_title"><a href="{{ product.url | within: collection }}" title="{{ product.title }}" alt="{{ product.title }}">{{ product.title }}</a></h2>
    </div>
    <!-- /product name --> 
    <!-- product description --> 
    <!-- visible only in row-view mode -->
    <div class="product__inside__description row-mode-visible">{% include "get-content-with-key" content: product.content key: "[smallDescription]" %}</div>
    <!-- /product description --> 
    <!-- product price -->
    <div class="njohn_thumb_price">
        {% if sale_on %}
              <span class="njohn-new_price">
                 {{ product.selected_or_first_available_variant.price | money }}
              </span>
              <span class="njohn-old_price">
                 {{ product.selected_or_first_available_variant.compare_at_price | money }}
              </span>
        {% else %}
              <span class="njohn-regular_price">
                 {{ product.selected_or_first_available_variant.price | money }}
              </span>
        {% endif %}
   	 </div>

    <!-- /product price --> 
    <!-- product review --> 
    <!-- visible only in row-view mode -->
    {% if settings.product_item_show_rating %}<div class="product__inside__review row-mode-visible">
      <div class="rating row-mode-visible"><span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span></div>
    </div>{% endif %}
    <!-- /product review --> 
    <div class="product__inside__hover">
      <!-- product info -->
      <div class="product__inside__info">
        {% if product.available %}

        <div class="product__inside__info__btns">
          	
      	
          <div class="grid_btn_cont">
           {% if settings.product_item_showqv %}
          	<a href="javascript:void(0);" onclick="quiqview('{{ product.handle | handleize }}')" class="btn btn--ys btn--xl moto_grid_btn">
             <span class="icon icon-search"></span>
            
            </a>
          	{% endif %}
          
          
          
            {% if func == "" %}
            <a href="{{ product.url }}" class="btn btn--ys btn--xl moto_grid_btn">
              
            <span class="icon icon-reorder"></span>
          	</a>
            {% else %}
            <a href="javascript:void(0);" onclick="{{ func }}; return false;" class="btn btn--ys btn--xl moto_grid_btn">
            <span class="icon icon-shopping_basket"></span>
            </a>
          	{% endif %}
           
          	</div>
          
           
          {% if settings.product_item_show_wishlist %}
            {% if shop.customer_accounts_enabled or settings.product_item_show_wishlist_temporary %}
           	 {% include "wishlist-product" button: true %}
            {% endif %}
          {% endif %}
			
          
         {% comment %}
         {% if settings.product_item_showqv %}
          <a href="javascript:void(0);" onclick="quiqview('{{ product.handle | handleize }}')" class="btn btn--ys btn--xl davz-btn row-mode-visible hidden-xs">
            <span class="icon icon-visibility"></span>
            {{ "products.general.quick_view" | t }}
          </a>
          {% endif %}
         {% endcomment %}
        </div>

        <div class="custom__info__link hidden-xs">{% if settings.product_item_show_wishlist %}{% if shop.customer_accounts_enabled or settings.product_item_show_wishlist_temporary %}{% include "wishlist-product" %}{% endif %}{% endif %}</div>
        {% endif %}
      </div>
      <!-- /product info --> 
      <!-- product rating -->
      <div class="rating row-mode-hide">{% if settings.product_item_show_rating %}<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>{% endif %}</div>
      <!-- /product rating -->
    </div>
  </div>
</div>
<!-- /product -->

{% assign productCount = productCount | plus: 1 %}