<ul class="nav nav-tabs {% case settings.product_tabs_work %}{% when 'design2' %}nav-tabs--ys{% when 'design3' %}nav-tabs--ys-center1 text-center{% else %}nav-tabs--ys1{% endcase %}" role="tablist">
  {% assign active = true %}
  {% for i in (1..6) %}
  {% assign show_product_tab	= "show_product_tab_" | append: forloop.index %}
  {% assign product_tab_title	= "product_tab_title_" | append: forloop.index %}
  {% if settings[show_product_tab] %}
  <li {% if active %}class="active" {% assign active = false %} {% endif %}>
    <a href="#Tab{{ forloop.index }}" role="tab" data-toggle="tab" class="text-uppercase">{{ settings[product_tab_title] }}</a>
  </li>
  {% endif %}
  {% endfor %}
  {% if product.description contains '[tabs]' %}
  {% capture tabs %}{% include 'get-content-with-key' content: product.description key: '[tabs]' %}{% endcapture %}
  {% assign tabs = tabs | strip | split: '[/tab]' %}
  {% if tabs.size > 0 %}{% for _tab in tabs %}
  <li {% if active %}class="active" {% assign active = false %} {% endif %}>
    <a href="#productTab{{ forloop.index }}" role="tab" data-toggle="tab" class="text-uppercase">{% include 'get-product_custom_tab_content' content: _tab key: 'name' %}</a>
  </li>
  {% endfor %}{% endif %}
  {% endif %}
</ul>
{% assign active = true %}
<div class="tab-content tab-content--ys">
  {% for i in (1..6) %}
  {% capture current_class %}{% cycle 'product-description', 'html1', 'html2', 'html3', 'product-reviews', 'tags' %}{% endcapture %}
  {% assign show_product_tab	= "show_product_tab_" | append: forloop.index %}
  {% assign product_tab_title	= "product_tab_title_" | append: forloop.index %}
  {% assign product_tab_desc	= "product_tab_desc_" | append: forloop.index %}
  {% if settings[show_product_tab] %}
  <div role="tabpanel" class="tab-pane {% if active %}active{% assign active = false %}{% endif %}" id="Tab{{ forloop.index }}">            
    {% comment %}tabs pages{% endcomment %}
    {% case current_class %}
    {% when 'product-description' %}
    <div itemprop="description">
      {% assign content = product.description | remove: "[disable-icon-new]" %}
      {% assign content = content | remove: "[item-gallery]" %}
      {% assign content = content | remove: "[disable-icon-sale]" %}
      {% assign content = content | remove: "[icon-new-always]" %}
      {% if content contains '[countdown]' %}
      {% assign content = content | split: '[/countdown]' %}
      {% capture content %}{% if content.size > 1 %}{{ content | last }}{% endif %}{% endcapture %}
      {% endif %}
      {% if content contains '[video]' %}
      {% assign content = content | split: '[/video]' %}
      {% capture content %}{% if content.size > 1 %}{{ content | last }}{% endif %}{% endcapture %}
      {% endif %}
      {% if content contains '[smallDescription]' %}
      {% assign content = content | split: '[/smallDescription]' %}
      {% capture content %}{% if content.size > 1 %}{{ content | last }}{% endif %}{% endcapture %}
      {% endif %}
      {% if content contains '[custom_html]' %}
      {% assign content = content | split: '[/custom_html]' %}
      {% capture content %}{% if content.size > 1 %}{{ content | last }}{% endif %}{% endcapture %}
      {% endif %}
      {% if content contains '[tabs]' %}
      {% assign content = content | split: '[/tabs]' %}
      {% capture content %}{% if content.size > 1 %}{{ content | last }}{% endif %}{% endcapture %}
      {% endif %}
      {{ content }}
    </div>
    {% when 'html1' %}		
    <div class="njohn_avail_main">
      <div class="njohn_avail" style="">
        <div class="njohn_avail_tb">
          <div class="njohn_avail_tr">
            <div class="njohn_avail_th"><span>Product Image</span></div>
            <div class="njohn_avail_th"><span>Color</span></div>
            <div class="njohn_avail_th"><span>Size</span></div>
            <div class="njohn_avail_th"><span>SKU</span></div>
            <div class="njohn_avail_th"><span>Availability</span></div>
            <div class="njohn_avail_th"><span>Price</span></div>
          </div>

          {% for image in product.images %}
          {% for variant in image.variants %}

          {% assign img = image.src %}
          {% assign color = variant.option1 %}
          {% assign size = variant.option2 %}
          {% assign sku = variant.sku %}
          {% assign qty = variant.inventory_quantity %}
          {% assign price = variant.price %}
          {% assign comprice = variant.compare_at_price %}
          <div class="offer" itemprop="offers" itemscope itemtype="http://schema.org/Offer">

            <meta itemprop="image" content="{{ img | product_img_url: 'master' }}"/>
            <span itemprop="seller" itemscope itemtype="http://schema.org/Organization">
              <meta itemprop="name" content="Origin Boardshop"/>
            </span>
            <div itemprop="itemOffered" itemscope itemtype="http://schema.org/IndividualProduct">
              <meta itemprop="sku" content="{{ sku }}" />
              <meta itemprop="color" content="{{ color }}" />
              {% if variant.barcode %}
              <meta itemprop="gtin12" content="{{variant.barcode}}"/>
              {% endif %}
            </div>
            <meta content="USD" itemprop="priceCurrency">
            <meta itemprop="price" content="{{ price | money_without_currency }}" />
            {% if qty == 0 %}
            <link itemprop="availability" href="http://schema.org/OutOfStock"/>
            {% else %}
            <link itemprop="availability" href="http://schema.org/InStock"/>
            {% endif %}
          </div>

            <div class="njohn_avail_tr">
              <div class="njohn_avail_tc"><span><img alt="{{ color }}" title="{{ color }}" src="{{ img | product_img_url: 'small' }}"></span></div>
              <div class="njohn_avail_tc"><span>{{ color }}</span></div>
              <div class="njohn_avail_tc"><span>{{ size }}</span></div>
              <div class="njohn_avail_tc"><span>{{ sku }}</span></div>
              <div class="njohn_avail_tc">{% if qty == 0 %}<span style="color:rgb(192, 57, 43);">Out of Stock</span>{% else %}<span style="color:green;">In Stock</span>{% endif %}</div>
              <div class="njohn_avail_tc">{% if comprice == null %}<span>{{ price | money }}</span>{% else %}<span class="njohn_avail_off_price">{{ price | money }}</span><span class="njohn_avail_old_price">{{ comprice | money }}</span>{% endif %}</div>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
      </div>  
    
    
    {% when 'html2' %}		
    <div class="njohn_avail_main">
      <div class="njohn_avail" style="">
        <div class="njohn_avail_tb">
	<p><span style="font-weight:bold;">  New </span>- Brand new item in original packaging (original manufacturer's warranty may apply).</p>	
<p><span style="font-weight:bold;">  Used Like New</span> - Brand new and in perfect working condition. Original packaging may be missing or slightly damaged.</p>	
<p><span style="font-weight:bold;">  Lightly Used </span>- Item has seen limited use but remains in good working condition. May show some limited signs of wear with small scratches or cosmetic blemishes. May arrive with damaged packaging or be repackaged.</p>	
<p><span style="font-weight:bold;">  Used - Good </span>- Item may show slight to moderate use but remains in good condition and functions properly. Item may arrive with damaged packaging or be repackaged.</p>	
<p><span style="font-weight:bold;">  Used - Acceptable </span>- Item is fairly worn but continues to function properly. Item may have identifying markings on it or show other signs of previous use. Item may arrive with damaged packaging or be repackaged.</p>	
  
          
          </div>
        </div>
      </div>  
    
    
    

      {% when 'html3' %}

      {% include 'product-page_moto_sizechart' %}  <!-- product size chart -->


      {% when 'tags' %}
      {% assign collection = collections.all %}
      {% assign custom_url = '/collections/all/' %}
      {% assign disableTitle = true %}
      {% include 'product-filter-tags' %}
      {% when 'product-reviews' %}
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      {% else %}
      {% endcase %}
    </div>
    {% endif %}
    {% endfor %}
    {% if product.description contains '[tabs]' %}
    {% capture tabs %}{% include 'get-content-with-key' content: product.description key: '[tabs]' %}{% endcapture %}
    {% assign tabs = tabs | strip | split: '[/tab]' %}
    {% if tabs.size > 0 %}{% for _tab in tabs %}
    <div role="tabpanel" class="tab-pane {% if active %}active{% assign active = false %}{% endif %}" id="productTab{{ forloop.index }}">
      {% include 'get-product_custom_tab_content' content: _tab %}
    </div>
    {% endfor %}{% endif %}
    {% endif %}
  </div>