 <!--  ------------------------------------------------------ START OF RELATED BLOG POSTS ---------------------------------------------------------- -->

{%comment%}
<!--  ---------------- RELATED BLOG POSTS (For News and Lookbooks) ------------- -->
<!--  ---------------- Created By Christine Jane Kudera (April 05 2021) ------------- -->
<!--  ---------------- This is an additional snippet for TEMPLATE (article.liquid) ------------- -->
<!--  ---------------- This is SNIPPET (relatedBlogPosts.liquid) ------------- -->
<!--  ---------------- This is an ALTERNATIVE RELATED BLOGS snippet to (relatedblogs.liquid)
which uses the app: RELATED BLOG POSTS (https://apps.shopify.com/related-blog-posts?utm_campaign=installed&utm_content=contextual&utm_medium=shopify&utm_source=admin) ------------- -->
{%endcomment%}

{% assign article_temp = article.id %}          {%comment%}<!-- assign current article id to variable -->{%endcomment%}
{% assign curr_blog = blog.handle %}            {%comment%}<!-- assign current blog handle to variable (News/Lookbooks,etc.) -->{%endcomment%}
{% assign no_post_display = 3 %}                {%comment%}<!-- display only 3 Related Blog Posts -->  {%endcomment%}
 
{% assign curr_ARTid = article.id %}            {%comment%}<!-- assign current article id to variable -->{%endcomment%}
{% assign curr_ARTauthor = article.author %}    {%comment%}<!-- assign current article author to variable --> {%endcomment%}
{% assign curr_ARTtitle = article.title %}      {%comment%}<!-- assign current article title to variable --> {%endcomment%}
{% assign curr_ARTtags = article.tags %}        {%comment%}<!-- assign current article tags to variable --> {%endcomment%}
{% assign related_BlogPostsID = '' %}           {%comment%}<!-- create variable for related Blog Posts' IDs --> {%endcomment%}  
{% assign related_BlogPostsTitle = '' %}        {%comment%}<!-- create variable for related Blog Posts' Titles --> {%endcomment%}
{% assign relBlog_index = '' %}                 {%comment%}<!-- create variable for getting the related Blog Posts' array index (0,1,2,3,etc..) --> {%endcomment%}  
 
{% for article in blogs[curr_blog].articles %}
{%comment%}<!-- {{ article.title }} --> {%endcomment%}
  {% if article.id == article_temp %} 
  {% assign current_post_tags = article.tags %}
  {% assign article_author = article.author %}
  {% assign article_title = article.title %}
  {% assign article_title_arr = article_title | split: "," %}
  {% endif %}
{% endfor %}

{% assign countARTLoop = 0 %}              {%comment%}<!-- create variable for counting the matched tags to the current Blog's tags --> {%endcomment%}    
{% assign biggestARTtags_1st = 0 %}        {%comment%}<!-- create variable for the 1st Related Blog with most matched tags (COUNT VALUE OF MATCHED TAGS) --> {%endcomment%}   
{% assign relatedARTtagsID_1st = '' %}     {%comment%}<!-- create variable for the 1st Related Blog with most matched tags (STORE THE MATCHED BLOG's TITLE) --> {%endcomment%}
{% assign biggestARTtags_2nd = 0 %}        {%comment%}<!-- create variable for the 2nd Related Blog with most matched tags (COUNT VALUE OF MATCHED TAGS) --> {%endcomment%}
{% assign relatedARTtagsID_2nd = '' %}     {%comment%}<!-- create variable for the 2nd Related Blog with most matched tags (STORE THE MATCHED BLOG's TITLE) -->{%endcomment%}
{% assign biggestARTtags_3rd = 0 %}        {%comment%}<!-- create variable for the 3rd Related Blog with most matched tags (COUNT VALUE OF MATCHED TAGS) --> {%endcomment%}
{% assign relatedARTtagsID_3rd = '' %}     {%comment%}<!-- create variable for the 3rd Related Blog with most matched tags (STORE THE MATCHED BLOG's TITLE) -->  {%endcomment%}

{% assign countARTTITLELoop = 0 %}              {%comment%}<!-- create variable for counting the matched titles to the current Blog's title --> {%endcomment%} 
{% assign curr_new_ARTtitle = curr_ARTtitle | strip | downcase %}  
{% assign new_currTitle = curr_new_ARTtitle | replace: "?", "" | replace: ":", "" | replace: ";", "" | replace: "|", "" | replace: "-", "" | replace: "'", "" | replace: "/", "" | replace: "&", "" | replace: ".", "" | replace: " ", "," | remove: "" | append: "," %}
{% assign new_currTitle = new_currTitle | strip | remove: " " | remove: "" | remove: "'" | split: "," %}


{%comment%}<!-- 1ST PROCESS: Find other Blog Posts with related author & tags of the current viewed Blog -->{%endcomment%}
    {% for article2 in blogs[curr_blog].articles %}
        {% assign this_ARTauthor = article2.author %}
        {% assign this_ARTtitle = article2.title %}
        {% assign this_ARTid = article2.id %}
        {% assign this_ARTtags = article2.tags %}

         {% unless this_ARTid == curr_ARTid %}
             {% if this_ARTauthor == curr_ARTauthor %}
                {% assign this_ARTtitle = this_ARTtitle | strip | downcase %}  
              	{% assign new_thisTitle = this_ARTtitle | replace: "?", "" | replace: ":", "" | replace: ";", "" | replace: "|", "" | replace: "-", "" | replace: "'", "" | replace: "/", "" | replace: "&", "" | replace: ".", "" | replace: ",", "" | remove: "" %}
              	{% assign new_thisTitle = new_thisTitle | strip | remove: "'" %}

                {% for thisTags in this_ARTtags %}
                    {% assign newthisTags = thisTags | remove: " " | downcase %}
                        {% for curTags2 in curr_ARTtags %}
                            {% assign newcurTags2 = curTags2 | remove: " " | downcase %}
                            {% if newcurTags2 == newthisTags %}    
                                {% assign countARTLoop = countARTLoop | plus: 1 %}
                            {% endif %}   
                        {% endfor %}

						{% assign this_new_ARTtitle = this_ARTid | append: "---" | append: new_thisTitle %}			

                        {% if countARTLoop > biggestARTtags_1st and relatedARTtagsID_1st != this_new_ARTtitle %}
                                {% assign biggestARTtags_3rd = biggestARTtags_2nd %}
                                {% assign biggestARTtags_2nd = biggestARTtags_1st %}
                                {% assign biggestARTtags_1st = countARTLoop %}
                                {% assign relatedARTtagsID_3rd = relatedARTtagsID_2nd %}
                                {% assign relatedARTtagsID_2nd = relatedARTtagsID_1st %}
                                {% assign relatedARTtagsID_1st = this_ARTid | append: "---" | append: new_thisTitle | append: "---" | append: countARTLoop %}
                                <!-- {{ biggestARTtags_1st }} -->
                                <!-- {{ relatedARTtagsID_1st }} --> 
                                <!-- {{ relatedARTtagsID_1st | split: "---" | last }} --> 
                        {% endif %} 
                        {% assign countARTLoop = 0 %}
                {% endfor %}
                {%comment%}
                  {% assign related_BlogPostsID = related_BlogPostsID | append: this_ARTid | append: "," %}
                  {% assign related_BlogPostsTitle = related_BlogPostsTitle | append: this_ARTtitle | append: "," %}
                {%endcomment%}
             {% endif %} 
         {% endunless %} 
    {% endfor %}


{%comment%}<!-- 2ND PROCESS: Find other Blog Posts with related author & title of the current viewed Blog -->{%endcomment%}


{% if biggestARTtags_1st == 0 or relatedARTtagsID_1st == null or biggestARTtags_2nd == 0 or relatedARTtagsID_2nd == null or biggestARTtags_3rd == 0 or relatedARTtagsID_3rd == null %}
  {% if biggestARTtags_1st == 0 and relatedARTtagsID_1st == null and biggestARTtags_2nd == 0 and relatedARTtagsID_2nd == null and biggestARTtags_3rd == 0 and relatedARTtagsID_3rd == null %}
    {% for article2 in blogs[curr_blog].articles %}
            {% assign this_ARTauthor = article2.author %}
            {% assign this_ARTtitle = article2.title %}
            {% assign this_ARTid = article2.id %}
            {% assign this_ARTtags = article2.tags %}

        {% unless this_ARTid == curr_ARTid %}
            {% if this_ARTauthor == curr_ARTauthor %}
              {% assign this_ARTtitle = this_ARTtitle | strip | downcase %}  
              {% assign new_thisTitle = this_ARTtitle | replace: "?", "" | replace: ":", "" | replace: ";", "" | replace: "|", "" | replace: "-", "" | replace: "'", "" | replace: "/", "" | replace: "&", "" | replace: ".", "" | replace: " ", "" | replace: ",", "" | remove: "" %}
              {% assign new_thisTitle = new_thisTitle | strip | remove: " " | remove: "" | remove: "'" %}
               <!-- NEW THIS TITLE: -->
              {% for new_Title in new_thisTitle %}
                  {% assign new_Title = new_Title | strip | compact | remove: "" %}
                	{% unless new_Title == "" or new_Title == " " or new_Title == null %}  
                           {% if new_currTitle contains new_Title %}    
                                    {% assign countARTTITLELoop = countARTTITLELoop | plus: 1 %}
                            {% endif %} 
                          <!-- {{ new_Title }} -->
                    {% endunless %} 
              {% endfor %}
                     
			  {% assign this_new_ARTtitle = this_ARTid | append: "---" | append: new_thisTitle %}			

                        {% if countARTLoop > biggestARTtags_1st and relatedARTtagsID_1st != this_new_ARTtitle %}
                                {% assign biggestARTtags_3rd = biggestARTtags_2nd %}
                                {% assign biggestARTtags_2nd = biggestARTtags_1st %}
                                {% assign biggestARTtags_1st = countARTTITLELoop %}
                                {% assign relatedARTtagsID_3rd = relatedARTtagsID_2nd %}
                                {% assign relatedARTtagsID_2nd = relatedARTtagsID_1st %}
                                {% assign relatedARTtagsID_1st = this_ARTid | append: "---" | append: new_thisTitle %}
                                <!-- {{ biggestARTtags_1st }} -->
                                <!-- {{ relatedARTtagsID_1st }} --> 
                                <!-- {{ relatedARTtagsID_1st | split: "---" | last }} --> 
                        {% endif %} 
                        {% assign countARTTITLELoop = 0 %}

            {% endif %} 
         {% endunless %} 
      {% endfor %} 

 


  {% endif %}
{% endif %}


{%comment%}<!-- 3RD & LAST PROCESS: Find other Blog Posts that were recently published -->{%endcomment%}


<!-- RELATED POSTS: -->
<!-- FIRST -->
<!-- {{ biggestARTtags_1st }} -->
<!-- {{ relatedARTtagsID_1st }} -->
<!-- SECOND -->
<!-- {{ biggestARTtags_2nd }} -->
<!-- {{ relatedARTtagsID_2nd }} -->
<!-- THIRD -->
<!-- {{ biggestARTtags_3rd }} -->
<!-- {{ relatedARTtagsID_3rd }} -->


{%comment%}
{% assign related_BlogPosts2 = related_BlogPosts | split: "," %}

{% for relBlog in related_BlogPosts2 %}
  <!-- SAME: -->
  <!--  {{ relBlog }} -->

    {% assign relBlog_index = forloop.index0 %}

  <!-- NUMBER: -->
  <!--    {{ relBlog_index }} -->
{% endfor %}
{%endcomment%}

{%comment%}
<h5>RELATED POSTS</h5>            

<ul>    
{% assign count = 0 %}
  
                    {% for article in blogs[curr_blog].articles %}
                        {% if count == no_post_display %}
                        {% break %}
                        {% endif %}
                        {% if aid contains article.id %}

                            <li>  

                                                        <div class="rb_image_wrap">
                                {% if article.image %}
                                    <a href="{{ article.url }}"><img src="{{ article.image.src | img_url: 'compact' }}" alt="{{ article.title }}" class="rb_image"/></a>
                                {% else %}
                                    <div class="rb_no_image"></div>
                                {% endif %}
        </div>
                                                        <div class="rb_contents">
                            <a href='{{ article.url }}'>{{ article.title }}</a>
                                                        {% if article.content != "" %}
                            <p>{{ article.content | strip_html | strip | truncate: 120 }}</p>
                            {% endif %}
                                                        </div>

                            </li>    
                            {% assign count = count | plus:1 %}
                            {% break %}
                        {% endif %}
                    {% endfor %}

  
</ul>
{%endcomment%}

<style type="text/css">
.rb_contents
  {
    display:inline-block;
  }
  
.rb_no_image
  {
    height:75px;
    width:100px;
    background-color:rgb(128, 128, 128);
    display:inline-block;
  }
  
img.rb_image
  {
    max-height:75px;
    max-width:100px;
    height:auto;
    width:auto;
  }
  
.rb_image_wrap
  {
    float:left;
    width:105px;
    margin-top:5px;
  }
  
.rb_contents 
  {
    display:inline;
  }
  
#relatedblogs li
  {
    margin:0 0 15px;
    clear:both;
  }
  
#relatedblogs li
  {
    display:block;
  }

#relatedblogs ul 
  { 
    padding: 0; 
  }
  
#relatedblogs ul li > .rb_contents a 
  { 
    text-transform: uppercase;
    font-weight: 600;
    color: #333333;
  }
  
#relatedblogs ul li > .rb_contents a:hover
  { 
    text-decoration: none;
    color: #fa6b6b;
  }
  
#relatedblogs ul li > .rb_contents p 
  { 
    min-height: 54px;
  }

#relatedblogs > ul > li:not(:last-child) 
  {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #dddddd;
    padding: 0 0 10px 0;
  }

#relatedblogs h5 
  { 
    font-weight: 600; 
  }   
  
</style>
 <!--  ------------------------------------------------------ END OF RELATED BLOG POSTS ---------------------------------------------------------- -->