        {%- assign timestamp = 'now' | date : "%s" -%}
        {%- assign ex_ids = ""-%}
    {%- assign ex_frmpool_id = article.id | append: '"' | prepend: '"' -%}

{%- assign ex_tags = "" | split: "," -%}
{%- assign no_post_display = 3 -%}

{%- assign b_id = blog.id  -%}

    {%- assign blog_ids = "83830214,59145030,83830406,50426904653,50439061581"  -%}

        {%- assign blog_handle_arr = blog.handle -%}
    
{%- assign blog_flag = "false" -%}

{%- unless blog_ids contains b_id -%}
{%- assign blog_flag = "true" -%}
{%- endunless -%}

{%- unless ex_ids contains article.id -%}

{%- if blog_flag == "false" -%}

{%- assign article_temp = article.id -%}

{%- assign related_posts = "" -%}
{%- assign curr_blog = blog.handle -%}

{%- for article in blogs[curr_blog].articles -%}
{%- if article.id == article_temp -%}
{%- assign current_post_tags = article.tags -%}
{%- assign article_author = article.author -%}
{%- assign article_title = article.title -%}
{%- assign article_title_arr = article_title | remove : " " | split: "" -%}
{%- endif -%}
{%- endfor -%}

{%- assign main_flag = "true" -%}
{%- for tag in ex_tags -%}
{%- assign ex_tags_temp = tag | strip -%}
{%- if current_post_tags contains ex_tags_temp -%}
{%- assign main_flag = "false" -%}
{%- endif -%}
{%- endfor -%}

{%- if main_flag == "true" -%}

<div id="relatedblogs">

    {%- for blog in blog_handle_arr -%}

    {%- assign blog_temp = blog -%}

    {%- for article in blogs[blog_temp].articles -%}
    {%- unless ex_frmpool_id contains article.id -%}

    
        {%- assign atitle_temp = article.title | remove : " " | split: "" -%}
        {%- assign flag = "false" -%}
        {%- for word in atitle_temp -%}
        {%- if article_title_arr contains word -%}
        {%- assign flag = "true" -%}
        {%- break -%}
        {%- endif -%}
        {%- endfor -%}

        {%- assign t_flag = "false" -%}
        {%- for tag in current_post_tags -%}
        {%- if article.tags contains tag -%}
        {%- assign t_flag = "true" -%}
        {%- break -%}
        {%- endif -%}
        {%- endfor -%}

        {%- if t_flag == "true"  or article_author ==  article.author or flag == "true" -%}
        {%- assign related_posts = related_posts | append:article.id | append : ","-%}
        {%- endif -%}
    
    {%- endunless -%}
    {%- endfor -%}


    {%- endfor -%}

    {%- if related_posts.size > 0 -%}

    {%- assign tsl = timestamp | slice : -1,1 | times:1 -%}

    {%- assign rids = related_posts | split: ',' -%}


    {%- assign rindex = tsl -%}

    {%- if tsl > rids.size or tsl < 0 -%}
            {%- assign time_arr = timestamp | split: '' -%}
            {%- for t in time_arr reversed -%}
            {%- assign ti = t | times:1 -%}
            {%- if ti < rids.size -%}
                    {%- assign rindex = forloop.index -%}
                {%- break -%}
            {%- endif -%}
            {%- endfor -%}
    {%- endif -%}

    {%- if rindex == rids.size -%}
            {%- assign rindex = rindex | minus : 1-%}
    {%- endif -%}

    {%- assign articleids = '' -%}
    {%- for rid in rids offset:rindex -%}
            {%- assign articleids = articleids | append:rid | append : "," -%}
    {%- endfor -%}

{%- assign rsize = articleids | split:","  -%}

    {%- if rsize.size < no_post_display -%}
        {%- for rid in rids -%}
        {%- unless articleids contains rid -%}
        {%- assign articleids = articleids | append:rid | append : "," -%}
        {%- endunless -%}
        {%- endfor -%}
    {%- endif -%}

    {%- assign rsize = articleids | size | minus:1 -%}
    {%- assign articleids = articleids | slice: 0, rsize | split:"," -%}

{%- assign article_ids = articleids | uniq -%}

    <h4>Related Posts</h4>    <ul>    {%- assign count = 0 -%}
    {%- for aid in article_ids -%}
        {%- assign rflag = "false" -%}
        {%- for blog in blog_handle_arr -%}
            {%- assign blog_temp = blog -%}

            {%- for article in blogs[blog_temp].articles -%}
                {%- if count == no_post_display -%}
                {%- break -%}
                {%- endif -%}
                {%- if aid contains article.id -%}

      {%- assign ex_frmpool_tags = "" | split: "," -%}
      {%- assign ex_frmpool_main_flag = "true" -%}
      {%- for tag in ex_frmpool_tags -%}
      {%- assign ex_frmpool_ex_tags_temp = tag | strip -%}
      {%- if article.tags contains ex_frmpool_ex_tags_temp -%}
      {%- assign ex_frmpool_main_flag = "false" -%}
      {%- endif -%}
      {%- endfor -%}

      {%- if ex_frmpool_main_flag == "true" -%}
        <li>
                      {%- if article.image -%}
              <div class="rb_image_wrap">
                <a href="{{ article.url }}"><img src="{{ article.image.src | img_url: 'small' }}" alt="{{ article.title }}" class="rb_image"/></a>
              </div>
            {%- else -%}
              <div class="rb_image_wrap"><div class="rb_no_image"></div></div>
            {%- endif -%}
                    <div class="rb_contents">
            <h5 class="rb_title"><a href='{{ article.url }}'>{{ article.title }}</a></h5>

                          {%- if article.content != "" -%}
                <p>{{ article.content | strip_html | strip | truncate: 90 }}</p>
              {%- endif -%}
            
          </div>

        </li>      {%- endif -%}

                    {%- assign rflag = "true" -%}
                    {%- assign count = count | plus:1 -%}
                    {%- break -%}
                {%- endif -%}
            {%- endfor -%}
            {%- if rflag == "true" -%}
                {%- break -%}
            {%- endif -%}
        {%- endfor -%}
    {%- endfor -%}
    </ul>    {%- else -%}

    
        {%- assign all_articleids = "" -%}

        {%- for blog in blog_handle_arr -%}
          {%- assign blog_temp = blog -%}
          {%- for article in blogs[blog_temp].articles -%}
                            {%- unless article.id == article_temp -%}
                            {%- assign all_articleids = all_articleids | append:article.id | append : "," -%}
                            {%- endunless -%}
          {%- endfor -%}
        {%- endfor -%}

        {%- assign tsl = timestamp | slice : -1,1 | times:1 -%}

        {%- assign rids = all_articleids | split: ',' -%}


        {%- assign rindex = tsl -%}

        {%- if tsl > rids.size or tsl < 0 -%}
                {%- assign time_arr = timestamp | split: '' -%}
                {%- for t in time_arr reversed -%}
                {%- assign ti = t | times:1 -%}
                {%- if ti < rids.size -%}
                        {%- assign rindex = forloop.index -%}
                                    {%- break -%}
                {%- endif -%}
                {%- endfor -%}
        {%- endif -%}

        {%- if rindex == rids.size -%}
                {%- assign rindex = rindex | minus : 1-%}
        {%- endif -%}

        {%- assign articleids = '' -%}
        {%- for rid in rids offset:rindex -%}
                {%- assign articleids = articleids | append:rid | append : "," -%}
        {%- endfor -%}

                    {%- assign rsize = articleids | split:","  -%}

        {%- if rsize.size < no_post_display -%}
            {%- for rid in rids -%}
            {%- unless articleids contains rid -%}
            {%- assign articleids = articleids | append:rid | append : "," -%}
            {%- endunless -%}
            {%- endfor -%}
        {%- endif -%}

        {%- assign rsize = articleids | size | minus:1 -%}
        {%- assign articleids = articleids | slice: 0, rsize | split:"," -%}

        <h4>Related Posts</h4>        <ul>        {%- assign count = 0 -%}
        {%- for aid in articleids -%}
            {%- assign rflag = "false" -%}
            {%- for blog in blog_handle_arr -%}
                {%- assign blog_temp = blog -%}

                {%- for article in blogs[blog_temp].articles -%}
                    {%- if count == no_post_display -%}
                    {%- break -%}
                    {%- endif -%}
                    {%- if aid contains article.id -%}

        {%- assign ex_frmpool_tags = "" | split: "," -%}
        {%- assign ex_frmpool_main_flag = "true" -%}
        {%- for tag in ex_frmpool_tags -%}
        {%- assign ex_frmpool_ex_tags_temp = tag | strip -%}
        {%- if article.tags contains ex_frmpool_ex_tags_temp -%}
        {%- assign ex_frmpool_main_flag = "false" -%}
        {%- endif -%}
        {%- endfor -%}

          {%- if ex_frmpool_main_flag == "true" -%}

            <li>                          {%- if article.image -%}
              <div class="rb_image_wrap">
                <img class="rb_image" src="{{ article.image.src | img_url: 'small' }}" alt="{{ article.title }}" />
              </div>
              {%- else -%}
              <div class="rb_no_image"></div>
              {%- endif -%}
            
              <div class="rb_contents">
                <h5 class="rb_title"><a href='{{ article.url }}'>{{ article.title }}</a></h5>

                                  {%- if article.content != "" -%}
                    <p>{{ article.content | strip_html | strip | truncate: 90 }}</p>
                  {%- endif -%}
                              </div>
            </li>          {%- endif -%}

                        {%- assign rflag = "true" -%}
                        {%- assign count = count | plus:1 -%}
                        {%- break -%}
                    {%- endif -%}
                {%- endfor -%}
                {%- if rflag == "true" -%}
                    {%- break -%}
                {%- endif -%}
            {%- endfor -%}
        {%- endfor -%}
        </ul>
    
    {%- endif -%}


        <style type="text/css">
            .rb_contents{display:inline-block}
                        .rb_no_image{height:75px; width:100px; background-color:rgb(128, 128, 128); display:inline-block}
            img.rb_image{max-height:75px; max-width:100px; height:auto; width:auto}
            .rb_image_wrap{float:left; width:105px}
            .rb_contents {margin:0 0 0 20px}
            #relatedblogs li {margin:0 0 15px; clear:both}
                        #relatedblogs li{display:block;}
                        .rb_contents {max-width:700px!important;margin-left:0px!important;}
/* NOTE: Please use this line of code for css styling of img.rb_image when it's reset to fix the mobile view image layouts (code below): */
img.rb_image{max-height:200px!important; max-width:100px!important; height:75px!important; width:auto;}

@media (max-width:580px ) {
#relatedblogs ul {padding-left:0!important;}
#relatedblogs .rb_image_wrap {width:90px;height:80px!important;display:flex!important;margin-right:5px;}
#relatedblogs .rb_image_wrap img.rb_image {flex:1;width:90px!important;height:90px!important;padding-bottom:6px!important;}
#relatedblogs .rb_contents {flex:1;margin:0;display:inline!important;}
#relatedblogs .rb_contents .rb_title {padding-top:2px!important;margin-bottom:3px!important;}
#relatedblogs .rb_contents p {display:block!important;margin-top:10px!important;font-size:14px!important;}
}

                    </style>


</div>
{%- endif -%}
{%- endif -%}
{%- endunless -%}
        