  

<div>
      <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
          <li class="active"><a href="#SizeChartTab1" role="tab"data-toggle="tab" class="text-uppercase">HELMET</a></li>
          <li><a href="#SizeChartTab2" role="tab"data-toggle="tab" class="text-uppercase">EXOWEAR</a></li>
      </ul>
 </div>    

    <div class="tab-content tab-content--ys Sbs_sizechart">

            <div role="tabpanel" class="tab-pane active" id="SizeChartTab1">

                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-3">
                        <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1324/9125/files/headwear-img.JPG?5404942941943725565" alt="Shoei Helmets Mens Size Chart" style="margin: 0 auto;"></p>
                        <br>
                        <div>
                          <h4><b>HOW TO DETERMINE YOUR HELMET SIZE</b></h4>
                          <h4><b><span style="color: red;">(H)</span> HEAD</b></h4>
                          <p>The first step in the fitting process is to measure around your head at the temple above the eye brow. See the placement of the measuring tape</p>
                        </div>
                    </div>

                    <div class="col-sm-9 col-md-9 col-lg-9">

                        <div class="tab-content tab-content--ys">
                            <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                                <li class="active"><a href="#SizeChartMenTab1" role="tab"data-toggle="tab" class="text-uppercase">ADULT</a></li>

                                <li><a href="#SizeChartMenTab2" role="tab"data-toggle="tab" class="text-uppercase">YOUTH</a></li>

                            </ul>
                        
                
                            <div role="tabpanel" class="tab-pane active" id="SizeChartMenTab1">
                             <div class="table_responsive">
                                  <table class="table table-bordered table-striped">
                                     <tbody>
                                       <thead>
                                           <tr>
                                              <th>Size</th>
                                              <th>Circumference Inches</th>
                                              <th>Circumference CM</th>
                                              <th>Hat size</th>
                                           </tr>
                                       </thead>
                                        <tr>
                                            <td>XS</td>
                                            <td> 20 <sup>7</sup>⁄<sub>8</sub> - 21 <sup>1</sup>⁄<sub>4</sub></td>
                                            <td> 53-54 cm </td>
                                            <td>6 <sup>5</sup>⁄<sub>8</sub> - 6 <sup>3</sup>⁄<sub>4</sub></td>
                                        </tr>
                                        <tr>
                                            <td>SM</td>
                                            <td> 21 <sup>5</sup>⁄<sub>8</sub> - 22 </td>
                                            <td>55-56 cm</td>
                                            <td>6 <sup>7</sup>⁄<sub>8</sub> - 7</td>
                                        </tr>
                                        <tr>
                                            <td>MD</td>
                                            <td>22 <sup>7</sup>⁄<sub>16</sub> - 22 <sup>3</sup>⁄<sub>4</sub></td>
                                            <td>57-58 cm</td>
                                            <td>7 <sup>1</sup>⁄<sub>8</sub> - 7 <sup>1</sup>⁄<sub>4</sub></td>
                                        </tr>
                                        <tr>
                                            <td>LG</td>
                                            <td>23 <sup>1</sup>⁄<sub>8</sub> - 23 <sup>5</sup>⁄<sub>8</sub></td>
                                            <td>59-60 cm</td>
                                            <td>7 <sup>3</sup>⁄<sub>8</sub> - 7 <sup>1</sup>⁄<sub>2</sub></td>
                                        </tr>
                                        <tr>
                                            <td>XL</td>
                                            <td>24 - 24 <sup>3</sup>⁄<sub>8</sub></td>
                                            <td> 61-62 cm</td>
                                            <td>7 <sup>5</sup>⁄<sub>8</sub> - 7 <sup>3</sup>⁄<sub>4</sub></td>
                                        </tr>
                                        <tr>
                                            <td>2XL</td>
                                            <td>24 <sup>3</sup>⁄<sub>4</sub> - 25 <sup>3</sup>⁄<sub>16</sub></td>
                                            <td> 63-64 cm</td>
                                            <td>7 <sup>7</sup>⁄<sub>8</sub> - 8 </td>
                                        </tr>
                                        <tr>
                                            <td>3XL</td>
                                            <td>25 <sup>9</sup>⁄<sub>16</sub> - 26 </td>
                                            <td> 65-66 cm</td>
                                            <td>8 <sup>1</sup>⁄<sub>8</sub> - 8 <sup>1</sup>⁄<sub>4</sub></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div> <!-- table_responsive //-->
                        
                        <div role="tabpanel" class="tab-pane" id="SizeChartMenTab2">
                            <div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                 <tbody>
                                       <thead>
                                           <tr>
                                              <th>Size</th>
                                              <th>Circumference Inches</th>
                                              <th>Circumference CM</th>
                                              <th>Hat size</th>
                                           </tr>
                                       </thead>
                                        <tr>
                                            <td>Y-SM</td>
                                            <td> 18 <sup>7</sup>⁄<sub>8</sub> - 19 <sup>1</sup>⁄<sub>4</sub></td>
                                            <td>48-49 cm</td>
                                            <td>Y-SM</td>
                                        </tr>
                                        <tr>
                                            <td>Y-MD</td>
                                            <td> 19 <sup>3</sup>⁄<sub>4</sub> - 20 <sup>1</sup>⁄<sub>4</sub></td>
                                            <td>50-51 cm</td>
                                            <td>Y-MD</td>
                                        </tr>
                                        <tr>
                                            <td>Y-LG</td>
                                            <td> 20 <sup>1</sup>⁄<sub>2</sub> - 20 <sup>7</sup>⁄<sub>8</sub></td>
                                            <td>52-53 cm</td>
                                            <td>Y-LG</td>
                                        </tr>
                                    </tbody>
                              </table>
                            </div> <!-- table_responsive //-->
                        </div> 

                    </div>
                      

                      
                      
                </div>

            </div>
              
              
		<div class="divider divider--lg"></div>

		<p>The next step in the fitment process are fitment checks. The following tests should be performed with the chin strap properly and securely in place. Helmet movement should also move the skin on your face and scalp. Helmets will fit snug when new and have a break in period. The helmet should not fit so tight as to cause discomfort or pain. If your measurement is at the upper number of any size range start at that range then move up as needed. </p>
    
              
        <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/fitment_1.gif?8373017006099839597" alt="Etnies Spring 2017 Mens Footwear Skate Shoes Pants Shorts Apparel Collection" title="Etnies Spring 2017 Mens Footwear Skate Shoes Pants Shorts Apparel Collection"></div>
        <div class="divider visible-sm visible-xs"></div>
        <div class="col-sm-11 col-md-11 col-lg-11">
        <p>1. With the helmet in place and chin strap secured, shake your head side to side, if the helmet moves independently of your head then the helmet is too big. When performing this test, the helmet liner and cheek pads should be in direct contact with your skin. While shaking, your skin should move with the helmet.</p>
        </div>
        </div>
              
		<div class="divider"></div>
              
        <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/fitting_2.jpg?8373017006099839597" alt="Etnies Spring 2017 Mens Footwear Skate Shoes Pants Shorts Apparel Collection" title="Etnies Spring 2017 Mens Footwear Skate Shoes Pants Shorts Apparel Collection"></div>
        <div class="divider visible-sm visible-xs"></div>
        <div class="col-sm-11 col-md-11 col-lg-11">
        <p>2. Place one hand directly behind your head and push forward. Use your other hand and try to slip your little finger between your forehead and the helmet EPS liner. If you are able to slip your finger in, the helmet is too big.</p>
        </div>
        </div>
              
		<div class="divider"></div>
              
        <div class="row">
        <div class="col-sm-1 col-md-1 col-lg-1"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/fitment_frontshake.gif?8373017006099839597" alt="Etnies Spring 2017 Mens Footwear Skate Shoes Pants Shorts Apparel Collection" title="Etnies Spring 2017 Mens Footwear Skate Shoes Pants Shorts Apparel Collection"></div>
        <div class="divider visible-sm visible-xs"></div>
        <div class="col-sm-11 col-md-11 col-lg-11">
        <p>3. To test for helmet lift, place one hand on the chin bar and push up (while the chin strap is secured), if the helmet comes off your head it is too big. Next, place one hand on the back and push up again, if your helmet lifts off your head the helmet is too big.</p>
        </div>
        </div>
              
              
              
            </div> <!-- SizeChartTab1 //-->


            <div role="tabpanel" class="tab-pane" id="SizeChartTab2">


              <p>The first step in the fitting process is to measure around your chest then from your neck to wrist. For Gloves measure around your palm with your fingers open and spread. These are guidelines, a starting point.</p>
              
                <div role="tabpanel" class="tab-pane active" id="SizeChartWomenTab1">

                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">

                                
                        <div class="tab-content tab-content--ys">
                            <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                                <li class="active"><a href="#ExowearTab1" role="tab"data-toggle="tab" class="text-uppercase">Mens</a></li>

                                <li><a href="#ExowearTab2" role="tab"data-toggle="tab" class="text-uppercase">Womens</a></li>

                            </ul>
                        
                
                            <div role="tabpanel" class="tab-pane active" id="ExowearTab1">
                            	 
							<div class="tab-content tab-content--ys">
                            <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                                <li class="active"><a href="#ExowearMenTab1" role="tab"data-toggle="tab" class="text-uppercase">Men's Jacket Sizing</a></li>

                                <li><a href="#ExowearMenTab2" role="tab"data-toggle="tab" class="text-uppercase">Men's Pant Sizing</a></li>
                              
                              	<li><a href="#ExowearMenTab3" role="tab"data-toggle="tab" class="text-uppercase">Men's Hurricane Suit</a></li>
                              
                              	<li><a href="#ExowearMenTab4" role="tab"data-toggle="tab" class="text-uppercase">Men's Passport Suit</a></li>
                              
                              	<li><a href="#ExowearMenTab5" role="tab"data-toggle="tab" class="text-uppercase">Men's Podium Racesuit</a></li>
                              
                              	<li><a href="#ExowearMenTab6" role="tab"data-toggle="tab" class="text-uppercase">Men's Gloves (if half size pick next full size)</a></li>

                            </ul>
                              
                            <div role="tabpanel" class="tab-pane active" id="ExowearMenTab1">
                            <div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Size</th>
                                              <th>XS</th>
                                              <th>S</th>
                                              <th>M</th>
                                              <th>L</th>
                                              <th>XL</th>
                                              <th>XXL</th>
                                              <th>XXXL</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                            <td>Chest</td>
                                            <td>34 - 36</td>
                                            <td>36 - 38</td>
                                            <td>38 - 40</td>
                                            <td>42 - 44</td>
                                            <td>44 - 46</td>
                                            <td>46 - 48</td>
                                            <td>48 - 50</td>
                                        </tr>
                                        <tr>
                                            <td>Sleeve</td>
                                            <td>31</td>
                                            <td>32</td>
                                            <td>33</td>
                                            <td>34</td>
                                            <td>35</td>
                                            <td>36</td>
                                            <td>37</td>
                                        </tr>
                                        <tr>
                                            <td>Tall Size</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>LGT</td>
                                            <td>XLT</td>
                                            <td>2XLT</td>
                                            <td>3XLT</td>
                                        </tr>
                                        <tr>
                                            <td>Tall Size</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>34 - 36</td>
                                            <td>35 - 37</td>
                                            <td>36 - 38</td>
                                            <td>37 - 39</td>
                                        </tr>
						
                                    </tbody>
                              </table>
                            </div> <!-- table_responsive //-->
                            </div>
                              
                        	<div role="tabpanel" class="tab-pane" id="ExowearMenTab2">
                           	<div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Sizes</th>
                                              <th>S</th>
                                              <th>M</th>
                                              <th>L</th>
                                              <th>XL</th>
                                              <th>XXL</th>
                                              <th>XXXL</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                            <td>Waist</td>
                                            <td>30-31</td>
                                            <td>32-33</td>
                                            <td>34-35</td>
                                            <td>36-37</td>
                                            <td>38-39</td>
                                            <td>40-41</td>
                                        </tr>
                                        <tr>
                                            <td>Inseam Regular</td>
                                            <td>33</td>
                                            <td>33</td>
                                            <td>34</td>
                                            <td>34</td>
                                            <td>35</td>
                                            <td>35</td>
                                        </tr>
                                        <tr>
                                            <td>Inseam Tall</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>36</td>
                                            <td>36</td>
                                            <td>37</td>
                                            <td>37</td>
                                        </tr>
                                        
						
                                    </tbody>
                              </table>
                            </div>
                        	</div> 
                              
                              
							<div role="tabpanel" class="tab-pane" id="ExowearMenTab3">
                           	<div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Sizes</th>
                                              <th>CHEST</th>
                                              <th>WAIST</th>
                                              <th>INSEAM</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                            <td>US 38 - Euro 48</td>
                                            <td>38-39</td>
                                            <td>32-33.5</td>
                                            <td>31</td>
                                        </tr>
                                        <tr>
                                            <td>US 40 - Euro 50</td>
                                            <td>40-41</td>
                                            <td>34-35</td>
                                            <td>32</td>
                                        </tr>
                                        <tr>
                                            <td>US 42 - Euro 52</td>
                                            <td>42-43</td>
                                            <td>35.5-36.5</td>
                                            <td>32</td>
                                        </tr>
                                        <tr>
                                            <td>US 44 - Euro 54</td>
                                            <td>44-45</td>
                                            <td>37-38</td>
                                            <td>33</td>
                                        </tr>
                                        <tr>
                                            <td>US 46 - Euro 56</td>
                                            <td>46-47</td>
                                            <td>38.5-39.5</td>
                                            <td>33</td>
                                        </tr>
                                        <tr>
                                            <td>US 48 - Euro 58</td>
                                            <td>48-49</td>
                                            <td>40-41</td>
                                            <td>34</td>
                                        </tr>
                                        <tr>
                                            <td>US 50 - Euro 60</td>
                                            <td>50-51</td>
                                            <td>41.5-42.5</td>
                                            <td>34</td>
                                        </tr>
                                        
						
                                    </tbody>
                              </table>
                            </div>
                        	</div>
                              
							<div role="tabpanel" class="tab-pane" id="ExowearMenTab4">
                           	<div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Sizes</th>
                                              <th>S</th>
                                              <th>M</th>
                                              <th>L</th>
                                              <th>XL</th>
                                              <th>XXL</th>
                                              <th>XXXL</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                            <td>Chest</td>
                                            <td>36-38</td>
                                            <td>38-40</td>
                                            <td>42-44</td>
                                            <td>44-46</td>
                                            <td>46-48</td>
                                            <td>48-50</td>
                                        </tr>
                                        <tr>
                                            <td>Sleeve</td>
                                            <td>32</td>
                                            <td>33</td>
                                            <td>34</td>
                                            <td>35</td>
                                            <td>36</td>
                                            <td>37</td>
                                        </tr>
                                        <tr>
                                            <td>Waist</td>
                                            <td>30-31</td>
                                            <td>32-33</td>
                                            <td>34-35</td>
                                            <td>36-37</td>
                                            <td>38-39</td>
                                            <td>40-41</td>
                                        </tr>
                                        <tr>
                                            <td>Inseam</td>
                                            <td>32</td>
                                            <td>32</td>
                                            <td>33</td>
                                            <td>33</td>
                                            <td>34</td>
                                            <td>34</td>
                                        </tr>                                       
						
                                    </tbody>
                              </table>
                            </div>
                        	</div>
                              
                              
							<div role="tabpanel" class="tab-pane" id="ExowearMenTab5">
                           	<div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Alpha</th>
                                              <th>U.S.</th>
                                              <th>Euro</th>
                                              <th>Chest</th>
                                              <th>Waist</th>
                                              <th>Inseam</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        	<tr>
                                            <td>SM</td>
                                            <td>40</td>
                                            <td>50</td>
                                            <td>40"-41"</td>
                                            <td>32"-33.5"</td>
                                            <td>31"</td>
                                            </tr>
                                            <tr>
                                            <td>MD</td>
                                            <td>42</td>
                                            <td>52</td>
                                            <td>42"-43"</td>
                                            <td>34"-35"</td>
                                            <td>31"</td>
                                            </tr>
                                            <tr>
                                            <td>LG</td>
                                            <td>44</td>
                                            <td>54</td>
                                            <td>44"-45"</td>
                                            <td>35.5"-36.5"</td>
                                            <td>31"</td>
                                            </tr>
                                            <tr>
                                            <td>XL</td>
                                            <td>46</td>
                                            <td>56</td>
                                            <td>46"-47"</td>
                                            <td>37"-38"</td>
                                            <td>31"</td>
                                            </tr>
                                            <tr>
                                            <td>2XL</td>
                                            <td>48</td>
                                            <td>58</td>
                                            <td>48"-49"</td>
                                            <td>38.5"-39.5"</td>
                                            <td>31"</td>
                                            </tr>
                                            <tr>
                                            <td>3XL</td>
                                            <td>50</td>
                                            <td>60</td>
                                            <td>50"-51"</td>
                                            <td>40"-41"</td>
                                            <td>31"</td>
                                            </tr>
                                        
						
                                    </tbody>
                              </table>
                            </div>
                        	</div>
                              
                            <div role="tabpanel" class="tab-pane" id="ExowearMenTab6">
                           	<div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>XS</th>
                                              <th>SM</th>
                                              <th>MD</th>
                                              <th>LG</th>
                                              <th>XL</th>
                                              <th>XXL</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        	<tr>
                                            <td>5</td>
                                            <td>6</td>
                                            <td>7</td>
                                            <td>8</td>
                                            <td>9</td>
                                            <td>10</td>
                                            </tr>
                                        
						
                                    </tbody>
                              </table>
                            </div>
                        	</div>
                              
                        	</div> 
                              
                              
                          	</div>
                        
                        	<div role="tabpanel" class="tab-pane" id="ExowearTab2">
                           	<div class="tab-content tab-content--ys">
                            <ul class="nav nav-tabs nav-tabs--ys1" role="tablist">
                                <li class="active"><a href="#ExowearWomenTab1" role="tab"data-toggle="tab" class="text-uppercase">Women's Jacket Sizing</a></li>

                                <li><a href="#ExowearWomenTab2" role="tab"data-toggle="tab" class="text-uppercase">Women's NipTuck Sizing</a></li>
                              
                              	<li><a href="#ExowearWomenTab3" role="tab"data-toggle="tab" class="text-uppercase">Women's Plus Sizing</a></li>
                              
                              	<li><a href="#ExowearWomenTab4" role="tab"data-toggle="tab" class="text-uppercase">Women's Pant Sizing</a></li>
                              
                              	<li><a href="#ExowearWomenTab5" role="tab"data-toggle="tab" class="text-uppercase">Women's Gloves (if half size pick next full size)</a></li>
                              
                              

                            </ul>
                              
                            <div role="tabpanel" class="tab-pane active" id="ExowearWomenTab1">
                              <span>Lilly / Dynasty / Hat Trick / Voyage / Empress / Fury / Diamond / Fiore / Jewel</span>
                            <div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Size</th>
                                              <th>XS</th>
                                              <th>S</th>
                                              <th>M</th>
                                              <th>L</th>
                                              <th>XL</th>
                                              <th>XXL</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                        <td>Jacket Size</td>
                                        <td>4</td>
                                        <td>6</td>
                                        <td>8</td>
                                        <td>10</td>
                                        <td>12</td>
                                        <td>14-16</td>
                                        </tr>
                                        <tr>
                                        <td>Bust</td>
                                        <td>33</td>
                                        <td>34-35</td>
                                        <td>36-37</td>
                                        <td>39-40</td>
                                        <td>41-43</td>
                                        <td>45</td>
                                        </tr>
                                        <tr>
                                        <td>Sleeve</td>
                                        <td>29.5</td>
                                        <td>29.5-30</td>
                                        <td>30.5-31</td>
                                        <td>31.5-32</td>
                                        <td>32.5-33</td>
                                        <td>33.5-34</td>
                                        </tr>
						
                                    </tbody>
                              </table>
                            </div> <!-- table_responsive //-->
                            </div>
                              
                        	<div role="tabpanel" class="tab-pane" id="ExowearWomenTab2">
                           	<div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Sizes</th>
                                              <th>XS</th>
                                              <th>S</th>
                                              <th>M</th>
                                              <th>L</th>
                                              <th>XL</th>
                                              <th>XXL</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                        <td>Jacket Size</td>
                                        <td>2</td>
                                        <td>4</td>
                                        <td>6</td>
                                        <td>8</td>
                                        <td>10</td>
                                        <td>12</td>
                                        </tr>
                                        <tr>
                                        <td>Bust</td>
                                        <td>31</td>
                                        <td>33</td>
                                        <td>35</td>
                                        <td>37</td>
                                        <td>39</td>
                                        <td>41</td>
                                        </tr>
                                        <tr>
                                        <td>Sleeve</td>
                                        <td>29</td>
                                        <td>29-29.5</td>
                                        <td>29.5-30</td>
                                        <td>30.5-31</td>
                                        <td>31.5-32</td>
                                        <td>32.5-33</td>
                                        </tr>
                                        
						
                                    </tbody>
                              </table>
                            </div>
                        	</div> 
                              
                              
							<div role="tabpanel" class="tab-pane" id="ExowearWomenTab3">
                           	<div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Sizes</th>
                                              <th>1W</th>
                                              <th>2W</th>
                                              <th>3W</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                        <td>Dress</td>
                                        <td>16-18</td>
                                        <td>20-22</td>
                                        <td>24</td>
                                        </tr>
                                        <tr>
                                        <td>Bust</td>
                                        <td>42-44</td>
                                        <td>46-48</td>
                                        <td>50-52</td>
                                        </tr>
                                        <tr>
                                        <td>Waist</td>
                                        <td>33-35</td>
                                        <td>37-39</td>
                                        <td>41-43</td>
                                        </tr>
                                        
						
                                    </tbody>
                              </table>
                            </div>
                        	</div>
                              
							<div role="tabpanel" class="tab-pane" id="ExowearWomenTab4">
                           	<div class="table_responsive">
                              <table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>Savanah &amp; Haley *Low Rise*</th>
                                              <th>XS</th>
                                              <th>S</th>
                                              <th>M</th>
                                              <th>L</th>
                                              <th>XL</th>
                                              <th>XXL</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                        <td>Low Rise-Waist</td>
                                        <td>26-27</td>
                                        <td>28-29</td>
                                        <td>29-30</td>
                                        <td>30-31</td>
                                        <td>32-33</td>
                                        <td>36-37</td>
                                        </tr>
                                        <tr>
                                        <td>Inseam</td>
                                        <td>31</td>
                                        <td>32</td>
                                        <td>32</td>
                                        <td>33</td>
                                        <td>33</td>
                                        <td>34</td>
                                        </tr>
                                        <tr>
                                        <td>Hellina / Jewel / Empire</td>
                                        <td>XS</td>
                                        <td>S</td>
                                        <td>M</td>
                                        <td>L</td>
                                        <td>XL</td>
                                        <td>2XL</td>
                                        </tr>
                                        <tr>
                                        <td>Natural Waist</td>
                                        <td>26-27</td>
                                        <td>28-29</td>
                                        <td>30-31</td>
                                        <td>32-33</td>
                                        <td>34-35</td>
                                        <td>36-37</td>
                                        </tr>
                                        <tr>
                                        <td>Inseam</td>
                                        <td>31</td>
                                        <td>32</td>
                                        <td>32</td>
                                        <td>33</td>
                                        <td>33</td>
                                        <td>34</td>
                                        </tr>                                      
						
                                    </tbody>
                              </table>
                            </div>
                        	</div>
                              
                              
                              
							<div role="tabpanel" class="tab-pane" id="ExowearWomenTab5">
                           	<div class="table_responsive">
                              
                              
							<table class="table table-bordered table-striped">
                                       <thead>
                                           <tr>
                                              <th>XS</th>
                                              <th>SM</th>
                                              <th>MD</th>
                                              <th>LG</th>
                                              <th>XL</th>
                                           </tr>
                                       </thead>
                                        <tbody>
                                        <tr>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        </tr>
						
                                    </tbody>
                              </table>
                              
                              
                              </div>
                              </div>
                              
                              
                        	</div> 
                        	</div> 

                    	</div>
                              
                        </div>
                    </div>

                </div>
            </div> <!-- SizeChartWomenTab1 //-->

      
  

        </div> <!-- SizeChartTab2 //-->


