{% comment %} Width of results box {% endcomment %}
{% assign results_box_width = '33%' %}
{% comment %} Background color of results box {% endcomment %}
{% assign results_box_background_color = '#ffffff' %}
{% comment %} Border color of results box {% endcomment %}
{% assign results_box_border_color = '#d4d4d4' %}

<script>
jQuery(document).ready(function ($) {
  // Current Ajax request.
  var currentAjaxRequest = null;
  // Grabbing all search forms on the page, and adding a .search-results list to each.
  var searchForms = $('.my_search_bar').css('position','relative').each(function() {
    // Grabbing text input.
    var input = $(this).find('input[name="q"]');
    // Adding a list for showing search results.
    var offSet = input.position().top + input.innerHeight();
    $('<ul class="search-results"></ul>').css( { 'position': 'absolute','top': '55px','z-index': '9999' } ).appendTo($(this)).hide();    

    
    // Listening to keyup and change on the text field within these search forms.
    input.attr('autocomplete', 'off').bind('keyup change', function() {
      // What's the search term?
      var term = $(this).val();
      // What's the search form?
      var form = $(this).closest('form');
      // What's the search URL?
      var searchURL = '/search?type=product&q=' + term;
      // What's the search results list?
      var resultsList = form.find('.search-results');
      // Used to know if the searched product is available with the use of Black Magic and some good ol' checker = true if statement = true
      var checker = false;
      // If that's a new term and it contains at least 3 characters.
       
      if (term.length > 1 && term != $(this).attr('data-old-term')) {
        // Saving old query.
        $(this).attr('data-old-term', term);
        // Killing any Ajax request that's currently being processed.
        if (currentAjaxRequest != null) currentAjaxRequest.abort();
        // Pulling results.
        currentAjaxRequest = $.getJSON(searchURL + '&view=json', function(data) {
          // Reset results.
          resultsList.empty();
          // If we have no results.
          if(data.results_count == 0) {
            resultsList.html('<li class="no-result"><span>Sorry No results Found.</span></li>');
            $('.search-results').attr('nj-not-found', 'active');
            resultsList.fadeIn(200);
            //resultsList.hide();
          }
          else {
            // If we have results.
            
              
           
            $.each(data.results, function(index, item) {
           //check if all data is empty or not
            
              if(item.availability == true){
                var itemTitle = item.title;
                if(!(itemTitle.includes('Last Call Sale') || itemTitle.includes('LAST CALL SALE'))){
                  itemTitle = itemTitle.replace(' - Used Like New', '');
                  itemTitle = itemTitle.replace(' - Slightly Used', '');
                  itemTitle = itemTitle.replace(' - Brand New', '');
                  
                }
                checker = true;
              var link = $('<a></a>').attr('href', item.url);
              link.append('<a title="Quick View" alt="Quick View" class="handle" href="javascript:void(0);" onclick="quiqview(\'' + item.handle + '\')"><span class="simple-icon simple-icon-eye"></span></a>');
              link.append('<span class="thumbnail"><img src="' + item.thumbnail + '" /></span>');
              link.append('<span class="title">' + itemTitle + '</span><br>');
              if(item.compare_at_price == '' || item.compare_at_price == '$0.00') {
	              link.append('<span class="regular_price">' + item.prices + '</span>');
              }
              else {
	              link.append('<span class="new_price">' + item.prices + '</span><span class="old_price">' + item.compare_at_price + '</span>');
	          }
              link.wrap('<li></li>');
              resultsList.append(link.parent());
              $('.search-results').css('max-height','450px');
              $('.search-results').css('overflow','auto');
              }
              else if(checker == false && data.results >= 1){

                resultsList.html('<li class="no-result"><span>Sorry No results Found.</span></li>');
                $('.search-results').attr('nj-not-found', 'active');
                resultsList.fadeIn(200);
              }
            });
            // The Ajax request will return at the most 10 results.
            // If there are more than 10, let's link to the search results page.
            if(data.results_count > 10) {
              resultsList.append('<li class="all-results"><span><a href="' + searchURL + '">See all results (' + data.results_count + ')</a></span></li>');
            }
            
            if(checker == false){

                 resultsList.html('<li class="no-result"><span>Sorry No results Found.</span></li>');
                $('.search-results').attr('nj-not-found', 'active');
                resultsList.fadeIn(200);
            }
            else{
            resultsList.fadeIn(200);
            
            $('.search-results').attr('nj-not-found', '');
            
  			$('.search-results').prepend(' <a href="javascript:void(0);" class="close-search-results" title="Close or ( Esc )" alt="Close or ( Esc )">Close (Esc)</a>');
			$('.search-results').prepend(' <span href="javascript:void(0);" class="search_results_title">Search Results. . .</span> ');
            }
            
          }        
        });
      }
    });
  });
// Clicking outside makes the results disappear.
//   $('body').bind('click', function(){
//     $('.search-results').hide();
//   });
  
  $( 'body' ).on( 'keydown', function ( e ) {
    if ( e.keyCode === 27 ) {
        $( '.search-results' ).hide();
    }
  });
  
  $('body').bind('click', function(){
    if($('.search-results').attr('nj-not-found') == 'active') {
   	 $('.search-results').hide();
    }
  });
  
    $(document).on("click", '.close-search-results', function(event) { 
			$( '.search-results' ).hide();
	});
  
});
</script>

<!-- Some styles to get you started. -->
<style>
  
/* .search-results:after {
  	content: "";
    display: inline-block;
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    top: -10px;
    right: 80px;
 	border-bottom:10px solid #e1e1e1;
    border-left:10px solid rgba(0,0,0,0);
    border-right:10px solid rgba(0,0,0,0)
  
} */
  
.search_results_title {
    position: absolute;
    left: 11px;
    color: #3f3f3f;
    text-transform: uppercase;
    letter-spacing: .100em;
}
  
  
  
  
.close-search-results {
    border: 1px solid red;
    padding: 5px 10px;
    color: red;
    font-size: .80em;
    border-radius: 4px;
  	opacity: .4;
  	margin-right:5px;
  	text-transform: uppercase;
    letter-spacing: .075em;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
  
  
.close-search-results:hover {
 	text-decoration: none;
  	opacity:1;
  	color: red;
}
  
  
/*  QUICK VIEW BUTTON  */
  
.handle {
  position: absolute;
  right: 5px;
  z-index: 9999999;
  width: 30px;
  height: 30px;
  background-color: black;
  text-align: center;
  line-height: 33px;
  border-radius: 50%;
  opacity: .3;
  padding: 0px !important;
  
}
  
.search-results  li:hover .handle {
  opacity: 1;
  text-decoration: none;
}
  

.handle .simple-icon {
  color: white;
  
}
  
  
.search-results  {
  	right:0px;
    margin:0;
    padding:15px 0;
    max-height:570px;
    overflow:auto;
    background:#fff;
    width: 100%;
  	border-radius: 3px;
  	-webkit-box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
  	box-shadow: 0px 4px 7px 0px rgba(0,0,0,0.1);
  	border-top-left-radius: 0px;
}
  
@media (max-width: 1024px) {
  .search-results  {
   	width: 100%;
  }
  
  .search-results  li {
   	width: 100%;
    text-align: left;
  }
  
  .search-results li .title {
    max-width: 428px !important;
    width: 428px !important; 
    font-size: .60em !important;
  }
 	 
}

  

.search-results li:nth-child(3) {
 	margin-top: 20px; 
  	border-top: 1px solid #F0F0F0;
}
  

.search-results  li {
    display:block;
    overflow:hidden;
    float: left;
  	width: 100%;
  	-webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}
  
.search-results  li a {
    display: block;
    overflow: hidden;
    padding: 10px;
  	

}
  
.search-results  li:hover {
 	background-color: #F6F6F6;
}
.search-results  li .thumbnail {
    float:left;
    margin:0px 15px 0 0;
    max-width:80px;
}

.search-results li .title {
    font-family: 'hurme-regular';
    letter-spacing: .050em;
    display: block;
    overflow: hidden;
    font-weight: 300;
    font-size: .90em;
    line-height: 1.1em;
    margin: 0 0 5px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 455px;
    width: 79%;
    text-align: left;
    color: #000;
    text-transform: uppercase;
  
}
  
.old_price {
    padding: 0 0 13px;
    color: #777777;
    text-align: left;
    float: left;
    letter-spacing: .070em;
    text-decoration: line-through;
    margin-left: 5px; 
}
  
  
.search-results li .new_price,
.search-results li .regular_price {
    padding: 0 0 13px;
    color: #e12323;
    text-align: left;
    float: left;
    font-family: "hurme-semibold";
    letter-spacing: .070em;
  	font-size: 1.1em;
}
 
.search-results  .all-results {
  background-color:#000;
  width:100%;
  text-align:center;
}
  
.search-results .all-results {
  color:#fff;
  text-transform: uppercase;
  
  
 
}
  
.search-results .all-results:hover  {
  	color:red;
  	background-color:#000!important;
}
  
  
.search-results  .no-result {
  background-color:transparent;
  width:100%;
  text-align:center;
}
  
.search-results  .no-result span {
 	color: #C8102D;
  	text-transform: uppercase;
  	
}
  
.search-results li a {
    display: block;
    overflow: hidden;
    padding: 10px;
    
    letter-spacing: .100em;
}
  
.search-results li a:hover {
 	text-decoration: none; 
}
  
/* Nathan starts here   */
  
  .fixedbar .search_results_title {
    position: relative;
    left: 11px ;
    color: #3f3f3f ;
    text-transform: uppercase;
    letter-spacing: .100em;
    font-family: "hurme-semibold";
    margin-right: 284px;
}
    
  
  
</style>