{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script>jQuery(window).load(function() { jQuery('.selector-wrapper:eq({{ option_index }})').hide(); });</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}


{% if productdesingcenter == false %}
  <div class="swatch clearfix njohn_selections_{{ option_index }}" data-option-index="{{ option_index }}">
    <div class="wrapper">
      <div class="pull-left"><span class="option-label">{{ swatch }}:</span></div>
    </div>
      {% assign values = '' %}
      {% for variant in product.variants %}
        {% assign value = variant.options[option_index] %}
        {% unless values contains value %}
          {% assign values = values | join: ',' %}
          {% assign values = values | append: ',' | append: value %} 
          {% assign values = values | split: ',' %}
          <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color swatch{{ value | handle }} {% else %}size {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
            <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
            {% if is_color %}

              {% assign _tag_ = value | split: ' ' | last | handle %}
              {% assign _tag_ = "__" | append: _tag_ | append: '__' %}
              {% if images_color contains _tag_ %}
              {% assign imagescr = images_color | split: _tag_ | last %}
              {% assign imagescr = imagescr | split: ';' | first %}
              {% assign imagescr = 'filter_color' | append: imagescr | append: '.png' %}
              {% assign style = imagescr | asset_url %}
              {% assign style = 'url(' | append: style | append: ')' %}
              {% else %}{% assign style = value | split: ' ' | last | handle %}
              {% endif %}
            
              <label for="swatch-{{ option_index }}-{{ value | handle }}" style="background: {{ style }};">
                <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="" />
              </label>
            {% else %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}">
              {{ value }}
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="" />
            </label>
            {% endif %}
          </div>
        {% endunless %}
        {% if variant.available %}
        <script>
          jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
        </script>
        {% endif %}
      {% endfor %}
    </div>
{% else %}
<div class="wrapper text-center">
  <div class="swatch clearfix" data-option-index="{{ option_index }}">
    <span class="option-label">{{ swatch }}:</span>
      {% assign values = '' %}
      {% for variant in product.variants %}
        {% assign value = variant.options[option_index] %}
        {% unless values contains value %}
          {% assign values = values | join: ',' %}
          {% assign values = values | append: ',' | append: value %} 
          {% assign values = values | split: ',' %}
          <div data-value="{{ value | escape }}" class="swatch-element swatch-element-2 {% if is_color %}color swatch{{ value | handle }} {% else %}size {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
            <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
            {% if is_color %}

              {% assign _tag_ = value | split: ' ' | last | handle %}
              {% assign _tag_ = "__" | append: _tag_ | append: '__' %}
              {% if images_color contains _tag_ %}
              {% assign imagescr = images_color | split: _tag_ | last %}
              {% assign imagescr = imagescr | split: ';' | first %}
              {% assign imagescr = 'filter_color' | append: imagescr | append: '.png' %}
              {% assign style = imagescr | asset_url %}
              {% assign style = 'url(' | append: style | append: ')' %}
              {% else %}{% assign style = value | split: ' ' | last | handle %}
              {% endif %}
            
              <label for="swatch-{{ option_index }}-{{ value | handle }}" style="background: {{ style }};">
                <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="" />
              </label>
            {% else %}
            <label for="swatch-{{ option_index }}-{{ value | handle }}">
              {{ value }}
              <img class="crossed-out" src="{{ 'soldout.png' | asset_url }}" alt="" />
            </label>
            {% endif %}
          </div>
        {% endunless %}
        {% if variant.available %}
        <script>
          jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
        </script>
        {% endif %}
      {% endfor %}
    </div>
</div>
{% endif %}

{% endunless %}

{% endif %}