<!-- SNIPPET FOR ADDING TILE INSTALLATION DATE ON CART PAGE -->
<!-- added by Areduk Ja-Ne (Feb 27 2021) -->
{{ '//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css' | stylesheet_tag }}
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" defer="defer"></script>

  <div style="width:300px; clear:both;">
    <div style="display:inline-block; vertical-align:middle;">
    	<label for="date" style="color:#000000;font-weight:bolder;font-size:15px;">Select an Installation Date: (Optional):</label>
    </div>
    <div style="display:inline-block; vertical-align:middle;">
    	<input id="date" type="text" name="attributes[date]"  />
    </div>
    <span style="display:block;color:red;font-size:13px;" class="instructions"><strong>NOTE:</strong> We are closed during Sundays.</span>
    <span style="display:block;color:red;font-size:13px;" class="instructions">*Applies to any or all tires on the cart.</span>
<!--     <script>console.log('INSTALLATION DATE:');</script>
    <script>console.log( $("#date").attr("name") );</script>
    <script>console.log('END OF INSTALLATION DATE:');</script> -->
  </div>

  <script>
    window.onload = function() {
      if (window.jQuery) {
        let $ = window.jQuery;

        $(function() {
          $("#date").datepicker({
            minDate: +1, 
            maxDate: '+12M',
            beforeShowDay:disablesunday,
            showButtonPanel: true,
            onClose: function(e) {
              var ev = window.event;
              if (ev.srcElement.innerHTML == 'Clear')
               this.value = "";    
             },
           closeText: 'Clear',
            onSelect: function(dateText, inst) {
             console.log(dateText);
            }
          });
        });
        
        
        function disablesunday(sunday)
        {
        	var calendarday = sunday.getDay();
            return [(calendarday>0)];
        }
        
        $("#date").keypress(function (e) {
          return false;
        });
        
        $("#date").keydown(function (e) {
                   return false;
          });
        
        
//         var inDate = $('#installDate').datepicker('getDate');
//         console.log(inDate);
        
      }
    }
  </script>

<!--  <script>
    window.onload = function() {
      if (window.jQuery) {
        let $ = window.jQuery;

        $(function() {
          $("#date").datepicker({
            minDate: +1, 
            maxDate: '+2M',
            beforeShowDay: $.datepicker.noWeekends
          });
        });
      }
    }
  </script> -->
<!-- code from: https://shopify.dev/tutorials/customize-theme-add-date-picker-for-delivery-dates -->