<!-- <section class="content why_fill_bg"> -->
  
  
<section class="why_fill_bg">
<div class="container">


  <div class="row">

<div class="col-sm-12 col-md-6">
<!--  
<div class="banner-icon" onclick="window.location.href = '#FreeGroundShippingOrders'"> 

-->
  
  
<div class="banner-icon" onclick="window.location.href = '#FreeShipping100'">
  <div class="banner-icon__icon"><span class="icon icon-flight_takeoff"></span></div>
  <div class="banner-icon__text">
    <h3>Free Ground Shipping on Orders over $100</h3>
    
  </div>
</div>
<!-- / -->
<!--  -->
<div class="banner-icon" onclick="window.location.href = '#FreeInternational999'">
  <div class="banner-icon__icon"><span class="icon icon-public"></span></div>
  <div class="banner-icon__text">
    <h3>Free Int'l Shipping on Orders over $999</h3>
    
  </div>
</div>
<!-- / -->
<!--  -->
<div class="banner-icon" onclick="window.location.href = '#SecureOnlineShopping'">
  <div class="banner-icon__icon"><span class="icon icon-security"></span></div>
  <div class="banner-icon__text">
    <h3>Secure Online Shopping</h3>
    
  </div>
</div>
<!-- / -->              

</div>
    


<div class="col-sm-12 col-md-6">

<!--  -->
<div class="banner-icon" onclick="window.location.href = '#LowesPriceGuaranteed'">
  <div class="banner-icon__icon"><span class="icon icon-money_off"></span></div>
  <div class="banner-icon__text">
    <h3>Lowest Price Guaranteed!</h3>
   
  </div>
</div>
<!-- / -->
<!--  -->
<div class="banner-icon" onclick="window.location.href = '#FreeFreightExchanges'">
  <div class="banner-icon__icon"><span class="icon icon-launch"></span></div>
  <div class="banner-icon__text">
    <h3>Free Freight on Returns and Exchanges</h3>
   
  </div>
</div>
<!-- / -->
<!--  -->
<div class="banner-icon" onclick="window.location.href = '#AuthorizedMerchandise'">
  <div class="banner-icon__icon"><span class="icon icon-contacts"></span></div>
  <div class="banner-icon__text">
    <h3>Authorized Merchandise Dealer</h3>
    
  </div>
</div>
<!-- / -->              

</div>










</div>
</div>
</section>