{% if settings.product_item_show_wishlist_temporary %}
	<div class="default-wishbutton defbtn{{ product.handle }}">
	{% if button %}
		<a href='{{ product.handle | handleize }}' class="btn btn--ys btn--xl visible-xs add-in-wishlist-js">
			<span class="icon icon-favorite_border"></span>
		</a>
	{% else %}
		<a class="add-in-wishlist-js" href='{{ product.handle | handleize }}'>
			<span class="icon icon-favorite_border tooltip-link"></span>
			<span class="text">{{ 'wishlist.general.add_to_wish_list' | t }}</span>
		</a>
	{% endif %}
	</div>
	<div class="added-wishbutton" style="display: none;">
	{% if button %}
		<a href='/pages/wishlist' class="btn btn--ys btn--xl visible-xs">
			<span class="icon icon-favorite"></span>
		</a>
	{% else %}
		<a href='/pages/wishlist'>
			<span class="icon icon-favorite tooltip-link"></span>
			<span class="text">{{ 'wishlist.general.go_to_wish_list' | t }}</span>
		</a>
	{% endif %}
	</div>
{% else %}
	{% if button %}
	<a href="/account/login" class="btn btn--ys btn--xl visible-xs">
		<span class="icon icon-favorite_border"></span>
	</a>
	{% else %}
	<a href="/account/login">
		<span class="icon icon-favorite_border tooltip-link"></span>
		<span class="text">{{ 'wishlist.general.first_login' | t }}</span>
	</a>
	{% endif %}
{% endif %}