<!doctype html>
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
<head>
  <meta name="google-site-verification" content="aNif_3r3qTV_0NmRfPlIqC9yLG-b_Aqq7Zx1acuxjQ4" />
  <meta name="google-site-verification" content="mK48WR_h8eGCITL2QOkAK9OqqBhUVzOKsuautxvffuA" />
  <meta name="msvalidate.01" content="EFF1F954B9828D82C5E4D32D2F6F39A7" />
  <!-- v1.4.2 -->
  <meta charset="utf-8">
  <!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="{{ "general.meta.keywords" | t }}" />
  <meta name="author" content="{{ "general.meta.author" | t }}">
<!-- 	<script type="text/javascript">
      if(window.location.href == 'https://motorhelmets.com/blogs/news/motorhelmets-in-store-specials'){
          window.location.replace("https://sites.google.com/view/motorhelmets/about/monthly-specials");
        }
  	</script> -->
  <script> 
    var url = window.location.href;
    if(url == 'https://motorhelmets.com/collections/' || url == 'https://motorhelmets.com/products/'){
      window.location.href = "https://motorhelmets.com/pages/brands";
    }
    UrlExists(url);
    function UrlExists(url) {
      var http = new XMLHttpRequest();
      http.open('HEAD', url, false);
      http.send();
      if (http.status == 404){
        window.location.href = "https://motorhelmets.com";
      }
    }
  </script>
  <script src="{{ 'jquery-2.1.4.min.js' | asset_url }}"></script>

  <script src=" {{ 'modernizr.js' | asset_url}}"></script>
  <script src="{{ 'jquery.cookie.js' | asset_url }}"></script>  
  

  <!-- Social meta ================================================== -->
  {% include 'social-meta-tags' %}
  <title>{{ page_title }}{% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}{% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}</title>
  {% if page_description %}<meta name="description" content="{{ page_description | escape }}" />{% endif %}
  <link rel="canonical" href="{{ canonical_url }}" />
  {% if settings.use_favicon %}<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/x-icon" />{% endif %}
  {% if settings.enable_custom_fonts %}
  <script src="{{ 'fonts.js' | asset_url}}"></script>
  {% else %}
  {% include "header-fonts" %}
  {% endif %}
  {{ 'flexslider.css' | asset_url | stylesheet_tag }}
  {% include 'header-css' %}
  <!-- jQuery 1.10.1-->
{%comment%}
  {{ 'lazyload.js' | asset_url | script_tag }}
{%endcomment%}
    {{ 'blazy.js' | asset_url | script_tag }}
  {% if template contains 'customers' %}
  <script src="{{ 'shopify_common.js' | shopify_asset_url}}"async></script>
  <script src="{{ 'customer_area.js'  | shopify_asset_url }}"async></script>
  {% endif %}
  {{ content_for_header }}
  <script src="{{ 'option_selection.js' | shopify_asset_url }}"async></script>
  <script src="{{ 'api.jquery.js' | shopify_asset_url }}"></script>
  <script src="{{ 'cart.api.js' | asset_url }}"></script>
  {% capture l9 %}{% if template == "index" and settings.home_page_layout == 'home-page_layout-9' %} id="layout-9"{% elsif template == "page.home-page_layout-9" %} id="layout-9"{% endif %}{% endcapture %}

  <style>
    /*Footer*/
    {% if settings.color_body != settings.color_footer and settings.color_footer != 'rgba(0,0,0,0)' %}
    footer {
      padding-top: 60px;
    }
    @media (max-width: 767px) {
      footer {
        padding-top: 0;
      }
    }
    body:not(.index) #pageContent > .container {
      border: none;
      padding-bottom: 0;
    }
    footer .subscribe-box input {
      border: none !important;
    }
    {% else %}
    body.index .layout-4 .container:first-child,
    body.index .layout-0 .container:first-child {
      border-top: 1px solid {{ settings.color_footerlines }};
      padding-top: 60px;
    }
    footer .subscribe-box input {
      border: 1px solid {{ settings.color_footerlines }};
    }
    {% endif %}
  </style>

  {{ 'njohn-product-grid-style.css' | asset_url | stylesheet_tag }}

  {% if template contains 'product' %}
  <!-- PRODUCT PAGE -->
  {{ 'moto_progress_btn.css' | asset_url | stylesheet_tag }}
  {{ 'njohn_product_content_style.css' | asset_url | stylesheet_tag }}
  <!--/PRODUCT PAGE -->
  {% endif %}


  {{ 'njohn_wishlist_style.css' | asset_url | stylesheet_tag }}
  {{ 'njohn_wishlist_header_style.css' | asset_url | stylesheet_tag }}
  {{ 'njohn_popup_quickview.css' | asset_url | stylesheet_tag }}
  {{ 'njohn_wishlist_row.css' | asset_url | stylesheet_tag }}
  {{ 'ion.rangeSlider.min.css' | asset_url | stylesheet_tag }}

  {% if template contains 'article' or template contains 'blog' %}
  {{ 'njohn_blog_article_style.css' | asset_url | stylesheet_tag }}
  {% endif %}

  <script src=" {{ 'jquery_ui.js' | asset_url}}"async></script>

  {% if template contains 'product' %}
  {{ 'nj-product.recently_view_style.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if template contains 'collection' %}
  {{ 'nj-product.collection_recently_view_style.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {% if template contains 'search' %}
  {{ 'njohn_search_style.css' | asset_url | stylesheet_tag }}
  {% endif %}


  {% if template contains 'product' %}
  {{ 'lightgallery.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {{ "instagram_feed.css" | asset_url | stylesheet_tag }}
  
  <meta itemprop="title" content="{{ product.title }}" />
  <meta itemprop="description" content="{{ product.content | escape }}" />
  <meta itemprop="price" content="{{ product.price_max | money }}" />
  <meta itemprop="compare_price" content="{{ product.compare_at_price_max }}" />
  <meta itemprop="image" content="{{ product.featured_image }}" />
  
    {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }} <!-- SCRIPT FOR ADDING TIRE INSTALLATION DATE ON CART PAGE -->
</head>

<body{% if template == "index" or template contains "page.home-page_layout" %} class="index"{% endif %}{{ l9 }}>

  {% include 'preloader-main' %}


  {% include 'mobile-cart' %}




  <!-- Back to top -->
  <div class="back-to-top"><span class="icon-keyboard_arrow_up"></span></div>
  <!-- /Back to top -->
  {% include "main-menu-mobile" %}

  {% if template == "index" and settings.home_page_layout == 'home-page_layout-2' %}
  {% include "home-page_layout-2" %}
  {% elsif template == "page.home-page_layout-2" %}
  {{ content_for_layout }}

  {% elsif template == "index" and settings.home_page_layout == 'home-page_layout-4' %}
  {% include "home-page_layout-4" %}
  {% elsif template == "page.home-page_layout-4" %}
  {{ content_for_layout }}

  {% else %}

  <div class="header-wrapper">{% include settings.header_design %}</div>

  {% if template != "index" %}
  {% unless template contains "page.home-page_layout" %}
  {% include "breadcrumb" %}
  {% endunless %}
  {% endif %}

  <div id="pageContent">
    {{ content_for_layout }}
    {% if template == "index" %}{% include settings.home_page_layout %}{% endif %}
  </div>




  {% include settings.footer_design %}

  {% include 'popup_cart' %}
  {% include 'popup_wishlist' %}
  {% include 'popup-newsletter' %}
  {% include 'popup-quickview' %}
  {%comment%} {% include 'moto_footer_popup' %} {%endcomment%}
  {% include 'preloader-ajax' %}

  {% endif %}

  <div class="cart_messages" style="display:none">
    <div class="edit">{{ 'cart.header.button_edit' | t }}</div>
    <div class="delete">{{ 'cart.header.button_delete' | t }}</div>
    <div class="price">{{ 'cart.header.price' | t }}</div>
    <div class="qty">{{ 'cart.header.quantity' | t }}</div>
  </div>
  <div class="button_massage" style="display:none">{{ 'products.product.add_to_cart_html' | t }}</div>

  {% include 'header-js' %}
  {% include 'currencies' %}

  {% if template contains 'article' or template contains 'blog' %}
  {{ 'njohn_blog_article_script.js' | asset_url | script_tag }}
  {% endif %}

  {{ 'jquery.flexslider.js' | asset_url | script_tag }}
  {{ 'njohn-product-grid-script.js' | asset_url | script_tag }}

  {% if template contains 'product' %}
  <!-- PRODUCT PAGE -->
  {{ 'classie.js' | asset_url | script_tag }}
  {{ 'progressButton.js' | asset_url | script_tag }}
  {{ 'njohn_product_content_script.js' | asset_url | script_tag }}
  <!--/PRODUCT PAGE -->
  {% endif %}

  {{ 'njohn_wishlist.js' | asset_url | script_tag }}

  {% unless template contains 'cart' %}
  {% include 'search-autocomplete' %}
  {% endunless %}



  {% if template contains 'search' %}
  {{ 'njohn_search_script.js' | asset_url | script_tag }}
  {% endif %}
  {{ 'ion.rangeSlider.min.js' | asset_url | script_tag }}
  {% unless template contains 'njohn-comparison-products' %}
  {% include 'njohn-comparison-products-embed' %}
  {% endunless %}

      <script>
        ;(function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
</body>
</html>
