
@media (min-width:320px) and (max-width:366px){
  .moto-all-brands .element-item{
  width:116px!important;
  height:116px!important;

  }
}
@media (min-width:367px) and (max-width:402px){
  .moto-all-brands .element-item{
  width:125px!important;
  height:125px!important;

  }
}

.block-title{
margin-top:20px;
}


@media (max-width:374px){
  a .brand-container-show{
  font-size:.5em;
  }
  ul#top li a{
  	color: #777777;
    font-size:.8em;
  }
}
@media (min-width:300px) and (max-width:991px){
	#custom-search-input input {
    border: 0;
    box-shadow: none;
    height:20px;
	}
	input#quicksearch1.form-control.input-lg{
      font-size:13px;
      width:100%;
	}
}

@media(min-width:992px) and (max-width:1024px){
	#custom-search-input input {
    border: 0;
    box-shadow: none;
    height:20px;
}
  	#quicksearch1::placeholder {
    font-size: 20px;
	}

}
#custom-search-input {
    padding: 3px;
    border: solid 1px #E4E4E4;
    background-color: #fff;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  	margin-bottom: 20px;
}

@media(min-width:1025px){
	#custom-search-input input {
      border: 0;
      box-shadow: none;
	}
  	#quicksearch1::placeholder {
    font-size: 25px;
    text-align:center;
	}
}
#custom-search-input button {
    font-size: 2em;
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover {
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}


@media(min-width:1025px){
	input#quicksearch1, #quicksearch1::-webkit-input-placeholder {
      font-size: 1em;
      text-align:center;
	}
  
  	input#quicksearch1, #quicksearch1::-moz-placeholder {
      font-size: 1em;
      text-align:center;
	}
  
   input#quicksearch1, #quicksearch1:-ms-input-placeholder {
      font-size: 1em;
      text-align:center;
	}
  
  input#quicksearch1, #quicksearch1:-moz-placeholder  {
      font-size: 1em;
      text-align:center;
	}
}




/*    new    */

.moto-all-brands ul li.no-padding{
  padding:0px!important;
}
.mx-custom {
    margin-left: 9.5%;
    margin-right: 10%;
}

.inp-bg {
    padding: 20px;
    text-align: center;
    background: #000000;
    display: block;
    width: 100%;
    margin: 0 auto;
}


.inp-t-c input {
    padding-left: 0px;
    text-align: center !important;
}

.moto-all-brands .fill-bg {
    background-color: #e4e4e4;
}

.moto-all-brands ul#top li .selectors {
    width:100%;
  	text-align: center !important;
}
.moto-all-brands ul#top li a {
    color: #666666;
  	text-align: center;
}

.moto-all-brands ul#top li a:hover {
  background-color: black;
  color: #FFFFFF;
}

.moto-all-brands ul#top li a.disabled {
    background-color: #c0c0c0;
    color: #000;
    cursor: default;
}

.moto-all-brands ul.set-a {
    display: inline-block;
}


.moto-all-brands .element-item img {
    width: 90px;
  	height: 90px;
    transition: width .3s;
  
    -webkit-transition: width .3s; /* For Safari 3.1 to 6.0 */
}
.moto-all-brands .element-item{
  width:150px;
  height:150px;
  margin-top:20px;
  margin-bottom:30px;
  /* margin-right:10px;
  margin-left:10px; */
}
.moto-all-brands .element-item img:hover{
	width:100px;
}

.moto-all-brands .brand-name {
  font-size: 0.80em;
}
