
.logo {
  max-height: 80px;
/*   max-height: 120px; */
  margin-bottom: 15px;
  margin-top: 15px;
}
.logo img{
  max-height: 80px;
}

.move-height {
  position: relative;
  display: block;
}
.modal-filter {
  cursor: pointer;
}
.added_in_cart {
  color: #fff !important;
  background: #1FC024 !important;
}
.error_in_cart {
  color: #fff !important;
  background: #FF0000 !important;
}
.inst-hide-title .instafeed-wrapper:after {
  display: none;
}
.breadcrumbs-no-line {
  border: none !important;
}
.breadcrumbs-no-line .breadcrumb.breadcrumb--ys {
  padding-top: 25px;
}

.toggle-menu .megamenu__subtitle span {
  cursor: default;
}

.cart .dropdown-menu.slide-from-top .cart__item__info__price {
  right: 15%;
}
.offset-1 {
  margin-top: 10px;
}
.content-bg-1 {
  background: url(//cdn.shopify.com/s/files/1/1223/6434/t/84/assets/homedefault_blogparralax.jpg?v=4534070238773049300) center center no-repeat;
}
.product-main-image__item {
	display: block
}
.product-main-image__item img {
  width: 100%;
}
.product-main-image__item .img_box_1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.toggle-menu .dropdown-menu {
  width: 280px;
}
.toggle-menu .li-col {
  width: 100%;
}
.toggle-menu2 .dropdown-menu {
  width: 290px;
}
.toggle-menu2 .li-col {
  width: 84%;
}
.toggle-menu3 .dropdown-menu {
  width: 870px;
}
.toggle-menu3 .li-col {
  width: 28%;
}

.added-wishbutton {
  display: inline-block;
}

button.blink-border
{
	-webkit-animation: pulsate .7s linear infinite;
	animation: pulsate .7s linear infinite;
}
button:hover.blink-border
{
	-webkit-animation: none;
	animation: none;
}
@-webkit-keyframes pulsate {
  50% {   
    opacity: .6;
  }
}
@keyframes pulsate {
  50% {   
	opacity: .6;
  }
}

.cancel_button {
	line-height: 37px;
}

.tabdesign3 .tab-content--ys > .tab-pane {
	border-width: 0;
}
.default-wishbutton,
.wishlist-form-after,
.wishlist-form {
	display: inline-block;
  	width:100%;
}


.product-info-big .swatch .color{
  position: relative;
  top:22px;
}
#add-item-form .swatch {
  margin: 0;
}
#add-item-form .btn-holder {
  margin-top: 25px;
}

/*.product__inside__info__link{
 display:block;
}*/
.product .product__inside__info__link li a{
   opacity: 1;
   max-width:150px;
}
.product__inside__info__link a span.text {
  float: right;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
  opacity: 0;
  max-width: 0;
  transition: max-width 500ms ease-out 100ms, opacity 500ms ease-out 100ms, color;
}
.product__inside__info__link a:hover span.text {
  color: #000000;
  overflow: hidden;
  opacity: 1;
  max-width: 150px;
  transition: max-width 500ms ease-out 100ms, opacity 500ms ease-out 100ms, color 200ms;
}

.testimonialsAsid img {
  display: inline-block !important;
  height: auto;
}
.category-carousel-l2 .category img {
  width: 100%;
}

.carusel--parallax.layout10 h2 {
  color: #333333
}
.carusel--parallax.layout10 .recent-post-box .author {
  color: #333333
}
.carusel--parallax.layout10 .recent-post-box h4 a {
  color: #333333
}
.carusel--parallax.layout10 .recent-post-box h4 a:hover {
  color: #000000
}
.carusel--parallax.layout10 .recent-post-box {
  color: #333333
}

=============================
.product-info-big .wrapper{
  text-align: center; 
}
.product-info-big .product-info-left{
  position: absolute; 
}

@media (max-width:580px ) {
  .product-info-big .product-info-left{
    position: relative;
    display: block;
    text-align: center;
    float: inherit;

  }
}

#header.header-layout-03 .stuck-nav .search{
  bottom: -2px;
}
@media (max-width: 1024px) {
  #header.layout2 {
  	padding-bottom: 18px;
  }
}

/*Ajax Preloader*/
#custom-preloader {
  position: fixed;
  z-index: 100000;
  top: 50%;
  width: 100%;
  margin-top: -20px;
}
#custom-preloader .custom-loader {
  position: absolute;
  left: 50%;
  margin-left: -28px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  height: 56px;
  width: 56px;
  line-height: 56px;
  text-align: center;
}
#custom-preloader .custom-loader img {
  opacity: 0.9;
}

/**/
.show-more {
  text-align: center;
  margin-top: 40px;
}
.show-more .disable {
    pointer-events: none;
    opacity: 0.3;
}

/**/
.filter-list > li a:hover {
  color: #000000;
  text-decoration: none;
}
.filter-list li.active > a,
.filter-list li.open > a {
  color: #000000;
}
/**/
#modalAddToCartError .modal-content {
  background-color: #FF8F8F;
}
#modalAddToCartError .white-modal .modal-header .close:hover {
  color: #333333;
}
#modalAddToCartError .white-modal .modal-header .close,
#modalAddToCartError .error_message {
  color: #fff;
  font-weight: 500;
/*   text-shadow: 0 0 0 #fff; */
}

/*form control*/
.single-option-selector {
  width: 100%;
  padding: 7px 12px;
  font-size: 1em;
  line-height: 1.4em;
  height: 40px;
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  color: #333333;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  text-transform: uppercase;
  cursor: pointer;
}
.selector-wrapper label {
  color: #333333;
  font-weight: 500;
  text-transform: uppercase;
}

.product_message_alarm,
.product_message_alarm span {
  color: #ff0000 !important;
}
.viewfullinfo {
  color: #777777
}
.viewfullinfo:hover {
  color: #000000;
  text-decoration: none;
}

/**/

/*Review*/
.product-info-big .spr-starrating .spr-icon{
  font-size: 12px !important;
      color: #d2d2d2;
}


.product__inside__name h2{
   margin: 1.465em 0 0.54em;
}

span.spr-badge-caption{
  display: none;  
}
.rating span{
  margin: 0 !important;    
}

.rating span i{
   font-size: 12px !important;
   line-height: 18px;
   margin:0 1px;   
}

.spr-starrating{
  cursor: pointer;
}

.product-info__review .spr-badge-caption{
  display: inline-block;
    
}
.product-info__review .spr-starrating {
  margin-right: 20px !important;
}
.product-info__review .spr-badge-caption{
  color: #777777;
}

.spr-summary .spr-icon{
  font-size: 12px !important;
  top:0;
}
.spr-icon{
  font-size: 12px !important;
  top:0;
}
.spr-icon-star{
  color: #ffaf47;
}
.spr-icon-star-empty{
   color: #d2d2d2;
}
.spr-icon.spr-icon-star-empty {
 opacity: 1 !important;
}
.tab-content--ys > .tab-pane #shopify-product-reviews{
    border:none !important;
}

.spr-container{
     border:none !important;
}
.spr-starrating .spr-icon{
  font-size: 12px !important;
  top:0;
}

/* spr-form */
.spr-form  .spr-form-label{
  font-size: 16px;
}
.spr-form input.spr-form-input{
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 7px 12px;
  font-size: 1em;
  line-height: 1.4em;
  height: 40px;
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.spr-form textarea.spr-form-input-textarea{
   -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 7px 12px;
  font-size: 1em;
  line-height: 1.4em; 
  margin-bottom: 10px;
  background: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 0;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.spr-form-actions .spr-button{
    position: relative;
    float: left;
  padding: 10px 14px;
  font-size: 0.875em;
  line-height: 1.486em;
  height: 40px;
  background: #000000;
  color: #ffffff;
  border-radius: 0;
  vertical-align: top;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition:  all 300ms 0s ease;
  -moz-transition:  all 300ms 0s ease;
  -ms-transition:  all 300ms 0s ease;
  -o-transition:  all 300ms 0s ease;
  transition:  all 300ms 0s ease;
}
.spr-form-actions .spr-button:hover{
  background-color: #f5f5f5;
  color: #000000;
}
.spr-review, .spr-form {
  border-color: #e5e5e5 !important;
}
/* /spr-form */
.spr-starrating .spr-icon-star{
  color: #ffaf47;
}
.spr-starrating .spr-icon-star-empty{
  color: #d2d2d2;
}
.spr-icon-star-empty:before {
  content: '\e800' !important;
}
.spr-review-footer {
  display: none;
}


.spr-summary .spr-icon{
  color: #ffaf47;
  font-size: 12px;
}
.spr-summary .spr-icon-star-empty{color: #d2d2d2;}
.spr-summary-actions-newreview {color: #ffaf47;}
.spr-summary-actions-newreview:hover, .spr-summary-actions-newreview:focus {text-decoration: none; color: #ffaf47;}

.product-popup .spr-badge-caption {
  color: #777777;
}
.product-popup h1, .product-popup h2, .product-popup h3, .product-popup h4, .product-popup h5, .product-popup h6,
.product-popup .qty-label{
  color: #333333;
}
/* 
   Swatches Styles
*/
.swatch {
  text-transform: uppercase;
  margin: 0 0 21px 0;
}

/* Hide radio buttons.*/
.swatch input { 
  display:none;
}
.swatch label {
  display: block;
  position: relative;
  text-align: center;
  background-color: #f5f5f5;
  color: #333333;
  text-decoration: none;

  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  
  margin: 0 2.5px;
  margin-bottom: 8px;
  
  -webkit-transition:  all 0.3s 0s ease;
  -moz-transition:  all 0.3s 0s ease;
  -ms-transition:  all 0.3s 0s ease;
  -o-transition:  all 0.3s 0s ease;
  transition:  all 0.3s 0s ease;
}
.swatch .color label {
  -webkit-transition:  all 0s 0s ease;
  -moz-transition:  all 0s 0s ease;
  -ms-transition:  all 0s 0s ease;
  -o-transition:  all 0s 0s ease;
  transition:  all 0s 0s ease;
}

.swatch label:hover {
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
}

.swatch .color label:hover {
  line-height: 30px;
}
.swatch .color input + label:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0px solid #ffffff;
  line-height: 30px;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition:  0.1s 0.3s 0s ease;
  -moz-transition:  0.1s 0.3s 0s ease;
  -ms-transition:  0.1s 0.3s 0s ease;
  -o-transition:  0.1s 0.3s 0s ease;
  transition:  0.1s 0.3s 0s ease;
}
.swatch .color input:checked + label:before,
.swatch .color input + label:hover:before {
  border: 5px solid #ffffff;
}

.swatch .color.swatchwhite label:after {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  border: 1px solid #e5e5e5;
  opacity: 0;
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  -webkit-transition:  0.1s 0.3s 0s ease;
  -moz-transition:  0.1s 0.3s 0s ease;
  -ms-transition:  0.1s 0.3s 0s ease;
  -o-transition:  0.1s 0.3s 0s ease;
  transition:  0.1s 0.3s 0s ease;
}
.swatch .color.swatchwhite label:hover:after,
.swatch .color.swatchwhite input:checked + label:after {
  opacity: 1;
}

.swatch-element label { }
.color.swatch-element label { min-width:19px !important; }
/* Styling selected swatch */
/* Slightly raised */
.swatch input:checked + label {
  text-decoration: none;
  background-color: #333333;
  color: #ffffff;
}

.swatch .color input:checked + label {
  line-height: 30px;
}

.swatch .swatch-element {
  float:left;
  -webkit-transform:translateZ(0); /* webkit flicker fix */
  -webkit-font-smoothing:antialiased; /* webkit text rendering fix */
  /* Spacing between buttons */
  margin-right: 4px;
  /* To position the sold out graphic and tooltip */
  position:relative;
}
.swatch .swatch-element-2 {
  display:inline-block;
  float: none !important;
}
/* Image with the cross in it */
.crossed-out { position:absolute; width:100%; height:100%; left:0; top:0; }
.swatch .swatch-element .crossed-out { display:none; }
.swatch .swatch-element.soldout .crossed-out { display:block; }
.swatch .swatch-element.soldout label {
  filter: alpha(opacity=60); /* internet explorer */
  -khtml-opacity: 0.6;      /* khtml, old safari */
  -moz-opacity: 0.6;       /* mozilla, netscape */
  opacity: 0.6;           /* fx, safari, opera */
  cursor: default;
}
/* CSS triangle */
.swatch.error {
  background-color:#E8D2D2!important;
  color:#333!important;
  padding:1em;
  border-radius:5px;
}
.swatch.error p {
  margin:0.7em 0;
}
.swatch.error p:first-child {
  margin-top:0;
}
.swatch.error p:last-child {
  margin-bottom:0;
}
.swatch.error code {
  font-family:monospace;
}

@media (max-width: 767px)
{
.swatch .header {
  	display: inline-block;
    text-align: center;
}
}
  
/*wishlist productitem*/
.custom__info__link{
  text-align: center;
  margin: 10px 0 6px 0;
}
.custom__info__link a{
  text-decoration: none; 
  color: #333333;
  cursor: pointer;
  white-space: nowrap;
}
.custom__info__link a .icon{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 24px;
  padding-left: 4px;  


  overflow: hidden;
}
.custom__info__link a span.text{
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  line-height: 0; 
  opacity: 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;

}
.custom__info__link a:hover{
  color:#000000;
}
.custom__info__link a:hover span.text{
  width: calc(110px + 50%);
  text-align: left;
  padding:0 0 0 5px;

  opacity: 1;
  font-size: 16px;
  line-height: 1em;

}
.product-listing.row-view .custom__info__link{
  text-align: left;

}
.product-listing.row-view .custom__info__link a .text{   
  padding: 0;
  margin-left: 5px;

}
.product-listing.row .custom__info__link a:hover span.text{
  padding: 0;
  margin-left: 5px;
}
@media (max-width: 1298px) {
  .custom__info__link {
    display: none;
  }
}
.product-info-big .product-link li a span.text{
  float: inherit;
}
.collapse-block .filter-popup .active .filter-title {
  color: #333333
}
.collapse-block .simple-list .active {
	color: #000000
}
/* Menu */
.dropdown.active .dropdown-menu {
  top: auto;
}
header .mainMenu .navbar-nav > li.active > a {
/*   top: -0.2em; */
}
header .mainMenu .navbar-nav > li.active > a .act-underline:before {
  opacity: 1;
}
header .mainMenu .navbar-nav > li.selected > a {
/*   top: -0.2em; */
}
header .mainMenu .navbar-nav > li.selected > a .act-underline:before {
  opacity: 1;
}

footer {
  color: #777777;
}
footer h1, footer h2, footer h3, footer h4, footer h5, footer h6 {
  color: #333333;
}
footer .v-links-list a {
  color: #000000;
  font-weight: 500;
}
footer .v-links-list a:hover {
  color: #333333;
}
footer .title-under:after {
  background: #000000;
}
footer .border-sep-right:after {
  background: #e5e5e5;
}
footer .footer-copyright .row {
  border-top: 1px solid #e5e5e5;
}
@media (max-width: 767px) {
  footer .footer-copyright .row {
    border: none;
  }
  footer .mobile-collapse {
    border-bottom: 1px solid #e5e5e5;
  }
}
@media (min-width: 768px) {
  footer .subscribe-box input {
    border-right: none;
  }
}
footer .btn--ys {
  background-color: #000000;
  color: #ffffff;
}
footer .btn--ys:hover,
footer .btn--ys:active,
footer .btn--ys:focus {
  background-color: #f5f5f5;
  color: #333333;
}
@media (min-width: 768px) {
  footer .subscribe-box-row .mobile-collapse:after,
  footer .subscribe-box-row .mobile-collapse:before {
    background: #e5e5e5;
  }
  footer .subscribe-box-row .mobile-collapse {
  border-left: 1px solid #e5e5e5;
  }
}
@media (max-width: 767px) {
  .mobile-collapse__title:before {
    color: #333333;
  }
}
footer a.color, footer a.color:hover,
footer .box-address .icon {
  color: #000000;
}
footer hr {
  border-color: #e5e5e5;
}

/* Swatch Border Color */
.swatch .color.swatchwhite label:before {
content:'';
display: block;
width: 40px;
height: 40px;
border: 1px #e5e5e5 solid;
}
.swatch .color.swatchwhite label:hover:before,
.swatch .color.swatchwhite input:checked + label:before{
width: 30px;
height: 30px;
}
.options-swatch--color .color-white {
border: 1px solid #e5e5e5;
}

@media (min-width: 1298px) {
.product .options-swatch{      
      padding: 0 27% !important;
    }     
}

@media (max-width: 1298px) {
.product .options-swatch{      
      padding: 0 10% !important;
    }     
}

@media (max-width: 991px) {
.product .options-swatch{      
      padding: 0 !important;
    }     
}
@media (max-width: 767px){
  .product-listing:not(.carousel-products-mobile) .options-swatch{
    margin-top: 11px;
  }
  .product-listing:not(.carousel-products-mobile) .options-swatch li a{
    width: 28px;
    height: 28px;
    line-height: 26px;
  }
  .product .options-swatch--color{      
      padding: 0 !important;
  } 
  .options-swatch--color{
        margin-left:0px;
  }
}
.bigGallery.box-baners .slick-track {margin: 0 auto;}
/* COLORS */
.options-swatch--color .color-white {
background-color: #fff;
}
.options-swatch--color .color-violet {
  background-color: #EE82EE;
}
.options-swatch--color .color-pink {
  background-color: #FFC0CB;
}