@media (min-width: 1025px) {
    #header .cart .moto-cart-icon-cart-new {
        color: black;
        font-size: 1.8em;
        position: relative;
        top: 7px;
    }
    #header .cart {
        position: relative;
        top: 7px;
    }
  
    #header .cart div.dropdown.text-right{
      padding: 0 14px 2px 0;
    }
  
    .moto_main_menu #clickable_search {
        display: none;
    }
  
    #header .toggle-menu .dropdown-menu {
    	left: -200px !important;
	}
}

@media (max-width: 1024px) {
  
  /*  PAGE NEWSLETTER MOBILE  */
    /*  MOTO NEWSLETTER PAGE  */
    
  .davz-haus-newsletter-page .modal-newsletter #mce-responses {
       margin-top: 40px; 
    }
  
    .davz_motoNewsLetter_page_input {
        display: block;
        width: 100%;
        margin-bottom: 1em;
    }
    .davz_motoNewsLetter_page_button {
        width: 100%;
    }
    .davz h6.font50 {
        font-size: 2em;
    }
    .davz-haus-newsletter-page .modal-newsletter .row-subscibe .davz_motoNewsLetter_page_input {
        width: 100%;
    }
  
  /*  FOOTER NEWSLETTER MOBILE  */
  
  
    .davz_NL_footer_response {
         position: relative;
         margin-top: 130px;
         display: block;
         text-align: center;
         color: white;
    }
    .davz_NL_footer {
      height: 310px; 
    }
      .njohn-row {

         padding-top: 45px;
      } 
      .njohn-footer-inside {
            padding: 5px 0 10px 0;
      }
  .njohn-footer .njohn-mymail-form .njohn-mymail-wrapper {
        width: 100%;
        display: block;
  
    }
  
  .njohn-footer .njohn-mymail-form .njohn-mymail-submit-wrapper {
      width: 100%; 
    }
  
  
  
    #header .stuck-nav {
      top: -1px;
    }
  
    #header.moto_top_header .stuck-nav.fixedbar .haus_col_stuck_icons {
      display: none;
    }
  
  /*  FIXED LOGO   */
  
  
  .davz_moto_icon {
        pointer-events: none;
        cursor: default;
      opacity: 0;
      position: absolute;
      top: 48%;
      left: 19%;
      -webkit-transition: opacity 0.2s, visibility 0.2s;
      -moz-transition: opacity 0.2s, visibility 0.2s;
      transition: opacity 0.2s, visibility 0.2s;
    }
    .davz_moto_icon a {
        color: #c7202e;
        font-size: 2em;
        font-weight: normal;
    }
  
/*    .davz_moto_icon:before {
        width: 1px;
        content: " ";
        position: absolute;
        left: -9px;
        top: 34%;
        height: 36px;
        background-color: #252424;
    } */
  
    .fixedbar .davz_moto_icon {
        top: -50%;
        left: 47%;
        opacity: 1;
        pointer-events: visible;
        cursor: pointer;
    }

    .fixedbar .davz_moto_icon a {
        color: white;
        font-size: 3em;
        font-weight: normal;
    }
  
    /* Profile */
    
    .moto_main_menu .nj_customer {
        top: 99% !important;
        right: 28% !Important;
        z-index: 6;
    }
    .moto_main_menu .nj_customer span {
        color: black !important;
        z-index: 7;
    }
  
  
  	.nj_customer span.moto_account {
     	color: white !important; 
    }
  
  
    /* Info */
    
    .moto_main_menu .nj_customer_info {
        top: 99% !important;
        right: 24% !Important;
        z-index: 6;
    }
    .moto_main_menu .nj_customer_info .simple-icon-info {
        color: white;
        z-index: 7;
        font-size: 1.3em;
        padding: 0 0 0 10px;
    }
    .moto_main_menu .nj_customer_info .dropdown-menu--xs-full {
        right: -299% !important;
    }
    /* Wishlist */
    
    .moto_main_menu .nj_wishlist_header {
        top: 99% !important;
        right: 14% !Important;
        z-index: 6;
    }
    .moto_main_menu .nj_wishlist_header span {
        color: white;
        z-index: 7;
        padding: 0 0 0 10px;
        border-left: 1px solid #333;
    }
    /* Search */
    
    .moto_main_menu #clickable_search {
        top: 99% !important;
        right: 14.5% !Important;
        z-index: 6;
        display: block;
    }
    .moto_main_menu #clickable_search .simple-icon-magnifier {
        color: white;
        z-index: 7;
        font-size: 1.3em;
        padding: 0 0 0 10px;
    }
    .moto_main_menu #clickable_search .search-dropdown input {
        padding-right: 56px;
        font-family: "hurme-semibold";
        font-size: .85em;
        letter-spacing: .05em;
    }
    .moto_main_menu #clickable_search .search-dropdown {
        top: 1075%;
        right: -12.5%;
        -webkit-box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.08) !important;
        -moz-box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.08) !important;
        box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.08) !important;
    }
    .moto_main_menu #clickable_search .search-dropdown .search__close span {
        position: relative;
        font-size: 1.2em;
        color: white;
        line-height: 34px;
        padding: 11px 13px 8px;
        display: inline-block;
        background-color: #c0392b;
    }
    /* Cart */
    
    #header .cart {
        right: 4%;
        top: 128%;
        z-index: 2;
    }
  
    #header .cart:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: 6px;
        top: 10px;
        height: 28px;
        background-color: #3a3939;
    }
  
    #header .cart .moto-cart-icon-cart-new {
        color: white;
        font-size: 1.8em;
    }
    /* Cart Counter */
    
    #header .cart .badge--cart {
        background-color: white;
        color: black;
        right: -50%;
      	top: -15px;
    }
    #header .fixedbar .cart .badge--cart {
        width: 20px;
        height: 20px;
        line-height: 20px;
        top: -15px;
      	right: -15px;
    }
  
   #header .badge--cart-new {
        right: -88% !important;
        top: 18% !important;
        width: 20px !important;
        height: 20px !important;
        line-height: 20px !important; 
   }
  
  #header .fixedbar .badge--cart-new {
    right: -95% !important;
    top: 20% !important;
    width: 20px !important;
    height: 20px !important;
    line-height: 20px !important;
  }
  
}


@media (max-width: 1023px) {
  #header .fixedbar .badge--cart-new {
      right: -95% !important;
      top: 9% !important;
      width: 20px !important;
      height: 20px !important;
      line-height: 20px !important;
  }
}



@media (max-width: 639px) {
  #header .fixedbar .badge--cart-new {
   	  right: -100% !important;
      top: 14% !important; 
  }
  
  
  #header .fixedbar .badge--cart-new {
      right: -98% !important;
      top: 17% !important;
	}
  
}


@media (max-width: 567px) {
  #header .badge--cart-new {
   	  right: -88% !important;
      top: 19% !important;
  }
  
}


@media (max-width: 499px) {
  #header .badge--cart-new {
      right: -100% !important;
      top: 18% !important;
	}
}



@media (max-width: 480px) {
  
  #header .fixedbar .cart:before {
    display: block;
    width: 1px;
    content: " ";
    position: absolute;
    left: -5px;
    top: 7px;
    height: 28px;
    background-color: #3a3939;
}

  #header .fixedbar .cart {
    right: 1%;
    top: 83%;
    z-index: 2;
    /* top: 67%!important; */
    position: absolute;
}
  
 .fixedbar .moto_main_menu #clickable_search {
    right: 23.5% !important;
    top: 5%!important;
    position: absolute;
}
  
  .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    position: absolute;
    right: 37%;
    top: -2%;
}
  
 .fixedbar .moto_main_menu .nj_customer_info:before {
    display: block;
    width: 1px;
    content: " ";
    position: absolute;
    left: 11px;
    top: 11px;
    height: 28px;
    background-color: #3a3939;
}
  
 .fixedbar .moto_main_menu .nj_customer_info {
    right: 61% !important;
    top: 7%!important;
}
  
  .fixedbar .moto_main_menu .nj_customer:before {
    display: block;
    width: 1px;
    content: " ";
    position: absolute;
    left: -10px;
    top: 13px;
    height: 28px;
    background-color: #3a3939;
}
 
  .fixedbar .moto_main_menu .nj_customer {
    right: 68% !important;
    top: 2%!important;
}
  
  
  .fixedbar .davz_moto_icon {
    left: 13%;
    top: -40%;
}
  
  .moto_main_menu .nj_customer_info:before {
    display: block;
    width: 1px;
    content: " ";
    position: absolute;
    left: 17px;
    top: 13px;
    height: 28px;
    background-color: #3a3939;
}
  
  
  
  .visible-mobile-menu-on.davz_new_account_icon:before {
    display: block;
    width: 1px;
    content: " ";
    position: absolute;
    left: -10px;
    top: 15px;
    height: 28px;
    background-color: #3a3939;
}
  
  .visible-mobile-menu-on.davz_new_account_icon {
  
    position: absolute;
    right: 44%;
    top: 53%;
  
  }
  
  
  .davz_new_account_icon .simple-icon-heart {
  
    font-size: 1.5em;
    color: #ffffff;
    text-decoration: none;
    padding-left: 10px;
    position: relative;
  
  }
  
    /* Profile */
    
    .moto_main_menu .nj_customer:before {
    display: block;
    width: 1px;
    content: " ";
    position: absolute;
    left: 1px;
    top: 13px;
    height: 28px;
    background-color: #3a3939;
}
  
    .moto_main_menu .nj_customer {
        right: 83% !important;
        top: 54%!important;
    }
  
    /* Info */
    
    .moto_main_menu .nj_customer_info {
        right: 73% !important;
        top: 54%!important;
    }
    .moto_main_menu .nj_customer_info .simple-icon-info {
        padding: 0 0 0 20px;
    }
    /* Wishlist */
    
    .moto_main_menu .nj_wishlist_header {
        right: 56.4% !important;
        top: 67%!important;
    }
    .moto_main_menu .nj_wishlist_header span {
        padding: 0 0 0 20px;
    }
    /* Search */
  
  .moto_main_menu #clickable_search:before {
    display: block;
    width: 1px;
    content: " ";
    position: absolute;
    left: 6px;
    top: 12px;
    height: 28px;
    background-color: #3a3939;
}
  
    .moto_main_menu #clickable_search {
         right: 29.5% !important;
        top: 54%!important;
        position: absolute;
    }
    .moto_main_menu #clickable_search .search-dropdown {
        right: -29.5%;
        top: 100%;
    }
    .moto_main_menu #clickable_search .simple-icon-magnifier {
        padding: 0 0 0 20px;
    }
    /* Cart */
    
    #header .cart {
        right: 11%;
        top: 83%;
        z-index: 2;
        /* top: 67%!important; */
        position: absolute;
    }
    #header .cart:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: 0;
        top: 10px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .cart .moto-cart-icon-cart-new {
        color: white;
        font-size: 1.8em;
    }
    /* Cart Counter */
    
    #header .cart .badge--cart {
        background-color: white;
        color: black;
    }
    /* info popup */
    
    .moto_main_menu .nj_customer_info .dropdown-menu--xs-full {
        right: -356% !important;
    }
  
   #header .badge--cart-new {
        right: -59% !important;
    	top: 20% !important;
	}
  
   #header .fixedbar .badge--cart-new {
      right: -67% !important;
      top: 14% !important;
  }
  
}


@media (max-width: 414) {
  	.index #pageContent {
  		padding-top: 0; 
	}
}



/* SAMSUNG GALAXY */

@media screen and (max-width: 360px) {
  
  #header .fixedbar .navbar-toggle {
    display: block;
    margin-left: -1px;
  }
  
    .fixedbar .davz_moto_icon {
        left: 16%;
        top: -28%;
    }
    .fixedbar .davz_moto_icon a {
        color: white;
        font-size: 2.5em;
        font-weight: normal;
    }
  
    .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -13px;
        top: 11px;
    }
    .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -15px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    .visible-mobile-menu-on.davz_new_account_icon {
        position: absolute;
        right: 42%;
        top: 53%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 35%;
        top: -3%;
    }
  
    #header .fixedbar .top_icon .simple-icon {
      color: black;
      font-size: 0.70em;
    }
  
    #header .cart {
        right: 9%;
        top: 83%;
    }
    #header .fixedbar .cart:before {
        left: -13px;
        top: 4px;
    }
    #header .fixedbar .cart {
        right: 0%;
        top: 82%;
    }
    #header .cart .moto-cart-icon-cart-new {
        font-size: 1.75em;
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 123px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 49px;
    }
    .moto_main_menu #clickable_search {
        right: 26% !important;
        top: 53.5%!important;
    }
    #header .fixedbar .moto_main_menu #clickable_search .simple-icon-magnifier {
        color: white;
        z-index: 7;
        font-size: 1.2em;
        padding: 0 0 0 10px;
    }
    .fixedbar .moto_main_menu #clickable_search {
        right: 23% !important;
        top: -0.5%!important;
    }
    .moto_main_menu #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -5px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    .fixedbar #clickable_search:before {
        left: -2px;
        top: 10px;
    }
    .moto_main_menu #clickable_search .search-dropdown {
        right: -26%;
        top: 180%;
    }
    .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -25%;
        top: 213%;
    }
    .moto_main_menu .nj_wishlist_header {
        right: 53% !important;
        top: 64%!important;
    }
    /* Info */

    .fixedbar .moto_main_menu .nj_customer_info .simple-icon-info {
        color: white;
        z-index: 7;
        font-size: 1.2em;
        padding: 0 0 0 10px;
    }
    
    .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: 13px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    .moto_main_menu .nj_customer_info {
        right: 73% !important;
        top: 55%!important;
    }
    .fixedbar .moto_main_menu .nj_customer_info {
        right: 56% !important;
        top: 1%!important;
    }
    .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: 15px;
        top: 11px;
        height: 28px;
        background-color: #3a3939;
    }
    .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -5px;
        top: 11px;
    }
    .moto_main_menu .nj_customer {
        right: 85% !important;
        top: 55%!important;
    }
    .fixedbar .moto_main_menu .nj_customer {
        right: 66% !important;
        top: 2%!important;
    }
    .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: 2px;
        top: 12px;
        height: 28px;
        background-color: #3a3939;
    }
    .fixedbar .moto_main_menu .nj_customer:before {
        left: -14px;
        top: 11px;
    }
    .moto_main_menu .nj_wishlist_header span,
    .moto_main_menu #clickable_search .simple-icon-magnifier,
    .moto_main_menu .nj_customer_info .simple-icon-info {
        padding: 0 0 0 15px;
    }
    .index #pageContent {
        padding-top: 1px;
    }
  
    #header .badge--cart-new {
    	right: -55% !important;
    	top: 15% !important;
	}

}



@media screen and (max-width: 320px) {
  
    #header .cart .moto-cart-icon-cart-new {
        font-size: 1.65em;
    }
  
    .navbar-toggle .icon-bar {
      width: 18px;
      height: 2px;
    }
    .fixedbar .davz_moto_icon {
        left: 14%;
        top: -25%;
    }
    .fixedbar .davz_moto_icon a {
        font-size: 2em;
    }
  
    .moto_main_menu .nj_customer_info .simple-icon-info {
        padding: 0 0 0 10px;
    }
    .moto_main_menu .nj_wishlist_header span {
        padding: 0 0 0 10px;
    }
    .moto_main_menu #clickable_search .simple-icon-magnifier {
        padding: 0 0 0 10px;
    }
    #header .cart {
        top: 103%;
        right: 7%;
    }
    #header .cart .badge--cart {
        width: 20px;
        height: 20px;
        line-height: 20px;
        right: -50%;
    }
    #header .fixedbar .cart {
        top: 64%;
        right: -2%;
    }
    #header .fixedbar .cart .moto-cart-icon-cart-new {
        /* font-size: 1.5em; */
    }
    #header .fixedbar .cart .badge--cart {
        width: 20px;
        height: 20px;
        line-height: 20px;
        top: -13px;
    	right: -60%!important;
    }
    #header .fixedbar .cart:before {
        left: -10px;
        top: 14%;
    }
    #header .logo {
        max-width: 95%!important;
    }

    .index #pageContent {
        padding-top: 0px;
    }
  
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 123px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 49px;
    }

    .fixedbar .moto_main_menu #clickable_search .simple-icon-magnifier {
        font-size: 1.1em;
    }

    #header #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: 0;
        top: 10px;
        height: 28px;
        background-color: #3a3939;
    }
    .moto_main_menu #clickable_search .search-dropdown {
        top: 313%;
        right: -25%;
    }
    .fixedbar #clickable_search .search-dropdown {
        top: 208%;
        right: -29%;
    }
    /*  MOBILE WISHLIST ICON  */
    
    .visible-mobile-menu-on.davz_new_account_icon {
        position: absolute;
        right: 41%;
        top: 67%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 36%;
        top: -1%;
    }
    .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -13px;
        top: 10px;
    }
    .fixedbar .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.1em;
    }
    .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -13px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }

    /*  CUSTOMER ICON   */
    
    .moto_main_menu .nj_customer {
        right: 87% !important;
        top: 69%!important;
    }

    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -14px;
        top: 16px;
    }
    .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: 5px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    /* Info */
    
    .moto_main_menu .nj_customer_info {
        right: 73% !important;
        top: 68%!important;
    }
    .moto_main_menu .nj_customer_info .simple-icon-info {
        font-size: 1.30em;
    }
    .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: 13px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    /*   BURGER MENU   */
    
    #header .navbar-toggle {
        margin-left: -2px;
    } 
  
  	.nj_customer span.moto_account {
    	color: white !important;
      	font-size: 0.70em;
	}
}


@media screen and (min-width: 320px) {
  
  #header .fixedbar .davz_moto_icon {
      font-size: 0.85em;
  }
  
  #header .account .dropdown.text-right .dropdown-menu {
    	top: 37px;
	}
  
  #header .fixedbar .account .dropdown.text-right .dropdown-menu {
    	top: 37px;
	}
  
  #header .toggle-menu .dropdown-menu {
    	left: 0;
	}
  
  #header .fixedbar .toggle-menu .dropdown-menu {
    	left: -50px;
	}

  #header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  #header .cart {
    	right: 11%;
    	top: 91%;
	}
  
  .moto_main_menu #clickable_search {
    	right: 28% !important;
    	top: 60%!important;
	}
  
  #header .cart:before {
      left: 7px;
      top: 9px;
	}
  
  .visible-mobile-menu-on.davz_new_account_icon {
      right: 45.5%;
      top: 60%;
	}
  
  .moto_main_menu #clickable_search:before {
      left: -1px;
      top: 13px;
	}
  
  .visible-mobile-menu-on.davz_new_account_icon:before {
      left: -3px;
      top: 12px;
	}
  
  	.moto_main_menu .nj_customer_info {
    	right: 69.5% !important;
    	top: 58%!important;
	}
  
  	.moto_main_menu .nj_customer_info:before {
      left: -14px;
      top: 14px;
	}
  
  	.moto_main_menu .nj_customer {
    	right: 87% !important;
    	top: 56%!important;
	}
  
  	.moto_main_menu #clickable_search .search-dropdown {
    	right: -28%;
    	top: 204%;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -7%;
    	left: 11%;
	}
  
  	#header .fixedbar .cart:before {
    	left: -7px;
    	top: 7px;
	}
  
  	.fixedbar .moto_main_menu #clickable_search {
    	right: 26% !important;
    	top: 7%!important;
	}
  
  	.fixedbar #clickable_search:before {
    	left: -4px;
    	top: 10px;
	}
  
  	.fixedbar #clickable_search:before {
    	left: -5px;
    	top: 10px;
	}
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 41.5%;
    	top: 8%;
	}
  
  	.fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: 0;
    	top: 8px;
	}
  
  	.fixedbar .moto_main_menu .nj_customer_info {
    	right: 62% !important;
    	top: -5%!important;
	}
  
  	.fixedbar .moto_main_menu .nj_customer_info:before {
    	left: -10px;
    	top: 16px;
	}
  
  	.fixedbar .moto_main_menu .nj_customer {
    	right: 71% !important;
    	top: -4%!important;
	}
  
  	.fixedbar .moto_main_menu .nj_customer:before {
    	left: -10px;
    	top: 15px;
	}
  
  	.fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -26%;
    	top: 213%;
	}
  
  	.moto_main_menu .nj_customer:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: 3px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .fixedbar .cart {
    	right: 1%;
    	top: 82%;
	}
}



@media screen and (min-width: 321px) {
  
  #header .account .dropdown.text-right .dropdown-menu {
    	top: 37px;
	}
  
  #header .fixedbar .account .dropdown.text-right .dropdown-menu {
    	top: 37px;
	}
  
  #header .toggle-menu .dropdown-menu {
    	left: 0;
	}
  
  #header .fixedbar .toggle-menu .dropdown-menu {
    	left: -50px;
	}

  #header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  #header .cart {
    	right: 11%;
    	top: 90%;
	}
  
  .moto_main_menu #clickable_search {
    	right: 27.5% !important;
    	top: 60%!important;
	}
  
  #header .cart:before {
      left: 7px;
      top: 9px;
	}
  
  .visible-mobile-menu-on.davz_new_account_icon {
      right: 46%;
      top: 61%;
	}
  
  .moto_main_menu #clickable_search:before {
      left: -2px;
      top: 13px;
	}
  
  .visible-mobile-menu-on.davz_new_account_icon:before {
      left: -3px;
      top: 12px;
	}
  
  	.moto_main_menu .nj_customer_info {
    	right: 68.5% !important;
    	top: 58%!important;
	}
  
  	.moto_main_menu .nj_customer_info:before {
      left: -12px;
      top: 14px;
	}
  
  	.moto_main_menu .nj_customer {
    	right: 85% !important;
    	top: 58%!important;
	}
  
  	.moto_main_menu #clickable_search .search-dropdown {
    	right: -27.5%;
    	top: 204%;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -14%;
        left: 12%;
        font-size: 0.80em;
	}
  
  	#header .fixedbar .cart:before {
    	left: -10px;
    	top: 7px;
	}
  
  	.fixedbar .moto_main_menu #clickable_search {
    	right: 25.5% !important;
    	top: 7%!important;
	}
  
  	.fixedbar #clickable_search:before {
    	left: -4px;
    	top: 10px;
	}
  
  	.fixedbar #clickable_search:before {
    	left: 2px;
    	top: 10px;
	}
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 40%;
    	top: 6%;
	}
  
  	.fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: 0;
    	top: 11px;
	}
  
  	.fixedbar .moto_main_menu .nj_customer_info {
    	right: 61% !important;
    	top: -5%!important;
	}
  
  	.fixedbar .moto_main_menu .nj_customer_info:before {
    	left: -10px;
    	top: 16px;
	}
  
  	.fixedbar .moto_main_menu .nj_customer {
    	right: 70% !important;
    	top: -4%!important;
	}
  
  	.fixedbar .moto_main_menu .nj_customer:before {
    	left: -11px;
    	top: 16px;
	}
  
  	.fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -25.5%;
    	top: 213%;
	}
  
  	.moto_main_menu .nj_customer:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: 6px;
      top: 16px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .fixedbar .cart {
    	right: 1%;
    	top: 82%;
	}
  
   #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 40%;
        top: 6%;
        font-size: 0.85em; 
	}
  
   #header .fixedbar .badge--cart-new {
        right: -60% !important;
    	top: 14% !important;
	}
  
}


@media screen and (min-width: 330px) {
  
  #header .account .dropdown.text-right .dropdown-menu {
    	top: 37px;
	}
  
  #header .fixedbar .account .dropdown.text-right .dropdown-menu {
    	top: 37px;
	}
  
  #header .toggle-menu .dropdown-menu {
    	left: 0;
	}
  
  #header .fixedbar .toggle-menu .dropdown-menu {
    	left: -50px;
	}

  #header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  #header .cart {
    	right: 11%;
    	top: 90%;
	}
  
  .moto_main_menu #clickable_search {
    	right: 27% !important;
    	top: 60%!important;
	}
  
  #header .cart:before {
      left: 5px;
      top: 9px;
	}
  
  .visible-mobile-menu-on.davz_new_account_icon {
      right: 44%;
      top: 59%;
	}
  
  .moto_main_menu #clickable_search:before {
      left: -1px;
      top: 13px;
	}
  
  .visible-mobile-menu-on.davz_new_account_icon:before {
      left: -4px;
      top: 14px;
	}
  
  	.moto_main_menu .nj_customer_info {
    	right: 67% !important;
    	top: 58%!important;
	}
  
  	.moto_main_menu .nj_customer_info:before {
      left: -14px;
      top: 14px;
	}
  
  	.moto_main_menu .nj_customer {
    	right: 84.5% !important;
    	top: 57%!important;
	}
  
  	.moto_main_menu #clickable_search .search-dropdown {
    	right: -27%;
    	top: 204%;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -15%;
    	left: 12%;
	}
  
  	#header .fixedbar .cart:before {
    	left: -10px;
    	top: 7px;
	}
  
  	.fixedbar .moto_main_menu #clickable_search {
    	right: 25% !important;
    	top: 7%!important;
	}
  
  	.fixedbar #clickable_search:before {
    	left: -4px;
    	top: 10px;
	}
  
  	.fixedbar #clickable_search:before {
    	left: -3px;
    	top: 10px;
	}
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 40%;
    	top: 6%;
      	font-size: 0.85em;
	}
  

  	.fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: 0;
    	top: 11px;
	}
  
  	.fixedbar .moto_main_menu .nj_customer_info {
    	right: 59.5% !important;
    	top: -5%!important;
	}
  
  	.fixedbar .moto_main_menu .nj_customer_info:before {
    	left: -10px;
    	top: 16px;
	}
  
  	.fixedbar .moto_main_menu .nj_customer {
    	right: 68% !important;
    	top: 1%!important;
      	font-size: 1.60em;
	}
  
  	.fixedbar .moto_main_menu .nj_customer:before {
    	left: -15px;
    	top: 15px;
	}
  
  	.fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -25%;
    	top: 213%;
	}
  
  	.moto_main_menu .nj_customer:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: 2px;
      top: 16px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .fixedbar .cart {
    	right: 1%;
    	top: 82%;
	}
}



@media screen and (min-width: 360px) {
 	#header .cart {
      right: 11%;
      top: 90%;
	}
 	.moto_main_menu #clickable_search {
      right: 27.5% !important;
      top: 60%!important;
	}
  
   #header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  .moto_main_menu #clickable_search:before {
      left: 0;
      top: 12px;
	}
  
  #header .cart:before {
    	left: 6px;
    	top: 9px;
	}
  
  .visible-mobile-menu-on.davz_new_account_icon {
    	right: 45%;
    	top: 59%;
	}
  
  .moto_main_menu .nj_customer_info {
    	right: 67.5% !important;
    	top: 58%!important;
	}
  
  .moto_main_menu .nj_customer_info:before {
    	left: -16px;
    	top: 15px;
	}
  
  .moto_main_menu .nj_customer:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: 2px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
	}
  
   .moto_main_menu .nj_customer {
    	right: 85.5% !important;
    	top: 58%!important;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -19%;
        left: 12%;
	}
  
  	#header .fixedbar .cart:before {
    	left: -10px;
    	top: 7px;
	}
  	
  	.fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -25%;
    	top: 216%;
	}
  
  
  	.moto_main_menu #clickable_search .search-dropdown {
    	right: -27.5%;
    	top: 210%;
	}
  
  	.fixedbar .moto_main_menu #clickable_search {
    	right: 25% !important;
    	top: 5%!important;
	}
  
  	.fixedbar .moto_main_menu #clickable_search:before {
    	left: -4px;
    	top: 11px;
	}
  
  
  	.visible-mobile-menu-on.davz_new_account_icon:before {
      left: -6px;
      top: 12px;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 60% !important;
    	top: -3% !important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info:before {
      left: -10px;
      top: 14px;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer {
      right: 68% !important;
      top: -2%!important;
      font-size: 1.60em;
	}
  	
  	#header .fixedbar .moto_main_menu .nj_customer:before {
      left: -15px;
      top: 14px;
	}
  
  	.fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -2px;
    	top: 10px;
	}
}


@media screen and (min-width: 361px) {
 	#header .cart {
      right: 11%;
      top: 90%;
	}
 	.moto_main_menu #clickable_search {
      right: 27.5% !important;
      top: 60%!important;
	}
  
   #header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  .moto_main_menu #clickable_search:before {
      left: 0;
      top: 12px;
	}
  
  #header .cart:before {
    	left: 6px;
    	top: 9px;
	}
  
  .visible-mobile-menu-on.davz_new_account_icon {
    	right: 46%;
    	top: 57%;
	}
  
  .moto_main_menu .nj_customer_info {
    	right: 69% !important;
    	top: 58%!important;
	}
  
  .moto_main_menu .nj_customer_info:before {
    	left: -18px;
    	top: 15px;
	}
  
  .moto_main_menu .nj_customer:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: 2px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
	}
  
   .moto_main_menu .nj_customer {
    	right: 85.5% !important;
    	top: 58%!important;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -25%;
    	left: 11%;
	}
  
  	#header .fixedbar .cart:before {
    	left: -10px;
    	top: 7px;
	}
  	
  	.fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -24.5%;
    	top: 216%;
	}
  
  
  	.moto_main_menu #clickable_search .search-dropdown {
    	right: -27.5%;
    	top: 210%;
	}
  
  	.fixedbar .moto_main_menu #clickable_search {
    	right: 24% !important;
    	top: 5%!important;
	}
  
  	.fixedbar .moto_main_menu #clickable_search:before {
    	left: 5px;
    	top: 12px;
	}
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 40%;
    	top: 7%;
	}
  
  	.visible-mobile-menu-on.davz_new_account_icon:before {
      left: -10px;
      top: 16px;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 60% !important;
    	top: 0 !important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info:before {
      left: -16px;
      top: 14px;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer {
    	right: 70% !important;
    	top: -2%!important;
	}
  	
  	#header .fixedbar .moto_main_menu .nj_customer:before {
      left: -16px;
      top: 15px;
	}
  
  	.fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -3px;
    	top: 12px;
	}
}




/* iPHONE 6 PORTRAIT VIEW */

@media screen and (min-width: 390px) {
  	#header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -17%;
    	left: 11%;
	}
     
    .fixedbar .davz_moto_icon {
        left: 15%;
        top: -35%;
    }
    .fixedbar .davz_moto_icon a {
        font-size: 2.5em;
    }
  
    #header .cart {
        top: 90%;
        right: 10%;
    }
    #header .cart .badge--cart {
     /* width: 20px;
        height: 20px;
        line-height: 20px;
        right: -68%; */
    }
  
  	#header .cart:before {
      left: -2px;
      top: 10px;
	}
  
    #header .fixedbar .cart {
        top: 78%;
        right: 1%;
    }
    #header .fixedbar .cart .badge--cart {
     /* width: 20px;
        height: 20px;
        line-height: 20px;
        top: -9px;
        right: -90%!important; 
        position: inherit;
        top: -39px;
        margin-right: 11px; */
    }
    #header .fixedbar .cart .moto-cart-icon-cart-new {
        /* font-size: 1.5em; */
    }
    #header .fixedbar .cart:before {
        left: -15px;
        top: 10px;
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 119px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
    /* Search */
    
    .moto_main_menu #clickable_search {
        right: 28% !important;
        top: 60%!important;
    }
    .fixedbar .moto_main_menu #clickable_search {
        right: 24.5% !important;
        top: 3%!important;
    }
    .fixedbar .moto_main_menu #clickable_search .simple-icon-magnifier {
        color: white;
        font-size: 1.3em;

    }
    #header #clickable_search:before {
        left: -4px;
        top: 13px;
    }
    .moto_main_menu #clickable_search .search-dropdown {
        right: -28%;
        top: 209%;
    }
  
    .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -24.5%;
        top: 213%;
    }
  
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        right: 46%;
        top: 58%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 40%;
        top: 4%;
    }
    .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -4px;
        top: 12px;
    }
    .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -10px;
        top: 16px;
        height: 28px;
        background-color: #3a3939;
    }
    .fixedbar .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
    .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
    }
  
  /* Info */
    
    .moto_main_menu .nj_customer_info {
        right: 68% !important;
        top: 57%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 60% !important;
        top: -3%!important;
    }
    .moto_main_menu .nj_customer_info .simple-icon-info {
        color: white;
        font-size: 1.2em;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -18px;
        top: 14px;
    }
    .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -22px;
        top: 16px;
        height: 28px;
        background-color: #3a3939;
    }
  
  /*  CUSTOMER ICON   */
    
    .moto_main_menu .nj_customer {
        right: 86% !important;
        top: 58%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 70% !important;
        top: -3%!important;
    }

    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -20px;
        top: 13px;
    }
    .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -2px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    
  
  .fixedbar .davz_new_account_icon:before {
    	left: -9px;
    	top: 10px;
	}
  
  #header .fixedbar #clickable_search:before {
    	left: 5px;
    	top: 13px;
	}
  
}


@media screen and (min-width: 420px) {
  	.moto_main_menu #clickable_search {
    	right: 27% !important;
    	top: 60%!important;
	}
  	
  	#header #clickable_search:before {
      left: -8px;
      top: 13px;
	}
  
  	#header .visible-mobile-menu-on.davz_new_account_icon {
      right: 45%;
      top: 58%;
	}
  
  	#header .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -10px;
    	top: 15px;
	}
  
  	#header .fixedbar .davz_new_account_icon:before {
    	left: -8px;
    	top: 10px;
	}
  
  	.moto_main_menu .nj_customer_info {
    	right: 67% !important;
    	top: 57%!important;
	}
  
  	.moto_main_menu .nj_customer_info:before {
        left: -25px;
        top: 16px;
	}
  
  	.moto_main_menu .nj_customer {
    	right: 86% !important;
    	top: 58%!important;
	}
  
  	.moto_main_menu .nj_customer:before {
        left: -5px;
        top: 14px;
	}
  
  	#header .moto_main_menu #clickable_search .search-dropdown {
    	right: -27%;
    	top: 210%;
	}
  
  	.fixedbar .moto_main_menu #clickable_search {
    	right: 23.5% !important;
    	top: 0 !important;
	}
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
      	right: 39.5%;
    	top: 4%;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 59% !important;
    	top: -4%!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer {
    	right: 70.5% !important;
    	top: -4%!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer:before {
    	left: -21px;
    	top: 13px;
	}
  
  	#header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -23.5%;
    	top: 208%;
	}
  
  	#header .fixedbar .cart {
    	top: 75%;
    	right: 1%;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -26%;
    	left: 10%;
        font-size: 0.90em;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info:before {
    	left: -20px;
    	top: 14px;
	}
  
  	#header .fixedbar .cart {
    	top: 75%;
    	right: 1%;
	}
}


@media screen and (min-width: 450px) {
  
  	#header .cart {
    	top: 90%;
    	right: 10%;
	}
  
  	#header .cart:before {
    	left: -3px;
    	top: 10px;
	}
  
  	#header .fixedbar .cart {
      top: 80%;
      right: 1%;
	}
  
 	.fixedbar .moto_main_menu #clickable_search {
    	right: 23.5% !important;
    	top: -2%!important;
	}
 
  	#header #clickable_search:before {
      left: -6px;
      top: 14px;
	}
  
    .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
          left: -14px;
          top: 13px;
      }

    #header .fixedbar .moto_main_menu .nj_customer_info:before {
          left: -22px;
          top: 16px;
      }

    .fixedbar .moto_main_menu #clickable_search .search-dropdown {
          right: -23%;
          top: 207%;
      }

    .moto_main_menu #clickable_search {
          right: 26% !important;
          top: 60%!important;
      }
  
  	#header .visible-mobile-menu-on.davz_new_account_icon {
      right: 43%;
      top: 58%;
	}
  
  	#header .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -15px;
    	top: 16px;
	}
  
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -15px;
    	top: 11px;
	}
  
  	.moto_main_menu .nj_customer_info {
    	right: 65% !important;
    	top: 59%!important;
	}
  
  	.moto_main_menu .nj_customer_info:before {
      left: -25px;
      top: 15px;
	}
  
  	.moto_main_menu .nj_customer {
    	right: 83% !important;
    	top: 59%!important;
	}
  
  	.moto_main_menu .nj_customer:before {
      left: -10px;
      top: 14px;
	}
  
  	#header .moto_main_menu #clickable_search .search-dropdown {
    	right: -26%;
    	top: 210%;
	}
  
  	#header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -24%;
    	top: 208%;
	}
  
  	#header .fixedbar .cart:before {
    	left: -21px;
    	top: 7px;
	}
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 39.5%;
    	top: 4%;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 59% !important;
    	top: -5%!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer {
    	right: 70% !important;
    	top: -2% !important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer:before {
    	left: -24px;
    	top: 15px;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -24%;
    	left: 11%;
        font-size: 0.90em;
	}
  
  	#header .fixedbar #clickable_search:before {
    	left: -4px;
    	top: 15px;
	}
}


@media screen and (min-width: 475px) {
  #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -24%;
    	top: 208%;
	}
  
  #header #clickable_search:before {
    	left: -6px;
    	top: 14px;
	}
  #header .fixedbar #clickable_search:before {
    	left: -2px;
    	top: 14px;
	}
  
  #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -13px;
    	top: 12px;
	}
}

@media screen and (min-width: 481px) {
  
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -26px;
        top: 12px;
    }

  	#header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -23%;
    	top: 213%;
	}
  
    .moto_main_menu #clickable_search {
    	right: 27% !important;
    	top: 60%!important;
	}
  	
    #header #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -20px;
        top: 13px;
        height: 28px;
        background-color: #3a3939;
    }
  
  	#header .visible-mobile-menu-on.davz_new_account_icon:before {
      left: -29px;
      top: 13px;
	}
  
  	.fixedbar .moto_main_menu #clickable_search {
    	right: 23% !important;
    	top: 2%!important;
	}

    #header #clickable_search:before {
        left: -20px;
        top: 14px;
    }
  
  	.moto_main_menu #clickable_search .search-dropdown {
    	right: -25%;
    	top: 212%;
	}
  
  	#header .visible-mobile-menu-on.davz_new_account_icon {
      	position: absolute;
      	right: 45%;
      	top: 60%;
	}
  
   
  
  .moto_main_menu .nj_customer_info {
   		right: 67% !important;
    	top: 57%!important;
	}
  
  .moto_main_menu .nj_customer_info:before {
        left: -28px;
        top: 16px;
	}
  
  .moto_main_menu .nj_customer {
    	right: 85% !important;
    	top: 58%!important;
	}
  
  .moto_main_menu .nj_customer:before {
      left: -11px;
      top: 15px;
	}
  
    #header .moto_main_menu #clickable_search .search-dropdown {
          right: -27%;
          top: 207%;
      }

    #header .fixedbar #clickable_search:before {
          left: -15px;
          top: 12px;
      }

    #header .fixedbar .cart:before {
          left: -20px;
          top: 7px;
      }

    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
          right: 40%;
          top: 5%;
      }

    #header .fixedbar .moto_main_menu .nj_customer_info:before {
          left: -27px;
          top: 14px;
      }

    #header .fixedbar .moto_main_menu .nj_customer {
          right: 72% !important;
          top: -2% !important;
      }

    #header .fixedbar .moto_main_menu .nj_customer:before {
          left: -29px;
          top: 14px;
      }
  
  	#header .cart {
    	top: 89%;
    	right: 10%;
	}
  
  	#header .fixedbar .davz_moto_icon {
    	top: -25%;
        left: 10%;
        font-size: 0.90em;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 60% !important;
    	top: -5%!important;
	}
}


@media screen and (min-width: 500px) {
  
  #header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  #header .fixedbar .davz_moto_icon {
    	top: -30%;
        left: 11%;
        font-size: 1em;
	}
  
  #header .davz_moto_icon:before {
      background-color: #000000;
	}
  
 
  #header .fixedbar .cart .badge--cart {
    /* width: 20px;
    height: 20px;
    line-height: 20px;
    position: inherit;
    top: -39px; */
	}
    
    .index #pageContent {
       padding-top: 0;
  	}
  
  
    #header .cart {
        top: 90%;
        right: 8%;
    }
  
    #header .cart:before {
      left: 0;
      top: 10px;
	}
  
    #header .cart .badge--cart {
     /* width: 20px;
        height: 20px;
        line-height: 20px;
        right: -68%; */
    }

  
    #header .fixedbar .cart {
        top: 75%;
        right: 1%;
    }
    #header .fixedbar .cart:before {
        left: -27px;
        top: 10px;
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 119px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
    /* Search */
    
    .moto_main_menu #clickable_search {
        right: 23% !important;
        top: 60%!important;
    }
  
  	#header #clickable_search:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -20px;
      top: 13px;
      height: 28px;
      background-color: #3a3939;
  }
  
    .fixedbar .moto_main_menu #clickable_search {
        right: 23.5% !important;
        top: 0%!important;
    }
    #header #clickable_search:before {
        left: -20px;
        top: 12px;
    }
  
  	#header .fixedbar #clickable_search:before {
    	left: -12px;
    	top: 13px;
	}
  
    .moto_main_menu #clickable_search .search-dropdown {
        right: -22%;
        top: 210%;
    }
  
    .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -22%;
        top: 208%;
    }
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        position: absolute;
        right: 40%;
        top: 58%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 38%;
        top: 5%;
    }
    .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -28px;
        top: 13px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -30px;
        top: 15px;
    }
  
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -25px;
      	top: 12px;
    }
      
    .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
  
  /* Info */
    
    .moto_main_menu .nj_customer_info {
        right: 61% !important;
        top: 57%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 57% !important;
        top: -2%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -25px;
        top: 14px;
    }
    .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -27px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
  
  /*  CUSTOMER ICON   */
    
    .moto_main_menu .nj_customer {
        right: 78% !important;
        top: 57%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 69% !important;
        top: -4%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -28px;
        top: 16px;
    }
    .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -10px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
  
  #header .moto_main_menu #clickable_search .search-dropdown {
    	right: -23%;
    	top: 210%;
	}
  
  #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -23.5%;
    	top: 208%;
	}
    
}



@media screen and (min-width: 520px) {
  
  #header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  #header .fixedbar .davz_moto_icon {
    	top: -29%;
        left: 10%;
        font-size: 1em;
	}
  
  #header .davz_moto_icon:before {
      background-color: #000000;
	}
  
 
  #header .fixedbar .cart .badge--cart {
    /* width: 20px;
    height: 20px;
    line-height: 20px;
    position: inherit;
    top: -39px; */
	}
   
  
    .index #pageContent {
       padding-top: 0;
  	}
  
  
    #header .cart {
        top: 90%;
        right: 8%;
    }
  
    #header .cart:before {
      left: 0;
      top: 10px;
	}
  
    #header .cart .badge--cart {
     /* width: 20px;
        height: 20px;
        line-height: 20px;
        right: -68%; */
    }

  
    #header .fixedbar .cart {
        top: 75%;
        right: 1%;
    }
    #header .fixedbar .cart:before {
        left: -25px;
        top: 10px;
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 119px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
    /* Search */
    
    .moto_main_menu #clickable_search {
        right: 22% !important;
        top: 60%!important;
    }
  
  	#header #clickable_search:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -20px;
      top: 13px;
      height: 28px;
      background-color: #3a3939;
  }
  
    .fixedbar .moto_main_menu #clickable_search {
        right: 22% !important;
        top: 0%!important;
    }
    #header #clickable_search:before {
        left: -23px;
        top: 12px;
    }
  
  	#header .fixedbar #clickable_search:before {
    	left: -18px;
    	top: 13px;
	}
  
    .moto_main_menu #clickable_search .search-dropdown {
        right: -22%;
        top: 210%;
    }
  
    .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -22%;
        top: 208%;
    }
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        position: absolute;
        right: 38%;
        top: 58%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 38%;
        top: 5%;
    }
    .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -28px;
        top: 13px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -28px;
        top: 15px;
    }
  
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -31px;
      	top: 12px;
    }
      
    .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
  
  /* Info */
    
    .moto_main_menu .nj_customer_info {
        right: 57% !important;
        top: 57%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 58% !important;
        top: -2%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -28px;
        top: 14px;
    }
    .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -29px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
  
  /*  CUSTOMER ICON   */
    
    .moto_main_menu .nj_customer {
        right: 73.5% !important;
        top: 57%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 70.5% !important;
        top: -4%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -33px;
        top: 16px;
    }
    .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -12px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
  
  #header .moto_main_menu #clickable_search .search-dropdown {
    	right: -22%;
    	top: 210%;
	}
  
  #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -22%;
    	top: 208%;
	}
  
    
   #header .fixedbar .badge--cart-new {
      right: -100% !important;
      top: 15% !important;
	}
    
}


/* iPHONE 5 LANDSCAPE VIEW */


@media screen and (min-width: 568px) {
  
    #header .fixedbar .davz_moto_icon {
        top: -30%;
        left: 23%;
        font-size: 1em;
    }
  
  	#header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  /* CART ICON */
    #header .cart {
        top: 91%!important;
    }
    #header .fixedbar .cart {
        top: 77%!important;
        right: 1%;
    }
    #header .fixedbar .cart:before {
        top: 9px;
        left: -29%;
    }
    #header .cart:before {
        top: 9px;
        left: -3px;
    }
    #header .cart .badge--cart {
        /*top: -13px;*/
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 138px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
  /* SEARCH ICON */

    #header .moto_main_menu #clickable_search {
        right: 21.5% !important;
        top: 60%!important;
    }
    #header #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -20px;
        top: 13px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar #clickable_search:before {
        left: -13px;
        top: 12px;
    }
    #header .fixedbar #clickable_search {
        top: -1%!important;
        right: 19%!important;
    }
    #header .moto_main_menu #clickable_search .search-dropdown {
        right: -21.5%;
        top: 210%;
    }
  
    #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -19%;
        top: 209%;
    }
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        right: 36.5%;
        top: 60%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 33%;
      	top: 7%;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -25px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -25px;
        top: 10px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
    /* INFO ICON */
    
    #header .moto_main_menu .nj_customer_info {
        right: 54% !important;
        top: 59%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 50% !important;
        top: -5%!important;
    }
    #header .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -23px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -25px;
        top: 14px;
    }
  
    /*  CUSTOMER ICON   */
  
    #header .moto_main_menu .nj_customer {
        right: 68% !important;
        top: 59%!important;
    }
  
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 60% !important;
        top: -5%!important;
    }
    #header .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -10px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
  
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -28px;
        top: 14px;
    }
  
}



@media screen and (min-width: 580px) {
  
    #header .fixedbar .davz_moto_icon {
        top: -29%;
        left: 24%;
        font-size: 1em;
    }
  
  	#header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  /* CART ICON */
    #header .cart {
        top: 91%!important;
    }
    #header .fixedbar .cart {
        top: 77%!important;
        right: 1%;
    }
    #header .fixedbar .cart:before {
        top: 9px;
        left: -29%;
    }
    #header .cart:before {
        top: 9px;
        left: -3px;
    }
    #header .cart .badge--cart {
        /*top: -13px;*/
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 138px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
  /* SEARCH ICON */

    #header .moto_main_menu #clickable_search {
        right: 21% !important;
        top: 60%!important;
    }
    #header #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -18px;
        top: 13px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar #clickable_search:before {
        left: -20px;
        top: 12px;
    }
    #header .fixedbar #clickable_search {
        top: -1%!important;
        right: 18.5%!important;
    }
    #header .moto_main_menu #clickable_search .search-dropdown {
        right: -21%;
        top: 210%;
    }
  
    #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -19%;
        top: 209%;
    }
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        right: 35%;
        top: 60%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 33%;
        top: 7%;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -30px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -28px;
    	top: 9px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
    /* INFO ICON */
    
    #header .moto_main_menu .nj_customer_info {
        right: 52.5% !important;
        top: 59%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 49.5% !important;
        top: -5%!important;
    }
    #header .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -28px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -25px;
        top: 14px;
    }
  
    /*  CUSTOMER ICON   */
  
    #header .moto_main_menu .nj_customer {
        right: 67% !important;
        top: 59%!important;
    }
  
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 60% !important;
        top: -5%!important;
    }
    #header .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -14px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -30px;
        top: 14px;
    }
  
}


/* SAMSUNG GALAXY S5 LANDSCAPE VIEW */


@media screen and (min-width: 640px) {
  /*  FIXED LOGO   */
   #header .fixedbar .davz_moto_icon {
        top: -35%;
        left: 24%;
    }

    .davz_moto_icon:before {
        display:none;
    } 
  
  #header .fixedbar .davz_moto_icon {
    	top: -30%;
        left: 22%;
        font-size: 1em;
	}
  
  #header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  /* CART ICON */
    #header .cart {
        top: 91%!important;
    }
    #header .fixedbar .cart {
        top: 75%!important;
        right: 1%;
    }
    #header .fixedbar .cart:before {
        top: 9px;
        left: -29%;
    }
    #header .cart:before {
        top: 9px;
        left: -3px;
    }
    #header .cart .badge--cart {
        /* top: -13px; */
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 138px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
  
  /* SEARCH ICON */

    #header #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -18px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar #clickable_search:before {
        left: -22px;
        top: 12px;
    }
    #header .fixedbar #clickable_search {
        top: 3%!important;
        right: 19%!important;
    }
  
    #header .moto_main_menu #clickable_search .search-dropdown {
        right: -21%;
        top: 210%;
    }
  
    #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -19%;
        top: 214%;
    }
  
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        right: 33%;
        top: 59%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 34%;
    	top: 7%;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -28px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -27px;
    	top: 10px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
    /* INFO ICON */
    
    #header .moto_main_menu .nj_customer_info {
        right: 50% !important;
        top: 60%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 50% !important;
        top: -4%!important;
    }
    #header .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -28px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -30px;
        top: 15px;
    }
  
    /*  CUSTOMER ICON   */
  
    #header .moto_main_menu .nj_customer {
        right: 64% !important;
        top: 60%!important;
    }
  
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 61.5% !important;
        top: -3%!important;
    }
    #header .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -11px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -30px;
        top: 14px;
    }
  
}



@media screen and (min-width: 641px) {
  
  /*  FIXED LOGO   */
    #header .fixedbar .davz_moto_icon {
        top: -28%;
        left: 26%;
        font-size: 1em;
    }
  
  /*  COMPARE ICON */
  	#header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
/* CART ICON */
    #header .cart {
        top: 90%!important;
    }
    #header .fixedbar .cart {
        top: 76%!important;
        right: 1%;
    }
    #header .fixedbar .cart:before {
        top: 9px;
        left: -35%;
    }
    #header .cart:before {
        top: 9px;
        left: -3px;
    }
    #header .cart .badge--cart {
        /* top: -13px; */
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 138px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
  
  /* SEARCH ICON */

    #header .moto_main_menu #clickable_search {
        right: 20% !important;
        top: 60%!important;
    }
    #header #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -20px;
        top: 12px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar #clickable_search:before {
        left: -17px;
        top: 14px;
    }
    #header .fixedbar #clickable_search {
        top: -3%!important;
        right: 18%!important;
    }
  
    #header .moto_main_menu #clickable_search .search-dropdown {
        right: -20%;
        top: 207%;
    }
  
    #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -18%;
        top: 204%;
    }
  
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        position: absolute;
        right: 33.5%;
        top: 57%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 31%;
    	top: 6%;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -28px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -30px;
        top: 10px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
    /* INFO ICON */
    
    #header .moto_main_menu .nj_customer_info {
        right: 50% !important;
        top: 58%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 47% !important;
        top: -4%!important;
    }
    #header .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -30px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -30px;
    	top: 16px;
    }
  
    /*  CUSTOMER ICON   */
  
    #header .moto_main_menu .nj_customer {
        right: 64% !important;
        top: 58%!important;
    }
  
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 57.5% !important;
        top: -3%!important;
    }
    #header .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -14px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -31px;
        top: 15px;
    }
}





/* iPHONE 6 LANDSCAPE VIEW */


@media screen and (min-width: 667px) {
    #header .fixedbar .davz_moto_icon {
        top: -29%;
        left: 30%;
        font-size: 1em;
    }
  
  	#header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
  /* CART ICON */
    #header .cart {
        top: 90%!important;
    }
    #header .fixedbar .cart {
        top: 76%!important;
        /* right: 1%; */
    }
    #header .fixedbar .cart:before {
        top: 9px;
        left: -39%;
    }
    #header .cart:before {
        top: 11px;
        left: -6px;
    }
    #header .cart .badge--cart {
        /* top: -13px; */
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 138px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
  /* SEARCH ICON */

    #header .moto_main_menu #clickable_search {
        right: 20% !important;
    	top: 60%!important;
    }
    #header #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -18px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar #clickable_search:before {
        left: -18px;
        top: 14px;
    }
    #header .fixedbar #clickable_search {
        top: -2%!important;
        right: 18%!important;
    }
    #header .moto_main_menu #clickable_search .search-dropdown {
        right: -20%;
    	top: 210%;
    }
  
    #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -18%;
        top: 208%;
    }
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        right: 32.5%;
        top: 60%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 31%;
        top: 6%;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -29px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -29px;
        top: 10px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
    /* INFO ICON */
    
    #header .moto_main_menu .nj_customer_info {
        right: 48% !important;
        top: 59%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 46% !important;
        top: -6%!important;
    }
    #header .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -25px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -28px;
        top: 16px;
    }
  
    /*  CUSTOMER ICON   */
  
    #header .moto_main_menu .nj_customer {
        right: 60.5% !important;
        top: 59%!important;
    }
  
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 55.5% !important;
        top: -2%!important;
    }
    #header .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -12px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -30px;
        top: 14px;
    }
  
}


@media screen and (min-width: 700px) {
  #header .moto_main_menu #clickable_search {
    	right: 19% !important;
    	top: 60%!important;
	}
  
  #header .fixedbar #clickable_search {
    	top: 2%!important;
    	right: 16.5%!important;
	}
  
  #header .fixedbar #clickable_search:before {
    	left: -16px;
    	top: 14px;
	}
  
  #header .visible-mobile-menu-on.davz_new_account_icon {
    	right: 31%;
    	top: 57%;
	}
  
  #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 27.5%;
    	top: 6%;
	}
  
  #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -30px;
    	top: 12px;
	}
  
  #header .moto_main_menu .nj_customer_info {
    	right: 45.5% !important;
    	top: 57%!important;
	}
     
  #header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 42% !important;
    	top: -2%!important;
	}
  
  #header .fixedbar .moto_main_menu .nj_customer:before {
    	left: -32px;
    	top: 14px;
	}
  #header .moto_main_menu .nj_customer {
    	right: 58% !important;
    	top: 58%!important;
  }
  
  #header .fixedbar .moto_main_menu .nj_customer {
    	right: 51% !important;
    	top: -1%!important;
	}
  
  #header .moto_main_menu .nj_customer:before {
      left: -16px;
      top: 14px;
	}
  
  #header .moto_main_menu #clickable_search .search-dropdown {
    	right: -19%;
    	top: 210%;
	}
  
  #header .fixedbar .davz_moto_icon {
    	top: -29%;
        left: 35%;
        font-size: 1em;
	}
  
  #header .fixedbar .cart {
    	top: 78%!important;
    	right: 1%;
	}
  
  #header .moto_main_menu .nj_customer_info:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -28px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
	}
  
  #header .visible-mobile-menu-on.davz_new_account_icon:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -29px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
	}
  
  #header #clickable_search:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -20px;
      top: 12px;
      height: 28px;
      background-color: #3a3939;
	}
  
  #header .cart:before {
    	top: 9px;
    	left: -6px;
	}
}


@media screen and (min-width: 768px) {
  
  	#header .fixedbar .toggle-menu .dropdown-menu {
    	top: 37px;
	}
  
    #header .fixedbar .davz_moto_icon {
        top: -29%;
        left: 41%;
        font-size: 1em;
    }
  
  /* CART ICON */
    #header .fixedbar .cart .badge--cart {
      /* width: 20px;
      height: 20px;
      line-height: 20px;
      position: inherit;
      top: -40px; */
  }
    #header .cart {
        top: 90%!important;
      	right: 5%;
    }
    #header .fixedbar .cart {
        top: 75%!important;
    }
    #header .fixedbar .cart:before {
        top: 9px;
        left: -25%;
    }
    #header .cart:before {
        /*top: 12px;
        left: -3px; */
    }
    #header .cart .badge--cart {
        /* top: -13px; */
    }
    #header .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 138px;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    #header .fixedbar .cart.visible-mobile-menu-on .dropdown .dropdown-menu {
        top: 50px;
    }
  /* SEARCH ICON */

    #header .moto_main_menu #clickable_search {
        right: 15.5% !important;
    	top: 60%!important;
    }
    #header #clickable_search:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -22px;
        top: 13px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar #clickable_search:before {
        left: -20px;
    	top: 12px;
    }
    #header .fixedbar #clickable_search {
        top: -1%!important;
    	right: 14%!important;
    }
    #header .moto_main_menu #clickable_search .search-dropdown {
        right: -15.5%;
    	top: 209%;
    }
  
    #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -14%;
        top: 209%;
    }
    /*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        position: absolute;
        right: 27%;
    	top: 59%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 25%;
    	top: 5%;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -33px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -28px;
    	top: 12px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
  	/* COMPARE ICON */
  	#header .stuck-nav span.davz--support-page {
    	color: white;
    	font-size: 1.5em;
	}
  
    /* INFO ICON */
    
    #header .moto_main_menu .nj_customer_info {
        right: 41.5% !important;
    	top: 59%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 38% !important;
    	top: -5%!important;
    }
    #header .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -30px;
        top: 13px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -27px;
    	top: 15px;
    }
  
    /*  CUSTOMER ICON   */
  
    #header .moto_main_menu .nj_customer {
        right: 53.5% !important;
    	top: 58%!important;
    }
  
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 46% !important;
    	top: 0!important;
    }
    #header .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -17px;
        top: 15px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -32px;
        top: 12px;
    }
 
}


@media screen and (min-width: 820px) {
  
  #header .moto_main_menu .nj_customer_info {
    	right: 39% !important;
    	top: 59%!important;
	}
  
  #header .moto_main_menu .nj_customer {
    	right: 50% !important;
    	top: 60%!important;
	}
  
  .moto_main_menu #clickable_search {
    	right: 15% !important;
    	top: 60%!important;
	}
  
  #header .fixedbar .cart:before {
    	top: 9px;
    	left: -37%;
	}
  
  #header .fixedbar .cart {
    	top: 75%!important;
    	right: 1%;
	}
  
  #header .fixedbar .moto_main_menu .nj_customer:before {
    	left: -32px;
    	top: 14px;
	}
  
  #header .fixedbar .moto_main_menu .nj_customer {
    	right: 45% !important;
    	top: -2% !important;
	}
  
  #header .fixedbar .davz_moto_icon {
    	top: -30%;
    	left: 43%;
	}
  
  #header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 36.5% !important;
    	top: -5%!important;
	}
  
  #header .fixedbar .moto_main_menu .nj_customer_info:before {
    	left: -32px;
    	top: 15px;
	}
  
  #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 23.5%;
    	top: -5%;
	}
  
  #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -35px;
    	top: 15px;
	}
  
  #header .visible-mobile-menu-on.davz_new_account_icon {
    	right: 26%;
    	top: 59%;
	}
  
  #header .moto_main_menu .nj_customer:before {
    	left: -18px;
    	top: 14px;
	}
  
  #header .fixedbar #clickable_search {
    	top: -1%!important;
    	right: 15%!important;
	}
  
  #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -14%;
    	top: 209%;
	}
  
  #header .fixedbar #clickable_search:before {
    	left: -20px;
    	top: 12px;
	}
  
  #header .moto_main_menu .nj_customer_info:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -33px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
	}
  
  #header .cart:before {
    	top: 9px;
    	left: -10px;
	}
  
  .moto_main_menu #clickable_search {
    	right: 15% !important;
    	top: 60%!important;
	}
 
  
  #header .moto_main_menu #clickable_search .search-dropdown {
    	right: -15.5%;
    	top: 209%;
	}
  
  #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 25%;
    	top: 8%;
	}
  
  #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -32px;
    	top: 9px;
	}
  
  #header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 37.5% !important;
    	top: -5%!important;
	}
  
  #header .fixedbar .moto_main_menu .nj_customer_info:before {
    	left: -30px;
    	top: 15px;
	}
  
  #header .fixedbar .moto_main_menu .nj_customer {
    	right: 45.5% !important;
    	top: -2% !important;	
	}

  #header .fixedbar .davz_moto_icon {
    	top: -31%;
        left: 43%;
        font-size: 1em;	
	}
  
  #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -14.5%;
    	top: 209%;
	}
}


@media screen and (min-width: 850px) {
 	 #header .fixedbar #clickable_search {
    	top: -1%!important;
    	right: 14.5%!important;
	}
  
  	#header .fixedbar #clickable_search:before {
    	left: -21px;
    	top: 12px;
	}
  
}

@media screen and (min-width: 920px) {
	#header .moto_main_menu #clickable_search {
    	right: 15.5% !important;
    	top: 60%!important;
	}
  
  	#header .fixedbar #clickable_search {
    	top: -1%!important;
    	right: 13.5%!important;
	}

	#header .visible-mobile-menu-on.davz_new_account_icon {
    	position: absolute;
    	right: 22%;
    	top: 59%;
    }
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 23.5%;
    	top: 7%;
	}

  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -32px;
    	top: 10px;
	}
  
	#header .moto_main_menu .nj_customer_info {
    	right: 34.5% !important;
    	top: 59%!important;
	}
	
  	#header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 35% !important;
    	top: -5%!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info:before {
    	left: -31px;
    	top: 15px;
	}
  
	#header .moto_main_menu .nj_customer {
    	right: 45.5% !important;
    	top: 60%!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer {
    	right: 43% !important;
    	top: -2%!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer:before {
    	left: -34px;
    	top: 14px;
	}
  	#header .fixedbar .davz_moto_icon {
    	top: -30%;
        left: 46%;
        font-size: 1em;
	}
  
  	#header .moto_main_menu .nj_customer:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -18px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .moto_main_menu .nj_customer_info:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -33px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
    }
  
  	#header .moto_main_menu #clickable_search .search-dropdown {
    	right: -15.5%;
    	top: 209%;
	}
  
  	#header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -13.5%;
    	top: 209%;
	}
  
  	#header .cart {
    	top: 90%!important;
    	right: 6%;
	}
  
  	#header .fixedbar #clickable_search:before {
    	left: -24px;
    	top: 14px;
	}
  
  	#header .visible-mobile-menu-on.davz_new_account_icon {
      right: 25.5%;
      top: 59%;
	}	
  
  	#header .moto_main_menu .nj_customer_info {
    	right: 38% !important;
    	top: 59%!important;
	}
  
  	#header .moto_main_menu .nj_customer {
    	right: 48.5% !important;
    	top: 59%!important;
	}
  
  	#header #clickable_search:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -24px;
      top: 13px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .visible-mobile-menu-on.davz_new_account_icon:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -34px;
      top: 14px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .fixedbar .cart {
    	top: 75%!important;
      	right: 1%;
	}
  
  	#header .fixedbar .cart:before {
    	top: 11px;
    	left: -40%;
	}
}


@media screen and (min-width: 980px) {
	#header .moto_main_menu #clickable_search {
    	right: 15% !important;
    	top: 60%!important;
	}
  
  	#header .fixedbar #clickable_search {
    	top: -1%!important;
    	right: 13%!important;
	}

	#header .visible-mobile-menu-on.davz_new_account_icon {
    	position: absolute;
    	right: 22%;
    	top: 59%;
    }
  
  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
    	right: 22%;
    	top: 4%;
	}

  	#header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
    	left: -35px;
    	top: 11px;
	}
  
	#header .moto_main_menu .nj_customer_info {
    	right: 34.5% !important;
    	top: 59%!important;
	}
	
  	#header .fixedbar .moto_main_menu .nj_customer_info {
    	right: 34% !important;
    	top: -5%!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer_info:before {
    	left: -31px;
    	top: 15px;
	}
  
	#header .moto_main_menu .nj_customer {
    	right: 45.5% !important;
    	top: 60%!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer {
    	right: 42% !important;
    	top: 0!important;
	}
  
  	#header .fixedbar .moto_main_menu .nj_customer:before {
    	left: -34px;
    	top: 14px;
	}
  	#header .fixedbar .davz_moto_icon {
    	top: -28%;
        left: 48%;
        font-size: 1em;
	}
  
  	#header .moto_main_menu .nj_customer:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -15px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .moto_main_menu .nj_customer_info:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -35px;
      top: 15px;
      height: 28px;
      background-color: #3a3939;
    }
  
  	#header .moto_main_menu #clickable_search .search-dropdown {
    	right: -15%;
    	top: 209%;
	}
  
  	#header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
    	right: -13%;
    	top: 209%;
	}
  
  	#header .cart {
    	top: 90%!important;
    	right: 6%;
	}
  
  	#header .fixedbar #clickable_search:before {
    	left: -23px;
    	top: 14px;
	}
  
  	#header .visible-mobile-menu-on.davz_new_account_icon {
      right: 24.5%;
      top: 59%;
	}	
  
  	#header .moto_main_menu .nj_customer_info {
    	right: 36% !important;
    	top: 59%!important;
	}
  
  	#header .moto_main_menu .nj_customer {
    	right: 46% !important;
    	top: 59%!important;
	}
  
  	#header #clickable_search:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -25px;
      top: 13px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .visible-mobile-menu-on.davz_new_account_icon:before {
      display: block;
      width: 1px;
      content: " ";
      position: absolute;
      left: -34px;
      top: 14px;
      height: 28px;
      background-color: #3a3939;
	}
  
  	#header .fixedbar .cart {
    	top: 75%!important;
      	right: 1%;
	}
  
  	#header .fixedbar .cart:before {
    	top: 11px;
    	left: -40%;
	}
}


@media screen and (min-width: 1024px) {
  
  	
  	#header .fixedbar .badge--cart-new {
    	right: 0 !important;
	}
  
    #header .stuck-nav {
      top: -1px;
    }
 
  	#header .fixedbar .davz_moto_icon {
    	top: -30%;
    	left: 47%;
	}
  
  
   .fixedbar .moto_main_menu #clickable_search {
    	right: 17% !important;
    	top: 3%!important;
	}
  
    .moto_main_menu .nj_customer {
        top: 66%!important;
        right: 37.5% !important;
    }
    .moto_main_menu .nj_customer_info {
        top: 66%!important;
        right: 32% !important;
    }
    .moto_main_menu .nj_wishlist_header {
        top: 66%!important;
        right: 24% !important;
    }
    .moto_main_menu #clickable_search {
        top: 66%!important;
        right: 11% !important;
    }
    .moto_main_menu #clickable_search .search-dropdown {
        top: 202%;
        right: -11%;
    }
    .moto_main_menu .nj_customer_info .simple-icon-info,
    .moto_main_menu .nj_wishlist_header span,
    .moto_main_menu #clickable_search .simple-icon-magnifier {
        padding: 0 0 0 25px;
    }
  
  	#header .stuck-nav span.davz--support-page {
      	color: white;
    	font-size: 1.5em;
    }
  
    #header .cart {
        top: 90%!important;
        right: 6%;
    }
    #header .cart .badge--cart {
     /* width: 25px;
        height: 25px;
        line-height: 25px;
        right: -97%; */
    }
    #header .cart .dropdown.text-right .dropdown-menu {
        top: 139px;
    }
    #header .fixedbar .cart .dropdown.text-right .dropdown-menu {
        top: 49px;
    }
    /* SEARCH ICON */

    #header .moto_main_menu #clickable_search {
      right: 15% !important;
      top: 60%!important;
    }
    #header .fixedbar #clickable_search:before {
        left: -10px;
        top: 13px;
    }
    #header .fixedbar #clickable_search {
        top: 0 !important;
        right: 13%!important;
    }
    #header .moto_main_menu #clickable_search .search-dropdown {
        right: -15%;
        top: 204%;
    }
  
    #header .fixedbar .moto_main_menu #clickable_search .search-dropdown {
        right: -13%;
        top: 210%;
    }
  
  /*  SEARCH WISHLIST ICON  */
  
  	#header #clickable_search:before {
      top: 13px;
      height: 28px;
      left: -10px;
  }

/*  MOBILE WISHLIST ICON  */
    
    #header .visible-mobile-menu-on.davz_new_account_icon {
        position: absolute;
        right: 24.5%;
   	 	top: 59%;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon {
        right: 22%;
        top: -5%;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -35px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon:before {
        left: -36px;
    	top: 15px;
    }
    #header .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.4em;
    }
  
   
    #header .fixedbar .visible-mobile-menu-on.davz_new_account_icon .simple-icon {
        color: white;
        font-size: 1.6em;
    }
  
  
  

    /* INFO ICON */
    
    #header .moto_main_menu .nj_customer_info {
        right: 36.5% !important;
    	top: 59%!important;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info {
        right: 34% !important;
        top: -4%!important;
    }
    #header .moto_main_menu .nj_customer_info:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        height: 28px;
        background-color: #3a3939;
      	top: 14px;
    	left: -34px;
    }
    #header .fixedbar .moto_main_menu .nj_customer_info:before {
        left: -35px;
    	top: 15px;
    }
  
    /*  CUSTOMER ICON   */
  
    #header .moto_main_menu .nj_customer {
        right: 46.5% !important;
    	top: 59%!important;
    }
  
    #header .fixedbar .moto_main_menu .nj_customer {
        right: 42% !important;
    	top: 0!important;
    }
    #header .moto_main_menu .nj_customer:before {
        display: block;
        width: 1px;
        content: " ";
        position: absolute;
        left: -18px;
        top: 14px;
        height: 28px;
        background-color: #3a3939;
    }
    #header .fixedbar .moto_main_menu .nj_customer:before {
        left: -35px;
    	top: 13px;
    }
  
  	#header .fixedbar .cart:before {
    	top: 10px;
    	left: -39%;
	}
  
  	#header .fixedbar .cart {
    	top: 78%!important;
    	right: 1%;
	}

}



@media screen and (min-width: 1025px) {
    #header .cart {
        top: 90%!important;
        right: 0;
        margin-left: 10px;
    }
    #header .cart .badge--cart {
      /*  width: 25px;
        height: 25px;
        line-height: 25px;
        right: -25%;
        right: -10px;  */
    }
  
  .fixedbar .badge--cart {
    	right: 0;
        top: -15px;
	}
    .index #pageContent {
        padding-top: 0px;
    }
    .moto_main_menu .nj_customer {
        position: relative;
        top: 6px!important;
        right: 0!important;
    }
    .moto_main_menu .nj_wishlist_header {
        position: relative;
        top: 6px!important;
        right: 0!important;
    }
    .moto_main_menu .nj_wishlist_header span {
        padding: 0 0 0 5px;
    }
    #header .cart .dropdown.text-right .dropdown-menu {
        top: 44px;
    }
    #header .fixedbar .cart .dropdown.text-right .dropdown-menu {
        top: 43px;
    }
  
  	#header .fixedbar .cart {
     	right: 0;
	}

  
  	.fixedbar .logo {
    	display: block;
    	opacity: 1;
	}
}




/* Cart Dropdown Added Items */

#header .cart .dropdown.text-right .dropdown-menu {
    z-index: 9999;
}
#header .cart .dropdown.text-right .dropdown-menu .cart__close {
    color: red!important;
    right: 9%;
}
.dropdown .dropdown-menu--xs-full a:hover:not(.btn) {
    color: #777!important;
}
.cart .dropdown-menu .cart__item__control {
    top: 65px!important;
}




  /*  FOR MOZILLA BROWSER  */
@-moz-document url-prefix() {
  @media screen and (max-width: 320px) {
    
    .moto_main_menu .nj_customer_info .simple-icon-info {
        font-size: 1.45em;
    }
    #header .cart .moto-cart-icon-cart-new {
        font-size: 1.65em;
    }

    #header .fixedbar .cart:before {
        left: -5px;
    }
        
 }
  
@media screen and (max-width: 360px) {
    .moto_main_menu .nj_customer_info .simple-icon-info {
        font-size: 1.45em;
    }
    #header .cart .moto-cart-icon-cart-new {
        font-size: 1.65em;
    }
  
}