@font-face {
    font-family: 'hurme-regular';
    src: url('hurme-geometricsans3regular-webfont.eot');
    src: url('hurme-geometricsans3regular-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'hurme-light';
    src: url('hurme-geometricsans3light-webfont.eot');
    src: url('hurme-geometricsans3light-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hurme-semibold';
    src: url('hurme-geometricsans3-semibold-webfont.eot');
    src: url('hurme-geometricsans3-semibold-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'hurme-bold';
    src: url('hurme-geometricsans3-bold-webfont.eot');
    src: url('hurme-geometricsans3-bold-webfont.ttf');
    font-weight: normal;
    font-style: normal;
}
