@font-face {
    font-family: "avantegarde-light";
    src: url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-light-webfont.eot");
    src: url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-light-webfont.eot?#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-light-webfont.woff") format("woff"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-light-webfont.ttf") format("truetype"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-light-webfont.svg#avantegarde-light") format("svg");
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important
}
@font-face {
    font-family: "avantegarde-regular";
    src: url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-regular-webfont.eot");
    src: url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-regular-webfont.eot?#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-regular-webfont.woff") format("woff"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-regular-webfont.ttf") format("truetype"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-regular-webfont.svg#avantegarde-regular") format("svg");
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important
}
@font-face {
    font-family: "avantegarde-oblique";
    src: url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-oblique-webfont.eot");
    src: url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-oblique-webfont.eot?#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-oblique-webfont.woff") format("woff"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-oblique-webfont.ttf") format("truetype"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-oblique-webfont.svg#avantegarde-oblique") format("svg");
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important
}
@font-face {
    font-family: "avantegarde-bold";
    src: url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-bold-webfont.eot");
    src: url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-bold-webfont.eot?#iefix") format("embedded-opentype"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-bold-webfont.woff") format("woff"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-bold-webfont.ttf") format("truetype"), url("//cdn.shopify.com/s/files/1/1223/6434/files/avantgarde-bold-webfont.svg#avantegarde-bold") format("svg");
    font-weight: normal !important;
    font-style: normal !important;
    font-variant: normal !important
}
