
<!--
.slick-slide img {
margin-left: auto;
margin-right: auto;
max-width: 90%;
}

@media (max-width:768px){
.slick-slide img {
margin-left: auto;
margin-right: auto;
max-width: 75%;
}
}

@media (max-width:1024px){
.slick-slide img {
margin-left: auto;
margin-right: auto;
max-width: 80%;
}
}-->
.brand-lg-list img{
  width:65%;
}
.content-fill {
  margin-top: 0px;
  margin-bottom: 25px;
}
.content{
  margin-top:0px;
  margin-bottom:0px;
}


@media (max-width:1199px)
{
  .brand-lg-list img{
    width:100%;
  }
}
.brand-holder{
  padding:0px;
}
.logo-holder{
 padding:0px; 
}