.instafeed a{
	cursor: pointer;
  width:100%!important;
}
.instafeed .image-wrap{
  	/*display: inline-block;
  	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);*/
    width: 100%;
  	height: calc(100vw/6);
    background-position: center center;
    background-size: cover;
}
@media(max-width:1199px) and (min-width:1000px){
  .instafeed .image-wrap{
    height: calc(100vw/4);
  }
}

#instaModal{
top:78px;
width:100%;
}
.modal-body{
 width:100%;
 top:10%;

  
  
}
.instafeed-wrapper h3{
 color:black;
}
.instafeed-wrapper:after{
  display:none;
}
.follow-instagram{
text-decoration:none;
z-index: 1;
position:absolute;
right: 181px;
top: 15px;
letter-spacing:1px;
font-weight:600;
color: #a09d9d;
font-size:16px;
}
.follow-instagram a{
color: #a09d9d;  
}
.follow-instagram a:hover{
color:#3392ff;
text-decoration:none;
}

.modal-content button{
padding:15px 20px 0px 10px;
font-size:1.8em
}
.instaContent{
  width:335px;
  padding-top: 40px;
  overflow: hidden;
  height: 490px;
  
}
.modal-content #instagram-image img{
  width:100%;
  height: 490px;
  max-width:528px;
}
#instaModal .row{
margin-right:53px;
}
#instaModal .modal-content{
padding:0px;  
}
#instaModal .modal-content p{
  border-top: 1px solid #a09d9d; */
padding-top:10px;
color:black;
font-size:14px;
font-weight:500;
letter-spacing:1.2px;
text-align:left;
font-family:inherit;
height: 400px;
overflow-y: scroll;
padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
box-sizing: content-box; /* So the width will be 100% + 17px */
}
#instaModal .modal-content p::-webkit-scrollbar { 
    display: none; 
}
#instaModal .modal-dialog{
  width:900px;
}
#instaModal .modal-md{
  max-width:900px!important;
}


#instaModal .modal-body .row [class*="col-"]{

padding-left:15px;
padding-right:15px;
}

#instaModal .modal-footer .insta-link:hover{
color:#3392ff;
text-decoration:none; 
}


#instaModal .modal-footer{
 position:absolute;
 bottom:10px;
 right:292px;
 font-size:13px;
 color:#000!important;
 font-weight:400;
}

