
/* -------------------------------- 

Main Components 

-------------------------------- */


.cd-main-content .njohn_product_grid_add_to_cart a {
      font-size: .70em;
}







.cd-header {
  position: relative;
  background-color: #fff;
 
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
/*   .cd-header {
    height: 200px;
  } */
  .cd-header h1 {
    line-height: 180px;
  }
}

.cd-main-content {
  position: relative;
  min-height: 100vh;
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: fixed;
  top: 6.55%;
  left: 0;
  width: 100%;
  z-index: 2;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  top: 6.55%;
}

@media (max-width: 767px) {
  
  
  .cd-tab-filter-wrapper {
     height: 62px; 
  }
  
  
  .cd-filter.filter-is-visible {
    width: 98%; 
  }
  
  
  
  
  
  
  
  .cd-main-content.is-fixed .cd-tab-filter-wrapper {
    top: 49px;
    background-color: #bdc3c7;
    height: 55px;

}
  
   .cd-main-content.is-fixed .cd-filter {
    top: 16.63%;
    width: 98%;
  }
  
  
  .cd-main-content.is-fixed .cd-filter-trigger {
    top: 6.65% !important;
  }
}


@media (max-width: 991px) { 
    #leftColumn {
      width: 100%;
    }   
}

.cd-main-content.is-fixed .cd-filter form {
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
  position: fixed;
  top: 7.55%;
  
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .cd-gallery {
    padding-top: 100px;
  }
}

/* -------------------------------- 

xtab-filter 

-------------------------------- */
.cd-tab-filter-wrapper {
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    z-index: 1;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  z-index: 1;
}
/* .cd-tab-filter::after {
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
} */
/* .cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #41307c;
}
.cd-tab-filter li {
  display: none;
}

.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: #41307c;
  color: #ffffff;
} */
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #41307c, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
/*   .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: right;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #41307c;
  } */
  /* create border bottom using box-shadow property 
  .cd-tab-filter a.selected {
    background: transparent;
    color: #41307c;
    
    box-shadow: inset 0 -2px 0 #41307c;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
  */
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
.cd-gallery {
  padding: 26px 5%;
  width: 100%;
}
/* .cd-gallery li {
  margin-bottom: 1.6em;
  display: inline-block;
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
transition: 1s;
  padding: 0 10px;

} */

/* .cd-gallery .border-hover {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  transition: .3s;
}

.cd-gallery .border-hover:hover {
  border-color: rgba(0,0,0, .08);
} 

.cd-gallery li.gap {
 
  opacity: 0;
  height: 0;
  display: inline-block;
}
.cd-gallery img {
  display: block;
  width: 100%;
}
.cd-gallery .cd-fail-message {
  display: none;
  text-align: center;
}*/
@media only screen and (min-width: 768px) {
  .cd-gallery {
    padding: 40px 3%;
  }
/*   .cd-gallery ul {
    text-align: justify;
  }
  .cd-gallery ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .cd-gallery li {
    width: 48%;
    margin-bottom: 2em;
  } */
}
@media only screen and (min-width: 1170px) {
  .cd-gallery {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
/*   .cd-gallery li {
    width: 23%;
  } */
  .cd-gallery.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xfilter 

-------------------------------- */
.cd-filter {
  position: absolute;
  top: 0;
  left: -20%;
  width: 280px;
/*   height: 100%; */
  background: #fff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 62px;
  width: 100%;
  background-color: #504f4f;
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  text-transform: uppercase;
  font-family: 'hurme-semibold';
  letter-spacing: .5px;
  position: absolute;
  top: 0;
  right: 0;
  height: 62px;
  line-height: 62px;
  width: 60px;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
  background: #e74c3c;
  opacity: 0;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  background: #c0392b;
}
.cd-filter.filter-is-visible {
  border-right: 1px solid #e8e8e8;
  left: 0;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
/*   box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2); */
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
    padding: 70px 10%;
  }
}

.cd-filter-trigger {
  font-family: 'hurme-semibold';
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  top: 7px;
  left: 0;
  height: 50px;
  line-height: 50px;
  text-align: center;
  text-decoration: none!important;
  width: 78%;
  padding-left: 24%;
  /* image replacement */
  overflow: hidden;
  color: black;
  background: transparent url(//cdn.shopify.com/s/files/1/1299/2659/t/11/assets/filter-icon.svg) no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    font-family: 'hurme-semibold';
    letter-spacing: 1px;
    width: auto;
    left: 2%;
    text-indent: 0;
    color: black;
    text-transform: uppercase;
    font-size: 1.3rem;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #333;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}

/* -------------------------------- 

xcustom form elements 

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #41307c;
}

.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
  font-size: 1.6rem !important;
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url(//cdn.shopify.com/s/files/1/1223/6434/t/84/assets/filter-icon.svg?92885) no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
  font-size: 1.4rem;
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
  font-size: 1.4rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url(//cdn.shopify.com/s/files/1/1223/6434/t/84/assets/filter-icon.svg?92885) no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}
.cd-filter-block input[type=radio]:checked + label::before,
.cd-filter-block input[type=checkbox]:checked + label::before {
  border-color: #41307c;
  background-color: #41307c;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}


.obs_hr {
  margin-bottom: 27px;
  border: 0;
  border-top: 1px solid #eeeeee;
  margin-top: 0px;
}



.product__inside_avail_varaints {
  margin: 0 auto;
  text-align: center;
  opacity: 0;

}

.product__inside:hover .product__inside_avail_varaints {
  opacity: 1;
}

.product__inside_avail_varaints li {
   margin-bottom: 10px;
}

.product__inside_avail_styles {
  margin-bottom: 5px;
  text-align: center;
  
}

.product__inside_avail_styles span {
  text-transform: uppercase;
  font-size: .85em;
  color: black;

}








#leftColumn {
    position: initial!important;
    padding-right: 17px!important;
    margin-top: 80px !important;
    padding-left: 30px;
    
}





.cd-tab-filter-wrapper .filters-row__select {
    padding: 10px 22px 0px 22px;
    float: right!important; 
}

.cd-tab-filter-wrapper .filters-row__select label {
    padding: 0 5px;
    font-family: 'hurme-semibold';
    font-size: .84em;
    text-transform: uppercase;
    letter-spacing: .50px;
    color: black; 
}


.cd-tab-filter-wrapper .filters-row__items {
    display: inline-block;
    padding: 20px 0px 0px 0px;
    float: right;
    font-family: 'hurme-semibold';
    font-weight: normal;
    text-transform: uppercase;
    font-size: .80em;
    letter-spacing: .50px;
    color: rgba(0,0,0, .25);
}


.cd-tab-filter-wrapper .select-wrapper .select--ys {
    border: none!important;
    
}

.cd-tab-filter-wrapper .select-wrapper .select--ys:active {
    border-color: transparent;
    
}


.select-obs {
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    background-position: right center!important;
    background-image: url("//cdn.shopify.com/s/files/1/1299/2659/files/down-arrow.png?15852345052626680932")!important;
    background-repeat: no-repeat!important;
    background-position: right 10px center!important;
    background-color: transparent;
    padding-right: 28px!important;
    text-indent: 0.01px!important;
    text-overflow: ''!important;
    cursor: pointer!important;
}


.select-wrapper:after {
    border-top: 5px solid transparent!important; 
}




@media (max-width: 991px) {
    #obs_hide_it {
        display:none; 
    }
}



.filter-is-visible > .njohn_product_grid_add_to_cart  > a {
    font-size: .65em; 
}


#leftColumn {
/*    height:663px; */
   overflow: auto;
}   







.filter-is-visible + .njohn_product_grid_img_thumbs ul li a.flex-prev:before,
.filter-is-visible + .njohn_product_grid_img_thumbs ul li a.flex-next:before {

     font-size: 10px;

}



.filters-row__select select {
	font-family: 'hurme-regular';
    text-transform: uppercase;
    font-size: .85em;
    letter-spacing: .100em;
}



#leftColumn:after {
 	background: transparent!important;
}


/* SIDE BAR PRODUCT SLIDER HOT SALES & NEW ARRIVALS */

.vertical-carousel__item__title h2 {
 	 line-height: 1.188em!important;
}


.vertical-carousel__item__image {
 	 width: 40%!important;
}


.vertical-carousel__item__title {
    width: 80%;
}

.vertical-carousel__item__title h2 a {
    font-family: "hurme-regular";
    color: black;
    font-size: .80em;
    text-decoration: none;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.vertical-carousel__item .price-box {
    margin: 0 0 0 100px;
    padding: 0 0 2px;
    font-size: 1.1em;
    color: #000000;
    text-align: left;
    font-family: 'hurme-semibold';
    font-weight: normal !important;
    letter-spacing: .03em;
}


.vertical-carousel__item .price-box .price-box__old {
 	font-weight: normal !important;
  	font-size: .85em!important;
}


/* nj */
.cd-main-content[nj-is-fixed=active] .cd-filter {
	position: fixed;
	top: 7.5%;
	left: 10%;
	width: 293px;
}

.cd-main-content[nj-is-fixed=active] .cd-tab-filter-wrapper {
	position: fixed;
	top: 7.5%;
	width: 100%;
	left: 0;
}

.cd-main-content[nj-is-fixed=active] .cd-filter-trigger {
	position: fixed;
	top: 8.5%;
	left: 11%;
}
.cd-main-content[nj-is-fixed=active] .collection-list {
	max-height: 600px;
}
.cd-main-content[nj-footer-static=active] .cd-filter,
.cd-main-content[nj-footer-static=active] .cd-tab-filter-wrapper,
.cd-main-content[nj-footer-static=active] .cd-filter-trigger {
	visibility: hidden;
}
