.moto_forms label {
 	letter-spacing: .05em;
    font-size: .90em;
    text-transform: uppercase;
  	/*font-family: 'hurme-regular';*/
  	font-weight: 600;
}


.moto_error_send,
.moto_success_send {
    width: auto;
    padding: 5px 7px;
    font-style: italic;
    font-weight: bold;
}
.moto_success_send {
    color: rgb(138, 221, 138);
}
.moto_error_send {
    color: rgb(246, 115, 115);
}



.moto_forms .form-control {
   border-color: #807d7d;
   color: black !important;
   letter-spacing: .05em;
   font-size: 0.90em;
}


.njohn_contact_all {
    margin-top: 50px;
    font-weight: 500;
}
.njohn_contact_info {
    width: 50%;
    float: left;
    text-transform: uppercase;
}
.njohn_contact_form {
    width: 50%;
    float: left;
}

.njohn_contact_info span {
    font-size: 20px;
    color: black;
}

.njohn_contact_info ul {
    list-style: none;
    padding: 0;
}


.njohn_contact_fields input {
    width: 100%;
    margin-bottom: 10px;
    background-color: white;
}

.njohn_contact_fields select{
    width: 100%;
    margin-bottom: 10px;
    height: 33px;
}

.njohn_contact_fields textarea {
    resize: none;
    width: 100%;
    height: 300px;
}

.njohn_contact_fields button {
    max-width: 200px;
    width: 100%;
    background: black;
    color: white;
    border: 2px solid black;
    border-radius: 0;
    transition: .3s;
    margin-top: -5px;
}

.njohn_contact_fields button span {
    font-size: 20px;
    font-weight: bold;
}
.njohn_contact_fields button:hover {
	background: #232222;
    color: white;
    border: 2px solid #232222;
}

.njohn_contact_form .njohn_contact_form_label {
    color: #333333;
    letter-spacing: .05em;
    font-size: .90em;
    text-transform: uppercase;
}


.njohn_contact_fields input,
.njohn_contact_fields select,
.njohn_contact_fields textarea {
    border: 1px solid #c1c1c1;
    /* font-size: 20px; */
    transition: .5s;
    text-transform: uppercase;
    border-color: #807d7d;
    color: black !important;
    letter-spacing: .05em;
    font-size: 0.90em;
}

.njohn_contact_fields input,
.njohn_contact_fields textarea {
    padding: 5px 0px 5px 10px;
}

.njohn_contact_fields select {
    padding: 0px 0px 0px 6px;
    height: 47px;
  	text-transform: uppercase;
}

.njohn_contact_fields input:focus,
.njohn_contact_fields select:focus,
.njohn_contact_fields textarea:focus {
    border: 2px solid #656565;
}


.njohn_contact_fields input,
.njohn_contact_fields textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  text-transform: uppercase;
  border-color: #807d7d;
  color: black !important;
  letter-spacing: .05em;
  font-size: 0.90em;
}

.njohn_contact_fields input,
.njohn_contact_fields textarea::-moz-placeholder { /* Firefox 19+ */
  color: grey !important;
  text-transform: uppercase;
}
.njohn_contact_fields input,
.njohn_contact_fields textarea:-ms-input-placeholder { /* IE 10+ */
  color: grey !important;
  text-transform: uppercase;
}
.njohn_contact_fields input,
.njohn_contact_fields textarea:-moz-placeholder { /* Firefox 18- */
  color: grey !important;
  text-transform: uppercase;
}

.njohn_contact_page_title {
    text-align: center;
    margin: 20px;
}

.njohn_contact_page_title h1 {
    font-weight: 500;
    color: black;
	text-transform: uppercase; 
}



@media (max-width: 991px) {
    .njohn_contact_info {
        width: 100%;
    }
    .njohn_contact_form {
        width: 100%;
    }
}