/* -------------------------------- 

Slider

-------------------------------- */

.davz-slider-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.7;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
}


.davz-hero {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.davz-hero-slider {
  position: relative;
  height: 360px;
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.davz-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.davz-hero-slider li.selected {
  /* this is the visible slide */
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.davz-hero-slider li.move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.davz-hero-slider li.is-moving, .davz-hero-slider li.selected {
  /* the is-moving class is assigned to the slide which is moving outside the viewport */
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
@media only screen and (min-width: 768px) {
  .davz-hero-slider {
    height: 500px;
  }
}
@media only screen and (min-width: 1170px) {
  .davz-hero-slider {
    height: 500px;
  }
}

/* -------------------------------- 

Single slide style

-------------------------------- */
.davz-hero-slider li {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}





.davz-hero-slider li:first-of-type {
  background-color: #2c343b;
  background-image: url("https://cdn.shopify.com/s/files/1/1299/2659/files/Arai-Slider-Mobile.jpg?7427500718300366883");
}


.davz-hero-slider li:nth-of-type(2) {
  background-color: #3d4952;
  background-image: url("https://cdn.shopify.com/s/files/1/1299/2659/files/Fox-Slider-Mobile.jpg?8124021515222288539");
}


.davz-hero-slider li:nth-of-type(3) {
  background-color: #586775;
  background-image: url("https://cdn.shopify.com/s/files/1/1299/2659/files/HJC-Slider-Mobile.jpg?7427500718300366883");
}


.davz-hero-slider li:nth-of-type(4) {
  background-color: #2c343b;
  background-image: url("../assets/video-replace-mobile.jpg");
}
.davz-hero-slider li:nth-of-type(5) {
  background-color: #2c343b;
  background-image: url(../assets/img.jpg);
}
.davz-hero-slider .davz-full-width,
.davz-hero-slider .davz-half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  /* this padding is used to align the text */
  padding-top: 100px;
  text-align: center;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.davz-hero-slider .davz-img-container {
  /* hide image on mobile device */
  display: none;
}
.davz-hero-slider .davz-img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.davz-hero-slider .davz-bg-video-wrapper {
  /* hide video on mobile device */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


@media only screen and (min-width: 1024px) {
  .davz-hero-slider .davz-bg-video-wrapper img {
	width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 966px) {
  .davz-hero-slider .davz-bg-video-wrapper {
   	  display: block;
  }
}

/* you won't see this element in the html, but it will be injected using js 
.davz-hero-slider .davz-bg-video-wrapper video {
  
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
*/

.davz-hero-slider h2, .davz-hero-slider p {
  text-transform: uppercase;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #ffffff;
  width: 100%;
  
  max-width: 400px;
}

.davz-hero-slider h2 {
 	font-family: 'hurme-bold';
  	text-transform: uppercase;
  	letter-spacing: .130em
}
.davz-hero-slider h2 {
  font-size: 2.4rem;
}
.davz-hero-slider p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.davz-hero-slider .davz-btn {
  position: relative;
  bottom: -57%;
  text-decoration: none;
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  background-color: white;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: black;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.davz-hero-slider .davz-btn.secondary {
  background-color: rgba(22, 26, 30, 0.8);
}
.davz-hero-slider .davz-btn:nth-of-type(2) {
  margin-left: 1em;
}
.no-touch .davz-hero-slider .davz-btn:hover {
  background-color: rgba(22, 26, 30, 0.8);
  color: white;
}
.no-touch .davz-hero-slider .davz-btn.secondary:hover {
  background-color: #161a1e;
}
@media only screen and (min-width: 768px) {
/*   .davz-hero-slider li:nth-of-type(2) {
    background-image: none;
  }
  .davz-hero-slider li:nth-of-type(3) {
    background-image: none;
  }
  .davz-hero-slider li:nth-of-type(4) {
    background-image: none;
  } */
  .davz-hero-slider .davz-full-width,
  .davz-hero-slider .davz-half-width {
    padding-top: 150px;
  }
/*   .davz-hero-slider .davz-bg-video-wrapper img {
    height: 100%;
    width: 100%;
  } */
  .davz-hero-slider .davz-half-width {
    width: 45%;
  }
  .davz-hero-slider .davz-half-width:first-of-type {
    left: 5%;
  }
  .davz-hero-slider .davz-half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .davz-hero-slider .davz-img-container {
    display: block;
  }
  .davz-hero-slider h2, .davz-hero-slider p {
    max-width: 650px;
  }
  .davz-hero-slider h2 {
    font-size: 2.4em;
    font-weight: 300;
  }
  .davz-hero-slider .davz-btn {
    font-size: 1.4rem;
  }
}
@media only screen and (min-width: 1170px) {
  .davz-hero-slider .davz-full-width,
  .davz-hero-slider .davz-half-width {
    padding-top: 180px;
  }
  .davz-hero-slider h2, .davz-hero-slider p {
    margin-bottom: 20px;
  }
  .davz-hero-slider h2 {
    font-size: 3.2em;
  }
  .davz-hero-slider p {
    font-size: 1.6rem;
  }
}

/* -------------------------------- 

Single slide animation

-------------------------------- */






/* -------------------------------- 

Slider navigation

-------------------------------- */
.davz-slider-navigation li {
  position: absolute;
  z-index: 3;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  height: 48px;
  width: 48px;
}
.davz-slider-navigation li a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  background: url("https://cdn.shopify.com/s/files/1/1299/2659/files/davz-icon-arrows.svg?5764855814562816268") no-repeat 0 0;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}
.no-touch .davz-slider-navigation li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.davz-slider-navigation li:last-of-type {
  left: 10px;
  right: auto;
}
.davz-slider-navigation li:last-of-type a {
  background-position: -48px 0;
}














/* -------------------------------- 

Slider navigation

-------------------------------- */
.davz-slider-nav {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 38px;
  /* background-color: rgba(0, 1, 1, 0.5); */
}
.davz-slider-nav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}
.davz-slider-nav nav, .davz-slider-nav ul, .davz-slider-nav li, .davz-slider-nav a {
  height: 100%;
}
.davz-slider-nav nav {
  display: inline-block;
  position: relative;
}
.davz-slider-nav .davz-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  color: black;
  background-color: #ffffff;
  box-shadow: inset 0 5px 0 currentColor;
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
}
.davz-slider-nav .davz-marker.item-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.davz-slider-nav .davz-marker.item-3 {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.davz-slider-nav .davz-marker.item-4 {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}
.davz-slider-nav .davz-marker.item-5 {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  -o-transform: translateX(400%);
  transform: translateX(400%);
}
.davz-slider-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.davz-slider-nav li {
  display: inline-block;
  width: 60px;
  float: left;
}
.davz-slider-nav li.selected a {
  color: #2c343b;
}
.no-touch .davz-slider-nav li.selected a:hover {
  background-color: transparent;
}
.davz-slider-nav a {
  display: block;
  position: relative;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #a8b4be;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.davz-slider-nav a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../assets/davz-icon-navigation.svg) no-repeat 0 0;
}
.no-touch .davz-slider-nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
}

.davz-slider-nav li:nth-of-type(5) a::before,
.davz-slider-nav li:nth-of-type(4) a::before,
.davz-slider-nav li:nth-of-type(3) a::before,
.davz-slider-nav li:nth-of-type(2) a::before,
.davz-slider-nav li:first-of-type a::before {
  background-position: 0 0;
}

.davz-slider-nav li.selected:nth-of-type(5) a::before,
.davz-slider-nav li.selected:nth-of-type(4) a::before,
.davz-slider-nav li.selected:nth-of-type(3) a::before,
.davz-slider-nav li.selected:nth-of-type(2) a::before,
.davz-slider-nav li.selected:first-of-type a::before {
  background-position: 0 -24px;
}


@media only screen and (min-width: 768px) {
  .davz-slider-nav {
    height: 48px;
  }
  .davz-slider-nav .davz-marker,
  .davz-slider-nav li {
    width: 50px;
  }
  .davz-slider-nav a {
    padding-top: 48px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .davz-slider-nav a::before {
    top: 14px;
  }
  .davz-slider-nav .selected a::before {
    top: 12px;
  }
}
