.wall-list-menu ul li a{
  text-transform: uppercase;
  background: transparent;
  padding: 15px 30px;
  font-family: Roboto;
  font-weight: 400;
  text-decoration: none;
  color: #6d6d6d;
  transition: .5s;
  display: block;
  width: 100%;
  font-size: 1.2em;
}
.wall-list-menu ul li a:hover, .wall-list-menu ul li a:focus{
  color: #000000;

}
.wall-list-menu{
  margin: 2vw 0vw;
}
.brand-walls{
  background-color:#ffffff;
}
.store_wall_logo {
  max-height: 100px;
  margin: 0 auto;
}

.obs_lookbook_banner_slider-items {
  height: 360px;
}

.vendor_store_wall #history p {
  font-family: 'hurme-regular';
}


.wall-brand-desc-content {
  display:block;
  text-align:justify;
  font-weight: 400;
  margin-top: 40px;
  letter-spacing: 1px;
  line-height: 2em;

}


.wall-see-more-desc {
  text-align:center; 
  padding-top: 10px;
}


.wall-see-more-desc a {
  text-transform: uppercase;
  /* font-family: 'hurme-regular'; */
  font-size: .70em;
  color: #fff;
  background-color: black;
  padding: 10px 15px;
  transition: .1s;
}

.wall-see-more-desc a:focus {
  color: #fff;
}

.wall-see-more-desc a:hover {
  background-color: #333;
  color: #fff;
}


.tooltip-inner {
  white-space: pre;
  max-width: none;
}

.cd-section ul li a[nj="zero"]:after {
  display: inline;
  vertical-align: middle;
  float: right;
  color: #f54c4c;
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\e643";
  font-size: 1.45em;
  transition: all .5s ease 0s;
  position: relative;
  top: -5px;
}

.cd-section ul li a[nj="zero"]:hover {
  color: #232222;
}


.moto_catagory {
  border-bottom: 1px solid #e5e5e500;
}

@media (max-width: 1298px) {
  .store_wall_logo {
    max-height: 100px;
  }



  .obs_store_wall_slider-margin-top {
    margin-top: -17px; 
  }

}


/* more lookbook sli*/


.obs_lookbook_banner_slider div img {

  max-width: 100%;

}

.obs_lookbook_banner_slider div {
  margin: 10px;
}

.obs_lookbook_banner_slider .slick-arrow {
  opacity: 0;
}


.obs_lookbook_banner_slider .slide-caption{
  width: 100%;
  max-width: 600px;
  font-family: 'hurme-semibold';
  position: absolute;
  z-index: 2;
  background:rgba(0, 0, 0, .7);
  color:white;
  font-size: .95em;
  font-weight: 600;
  letter-spacing:1px;
  padding: 10px 15px;
  bottom: 15%;
  text-transform: uppercase;
}



@media screen and (min-width: 320px) {
  .banner .figcaption .size40 {
    font-size: 1em!important;
  }
  .vendor_store_wall .banner_btn {
    width: 150px;
  }
  .banner_btn {
    font-size: .75em!important;
  }
  .vendor_store_wall .banner .block-table-cell {
    padding: 0 25px;
  }
  .vendor_store_wall .banner .figcaption .size40 {
    padding: 5px 0;
  }
  .store_wall_logo {
    max-height: 100%;
  }
  .obs_lookbook_banner_slider .slide-caption {
    width: 91%;
    position: relative;
    font-size: .75em;
    font-family: 'hurme-regular';
  }
}
@media screen and (min-width: 1025px) {
  .banner .figcaption .size40 {
    font-size: 22px!important;
  }
  .banner_btn {
    font-size: 1em!important;
  }
  .vendor_store_wall .banner_btn {
    width: 200px;
  }
  .vendor_store_wall .banner .figcaption .size40 {
    padding: 15px 0;
  }
  .vendor_store_wall .banner .block-table-cell {
    padding: 0 75px; 
  }
  .store_wall_logo {
    max-height: 100px;
  }
  .obs_lookbook_banner_slider .slide-caption {
    position: absolute;
    font-size: .95em;
    font-family: 'hurme-semibold';
    width: 100%;
  }
}




.davz_wall_collection_title {
  margin-bottom: 1.1em;
  padding: 10px 5px 10px 5px;
  background-color: #222;
}


.davz_wall_collection_title {
  color: white;
  /* font-family: "hurme-semibold"; */
  letter-spacing: .110em;
  font-size: .95em
}


.davz_wall_collection_title a {
  color: white;
  /*font-family: "hurme-semibold";*/
  letter-spacing: .110em;
  font-size: .95em
}

.davz_wall_collection_list li {
  margin: 5px 0; 
  border-left: solid transparent;
  transition: all .5s ease 0s;
  padding: 0;
}

.davz_wall_collection_list li:before {
  display: inline;
  vertical-align: middle;
  float: left;
  color: black;
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\e019";
  font-size: .80em;
  transition: all .5s ease 0s;
  position: relative;
  top: 7px;
}


.womens_coll .davz_wall_collection_list li:before {
  color: violet;
}


.boys_coll .davz_wall_collection_list li:before {
  color: blue;
}

.girls_coll .davz_wall_collection_list li:before {
  color: pink;
}

.kids_coll .davz_wall_collection_list li:before {
  color: green;
}
.davz_wall_collection_list li a {
  /* font-family: "hurme-regular"; */
  text-transform: uppercase;
  font-size: .90em;
  color: #222;
  letter-spacing: .110em;
  display: block;
  width: 100%;
  transition: all .5s ease 0s;
  padding: 5px;
  margin-left: 18px;

}


.davz_wall_collection_list li a:hover {
  /* font-family: "hurme-semibold"; */
  font-weight: 600;
  margin-left: 20px;
}



@media screen and (min-width: 320px) {
  .mobile-collapse__title:before {
    color: white;
    top: 10px;
    right: 5px;
  }
  .davz_wall_collection_title {
    margin-bottom: 1.5em!important;
  }
  .davz_wall_collection_title a {
    font-size: .80em;
  }

}

@media screen and (min-width: 1025px) {
  .davz_wall_collection_title a {
    font-size: .95em;
  }

}


.wall-brand-desc-content p {
  color: black; 
}


.empty_collection:after {
  display: inline;
  vertical-align: middle;
  float: right;
  color: #f54c4c;
  font-family: 'Material Icons';
  -webkit-font-feature-settings: 'liga';
  content: "\e643";
  font-size: 1.45em;
  transition: all .5s ease 0s;
  position: relative;
  top: -5px;
}





.moto_wall_sub_title {
  /*font-family: "hurme-bold";*/
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.35em;
}



.moto_wall_menu {
  position: relative;
  right: 26%;
}













/* BANNER GRID SLIDER IN MOBILE */



.black-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  z-index: 2;
  transition: all.2s ease-in-out;
  display: none;
}
.holiday-gift-slider-sub .holiday-gift-slider-content img {
  width: 100%;
  height: 540px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.5;
}
.holiday-gift-slider-sub .holiday-gift-slider-content:hover img {
  opacity: 1;
}
.holiday-gift-slider-sub .holiday-gift-slider-content:hover .black-bg {
  opacity: 0;
}
.holiday-gift-slider-content {
  position: relative;
  height: 540px;
  background-color: black;
  width: 100%;
  float: left;
  border-radius: 0;
  margin-right: 0px;
  transition: all.2s ease-in-out;
  margin-top: 50px;
}
/* .holiday-gift-slider-content:hover {
height: 540px;
margin-top: 3px;
} */
/* .holiday-gift-slider-sub .holiday-gift-slider-content,
.holiday-gift-slider-content:hover .holiday-gift-slider-content-footer {
visibility: visible;
opacity: 1;
transition: all.2s ease-in-out;
} */
.holiday-gift-slider-content .holiday-gift-slider-content-footer {
  background: rgba(0,0,0, .5);
  position: absolute;
  width: 100%;
  visibility: visible;
  opacity: 1;
  bottom: 0;
  color: #fff;
  font-size: 14px;
}
.holiday-gift-slider-content .holiday-gift-slider-content-footer h3 {
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 2px;
  /* font-family: 'hurme-bold'; */
  color: white;
  text-transform: uppercase;
}
.holiday-gift-slider-content .holiday-gift-slider-content-footer h3:before {
  width: 60px;
  height: 5px;
  background: #fff;
  content: "";
  display: block;
  margin-bottom: 20px;
}
.holiday-gift-slider-content .holiday-gift-slider-content-footer h5 {
  margin: 0;
  padding: 0 0 15px 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  font-family: 'hurme-bold';
  color: white;
  text-transform: uppercase;
}
.holiday-gift-slider-content .holiday-gift-slider-content-footer p {
  color: #c4c4c4;
  font-family: 'hurme-semibold';
}
.holiday-gift-slider-content .holiday-gift-slider-content-footer-content-block {
  padding: 30px 30px 30px 30px;
  transform: translateY(-20%);
  transition: all .2s ease-in-out;
  opacity: 1;
  visibility: visible;
}
/* .holiday-gift-slider-content:hover .holiday-gift-slider-content-footer-content-block {
transform: translateY(0);
opacity: 1;
visibility: visible;
} */
.holiday-gift-slider-content .white-btn {
  /* font-family: 'hurme-bold'; */
  font-weight: 600;
  background: #fff;
  color: #000;
  padding: 15px 10px;
  position: absolute;
  bottom: 0px;
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  z-index: 99;
  letter-spacing: 2px;
  visibility: hidden;
  opacity: 0;
  transition: all.2s ease-in-out;
  border-bottom: 5px solid black;
}
.holiday-gift-slider-content:hover .white-btn {
  background: #fff;
  color: #000;
  padding: 15px 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0px;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  z-index: 999;
  transition: all.2s ease-in-out;
  visibility: visible;
  opacity: 1;
}



.moto_store_wall_all .wall_shop_btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  /*font-family: 'hurme-bold';*/
  font-weight: 600;
  font-size: 1.2em!important;
  letter-spacing: .150em;
  background-color: rgba(0,0,0, .60);
  text-align: left;
}
@media(max-width:424px)
{
  .moto_store_wall_all .wall_shop_btn {
    font-size:.7em!important; 
  }
}

@media(min-width:425px) and (max-width:1439px)
{
  .moto_store_wall_all .wall_shop_btn {
    font-size:.9em!important; 
  }
}

.moto_store_wall_all .wall_shop_btn:hover {
  background-color: rgba(0,0,0, 1);
}

.moto_store_wall_all .figure .figcaption:hover .wall_shop_btn em {
  opacity: 1;
  visibility: visible;
  right: 0;
}


@media (min-width: 320px) {
  .moto_store_wall_all .wall_shop_btn em {
    opacity: 1;
    visibility: visible;
    font-size: .60em;
    float: none;
    display: block;

  }
}
@media (min-width: 1025px) {
  .moto_store_wall_all .wall_shop_btn em {
    font-size: .85em;
    font-style: normal;
    position: absolute;
    right: -144px;
    bottom: 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.moto_store_wall_all .wall_shop_btn em:after {
  display: inline;
  vertical-align: middle;
  float: right;
  color: white;
  font-family: 'simple-line-icons';
  -webkit-font-feature-settings: 'liga';
  content: "\e606";
  font-size: 1.45em;
  transition: all .5s ease 0s;
  position: relative;
  top: 0px;
}



@media (max-width: 767px) {
  .moto_store_wall_all .mobile-collapse {
    border-bottom: none!important;
  }


}



.njohn_search_otherpage {
  display: inline-block;
  width: 243px;
  margin: 10px 15px;
  border: 1px solid white;
  padding: 10px;
}
.njohn_search_otherpage:hover {
  border: 1px solid #cccccc;
}
.njohn_search_otherpage a {
  text-decoration: none;
}
.njohn_search_otherpage div:first-child img {
  width: 100%;
}
.njohn_search_otherpage div:last-child {
  font-family: 'hurme-semibold';
  font-size: .80em;
  text-transform: uppercase;
  color: black;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-align: center;
  padding: 10px 0 0 0;
  letter-spacing: .115em;
}

/* NATHAN STARTS HERE */
/* DOUBLE LINE TITLE -Nath */

#dmore-lb a:before{
  content:"View More Lookbooks";
}

.njohn-label_header_n {
  margin-top: 30px;
  margin-bottom: 20px;
}

.rfk_header_n {
  color: #000;
  line-height: 1;
  font-weight: 600;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .125ex;
  padding: 1px 1em;
  margin-top: 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 0px;
  margin-bottom: 1%;
}

.rfk_header_n .wall_label_n {
  position: relative;
  top: -16px;
  background: #fff;
  padding: 0 10px;
}

@media (max-width: 991px) {
  .rfk_header_n{
    margin-bottom: 11%;
  }
}
@media (max-width: 991px) {
  #dmore-lb a:before {
    display:block;
    content:"View More >";
  }
}


.wall-list-menu ul {
  list-style: none;
  margin-top: 20px;
  padding: 0;
  text-align: center;
  width:100%;
}


.wall-list-menu ul li {
  display: inline-block;
  margin: 3px 2px;
  width:16.15%
}

/* .wall-list-menu ul li a {
text-transform: uppercase;
background: black;
padding: 15px 30px;
font-family: Roboto;
font-weight: Normal;
text-decoration: none;
border-style: solid;
border-color: #fb4a4a;
border-width: 0 0 3px 0;
color: white;
transition: .2s;
display: block;
width: 100%;

}
*/
@media (max-width:1439px){
  .wall-list-menu ul li a{
    font-size:.8em; 
  }
}



.TeaserGrid-heading {
  color: #000;
  font-size: 0.90em;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: bold;
}


.davz_wall_collection_title a:hover{
  color: #fb4a4a;
}
.information-title{
  background-color:black;
  color:white;
  width:100%;
  padding:10px 0px;
  text-transform:uppercase;

}

.information-holder a{
  margin-bottom:5px;
  font-weight:normal;
  color:black;
  animation-name:information-links-off-hover;
  animation-duration:.3s;
  animation-fill-mode:forwards;
  animation-timing-function: linear;
}

.information-holder a:hover{
  animation-name:information-links;
  animation-duration:.3s;
  animation-fill-mode:forwards;
  animation-timing-function: linear;

}

@keyframes information-links{

  from{font-weight:normal;color:black;}
  to{font-weight:bold;color:#fb4a4a;}

}

@keyframes information-links-off-hover{

  from{font-weight:bold;color:#fb4a4a;}
  to{font-weight:normal;color:black;}


}
.faded-hr{
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.information-holder li{
  padding:24px;
  border-bottom: 1px solid #cecbcbb8;
  text-transform:uppercase;
  letter-spacing:2px;

}



/* 9/15/18 Brand Wall Edits */

.brand-wall-left-side-banner, .brand-wall-right-side-banner{
  overflow:hidden;
}

.brand-wall-left-side-banner img, .brand-wall-right-side-banner img{
  transition: all 3s;
}


.brand-wall-left-side-banner img:hover, .brand-wall-right-side-banner img:hover{

  transform:scaleX(1.025);  
}


.scorpion-helmets-st0{
  display:none;
}
.scorpion-helmets-st1{
  stroke:#6b6b6b;
  stroke-width: 5;
  stroke-miterlimit: 10;
  fill:none;
  transition: all .5s;

}
.scorpion-helmets-st2{
  display:none;
  fill:#FFFFFF;
  stroke:#6b6b6b;
  stroke-miterlimit:10;
  transition: all .5s;
}
.helmet-collections{
  transition: all .5s;

}
.helmet-collections:hover{
}
#helmet-collections a:hover,#helmet-collections a:focus, #jacket-collections a:hover,#jacket-collections a:focus, #gloves-collections a:hover,#gloves-collections a:focus,#pants-collections a:hover,#pants-collections a:focus {
  text-decoration:none;
}

.helmets-text, .jackets-text, .gloves-text, .pants-text{
  color: #3a3a3a;
  transition: all .5s;

}


.scorpion-jackets-st0{
  display:none;

}
.scorpion-jackets-st1{
  display:inline;
  fill:none;
  stroke:#6b6b6b;
  stroke-width:4;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-jackets-st2{
  display:inline;
  fill:none;
  stroke:#6b6b6b;
  stroke-width:5;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-jackets-st3{
  display:inline;
  fill:none;
  stroke:#6b6b6b;
  stroke-width:2;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-jackets-st4{
  fill:none;
  stroke:#6b6b6b;
  stroke-width:5;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-jackets-st5{
  fill:none;
  stroke:#6b6b6b;
  stroke-width:2;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-jackets-st6{
  fill:none;
  stroke:#6b6b6b;
  stroke-width:3;
  stroke-miterlimit:10;
  transition: all .5s;
}

.scorpion-gloves-st3{
  fill:none;
  stroke:#6b6b6b;
  stroke-width:5;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-gloves-st4{
  fill:none;
  stroke:#6b6b6b;
  stroke-width:2;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-gloves-st5{
  fill:none;
  stroke:#6b6b6b;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-gloves-st7{
  fill:none;
  stroke:#6b6b6b;
  stroke-width:0.5;
  stroke-miterlimit:10;
  transition: all .5s;
}

.scorpion-pants-st1{
  fill:none;
  stroke:#6b6b6b;
  stroke-width:5;
  stroke-miterlimit:10;
  transition: all .5s;
}
.scorpion-pants-st2{
  fill:none;
  stroke:#6b6b6b;
  stroke-width:2;
  stroke-miterlimit:10;
  transition: all .5s;
}

.material-icons{
  vertical-align:middle; 
}
.more-info-title a{
  font-size: 1.1em;
  font-weight: 500;
  color:#3c3b3b;
  letter-spacing: 1px;
  text-decoration:none;
  transition: all .5s;

}

.more-info-title a:hover{
  color: black;
}

.product-care{
 padding:40px 0px; 
 border-bottom: 1px solid #bbbbbb;
}
.more-info-content{
 display:none; 
 margin-top: 2%;
}

/* .nav-active::after{
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  transition: width .3s;
  color:black;
} */

.wall-list-menu ul li a::after{
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #000;
  transition: width .3s;
}
.wall-list-menu ul li a:hover::after, .wall-list-menu ul li a:focus::after{
  width: 100%;
}
.hidden-content{
 display:none; 
}
.fade-background{
  position: absolute;
  width: 100%;
  background-color: #00000061;
  height: 100%;  
  transition: all .5s;
}
.thor-mx-collection-background{
  position: absolute;
  width: 100%;
  background-color: #00000000;
  height: 100%;  
  transition: all .5s; 
}

.collection-background{
  position: relative;
  background-color: black; 
  cursor: pointer;
  overflow:hidden;
}
.fox-collection-text{
  position: absolute;
  top: 12vw;
  margin: auto;
  width: 100%;
  color: white;
  z-index: 9;
  font-weight: 600;
  letter-spacing: 2px;
  padding:20px 0px;
  overflow:hidden;
}
.fox-collection-text::after{
  background-color: #000000c4;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(100%);
  transition:all .5s;
}
.fox-collection-text.active::after{
  background-color: #000000c4;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0%);
  transition:all .5s;
}
.collection-text::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(100%);
  transition:all .5s;
}
.collection-text.active::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0%);
  transition:all .5s;
}

.collection-text{
  position: absolute;
  top: 12vw;
  margin: auto;
  width: 100%;
  color: white;
  z-index: 9;
  font-weight: 600;
  letter-spacing: 2px;
  padding:20px 0px;
  overflow:hidden;
}
.collection-text-col-4{
  position: absolute;
  top: 5vw;
  margin: auto;
  width: 100%;
  color: white;
  z-index: 9;
  font-weight: 600;
  letter-spacing: 2px;
  padding:20px 0px;
  overflow:hidden;
}

.collection-text-col-4::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(100%);
  transition:all .5s;
}

.collection-text-col-4.active::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0%);
  transition:all .5s;
}


.collection-text-col-4-2{
  position: absolute;
  top: 4vw;
  margin: auto;
  width: 100%;
  color: white;
  z-index: 9;
  font-weight: 600;
  letter-spacing: 2px;
  padding:20px 0px;
  overflow:hidden;
}

.collection-text-col-4-2::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(100%);
  transition:all .5s;
}

.collection-text-col-4-2.active::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0%);
  transition:all .5s;
}

.mobile-collection-text::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(100%);
  transition:all .5s;
}
.mobile-collection-text.active::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0%);
  transition:all .5s;
}
.mobile-collection-text{
    position: absolute;
    top: 42vw;
    margin: auto;
    width: 100%;
    color: white;
    z-index: 9;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px 0px;
    overflow: hidden;
}

.two-mobile-collection-text::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(100%);
  transition:all .5s;
}
.two-mobile-collection-text.active::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0%);
  transition:all .5s;
}
@media(max-width:334px){
.two-mobile-collection-text{
    position: absolute;
    top: 34vw;
    margin: auto;
    width: 100%;
    color: white;
    z-index: 9;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px 0px;
    overflow: hidden;
}
}
@media(min-width:335px){
  .two-mobile-collection-text{
    position: absolute;
    top: 42vw;
    margin: auto;
    width: 100%;
    color: white;
    z-index: 9;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px 0px;
    overflow: hidden;
  } 
}
.collection-text-holder{

  position: relative;
  text-align:  center;
  width: 100%;

}
.thor-mx-big-collection-text
{
  position: absolute;
  top: 11vw;
  margin: auto;
  width: 100%;
  color: white;
  z-index: 9;
  font-weight: 600;
  letter-spacing: 2px;
  padding:20px 0px;
  overflow:hidden;
}

.thor-mx-big-collection-text::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(100%);
  transition:all .5s;
}
.thor-mx-big-collection-text.active::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0%);
  transition:all .5s;
}


.thor-mx-small-vertical-collection-text{
  position: absolute;
  top: 4.5vw;
  margin: auto;
  width: 100%;
  color: white;
  z-index: 9;
  font-weight: 600;
  letter-spacing: 2px;
  padding:20px 0px;
  overflow:hidden;
}
.thor-mx-big-vertical-collection-text
{
  position: absolute;
  top: 18vw;
  margin: auto;
  width: 100%;
  color: white;
  z-index: 9;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 20px 0px;
  overflow: hidden;
}

.thor-mx-big-vertical-collection-text::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(100%);
  transition:all .5s;
}
.thor-mx-big-vertical-collection-text.active::after{
  background-color: #B1B1B1;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: translate(0%);
  transition:all .5s;
}
.hot-sale-banner-holder{
 overflow:hidden; 
}
.hot-sale-banner{
transition: all 2.75s linear;
overflow:hidden;
}
.hot-sale-banner:hover{ 
  transform:scale(1.02);
}
.collection-background-hotsale{
    position: relative;
    background-color: black;
    cursor: pointer;
    overflow: hidden;
  transition: all 8s linear;
}
.collection-background-hotsale:hover{
	transform: scale(1.05);
}

@media(min-width:1024px){
  .thormx-1024-divider{
    height:20.01px;
  }
}
@media(min-width:1440px){
  .thormx-1024-divider{
    height:25px; 
  }
}
@media(min-width:1770px){
  .thormx-1024-divider{
    height:30px; 
  }
}