/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* -------------------------------- 

Slider

-------------------------------- */
.moto-cd-hero {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moto-cd-hero-slider {
  position: relative;
  height: 360px;
  overflow: hidden;
}

.moto-cd-hero ul,
.moto-cd-hero ul li,
.moto-cd-hero {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.moto-cd-hero ul,
.moto-cd-hero ol {
   list-style: none;
}

/*
.moto-cd-hero:hover .moto-cd-slider-arrows li a {
  display: block;
} */

.moto-cd-hero-slider li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.moto-cd-hero-slider li.selected {
  /* this is the visible slide */
  position: relative;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.moto-cd-hero-slider li.move-left {
  /* slide hidden on the left */
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.moto-cd-hero-slider li.is-moving, .moto-cd-hero-slider li.selected {
  /* the is-moving class is assigned to the slide which is moving outside the viewport */
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}
@media only screen and (min-width: 768px) {
  .moto-cd-hero-slider {
    height: 500px;
    width:50%;
  }
}
@media only screen and (min-width: 1170px) {
  .moto-cd-hero-slider {
    height: 500px;
    width:50%;
  }
}

/* -------------------------------- 

Slider navigation arrows

-------------------------------- */
.moto-cd-slider-arrows li {
  position: absolute;
  z-index: 3;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 46%;
  height: 48px;
  width: 48px;
}
.moto-cd-slider-arrows li a {
  display: block;
  height: 100%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  background: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-cd-icon-arrows.svg?13156864999543153175") no-repeat 0 0;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  /*display: none;*/
}
.no-touch .moto-cd-slider-arrows li a:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.moto-cd-slider-arrows li:last-of-type {
  left: 10px;
  right: auto;
}
.moto-cd-slider-arrows li:last-of-type a {
  background-position: -48px 0;
}

/* -------------------------------- 

Single slide style

-------------------------------- */
.moto-cd-hero-slider li {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.moto-cd-hero-slider li:first-of-type {
  background-color: #2c343b;
}
.moto-cd-hero-slider li:nth-of-type(1) {
  background-color: #3d4952;
  background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-holiday-gift-guide3.jpg?1044570518462745439");
}
.moto-cd-hero-slider li:nth-of-type(2) {
  background-color: #3d4952;
  background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-black-firday.jpg?17677303099078227451");
}
.moto-cd-hero-slider li:nth-of-type(3) {
  background-color: #586775;
  background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-winter-is-coming.jpg?2103678527110108767");
}

.moto-cd-hero-slider li:nth-of-type(4) {
  /*background-color: #2c343b;
  background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-banner-shoes-sale.jpg?11989030948889586576");*/
} 

/*
.moto-cd-hero-slider li:nth-of-type(5) {
  background-color: #2c343b;
  background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/holiday-sale-blue.jpg?4029469446031983057");
}
*/


.moto-cd-hero-slider .moto-cd-full-width,
.moto-cd-hero-slider .moto-cd-half-width {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  /* this padding is used to align the text */
  padding-top: 100px;
  text-align: center;
  /* Force Hardware Acceleration in WebKit */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.moto-cd-hero-slider .cd-img-container {
  /* hide image on mobile device */
  display: none;
}
.moto-cd-hero-slider .cd-img-container img {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.moto-cd-hero-slider .cd-bg-video-wrapper {
  /* hide video on mobile device */
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.moto-cd-hero-slider .cd-bg-video-wrapper video {
  /* you won't see this element in the html, but it will be injected using js */
  display: block;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
  height: auto;
  width: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.moto-cd-hero-slider h2, .moto-cd-hero-slider p {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  line-height: 1.2;
  margin: 0 auto 14px;
  color: #ffffff;
  width: 90%;
  max-width: 400px;
}
.moto-cd-hero-slider h2 {
  font-size: 2.4rem;
}
.moto-cd-hero-slider p {
  font-size: 1.4rem;
  line-height: 1.4;
}
.moto-cd-hero-slider .cd-btn {
  display: inline-block;
  padding: 1.2em 1.4em;
  margin-top: .8em;
  background-color: rgba(212, 68, 87, 0.9);
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 1px;
  color: #ffffff;
  text-transform: uppercase;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.moto-cd-hero-slider .cd-btn.secondary {
  background-color: rgba(22, 26, 30, 0.8);
}
.moto-cd-hero-slider .cd-btn:nth-of-type(2) {
  margin-left: 1em;
}
.no-touch .moto-cd-hero-slider .cd-btn:hover {
  background-color: #d44457;
}
.no-touch .moto-cd-hero-slider .cd-btn.secondary:hover {
  background-color: #161a1e;
}

.moto_banner.midban {
    padding: 16px 14px;
}


@media only screen and (min-width: 1170px) {
  .moto-cd-hero-slider .moto-cd-full-width,
  .moto-cd-hero-slider .moto-cd-half-width {
    padding-top: 220px;
  }
  .moto-cd-hero-slider h2, .moto-cd-hero-slider p {
    margin-bottom: 20px;
  }
  .moto-cd-hero-slider h2 {
    font-size: 3.2em;
  }
  .moto-cd-hero-slider p {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 768px) {
  .moto-cd-hero-slider li:nth-of-type(1) {
    background-color: #3d4952;
    background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-holiday-gift-guide4.jpg?1860577837415246503");
  }
  .moto-cd-hero-slider li:nth-of-type(2) {
    background-color: #3d4952;
    background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-black-firday2.jpg?4049145363655454362");
  }
  .moto-cd-hero-slider li:nth-of-type(3) {
    background-color: #3d4952;
    background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-winter-is-coming2.jpg?6252717908713092468");
  }
  .moto-cd-hero-slider li:nth-of-type(4) {
    /* background-image: none; */
  }
  .moto-cd-hero-slider .moto-cd-full-width,
  .moto-cd-hero-slider .moto-cd-half-width {
    padding-top: 150px;
  }
  .moto-cd-hero-slider .cd-bg-video-wrapper {
    display: block;
  }
  .moto-cd-hero-slider .moto-cd-half-width {
    width: 45%;
  }
  .moto-cd-hero-slider .moto-cd-half-width:first-of-type {
    left: 5%;
  }
  .moto-cd-hero-slider .moto-cd-half-width:nth-of-type(2) {
    right: 5%;
    left: auto;
  }
  .moto-cd-hero-slider .cd-img-container {
    display: block;
  }
  .moto-cd-hero-slider h2, .moto-cd-hero-slider p {
    max-width: 520px;
  }
  .moto-cd-hero-slider h2 {
    font-size: 2.4em;
    font-weight: 300;
  }
  .moto-cd-hero-slider .cd-btn {
    font-size: 1.4rem;
  }
}


@media only screen and (max-width: 479px) {
  .moto-cd-hero-slider li:nth-of-type(2) {
    background-color: #3d4952;
    background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-black-firday3.jpg?8979719202816457839");
  }
  
   .moto-cd-hero-slider li:nth-of-type(3) {
    background-color: #3d4952;
    background-image: url("https://cdn.shopify.com/s/files/1/1223/6434/files/moto-winter-is-coming3.jpg?16573672972277166275");
  }
}
  
  

/* -------------------------------- 

Single slide animation

-------------------------------- */
@media only screen and (min-width: 768px) {
  .moto-cd-hero-slider .moto-cd-half-width {
    opacity: 0;
    -webkit-transform: translateX(40px);
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -o-transform: translateX(40px);
    transform: translateX(40px);
  }
  .moto-cd-hero-slider .move-left .moto-cd-half-width {
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  .moto-cd-hero-slider .selected .moto-cd-half-width {
    /* this is the visible slide */
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .moto-cd-hero-slider .is-moving .moto-cd-half-width {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the <li> parent before set opacity to 0 and translate to 40px/-40px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .moto-cd-hero-slider li.selected.from-left .moto-cd-half-width:nth-of-type(2),
  .moto-cd-hero-slider li.selected.from-right .moto-cd-half-width:first-of-type {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .moto-cd-hero-slider li.selected.from-left .moto-cd-half-width:first-of-type,
  .moto-cd-hero-slider li.selected.from-right .moto-cd-half-width:nth-of-type(2) {
    /* this is the selected slide - different animation if it's entering from left or right */
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s;
  }
  .moto-cd-hero-slider .moto-cd-full-width h2,
  .moto-cd-hero-slider .moto-cd-full-width p,
  .moto-cd-hero-slider .moto-cd-full-width .cd-btn {
    opacity: 0;
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
    -ms-transform: translateX(100px);
    -o-transform: translateX(100px);
    transform: translateX(100px);
  }
  .moto-cd-hero-slider .move-left .moto-cd-full-width h2,
  .moto-cd-hero-slider .move-left .moto-cd-full-width p,
  .moto-cd-hero-slider .move-left .moto-cd-full-width .cd-btn {
    opacity: 0;
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    -ms-transform: translateX(-100px);
    -o-transform: translateX(-100px);
    transform: translateX(-100px);
  }
  .moto-cd-hero-slider .selected .moto-cd-full-width h2,
  .moto-cd-hero-slider .selected .moto-cd-full-width p,
  .moto-cd-hero-slider .selected .moto-cd-full-width .cd-btn {
    /* this is the visible slide */
    opacity: 1;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .moto-cd-hero-slider li.is-moving .moto-cd-full-width h2,
  .moto-cd-hero-slider li.is-moving .moto-cd-full-width p,
  .moto-cd-hero-slider li.is-moving .moto-cd-full-width .cd-btn {
    /* this is the slide moving outside the viewport 
    wait for the end of the transition on the li parent before set opacity to 0 and translate to 100px/-100px */
    -webkit-transition: opacity 0s 0.5s, -webkit-transform 0s 0.5s;
    -moz-transition: opacity 0s 0.5s, -moz-transform 0s 0.5s;
    transition: opacity 0s 0.5s, transform 0s 0.5s;
  }
  .moto-cd-hero-slider li.selected h2 {
    -webkit-transition: opacity 0.4s 0.2s, -webkit-transform 0.5s 0.2s;
    -moz-transition: opacity 0.4s 0.2s, -moz-transform 0.5s 0.2s;
    transition: opacity 0.4s 0.2s, transform 0.5s 0.2s;
  }
  .moto-cd-hero-slider li.selected p {
    -webkit-transition: opacity 0.4s 0.3s, -webkit-transform 0.5s 0.3s;
    -moz-transition: opacity 0.4s 0.3s, -moz-transform 0.5s 0.3s;
    transition: opacity 0.4s 0.3s, transform 0.5s 0.3s;
  }
  .moto-cd-hero-slider li.selected .cd-btn {
    -webkit-transition: opacity 0.4s 0.4s, -webkit-transform 0.5s 0.4s, background-color 0.2s 0s;
    -moz-transition: opacity 0.4s 0.4s, -moz-transform 0.5s 0.4s, background-color 0.2s 0s;
    transition: opacity 0.4s 0.4s, transform 0.5s 0.4s, background-color 0.2s 0s;
  }
}
/* -------------------------------- 

Slider navigation

-------------------------------- */
.moto-cd-slider-nav {
  position: absolute;
  width: 50%;
  bottom: 0;
  z-index: 2;
  text-align: center;
  height: 40px;
  /*background-color: rgba(0, 1, 1, 0.5);*/
}
.moto-cd-slider-nav nav, .moto-cd-slider-nav ul, .moto-cd-slider-nav li, .moto-cd-slider-nav a {
  height: 100%;
}
.moto-cd-slider-nav nav {
  display: inline-block;
  position: relative;
}
.moto-cd-slider-nav .moto-cd-marker {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 100%;
  color: #d44457;
  background-color: #ffffff;
  box-shadow: inset 0 2px 0 currentColor;
  -webkit-transition: -webkit-transform 0.2s, box-shadow 0.2s;
  -moz-transition: -moz-transform 0.2s, box-shadow 0.2s;
  transition: transform 0.2s, box-shadow 0.2s;
}
.moto-cd-slider-nav .moto-cd-marker.item-2 {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.moto-cd-slider-nav .moto-cd-marker.item-3 {
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
  transform: translateX(200%);
}
.moto-cd-slider-nav .moto-cd-marker.item-4 {
  -webkit-transform: translateX(300%);
  -moz-transform: translateX(300%);
  -ms-transform: translateX(300%);
  -o-transform: translateX(300%);
  transform: translateX(300%);
}
.moto-cd-slider-nav .moto-cd-marker.item-5 {
  -webkit-transform: translateX(400%);
  -moz-transform: translateX(400%);
  -ms-transform: translateX(400%);
  -o-transform: translateX(400%);
  transform: translateX(400%);
}
.moto-cd-slider-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.moto-cd-slider-nav li {
  display: inline-block;
  width: 60px;
  float: left;
}
.moto-cd-slider-nav li.selected a {
  color: #2c343b;
}
.no-touch .moto-cd-slider-nav li.selected a:hover {
  background-color: transparent;
}
.moto-cd-slider-nav a {
  display: block;
  position: relative;
  padding-top: 35px;
  font-size: 1rem;
  font-weight: 700;
  color: #a8b4be;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.moto-cd-slider-nav a::before {
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  top: 8px;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../assets/davz-icon-navigation.svg) no-repeat 0 0;
}
.no-touch .moto-cd-slider-nav a:hover {
  background-color: rgba(0, 1, 1, 0.5);
}

/*
.moto-cd-slider-nav li:first-of-type a::before {
  background-position: 0 0;
}
.moto-cd-slider-nav li.selected:first-of-type a::before {
  background-position: 0 -24px;
}
.moto-cd-slider-nav li:nth-of-type(2) a::before {
  background-position: -24px 0;
}
.moto-cd-slider-nav li.selected:nth-of-type(2) a::before {
  background-position: -24px -24px;
}
.moto-cd-slider-nav li:nth-of-type(3) a::before {
  background-position: -48px 0;
}
.moto-cd-slider-nav li.selected:nth-of-type(3) a::before {
  background-position: -48px -24px;
}
.moto-cd-slider-nav li:nth-of-type(4) a::before {
  background-position: -72px 0;
}
.moto-cd-slider-nav li.selected:nth-of-type(4) a::before {
  background-position: -72px -24px;
}
.moto-cd-slider-nav li:nth-of-type(5) a::before {
  background-position: -96px 0;
}
.moto-cd-slider-nav li.selected:nth-of-type(5) a::before {
  background-position: -96px -24px;
}
*/

@media only screen and (min-width: 768px) {
  .moto-cd-slider-nav {
    height: 50px;
  }
  .moto-cd-slider-nav .moto-cd-marker,
  .moto-cd-slider-nav li {
    width: 50px;
  }
  .moto-cd-slider-nav a {
    padding-top: 48px;
    font-size: 1.1rem;
    text-transform: uppercase;
  }
  .moto-cd-slider-nav a::before {
    top: 18px;
  }
}

/* -------------------------------- 

Javascript disabled

-------------------------------- */
.no-js .moto-cd-hero-slider li {
  display: none;
}
.no-js .moto-cd-hero-slider li.selected {
  display: block;
}

.no-js .moto-cd-slider-nav {
  display: none;
}
html{
 padding-bottom:0px!important; 
}