@media (min-width: 1200px) {
  .davz_width {
    /*width: 1440px!important;*/
    width 1170px;
  }

  .jubs-nav .logo {
    position: absolute;
    top: -35px;
    /* width: 380px; */
    opacity: 1;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
}


@media (min-width: 1770px) {
  .davz_width {
    /*     width: 1740px!important;  */
    width:1600px!important;
  }
}


.index #pageContent { padding-bottom: 0!important; }

#pageContent {
  padding-top: 0px;
}


@media (max-width: 1024px) {
  #pageContent {
    padding-top: 0px; 
  }

  .moto_home_slide_dots .slick-dots {
    bottom: -54px !important;
  }
}




/* COMMON TOOLS */

.moto_title {
  /* font-family: 'hurme-semibold'; */
  /*   font-family: 'roboto'; */
  letter-spacing: .100em;
  color: black;   
}

.title-coll {
  /* font-family: 'hurme-bold'; */
  font-weight: 600;
  letter-spacing: .100em;
  color: black;
  text-transform: uppercase;
  font-size: 1.40em;
} 


.main_font-light {
  /* font-family: 'hurme-light' !important; */
}
.main_font-regular {
  /* font-family: 'hurme-regular' !important; */
}
.main_font-semibold {
  /* font-family: 'hurme-semibold' !important; */
}
.main_font-bold {
  /* font-family: 'hurme-bold' !important; */
}



.margin_top-50 {
  margin-top: 50px;!important;  
}


.top_icon {
  position: relative;
  top: 6px;
  border-right: 1px solid #d2cfcf;
}

.top_icon:last-child {
  border: none;
}

.top_icon .simple-icon {
  color:black;
  font-size: 0.80em;
}

.top_icon .dropdown-menu li a {
  /* font-family: 'hurme-regular' !important; */
  text-transform: uppercase;
  font-size: .80em;
  letter-spacing: .100em;
  color: black;
}

.top_icon .dropdown-menu li a:hover {
  color: black!important;
}



@media (max-width: 1024px) {
  .dropdown .dropdown-menu--xs-full a:hover:not(.btn) {
    color: white!important;
  }
}

@media (max-width: 1024px) { 
  .top_icon {
    border: none;
  }
}



.davz_bordered_btn {
  -webkit-border-radius: 2px!important;
  -moz-border-radius: 2px!important;
  border-radius: 2px!important;
  font-size: 1em!important;
  font-weight: bold!important;
  text-align: center!important;
  white-space: nowrap!important;
  outline: 0!important;
  height:55px!important;
  padding: 0 15px!important;
  border: 1px solid #333!important;
  color: #fff!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  background-color: #000!important;
  cursor:pointer!important;
  line-height: 55px;
  transition:none!important;
}

.davz_bordered_btn--deaf {
  background-color: #B5B3B3!important;
  border: 1px solid #A0A0A0!important;
}

.davz_bordered_btn:hover {
  -webkit-box-shadow:inset 0 0 0 1px #fff!important;
  -moz-box-shadow:inset 0 0 0 1px #fff!important;
  box-shadow:inset 0 0 0 1px #fff!important;
  border:1px solid #fff!important;
  border:rgba(0,0,0,0) solid 1px!important;
  outline:1px solid #4d90fe!important;
  outline:rgba(0,0,0,0)!important;

}


.davz_bordered_btn:focus {
  -webkit-box-shadow:inset 0 0 0 1px #fff!important;
  -moz-box-shadow:inset 0 0 0 1px #fff!important;
  box-shadow:inset 0 0 0 1px #fff!important;
  border:1px solid #fff!important;
  border:rgba(0,0,0,0) solid 1px!important;
  outline:1px solid #4d90fe!important;
  outline:rgba(0,0,0,0)!important;
  background-color:#222!important;

}


.davz_bordered_btn--switched {
  -webkit-border-radius: 2px!important;
  -moz-border-radius: 2px!important;
  border-radius: 2px!important;
  font-size: 1em!important;
  font-weight: bold!important;
  text-align: center!important;
  white-space: nowrap!important;
  margin-right: 16px!important;
  outline: 0!important;
  height:55px!important;
  padding: 0 15px!important;
  color: #fff!important;
  -webkit-box-shadow:inset 0 0 0 1px #fff!important;
  -moz-box-shadow:inset 0 0 0 1px #fff!important;
  box-shadow:inset 0 0 0 1px #fff!important;
  border:1px solid #fff!important;
  border:rgba(0,0,0,0) solid 1px!important;
  outline:1px solid #4d90fe!important;
  outline:rgba(0,0,0,0) !important;
  background-color: #000!important;
  cursor:pointer!important;
  line-height: 55px;
  transition:none!important;



}

.davz_bordered_btn--switched:hover {
  border: 1px solid #333!important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
  background-color: #222!important;

}

.davz_bordered_btn .icon,
.davz_bordered_btn--switched .icon {
  top: 4px!important;
  font-size: 2.5em!important;
}


.line_height-45 {
  line-height: 45px!important; 
}


.btn_white {
  background-color: #f3f3f3!important;
  color:#000!important;
  font-weight:600!important;
}

.btn_white:hover {
  background-color: #a7a3a3!important;

}

.img_centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}



.uppercase_txt {
  text-transform:uppercase!important; 
}

.text_underline {
  text-decoration: underline!important; 
}

.text_color_red {
  color:#ec2a37!important;
}

.text_color_blue {
  color:#1C3248!important; 
}
/* fonts sizes */


.font_sizepoint5 {
  font-size: .5em!important;
}
.font_sizepoint6 {
  font-size: .6em!important;
}
.font_sizepoint7 {
  font-size: .7em!important;
}
.font_sizepoint8 {
  font-size: .8em!important;
}
.font_sizepoint9 {
  font-size: .9em!important;
}
.font_size1em {
  font-size: 1em!important;
}
.font_size1point1 {
  font-size: 1.1em!important;
}
.font_size1point2 {
  font-size: 1.2em!important;
}
.font_size1point3 {
  font-size: 1.3em!important;
}
.font_size1point4 {
  font-size: 1.4em!important;
}
.font_size1point5 {
  font-size: 1.5em!important;
}
.font_size1point7 {
  font-size: 1.7em!important;
}
.font_size2em {
  font-size: 2em!important;
}
.font_size2point1 {
  font-size: 2.1em!important;
}
.font_size2point2 {
  font-size: 2.2em!important;
}
.font_size2point3 {
  font-size: 2.3em!important;
}
.font_size2point4 {
  font-size: 2.4em!important;
}
.font_size2point5 {
  font-size: 2.5em!important;
}

.font_size3 {
  font-size: 3em!important;
}



/* font weight */
.font_weight-100 { font-weight:100 !important}
.font_weight-300 { font-weight:300 !important}
.font_weight-400 { font-weight:400 !important}
.font_weight-500 { font-weight:500 !important}
.font_weight-600 { font-weight:600 !important}
.font_weight-700 { font-weight:700 !important}
.font_weight-800 { font-weight:800 !important}

.text_color_black {
  color: black!important;
}

/* MAIN SLIDER  */

.moto_home_slides .slick-prev,
.moto_home_slides .slick-next  {
  background-color: transparent;
  border:2px solid #fff;
  height: 60px;
  width: 60px;
}


.moto_home_slides .slick-prev {
  left:30px; 
}
.moto_home_slides .slick-next {
  right:30px; 
}


.moto_home_slides .slick-prev::before,
.moto_home_slides .slick-next::before {
  line-height: 60px;
  color: #fff;
}


.moto_home_slides .slick-prev:hover,
.moto_home_slides .slick-next:hover {
  background-color: #fff;
}
.moto_home_slides .slick-prev:hover.slick-prev::before,
.moto_home_slides .slick-next:hover.slick-next::before {
  color: #000!important;
}




/* Dots */
.slick-slider {
  margin-bottom: 0;
}
.slick-dots {
  display: none !important;
}
.moto_home_slide_dots .slick-dots {
  position: absolute;
  bottom: -70px;
  list-style: none;
  display: block !important;
  text-align: center;
  padding: 0;
  width: 100%;
  line-height: 0px;
  font-size: 0px;

}

.moto_home_slide_dots .slick-dots li {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 30px;
  line-height: 0;
  font-size: 0;
  margin: 0 1px;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}
.moto_home_slide_dots .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  width: 15px;
  height: 15px;
  outline: none;
  color: transparent;
  padding: 0px;
  cursor: pointer;
  position: relative;
}
.moto_home_slide_dots .slick-dots li button:hover,
.moto_home_slide_dots .slick-dots li button:focus {
  outline: none;
}
.moto_home_slide_dots .slick-dots li button:hover:before,
.moto_home_slide_dots .slick-dots li button:focus:before {
  opacity: 0.8;
}
.moto_home_slide_dots .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\e047";
  width: 15px;
  height: 15px;
  border-radius:50%;
  font-family: "Material Icons";
  font-size: 35px;
  text-align: center;
  color: #dedede;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.moto_home_slide_dots .slick-dots li.slick-active button:before {
  color: #000000;
  opacity: 1;
}
.moto_home_slide_dots.moto_home_slide_dots-invert .slick-dots li button:hover,
.moto_home_slide_dots.moto_home_slide_dots-invert .slick-dots li button:focus {
  outline: none;
}
.moto_home_slide_dots.moto_home_slide_dots-invert .slick-dots li button:hover:before,
.moto_home_slide_dots.moto_home_slide_dots-invert .slick-dots li button:focus:before {
  opacity: 1;
  color: #fff ;
}
.moto_home_slide_dots.moto_home_slide_dots-invert .slick-dots li button:before {
  opacity: 0.6;
}
.moto_home_slide_dots.moto_home_slide_dots-invert .slick-dots li.slick-active button:before {
  opacity: 1;
  color: #fff;
}


/* END */



/* Fixed Logo */


.moto_fixed_logo {
  float: left !important;
  display: none !important;
}



.moto_fixed_logo img {

  width: 85px;
  margin-top: -13px;

}


.fixedbar .moto_fixed_logo {
  display:block!important;
}

.moto_plain_search {
  width: 50%;
  margin-right: 10px;
}


.search-outer .input-outer input {
  /* font-family: 'roboto'; */
  height: 41px !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: black;
  border-radius: 2px;
  font-weight: 400;
  color: #000;
  font-size:.95em;
  text-transform: uppercase;
  letter-spacing: .10em;
  padding: 12px 20px;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}


.search-outer .input-outer input:focus > .search-outer .input-outer button {
  color:#000!important;
}

.cart .dropdown > a .icon {
  color:#fff!important; 
}

/* .cd-auto-hide-header.is-hidden .moto_search_scroll {
margin-bottom: -1px;
} */



/* 
.moto_search_scroll {
margin-bottom: 10px;
} */


.moto_square_cart {

  background:black;
  padding:18px 20px 16px 14px!important;

}


.cart .dropdown > a .icon {
  top:298%;
  z-index: 2;
}


/* .fixedbar .cart {
top: 0px!important;
margin-left: 10px!important;
} */

/* .fixedbar .badge--cart {

top: -23px !important; 
} */


.search-outer .input-outer button {
  padding: 13px 17px 7px!important;
  font-size: 1.3em!important;
  line-height: 15px!important;
  color: black;
  background: transparent;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;

}

/* .search-outer .input-outer button:hover {

background: #0f1a26!important;

} */


/* header menu's */



header .mainMenu {
  padding-top: 0px!important; 
}



header .mainMenu .navbar-nav > li > a {
  font-size: .90em!important;
  /*font-family: 'hurme-semibold'!important;*/
  letter-spacing: 0.10em!important;
  font-weight: 600;
}


@media (min-width: 1200px) {
  header .mainMenu .navbar-nav > li > a {
    font-size: .80em!important;
  }
}

.megamenu__submenu li a {
  font-size: .75em;
  letter-spacing: .10em;
  color:#000!important;
  font-weight:normal!important;
  /*    font-family: 'roboto'!important; */
  /* font-family: 'hurme-regular'!important; */

}



.megamenu__subtitle:hover {
  letter-spacing: 0px !important;
}

.megamenu__subtitle span:first-child {
  /* font-family: 'hurme-semibold'; */
  font-weight: bold;
  letter-spacing: .20em;
  text-align: left;
  padding: 0.5em 0 0.5em 0 !important;
  border-bottom: 1px solid #000000 !important;
  font-size: .80em !important;

}




header .mainMenu .navbar-nav .dropdown-one-col > a:hover .act-underline:before,
header .mainMenu .navbar-nav .dropdown-one-col > a:focus .act-underline:before,
header .mainMenu .navbar-nav .dropdown-one-col > a .open .act-underline:before {
  opacity: 0!important;
}


.dropdown .dropdown-menu {
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.08)!important;
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.08)!important;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.08)!important;
}

#header .navbar .dropdown-two-col a {
  /*font-family: 'hurme-regular';*/
  /* font-family: 'roboto' !important; */
  font-size: .75em;
  letter-spacing: .10em;
  color:#000!important;
  font-weight: normal;
}


header .mainMenu .navbar-nav > li > a .act-underline {
  color: #fff;
  z-index: 1001;
  font-weight: 500;
}


header .mainMenu .navbar-nav > li:hover > a span.act-underline:before {
  opacity: 1;
}


header .mainMenu .navbar-nav > li > a .act-underline:before {
  opacity: 0;
  clear: both;
  border-style: solid;
  border-width: 0 9px 8px 9px;
  border-color: transparent transparent #ffffff;
  content: '';
  position: absolute;
  left: 50%;
  top: 107.24%;
  width: 0;
  height: 0;
  transition:none!important;
}

header .fixedbar .mainMenu .navbar-nav > li > a .act-underline:before {
  /* top: 123.24%; */
  top: 110%;
}


/* Custom Input Text Field */


.davz_NL_footer {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.35); 
}



.njohn-footer-inside {
  color: #FFF;
  padding: 30px 0 30px 0;
  text-align: center;
}

.njohn-row {
  margin: 0 auto;
  max-width: 960px;
  position: relative;
  width: 80%;
  padding-top: 60px;
}

.njohn-footer .njohn-mymail-form .njohn-mymail-wrapper {
  float: left;
  margin-top: 6px;
  width: 68%;
}

.njohn-footer .njohn-mymail-form .njohn-mymail-wrapper .njohn-input {
  border: 1px solid #fff;
  color: #000;
  font-size: 118%;
  text-align: center;
  width: 100%;
}

.njohn-footer .njohn-mymail-form .njohn-mymail-submit-wrapper {
  /*    float: right; */
  width: 30%;
}

.njohn-footer .njohn-mymail-form .njohn-mymail-wrapper .njohn-inputs {
  height: 60px;
  margin: 0;
  width: 100%;
  /*font-family: 'hurme-regular'!important;*/
}

@media (max-width: 1090px) {
  .njohn-footer .njohn-mymail-form .njohn-mymail-wrapper .njohn-inputs {
    font-size: 15px;
  }
}
.njohn-footer .njohn-mymail-form .njohn-mymail-form-info {
  font-size: 20px;
}

.njohn-footer .njohn-mymail-form .njohn-mymail-wrapper .njohn-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey !important;
}
.njohn-footer .njohn-mymail-form .njohn-mymail-wrapper .njohn-input::-moz-placeholder { /* Firefox 19+ */
  color: grey !important;
}
.njohn-footer .njohn-mymail-form .njohn-mymail-wrapper .njohn-input:-ms-input-placeholder { /* IE 10+ */
  color: grey !important;
}
.njohn-footer .njohn-mymail-form .njohn-mymail-wrapper .njohn-input:-moz-placeholder { /* Firefox 18- */
  color: grey !important;
}

.njohn-input-style[type="email"] {
  -moz-border-radius: 0px;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  background: white;
  border-radius: 0px;
  border: 1px solid #999;
  letter-spacing: 2px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  text-transform: uppercase;
}

.njohn-button {
  -moz-box-sizing: border-box;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.3s;
  background: black;
  border-radius: 0;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: 22px;
  margin-bottom: 3px;
  margin-top: 10px;
  padding: 8px 15px 9px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s;
  width: auto;
}

.njohn-button:hover {
  background: #151111;
  border: 1px solid #151111;
  border-radius: 0;
}


/* TOP HEADER */
.navbar-nav {
  /*height: 60px;*/
}

.dropdown-menu {
  background-color: #fff!important;
}

#header .navbar .dropdown-two-col .dropdown-menu,
#header .navbar .dropdown-menu.megamenu {
  margin-top: -1px !important;
}

#header .fixedbar .navbar .dropdown-two-col .dropdown-menu,
#header .fixedbar .navbar .dropdown-menu.megamenu {
  /* margin-top: 6px !important; */
  margin-top: 0 !important;
}



.@media (min-width: 1024px) {
  #header.moto_top_header .settings {
    padding-top: 3px;
  }
}



@media (max-width: 1199px) {
  #header.moto_top_header .dropdown {
    position: relative;
    /*display: inline;*/
    display: inline-block;
    font-weight: 300;
  }


  .moto_pages .moto_box.davz_manual_height {
    height: auto !important;
  }

  #header .mainMenu .navbar-nav > li > a {
    font-size: 11px !important; 
  }

  #header .cart .badge--cart {
    top: 0;
  }

  .jubs-nav .logo {
    width: 250px;
    position: relative;
    top: 0;
    margin: 0;
  }

  .fixedbar .jubs-nav .logo {
    padding: 0 !important; 
  }
}

#header.moto_top_header .badge.badge--hidden {
  display: block !important;
}
#header.moto_top_header .account-row-list .moto-top-link {
  vertical-align: middle;
  line-height: 26px;
  margin-bottom: 0px;
}

#header.moto_top_header .account-row-list .moto-top-link li {
  display: inline-block;
  border-right: 1px solid #e5e5e5;
  padding: 0px 10px 0px 10px;
  line-height: 12px;
}

#header.moto_top_header .account-row-list .moto-top-link li:last-child {
  border-right: none!important;
  padding-right: 0;

}

/* @media (max-width: 1199px) {
#header.moto_top_header .account-row-list .moto-top-link li {
border-right: 1px solid #000;
padding-right: 20px;
line-height: 12px;
}

#header.moto_top_header .account-row-list .moto-top-link li:last-child {
border-right: none!important
padding-right: none!important;

}
} */



#header.moto_top_header .account-row-list .moto-top-link li a {
  color: #000000;
  text-decoration: none;
  -webkit-transition:  all 0.3s 0s ease;
  -moz-transition:  all 0.3s 0s ease;
  -ms-transition:  all 0.3s 0s ease;
  -o-transition:  all 0.3s 0s ease;
  transition:  all 0.3s 0s ease;
  text-transform: uppercase;
  font-size: .70em;
  /* font-family: 'hurme-light'; */
  /* font-family: 'roboto';*/
  letter-spacing: .10em;
}
#header.moto_top_header .account-row-list .moto-top-link li a:hover {
  color: #333333;
}


#header.moto_top_header .account-row-list .moto-top-link li a .material-icons,
#header.moto_top_header .account-row-list .moto-top-link li a .icon {
  font-size: 17px;
  margin-right: 5px;
  position: relative;
  top: 2px;
}


@media (min-width: 1025px) {
  .fixedbar .navbar  {
    margin-top: 7px;
  }

  #header .mainMenu .navbar-nav {
    padding-left: 20px;
  }

  #header.moto_top_header .row-functional-link {
    padding-top: 9px;
  }
  #header.moto_top_header .row-functional-link .link-inline {
    display: inline-block;
    float: right;
  }
  #header.moto_top_header .row-functional-link .link-inline .dropdown {
    display: block;
    padding: 0;
  }
  #header.moto_top_header .row-functional-link .link-inline .dropdown > a {
    display: inline-block;
    padding: 54px 24px 0px 24px;
    position: relative;
    text-align: left;
    border-left: 1px solid #e5e5e5;
  }
  #header.moto_top_header .row-functional-link .link-inline .dropdown > a .icon {
    -webkit-transition:  all 0.3s 0s ease;
    -moz-transition:  all 0.3s 0s ease;
    -ms-transition:  all 0.3s 0s ease;
    -o-transition:  all 0.3s 0s ease;
    transition:  all 0.3s 0s ease;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute !important;
    top: 15px;
    font-size: 30px !important;
  }
  #header.moto_top_header .row-functional-link .link-inline .dropdown > a .icon.icon-sort {
    margin-left: -15px;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
  #header.moto_top_header .row-functional-link .link-inline .dropdown > a .name-text {
    color: #333333;
    font-size: 18px;
    display: inline-block;
    padding-top: 4px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.03em;
  }

  #header.moto_top_header .row-functional-link .link-inline:first-child .dropdown > a {
    padding-right: 0px;
  }

}



@media (max-width: 1024px) {
  /*   #header.moto_top_header .container .row {
  padding-top: 18px;
} */
  #header.moto_top_header .row-functional-link .name-text {
    display: none !important;
  }
  #header.moto_top_header #header .row > div {
    width: 100%;
  }
  #header.moto_top_header .account-row-list {
    display: none;
  }
  #header.moto_top_header .logo {
    margin: 0 auto;
  }

  #header .fixedbar .jubs-nav {
    display: none;
  }

  #header .fixedbar .davz_moto_icon {
    top: -30%;
    left: 58%; 
  }
}

#header.moto_top_header .h-address {
  font-weight: 300;
  margin-right: 31px;
  position: relative;
  top: -8px;
  line-height: 30px;
}
#header.moto_top_header .h-address .icon {
  color: #000000;
  font-size: 20px;
  position: relative;
  top: 4px;
}
#header.moto_top_header .h-address b {
  color: #333333;
  font-size: 18px;
  font-weight: 500;
}
#header.moto_top_header .h-address p {
  padding: 5px 0 0 0;
}


@media (max-width: 1024px) and (max-width: 1199px) {
  #header.moto_top_header .settings .dropdown {
    padding: 0 0 0 20px !important;
  }
}




/* top links */
.moto_top_links {
  padding-top: 30px; 
}

.moto_top_links ul {
  display: inline-block;
  list-style: none;

}

.moto_top_links ul li {
  padding: 0px 5px;
  display: inline-block;
  margin: 0px 2px;
  border-right:1px solid #EBEEF0;
}


.moto_top_links ul li:nth-child(1),
.moto_top_links ul li:nth-child(2),
.moto_top_links ul li:nth-child(8){
  border-right:none;
}

.moto_top_links ul li span {

  text-decoration: none;
  color: #000;
  font-size: .90em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 7px 9px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;


}


.moto_top_links li a {
  text-decoration: none;
  color: #000;
  font-size: .90em;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}

.moto_top_links li a:hover {
  font-weight: 700;
}

.moto_top_links ul li span .material-icons,
.moto_top_links ul li a .icon {
  font-size: 17px;
  margin-right: 5px;
  position: relative;
  top: 2px; 
}



/* slick arrows */
.product__inside__carousel .carousel-control {
  opacity:0;
}     


.product__inside__carousel:hover .carousel-control {
  opacity:1;
}



/* quick view button */

.moto_grid_btn {
  padding: 10px 10px 10px 15px !important;
}




/* FILTER COLORS */


.collapse-block .options-swatch--color .color-multicolor {

  background: rgba(44,181,20,1);
  background: -moz-linear-gradient(-45deg, rgba(44,181,20,1) 0%, rgba(16,59,161,1) 31%, rgba(189,183,23,1) 64%, rgba(255,145,0,1) 84%, rgba(250,24,3,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(44,181,20,1)), color-stop(31%, rgba(16,59,161,1)), color-stop(64%, rgba(189,183,23,1)), color-stop(84%, rgba(255,145,0,1)), color-stop(100%, rgba(250,24,3,1)));
  background: -webkit-linear-gradient(-45deg, rgba(44,181,20,1) 0%, rgba(16,59,161,1) 31%, rgba(189,183,23,1) 64%, rgba(255,145,0,1) 84%, rgba(250,24,3,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(44,181,20,1) 0%, rgba(16,59,161,1) 31%, rgba(189,183,23,1) 64%, rgba(255,145,0,1) 84%, rgba(250,24,3,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(44,181,20,1) 0%, rgba(16,59,161,1) 31%, rgba(189,183,23,1) 64%, rgba(255,145,0,1) 84%, rgba(250,24,3,1) 100%);
  background: linear-gradient(135deg, rgba(44,181,20,1) 0%, rgba(16,59,161,1) 31%, rgba(189,183,23,1) 64%, rgba(255,145,0,1) 84%, rgba(250,24,3,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cb514', endColorstr='#fa1803', GradientType=1 );

}

.collapse-block .options-swatch--color .color-gold {

  background: rgba(221,204,106,1);
  background: -moz-linear-gradient(-45deg, rgba(221,204,106,1) 0%, rgba(221,204,106,1) 1%, rgba(253,247,156,1) 51%, rgba(221,204,106,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(221,204,106,1)), color-stop(1%, rgba(221,204,106,1)), color-stop(51%, rgba(253,247,156,1)), color-stop(100%, rgba(221,204,106,1)));
  background: -webkit-linear-gradient(-45deg, rgba(221,204,106,1) 0%, rgba(221,204,106,1) 1%, rgba(253,247,156,1) 51%, rgba(221,204,106,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(221,204,106,1) 0%, rgba(221,204,106,1) 1%, rgba(253,247,156,1) 51%, rgba(221,204,106,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(221,204,106,1) 0%, rgba(221,204,106,1) 1%, rgba(253,247,156,1) 51%, rgba(221,204,106,1) 100%);
  background: linear-gradient(135deg, rgba(221,204,106,1) 0%, rgba(221,204,106,1) 1%, rgba(253,247,156,1) 51%, rgba(221,204,106,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddcc6a', endColorstr='#ddcc6a', GradientType=1 );

}

.collapse-block .options-swatch--color .color-silver {


  background: rgba(179,177,177,1);
  background: -moz-linear-gradient(-45deg, rgba(179,177,177,1) 0%, rgba(179,177,177,1) 1%, rgba(254,254,254,1) 51%, rgba(179,177,177,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(179,177,177,1)), color-stop(1%, rgba(179,177,177,1)), color-stop(51%, rgba(254,254,254,1)), color-stop(100%, rgba(179,177,177,1)));
  background: -webkit-linear-gradient(-45deg, rgba(179,177,177,1) 0%, rgba(179,177,177,1) 1%, rgba(254,254,254,1) 51%, rgba(179,177,177,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(179,177,177,1) 0%, rgba(179,177,177,1) 1%, rgba(254,254,254,1) 51%, rgba(179,177,177,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(179,177,177,1) 0%, rgba(179,177,177,1) 1%, rgba(254,254,254,1) 51%, rgba(179,177,177,1) 100%);
  background: linear-gradient(135deg, rgba(179,177,177,1) 0%, rgba(179,177,177,1) 1%, rgba(254,254,254,1) 51%, rgba(179,177,177,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3b1b1', endColorstr='#b3b1b1', GradientType=1 );


}

.collapse-block .options-swatch--color .color-brown {
  background-color: #A52A2A;
}

.collapse-block .options-swatch--color .color-purple {
  background-color: #551A8B;
}



.collapse-block .options-swatch--color .color-gray {
  background-color: #CDCDCD;
}




/* FILTER COLLECTION */

.collapse-block__title::after {
  /*content: "\e145"; */
  content: "\e148";
}

.open > .collapse-block__title::after {
  /* content: "\e15b"; 
  color: red; */
  content: "\e15d";
}



.collapse-block .options-swatch--size li a {
  width: auto;
  min-width: 70px;
  padding: 0 5px;
  text-transform: uppercase;
}


.collapse-block .options-swatch--gender li a {
  width: auto;
  min-width: 100px;
  padding: 10px; 
  text-transform: uppercase;
}



.collapse-block__title {
  /* font-family: 'hurme-semibold'; */
  letter-spacing: .05em;
  font-size: .90em!important;
  color: #000; 
  text-transform:uppercase;
}     

.collapse-block .filter-list li a {
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.collapse-block .filter-list li a:hover {
  color: #000; 
}


.filter-list .active {
  font-weight: 700;
  color:black;
}


.title-decimal::before {
  width:30px!important;
  height:30px!important;
}



.moto_page_separator {
  margin-top: 100px;
  margin-bottom: 27px;
}

.container.moto_pages  {
  margin-top: 50px; 
}

.moto_pages p {
  font-weight:500!important;
  /*   color:#000!important; */
  margin-bottom: 0;
}


.moto_pages ul li {
  font-weight:500!important;
  color: #535353 !important;

}
.moto_pages ul li a{
  transition: color .3s;
}
.moto_pages ul li a:hover{
  color: black;
}
f
.moto_pages h4 {
  text-transform:uppercase!important;
  color:#000!important;
}



.product__inside__name h2 {
  font-size: .90em!important;
  text-transform: upp!important;
  color: #000000!important;
  overflow: hidden!important;
  white-space: nowrap!important;
  text-overflow: ellipsis;
  width: auto;
  /* font-family: 'hurme-regular';*/
  letter-spacing: .02em;
}


.hovered .product__inside__name .product_title {
  white-space: none;
  text-overflow: none;
}

.price-box {
  font-size: 1.575em;!important;
  font-weight: 700!important;
}


.price-box__old {
  font-weight: 600!important;
}



/* PRODUCT PAGE */

.breadcrumbs .container {
  border-top:none!Important; 
}




.product-info__title h2 {
  text-transform: capitalize!important;
  font-weight: 600!important;
  color: #000!important;
}

.product-info__price {
  font-weight: 700!important; 
}





.product-info .product-info__price {
  /*font-family: "avantegarde-bold";*/
}





.selector-wrapper label {
  font-size: .8em;
  font-weight: 700 !important; 
}





/* banner home */

.banner .figcaption .banner__title {
  /* font-size: 1.5em; */
  /*font-family: 'hurme-bold';*/
  font-weight: 600;
  letter-spacing: .150em;
  line-height: 1.3em !important;
/*   text-shadow: 0 0 5px #000000; */
}

.moto_con_banner {
  margin-top: 20px;
}

.moto_banner span.figcaption:hover {
  background: rgba(0, 0, 0, 0.0);
  /* background-color: rgba(2, 118, 142, 0.8); */
}



.moto_grid_img .zoom-in .figure:hover .moto_home_banner_btn span {
  display:none; 
}

.moto_grid_img .zoom-in .figure:hover .moto_home_banner_btn:before {
  display: inline;
  color: black;
  font-family: 'simple-line-icons';
  content: "\e079";
  font-size: 2em;
  vertical-align: middle;
  line-height: 33px;
}

/* .moto_home_banner_btn:hover {
border-radius:50%;
height: 30px;
width: 30px;
} */

.moto_grid_img .zoom-in .figure:hover .moto_home_banner_btn {
  border-radius: 50%;
  height: 55px !important;
  width: 55px;

}

.moto_home_banner_btn:hover {
  background-color: white!important;
}

.moto_home_banner_btn {
  /*font-family: 'hurme-bold';*/
  color:#000!important;
  width: 150px;
  padding: 10px !important;
  border: 2px solid #fff;
  background: #fff;
  letter-spacing: .150em;
  font-size: 1em !important;
  height: 45px !important;
  line-height: 1.3em;
  -webkit-transition: border-radius .1s, width .1s, height .1s!important; /* For Safari 3.1 to 6.0 */
  transition: border-radius .1s, width .1s, height .1s!important;
}


.banner:hover .figure {
  background-color: black;
}

.brand-lg-list {
  margin: 0 auto;
  max-width: 1440px;
}

.brand-lg-list .row-item a {
  border-right: 1px solid #f8f6f6;
}
.brand-lg-list .row-item {
  border-bottom: 1px solid #f8f6f6;
}



.moto_grid_img .banner .figure img {
  opacity: 0.7; 
}


.moto_grid_img .zoom-in .figure:hover img {
  opacity: 0.9; 
}

/* .zoom-in .figure img {
-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
-ms-filter: grayscale(0%);
-o-filter: grayscale(0%);
filter: grayscale(0%);
filter: gray;
}

.zoom-in .figure:hover img {
-webkit-transition:  all 300ms 0s ease;
-moz-transition:  all 300ms 0s ease;
-ms-transition:  all 300ms 0s ease;
-o-transition:  all 300ms 0s ease;
transition:  all 300ms 0s ease;
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
-o-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray;
} */

.product_slider_title,
.home_title {
  /*font-family: hurme-bold;*/
  color: rgb(0, 0, 0)!important;
  font-size: 1.7em!important; 
}

/*
.title-under:after { 
height: 3px!important;
bottom: -10px!important;
}
*/

.title-under:after {
  content: "";
  display: block;
  height: 5px;
  width: 50px;
  background: #000000;
  margin-top: 9px;
}

.banner-icon__text {
  padding-top: 35px;
}


.banner-icon__icon {
  background: transparent!important;
}


.banner-icon:hover .banner-icon__icon {
  background: #000!important;
}


.why_fill_bg {
  background-color: #f6f6f6 !important;
  padding: 85px 0 57px 0;

}


/* footer */





/* footer socials */


.social-links.social-links--large .icon{

}

.social-links:hover ul .fa-facebook:hover {
  background-color: #3A599C!important; 
}

.social-links:hover ul .fa-twitter:hover {
  background-color: #1DA1F2!important; 
}

.social-links:hover ul .fa-google-plus:hover {
  background-color: #DC4E41!important; 
}

.social-links:hover ul .fa-instagram:hover {
  background-color: #9B6954!important; 
}

.social-links:hover ul .fa-youtube-square:hover {
  background-color: #CD201F!important; 
}

.social-links:hover ul .fa-yelp:hover {
  background-color: #C21613!important; 
}

.social-links:hover ul .fa-yahoo:hover {
  background-color: #7B0099!important; 
}

.social-links:hover ul .fa-pinterest:hover {
  background-color: #cb2027!important; 
}
.social-links:hover ul .google-icon:hover {
  background-color: #3995ff!important; 
}

.social-links:hover ul .facebook-local:hover {
  background-color: #9DBDCF!important;

}
.social-links:hover ul .instagram-local:hover {
  background-color: #FFC682!important;

}

footer .social-links-layout-02 {
  margin: 4px 0 0px 0!important;
}


.payment_method ul {
  margin-top: 1em;
}

.payment_method img {
  width: 51px;
  height: 32px;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
  filter: gray;
}


.payment_method img:hover {
  -webkit-transition:  all 300ms 0s ease;
  -moz-transition:  all 300ms 0s ease;
  -ms-transition:  all 300ms 0s ease;
  -o-transition:  all 300ms 0s ease;
  transition:  all 300ms 0s ease;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}

.moto_resourcesLinks {
  margin-bottom: 2.438em;
  overflow: hidden;
}
.moto_resourcesLinks ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /* margin-top: 1em; */
}
.moto_resourcesLinks ul li {
  /* display: block; */
  /* float: left; */
  /* margin-right: 10px; */
  /* padding-right: 10px; */
  /* padding-top: 5px; */
  /* border-right:1px solid #e5e5e5; */
  /* line-height: 5px; */
}

.moto_resourcesLinks ul li:last-child {
  border-right:none;
}

.moto_resourcesLinks ul a {
  text-decoration: none;
  display: inline-block;
  color: #c4c4c4;
  text-align: center;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
}
.moto_resourcesLinks:hover ul a:hover {
  color: #333;
  text-decoration: none;
}




.moto_very_top {
  width:100%;
  background-color:#000;

}


.moto_very_top ul {
  list-style-type: none;
  background-color: #000;
  padding:10px;
  text-align:center;
}


.moto_very_top li {
  display: inline;
  border-right: 1px solid #606060;
}

.moto_very_top li:last-child {
  border-right:none;
}

.moto_very_top li span {
  color: #c0392b;
  padding: 5px 15px;
  text-decoration: none;
  font-size: .91em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;

}


#header {
  padding-top:0!Important;
}



body .layout-4 .container:first-child {
  padding-top: 60px; 
}

@media (min-width: 1299px) {
  .product-listing:not(.row-view) .product:hover .product__inside,
  .product-listing:not(.row-view) .product.hovered .product__inside,
  .carousel-products .product.hovered .product__inside,
  .product-listing:not(.row-view) .product:hover .product__inside__hover,
  .carousel-products .product:hover .product__inside__hover,
  .product-listing:not(.row-view) .product.hovered .product__inside__hover,
  .carousel-products .product.hovered .product__inside__hover {
    border: 1px solid #e5e5e5;
    border-top: 0px;
  }

  .carousel-products .product:hover .product__inside {
    border: 1px solid #e5e5e5;
    border-bottom: 0px;
  }



  .megamenu .carousel-products .product:hover .product__inside {
    border: 0px;
  }


}


.selected > a .act-underline:before  {
  display:none; 
}



.megaMenuCarousel_js .product__inside__name h2 {
  width: auto;
}


.collapse-block__content p {
  font-weight:600; 
}


.moto_content_title {
  font-weight: 600!important;
  text-transform: uppercase!important;
  font-size: 1.5em!important;
}


.collapse-block__title:after { 
  top: 13px!important;
  font-size: 20px!important;
}


/* ----------- RESPONSIVE STYLES ----------- */
/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px){ 
  .brand-lg-list {
    max-width: 1170px;
  }


  header .mainMenu .navbar-nav > li > a {
    font-size: 0.95em;
    letter-spacing: 0;
  }



  .moto_plain_search {
    width: 60%;
  }



  #header.moto_top_header .account-row-list .moto-top-link li a {
    font-size: .75em;
    font-weight: 700;
  }
}



/* moto pages styles */

.moto_subs_input {
  background-color: #f4f4f4;
  color: #000 !important;
  font-size: 1.4em !important;
  padding: 10px !important;
}


.moto_subs_btn {
  width: 23%;
  background-color:#000;
  color:#fff;
}


#moto_service .media-box-link {
  background-color: #f5f5f5!important;
  color: #777777!important; 
}

#moto_service .media-box-link:hover {
  background-color: #f5f5f5!important;
  color: #777777!important; 
}

#moto_service .media-box-link h4 {
  color: #000;
}

#moto_service .media-box-link--content {
  padding-right: 0; 
}

#moto_service .media-box-link--content {
  padding: 6% 5%;
}

#moto_service_page a {
  width: 25%;

}


@media (min-width: 992px) {
  #moto_service_page a {
    width: 25%;
  }
}


@media (min-width: 1200px) {
  #moto_service_page a {
    width: 25%;
  }
}
@media (min-width: 1770px) {
  #moto_service_page a {
    width: 25%;
  }

}





/* Nav Menus */
nav.navbar ul li a {
  text-transform: uppercase;
}

/* Footer Menus */
footer .row .mobile-collapse ul li a {
  text-transform: uppercase;
  /*font-family: "roboto";*/
  font-size: .80em;
  letter-spacing: .1em;
  color: #333;
  transition: .1s;
  font-weight: normal;
}

footer .row .mobile-collapse ul li a:hover {
  color: #000;
} 

footer .row .mobile-collapse ul li {
  padding-bottom: 5px;
}

footer .row .mobile-collapse ul li a.icon {
  font-family: "FontAwesome";
}

footer .row .mobile-collapse h4.title-under {
  margin-bottom: 40px;
  color: black;

  letter-spacing: .1em;
  font-size: 1em;
  font-weight: bold;
}


/* Wishlist */

.wishlist-page table.wishlist-table thead tr th {
  background: black;
  color: white;
  text-align: center;
  text-transform: uppercase;
  border: 0;
}

.wishlist-page table.wishlist-table thead tr {
  border: 1px solid #e5e5e5;
}

.wishlist-page table.wishlist-table tbody tr {
  border: 1px solid #e5e5e5;
}

.wishlist-page table.wishlist-table tbody tr td {
  border: 1px solid #e5e5e5;
  padding: 10px 0px 10px 0px;
  vertical-align: middle;
}

.wishlist-page table.wishlist-table tbody tr td .pull-right h5 {
  font-weight: bold;
}


.wishlist-page table.wishlist-table tbody tr td a.icon-clear,
.wishlist-page table.wishlist-table tbody tr td a.icon-done  {
  font-size: 50px;
}

.wishlist-page table.wishlist-table tbody tr td a.icon-clear  {
  color: red;
  transition: .5s;
}

.wishlist-page table.wishlist-table tbody tr td a.icon-done  {
  color: green;
  transition: .5s;
}

.wishlist-page table.wishlist-table tbody tr td a.icon-clear:hover  {
  color: black;
}

.wishlist-page table.wishlist-table tbody tr td a.icon-done:hover  {
  color: black;
}

.wishlist-page table.wishlist-table {
  border: 1px solid #e5e5e5;
}


/* Empty Wishlist */
.njohn_empty_cart {
  text-align: center;
}

.njohn_empty_cart_column2 div {
  display: inline-block;
}


.njohn_empty_cart_column2 {
  margin: 20px;
}

.njohn_empty_cart_column2 .njohn_cart_button span a {
  border: 2px solid black;
  padding: 10px 100px 10px 100px;
  text-decoration: none;
  background: black;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.4s ease 0s;
}

.njohn_empty_cart_column2 .njohn_cart_button span a:hover {
  background: white;
  color: black;
}

.njohn_empty_cart_column2 div {
  padding: 0px 2px 0px 2px;
}

.njohn_empty_cart_column1 {
  padding: 5px 0px 40px 0px;
}

.njohn_empty_cart .njohn_empty_cart_column1 span {
  font-size: 20px;
}



/* Product Price Thumbnail View */
.njohn_thumb_price .njohn-regular_price {
  color: #585353;
  font-size: 20px;
  font-family: "avantegarde-regular";
  font-weight: bold;
}
.njohn_thumb_price .njohn-new_price {
  color: rgb(192, 57, 43);
  font-size: 20px;
  font-family: "avantegarde-regular";
  font-weight: bold;
}
.njohn_thumb_price .njohn-old_price {
  color: #585353;
  font-size: 15px;
  font-family: "avantegarde-regular";
  font-weight: bold;
  text-decoration: line-through;
}


/* Mouse highlight/selection color */
::-moz-selection {
  background: black !important;
  color: white !important;
}
::selection {
  background: black !important;
  color: white !important;
}


/* Collection button */
.moto_showmore_btn {
  border: 2px solid black !important;
  background: black !important; 
  color: white;
  padding: 15px 100px 15px 100px !important;
  transition: .4s;
  font-weight: bold !important;
  font-size: 20px !important;
}

.moto_showmore_btn:hover {
  background: white !important;
  color: black !important;
}






/* Modal PopUp Add to cart */

.njohn_addtocart #njohn_addtocart_img {
  float: left;
  padding: 10px;
}
.njohn_addtocart #njohn_addtocart_name {
  width: 100%;
  padding: 0px 0px 0px 135px;
}
.njohn_addtocart .njohn_addtocart_cell {
  /*font-family: 'hurme-semibold'!important;*/
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.njohn_addtocart .njohn_addtocart_success {
  /* font-family: 'hurme-regular'!important;*/
  color: black;
}
.njohn_addtocart .njohn_addtocart_success span.icon {
  vertical-align: middle;
  font-size: 20px;
}

.njohn_addtocart .njohn_continue_shop,
.njohn_addtocart .njohn_go_to_cart {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  margin: 5px;
  text-transform: uppercase;
  color: white;
  /*font-family: 'hurme-semibold'!important;*/
  font-weight: 600;
  font-size: 15px;
  background: black;
  transition: .4s;
}
.njohn_addtocart .njohn_continue_shop:hover,
.njohn_addtocart .njohn_go_to_cart:hover {
  background: #333333;
}


.njohn_addtocart .njohn_continue_shop span,
.njohn_addtocart .njohn_go_to_cart span {
  vertical-align: middle;
}


.njohn_addtocart_btn div {
  display: inline-block;
  margin-top: 5px;
}

.njohn_modal_body {
  padding: 0;
}

.njohn_header_modal {
  float: right;
}


.njohn_header_modal span.icon {
  color: black;
  font-size: 25px;
  transition: .4s;
}
.njohn_header_modal span.icon:hover {
  color: grey;
}

.njohn_header_modal button {
  background: transparent;
  border: transparent;
}



@media (max-width:543px) {
  .njohn_addtocart #njohn_addtocart_img {
    float: none;
    text-align: center;
  }
  .njohn_addtocart #njohn_addtocart_name {
    padding: 0;
    text-align: center;
  }
}


/* Collection Side Bar Buttons */
.filter-list li {
  display: block;
  color: black;
  transition: .3s;
  margin: 3px 0;
}
.filter-list li.active {
  /*font-family: 'hurme-bold';*/
  font-weight: 600;
  letter-spacing: 1px;
  background-color: #333;
  padding: 10px;
  color: white;
  font-size: .80em !important;
  text-transform: uppercase;
}
.filter-list li a {
  color: black;
  /* font-family: 'hurme-regular'; */
  font-size: .80em !important;
  letter-spacing: .05em;
  background-color: #f5f5f5;
  padding: 10px;
  display: block;
}



.filter-list li a:hover { 
  background-color: #333;
  /* font-family: 'hurme-bold'; */
  /* font-family: 'roboto';*/
}



.filter-list li.active a.clear-tag {
  color: white;
  font-size: 1.70em!important;
  transition: .3s;
  background-color: red;
  padding: 0;
  width: 35px;
  height: 41px;
  line-height: 41px;
  text-align: center;
  top: 0;
}

.filter-list li.active a.clear-tag:hover {
  color: red !important;
}
.filter-list li:hover a {
  color: white !important;
}


/* Pagination Button */
.njohn_paginate_btn div {
  display: inline-block;
}
.njohn_paginate_btn div a {
  border: 1px solid black;
  padding: 5px 20px;
  text-decoration: none;
  border-radius: 3px;
  /*font-family: 'hurme-semibold'!important;*/
  color: black;
  transition: .4s;
}
.njohn_paginate_btn div a:hover {
  background: black;
  color: white;
}
.njohn_paginate_btn div.njohn_active a {
  background: black;
  color: white;
}

.njohn_paginate_btn div a i.material-icons {
  vertical-align: top;
  font-size: 27px;
}


.cart .dropdown.open .dropdown-menu.slide-from-top {
  z-index: 9999;
}




.banner-icon__text h3 {
  /* font-family: 'hurme-semibold'; */
  /* font-family: 'roboto';*/
  font-size: 1.2em!important;
  font-weight: bold;
  color: #333!important;
  font-weight: 600;
}




/* SINGLE LINE TITLE */


h2.product_single_line {
  /* background: url(//cdn.shopify.com/s/files/1/0271/9799/t/20/assets/diagonal.gif?872480881825821163); */
  position: relative;
  padding: 10px 0px 10px 10px;
  width: 100%;
}


.featured_products span.moto_viewMoreBtn {
  float: right;
  font-size: .50em!important;
  background-color: transparent!important;
  text-align: center!important;
  /* font-family: 'hurme-regular'!important; */
  opacity: 0; 
  transition: all .5s ease 0s;
}


.featured_products span.moto_viewMoreBtn a i {
  opacity: 0; 
  transition: all .5s ease 0s;
  text-align: center;
}

.featured_products span.moto_viewMoreBtn,
.featured_products span.moto_viewMoreBtn a i {
  opacity: 1; 
/*   margin-right: 10px; */
}

.product_single_line,
.single_line {
  line-height: 1;
  text-align: left;
}

.product_single_line span {
  width: auto!important;
}

.product_single_line span,
.single_line span {
  /*font-family: 'hurme-bold'; */
  font-weight: 600;
  font-size: 22px;
  letter-spacing: .100em;
  display: inline-block;
  position: relative;
  color: white;
  background-color: black;
  padding: 15px 20px;
  text-align: left;
}

.product_single_line span.moto_saletitle a {
  color: white;
  background-color: black;
}

@media screen and (max-width: 360px) {
  .product_single_line span,
  .single_line span {
    font-size: 20px;
  }

}

@media screen and (max-width: 375px) {
  .product_single_line span {
    width: 97%!important;
    text-align: center;
  }
}


@media (max-width: 1024px) {
  .product_single_line span {
    font-size: 18px;
    line-height: 21px;
  }
}


.product_single_line span:after {
  width: 210%!important; 
}


.product_single_line span:after,
.single_line span:after {
  content: "";
  position: absolute;
  height: 7px;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  top: 18px;
  width: 1073px;
}

.product_single_line span:after,
.single_line span:after {
  left: 100%;
  margin-left: 15px;
}



/* RECOMMENDED LINE TITLE */


/* WISHLIST MENU */


.moto_menu_wishlist {
  padding: 0px 10px;
  display: inline;
  position: relative;
  text-align: center;

}

.moto_menu_wishlist a {
  color: black;
  text-decoration: none;

}

/* WISHLIST Modal */

#modalAddToWishlist .modal-content  {
  padding: 10px !important;
}
#modalAddToWishlist .modal-body  {
  padding: 0 0 30px 0 !important;
}
#modalAddToWishlist .text-center {
  /* font-family: 'hurme-bold'; */
  font-weight: 600;
  color: green;
  text-transform: uppercase;
  font-size: 14px;
}
#modalAddToWishlist button {
  color: red;
  font-size: 25px;
}



.top_icon .moto-cart-icon-cart-new {
  color:black;
  font-size: 2em;
}



/* SLICK CENTER IMAGE */

.slick-slide img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;

}




#moto-loader { 
  background:#000 url("loader.svg") center 11px no-repeat; 
  position: fixed; 
  top: 50%!important; 
  bottom: auto; 
  left: 50%; 
  right: auto; 
  width: 56px; 
  height: 56px;
  margin-left: -28px; 
  margin-top: -28px; 
  overflow: hidden; 
  padding: 0; 
  text-align: center; 
  text-indent: -999em; 
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.3); 
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.3); 
  box-shadow: 0 1px 4px rgba(0,0,0,0.3); 
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px; 
}



/* MENU CART DROP DOWN */

.cart .dropdown-menu .cart__item {
  padding: 10px 10px 15px 0!important;
  border-bottom: 1px solid rgba(0, 0, 0, .1)!important;
}
.cart .dropdown-menu .cart__item:last-child {
  border: none!important;
}
.cart .dropdown-menu ul {
  padding: 20px!important;
}
.cart .dropdown-menu .cart__close {
  top: 11px !important;
  color: white !important;
}
.cart .dropdown-menu .cart__close:hover {
  color: #C8102D!important;
}


@media (min-width: 1025px) {
  .cart .dropdown.open .dropdown-menu.cart_dropdown-davz {
    display: block;
    opacity: 1;
    -webkit-transition: all 500ms linear 0s;
    -moz-transition: all 500ms linear 0s;
    -ms-transition: all 500ms linear 0s;
    -o-transition: all 500ms linear 0s;
    transition: all 500ms linear 0s;
  }
  .cart .dropdown-menu.cart_dropdown-davz {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    opacity: 0;
    min-width: 565px;
    background-color: white;
    display: none;
    padding: 0px!important;
    -webkit-transition: all 500ms linear 0s;
    -moz-transition: all 500ms linear 0s;
    -ms-transition: all 500ms linear 0s;
    -o-transition: all 500ms linear 0s;
    transition: all 500ms linear 0s;
    -webkit-box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.08)!important;
    -moz-box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.08)!important;
    box-shadow: 0px 13px 5px 0px rgba(0, 0, 0, 0.08)!important;
    border: none;
  }
}


.cart .dropdown-menu .cart__item__control a span {
  color: black!important;
}
.cart .dropdown-menu .cart__item__info .info-label {
  padding-right: 8px;
  display: inline-block;
  /* font-family: "hurme-semibold"; */
  text-transform: uppercase;
  font-size: .80em;
  letter-spacing: .070em;
  color: black;
}
.cart .dropdown-menu .cart__item__control {
  top: 33px!important;
}
.cart_dropdown-davz .product_title-CartDpdown {
  width: 100%;
  float: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: black!important;
  /* font-family: "hurme-regular"; */
  text-transform: uppercase;
  font-size: .90em;
  letter-spacing: .050em;
  text-decoration: none;
}
.cart_dropdown-davz .product_title-CartDpdown:hover {

  color: #777!important;
}
.cart_dropdown-davz .checkout {
  display: block;
  height: 52px;
  line-height: 52px;
  background: black;
  color: rgba(255, 255, 255, 0);
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  -webkit-transition: all .2s 0s;
  transition: all .2s 0s;
}
.cart_dropdown-davz .checkout:hover {
  background: #0c0c0c!important;
}
.cart_dropdown-davz .checkout em {
  position: relative;
  display: inline-block;
  /* font-family: "hurme-semibold"; */
  letter-spacing: .050em;
  -webkit-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: -webkit-transform 0s .2s;
  transition: -webkit-transform 0s .2s;
  transition: transform 0s .2s;
  transition: transform 0s .2s, -webkit-transform 0s .2s;
}
.cart_dropdown-davz .checkout em::after {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  content: '';
  height: 24px;
  width: 24px;
  background: url(//cdn.shopify.com/s/files/1/1299/2659/t/11/assets/cd-icon-arrow-next.svg) no-repeat center center;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.cart_dropdown-davz .checkout {
  color: #ffffff;
  -webkit-transition: color .2s .3s;
  transition: color .2s .3s;
}
.moto-cartdropdown-price {
  /*font-family: 'hurme-bold'!important; */
  color:rgb(192, 57, 43)!important;
}
.cart_dropdown-davz .checkout em {
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: padding .2s 0s, -webkit-transform .2s .3s;
  transition: transform .2s .3s, padding .2s 0s;
  transition: transform .2s .3s, padding .2s 0s, -webkit-transform .2s .3s;
}
.cart_dropdown-davz .checkout:hover em {
  padding-right: 30px;
}
.cart_dropdown-davz .checkout:hover em::after {
  opacity: 1;
}


@media only screen and (min-width: 768px) {
  .cart_dropdown-davz .checkout {
    font-size: 2.4rem;
  }
}


a.cart_dropdown-viewCart {
  text-align: center;
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  text-transform: uppercase;
  /* font-family: "hurme-bold"; */
  letter-spacing: .090em;
  color: black;
}
a.cart_dropdown-viewCart:hover {
  color: #111;
  text-decoration: underline!important;
}
.cart .dropdown-menu .cart__top_empty {
  color: #C8102D!important;
}
.cart .dropdown-menu .cart__top_empty,
.cart .dropdown-menu .cart__top {
  font-size: .95em;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  /*  font-family: "hurme-bold"; */
  letter-spacing: .090em;
  color: white;
  padding: 15px;
  background-color: #333;
}

@media (max-width: 1024px) {
  .cart .dropdown-menu .cart__top_empty,
  .cart .dropdown-menu .cart__top {
    font-size: .90em;
  }
}


/* END */





/* RECOMMENDED PRODUCTS SLIDER BUTTON */

.moto_recommended_products .carousel-products__button span {
  background-color: black; 
}

.moto_recommended_products .carousel-products__button span:before {
  color: white;
}

.moto_recommended_products .slick-disabled {
  cursor: not-allowed !important;
  background-color: #F7F7F7 !important; 
}



.nj_BlogmyTable {
  overflow-x: auto; 
}



/* NEW ACCOUNT DESKTOP HEADER ICON   */


.toggle-menu.davz_new_account_icon .dropdown-menu {
  width: 280px;
}

.toggle-menu.davz_new_account_icon {
  margin: 0 5px 0 10px;
  vertical-align: middle;
}
.davz_new_account_icon {
  margin: 0 5px;
  vertical-align: middle;
}
.davz_new_account_icon .simple-icon {
  font-size: .80em;
  cursor: pointer;
}

.davz_new_account_icon .simple-icon-heart {
  font-size: 1.3em;
  color: #333333;
  text-decoration: none;
}

.davz_new_account_icon a {
  text-decoration: none;
}

.jubs-n_compare_product {
  margin:0 5px;
  vertical-align: middle;
}

.jubs-n_compare_product a:hover {
  text-decoration: none;
  /* color: #fff; 
  background: #fff; */
}


#header .container .row div span.davz--comparison {
  color: white;
  font-size: 1em;
  position: relative;
  -webkit-text-stroke: 1.2px black;
}


#header .container .row div span.jubs-icon-name {
  color: black;
  font-size: 12px;
  vertical-align: top;
  text-transform: uppercase;
}


.origin-icon-arrow-compare:before {
  content: "\e900";
}

.li-col-full.davz_li_col_full ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.li-col-full.davz_li_col_full ul li {
  margin-left: 0;
  padding-left: 0;
}

.li-col-full.davz_li_col_full ul li a {
  /*font-family: 'hurme-regular';*/
  text-transform: uppercase;
  letter-spacing: .110em;
  font-size: 0.90em;
}

.li-col-full.davz_li_col_full ul li a:hover {
  color: black;
}



.davz-haus-newsletter-page .modal-newsletter .row-subscibe .davz_motoNewsLetter_page_input {
  width: 100%;
}


.davz_nl_footer .modal-dialog {
  margin-top: 55px;
}

.davz_moto_footer_nl .davz_moto_footer_nl_input {
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #545454;
  border-radius: 2px;
  padding: 3px 10px 3px 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
}
.davz_moto_footer_nl .davz_moto_footer_nl_btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  line-height: 31px;
  background-color: #313131;
  color: white;
  width: auto;
  padding: 10px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.davz_moto_footer_nl .davz_moto_footer_nl_btn:hover {
  background-color: #131313;

}
.davz_moto_footer_nl form div {
  min-width: 460px;
}

.moto_main_menu #jubs-n_mobile a:hover{
  text-decoration:none;
}


/* STUCK NAV BAR */

.stuck-nav .jubs-nav {
  background: white;
  padding: 10px 0px;
}

.fixedbar .jubs-nav .logo {
  width: 300px;
  padding: 10px 0px 10px 0px;
  margin: 0;
  top: -5px;
  opacity: 1;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


#header span.simple-icon-user {
  color: black;
}

#header span.jubs-icon-name {
  color: black;
  font-size: 12px;
  vertical-align: middle;
  text-transform: uppercase;
}


/* DESKTOP FIXEDBAR SEARCH AND CART */


#header.moto_top_header .stuck-nav .haus_col_stuck_icons {
  display: none;
}

#header.moto_top_header .stuck-nav.fixedbar .haus_col_stuck_icons {
  display: inline-block;
}

.haus_fixed_search_class {
  width: 21%;
  position: absolute;
  right: 2%;
  top: 12px;
}


#header .haus_fixed_search_class input {
  background-color: white;
} 


#header .haus_col_stuck_icons .cart.haus_fixed_cart_class {
  position: absolute;
  top: 27px!important;
  /*       right: -17px; */
  width:75px;
}

#header .haus_col_stuck_icons .cart.haus_fixed_cart_class .moto-cart-icon-cart-new {
  color: white;
  font-size: 2.2em;
}

#header .fixedbar .haus_col_stuck_icons .cart.haus_fixed_cart_class .badge--cart {
  /*    right: -25px; */
  background-color: white;
  color: black;
  margin-top: -27px;
}
#header .fixedbar .haus_col_stuck_icons .jubs-n_compare_product a:hover {
  padding:29px 2px 15px 5px;
  background-color: white;
  color: white;
}

#header .container .row div span.simple-icon-fixed:hover{
  background-color:white;
  color: black;
  padding-top:17px;
  padding-bottom:17px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: -5px;
  text-decoration:underline solid white;
}

#header .fixedbar .haus_col_stuck_icons .jubs-n_compare_product{
  position:absolute;
  top: 12px!important;
  right: 5%;
}
#header .container .row div span.davz--comparison-fixed {
  color: white;
  font-size: 1.9em;
  position: relative;
  -webkit-text-stroke: 1.2px black;
}
#header .fixedbar .haus_col_stuck_icons .davz_new_account_icon-fixed {
  position:absolute;
  top: 16px!important;
  right: 2.7%;
}

.davz_new_account_icon-fixed  .simple-icon-heart{
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

/* COLLECTION SIDEBAR SLIDER */


.filters-row__select select {
  /* font-family: 'hurme-regular'; */
  /* font-family: 'roboto'; */
  text-transform: uppercase;
  font-size: .85em;
  letter-spacing: .100em;
}



/* #leftColumn:after {
background: transparent!important;
} */


/* SIDE BAR PRODUCT SLIDER HOT SALES & NEW ARRIVALS */

.vertical-carousel__item__title h2 {
  line-height: 1.188em!important;
}


.vertical-carousel__item__image {
  width: 40%!important;
  padding:0px 15px 0px 0px;
}


.vertical-carousel__item__title {
  width: auto;
}

.vertical-carousel__item__title h2 a {
  /* font-family: "hurme-regular"; */
  color: black;
  font-size: .80em;
  text-decoration: none;
  letter-spacing: .05em;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: 1.7;        /* fallback */
}

.vertical-carousel__item .price-box {
  margin: 0 0 0 100px;
  padding: 0 0 2px;
  font-size: 1em;
  color: #000000;
  text-align: left;
  /* font-family: 'hurme-semibold'; */
  font-weight: 600 !important;
  letter-spacing: .03em;
}


.vertical-carousel__item .price-box .price-box__old {
  font-weight: normal !important;
  font-size: .85em!important;
}
.vertical-carousel__item{
  height:130px!important;
  overflow:hidden;
  padding: 1px 0 5px 0;
}







/* wall thumbnails */


.banner .figure.buttononhover .banner__title {
  position: relative;
  top: 38px;
  -webkit-transition: all 400ms;
  -moz-transition: all 400ms;
  -ms-transition: all 400ms;
  -o-transition: all 400ms;
  transition: all 400ms;
}

.banner .figure.buttononhover:hover .banner__title {
  top: 0;
}
.banner .figure.buttononhover .figcaption .btn {
  position: relative;
  top: -10px;
  opacity: 0;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
}
.banner .figure.buttononhover:hover .figcaption .btn {
  top: 0;
  opacity: 1;
  -webkit-transition: all 500ms;
  -moz-transition: all 500ms;
  -ms-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
}


.btn.btn--ys.btn--xl.moto_walls_banner_btn {
  /*font-family: 'hurme-bold';*/
  font-weight: 600;
  background-color: white;
  color: black;
}

.moto_pages .zoom-in .figure:hover img {
  opacity: 0.5; 
}




/* MOTO PAGES STYLES */


.moto_pages .moto_box {
  padding: 10px;
  /*   border: 5px solid #eee; */
  margin: 10px 0;
}

.moto_pages .moto_box .moto_box_title {
  background-color: black;
  padding: 20px 0px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.moto_pages .moto_box .moto_box_title h5,
.moto_pages .moto_box .moto_box_title h2 {
  color: white;
  margin: 0;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.moto_pages .moto_box h3 {
  text-transform: uppercase;
  /* font-family: 'hurme-bold'; */
  font-weight: 600;
  color: #333333 !important;
  font-size: 1.5em;
  text-align: center;
}

.moto_pages .moto_box h6 {
  color: black!important;
  font-size: 1.5em;
  text-transform: uppercase;
}

.moto_pages .moto_box .social-links {
  margin-bottom: 0;
}

.moto_pages .moto_box ul {
  list-style-type: none;
  padding: 0px 7px;
}

.moto_pages .moto_box ul li {
  margin-top: 10px;
  font-weight: inherit!important;
}

.moto_pages .moto_box p {
  margin: 0;
  font-weight:bold!important;
}

.moto_pages .moto_box ul.dealer_grid {
  list-style: none;
  padding: 0;

  /*
  -webkit-columns: 3 90px;
  -moz-columns: 3 90px;
  columns: 3 90px; */

  -webkit-columns: 3 10px;
  -moz-columns: 3 10px;
  columns: 3 10px;

}

.moto_pages .moto_box ul.dealer_grid li {
  display: inline-block;
  vertical-align: top;
  /*width: 52%; */
}
.moto_pages .moto_box ul.dealer_grid li img {
  width: 100%;
}


/* MOTO PAGES STYLES */


.moto_pages .davz_repair_menu_tabs .nav-tabs > li {
  float: none;
  display: inline-block;
  border: 1px solid #808080;
  border-radius: 0;
}

.moto_pages .davz_repair_menu_tabs ul.nav-tabs {
  text-align: center;
  /*background-color: black; */
  -webkit-box-shadow: inset 0 0 0 3px #fff!important;
  -moz-box-shadow: inset 0 0 0 3px #fff!important;
  box-shadow: inset 0 0 0 3px #fff!important;
  border: 1px solid #fff!important;
  border: rgba(0,0,0,0) solid 3px!important;
  outline: 1px solid #4d90fe!important;
  outline: rgba(0,0,0,0) !important;
}
.moto_pages .davz_repair_menu_tabs ul.nav-tabs,
.moto_pages .davz_repair_menu_tabs .tab-content--ys > .tab-pane {
  border: none; 
}

.moto_pages .davz_repair_menu_tabs .tab-content--ys > .tab-pane {
  /* padding-top: 20px; */
  padding: 0;
}

.moto_pages .davz_repair_menu_tabs .tab-content--ys > .tab-pane h2 {
  color: black;
  /* font-family: 'hurme-bold'; */
  letter-spacing: .120em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}
.moto_pages .davz_repair_menu_tabs .tab-content--ys > .tab-pane .moto_box h3 {
  text-transform: uppercase;
  /*font-family: 'hurme-bold'; */
  background-color: black;
  padding: 20px;
  color: white!important;
}
.moto_pages .davz_repair_menu_tabs .tab-content--ys > .tab-pane .moto_box h4 {
  font-size: 2em;
  padding-left: 20px;
  font-weight: bolder;
}
.moto_pages .davz_repair_menu_tabs .tab-content--ys > .tab-pane .moto_box ul {
  list-style-type: disc;
}
.moto_pages .davz_repair_menu_tabs .tab-content--ys > .tab-pane .moto_box {
  border: 1px solid black;
  background-color: transparent;
}

.moto_pages .davz_repair_menu_tabs .tab-content--ys > .tab-pane .moto_box .davz_fixed_cotent {
  height: 400px;
  overflow-y: auto;
}

/**
.moto_pages .moto_box img {
width: 65%;
} **/

.moto_pages .davz_repair_menu_tabs .nav-tabs > li.active > a,
.moto_pages .davz_repair_menu_tabs .nav-tabs > li.active > a:hover,
.moto_pages .davz_repair_menu_tabs .nav-tabs > li.active > a:focus {
  border: none;
  border-radius: 0;
  color: black;
}
.moto_pages .davz_repair_menu_tabs .nav-tabs > li.active > a {
  margin-right: 0!important; 
}

.moto_pages .davz_repair_menu_tabs .nav-tabs > li > a {
  /* font-family: 'hurme-bold'; */
  letter-spacing: .120em;
  color: black;


}

/*
.moto_pages .davz_repair_menu_tabs .nav-tabs > li > a:after {
width: 4px;
content: " ";
position: absolute;
right: 0;
top: 9px;
height: 29px;
background-color: #757373;
}
*/

.moto_pages .davz_repair_menu_tabs .nav-tabs > li > a:hover:after,
.moto_pages .davz_repair_menu_tabs .nav-tabs > li.active > a:after {
  opacity: 0;
  visibility: hidden;
}
.moto_pages .davz_repair_menu_tabs .nav-tabs > li > a:hover {
  color: black;
}

.moto_pages .moto_box .social-links ul .fa-facebook {
  background-color: #3A599C!important;
  color: white!important;
}

.moto_pages .moto_box .social-links ul .fa-twitter {
  background-color: #1DA1F2!important;
  color: white!important;
}

.moto_pages .moto_box .social-links ul .fa-google-plus {
  background-color: #DC4E41!important;
  color: white!important;
}

.moto_pages .moto_box .social-links ul .fa-instagram {
  background-color: #9B6954!important;
  color: white!important;
}

.moto_pages .moto_box .social-links ul .fa-youtube-square {
  background-color: #CD201F!important;
  color: white!important;
}

.moto_pages .moto_box .social-links ul .fa-yelp {
  background-color: #C21613!important;
  color: white!important;
}

.moto_pages .moto_box .social-links ul .fa-yahoo {
  background-color: #7B0099!important;
  color: white!important;
}

.moto_pages .moto_box .social-links ul .fa-pinterest {
  background-color: #cb2027!important; 
  color: white!important;
}


.moto_pages .moto_box.davz_manual_height {
  height: 660px;
  display: block;
}


/**
.moto_pages .moto_box.davz_manual_height2 {
height: 440px;
}

**/


@media (max-width: 767px) {
  .jg_custom_col {
    padding: 0; 
  }

  .moto_con_banner {
    margin-top: 20px;
  }

}


@media (max-width: 424px) {
  .moto_pages .davz_repair_menu_tabs .nav-tabs > li {
    display: block; 
  }


  .jg_custom_join_mail {
    padding: 0 !important;
  }


  .moto_pages .davz_repair_menu_tabs .nav-tabs > li.active > a,
  .moto_pages .davz_repair_menu_tabs .nav-tabs > li.active > a:hover,
  .moto_pages .davz_repair_menu_tabs .nav-tabs > li.active > a:focus {
    background-color: grey!important;
  }

  .moto_pages .moto_box.davz_manual_height2,
  .moto_pages .moto_box.davz_manual_height {
    height: auto;
  }


}
.ecu-break{
  display:none;
}
@media (max-width: 767px){
  .color-10 nav a {
    display: block !important; 
  } 
}

@media (min-width:768px) and (max-width:1347px){
  .ecu-break{
    display:block;
  }
}
@media (min-width:768px) and (max-width:1439px){
  .motor-menu-cont .ecu-break{
    display:block;
  }
}
@media (min-width:1440px) and (max-width:1599px){
  .moto_pages .container {
    width: 1380px;
    margin-left: -20px;
  }
}
/*** Cutom CSS**/


.jg_custom_col .moto_box .moto_box_title {
  padding: 10px 0px !important;
}

.jg_custom_social_link {
  display: table;
  margin: 0 auto;
}

.jg_custom_social_link ul li {
  margin: 5px 10px !important;
}

.jg_custom_button form div {
  min-width: 0 !important;
}

.jg_custom_menu_tabs .tab-content--ys > .tab-pane .moto_box {
  padding: 10px;
  border: 5px solid #eee !important;
}

.jg_custom_join_mail {
  padding: 0 70px;
}

.jg_custom_pages .moto_box h2 span {
  color: #fa6b6b;
}

.cl-effect-10 {
  position: relative;
  z-index: 1;
}

/* Effect 10: reveal, push out */

.cl-effect-10 {
  position: relative;
  z-index: 1;
}

.color-10 {
  text-align: center; 
}

.cl-effect-10  {
  position: relative;
  z-index: 1;
}

.cl-effect-10 a {
  overflow: hidden;
  margin: 0 15px;
}

.cl-effect-10 a span {
  display: block;
  padding: 10px 20px;
  background: #ffffff;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  color: #000000;
  border: 1px solid #808080;
}

.cl-effect-10 a::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  background: #000000;
  color: #ffffff;
  content: attr(data-hover);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(-25%);
}

.cl-effect-10 a:hover span,
.cl-effect-10 a:focus span {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  transform: translateX(100%);
}

.cl-effect-10 a:hover::before,
.cl-effect-10 a:focus::before {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  transform: translateX(0%);
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.color-10 nav a {
  position: relative;
  display: inline-block;
  margin: 5px;
  outline: none;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  text-shadow: 0 0 1px rgba(255,255,255,0.3);
  font-size: 1em;
  /*font-family: 'hurme-bold';*/
  font-weight: 600;
  color: black;
}

.color-10 nav a:hover,
.color-10 nav a:focus {
  outline: none;
}


/* Clear */

.clear:after{
  clear:both;
  content: " ";
  display: table;
}

.cleared{
  clear:both;
}


/* NEW FIXED SEARCH WITH HOVER */

.moto_fixedSearch_dropDown_hover {
  position: absolute;
  right: 8%;
  top: 25%;
  width:30px;

}

.moto_fixedSearch_dropDown_hover:hover span.simple-icon-magnifier {
  background-color: white;
  color: black;

}
.moto_fixedSearch_dropDown_hover span.simple-icon-magnifier {
  color: white;
  padding: 19px 10px 14px 10px;
  font-size: 1.5em;
  cursor: pointer;
  margin-right:30px;
}


.moto_fixedSearch_dropDown_content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 360px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 132%;
}

.moto_fixedSearch_dropDown_hover:hover .moto_fixedSearch_dropDown_content {
  display: block;
}


.moto_fixedSearch_dropDown_hover .moto_fixedSearch_dropDown_input {
  float: left;
  width:100%;
  height: 55px;
  border: none;
  padding-left: 10px;
}


/* HOME BANNER BLOCKS BUTTONS */


.davz_home_blocks {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  /* font-family: 'hurme-bold'; */
  /* font-family: 'roboto'; */
  font-weight: bold !important;
  font-size: 1.2em!important;
  letter-spacing: .150em;
  background-color: rgba(0,0,0, .60);
  text-align: left;
  padding: 17px 24px;
}


.figure .davz_home_blocks:hover {
  background-color: rgba(0,0,0, 1);
}

.figure .figcaption:hover .davz_home_blocks em {
  opacity: 1;
  visibility: visible;
  right: 20px;
}


@media (min-width: 320px) {
  .figure .davz_home_blocks em {
    opacity: 1;
    visibility: visible;
    font-size: .60em;
    float: none;
    display: block;
  }
}

@media (min-width: 1025px) {
  .figure .davz_home_blocks em {
    font-size: .85em;
    font-style: normal;
    position: absolute;
    right: -129px;
    bottom: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background-color: white;
    color: black;
    padding: 5px 10px 0px 37px;
  }
}

.figure .davz_home_blocks em:after {
  display: inline;
  vertical-align: middle;
  float: right;
  color: white;
  font-family: 'simple-line-icons';
  -webkit-font-feature-settings: 'liga';
  content: "\e606";
  font-size: 1.45em;
  transition: all .5s ease 0s;
  position: relative;
  top: -4PX;
}


.slant_that {
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.slant_that_content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);  
  display: inline-block;
}


/* SIZE CHART STYLE*/


@media (max-width: 767px) {

  .jg_size_chart ul {
    -moz-column-count: 3 !important;
    -moz-column-gap: 20px;
    -webkit-column-count: 3 !important;
    -webkit-column-gap: 20px;
    column-count: 3 !important;
    column-gap: 20px;
  }
}


@media (max-width: 540px) {

  .jg_size_chart ul {
    -moz-column-count: 2 !important;
    -moz-column-gap: 20px;
    -webkit-column-count: 2 !important;
    -webkit-column-gap: 20px;
    column-count:2 !important;
    column-gap: 20px;
  }
}


@media (max-width: 360px) {

  .jg_size_chart ul {
    -moz-column-count: 1 !important;
    -moz-column-gap: 20px;
    -webkit-column-count: 1 !important;
    -webkit-column-gap: 20px;
    column-count:1 !important;
    column-gap: 20px;
  }
}


.table_responsive {
  overflow-x: auto;
}

.table_responsive > .table > thead > tr {
  background-color: #000000;
}

.table_responsive > .table > thead > tr > th {
  color: #ffffff;
}

.chart-text-box {
  padding: 10px;
  border: 5px solid #e1e1e2;
  background: #fff;
  margin: 10px 0;
}

.jg_size_chart ul {
  -moz-column-count: 4;
  -moz-column-gap: 20px;
  -webkit-column-count: 4;
  -webkit-column-gap: 20px;
  column-count: 4;
  column-gap: 20px;
  list-style: none;
}


.jg_size_chart ul li{
  margin: 5px 0;
  border-left: solid transparent;
  transition: all .5s ease 0s;
  padding: 0;
}


.jg_size_chart ul li a{
  text-transform: uppercase;
  font-weight: 500;
  color: #777777;
  letter-spacing: .110em;
  display: block;
  width: 100%;
  transition: all .5s ease 0s;
  padding: 5px; 
  text-decoration: none;
  font-weight: bold;
}

.jg_size_chart ul li a:hover {
  /* font-family: "hurme-semibold"; */
  margin-left: 20px;
  color: #f54c4c;
}



/* home slider banner btn */

.moto_home_slider_grid {
  position: relative;
  text-align: center;
}

.moto_slide_caption {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
  bottom: 50%;
}


.moto_slide_caption_btn {
  display: inline-block;
  margin-top: 5px;
  margin-right: 10px;
}

.moto_slide_caption_btn_link {
  /* font-family: 'hurme-bold'!important; */
  /* font-family: 'roboto'!important; */
  font-weight: bold;
  background-color: black;
  border: 2px solid transparent;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  line-height: 16px;
  outline: none;
  padding: 20px 28px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  letter-spacing: .110em;
}


.moto_slide_caption_btn_link:hover {
  background-color: rgba(0, 0, 0, .5);
  color: white;      
  text-decoration: none;
}


.AuthorizedMerchandise_ul_li ul {
  list-style: none; 
  padding: 0;
}


.AuthorizedMerchandise_ul_li ul li {
  display: inline-block;
  margin: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
}


.davz_obs_page ul {
  list-style: none;
  padding: 0;
}

.davz_obs_page ul li {
  padding: 0;
}


.obs_list a {
  text-decoration: none;

}

.davz_obs_page ul li a {
  text-transform: uppercase;
  color: #4e4e4e;
  letter-spacing: 1px;
  word-spacing: 2px;
  text-decoration: none;
}
.davz_obs_page ul li a:hover{
  color: #000;
  transition:color .3s;
}

@media (max-width: 414px) {
  .moto_slide_caption_btn_link {
    font-size: .85em;
    padding: 10px 15px;
  }

  .moto_slide_caption {
    bottom: 2%;
  }
}



/* davz-burger-menu
==================================== */
.davz-burger-menu {
  display: none; 
}
.fixedbar .davz-burger-menu {
  display: inline-block; 
}
.davz-burger-menu {
  font-size: 24px;
  line-height: 1.2em;
  margin-left: 14px;
  margin-right: 65px;

  color: #fff;
  cursor: pointer;
  vertical-align:middle;
}
.davz-burger-menu {
  /* position: relative;
  z-index: 77;
  top: 9px; */

  position: absolute;
  right:6%;
  top: 30%;
}
.davz-burger-menu .dropdown-menu {
  width: 580px;
  left: inherit;
  right: -2px;
  top: 44px;
  padding: 28px;
  border-radius: 0;
  border: 0;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}
.davz-burger-menu .dropdown-menu li {
  margin-left: 4%;
}
.davz-burger-menu .dropdown-menu li:first-child {
  margin-left: 0;
  padding-left: 0;
}
.davz-burger-menu .dropdown-menu li:nth-child(2) {
  margin-left: 0;
}
.davz-burger-menu .ul-row {
  overflow: hidden;
  list-style: none;
  margin: 0;
  right: 3px;
  display: table !important;
}
.davz-burger-menu .li-col {
  float: left;
  width: 42%;
}
.davz-burger-menu .li-col:hover .megamenu__subtitle span {
  color: #000000;
  letter-spacing: 0.4px !important;
}
.davz-burger-menu .li-col ul {
  padding: 0;
  margin: 0;
}
.davz-burger-menu .li-col li {
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
}
.davz-burger-menu .li-col li a {
  text-decoration: none;
  display: block;
  padding: 6px 2px 7px 11px;
  -webkit-transition:  all 300ms linear 0s;
  -moz-transition:  all 300ms linear 0s;
  -ms-transition:  all 300ms linear 0s;
  -o-transition:  all 300ms linear 0s;
  transition:  all 300ms linear 0s;
}
.davz-burger-menu .li-col li.active a,
.davz-burger-menu .li-col li a:hover {
  background-color: #f5f5f5;
  color: #333333;
}
.davz-burger-menu .li-col li:last-child {
  border-bottom: none;
}
.davz-burger-menu .li-col li img {
  margin: 0 5px 0 0;
  position: relative;
  top: -1px;
}
.davz-burger-menu .li-col-full {
  width: 100%;
  padding-left: 4%;
  padding-bottom: 5px;
  overflow: hidden;
}
.davz-burger-menu .li-col-full .close {
  color: #333333;
  cursor: pointer;
  opacity: 1;
  -webkit-transition:  all 300ms linear 0s;
  -moz-transition:  all 300ms linear 0s;
  -ms-transition:  all 300ms linear 0s;
  -o-transition:  all 300ms linear 0s;
  transition:  all 300ms linear 0s;
}
.davz-burger-menu .li-col-full .close:hover {
  color: #000000;
}
/* davz-burger-menu




/* Nathan starts here */
#fixedtog{

  background-color: white;
}

.moto_fixedSearch_dropDown_input {

  width:100%;
  height: 55px;
  border: none;
  padding-left: 10px;
}



/* Homepage banner */

@media screen and (max-width: 1024px){

  #toggle_n
  {
    display: none;
  }
}

@media screen and (min-width:0\0) {

  #header .container .row div span.davz--comparison {
    text-shadow: 0px -1px 0px #000,
      0px 0px 0px #000,
      -1px -1px 0px #000,
      0px 0px 0px #000,
      -1px 1px 0px #000,
      1px -1px 0px #000,
      0px 0px 0px #000,
      0px 1px 0px #000
  }
}


@media screen and (max-width: 1200px){

  #header.moto_top_header .account-row-list .moto-top-link li{
    padding: 0px 5px 0px 5px;
  }

  /*
  .logo{
  margin-bottom: 0px!important;
  margin-top: 0px!important;
  max-height: 55px!important;
}
  */
}



@media screen and (max-width: 1600px){

  .moto_plain_search{
    width: 45%;
  }
}


@media screen and (min-width: 1025px){

  html{
    overflow-x: hidden;
  }
  body{
    height: 100%;
  }
}




/* SALE BADGE */

.davz-onsale-badge {
  position: relative;
  left: 4%;
  width: 80px;
  /* height: 50px; */
  /* margin: 0 auto; */
  /* padding-top: 15px; */
  /* position: relative; */
  /* background: #fa6b6b; */
  /* color: white; */
  /* font-size: 11px; */
  /* letter-spacing: 0.2em; */
  /* text-align: center; */
  /* text-transform: uppercase; */
  top: 5px;

}

.davz-onsale-badge:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 28px;
  right: 2px;
  border-left: 8px solid #fa6b6b;
  border-bottom: 6px solid transparent;
}

.davz-onsale-badge span {
  background-color: #fa6b6b;
  padding: 0.50em 0.9em;
  color: white!important;
  font-size: .75em!important;
  letter-spacing: .110em!important;
  font-weight: bolder!important;
}

.prod-badge {
  float: right;
  position: relative;
  min-height: 75px;
}

.new-prod-badge_n{
  left: 2px;
  width: 77px;
  /* height: 50px; */
  margin-left: 2px;
  position: relative;
  /* background: #4973a9; */
  /* letter-spacing: 0.2em; */
  text-align: center;
  /* text-transform: uppercase; */
  background-color: #151515;
}
.new-prod-badge_n span{
  padding: 0.55em 0.7em;
  color: white!important;
  font-size: .75em!important;
  letter-spacing: .110em!important;
  font-weight: bolder!important;
}
.new-prod-badge_n:before{
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 26px;
  right: 0;
  border-left: 8px solid #151515;
  border-bottom: 6px solid transparent;
}
.new-prod-badge_n:after{
  content: ' ';
  position: absolute;
  left: -1px;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 15px solid rgb(255, 255, 255);
  border-left: 0px solid rgb(255, 255, 255);
  border-top: 15px solid rgb(255, 255, 255);
  border-right: 8px solid rgba(255, 255, 255, 0);
  top: -1px;
}

#njohn_product_grid:hover .davz-onsale-badge{
  /*left: 76%;*/
}

.davz-onsale-badge:after{    
  content: ' ';
  position: absolute;
  left: -2px;
  bottom: 0;
  padding-left: 2px;
  width: 0;
  height: 0;
  border-bottom: 15px solid rgb(255, 255, 255);
  border-left: 0px solid rgb(255, 255, 255);
  border-top: 15px solid rgb(255, 255, 255);
  border-right: 8px solid rgba(255, 255, 255, 0);
  top: 0px;
}


/*Discounted Sale*/

.jubs_amount_saved {
  position: relative;
  float: right; 
}

.jubs_amount_saved span {
  background-color: rgb(204, 10, 10);
  padding: 0.50em 0.9em;
  color: white!important;
  font-size: .80em!important;
  letter-spacing: .110em!important;
  font-weight: bolder!important;
  text-transform: uppercase; 
}

/*End Discounted Sale*/


/*Recently Viewed Items*/
.nj_product_recently_view_grid ul.davz_prod_icons li {
  display: inline-block; 
  margin-right: 10px;
}

.nj_product_recently_view_grid ul.davz_prod_icons li a {
  text-decoration: none;
  font-size: 13px;
  font-weight: 600;
  color: black; 
}

.nj_product_recently_view_grid ul.davz_prod_icons li a span.icon-favorite_border {
  vertical-align: middle;
  font-size: 1.80em; 
}

.nj_product_recently_view_grid ul.davz_prod_icons li a span.icon-favorite {
  vertical-align: middle;
  font-size: 1.80em; 
}


.nj_product_recently_view_grid ul.davz_prod_icons li a span.origin-icon-arrow-compare {
  vertical-align: middle;
  font-size: 2em;
  color: #fff;
  -webkit-text-stroke: 1.2px black;
}

.nj_product_recently_view_grid ul.davz_prod_icons li a span.simple-icon-eye {
  vertical-align: middle;
  font-size: 2.09em;
}



/*End Recently Viewed Items*/


/*Home Banner Effect*/

.banner-b-effect {
  position: relative;
}

.banner-b-effect .image {
  display: block;
  width: 100%;
  height: auto;
}

.banner-b-effect .overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(2, 118, 142, 0.8);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.banner-b-effect:hover .overlay {
  bottom: 0;
  height: 100%;
}

.banner-b-effect .text {
  white-space: nowrap; 
  color: white;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 10px;
  background: black;
}

/*End Home Banner Effect*/

/* Add fade effect on lazy images */

#fadeIn{
  opacity:0;
  animation-name: fadeIn;
  animation-duration:.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn{
  from {opacity:0;}
  to {opacity:1;}
}


#fadeOut{
  opacity:1;
  animation-name: fadeOut;
  animation-duration:.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{
  from {opacity:1;}
  to {opacity:0;}
}



.fadeIn{
  opacity:0;
  animation-name: fadeIn;
  animation-duration:.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn{
  from {opacity:0;}
  to {opacity:1;}
}


.fadeOut{
  opacity:1;
  animation-name: fadeOut;
  animation-duration:.7s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeOut{
  from {opacity:1;}
  to {opacity:0;}
}


/* End fade effect on Lazy Images */


.bi-row-title h4 i {

  vertical-align: middle;

}

.row-info {
  padding: 24px 0;
  border-bottom: 1px solid #a8a8a8;
}
.bi-content-label {

  text-align: center;

}
.bi-content-label span:nth-of-type(1) {

  font-size: 26px;
  padding-right: 17px;

}
.bi-content-hide p:nth-of-type(3){

  font-size: 21px;  


} 
.wall-addtl-info .nav-tabs.nav-justified > li > a {


  border-radius: 0;

}
.wall-addtl-info .nav-tabs.nav-justified > .active > a, .wall-addtl-info .nav-tabs.nav-justified > .active > a:hover, .wall-addtl-info .nav-tabs.nav-justified > .active > a:focus {

  background: #ddd;
  border-bottom: 1px solid #ddd;

}
.bi-content-hide .row div h4 {

  color: #757575;

}

.nav-item a{
  font-weight:700;
  font-size:18px;
}
.hr-faded{
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
}

/*LAZY IMAGE STYLE/ANIMATION*/
.b-lazy {
  -webkit-transition: opacity 900ms ease-in-out;
  -moz-transition: opacity 900ms ease-in-out;
  -o-transition: opacity 900ms ease-in-out;
  transition: opacity 900ms ease-in-out;
  max-width: 100%;
  opacity: 0;
}
.b-lazy.b-loaded {
  opacity: 1;
}


.harley-title{

  font-size:1.3em; 

}

.harley-page-title{

  font-size:2em;

}
.harley-page-sub-title{

  font-size:1.7em;

}

.table.row{
  display: table;
  vertical-align: middle;
  margin: 0;
}
.cell{
  display: table-cell;
  vertical-align: middle;
  float: none;
  width: 50%; 

}



.mmsr-title {

  position: absolute;
  width: 98%;
  text-align: center;
  padding: 188px 0px;
}

.mmsr-title-cont {

  margin: 0 27%;
  background-color: #00000082;
  padding: 21px;
}

.mmsr-title-cont h2, .mmsr-title-cont ul li{

  color: #fff !important;
}
.mmsr-title-cont ul li{

  text-align: left;
}

@media (max-width: 991px) { 

  .mmsr-title {
    position: relative;
    width: 98%;
    text-align: left;
    padding: 0;

  }
  .mmsr-title-cont {

    margin: 0;
    background-color: #00000000;
    padding: 0;

  }
  .mmsr-title-cont h2, .mmsr-title-cont ul li {
    color: #333 !important;

  }
  .mmsr-title {
    padding: 4px 0px;
  }


}

@media (max-width: 1199px) { 

  .mmsr-title {
    padding: 60px 0px;
  }

}
@media (max-width: 991px) {  

  .mmsr-title {
    padding: 4px 0px;
  }
}


.social-letter {

  /*   	background-color: #f1f1f1;
  border-radius: 5px;
  padding: 30px 39px; */

}

.social-links {

  margin-bottom: 1.438em;

}
.davz_moto_footer_nl.jg_custom_button {

  /* 	width: 68%; */
  margin: 0 auto;
}

body:not(.index) #pageContent > .container {
  padding-bottom: 20px;


}
.services-border{
  border: 1px solid #adadad63;
  border-top: 0px;
  border-bottom: 0px; 
}

.mmsr-pad {

  padding: 10px 78px;

}

.moto_box_title {

  background-color: #000;
  padding: 8px 2px 1px 2px;
}

.moto_box_title h2 {

  color: #fff;

}
.menu-desc {
  margin-top: -31%;
  position: absolute;
  font-size: 1.08em;
  text-transform: uppercase;
  text-align: center;
  margin-left: 31%;

}
.menu-desc p {

  color: #fff !important;
  font-size: 33px;
  font-weight: 600 !important;
  text-shadow: 0px 2px 3px #000;
}

.motor-menu-cont {

  max-width: 1440px;
  margin: 0 auto;
}


.jg_custom_pages{
  color:black;
}

.moto_box_cont ul li span {

  padding: 0 8px;

}

/* .moto-serv-title h2 {
line-height: 1.4em;
margin: 0;
color: #fff;

}
.moto-serv-title {
background-color: #000;
padding: 12px 0px;

} */

.moto-serv-title {
  font-size: 21px;
  font-weight: 600;

}

.moto_box_cont {
  color: #535353;
  padding: 31px 40px 40px 40px;
  text-align: left;
  /*     background-color: #f8f7fb; */


}

.moto_box-box {

  border: 1px solid #dcdcdc;

}
/* .finance-tits {
background-color: #000;
padding: 14px 3px 3px 3px;

}
.finance-tits h3 {
color: #fff;

} */

.financing tr td span{
  font-weight: bold;
  color: #4e4d4d;

}
.financing tr td a:hover {
  text-decoration: none;

}

.footer-address {

  font-size: 18px;
  line-height: 1.5;
}
.footer-address p {

  font-weight: inherit !important;

}
a:hover, a:focus {
  text-decoration: none;

}

.foote-motoserv li img {

  width: 100px;
  float: left;



}


.foote-motoserv li {

  display: inline-block;
  width: 19%;
  text-align: center;



}

.foote-motoserv li span {

  float: left;
  text-align: left;
  padding-left: 9px;
  margin-top: 27px;

}

@media (max-width:700px) {

  .foote-motoserv li {


    width: 100%;

  }


}
.flex-direction-nav{
  display:block; 
/*   visibility:visible; */
}

@media(max-width:767px) and (min-width:700px){
  #warning-image{
    width: 15vw;
    margin-bottom: 1em;
  }
}
@media(max-width:699px) and (min-width:600px){
  #warning-image{
    width: 15vw;
    margin-bottom: 1em;
  }
}

@media(max-width:599px) and (min-width:500px){
  #warning-image{
    width: 30vw;
    margin-bottom: 1em;
  }
}
@media(max-width:499px) and (min-width:400px){
  #warning-image{
    width: 30vw;
    margin-bottom: 1em;
  }
}
@media(max-width:399px) and (min-width:325px){
  #warning-image{
    width: 30vw;
    margin-bottom: 1em;
  }
}

#pageContent{
  overflow:hidden!important; 
}

#nj_qv_add_item_qv .nj_qv_addtocartqv button{

  font-size: 1em;
}


/* J LOOOKBOOK GRID  */

.lookbook-grid{
  margin-bottom:4em;
}

.lookbook-image{
  margin: 3em 0em 1em;
}
@media (max-width:568px){
  .njohn_paginate_btn div a {
    border: 1px solid black;
    padding: 5px 14px;
    text-decoration: none;
    border-radius: 3px;
    /* font-family: 'hurme-semibold'!important; */
    color: black;
    transition: .4s;
  }
}

.last-call-badge_n{
  display:none;
}
.honda-text{
  font-size: 3.5em;
  font-family: Impact, Charcoal, sans-serif;
  color: #c83138;
  line-height: 2.15em;
  padding: 0px .1em;
}
.motorcycle-brands{
  font-size:3.3em; 
  font-family: Impact, Charcoal, sans-serif;
}

.transport-motorcycle-brands{
  font-size:1.7em; 
  font-family: Impact, Charcoal, sans-serif;
}
.transport-motorcycle-brands-holder{
  text-align:center;
}
@media (min-width:1024px) and (max-width:1200px){


}

@media (min-width:768px) and (max-width:991px){
  .transport-motorcycle-brands{
    font-size:2.8em; 
  }

}
.webp .ecu-flash-results{
  background-image:url('https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-services-racing-bg.jpg?v=1583893860');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  color:white;
}
.honda-motorcycles, .kawasaki-motorcycles, .suzuki-motorcycles{
  display:none;
}
.webp .FAQ-section{
  background-image: url('https://cdn.shopify.com/s/files/1/1223/6434/files/faq-section-bg-image-3.webp?50438');
  background-size: cover;
  background-repeat: no-repeat; 
}

.no-webp .ecu-flash-results{
  background-image:url('https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-sub-banner-3-2-min.jpg?52998');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 500px;
  color:white;
}
.no-webp .FAQ-section{
  background-image: url('https://cdn.shopify.com/s/files/1/1223/6434/files/faq-section-bg-image-3-min.jpg?52998');
  background-size: cover;
  background-repeat: no-repeat; 
}

.FAQ-section .row{
  background-color:#ffffffd4;
  padding: 25px;
}
.FAQ-section p, .FAQ-section td, .FAQ-section a{
  color:#505050; 
}
.ecu-availability-bg-color{
  background-color: #ffffffd1;
  padding: 20px;
  box-shadow: 1px 4px 5px 0px #bbbbbb;
}

.ecu-flash-results .row{
  padding:20px 80px; 
  color:black;
}
.ecu-image{
  width:100%;
  border-radius: 8px;
}
.ecu-image-holder{
  padding: 75px 0px 0px 50px;
}
.ecu-mobile-row{
  padding: 0px 15px;
  text-align:justify;
}
@media (max-width:768px){
  .ecu-flash-results .row{
    padding: 20px 30px;
  }
  .ecu-flash-results{
    background-image:url('https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-mobile-2.webp?50497');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    color:white;
  } 
  .ecu-image-holder{
    padding: 0px;
  }
  .ecu-mobile-row{
    padding: 0px 15px;
    text-align:left;
  }
}
@media (max-width:576px){
  .ecu-flash-results .row{
    padding: 20px 10px;
  }
  .ecu-flash-results{
    background-image:url('https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-mobile-2.webp?50497');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    color:white;
  } 
  .ecu-image-holder{
    padding: 0px;
  }
  .ecu-mobile-row{
    padding: 0px 15px;
    text-align:left;
  }
  .ecu-availability-table p{
    padding: 0px 15px;
  }
  .ecu-sub-title{
    text-align:center;
  }
}
.ecu-list li{
  padding: 3px 0;
}


.embedded-google-forms{

  display:none;
}

.subscribe-moto-service-btn{
  padding: 15px 80px;
  background-color: #f03a3a;
  color: white;
  font-size: 1.7rem;
  transition: all .3s;
}
.subscribe-moto-service-btn-span{
  padding: 7.5px 80px;
  background-color: black;
  color: white;
  font-size: 1.5rem;
  transition: all .3s;

}
.subscribe-moto-service-btn:hover, .subscribe-moto-service-btn-span:hover, .subscribe-moto-service-btn:active, .subscribe-moto-service-btn-span:active{
  background-color: #f03a3a;
  color: white!important;
}

@media (min-width:400px) and (max-width:576px){
  .subscribe-moto-service-btn-span {
    padding: 7.5px 60px;

  }
}
.moto-service-links{
  transition:all.3s;
}
.moto-service-links:hover{
  color:black;
}




.custom-review-stars{
  font-size:20px!important;
  color: #e96f09;
}
.customer-reviews-info h4{
  margin-bottom:5px;
  margin-top:8px;
}
.customer-reviews-info p{
  margin-bottom:5px;
}
.reviews-custom-slick-slider .slick-next{
  right:-125px;
  background-color: transparent;
}
.reviews-custom-slick-slider .slick-prev{
  left:-125px;
  background-color: transparent;
}

.reviews-custom-slick-slider:hover .slick-next, .reviews-custom-slick-slider:hover .slick-prev{
  opacity:1;
}

.reviews-custom-slick-slider .slick-prev:before, .reviews-custom-slick-slider .slick-next:before {
  color: #818181;
}
.reviews-custom-slick-slider .slick-prev:hover:before, .reviews-custom-slick-slider .slick-next:hover:before {
  color: #000;
}
.reviews-custom-slick-slider .slick-prev.slick-arrow, .reviews-custom-slick-slider .slick-next.slick-arrow{
  transition: all .3s;
  opacity:1;
}
.reviews-custom-slick-slider .slick-prev.slick-arrow.slick-disabled{
  opacity:0
}
.reviews-custom-slick-slider .slick-next.slick-arrow.slick-disabled{
  opacity:0;
}
.second-row{
  display:none;
}

.show-more-reviews-btn{
  padding: 15px 40px 25px 40px;
  background-color: transparent;
  color: black;
  font-size: 1.7rem;
  transition: all .3s;
  text-transform: uppercase;
}

.show-more-reviews-btn:hover{
  background-color: transparent;
  color: black!important;
}

.show-more-reviews-btn:focus{
  background-color: transparent;
  color: black!important;
}
.motorhelmets-gift-guide-show-more{
  padding:20px;
  background: #ececec;
  transition: all .3s;
  text-transform: uppercase;
}
.motorhelmets-gift-guide-show-more:hover{
  background: #006989;
  color: #fff;
  border-right: 1px solid #ececec;
  text-decoration: none;
}
.gift-guide-choices{
  text-align:center;
}
.gift-guide-choices .gift-guide-text{
  transition: all .3s;
  font-weight:600;
}
.gift-guide-choices .gift-guide-text:hover{
  color:black;
}
.op_banner .op_banner_container .op_banner_container_block.selected-price{
  background: #006989;
  color: #fff;
  border-right: 1px solid #ececec;
  text-decoration: none;
}
.show-more-reviews-btn .service-show-more-btn:after{
  content: ' ';
  position: relative;
  top: 15px;
  left: -50px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.show-more-reviews-btn.show .service-show-more-btn:after{
  content: ' ';
  position: relative;
  top: 22px;
  left: -46px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.street-view {

    padding: 0 124px;

}



@media (max-width:1199px){
 .street-view {

    padding: 0 0px;

}


}


.top-local-address p {

font-weight: normal !important;
  

}

.shopping-cart-btns .cart-btn{
  color: #fa6b6b;
}
.shopping-cart-btns li.active a{
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
.shopping-cart-btns .nav-tabs--ys-center1 li{
  margin: 0px 5px !important;
}
.shopping-cart-btns .nav-tabs--ys-center1, .shopping-cart-btns .nav-tabs--ys-center1 li.active > a{
  border-bottom: none!important;
}
.shopping-cart-btns a.btn{
  margin-left: 1em;
}
.shopping-cart-content.tab-content--ys > .tab-pane{
  padding: 0;
  border-right: none;
  border-bottom: none;
  border-left: none;
}
.shopping-cart-content .shopping-cart-table td, 
.shopping-cart-content .shopping-cart-table th{
  position: relative;
  border-right: none;
  border-bottom: 1px solid #eaeaea;
  padding: 20px 0;
  
}
.shopping-cart-table .cart-item-option{
  position: absolute;
  bottom: 1em;
}
.shopping-cart-table__product-price{
  font-size: 20px;
}
.cart-table{
  width:100%;
}
.cart-table #grandtotal th{
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  padding: 10px 0;
}

.shopping-cart-table td{
  border-top: 1px solid;
  position: relative;
}
.shopping-cart-table__product-name{
  margin-bottom: 0;
}
.line_info{
  margin-bottom: 10px;
}
.line_info span.eligible-pickup{
  color: #fff;
  background-color: #484848;
  padding: 5px 15px;
}
.line_info span.pickup-only{
  color: #fff;
  background-color: #ff3636;
  padding: 5px 15px;
}
.shopping-cart-table .line_info a{
  color: #fff;
}