.nj_product_recently_view_grid .flex-next {
	opacity: 1;
    left: 97%;
    top: -26%;
    height: 45px;
    width: 45px;
    background-color: #000;
    color: #333333;
    padding: 0;
    border: none;
    outline: none;
	z-index: 99;
    text-align: center;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    display: inline-block;
    margin-left: 0.17em;
    margin-top: 0.1em;
}

#nj_product_recently_view .flex-direction-nav .flex-disabled {
    z-index: -1 !important;
    opacity: 1 !important;
    cursor: not-allowed !important;
    background-color: #F7F7F7 !important;
}

.nj_product_recently_view_grid .flex-prev {
	opacity: 1;
    left: 93.3% !important;
    top: -26%;
    height: 45px;
    width: 45px;
    cursor: pointer;
    background-color: #000;
    color: #333333;
    padding: 0;
    border: none;
    outline: none;
	z-index: 99;
    text-align: center;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
    display: inline-block;
    margin-left: 0.17em;
    margin-top: 0.1em;
}
.nj_product_recently_view_grid .flex-next:before {
    font-family: 'Material Icons';
    font-size: 35px;
  	line-height: 45px;
    content: '\e315' !important;
    color: white;
}

.nj_product_recently_view_grid .flex-prev:before {
    font-family: 'Material Icons';
    font-size: 35px;
  	line-height: 45px;
    content: '\e314' !important;
    color: white;
}
.nj_product_recently_view_label {
    text-align: center;
    margin: 15px 0;
    position: relative;
}
.nj_product_recently_view_label:before {
	content: '';
	position: absolute;
	border-bottom: 3px solid black;
	width: 80px;
	top: 0;
	right: 0;
	left: 0;
	margin: auto;
	bottom: 0;
}
.nj_product_recently_view_label span {
    font-family: 'hurme-bold';
    font-size: 22px;
    letter-spacing: .100em;
    display: inline-block;
    color: black;
    text-transform: uppercase;
    padding: 2px 15px;
}

.nj_product_recently_view_grid ul.slides > li > div {
    border: 1px solid white;
    padding: 0 10px;
}
.nj_product_recently_view_grid ul.slides > li > div:hover {
    border: 1px solid rgba(0,0,0, .08);
}

.nj_product_recently_view_grid li .nj_recently_view_images ul {
    padding: 0;
    margin: 0;
  	/*display: none;*/
}
.nj_product_recently_view_grid li .nj_recently_view_images ul li {
    display: inline-block;
}

.nj_product_recently_view_grid li .nj_recently_view_info a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.90em;
    color: #333;
    white-space: nowrap;
    /*font-family: 'hurme-semibold';*/
  	letter-spacing: .02em;
    font-style: normal;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
	-webkit-transition: all 0.4s; 
	-moz-transition: all 0.4s; 
	transition: all 0.4s;
}
.nj_product_recently_view_grid li .nj_recently_view_info {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    margin-top: 10px;
}
.nj_product_recently_view_grid li .nj_recently_view_info div[nj-money] {
    text-align:center;
}
.nj_product_recently_view_grid li .nj_recently_view_info div[nj-money] span[nj-regular-price] {
	color: black;
    font-size: 1.50em;
    /* font-family: 'hurme-bold';*/
  	
}
.nj_product_recently_view_grid li .nj_recently_view_info div[nj-money] span[nj-new-price] {
    color: rgb(204, 10, 10);
    font-size: 1.20em;
  	font-weight: 600;
    /* font-family: 'hurme-bold'; */
}
.nj_product_recently_view_grid li .nj_recently_view_info div[nj-money] span[nj-old-price] {
	color: #a7a4a4;
    font-size: 15px;
    /* font-family: 'hurme-semibold'; */
    text-decoration: line-through;
}


.nj_product_recently_view_grid li .nj_recently_view_btn {
    margin-top: 0;
}
.nj_product_recently_view_grid li .nj_recently_view_btn > div {
    opacity: 0;
}
.nj_product_recently_view_grid li:hover .nj_recently_view_btn > div {
    opacity: 1;
}
.nj_product_recently_view_grid li .nj_recently_view_btn > div:first-child {
    float: right;
}
.nj_product_recently_view_grid li .nj_recently_view_btn > div:first-child span {
    color: black;
    font-size: 1.50em;
}
.nj_product_recently_view_grid li .nj_recently_view_btn > div:not(:first-child) {
    float: left;
    width: 0;
}
.nj_product_recently_view_grid li .nj_recently_view_btn > div:not(first-child) a {
    text-decoration: none;
}
.nj_product_recently_view_grid li .nj_recently_view_btn > div:not(first-child) span {
    color: black;
    font-size: 1.50em;
}

@media(max-width:1024px) {
  .nj_product_recently_view_grid li .nj_recently_view_btn > div {
      opacity: 1;
  }
  .nj_product_recently_view_grid ul.slides > li > div {
      border: 1px solid rgba(0,0,0, .08);
  }
}



/****************************************
* DAVZ HEADER MOBILE VIEW
*****************************************/



/****************************************
* min-width: 320px > START
*****************************************/

@media screen and (min-width: 320px) {
	.nj_product_recently_view_grid .flex-next {
      	left: 84%;
    }
	.nj_product_recently_view_grid .flex-prev {
      	left: 65.3% !important;
    }

}

/****************************************
* min-width: 450px > START
*****************************************/

@media screen and (min-width: 450px) {
	.nj_product_recently_view_grid .flex-next {
      	left: 50%;
      	top: -12%;
    }
	.nj_product_recently_view_grid .flex-prev {
      	left: 37.3% !important;
      	top: -12%;
    }

}



/****************************************
* min-width: 768px > START
*****************************************/

@media screen and (min-width: 768px) {
	.nj_product_recently_view_grid .flex-next {
      	left: 93.4%;
      	top: -18%;
    }
	.nj_product_recently_view_grid .flex-prev {
      	left: 86.4% !important;
      	top: -18%;
    }

}


/****************************************
* min-width: 768px > START
*****************************************/

@media screen and (min-width: 768px) {
	.nj_product_recently_view_grid .flex-next {
      	left: 93.4%;
      	top: -29%;
    }
	.nj_product_recently_view_grid .flex-prev {
      	left: 86.4% !important;
      	top: -29%;
    }
}


/****************************************
* min-width: 1025px == START
*****************************************/

@media screen and (min-width: 1025px) {
  	.nj_product_recently_view_grid .flex-next {
      	left: 97%;
    }
	.nj_product_recently_view_grid .flex-prev {
      	left: 93.2% !important;
    }
  
}
  




/* BOTTOM BUTTONS > REVIEW/SELECT OPTION & ADD TO CART BUTTON */


.nj_recently_view_option {
	position: relative;
	opacity: 1;
	margin-top: 15px;
}


/* CUSTOMER REVIEW */
.nj_recently_view_option1 {
  	display: inline-block;
    opacity: 1;
    position: absolute;
    left:39%;
  	-webkit-transition: all 0.4s; 
	-moz-transition: all 0.4s; 
	transition: all 0.4s;
}

#nj_product_recently_view .flex-viewport .slides li:hover .nj_recently_view_option1 {
    left: 4%
}


/* ADD TO CART */
.nj_recently_view_option2 {
    opacity: 0;
  	text-align: right;
  	margin-bottom: 15px;
    padding-right: 10px;
  	-webkit-transition: all 0.4s; 
	-moz-transition: all 0.4s; 
	transition: all 0.4s;
}

#nj_product_recently_view .flex-viewport .slides li:hover .nj_recently_view_option2 {
   	opacity: 1;
}

.nj_recently_view_option2 a {
 	padding: 7px 11px;
    text-decoration: none;
    font-family: 'hurme-semibold';
    font-size: .85em;
    letter-spacing: .100em;
  	color: white;
	background-color: black;
  	text-transform: uppercase;
}

  
#nj_product_recently_view .new-prod-badge_n {
    left: 2px;
    width: 77px;
    /* height: 50px; */
    margin-left: 2px;
    position: relative;
    /* background: #4973a9; */
    /* letter-spacing: 0.2em; */
    text-align: center;
    /* text-transform: uppercase; */
    background-color: #151515;
    top: 4px;
}
  
#nj_product_recently_view .davz-onsale-badge {
    position: relative;
    left: 4%;
    width: 80px;
    /* height: 50px; */
    /* margin: 0 auto; */
    /* padding-top: 15px; */
    /* position: relative; */
    /* background: #fa6b6b; */
    /* color: white; */
    /* font-size: 11px; */
    /* letter-spacing: 0.2em; */
    /* text-align: center; */
    /* text-transform: uppercase; */
    top: 10px;
}
  
.nj_recently_view_img{
         padding-top: 75px;
 }
  
 
.nj_recently_view_img{
  	    padding-top: 75px;
  }
  
  .nj_recently_view_images{
  		text-align: center;
    	margin: 5px auto;
    	width: 170px;
  }
  .nj_recently_view_slider{
  		margin: 0 !important;
    	margin-top: 30px !important;
    	background: #fff;
        border: 4px solid #fff;
        position: relative;
        zoom: 1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    	padding: 0;
  }
  .nj_recently_view_flex{
  		overflow: hidden;
    	position: relative;
    	max-height: 2000px;
    	-webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
  }
  .nj_recently_view_images ul.slide{
    	width: 800%;
        transition-duration: 0s;
        transform: translate3d(0px, 0px, 0px);
        zoom: 1;
    	margin: 0;
        padding: 0;
        list-style: none;
  }
  .nj_recently_view_images ul.slide li{
  		width: 50px;
        margin-right: 5px;
        float: left;
        display: block;
  }
  .nj_recently_view_images img {
  		width: 100%;
    	display: block;
    	cursor: pointer;
        border: 1px solid white;
        padding-bottom: 5px;
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-drag: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        user-drag: none;
        user-select: none;
    	border-bottom: 3px dotted transparent !important;
  }
 
.nj_recently_view_images img:hover {
    border-bottom: 3px dotted rgb(173, 173, 173) !important;
  	opacity: .80;
 }

#nj_product_recently_view .davz_prod_icons {
 	opacity: 0; 
  	float: left;
}

#nj_product_recently_view li div:hover .davz_prod_icons {
 	opacity: 1; 
}