#nj_collection_product_recently_view {
    padding: 0;
    margin: 0;
    list-style: none;
}
#nj_collection_product_recently_view > li:not(:first-child) {
    border-top: 1px solid #ddd;
    padding: 10px 0;
    margin: 10px 0;
}
#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_img {
    display: inline-block;
    vertical-align: middle;
}
#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_info {
    display: inline-block;
    width: 100px;
    vertical-align: middle;
    margin: 0 0 0 10px;
    line-height: 1.6875em;
}

#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_info a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-family: 'hurme-regular';
    font-style: normal;
}

#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_info div[nj-money] span[nj-regular-price] {
    color: black;
    font-size: 15px;
    font-family: "FuturaPT-Medium";
}
#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_info div[nj-money] span[nj-new-price] {
    color: red;
    font-size: 15px;
    font-family: "FuturaPT-Medium";
}
#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_info div[nj-money] span[nj-old-price] {
    color: grey;
    font-size: 15px;
    font-family: "FuturaPT-Medium";
    text-decoration: line-through;
}

#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_option {
    text-align: center;
}
#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_option .nj_recently_view_option1,
#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_option .nj_recently_view_option2 {
    display: inline-block;
    padding: 0 10px;
}
#nj_collection_product_recently_view > li > div[nj-items] .nj_recently_view_option .nj_recently_view_option2 a {
    text-decoration: none;
    font-family: 'hurme-semibold';
    font-size: .85em;
    color: black;
    background-color: white;
    text-transform: uppercase;
}