/*
+-----------------------+
| Compare Product Style |
| Date: 12/01/16        |
| Author: NJ            |
+-----------------------+
*/

.nj_products_comparison_table {
    overflow: auto;
}
.nj_products_comparison_table table {
    border-collapse: collapse;
}
.nj_products_comparison_table tr td {
    padding: 5px 3px 3px 5px;
}
.nj_products_comparison_table tr td:first-child {
    background: #fafafa;
    border: 1px solid #fafafa;
    padding: 5px 10px 3px 10px;
}
.nj_products_comparison_table tr td:not(:first-child) {
    border: 1px solid #fafafa;
}
.nj_products_comparison_table tr td:first-child div span {
    font-family: 'hurme-bold';
    text-transform: uppercase;
    background: #fafafa;
    color: black;
}
.nj_products_comparison_table tr[nj="image"] td:not(:first-child) div {
    text-align:center;
}
.nj_products_comparison_table tr[nj="title"] td:not(:first-child) div {
    text-align:center;
}
.nj_products_comparison_table tr[nj="title"] td:not(:first-child) div a {
    color: #000;
    font-family: 'hurme-regular';
    text-transform: capitalize;
}
.nj_products_comparison_table tr[nj="description"] td:not(:first-child) {
    vertical-align: top;
}
.nj_products_comparison_table tr[nj="description"] td:not(:first-child) div {
    max-height: 300px;
    overflow: auto;
    color: #000 !important;
    font-family: 'hurme-regular';
    font-size: 14px;
    min-width: 253px;
}
.nj_products_comparison_table tr[nj="description"] td:not(:first-child) div ul {
    margin: 0;
    padding: 0 20px;
}
.nj_products_comparison_table tr[nj="availability"] td:not(:first-child) div {
    text-align: center;
}
.nj_products_comparison_table tr[nj="availability"] td:not(:first-child) div span[nj="in-stock"] {
    font-family: 'hurme-regular';
    color: green;
}
.nj_products_comparison_table tr[nj="availability"] td:not(:first-child) div span[nj="out-of-stock"] {
    font-family: 'hurme-regular';
    color: red;
}
.nj_products_comparison_table tr[nj="price"] td:not(:first-child) div {
    text-align: center;
}
.nj_products_comparison_table tr[nj="price"] td:not(:first-child) div span[nj="reg"] {
    color: black;
    font-family: 'hurme-regular';
    display: block;
}
.nj_products_comparison_table tr[nj="price"] td:not(:first-child) div span[nj="new"] {
    color: red;
    font-family: 'hurme-regular';
    display: block;
}
.nj_products_comparison_table tr[nj="price"] td:not(:first-child) div span[nj="old"] {
    color: #a7a4a4;
    font-family: 'hurme-regular';
    text-decoration: line-through;
    display: block;
}
.nj_products_comparison_table tr[nj="brand"] td:not(:first-child) div {
    text-align: center;
}
.nj_products_comparison_table tr[nj="brand"] td:not(:first-child) div span {
    font-family: 'hurme-bold';
    color: black;
}
.nj_products_comparison_table tr[nj="total-color"] td:not(:first-child) div {
    text-align: center;
}
.nj_products_comparison_table tr[nj="total-color"] td:not(:first-child) div span {
    font-family: 'hurme-regular';
    color: black;
}
.nj_products_comparison_table tr[nj="functions"] td:not(:first-child) div {
    text-align: center;
}
.nj_products_comparison_table tr[nj="functions"] td {
    border-color: #e5e5e5 #e5e5e5 transparent #e5e5e5 !important;
}
.nj_products_comparison_table tr[nj="functions"] td:not(:first-child) {
    border-color: #e5e5e5 #e5e5e5 transparent #e5e5e5 !important;
}
.nj_products_comparison_table tr[nj="functions"] td:not(:first-child) div .default-wishbutton,
.nj_products_comparison_table tr[nj="functions"] td:not(:first-child) div .added-wishbutton {
    width: auto;
}
.nj_products_comparison_table tr[nj="functions"] td:not(:first-child) div i[nj="add-to-wishlist"]:hover,
.nj_products_comparison_table tr[nj="functions"] td:not(:first-child) div i[nj="added-wishlist"]:hover {
    color: #ff5976;
    cursor: pointer;
}
.nj_products_comparison_table tr[nj="functions"] td:not(:first-child) div i[nj="remove"]:hover {
    color: red;
    cursor: pointer;
}
.nj_products_comparison_table tr[nj="functions"] td:not(:first-child) div i[nj="quik"]:hover {
    color: green;
    cursor: pointer;
}
.nj_products_comparison_table tr[nj="action"] td:first-child {
    border-color: #e5e5e5 #e5e5e5 transparent #e5e5e5 !important;
}
.nj_products_comparison_table tr[nj="action"] td:not(:last-child):not(:first-child) {
    border-color: #e5e5e5 #e5e5e5 transparent #e5e5e5 !important;
}
.nj_products_comparison_table tr[nj="action"] td:last-child {
    border-color: #e5e5e5 #e5e5e5 transparent #e5e5e5 !important;
}
.nj_products_comparison_table tr[nj="action"] td:not(:first-child) div {
    text-align: center;
}
.nj_products_comparison_table tr[nj="action"] td:not(:first-child) div label {
    display: block;
    cursor: pointer;
    margin: 0;
}
/* Empty */
.nj_get_wishlist div {
    text-align: center;
    font-family: "hurme-regular";
    font-size: 18px;
    color: black;
}
.nj_products_comparison_empty {
    text-align: center;
}
.nj_products_comparison_empty span {
    display: block;
    font-family: "hurme-regular";
    font-size: 18px;
    color: black;
    margin: 10px 0;
}

.nj_products_comparison_empty a {
    font-family: "hurme-semibold";

    font-size: 18px;
    color: black;
    background: white;
    width: 170px;
    display: inline-block;
    margin: 5px 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid;
    transition: .4s;
}
.nj_products_comparison_empty a:hover {
    color: #828282;
}