.nj_wishlist_dropdown {
    position: absolute;
    top: 200%;
    left: -450px;
    z-index: 10;
    width: 500px;
    border: 1px solid #ddd;
}

.nj_wishlist_header_list {
	overflow: auto;
	max-height: 500px;
	background: white;
}
.nj_wishlist_header_list table {
	margin: 10px 0;
}
.nj_wishlist_header_list table tbody[nj] {
	width: 100%;
}
.nj_wishlist_header_list table tbody[nj]:not(:last-child) {
	border-bottom: 1px solid #ddd;
}
.nj_wishlist_header_list table tbody[nj] td img {
	width: 100%;
}
.nj_wishlist_header_list table tbody[nj] td {
	text-align: left;
}
.nj_wishlist_header_list table tbody[nj] tr:first-child td:first-child {
	width: 100px;
	padding: 10px;
}
.nj_wishlist_header_list table tbody[nj] tr:first-child td:last-child {
    padding: 10px 0 0 0;
}
.nj_wishlist_header_list table tbody[nj] tr:first-child td:last-child a {
    text-transform: capitalize;
    font-size: 20px;
    color: black;
    font-family: 'hurme-semibold';
    white-space: nowrap;
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.nj_wishlist_header_list table tbody[nj] tr:last-child td {
	padding: 0px 0 20px 0;
}
.nj_wishlist_header_list table tbody[nj] tr:last-child td:nth-child(1) {
	color: #c8102d;
	font-family: "hurme-semibold";
	font-size: 20px;
}
.nj_wishlist_header_list table tbody[nj] td[nj-view],
.nj_wishlist_header_list table tbody[nj] td[nj-remove] {
	position: relative;
	cursor: pointer;
	width: 30px;
	color: black;
}

.nj_wishlist_header_list table tbody[nj] td[nj-view]:hover {
	color: green;
}
.nj_wishlist_header_list table tbody[nj] td[nj-remove]:hover {
	color: red;
}

.nj_wishlist_header_list table tbody[nj] td[nj-view]:before,
.nj_wishlist_header_list table tbody[nj] td[nj-remove]:before {
	position: absolute;
	font-family: 'simple-line-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 20px;
}
.nj_wishlist_header_list table tbody[nj] td[nj-view]:before {
	content: "\e090";
}
.nj_wishlist_header_list table tbody[nj] td[nj-remove]:before {
	content: "\e054";
}

.nj_wishlist_header_list tbody[nj-empty] tr td {
	padding: 0px 8px;
	font-family: "hurme-regular";
	font-size: 15px;
	color: black;
}
.nj_wishlist_header_list tbody[nj-empty] tr td a {
	font-family: "hurme-bold";
	font-size: 15px;
	color: black;
	background: white;
	width: 150px;
	display: block;
	text-transform: uppercase;
	text-decoration: none;
	transition: .4s;
	margin: auto;
}

.nj_wishlist_header_list tbody[nj-empty] tr td a:hover {
    color: #828282;
}