.nj_wishlisttable {
	width: 100%;
	overflow: auto;
}
.nj_wishlist_table table tr th {
    font-family: "hurme-semibold";
    background: black;
    color: white;
    text-align: center;
    padding: 5px 10px;
    white-space: nowrap;
}
.nj_wishlist_table table {
    width: 95%;
}
.nj_wishlist_table table tbody td {
    border: 1px solid black;
    padding: 10px;
}
.nj_wishlist_table table tbody td:not(:first-child) {
    text-align: center;
}
.nj_wishlist_table table tbody td:first-child {
    width: 50%;
}
.nj_wishlist_table table tbody td:first-child div:nth-child(1) {
    display: inline-block;
    width: 40%;
    text-align: center;
}
.nj_wishlist_table table tbody td:first-child div:nth-child(2) {
    display: inline-block;
    width: 50%;
}
.nj_wishlist_table table tbody td:first-child div:nth-child(2) a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    white-space: nowrap;
    font-family: "hurme-semibold";
    font-style: normal;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}
.nj_wishlist_table table tbody td:first-child img {
    width: 50%;
}

.nj_product_remove {
    color: red;
    font-size: 30px;
}

.nj_product_goto {
    color: green;
    font-size: 30px;
}

.nj_wishlist_product_price span {
    font-family: "hurme-semibold";
    color: black;
    font-size: 20px;
}

/* Get Wishlist */
.nj_wishlist_label {
    text-align: center;
    padding: 10px 0;
    margin: 35px 0 10px 0;
}

.nj_wishlist_label span {
    /*font-family: "hurme-semibold";*/
  	font-weight: bold;
    font-size: 25px;
    color: black;
}
.nj_get_wishlist div {
    text-align: center;
    /*font-family: "hurme-regular";*/
    font-size: 18px;
    color: black;
}

.nj_get_wishlist div.davz_prod_icons {
	float: left;
}


.nj_get_wishlist ul a .origin-icon-arrow-compare {
    font-size: 20px;
    top: -2px;
    position: relative;
}

.nj_wishlist_empty {
    text-align: center;
}
.nj_wishlist_empty span {
    display: block;
    /*font-family: "hurme-regular";*/
    font-size: 18px;
    color: black;
    margin: 10px 0;
}

.nj_wishlist_empty a {
    /*font-family: "hurme-semibold";*/
	font-weight: 600;
    font-size: 18px;
    color: black;
    background: white;
    width: 170px;
    display: inline-block;
    margin: 5px 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid;
    transition: .4s;
}
.nj_wishlist_empty a:hover {
    color: #828282;
}

.nj_get_wishlist {
    text-align: center;
}
.nj_get_wishlist ul {
    list-style: none;
    display: inline-block;
    width: 310px;
    text-align: center;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}
.nj_get_wishlist ul:hover {
    border: 1px solid #ddd;
}

.nj_get_wishlist ul li:nth-child(1) span {
    background: white;
    color: black;
    margin: 0 2px;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    float: left;
    opacity: 0;
}
.nj_get_wishlist ul li:nth-child(1) a {
    background: white;
    color: black;
    margin: 0 2px;
    text-decoration: none;
    cursor: pointer;
    transition: .4s;
    float: left;
    opacity: 0;
}
.nj_get_wishlist ul:hover li:nth-child(1) span,
.nj_get_wishlist ul:hover li:nth-child(1) a {
    opacity: 1;
}
.nj_get_wishlist ul li:nth-child(1) span:hover {
    color: red;
}

.nj_get_wishlist ul li:nth-child(1) a:hover {
    color: green;
}

.nj_get_wishlist ul li:nth-child(3) img {
    max-width: 100%;
    width: 100%;
}
.nj_get_wishlist ul li:nth-child(3) {
    /*border-top: 1px solid #ddd;*/
    padding: 50px 0 0 0; /*10px 0 0 0*/
    margin: 15px 0 0 0;
}
.nj_get_wishlist ul li:nth-child(6) {
    border-top: 1px solid #ddd;
    padding: 10px 0 0 0;
    margin: 15px 0 0 0;
}
.nj_get_wishlist ul li:nth-child(6) a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: .90em;
    color: #333;
    white-space: nowrap;
    /* font-family: 'hurme-regular'; */
    letter-spacing: .02em;
    font-style: normal;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
.nj_get_wishlist ul li:nth-child(7) span {
    color: black;
    font-size: 1.50em;
    font-weight: 600;
}

.txt-black {
    color: black!important;
}

.waves-effect, .btn--ys.btn--light {
 	background: #000000 !important;
    color: #ffffff !important; 
}

.nj_get_wishlist .new-prod-badge_n, 
.nj_get_wishlist .davz-onsale-badge {
    font-size: 16px;
}


.nj_get_wishlist .davz_prod_icons a[nj-compare="added"] .origin-icon-arrow-compare {
    color: #C8102D!important;
}

.nj_get_wishlist .njohn_product_grid_color_counts {
    text-align: left;
}

.nj_get_wishlist .jbn_total_saved span {
    background-color: rgb(204, 10, 10);
    padding: 0.50em 0.9em;
    color: white!important;
    font-size: .80em!important;
    letter-spacing: .110em!important;
    font-weight: bolder!important;
    text-transform: uppercase;
}

.nj_get_wishlist .jbn_total_saved {
    position: relative;
    float: right;
}

.nj_get_wishlist .jbn_wishlist_view_images {
    text-align: center;
    margin: 5px auto;
    width: 170px;
}

.nj_get_wishlist .nj_recently_view_slider {
    margin: 0 !important;
    margin-top: 30px !important;
    background: #fff;
    border: 4px solid #fff;
    position: relative;
    zoom: 1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 0;
}

.nj_get_wishlist .nj_recently_view_flex {
    overflow: hidden;
    position: relative;
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.nj_get_wishlist div {
    text-align: center;
    font-size: 18px;
    color: black;
}


.nj_get_wishlist .jbn_wishlist_view_images ul.slide {
    width: 800%;
    transition-duration: 0s;
    transform: translate3d(0px, 0px, 0px);
    zoom: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nj_get_wishlist ul.slide {
    border: 0px solid transparent;
}


.nj_get_wishlist .jbn_wishlist_view_images ul.slide li {
    width: 50px;
    margin-right: 5px;
    float: left;
    display: block;
}

.jbn_wishlist_view_images ul.slide li {
    padding-top: 0;
    margin-top: 0;
}

.nj_get_wishlist .jbn_wishlist_view_images img {
    width: 100%;
    display: block;
    cursor: pointer;
    border: 1px solid white;
    padding-bottom: 5px;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-drag: none;
    user-select: none;
    border-bottom: 3px dotted transparent !important;
}

@media (max-width: 1025px) {
    .nj_get_wishlist ul {
        border: 1px solid #ddd;
    }
    .nj_get_wishlist ul li:nth-child(1) span,
    .nj_get_wishlist ul li:nth-child(1) a {
        opacity: 1;
    }
    .nj_get_wishlist ul {
        width: 250px;
    }
}


@media (max-width: 480px) {
    .nj_get_wishlist ul {
        width: 90%;
    }
}

.nj_get_wishlist ul li:nth-child(7) div[nj-money] {
    text-align:center;
}
.nj_get_wishlist ul li:nth-child(7) div[nj-money] span[nj-regular-price] {
    color: black;
    font-size: 1.20em;
    font-weight: 600;
}
.nj_get_wishlist ul li:nth-child(7) div[nj-money] span[nj-new-price] {
    color: rgb(204, 10, 10) !important;
    font-size: 1.20em;
    font-weight: 600;
}
.nj_get_wishlist ul li:nth-child(7) div[nj-money] span[nj-old-price] {
	color: #a7a4a4;
    font-size: 15px;
    text-decoration: line-through;
}


#header .container .row div span.davz--comparison {
    font-size: 1.75em;
    vertical-align: middle;
    cursor: pointer;
    color: white;
    position: relative;
    -webkit-text-stroke: 1.2px black;
}

#header .jubs-n_compare_product {
	margin-top: 5px !important;
    margin-left: 15px;  
}

#header .container .row div .nj_menu_wishlist a {
    text-transform: uppercase;
    padding-right: 0.9em;
    font-size: 1.125em;
    text-decoration: none;
}


#header .container .row div .nj_menu_wishlist {
  margin-top: 10px;
}

#header .container .row div .nj_menu_wishlist i {
    vertical-align: middle;
    cursor: pointer;
    color: #fff;
}

#header .nj_wishlist_row_label i {
    vertical-align: middle;
    cursor: pointer;
    color: white;
    font-size: 18px;
}

#header .badge--cart-new {
    position: absolute;
    z-index: 0;
    padding: 0;
    right: 0;
    top: 6px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .75em;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-weight: 700;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; 
}

#header .fixedbar .badge--cart-new {
    position: absolute;
    z-index: 0;
    padding: 0;
    right: -2px;
    top: 6px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: .85em;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-weight: 700;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; 
}


#header .fixedbar .nj_wishlist_row_label i {
  display: none;
}