/*
+-----------------------+
| Compare Product Style |
| Date: 12/01/16        |
| Author: NJ            |
+-----------------------+
*/

.slick-prev, .slick-next{
 top:15%; 
}

.nj_products_comparison_table table {
    border: 1px solid #ddd;
    margin: 0;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
}
.nj_products_comparison_table tr th {
    padding: 3px 10px;
    /*font-family: 'gotham-bold';*/
    text-transform: uppercase;
    color: black;
    background: #ddd;
    border: 0;
}
.nj_products_comparison_table tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}
.nj_products_comparison_table tr td {
    padding: 3px 5px;
    width: 33%;
}
.nj_products_comparison_table tr td:first-child {
    /*text-align: center;*/
}
.nj_products_comparison_table tr td[nj="action"] div label {
    text-align: center;
    display: block;
    cursor: pointer;
}
.nj_products_comparison_table tr td[nj="action"] div label input {
    cursor: pointer;
}
.nj_products_comparison_table tr td[nj="title"] div {
    /*width: 300px;*/
}
.nj_products_comparison_table tr td[nj="title"] div a {
    text-transform: Capitalize;
    text-decoration: none;
    font-size: 16px;
    color: black;
    /*font-family: 'gotham-regular';*/
    letter-spacing: .02em;
    font-style: normal;
}
.nj_products_comparison_table tr td[nj="brand"] div {
    /*width: 100px;*/
}
.nj_products_comparison_table tr td[nj="brand"] div span {
    /*font-family: 'gotham-regular';*/
    color: black;
}
.nj_products_comparison_table tr td[nj="availability"] div {
    text-align: center;
}
.nj_products_comparison_table tr td[nj="availability"] div span[nj="in-stock"] {
    /*font-family: 'gotham-regular';*/
    color: green;
}
.nj_products_comparison_table tr td[nj="availability"] div span[nj="out-of-stock"] {
    /*font-family: 'gotham-regular';*/
    color: red;
}
.nj_products_comparison_table tr td[nj="description"] div {
    /*max-height: 300px;*/
    overflow: auto;
    color: #000 !important;
    /*font-family: 'gotham-regular';*/
    font-size: 14px;
}
.nj_products_comparison_table tr td[nj="description"],
.nj_products_comparison_table tr td[nj="title"]  {
    vertical-align: baseline;
}

.nj_products_comparison_table tr td[nj="image"] div.comp_img img {
 	width: 75%;
  	max-width: 400px;
    margin: 0 auto;
    display: block;
}
.nj_products_comparison_table tr td[nj="price"] div {
    /*width: 175px;*/
}
.nj_products_comparison_table tr td[nj="price"] div span[nj="reg"] {
    color: black;
    font-size: 17px;
    /*font-family: 'gotham-regular';*/
}
.nj_products_comparison_table tr td[nj="price"] div span[nj="new"] {
    color: red;
    font-size: 17px;
    /*font-family: 'gotham-regular';*/
}
.nj_products_comparison_table tr td[nj="price"] div span[nj="old"] {
    color: #a7a4a4;
    font-size: 17px;
    /*font-family: 'gotham-regular';*/
    text-decoration: line-through;
}
.nj_products_comparison_table tr td[nj="total-color"] div {
    text-align: center;
}
.nj_products_comparison_table tr td[nj="total-color"] div span {
    font-size: 14px;
    /*font-family: 'gotham-regular';*/
    color: black;
}
.nj_products_comparison_table div[nj="filter"] {
    margin: 0 0 10px 0;
}
.nj_products_comparison_table div[nj="filter"] button {
    background: #585858;
    color: white;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    outline: 0;
    -webkit-box-shadow:inset 0 0 0 1px #fff;
    -moz-box-shadow:inset 0 0 0 1px #fff;
    box-shadow:inset 0 0 0 1px #fff;
    border:rgba(0,0,0,0) solid 1px;
    transition:none;
    /*width: 150px;*/
    font-family: 'gotham-bold';
    text-transform: uppercase;
    cursor: not-allowed;
}
.nj_products_comparison_table div[nj="filter"] button[nj="btn1"][nj-check="ok"],
.nj_products_comparison_table div[nj="filter"] button[nj="btn2"][nj-check="ok"] {
    background: #292929;
    cursor: pointer;
}
.nj_products_comparison_table tr:hover {
    background: #f9f9f9;
}
.nj_products_comparison_table tr td[nj="functions"] div i {
    cursor: pointer;
}
.nj_products_comparison_table tr td[nj="functions"] div a {
    padding: 5px;
}
.nj_products_comparison_table tr td[nj="functions"] div{
    text-align: center;
  	font-size: 30px;
}
.nj_products_comparison_table tr td[nj="functions"] div.func div{
    width: auto;
    display: inline-block;
}
.nj_products_comparison_table tr td[nj="functions"] div i:hover {
    color: black;
}

/* Empty */
.nj_get_wishlist div {
    text-align: center;
    /*font-family: "gotham-regular";*/
    font-size: 18px;
    color: black;
}
.nj_products_comparison_empty {
    text-align: center;
}
.nj_products_comparison_empty span {
    display: block;
    /*font-family: "gotham-regular";*/
    font-size: 18px;
    color: black;
    margin: 10px 0;
}

.nj_products_comparison_empty a {
    /*font-family: "gotham-medium";*/

    font-size: 18px;
    color: black;
    background: white;
    width: 170px;
    display: inline-block;
    margin: 5px 2px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid;
    transition: .4s;
}
.nj_products_comparison_empty a:hover {
    color: #828282;
}
@media (max-width: 990px) {
    .nj_products_comparison_table{
        overflow: auto;
    }
  	.jubs_compare_product_list{
    	display:none;
    }
}

@media screen and (max-width: 640px){
    .nj_products_comparison_table tr td[nj="description"] div {
        font-size: 12px;
    }
    .nj_products_comparison_table tr td[nj="description"] ul {
        padding-left: 20px;
    }
    .nj_products_comparison_table tr td[nj="total-color"] div {
        font-size: 12px;
    }
}
@media screen and (max-width: 476px){
    .nj_products_comparison_table tr td[nj="title"] div a{
        font-size: 12px;
        font-weight: bold;
    }
    .nj_products_comparison_table tr td[nj="description"] div {
        font-size: 11px;
    }
    .nj_products_comparison_table tr td[nj="total-color"] div {
        font-size: 11px;
    }
    .nj_products_comparison_table tr td[nj="price"] div span[nj="new"]{
        font-size: 14px;
    }
    .nj_products_comparison_table tr td[nj="price"] div span[nj="old"]{
        font-size: 14px;
    }
    .nj_products_comparison_table tr td[nj="price"] div span[nj="reg"]{
        font-size: 14px;
    }
}

.jubs_compare_product_list{
	padding-top: 10px;
  	margin: auto;
}

.jubs_compare_product_list ul{
  overflow: auto;
  list-style-type: none;
  /*width: max-content;*/
  margin: auto;
  padding-left:0px;
}
.jubs_compare_product_list ul li {
  float: left;
  margin-right: 0px;
  padding: 0 5px;
}

.jubs_compare_product_list img {
    cursor: pointer;
    border: 1px solid white;
  	padding-bottom: 5px;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-drag: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-drag: none;
    user-select: none;
 }
 
.jubs_compare_product_list img{
	border-bottom: 3px solid transparent;
}
.jubs_compare_product_list img:hover {
    border-bottom: 3px dotted rgb(173, 173, 173) !important;
  	opacity: .80;
 }

.nj_compare_label span {
 	font-weight: bold;
    font-size: 25px;
    color: black; 
}

.nj_compare_label {
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
}

.breadcrumbs {
  
 	display: none; 
}