/* Blog Style */
.nj_blog_container {
    /* border-style: solid; */
    /* border-width: 1px; */
    /* border-color: #dddddd #dddddd #dddddd #dddddd; */
    padding: 0 0 10px 0;
}
.nj_blogmain {
    width: 75%;
    display: inline-block;
    vertical-align: top;
}
.nj_blogmain_toggle .nj_blogmain {
    width: 100%;
}
.nj_blogmain_toggle .nj_blogsidebar {
    border-bottom: 1px solid #ddd;
}
.nj_blogsidebar_control {
    padding: 5px 10px;
    width: 100%;
    background: #ffffff;
    /* border-bottom: 1px solid #dddddd; */
    text-align: right;
    /* iOS Safari */
    -webkit-touch-callout: none;
    /* Chrome/Safari/Opera */
    -webkit-user-select: none;
    /* Konqueror */
    -khtml-user-select: none;
    /* Firefox */
    -moz-user-select: none;
    /* Internet Explorer/Edge */
    -ms-user-select: none;
    /* Non-prefixed version, currently
       not supported by any browser */
    user-select: none;
}
.nj_blogsidebar_control span.material-icons {
    color: black;
    vertical-align: middle;
    font-size: 30px;
    cursor: pointer;
}
.nj_blogsidebar_control span.nj_full_view {
	font-size: .80em;
	color: black;
	text-decoration: none;
	/* transition: .2s; */
	text-transform: uppercase;
	letter-spacing: .070em;
	cursor: pointer;
	/* font-family: "hurme-bold"; */
  	font-weight: 600;
	position: relative;
	padding: 0 20px;
	visibility: hidden;
}
.nj_blogsidebar_control span.nj_full_view::after {
	content: "\E56B";
	font-family: 'Material Icons';
	font-weight: 400;
	font-style: normal;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	position: absolute;
	top: -12px;
	right: -8px;
}
.nj_blogsidebar_control span:hover {
    color: #565656;
}
.nj_blogsidebar {
    display: inline-block;
    width: 20%;
    height: 100%;
    /* border-style: solid; */
    /* border-width: 0px 1px 1px 0px; */
    /* border-color: transparent #dddddd #dddddd transparent; */
}
.nj_blogcontent {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    padding: 20px 10%;
    margin: auto;
}
/* Sidebar SEARCH FIELD */
.njohn_blog_search_field form {
    position: relative;
}
.njohn_blog_search_field input[type=text] {
    color: black;
    background: white;
    width: 100%;
    height: 45px;
    padding: 12px;
    text-transform: uppercase;
    border: 0px solid #dddddd;
    transition: .4s;
}
.njohn_blog_search_field input[type=text]:focus {
    border: 0px solid #9e9e9e;
}
.njohn_blog_search_field button[type=submit]::before {
    vertical-align: middle;
}
.njohn_blog_search_field button[type=submit] {
    position: absolute;
    right: 0px;
    top: 0;
    border: none;
    background: none;
    font-size: 1.8em;
    padding: 6px 14px 7px;
    line-height: 1em;
    color: #dddddd;
    vertical-align: -webkit-baseline-middle;
    transition: .4s;
}
.njohn_blog_search_field input[type=text]:focus + button[type=submit] {
    color: #9e9e9e;
}
.njohn_blog_search_field input[type]::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: grey !important;
    font-size: 15px;
    text-transform: uppercase;
    /* font-family: "FuturaPT-Book"; */
}
.njohn_blog_search_field input[type]::-moz-placeholder {
    /* Firefox 19+ */
    color: grey !important;
    font-size: 15px;
    text-transform: uppercase;
    /* font-family: "FuturaPT-Book"; */
}
.njohn_blog_search_field input[type]:-ms-input-placeholder {
    /* IE 10+ */
    color: grey !important;
    font-size: 0.80em;
    text-transform: uppercase;
    /* font-family: "FuturaPT-Book"; */
}
.njohn_blog_search_field input[type]:-moz-placeholder {
    /* Firefox 18- */
    color: grey !important;
    font-size: 0.80em;
    text-transform: uppercase;
     /* font-family: "FuturaPT-Book"; */
}
/* Sidebar TAGS */
.njohn_blog-tags-list {
    overflow: auto;
    max-height: 325px;
    transition: .4s;
    text-align: justify;
}
.njohn_blog-tags .njohn_blog-tags_list {
    display: inline-block;
    padding: 10px 2px 10px 2px;
}
.njohn_blog-tags .njohn_blog-tags_list a {
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background: #e5e5e5;
    color: black;
    text-transform: uppercase;
    /* font-family: "FuturaPT-Medium"; */
    transition: .4s;
    font-size: 12px;
}
.njohn_blog-tags .njohn_blog-tags_list a:hover {
    background: #fa6b6b;
    color: #ffffff;
}
/* Sidebar Label */

.njohn_blogsidebar_label span {
    /* font-family: "hurme-bold"; */
  	font-weight: 600;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
}
.njohn_blogsidebar_label a[nj="toc"] {
    /* font-family: "hurme-bold"; */
  	font-weight: 600;
    font-size: 17px;
    color: black;
    text-transform: uppercase;
    float: right;
    position: relative;
}
.njohn_blogsidebar_label a[nj="toc"] .icon {
	font-size: 35px;
    text-decoration: none;
    position: absolute;
    top: -13px;
    right: -10px;
}
.njohn_blogsidebar_label a[nj="full-screen"] {
    font-size: .80em;
    color: black;
    text-decoration: none;
    transition: .2s;
    text-transform: uppercase;
    letter-spacing: .070em;
    cursor: pointer;
  	/* font-family: "hurme-bold"; */  
  	font-weight: 600;
    position: relative;
    padding: 6px 16px 4px 0;
    float: right;
}
.njohn_blogsidebar_label a[nj="full-screen"]:hover {
    color: #565656;
}
.njohn_blogsidebar_label a[nj="full-screen"]::after {
	content: "\E56B";
	font-family: 'Material Icons';
	font-weight: 400;
	font-style: normal;
	font-size: inherit;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 24px;
	position: absolute;
	top: -5px;
	right: -10px;
}

.njohn_blogsidebar_label {
    padding: 2px 15px;
    background: #ddd;
}
.njohn_blogsidebar_label:first-child {
    border-top: 0;
}
.njohn_blog_search_field {
	/* margin: 0px 10px; */
}
/* Sidebar Bottom Border */
.njohn_block-underline {
    padding: 10px 0 10px 0;
    margin: 0 0 10px 0;
    max-height: 250px;
    overflow: auto;
    border: 1px solid #ddd;
  	width: 100%; /* jg-add 2/3/16  */
}
.njohn_block-underline ul[nj-blog-list] {
	padding: 0 12px;
	list-style: none;
	margin: 0;
}
.njohn_block-underline ul[nj-blog-list] li:not(:last-child) {
	border-style: solid;
	border-color: #ddd;
	border-width: 0 0 1px 0;
}
.njohn_block-underline ul[nj-blog-list] li a {
  	/* font-family: "FuturaPT-Book"; */
	font-size: 0.90em;
	text-decoration: none;
	text-transform: uppercase;
}
.njohn_block-underline ul[nj-blog-list] li a:hover {
	color: #fa6b6b;
}

.njohn_block-underline ul[nj-blog-list] li a:before {
	content: "\E0C9";
	font-family: "Material Icons";
	font-size: 18px;
	vertical-align: middle;
	margin: 0 5px;
}
.njohn_block-underline ul[nj-tag-list] {
	padding: 0 10px;
	margin: 0;
}
.njohn_block-underline ul[nj-tag-list] li {
	display: inline;
}
.njohn_block-underline ul[nj-tag-list] li:not(:last-child) a:after {
	content: "\E3FA";
	margin: 0 0 0 4px;
	font-family: 'Material Icons';
	font-size: 7px;
	vertical-align: baseline;
}
.njohn_block-underline ul[nj-tag-list] li a {
	font-family: "roboto";
	font-size: 0.80em;
	text-decoration: none;
	text-transform: uppercase;
}
.njohn_block-underline ul[nj-tag-list] li a:hover {
	color: #fa6b6b;
}
.njohn_block-underline ul[nj-tag-list] li a:hover:after {
	color: black;
}
/* Article Title */
.njohn_article_recentpost_container {
    padding: 0;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 1px 0 1px;
}
.njohn_article_recentpost {
    padding: 8px 17px;
    border-bottom: 1px solid #e5e5e5;
}
.njohn_article_recentpost > div:first-child {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ddd;
	height: 66px;
	width: 66px;
	position: relative;
}
.njohn_article_recentpost > div:first-child img {
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 66px;
	padding: 3px;
}

.njohn_article_recentpost > div:last-child {
	display: inline-block;
	width: 70%;
	vertical-align: middle;
}
.njohn_article_recentpost > div:last-child div:first-child a {
	/* font-family: 'FuturaPT'; */
	white-space: nowrap;
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: #333;
}
.njohn_article_recentpost > div:last-child div:first-child a:hover {
	color: #fa6b6b;
}
.njohn_article_recentpost > div:last-child > div:last-child {
	line-height: 10px;
}
.njohn_article_recentpost > div:last-child > div:last-child > div span {
	vertical-align: middle;
	color: #333;
	font-size: 16px;
}
.njohn_article_recentpost > div:last-child > div:last-child > div span:last-child {
    /* font-family: "FuturaPT-Book"; */
    font-size: 0.80em;
    text-decoration: none;
    text-transform: uppercase;
}
.njohn_article_recentpost > div:last-child > div:last-child > div:last-child > a {
	text-decoration: none;
}
.njohn_article_recentpost > div:last-child > div:last-child > div:last-child > a:hover span {
	color: #fa6b6b;
}
.njohn_article_label {
    text-align: center;
}
.njohn_article_label .njohn_article_label_title {
    color: black;
    line-height: 29px;
}
.njohn_article_label .njohn_article_label_title a {
    /* font-family: "FuturaPT-Medium"; */
    font-size: 1.5em;
    color: black;
}
.njohn_article_label .njohn_article_label_info div {
    display: inline-block;
    padding: 0px 3px 0px 3px;
}
.njohn_article_label .njohn_article_label_info div span {
    /* font-family: "FuturaPT-Medium"; */
    font-size: 13px;
    color: black;
    text-transform: uppercase;
}
.njohn_article_label .njohn_article_label_info div span i.material-icons {
    vertical-align: sub;
    font-size: 19px;
}
.njohn_article_label .njohn_article_label_info {
    padding: 5px 0px 15px 0px;
}
.njohn_article_label a {
    text-decoration: none;
    transition: .4s;
}
.njohn_article_label a span {
    transition: .4s;
}
.njohn_article_label a:hover,
.njohn_article_label a span:hover {
    color: #fa6b6b;
}
/* Blog */
.njohn_article_post {
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #e5e5e5;
}
.njohn_article_post:last-child {
    border-bottom: 0;
}
.njohn_article_img {
    text-align: center;
}
.njohn_article_img a img {
    width: 100%;
    max-width: 100%;
    border: 1px solid #e5e5e5;
}
/* Pagination Button */
.njohn_blog_pagination {
    text-align: center;
    padding: 20px 0;
}
.njohn_article_tag {
  margin: 10px 0 0 0;
  max-height: 30px;
  overflow: hidden;
  transition: max-height 1.35s ease-out;

}
.njohn_article_tag:hover {
  max-height: 10000px;
  transition: max-height 1.35s ease-in;

}

.njohn_article_tag ul[nj-tags] {
	padding:0;
	list-style: none;
	margin: 0;
}
.njohn_article_tag ul[nj-tags] li {
	display: inline-block;
}
.njohn_article_tag ul[nj-tags] li a {
	color: black;
	text-decoration: none;
	background: #ddd;
	padding: 2px 6px 2px 10px;
	position: relative;
	/*font-family: 'FuturaPT-Book';*/
	font-size: 12px;
	border-radius: 0px 3px 3px 0px;
	text-transform: uppercase;
	transition: .2s;
}
.njohn_article_tag ul[nj-tags] li a:after {
	content: "\E3FA";
	position: absolute;
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 8px;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	left: 7px;
	top: 4px;
	z-index: 1;
	opacity: 0;
	}
.njohn_article_tag ul[nj-tags] li a:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 7px 10px 0;
	border-color: transparent #ddd transparent transparent;
	left: 0;
	top: 0;
	background: white;
	transition: .2s;
	}

.njohn_article_tag ul[nj-tags] li a:hover {
	background: #fa6b6b;
    color: white;
}
.njohn_article_tag ul[nj-tags] li a:hover:before {
	border-color: transparent #fa6b6b transparent transparent;
}

.nj_searchmobile {
    display: none;
}
@media (max-width: 1024px) {
    .nj_blogsidebar {
        display: none;
    }
    .nj_blogcontent {
        width: 100% !important;
        padding: 5px !important;
    }
    .nj_searchmobile {
        display: block;
    }
    .nj_blogmain {
        margin: 0;
        width: 100%;
    }
}
/* Article Zoom Style */
.nj_lb {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nj_lb li {
    list-style: none;
    padding: 2px 0;
    position: relative;
}
.nj_lb > li > img {
    max-width: 100%;
    width: 100%;
}
.nj_lb_m {
    display: none;
}
.nj_lb li div span:nth-child(3) {
    position: absolute;
    z-index: 1;
    background: white;
    padding: 3px;
    border: 1px solid black;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
    top: 120%;
}
.nj_lb li div:hover span:nth-child(3) {
    visibility: visible;
    opacity: 1;
}
.nj_lb li div {
    position: absolute;
    border-radius: 30px;
    padding: 5px;
    cursor: default;
    height: 40px;
}
.nj_lb li div span:nth-child(1) {
    vertical-align: top;
    font-size: 30px;
    line-height: normal;
}
.nj_lb li div span:nth-child(1)::after {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color: white transparent transparent white;
    position: absolute;
    left: 30%;
    top: 100%;
    transition: none!important;
    box-shadow: -1px -1px 1px -0px #000;
    transform: rotate(45deg);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s linear;
}
.nj_lb li div:hover span:nth-child(1)::after {
    visibility: visible;
    opacity: 1;
}
.nj_lb li div span:nth-child(2) {
    position: absolute;
    -webkit-animation: pulse 1s ease-out;
    -moz-animation: pulse 1s ease-out;
    animation: pulse 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 0;
    left: 0;
}
.nj_lb li div span img {
    max-width: 1000px;
}

/* LOOKBOOK BUTTON IN BOTTOM */

.lookbook_bottom_link:hover {
	text-decoration: none!important;
}

.lookbook_bottom_link h3 {
 	border-top: 2.3px solid black;
  	border-bottom: 2.3px solid black;
  	text-transform: uppercase;
  	color: black;
  	width:50%;
 	padding: 15px;
 	margin: 60px;
  	transition: .3s;
  	text-decoration: none;
}


.lookbook_bottom_link h3:hover {
   background-color: black;
   color: white;
   text-decoration: none!important;
  	
}

.lookbook_bottom_link h3 a {
 	color: red!important;
}

@media (max-width: 1024px) {
    .nj_lb li div {
        display: none;
    }
    .nj_lb_m {
        display: block;
    }
}
@media (max-width: 1299px) {
		.njohn_article_recentpost > div:first-child {
		position:static;
		width: 100%;
		height: 100%;
		}
	.njohn_article_recentpost > div:first-child img {
		position:static;
		width: 100%;
	}
	.njohn_article_recentpost > div:last-child {
		width: 100%;
	}
}
@media (max-width: 992px) {
	.njohn_article_tag {
		display: none;
	}
}

@media (max-width: 1769px) {
	.njohn_blogsidebar_label span {
		font-size: 11px;
	}
	.njohn_blogsidebar_label a[nj="full-screen"] {
		font-size: 11px;
		padding: 6px 12px 4px 0;
	}
	.njohn_blogsidebar_label a[nj="full-screen"]::after {
		font-size: 18px;
		top: 0px;
	}
}



.njohn_block-underline div[nj-search-tags] {
	text-align: center;
	margin: 5px 0;
}
.njohn_block-underline div[nj-search-tags] input {
	width: 95%;
	background: white;
	padding: 0 10px;
	/* font-family: hurme-regular; */
	text-transform: uppercase;
}