/*
+-----------------------------------------------+
| Project Name: Compare Product Script Vertical |
| Date: Jan 03, 2017                            |
| Author: NJ                                    |
+-----------------------------------------------+
*/

jQuery(function($) {
	var cookieName = "nj_Product_compare_test";
	try {
		if($j.cookie(cookieName) != null && $j.cookie(cookieName) != '_' && $j.cookie(cookieName) != '') {
			var str = String($j.cookie(cookieName)).split("_");
			for(var i=0; i<str.length; i++) {
				if(str[i] != '') {
					getCompItems(str[i]);
				}
			}
		} else {
			getCompItemsEmpty();
		}
	} catch (err) {
		console.log(err);
	} // ignore errors reading cookies

	function getCompItems(p) {
		jQuery.getJSON('/products/'+p+'.js', function(product) {
			var my_image = getCompItemsImageFix(product.featured_image);
			var my_title = product.title;

			var my_price_min = getCompItemsPrice(product.price_min);
			var my_price_max = getCompItemsPrice(product.price_max);
			var my_compare_at_price_min = getCompItemsPrice(product.compare_at_price_min);
			var my_compare_at_price_max = getCompItemsPrice(product.compare_at_price_max);
			var my_total_color = product.options[0].values.length;

			if(product.compare_at_price_min > product.price_min) {
				if(product.price_min == product.price_max) {
					my_price_new = '<span nj="new">'+my_price_min+'</span>';
				} else {
					my_price_new = '<span nj="new">'+my_price_min+' to '+my_price_max+'</span>';
				}
				if(product.compare_at_price_min == product.compare_at_price_max) {
					my_price_old = '<span nj="old">'+my_compare_at_price_min+'</span>';
				} else {
					my_price_old = '<span nj="old">'+my_compare_at_price_min+' to '+my_compare_at_price_max+'</span>';
				}
				my_price = my_price_new+' '+my_price_old;
			} else {
					var my_price = '';
				if(product.price_min == product.price_max) {
					my_price = '<span nj="reg">'+my_price_min+'</span>';
				} else {
					my_price = '<span nj="reg">'+my_price_min+' to '+my_price_max+'</span>';
				}
			}

			var my_brand = product.vendor;
			var my_description = product.description;
			var my_url = product.url;
			var my_handle = product.handle;
			var my_availability = (product.available) ? '<span nj="in-stock">In Stock</span>' : '<span nj="out-of-stock">Out of Stock</span>';
			var my_action = '<label><input type="checkbox" nj="selector" /></label>';

			my_image = '<a href="'+my_url+'"><img src="'+my_image+'" title="'+my_title+'" alt="'+my_title+'" /></a>';
			my_title = '<a href="'+my_url+'" title="'+my_title+'">'+my_title+'</a>';
			my_brand = '<span>'+my_brand+'</span>';
			my_total_color = '<span>'+my_total_color+'</span>';

			var my_functions = '<div class="default-wishbutton defbtn'+my_handle+'">'+
							   '<a class="add-in-wishlist-js" href="javascript:void(0)" my-handle=\''+my_handle+'\' title="Add to Wishlist">'+
							   '<i class="material-icons" nj="add-to-wishlist">favorite_border</i> '+
							   '</a>'+
							   '</div>'+
							   '<div class="added-wishbutton" style="display: none;">'+
							   '<a href="/pages/wishlist" title="Go to Wishlist">'+
							   '<i class="material-icons" nj="added-wishlist">favorite</i>'+
							   '</a>'+
							   '</div>'+'<i class="material-icons" title="Quick View" onclick="quiqview(\''+my_handle+'\')" nj="quik">remove_red_eye</i><i class="material-icons" nj-handle="'+my_handle+'" title="Remove Item" nj="remove">delete</i>';

			$('.nj_products_comparison_table table tbody tr[nj="action"]').append('<td nj-handle="'+my_handle+'"><div>'+my_action+'</div></td>');
			$('.nj_products_comparison_table table tbody tr[nj="image"]').append('<td nj-handle="'+my_handle+'"><div>'+my_image+'</div></td>');
			$('.nj_products_comparison_table table tbody tr[nj="title"]').append('<td nj-handle="'+my_handle+'"><div>'+my_title+'</div></td>');
			$('.nj_products_comparison_table table tbody tr[nj="price"]').append('<td nj-handle="'+my_handle+'"><div>'+my_price+'</div></td>');
			$('.nj_products_comparison_table table tbody tr[nj="brand"]').append('<td nj-handle="'+my_handle+'"><div>'+my_brand+'</div></td>');
			$('.nj_products_comparison_table table tbody tr[nj="description"]').append('<td nj-handle="'+my_handle+'"><div>'+my_description+'</div></td>');
			$('.nj_products_comparison_table table tbody tr[nj="total-color"]').append('<td nj-handle="'+my_handle+'"><div>'+my_total_color+'</div></td>');
			$('.nj_products_comparison_table table tbody tr[nj="availability"]').append('<td nj-handle="'+my_handle+'"><div>'+my_availability+'</div></td>');
			$('.nj_products_comparison_table table tbody tr[nj="functions"]').append('<td nj-handle="'+my_handle+'"><div>'+my_functions+'</div></td>');
			
			getCompItemsEmpty();
			$(window).trigger("initWishlistNoCustomer");
		}).error(function() {
			getCompItemsRemove(p);
			getCompItemsEmpty();
		});
	}

	//Checkbox
    $(document).on("click", '.nj_products_comparison_table tr[nj="action"] td div label input[nj="selector"]', function(event) {
		getCompItemsBtn($(this).is(':checked'));
		if($(this).attr('nj-check') == '') {
			$(this).attr('nj-check','ok');
		} else {
			$(this).attr('nj-check','');
		}
	});

	//Remove Button
	$(document).on("click", '.nj_products_comparison_table tr[nj="functions"] td div i[nj="remove"]', function(event) {
		var nj_handle = $(this).attr('nj-handle');
		$('.nj_products_comparison_table tr td[nj-handle="'+nj_handle+'"]').remove();
	//	getCompItemsRemove(nj_handle);
		getCompItemsEmpty();
	});

	//Filter Button
    $(document).on("click", '.nj_products_comparison_table div[nj="filter"] button[nj="btn1"]', function(event) { 
		var nj_handle = $('.nj_products_comparison_table tr[nj="action"] td div label input[nj="selector"]').parent().parent().parent().attr('nj-handle');
		$('.nj_products_comparison_table tr td[nj-handle="'+nj_handle+'"]').hide();
    });

	function getCompItemsRemove(p) {
		var ck = $j.cookie('nj_Product_compare_test');
			ck = ck.replace(p, '');
			ck = ck.replace('__', '_');
			$j.cookie('nj_Product_compare_test', ck, {expires:7, path:'/'});
	}

	function getCompItemsEmpty() {
		var childs = $('.nj_products_comparison_table tbody tr td').length;
		if(childs == 9) {
			$('.nj_products_comparison_table').hide();
			$('.nj_products_comparison').show();
			$('.nj_products_comparison_empty span[nj="message"]').text('There are no items in your product comparison.');
		} else if(childs == 18) {
			$('.nj_products_comparison_table').hide();
			$('.nj_products_comparison').show();
			$('.nj_products_comparison_empty span[nj="message"]').text('It required two or more items to compare products');
		} else {
			$('.nj_products_comparison_table').show();
			$('.nj_products_comparison').hide();
		}
	}
  
	function getCompItemsBtn(c) {
		if(c) {
			$('.nj_products_comparison_table div[nj="filter"] button[nj="btn1"]').attr('nj-check','ok');
			$('.nj_products_comparison_table div[nj="filter"] button[nj="btn2"]').attr('nj-check','ok');
		} else {
			$('.nj_products_comparison_table div[nj="filter"] button[nj="btn1"]').attr('nj-check','');
			$('.nj_products_comparison_table div[nj="filter"] button[nj="btn2"]').attr('nj-check','');
		}
	}

	function getCompItemsImageFix(img) {
		img = img.replace(/\.jpg/g,'_small.jpg');
		img = img.replace(/\.jpeg/g,'_small.jpeg');
	return img;
	}

	function getCompItemsPrice(d) {
		return Shopify.formatMoney(d, "${"+"{amount}}");
	}
});