.flex-direction-nav{
  display:block;  
/*   visibility:visible; */
}
.flex-direction-nav-fix>.flex-direction-nav{
display:block;  
}

/* Flexslider */

.njohn_clr_var_selector .flex-direction-nav .flex-prev {
	left: -25px;
}
.njohn_clr_var_selector .flex-direction-nav .flex-next {
	right: -25px;
}
.njohn_clr_var_selector .flexslider {
	margin: 0 !important;
}

.njohn_clr_var_selector ul li a {
    opacity: 1;
}

.njohn_clr_var_selector ul li a.flex-prev:before {
    font-family: 'Material Icons';
    font-size: 30px;
    content: '\E314';
}
.njohn_clr_var_selector ul li a.flex-next:before {
    font-family: 'Material Icons';
    font-size: 30px;
    content: '\E315';
}


li.njohn_clr_var_image {
 	position: relative; 
}

.njohn_clr_var_image.davz_color_selected:after {
	position: absolute;
    text-indent: -999em;
/*     background: url(https://cdn.shopify.com/s/files/1/1299/2659/files/color-selected.png?8544650583274720170) 50% 50% no-repeat; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px;
    border: 2px solid black;
    content: '';
}


/* Image Disable Dragging */
.njohn_clr_var_selector .njohn_clr_var_image img {
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-drag: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  user-drag: none;
  user-select: none;
  border: 1px solid transparent!important;
}

/* Color Swatch */
.njohn_clr_var_selector {
    padding: 0;
    width: 90%;
}


.njohn_clr_var_selector .njohn_clr_var_image img:hover  {
    cursor: pointer;
	border-color: rgba(128,128,128,0.3) !important;
}



.njohn_thumbs_active .njohn_img_active {
 	border-color: rgba(128,128,128,0.3) !important;
}





form#add-item-form div div.swatch.clearfix div.wrapper div.pull-left span {
    font-size: 0.9em;
    color: #333333;
    text-transform: uppercase;
    font-family: 'hurme-regular';
}

.njohn_clr_var_label span,
.njohn_size_var_label span {
    font-size: 0.9em;
    color: #333333;
    text-transform: uppercase;
    /*font-family: 'hurme-regular';*/
}


#njohn_clr_label,
#njohn_left_label {
 	/*font-family: 'hurme-semibold';*/
  	font-weight: 600;
}


form#add-item-form div div.selector-wrapper {
	display: none;
}

/* hide radio button */
.njohn_selector_hide input {
	display:none;
}

/* style original label and span */

.njohn_selector_hide label {
    padding: 15px 1px 0px 0px;
}

.njohn_selector_hide span {
  padding: 7px 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: .4s;
  text-transform: uppercase;
  font-size: 13px;
  /*font-family: 'hurme-regular';*/
  color: black;
}

/* out of Stock */
.njohn_selector_hide span.njohn_no_qty {
  cursor: not-allowed;
  border-color: transparent!important;

}


.njohn_selector_hide span.njohn_no_qty + .njohn_selector_hide label .njohn_no_qty:before {
  border-color:grey;
}



.njohn_selector_hide label .njohn_no_qty:before {
  position: absolute;
content: "";
left: 50%;
top: 0;
bottom: 0;
border-left: 1px solid;
border-color:black;
-webkit-transform: rotate(45deg);
-moz-transform: rotate(45deg);
-ms-transform: rotate(45deg);
-o-transform: rotate(45deg);
transform: rotate(45deg);
  
}

.njohn_selector_hide span.njohn_no_qty:hover {
  background-color: transparent;
  color:black;
  border-color: transparent!important;
}



/* in Stock */
.njohn_selector_hide span.njohn_in_qty {
  padding: 7px 10px;
  border: 1px solid black;
  cursor: pointer;
  transition: .4s;
  text-transform: uppercase;
  font-size: 13px;
  /*font-family: 'hurme-regular';*/
  color: black;
}

.njohn_selector_hide span.njohn_in_qty:hover {

	background: black;
	color: white;
}

.njohn_selector_hide input:checked + .njohn_in_qty {
  background: black;
  color: white;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  outline: 0;
  -webkit-box-shadow:inset 0 0 0 1px #fff;
  -moz-box-shadow:inset 0 0 0 1px #fff;
  box-shadow:inset 0 0 0 1px #fff;
  border:1px solid #fff;
  border:rgba(0,0,0,0) solid 1px;
  outline:1px solid #fff;
  outline:rgba(0,0,0,0) ;
  transition:none;
}

.njohn_selector .njohn_selector_hide:first-child {
	display: block;
}

  .njohn_selector_hide {
  	display: none;
  }

/* size label */
.njohn_size_var_label {
    margin: 10px 0px 10px 0px;
}


/* Auto Hide Product Carousel Button */
#smallGallery button {
    opacity: 0 !important;
}

/* #smallGallery:hover button {
    opacity: 1 !important;
} */



.njohn_selector label {
 	margin: 10px 2px;
  	font-size: 0.8125em;
  	position: relative;
    display: inline-block;
    line-height: 1;
    padding: 9px 0px;
}


.njohn_selector_hide span:hover {

      background: black;
      color: white;
}




/* Start-up Selection Style */
.njohn_selector_hide .start-up-disabled {
	cursor: not-allowed !important;
	color: grey !important;
  	border-color: grey !important;

}
.njohn_selector_hide .start-up-disabled:hover {
	cursor: not-allowed !important;
	color: grey !important;
	background: white !important;

}

.njohn_selector_hide input:checked + .start-up-disabled {
	cursor: not-allowed !important;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'hurme-regular';
    color: black;
}


/* size label */
.njohn_size_var_label {
    margin: 10px 0px 10px 0px;
}


/* sku label */
#njohn_prod_sku {
    width: 100%;
    display: inline-block;
}

#njohn_prod_sku span#njohn_prod_skus,
#njohn_prod_sku span.njohn_prod_sku_label {
    font-size: 0.80em;
    color: #333333;
    text-transform: uppercase;
	letter-spacing: .100em;
}

#njohn_prod_sku span.njohn_prod_sku_label {
	/* font-family: 'hurme-regular'; */
}

#njohn_prod_sku span#njohn_prod_skus {
	/*font-family: 'hurme-semibold';*/
  	font-weight: 600;
}

/* Thumbnails Other Colors and Main*/
.njohn_smallGallery {
    padding: 10px 0px 10px 10px;
}
/* .njohn_smallGallery .flex-viewport ul li:nth-of-type(1), .njohn_smallGallery .flex-viewport ul li:nth-of-type(1) {
    display:block !important;
} */
.njohn_smallGallery .flex-viewport ul li {
    display:none !important;
}
.njohn_smallGallery .flex-viewport ul li img {
    cursor: pointer;
    border: 1px solid transparent;
  	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.njohn_smallGallery .flex-viewport ul li img:hover {
    border: 1px solid rgba(128,128,128,0.3) !important;
}
.njohn_smallGallery .flex-viewport ul li.njohn_thumbs_active {
    display:block !important;
}

/* Start-up Selection Style */
.njohn_selector_hide .start-up-disabled {
	cursor: not-allowed !important;
	color: grey !important;
	border: 1px solid grey !important;
}
.njohn_selector_hide .start-up-disabled:hover {
	cursor: not-allowed !important;
	color: grey !important;
	border: 1px solid grey !important;
	background: white !important;
}

.njohn_selector_hide input:checked + .start-up-disabled {
	cursor: not-allowed !important;
	color: grey !important;
	border: 1px solid transparent;
	background: white !important;
}

/* Hide Collection Filter */

.filters-row__mode a.filters-row__view {
	display: none;
}



/* Color and Size Dropdown */


.single-option-selector option {
  	padding: 7px;
    font-size: 1.3em;
    letter-spacing: 1px;
}


.single-option-selector option:hover {
	background-color:#222!important;
}


.single-option-selector {
	-webkit-appearance: none!important;
	-moz-appearance: none!important;
	appearance: none!important;
	background-position: right center!important;
	background-image: url("//cdn.shopify.com/s/files/1/1299/2659/files/down-arrow.png?15852345052626680932")!important;
	background-repeat: no-repeat!important;
	background-position: right 10px center!important;
	padding-right: 28px!important;
	text-indent: 0.01px!important;
	text-overflow: ''!important;
	cursor: pointer!important;
	font-weight: 600!important;
	height: 55px!important;
	font-size: .9em!important;
	background-color:#f4f4f4!important;
	border-color:#f4f4f4!important;
}


#Tab1 ul li {
 	list-style:square !important;
  	line-height: 25px;
	font-weight: 500;
}

#Tab1 ul li:before {
  display: none;
  color: #333;
  font-family: 'Material Icons';
  content: "\e837";
  font-size: .80em;
  margin-right: 10px;
  vertical-align: middle;
  font-weight: normal;
  
}


.tab-content--ys > .tab-pane {
  color: #000 !important;
  font-family: 'Open Sans', sans-serif;
  font-size: .90em;
  letter-spacing: .05em;
}

.tab-content--ys > .tab-pane b {
 	text-transform: uppercase; 
}


.davz_addtocart_btn {
 	width:100%!important;
  	line-height: .92em!important;
	height: 55px!important;
	background: #000!important;
  	font-weight:normal!important;
  	font-size:16px!important;

}

.davz_addtocart_btn:hover {
  background: #333!important;
  color: #fff !important;
  font-weight:700!important;
}

.davz_qty_btn {
  	z-index: 0 !important;
 	height:50px;
  	background-color:transparent ;
  	border-left: 0px;
	border-top: 2px solid #000;
	border-right: 0px;
	border-bottom: 2px solid #000;
  	font-weight: bold;
  	font-size: 1.4em;

}
input.davz_qty_btn:hover,
input.davz_qty_btn:focus  {
  border-color: #000 !important;
}

.davz_qty_btn-plus,
.davz_qty_btn-minus {
    z-index: 0 !important;
    height: 50px!important;
    background-color: black;
    color: white !important;
    border-width: 2px !important;
    font-size: 2.50em !important;
    width: 50px;
    border-radius: 0px !important;
    font-weight: 500;
    line-height: 0;
    -webkit-transition: all 300ms linear 0s;
    -moz-transition: all 300ms linear 0s;
    -ms-transition: all 300ms linear 0s;
    -o-transition: all 300ms linear 0s;
    transition: all 300ms linear 0s;
}

.davz_qty_btn-plus:hover,
.davz_qty_btn-minus:hover {
	border: 2px solid #333333;
	background-color: #333333;
	color:white!important;
}

.davz_qty_btn-plus span.icon,
.davz_qty_btn-minus span.icon {
 	font-size: 25px;
}



.nav-tabs > li > a {
 	/*font-family: 'hurme-bold';*/
  	font-weight: 600;
	letter-spacing: .100em; 
  	/*font-weight: normal!important;*/
}


.product-info__description__text {
  	font-size: .75em;
    color: #333;
  	font-family: 'Open Sans', sans-serif;
    letter-spacing: .05em;
    font-weight: 400;
  	text-transform: uppercase;
}


/* qty button */

.input-group-btn:first-child > .btn {
 	margin-right: 0px!important; 
}


/* INPUT */

.product-info .qty-input {
 	text-align: center;
	border: 1px solid #333;
  	height: 45px;
  	width: 100%!important;
	margin-right: 0px!important;
  	color: #333;
  
}


.wishlist-txt-mobile {
   	display:none; 
  	text-transform: uppercase;
	text-align: center;
  }

.compare-txt-mobile {
   	display:none; 
  	text-transform: uppercase;
	text-align: center;
  }

 @media (max-width: 767px) {
	.added-wishbutton {
   		display: block;
  	}
	.wishlist-txt-mobile {
   		display: inline-block;
  	}
   
   .compare-txt-mobile {
    	display: inline-block;
	}

   .njohn_product_compare .icon-compare-n a span.compare-txt-mobile {
       font-size: 15px!important;
       color: #777777;
      -webkit-text-stroke: white;
   }
   
   .njohn_product_compare .icon-compare-n a span.origin-icon-arrow-compare {
      vertical-align: middle;
      font-size: 1.30em;
      color: #fff;
      -webkit-text-stroke: 1.2px #777;
	}
   
   .njohn_product_compare .icon-compare-n a[nj-compare="added"] .compare-txt-mobile {
        color: #fff;
    }
   
   	.njohn_product_wishlist .add-in-wishlist-js,
	.njohn_product_wishlist .added-wishbutton a {
   		width: 100%!important;
      	font-size: 15px!important;
      	margin-bottom: 11px!important;
      
    }
   
   .njohn_product_compare .add-in-comapare-js, 
   .njohn_product_compare .icon-compare-n a {
       width: 100%!important;
       font-size: 15px!important;
       margin-bottom: 11px!important;
   }
   
   .product-info .qty-input {
    	 margin-bottom: 15px;
   }
   
 }

.njohn_product_wishlist .added-wishbutton a {
 	 background: #333;
  	 color: white;
}


.njohn_product_wishlist .add-in-comapare-js {
	background: transparent;
    color: #333; 
}

.njohn_product_compare .icon-compare-n a[nj-compare="added"] {
  	background-color: #333;
}


.njohn_product_compare .icon-compare-n a[nj-compare="added"] .origin-icon-arrow-compare {
    color: #ffffff !important;
    -webkit-text-stroke: 1.6px #ffffff;
  	vertical-align: middle;
    font-size: 1em;
}

.njohn_product_wishlist .add-in-wishlist-js,
.njohn_product_wishlist .added-wishbutton a {
    display: inline-block;
    border: 1px solid #333;
    width: 45px;
	height: 45px;
    text-decoration: none;
    transition: .4s;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
}

.njohn_product_compare .add-in-comapare-js,
.njohn_product_compare .icon-compare-n a {
    display: inline-block;
    border: 1px solid #333;
    width: 45px;
	height: 45px;
    text-decoration: none;
    transition: .4s;
    font-size: 22px;
    line-height: 45px;
    text-align: center;
}


.njohn_product_wishlist .add-in-wishlist-js:hover {
	background: #333333;
  	color: white;
}


.njohn_product_compare .icon-compare-n a span {
    vertical-align: middle;
    font-size: 1.30em;
    color: #fff;
    -webkit-text-stroke: 1.2px #777777;
}


.njohn_product_wishlist .add-in-wishlist-js span.icon {
	vertical-align: middle;
}

/* .njohn_product_wishlist {
	width: 11%;
	float: left;
	padding: 0px 15px 0px 15px;
} */
.njohn_product_qty {
	width: 40%;
	float: left;
	padding: 0px 15px 0px 15px;
}
.njohn_product_btns {
	width: 49%;
	float: left;
	padding: 0px 15px 0px 15px;
}

@media (max-width:1199px) {
	.njohn_product_btns {
		width: 70%;
	}
	.njohn_product_qty {
		width: 57%;
		margin: 0px 5px 5px 0px;
	}
  
  	.sold_out_btn {
      font-size: 13px;
    }

    .progress-button {
      font-size: 13px;
	}
}


@media (max-width:991px) {
	.njohn_product_btns {
		width: 73%;
	}

  	.sold_out_btn {
      font-size: 10px;
    }

    .progress-button {
      font-size: 10px;
	}
}


@media (max-width:767px) {
	.njohn_product_btns {
		width: 50%;
	}
	.njohn_product_qty {
		width: 33%;
		margin: 0;
	}
  
   .sold_out_btn {
      font-size: 1em;
    }

    .progress-button {
      font-size: 1em;
	}

}


@media (max-width:522px) {
	.njohn_product_btns {
		width: 94%;
		margin: 5px 0px 0px 0px;
	}
	.njohn_product_qty {
		width: 80%;
		margin: 0;
	}
	
}

/* Product Title */
.njohn_product-info__title span {
   	font-family: 'hurme-semibold';
  	font-weight: 600;
  	text-transform: capitalize;
	letter-spacing: .05em;
    color: #000;
    font-size: 1.50em;
}


/* Product Page Label and Price */
.njohn_price-box .njohn_price1 {
    color: #585353;
  	text-decoration: line-through !important;
    font-size: 1.5em;
	font-family: 'hurme-regular';
}
.njohn_price-box .njohn_price2 {
	color: rgb(204, 10, 10) !important;
    font-size: 2.2em;
    font-family: 'hurme-bold';
}

.njohn_price-box .njohn_price3 {
    font-size: 2.2em;
    color: #333;
    font-family: 'hurme-bold';
  	font-weight: 600;
}


.davz_discount_saved {
    border: solid 2px black;
    color: black;
    padding: 6px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    font-weight: 600;
    font-size: 1.1em;
}

/*
.davz_discount_saved .jbn_amt_saved {
  font-size: 23px;
} */


/* Other Products Carousel */


.moto_recommended_products .carousel-products__button {
 	top: 0!important; 
}






.njohn_other_products .njohn_product_slider_navs {
    float: right;
    position: static;
}

.njohn_other_products .njohn_product_slider_title {
    float: left;
}
.njohn_other_products .njohn_product_slider_title span {
    font-size: 25px;
    text-transform: uppercase;
    /* font-family: "FuturaPT-Medium"; */
    color: black;
}


/* Label product thumbnail in moto */

.product_thumb_label {
    text-align: center;
    line-height: 10px;
    white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	/* word-wrap: break-word; */      /* IE */
  	display: none;
}

.product_thumb_label span {
    text-transform: uppercase;
    color: black;
    font-size: 10px;
	letter-spacing: .100em;
  	word-break: keep-all;

}

/* Product Page Availability */

div.njohn_avail_main {
	width: 100%;
    overflow: auto;
}
div.njohn_avail {
    display: table;
    width: 100%;
}


div.njohn_avail_tb {
    display: table-row-group;
}

div.njohn_avail_tr {
    display: table-row;
}


div.njohn_avail_th,
div.njohn_avail_tc {
    display: table-cell;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    border-bottom: 1px solid #e5e5e5;
    padding: 5px 10px 5px 10px;
    background: black;
}

div.njohn_avail_tc {
    background: white;
}
div.njohn_avail_tc span {
    font-weight:500;
}


div.njohn_avail_th span {
	color: white;
}

div.njohn_avail div.njohn_avail_tc span.njohn_avail_off_price {
	color: rgb(204, 10, 10) !important;
	padding-right: 5px;
}
div.njohn_avail div.njohn_avail_tc span.njohn_avail_old_price {
	text-decoration: line-through;
}


._readmore + [data-readmore-toggle] {
 	color: #333;
  	font-size: .90em;
    /* font-family: 'hurme-semibold'; */
  	font-weight: 600;
    letter-spacing: .100em;
  	text-align: right;
  	text-decoration: none;
  	-webkit-transition: all 0.4s; 
	-moz-transition: all 0.4s; 
	transition: all 0.4s;
}
._readmore + [data-readmore-toggle]:hover {
	color: black;
}



.product-info__review .spr-badge-caption {
    /* font-family: 'hurme-light'; */
    text-transform: uppercase;
    font-size: .75em;
    letter-spacing: .100em;
}

/* Draggable Image */

.product-zoom {
pointer-events: none;
}
.nj_click_to_expand {
    text-align: center;
    font-size: 10px;
    color: black;
    text-transform: uppercase;
    letter-spacing: .100em;
    /*font-family: 'hurme-semibold'; */
}
.zoomContainer .zoomLens {
    background-image: url(https://cdn.shopify.com/s/files/1/1223/6434/files/tile-black.gif?5154822944180430502);
    background-repeat: repeat !important;
    border:0 !important;
}
@media (max-width: 1024px) {
  .nj_click_to_expand {
  	display: none;
  }
}



.notice {
  color: red;
  text-transform: capitalize;
  font-family: 'hurme-semibold';
  letter-spacing: 1px;
  font-size: .80em;
}
.notice a {
  cursor: help;
  background-color: transparent;
  color: red;
  text-decoration: none;
  padding: 5px 5px 5px 0px;
  -webkit-transition: all 300ms linear 0s;
  -moz-transition: all 300ms linear 0s;
  -ms-transition: all 300ms linear 0s;
  -o-transition: all 300ms linear 0s;
  transition: all 300ms linear 0s;
}
.notice:hover a {

  background-color: red;
  color: white;
  padding: 5px 5px 5px 5px;
}


.spr-header-title:before {
   content: "Comments | Questions | Reviews" !important; 
}


.spr-summary-actions {
    display: block;
    margin-top: 10px;
}


.spr-summary-actions-newreview {
 	color: #000;
    font-weight: 600;
    float: none !important; 
}

.flex-direction-nav-fix>.flex-direction-nav{

display:block;

}
.pickup-container .product-info .qty-input {
  max-width: 220px;
  margin: 0 auto;
  margin-right: auto!important;
}