/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
}

.cd-image-replace {
  /* replace text with image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
}

ol, ul {
  list-style: none;
}

/* -------------------------------- 

Navigation trigger - visible on small devices only

-------------------------------- */
.cd-nav-trigger {
  display: block;
  position: fixed;
  z-index: 999999;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: black;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  /* reset button style */
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  outline: none;
}
.cd-nav-trigger span {
  /* central dot 
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3a2c41;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  */

  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #fff;
  top: 50%;
  margin-top: -1px;
  left: 50%;
  margin-left: -10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;

}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* bottom and top dots */
  content: '';
  position: absolute;
  left: 0;
  background: inherit;
  width: 100%;
  height: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s, background 0s;
  -moz-transition: -moz-transform 0.3s, background 0s;
  transition: transform 0.3s, background 0s;
}
.cd-nav-trigger span::before {
  top: -9px;
}
.cd-nav-trigger span::after {
  bottom: -9px;
}


.cd-nav-trigger.menu-is-open span::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}


@media only screen and (min-width: 800px) {
  .cd-nav-trigger {
    display: none;
  }
}

/* -------------------------------- 

Vertical navigation

-------------------------------- */
.cd-vertical-nav {
  position: fixed;
  /* z-index: 999999; */
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: auto;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
  border-radius: 0.25em;
  /*background-color: rgba(234, 242, 227, 0.9);*/
  background-color: rgba(250, 107, 107, 0.6);

}
.cd-vertical-nav a {
  display: block;
  padding: 1em;
  color: #3a2c41;
  font-weight: bold;
  border-bottom: 1px solid rgba(58, 44, 65, 0.1);
}
.cd-vertical-nav a.active {
  color: #c0a672;
}
.cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-overflow-scrolling: touch;
}
.cd-vertical-nav.open + .cd-nav-trigger {
  background-color: rgb(0, 0, 0);
}
.cd-vertical-nav.open + .cd-nav-trigger span {
  background-color: rgba(58, 44, 65, 0);
}

.cd-vertical-nav.open + .cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
  background: #e84a64;
}
.cd-vertical-nav.open + .cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
  background: #e84a64;
}
@media only screen and (min-width: 800px) {
  .cd-vertical-nav {
    /* reset style */
    right: 0;
    top: 0;
    bottom: auto;
    height: 100vh;
    width: 130px;
    max-width: none;
    max-height: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    background-color: transparent;
    /* vertically align its content*/
    display: table;
  }
  .cd-vertical-nav::before {
    /* this is the navigation background */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*  background: rgba(0, 0, 0, 0.8); */
    background: none;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .no-touch .cd-vertical-nav:hover::before, .touch .cd-vertical-nav::before {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .cd-vertical-nav ul {
    /* vertically align <ul> inside <nav>*/
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
  .cd-vertical-nav a {
    position: relative;
    padding: 3em 0 0;
    margin: 1.4em auto;
    border-bottom: none;
    font-size: 1.2rem;
    color: #eaf2e3;
  }
  .cd-vertical-nav a.active {
    color: #eaf2e3;
  }
  .cd-vertical-nav a::before, .cd-vertical-nav a::after {
    /* used to create the filled circle and the background icon */
    content: '';
    position: absolute;
    left: 50%;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }
  .cd-vertical-nav a::before {
    /* filled circle */
    top: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #fa6b6b;
    -webkit-transform: translateX(-50%) scale(0.25);
    -moz-transform: translateX(-50%) scale(0.25);
    -ms-transform: translateX(-50%) scale(0.25);
    -o-transform: translateX(-50%) scale(0.25);
    transform: translateX(-50%) scale(0.25);
    -webkit-transition: -webkit-transform 0.4s, background-color 0.2s;
    -moz-transition: -moz-transform 0.4s, background-color 0.2s;
    transition: transform 0.4s, background-color 0.2s;
  }
  .cd-vertical-nav a::after {
    /* icon */
    opacity: 0;
    top: 8px;
    height: 16px;
    width: 16px;
    -webkit-transform: translateX(-50%) scale(0);
    -moz-transform: translateX(-50%) scale(0);
    -ms-transform: translateX(-50%) scale(0);
    -o-transform: translateX(-50%) scale(0);
    transform: translateX(-50%) scale(0);
    -webkit-transition: -webkit-transform 0.4s 0s, opacity 0.1s 0.3s;
    -moz-transition: -moz-transform 0.4s 0s, opacity 0.1s 0.3s;
    transition: transform 0.4s 0s, opacity 0.1s 0.3s;
  }
  .cd-vertical-nav a.active::before, .no-touch .cd-vertical-nav a:hover::before {
    background-color: black;
    border: 5px solid #b7b7b7!important;
  }
  .cd-vertical-nav li:first-of-type a::after {
    /* change icon using image sprites */
    background-position: 0px -48px;
    /* fix bug with transitions - set scale(0.01) rather than scale(0) */
    -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(4.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(4.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(4.5em) scale(0.01);
    transform: translateX(-50%) translateY(4.5em) scale(0.01);
  }
  .cd-vertical-nav li:first-of-type a::before {
    -webkit-transform: translateX(-50%) translateY(4.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(4.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(4.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(4.5em) scale(0.25);
    transform: translateX(-50%) translateY(4.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(2) a::after {
    background-position: 0px -32px;
    -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(1.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(1.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(1.5em) scale(0.01);
    transform: translateX(-50%) translateY(1.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(2) a::before {
    -webkit-transform: translateX(-50%) translateY(1.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(1.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(1.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(1.5em) scale(0.25);
    transform: translateX(-50%) translateY(1.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(3) a::after {
    background-position: 0px -16px;
    -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(-1.5em) scale(0.01);
    transform: translateX(-50%) translateY(-1.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(3) a::before {
    -webkit-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(-1.5em) scale(0.25);
    transform: translateX(-50%) translateY(-1.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(4) a::after {
    background-position: 0px 0px;
    -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(-4.5em) scale(0.01);
    transform: translateX(-50%) translateY(-4.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(4) a::before {
    -webkit-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(-4.5em) scale(0.25);
    transform: translateX(-50%) translateY(-4.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(5) a::after {
    background-position: 0px 0px;
    -webkit-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(-7.5em) scale(0.01);
    transform: translateX(-50%) translateY(-7.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(5) a::before {
    -webkit-transform: translateX(-50%) translateY(-7.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(-7.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(-7.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(-7.5em) scale(0.25);
    transform: translateX(-50%) translateY(-7.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(6) a::after {
    background-position: 0px 0px;
    -webkit-transform: translateX(-50%) translateY(-10.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(-10.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(-10.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(-10.5em) scale(0.01);
    transform: translateX(-50%) translateY(-10.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(6) a::before {
    -webkit-transform: translateX(-50%) translateY(-10.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(-10.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(-10.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(-10.5em) scale(0.25);
    transform: translateX(-50%) translateY(-10.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(7) a::after {
    background-position: 0px 0px;
    -webkit-transform: translateX(-50%) translateY(-13.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(-13.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(-13.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(-13.5em) scale(0.01);
    transform: translateX(-50%) translateY(-13.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(7) a::before {
    -webkit-transform: translateX(-50%) translateY(-13.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(-13.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(-13.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(-13.5em) scale(0.25);
    transform: translateX(-50%) translateY(-13.5em) scale(0.25);
  }
  .cd-vertical-nav li:nth-of-type(8) a::after {
    background-position: 0px 0px;
    -webkit-transform: translateX(-50%) translateY(-16.5em) scale(0.01);
    -moz-transform: translateX(-50%) translateY(-16.5em) scale(0.01);
    -ms-transform: translateX(-50%) translateY(-16.5em) scale(0.01);
    -o-transform: translateX(-50%) translateY(-16.5em) scale(0.01);
    transform: translateX(-50%) translateY(-16.5em) scale(0.01);
  }
  .cd-vertical-nav li:nth-of-type(8) a::before {
    -webkit-transform: translateX(-50%) translateY(-16.5em) scale(0.25);
    -moz-transform: translateX(-50%) translateY(-16.5em) scale(0.25);
    -ms-transform: translateX(-50%) translateY(-16.5em) scale(0.25);
    -o-transform: translateX(-50%) translateY(-16.5em) scale(0.25);
    transform: translateX(-50%) translateY(-16.5em) scale(0.25);
  }
  .cd-vertical-nav .label {
    display: block;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.4s;
    -moz-transition: -moz-transform 0.4s;
    transition: transform 0.4s;
  }
  .no-touch .cd-vertical-nav:hover a::before, .no-touch .cd-vertical-nav:hover a::after, .touch .cd-vertical-nav li:nth-of-type(n) a::before, .touch .cd-vertical-nav li:nth-of-type(n) a::after {
    -webkit-transform: translateX(-50%) scale(1);
    -moz-transform: translateX(-50%) scale(1);
    -ms-transform: translateX(-50%) scale(1);
    -o-transform: translateX(-50%) scale(1);
    transform: translateX(-50%) scale(1);
    /* set a rotation to fix bug on Firefox - http://gielberkers.com/how-to-fix-shaking-css-transitions-in-firefox/ */
    -moz-transform: translateX(-50%) scale(1) rotate(0.02deg);
  }
  .no-touch .cd-vertical-nav:hover a::after, .touch .cd-vertical-nav a::after {
    opacity: 1;
    -webkit-transition: -webkit-transform 0.4s, opacity 0s;
    -moz-transition: -moz-transform 0.4s, opacity 0s;
    transition: transform 0.4s, opacity 0s;
  }
  .no-touch .cd-vertical-nav:hover .label, .touch .cd-vertical-nav .label {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);

    color: #fa6b6b;
  }

}


Content Sections - basic style

-------------------------------- */
.cd-section {
  /* vertically align its content*/
  /* display: table; */
  /* width: 100%; */
  /* height: 100vh; */
  /* margin: 20px 0; */
}


.cd-section:nth-of-type(even) {

}

.cd-section:nth-of-type(even) h2 {

}

.cd-section > div {
  /* vertically align <div> inside <section> */
  /* display: table-cell; */
  /*vertical-align: middle; */
  /* text-align: center;  */
  /* padding: 20px 0; */

}

.cd-section p {
  /* margin: 1em auto 0; */
  /*margin: 15px; */
  line-height: 1.6;
  /*width: 90%; */
  /* max-width: 680px; */
  /* color: rgba(234, 242, 227, 0.6); */
}

@media (max-width: 800px) {  
  #section3 ul {
    -webkit-column-count: 2 !important;
    -moz-column-count: 2 !important;
    column-count: 2 !important;
  }

}


@media (max-width: 600px) {  
  #section3 ul {
    -webkit-column-count: 1 !important;
    -moz-column-count: 1 !important;
    column-count: 1 !important;
  }

}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 44px;
  height: 44px;
  background: url(../img/cd-arrow-bottom.svg) no-repeat center center;
}

/* -------------------------------- 

no-js

-------------------------------- */
.no-js .cd-nav-trigger {
  display: none;
}

.no-js .cd-vertical-nav {
  position: static;
  height: auto;
  width: 100%;
  max-width: none;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.no-js .cd-vertical-nav::before {
  display: none;
}
.no-js .cd-vertical-nav ul::after {
  clear: both;
  content: "";
  display: table;
}
.no-js .cd-vertical-nav li {
  display: inline-block;
  float: left;
}
.no-js .cd-vertical-nav a {
  padding: 0 1em;
  margin: 1.5em 1em;
  color: #eaf2e3;
}
.no-js .cd-vertical-nav a.active {
  color: #c0a672;
}
.no-js .cd-vertical-nav a::after, .no-js .cd-vertical-nav a::before {
  display: none;
}
.no-js .cd-vertical-nav .label {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.banner_img {
  padding: 0 !important; 
}

.full_width_image {
  margin: 20px auto;
  display: block;
}


.section_men_label p,
.section_women_label p{
  font-size: 1.5em;
  color: #000000;
}

.cd-section ul li {
  line-height: 1.6;
  color: #000000;
}


#section3 ul {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3; 
}

#section3 ul li a {
  text-decoration: none;
}

#section3 ul li a:hover {
}

#section3 h2 {

}

#section3 div {

}

#section4 p {
  color: #000000;
}


.cd-vertical-nav a:hover {
  text-decoration: none; 
}



<!---
.cd-vertical-nav ul li > a:before {
color:#fff;
border:none;
animation-name: flash;
animation-duration: 1s;
animation-timing-function: linear;
animation-iteration-count: infinite;

/* //Firefox 1+ */
-webkit-animation-name: flash;
-webkit-animation-duration: 1s;
-webkit-animation-timing-function: linear;
-webkit-animation-iteration-count: infinite;

/* //Safari 3-4 */
-moz-animation-name: flash;
-moz-animation-duration: 1s;
-moz-animation-timing-function: linear;
-moz-animation-iteration-count: infinite;
}

@keyframes flash {
0% { opacity: 1.0; }
50% { opacity: 0.5; }
100% { opacity: 1.0; }
}

//Firefox 1+
@-webkit-keyframes flash {
0% { opacity: 1.0; }
50% { opacity: 0.5; }
100% { opacity: 1.0; }
}

//Safari 3-4
@-moz-keyframes flash {
0% { opacity: 1.0; }
50% { opacity: 0.5; }
100% { opacity: 1.0; }
}

//-->


.section_table h2 {
  margin: 20px auto; 
}

.table > thead > tr {
  background-color: #000000;
}

.table > thead > tr > th {
  color: #ffffff;
}


.tab-content--ys > .tab-pane {
  padding: 20px !important; 
}

.label {
  text-transform: uppercase !important;
}

/*
.back-to-top {
display: none !important; 
} */

.wall-list-menu ul {
  list-style: none;
  margin-top: 20px;
  padding: 0; 
  text-align: center;
}

.wall-list-menu ul li {
  display: inline-block;
  margin: 3px 2px;
  width:13.77%
}

/* .wall-list-menu ul li a {
    text-transform: uppercase;
    padding: 15px 30px;
    font-family: Roboto;
    font-weight: 400;
    text-decoration: none;
    color: #d8d8d8;
    transition: .2s;
    font-size: 1.2em;
    display: block;
    width: 100%;

} */


@media (max-width:1439px){
  .wall-list-menu ul li a{
    font-size:.8em; 
  }
}

.TeaserGrid-item{
 margin-right:15px;
  margin-left:-15px;
}
@media(min-width:300px){
  .wall-list-menu ul li {
    display: inline-block;
    margin: 3px 2px;
    width: 100%;
}
  .section-titles{
    text-align:center; 
  }
  .section-titles-lookbook{
    float:none;
    text-align:center;
  }
}

@media(min-width:576px){
  .wall-list-menu ul li {
    display: inline-block;
    margin: 3px 2px;
    width: 100%;
}
  .section-titles{
    text-align:center; 
  }
  .section-titles-lookbook{
    float:none;
    text-align:center;
  }
}
@media(min-width:768px){
  .wall-list-menu ul li {
    display: inline-block;
    margin: 3px 2px;
    width: 100%;
  }
  .collection-text {
    position: absolute;
    top: 7vw;
    margin: auto;
    width: 100%;
    color: white;
    z-index: 9;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0px;
    overflow: hidden;
  }
  .section-titles{
    text-align:center; 
  }
  .section-titles-lookbook{
    float:none;
    text-align:center;
  }
  .mobile-collection-text {
    position: absolute;
    top: 50vw;
    margin: auto;
    width: 100%;
    color: white;
    z-index: 9;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 5px 0px;
    overflow: hidden;
  }
  .fox-collection-text{
    position: absolute;
    top: 7vw;
    margin: auto;
    width: 100%;
    color: white;
    z-index: 9;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0px;
    overflow: hidden;
  }
  
}

@media(min-width:992px){
  .wall-list-menu ul li {
    display: inline-block;
    margin: 3px 2px;
    width:15.5%    
  }
  .collection-text {
    position: absolute;
    top: 8vw;
    margin: auto;
    width: 100%;
    color: white;
    z-index: 9;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0px;
    overflow: hidden;
  }
  .section-titles-lookbook{
  float:left;
  }
  .section-titles{
    float:left;
  }
  .fox-collection-text{
   position: absolute;
    top: 8vw;
    margin: auto;
    width: 100%;
    color: white;
    z-index: 9;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 20px 0px;
    overflow: hidden;
}

}

@media(min-width:1200px){
  .wall-list-menu ul li {
  display: inline-block;
  margin: 3px 2px;
  width:15.5%
}

}


