 .collection-banner{

    height:400px;
    background: center top/cover no-repeat;
    position: relative;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width: 100%;

  }
  .collection-header-text{
    position: absolute;
    top: 30%;
    width: 100%;
  }

  .collection-header-text h3{

    text-transform: uppercase;
    color:white;
    margin-top:30px;
    font-weight:700px;
    letter-spacing: .08em;
    font-size: 70px;
    text-shadow:0px 0px 20px black;


  }

  .shop-by-category-text{
    margin-top:50px; 
  }
  .category-banner{
    margin:0px;
    padding:0px;
    display: block;
    position: relative;
    overflow: hidden;
  }
  @media (max-width:767px)
  {
    .collection-header-text{
      position: absolute;
      top: 35%;
      width: 100%;
    }

    .collection-header-text h3{

      text-transform: uppercase;
      color:white;
      letter-spacing: .08em;
      font-size: 40px;
      text-shadow:0px 0px 20px black;


    }
  }
    @media (min-width:768px) and (max-width:846px)
  {

    .collection-header-text h3{

      text-transform: uppercase;
      color:white;
      letter-spacing: .08em;
      font-size: 60px;
      text-shadow:0px 0px 20px black;


    }
  }
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
 padding:0px; 
}
