.compare-modal{
  position: relative;
  background: #333131;
  width: calc(100% - 40px);
  margin: 20px auto;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.compare-modal .modal-content{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0), 0 1px 2px rgba(0, 0, 0, 0);
  border-color: transparent;
  margin: 15px;
  background: #fff;
  color: #000;
}
.compare-modal .modal-header{
  border: none;
  padding: 0;
/*   margin: 0 0 10px 0; */
  height: 75px;
  border-bottom: 1px solid #e5e5e5;
}
.compare-modal .modal-header .close{
  color: #e74c3c!important;
  transition: 0.1s;
  font-size: 29px;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  -webkit-opacity: 1;
  opacity: 1;
}
.compare-modal .modal-header .compare-title{
  padding: 15px 0;
}
.compare-modal .modal-header .compare-title h2{
  line-height: 1.5;
  margin: 0;
}
.compare-modal .modal-body{
  font-weight: normal;
  padding: 0 0 25px 0;
}
.compare-modal .modal-body .carousel-row{
  margin-left: 0;
  margin-right: 0;
  background: #fff;
  height: 650px;
}
.compare-modal .modal-body .append-item{
  background: #fff;
  height: 650px;
  overflow-y: auto;
  cursor: move;
}
.content-product-compare{
  padding: 10px 20px;
  display: block;
  text-align: center;
}

.content-product-compare .comp-img img{
  border: 1px solid #dcdcdc;
  margin-bottom: 15px;
  cursor: move;
}
.comp-ptitle a{
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: black;
  white-space: nowrap;
  font-style: normal;
  width: auto;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  font-weight: 600;
}
.comp-price{
  font-size: 20px;
}
.comp-price span[nj="old"]{
  color: #a7a4a4;
  font-size: 20px;
  text-decoration: line-through;
}
.comp-price span[nj="new"]{
  color: red;
  font-size: 20px;
}
.comp-desc p{
  font-size: 12px;
  color: #333333;
}
.comp-desc ul{
  padding-left: 10px;
}
.comp-desc ul li{
  list-style: none;
}
.comp-desc ul li:before{
    display: inline-block;
    color: #333;
    font-family: 'Material Icons';
    content: "\e837";
    font-size: .80em;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: normal;
}
.comp-desc{
  /*     height: 200px;
  overflow: auto; */
  text-align: justify;
  font-size: 12px;
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #dcdcdc;
}
.comp-brand{
  /*margin-top: 15px;*/
  padding: 10px 0;
  border-top: 1px solid #dcdcdc;
}
.comp-func{
  padding: 10px;
  border-top: 1px solid #dcdcdc;
}
.comp-brand{
  color: green;
}
.comp-func div{
  font-size: 20px;
  width: auto;
  display: inline-block;
  padding: 0 10px;
}
.comparison-empty{
  text-align: center;
  background: #fff;
  height: 650px;
}
.comparison-empty span{
  display: block;
  font-size: 18px;
  color: black;
  margin: 10px 0;
}
.compare-modal .slick-prev:before, .compare-modal .slick-next:before{
  color: white;
}
.compare-modal .slick-prev, .compare-modal .slick-next{
  background: black;
  outline: none;
  color: transparent;
}
.compare-modal .slick-prev:hover, .compare-modal .slick-next:hover{
  background: #333333;
}
.compare-modal .slick-track{
  margin: 0 auto;
}
@media (max-width: 560px) {
  .compare-title h2{
    font-size: 20px;
  }
}


.modal-content button{
  
 padding:0px; 
}

