{% comment %}
{% if settings.font_family_1 == 'google_font' %}
{% assign font_name_1 = settings.font_name_1 | append: ", sans-serif;" %}
body {
  font-family: {{ font_name_1 }};
}
.tooltip {
  font-family: {{ font_name_1 }};
}
.custom-font {
  font-family: {{ font_name_1 }};
}
.product__label {
  font-family: {{ font_name_1 }};
}
.price-box {
  font-family: {{ font_name_1 }};
}
.slider-blog-layout1 .slider-blog__item h6 {
  font-family: {{ font_name_1 }};
}
.recent-post-box h4 {
  font-family: {{ font_name_1 }};
}
.input-counter input {
  font-family: {{ font_name_1 }};
}
.input-counter span {
  font-family: {{ font_name_1 }};
}
.tp-caption1--wd-2 {
  font-family: {{ font_name_1 }};
}
.tp-caption2--wd-2 {
  font-family: {{ font_name_1 }};
}
.tp-caption2--wd-3 {
  font-family: {{ font_name_1 }};
}
.tp-caption3--wd-2 {
  font-family: {{ font_name_1 }};
}
.tp-caption3--wd-3 {
  font-family: {{ font_name_1 }};
}
.tp-caption4--wd-1 {
  font-family: {{ font_name_1 }};
}
.tp-caption4--wd-2 {
  font-family: {{ font_name_1 }};
}
.slider-layout-2 .tp-caption1--wd-2 {
  font-family: {{ font_name_1 }};
}
.promos__label {
  font-family: {{ font_name_1 }};
}
.vertical-carousel .label {
  font-family: {{ font_name_1 }};
}
.post__title_block time span {
  font-family: {{ font_name_1 }};
}
.countdown-transparent .countdown-amount {
  font-family: {{ font_name_1 }};
}
{% endif %}


{% if settings.font_family_2 == 'google_font' %}
{% assign font_name_2 = settings.font_name_2 | append: "" %}
.main-font {
  font-family: {{ font_name_2 }};
}
blockquote.quote-left {
  font-family: {{ font_name_2 }};
}
blockquote.quote-left:before {
  font-family: {{ font_name_2 }};
}
.lead {
  font-family: {{ font_name_2 }};
}
.delivery-banner__text h5 {
  font-family: {{ font_name_2 }};
}
.slider-blog .box-foto:after {
  font-family: {{ font_name_2 }};
}
.slider-blog .box-data h6 em {
  font-family: {{ font_name_2 }};
}
.slider-blog .box-foto:after {
  font-family: {{ font_name_2 }};
}
.slider-blog .box-data h6 em {
  font-family: {{ font_name_2 }};
}
.testimonialsAsid .slick-slide p span:before {
  font-family: {{ font_name_2 }};
}
.slider-blog-layout1 .slider-blog__item .box-foto:before {
  font-family: {{ font_name_2 }};
}
.slider-blog-layout1 .slider-blog__item h6 em {
  font-family: {{ font_name_2 }};
}
.recent-post-box .figure .figcaption em {
  font-family: {{ font_name_2 }};
}
.recent-post-box .author {
  font-family: {{ font_name_2 }};
}
.banner .figcaption .text.size1 {
  font-family: {{ font_name_2 }};
}
.banner .figcaption .text.size4 {
  font-family: {{ font_name_2 }};
}
.banner .figcaption .text.size5 {
  font-family: {{ font_name_2 }};
}
.tp-caption1--wd-1 {
  font-family: {{ font_name_2 }};
}
.tp-caption2--wd-1 {
  font-family: {{ font_name_2 }};
}
.tp-caption3--wd-1 {
  font-family: {{ font_name_2 }};
}
.slider-layout-2 .tp-caption1--wd-1 {
  font-family: {{ font_name_2 }};
}
.post__title_block time {
  font-family: {{ font_name_2 }};
}
.post__meta .autor {
  font-family: {{ font_name_2 }};
}
.recent-comments dt {
  font-family: {{ font_name_2 }};
}
.slogan {
  font-family: {{ font_name_2 }};
}
.comments .media-body .media-title .username {
  font-family: {{ font_name_2 }};
}
{% endif %}

{% endcomment %}