ol{
padding:0px;
}
p{
  color:black;
  text-align:justify;
  }
  
  hr.faded-hr{
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
  }
  .page-info-description{

    text-align:justify;
    padding-left:5px;
    line-height:40px;
    font-size:1.1em;
    color:black;

  }
  @media (max-width:1024px){
    .page-info-description{

      text-align:justify;
      padding-left:5px;
      line-height:40px;
      font-size:1.1em;
      color:black;

    }

  }

  @media (max-width:425px){
    .page-info-description{

      text-align:justify;
      padding-left:5px;
      line-height:40px;
      font-size:1em;
      color:black;

    }

  }

  .features li{
    line-height: 30px;
    margin-bottom: 30px;
    color: black;
    text-align: justify;
  }

  ul.dashed {
    margin: 0;
    padding:20px;
  }
  ul.dashed {
    list-style-type: none;
  }
  ul.dashed > li {
    text-indent: -5px;
    color:black;
    margin-bottom:20px;
  }
  ul.dashed > li:before {
    content: "—";
    text-indent: -5px;
    color:black;
    margin-right:10px;
  }
  .product-features{

    margin-bottom:20px; 
  }
  .features li{
    text-align:justify;
  }
  .title-holder h3,h4{
    height:38px; 
  }

  .features-3 li{
    line-height: 30px;
    margin-top:30px;
    margin-bottom: 30px;
    color: black;
    text-align: justify;
  }
  .features-3 .chin-list{
    margin-top:160px; 
  }
  @media(max-width:767px){
    .features-3 .chin-list{
      margin-top:30px; 
    }
    .container{
     padding-left:7px;
     padding-right:7px;
    }
    .col-xs-12{
     padding:0px; 
    }
    .col-sm-12{
     padding-left:10px;
     padding-right:10px;
    }
    .left-column{
      padding-left:10px!important;  

    }
    ol{
    padding-left:10px;
    }  
  }

.left-column{
padding-left:40px;  
  
  }

