 
<!-- CONTENT section -->
<script>

   if (window.location.href == 'https://motorhelmets.com/financing'){
     window.location.replace('https://motorhelmets.com/pages/motorhelmets-in-store-financing-available');
   }
  
   if (window.location.href == 'https://motorhelmets.com/apply'){
     window.location.replace('https://motorhelmets.com/pages/motorhelmets-online-financing-for-in-store-purchases-6-step-process');
   }
</script>

<div id="pageContent">
  <div class="container" style="margin-top: 200px;">	
    {% comment %}
    <!-- title -->
    <div class="title-box">
      <h1 class="text-center mega">{{ "general.404.title" | t }}</h1>
    </div>
    <!-- /title -->		
    {% endcomment %}
    <div class="text-center"> 
      <img style="width: 60%;" src='{{ "404.png" | asset_url }}' alt="empty cart icon" class="img-responsive-inline" />
      <div class="divider divider--lg"></div>		         

      

        <section class="content section-indent-bottom">
        <div class="container">
        <div class="title-box">      	
        <h2 class="text-center title-under uppercase_txt home_title">Shop Our Top Brands</h2>
        </div>
        <div class="row">
        <div class="brand_caro slider">
        <div><a href="/collections/fox-racing"><img src="https://cdn.shopify.com/s/files/1/1299/2659/files/fox-353x261.png?12782684585668825672" alt=""/></a></div>
        <div><a href="/collections/shift-racing"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shift-racing-353x261.png?13764375359243502022" alt=""/></a></div>
        <div><a href="/collections/alpinestars"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/alpine-star-353x261.png?13764375359243502022" alt=""/></a></div>
        <div><a href="/collections/thor"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/thor-353-261.png?992230107821188671" alt=""/></a></div>
        <div><a href="/collections/troy-lee-designs"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/tld-353x261.png?13764375359243502022" alt=""/></a></div>
        <div><a href="/collections/shoei"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shoi-353-261.png?992230107821188671" alt=""/></a></div>
        <div><a href="/collections/bell"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/bell-353-261.png?296320832266869252" alt=""/></a></div>
        <div><a href="/collections/icon"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/icon-353x261.png?13764375359243502022" alt=""/></a></div>
        <div><a href="/collections/arai"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/arai-353-261.png?992230107821188671" alt=""/></a></div>
        <div><a href="/collections/hjc"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/hjc-353-261.png?992230107821188671" alt=""/></a></div>
        </div>
        </div>
        </div>
        </section>
	</div>

	   <div class="divider divider--lg"></div>
    
    	<!-- featured products -->
        <section class="content">


          <div class="container">
            <div class="row">
              <div class="col-lg-12 col-xl-12">
                <!-- title -->
                 {% assign collection_title = "Shop New Arrivals" %}
                	<h4 class="text-left title-coll text-uppercase"><span> {{ collection_title }}</span></h4>
               
                
                {% include "home-product-grid" title: collection_title name_collection: settings.defaulthome_productgrid length: settings.defaulthome_productgridlength access: settings.show_defaulthome_productgrid %}


              <a href="collections/whats-new" class="btn btn--ys btn--xl obs_show_more_btn">Shop &nbsp;all</a>
              </div>
              
            </div>
          </div>
        </section>
        <!-- end featured products -->
      

    					
  </div>
</div>
<!-- End CONTENT section -->



<style>
  .brand_caro .slick-arrow {
   	 opacity: 0;
  }
  .brand_caro:hover .slick-arrow {
   	 opacity: 1;
  }
</style>

<script>
 jQuery(function($) {
 $j('.brand_caro').slick({
	        infinite: false,
	        dots: false,
	        slidesToShow: 6,
	        slidesToScroll: 1,
	        responsive: [{
				breakpoint: 1770,
				settings: {
	                slidesToShow: 4,
	                slidesToScroll: 1
					}
				},{
				breakpoint: 1199,
				settings: {
	                slidesToShow: 3,
	                slidesToScroll: 1
					}
				},{
				breakpoint: 768,
				settings: {
	                slidesToShow: 2,
	                slidesToScroll: 1
					}
				}, 
				{
	            breakpoint: 480,
	            settings: {
	                slidesToShow: 1,
	                slidesToScroll: 1
	            }
	        }]
      });
   
   
   
   });

  
</script>

