{%comment%}
<!--  ---------------- Updated By Christine Kudera (April 05 2021) ------------- -->
<!--  ---------------- Additional RELATED BLOG POSTS snippet for this TEMPLATE is here: (relatedBlogPosts.liquid) ------------- -->
<!--  ---------------- An ALTERNATIVE & OLD RELATED BLOGS snippet is here: (relatedblogs.liquid) which uses the app:
RELATED BLOG POSTS (https://apps.shopify.com/related-blog-posts?utm_campaign=installed&utm_content=contextual&utm_medium=shopify&utm_source=admin) ------------- -->
{%endcomment%}

{% if article.comments.size > 0 %}
	{% assign comment_url = article.url | append: '#comments' %}
{% else %}
	{% assign comment_url = article.url | append: '#addcomment' %}
{% endif %}

{% assign author = article.author %}
{% assign content = article.content %}


{% include 'blog.float.nav' %}

<div class="container">
  <!-- two columns -->
  <div class="nj_blog_container">
    
    <div class="nj_blogsidebar">
    {% include "blog-page-sidebar" | article_tags: article.tags blog_handle: blog.handle %}
    </div>
    
<div class="nj_blogmain">	
  
    <div class="njohn_block-underline nj_searchmobile">
      <div class="njohn_blog_search_field">
        <form action="/search" method="get">
            <input type="hidden" name="type" value="article">
            <input type="text" name="q" id="search" value="" maxlength="128" placeholder="SEARCH ARTICLE..">
            <button type="submit" title="" class="icon icon-search"></button>
        </form>
      </div>
    </div>
  
  
    <!-- center column -->
    <div class="nj_blogcontent">
      <div class="njohn_article_post">
        <!-- title post -->
        <div class="njohn_article_label">
            <div class="njohn_article_label_title">
                <a href="{{ article.url }}">{{ article.title }}</a>
            </div>
            <div class="njohn_article_label_info">
                <div class="njohn_article_label_created">
                    <span><i class="material-icons">create</i> {{ article.author }}</span>
                </div>
                <div class="njohn_article_label_date">
                    <span><i class="material-icons">access_time</i> {{ article.published_at | date: "%B %d, %Y" }}</span>
                </div>
                <div class="njohn_article_label_blog">
                  <a href="{{ blog.url }}"><span><i class="material-icons">folder</i> {{ blog.title }}</span></a>
                </div>
            </div>
        </div>
        <!-- /title post -->
        <!-- content post -->
		{{ content }}
        <!-- /content post -->
      </div>
      
      {% if blog.comments_enabled? %}
      <div style="position: relative;"><div id="{% if article.comments.size > 0 %}comments{% else %}addcomment{% endif %}" style="position: absolute; top: -190px;"></div></div>
      {% if article.comments.size > 0 or comment and comment.created_at and comment.status != 'unapproved' %}
      {% paginate article.comments by 100 %}
      <h3 class="title-aside text-uppercase">{{ 'blogs.article.comments_title' | t: article_title: article.title, comments_count: article.comments.size }}</h3>
      {% if comment and comment.created_at and comment.status != 'unapproved' %}
      <div id="comment-{{ comment.id }}" class="comments__comment">
        <!-- comments -->
        <div class="media comments">
          <!-- avatar -->
          <div class="pull-left"></div>
          <!-- /avatar -->
          <!-- content -->
          <div class="media-body">
            <div class="media-title">
              <span class="username">{{ "blogs.general.author_by_html" | t: author: comment.author }}</span>
              <time><span class="icon icon-access_time"></span>{{ comment.created_at | date: '%B %d, %Y' }} at {{ comment.created_at | date: '%R' }}</time>
            </div>
            <div class="media-content">
              <p>{{ comment.content }}</p>
            </div>
          </div>
          <!-- /content -->
        </div>
        <!-- /comments -->
      </div>
      {% assign new_comment_id = comment.id %}
      {% endif %}

      {% for comment in article.comments %}
      {% if new_comment_id != comment.id %}
      <div id="comment-{{ comment.id }}" class="comments__comment">
        <!-- comments -->
        <div class="media comments">
          <!-- avatar -->
          <div class="pull-left"></div>
          <!-- /avatar -->
          <!-- content -->
          <div class="media-body">
            <div class="media-title">
              <span class="username">{{ "blogs.general.author_by_html" | t: author: comment.author }}</span>
              <time><span class="icon icon-access_time"></span>{{ comment.created_at | date: '%B %d, %Y' }} at {{ comment.created_at | date: '%R' }}</time>
            </div>
            <div class="media-content">
              <p>{{ comment.content }}</p>
            </div>
          </div>
          <!-- /content -->
        </div>
        <!-- /comments -->
      </div>
      {% endif %}{% endfor %}{% endpaginate %}<hr>{% endif %}
					
      <!-- form -->
      {% form "new_comment", article %}
      
        {% if form.posted_successfully? %}
        {% if blog.moderated? %}
        <p class="success">{{ 'blogs.comments.success_moderated' | t }}</p>
        {% else %}
        <p class="success">{{ 'blogs.comments.success' | t }}</p>
        {% endif %}
        {% endif %}

        {% if form.errors %}
        <p class="error">{{ 'blogs.comments.error' | t }}</p>
        {% endif %}
      
        <div class="form-group">
          <label for="InputName">{{ 'blogs.comments.name' | t }}</label>
          <input name="comment[author]" type="text" class="form-control" id="InputName">
        </div>
        <div class="form-group">
          <label for="InputEmail">{{ 'blogs.comments.email' | t }}</label>
          <input name="comment[email]" type="email" class="form-control" id="InputEmail">
        </div>
        <div class="form-group">
          <label for="InputComment">{{ 'blogs.comments.message' | t }}</label>
          <textarea name="comment[body]" class="form-control"  id="InputComment" rows="8"></textarea>
        </div>
        <button class="btn btn-top btn--ys">{{ 'blogs.comments.post' | t }}</button>
      {% endform %}
      <!-- /form -->
      {% endif %}

    
     {% include 'relatedblogs' %}

    </div>
    
	</div>
  </div>
</div>

