
{% include 'blog.float.nav' %}

<div class="container">
  <div class="nj_blog_container">
    <div class="nj_blogsidebar">
    {% include "blog-page-sidebar" | article_tags: blog.tags blog_handle: blog.handle %}
    </div>

    <div class="nj_blogmain">

        <div class="njohn_block-underline nj_searchmobile">
          <div class="njohn_blog_search_field">
            <form action="/search" method="get">
                <input type="hidden" name="type" value="article">
                <input type="text" name="q" id="search" value="" maxlength="128" placeholder="SEARCH ARTICLE..">
                <button type="submit" title="" class="icon icon-search"></button>
            </form>
          </div>
        </div>
      
      
      
      {% comment %}
        Displays "Motorhelmets In Store Specials & Promotions" specific article on the top of the news
      {% endcomment %}
      
     {% paginate blog.articles by 200 %}
          <div class="nj_blogcontent davz-lookbook"> 
      {% for article in blog.articles %}
            {% if article.title == 'Motorhelmets In Store Specials & Promotions' %}
            <div class="njohn_article_post">
                      <div class="njohn_article_label">
                          <div class="njohn_article_label_title">
                              <a href="blogs/news/motorhelmets-in-store-specials">Motorhelmets In Store Specials &amp; Promotions</a>
                          </div>
                          <div class="njohn_article_label_info">
                              <div class="njohn_article_label_created">
                                  <span><i class="material-icons">create</i> Motor Helmets</span>
                              </div>
                              <div class="njohn_article_label_date">
                                  <span><i class="material-icons">access_time</i> February 13, 2017</span>
                              </div>
                              <div class="njohn_article_label_blog">
                              <a href="/blogs/news"><span><i class="material-icons">folder</i> Motorhelmets News</span></a>
                              </div>
                          </div>
                      </div>
                      <div class="njohn_article_img">
                        <a href="/blogs/news/motorhelmets-in-store-specials">
                            <img alt="Motorhelmets In Store Specials & Promotions" src="//cdn.shopify.com/s/files/1/1223/6434/articles/Motorhelmets_In_Store_Specials_Logo_1024x1024.png?v=1487041255" alt="" height="1024" width="1024">
                        </a>
                      </div>
                  <div class="njohn_article_tag">
                      <ul nj-tags="">

                        <li><a href="/blogs/news/tagged/bike-repair-specials">bike repair specials</a></li>

                        <li><a href="/blogs/news/tagged/in-store-deals">in store deals</a></li>

                        <li><a href="/blogs/news/tagged/in-store-promotions">in store promotions</a></li>

                        <li><a href="/blogs/news/tagged/in-store-specials">in store specials</a></li>

                        <li><a href="/blogs/news/tagged/motorcycle-shop-orange-county-california">motorcycle shop orange county california</a></li>

                        <li><a href="/blogs/news/tagged/motorcycle-store-orange-county">motorcycle store orange county</a></li>

                        <li><a href="/blogs/news/tagged/motorhelmets-fullerton-california">motorhelmets fullerton california</a></li>

                        <li><a href="/blogs/news/tagged/oil-change-specials">oil change specials</a></li>

                        <li><a href="/blogs/news/tagged/store-promtions">store promtions</a></li>

                        <li><a href="/blogs/news/tagged/store-sales">store sales</a></li>

                        <li><a href="/blogs/news/tagged/tire-change-specials">tire change specials</a></li>

                        <li><a href="/blogs/news/tagged/tire-prices">tire prices</a></li>

                        <li><a href="/blogs/news/tagged/tire-specials">tire specials</a></li>

                        <li><a href="/blogs/news/tagged/tune-up-specials">tune up specials</a></li>

                      </ul>
                  </div>
                  </div>
            {% endif %}
            {% endfor %}
            
            </div>
        {% endpaginate %}
      {% comment %}
        code for display ends here
      {% endcomment %}
      
      
        {% paginate blog.articles by 10 %}
          <div class="nj_blogcontent davz-lookbook">
                {% for article in blog.articles %}
                  <div class="njohn_article_post">
                      <div class="njohn_article_label">
                          <div class="njohn_article_label_title">
                              <a href="{{ article.url }}">{{ article.title }}</a>
                          </div>
                          <div class="njohn_article_label_info">
                              <div class="njohn_article_label_created">
                                  <span><i class="material-icons">create</i> {{ article.author }}</span>
                              </div>
                              <div class="njohn_article_label_date">
                                  <span><i class="material-icons">access_time</i> {{ article.published_at | date: "%B %d, %Y" }}</span>
                              </div>
                              <div class="njohn_article_label_blog">
                              <a href="{{ blog.url }}"><span><i class="material-icons">folder</i> {{ blog.title }}</span></a>
                              </div>
                          </div>
                      </div>
                      <div class="njohn_article_img">
                        <a href="{{ article.url }}">
                            <img class ="b-lazy" alt="{{ article.title }}" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Whitebanner-optimized-optimized.jpg?3318548133927044293" data-src="{{ article.image.src | img_url: '1024x1024' }}" alt="">
                        </a>
                      </div>
<div class="njohn_article_tag">
	<ul nj-tags>
	{% for tag in article.tags %}
      <li><a href="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}">{{ tag }}</a></li>
	{% endfor %}
	</ul>
</div>
                  </div>
                {% endfor %}
                {% if paginate.pages > 1 %}
                  <div class="njohn_blog_pagination">
                    {% include 'pagination_buttons' %}
                  </div>
                {% endif %}
          </div>
        {% endpaginate %}
      </div>
  </div>
</div>
