{{ 'tld-manual.css' | asset_url | stylesheet_tag }}

<section class="breadcrumbs">
  <div class="container breadcrumbs-no-line">
    <ol class="cd-breadcrumb triangle pull-left">
      <li><a href="/"><i class="simple-icon simple-icon-home"></i></a></li>
      <li><a href="/pages/troy-lee-designs-store-wall"><span>Troy Lee Designs</span></a></li>
      <li class ="current"><a href="/pages/tld-air-helmet-manual"><span>Air Helmet Manual</span></a></li>
    </ol>
  </div>
</section>

<div class="container">
  <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Air_Helmet_Banner-min.jpg?15378248502701346149">
  <div class ="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class ="row">
      <p class ="page-info-description">Our Air helmet is the embodiment of patented technologies that have made Troy Lee Designs a leader in the off-road helmet market worldwide.

        Each one is made with advanced materials and features that are common to all TLD helmets. From our unique pre-preg carbon / composite shell and forced air ventilation system to our dual-density impact liner, the Air helmet will give you the confi dence to ride to your limits without sacrifi cing safety and style.</p>
      <hr class ="faded-hr">
        <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Feature-3-min.jpg?4832870356513098764">
      <div class ="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        
          <ol class ="features" start = "1">
            <li>Exclusive, multi-level internal ventilation system and our "thermal crown cooling and exhaust chamber" are built into the EPS liner and shell to transfer air throughout the inside channels of the helmet, keeping your head cool even under the most extreme riding conditions.</li>
            <li>High-pressure top scoop, forces fresh air into the top of the helmet.</li>
            <li>Exhaust vents work in conjunction with the top and front inlets by essentially pulling hot air out of the back of the helmet</li>
            <li>New removable/replaceable mouth piece allows more air flow while providing excellent facial roost protection.</li>
            <li>Thicker impact-absorbing, EPS inside of chin bar liner adds protection and style details</li>
            <li>Distinctively styled lines designed and built into the shell provide a guide to keep your goggle strap in place.</li>
            <li>Ultra high-tech moisture-absorbing comfort liner and cheekpads are removable and washable. Dri-Lex&reg; and CoolMax&reg; fabric is used for both maximum absorption and maximum comfort.</li>
            
          </ol>

        <div class = "col-xs-12 col-sm-6 col-md-6 col-lg-6">
          
        </div>
      </div>
    </div>
  </div>
</div>