<section class="content--parallax-sm offset-top-0" data-image="https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-page-form-bg.jpg?v=1597801538" style="background-image: url(&quot;https://cdn.shopify.com/s/files/1/1223/6434/files/newsletter-page-form-bg.jpg?v=1597801538&quot;);margin-bottom: -75px;">
<div style="background-color: rgba(0, 0, 0, 0.60);">
<div class="container davz">
<div class="parallax-text">
<div class="block-table">
<div class="block-table-cell text-center">
<h6 class="color-white font50 title-bottom-sm1">Sign Up for Our Online Newsletter</h6>
<p class="color-white font24 main-font"></p><div class="davz-haus-newsletter-page text-center">
<div class="modal-dialog white-modal center-center  modal-lg" id="mc_embed_signup">
<div class="modal-content modal-lg" style="background-color: transparent;padding: 0;">

<div class="modal-block">
<div class="modal-newsletter text-center">

<div></div>
<form method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="subscribe-form validate" target="_blank" novalidate="" action="//motorhelmets.us10.list-manage.com/subscribe/post?u=ff8716194950b6d4e7426ca81&amp;id=12fe6611a1">
<div class="row-subscibe">
  <input name="EMAIL" placeholder="Your E-mail..." type="text" class="davz_motoNewsLetter_page_input"> 
  <button type="submit" class="btn btn--ys btn--xl davz_motoNewsLetter_page_button">subscribe</button>
</div>
</form>
<div id="mce-responses" class="clear">
<div class="response" id="mce-error-response" style="display: none;"></div>
<div class="response" id="mce-success-response" style="display: none;"></div>
</div>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">// <![CDATA[
(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);
// ]]></script>
  <!--End mc_embed_signup-->
</div>
</div>
</div>
</div>
</div>
</section>

<style>
  #mce-responses #mce-error-response {
   	color: red; 
  }
  #mce-responses #mce-success-response {
   	color: white; 
  }
</style>