{{ 'njohn-comparison-products-style-vertical.css' | asset_url | stylesheet_tag }}
<div class="container">
	<div class="text-center">
		<h3 class="text-center title-under uppercase_txt home_title">Product Comparison</h3>      
	</div>
	<div class="nj_products_comparison" style="display:none;">
		<div class="nj_products_comparison_empty" style="">
			<span nj="message"></span>
			<span>To add an item, browse for a product and choose Compare Product.</span>
          	<p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-compare-icon.jpg?14082672630093497200" style="margin: 0 auto;"></p>
			<a href="/">Return Home</a>
			<a href="/collections/whats-new">Shop Now</a>
		</div>
	</div>
	<div class="nj_products_comparison_table" style="display:none;">
        <div nj="filter">
          <button nj="btn1">Reset</button>
          <button nj="btn2">Filter</button>
        </div>
		<table>
			<tbody>
				<tr nj="action"><td><div><span></span></div></td></tr>
				<tr nj="functions"><td><div><span></span></div></td></tr>
				<tr nj="image"><td><div><span>Image</span></div></td></tr>
				<tr nj="title"><td><div><span>Title</span></div></td></tr>
				<tr nj="price"><td><div><span>Price</span></div></td></tr>
				<tr nj="brand"><td><div><span>Brand</span></div></td></tr>
				<tr nj="description"><td><div><span>Description</span></div></td></tr>
				<tr nj="total-color"><td><div><span>Color</span></div></td></tr>
				<tr nj="availability"><td><div><span>Availability</span></div></td></tr>
			</tbody>
		</table>
	</div>
</div>
{{ 'njohn-comparison-products-main-vertical.js' | asset_url | script_tag }}