
<div class="container" style="margin-top: 50px;">
  <div class="title-box">
          <h2 class="text-center text-uppercase title-under" style="font-weight: 600; color: rgb(0, 0, 0); font-size: 1.7em;">Motorhelmets.com Sizing Chart</h2>
        </div>

  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/gen-size-mens.jpg?13359299746045183769" alt="Motorhelmet Size Chart" style="margin: 0 auto;">
    </div>

    <div class="col-sm-6 col-md-6 col-lg-6">
        <img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/gen-size-womens.jpg?13359299746045183769" alt="Motorhelmet Size Chart" style="margin: 0 auto;">
    </div>

  </div>    
  
  <div class="row content tabdesign3">
    <ul class="nav nav-tabs nav-tabs--ys-center1 text-center" role="tablist">
        <li class="active">
            <a aria-expanded="true" href="#GenSizeChartTab1" role="tab" data-toggle="tab" class="text-uppercase">Mens</a>
        </li>

        <li>
            <a aria-expanded="false" href="#GenSizeChartTab2" role="tab" data-toggle="tab" class="text-uppercase">Womens</a>
        </li>

        <li>
            <a aria-expanded="false" href="#GenSizeChartTab3" role="tab" data-toggle="tab" class="text-uppercase">Boys</a>
        </li>

        <li>
            <a aria-expanded="false" href="#GenSizeChartTab4" role="tab" data-toggle="tab" class="text-uppercase">Girls</a>
        </li>

    </ul>


    <div class="tab-content tab-content--ys">
      
      
        <div role="tabpanel" class="tab-pane active" id="GenSizeChartTab1">
        <ul class="nav nav-tabs nav-tabs--ys" role="tablist">
            <li class="active"><a aria-expanded="false" href="#MenSizeChartTab1" role="tab" data-toggle="tab" class="text-uppercase">Top</a> </li>
            <li><a aria-expanded="true" href="#MenSizeChartTab2" role="tab" data-toggle="tab" class="text-uppercase">Suiting</a> </li>
            <li><a aria-expanded="false" href="#MenSizeChartTab3" role="tab" data-toggle="tab" class="text-uppercase">Outerwear</a> </li>
        </ul>
        <div class="tab-content tab-content--ys obs_gen_sizechart">
            <div role="tabpanel" class="tab-pane active" id="MenSizeChartTab1">
                <h4>TOP REGULAR / SLIM</h4>
                <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SIZE (US)</th>
                            <th scope="col">CHEST</th>
                            <th scope="col">NECK</th>
                            <th scope="col">WAIST</th>
                            <th scope="col">ARM LENGTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XS</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>13 - 13.5 IN / 33 - 34 CM</td>
                            <td>26 - 28 IN / 66 - 71 CM</td>
                            <td>31 - 32 IN / 79 - 81 CM</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>14 - 14.5 IN / 36 - 37 CM</td>
                            <td>29 - 31 IN / 74 - 79 CM</td>
                            <td>32 - 33 IN / 81 - 84 CM</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>15 - 15.5 IN / 38 - 39 CM</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>33 - 34 IN / 84 - 86 CM</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>16 - 16.5 IN / 41 - 42 CM</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>34 - 35 IN / 86 - 89 CM</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>44 - 46 IN / 112 - 117 CM</td>
                            <td>17 - 17.5 IN / 43 - 44 CM</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>35 - 36 IN / 89 - 91.5 CM</td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>47 - 49 IN / 119 - 124.5 CM</td>
                            <td>18 - 18.5 IN / 46 - 47 CM</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>36 - 36.5 IN / 91.5 - 93 CM</td>
                        </tr>
                    </tbody>
                </table>
        </div><!-- Responsive Table -->
                <div class="divider divider--sm"></div>
                <h4>TOP TALL</h4>
                <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SIZE (US)</th>
                            <th scope="col">CHEST</th>
                            <th scope="col">NECK</th>
                            <th scope="col">WAIST</th>
                            <th scope="col">ARM LENGTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>S</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>14 - 14.5 IN / 36 - 37 CM</td>
                            <td>29 - 31 IN / 74 - 79 CM</td>
                            <td>34 - 35 IN / 86 - 89 CM</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>15 - 15.5 IN / 38 - 39 CM</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>35 - 36 IN / 89 - 91.5 CM</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>16 - 16.5 IN / 41 - 42 CM</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>36 - 37 IN / 91.5 - 94 CM</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>44 - 46 IN / 112 - 117 CM</td>
                            <td>17 - 17.5 IN / 43 - 44 CM</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>37 - 38 IN / 94 - 96.5 CM</td>
                        </tr>
                    </tbody>
                </table>
        </div><!-- Responsive Table -->
                <h4>TOP REGULAR</h4>
                <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SIZE (US)</th>
                            <th scope="col">CHEST</th>
                            <th scope="col">WAIST</th>
                            <th scope="col">ARM LENGTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XS</td>
                            <td>81 - 86 IN / 81 - 86 CM</td>
                            <td>66 - 71 IN / 66 - 71 CM</td>
                            <td>79 - 81 IN / 79 - 81 CM</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>89 - 94 IN / 89 - 94 CM</td>
                            <td>74 - 79 IN / 74 - 79 CM</td>
                            <td>81 - 84 IN / 81 - 84 CM</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>97 - 102 IN / 97 - 102 CM</td>
                            <td>81 - 86 IN / 81 - 86 CM</td>
                            <td>84 - 86 IN / 84 - 86 CM</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>104 - 109 IN / 104 - 109 CM</td>
                            <td>89 - 94 IN / 89 - 94 CM</td>
                            <td>86 - 89 IN / 86 - 89 CM</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>112 - 117 IN / 112 - 117 CM</td>
                            <td>97 - 102 IN / 97 - 102 CM</td>
                            <td>89 - 91.5 IN / 89 - 91.5 CM</td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>119 - 124.5 IN / 119 - 124.5 CM</td>
                            <td>104 - 109 IN / 104 - 109 CM</td>
                            <td>91.5 - 93 IN / 91.5 - 93 CM</td>
                        </tr>
                    </tbody>
                </table>
        </div><!-- Responsive Table -->
            </div>
            <div role="tabpanel" class="tab-pane" id="MenSizeChartTab2">
                <h4>SUITING SHORT</h4>
                <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SIZE (US)</th>
                            <th scope="col">CHEST</th>
                            <th scope="col">WAIST</th>
                            <th scope="col">ARM LENGTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XS</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>26 - 28 IN / 66 - 71 CM</td>
                            <td>30 - 31 IN / 76 - 79 CM</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>29 - 31 IN / 74 - 79 CM</td>
                            <td>31 - 32 IN / 79 - 81 CM</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>32 - 33 IN / 81 - 84 CM</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>33 - 34 IN / 84 - 86 CM</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>44 - 46 IN / 112 - 117 CM</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>34 - 35 IN / 86 - 89 CM</td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>47 - 49 IN / 119 - 124.5 CM</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>35 - 35.5 IN / 89 - 90 CM</td>
                        </tr>
                    </tbody>
                </table>
        </div><!-- Responsive Table -->
                <div class="divider divider--md"></div>
                <h4>SUITING LONG</h4>
                <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SIZE (US)</th>
                            <th scope="col">CHEST</th>
                            <th scope="col">WAIST</th>
                            <th scope="col">ARM LENGTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XS</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>26 - 28 IN / 66 - 71 CM</td>
                            <td>32 - 33 IN / 81 - 84 CM</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>29 - 31 IN / 74 - 79 CM</td>
                            <td>33 - 34 IN / 84 - 86 CM</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>34 - 35 IN / 86 - 89 CM</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>35 - 36 IN / 89 - 91.5 CM</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>44 - 46 IN / 112 - 117 CM</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>36 - 37 IN / 91.5 - 94 CM</td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>47 - 49 IN / 119 - 124.5 CM</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>37 - 37.5 IN / 94 - 95 CM</td>
                        </tr>
                    </tbody>
                </table>
        </div><!-- Responsive Table -->
            </div>
            <div role="tabpanel" class="tab-pane" id="MenSizeChartTab3">
                <h4>OUTERWEAR REGULAR</h4>
                <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SIZE (US)</th>
                            <th scope="col">CHEST</th>
                            <th scope="col">WAIST</th>
                            <th scope="col">ARM LENGTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XS</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>26 - 28 IN / 66 - 71 CM</td>
                            <td>31 - 32 IN / 79 - 81 CM</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>29 - 31 IN / 74 - 79 CM</td>
                            <td>32 - 33 IN / 81 - 84 CM</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>33 - 34 IN / 84 - 86 CM</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>34 - 35 IN / 86 - 89 CM</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>44 - 46 IN / 112 - 117 CM</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>35 - 36 IN / 89 - 91.5 CM</td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>47 - 49 IN / 119 - 124.5 CM</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>36 - 36.5 IN / 91.5 - 93 CM</td>
                        </tr>
                    </tbody>
                </table>
        </div><!-- Responsive Table -->
                <div class="divider divider--md"></div>
                <h4>OUTERWEAR TALL</h4>
                <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th scope="col">SIZE (US)</th>
                            <th scope="col">CHEST</th>
                            <th scope="col">WAIST</th>
                            <th scope="col">ARM LENGTH</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>XS</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>26 - 28 IN / 66 - 71 CM</td>
                            <td>32 - 33 IN / 81 - 84 CM</td>
                        </tr>
                        <tr>
                            <td>S</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>29 - 31 IN / 74 - 79 CM</td>
                            <td>33 - 34 IN / 84 - 86 CM</td>
                        </tr>
                        <tr>
                            <td>M</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>32 - 34 IN / 81 - 86 CM</td>
                            <td>34 - 35 IN / 86 - 89 CM</td>
                        </tr>
                        <tr>
                            <td>L</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>35 - 37 IN / 89 - 94 CM</td>
                            <td>35 - 36 IN / 89 - 91.5 CM</td>
                        </tr>
                        <tr>
                            <td>XL</td>
                            <td>44 - 46 IN / 112 - 117 CM</td>
                            <td>38 - 40 IN / 97 - 102 CM</td>
                            <td>36 - 37 IN / 91.5 - 94 CM</td>
                        </tr>
                        <tr>
                            <td>XXL</td>
                            <td>47 - 49 IN / 119 - 124.5 CM</td>
                            <td>41 - 43 IN / 104 - 109 CM</td>
                            <td>37 - 37.5 IN / 94 - 95 CM</td>
                        </tr>
                    </tbody>
                </table>
        </div><!-- Responsive Table -->
            </div>
        </div>

        </div>





        <div role="tabpanel" class="tab-pane" id="GenSizeChartTab2">
        
          <ul class="nav nav-tabs nav-tabs--ys" role="tablist">

        <li class="active"><a aria-expanded="false" href="#WomenSizeChartTab1" role="tab" data-toggle="tab" class="text-uppercase">Top</a></li>
        <li><a aria-expanded="true" href="#WomenSizeChartTab2" role="tab" data-toggle="tab" class="text-uppercase">Bottom</a></li>
        <li><a aria-expanded="false" href="#WomenSizeChartTab3" role="tab" data-toggle="tab" class="text-uppercase">SWIM</a></li>
        <li><a aria-expanded="false" href="#WomenSizeChartTab4" role="tab" data-toggle="tab" class="text-uppercase">OUTERWEAR </a></li>


        </ul>






        <div class="tab-content tab-content--ys obs_gen_sizechart">


                <div role="tabpanel" class="tab-pane active" id="WomenSizeChartTab1">
                <h4>TOP — REGULAR SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">NUMERIC SIZE (US)</th>
                    <th scope="col">BUST</th>
                    <th scope="col">NATURAL WAIST</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr>
                    <td>XXXS</td>
                    <td>0</td>
                    <td>30.5 IN — 77.5 CM</td>
                    <td>23 IN — 58.5 CM</td>
                    </tr>
                    <tr>
                    <td>XXS</td>
                    <td>0</td>
                    <td>31.5 IN — 80 CM</td>
                    <td>24 IN — 61 CM</td>
                    </tr>
                    <tr>
                    <td>XS</td>
                    <td>0</td>
                    <td>32.5 IN — 82.5 CM</td>
                    <td>25 IN — 63.5 CM</td>
                    </tr>
                    <tr>
                    <td>XS</td>
                    <td>2</td>
                    <td>33.5 IN — 85 CM</td>
                    <td>26 IN — 66 CM</td>
                    </tr>
                    <tr>
                    <td>S</td>
                    <td>4</td>
                    <td>34.5 IN — 87.5 CM</td>
                    <td>27 IN — 68.5 CM</td>
                    </tr>
                    <tr>
                    <td>S</td>
                    <td>6</td>
                    <td>35.5 IN — 90 CM</td>
                    <td>28 IN — 71 CM</td>
                    </tr>
                    <tr>
                    <td>M</td>
                    <td>8</td>
                    <td>36.5 IN — 93 CM</td>
                    <td>29 IN — 73.5 CM</td>
                    </tr>
                    <tr>
                    <td>M</td>
                    <td>10</td>
                    <td>37.5 IN — 95.5 CM</td>
                    <td>30 IN — 76 CM</td>
                    </tr>
                    <tr>
                    <td>L</td>
                    <td>12</td>
                    <td>39 IN — 99 CM</td>
                    <td>31.5 IN — 80 CM</td>
                    </tr>
                    <tr>
                    <td>L</td>
                    <td>14</td>
                    <td>40.5 IN — 103 CM</td>
                    <td>33 IN — 84 CM</td>
                    </tr>
                    <tr>
                    <td>XL</td>
                    <td>16</td>
                    <td>42 IN — 106.5 CM</td>
                    <td>34.5 IN — 87.5 CM</td>
                    </tr>
                    <tr>
                    <td>XXL</td>
                    <td>18</td>
                    <td>43.5 IN — 110.5 CM</td>
                    <td>36 IN — 91.5 CM</td>
                    </tr>

                  </tbody>
                </table>
        </div><!-- Responsive Table -->
                <div class="divider divider--sm"></div>
                <h4>TOP — PETITE SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                        <th scope="col">SIZE (US)</th>
                        <th scope="col">NUMERIC SIZE (US)</th>
                        <th scope="col">BUST</th>
                        <th scope="col">NATURAL WAIST</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                    <td>XXS</td>
                    <td>0</td>
                    <td>30.5 IN — 77.5 CM</td>
                    <td>23 IN — 58.5 CM</td>
                    </tr>
                    <tr>
                    <td>XS</td>
                    <td>0</td>
                    <td>31.5 IN — 80 CM</td>
                    <td>24 IN — 61 CM</td>
                    </tr>
                    <tr>
                    <td>XS</td>
                    <td>2</td>
                    <td>32.5 IN — 82.5 CM</td>
                    <td>25 IN — 64 CM</td>
                    </tr>
                    <tr>
                    <td>S</td>
                    <td>4</td>
                    <td>33.5 IN — 85 CM</td>
                    <td>26 IN — 66 CM</td>
                    </tr>
                    <tr>
                    <td>S</td>
                    <td>6</td>
                    <td>34.5 IN — 87.5 CM</td>
                    <td>27 IN — 68.5 CM</td>
                    </tr>
                    <tr>
                    <td>M</td>
                    <td>8</td>
                    <td>35.5 IN — 90 CM</td>
                    <td>28 IN — 71 CM</td>
                    </tr>
                    <tr>
                    <td>M</td>
                    <td>10</td>
                    <td>36.5 IN — 92.5 CM</td>
                    <td>29 IN — 73.5 CM</td>
                    </tr>
                    <tr>
                    <td>L</td>
                    <td>12</td>
                    <td>38 IN — 97 CM</td>
                    <td>30.5 IN — 77.5 CM</td>
                    </tr>

                  </tbody>
                </table>
        </div><!-- Responsive Table -->

                 <div class="divider divider--sm"></div>
                <h4>TOP — TALL SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">NUMERIC SIZE (US)</th>
                    <th scope="col">BUST</th>
                    <th scope="col">NATURAL WAIST</th>

                    </tr>
                  </thead>
                  <tbody>

                    <tr><td>XXS</td><td>0</td><td>31.5 IN — 80 CM</td><td>24 IN — 61 CM</td></tr>
                    <tr><td>XS</td><td>0</td><td>32.5 IN — 82.5 CM</td><td>25 IN — 63.5 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>33.5 IN — 85 CM</td><td>26 IN — 66 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>34.5 IN — 87.5 CM</td><td>27 IN — 68.5 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>35.5 IN — 90 CM</td><td>28 IN — 71 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>36.5 IN — 93 CM</td><td>29 IN — 73.5 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>37.5 IN — 95.5 CM</td><td>30 IN — 76 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>39 IN — 99 CM</td><td>31.5 IN — 80 CM</td></tr>
                    <tr><td>L</td><td>14</td><td>40.5 IN — 103 CM</td><td>33 IN — 84 CM</td></tr>
                    <tr><td>XL</td><td>16</td><td>42 IN — 106.5 CM</td><td>34.5 IN — 87.5 CM</td></tr>
                    <tr><td>XXL</td><td>18</td><td>43.5 IN — 110.5 CM</td><td>36 IN — 91.5 CM</td></tr>


                  </tbody>
                </table>
        </div><!-- Responsive Table -->

        </div>

        <div role="tabpanel" class="tab-pane" id="WomenSizeChartTab2">
                <h4>BOTTOMS — REGULAR SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">NUMERIC SIZE (US)</th>
                    <th scope="col">NATURAL WAIST</th>
                    <th scope="col">HIP</th>

                    </tr>
                  </thead>
                  <tbody>

                    <tr><td>XXXS</td><td>0</td><td>23 IN — 58.5 CM</td><td>33 IN — 84 CM</td></tr>
                    <tr><td>XXS</td><td>0</td><td>24 IN — 62 CM</td><td>34 IN — 86.5 CM</td></tr>
                    <tr><td>XS</td><td>0</td><td>25 IN — 64 CM</td><td>35 IN — 89 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>26 IN — 66 CM</td><td>36 IN — 91.5 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>27 IN — 68.5 CM</td><td>37 IN — 94 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>28 IN — 71 CM</td><td>38 IN — 97 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>29 IN — 73.5 CM</td><td>39 IN — 99 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>30 IN — 76 CM</td><td>40 IN — 101.5 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>31.5 IN — 80 CM</td><td>41.5 IN — 105.5 CM</td></tr>
                    <tr><td>L</td><td>14</td><td>33 IN — 84 CM</td><td>43 IN — 109 CM</td></tr>
                    <tr><td>XL</td><td>16</td><td>34.5 IN — 88 CM</td><td>44.5 IN — 113 CM</td></tr>


                  </tbody>
                </table>
        </div><!-- Responsive Table -->


                <div class="divider divider--md"></div>
                <h4>BOTTOMS — PETITE SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">NUMERIC SIZE (US)</th><th scope="col">NATURAL WAIST</th><th scope="col">HIP</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr><td>0</td><td>23</td><td>33 IN — 84 CM</td></tr>
                    <tr><td>0</td><td>24</td><td>34 IN — 86 CM</td></tr>
                    <tr><td>2</td><td>25</td><td>35 IN — 89 CM</td></tr>
                    <tr><td>4</td><td>26</td><td>36 IN — 91.5 CM</td></tr>
                    <tr><td>6</td><td>27</td><td>37 IN — 94 CM</td></tr>
                    <tr><td>8</td><td>28</td><td>38 IN — 97 CM</td></tr>
                    <tr><td>10</td><td>29</td><td>39 IN — 99 CM</td></tr>
                    <tr><td>12</td><td>30.5</td><td>40.5 IN — 103 CM</td></tr>


                  </tbody>
                </table>
        </div><!-- Responsive Table -->

                <div class="divider divider--md"></div>

                <h4>BOTTOMS — TALL SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th><th scope="col">NUMERIC SIZE (US)</th><th scope="col">NATURAL WAIST</th><th scope="col">HIP</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr><td>XXS</td><td>0</td><td>24 IN — 62 CM</td><td>34 IN — 86.5 CM</td></tr>
                    <tr><td>XS</td><td>0</td><td>25 IN — 64 CM</td><td>35 IN — 89 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>26 IN — 66 CM</td><td>36 IN — 91.5 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>27 IN — 68.5 CM</td><td>37 IN — 94 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>28 IN — 71 CM</td><td>38 IN — 97 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>29 IN — 73.5 CM</td><td>39 IN — 99 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>30 IN — 76 CM</td><td>40 IN — 101.5 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>31.5 IN — 80 CM</td><td>41.5 IN — 105.5 CM</td></tr>
                    <tr><td>L</td><td>14</td><td>33 IN — 84 CM</td><td>43 IN — 109 CM</td></tr>
                    <tr><td>XL</td><td>16</td><td>34.5 IN — 88 CM</td><td>44.5 IN — 113 CM</td></tr>


                  </tbody>
                </table>
        </div><!-- Responsive Table -->

                <div class="divider divider--md"></div>
                <h4>BOTTOMS — SHORT SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th><th scope="col">NUMERIC SIZE (US)</th><th scope="col">NATURAL WAIST</th><th scope="col">HIP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>XS</td><td>0</td><td>25 IN — 64 CM</td><td>35 IN — 89 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>26 IN — 66 CM</td><td>36 IN — 91.5 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>27 IN — 68.5 CM</td><td>37 IN — 94 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>28 IN — 71 CM</td><td>38 IN — 97 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>29 IN — 73.5 CM</td><td>39 IN — 99 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>30 IN — 76 CM</td><td>40 IN — 101.5 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>31.5 IN — 80 CM</td><td>41.5 IN — 105.5 CM</td></tr>
                    <tr><td>L</td><td>14</td><td>33 IN — 84 CM</td><td>43 IN — 109 CM</td></tr>
                    <tr><td>XL</td><td>16</td><td>34.5 IN — 88 CM</td><td>44.5 IN — 113 CM</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->

                <div class="divider divider--md"></div>
                <h4>BOTTOMS — SHORT SIZEBOTTOMS — DENIM & CORDS</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th><th scope="col">NUMERIC SIZE (US)</th><th scope="col">NATURAL WAIST</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>23</td><td>0</td><td>23 IN — 58.5 CM</td></tr>
                    <tr><td>24</td><td>0</td><td>24 IN — 62 CM</td></tr>
                    <tr><td>25</td><td>0</td><td>25 IN — 63.5 CM</td></tr>
                    <tr><td>26</td><td>2</td><td>26 IN — 66 CM</td></tr>
                    <tr><td>27</td><td>4</td><td>27 IN — 68.5 CM</td></tr>
                    <tr><td>28</td><td>6</td><td>28 IN — 71 CM</td></tr>
                    <tr><td>29</td><td>8</td><td>29 IN — 73.5 CM</td></tr>
                    <tr><td>30</td><td>10</td><td>30 IN — 76 CM</td></tr>
                    <tr><td>31</td><td>12</td><td>31.5 IN — 80 CM</td></tr>
                    <tr><td>32</td><td>14</td><td>33 IN — 84 CM</td></tr>
                    <tr><td>33</td><td>16</td><td>34.5 IN — 87.5 CM</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->


                <div class="divider divider--md"></div>
                <h4>BOTTOMS — PETITE SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th><th scope="col">NUMERIC SIZE (US)</th><th scope="col">BUST</th><th scope="col">NATURAL WAIST</th><th scope="col">HIP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>XXS</td><td>0</td><td>30.5 IN — 77.5 CM</td><td>23 IN — 58.5 CM</td><td>33.25 IN — 84.5 CM</td></tr>
                    <tr><td>XS</td><td>0</td><td>31.5 IN — 80 CM</td><td>24 IN — 61 CM</td><td>34 IN — 86 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>32.5 IN — 82.5 CM</td><td>25 IN — 64 CM</td><td>35 IN — 89 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>33.5 IN — 85 CM</td><td>26 IN — 66 CM</td><td>36 IN — 91.5 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>34.5 IN — 87.5 CM</td><td>27 IN — 68.5 CM</td><td>37 IN — 94 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>35.5 IN — 90 CM</td><td>28 IN — 71 CM</td><td>38 IN — 97 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>36.5 IN — 92.5 CM</td><td>29 IN — 73.5 CM</td><td>39 IN — 99 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>38 IN — 97 CM</td><td>30.5 IN — 77.5 CM</td><td>40.5 IN — 103 CM</td></tr>
                    <tr><td>L</td><td>14</td><td>39.5 IN — 100 CM</td><td>32 IN — 81 CM</td><td>42 IN — 106.5 CM</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->


                <div class="divider divider--md"></div>
                <h4>BOTTOMS — TALL SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th><th scope="col">NUMERIC SIZE (US)</th><th scope="col">BUST</th><th scope="col">NATURAL WAIST</th><th scope="col">HIP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>XXS</td><td>0</td><td>31.5 IN — 80 CM</td><td>24 IN — 61 CM</td><td>34 IN — 86 CM</td></tr>
                    <tr><td>XS</td><td>0</td><td>32.5 IN — 82.5 CM</td><td>25 IN — 64 CM</td><td>35 IN — 89 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>33.5 IN — 85 CM</td><td>26 IN — 66 CM</td><td>36 IN — 91.5 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>34.5 IN — 87.5 CM</td><td>27 IN — 68.5 CM</td><td>37 IN — 94 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>35.5 IN — 90 CM</td><td>28 IN — 71 CM</td><td>38 IN — 97 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>36.5 IN — 92.5 CM</td><td>29 IN — 73.5 CM</td><td>39 IN — 99 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>37.5 IN — 95 CM</td><td>30 IN — 76 CM</td><td>40 IN — 101.5 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>39 IN — 99 CM</td><td>31.5 IN — 80 CM</td><td>41.5 IN — 105.5 CM</td></tr>
                    <tr><td>L</td><td>14</td><td>40.5 IN — 103 CM</td><td>33 IN — 84 CM</td><td>43 IN — 109 CM</td></tr>
                    <tr><td>XL</td><td>16</td><td>42 IN — 107 CM</td><td>34.5 IN — 88 CM</td><td>44.5 IN — 113 CM</td></tr>
                    <tr><td>XL</td><td>18</td><td>44 IN — 112 CM</td><td>36 IN — 91.5 CM</td><td>46.5 IN — 118 CM</td></tr>
                    <tr><td>XXL</td><td>20</td><td>46 IN — 117 CM</td><td>37.5 IN — 95 CM</td><td>48.5 IN — 123 CM</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->


        </div>

        <div role="tabpanel" class="tab-pane" id="WomenSizeChartTab3">
                <h4>SWIM</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">NUMERIC SIZE (US)</th>
                    <th scope="col">A - C CUP TOPS</th>
                    <th scope="col">D - CUP TOPS</th>
                    <th scope="col">DD CUP TOPS</th>
                    <th scope="col">LONG TORSO</th>
                    <th scope="col">BUST</th>
                    <th scope="col">NATURAL WAIST</th>
                    <th scope="col">HIP</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>XXS</td><td>0</td><td>—</td><td>—</td><td>—</td><td>59.5 IN — 151 CM</td><td>31.5 IN — 80 CM</td><td>24 IN — 61 CM</td><td>34 IN — 86 IN</td></tr>
                    <tr><td>XS</td><td>0</td><td>—</td><td>—</td><td>—</td><td>60.5 IN — 154 CM</td><td>32.5 IN — 82.5 CM</td><td>25 IN — 64 CM</td><td>35 IN — 89 IN</td></tr>
                    <tr><td>XS</td><td>2</td><td>32A</td><td>—</td><td>—</td><td>61.5 IN — 156 CM</td><td>33.5 IN — 85 CM</td><td>26 IN — 66 CM</td><td>36 IN — 91.5 IN</td></tr>
                    <tr><td>S</td><td>4</td><td>34A/32B</td><td>32D</td><td>30DD</td><td>63 IN — 160 CM</td><td>34.5 IN — 87.5 CM</td><td>27 IN — 68.5 CM</td><td>37 IN — 94 IN</td></tr>
                    <tr><td>S</td><td>6</td><td>36A/34B/32C</td><td>34D</td><td>32DD</td><td>64.5 IN — 164 CM</td><td>35.5 IN — 90 CM</td><td>28 IN — 71 CM</td><td>38 IN — 97 IN</td></tr>
                    <tr><td>M</td><td>8</td><td>36B/34C</td><td>36D</td><td>34DD</td><td>66 IN — 168 CM</td><td>36.5 IN — 92.5 CM</td><td>29 IN — 73.5 CM</td><td>39 IN — 99 IN</td></tr>
                    <tr><td>M</td><td>10</td><td>36C</td><td>38D</td><td>36DD</td><td>67.5 IN — 171.5 CM</td><td>37.5 IN — 95 CM</td><td>30 IN — 76 CM</td><td>40 IN — 101.5 IN</td></tr>
                    <tr><td>L</td><td>12</td><td>38C</td><td>40D</td><td>38DD</td><td>69 IN — 175 CM</td><td>39 IN — 99 CM</td><td>31.5 IN — 80 CM</td><td>41.5 IN — 105.5 IN</td></tr>
                    <tr><td>L</td><td>14</td><td>—</td><td>42D</td><td>40DD</td><td>70.5 IN — 179 CM</td><td>40.5 IN — 103 CM</td><td>33 IN — 84 CM</td><td>43 IN — 109 IN</td></tr>
                    <tr><td>XL</td><td>16</td><td>—</td><td>44D</td><td>42DD</td><td>72 IN — 183 CM</td><td>42 IN — 107 CM</td><td>34.5 IN — 88 CM</td><td>44.5 IN — 113 IN</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->
        </div>


        <div role="tabpanel" class="tab-pane" id="WomenSizeChartTab4">
                <h4>OUTERWEAR — REGULAR SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">NUMERIC SIZE (US)</th>
                    <th scope="col">BUST</th>
                    <th scope="col">NATURAL WAIST</th>
                    <th scope="col">HIP</th>
                    <th scope="col">ARM LENGTH</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>XXXS</td><td>0</td><td>30.5 IN — 77.5 CM</td><td>23 IN — 58.5 CM</td><td>33 IN — 84 CM</td><td>29.75 IN — 75.5 CM</td></tr>
                    <tr><td>XXS</td><td>0</td><td>31.5 IN — 80 CM</td><td>24 IN — 61 CM</td><td>34 IN — 86 CM</td><td>30 IN — 76 CM</td></tr>
                    <tr><td>XS</td><td>0</td><td>32.5 IN — 82.5 CM</td><td>25 IN — 64 CM</td><td>35 IN — 90 CM</td><td>30.5 IN — 77.5 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>33.5 IN — 85 CM</td><td>26 IN — 66 CM</td><td>36 IN — 91.5 CM</td><td>31 IN — 78.5 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>34.5 IN — 87.5 CM</td><td>27 IN — 68.5 CM</td><td>37 IN — 94 CM</td><td>31 IN — 78.5 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>35.5 IN — 90 CM</td><td>28 IN — 71 CM</td><td>38 IN — 96.5 CM</td><td>31.5 IN — 81 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>36.5 IN — 92.5 CM</td><td>29 IN — 73.5 CM</td><td>39 IN — 99 CM</td><td>32 IN — 81 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>37.5 IN — 95 CM</td><td>30 IN — 76 CM</td><td>40 IN — 101.5 CM</td><td>32 IN — 81 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>39 IN — 99 CM</td><td>31.5 IN — 80 CM</td><td>41.5 IN — 105.5 CM</td><td>32.5 IN — 82.5 CM</td></tr>
                    <tr><td>L</td><td>14</td><td>40.5 IN — 103 CM</td><td>33 IN — 84 CM</td><td>43 IN — 109 CM</td><td>33 IN — 84 CM</td></tr>
                    <tr><td>XL</td><td>16</td><td>42 IN — 107 CM</td><td>34.5 IN — 88 CM</td><td>44.5 IN — 113 CM</td><td>33.5 IN — 85 CM</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->

                <div class="divider divider--md"></div>
                <h4>OUTERWEAR — PETITE SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">NUMERIC SIZE (US)</th>
                    <th scope="col">BUST</th>
                    <th scope="col">NATURAL WAIST</th>
                    <th scope="col">HIP</th>
                    <th scope="col">ARM LENGTH</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>XXS</td><td>0</td><td>30.5 IN — 80 CM</td><td>23 IN — 61 CM</td><td>33.25 IN — 84.5 CM</td><td>27.75 IN — 70.5 CM</td></tr>
                    <tr><td>XS</td><td>0</td><td>31.5 IN — 82.5 CM</td><td>24 IN — 64 CM</td><td>34 IN — 86.25 CM</td><td>28.25 IN — 71.75 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>32.5 IN — 85 CM</td><td>25 IN — 66 CM</td><td>35 IN — 90 CM</td><td>28.75 IN — 73 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>33.5 IN — 87.5 CM</td><td>26 IN — 68.5 CM</td><td>36 IN — 91.5 CM</td><td>29 IN — 73.5 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>34.5 IN — 90 CM</td><td>27 IN — 71 CM</td><td>37 IN — 94 CM</td><td>29.25 IN — 74 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>35.5 IN — 92.5 CM</td><td>28 IN — 73.5 CM</td><td>38 IN — 96.5 CM</td><td>29.75 IN — 75.5 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>36.5 IN — 95 CM</td><td>29 IN — 76 CM</td><td>39 IN — 99 CM</td><td>30 IN — 76 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>38 IN — 99 CM</td><td>30.5 IN — 80 CM</td><td>40.5 IN — 103 CM</td><td>30.5 IN — 77.5 CM</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->


                <div class="divider divider--md"></div>
                <h4>OUTERWEAR — TALL SIZES</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">NUMERIC SIZE (US)</th>
                    <th scope="col">BUST</th>
                    <th scope="col">NATURAL WAIST</th>
                    <th scope="col">HIP</th>
                    <th scope="col">ARM LENGTH</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>XXS</td><td>0</td><td>31.5 IN — 80 CM</td><td>24 IN — 61 CM</td><td>34 IN — 86.25 CM</td><td>31.5 IN — 80 CM</td></tr>
                    <tr><td>XS</td><td>0</td><td>32.5 IN — 82.5 CM</td><td>25 IN — 64 CM</td><td>35 IN — 89 CM</td><td>31.75 IN — 80.5 CM</td></tr>
                    <tr><td>XS</td><td>2</td><td>33.5 IN — 85 CM</td><td>26 IN — 66 CM</td><td>36 IN — 91.5 CM</td><td>32.25 IN — 82 CM</td></tr>
                    <tr><td>S</td><td>4</td><td>34.5 IN — 87.5 CM</td><td>27 IN — 68.5 CM</td><td>37 IN — 94 CM</td><td>32.5 IN — 82.5 CM</td></tr>
                    <tr><td>S</td><td>6</td><td>35.5 IN — 90 CM</td><td>28 IN — 71 CM</td><td>38 IN — 96.5 CM</td><td>33 IN — 84 CM</td></tr>
                    <tr><td>M</td><td>8</td><td>36.5 IN — 92.5 CM</td><td>29 IN — 73.5 CM</td><td>39 IN — 99 CM</td><td>33.25 IN — 84.5 CM</td></tr>
                    <tr><td>M</td><td>10</td><td>37.5 IN — 95 CM</td><td>30 IN — 76 CM</td><td>40 IN — 101 CM</td><td>33.75 IN — 85.75 CM</td></tr>
                    <tr><td>L</td><td>12</td><td>39 IN — 99 CM</td><td>31.5 IN — 80 CM</td><td>41.5 IN — 104 CM</td><td>34 IN — 86.25 CM</td></tr>
                    <tr><td>L</td><td>14</td><td>40.5 IN — 103 CM</td><td>33 IN — 84 CM</td><td>43 IN — 109.25 CM</td><td>34.5 IN — 87.5 CM</td></tr>
                    <tr><td>XL</td><td>16</td><td>42 IN — 107 CM</td><td>34.5 IN — 88 CM</td><td>44.5 IN — 113 CM</td><td>34.75 IN — 88 CM</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->

        </div>

        </div>

        </div>


        <div role="tabpanel" class="tab-pane" id="GenSizeChartTab3">
        <ul class="nav nav-tabs nav-tabs--ys" role="tablist">

        <li class="active"><a aria-expanded="false" href="#BoysSizeChartTab1" role="tab" data-toggle="tab" class="text-uppercase">Top</a></li>
        <li><a aria-expanded="true" href="#BoysSizeChartTab2" role="tab" data-toggle="tab" class="text-uppercase">Bottom</a></li>
        <li><a aria-expanded="false" href="#BoysSizeChartTab3" role="tab" data-toggle="tab" class="text-uppercase">OUTERWEAR</a></li>



        </ul>






        <div class="tab-content tab-content--ys obs_gen_sizechart">


                <div role="tabpanel" class="tab-pane active" id="BoysSizeChartTab1">
                <h4>TOP — KNITS, TEES, SWEATERS & SHIRTS</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">AGE</th>
                    <th scope="col">HEIGHT</th>
                    <th scope="col">WEIGHT </th>
                    <th scope="col">WAIST</th>
                    <th scope="col">CHEST</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>19.75 IN — 50 CM</td></tr>
                    <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>21 IN — 53.5 CM</td></tr>
                    <tr><td>4 - 5</td><td>4 - 5</td><td>39 - 42 IN — 99 - 112 CM</td><td>34.5 - 46.5 IN — 16 - 21 CM</td><td>21 - 21.5 IN — 53.5 - 54.5 CM</td><td>22 - 23 IN — 56 - 58.5 CM</td></tr>
                    <tr><td>6 - 7</td><td> 6 - 7</td><td>44 - 49 IN — 112 - 124.5 CM</td><td>46.5 - 63.5 IN — 21 - 29 CM</td><td>22 - 22.5 IN — 56 - 57 CM</td><td>24 - 25.5 IN — 61 - 65 CM</td></tr>
                    <tr><td>8</td><td>8</td><td>49 - 51 IN — 124.5 - 129.5 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>27 IN — 68.5 CM</td></tr>
                    <tr><td>10</td><td>10</td><td>51 - 53 IN — 129.5 - 134.5 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>28 IN — 71 CM</td></tr>
                    <tr><td>12</td><td>12</td><td>53 - 57 IN — 134.5 - 145 CM</td><td>76 - 86 IN — 34.5 - 36.5 CM</td><td>25.5 IN — 65 CM</td><td>30 IN — 76 CM</td></tr>
                    <tr><td>14</td><td>14</td><td>57 - 63 IN — 145 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>25 - 27 IN — 63.5 - 68.5 CM</td><td>32 IN — 81 CM</td></tr>
                    <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 130 IN — 49 - 58 CM</td><td>26 - 28 IN — 66 - 71 CM</td><td>33 - 37 IN — 84 - 94 CM</td></tr>

                  </tbody>
                </table>
        </div><!-- Responsive Table -->


                </div>

        <div role="tabpanel" class="tab-pane" id="BoysSizeChartTab2">
                <h4>BOTTOM — BOXERS</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">NUMERIC SIZE</th>

                    </tr>
                  </thead>
                  <tbody>

                    <tr><td>S</td><td>2 - 3</td></tr>
                    <tr><td>M</td><td>4 - 5</td></tr>
                    <tr><td>L</td><td>6 - 7</td></tr>
                    <tr><td>XL</td><td>8 - 10</td></tr>
                    <tr><td>XXL</td><td>12 - 16</td></tr>


                  </tbody>
                </table>
        </div><!-- Responsive Table -->


                <div class="divider divider--md"></div>
                <h4>BOTTOM — PANTS, SHORTS, BOXERS & SWIM</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">AGE</th>
                    <th scope="col">HEIGHT</th>
                    <th scope="col">WEIGHT </th>
                    <th scope="col">WAIST</th>
                    <th scope="col">SEAT</th>
                    </tr>
                  </thead>
                  <tbody>

                    <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>21 IN — 53.5 CM</td></tr>
                    <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>22 IN — 56 CM</td></tr>
                    <tr><td>4</td><td>4</td><td>39 - 42 IN — 99 - 106 CM</td><td>34.5 - 39.5 IN — 16 - 18 CM</td><td>21 IN — 53.5 CM</td><td>23 IN — 58.5 CM</td></tr>
                    <tr><td>5</td><td>5</td><td>42 - 44 IN — 106 - 112 CM</td><td>39.5 - 46.5 IN — 18 - 21 CM</td><td>21.5 IN — 54.5 CM</td><td>24 IN — 61 CM</td></tr>
                    <tr><td>6</td><td>6</td><td>44 - 47 IN — 112 - 119.5 CM</td><td>46.5 - 54.5 IN — 21 - 25 CM</td><td>22 IN — 56 CM</td><td>25 IN — 63.5 CM</td></tr>
                    <tr><td>7</td><td>7</td><td>47 - 49 IN — 119.5 - 124.5 CM</td><td>54.5 - 63.5 IN — 25 - 29 CM</td><td>22.5 IN — 57 CM</td><td>26 IN — 66 CM</td></tr>
                    <tr><td>8</td><td>8</td><td>49 - 51 IN — 124.5 - 129.5 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>27 IN — 68.5 CM</td></tr>
                    <tr><td>10</td><td>10</td><td>51 - 53 IN — 129.5 - 134.5 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>28 IN — 71 CM</td></tr>
                    <tr><td>12</td><td>12</td><td>53 - 57 IN — 134.5 - 145 CM</td><td>76 - 86 IN — 34.5 - 36.5 CM</td><td>25.5 IN — 65 CM</td><td>30 IN — 76 CM</td></tr>
                    <tr><td>14</td><td>14</td><td>57 - 63 IN — 145 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>27 IN — 68.5 CM</td><td>33 IN — 84 CM</td></tr>
                    <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 130 IN — 49 - 58 CM</td><td>26.5 - 28 IN — 67 - 71 CM</td><td>34 - 36 IN — 86 - 91 CM</td></tr>


                  </tbody>
                </table>
        </div><!-- Responsive Table -->




        </div>

        <div role="tabpanel" class="tab-pane" id="BoysSizeChartTab3">
                <h4>OUTERWEAR — JACKETS & VESTS</h4>
                  <div class="divider divider--md"></div>
                <div class="table_responsive">
        <table class="table table-bordered table-striped">
                  <thead>
                    <tr>
                    <th scope="col">SIZE (US)</th>
                    <th scope="col">AGE</th>
                    <th scope="col">HEIGHT</th>
                    <th scope="col">WEIGHT </th>
                    <th scope="col">WAIST</th>
                    <th scope="col">CHEST</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>19.75 IN — 50 CM</td></tr>
                    <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>21 IN — 53.5 CM</td></tr>
                    <tr><td>4</td><td>4</td><td>39 - 42 IN — 99 - 106 CM</td><td>34.5 - 39.5 IN — 16 - 18 CM</td><td>21 IN — 53.5 CM</td><td>22 IN — 56 CM</td></tr>
                    <tr><td>5</td><td>5</td><td>42 - 44 IN — 106 - 112 CM</td><td>39.5 - 46.5 IN — 18 - 21 CM</td><td>21.5 IN — 54.5 CM</td><td>23 IN — 58.5 CM</td></tr>
                    <tr><td>6</td><td>6</td><td>44 - 47 IN — 112 - 119.5 CM</td><td>46.5 - 54.5 IN — 21 - 25 CM</td><td>22 IN — 56 CM</td><td>24 IN — 61 CM</td></tr>
                    <tr><td>7</td><td>7</td><td>47 - 49 IN — 119.5 - 124.5 CM</td><td>54.5 - 63.5 IN — 25 - 29 CM</td><td>22.5 IN — 57 CM</td><td>25.5 IN — 65 CM</td></tr>
                    <tr><td>8</td><td>8</td><td>49 - 51 IN — 124.5 - 129.5 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>27 IN — 68.5 CM</td></tr>
                    <tr><td>10</td><td>10</td><td>51 - 53 IN — 129.5 - 134.5 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>28 IN — 71 CM</td></tr>
                    <tr><td>12</td><td>12</td><td>53 - 57 IN — 134.5 - 145 CM</td><td>76 - 86 IN — 34.5 - 36.5 CM</td><td>25.5 IN — 65 CM</td><td>30 IN — 76 CM</td></tr>
                    <tr><td>14</td><td>14</td><td>57 - 63 IN — 145 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>25 - 27 IN — 63.5 - 68.5 CM</td><td>32 IN — 81 CM</td></tr>
                    <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 130 IN — 49 - 58 CM</td><td>26 - 28 IN — 66 - 71 CM</td><td>33 - 37 IN — 84 - 94 CM</td></tr>
                  </tbody>
                </table>
        </div><!-- Responsive Table -->
        </div>




        </div>

        </div>


        <div role="tabpanel" class="tab-pane" id="GenSizeChartTab4">
        <ul class="nav nav-tabs nav-tabs--ys" role="tablist">

<li class="active"><a aria-expanded="false" href="#GirlsSizeChartTab1" role="tab" data-toggle="tab" class="text-uppercase">Top</a></li>
<li><a aria-expanded="true" href="#GirlsSizeChartTab2" role="tab" data-toggle="tab" class="text-uppercase">Bottom</a></li>
<li><a aria-expanded="true" href="#GirlsSizeChartTab3" role="tab" data-toggle="tab" class="text-uppercase">Dresses</a></li>
<li><a aria-expanded="false" href="#GirlsSizeChartTab4" role="tab" data-toggle="tab" class="text-uppercase">Outerwear</a></li>
<li><a aria-expanded="false" href="#GirlsSizeChartTab5" role="tab" data-toggle="tab" class="text-uppercase">Swim</a></li>


</ul>






<div class="tab-content tab-content--ys obs_gen_sizechart">


        <div role="tabpanel" class="tab-pane active" id="GirlsSizeChartTab1">
        <h4>TOPS — SHIRTS</h4>
          <div class="divider divider--md"></div>
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
            <th scope="col">SIZE (US)</th>
            <th scope="col">AGE</th>
            <th scope="col">HEIGHT</th>
            <th scope="col">WEIGHT </th>
            <th scope="col">WAIST</th>
            <th scope="col">CHEST</th>
            </tr>
          </thead>
          <tbody>
            
            <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>19.75 IN — 50 CM</td></tr>
            <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>21 IN — 53.5 CM</td></tr>
            <tr><td>4</td><td>4</td><td>39 - 42 IN — 99 - 106 CM</td><td>34.5 - 39.5 IN — 16 - 18 CM</td><td>21 IN — 53.5 CM</td><td>22 IN — 56 CM</td></tr>
            <tr><td>5</td><td>5</td><td>42 - 45 IN — 106 - 114 CM</td><td>39.5 - 46.5 IN — 18 - 21 CM</td><td>21.5 IN — 54.5 CM</td><td>23 IN — 58.5 CM</td></tr>
            <tr><td>6</td><td>6</td><td>45 - 49 IN — 114 - 124.5 CM</td><td>46.5 - 54.5 IN — 21 - 25 CM</td><td>22 IN — 56 CM</td><td>24 IN — 61 CM</td></tr>
            <tr><td>7</td><td>7</td><td>49 - 52 IN — 124.5 - 132 CM</td><td>54.5 - 63.5 IN — 25 - 29 CM</td><td>22.5 IN — 57 CM</td><td>25.5 IN — 65 CM</td></tr>
            <tr><td>8</td><td>8</td><td>52 - 54 IN — 132 - 137 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>27 IN — 68.5 CM</td></tr>
            <tr><td>10</td><td>10</td><td>55 - 56 IN — 137 - 142 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>28.5 IN — 72.5 CM</td></tr>
            <tr><td>12</td><td>12</td><td>56 - 58 IN — 142 - 147.5 CM</td><td>76 - 80 IN — 34.5 - 36.5 CM</td><td>25 IN — 63.5 CM</td><td>30 IN — 76 CM</td></tr>
            <tr><td>14</td><td>14</td><td>58 - 63 IN — 147.5 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>25 - 27 IN — 63.5 - 68.5 CM</td><td>32 - 33 IN — 81 - 84 CM</td></tr>
            <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 125 IN — 49 - 58 CM</td><td>26 - 28.5 IN — 67 - 71 CM</td><td>33 - 36 IN — 84 - 94 CM</td></tr>

          </tbody>
        </table>
        </div><!-- Responsive Table -->

        <div class="divider divider--md"></div>
        
        <h4>TOPS — KNITS, TEES & SWEATERS</h4>
          <div class="divider divider--md"></div>
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
            <th scope="col">SIZE (US)</th>
            <th scope="col">AGE</th>
            <th scope="col">HEIGHT</th>
            <th scope="col">WEIGHT </th>
            <th scope="col">WAIST</th>
            <th scope="col">CHEST</th>
            </tr>
          </thead>
          <tbody>
            
            <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>19.75 IN — 50 CM</td></tr>
            <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>21 IN — 53.5 CM</td></tr>
            <tr><td>4 - 5</td><td>4 - 5</td><td>39 - 45 IN — 99 - 114 CM</td><td>34.5 - 46.5 IN — 16 - 21 CM</td><td>21 - 21.5 IN — 53.5 - 54.5 CM</td><td>22 - 23 IN — 56 - 58.5 CM</td></tr>
            <tr><td>6 - 7</td><td> 6 - 7</td><td>45 - 52 IN — 114 - 132 CM</td><td>46.5 - 63.5 IN — 21 - 29 CM</td><td>22 - 22.5 IN — 56 - 57 CM</td><td>24 - 25.5 IN — 61 - 65 CM</td></tr>
            <tr><td>8</td><td>8</td><td>52 - 54 IN — 132 - 137 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>27 IN — 68.5 CM</td></tr>
            <tr><td>10</td><td>10</td><td>55 - 56 IN — 137 - 142 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>28.5 IN — 72.5 CM</td></tr>
            <tr><td>12</td><td>12</td><td>56 - 58 IN — 142 - 147.5 CM</td><td>76 - 80 IN — 34.5 - 36.5 CM</td><td>25 IN — 63.5 CM</td><td>30 IN — 76 CM</td></tr>
            <tr><td>14</td><td>14</td><td>58 - 63 IN — 147.5 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>25 - 27 IN — 63.5 - 68.5 CM</td><td>32 - 33 IN — 81 - 84 CM</td></tr>
            <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 125 IN — 49 - 58 CM</td><td>26 - 28.5 IN — 67 - 71 CM</td><td>33 - 36 IN — 84 - 94 CM</td></tr>

          </tbody>
        </table>
        </div><!-- Responsive Table -->
        

        </div>

<div role="tabpanel" class="tab-pane" id="GirlsSizeChartTab2">
        <h4>BOTTOM — PANTS & SHORTS</h4>
          <div class="divider divider--md"></div>
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
            <th scope="col">SIZE (US)</th>
            <th scope="col">AGE</th>
            <th scope="col">HEIGHT</th>
            <th scope="col">WEIGHT </th>
            <th scope="col">WAIST</th>
            <th scope="col">SEAT</th>

            </tr>
          </thead>
          <tbody>

            <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>22 IN — 56 CM</td></tr>
            <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>22 IN — 56 CM</td></tr>
            <tr><td>4</td><td>4</td><td>39 - 42 IN — 99 - 106 CM</td><td>34.5 - 39.5 IN — 16 - 18 CM</td><td>21 IN — 53.5 CM</td><td>23 IN — 58.5 CM</td></tr>
            <tr><td>5</td><td>5</td><td>42 - 45 IN — 106 - 114 CM</td><td>39.5 - 46.5 IN — 18 - 21 CM</td><td>21.5 IN — 54.5 CM</td><td>24 IN — 61 CM</td></tr>
            <tr><td>6</td><td>6</td><td>45 - 49 IN — 114 - 124.5 CM</td><td>46.5 - 54.5 IN — 21 - 25 CM</td><td>22 IN — 56 CM</td><td>25.5 IN — 65 CM</td></tr>
            <tr><td>7</td><td>7</td><td>49 - 52 IN — 124.5 - 132 CM</td><td>54.5 - 63.5 IN — 25 - 29 CM</td><td>22.5 IN — 57 CM</td><td>27 IN — 68.5 CM</td></tr>
            <tr><td>8</td><td>8</td><td>52 - 54 IN — 132 - 137 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>28.5 IN — 72.5 CM</td></tr>
            <tr><td>10</td><td>10</td><td>55 - 56 IN — 137 - 142 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>30 IN — 76 CM</td></tr>
            <tr><td>12</td><td>12</td><td>56 - 58 IN — 142 - 147.5 CM</td><td>76 - 80 IN — 34.5 - 36.5 CM</td><td>25 IN — 63.5 CM</td><td>32 IN — 81 CM</td></tr>
            <tr><td>14</td><td>14</td><td>58 - 63 IN — 147.5 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>25 - 27 IN — 63.5 - 68.5 CM</td><td>34 - 35 IN — 86.5 - 89 CM</td></tr>
            <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 125 IN — 49 - 58 CM</td><td>26 - 28.5 IN — 67 - 71 CM</td><td>35 - 36.5 IN — 86 - 91 CM</td></tr>


          </tbody>
        </table>
        </div><!-- Responsive Table -->


        

        


</div>

<div role="tabpanel" class="tab-pane" id="GirlsSizeChartTab3">
        <h4>DRESSES</h4>
          <div class="divider divider--md"></div>
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
            <th scope="col">SIZE (US)</th>
            <th scope="col">AGE</th>
            <th scope="col">HEIGHT</th>
            <th scope="col">WEIGHT </th>
            <th scope="col">WAIST</th>
            <th scope="col">CHEST</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>19.75 IN — 50 CM</td></tr>
            <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>21 IN — 53.5 CM</td></tr>
            <tr><td>4</td><td>4</td><td>39 - 42 IN — 99 - 106 CM</td><td>34.5 - 39.5 IN — 16 - 18 CM</td><td>21 IN — 53.5 CM</td><td>22 IN — 56 CM</td></tr>
            <tr><td>5</td><td>5</td><td>42 - 45 IN — 106 - 114 CM</td><td>39.5 - 46.5 IN — 18 - 21 CM</td><td>21.5 IN — 54.5 CM</td><td>23 IN — 58.5 CM</td></tr>
            <tr><td>6</td><td>6</td><td>45 - 49 IN — 114 - 124.5 CM</td><td>46.5 - 54.5 IN — 21 - 25 CM</td><td>22 IN — 56 CM</td><td>24 IN — 61 CM</td></tr>
            <tr><td>7</td><td>7</td><td>49 - 52 IN — 124.5 - 132 CM</td><td>54.5 - 63.5 IN — 25 - 29 CM</td><td>22.5 IN — 57 CM</td><td>25.5 IN — 65 CM</td></tr>
            <tr><td>8</td><td>8</td><td>52 - 54 IN — 132 - 137 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>27 IN — 68.5 CM</td></tr>
            <tr><td>10</td><td>10</td><td>55 - 56 IN — 137 - 142 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>28.5 IN — 72.5 CM</td></tr>
            <tr><td>12</td><td>12</td><td>56 - 58 IN — 142 - 147.5 CM</td><td>76 - 80 IN — 34.5 - 36.5 CM</td><td>25 IN — 63.5 CM</td><td>30 IN — 76 CM</td></tr>
            <tr><td>14</td><td>14</td><td>58 - 63 IN — 147.5 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>25 - 27 IN — 63.5 - 68.5 CM</td><td>32 - 33 IN — 81 - 84 CM</td></tr>
            <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 125 IN — 49 - 58 CM</td><td>26 - 28.5 IN — 67 - 71 CM</td><td>33 - 36 IN — 84 - 94 CM</td></tr>
          </tbody>
        </table>
        </div><!-- Responsive Table -->
</div>



<div role="tabpanel" class="tab-pane" id="GirlsSizeChartTab4">
        <h4>OUTERWEAR — JACKETS</h4>
          <div class="divider divider--md"></div>
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
            <th scope="col">SIZE (US)</th>
            <th scope="col">AGE</th>
            <th scope="col">HEIGHT</th>
            <th scope="col">WEIGHT </th>
            <th scope="col">WAIST</th>
            <th scope="col">CHEST</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>19.75 IN — 50 CM</td></tr>
            <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>21 IN — 53.5 CM</td></tr>
            <tr><td>4 - 5</td><td>4 - 5</td><td>39 - 45 IN — 99 - 114 CM</td><td>34.5 - 46.5 IN — 16 - 21 CM</td><td>21 - 21.5 IN — 53.5 - 54.5 CM</td><td>22 - 23 IN — 56 - 58.5 CM</td></tr>
            <tr><td>6 - 7</td><td> 6 - 7</td><td>45 - 52 IN — 114 - 132 CM</td><td>46.5 - 63.5 IN — 21 - 29 CM</td><td>22 - 22.5 IN — 56 - 57 CM</td><td>24 - 25.5 IN — 61 - 65 CM</td></tr>
            <tr><td>8</td><td>8</td><td>52 - 54 IN — 132 - 137 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>27 IN — 68.5 CM</td></tr>
            <tr><td>10</td><td>10</td><td>55 - 56 IN — 137 - 142 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>28.5 IN — 72.5 CM</td></tr>
            <tr><td>12</td><td>12</td><td>56 - 58 IN — 142 - 147.5 CM</td><td>76 - 80 IN — 34.5 - 36.5 CM</td><td>25 IN — 63.5 CM</td><td>30 IN — 76 CM</td></tr>
            <tr><td>14</td><td>14</td><td>58 - 63 IN — 147.5 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>25 - 27 IN — 63.5 - 68.5 CM</td><td>32 - 33 IN — 81 - 84 CM</td></tr>
            <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 125 IN — 49 - 58 CM</td><td>26 - 28.5 IN — 67 - 71 CM</td><td>33 - 36 IN — 84 - 94 CM</td></tr>
          </tbody>
        </table>
        </div><!-- Responsive Table -->
</div>


<div role="tabpanel" class="tab-pane" id="GirlsSizeChartTab5">
        <h4>SWIM</h4>
          <div class="divider divider--md"></div>
        <div class="table_responsive">
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
            <th scope="col">SIZE (US)</th>
            <th scope="col">AGE</th>
            <th scope="col">HEIGHT</th>
            <th scope="col">WEIGHT </th>
            <th scope="col">WAIST</th>
            <th scope="col">CHEST</th>
            </tr>
          </thead>
          <tbody>
            <tr><td>2</td><td>2</td><td>33 - 36 IN — 84 - 91.5 CM</td><td>27.5 - 30.5 IN — 12.5 - 14 CM</td><td>20 IN — 51 CM</td><td>19.75 IN — 50 CM</td></tr>
            <tr><td>3</td><td>3</td><td>36 - 39 IN — 91.5 - 99 CM</td><td>30.5 - 34.5 IN — 14 - 16 CM</td><td>20.5 IN — 52 CM</td><td>21 IN — 53.5 CM</td></tr>
            <tr><td>4 - 5</td><td>4 - 5</td><td>39 - 45 IN — 99 - 114 CM</td><td>34.5 - 46.5 IN — 16 - 21 CM</td><td>21 - 21.5 IN — 53.5 - 54.5 CM</td><td>22 - 23 IN — 56 - 58.5 CM</td></tr>
            <tr><td>6 - 7</td><td> 6 - 7</td><td>45 - 52 IN — 114 - 132 CM</td><td>46.5 - 63.5 IN — 21 - 29 CM</td><td>22 - 22.5 IN — 56 - 57 CM</td><td>24 - 25.5 IN — 61 - 65 CM</td></tr>
            <tr><td>8</td><td>8</td><td>52 - 54 IN — 132 - 137 CM</td><td>63.5 - 70 IN — 29 - 32 CM</td><td>23 IN — 58.5 CM</td><td>27 IN — 68.5 CM</td></tr>
            <tr><td>10</td><td>10</td><td>55 - 56 IN — 137 - 142 CM</td><td>73 - 76 IN — 33 - 34.5 CM</td><td>24 IN — 61 CM</td><td>28.5 IN — 72.5 CM</td></tr>
            <tr><td>12</td><td>12</td><td>56 - 58 IN — 142 - 147.5 CM</td><td>76 - 80 IN — 34.5 - 36.5 CM</td><td>25 IN — 63.5 CM</td><td>30 IN — 76 CM</td></tr>
            <tr><td>14</td><td>14</td><td>58 - 63 IN — 147.5 - 160 CM</td><td>90 - 112 IN — 41 - 51 CM</td><td>25 - 27 IN — 63.5 - 68.5 CM</td><td>32 - 33 IN — 81 - 84 CM</td></tr>
            <tr><td>16</td><td>16</td><td>64 - 68 IN — 162 - 173 CM</td><td>110 - 125 IN — 49 - 58 CM</td><td>26 - 28.5 IN — 67 - 71 CM</td><td>33 - 36 IN — 84 - 94 CM</td></tr>
          </tbody>
        </table>
        </div><!-- Responsive Table -->
</div>


</div>

        </div>




    </div>
</div>
</div>

<section class="content">
   
  
  <div class="container">
    
    <div class="title-box">
          <h2 class="text-center text-uppercase title-under" style="font-weight: 600; color: rgb(0, 0, 0); font-size: 1.7em;" >Brand Specific Sizing Guide</h2>
    </div>
    
    
    <div class="jg_size_chart">
      <ul>
        <li><a href="/pages/100-sizing-chart" >100%</a></li>
        <li><a href="/pages/afx-sizing-chart" >AFX</a></li>
        <li><a href="/pages/agv-sizing-chart" >AGV</a></li>
        <li><a href="/pages/alpinestars-sizing-chart" >Alpinestars</a></li>
        <li><a href="/pages/altamont-sizing-chart" >Altamont</a></li>
        <li><a href="/pages/answer-racing-sizing-chart" >Answer Racing</a></li>
        <li><a href="/pages/arai-sizing-chart" >Arai</a></li>
        <li><a href="/pages/bell-helmets-sizing-chart" >Bell Helmets</a></li>
        <li><a href="/pages/billabong-sizing-chart" >Billabong</a></li>
        <li><a href="/pages/black-brand-sizing-chart" >Black Brand</a></li>
        <li><a href="/pages/cortech-sizing-chart" >Cortech</a></li>
        <li><a href="/pages/creature-sizing-chart" >Creature</a></li>
        <li><a href="/pages/crocs-sizing-chart" >Crocs</a></li>
        <li><a href="/pages/dc-sizing-chart" >DC Shoes</a></li>
        <li><a href="/pages/element-sizing-chart" >Element</a></li>
        <li><a href="/pages/emerica-sizing-chart" >Emerica</a></li>
        <li><a href="/pages/etnies-sizing-chart" >Etnies</a></li>
        <li><a href="/pages/fly-racing-sizing-chart" >Fly Racing</a></li>
        <li><a href="/pages/fox-racing-size-chart" >Fox Racing</a></li>
        <li><a href="/pages/gaerne-sizing-chart" >Gaerne</a></li>
        <li><a href="/pages/gmax-sizing-chart" >Gmax</a></li>
        <li><a href="/pages/hjc-helmets-sizing-chart" >HJC</a></li>
        <li><a href="/pages/icon-sizing-chart" >ICON</a></li>
        <li><a href="/pages/independent-sizing-chart" >INDEPENDENT</a></li>
        <li><a href="/pages/joe-rocket-sizing-chart" >Joe Rocket</a></li>
        <li><a href="/pages/klim-sizing-chart" >Klim</a></li>
        <li><a href="/pages/kr3w-sizing-chart" >Kr3w</a></li>
        <li><a href="/pages/leatt-sizing-chart" >Leatt</a></li>
        <li><a href="/pages/lrg-sizing-chart" >LRG</a></li>
        <li><a href="/pages/ls2-sizing-chart" >LS2</a></li>
        <li><a href="/pages/matix-sizing-chart" >Matix</a></li>
        <li><a href="/pages/metal-mulisha-sizing-chart" >Metal Mulisha</a></li>
        <li><a href="/pages/neff-sizing-chart" >Neff</a></li>
        <li><a href="/pages/oakley-sizing-chart" >Oakley</a></li>
        <li><a href="/pages/oneill-sizing-chart" >O'Neill</a></li>
        <li><a href="/pages/quiksilver-sizing-chart" >Quiksilver</a></li>       
        <li><a href="/pages/reef-sizing-chart" >Reef</a></li>
        <li><a href="/pages/roxy-sizing-chart" >Roxy</a></li>
        <li><a href="/pages/sanuk-sizing-chart" >Sanuk</a></li>
        <li><a href="/pages/saxx-sizing-chart" >Saxx</a></li>
        <li><a href="/pages/scorpion-sizing-chart" >Scorpion</a></li>
        <li><a href="/pages/shift-mx-sizing-chart" >Shift Racing</a></li>
        <li><a href="/pages/shoei-sizing-chart" >Shoei</a></li>
        <li><a href="/pages/speed-and-strength-sizing-chart" >Speed and Strength</a></li>
        <li><a href="/pages/supra-sizing-chart" >Supra</a></li>
        <li><a href="/pages/thor-mx-sizing-chart" >Thor MX</a></li>
        <li><a href="/pages/troy-lee-designs-sizing-chart" >Troy Lee Designs</a></li>
        <li><a href="/pages/tour-master-sizing-chart" >Tour Master</a></li>
        <li><a href="/pages/vonzipper-sizing-chart" >VonZipper</a></li>
      </ul>
    </div>
    
  </div>
  
  
</section>