<div class="container">
	<div class="nj_wishlist">
		<div class="nj_wishlist_label">
			<span class="text-center text-uppercase title-under">YOUR WISHLIST</span>
		</div>
      
        <div class="divider divider--sm"></div>
      
		<div class="nj_wishlist_empty" style="display: none;">
			<span>There are no items in your wish list.</span>
			<span>To add an item, browse for a product and choose heart icon (Add to Wish List).</span>
            <div class="divider divider--sm"></div>
          
            <center><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-wishlist-icon.jpg?15431332632319375219"></center>
          
			<a href="/">Return Home</a>
			<a href="/collections/whats-new">Shop Now</a>
		</div>
		<div class="nj_get_wishlist">
			<div>
				<span>NOTE: Your wish list is temporary to this session. It does not permanently save.</span>
			</div>
		</div>
	</div>
</div>