{{ 'moto_contact_form_styles.css' | asset_url | stylesheet_tag }}

<!-- <section class="content separator-section"><div class="container"><div class="moto_page_separator"></div></div></section> //-->
<div class="container moto_forms">
{% assign thispage = page.handle %}
{% if thispage == "contact-us" %}
	{% include "contact.form.contact-us" %}
{% elsif thispage == "submit-your-comments" %}
	{% include "contact.form.submit-your-comments" %}
{% elsif thispage == "warranty-request" %}
	{% include "contact.form.warranty-request" %}
{% elsif thispage == "domestic-shipping-quote-request" %}
	{% include "contact.form.domestic-shipping-quote-request" %}
{% endif %}
</div>
  
<!--  CONTACT QUESTION VERIFICATION  -->

<script type="text/javascript">
	jQuery(function($) {
	
	$j(".btn-top[type]").prop("disabled", true);
	
	$('#termsConditions').change(function() {
		if($(this).is(':checked')) {
			$j(".btn-top[type]").prop("disabled", false);
		}
		else {
			$j(".btn-top[type]").prop("disabled", true);
		}
	});
		var n1 = Math.round(Math.random() * 10 + 1);
		var n2 = Math.round(Math.random() * 10 + 1);
		$j("#njohn_contact_question").val(n1 + " + " + n2);
			$j("#contact_form").submit(function (e) {
			var question = $j("#njohn_contact_question").val();
			var answer = $j("#njohn_contact_answer").val();
				if (eval(question) != answer) {
					$j("#njohn_contact_answer").css('box-shadow', '0px 0px 7px red');
					e.preventDefault();
				}
			});
	});
</script>