{{ 'page.offroad-custom-styles.css'| asset_url | stylesheet_tag }}

<div class="collection-banner" style = "background-image:url('https://cdn.shopify.com/s/files/1/1223/6434/files/street-collection-040220.jpg?v=1585806313')">
  <div class = "collection-header-text">
    <h3 class = "center-block"><span class="background-box">Street Collection</span></h3>
  </div>
</div>

<div class = "col-lg-12 shop-by-category-text">
  <div class = "row">
    <h3 class = "center-block text-uppercase text-center">Shop By Category</h3>
  </div>
</div>
<div class = "divider divider--xs"></div>
<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class = "row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/street-helmets" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-helmets-040220.jpg?v=1585806430" alt="Street Helmets Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Street Helmets</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/street-vests" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-vest-040220.jpg?v=1585806429" alt="Street Body Armor Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Street Vests</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/street-jackets" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-jackets-040220.jpg?v=1585806429" alt="Street Jackets Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Street Jackets</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/street-gloves" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-gloves-040220.jpg?v=1585806429" alt="Street Gloves Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Street Gloves</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/street-pants" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-pants-040220.jpg?v=1585806429" alt="Street Pants Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Street Pants</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/street-boots" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-boots-040220.jpg?v=1585806427" alt="Street Boots Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Street Boots</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
<div class = "col-lg-12 shop-by-category-text">
  <div class = "row">
    <h3 class = "center-block text-uppercase text-center">Shop By Gender</h3>
  </div>
</div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class = "row">
        <a href="/collections/street-collection-for-mens" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-mens-040220.jpg?v=1585807973" alt="Street Mens Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Mens</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class = "row">
        <a href="/collections/street-womens-collection" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-womens-040220.jpg?v=1585807973" alt="Street Womens Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Womens</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class = "divider divider--xs"></div>
    
    {% assign collection_label = "FEATURED PRODUCTS" %}
{% assign collection_handle = "street-gear-hot-sale" %}
{% assign collection_length = 10 %}

{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}

<div class="container featured_products">
  
  <h2 class="text-uppercase product_single_line">
    <span class="moto_saletitle"><a href="/collections/offroad-sale">On Sale Now</a></span>
    <span class="moto_viewMoreBtn"><a href="/collections/offroad-sale"> View More <i class="simple-icon-arrow-right"></i></a></span>
  </h2>
  <div class="divider divider--lg"></div>
  
  <div class="product-listing row">
	{% for product in selected_collection limit: collection_length %}
	 <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
		{% include "njohn-product-grid-item" %}
	</div>
	{% endfor %}
  </div>
</div>

      <div class = "divider divider--xs"></div>
    
    {% include "home_brands"%}
    {% include "home-instagram"%}
    