 <!--  --------------------------------------------------------------------- START ----------------------------------------------------------------- -->
{%comment%}
<!--  ---------------- MOTO PARTS & ACCESSORIES SEARCH DATABASE ------------- -->
<!--  ---------------- Created By Christine Jane Kudera (April 01 2021) ------------- -->
<!--  ---------------- This is TEMPLATE (page.moto-parts-acc-search.liquid) ------------- -->
<!--  ---------------- Functions on this page are listed on SNIPPET (moto-parts-acc-search-functions.liquid) ------------- -->
{%endcomment%}
<style type="text/css">
  /*STYLE FOR THE TABLE TABS*/
  * {box-sizing: border-box}

    /* Set height of body and the document to 100% */
    body, html {
      height: 100%;
      margin: 0;
      font-family: Arial;
    }

    .tabManuMenu
    {
      width:100%;
    }

    .tabManuMenu h3
    {
      color:#000000!important;
      font-weight: bold;
    }

    .tabLinkCont
    {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    /* Style tab links */
    .tabLinkCont .tablink {
      background-color: #000000;
      color: white;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      font-size: 17px;
      width: 20%;
    }

    .tabLinkCont .tablink#defaultOpen 
    {
      background-color: red;
    }

    .tabLinkCont .tablink:hover {
      background-color: #777;
    }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
      color: white;
      display: none;
      margin:2% 0;
      width:100%;
      /*margin: 0 20%;*/
      text-align: center;
      height: 100%;
    }

    /*.tabcontent p a {
      color: #000000!important;
      text-decoration: none!important;
    }*/

    .tabcontent ul li {
      color: #000000!important;
      list-style-type: circle;
      text-align: left;
    }

    .tabcontent ul li a{
      color: #000000!important;
      text-decoration: none!important;
    }

    .tabcontent#Honda
    {
      display:block;
    }

    /*#Home {background-color: red;}
    #News {background-color: green;}
    #Contact {background-color: blue;}
    #About {background-color: orange;}*/
   /* END STYLE FOR THE TABLE TABS*/

  
  .title-under.motoPartsSect
  {
    color:#000000;
    padding-bottom:2%!important;
    margin-bottom:0!important;
  }

  /*.tableParts
  {
    table-layout: fixed;
  }

  .tableParts td
  {
    word-wrap:break-word;
  }*/
  /*ul.nav-tabs li.active
  {
    background-color:#000000!important;
    color:#ffffff!important;
    font-weight:bold;
  }*/


  .tableParts td a
  {
    text-decoration:none;
  }

   table.catTables, table.catTables tbody, table.catTables tbody tr, table.catTables tbody tr td 
   {
    border:none!important;
   }

	.motoModels
	{
		float: none;
	    padding: 0 2%!important;
	    width: 100%;
	    margin: 0 0;
	}

  
  .motoModels div
  {
    padding:1em;
  }


	.motoModels div a span.zoom-moto3
	{
		display: inline-block;
		margin-left: 5px;
	    margin-right: 5px;
	    /*width: 75%;*/
	    transition: transform .2s;
	    transition-property: transform;
	    transition-duration: 0.2s;
	    transition-timing-function: ease;
	    transition-delay: 0s;
	}

  .motoModels div.categFilterCont
  {
    margin:2% 0;
  }

  .motoModels div.categFilterCont a span.categFilter
  {
    color:#333333!important;
    font-weight:700!important;
    font-size:20px!important;
  }

  .motoModels div a span.motorcycle-brands
  {
    font-size:30px!important;
  }

	.motoModels div a span.zoom-moto3:hover
	{
		cursor:pointer!important;
		transform: scale(1.2);
		/*transform: scaleX(2);
		transform: scaleY(2);*/
	}

  .tabSections
  {
    margin:2% 0;
    display: flex;
  }

  #Honda h4
  {
    color:#df0021!important;
  }

  #Kawasaki h4
  {
    color:#ed1c24!important;
  }

  #Suzuki h4
  {
    color:#005aa9!important;
  }

  #Yamaha h4
  {
    color:#ff0202!important;
  }

  #Harley-Davidson h4
  {
    color:#ff6501!important;
  }

  .tabContentDIV
  {
    flex: 1;
    width:20%;
    border-radius:20px;
    padding:8px;
    margin:8px;
    /*border:1px solid #000000;*/
  }

  .tabContentDIV h4
  {
    font-size:20px;
    font-weight: bold;
  }

   .tabContentDIV ul li a:hover
   {
      text-decoration:underline!important;
   }

   .catTables tr td a:hover
   {
    color:#000000;
    text-decoration:underline!important;
   }

  @media (max-width: 500px) {
        .table tbody > tr > td.vert-align_td,
        .table tbody > tr > th.vert-align_th {
           white-space: normal;
        }

        .motoModels div.categFilterCont
          {
            margin:3em 0;
            width:40%;
          }

          .motoModels div.categFilterCont a span
          {
            line-height:18px;
          }

          .tablink {
            font-size: 14px;
            width: 50%;
          }

          .motoPartsSect
          {
            font-size:18px;
            font-weight:600;
          }

          .motoModels div a span.motorcycle-brands
            {
              font-size:20px!important;
            }

            /*.motoModels div
              {
                padding:0.4em;
              }*/

           .tabLinkCont
            {
              display: inline-block;
              align-items:none;
              justify-content: none;
            }   

            .tabSections
            {
              display: block;
              margin:0!important;
            }

            .tabContentDIV
            {
              width:100%;
              flex:none;
            }
    }
</style>
<script> 
           $(document).ready(function()
           {
                  

              $('.tabContentDIV ul').each(function() 
              {
                   if ($(this).children().length <= 0) 
                  {
                      $(this).parent('.tabContentDIV').remove();
                  }
              });


              
              // $('.tabContentDIV ul').css('display','none');

            });
</script>

<div class="container" style="margin-top: 10px;">
  <!-- script to set the Honda Model and Year List to active ON LOAD -->
  
  <script>
         var onceRemoved = 0;

      function openPage(pageName,elmnt,color) 
      {
          var i, tabcontent, tablinks, tabcontentID, defaultTabLink;

          tabcontent = document.getElementsByClassName("tabcontent");
          defaultTabLink = document.getElementById("defaultOpen");

          if(onceRemoved == 0)
          {
            defaultTabLink.removeAttribute('id');
            onceRemoved = 1;
          }
          // defaultTabLink.style.background = "none!important";


          // for Vehicle manufacturer names tables
          for (i = 0; i < tabcontent.length; i++) 
          {
            tabcontentID = tabcontent[i].id;

            if(tabcontentID != pageName)
            {
              tabcontent[i].style.display = "none";
            }
            else
            {
              tabcontent[i].style.display = "block";
            }
            
          }


          tablinks = document.getElementsByClassName("tablink");

          // for Vehicle manufacturer names NAVIGATION MENU
          for (i = 0; i < tablinks.length; i++) 
          {
              tablinks[i].style.backgroundColor = "";
          }

          // document.getElementById(pageName).style.display = "block";
          elmnt.style.backgroundColor = color;
        }

        // Get the element with id="defaultOpen" and click on it
        // document.getElementById("defaultOpen").click();

        // function generateArrayOfYears() 
        // {
        //   var max = new Date().getFullYear();
        //   var min = max - 91;
        //   var years = [];

        //   for (var i = max; i >= min; i--) 
        //   {
        //     years.push(i);
        //   }
        //   return years;
        // }

        // var years = generateArrayOfYears().toString();
        // document.getElementById('years').innerHTML = years;

  </script>

 <!--  --------------------------------------------------------------------- MOTO PARTS & ACCESSORIES SEARCH DATABASE INTRO ----------------------------------------------------------------- -->

  <h1 class="text-left title-under motoPartsSect">Motorcycle Parts &amp; Accessories</h1>
  <div class="visible-xs divider divider--md"></div>
  <p>Motorcycle parts help make up the whole sum of the motorbike. With the parts (engine, tires, sprockets, chains, wheels, handlebars, batteries, windshields, grips, dials, oils and many more accessories) the entire bike is made into a fast, fearless and flying motorcycle.</p>

  <p>The sum of the parts are greater than the whole. The single motorcycle is an amazing machine. Screw on, weld on, and put together all it's amazing components and you have a vehicle that's capable of zipping you through the air, going faster than any 4 wheel automobile.</p>

  <p>Replacement motorcycle parts is a common recurring issue. You must replace those old, worn out parts in order to keep your bike running like new. A defective part can cause serious injury to the rider. Keep your parts in good condition by following the manufacturer service guidelines. And if you ever need to replace that bike part, be sure to get a deal online at Motorhelmets.com.</p>

<!--  ------------------------------------------------------------------------- SEARCH BY VEHICLE MODEL & YEAR -------------------------------------------------------------------- -->

    {%comment%}
    <!-- If you want to add new collections in this section, please create that
         collection first (WITH PRODUCTS INSIDE IT) with the name format like this: 

              Manufacturer || Vehicle Name/Model || Year Manufactured || 'Parts'

              Example: Honda Africa Twin 2017 Parts 

          NOTE: Empty and non-existing collections WILL NOT be displayed. Also collections that doesn't follow the 
                above name format WILL NOT DISPLAY. -->
    {%endcomment%}

    {%comment%}<!-- The list of all manufacturers, models, years and functions are in here. Also add the new model in the array: -->{%endcomment%}
     {% include "moto-parts-acc-search-functions" %}

    <div class="divider divider--md"></div>
    <hr>

    <h1 class="text-left title-under motoPartsSect">Search By Vehicle Model &amp; Year</h1>
    <div class="visible-xs divider divider--md"></div>
    <div class="row tabManuMenu" style="color:black!important;">
       <div class="col-sm-12 col-md-12 col-lg-12 tabLinkCont">
            <button class="tablink" onclick="openPage('Honda', this, '#df0021')" id="defaultOpen">Honda</button>
            <button class="tablink" onclick="openPage('Kawasaki', this, '#ed1c24')" >Kawasaki</button>
            <button class="tablink" onclick="openPage('Suzuki', this, '#005aa9')">Suzuki</button>
            <button class="tablink" onclick="openPage('Yamaha', this, '#ff0202')">Yamaha</button>
            <button class="tablink" onclick="openPage('Harley-Davidson', this, '#ff6501')">Harley Davidson</button>
            <!-- <button class="tablink" onclick="openPage('Husaberg', this, '#a70008')">Husaberg</button>
            <button class="tablink" onclick="openPage('KTM', this, '#fc9704')">KTM</button>
            <button class="tablink" onclick="openPage('Husqvarna', this, '#003985')">Husqvarna</button>  -->
            
       </div>

       <div class="divider divider--xs"></div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div id="Honda" class="tabcontent">
          <!-- <h3><strong>Honda</strong></h3> -->
          <!-- <div class="row tabSections">
            <div class="search-outer visible-mobile-menu-off moto_plain_search " id="plain_search">
                <form id="search__form" action="/search" method="get" class="my_search_bar" style="position: relative;">
                  <div class="input-outer">
                        <input type="text" name="searchBar" placeholder="Search model..." maxlength="200" id="search" />
                        <button type="submit" title="" class="simple-icon simple-icon-magnifier"></button>
                  </div>
                </form>
            </div>
          </div> --><!--  end of row -->

          <div class="row tabSections">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1987</h4>
                  <ul> 
                  <li><a href="/collections/honda-cbr1000f-hurricane-1987-parts" target="_blank"> Honda CBR1000F Hurricane</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1994</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb1000-1994-parts" target="_blank"> Honda CB1000</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2002</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb600f-599-hornet-2002-parts" target="_blank"> Honda CB600F 599 Hornet</a></li>
                  <li><a href="/collections/honda-cb900f-919-2002-parts" target="_blank"> Honda CB900F 919</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2004</h4>
                  <ul> 
                  <li><a href="/collections/honda-cbr1000rr-2004-parts" target="_blank"> Honda CBR1000RR</a></li>
                </ul>
              </div>
          </div> <!-- end of row -->
              
          <div class="row tabSections">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2008</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb1000r-2008-parts" target="_blank"> Honda CB1000R</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2014</h4>
                  <ul> 
                  <li><a href="/collections/honda-cbr1000rr-abs-2014-parts" target="_blank"> Honda CBR1000RR ABS</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2015</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb300f-2015-parts" target="_blank"> Honda CB300F</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2016</h4>
                  <ul> 
                  <li><a href="/collections/honda-africa-twin-2016-parts" target="_blank"> Honda Africa Twin</a></li>
                  <li><a href="/collections/honda-cb500f-2016-parts" target="_blank"> Honda CB500F</a></li>
                </ul>
              </div>
          </div> <!-- end of row -->
             
          <div class="row tabSections">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2017</h4>
                  <ul> 
                  <li><a href="/collections/honda-africa-twin-2017-parts" target="_blank"> Honda Africa Twin</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2018</h4>
                  <ul> 
                  <li><a href="/collections/honda-africa-twin-2018-parts" target="_blank"> Honda Africa Twin</a></li>
                  <li><a href="/collections/honda-cbr1000rr-abs-2018-parts" target="_blank"> Honda CBR1000RR ABS</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2019</h4>
                  <ul> 
                  <li><a href="/collections/honda-africa-twin-2019-parts" target="_blank"> Honda Africa Twin</a></li>
                  <li><a href="/collections/honda-africa-twin-dct-2019-parts" target="_blank"> Honda Africa Twin DCT</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV"></div>
          </div> <!-- end of row -->
              
          
        </div> <!-- end of Honda -->

        <div id="Kawasaki" class="tabcontent">
          <!-- <h3><strong>Kawasaki</strong></h3> -->
          <div class="row tabSections">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                <h4 class="tabYear">1986</h4>
                  <ul> 
                  <li><a href="/collections/kawasaki-concours-zg1000-1986-parts" target="_blank"> Kawasaki Concours ZG1000</a></li>
                  <li><a href="/collections/kawasaki-ninja-1000r-1986-parts" target="_blank"> Kawasaki Ninja 1000R</a></li>
                  <li><a href="/collections/kawasaki-ninja-250r-1986-parts" target="_blank"> Kawasaki Ninja 250R</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1987</h4>
                  <ul> 
                  <li><a href="/collections/kawasaki-ex500-1987-parts" target="_blank"> Kawasaki EX500</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1988</h4>
                  <ul> 
                  <li><a href="/collections/kawasaki-el250-eliminator-1988-parts" target="_blank"> Kawasaki EL250 Eliminator</a></li>
                </ul>
              </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2000</h4>
                  <ul> 
                  <li><a href="/collections/kawasaki-vulcan-1500-classic-fi-vn1500-2000-parts" target="_blank"> Kawasaki Vulcan 1500 Classic FI VN1500</a></li>
                </ul>
              </div>
          </div> <!-- end of row -->
          <div class="row tabSections">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2001</h4>
                  <ul> 
                  <li><a href="/collections/kawasaki-vulcan-1500-classic-vn1500-2001-parts" target="_blank"> Kawasaki Vulcan 1500 Classic VN1500</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                <h4 class="tabYear">2008</h4>
                  <ul> 
                  <li><a href="/collections/kawasaki-klr650-2008-parts" target="_blank"> Kawasaki KLR650</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                <h4 class="tabYear">2013</h4>
                  <ul> 
                  <li><a href="/collections/kawasaki-ninja-300-2013-parts" target="_blank"> Kawasaki Ninja 300</a></li>
                  <li><a href="/collections/kawasaki-ninja-300-abs-2013-parts" target="_blank"> Kawasaki Ninja 300 ABS</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2018</h4>
                  <ul> 
                  <li><a href="/collections/kawasaki-ninja-400-2018-parts" target="_blank"> Kawasaki Ninja 400</a></li>
                </ul>
              </div>
          </div> <!-- end of row -->
        </div>

        <div id="Suzuki" class="tabcontent">
          <!-- <h3><strong>Suzuki</strong></h3> -->
          <div class="row tabSections">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1998</h4>
                  <ul> 
                  <li><a href="/collections/suzuki-gsx-r750-1998-parts" target="_blank"> Suzuki GSX-R750</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2000</h4>
                  <ul> 
                  <li><a href="/collections/suzuki-gsf600s-bandit-2000-parts" target="_blank"> Suzuki GSF600S Bandit</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2001</h4>
                  <ul> 
                  <li><a href="/collections/suzuki-gs500-2001-parts" target="_blank"> Suzuki GS500</a></li>
                  <li><a href="/collections/suzuki-gsf1200s-bandit-2001-parts" target="_blank"> Suzuki GSF1200S Bandit</a></li>
                  <li><a href="/collections/suzuki-gsx-r1000-2001-parts" target="_blank"> Suzuki GSX-R1000</a></li>
                  <li><a href="/collections/suzuki-gsx-r600-2001-parts" target="_blank"> Suzuki GSX-R600</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2003</h4>
                  <ul> 
                  <li><a href="/collections/suzuki-burgman-400-2003-parts" target="_blank"> Suzuki Burgman 400</a></li>
                  <li><a href="/collections/suzuki-burgman-650-2003-parts" target="_blank"> Suzuki Burgman 650</a></li>
                </ul>
              </div>
          </div> <!-- end of row -->
          <div class="row tabSections">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2004</h4>
                  <ul> 
                  <li><a href="/collections/suzuki-gsx-r600-2004-parts" target="_blank"> Suzuki GSX-R600</a></li>
                  <li><a href="/collections/suzuki-gsx-r750-2004-parts" target="_blank"> Suzuki GSX-R750</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                <h4 class="tabYear">2005</h4>
                  <ul> 
                  <li><a href="/collections/suzuki-c50t-boulevard-2005-parts" target="_blank"> Suzuki C50T Boulevard</a></li>
                  <li><a href="/collections/suzuki-gsx-r1000-2005-parts" target="_blank"> Suzuki GSX-R1000</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                <h4 class="tabYear">2011</h4>
                  <ul> 
                  <li><a href="/collections/suzuki-burgman-650-2011-parts" target="_blank"> Suzuki Burgman 650</a></li>
                  <li><a href="/collections/suzuki-gsx1250fa-2011-parts" target="_blank"> Suzuki GSX1250FA</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV"></div>
          </div> <!-- end of row -->
        </div>

        <div id="Yamaha" class="tabcontent">
          <!-- <h3><strong>Yamaha</strong></h3> -->
          <div class="row tabSections">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2001</h4>
                  <ul> 
                    <li><a href="/collections/yamaha-fz1-2001-parts" target="_blank"> Yamaha FZ1</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2003</h4>
                  <ul> 
                    <li><a href="/collections/yamaha-fjr1300-2003-parts" target="_blank"> Yamaha FJR1300</a></li>
                    <li><a href="/collections/yamaha-fjr1300a-abs-2003-parts" target="_blank"> Yamaha FJR1300A ABS</a></li>
                    <li><a href="/collections/yamaha-fjr1300ae-2003-parts" target="_blank"> Yamaha FJR1300AE</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2004</h4>
                  <ul> 
                    <li><a href="/collections/yamaha-fjr1300-2004-parts" target="_blank"> Yamaha FJR1300</a></li>
                    <li><a href="/collections/yamaha-fjr1300a-abs-2004-parts" target="_blank"> Yamaha FJR1300A ABS</a></li>
                    <li><a href="/collections/yamaha-fjr1300ae-2004-parts" target="_blank"> Yamaha FJR1300AE</a></li>
                    <li><a href="/collections/yamaha-fz6-2004-parts" target="_blank"> Yamaha FZ6</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2006</h4>
                  <ul> 
                    <li><a href="/collections/yamaha-fz1-2006-parts" target="_blank"> Yamaha FZ1</a></li>
                  </ul>
              </div>
          </div> <!-- end of row -->
          <div class="row tabSections">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                  <h4 class="tabYear">2009</h4>
                  <ul> 
                    <li><a href="/collections/yamaha-fz6r-2009-parts" target="_blank"> Yamaha FZ6R</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                  <h4 class="tabYear">2011</h4>
                  <ul> 
                    <li><a href="/collections/yamaha-fz8-2011-parts" target="_blank"> Yamaha FZ8</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2014</h4>
                  <ul> 
                    <li><a href="/collections/yamaha-bolt-r-spec-xvs950-2014-parts" target="_blank"> Yamaha Bolt R-Spec XVS950</a></li>
                    <li><a href="/collections/yamaha-bolt-xvs950-2014-parts" target="_blank"> Yamaha Bolt XVS950</a></li>
                    <li><a href="/collections/yamaha-fjr1300es-2014-parts" target="_blank"> Yamaha FJR1300ES</a></li>
                    <li><a href="/collections/yamaha-fz-09-2014-parts" target="_blank"> Yamaha FZ-09</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2015</h4>
                  <ul> 
                  <li><a href="/collections/yamaha-bolt-c-spec-xvs950-2015-parts" target="_blank"> Yamaha Bolt C-Spec XVS950</a></li>
                  <li><a href="/collections/yamaha-fz-07-2015-parts" target="_blank"> Yamaha FZ-07</a></li>
                </ul>
              </div>
          </div> <!-- end of row -->
        </div>

        <div id="Harley-Davidson" class="tabcontent">
          <!-- <h3><strong>Harley-Davidson</strong></h3> -->
          <div class="row tabSections">
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                  <h4 class="tabYear">1989</h4>
                    <ul> 
                    <li><a href="/collections/harley-davidson-low-glide-low-rider-fxrs-1989-parts" target="_blank"> Harley-Davidson Low Glide/Low Rider FXRS</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1994</h4>
                  <ul> 
                    <li><a href="/collections/harley-davidson-dyna-convertible-fxds-1994-parts" target="_blank"> Harley-Davidson Dyna Convertible FXDS</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                  <h4 class="tabYear">1999</h4>
                  <ul> 
                    <li><a href="/collections/harley-davidson-dyna-convertible-fxds-1999-parts" target="_blank"> Harley-Davidson Dyna Convertible FXDS</a></li>
                  </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                  <h4 class="tabYear">2009</h4>
                  <ul> 
                    <li><a href="/collections/harley-davidson-dyna-fat-bob-cvo-se-fxdfse-2009-parts" target="_blank"> Harley-Davidson Dyna Fat Bob CVO/SE FXDFSE</a></li>
                  </ul>
              </div>
          </div> <!-- end of row -->
        </div>

        <div id="Husaberg" class="tabcontent">
          <!-- <h3><strong>Husaberg</strong></h3> -->
          <div class="row tabSections">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1987</h4>
                  <ul> 
                  <li><a href="/collections/honda-cbr1000f-hurricane-1987-parts" target="_blank"> Honda CBR1000F Hurricane</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1994</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb1000-1994-parts" target="_blank"> Honda CB1000</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2002</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb600f-599-hornet-2002-parts" target="_blank"> Honda CB600F 599 Hornet</a></li>
                  <li><a href="/collections/honda-cb900f-919-2002-parts" target="_blank"> Honda CB900F 919</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV"></div>
          </div> <!-- end of row -->
        </div>

        <div id="KTM" class="tabcontent">
          <!-- <h3><strong>KTM</strong></h3> -->
          <div class="row tabSections">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1987</h4>
                  <ul> 
                  <li><a href="/collections/honda-cbr1000f-hurricane-1987-parts" target="_blank"> Honda CBR1000F Hurricane</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1994</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb1000-1994-parts" target="_blank"> Honda CB1000</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2002</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb600f-599-hornet-2002-parts" target="_blank"> Honda CB600F 599 Hornet</a></li>
                  <li><a href="/collections/honda-cb900f-919-2002-parts" target="_blank"> Honda CB900F 919</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV"></div>
          </div> <!-- end of row -->
        </div>

        <div id="Husqvarna" class="tabcontent">
          <!-- <h3><strong>Husqvarna</strong></h3> -->
          <div class="row tabSections">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1987</h4>
                  <ul> 
                  <li><a href="/collections/honda-cbr1000f-hurricane-1987-parts" target="_blank"> Honda CBR1000F Hurricane</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">1994</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb1000-1994-parts" target="_blank"> Honda CB1000</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV">
                 <h4 class="tabYear">2002</h4>
                  <ul> 
                  <li><a href="/collections/honda-cb600f-599-hornet-2002-parts" target="_blank"> Honda CB600F 599 Hornet</a></li>
                  <li><a href="/collections/honda-cb900f-919-2002-parts" target="_blank"> Honda CB900F 919</a></li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 tabContentDIV"></div>
          </div> <!-- end of row -->
        </div>

      </div> <!-- end of col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 -->

    </div> <!-- end of tabManuMenu -->

<!--  ------------------------------------------------------------------------- SEARCH BY MANUFACTURER -------------------------------------------------------------------- -->

    <div class="divider divider--md"></div>
    <hr>
    <div class="divider divider--md"></div>

    <h1 class="text-left title-under motoPartsSect">Search By Vehicle Manufacturer</h1>
    <div class="visible-xs divider divider--md"></div>
    <div class="row motoModels">
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
          <a href="https://motorhelmets.com/collections/honda-parts"><span class="text-center motorcycle-brands zoom-moto3" style="color: #df0021" title="Shop Honda Parts" alt="Shop Honda Parts">HONDA</span></a>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
          <a href="https://motorhelmets.com/collections/kawasaki-parts"><span class="text-center motorcycle-brands zoom-moto3" style="color: #ed1c24" title="Shop Kawasaki Parts" alt="Shop Kawasaki Parts">KAWASAKI</span></a>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
          <a href="https://motorhelmets.com/collections/suzuki-parts"><span class="text-center motorcycle-brands zoom-moto3" style="color: #005aa9" title="Shop Suzuki Parts" alt="Shop Suzuki Parts">SUZUKI</span></a>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
          <a href="https://motorhelmets.com/collections/yamaha-parts"><span class="text-center motorcycle-brands zoom-moto3" style="color: #ff0202" title="Shop Yamaha Parts" alt="Shop Yamaha Parts">YAMAHA</span></a>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
          <a href="https://motorhelmets.com/collections/harley-davidson-parts"><span class="text-center motorcycle-brands zoom-moto3" style="color: #ff6501" title="Shop Harley Davidson Parts" alt="Shop Harley Davidson Parts">HARLEY DAVIDSON</span></a>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
          <a href="https://motorhelmets.com/collections/husaberg-parts"><span class="text-center motorcycle-brands zoom-moto3" style="color: #a70008" title="Shop Husaberg Parts" alt="Shop Husaberg Parts">HUSABERG</span></a>
        </div>
    </div> <!-- end of row -->
    <div class="row motoModels">
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
          <a href="https://motorhelmets.com/collections/ktm-parts"><span class="text-center motorcycle-brands zoom-moto3" style="color: #fc9704" title="Shop KTM Parts" alt="Shop KTM Parts">KTM</span></a>
        </div>
        <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 col-xl-2 text-center">
          <a href="https://motorhelmets.com/collections/husqvarna-parts"><span class="text-center motorcycle-brands zoom-moto3" style="color: #003985" title="Shop Husqvarna Parts" alt="Shop Husqvarna Parts">HUSQVARNA</span></a>
        </div>
    </div> <!-- end of row -->

    <!-- end of row SEARCH BY MANUFACTURER -->

    <!--  ------------------------------------------------------------------------- SEARCH BY BRAND -------------------------------------------------------------------- -->

    <div class="divider divider--md"></div>
    <hr>
    <div class="divider divider--md"></div>

    <h1 class="text-left title-under motoPartsSect">Search By Brand</h1>
    <div class="visible-xs divider divider--lg"></div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
          <div class="brand-holder col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/motion-pro"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/Motion-Pro-parts-logo.webp?v=1616390702" class="img-responsive center-block" alt="Shop Motion Pro Parts" title="Shop Motion Pro Parts" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/ndc"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/NDC-parts-logo.webp?v=1616390702" class="img-responsive center-block" alt="Shop NDC Parts" title="Shop NDC Parts" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/odi"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/ODI-parts-logo.webp?v=1616390703" class="img-responsive center-block" alt="Shop ODI Parts" title="Shop ODI Parts" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/pivot-pegz"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/Pivot-Pegz-parts-logo.webp?v=1616390702" class="img-responsive center-block" alt="Shop Pivot Pegz Parts" title="Shop Pivot Pegz Parts" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/ricks"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/Ricks-parts-logo.webp?v=1616390702" class="img-responsive center-block" alt="Shop Ricks Parts" title="Shop Ricks Parts" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/vance-and-hines"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/Vance-and-Hines-parts-logo.webp?v=1616390702" class="img-responsive center-block" alt="Shop Vance & Hines Parts" title="Shop Vance & Hines Parts" style="width:100%;"></a>
                </div>
        </div><!--  end of brand holder -->
          <div class="brand-holder col-lg-12 col-md-12 col-xl-12 col-sm-12 col-xs-12">
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/dunlop"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/dunlop-new-logo.jpg?v=1614038838" class="img-responsive center-block" alt="Shop Dunlop Tires" title="Shop Dunlop Tires" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/michelin"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/michelin-new-logo.jpg?v=1614039098" class="img-responsive center-block" alt="Shop Michelin Tires" title="Shop Michelin Tires" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/pirelli"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/pirelli-new-logo.jpg?v=1614039098" class="img-responsive center-block" alt="Shop Pirelli Tires" title="Shop Pirelli Tires" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/shinko"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shinko-new-logo.jpg?v=1614038838" class="img-responsive center-block" alt="Shop Shinko Tires" title="Shop Shinko Tires" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/maxxis"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/maxxis-new-logo.jpg?v=1614039411" class="img-responsive center-block" alt="Shop Maxxis Tires" title="Shop Maxxis Tires" style="width:100%;"></a>
                </div>
                <div class="logo-holder col-lg-2 col-xl-2 xol-md-2 col-sm-2 col-xs-6">
                  <a href="/collections/bridgestone"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/Bridgestone-tires-logo.webp?v=1616391769" class="img-responsive center-block" alt="Shop Bridgestone Tires" title="Shop Bridgestone Tires" style="width:100%;"></a>
                </div>
        </div><!--  end of brand holder -->
    </div>
    </div>

<!--  ------------------------------------------------------------------------- SEARCH BY CATEGORY -------------------------------------------------------------------- -->

  <hr>

  <h1 class="text-left title-under motoPartsSect">Search By Categories</h1>
  <div class="visible-xs divider divider--lg"></div>
  <div class="hidden-xs row" style="overflow-x:auto;">
    <table class="table table-borderless text-center catTables" style="width:100%;margin:0 auto;padding:0;text-align: center;" celpadding="0" cellspacing="0">
      <tbody>
        <tr >
          <td><a href="/collections/accessories-electric-apparel-controllers-and-miscellaneous"><span class="text-center categFilter zoom-moto3" title="Electric Controllers" alt="Electric Controllers">Electric Controllers</span></a></td>
          <td><a href="https://motorhelmets.com/collections/footpegs"><span class="text-center categFilter zoom-moto3" title="Footpegs" alt="Footpegs">Footpegs</span></a></td>
          <td><a href="/collections/accessories-handlebar"><span class="text-center categFilter zoom-moto3" title="Handlebars" alt="Handlebars">Handlebars</span></a></td>
          <td><a href="/collections/accessories-motorcycle-cable"><span class="text-center categFilter zoom-moto3" title="Motorcycle Cables" alt="Motorcycle Cables">Motorcycle Cables</span></a></td>
          <td><a href="/collections/accessories-motorcycle-cover"><span class="text-center categFilter zoom-moto3" title="Motorcycle Covers" alt="Motorcycle Covers">Motorcycle Covers</span></a></td>
          <td><a href="/collections/accessories-motorcycle-fuel-line"><span class="text-center categFilter zoom-moto3" title="Fuel Lines" alt="Fuel Lines">Fuel Lines</span></a></td>
        </tr>
        <tr >
          <td><a href="/collections/accessories-motorcycle-lever"><span class="text-center categFilter zoom-moto3" title="Motorcycle Levers" alt="Motorcycle Levers">Motorcycle Levers</span></a></td>
          <td><a href="/collections/accessories-motorcycle-vent-hose"><span class="text-center categFilter zoom-moto3" title="Vent Hoses" alt="Vent Hoses">Vent Hoses</span></a></td>
          <td><a href="/collections/spotlights"><span class="text-center categFilter zoom-moto3" title="Spotlights" alt="Spotlights">Spotlights</span></a></td>
          <td><a href="/collections/accessories-tires"><span class="text-center categFilter zoom-moto3" title="Motorcycle Tires" alt="Motorcycle Tires">Motorcycle Tires</span></a></td>
          <td><a href="/collections/battery-charger"><span class="text-center categFilter zoom-moto3" title="Battery Chargers" alt="Battery Chargers">Battery Chargers</span></a></td>
          <td><a href="/collections/accessories-hand-grips"><span class="text-center categFilter zoom-moto3" title="Motorcycle Hand Grips" alt="Motorcycle Hand Grips">Motorcycle Hand Grips</span></a></td>
        </tr>
        <tr >
          <td><a href="/collections/hardware"><span class="text-center categFilter zoom-moto3" title="Motorcycle Tools" alt="Motorcycle Tools">Motorcycle Tools</span></a></td>
          <td><a href="/collections/motorcycle-luggages"><span class="text-center categFilter zoom-moto3" title="Motorcycle Luggages" alt="Motorcycle Luggages">Motorcycle Luggages</span></a></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- end of row -->
  <div class="visible-xs row" style="overflow-x:auto;">
    <table class="table table-borderless text-left catTables" style="width:100%;margin:0 auto;padding:0 1em;text-align: left;" celpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td><a href="/collections/accessories-electric-apparel-controllers-and-miscellaneous"><span class="text-center categFilter zoom-moto3" title="Electric Controllers" alt="Electric Controllers">Electric Controllers</span></a></td>
          <td><a href="https://motorhelmets.com/collections/footpegs"><span class="text-center categFilter zoom-moto3" title="Footpegs" alt="Footpegs">Footpegs</span></a></td>
        </tr>
        <tr>
          <td><a href="/collections/accessories-handlebar"><span class="text-center categFilter zoom-moto3" title="Handlebars" alt="Handlebars">Handlebars</span></a></td>
          <td><a href="/collections/accessories-motorcycle-cable"><span class="text-center categFilter zoom-moto3" title="Motorcycle Cables" alt="Motorcycle Cables">Motorcycle Cables</span></a></td>
        </tr>
        <tr>
           <td><a href="/collections/accessories-motorcycle-cover"><span class="text-center categFilter zoom-moto3" title="Motorcycle Covers" alt="Motorcycle Covers">Motorcycle Covers</span></a></td>
          <td><a href="/collections/accessories-motorcycle-fuel-line"><span class="text-center categFilter zoom-moto3" title="Fuel Lines" alt="Fuel Lines">Fuel Lines</span></a></td>
        </tr>
        <tr >
          <td><a href="/collections/accessories-motorcycle-lever"><span class="text-center categFilter zoom-moto3" title="Motorcycle Levers" alt="Motorcycle Levers">Motorcycle Levers</span></a></td>
          <td><a href="/collections/accessories-motorcycle-vent-hose"><span class="text-center categFilter zoom-moto3" title="Vent Hoses" alt="Vent Hoses">Vent Hoses</span></a></td>
        </tr>
        <tr>
          <td><a href="/collections/spotlights"><span class="text-center categFilter zoom-moto3" title="Spotlights" alt="Spotlights">Spotlights</span></a></td>
          <td><a href="/collections/accessories-tires"><span class="text-center categFilter zoom-moto3" title="Motorcycle Tires" alt="Motorcycle Tires">Motorcycle Tires</span></a></td>
        </tr>
        <tr>
          <td><a href="/collections/battery-charger"><span class="text-center categFilter zoom-moto3" title="Battery Chargers" alt="Battery Chargers">Battery Chargers</span></a></td>
          <td><a href="/collections/accessories-hand-grips"><span class="text-center categFilter zoom-moto3" title="Motorcycle Hand Grips" alt="Motorcycle Hand Grips">Motorcycle Hand Grips</span></a></td>
        </tr>
        <tr >
          <td><a href="/collections/hardware"><span class="text-center categFilter zoom-moto3" title="Motorcycle Tools" alt="Motorcycle Tools">Motorcycle Tools</span></a></td>
          <td><a href="/collections/motorcycle-luggages"><span class="text-center categFilter zoom-moto3" title="Motorcycle Luggages" alt="Motorcycle Luggages">Motorcycle Luggages</span></a></td>
        </tr>
      </tbody>
    </table>
  </div> <!-- end of row -->




<!--  ---------------------------------------------------------------- MOTO PARTS & ACCESSORIES NEW ARRIVALS SECTION -------------------------------------------------------------- -->


<div class="divider divider--md"></div>

</div>

<div class="divider divider--xs"></div>
<!-- PRODUCT NEW ARRIVALS VARIABLES -->
{% assign collection_label = "NEW ARRIVALS MOTO PARTS" %}
{% assign collection_handle = "motorcycle-vehicle-parts-accessories" %}
{% assign collection_length = 10 %}
{% assign counter = 0 %}
{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}
<!-- /PRODUCT NEW ARRIVALS VARIABLES -->

<div class="container featured_products">
  
  <h2 class="text-uppercase product_single_line">
    <span class="moto_saletitle"><a href="/collections/motorcycle-vehicle-parts-accessories">Moto Parts & Accessories New Arrivals</a></span>
    <span class="moto_viewMoreBtn"><a href="/collections/motorcycle-vehicle-parts-accessories"> View More <i class="simple-icon-arrow-right"></i></a></span>
  </h2>
  <div class="divider divider--lg"></div>
  
  <div class="product-listing row">
    {% for product in selected_collection %}
    {% if counter ==  collection_length %}
    {% break %}
    {% endif %}
    {%if product.available and counter != 10%}
    {% assign counter = counter | plus:1%}
    <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
      {% include "njohn-product-grid-item" %}
    </div>    
    {%endif%}
    {% endfor %}
  </div>
</div>

<div class="divider divider--xl-9"></div>
<div class="divider divider--xl-9"></div>





