{{ 'moto-store-wall-styles.css' | asset_url | stylesheet_tag }}

{{ 'page.wall.brands.fixed.nav.style.css' | asset_url | stylesheet_tag }}

{% assign thispage = page.handle %}	
{% assign logo = "logo" %}
{% assign header = "header" %}
{% assign slider = "slider" %}
{% assign collection = "collection" %}
{% assign more_info = "more_info" %}
{% assign lookbooks = "lookbooks" %}
{% assign brand_sizing_guide = "brand_sizing_guide" %}
{% assign brand_story = "brand_story" %}
{% assign moreinfo = "moreinfo" %}

{% if thispage == "oakley-store-wall" %}
{% assign brand_page = "page.oakley-store-wall" %}
{% assign items_name = "oakley" %}
{% assign gear_collections = "oakley"%}
{% assign collection_link = "oakley" %}

{% elsif thispage == "troy-lee-designs-store-wall" %}
{% assign brand_page = "page.troy-lee-designs-store-wall" %}
{% assign items_name = "troy-lee-designs" %}
{% assign gear_collections = "troy-lee-designs-mx-gear"%}
{% assign collection_link = "troy-lee-designs" %}

{% elsif thispage == "fox-racing-store-wall" %}
{% assign brand_page = "page.fox-racing-store-wall" %}
{% assign items_name = "fox-racing" %}
{% assign gear_collections = "fox-racing-off-road"%}
{% assign collection_link = "fox-racing" %}

{% elsif thispage == "bell-store-wall" %}
{% assign brand_page = "page.bell-store-wall" %}
{% assign items_name = "bell" %}
{% assign gear_collections = "bell-helmets-gear"%}
{% assign collection_link = "bell" %}

{% elsif thispage == "hjc-store-wall" %}
{% assign brand_page = "page.hjc-store-wall" %}
{% assign items_name = "hjc" %}
{% assign gear_collections = "hjc"%}
{% assign collection_link = "hjc" %}

{% elsif thispage == "scorpion-store-wall" %}
{% assign brand_page = "page.scorpion-store-wall" %}
{% assign items_name = "scorpion" %}
{% assign gear_collections = "scorpion-gears"%}
{% assign items_name_sale = "scorpion-sales" %}
{% assign collection_link = "scorpion" %}
{% assign collection_link_sale = "scorpion-sales" %}

{% elsif thispage == "shoei-store-wall" %}
{% assign brand_page = "page.shoei-store-wall" %}
{% assign items_name = "shoei" %}
{% assign gear_collections = "shoei"%}
{% assign collection_link = "shoei" %}

{% elsif thispage == "alpinestars-store-wall" %}
{% assign brand_page = "page.alpinestars-store-wall" %}
{% assign items_name = "alpinestars" %}
{% assign gear_collections = "alpinestars-gear"%}
{% assign collection_link = "alpinestars" %}

{% elsif thispage == "shift-racing-store-wall" %}
{% assign brand_page = "page.shift-racing-store-wall" %}
{% assign items_name = "shift-racing" %}
{% assign gear_collections = "shift-racing-gears"%}
{% assign collection_link = "shift-racing" %}

{% elsif thispage == "arai-store-wall" %}
{% assign brand_page = "page.arai-store-wall" %}
{% assign items_name = "arai" %}
{% assign gear_collections = "arai"%}
{% assign collection_link = "arai" %}

{% elsif thispage == "icon-store-wall" %}
{% assign brand_page = "page.icon-store-wall" %}
{% assign items_name = "icon" %}
{% assign gear_collections = "icon"%}
{% assign collection_link = "icon" %}

{% elsif thispage == "klim-store-wall" %}
{% assign brand_page = "page.klim-store-wall" %}
{% assign items_name = "klim" %}
{% assign gear_collections = "klim-motorcycle-gears"%}
{% assign collection_link = "klim" %}

{% elsif thispage == "thor-mx-store-wall" %}
{% assign brand_page = "page.thor-mx-store-wall" %}
{% assign items_name = "thor-mx" %}
{% assign gear_collections = "thor-mx-motorcycle-gears"%}
{% assign collection_link = "thor-mx" %}

{% elsif thispage == "fly-racing-store-wall" %}
{% assign brand_page = "page.fly-racing-store-wall" %}
{% assign items_name = "fly-racing" %}
{% assign gear_collections = "fly-racing-motorcycle-gears"%}
{% assign collection_link = "fly-racing" %}

{% elsif thispage == "ls2-store-wall" %}
{% assign brand_page = "page.ls2-store-wall" %}
{% assign items_name = "ls2" %}
{% assign gear_collections = "ls2-motorcycle-gears"%}
{% assign collection_link = "ls2" %}

{% elsif thispage == "leatt-store-wall" %}
{% assign brand_page = "page.leatt-store-wall" %}
{% assign items_name = "leatt" %}
{% assign gear_collections = "leatt-motorcycle-gears"%}
{% assign collection_link = "leatt" %}

{% elsif thispage == "answer-racing-store-wall" %}
{% assign brand_page = "page.answer-racing-store-wall" %}
{% assign items_name = "answer-racing" %}
{% assign gear_collections = "answer-racing-motorcycle-gears"%}
{% assign collection_link = "answer-racing" %}

{% elsif thispage == "seven-mx-store-wall" %}
{% assign brand_page = "page.seven-mx-store-wall" %}
{% assign items_name = "seven" %}
{% assign gear_collections = "seven-motorcycle-gears"%}
{% assign collection_link = "seven" %}

{% elsif thispage == "sena-store-wall" %}
{% assign brand_page = "page.sena-store-wall" %}
{% assign items_name = "sena" %}
{% assign gear_collections = "sena-motorcycle-gears"%}
{% assign collection_link = "sena" %}

{% elsif thispage == "speed-and-strength-store-wall" %}
{% assign brand_page = "page.speed-and-strength-store-wall" %}
{% assign items_name = "speed-and-strength" %}
{% assign gear_collections = "speed-and-strength-motorcycle-gears"%}
{% assign collection_link = "speed-and-strength" %}

{% endif %}
<style>
.nj_wishlist_row_list_divider{
 display:none!important; 
}
</style>
<script>

      (function() {
        // Initialize
        var bLazy = new Blazy();
      })();
    
</script>
<div class="back-to-top" style="display: block; opacity: 1;"><span class="icon-keyboard_arrow_up"></span></div>
<div class="col-sm-12 col-md-12 col-lg-12">
  <div class ="row">
  	{% include brand_page condition: logo %}
  </div>
</div>
<div class="container-fluid moto_store_wall_all brand-walls">

  <section class="container" id="top">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        {% include brand_page condition: header %}
      </div>
    </div>
  </section>

  <section class="container" id="collections">
    <div class="row">
      <div class ="col-sm-12"><h2 class = "section-titles">COLLECTIONS</h2></div>
      <div class="divider divider--lg hidden-xs hidden-sm"></div>
      {% include brand_page condition: collection %}

    </div>

  </section>

  <div class="divider divider--lg"></div>
  <section class="container" id="new-arrivals">
    <hr class ="faded-hr">
    <h2 class ="section-titles">NEW ARRIVALS</h2>
    <div class="col-lg-12 col-xl-12">
      <!-- title -->
      {% assign items_title = "NEW ARRIVALS" %}
      {% assign items_counts = "20" %}
      {% assign items_access = true %}
      {% include "home-product-grid" title: items_title name_collection: items_name length: items_counts access: items_access name_collection_2: gear_collections  %}

		<div class="divider divider--xl"></div>
      <div class="text-center"><a href="/collections/{{ collection_link }}" class="btn btn--ys btn--xl obs_show_more_btn">Shop &nbsp;all</a></div>
        <div class="divider divider--xl"></div>
        <div class="divider divider--xl"></div>
    </div>
  </section>




 {% unless thispage == "seven-mx-store-wall"  %}
  <section class="container" id="lookbooks">

   

          <div class ="col-sm-12">
            <hr class ="faded-hr">
            <h2 class = "section-titles-lookbook">LOOKBOOKS</h2><div class="pull-right" style = "padding-right:50px;">
            <a class ="hidden-xs" href="/blogs/lookbook/tagged/{{items_name}}"><span >VIEW ALL <i class ="simple-icon-arrow-right"></i></span></a>
            </div>
          </div>
          <div class="divider divider--lg"></div>

          {% include brand_page condition: lookbooks %}
  


    <div class="divider divider--lg"></div>
  </section>
  {% endunless %}
  
  <section class="container" id="more_info">
    <div class ="col-sm-12">
      <div class ="row">
        <hr class ="faded-hr">
        <!--         <h2 class = "section-titles" ></h2> -->
        {% include brand_page condition: more_info %}
      </div>
    </div>
    <div class="divider divider--lg"></div>
  </section>
  
  <section class="container" id="sizing-guide">
    <div class="col-md-12 cd-section">
      <div class ="row">
      <hr class ="faded-hr">
      <h2 class = "section-titles">SIZING GUIDE</h2>
      <div class="divider divider--lg"></div>
      <div class="col-md-12">
        
        {% include brand_page condition: brand_sizing_guide %}
        
      </div>
    </div>
    </div>
  </section>
</div>



<script>
  jQuery(function($) {

    // SMOOTH SCROLL MENU
    $j('a[scrollthis*="#"]:not([scrollthis="#"])').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
        var target = $j(this.hash);
        target = target.length ? target : $j('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $j('html, body').animate({
            scrollTop: target.offset().top - 250
          }, 1000);
          return false;
        }
      }
    });


    // LOOKBOOK SLIDER
    $j('.obs_lookbook_banner_slider').slick({
      prevArrow: ('.carousel-products__button .btn-prev'),
      nextArrow: ('.carousel-products__button .btn-next'),
      infinite: false,
      dots: false,
      slidesToShow: 2,
      slidesToScroll: 1,
      responsive: [{
        breakpoint: 1770,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },{
        breakpoint: 1199,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      },{
        breakpoint: 768,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 1
        }
      }, 
                   {
                     breakpoint: 480,
                     settings: {
                       slidesToShow: 1,
                       slidesToScroll: 1
                     }
                   }]
    });


    //  Wall Banner Grid Slider in Mobile
    $j('.fox_wall_grid_banner_slider').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 6,
      slidesToScroll: 6,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });

    $j('.wall_grid_banner_slider-5-items').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 5,
      slidesToScroll: 5,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
    $j('.wall_grid_banner_slider-4-items').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 4,
      slidesToScroll: 4,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });
    $j('.wall_grid_banner_slider-3-items').slick({
      dots: false,
      infinite: false,
      speed: 300,
      slidesToShow: 3,
      slidesToScroll: 3,
      responsive: [
        {
          breakpoint: 1024,
          settings: {
            slidesToShow: 3,
            slidesToScroll: 3,
            infinite: true,
            dots: true
          }
        },
        {
          breakpoint: 600,
          settings: {
            slidesToShow: 2,
            slidesToScroll: 2
          }
        },
        {
          breakpoint: 480,
          settings: {
            slidesToShow: 1,
            slidesToScroll: 1
          }
        }
        // You can unslick at a given breakpoint now by adding:
        // settings: "unslick"
        // instead of a settings object
      ]
    });





    // See More Brand Description Button

    $j('#wall_seemore_desc').click(function () {
      // 	$j('.wall-brand-desc-content').toggleClass("wall-brand-desc-content-add");

      if ($j('.wall-brand-desc-content').height() == 100)
      {
        $j('.wall-brand-desc-content').animate({height: '100%'});
      }
      else
      {
        $j('.wall-brand-desc-content').animate({height: '100px'});
      }
      $(this).text(function(i, v){
        return v === 'Read More..' ? 'Hide' : 'Read More..';
      });


    });



    // Hide Back To Top
//     if(window.location.href.indexOf("store-wall") > -1) {
//       $j('.back-to-top').addClass('back-to-top-remove');
//       $j('.back-to-top-remove').removeClass('back-to-top');
//       $j('.back-to-top-remove').css('display','none');
//     }


  });


</script>



<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<script>
  jQuery(function($) {
    $j('[nj="zero"]').tooltip(); 

  });
</script>
<script>
  jQuery(function($) {
    var rowinfoHeight = 72; //.row-info height + paddingtop + paddingbottom
    if ($j('.row-info').height() > rowinfoHeight){
      $j('.row-info').css('height', rowinfoHeight+'px');
      $j('.row-info .bi-content-hide').css('opacity', '0');
      $j('.row-info .bi-content-hide').css('display', 'none');
    } else {
      $j('.row-info bi-content-hide').css('opacity', '1');
      //         $j('.row-info .bi-content-hide').css('display', 'block');
    }


    $j('.bi-row-title').click(function () {
      if ($j(this).parent().outerHeight() == rowinfoHeight){

        $j(this).parent().animate({height: '100%'}, 500);
        $j(this).parent().find('.bi-content-hide').css('opacity', '1');
        $j(this).parent().find('.bi-content-hide').show();
        $j(this).parent().find('.bi-row-title i').text('keyboard_arrow_down');

      } else {

        $j(this).parent().animate({height: rowinfoHeight+'px'}, 500);
        $j(this).parent().find('.bi-content-hide').css('opacity', '0');
        $j(this).parent().find('.bi-content-hide').hide(1000);
        $j(this).parent().find('.bi-row-title i').text('keyboard_arrow_right');

      }

      //         $(this).text(function(i, v){
      //           return v === 'Read More..' ? 'Hide' : 'Read More..';
      //         });
    });

    $j('#oakley_tab a').click(function (e) {
      e.preventDefault();
      $j(this).tab('show');
    });
    $('#oakley_tab a:first').tab('show');
  });
</script>

{{ 'page.wall.brands.fixed.nav.js' | asset_url | script_tag }}