{{ 'tld-manual.css' | asset_url | stylesheet_tag }}
 <section class="breadcrumbs">
      	 <div class="container breadcrumbs-no-line">
         <ol class="cd-breadcrumb triangle pull-left">
           <li><a href="/"><i class="simple-icon simple-icon-home"></i></a></li>
           <li><a href="/pages/troy-lee-designs-store-wall"><span>Troy Lee Designs</span></a></li>
            <li class ="current"><a href="/pages/troy-lee-designs-se4-helmet-manual"><span>SE-4 Helmet Manual</span></a></li>
           </ol>
   </div>
</section>

<div class="container">
  <img class = "img-responsive" src= "https://cdn.shopify.com/s/files/1/1223/6434/files/tld-se-4mainbanner-min.jpg?5686964846089712551">


     

    <div class = "col-sm-12 col-md-12 col-lg-12">
      <div class ="row">
        <hr class ="faded-hr">
      <p class ="page-info-description">Our all new premier motocross SE4 Carbon Helmet comes with MIPS, incorporating brain rotational protection with 13% more EPS (Expanded Polystyrene) for ultimate head safety.

        This featherweight helmet comes in at only 1325 grams, creating the lightest helmet TLD has ever produced. This helmet comes with 6 top intakes feeding 10 internal ports for maximum cool air induction, couple that with 6 exhaust ports that are fed by 9 internal passages to provide excellent dissipation of heat and you've got one protective, lightweight, super-ventilated helmet.</p>

        <div class ="col-sm-12 col-md-6 col-lg-6">
           <h3 class ="text-danger">WARNING</h3>
          <ol class ="features-3" start = "1">
            <li>No helmet can protect the wearer against all impacts or injuries, nor is it possible to predict if a helmet will protect you in any given accident. Head protection is complicated and is beyond the scope of this manual. The function of the helmet is to reduce the chance or severity of a head injury in an accident. The helmet will not protect the parts of your head that are not covered and will not protect your neck or spine from injury. It will not proct you against head injuries that are not caused by impacts, such as shaking or vibration. For maximum head protection, the helmet must be of a proper fit and theretention system [straps] must be securely fastened under the chin. Failure to ensure a proper fit and securely fasten the helmet is dangerous as the helmet could come off or slip into an improper postion in an accident resulting in severe head or neck injury or death.</li>
            <li>A helmet, like all products, may wear out over time depending upon its use and the amount of care that it is given. Please check your helmet every time before use for damage and do not use a damaged helmet. Snell and Troy Lee Designs recommend retiring a helmet after FIVE (5) years from purchase even if there is no visible damage or defect. Of crouse with hard or frequent use this time may be reduced. Even with minimal use, a helmet is affected by things like the acids and oils in sweat, hair care products, pollution, exposure to UV rays, corrosive dirt or mud, being tossed around, etc. Of course, if your helmet becomes less than snug in fit, or damaged, it should be replaced before the five year. Replacing your helmet every 5 years allows you to take advantage of advances in helmet design and construction.</li>
            <img class ="img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.SE-4_Impact-min.jpg?13579130428075778528">
            <li><img class ="img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.SE-4_Impact-min.jpg?13579130428075778528" style= "margin:5px 0px 5px 10px; float:right; width:55%">Helmets are designed to absorb <strong>ONE</strong> impact. After your helmet has been involved in one impact you must destroy it and replace it. Your helmet is designed to distribute the localized force of an impact over a larger area on the helmet. Even if your helmet looks undamaged its useful life is finished after one impact and will no longer provide protection in an accident. WIth a sufficient impact, the helmet's impact absorbing liner (EPS or "expanded polystyrene") becomes compacted. Once this has happened, the helmet no longer has the abilityy to absorb further impacts and protect your head. If you have any doubts for example, if you drop your helmet or if it is hit by something and you are not sure if the impact was sufficient to damage the helmet contact Troy Lee Designs before you use the helmet again. Illustration depicts damage to the inner EPS liner after an impact that may not be visible to the eye.</li>
          </ol> 

        </div>

        <div class ="col-sm-12 col-md-6 col-lg-6">
          <h3>GENERAL WARNINGS/SAFETY RECOMMENDATIONS</h3>
          <div class ="divider divider--md visible-xs"></div>
          <ol class ="features-3" start = "1">
            <li>Never modify your helmet. It is very dangerous to drill holes or cut the shell and/or the shock absoroption liner. Modifications can seriously weaken the helmet. Modifying the retention system weakens it, and may render the helmet useless in an accident. Removing parts such asthe mouth guard or rubber face rim can expose edges, which may injure you in an accident. Never sand or paint the outside of the helmets. Always use approved Troy Lee Designs parts when replacing visors, screws, pads or any other parts. A weakened helmet will not provide head protection.</li>
            <li> always check your helmet before use. Check your visor screws and tighten if necessary. Check for cracks in the helmet. If you find cracks or dmage, stop using the helmet <strong>immediately</strong>. Plastic components may start to wear out before 5 years from purchase. If you find deterioration in any part of a component, either replace that component or get a new helmet. If these parts come loose and/or fall off while you're riding, your vision may be blocked resulting in serious personal injury or death. Check the security of the retention system and always make sure that the comfort liner and the cheek pads are attached before you use the helmet.
            <li>Do not purchase used helmets or any used parts for the helmet. Do not sell your helmet.</li>
            <li>Do not wear anything between helmet and head.</li>
            <li>Never allow others to use your helmet and do not use someone else's helmet.</li>
            <li>Helmet may reduce hearing. Be aware of your environment.</li>
            <li>Ride responsibly and do not take extra risks just because you are wearing a helmet.</li>
            <li>Do not hang or hook your helmet on anything. It may cause damage to helmet reducing the effectiveness of helmet's protection.</li>
            <li>Do not drop your helmet on a hard surface. Doing so could permanently damage it. If unsure if you have damaged the helmet contact Troy Lee Designs</li>
            <li>Never mount any rigid objects to the inside or outisde of your helmet other than those sold by Troy Lee Designs. This can weaken the helmet or cause injuries to you in an accident, by increasing the force on the helmet or the object could become a projectile.</li>
          </ol> 

        </div>

        <div class ="divider divider--md"></div>
        <hr class="faded-hr">
        <div class = "col-sm-12 col-md-6 col-lg-6">
          <span class ="title-holder">
            <h3>FOLLOW THESE 10 STEPS TO ENSURE A PROPER FIT</h3>
          </span>
          <div class ="divider divider--md visible-xs"></div>
           <div class ="divider divider--lg visible-xs"></div>
          
          <ol class ="features-3" start ="1">
            <li>Fasten the chinstrap as tight as possible without causing you pain, restricting your ability to talk, or limiting your ability to open your mouth or swallow freely.
              There must be no slack in the strap and it must be tight against your neck.</li>
            <li>Check whether the helmet inner lining fits snugly all around your head.</li>
            <li>Check whether the top pad presses closely on the top of your head.</li>
            <li>Check whether the cheek pads are in contact with your cheeks.</li>
            <li>Check to make sure there is no space around your brow under the lining where you can insert your fingers.</li>
            <li>With the chin strap secured, put your hands flat on the back of the helmet and try and push the helmet off by rotating it forward.</li>
            <li><img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_helmet-fit-a-min.jpg?12888954646654668222" style= "margin:5px 0px 5px 10px; float:right; width:55%">Next, put your hands on the front of the helmet above your forehead (or on the chin guard) and try to push the helmet off by rotating it toward the rear. (See Figure. A)</li>
            <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_helmet-fit-a-min.jpg?12888954646654668222" style= "width:100%">
            <li>If the helmet starts to come off in either the forward or rearward direction, do not use the helmet. Either the helmet is too large for you, or the chinstrap is not tightened enough.</li>
            <li><img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_helmet-fit-B-min.jpg?12888954646654668222" style= "margin:5px 0px 5px 10px; float:right; width:55%">Now, take hold of the helmet with a hand on each side. Without moving your head, try to move the helmet up and down and side to side. You should feel the skin of your head and face being pulled as you try to move the helmet. (See Fig. B)</li>
            <img class = "img-responsive  hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_helmet-fit-B-min.jpg?12888954646654668222" style= "width:100%">
            <li>If you can move the helmet around easily, it is too big. Try a smaller size.</li>
			 <div class ="divider divider--md"></div>
            <h5 class = "text-danger">IF YOU HAVE QUESTIONS ABOUT THE FIT PLEASE ASK YOUR TROY LEE DESIGNS RETAILER FOR ASSITANCE. REPEAT ALL THE ABOVE STEPS UNTIL YOU HAVE A PROPER FIT AND THE HELMET IS SECURELY FASTENED.</h5>
          </ol>
        </div>
        <div class = "col-sm-12 col-md-6 col-lg-6">
          <span class ="title-holder">
            <h3>SIZING AND FIT</h3>
          </span>
          <div class ="divider divider--md visible-xs" ></div>
          <h5>DETERMINING THE BEST SIZE</h5>
          <ol class ="features-3" start ="1">
            <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_measurement-min.jpg?6210934986609319117" style= "width:100%">
            <li><img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_measurement-min.jpg?6210934986609319117" style= "margin:5px 0px 5px 10px; float:right; width:35%">Measure your head size. Wrap a tape measure horizontally around your head at a height of about one inch (2.5cm) above your eyebrows and even with the tops of your hears to obtain largest measurement.</li>
            <li>Using the size chart below, select the helmet that is closest to your head size, i.e. "Large" helmet is best for head sizes(hat) 7&frac14; to 7&frac38;; (CM) 58-59; (Inches) 22 &frac78; - 23 &frac14;. The chart is just a guid to give you an idea of head/helmet sizing, it is not a substitute for trying the helmet on and using the steps below.</li>    
          </ol>
          <h5>TRYING THE HELMET ON</h5>
          <ol class ="features-3" start ="3">
            <li>Firmly grip chin straps and expand the helmet opening by pulling the straps outward and then slide the helmet onto your head. Pull the chin straps only, not the chin strap covers. Pulling the covers may tear them. If the helmet is not tight, it is too big for you. Even if you feel it is difficult to put it on, please use the smallest helmet possible. You should feel a snug fit.</li>
          </ol>

          <div class="table_responsive" style="overflow: auto;">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th colspan="7"><center>SPEED EQUIPMENT-3 HELMET SUGGESTED SIZING CHART</center></th>

                </tr>
              </thead>
              <tbody>
                <tr>
                  <td></td>
                  <td>XS</td>
                  <td>S</td>
                  <td>M</td>
                  <td>L</td>
                  <td>XL</td>
                  <td>XXL</td>

                </tr>
                <tr>
                  <td>HAT</td>
                  <td>6&frac34; - 6&frac78;</td>
                  <td>6&frac78; - 7</td>
                  <td>7&frac18; - 7&frac14;</td>
                  <td>7&frac14; - 7&frac38;</td>
                  <td>7&frac12; - 7&frac58;</td>
                  <td>7&frac34; - 7&frac78;</td>
                </tr>
                <tr>
                  <td>CM</td>
                  <td>54-55</td>
                  <td>55-56</td>
                  <td>57-58</td>
                  <td>58-59</td>
                  <td>60-61</td>
                  <td>62-63</td>
                </tr>
                <tr>
                  <td>Inches</td>
                  <td>21.3-21.7</td>
                  <td>21.7-22</td>
                  <td>22.4-22.8</td>
                  <td>22.8-23.2</td>
                  <td>23.6-24</td>
                  <td>24.4-24.8</td>
                </tr>
              </tbody>
            </table>
          </div>
          <span class ="title-holder">
            <h3>VISION AND EYE PROTECTION</h3>
          </span>
          <div class ="divider divider--md"></div>
          <ol class ="features-3" start ="1">
            <li>Always check for adequate vision, especially your
              peripheral vision.
              For example, when helmets are used'in
              conjunction with goggles or other eye coverings,
              vision restrictions can occur. Make sure for street
              use your motorcycle or off road vehicle is equipped
              with left and right mirrors, and use them for peripheral vision ana to enhance your forward vision of
              traffic and other riding hazards. It is the responsibility of each user to insure that he or she can see
              adequately with the helmet on prior to using it.
              Never use a helmet or eye protection that
              restricts your vision and inhibits your ability to
              safely operate your vehicle. Failure to use proper
              eye protection can cause an accident and result
              in serious injury or death.</li>
          </ol>
          <h4>ALWAYS WEAR GOGGLES WHILE RIDING</h4>
          <ol class ="features-3" start ="2">
            <li>
              All Troy Lee Designs helmets are designed for
              use with eye protection. If eye protection is not
              provided with the helmet, it is your responsibility
              to obtain eye protection and use it. Tinted face
              shields, goggles, or other forms of eye protection
              should not be used at night or under other
              conditions of poor visibility. Lenses damaged by
              scratches (or dirty lenses) will reduce visibility,
              especially at nignt or in low light or bright
              conditions and should be replaced. Petroleum
              products and other solvents may impair the
              optical properties and reduce the mechanical
              strength of shields and goggles.</li>

          </ol>


        </div>


      </div>
    </div>
    <div class ="divider divider--md"></div>
    <hr class="faded-hr">
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder visible-xs">
        <h3>USING YOUR CHIN STRAPS</h3>
      </span>
      <div class ="divider divider--md visible-xs"></div>
      <ol class ="features-3" start ="1">
        <li>
          Tightening the chin strap correctly is extremely important. If your chin strap
          is loose, the shock of an impact may knock your helmet off, leaving your
          head completely unprotected. Do not use a helmet that can be rolled off
          the head with the chin strap fastened, since it may come off in an accident,
          resulting in death or serious personal injuries. Do not use a chin cup or wear
          the strap on the end of the chin. If the chin strap is not in the proper position
          (well under your chin next to your throat) or used properly, the helmet may
          come off in an accident, resulting in death or serious personal injuries.</li>
        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-a-min.jpg?15922359409738992290" style= "width:100%">
        <li style ="margin-top:30px;">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-a-min.jpg?15922359409738992290" style= "margin:5px 0px 5px 10px; float:right; width:25%">To securely fasten the D ring retention system, thread the end of the chin
          strap through the D rings only as shown in figure (A) and pull it tight
          against your throat figure (B).</li>

        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-b-min.jpg?15922359409738992290" style= "width:100%">
        <li class = "chin-list">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-b-min.jpg?15922359409738992290" style= "margin:5px 0px 5px 10px; float:right; width:25%">Spread rings apart and loop strap back through gap and under first ring as
          shown in figure (B) Again pull strap tight on neck that tension is snug against
          throat but not to restrict breathing.</li>
        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-c-min.jpg?15922359409738992290" style= "width:100%">
        <li class = "chin-list">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-c-min.jpg?15922359409738992290" style= "margin:5px 0px 5px 10px; float:right; width:25%">Fasten the chin strap end snap on the D ring side as shown in figure (C)
          to secure the loose end of the chin strap with the red snap after completion
          of step one.</li>
        <li> During use occasionally make sure that the strap does not come loose while
          you ride.</li>
      </ol>
    </div>
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder visible-xs">
        <h3>VISOR ADJUSTMENT, REMOVAL AND REPLACEMENT</h3>
      </span>
      <div class ="divider divider--md visible-xs"></div>
      <div class ="divider divider--lg visible-xs"></div>
      <p  style = "margin-top:30px;"><b style ="color:red">WARNING:</b> Visor can fracture under impact or in an accident.
        Do not use a helmet with a broken visor. Always
        wear eye protection. Only use a TLD approved visor
        and visor hardware on your helmet</p>    
      <h4>REMOVAL:</h4>
      <ol class ="features-3" start ="1">

        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_visor-instruction-min.jpg?9721464266433271230" style= "width:100%">
        <li style ="margin-top:30px;">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_visor-instruction-min.jpg?9721464266433271230" style= "margin:5px 0px 5px 10px; float:right; width:55%">To securely fasten the D ring retention system, thread the end of the chin
          strap through the D rings only as shown in figure (A) and pull it tight
          against your throat figure (B).</li>
      </ol>
      <h4>INSTALLATION:</h4>
      <ol class ="features-3" start = "1">
        <li>Before installation of visor, make sure threads
          in helmet are in good condition and clear of any
          debris</li>
        <li>Position visor and install center screw first then
          position and install side screws with washers one at
          a time in the inserts on the either side of the helmet.
          Take care not to cross thread screws or over tighten
          because this permanent damage to the helmet is
          not covered by warranty. Tighten all screws hand
          tight.</li>
        <li>Check and tighten screws regularly and as needed before you ride.</li>

      </ol>
    </div>
    <div class ="divider divider--md"></div>
    <hr class = "faded-hr">
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder visible-xs">
        <h3>INTERIOR COMPONENTS</h3>
      </span>
      <div class ="divider divider--md"></div>
      <p style="margin-top:30px;line-height:30px;"><b style = "color:red">WARNING:</b>Do not use any pads that are not specifically designed for this SE4 helmet and sold by Troy Lee Designs. Aftermarket pads/lliners (or original equipment pads that are worn out) may not fit properly (or be too thick or too thin) causing vision obstruction or helmet slippage which could result in severe injury or death. Do not use any kind of solvent such as contact cleaner, thinner or gasoline. Do not use any Comfort Liner parts that are broken or damaged.<br> Padded lining, cheek pads (right &amp; left) and strap covers (right &amp; left) can be removed for cleaning. All Comfort Lining parts can be hand washed with mild soap such as dishwashing liquid and cold water. Pat dry with towel and then air-dry in shade before reinstalling.</p>
      <img class ="img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.se-4_cheekpads-min.jpg?11090955799299507294">
 		<div class ="divider divider--md"></div>

      <span class ="title-holder">
        <h3>LINER &amp; CHEEK PADS</h3>
      </span>
      <div class ="divider divider--md visible-xs"></div>
      <h4>REMOVAL OF CHEEK PADS:</h4>
      <ul class ="features-3" style ="list-style:none;">
        <li><img class ="img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.se-4_cheekpads-b-min.jpg?11090955799299507294" style = "margin: 5px 0px 5px 10px; float:right; width:55%">Cheek pads are attached by use of three (3) emergency quick release snaps. To release pull downward and forward at a slight angle on emergency pull tab at front of cheek pad until snaps disengage. See Fig B.</li>
        <img class ="img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.se-4_cheekpads-b-min.jpg?11090955799299507294" style = "width:100%">
        <li><img class ="img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.se-4_cheekpads-c-min.jpg?11090955799299507294" style = "margin: 5px 0px 5px 10px; float:right; width:55%">For reinstallation take great care to properly align barb end of cheekpad backing with smaller hole receptacle on chinbar liner. Insert one snap at a time and apply pressure until you hear a click. Continue with other 2 locations to make sure cheekpad is properly secure. See Fig. C</li>
      <img class ="img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.se-4_cheekpads-c-min.jpg?11090955799299507294" style = "width:100%">
      </ul>
      <h4>REMOVAL AND INSTALLATION OF STRAP COVERS:</h4>
      <ul class ="features-3" style ="list-style:none;">
        <img class ="img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.se-4_cheekpads-d-min.jpg?11090955799299507294" style = "width:100%">
        <li><img class ="img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/tld.se-4_cheekpads-d-min.jpg?11090955799299507294" style = "margin: 5px 0px 5px 10px; float:right; width:55%">Strap Covers are held in place by usage of a single snap located on the bottom side of strap near the base of the cover inside the helmet. See Fig.A</li>
        <li>Cheek Pads must first be removed to get access to the snap.</li>
        <li>With helmet bottom side up, reach through eye port and place index finger behind snap.</li>
        <li>Lift and pull strap towards you</li>
        <li>When reinstalling carefully align snap then press until you hear a click/</li>
      </ul>
      <h4>REMOVAL AND INSTALLATION OF HEAD LINING:</h4>
      <ul class ="features-3" style ="list-style:none;">
        <li>Head lining is attached by use of four(4) snaps at rear and front sides of interior. See Fig.D</li>
        <li>To remove: Pull at each snap location, inward until snaps disengage.</li>
        <li>To install: Place liner inside helmet and line up all four (4) snaps Firmly press on each snap separately until you hear a click. Take care to line up male snap with female snap hole before pressing.</li>
      </ul>
    </div>

    <div class ="col-sm-12 col-md-6 col-lg-6">

      <span class ="title-holder">
        <h3>CARE</h3>
      </span>
      <ul class ="features-3" style = "list-style:none; margin-left:0px; padding-left:0px;">
        <li>Helmets are energy absorbing devices intended to deform, fracture, crush, and collapse as they absorb energy generated by an impact. The SE4 helmet should be treated/handled carefully so that it will have all the available energy absorbing materials if you should ever need them. Your adult size Air helmet will give you years of good service if properly cared for.</li>
        <li>Never decorate your helmet with paint, decals, stickers or tape. Use only mild soap and water to clean the outside or inside of your helmet and the pads. Chemicals used in many cleaners can be harmful to the outer shell of your helmet. Frequently, this damage is not visible, and can result in premature fracturing of the shell when impacted.</li>
        <li>Use only mild soap and water to clean the interior of your helmet. All of our models have removable liner. These liners can be washed by hand in a bucket with mild soap and water, rinsed, then air dried only. Remove odors by rinsing with a solution of bicarbonate of soda ang water. Never use an oven or other heating source to dry the helmet. Temperatures in excess of 130F degrees can damage the energy absorbing inner liner. Do not allow the helmet to sit in a closed vehicle or in direct sunlight on hot days as temperatures can exceed 130F degrees. Never allow your helmet to come in contact with gasoline or other petroleum products, as this will cause serious damage to the energy absorbing liner and/or the outer shell of the helmet.</li>
        <li>Troy Lee Designs helmets should not be painted by ayone other than Troy Lee Designs. Many helmet components can be seriously damaged by chemicals and/or solvents contained in most paint or by careless handling during the repair process. Do not sand or use any abrasive material on the helmet.</li>
      </ul>
      <span class ="title-holder">
        <h3>WARRANTY</h3>
      </span>
      <div class ="divider divider--md"></div>
      <p>If any portion of this warranty is held to be invalid or unenforceable for any reason, such finding will not invalidate any other provision. For products purchased in countries other than the United States please contact Troy Lee Designs authorized distributor in that respective country.</p>

      <p style ="margin-top:20px;"><b>TO OBTAIN SERVICE UNDER THIS WARRANTY YOU MUST EITHER:</b>Bring or send your Troy Lee Designs SE4 Helmet together with this warranty, the retail seller's original receipt or other satisfactory proof of the date of purchase to the retailer where you purchased the item. You can also send your Troy Lee Designs Air Helmet (with the return authorization number on the outside of the shipping container and affixed to the product), together with the retail seller's original receipt or other satisfactory proof of the date of purchase to: Troy Lee Designs Attn: Helmet Warranty Dept., 155 East Rincon. Corona, CA92879 USA. You must obtain a return authorization number by calling Troy Lee Designs, at (951)371-5219 or sending an E-mail to warranty@troyleedesigns.com prior to returning the product to Troy Lee Designs. Any postage, insurance or shipping cost incurred in sending your Troy Lee Designs product for service under either option above is your responsibility. Troy Lee Designs will not be responsible for products lost or damaged in shipping. For products purchased in countries other than the United States please contact the Troy Lee Designs authorized distributor in the country where the product was purchased. They can be warranty replacement request form before processing your warranty claim.</p>

      <p style ="margin-top:20px;"><b>CRASH REPLACEMENT POLICY: </b>Troy Lee Designs understands that accidents will happen. As a result, Troy Lee Designs will assist with the replacement of your helmet by providing a 30% discount off of Troy Lee Designs current suggested retail price in your respectivecountry. All other provisions of this warranty apply and the procedures outlined for warranty service apply also to the accident replacement policy Troy Lee Designs will make the final decision on whether the part will be covered under the crash replacememt policy.</p>

      <p style ="margin-top:20px;"><b>WARRANTY EXCLUSIONS: </b>Retailers and sellers of Troy Lee Designs product are not authorized to modify this warranty in any way. It is your responsibility to regularly examine the product to determine the need for normal service or replacement. This warranty does not cover the following:</p>
      <ul style ="color:black;">
        <li>Products that have been modified, neglected or poorly maintained, used for commercial purposes, misused or abused or involved in accidents.</li>
        <li>Damage occuring during shipment of the products (such claims must be presneted directly to the shipper).</li>
        <li>Damage to products resulting from improper assembly or repair, the use or installation of parts or accessories not compatible with the original intended use of the product, or the failure to follow the product warnings and usage instructions.</li>
        <li>Damage or deterioration to the surface finish, aesthetics or appearance of the product.</li>
        <li>The labor required to remove and/or re-fit and re-adjust the item covered by this warranty.</li>
        <li>Normal wear to the product.</li>
        <li>Any products for which the consumer does not follow the warranty procedures outlined above. For the current version of this warranty please visit our website at www.troyleedesigns.com</li>


      </ul>
      <p>Helmet specifications are subject to change without notice.</p>
      <p>(&copy; 2015 Troy Lee Designs)</p>
    </div>

</div>
