
<div class="container">
  <div class="row">
    <div>
      <h1>{{ page.title }}</h1>
    </div>
    
{{ 'resposnivemultimenu.js' | asset_url | script_tag }}
<script>
  $j( document ).ready(function(){
    productCarousel($j('.slider_id_1 .carousel-small'),5,5,3,2,1);
  });
</script>
    
<section>
  <div class="container" style="max-width: 1240px;">
    <div class="slider_id_1">
      {% include "home-small-slider"
      title: "Hot Sales"
      name_collection: "hot-sales"
      length: 12
      access: true %}
    </div>
  </div>
</section>
    
    
</div>
</div>

