
 <div class="container" style="margin-top: 50px;">
   
  <div class="title-box">
      <h2 class="text-center text-uppercase title-under" style="font-family: hurme-bold; color: rgb(0, 0, 0); font-size: 1.7em;">{{ page.title }}</h2>
  </div>

  {% assign thispage = page.handle %}

  {% if thispage == "afx-sizing-chart" %}
  {% include "page.afx-size-chart" %}


  {% elsif thispage == "alpinestars-sizing-chart" %}
  {% include "page.alpinestars-sizing-chart" %}


  {% elsif thispage == "hjc-sizing-chart" %}
  {% include "page.hjc-sizing-chart" %}


  {% elsif thispage == "icon-sizing-chart" %}
  {% include "page.icon-sizing-chart" %}
  
  
  {% elsif thispage == "shoei-sizing-chart" %}
  {% include "page.shoei-size-chart" %}
  
  
  {% elsif thispage == "bell-helmets-sizing-chart" %}
  {% include "page.bell-helmets-size-chart" %}
  
  
  {% elsif thispage == "billabong-sizing-chart" %}
  {% include "page.billabong-size-chart" %}
  
  
  {% elsif thispage == "dc-sizing-chart" %}
  {% include "page.dc-size-chart" %}
  
  
  {% elsif thispage == "fox-racing-sizing-chart" %}
  {% include "page.fox-racing-size-chart" %}
  
  
  {% elsif thispage == "hjc-helmets-sizing-chart" %}
  {% include "page.hjc-helmets-size-chart" %}
  
  
  {% elsif thispage == "lrg-sizing-chart" %}
  {% include "page.lrg-size-chart" %}
  
  
  {% elsif thispage == "neff-sizing-chart" %}
  {% include "page.neff-size-chart" %}
  
  
  {% elsif thispage == "oakley-sizing-chart" %}
  {% include "page.oakley-size-chart" %}
  
  
  {% elsif thispage == "quiksilver-sizing-chart" %}
  {% include "page.quiksilver-size-chart" %}
  
  
  {% elsif thispage == "roxy-sizing-chart" %}
  {% include "page.roxy-size-chart" %}
  
  
  {% elsif thispage == "troy-lee-designs-sizing-chart" %}
  {% include "page.troy-lee-designs-size-chart" %}
  
  
  {% elsif thispage == "shift-racing-sizing-chart" %}
  {% include "page.shift-mx-size-chart" %}
  
  
  {% elsif thispage == "answer-racing-sizing-chart" %}
  {% include "page.answer-racing-size-chart" %}
  
  
  {% elsif thispage == "arai-sizing-chart" %}
  {% include "page.arai-size-chart" %}
  
  
  {% elsif thispage == "klim-sizing-chart" %}
  {% include "page.klim-size-chart" %}
  
  
  {% elsif thispage == "leatt-sizing-chart" %}
  {% include "page.leatt-size-chart" %}
  
  
  {% elsif thispage == "100-sizing-chart" %}
  {% include "page.100-percent-size-chart" %}
  
  
  {% elsif thispage == "cortech-sizing-chart" %}
  {% include "page.cortech-size-chart" %}
  
  
  {% elsif thispage == "reef-sizing-chart" %}
  {% include "page.reef-size-chart" %}
  
  
  {% elsif thispage == "scorpion-sizing-chart" %}
  {% include "page.scorpion-size-chart" %}
  
  
  {% elsif thispage == "tour-master-sizing-chart" %}
  {% include "page.tour-master-size-chart" %}

  
  {% elsif thispage == "vonzipper-sizing-chart" %}
  {% include "page.vonzipper-size-chart" %}
   
  
  {% elsif thispage == "etnies-sizing-chart" %}
  {% include "page.etnies-size-chart" %}
   
  
  {% elsif thispage == "emerica-sizing-chart" %}
  {% include "page.emerica-size-chart" %}
   
   
  {% elsif thispage == "oneill-sizing-chart" %}
  {% include "page.oneill-size-chart" %}
  
  
  {% elsif thispage == "rip-curl-sizing-chart" %}
  {% include "page.rip-curl-size-chart" %}
   
   
  {% elsif thispage == "thor-mx-sizing-chart" %}
  {% include "page.thormx-size-chart" %}
  
  {% elsif thispage == "gmax-sizing-chart" %}
  {% include "page.gmax-size-chart" %}
   
  {% elsif thispage == "speed-and-strength-sizing-chart" %}
  {% include "page.speed-and-strength-size-chart" %}
   
  {% elsif thispage == "sanuk-sizing-chart" %}
  {% include "page.sanuk-size-chart" %}
   
  {% elsif thispage == "element-sizing-chart" %}
  {% include "page.element-size-chart" %}
   
  {% elsif thispage == "altamont-sizing-chart" %}
  {% include "page.altamont-size-chart" %}
   
  {% elsif thispage == "kr3w-sizing-chart" %}
  {% include "page.kr3w-size-chart" %}
   
  {% elsif thispage == "metal-mulisha-sizing-chart" %}
  {% include "page.metal-mulisha-size-chart" %}
   
  {% elsif thispage == "supra-sizing-chart" %}
  {% include "page.supra-size-chart" %}
   
  {% elsif thispage == "joe-rocket-sizing-chart" %}
  {% include "page.joe-rocket-size-chart" %}
   
  {% elsif thispage == "independent-sizing-chart" %}
  {% include "page.independent-size-chart" %}
   
  {% elsif thispage == "black-brand-sizing-chart" %}
  {% include "page.black-brand-size-chart" %}
   
  {% elsif thispage == "agv-sizing-chart" %}
  {% include "page.agv-size-chart" %}
      
  {% elsif thispage == "fly-racing-sizing-chart" %}
  {% include "page.fly-racing-size-chart" %}
   
  {% elsif thispage == "gaerne-sizing-chart" %}
  {% include "page.gaerne-size-chart" %}
   
  {% elsif thispage == "ls2-sizing-chart" %}
  {% include "page.ls2-size-chart" %}
   
  {% elsif thispage == "creature-sizing-chart" %}
  {% include "page.creature-size-chart" %}
   
  {% elsif thispage == "matix-sizing-chart" %}
  {% include "page.matix-size-chart" %}
   
  {% elsif thispage == "crocs-sizing-chart" %}
  {% include "page.crocs-size-chart" %}
   
  {% endif %}
  
  
  
</div>