{% comment %}
<!-- 
	TITLE: PRODUCT GRID SNIPPET
	CREATED BY: NICHOLE JOHN
	DATE: 07-28-2016
	
	HOW: 
	PASTE THIS CODE > THEME.LIQUID

	STYLE:	
			{{ 'njohn-product-grid-style.css' | asset_url | stylesheet_tag }}
			{{ 'flexslider.css' | asset_url | stylesheet_tag }}

	SCRIPT:	
			{{ 'jquery.flexslider.js' | asset_url | script_tag }}
			{{ 'njohn-product-grid-script.js' | asset_url | script_tag }}
-->
{% endcomment %}

{% assign collection_label = "NEW ARRIVALS" %}
{% assign collection_handle = "hot-sales" %}
{% assign collection_length = 12 %}

{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}


<div class="container" style="max-width: 1240px;">
	<div class="njohn_product_grid_label">
		<span>{{ collection_label }}</span>
	</div>
	{% for product in selected_collection limit: collection_length %}
	<div id="njohn_product_grid">
		{% include "njohn-product-grid-item" %}
	</div>
	{% endfor %}
</div>