{{ 'moto_contact_form_styles.css' | asset_url | stylesheet_tag }}

<!-- <section class="content separator-section"><div class="container"><div class="moto_page_separator"></div></div></section> //-->
<div class="container moto_forms">
{% assign thispage = page.handle %}
{% if thispage == "contact-us" %}
	{% include "contact.form.contact-us" %}
{% elsif thispage == "motorcycle-mover-transportation-services" %}
	{% include "contact.moto-motorcycle-mover-transportation-services" %}
{% endif %}
</div>
  
<!--  CONTACT QUESTION VERIFICATION  -->

<script type="text/javascript">
	jQuery(function($) {
		var n1 = Math.round(Math.random() * 10 + 1);
		var n2 = Math.round(Math.random() * 10 + 1);
		$j("#njohn_contact_question").val(n1 + " + " + n2);
			$j("#contact_form").submit(function (e) {
			var question = $j("#njohn_contact_question").val();
			var answer = $j("#njohn_contact_answer").val();
				if (eval(question) != answer) {
					$j("#njohn_contact_answer").css('box-shadow', '0px 0px 7px red');
					e.preventDefault();
				}
			});
	});
</script>