{{ 'page.offroad-custom-styles.css'| asset_url | stylesheet_tag }}

<div class="collection-banner" style = "background-image:url('https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-collection-040220.jpg?v=1585809809')">
  <div class = "collection-header-text">
    <h3 class = "center-block"><span class="background-box">Offroad-Collection</span></h3>
  </div>
</div>

<div class = "col-lg-12 shop-by-category-text">
  <div class = "row">
    <h3 class = "center-block text-uppercase text-center">Shop By Category</h3>
  </div>
</div>
<div class = "divider divider--xs"></div>
<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class = "row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/off-road-helmets" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-helmets-040220.jpg?v=1585809809" alt="Offroad Helmets Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Offroad Helmets</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/off-road-goggles" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-goggles-040220.jpg?v=1585809809" alt="Offroad Goggles Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Offroad Goggles</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/off-road-jerseys" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-jersey-040220.jpg?v=1585809810" alt="Offroad Jersey Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Offroad Jerseys</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/off-road-gloves" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-gloves-040220.jpg?v=1585809809" alt="Offroad Gloves Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Offroad Gloves</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/off-road-pants" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-pants-040220.jpg?v=1585809812" alt="Offroad Pants Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Offroad Pants</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/off-road-boots" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-boots-040220.jpg?v=1585809815" alt="Offroad Boots Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Offroad Boots</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
<div class = "col-lg-12 shop-by-category-text">
  <div class = "row">
    <h3 class = "center-block text-uppercase text-center">Shop By Gender</h3>
  </div>
</div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class = "row">
        <a href="/collections/offroad-mens-collection" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-mens-040220.jpg?v=1585809810" alt="Offroad Mens Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Mens</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class = "row">
        <a href="/collections/offroad-womens-collection" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-womens-040220.jpg?v=1585809811" alt="Offroad Womens Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Womens</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class = "divider divider--xs"></div>
    
    {% assign collection_label = "FEATURED PRODUCTS" %}
{% assign collection_handle = "offroad-sale" %}
{% assign collection_length = 10 %}

{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}

<div class="container featured_products">
  
  <h2 class="text-uppercase product_single_line">
    <span class="moto_saletitle"><a href="/collections/offroad-sale">On Sale Now</a></span>
    <span class="moto_viewMoreBtn"><a href="/collections/offroad-sale"> View More <i class="simple-icon-arrow-right"></i></a></span>
  </h2>
  <div class="divider divider--lg"></div>
  
  <div class="product-listing row">
	{% for product in selected_collection limit: collection_length %}
	 <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
		{% include "njohn-product-grid-item" %}
	</div>
	{% endfor %}
  </div>
</div>

      <div class = "divider divider--xs"></div>
    
    {% include "home_brands"%}
    {% include "home-instagram"%}
    