{{ 'jquery.tablesorter.min.js' | asset_url | script_tag }}

<style>
  .haus_page ul li a {
	font-size: 1.05em;
    color: black;
    text-decoration: none;
    transition: .2s;
    text-transform: capitalize;
    letter-spacing: .070em;
  }
  
  
.nj_BlogmyTable table {
    border: 1px solid #ccc!important;
}
.nj_BlogmyTable thead th {
    font-family: "FuturaPT";
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    padding: 0 13px;
    cursor: pointer;
    background-image: url({{ "nj_BlogmyTable_bg.gif" | asset_url }});
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #ddd;
}
.nj_BlogmyTable thead th.headerSortDown {
    background-image: url({{ "nj_BlogmyTable_desc.gif" | asset_url }});
}
.nj_BlogmyTable thead th.headerSortUp {
    background-image: url({{ "nj_BlogmyTable_asc.gif" | asset_url }});
}

.nj_BlogmyTable thead th:hover {
    text-decoration: underline;
}

.nj_BlogmyTable tbody td {
    max-width: 550px;
    width: 100%;
    border: 1px solid #ddd;
}

.nj_BlogmyTable tbody td span, .nj_BlogmyTable tbody td a {
    text-transform: capitalize;
    text-decoration: none;
    font-size: 1em;
    color: black;
    white-space: nowrap;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    font-style: normal;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding: 0 10px;
}
.nj_BlogmyTable tbody tr:hover td span, .nj_BlogmyTable tbody tr:hover td a {
    color: #fa6b6b;
}

.nj_BlogmyTable tbody tr:nth-child(odd) {
    background: #f9f9f9;
}
  
.nj_BlogmyTable tbody td:last-child {
    padding: 0 25px;
    text-align: center;
}

/* Search bar */
.njohn_lookbooktable_search_field {
  width: 485px;
  max-width: 100%;
  margin: 5px auto;
}
.njohn_lookbooktable_search_field form {
  position: relative;
}
.njohn_lookbooktable_search_field input[type=text] {
  color: black;
  background: white;
  width: 100%;
  height: 60px;
  padding: 15px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
}

.njohn_lookbooktable_search_field button[type=submit] {
  position: absolute;
  right: 0px;
  top: 0;
  border: none;
  background: none;
  font-size: 1.8em;
  padding: 16px 17px 7px;
  line-height: 1em;
  color: #000000;
  cursor: pointer;
}

.njohn_lookbooktable_search_field input[type]::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey !important;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "FuturaPT";
}
.njohn_lookbooktable_search_field input[type]::-moz-placeholder { /* Firefox 19+ */
  color: grey !important;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "FuturaPT";
}
.njohn_lookbooktable_search_field input[type]:-ms-input-placeholder { /* IE 10+ */
  color: grey !important;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "FuturaPT";
}
.njohn_lookbooktable_search_field input[type]:-moz-placeholder { /* Firefox 18- */
  color: grey !important;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "FuturaPT";
}
  
  
.nj_BlogmyTable_banner {
    list-style: none;
}
.nj_BlogmyTable_banner li {
    display: initial;
}
.nj_BlogmyTable_banner li img {
    max-width: 30%;
    padding: 2px 0;
}
</style>
<div class="container haus_page">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-12">
          
			<div class="text-center">
				<h3 class="text-center title-under uppercase_txt home_title">Lookbooks and Blogs Table of Contents</h3>      
			</div>

        <div class="njohn_lookbooktable_search_field">
            <form action="/search" method="get">
                <input type="hidden" name="type" value="article">
                <input type="text" name="q" maxlength="128" placeholder="SEARCH ARTICLE..">
                <button type="submit" class="icon icon-search"></button>
            </form>
        </div>
          
			<div class="text-center" style="margin-bottom: 50px;">
				<div class="divider divider--lg"></div>    
                      <ul class="nj_BlogmyTable_banner">
                        {% for article in blogs['lookbook'].articles limit: 6 %}
                        <li>
                          <a href="{{ article.url }}">
                              <img alt="{{ article.title }}" src="{{ article.image.src | img_url: '1024x1024' }}" title="{{ article.title }}">
                          </a>
                        </li>
                        {% endfor %}
					</ul>
		</div>
      

      
	</div>
  </div>
		<div class="row">
			<div class="col-sm-6 col-md-6 col-lg-6">
				<h2 class="text-left text-uppercase title-under">LOOKBOOKS</h2>
                <div class="nj_BlogmyTable table_responsive">
                <table id="lookbooks_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Added</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% paginate blogs['lookbook'].articles by 251 %}
                        {% for article in blogs['lookbook'].articles %}
                        <tr>
                            <td><a href="{{ article.url }}">{{ article.title }}</a></td>
                            <td><span>{{ article.published_at | date: "%D" }}</span></td>
                        </tr>
                        {% endfor %}
                      {% endpaginate %}
                    </tbody>
                </table>
                </div>
			</div>
			<div class="col-sm-6 col-md-6 col-lg-6">
				<h2 class="text-left text-uppercase title-under">BLOGS</h2>
                <div class="nj_BlogmyTable">
                <table id="blogs_table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date Added</th>
                        </tr>
                    </thead>
                    <tbody>
                      {% paginate blogs['news'].articles by 251 %}
                        {% for article in blogs['news'].articles %}
                        <tr>
                            <td><a href="{{ article.url }}">{{ article.title }}</a></td>
                            <td><span>{{ article.published_at | date: "%D" }}</span></td>
                        </tr>
                        {% endfor %}
                      {% endpaginate %}
                    </tbody>
                </table>
                </div>
			</div>
		</div>

</div>



<script>
jQuery(function($) {
  $(document).ready(function() { 
          $("#lookbooks_table, #blogs_table, #myTable").tablesorter( {sortList: [[1,1]]} );
  });
});
</script>