<div class="" style="	">
  {{ page.content }}
</div>



<div class="divider divider--xs"></div>
{% assign collection_label = "NEW ARRIVALS PRODUCTS" %}
{% assign collection_handle = "moto-gear" %}
{% assign collection_length = 10 %}
{% assign counter = 0 %}
{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}

<div class="container featured_products">
  
  <h2 class="text-uppercase product_single_line">
    <span class="moto_saletitle"><a href="/collections/whats-new">New Arrivals</a></span>
    <span class="moto_viewMoreBtn"><a href="/collections/whats-new"> View More <i class="simple-icon-arrow-right"></i></a></span>
  </h2>
  <div class="divider divider--lg"></div>
  
  <div class="product-listing row">
    {% for product in selected_collection %}
    {% if counter ==  collection_length %}
    {% break %}
    {% endif %}
    {%if product.available and counter != 10%}
    {% assign counter = counter | plus:1%}
    <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
      {% include "njohn-product-grid-item" %}
    </div>    
    {%endif%}
    {% endfor %}
  </div>
</div>