<style type="text/css">

  .section_categories .cat_header {
    text-transform: uppercase;
    text-align: center;
  }

  .section_categories .cat_header .cat_header_text {
    padding: 5px;
    font-size: 1em;
    font-weight: 600;
  }

  .section_categories .cat_header .cat_header_title h1 {
    letter-spacing: 1.2px;
    color: #be3232;
  }

  .valign {
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  .op_banner .op_banner_container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
  }

  .op_banner .op_banner_container .op_banner_container_block {
    width: 20%;
    border-right: 5px solid #ffffff;
    padding: 20px 40px;
    text-align: center;
    display: inline-block;
    background: #ececec;
    position: relative;
    color: #000;
    max-width: 211px;
    transition: all .3s;
  }

  .valign {
    position: relative;
    width: 100%;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -o-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
  }

  .op_price {
    font-family: "hurme-regular";
    white-space: nowrap;
    font-size: 21px;
  }

  .op_banner .op_banner_container .op_banner_container_block .op_show_selection {
    font-size: 13px;
    margin-top: 17px;
    padding: 7px 7px;
    border: 1px solid black;
  }

  .valign .op_banner_container .op_banner_container_block:hover {
    background: #006989;
    color: #fff;
    border-right: 1px solid #ececec;
    text-decoration: none;
  }

  .price_mobile {
    background: #ececec;
    padding: 15px 57px;
    display: inline-block;
    border-top: 10px solid white;
    border-right: 7px solid white;
    max-width: 350px;
    width: 100%;
  }

  .price_font {
    font-size: 34px;
  }

  .shop_mobile {
    border: 1px solid black;
    padding: 7px 25px;
  }

  .banner__title {
    text-shadow: 0 0 5px #000000;
    font-size: 2em;
  }

</style>
<p><a href="/collections/hot-sales" target="blank"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/holiday-122619.jpg?v=1577339313" alt="Motorhelemets Holiday Gift Guide" title="Motorhelemets Holiday Gift Guide" style="width: 100%;"></a></p>
<div class = "divider divider--xl-1"></div>
<div class = "container">
  <div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <a href = "/pages/gift-guide-street-gear">
        <picture>
<!--           <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/street-gear-gift-guide.webp?62317"> -->
          <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/street-gear-gift-guide.jpg?62317">
          <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/street-gear-gift-guide.jpg?62317" alt="Street Gear Banner" width="2158" height = "368">
        </picture>
      </a>
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <a href = "/pages/gift-guide-cruiser-gear" >
        <picture>
<!--           <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser-gear-gift-guide.webp?62317"> -->
          <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser-gear-gift-guide.jpg?62317">
          <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/cruiser-gear-gift-guide.jpg?62317" alt="Cruiser Gear Banner" width="2158" height = "368">
        </picture>
      </a>
    </div>
  </div>
  <div class = "divider hidden-xs hidden-sm hidden-md"></div>
  <div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <a href = "/pages/gift-guide-offroad-gear" >
        <picture>
<!--           <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-_gear-gift-guide-2.webp?63547"> -->
          <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-_gear-gift-guide.jpg?v=1574068345">
          <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/offroad-_gear-gift-guide.jpg?v=1574068345" alt="Off-Road Gear Banner" width="2158" height = "368">
        </picture>
      </a>
    </div>
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
      <a href = "/pages/gift-guide-snow-gear" >
        <picture>
<!--           <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-gear-gift-guide.webp?62317"> -->
          <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-gear-gift-guide.jpg?62317">
          <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-gear-gift-guide.jpg?62317" alt="Snow Gear Banner" width="2158" height = "368">
        </picture>
      </a>
    </div>
  </div>
  <div class = "divider hidden-xs hidden-sm hidden-md"></div>
  <div class = "row">
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6 col-lg-offset-3">
      <a href = "/pages/gift-guide-casual-wear">
        <picture>
<!--           <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/casual-wear-gift-guide.webp?62317"> -->
          <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/casual-wear-gift-guide.jpg?62317">
          <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/casual-wear-gift-guide.jpg?62317" alt="Casual Wear Banner" width="2158" height = "368">
        </picture>
      </a>
    </div>
  </div>
</div>