<section class="container-fluid white_background no_margin_top mobile-menu-off">
  <div class="content-fill">
    <div class="row">
      <div class="container" style="max-width: 1440px; width: 100%;">

        <h3 class="text-center title-under uppercase_txt home_title"> SHOP OUR TOP BRANDS</h3>
        <div class="divider divider--lg"></div>
        <div class="divider divider--xs"></div>
        <div class ="brand-holder col-lg-12">


          <div class="logo-holder col-lg-2">
            <a href="/collections/troy-lee-designs"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/tld-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Troy Lee Designs" title="Shop Troy Lee Designs" style = "width:85%;"></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/shift-racing"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/shift-racing-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Shift Racing" title="Shop Shift Racing" style = "width:85%;" ></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/fox-racing"><img src="//cdn.shopify.com/s/files/1/1299/2659/files/fox-353x261.png?12782684585668825672" class="img-responsive center-block" alt="Shop Fox Racing" title="Shop Fox Racing" style = "width:85%; " ></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/thor-mx"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/thor-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop Thor Racing" title="Shop Thor Racing" style = "width:85%;"></a>

          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/alpinestars"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/alpine-star-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Alpinestars" title="Shop Alpinestars" style = "width:85%;"></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/answer-racing"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/answer-racing-353x261.jpg?1067959905750695344" class="img-responsive center-block" alt="Shop Answer Racing" title="Shop Answer Racing" style = "width:85%;"></a>
          </div>

        </div>
        <div class ="brand-holder col-lg-12">
          <div class="logo-holder col-lg-2">
            <a href="/collections/shoei"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/shoei-353x261-min.jpg?9863732759479188142" class="img-responsive center-block" alt="Shop Shoie" title="Shop Shoie" style = "width:85%;"></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/arai"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/arai-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop Arai" title="Shop Arai" style = "width:85%;"></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/hjc"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/hjc-353-261.png?992230107821188671" class="img-responsive center-block" alt="Shop HJC" title="Shop HJC" style = "width:85%;"></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/icon"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/icon-353x261.png?13764375359243502022" class="img-responsive center-block" alt="Shop Icon" title="Shop Icon" style = "width:85%;"></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/bell"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/bell-353-261.png?296320832266869252" class="img-responsive center-block" alt="Shop Bell" title="Shop Bell" style = "width:85%;"></a>
          </div>
          <div class="logo-holder col-lg-2">
            <a href="/collections/speed-and-strength"><img src="https://cdn.shopify.com/s/files/1/1223/6434/files/ss-353x261.jpg?1067959905750695344" class="img-responsive center-block" alt="Shop Speed And Strength" title="Shop Speed And Strength" style = "width:85%;"></a>
          </div>



        </div>
      </div>

    </div>
  </div>
</section>
{{ 'allbrand-custom.css' | asset_url | stylesheet_tag }}
{% include "mobile_brand_page_slider" mobile_brand_page_slider_class: "hidden mobile-menu-on" %}

<div class="container-fluid moto-all-brands">
  <!-- Title -->
  <h3 class="text-center title-under uppercase_txt home_title">Shop all Brands</h3>
  <!-- live filter search here -->
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
      <div id="custom-search-input" class="inp-t-c">
        <div>
          <input type="text" id="quicksearch1" class="form-control input-lg" placeholder="SEARCH BRAND" />
        </div>
      </div>
    </div>
  </div>

  <div class="divider divider--md"></div>
  <div class="row">
    <div class="container" style="max-width: 1440px; width: 100%;">
      <!-- letter A-Z anchor link here -->
      <div class="container" style="max-width: 1440px; width: 100%;">
        <ul id="top" class="clearfix nav a-z_nav">
{%comment%}
          
<!--  HOW TO UPDATE:  -->
<!--  1.) Create the collection of the brand          -->
<!--  2.) Upload the logo to shopify          -->
<!--  3.) Get the name of the logo and concatenate them, use the | as the delimiter, with the name of the collection and the collection's handle   -->
<!--  Format: logo.jpg|Collection Name(CASE SENSITIVE)|Collection handle        -->
{%endcomment%}
          {% assign letter_arr = "ALL,0-9,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T,U,V,W,X,Y,Z" %}
          {% assign letter_arr = letter_arr | split: ',' %}
          {% for letter in letter_arr %}
          {% if letter == 'ALL' %}
          {%	assign dletter = ".brand-container-show" %}
          {% elsif letter == '0-9' %}
          {% assign dletter = ".brand-container-0" %}
          {% else %}     
          {% assign dletter = '.brand-container-' | append: letter | downcase %}
          {% endif %} 
          <li class="no-padding centered col-lg-1 col-sm-1 col-xs-3"><a value = "{{ dletter }}">{{ letter }}</a></li>
          {% endfor %}

        </ul>
      </div>
      <div style = "margin-top:10px;margin-bottom:5px;"></div>
      {% assign images_links = "100-persent-logo-120x120.jpg|100%|100
agv-logo-120x120.jpg|Agv|agv
adaptivtechlogo.jpg|Adaptiv Technologies|adaptiv-technologies
airhole-logo-120x120.jpg|Airhole|airhole
alias-logo-120x120.jpg|Alias|alias
altamont-logo-120x120.jpg|Altamont|altamont
amazinggoop-logo-120x120.jpg|Amazing Goop|amazing-goop
arbor-logo-120x120.jpg|Arbor|arbor
almost-logo2-120x120.jpg|Almost|almost
alpinestars-logo-120x120.jpg|Alpinestars|alpinestars
answer-120x120-min.jpg|Answer Racing|answer-racing
arai-logo-120x120.jpg|Arai|arai
axo-logo-120x120.jpg|Axo|axo
bell-logo-120x120.jpg|Bell|bell
billabong-logo-120x120.jpg|Billabong|billabong
biltwell-logo-120x120.jpg|Biltwell|biltwell
black-brand-logo-120x120.jpg|Black Brand|black-brand
bolle-logo-120x120.jpg|Bolle|bolle
bobster-logo-120x120.jpg|Bobster|bobster
bridgestone-logo-120x120.jpg|Bridgestone|bridgestone
buff-logo-120x120.jpg|Buff|buff
carrera-logo-120x120.jpg|Carrera|carrera
cortech-logo-120x120.jpg|Cortech|cortech
creature-logo-120x120.jpg|Creature|creature
crocs2-logo-120x120.jpg|Crocs|crocs
crooks-and-castles-logo-120x120.jpg|Crooks And Castles|crooks-castles
dainese-logo-120x120.jpg|Dainese|dainese
darkstar-logo-120x120.jpg|Darkstar|darkstar
dc-logo-120x120.jpg|Dc|dc
dragon-alliance-logo-120x120.jpg|Dragon Alliance|dragon-alliance
drayko-logo-120x120.jpg|Drayko|drayko
driven-racing-logo-120x120.jpg|Driven Racing|driven-racing
deuter-logo-120x120.jpg|Deuter|deuter
dsg-logo-120x120.jpg|Divas|divas
dunlop-logo-120x120.jpg|Dunlop|dunlop
electric-logo-120x120.jpg|Electric|electric
element-logo-120x120.jpg|Element|element
emerica-logo-120x120.jpg|Emerica|emerica
etnies-logo-120x120.jpg|Etnies|etnies
evs-logo-120x120.jpg|EVS|evs-sports
famous-stars-and-straps-logo-120x120.jpg|Famous Stars And Straps|famous-stars-and-straps
fasthouse-logo-120x120.jpg|Fasthouse|fasthouse
firstgear-logo-120x120.jpg|Firstgear|firstgear
five-logo-120x120.jpg|Five|five
fly-racing-logo-120x120.jpg|Fly Racing|fly-racing
fmf-logo-120x120.jpg|Fmf|fmf
fox-logo-120x120.jpg|Fox Racing|fox-racing
gaerne-logo-120x120.jpg|Gaerne|gaerne
giantlooplogo.jpg|Giant Loop|giant-loop
globe-logo-120x120.jpg|Globe|globe
gmax-logo-120x120.jpg|GMAX|gmax
gucci-logo-120x120.jpg|Gucci|gucci
hjc-logo-120x120.jpg|Hjc|hjc
hoven-logo-120x120.jpg|Hoven|hoven
icon-logo-120x120.jpg|Icon|icon
interphone-120x120.jpg|Interphone|interphone
independent-logo-120x120.jpg|Independent|independent
jansport-logo-120x120.jpg|Jansport|jansport
jessup-logo.jpg|Jessup|jessup
joe-rocket-logo-120x120.jpg|Joe Rocket|joe-rocket
kaenon-logo-120x120.JPG|Kaenon|kaenon
klim-logo-120x120.jpg|Klim|klim
kr3w-logo-120x120.jpg|Kr3w|kr3w
leatt-logo-120x120.jpg|Leatt|leatt
liqui-moly-logo.png|Liqui Moly|liqui-moly
lost-logo-120x120.jpg|Lost|lost
lrg-logo-120x120.jpg|Lrg|lrg
ls2-logo-120x120.jpg|LS2|LS2
matix-logo-120x120.jpg|Matix|matix
metal-mulisha-logo-120x120.jpg|Metal Mulisha|metal-mulisha
maxxis-logo-120x120.jpg|Maxxis|maxxis
michelin-logo-120x120.jpg|Michelin|michelin
motul-logo.png |Motul Motor Oils and Lubricants|motul-motor-oils-and-lubricants
motion-pro-log-120x120.png|Motion Pro|motion-pro
motorhelmets-logo-120x120.jpg|Motorhelmets|motorhelmets
msr-racing-logo-120x120.jpg|Msr Racing|msr-racing
ndc-logo-120x120.jpg|NDC|ndc
neff-logo-120x120.jpg|Neff|neff
NOCO-logo-120x120.jpg|NOCO|noco
nuetech-logo-120x120.jpg|Nuetech|nuetech
oneill-logo-120x120.jpg|O'neill|oneill
oakley-logo-120x120.jpg|Oakley|oakley
odi-logo-120x120.jpg|ODI|odi
ogio-logo-120x120.jpg|Ogio|ogio
oneal-racing-logo-120x120.jpg|O'neal Racing|oneal-racing
one-industries-logo-120x120.jpg|One Industries|one-industries
olympia-logo-120x120.jpg|Olympia|olympia
originboardshop-120x120.jpg|Originboardshop|originboardshop
penny-logo-120x120.jpg|Penny|penny
pod-mx-logo-120x120.jpg|Pod MX|pod-mx
pirelli-logo-120x120.jpg|Pirelli|pirelli
pivot-pegz-logo-120x120.png|Pivot Pegz|pivot-pegz
procircuit.jpg|Pro Circuit|pro-circuit
psd-logo-120x120.jpg|PSD Underwear|psd
puregreen24-logo-120x120.jpg|PureGreen24|puregreen24
protaper-logo-120x120.jpg|ProTaper|protaper
quiksilver-logo-120x120.jpg|Quiksilver|quiksilver
reef-logo-120x120.jpg|Reef|reef
revo-logo-120x120.jpg|Revo|revo
ray-ban120x120.jpg|Ray-Ban|ray-ban
ricks-logo-120x120.jpg|Ricks|ricks  
rip-curl-logo-120x120.jpg|Rip Curl|rip-curl
roland-sands-design-120x120.jpg|Roland Sands Design|roland-sands-design
roxy-logo-120x120.jpg|Roxy|roxy
rusty-logo-120x120.jpg|Rusty|rusty
santa-cruz-logo-120x120.jpg|Santa Cruz|santa-cruz
sanuk-logo-120x120.jpg|Sanuk|sanuk
saxx-logo-120x120.jpg|Saxx|saxx
scorpion-logo-120x120.jpg|Scorpion|scorpion
scott-logo-120x120.jpg|Scott|scott
sena-logo-120x120.jpg|Sena|sena
sector-9-logo-120x120.jpg|Sector 9|sector-9
seven-logo-120x120.jpg|Seven|seven
shift-racing-logo-120x120.jpg|Shift|shift-racing
shinko-logo-120x120.jpg|Shinko|shinko
shoei-logo-120x120.jpg|Shoei|shoei
shotmx-logo-120x120.jpg|Shot|shot
skid-lid-logo.jpg|Skid Lid|skid-lid
sonic-logo-120x120.jpg|Sonic Tools|sonic-tools
sixsixone-logo-120x120.jpg|Sixsixone|sixsixone
smith-optics-logo-120x120.jpg|Smith Optics|smith-optics
ss-120x120-min.jpg|Speed And Strength|speed-and-strength
spidi-logo-120x120.jpg|Spidi|spidi
spy-optics-logo-120x120.jpg|Spy Optics|spy-optic
stance-logo-120x120.jpg|Stance|stance
sti-logo-120x120.jpg|STI|sti
suncloud-optics-logo-120x120.jpg|Suncloud Optics|suncloud-optics
sunmoontruth-logo.jpg|Sun Moon Truth|sun-moon-truth
suomy-logo-120x120.jpg|Suomy|suomy
supra-logo-120x120.jpg|Supra|supra
tcx-logo-120x120.jpg|TCX|tcx
thor-mx-logo-120x120.jpg|Thor Mx|thor-mx
tour-master-logo-120x120.jpg|Tour Master|tour-master
troy-lee-designs-logo-120x120.jpg|Troy Lee Designs|troy-lee-designs
uclear-logo.jpg|Uclear|uclear
under-armour-logo-120x120.jpg|Under Armour|under-armour
vega-logo-120x120.jpg|Vega|vega
vestal-logo-120x120.jpg|Vestal|vestal
vance-and-hines-logo.jpg|Vance and Hines|vance-and-hines
vonzipper-logo-120x120.jpg|Vonzipper|vonzipper   
zox-120x120.jpg|Zox Helmets|zox-helmets
zan-logo.jpg?|Zan Headgear|zan-headgear" | newline_to_br | strip_newlines | split: '<br />' %}

      <!-- Brand listing -->
      <div id="all-in" class="tanang-brand">
        <div class="divider divider--md"></div>

        {% assign lastletter = "" %}

        {% for brand in images_links %}

        {% assign i = brand | split: '|' %}

        {% assign prod_id = i[2] | slice : 0 | upcase %}

        {% assign countingcollection = i[2] %}
        {%if collections[countingcollection].all_products_count > 0 %}
        {% if prod_id != lastletter %}
        <!-- Makes the block-title output only once -->
        {% if prod_id == "1" %}
        <!-- checks if the prod_id starts at 1 for 100% -->
        {% assign prod_id = "0-9"%}

        <div id="sub-container" class="sub-container container-liquid" style="margin:0px; padding: 0px">
          <div class="divider divider--md"></div>
          <div class = "brand-container-{{prod_id |slice: 0 | downcase}}">
            <div id="{{prod_id|slice:0}}" class="row fill-bg">
              <div class="col-sm-3 text-center ">
                <div class="block">
                  <div class="block-header">
                    <h3 class="block-title">{{prod_id}}</h3>
                  </div>
                </div>
              </div>
            </div>



            <div class="divider divider--md"></div>

            {%else%}

            {%if prod_id != '0' or 'A' %}
            <!-- Assigns the last 3 div to close the sub-container, brand-container, and content-grind. This would show up only after 'A' 
since '0' can work without this -->
          </div>
        </div>
      </div>
      <div class="divider divider--md"></div>
      {%endif%}

      <div id="sub-container" class="sub-container container-liquid" style="margin:0px; padding: 0px">
        <div class = "brand-container-{{prod_id | downcase}}">
          <div id="{{prod_id}}" class="row fill-bg">
            <div class="col-sm-3 text-center ">
              <div class="block">
                <div class="block-header">
                  <h3 class="block-title">{{prod_id}}</h3>
                </div>
              </div>
            </div>
          </div>

          <div class="divider divider--md"></div>

          {%endif%}

          {%endif%}
          {% if prod_id != lastletter %}
          <div class="content-grid grid mx-custom">
            {%endif%}
            <div class="element-item  centered col-lg-2 col-md-3 col-sm-4 col-xs-6 text-center">
              <a href="/collections/{{ i[2] }}" alt="{{ i[1] | upcase }}" title="{{ i[1] | upcase }}"><img src="//cdn.shopify.com/s/files/1/1223/6434/files/{{i[0]}}" /></a>
              <div class="brand-name"><a href="/collections/{{ i[2] }}" alt="{{ i[1] | upcase }}" title="{{ i[1] | upcase }}" >{{i[1] | upcase}}</a></div>
            </div>
            {% assign lastletter = prod_id %}
            {%endif%}



            {% endfor %}   


          </div>
        </div>
      </div>
    </div>
    <div class="divider2 divider--md"></div>
    <script>
      //removes the error $ is not a function
      jQuery(function($) {

        $(function() 

          {
          /*Scroll transition to anchor*/
          /*
    // scroll handler
    var scrollToAnchor = function(id) {
        // grab the element to scroll to based on the name
        var elem = $("a[name='" + id + "']");

        // if that didn't work, look for an element with our ID
        if (typeof(elem.offset()) === "undefined") {
            elem = $("#" + id);
        }

        // if the destination element exists
        if (typeof(elem.offset()) !== "undefined") {

            // do the scroll
            $('html, body').animate({
                scrollTop: elem.offset().top - 165
            }, 500);

        }
        //     if the destination element does not exist
        if (typeof(elem.offset()) === "undefined") {
            alert("Wha' ye lookin' ain't here scallywag so jab other links!");
        }

    };

    // bind to click event
    $("a").click(function(event) {

            // only do this if it's an anchor link
        if ($(this).attr("href").match("#")) {

            // cancel default event propagation
            event.preventDefault();

            // scroll to the location
            var href = $(this).attr('href').replace('#', '')
            scrollToAnchor(href);
        }


    });
------------- END SCROLL TO ANCHOR FUNCTION --------------*/

          /*----------- FADE IN/OUT FUNCTION ----------------*/

          $("a").click(function(event) 
                       {
            var value = $(this).attr('value');
            console.log(value);
            if(value==".brand-container-show" || value == null)
            {
              $("div #sub-container>").fadeIn(300);
              $("div .divider").show();
            }

            else
            {
              $("div .divider").hide()
              $("div #sub-container>").not(value).hide()
              $(value).fadeIn(300);
            }

          }); 

          /*------------ QUICK SEARCH FUNCTION ------------*/    

          $('#quicksearch1').keyup(function() {
            $("div .divider").hide();
            $("div #sub-container>").show();
            var value = $(this).val();
            if(value== "")
            {
              $("div .divider").show();
            }

            var exp = new RegExp('^' + value, 'i');

            // group label filter
            $(".sub-container").each(function() 
                                     {
              if ($(this).find("h3").length !== 0) {
                if($.isNumeric(value)){
                  value = "0"+value;
                  $(this).toggle($(this).find("h3").text().toLowerCase().charAt(0) == value.toLowerCase().charAt(0) || value == "")
                }
                else{
                  $(this).toggle($(this).find("h3").text().toLowerCase().charAt(0) == value.toLowerCase().charAt(0) || value == "")
                }
              }
            });

            // product filter
            $('.element-item').each(function() 
                                    {
              var isMatch = exp.test($('.brand-name', this).text());
              $(this).toggle(isMatch);
              $('.brand-name').each(function() 
                                    {
                var isMatch = exp.test($(this).text());
                $(this).toggle(isMatch);
              });
            });
          });
          /*------------ END QUICK SEARCH FUNCTION ------------*/    
        });
      });

    </script>