<div class = "divider divider--xl hidden-sm hidden-xs"></div>
<div class = "divider divider--md visible-sm visible-xs"></div>
<section class = "review-page-content">
  <div class = "container">
    <div class = "row">
      <div class ="col-sm-12 col-md-12 col-lg-12">
        <div class = "col-sm-12 col-md-12 col-lg-8 col-lg-offset-2">
          <h1 class = "text-center text-uppercase">Support Motorhelmets</h1>
          <p class = "text-center bold review-sub-text">Please take a minute to show us your support by leaving a review on <a class = "review-links" href = "https://g.page/Motorhelmets/review?gm">Google Business</a> and <a class = "review-links" href="https://www.yelp.com/biz/motorhelmets-fullerton-3">Yelp.</a></p>
          <p class = "text-justify">Your reviews will help us gain newer customers and serve our existing customers even better in the Orange County and Los Angeles area, after all we wouldn’t be in business without the endorsement of customers like you.</p>
          <div class = "divider divider--md visible-sm visible-xs"></div>
          <div class = "divider divider--lg visible-md visible-lg"></div>
          <div class = "row">
            <div class ="col-xs-6 col-sm-4 col-md-3 col-lg-3 col-sm-offset-2 col-md-offset-3 col-lg-offset-3">
              <a href = "https://g.page/Motorhelmets/review?gm">
                <picture>
                  <source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/googlemybusiness-logo-optimized.jpg?37409">
                  <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/googlemybusiness-logo-optimized.jpg?37409">
                  <img class = "img-responsive center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/googlemybusiness-logo-optimized.jpg?37409" alt="Google my business logo for google reviews." width="350" height = "350">
                </picture>
              </a>
            </div>
            <div class ="col-xs-6 col-sm-4 col-md-3 col-lg-3">
              <a href = "https://www.yelp.com/biz/motorhelmets-fullerton-3">
                <picture>
                  <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/yelp-logo-optimized.jpg?37423">
                  <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/yelp-logo-optimized.jpg?37423">
                  <img class="img-responsive center-block" src="https://cdn.shopify.com/s/files/1/1223/6434/files/yelp-logo-optimized.jpg?37423" alt="Yelp logo for yelp reviews." width="350" height="350">
                </picture>
              </a>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>