{{ 'page.offroad-custom-styles.css'| asset_url | stylesheet_tag }}

<div class="collection-banner" style = "background-image:url('https://cdn.shopify.com/s/files/1/1223/6434/files/snow-collection-040220.jpg?v=1585815321')">
  <div class = "collection-header-text">
    <h3 class = "center-block"><span class="background-box">Snow Collection</span></h3>
  </div>
</div>

<div class = "col-lg-12 shop-by-category-text">
  <div class = "row">
    <h3 class = "center-block text-uppercase text-center">Shop By Category</h3>
  </div>
</div>
<div class = "divider divider--xs"></div>
<div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class = "row">

    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/snow-helmets" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-helmets-040220.jpg?v=1585815321" alt="Snow Helmets Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Snow Helmets</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/snow-gloves" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-gloves-040220.jpg?v=1585815322" alt="Snow Gloves Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Snow Gloves</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/snow-boots" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-boots-040220.jpg?v=1585815322" alt="Snow Boots Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Snow Boots</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/snow-goggles" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-goggles-040220.jpg?v=1585815322" alt="Snow Goggles Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Snow Goggles</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/snow-jackets" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-jackets-040220.jpg?v=1585815322" alt="Snow Jackets Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Snow Jackets</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class = "row">
        <a href="/collections/snow-pants" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-pnts-040220.jpg?v=1585815325" alt="OSnow Pants Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Snow Pants</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
<div class = "col-lg-12 shop-by-category-text">
  <div class = "row">
    <h3 class = "center-block text-uppercase text-center">Shop By Gender</h3>
  </div>
</div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class = "row">
        <a href="/collections/mens-snow-gear-sale" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-mens-040220.jpg?v=1585815323" alt="Snow Mens Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Mens</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class = "row">
        <a href="/collections/womens-snow-gear-sale" class="banner zoom-in moto_banner">
          <span class="figure buttononhover">
            <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/snow-womens-040220.jpg?v=1585815324" alt="Snow Womens Collection">
            <span class="figcaption">
              <span class="block-table">
                <span class="block-table-cell">
                  <span class="banner__title size40">Womens</span>
                  <span class="btn btn--ys btn--xl banner_btn">Shop now</span>
                </span>
              </span>
            </span>
          </span>
        </a>
      </div>
    </div>

    <div class = "divider divider--xs"></div>
    
    {% assign collection_label = "FEATURED PRODUCTS" %}
{% assign collection_handle = "snow-sale" %}
{% assign collection_length = 10 %}

{% assign selected_collection = collections[collection_handle].products %}
{% assign collection_length = collection_length | plus: 0 %}

<div class="container featured_products">
  
  <h2 class="text-uppercase product_single_line">
    <span class="moto_saletitle"><a href="/collections/offroad-sale">On Sale Now</a></span>
    <span class="moto_viewMoreBtn"><a href="/collections/offroad-sale"> View More <i class="simple-icon-arrow-right"></i></a></span>
  </h2>
  <div class="divider divider--lg"></div>
  
  <div class="product-listing row">
	{% for product in selected_collection limit: collection_length %}
	 <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
		{% include "njohn-product-grid-item" %}
	</div>
	{% endfor %}
  </div>
</div>

      <div class = "divider divider--xs"></div>
    
    {% include "home_brands"%}
    {% include "home-instagram"%}