{% comment %}
https://github.com/zakhardage/Shopify-Wish-List
https://github.com/jimlakey/Shopify-Wish-List
{% endcomment %}
{% assign wishlistIsEmpty = true %}

<div class="container wishlist-page">
  <!-- title -->
  <div class="title-box" style="margin-top: 40px;">
    <h1 class="text-center text-uppercase title-under">Your Wishlist</h1>
  </div>
  <!-- /title -->
<div class="wishlist_note" style="text-align:center; margin-bottom:20px;"><span>NOTE: Your wish list is temporary to this session.  It does not permanently save.</span></div>
  

  
    <div class="wishlist-box-test"></div>  
  
  <script>
    var $j = jQuery.noConflict();
    var cookieName = "wishlistList";
    
    try
    {
      if($j.cookie(cookieName) != null && $j.cookie(cookieName) != '__' && $j.cookie(cookieName) != '') {
        var str = String($j.cookie(cookieName)).split("__");
        for(var i=0; i<str.length; i++) {
          if(str[i] != ''){Shopify.getProduct(str[i]);}
        }
        $j('.currency .active').trigger('click');
      } else {
        emptyWishlist();
      }
    }
    catch (err) {} // ignore errors reading cookies

    function emptyWishlist(){
      $j(".wishlist-table, .wishlist_note").remove();
      $j(".wishlist-page").append('<div class="njohn_empty_cart"><div class="njohn_empty_cart_column1"><div><ul style="list-style:none;"><li><span>There are no items in your wish list.</span></li><li><span style="font-size: 15px;">To add an item, browse for a product and choose \'<b>Add to Wish List</b>\'.</span></li></ul></div></div><div class="njohn_empty_cart_column2"><div class="njohn_cart_button"><span><a href="/">Return Home</a></span></div><div class="njohn_cart_button"><span><a href="/collections/whats-new">Shop Now</a></span></div></div></div>');
    }
    Shopify.onProduct = function(product) {
      var formatMoney = "<span class='money'>${"+"{amount}}</span>";
      var $cloneitem = $j(".wishlist-item").clone();
      $cloneitem.find(".product_title").text(product.title);
      $cloneitem.find(".product_link").attr("href", product.url);
      $cloneitem.find(".img-responsive").attr("src", product.featured_image);
      $cloneitem.find(".table-wishlist-1__product-price").html(Shopify.formatMoney(product.price, formatMoney));
      
      var $cloneitemprice = $j(".wishlist-item-price").clone();
	  $cloneitemprice.find(".table-wishlist-1__product-price").html(Shopify.formatMoney(product.price, formatMoney));
      var $cloneitemclear = $j(".wishlist-item-clear").clone();
      var $cloneitemcontinue = $j(".wishlist-item-continue").clone();
      $cloneitemcontinue.find(".product_link").attr("href", product.url);
   
      $j('.wishlist-box-test').append("<div class='"+product.handle+"'>"+"<div>"+$cloneitem.html()+"</div>"+"<div>"+$cloneitemprice.html()+"</div>"+"<div>"+$cloneitemclear.html()+"</div>"+"<div>"+$cloneitemcontinue.html()+"</div>"+"</div>")

      $j('.wishlist-box').append("<tr class='"+product.handle+"'>"+"<td>"+$cloneitem.html()+"</td>"+"<td>"+$cloneitemprice.html()+"</td>"+"<td>"+$cloneitemclear.html()+"</td>"+"<td>"+$cloneitemcontinue.html()+"</td>"+"</tr>")
      $j('.wishlist-box').find("."+product.handle).find('.product-remove-js').click(function(event) {
        event.preventDefault();
        $j(this).unbind();
        var item = $j(this).parent().parent().parent().parent();
        var str = $j.cookie(cookieName);
        str = str.replace(item.attr("class"), '');
        str = str.replace('____', '__');
        $j.cookie(cookieName, str, {expires:7, path:'/'});

        item.fadeOut(500);
        setTimeout(removeItem, 500, item);
      });
    }
    function removeItem(item) {
      item.remove();
      
      if($j.cookie(cookieName) == '__' || $j.cookie(cookieName) == ''){
        emptyWishlist();
      }
    }
  </script>
  
  
  
</div>