<!-- CONTENT section -->
<div class="container">
	<!-- title -->
	<div class="title-box">
		<h1 class="text-center text-uppercase title-under">Shipping Quote Request</h1>
	</div>
	<!-- /title -->				
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3  col-sm-center">

		</div>
		<div class="divider divider--lg visible-sm visible-xs"></div>
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-sm-center">
			<img class="img-responsive1" src="https://cdn.shopify.com/s/files/1/1236/4838/files/img_icon-05.png?9974348587713791240" alt=""/>
			<div class="divider divider--lg"></div>
			<h2 class="color font30 title-bottom-sm2">Domestic Shipping Quote Request</h2>
			<p>
				Use the form below if you need to know the exact shipping cost before placing your order for all domestic USA shipments. This is mostly applicable for very large or complicated shipments. For our normal shipping rates and information, review our Shipping Information page.
			</p>
			<ol class="decimal-list font-bold color-dark">
			
		</div>
		<div class="divider divider--lg visible-sm visible-xs visible-md visible-lg hidden-xl "></div>
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-sm-center">
			<img class="img-responsive1" src="https://cdn.shopify.com/s/files/1/1236/4838/files/img_icon-07.png?9974348587713791240" alt=""/>
			<div class="divider divider--lg"></div>
			<h2 class="color font30  title-bottom-sm2">International shipping quotes</h2>
			<p>
				For International shipping quotes, please use our Int'l Shipping Quote Request Form Use the form below if you need to know the exact shipping cost before placing your order for all domestic USA shipments. This is mostly applicable for very large or complicated shipments. For our normal shipping rates and information, review our Shipping Information page.


			</p>
		</div>
		
		<div class="col-sm-12 col-md-6 col-lg-6 col-xl-3 col-sm-center">
			
		</div>
	</div>
</div>
<!-- End CONTENT section -->