<section class = "main-banner" style = "width: calc(100% - 15px);">
  <div class = "col-12">
    <div class = "row">
      <!--       <picture>
<source type="image/webp" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-2-final-2.webp?50075">
<source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-2-final-2.jpg?50075">
<img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-2-final-2.jpg?50075" alt="ECU Flash Services banner">
</picture>

<picture> -->
      <!--[if IE 9]><video style="display: none;"><![endif]-->
      <picture>
        <source type="image/jpeg" media="(min-width: 1024px)" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-2-final-3-min.jpg?51613" />
        <source type="image/jpeg" media="(max-width: 1023px)" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-2-mobile-final-min.jpg?51613" />
        <source type="image/jpeg" media="(min-width: 1024px)" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-2-final-3-min.jpg?51613" />
        <source type="image/jpeg" media="(max-width: 1023px)" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-2-mobile-final-min.jpg?51613" />
        <!--[if IE 9]></video><![endif]-->
        <img class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-banner-2-final-2.jpg?50075" alt="ECU Flash Services banner">
      </picture>
    </div>
  </div>
</section>
<div class = "divider divider--lg-1"></div>

{% include "page.motorcycle-service-menu-all" %}

<div class = "divider divider--lg-1"></div>
<section class = "main-content">
  <div class = "container">
    <div class = "row ecu-mobile-row">
      <div class = "col-12 col-sm-12 col-md-12 col-lg-12">
        <div class = "col-12 col-sm-12 col-md-7 col-lg-7">
          <div class = "row">
<!--             <p style = "margin-bottom:5px"><span style = "font-size: 25px; color:black; font-weight:700">Motorhelmets ECU Flash Services</span><br>Unlock the full potential of your motorcycle with Motorhelmet's full ECU Flash Tuning Service in Fullerton California. Bring in your motorcycle and our technicians will ECU Tune your motorcycle to unleash more speed, power and performance. What was only reserved for Factory Performance Riders is now available to you.  With our Flash Tune ECU Service, we can remove all manufacturer restrictions. By flashing your Motorcycle's ECU we are able to tune your bike for improved performance without interfering with critical correction factors resulting in smoother power gains over your stock configurations.
              Whether your bike is bone stock, has a slip-on, or a full system exhaust, the ECU Flash Service is a must!  Optimize your bike to the next level.  Enjoy improved riding, speed, torque and efficiency.
              Motorhelmets in Fullerton - Orange County California is a full service motorcycle shop.  Get your motorcycle ECU flash tuning service done here right!
              </p> -->
            <p style = "margin-bottom:5px"><span style = "font-size: 25px; color:black; font-weight:700">Motorhelmets ECU Flash Service</span></p>
            <p>Unlock the full potential of your motorcycle with Motorhelmet's full ECU Flash Tuning Service in Fullerton California.</p><p> Bring in your motorcycle and our technicians will ECU Tune your motorcycle to unleash more speed, power and performance.</p>
            <p>What was only reserved for Factory Performance Riders is now available to you.  With our Flash Tune ECU Service, we can remove all manufacturer restrictions.</p>
            <p>By flashing your Motorcycle's ECU we are able to tune your bike for improved performance without interfering with critical correction factors resulting in smoother power gains over your stock configurations.</p>
            <p>Whether your bike is bone stock, has a slip-on, or a full system exhaust, the ECU Flash Service is a must!  Optimize your bike to the next level.  Enjoy improved riding, speed, torque and efficiency.</p>
            <p>Motorhelmets in Fullerton - Orange County California is a full service motorcycle shop.  Get your motorcycle ECU flash tuning service done here right!</p>
            <p style = "margin:40px 0px;"><b>Make your appointment today. <br class = "visible-xs"> Call 714-879-8180 for more information or an appointment.  <br>Email: motoservice@motorhelmets.com</b></p>

            <h5>ECU Flashing Benefits:</h5>
            <ul class = "ecu-list">
              <li>Engine Braking Adjustments - Make your braking more responsive.</li>
              <li>Increase the power on your bike by removing factory speed restrictions.</li>
              <li>Lower operating temperature on your bike.  We can program the ECU when to turn on your fans to get the bike running cooler.</li>
              <li>Eliminate the need to cut, splice, or solder your wiring harness like you had to with a Power commander or other fuel Tuners.</li>
              <li>With the ECU Flash, you will not need to do a Dyno Tune.  </li>
              <li>We will Flash your ECU in house by professionals.  No need to wait for the mail, and spend 2 weekends figuring out how to make it work while risking doing it WRONG and damaging your motorcycle.</li>
              <li>Save money on not having to buy a servo buddy.  When you get the ECU Flash done, we can eliminate those annoying FI lights that come on due to you not having the Servo Buddy when you install a new exhaust.  Servo Buddies can run up to $90.00</li>
              <li>Motorhelmets ECU Flash Service Rates start at $150 - $350.</li>
            </ul>
            <div class = "divider divider--md"></div>
            <h5 style = "line-height:1.6875">Please call us to get an accurate price which depends on your motorcycle model and type of flash</h5>
            <h5 style = "line-height:1.6875"><span class = "text-danger" style = "color:#dc0400">Disclaimer:  This product is for RACE USE ONLY.  (Intended for Track Use - Not Street Legal). <br>ECU's cannot be restored to factory default once performed.</span></h5>
            <h5 style = "line-height:1.6875">Looking for a good deal this month? Check out our <a class = "text-info" href = "https://sites.google.com/view/motorhelmets/about/monthly-specials">Monthly Specials</a></h5>
          </div>
        </div>
        <div class = "col-12 col-sm-12 col-md-5 col-lg-5" >
          <div class = "row">
            <div class = "ecu-image-holder">
              <img class = "img-responsive ecu-image" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash4-032320.jpg?v=1584945034">
            </div>
          </div>
        </div>
        <div class = "divider divider--xxs"></div>
        <hr>

      </div>
    </div>
  </div>
  <div class = "ecu-flash-results container">
    <div class = "row">
      <h1 class = "w-100 text-center" style = "color:#000">Motorcycle ECU Flash Service</h1>
      <h4 class = "w-100 text-center" style = "color:#000">(Examples of Performance Enhancement)</h4>
      <div class = "divider divider--xs"></div>
      <div class = "col-lg-6">
        <h3 style = "color:#000">Yamaha R1 2009-14</h3>
        <ul>
          <li>Optimize fuel curves across all gears (same as a Power Commander)</li>
          <li>Optimize ignition curves across all gears (remove ignition timing restrictions)</li>
          <li>Remove throttle plate restrictions (from the factory the throttle plates only open to 85% which reduces the horsepower by 9-11 hp)</li>
          <li>Reset radiator fan turn on/off temperature (205/195)</li>
          <li>Disable fuel cut (this reduces engine braking and smoothes off/on throttle transition)</li>
          <li>Disable Pair valve</li>
          <li>Disable Steering damper</li>
          <li>Default to A mode at start-up</li>
          <li>Disable tip over switch</li>
          <li>Change velocity stack switch point</li>
        </ul>
      </div>
      <div class = "divider divider--md1 hidden-lg"></div>
      <div class = "col-lg-6">
        <h3 style = "color:#000">Yamaha R6 2008-2016</h3>
        <ul>
          <li>Optimize fuel curves across all gears (same as a Power Commander)</li>
          <li>Optimize ignition curves across all gears (remove ignition timing restrictions)</li>
          <li>Remove throttle plate restrictions (from the factory the throttle plates only open to 85% which reduces the horsepower by 5-7 hp)</li>
          <li>Reset radiator fan turn on/off temperature (205/195)</li>
          <li>Disable fuel cut (this reduces engine braking and smoothes off/on throttle transition)</li>
          <li>Disable exhaust valve</li>
          <li>Disable pair valve</li>
        </ul>
        <div class = "divider divider--md"></div>
         <h5 class = "text-danger" style = "color:#dc0400; line-height:26px;">Disclaimer:  This product is for RACE USE ONLY.  (Intended for Track Use - Not Street Legal). <br>ECU's cannot be restored to factory default once performed.</h5>

      </div>
    </div>

  </div>
  <hr class = "container">
  <div class = "container">
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <div class = "row">
        <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-032320.jpg?v=1584942616">
      </div>
    </div>
    <div class = "divider divider--sm visible-sm visible-xs"></div>
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <div class = "row">
        <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash1-032320.jpg?v=1584942616">
      </div>
    </div>
    <div class = "divider divider--sm visible-sm visible-xs"></div>
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <div class = "row">
        <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash2-032320.jpg?v=1584942616">
      </div>
    </div>
    <div class = "divider divider--sm visible-sm visible-xs"></div>
    <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-3">
      <div class = "row">
        <img class = "img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash3-032320.jpg?v=1584942616">
      </div>
    </div>
  </div>
  <div class = "container FAQ-section">
    <div class = "row">
      <div class = "frequently-asked-questions col-lg-6">
        <h1>Frequently Asked Questions</h1>
        <!--         <h5 class = "text-danger" style = "color:#dc0400">Disclaimer:  This product is for RACE USE ONLY.  (Intended for Track Use - Not Street Legal).  ECU's cannot be restored to factory default once performed.</h5> -->
        <h5>Q: What is the price range on getting my ECU flashed?</h5>
        <p>A: Price start at $150 and can be as much as $350 (Labor and Custom Maps are available at additional prices)</p>
        <h5>Q: What is the Turnaround time on getting my ECU flashed?</h5>
        <p>A: As little as 2hrs to 48hrs depending on service queue.  Please make an appointment for the fastest service.  <br>Email us at motoservice@motorhelmets.com | Call - 714-879-8180 during our business hours.</p>
        <h5>Q: How much horsepower increase can I expect from the ECU Flash?</h5>
        <p>A: Most bikes will get between 10%-20% horsepower increase.</p>
        <h5> Q: Where is my ECU located on my Motorcycle?</h5>
        <p>A: It can be located in different locations, depending on the make / model of your motorcycle.</p>
        <h5>Q: Can an ECU Flash repair my ECU?</h5>
        <p>A: No.  If your ECU is bad or faulty, we will not be able to flash it.</p>
        <div class = "divider divider--lg"></div>
        <h5 class = "text-danger visible-lg" style = "color:#dc0400; line-height:26px;">Disclaimer:  This product is for RACE USE ONLY.  (Intended for Track Use - Not Street Legal). <br>ECU's cannot be restored to factory default once performed.</h5>

      </div>
      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <div class = "ecu-availability-table">
          <div class = "ecu-availability-bg-color">
            <h1>ECU Flash Available For</h1>
            <ul class="nav nav-tabs">
              <li role="presentation" class="availability-selector active" data-selected-table = "yamaha-motorcycles"><a href="javascript:void(0)">Yamaha</a></li>
              <li role="presentation" class="availability-selector" data-selected-table = "suzuki-motorcycles"><a href="javascript:void(0)">Suzuki</a></li>
              <li role="presentation" class="availability-selector" data-selected-table = "kawasaki-motorcycles"><a href="javascript:void(0)">Kawasaki</a></li>
              <li role="presentation" class="availability-selector" data-selected-table = "honda-motorcycles"><a href="javascript:void(0)">Honda</a></li>
            </ul>
            <div class="table-responsive">
              <table class="table table-hover">
                <tbody class = "ecu-availability honda-motorcycles">
                  <tr>
                    <td>1.) 17-18 CBR100ORR</td>
                  </tr>
                </tbody>
                <tbody class = "ecu-availability kawasaki-motorcycles">
                  <tr>
                    <td>1.) 18 EX400</td>
                  </tr>
                  <tr>
                    <td>2.) 13-17 EX300</td>
                  </tr>
                  <tr>
                    <td>3.) 15-18 H2</td>
                  </tr>
                  <tr>
                    <td>4.) 08-09 ZG1400</td>
                  </tr>
                  <tr>
                    <td>5.) 08-19 ZX10</td>
                  </tr>
                  <tr>
                    <td>6.) 06-17 ZX14</td>
                  </tr>
                  <tr>
                    <td>7.) 03-18 ZX6, 636</td>
                  </tr>
                </tbody>
                <tbody class = "ecu-availability suzuki-motorcycles">
                  <tr>
                    <td>1.) 07-10, 17-18 SV650</td>
                  </tr>
                  <tr>
                    <td>2.) 15 SFV650</td>
                  </tr>
                  <tr>
                    <td>3.) 15-18 GSXS 750</td>
                  </tr>
                  <tr>
                    <td>4.) 15-18 GSXS 1000</td>
                  </tr>
                  <tr>
                    <td>5.) 04-18 GSXR 600</td>
                  </tr>
                  <tr>
                    <td>6.) 04-18 GSXR 750</td>
                  </tr>
                  <tr>
                    <td>7.) 03-18 GSXR 1000</td>
                  </tr>
                  <tr>
                    <td>8.) 02-16 GSX 1300 R</td>
                  </tr>
                </tbody>
                <tbody class = "ecu-availability yamaha-motorcycles">
                  <tr>
                    <td>1.) 09-16 YFZ-450</td>
                    <td class = "hidden-xs">9.) 06-14 FZ-1</td>
                  </tr>
                  <tr>
                    <td>2.) 16-19 YXZ-100OR</td>
                    <td class = "hidden-xs">10.) 17-18 FZ-10/MT-10</td>
                  </tr>
                  <tr>
                    <td>3.) 18-19 Wolverine X2/X4</td>
                    <td class = "hidden-xs">11.) 12-16 XT1200 Super Tenere</td>
                  </tr>
                  <tr>
                    <td>4.) 15-18 FZ-07/MT-07/XSR-07</td>
                    <td class = "hidden-xs">12.) 09-16 VMax</td>
                  </tr>
                  <tr>
                    <td>5.) 11-13 FZ-8</td>
                    <td class = "hidden-xs">13.) 15-18 YZF-R3</td>
                  </tr>
                  <tr>
                    <td>6.) 15-19 FJ-09</td>
                    <td class = "hidden-xs">14.) 06-17 YZF-R6</td>
                  </tr>
                  <tr>
                    <td>7.) 14-17 FZ-09/MT-09</td>
                    <td class = "hidden-xs">15.) 07-18 YZF-R1</td>
                  </tr>
                  <tr>
                    <td>8.) 16-17 XSR900</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td class = "visible-xs">9.) 06-14 FZ-1</td>
                  </tr>
                  <tr>
                    <td class = "visible-xs">10.) 17-18 FZ-10/MT-10</td>
                  </tr>
                  <tr>
                    <td class = "visible-xs">11.) 12-16 XT1200 Super Tenere</td>
                  </tr>
                  <tr>
                    <td class = "visible-xs">12.) 09-16 VMax</td>
                  </tr>
                  <tr>
                    <td class = "visible-xs">13.) 15-18 YZF-R3</td>
                  </tr>
                  <tr>
                    <td class = "visible-xs">14.) 06-17 YZF-R6</td>
                  </tr>
                  <tr>
                    <td class = "visible-xs">15.) 07-18 YZF-R1</td>
                  </tr>
                </tbody>
              </table>
              <p>Call us if you don’t see you Motorcycle listed above.  We update our availability of bikes available for tuning.</p>
            </div>
          </div>
        </div>
      </div> 
      <div class = "divider divider--lg"></div>
       <h5 class = "text-danger hidden-lg" style = "color:#dc0400; line-height:26px;">Disclaimer:  This product is for RACE USE ONLY.  (Intended for Track Use - Not Street Legal).  <br>ECU's cannot be restored to factory default once performed.</h5>
    </div>
    
  </div>
  <div class = "divider divider--md1"></div>
  <div class = "container">
    <div class = "row">
      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <h1 class = "ecu-sub-title">What is Motorcycle ECU Tuning in 5 Seconds...</h1>
        <p>The Engine Control Module or Engine Control Unit (ECU) controls the motorcycle engine, similar to a CPU in a computer or a Computer Bios, motorcycle manufacturers set specific "limitations" and restrictions on their motorcycle make or model in order to keep their bikes safe. </p>
        <p>Our service will allow us to remove these "restrictions" and "overclock" the motorcycle engine to perform better, faster and smoother.  Many times these restrictions are artificial based on model and make, so we allow the motorcycle engine abilities to be fully utilized w/o restriction. </p>
        <p>In the same way you can "overclock" a computer CPU, our ECU Service can also "overclock" or unleash the full power of the motorcycle engine. </p>
        <p>The process requires us to remove the ECU chip from the motorcycle, reprogram it, and then plug it back in. </p>
        <div class = "divider divider--md"></div>
        <p>Make your appointment today at Motorhelmets in Fullerton CA / Orange County to get your sport bike Flashed Tuned!  We are your premier motorcycle shop in Los Angeles and Orange County California.</p>
        <p style = "color: darkgrey;font-size: 80%;"><small><i>Motorcycle ECU, Motorcycle ECU Flash, Motorcycle Dyno Tune, Motorcycle Service, Motorcycle Racing Setup, Motorcycle Race Track Prep,  ECU Flashing, Motorcycle Flash, ECU Installation, ECU Upgrade, ECU Tuning, Motorcycle tuning, motorcycle engine tune, motorcycle engine flash</i></small></p>
      </div>
      <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-6">
        <picture>
          <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-032120.jpg?v=1584776756" />
          <source type="image/jpeg" srcset="https://cdn.shopify.com/s/files/1/1223/6434/files/ecu-flash-032120.jpg?v=1584776756" />
          <!--[if IE 9]></video><![endif]-->
          <img style =  "border-radius: 10px;" class = "img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/ECU_Flash_Graphics_05.jpg?51502" alt="ECU Flash Services banner">
        </picture>
      </div>
    </div>
  </div>
  <hr class = "container">
</section>

      <div class="divider divider--lg"></div>
      <div class="row text-center">
          <a href="https://bit.ly/mhsched" style="text-decoration:none!important;display:inline-block;">
            <h1 class="text-center home_title" style="font-size:30px!important;padding-bottom:9px;margin-bottom:0;">Schedule Your Service Online</h1>
            <img class="img-responsive hidden-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/calendar-icon-NEW-black.png?v=1614929707" alt="Schedule Your Service Online" title="Schedule Your Service Online" style="width:40%;height:40%;margin:0 auto;padding:0;">
            <img class="img-responsive visible-xs" src="https://cdn.shopify.com/s/files/1/1223/6434/files/calendar-icon-NEW-black.png?v=1614929707" alt="Schedule Your Service Online" title="Schedule Your Service Online" style="width:50%;height:50%;margin:0 auto;padding:0;">
         </a>
      </div>
      <div class="divider divider--xl"></div>
      <div class="hidden-xs divider divider--md"></div>


<section class = "photoblog container">

  <h1 class = "text-center">Checkout Our <a href = "https://sites.google.com/view/motorhelmets/" class = "text-info">Photoblog</a></h1>
  <div class = "divider divider--lg"></div>
  <div class = "col-12">
    <div class = "row">
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-1.jpg?49750"></a>
      </div>
      <div class = "divider divider--sm visible-xs visible"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-2.jpg?49750"></a>
      </div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-3.jpg?49750"></a>
      </div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "divider visible-sm"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-4.jpg?49750"></a>
      </div>
      <div class = "divider visible-md"></div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2 hidden-md">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-5.jpg?49750"></a>
      </div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2 hidden-md">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-6.jpg?49750"></a>
      </div>
    </div>
    <div class ="divider hidden-xs hidden-sm hidden-md"></div>
    <div class = "row">
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "divider visible-sm"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2 visible-md">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-5.jpg?49750"></a>
      </div>

      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2 visible-md">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-6.jpg?49750"></a>
      </div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-7.jpg?49750"></a>
      </div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-8.jpg?49750"></a>
      </div>
      <div class = "divider visible-md"></div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-9.jpg?49754"></a>
      </div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "divider visible-sm"></div>

      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-10.jpg?49754"></a>
      </div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-11.jpg?49760"></a>
      </div>
      <div class = "divider divider--sm visible-xs"></div>
      <div class = "col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <a href = "https://sites.google.com/view/motorhelmets/photoblog"><img class = "img-responsive center-block" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/photoblog-12.jpg?49760"></a>
      </div>
    </div>
  </div>
</section>