{{ 'font.futura-pt.css' | asset_url | stylesheet_tag }}
{{ 'page.size.charts.style.css' | asset_url | stylesheet_tag }}
<div style="" class="container" >
<div class="size_chart_labels"><h2 class="text-center text-uppercase title-under" style="color: rgb(0, 0, 0);">{{ page.title }}</h2></div>

  {% assign thispage = page.handle %}
  {% if thispage == "oakley-information" %}
  	{% include "page.wall-info-oakley" %}
  {% endif %}
  {% if thispage == "troy-lee-desings-information" %}
  	{% include "page.wall-info-troyleedesigns" %}
  {% endif %}
  {% if thispage == "dc-information" %}
  	{% include "page.wall-info-dc" %}
  {% endif %}
   {% if thispage == "billabong-information" %}
  	{% include "page.wall-info-billabong" %}
  {% endif %}
  
</div>


<script>
  jQuery(function($) {
    var rowinfoHeight = 72; //.row-info height + paddingtop + paddingbottom
    if ($j('.row-info').height() > rowinfoHeight){
      $j('.row-info').css('height', rowinfoHeight+'px');
      $j('.row-info .bi-content-hide').css('opacity', '0');
      $j('.row-info .bi-content-hide').css('display', 'none');
    } else {
      $j('.row-info bi-content-hide').css('opacity', '1');
      //         $j('.row-info .bi-content-hide').css('display', 'block');
    }


    $j('.bi-row-title').click(function () {
      if ($j(this).parent().outerHeight() == rowinfoHeight){

        $j(this).parent().animate({height: '100%'}, 500);
        $j(this).parent().find('.bi-content-hide').css('opacity', '1');
        $j(this).parent().find('.bi-content-hide').show();
        $j(this).parent().find('.bi-row-title i').text('keyboard_arrow_down');

      } else {

        $j(this).parent().animate({height: rowinfoHeight+'px'}, 500);
        $j(this).parent().find('.bi-content-hide').css('opacity', '0');
        $j(this).parent().find('.bi-content-hide').hide(1000);
        $j(this).parent().find('.bi-row-title i').text('keyboard_arrow_right');

      }

      //         $(this).text(function(i, v){
      //           return v === 'Read More..' ? 'Hide' : 'Read More..';
      //         });
    });

    $j('#oakley_tab a').click(function (e) {
      e.preventDefault();
      $j(this).tab('show');
    });
    $('#oakley_tab a:first').tab('show');
  });
</script>