{{ 'njohn-comparison-products-style.css' | asset_url | stylesheet_tag }}
{{ 'popup-comparison-products.css' | asset_url | stylesheet_tag }}
<div class="container">
    <div class="title-box">
    	<h2 class="text-center text-uppercase title-under">Product Comparison</h2>
    </div>
	<div class="nj_products_comparison" style="display:none;">
		<div class="nj_products_comparison_empty" style="">
			<span>There are no items in your product comparison.</span>
			<span>To add an item, browse for a product and choose Compare Product.</span>
            <p><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/moto-compare-icon.jpg?14082672630093497200" style="margin: 0 auto;" /></p>
			<a href="/">Return Home</a>
			<a href="/collections/whats-new">Shop Now</a>
		</div>
	</div>
	<div class="nj_products_comparison_table" style="display:none;">
		<!--div nj="filter">
			<button nj="btn1">Reset</button>
			<button nj="btn2">Filter</button>
		</div-->
<!-- 		<table class="table table-bordered table-fixed">
			<thead>
			</thead>
			<tbody id="comparison-table">
				<tr id="my_image"></tr>
				<tr id="my_title"></tr>
				<tr id="my_total_color"></tr>
				<tr id="my_price"></tr>
				<tr id="my_brand"></tr>
				<tr id="my_description"></tr>
				<tr id="my_functions"></tr>
			</tbody>
		</table> -->
      
      <div class="compare-container">
        <div></div>
      </div>
      
	</div>
</div>
{{ 'njohn-comparison-products-main.js' | asset_url | script_tag }}