 {{ 'tld-manual.css' | asset_url | stylesheet_tag }}

 <section class="breadcrumbs">
      	 <div class="container breadcrumbs-no-line">
         <ol class="cd-breadcrumb triangle pull-left">
           <li><a href="/"><i class="simple-icon simple-icon-home"></i></a></li>
           <li><a href="/pages/troy-lee-designs-store-wall"><span>Troy Lee Designs</span></a></li>
            <li class ="current"><a href="/pages/troy-lee-designs-se3-helmets-manual"><span>SE-3 Helmet Manual</span></a></li>
           </ol>
   </div>
</section>

<div class = "container">

  
  <img class = "img-responsive" src= "https://cdn.shopify.com/s/files/1/1223/6434/files/Troy_Lee_Designs_SE3_Manual_Banner-min.jpg?15039456079709362815">

  <hr class ="faded-hr">

  <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class = "row">
      <p class ="page-info-description">The SE3 MX helmet utilizes innovative features that set it apart from the norm. Highly developed off-road materials and processes, advanced composites and hardware along with systems and designs exclusive to TLD keep you protected in the most critical moment. The Troy Lee Designs SE3 helmet is an essential piece of head protection for todays motocross racer.</p>
    </div>
  </div>


  <div class = "col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class = "row">

      <hr class ="faded-hr">
      <img class = "img-responsive center-block hidden-xs hidden-sm" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Troy_Lee_Designs_SE3_Features-2-min.jpg?4311555576443035982">
      <img class = "img-responsive center-block visible-xs visible-sm hidden-md" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Troy_Lee_Designs_SE3_Feature-mobile-1-min.jpg?14861542552812409127">
      <img class = "img-responsive center-block visible-xs visible-sm hidden-md" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/Troy_Lee_Designs_SE3_Feature-mobile-2-min.jpg?14861542552812409127">
      <div class = "divider divider--sm"></div>
      <hr class ="faded-hr">
      <h3>FEATURES:</h3>
      <div class = "col-sm-5 col-md-5 col-lg-5">
        <div class ="row">
          <ol class ="features" start = "1">
            <li>Exclusive, multi-level internal ventilation system and our "Thermal Crown Cooling-Exhaust Chamber" is built into the eps liner and inner shell to channel air throughout the inside of the helmet, keeping your head cool even under the most extreme riding conditions. </li>
            <li>Air ram top scoop intake that forces freesh air into the top of the helmet.</li>
            <li>Low-pressure back vents work in conjunction with the top and front high-pressure air scoops by actually pulling hot air out of the back of the helmet.</li>
            <li>New aggressively styled mouthpiece which allows more air while providing excellent facial roost protection.</li>
            <li>Super impact-absorbing, dual-density, molded EVA chin bar liner adds protection and style detail.</li>
            <li>Distinctive style lines designed and built into the shell provide a guide to keep your goggle strap in place.</li>
            <li>Ultra high-tech moisture-absorbing comfort liner and cheek pads are removable and washable. They are made with CoolMax&reg; and DRI-LEX&reg; for maximum comfort.</li>
            <li>Removable and replaceable mouthpiece and nose guard.</li>
          </ol>
        </div>
      </div>
      <div class = "col-sm-5 col-md-5 col-lg-5 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
        <div class ="row">
          <ol class ="features" start="9">

            <li>Aerospace titanium cross-top and ergonimically designed tri-star visor adjustment screws for easy visor placement.</li>
            <li>Includes 2 new Vortext&trade; visors with shell-matching graphics.</li>
            <li>Quick release cheek pads for emergency helmet removal.</li>
          </ol>
          <div class ="divider divider--xs"></div>

          <ul class="dashed">
            <li>Includes an all new SE-3 helmet bag.</li>
            <li>The SE-3 helmet is available in sizes: X-Small, Small, Medium, Large, X-Large and XX-Large.</li>
            <li>Includes a 3 year limited warranty.</li>
            <li>World famous TLD graphics.</li>
            <li>Aerospace composite fiberglass shell with carbon fiber and Kevlar&reg; reinforcements integrated into key areas of shell's lay-up.</li>
            <li>Leading-edge styling with ultra high-performance in mind.</li>
            <li>CERTIFICATIONS:<br>
              SNELL M2010, DOT FMVSS 218, CE 22.05</li>
          </ul>
        </div>
      </div>

    </div>
    <hr class ="faded-hr">
    <div class ="col-sm-6 col-md-6 col-lg-6">
      <img class ="product-features img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_SE3-feature-1-min.jpg?14900130447967579948">
      <h3>DUAL DENSITY EPS LINER</h3>
      <p style = "text-align:justify">With the introdudction of the SE-3 helmet, Troy Lee Designs has developed a Dual Density two piece EPS impact absorbing liner. This state of the art advancement greatly improved the ability to fine tune the energy absorbing aspects and performance of the helmet. These new SE-3 helmet models with Dual Density liners have prove to perform so well that they exceed the latest motorcycle helmet certification standards including the most extreme Snell M2010 standard.</p>
    </div>
    <div class ="col-sm-6 col-md-6 col-lg-6">
      <img class ="product-features img-responsive" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_SE3-feature-2-min.jpg?14900130447967579948">
      <h3>DUAL DENSITY SHOCK PAD SYSTEM</h3>
      <p style = "text-align:justify">Troy Lee Designs is excited to introduce an important advancement in impact management, the exclusive Troy Lee Designs Dual Density Shock Pad System. The use of strategically positioned Multi Impact Shock Pads on the inside surface of the EPS liner provides a primary impact material of lower density than the deeply channeled EPS liner. This advanced shock pad layer provides low speed impact absorption and a noticeable improvement in comfort and durability, for irritating and frequent lighter hits that might otherwise cause damage to the delicate single impact EPS liner. The newly developed Shock Pad System can help absorb many small impacts.</p>
    </div>
    <div class ="divider divider--md"></div>


    <img class ="product-features img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_SE3-feature-3.jpg?4339275130666847450">
    <img class ="img-responsive visible-xs hidden-sm" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_SE3-feature-3-mobile-1-min.jpg?15976029586638228402">
    <img class ="product-features img-responsive visible-xs hidden-sm" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_SE3-feature-3-mobile-2-min.jpg?15976029586638228402">

    <h3>MULTI LEVEL INTERNAL VENTILATION SYSTEM</h3>
    <p style = "text-align:justify">Our exclusive multi level internal ventilation system utilizes different locations, pressures, and volumes of air (pushed and pulled) through 12 intake and 4 large exhaust vents. Over 8 square inchyes of intake area and 14 internal channels ensure plenty of fresh air enters and flows through the helmet. The large rear exhaust vents work in conjunction with the shell shape, by actually creating a low pressure area behind the helmet, therefore drawing hot air out to provide an extremely efficient ventilation system.</p>
    <div class ="divider divider--md"></div>
    <div class ="col-sm-12 col-md-6 col-lg-6">
      <ol>
        <li><h5>COOL AIR, HIGH PRESSURE TOP SCOOP:</h5>At speed, this scoop forces cool air to the top of the head.</li>
        <br>
        <li><h5>HOT AIR EXHAUST VENTS:</h5>Shell design create a low pressure area at the rear of the helmet thus drawing out the hot air from inside the helmet.</li>
      </ol>
    </div>

    <div class ="col-sm-12 col-md-6 col-lg-6">
      <ol start = "3">
        <li><h5>COOL AIR, HIGH VOLUME FOREHEAD INTAKE:</h5>Strategically placed, allowing huge amounts of fresh air in, to cool the entire head.</li>
        <br>
        <li><h5>FREE-FLOW FACE VENTS:</h5>Allows fresh air to reach the face, and helps prevent goggle fogging.</li>
      </ol>
    </div>

    <div class ="divider divider--md"></div>
    <hr class ="faded-hr">

    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3 class ="text-danger">WARNING</h3>
      </span>
      <ol class ="features-3" start ="1">
        <li>No helmet can protect the wearer against all impacts or injuries, nor is it possible to predict if a helmet will protect you in any given accident. Head protection is complicated and is beyond the scope of this manual. The function of the helmet is to reduce the chance or severity of a head injury in an accident. The helmet will not protect the parts of your head that are not covered and will not protect your neck or spine from injury. It will not protect you against head injuires that are not caused by impacts, such as shaking or vibration. For maximum head protection, the helmet must be of a proper fit and the retention system [straps] must be securely fastened under the chin. Failure to ensure a proper fit and securely fasten the helmets is dangerous as the helmets could come off or slip into an improper position in an accident resulting in severe head or neck injury or death.</li>
        <li>A helmet, like all products, may wear out over time depending upon its use and the amount of care that it is given. Please check your helmet every time before use for damage and do not use a damaged helmet. Snell and Troy Lee Designs recommends retiring a helmet after THREE(3) years from purchase even if there is no visible damage or defect. With hard or frequent use this time may be reduced. Even with minimal use, a helmet is affected by things like the acids and oils in sweat, hair care products, pollution, exposure to UV rays, corrosive dirt or mud, being tossed around, etc. Of course, if your helmet becomes less than snug in fit, or damaged, it should be replaced before the three year mark. Replacing your helmet every 3 years allows you to take advantage of advances in helmet design and construction.</li>
        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Warning_Image-min.jpg?15282416542026258410" style= "margin:5px 0px; width:100%">
        <li><img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Warning_Image-min.jpg?15282416542026258410" style= "margin:5px 0px 5px 10px; float:right; width:55%">Helmets are designed to absorb ONE impact. After your helmet has been involved in one impact you must destroy it and replace it. Your helmet is designed to distribute the localized force of an impact over a larger area on the helmet. Even if your helmet looks undamaged its useful life is finished after one impact and will no longer provide the protection in an accident. With a sufficient impact, the helmet's impact absorbing liner (EPS or "expanded polystyrene") becomes compacted. Once this has happened, the helmet no longer has the ability to absorb further impacts and protect your head. If you have any doubts for example, if you drop your helmet or if it is hit by something and you are not sure if the impact was sufficient to damage the helmet contact Troy Lee Designs before you use the helmet again.</li>
        <li >Never modify your helmet. It is very dangerous to drill holes or cut the shell and/or the shock absorption liner. Modifications can seriously weaken the helmet. Modifying the retention system weakens it, and may render the helmet useless in an accident. Removing parts such as the mouth guard or rubber edge trim can expose edges, which may injure you in an accident. Never sand or paint the ouside of the helmet. Always use approved Troy Lee Designs parts when replacing visors, screws, pads, or any other part. A weakened helmet will not provide head protection.</li>
      </ol>
    </div>
    <div class ="col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>GENERAL WARNINGS/SAFETY RECOMMENDATIONS</h3>
      </span>
      <div class ="divider divider--md visible-xs visible-sm"></div>
      <ol class ="features-3" start ="5">
        <li>Always check your helmet before use. Check your visor screws and tighten if necessary. Check for cracks in the helmets. If you find cracks or damage, stop using the helmet immediately. Plastic components may start to wear out before 5 years from purchase. If you find deterioration in any part of a component, either replace that component or get a new helmet. If these parts come loose and/or fall off while you're riding, your vision may be blocked resulting in serious personal injury or death. Check the security of the retention system and always make sure that the comfort liner and the cheek pads are attached before you use the helmets.</li>
        <li>Do not purchase used helmets or any used parts for the helmet. Do not sell your helmet.</li>
        <li>Do not wear anything between helmet and head.</li>
        <li>Never allow others to use your helmet and do not use someone else's helmet.</li>
        <li>Helmet may reduce hearing. Be aware of your environment.</li>
        <li>Ride responsibly and do not take extra risks just because you are wearing a helmet.</li>
        <li>Do not hang or hook your helmet on anything. It may cause damage to helmet, reducing the effectiveness of helmet's protection.</li>
        <li>Do not drop your helmet on a hard surface. Doing so could permanently damage it. If unsure whether you have damaged the helmet, contact Troy Lee Designs.</li>
        <li>Never mount any rigid objects to the inside or outside of your helmet other than those sold by Troy Lee Designs. Doing so can weaken the helmet or cause injuries to you in an accident by increasing the force on the helmet or the object could become a projecticel.</li>

      </ol>
    </div>
    <div class ="divider divider--md"></div>
    <hr class="faded-hr">
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>FOLLOW THESE 10 STEPS TO ENSURE A PROPER FIT</h3>
      </span>
      <ol class ="features-3" start ="1">
        <li>Fasten the chinstrap as tight as possible without causing you pain, restricting your ability to talk, or limiting your ability to open your mouth or swallow freely.
          There must be no slack in the strap and it must be tight against your neck.</li>
        <li>Check whether the helmet inner lining fits snugly all around your head.</li>
        <li>Check whether the top pad presses closely on the top of your head.</li>
        <li>Check whether the cheek pads are in contact with your cheeks.</li>
        <li>Check to make sure there is no space around your brow under the lining where you can insert your fingers.</li>
        <li>With the chin strap secured, put your hands flat on the back of the helmet and try and push the helmet off by rotating it forward.</li>
        <li><img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_helmet-fit-a-min.jpg?12888954646654668222" style= "margin:5px 0px 5px 10px; float:right; width:55%">Next, put your hands on the front of the helmet above your forehead (or on the chin guard) and try to push the helmet off by rotating it toward the rear. (See Figure. A)</li>
        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_helmet-fit-a-min.jpg?12888954646654668222" style= "width:100%">
        <li>If the helmet starts to come off in either the forward or rearward direction, do not use the helmet. Either the helmet is too large for you, or the chinstrap is not tightened enough.</li>
        <li><img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_helmet-fit-B-min.jpg?12888954646654668222" style= "margin:5px 0px 5px 10px; float:right; width:55%">Now, take hold of the helmet with a hand on each side. Without moving your head, try to move the helmet up and down and side to side. You should feel the skin of your head and face being pulled as you try to move the helmet. (See Fig. B)</li>
        <img class = "img-responsive  hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_helmet-fit-B-min.jpg?12888954646654668222" style= "width:100%">
        <li>If you can move the helmet around easily, it is too big. Try a smaller size.</li>
      </ol>
    </div>
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>SIZING AND FIT</h3>
      </span>
      <h5>DETERMINING THE BEST SIZE</h5>
      <ol class ="features-3" start ="1">
        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_measurement-min.jpg?6210934986609319117" style= "width:100%">
        <li><img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_measurement-min.jpg?6210934986609319117" style= "margin:5px 0px 5px 10px; float:right; width:55%">Measure your head size. Wrap a tape measure horizontally around your head at a height of about one inch (2.5cm) above your eyebrows and even with the tops of your hears to obtain largest measurement.</li>
        <li>Using the size chart below, select the helmet that is closest to your head size, i.e. "Large" helmet is best for head sizes(hat) 7&frac14; to 7&frac38;; (CM) 58-59; (Inches) 22 &frac78; - 23 &frac14;. The chart is just a guid to give you an idea of head/helmet sizing, it is not a substitute for trying the helmet on and using the steps below.</li>    
      </ol>
      <h5>TRYING THE HELMET ON</h5>
      <ol class ="features-3" start ="3">
        <li>Firmly grip chin straps and expand the helmet opening by pulling the straps outward and then slide the helmet onto your head. Pull the chin straps only, not the chin strap covers. Pulling the covers may tear them. If the helmet is not tight, it is too big for you. Even if you feel it is difficult to put it on, please use the smallest helmet possible. You should feel a snug fit.</li>
      </ol>

      <div class="table_responsive" style="overflow: auto;">
        <table class="table table-striped table-bordered">
          <thead>
            <tr>
              <th colspan="7"><center>SPEED EQUIPMENT-3 HELMET SUGGESTED SIZING CHART</center></th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>XS</td>
              <td>S</td>
              <td>M</td>
              <td>L</td>
              <td>XL</td>
              <td>XXL</td>

            </tr>
            <tr>
              <td>HAT</td>
              <td>6&frac34; - 6&frac78;</td>
              <td>6&frac78; - 7</td>
              <td>7&frac18; - 7&frac14;</td>
              <td>7&frac14; - 7&frac38;</td>
              <td>7&frac12; - 7&frac58;</td>
              <td>7&frac34; - 7&frac78;</td>
            </tr>
            <tr>
              <td>CM</td>
              <td>54-55</td>
              <td>55-56</td>
              <td>57-58</td>
              <td>58-59</td>
              <td>60-61</td>
              <td>62-63</td>
            </tr>
            <tr>
              <td>Inches</td>
              <td>21.3-21.7</td>
              <td>21.7-22</td>
              <td>22.4-22.8</td>
              <td>22.8-23.2</td>
              <td>23.6-24</td>
              <td>24.4-24.8</td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>
    <div class ="divider divider--md"></div>
    <hr class="faded-hr">
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>VISION AND EYE PROTECTION</h3>
      </span>
      <ol class ="features-3" start ="1">
        <li>Always check for adequate vision, especially your
          peripheral vision.
          For example, when helmets are used'in
          conjunction with goggles or other eye coverings,
          vision restrictions can occur. Make sure for street
          use your motorcycle or off road vehicle is equipped
          with left and right mirrors, and use them for peripheral vision ana to enhance your forward vision of
          traffic and other riding hazards. It is the responsibility of each user to insure that he or she can see
          adequately with the helmet on prior to using it.
          Never use a helmet or eye protection that
          restricts your vision and inhibits your ability to
          safely operate your vehicle. Failure to use proper
          eye protection can cause an accident and result
          in serious injury or death.</li>
      </ol>
      <h4>ALWAYS WEAR GOGGLES WHILE RIDING</h4>
      <ol class ="features-3" start ="2">
        <li>
          All Troy Lee Designs helmets are designed for
          use with eye protection. If eye protection is not
          provided with the helmet, it is your responsibility
          to obtain eye protection and use it. Tinted face
          shields, goggles, or other forms of eye protection
          should not be used at night or under other
          conditions of poor visibility. Lenses damaged by
          scratches (or dirty lenses) will reduce visibility,
          especially at nignt or in low light or bright
          conditions and should be replaced. Petroleum
          products and other solvents may impair the
          optical properties and reduce the mechanical
          strength of shields and goggles.</li>

      </ol>
    </div>
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>USING YOUR CHIN STRAPS</h3>
      </span>
      <ol class ="features-3" start ="1">
        <li>
          Tightening the chin strap correctly is extremely important. If your chin strap
          is loose, the shock of an impact may knock your helmet off, leaving your
          head completely unprotected. Do not use a helmet that can be rolled off
          the head with the chin strap fastened, since it may come off in an accident,
          resulting in death or serious personal injuries. Do not use a chin cup or wear
          the strap on the end of the chin. If the chin strap is not in the proper position
          (well under your chin next to your throat) or used properly, the helmet may
          come off in an accident, resulting in death or serious personal injuries.</li>
        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-a-min.jpg?15922359409738992290" style= "width:100%">
        <li style ="margin-top:30px;">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-a-min.jpg?15922359409738992290" style= "margin:5px 0px 5px 10px; float:right; width:25%">To securely fasten the D ring retention system, thread the end of the chin
          strap through the D rings only as shown in figure (A) and pull it tight
          against your throat figure (B).</li>

        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-b-min.jpg?15922359409738992290" style= "width:100%">
        <li class = "chin-list">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-b-min.jpg?15922359409738992290" style= "margin:5px 0px 5px 10px; float:right; width:25%">Spread rings apart and loop strap back through gap and under first ring as
          shown in figure (B) Again pull strap tight on neck that tension is snug against
          throat but not to restrict breathing.</li>
        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-c-min.jpg?15922359409738992290" style= "width:100%">
        <li class = "chin-list">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Chinstrap-fig-c-min.jpg?15922359409738992290" style= "margin:5px 0px 5px 10px; float:right; width:25%">Fasten the chin strap end snap on the D ring side as shown in figure (C)
          to secure the loose end of the chin strap with the red snap after completion
          of step one.</li>
        <li> During use occasionally make sure that the strap does not come loose while
          you ride.</li>
      </ol>
    </div>
    <div class ="divider divider--md"></div>
    <hr class="faded-hr">
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>VISOR ADJUSTMENT, REMOVAL AND REPLACEMENT</h3>
      </span>
         <p  style = "margin-top:30px;"><b style ="color:red">WARNING:</b> Visor can fracture under impact or in an accident.
        Do not use a helmet with a broken visor. Always
        wear eye protection. Only use a TLD approved visor
        and visor hardware on your helmet</p>     
      <h4>REMOVAL:</h4>
      <ol class ="features-3" start ="1">

        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_visor-instruction-min.jpg?9721464266433271230" style= "width:100%">
        <li style ="margin-top:30px;">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_visor-instruction-min.jpg?9721464266433271230" style= "margin:5px 0px 5px 10px; float:right; width:55%">To securely fasten the D ring retention system, thread the end of the chin
         	Remove side screws first then remove center hand screw.</li>
      </ol>
      <h4>INSTALLATION:</h4>
      <ol class ="features-3" start = "1">
        <li>Before installation of visor, make sure threads
          in helmet are in good condition and clear of any
          debris</li>
        <li>Position visor and install center screw first then
          position and install side screws with washers one at
          a time in the inserts on the either side of the helmet.
          Take care not to cross thread screws or over tighten
          because this permanent damage to the helmet is
          not covered by warranty. Tighten all screws hand
          tight.</li>
        <li>Check and tighten screws regularly and as needed before you ride.</li>

      </ol>
    </div>

    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>MOUTHPIECE REMOVAL</h3>
      </span>
      <p style ="margin-top:30px;">Only use TLD approved mouthpiece and
        mouthpiece hardware on your helmet.</p>    
      <h4>REMOVAL:</h4>
      <ol class ="features-3" start ="1">

        <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_mouthpiece-instructions-min.jpg?6678117202054363128" style= "width:100%">
        <li style ="margin-top:30px;">
          <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_mouthpiece-instructions-min.jpg?6678117202054363128" style= "margin:5px 0px 5px 10px; float:right; width:55%">Using a small Phillips screwdriver,
          remove the small set screw from the hole
          at the inside, bottom-front of the chin
          guard. Then rock the mouthpiece upward 
          and away from the mouth area..</li>
      </ol>
      <h4>INSTALLATION:</h4>
      <ol class ="features-3" start="1">
        <li>Insert the small Phillips set screw in the set screw hole at the inside, bottom-front of the chinguard using the tip of the screwdriver to guide it into place.</li>
        <li>Then place the small peg at the inside top of the mouthpiece in the hole at the tip of the nose of the helmet, and rock the mouthpiece downward using the peg in the hole as a pivot point. Then align the screw with the set screw hole at the bottom of the mouthpiece, and tighten to a snug feel.</li>
      </ol>
      <h3 style ="color:red">DO NOT OVERTIGHTEN</h3>
    </div>

    <div class ="divider divider--md"></div>
    <hr class="faded-hr">

    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>COMFORT LINER REMOVAL AND REPLACEMENT</h3>
      </span>



      <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Cheekpad-removal-min.jpg?6284563126236016273" style= "width:100%">
      <p style ="margin-top:30px;">
        <img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_Cheekpad-removal-min.jpg?6284563126236016273" style= "margin:5px 0px 5px 10px; float:right; width:30%">Do not use any pads that are not specifically designed
        for this SE-3 helmet and sold by Troy Lee Designs.
        Aftermarket pads/liners, or original equipment pads
        that are worn out, may not fit properly, or be too thick
        or too thin, causing vision obstructions or helmet
        slippage which could result in severe injury or death.
        Do not use any kind of solvent such as contact
        cleaner, thinner or gasoline. Do not use any Comfort
        Liner parts that are broken or damaged.

        <br>
        <br>
        Padded lining, cheek pads (right &amp; left) and strap
        covers (right &amp; left) can be removed for cleaning.
        All Comfort Lining parts can be hand washed with
        mild soap such as dishwashing liquid and cold water.
        Pat dry with towel and then air-dry in a non-sunny
        area before reinstalling.</p>


    </div>

    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>EMERGENCY REMOVAL OF CHEEKPADS </h3>
      </span>
      <p>The cheek pads are designed with a unique pull tab system that allows them to be removed from the helmet of an injured rider by medical personnel in an emergency situation. This removal of the cheek pads allows for easier removal of the helmet from the rider.</p>



      <img class = "img-responsive hidden-sm hidden-md hidden-lg" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_cheekpad-emergency-removal-min.jpg?7195232845745490801" style= "width:100%">
      <h4>CHEEK PAD INSTALLATION:</h4>
      <ol class ="features-3" start ="1">
        <li><img class = "img-responsive hidden-xs" src = "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_cheekpad-emergency-removal-min.jpg?7195232845745490801" style= "margin:5px 0px 5px 10px; float:right; width:50%">Make sure the emergency pull tabs are in the up positon so the snaps are centered.</li>
        <li>Align rear snap and engage with helmet snap first.</li>
        <li>Position front snaps and engage with according snaps.</li>
      </ol>
      <h4>REGULAR CHEEK PAD REMOVAL:</h4>
      <ol class = "features-3" start ="1">
        <p class ="text-danger">DO NOT USE THE EMERGENCY PULL TABS FOR REGULAR REMOVAL</p>
        <li>Pull of by grabbing cheek pad and gently pull so that all 3 snaps are released.</li>
      </ol>

      <h4>EMERGENCY CHEEK PAD REMOVAL:</h4>
      <ol class = "features-3" start ="1">
        <p class ="text-danger">ONLY FOR QUALIFIED EMERGENCY PERSONNEL</p>
        <li>Pull the red emergency pull tab down.</li>
        <li>Two front snaps will release.</li>
        <li>Release the rear snap by gently separating</li>
      </ol>
    </div>
    <div class ="divider divider--md"></div>
    <hr class="faded-hr">


    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class ="title-holder">
        <h3>COMFORT LINING PARTS REMOVAL</h3>
      </span>
      <h4>REMOVAL AND INSTALLATION OF HEAD LINER</h4>
      <p style = "color:black;">Head lining is attached by use of two (2) snaps at rear and bar in slot at front.</p>

      <h4>REMOVAL:</h4>

      <ol class = "features-3" start ="1">
        <li>At rear pull at each snap location, inward until snaps disengage. (Fig. A)</li>
        <li>At front (Fig. B) carefully pull lining at side (A) inward working around to opposite side (E) until head liner is fully released.</li>

      </ol>

      <h4>INSTALLATION:</h4>

      <ol class = "features-3" start ="1">
        <li>At front (Fig. B) insert peg (C) first. Then install tabs (B&amp;D), working outward to (A&amp;E) untill all 5 pegs are in their proper slots. Then press firmly on all points to ensure a snug fit.</li>
        <li>At back (Fig. A) fasten snaps into place.</li>
        <div class = "col-sm-12 col-md-6 col-lg-6">
          <img class ="img-responsive" src=  "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_comfort-lining_removal-a-min.jpg?7604115760956202533">
        </div>
        <div class = "col-sm-12 col-md-6 col-lg-6">
          <img class ="img-responsive" src=  "https://cdn.shopify.com/s/files/1/1223/6434/files/TLD_comfort-lining_removal-min.jpg?8550034939267654721">
        </div>
      </ol>
    </div>
    <div class = "col-sm-12 col-md-6 col-lg-6">
      <span class = "title-holder"><h3>HELMET CARE</h3></span>
      <p>Helmets are energy absorbing devices intended to deform, fracture, crush, and collapse as they absorb energy generated by an impact. The SE-3 helmet should be treated/handled carefully so that it has all the available energy absorbing materials should you ever need them. Your SE-3 helmet will give you years of good service if properly cared for.</p>
      <ol class ="features-3" start = "1">
        <li>Never decorate your helmet with paint, decals, stickers, or tape. Use only mild soap and water to clean the outside or inside of your helmet and the pads. Chemicals used in many cleaners can be harmful to the outer shell of your helmet. Frequently this damage is not visible, and can result in premature fracturing of the shell when impacted.</li>
        <li>Use only mild soap and water to clean the interior of your helmet. All of our models have a removable liner. These liners can be washed by hand in a bucket with mild soap and water, rinsed, then air dried only. Remove odors by rinsing with a solution of bicarbonate of soda ang water. Never use an oven or other heating source to dry the helmet. Temperatures in excess of 130F degrees can damage the energy absorbing inner liner. Do not allow the helmet to sit in a closed vehicle or in direct sunlight on hot day as temperatures can exceed 130F degrees. Never allow your helmet to come in contact with gasoline or other petroleum products, as this will cause serious damage to the energy absorbing liner and/or the outer shell of the helmet.</li>
        <li>Troy Lee Designs helmets should not be painted by anyone other than Troy Lee Designs. Many helmet components can be seriously damaged by chemicals and/or solvents contained in most paint or by careless handling during the repair process. Do not sand or use any abrasive material on the helmet.</li>
      </ol>
    </div>

    <div class ="divider divider--md"></div>
    <hr class="faded-hr">

    <div class = "col-sm-12 col-md-12 col-lg-12">
      <span class = "title-holder"><h3>SPEED EQUIPMENT 3 HELMET WARRANTY:</h3></span>
      <p>Troy Lee Designs warrants to the original retailer purchaser ("you") that the Troy Lee Designs product for which they received this warranty is free from defects in material and workmanship for 3 years from the date of original retail purchase. This warranty is not transferable to a subsequent purchaser. Troy Lee Designs sole obligation under this warranty is to repair or replace the product, at Troy Lee Designs option. Troy Lee Designs must be notified in writing of any claim under this warranty within 60 days of any claimed lack of comformity of the product.</p>
      <span class = "title-holder"><h4>WARRANTY LIMITATIONS</h4></span>
      <p>The duration of any implied warranty or condition, of merchantability, fitness for a particular purpose or otherwise, on this product shall be limited to the duration of the express warranty set forth above. In no event shall Troy Lee Designs be liable for any loss, inconvenience or damage, whether direct, incidental, consequential or otherwise, resulting from breach of any express or implied warranty or condition, of merchantability, fitness for a particular purpose, or otherwise with respect to this product, except as set forth herin. Some states or countires do not allow limitation on how long an implied warranty lasts and some do not allow exclusions or limitations of incidental or consequential damages, so the above limitations or exclusions may not apply to you. This warranty gives you specific legal rights, and you may also have other rights, which may vary, from location to location. This warranty will be interpreted pursuant to the laws of the United States. The original English language version/meaning of this warranty controls over all translations and Troy Lee Designs is not responsible for any errors in translation of this warranty or any product instructions. This warranty is not intended to conver any additional legal, jurisdictional or warranty rights to you other than that those set forth herein or required by law. If any portion of this warranty is held to be invalid or unenforceable for any reason, such finding will not invalidate any other provision. For products purchased in countries other than the United States please contact Troy Lee Designs authorized distributor in that respective country.</p>

    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12">
      <span class = "title-holder"><h3>WARRANTY SERVICE OPTIONS</h3></span>
      <h4>TO OBTAIN SERVICE UNDER THIS WARRANTY YOU MUST EITHER:</h4>
      <ol class ="features-3" start = "1">
        <li>Bring or send your Troy Lee Designs SE-3 Helmet, together with this warranty, the retail seller's original receipt or other satisfactory proof of date of purchase to the retailer where you purchased the item, or</li>
        <li>Send your Troy Lee Designs SE-3 Helmet (with the return authorization number on the outside of the shipping container and affixed to the product), together with the retail seller's original receipt or other satisfactory proof of the date of purchase to: Troy Lee Designs Attn: Helmet Warranty Dept., 155 East Rincon, Corona, CA92879 USA. You must obtain a return authorization number by calling Troy Lee Designs at (951)371-5219 or sending an e-mail to warranty@troyleedesigns.com prior to returning the product to Troy Lee Designs.</li>

      </ol>

      <ul class ="features-3">
        <li>Any postage, insurace or shipping costs incurred in sending your Troy Lee Designs product for service under either option above is your responsibility. Troy Lee Designs will not be responsible for products lost or damaged in shipping.</li>
        <li>For products purchased in countries other than the United States, please contact the Troy Lee Designs authorized distributor in the country where the product was purchased. A list of distributors can be fond on our website at (www.troyleedesigns.com</li>
        <li>Troy Lee Designs may require that you complete and sign a warranty replacement request form before processing your warranty claim</li>
      </ul>
      <h4>CRASH REPLACEMENT POLICY:</h4>
      <p>Troy Lee Designs nderstands that accidents will happen. As a result, Troy Lee Designs will assist with the replacement of your helmet by providing a 30% discount off of Troy Lee Designs current suggested retail price in your respective country. All other provisions of this warranty apply and the procedures outline for warranty service apply also to the accident replacement policy. Troy Lee Designs will make the final decision on whether the part will be covered under the crash replacement policy.</p>
    </div>
    <div class ="divider divider--md"></div>
    <div class = "col-sm-12 col-md-12 col-lg-12">
      <h4>WARRANTY EXCLUSIONS</h4>
      <p>Retailers and sellers of Troy Lee Designs products are not authorized to modify this warranty in any way. It is the responsibility of the purchaser/owner to regularly examine the product to determine then eed for normal service or replacement. This warranty does not cover the following:</p>
      <ul style = "color:black;">
        <li>Products that have been modified, neglected or poorly maintained, used for commercial purposes, misused or abused or involved in accidents.</li>
        <li>Damage occurring during shipment of the products. Such claims must be presented directly to the shipper.</li>
        <li>Damage to products resulting from improper assembly or repair, the use or installation of parts or accessories not compatible with the original intended use of the product, or the failure to follow the product warnings and usage instructions.</li>
        <li>Damage or deterioration to the surface finish, aesthetics or apperance of the product.</li>
        <li>The labor required to remove and/or re-fit and re-adjust the item covered by this warranty.</li>
        <li>Normal wear to the product.</li>
        <li>Any products for which the consumer does not follow the warranty procedures outlined above.</li>
        <li>Decorative top intake scoop cover is not warranted against damage or loss due to the requred method of attachment.</li>
        <li>This component does not affect the safety of the helmet. This cover can be reattached or replaced at the owners expense if desired.</li>
        <li>For a more in-depth version of this warranty please visit our website at www.troyleedesigns.com</li>
      </ul>

    </div>
    
    





  </div>
</div>




