<style type="text/css">

	.section_categories .cat_header {
	    text-transform: uppercase;
	    text-align: center;
	}

	.section_categories .cat_header .cat_header_text {
	    padding: 5px;
	    font-size: 1em;
	    font-weight: 600;
	}

	.section_categories .cat_header .cat_header_title h1 {
	    letter-spacing: 1.2px;
	    color: #be3232;
	}

	.valign {
	    position: relative;
	    width: 100%;
	    top: 50%;
	    left: 0;
	    -webkit-transform: translateY(0%);
	    -moz-transform: translateY(0%);
	    -o-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	    transform: translateY(0%);
	}

	.op_banner .op_banner_container {
	    max-width: 90%;
	    margin: 0 auto;
	    text-align: center;
	    font-size: 20px;
	}

	.op_banner .op_banner_container .op_banner_container_block {
	    width: 20%;
	    border-right: 5px solid #ffffff;
	    padding: 20px 40px;
	    text-align: center;
	    display: inline-block;
	    background: #ececec;
	    position: relative;
	    color: #000;
	    max-width: 211px;
      	transition: all .3s;
	}

	.valign {
	    position: relative;
	    width: 100%;
	    top: 50%;
	    left: 0;
	    -webkit-transform: translateY(0%);
	    -moz-transform: translateY(0%);
	    -o-transform: translateY(0%);
	    -ms-transform: translateY(0%);
	    transform: translateY(0%);
	}

	.op_price {
		font-family: "hurme-regular";
	    white-space: nowrap;
	    font-size: 21px;
	}

	.op_banner .op_banner_container .op_banner_container_block .op_show_selection {
	    font-size: 13px;
	    margin-top: 17px;
	    padding: 7px 7px;
	    border: 1px solid black;
	}

	.valign .op_banner_container .op_banner_container_block:hover {
	    background: #006989;
	    color: #fff;
	    border-right: 1px solid #ececec;
	    text-decoration: none;
	}

	.price_mobile {
	    background: #ececec;
	    padding: 15px 57px;
	    display: inline-block;
	    border-top: 10px solid white;
	    border-right: 7px solid white;
	    max-width: 350px;
    	width: 100%;
	}

	.price_font {
	    font-size: 34px;
	}

	.shop_mobile {
	    border: 1px solid black;
	    padding: 7px 25px;
	}

	.banner__title {
		text-shadow: 0 0 5px #000000;
    	font-size: 2em;
	}

</style>
<p><a href="/pages/holiday-gift-guide" target="blank"><img class="img-responsive" <p><a href="/pages/holiday-gift-guide" target="blank"><img class="img-responsive" src="https://cdn.shopify.com/s/files/1/1223/6434/files/holiday-122619.jpg?v=1577339313" alt="Motorhelemets Holiday Gift Guide" title="Motorhelemets Holiday Gift Guide" style="width: 100%;"></p></a>
</p></a>

<div class="container">

  	{%comment%}
	<div class="title-box">
      <h2 class="text-center text-uppercase title-under" style="font-weight: 600; color: rgb(0, 0, 0); font-size: 1.7em;">Motorhelmets Gift Guide</h2>
    </div>
  	{%endcomment%}
    
	
	<div class="divider divider--sm"></div>


	<div class="divider divider--lg"></div>

	<div class="section_categories">
      <div class="cat_header">
        <div class="cat_header_title">
          <div class="cat_header_text"></div>
          <h1>CHOOSE YOUR CATEGORY</h1>
        </div>
      </div>
      <div class ="divider divider--lg hidden-xs hidden-sm hidden-md"></div>
      <div class ="col-sm-12 col-md-12 col-lg-12">
        <div class = "row">
          <div class ="col-sm12 col-md-12 col-lg-2 col-lg-offset-1 gift-guide-choices">
            <a href = "/pages/gift-guide-casual-wear" id = "gift_casual_wear_category" data-category-value = "gift-guide-casual-wear" class ="gift-category-selected" ><span class ="gift-guide-text">CASUAL WEAR</span></a>
          </div>
          <div class ="col-sm12 col-md-12 col-lg-2 gift-guide-choices">
            <a href = "/pages/gift-guide-street-gear" id = "gift_street_gear_category" data-category-value = "gift-guide-street-gear"><span class ="gift-guide-text">STREET GEAR</span></a>
          </div>          
          <div class ="col-sm12 col-md-12 col-lg-2 gift-guide-choices">
            <a href = "/pages/gift-guide-offroad-gear" id = "gift_offroad_gear_category" data-category-value = "gift-guide-offroad-gear"><span class ="gift-guide-text">OFFROAD GEAR</span></a>
          </div>          
          <div class ="col-sm12 col-md-12 col-lg-2 gift-guide-choices">
            <a href = "/pages/gift-guide-snow-gear" id = "gift_snow_gear_category" data-category-value = "gift-guide-snow-gear"><span class ="gift-guide-text">SNOW GEAR</span></a>
          </div>
          <div class ="col-sm12 col-md-12 col-lg-2 gift-guide-choices">
            <a href = "/pages/gift-guide-cruiser-gear" id = "gift_cruiser_gear_category" data-category-value = "gift-guide-cruiser-gear"><span class ="gift-guide-text">CRUISER GEAR</span></a>          </div>
        </div>
      </div>

      <div id="price_filter" class="op_banner hidden-xs hidden-sm" style = "display:block">
        <div class="divider divider--lg"></div>
        <div class="valign">
          <div class="cat_header">
            <div class="cat_header_title">
              <div class="cat_header_text"></div>
              <h1>CHOOSE YOUR PRICE</h1>
            </div>
          </div>
          <div class="divider divider--lg"></div>
          <div class="op_banner_container">
            <a class="op_banner_container_block gift-choice-block price-choice" href="javascript:void(0)" data-price-value = "Under $25">
              <div class="valign">
                <div class="op_price">Under $25</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
            <a class="op_banner_container_block gift-choice-block price-choice" href="javascript:void(0)" data-price-value = "Between $25 - $50">
              <div class="valign">
                <div class="op_price">$25 - $50</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
            <a class="op_banner_container_block gift-choice-block price-choice" href="javascript:void(0)" data-price-value = "Between $50 - $100">
              <div class="valign">
                <div class="op_price">$50 - $100</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
            <a class="op_banner_container_block gift-choice-block price-choice" href="javascript:void(0)" data-price-value = "Over $100">
              <div class="valign">
                <div class="op_price">Over $100</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
            <a class="op_banner_container_block gift-choice-block price-choice selected-price" href="javascript:void(0)" data-price-value = "Show All">
              <div class="valign">
                <div class="op_price">Show All</div>
                <div class="op_show_selection">Check it out</div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class ="divider divider--lg hidden-xs hidden-sm hidden-md"></div>

	<section class="container-fluid cd-section" id="new-arrivals">
      <div class="divider divider--lg"></div>
      <div class="section_categories">
        <div class="cat_header">
          <div class="cat_header_title price-category">
            <div class="cat_header_text">PICKS FOR THIS SEASON</div>
            <h1 class = "gift-guide-big-title">CASUAL WEAR</h1>
          </div>
        </div>
      </div>
      <div class="divider divider--xl"></div>
      <div class="row" id = "show-all">
        <div class="col-lg-12 col-xl-12">
          <!-- title -->
                {% assign collection_label = "CASUAL WEAR GIFTS FOR YOU" %}
                {% assign collection_handle = "gift-guide-casual-wear" %}
				{% assign collection_length = 20 %}

				{% assign selected_collection = collections[collection_handle].products %}
				{% assign collection_length = collection_length | plus: 0 %}
	  
		<div class="product-listing row">
			{% for product in selected_collection limit: collection_length %}
			 <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
				{% include "njohn-product-grid-item" %}
			</div>
			{% endfor %}
		</div>
 		<div class ="divider divider--xl"></div>
        <div class="text-center"><a href="/collections/gift-guide-casual-wear" class="motorhelmets-gift-guide-show-more">Show &nbsp;More</a></div>
       
        </div>

      </div>
      
      <div class="row" id = "gift-guide-casual-wear-under-25">
        <div class="col-lg-12 col-xl-12">
          <!-- title -->
          {% assign collection_label = "CASUAL WEAR GIFTS FOR YOU" %}
          {% assign collection_handle = "gift-guide-casual-wear-under-25" %}
          {% assign collection_length = 20 %}

          {% assign selected_collection = collections[collection_handle].products %}
          {% assign collection_length = collection_length | plus: 0 %}

          <div class="product-listing row">
            {% for product in selected_collection limit: collection_length %}
            <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
              {% include "njohn-product-grid-item" %}
            </div>
            {% endfor %}
          </div>
          <div class ="divider divider--xl"></div>
          <div class="text-center"><a href="/collections/gift-guide-casual-wear-under-25" class="motorhelmets-gift-guide-show-more">Show &nbsp;More</a></div>

        </div>

      </div>
      
      <div class="row" id = "gift-guide-casual-wear-between-25-50">
        <div class="col-lg-12 col-xl-12">
          <!-- title -->
          {% assign collection_label = "CASUAL WEAR GIFTS FOR YOU" %}
          {% assign collection_handle = "gift-guide-casual-wear-under-50" %}
          {% assign collection_length = 20 %}

          {% assign selected_collection = collections[collection_handle].products %}
          {% assign collection_length = collection_length | plus: 0 %}

          <div class="product-listing row">
            {% for product in selected_collection limit: collection_length %}
            <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
              {% include "njohn-product-grid-item" %}
            </div>
            {% endfor %}
          </div>
          <div class ="divider divider--xl"></div>
          <div class="text-center"><a href="/collections/gift-guide-casual-wear-under-25" class="motorhelmets-gift-guide-show-more">Show &nbsp;More</a></div>

        </div>

      </div>
      
      
      <div class="row" id = "gift-guide-casual-wear-between-50-100">
        <div class="col-lg-12 col-xl-12">
          <!-- title -->
          {% assign collection_label = "CASUAL WEAR GIFTS FOR YOU" %}
          {% assign collection_handle = "gift-guide-casual-wear-between-50-100" %}
          {% assign collection_length = 20 %}

          {% assign selected_collection = collections[collection_handle].products %}
          {% assign collection_length = collection_length | plus: 0 %}

          <div class="product-listing row">
            {% for product in selected_collection limit: collection_length %}
            <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
              {% include "njohn-product-grid-item" %}
            </div>
            {% endfor %}
          </div>
          <div class ="divider divider--xl"></div>
          <div class="text-center"><a href="/collections/gift-guide-casual-wear-between-50-100" class="motorhelmets-gift-guide-show-more">Show &nbsp;More</a></div>
        </div>
      </div>
      
      <div class="row" id = "gift-guide-casual-wear-over-100">
        <div class="col-lg-12 col-xl-12">
          <!-- title -->
          {% assign collection_label = "CASUAL WEAR GIFTS FOR YOU" %}
          {% assign collection_handle = "gift-guide-casual-wear-over-100" %}
          {% assign collection_length = 20 %}

          {% assign selected_collection = collections[collection_handle].products %}
          {% assign collection_length = collection_length | plus: 0 %}

          <div class="product-listing row">
            {% for product in selected_collection limit: collection_length %}
            <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
              {% include "njohn-product-grid-item" %}
            </div>
            {% endfor %}
          </div>
          <div class ="divider divider--xl"></div>
          <div class="text-center"><a href="/collections/gift-guide-casual-wear-over-100" class="motorhelmets-gift-guide-show-more">Show &nbsp;More</a></div>
        </div>
      </div>


     </section>
      
      <div class ="divider divider--xl"></div>
      	<div class="row">
		<div class="col-sm-6 col-md-6 col-lg-6">
<!-- 			<div class="section_categories">
				<div class="cat_header">
					<div class="cat_header_text_container">
						<div class="cat_header_text">PROMO CODE: <span style="color: #be3232;font-weight: bold;">HAPPY10</span></div>
						<a href="/pages/percent-off-entire-basket" target="blank">
						 <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/10_-OFF.png?2303615753206941548" alt="HTML tutorial" style="margin: 0 auto; max-width: 590px; width: 100%;">
						</a>
					</div>
				</div>
			</div>
			<div class="divider divider--md"></div> -->
		</div>

		<div class="col-sm-6 col-md-6 col-lg-6">
			<div class="section_categories">
				<div class="cat_header">
					<div class="cat_header_text_container">
						<div class="cat_header_text">FREE SHIPPING OVER $100</span></div>
						<a href="/pages/free-shipping-promotions" target="blank">
						 <img src="https://cdn.shopify.com/s/files/1/1223/6434/files/freeshipping-100.png?9618641577416963844" alt="HTML tutorial" style="margin: 0 auto; max-width: 590px; width: 100%;">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
 <div class ="divider divider--xl-1"></div>