<div class="container moto_pages">
{% assign thispage = page.handle %}
{% if thispage == "about-us" %}

{% include "page.about.us" %}

{% elsif thispage == "store-location" %}

{% include "page.store-location" %}
  
{% elsif thispage == "motorcycle-repair-and-service" %}

{% include "page.motorcycle-repair-and-service" %}

{% elsif thispage == "faq" %}

{% include "page.faq" %}

{% elsif thispage == "carwash" %}

{% include "page.carwash" %}

{% elsif thispage == "join-our-mailing-list" %}

{% include "page.join-our-mailing-list" %}
  
  
{% elsif thispage == "free-stickers" %}

{% include "page.free-stickers" %}


{% elsif thispage == "motorhelmets-motorcycle-resource-page" %}

{% include "page.motorhelmets-motorcycle-resource-page" %}
  

{% elsif thispage == "motorhelmets-utv-repair-service-parts-accessories" %}

{% include "page.motorhelmets-utv-repair-service-parts-accessories" %}
  
  
{% elsif thispage == "motorcycle-attorney-referral" %}

{% include "page.motorcycle-attorney-referral" %}  
  
  
{% elsif thispage == "calendar" %}

{% include "page.calendar" %}


{% elsif thispage == "shopping-policies" %}

{% include "page.shopping-policies" %}

    

{% elsif thispage == "returns-and-exchanges" %}

{% include "page.returns-and-exchanges" %}
  
  
{% elsif thispage == "warranty-request" %}

{% include "page.warranty-request" %}
  
  
{% elsif thispage == "return-merchandise-authorization-request" %}

{% include "page.return-merchandise-authorization-request" %}  

  
{% elsif thispage == "ordering-information" %}

{% include "page.ordering-information" %}  

  
{% elsif thispage == "shipping-information" %}

{% include "page.shipping-information" %}  
  
  
{% elsif thispage == "order-status-request" %}

{% include "page.order-status-request" %}   
  
  
{% elsif thispage == "international-ordering-information" %}

{% include "page.international-ordering-information" %} 
  
  
{% elsif thispage == "ordering-store-policy" %}

{% include "page.ordering-store-policy" %} 
  
  
{% elsif thispage == "order-cancellations" %}

{% include "page.order-cancellations" %} 
  
  
{% elsif thispage == "promotions" %}

{% include "page.promotions" %} 
  

{% elsif thispage == "free-shipping-promotions" %}

{% include "page.free-shipping-promotions" %} 
  

{% elsif thispage == "percent-off-entire-basket" %}

{% include "page.percent-off-entire-basket" %} 
  

{% elsif thispage == "free-shipping-combos" %}

{% include "page.free-shipping-combos" %} 
  

{% elsif thispage == "privacy-policy" %}

{% include "page.privacy-policy" %} 
  

{% elsif thispage == "help-page" %}

{% include "page.help-page" %} 
  
  
{% elsif thispage == "how-to-use-our-wish-list-feature" %}

{% include "page.wishlist-guide" %} 

  
<!--  MOTO RESOURCES  -->
  
  
  
{% elsif thispage == "resources-alpinestars" %}

{% include "page.resources-alpinestars" %} 
  

  
{% elsif thispage == "resources-answer-motocross-racing" %}

{% include "page.resources-answer-motocross-racing" %} 
  
  
  
{% elsif thispage == "resources-arai-helmets" %}

{% include "page.resources-arai-helmets" %} 
  
    
  
{% elsif thispage == "resources-axo-motocross" %}

{% include "page.resources-axo-motocross" %} 

  
  
{% elsif thispage == "resources-casualwear" %}

{% include "page.resources-casualwear" %} 


{% elsif thispage == "resources-cortech" %}

{% include "page.resources-cortech" %} 


  
{% elsif thispage == "resources-dot-helmet" %}

{% include "page.resources-dot-helmet" %} 

  
{% elsif thispage == "resources-dunlop-motorcycle-tire" %}

{% include "page.resources-dunlop-motorcycle-tire" %} 

  
  
{% elsif thispage == "resources-exhaust-system" %}

{% include "page.resources-exhaust-system" %} 
  
  
  
  
{% elsif thispage == "resources-first-gear" %}

{% include "page.resources-first-gear" %} 
  
  
  
{% elsif thispage == "resources-fox-clothing" %}

{% include "page.resources-fox-clothing" %} 

  
  
    
{% elsif thispage == "resources-fox-girl" %}

{% include "page.resources-fox-girl" %} 
  
  
  
{% elsif thispage == "resources-hjc" %}

{% include "page.resources-hjc" %} 

 
  
  
{% elsif thispage == "motorhelmets-brands-wall" %}

{% include "page.motorhelmets-brands-wall" %} 

  
  
  
{% elsif thispage == "motorhelmets-online-financing-for-in-store-purchases-6-step-process" %}

{% include "page.motorhelmets-in-store-financing-for-in-store-purchases" %} 
  
  
  
{% elsif thispage == "apply-for-store-financing-online" %}

{% include "page.apply-for-store-financing-online" %} 
  
  
  
<!--  Holiday Season  -->

{% elsif thispage == "motorhelmets-gift-guide" %}

{% include "page.gift-guide" %} 
  

  
  <!--  MOTO Welsome International Visitor  -->
  
  
{% elsif thispage == "welcome-international-visitors" %}

{% include "page.welcome-international-visitors" %} 
  
  
  
{% elsif thispage == "welcome-international-visitors-cebuano" %}

{% include "page.welcome-international-visitors-cebuano" %} 
  
  
  
{% elsif thispage == "welcome-international-visitors-filipino" %}

{% include "page.welcome-international-visitors-filipino" %} 
  
  
  
{% elsif thispage == "welcome-international-visitors-hindi" %}

{% include "page.welcome-international-visitors-hindi" %} 
  
  

{% elsif thispage == "welcome-international-visitors-portuguese" %}

{% include "page.welcome-international-visitors-portuguese" %} 
  
  
  
{% elsif thispage == "welcome-international-visitors-spanish" %}

{% include "page.welcome-international-visitors-spanish" %} 
  
  
  
{% elsif thispage == "welcome-international-visitors-simplified-chinese" %}

{% include "page.welcome-international-visitors-simplified-chinese" %} 
  
  

{% elsif thispage == "welcome-international-visitors-traditional-chinese" %}

{% include "page.welcome-international-visitors-traditional-chinese" %} 
  

  
  <!--  MOTO Test Page  -->
  
  
{% elsif thispage == "test-service-footer" %}

{% include "page.test-service-footer" %}

  
  
{% elsif thispage == "test-service" %}

{% include "page.test" %}
  
  
  
{% elsif thispage == "test" %}

{% include "page.welcome-international-visitors" %}
  
  
  
  
  {% endif %}
  
</div>