<script>
  jQuery(function($) {
    $(document).ready(function() { 
      $('.lookbook_gallery').lightGallery({
        'hash': false, // Disable Parameter
        'hideBarsDelay': 2000, // Auto Hide Panel Bars
        'download': false, // Disable Download
        'autoplayControls': false // Disable Autoplay
      });
      setTimeout(function(){
        $(this).hover(function(){
          if($('.zoomContainer .zoomLens').css('display') == 'none') {
            $('.nj_click_to_expand').text('Roll over image to zoom in');
          }
          else {
            $('.nj_click_to_expand').text('Click the image to Full View');
          }
        });
      }, 2000);
    });
  });
</script>
<style>
  .zoomContainer .zoomLens {
    cursor: pointer !important;
  }
  .lg-backdrop.in {
    opacity: .8 !important;
  }
  .lg-toolbar {
    background-color: transparent !important;
  }
  .lg-sub-html {
    background-color: transparent !important;
    text-align: left !important;
  }
  .lg-outer .lg-toogle-thumb:after {
    content: "\e413";
    font-family: 'Material Icons';
  }

  .lg-fullscreen:after {
    content: "\e56B" !important;
    font-family: 'Material Icons' !important;
  }
  .lg-toolbar .lg-close:after {
    content: "\e879" !important;
    font-family: 'Material Icons' !important;
  }

  #lg-zoom-in:after {
    content: "\e8FF" !important;
    font-family: 'Material Icons' !important;
  }
  #lg-zoom-out:after {
    content: "\e900" !important;
    font-family: 'Material Icons' !important;
  }
  #lg-actual-size:after {
    content: "\e14D" !important;
    font-family: 'Material Icons' !important;
  }

  .lg-actions .lg-prev:after {
    content: "\e408" !important;
    font-family: 'Material Icons' !important;
  }
  .lg-actions .lg-next:before {
    content: "\e409" !important;
    font-family: 'Material Icons' !important;
  }
  .buy-now-button{
    background-color:white;
  }
  .shopify-payment-button__button--unbranded {
    border-radius:0px;
    background-color:#dc6156;
    padding: 0em;
    height:45px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .100em;
    font-size: 1em;
    line-height: 45px;
  }
  .shopify-payment-button__button--unbranded:hover:not([disabled]){
    background-color:#ce3434;
  }
  .button-row{
    margin-left: -18px;
    margin-right: -9px;
  }

  .buy-now-row{
    margin-left:-10px; 
    margin-right:-10px;
  }
  .shopify-button {
    border-radius:0px;
    background-color:#dc6156!important;
    padding: 0em;
    height:45px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .100em;
    font-size: 1em;
    line-height: 45px;
  }
  .shopify-button:hover:not([disabled]){
    background-color:#ce3434;

  }

  
  .shopify-payment-button__button[disabled]{
        cursor:not-allowed !important;
  }
  @media (max-width:1769px)
  {
    .button-row {
      margin-left: -8px!important;
      margin-right: -8px!important;
    }
  }

  @media (max-width:1300px)
  {
    .button-row {
      margin-left: -0px!important;
      margin-right: -10px!important;
    }
  }
  @media (max-width:1199px)
  {
    .button-row {
      margin-left: -36px!important;
      margin-right: -10px!important;
    }
  }

  @media (max-width:1024px)
  {
    .mobile-row{
      margin-left:-10px;
      margin-right:-10px;
    }
    .comp-wishlist-btn{
      width:76px!important;
      padding-right:15px;
    }
    .shopify-button {
      font-size:13px;
    }
    .button-row {
      margin-left: -15px!important;
      margin-right: -10px!important;
    }
  }
  @media (max-width:768px){
    .mobile-row{
      margin-left:-15px!important;
      margin-right:-10px;
    } 
    .comp-wishlist-btn{
      width:76px!important;
      padding-right:15px;
    }

    .shopify-button {
      font-size:10px;
    }
  }

  @media (max-width:767px){
    .buy-now-row{
      margin-left:-15px!important; 
      margin-right:-15px!important;
    }
    .comp-wishlist-btn{
      width:auto!important;
      padding-right:15px;
    }
    .shopify-button {
      font-size:1em;
    }
    .mobile-row{
      margin-left:-15px!important;
      margin-right:-15px!important;
    } 

  }
  @media (max-width:375px){
    .buy-now-row{
      margin-left:-15px!important; 
      margin-right:-15px!important;
    }
    .comp-wishlist-btn{
      width:auto!important;
      padding-right:15px;
    }
    .shopify-button {
      font-size:1em;
    }
    .mobile-row{
      margin-left:-15px!important;
      margin-right:-15px!important;
    } 
  }
  @media (max-width:320px){
    .buy-now-row{
      margin-left:-15px!important; 
      margin-right:-15px!important;
    }
    .comp-wishlist-btn{
      width:auto!important;
      padding-right:15px;

    }
    .shopify-button {
      font-size:1em;
    }
    .mobile-row{
      margin-left:-15px!important;
      margin-right:-15px!important;
    } 
  }



</style>

{{ 'lightgallery.js' | asset_url | script_tag }}
{{ 'lightgallery-fullscreen.js' | asset_url | script_tag }}
{{ 'lightgallery-thumbnail.js' | asset_url | script_tag }}
{{ 'lightgallery-video.js' | asset_url | script_tag }}
{{ 'lightgallery-autoplay.js' | asset_url | script_tag }}
{{ 'lightgallery-zoom.js' | asset_url | script_tag }}
{{ 'lightgallery-hash.js' | asset_url | script_tag }}
{{ 'lightgallery-pager.js' | asset_url | script_tag }}
{{ 'jquery.mousewheel.js' | asset_url | script_tag }}

<section class="content offset-top-0">
  <div class="container">
    <div class="row product-info-outer" itemscope itemtype="http://schema.org/Product">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="row">
          <!-- IMAGES -->
          <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5 hidden-xs">
            {% include "njohn_product_gallery" %}
          </div>
          <!--/IMAGES -->

          <!-- SKU -->
          <div class="product-info col-sm-7 col-md-7 col-lg-7 col-xl-7">
            {% assign inv_man = product.selected_or_first_available_variant.inventory_management %}
            {% assign inv_qua = product.selected_or_first_available_variant.inventory_quantity %}

            {% if product.vendor == "Arai" %}
            <p class="notice"><a href="javascript:void(0);">We are not allowed to ship Arai products outside the U.S.</a></p>  
            {% endif %}
            
            {% if product.vendor == "Saxx"%}
            
            {% else %}
             <p class ="oakley-notice"><a href ="javascript:void(0);" class ="oakley-warning" onclick="window.location.href = '#CAWarning'"><span style = "color:#0066c0" class ="oakley-warning">WARNING:</span></a> California’s Proposition 65</p>
            {% endif %}

            {%comment%}
            {% if product.vendor == "Oakley" and product.tags contains "Category Casual Sunglasses" %}
            <p class ="oakley-notice"><a href ="javascript:void(0);" class ="oakley-warning" onclick="window.location.href = '#CAWarning'"><span style = "color:#0066c0" class ="oakley-warning">WARNING:</span></a> California’s Proposition 65</p>
            {%endif%}
       		{% assign included_sku = "ERJWD03096-WZA6-XL,10425003-RAW-4.25,8789-0105-03,8789-0105-04,8789-0105-05,8789-0105-06,8789-0105-07,8789-0105-08,8789-0105-09,8789-0105-10,8789-0113-03,8789-0113-04,8789-0113-05,8789-0113-06,8789-0113-07,8789-0113-08,8789-0113-09,8789-0113-10,84-402,84-403,84-404,84-405,84-406,84-413,84-414,84-415,84-416,84-417,84-418,8769-0105-03,8769-0105-04,8769-0105-05,8769-0105-06,8769-0105-07" | split:"," %}
				<!-- 	FOR TESTING PURPOSES ONLY		 -->
          
            {% assign included_sku = "8789-0105-03,8789-0105-04,8789-0105-05,8789-0105-06,8789-0105-07,8789-0105-08,8789-0105-09,8789-0105-10,8789-0113-03,8789-0113-04,8789-0113-05,8789-0113-06,8789-0113-07,8789-0113-08,8789-0113-09,8789-0113-10,84-402,84-403,84-404,84-405,84-406,84-413,84-414,84-415,84-416,84-417,84-418,8769-0105-03,8769-0105-04,8769-0105-05,8769-0105-06,8769-0105-07" | split:"," %}
			
            {% for image in product.images %}
                {% for variant in image.variants %}
            		{%for included_sku in included_sku%}
            			{%if variant.sku contains included_sku%}
            				<p class ="oakley-notice"><a href ="javascript:void(0);" class ="oakley-warning" onclick="window.location.href = '#CAWarning'"><span style = "color:#0066c0" class ="oakley-warning">WARNING:</span></a> California’s Proposition 65</p>
            			{%endif%}
            		{%endfor%}
            	{%endfor%}
           	{%endfor%}
              {%endcomment%}
            

            {%comment%}		
            {%if product.tags contains "CA warning 65"%}
            <p class ="oakley-notice"><a href ="javascript:void(0);" class ="oakley-warning" onclick="window.location.href = '#CAWarning'"><span style = "color:#0066c0" class ="oakley-warning">WARNING:</span></a> California’s Proposition 65</p>
            {%endif%}

            {%endcomment%}

            
            <div class="remodal" data-remodal-id="CAWarning" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
              <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
              <div class ="col-sm-12">
                <div class = "row">
                  <p class="text-left" style = "font-weight:700; margin-bottom:2em">Proposition 65 Warning for California Consumers</p>
                  <img class ="img-responsive center-block" id = "warning-image" src = "https://cdn.shopify.com/s/files/1/1299/2659/files/041119proposition.jpg?6958" alt= "Warning California Proposition 65: This product contains the chemical Di(2-ethylhexly) phthalate (DEHP), which is known to the State of California to cause cancer and developmental male reproductive toxicity. For More information visit: www.P65Warnings.ca.gov">
<!--                   <div class="col-sm-1">
                    <div class ="row">
                      <img class="img-responsive center-block" id ="warning-image" src="https://cdn.shopify.com/s/files/1/1223/6434/files/warning.png?1481638417292591567">
                    </div>
                  </div>
                  <div class= "col-sm-11 text-left">
                    <p style = "font-size: 0.9em;"><b>WARNING:</b>This product can expose you to chemicals including Bisphenol A (BPA) which is known to the State of California to cause birth defects or other reproductive harm. For more information go to <a href="https://www.p65warnings.ca.gov/" target="_blank" class ="oakley-warning-link">www.P65Warnings.ca.gov</a></p>
                  </div> -->
                </div>
                <br>
              </div>
            </div>

            <div class="wrapper hidden-xs">
              <div id="njohn_prod_sku" class="pull-left" {% if product.selected_or_first_available_variant.sku == '' %}style="display:none;"{% endif %}>
                <span class="njohn_prod_sku_label">SKU: </span>
                <span id="njohn_prod_skus" itemprop = "mpn">{{ product.selected_or_first_available_variant.sku }}</span>
              </div>
            </div>
            <!--/SKU -->

            <!-- TITLE -->
            <meta itemprop="brand" content="{{product.vendor}}" />
            <div class="njohn_product-info__title">
              <span itemprop="name">
              {% unless product.title contains "Last Call Sale" or product.title contains "LAST CALL SALE" %}
              {{product.title | replace: ' - Used Like New', '' | replace: ' - Slightly Used', '' | replace: ' - Brand New', ''}}
              {%else%}
              {{product.title}}
              {% endunless%}
              </span>
            </div>

            <!--/TITLE -->

		

            <!-- MSRP/PRICE -->
            <div id="njohn_product_price_result">
            
              {% if product.compare_at_price_min > product.price_min %}
              <div class="njohn_price-box">
                {% if product.price_min == product.price_max %}
                <span class="njohn_price2">
                  {{ product.price_min | money }}
                </span>
                {% else %}
                <span class="njohn_price2">
                  {{ product.price_min | money }} to {{ product.price_max | money }}
                </span>
                {% endif %} 
                {% if product.compare_at_price_min == product.compare_at_price_max %}
                <span class="njohn_price1">
                  {{ product.compare_at_price_min | money }}
                </span>
                {% else %}
                <span class="njohn_price1">
                  {{ product.compare_at_price_min | money }} to {{ product.compare_at_price_max | money }}
                </span>
                {% endif %}
              </div>
              {% else %}
              <div class="njohn_price-box">
                {% if product.price_min == product.price_max %}
                <span class="njohn_price3">
                  {{ product.price_min | money }}</span>
                {% else %}
                <span class="njohn_price3">
                  {{ product.price_min | money }} to {{ product.price_max | money }}</span>
                {% endif %}
              </div>
              {% endif %}
              
			  <!--PRODUCT AVAILABILITY-->
             
              
              
              <!--PERCENT SAVED -->
              {% if product.compare_at_price_max > product.price %}
              <span class="davz_discount_saved">
                You save <span class = "jbn_amt_saved">  {{product.compare_at_price_min | minus: product.price | money}} ({{ product.compare_at_price_min | minus: product.price | times: 100.0 | divided_by: product.compare_at_price_min | money_without_currency | times: 100 | remove: '.0'}}%) </span>
              </span>
              <span style = "display:none">{{product.compare_at_price_min | minus: product.price | money}}</span>
              {% endif %}


            </div>


            <!--/MSRP/PRICE -->


            <!-- RATING -->
            <div class="product-info__review">
              <div class="rating">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </div>
            </div>
            <!--/RATING -->

            <!-- DESCRIPTION -->
            {% include "product-vendor-desc" %}
            <!--/DESCRIPTION -->

            <!-- IMAGES -->
            <div class="visible-xs">
              {% include "njohn_product_gallery" %}
            </div>
   
            <!--/IMAGES -->


            <!-- DIVIDER -->
            <div class="divider divider--xs product-info__divider"></div>
            <!--/DIVIDER -->
            
            {% assign eligible_pickup = 0 %}
            {% for image in product.images %}
            {% for variant in image.variants %}
            {% if settings.pickup_sku_list contains variant.sku or settings.pickup_only_sku_list contains variant.sku %}
            {% assign eligible_pickup = eligible_pickup | plus: 1 %}
            {%endif%}
            {%endfor%}
           	{%endfor%}
            {% if eligible_pickup > 0 %}
            <div class="pickup-eligibility" style="color: #ff3636;">
              <span><i class="simple-icon simple-icon-info" style="vertical-align: middle;"></i> {% if eligible_pickup > 1 %}Some selections for this product are{% else %}A selection for this product is{% endif %} eligible for pickup.</span>
            </div>
            {% endif %}

            <!-- CART FORM -->
            <!--<form id="add-item-form" action="/cart/add" method="post">-->
            {% form 'product', product, id: "add-item-form" %}

            <!-- COLOR -->
            <div class="njohn_clr_var_label">
              <span class="njohn_clr_title">COLOR: </span>
              <span id="njohn_clr_label"></span>
            </div>
            <div class="njohn_clr_var_selector carousel flex-direction-nav-fix" style="width:95%;">
              <ul class="slides">
                {% assign count_array = 1 %}
                {% for image in product.images %}
                {% for variant in image.variants %}
                {% assign img = image.src %}
                {% assign color = variant.option1 %}
                {% assign var_id = image.id | md5 %}
                {% assign count_array = count_array | plus: 1 %}
                {% assign count_array1 = count_array | minus: 1 %}
                {% assign img_id = variant.option1 | md5 %}
                {% if product.variants[count_array1].image.src != img and product.variants[count_array1].option1 != color %}
                <li class="njohn_clr_var_image">
                  <div>
                    <img id="njohn_{{ img_id }}" nj-click="{{ img | handleize }}" onclick="tabs(event, 'njohn_selector_{{var_id}}')" alt="{{ color }}" title="{{ color }}" data-color="{{ color }}" src="{{ img | product_img_url: 'small' }}" img-1024x1024="{{ img | product_img_url: 'master' }}" />
                  </div>
                </li>
                {% endif %}
                {% endfor %}
                {% endfor %}
              </ul>
            </div>
            <!--/COLOR -->

            {% if product.available%}

            <!-- SIZE -->
            <div class="njohn_size_var_label">
              <span>SIZE: </span>
              <span id="njohn_left_label"></span>
            </div>

            <div class="njohn_selector">
              {% for image in product.images %}
              {% assign var_id = image.id | md5 %}
              <div id="njohn_selector_{{var_id}}" class="njohn_selector_hide" >
                {% for variant in image.variants %}
                {% assign size = variant.option2 %}
                {% assign var_id = variant.id %}
                {% assign color = variant.option1 | md5 %}
                {% assign qty = variant.inventory_quantity %}
				{% if variant.price ==0 %}
                	{% assign qty = 0 %}
                {% endif%}
                {% if qty == 0 %}
                {% assign zero_no_qty = 'njohn_no_qty'%}
                {% assign available_btn = 'no_stock'%}
                {% else %}
                {% assign zero_no_qty = 'njohn_in_qty'%}
                {% assign available_btn = 'in_stock'%}
                {% endif %}

                {% if qty > 3 %}
                {% assign show_left = 'IN STOCK'%}
                {% elsif qty == 3 %}
                {% assign show_left = 'ONLY 3 LEFT IN STOCK'%}
                {% elsif qty == 2 %}
                {% assign show_left = 'ONLY 2 LEFT IN STOCK'%}
                {% elsif qty == 1 %}
                {% assign show_left = 'ONLY 1 LEFT IN STOCK'%}
                {% elsif qty == 0 %}
                {% assign show_left = 'OUT OF STOCK'%}
                {% else %}
                {% assign show_left = ''%}
                {% endif %}

                <label>
                  <input name="color-{{ color }}" type="radio" value="{{ var_id }}" />
                  <span sku="{{ variant.sku }}" price="{{ variant.price | money }}" compare_at_price="{% if variant.compare_at_price > 0 %}{{ variant.compare_at_price | money }}{% endif %}" class="start-up-disabled {{ zero_no_qty }}" var-availability="{{ available_btn }}" only-left-stock="{{ show_left }}" data-stockleft="{{qty}}">
                    {{ size }}
                  </span>
                </label>
                {% endfor %}
              </div>
              {% endfor %}
            </div>
            <!--/SIZE -->
            
            <!-- PICKUP -->
            
            {% include 'pick-up-in-store' %}
            <!--/ PICKUP -->

            <select id="product-select" name="id" style="display:none;">
              {% for variant in product.variants %}
              {% if variant.available %}
              <option value="{{ variant.id }}"{% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>{{ variant.title }} to {{ variant.price | money }}</option>
              {% endif %}
              {% endfor %}
            </select>

            <!-- DIVIDER -->
            <div class="divider divider--sm"></div>
            <!--/DIVIDER -->

            <div class="row">
              <!-- WISHLIST -->
              <div class="col-sm-2 col-md-2 col-lg-1 njohn_product_wishlist mobile-row button-row comp-wishlist-btn" id = "button-row" style = "color:red">

                <div class="default-wishbutton defbtn{{ product.handle }}">
                  <a class="add-in-wishlist-js" href="javascript:void(0);" my-handle="{{ product.handle | handleize }}" title="Add to Wishlist">
                    <span class="icon icon-favorite_border"></span>
                    <span class="wishlist-txt-mobile">Add To Wishlist</span>
                  </a>
                </div>
                <div class="added-wishbutton" style="display: none;">
                  <a href="/pages/wishlist" title="Go to Wishlist">
                    <span class="icon icon-favorite"></span>
                    <span class="wishlist-txt-mobile">Go To Wishlist</span>
                  </a>
                </div>
              </div>
              <!--/ WISHLIST -->


              <!-- COMPARE -->
              <div class="col-sm-2 col-md-2 col-lg-1 njohn_product_compare mobile-row button-row comp-wishlist-btn">

                <div class="icon-compare-n" id="icon-compare-n-mobile">
                  <a class="add-in-comapare-js" href="javascript:void(0);" nj="compare" handle="{{ product.handle }}" title="COMPARE PRODUCT">
                    <span class="davz--comparison origin-icon-arrow-compare"></span> 
                    <span class="compare-txt-mobile">Add To Compare Products</span>
                  </a>
                </div>
              </div>

              <div class="added-wishbutton mobile-row" style="display: none;">
                <a href="/pages/compare-product-page" title="Go to Compare Products">
                  <span class="icon origin-icon-arrow-compare"></span>
                  <span class="compare-txt-mobile">Go To Compare Products</span>
                </a>
              </div>
              <!--/ COMPARE -->



              <div class="col-sm-2 col-md-2 col-lg-2 mobile-row button-row" >
                <!--         <input id="colorful" class="form-control davz_qty_btn" type="number" value="1" min="1" max="100" name="quantity"/> -->
                <input name="quantity" class="form-control qty-input" value="1" min="1" max="{{inv_qua}}" type="number"> 
              </div>

              <div class="col-sm-3 col-md-4 col-lg-4"> 
                <div class ="row">
                  <button class="progress-button addtocart" data-style="fill" data-horizontal>Add to Cart</button>
                  <button class="sold_out_btn" disabled >Select a Size</button>
                </div>
              </div>
             <div class ="divider divider--xs visible-xs"></div>
              <div class="col-sm-4 col-md-4 col-lg-4">
                <div class ="buy-now-row">
                  <div class = "progress-button addtocart buy-now-button">{{ form | payment_button }}</div>
                  <button  type = "button" class="disabled_buy_btn shopify-button shopify-payment-button__button" disabled >Buy Now</button>
                </div>
                <div id="pick-up-now" style="display:none;">
                  <button type="button" class="shopify-payment-button__button shopify-payment-button__button--unbranded">Check out now</button>
                </div>
              </div>


            </div>

            <script>

              jQuery('.addtocart').click(function(e) {
                e.preventDefault();
                setTimeout(function(){
                  Shopify.addItemFromFormStart('add-item-form', {{ product.id }});
                                               }, 4000);                    
                });
            </script>
            {% else %}
            <div class="pull-left">
              <button disabled class="btn btn--ys btn--xxl">Unavailable</button>
            </div>
            {% endif %}
            {% endform %}
            <!--/CART FORM -->
          </div>
        </div>
        <div class="row content tabdesign3">
          {% include "product-page-tabs" %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- OTHER PRODUCTS -->

{% assign producttype = product.type | handleize %}
{% if collections[producttype].all_products_count == '' or collections[producttype].all_products_count == 1 %}
{% assign name_collection = collections["whats-new"] %}
{% assign nameofcollection = "New Arrival Items" %}
{% else %}
{% assign name_collection = collections[producttype] %}
{% assign nameofcollection = "Recommended Products" %}
{% endif %}
{% assign _product_id = product.id %}


<section class="content">


  <div class="container moto_recommended_products">
    <!-- LABEL -->


    <div class="title-with-button title-bottom-sm">
      <div class="carousel-products__button pull-right">
        <span class="btn-prev"></span>
        <span class="btn-next"></span> </div>
      <h2 class="text-uppercase single_line"><span>{{ nameofcollection }}</span></h2>
    </div>
    <!--/LABEL -->
    <!-- CAROUSEL -->
    <div class="carousel-products" id="carouselRelated">
      {% for product in name_collection.products limit: 20 %}
      {% if _product_id != product.id %}
      <div id="njohn_product_grid">
        {% include "njohn-product-grid-item" %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!--/CAROUSEL -->
  </div>
</section>
<!--/OTHER PRODUCTS -->



<!-- MORE FROM VENDOR -->


{% if collections[productvendor].all_products_count != '' or collections[productvendor].all_products_count != 1 %}
<section class="content">


  <div class="container moto_recommended_products">
    <!-- LABEL -->


    <div class="title-with-button title-bottom-sm">
      <div class="carousel-products__button pull-right">
        <span class="btn-prev"></span>
        <span class="btn-next"></span> </div>
      <h2 class="text-uppercase single_line"><span>More From {{ product.vendor }}</span></h2>
    </div>
    <!--/LABEL -->
    <!-- CAROUSEL -->
    {% assign _product_id = product.id %}
    {% assign productvendor = product.vendor | handleize %}
    <div class="carousel-products" id="carouselVendor">
      {% for product in collections[productvendor].products limit: 20 %}
      {% if _product_id != product.id %}
      <div id="njohn_product_grid">
        {% include "njohn-product-grid-item" %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <!--/CAROUSEL -->
  </div>
</section>


{% endif %}


<!--/MORE FROM VENDOR -->


{% include 'nj-recently-view-products' %}


<script> 
  jQuery(function($) {
    $( document ).ready(function() {
      $('.nj_product_recently_view_grid').find('.flex-direction-nav').css('display','block');
    });
  });
  

</script>


