
<div class="container" style="margin-top: 20px">
  
  
  
  		<div class="title-box" data-search-result-count = "{{search.results_count}}">
 		
	    {% if search.results_count == 0 %}

	        <!-- <h2 class="text-center text-uppercase title-under home_title">Opps.. YOUR SEARCH FOR <code> "{{ search.terms }}"</code> DID NOT YIELD ANY RESULTS, Try different keywords!</h2> //-->
   
            <h2 class="text-center text-uppercase title-under home_title">Sorry, We Can't Find Any Matches...</h2>
	    
        {% else %}
          {% assign checker = false %}
          {% for item in search.results %}
          {%assign checker = true %}
          {%endfor%}
          {% for item in search.results %}
          {% if item.available == true %}
          	
            {% if checker == true and forloop.last%}
            <h2 class="text-center text-uppercase title-under home_title">{{ 'general.search.results_title' | t }}<code> "{{ search.terms }}"</code></h2>
            {%endif%}
          	{%else%}
            {%if item.object_type == 'article' or item.object_type == 'page' %}
                  {% if forloop.last == true and checker == false %}
                      <h2 class="text-center text-uppercase title-under home_title">{{ 'general.search.results_title' | t }}<code> "{{ search.terms }}"</code></h2>
                      <!--  ARTICLE SEARCH FORM  -->
                      <div class="njohn_article_search_field">
                        <form action="/search" method="get">
                          <input type="hidden" name="type" value="article" />
                          <input type="text" name="q" maxlength="128" placeholder="SEARCH ARTICLE..">
                          <button type="submit" class="icon icon-search"></button>
                        </form>
                      </div>
                      <!-- END -->
                  {% endif %}
          		{%else%}
          			{% if item.object_type == 'product' and checker == false %}
                      <h2 class="text-center text-uppercase title-under home_title">Sorry, We Can't Find Any Matches...</h2>
                      <section class="content">
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-12 col-xl-12">
                              {% assign collection_title = "Other products you might like:" %}
                              <h2 class="text-left title-coll"><span> {{ collection_title }}</span></h2>
                              {% include "home-product-grid" name_collection: 'whats-new' length: 20 access: 'true' %}
                              <div class="text-center"><a href="collections/whats-new" class="btn btn--ys btn--xl obs_show_more_btn">Shop &nbsp;all</a></div>
                            </div>
                          </div>
                        </div>
                      </section>
                    {%else%}
          				{% if forloop.last == true and checker == true %}

          				<h2 class="text-center text-uppercase title-under home_title">{{ 'general.search.results_title' | t }}<code> "{{ search.terms }}"</code></h2>
						{%endif%}
          			{%endif%}
            	{%endif%}
            {% endif %}
          {%endfor%}
 
	    {% endif %}
          
        </div>


  
  
	<!--  SEARCH PRODUCT / ARTICLE AND PAGES 	 -->
	{% if search.results_count > 0 %}
  	<aside class="col-md-12 col-lg-12 col-xl-12" id="centerColumn">
	{% paginate search.results by 26 %}	
		<div id="centerCol">
		<div class="product-listing row">
	{% for item in search.results %} <!-- SEARCH FOR ARTICLE OR PAGES  -->
	{% if item.object_type == 'article' or item.object_type == 'page' %}
	<div class="njohn_search_otherpage">
	<a href="{{ item.url }}" title="{{ item.title | escape }}">
		<div>{{ item.image.src | img_url: 'medium' | img_tag: item.title }}</div>
		<div>{{ item.title }}</div>
	</a>
	</div>
	{% else %}
	{% assign product = item %} <!-- SEARCH FOR PRODUCT ITEM  -->
          {% if item.available == true%}
    
          <div id="njohn_product_grid" class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-one-fifth">
            {% include "njohn-product-grid-item" %}
          </div>  
          {%endif%}
	{% endif %}
	{% endfor %}
	</div>
	</div>
	{% if paginate.pages > 1 %}
	<div class="njohn_blog_pagination" style="text-align: center; padding: 10px 0;">
		{% include 'pagination_buttons' %}
	</div>
	{% endif %}
	{% endpaginate %}
	</aside>
	<!--  END 	 -->
  
{% else %}
  
  {% for getItems in search.types %}
  {% assign getSearchType = getItems%}
  {%endfor%}


  

  {% if getSearchType == "product" %}
  
<!--  IF RESULT ARE ZERO OR NOT FOUND FEATURE COLLECTION MUST DISPLAY 	 -->
	<section class="content helo">
	<div class="container">
	<div class="row">
	<div class="col-lg-12 col-xl-12">
	{% assign collection_title = "Other products you might like:" %}
		<h2 class="text-left title-coll"><span> {{ collection_title }}</span></h2>
	{% include "home-product-grid" name_collection: 'whats-new' length: 20 access: 'true' %}
	<div class="text-center"><a href="collections/whats-new" class="btn btn--ys btn--xl obs_show_more_btn">Shop &nbsp;all</a></div>
	</div>
	</div>
	</div>
	</section>
  {%else %}
    {% if getSearchType == 'article' or getSearchType == 'page' %}
  		<h2 class="text-left title-coll"><span>Checkout our other articles</span></h2>
    {% include "j-lookbook-grid" %}
    {%endif%}
  {%endif%}

<!--  END 	 -->
  
{% endif %}
 </div>